﻿@using InspiniaWebAdminTemplate.Models.MP
@model AssetsIndexViewModel
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string functionName = MPHelper.GetFunctionTitle(controllerName);
 }

<script>
    @if (TempData["message"] != null)
    {
        <text>
            window.onload = function () {
                alert('@TempData["message"].ToString()');
            }
        </text>
    }
    function ChangeAllCheckBox() {
        $('input[type="checkbox"][id!="ckAll"]').prop('checked', $('#ckAll').is(':checked'));
    }
    function DoSave()
    {
        $('#form').prop('action', '@Url.Action("AssetsDeprnUpdate")');
        var AssetsList = [];
        $('input[type="checkbox"][id*="asset"]').each(function () {
            var obj = {};
            if ($(this).is(':checked'))
            {
                obj.Not_Deprn_Flag = false;
            }
            else
            {
                obj.Not_Deprn_Flag = true;
            }
            obj.ID = $(this).val();
            AssetsList.push(obj);
        });

        $('#Json').val(JSON.stringify(AssetsList));
    }
</script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>資產清單</h2>
        <ol class="breadcrumb">
            <li>
                <a>首頁</a>
            </li>
            <li>
                <a href="#">動產管理</a>
            </li>
            <li>
                <a href="#">動產折舊作業</a>
            </li>
            <li>
                <a href="#">動產折舊設定</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <form method="post" id="form" class="form-horizontal" action="@Url.Action("Asset_Query")">
        <input type="hidden" name="Json" id="Json" />
        <input type="hidden" name="Page" value="@Model.condition.Page" />
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>搜尋條件</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-sm-12 form-group gutter-s">
                                <label for="" class="col-sm-2 control-label" align="right">資產分類</label>
                                @AssetCategoryControl.GenAssetCategoryControl("Asset_Category_Code", "Asset_Category_Code", (!string.IsNullOrEmpty(Model.condition.Asset_Category_Code)?Model.condition.Asset_Category_Code:""),"","","MP")
                            </div>
                            <div class="clearfix"></div>


                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">財產名稱(關鍵字)</label>
                                <div class="col-sm-6"><input type="text" class="form-control" name="Assets_Name" value="@((!string.IsNullOrEmpty(Model.condition.Assets_Name)?Model.condition.Assets_Name:""))"  /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">財產別名(關鍵字)</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="" name="Assets_Alias" /> </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">資產編號</label>
                                <div class="col-sm-3"><input type="text" class="form-control" value="" name="Asset_NumberBegin" /></div>
                                <div class="col-sm-1" style="width:10px; padding:0; line-height:2.5em">～</div>
                                <div class="col-sm-3"><input type="text" class="form-control" value="" name="Asset_NumberEnd" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">財物編號</label>
                                <div class="col-sm-3"><input type="text" class="form-control" value="" name="Assets_Category_IDBegin" /></div>
                                <div class="col-sm-1" style="width:10px; padding:0; line-height:2.5em">～</div>
                                <div class="col-sm-3"><input type="text" class="form-control" value="" name="Assets_Category_IDEnd" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">啟用日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="Date_Placed_In_Service_Start" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1" style="width:10px; padding:0; line-height:2.5em">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="Date_Placed_In_Service_End" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">資產年限結束日期</label>
                                <div class="col-sm-1" style="width:10px; padding:15; line-height:2.5em">≦</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="Deprn_Date" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>


                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產目前成本</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" name="Salvage_Value_Start" /></div>
                                <div class="col-sm-1" style="width:10px; padding:0; line-height:2.5em">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" name="Salvage_Value_End" /></div>
                            </div>
                            <div class="clearfix"></div>


                            <div class="col-sm-12 form-group gutter-s">
                                <label for="" class="col-sm-2 control-label" align="right">放置地點</label>
                                @AssetLocationDispControl.GenAssetLocationDispControl("Location_Disp", "Location_Disp")
                            </div>
                            <div class="clearfix"></div>

                            <div class="row">
                                @AssetAssignedBranchControl.GenAssetAssignedBranchControl("Assigned_Branch", "Assigned_Branch")
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">採購案號</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="" name="PO_Number" />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">廠商規格(關鍵字)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value=""  name="Model_Number"/>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">附屬設備(關鍵字)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="" />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">備註(關鍵字)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="" name="Remark"  />
                                </div>
                            </div>

                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="button" onclick="ResetForm()" class="btn btn-gray"><i class="fa fa-close"> 清 除</i></button>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"> 查詢</i></button>
                                </label>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div>
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>資產清單</label>
                                        <label style="padding-top:6px; margin-left:10px;">
                                            <input type="radio" name="IsOversea" value="" id="Radio1" checked>
                                            <span style="font-weight:normal;padding-right:10px">國內資產</span>
                                            <input type="radio" name="IsOversea" value="Y" id="Radio2">
                                            <span style="font-weight:normal">海外資產</span>
                                        </label>
                                        @if (Model.TotalAmount > 0)
                                        {
                                            <button class="btn btn-primary" onclick="DoSave();"><i class="fa fa-save">儲存</i></button>
                                        }
                                    </td>

                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>資產編號</th>
                                        <th>財產名稱</th>
                                        <th>財產別名</th>
                                        <th>保管單位</th>
                                        <th>保管人</th>
                                        <th>目前成本</th>
                                        <th>檢視</th>
                                        <th> <input type="checkbox" id="ckAll" onclick="ChangeAllCheckBox();" /><span>是否折舊</span></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @for (int i = 0; i < Model.Items.Count(); i++)
                                    {
                                        var item = Model.Items.ToList()[i];
                                        <tr>
                                            <td>@(i + 1)</td>
                                            <td>@item.Asset_Number</td>
                                            <td>
                                                @item.Assets_Name
                                            </td>
                                            <td>@item.Assets_Alias</td>
                                            <td>
                                                @item.Assigned_BranchName
                                            </td>
                                            <td>
                                                @item.Assigned_IDName
                                            </td>
                                            <td>
                                                @item.Assets_Fixed_Cost
                                            </td>
                                            <td><a target="_blank" href="@Url.Action("AssetDetail",new { id = item.ID })" class="btn btn-primary btn-circle"><i class="fa fa-list"></i></a></td>
                                            <td><input type="checkbox" value="@item.ID" id="@("asset" + (i + 1))" @((item.Not_Deprn_Flag.HasValue && item.Not_Deprn_Flag.Value)?"":"checked") /></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a id="page">
                                <div id="page_region"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.TotalAmount,//資料庫總筆數
                    page_size: @Model.condition.PageSize,//單頁筆數
                    page_now: @Model.condition.Page,//當前頁
                    center_page: @Model.condition.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("AssetsUpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });

            $('[data-toggle="tooltip"]').tooltip();

        })(jQuery);

    </script>
}