﻿

@model InspiniaWebAdminTemplate.Models.Accounting.AccountingKeepPositionDetailModel

@{
    ViewBag.Title = "保管位置維護";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>保管位置維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">保管位置維護</a>
            </li>
        </ol>
    </div>
</div>

<div id="app" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>保管位置資料</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" id="updateForm">
                        <input type="hidden" id="ID" value="@Model.Result.ID" />

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">列帳單位</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="BranchCode" id="BranchCode" onchange="changeHeadBranch(this.value)">
                                        @foreach (var item in Model.Branchs)
                                        {
                                            <option value="@item.Value" @(item.Value == Model.Result.BranchCode.ToString("000")? "selected":"")>@item.Name</option>
                                        }
                                                                            </select>
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">列帳單位名稱</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="BranchName" id="BranchName" value="@Model.Result.BranchName" readonly/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">保管單位代碼</label>
                                <div class="col-sm-8">
                                    <select class="form-control" onchange="changeBranchDept()" name="DeptCode" id="DeptCode">
                                        <option value="" @(String.IsNullOrEmpty(Model.Result.DeptCode) ? "selected" : "")></option>
                                        @if (Model.Result.BranchCode == 0)
                                        {
                                            foreach (var item in Model.Depts)
                                            {
                                                <option value="@item.Value" @(item.Value == Model.Result.DeptCode ? "selected" : "")>@item.Name</option>
                                            }

                                            foreach (var item in Model.Branchs)
                                            {
                                                if (Convert.ToInt32(item.Value) != 1)
                                                {
                                                    <option value="@item.Value" @(item.Value == Model.Result.DeptCode ? "selected" : "")>@item.Name</option>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            foreach (var item in Model.Depts)
                                            {
                                                <option value="@item.Value" @(item.Value == Model.Result.DeptCode ? "selected" : "")>@item.Name</option>
                                            }
                                        }

                                    </select>
                                    <input type="hidden" id="hidDeptCode" value="@Model.Result.DeptCode" />
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">保管單位名稱</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="DeptName" name="DeptName" value="@Model.Result.DeptName" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">科別代碼</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="SubDeptCode" name="SubDeptCode" value="@Model.Result.SubDeptCode" onchange="changeSubDeptCode()">
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">科別名稱</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="SubDeptName" name="SubDeptName" value="@Model.Result.SubDeptName" onchange="chnageSubDeptName()">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">地點代碼</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Floor" name="Floor" value="@Model.Result.Floor" onchange="changeFloorCode()">

                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">地點名稱</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="FloorName" name="FloorName" value="@Model.Result.FloorName" onchange="changeFloorName()">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">保管地點代碼</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="PositionCode" name="PositionCode" value="@Model.Result.PositionCode" readonly>

                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">保管地點</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="PositionName" name="PositionName" value="@Model.Result.PositionName" readonly>
                                </div>
                            </div>
                        </div>




                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-6" align="right">
                                    
                                    <a  class="btn btn-primary" onclick="checkForm()"><i class="fa">儲存</i></a>
                                    <a  class="btn btn-default" onclick="resetForm()"><i class="fa">清除</i></a>
                                    @if (Model.Result.ID > 0)
                                    {
                                        <a class="btn btn-danger" onclick="deletePosition()"><i class="fa">刪除</i></a>
                                    }
                                    <a  class="btn btn-default" onclick="window.history.go(-1)"><i class="fa">回上一頁</i></a>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-delete" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">是否要刪除此資料?</h3>
                        <p>刪除資料後，資料無法回復，請確認刪除。</p>
                        <button class="btn btn-sm btn-danger" data-dismiss="modal" type="button" onclick="doDelete()"><strong>是</strong></button>
                        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><strong>否</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "儲存成功" } });
@section Scripts{
    <script type="text/javascript">

        var depts = @Html.Raw(Json.Encode(Model.Depts));
        var branchs = @Html.Raw(Json.Encode(Model.Branchs));

        function checkForm() {

            AssambleTotalCode();
            AssambleTotalName();

            var path = "@Url.Action("Save")";

            var data = new FormData();
            data.append("ID", $("#ID").val());
            data.append("Layer", 0);
            data.append("ParentID", 0);
            data.append("PositionCode", $("#PositionCode").val());
            data.append("PositionName", $("#PositionName").val());
            data.append("BranchCode", $("#BranchCode").val());
            data.append("BranchName", $("#BranchName").val());
            data.append("DeptCode", $("#DeptCode").val());
            data.append("DeptName", $("#DeptName").val());
            data.append("SubDeptCode", $("#SubDeptCode").val());
            data.append("SubDeptName", $("#SubDeptName").val());
            data.append("Floor", $("#Floor").val());
            data.append("FloorName", $("#FloorName").val());
            data.append("LastUpdateBy", 0);

            $.ajax({
                url: path,
                type: 'POST',
                dataType: 'json',
                contentType: false,
                processData: false,
                async: true,
                data: data,
                success: function (message) { successHandler(message); }
            });
        }

        function resetForm() {
            $("#BranchCode option:eq(0)").prop("selected", true);
            $("#DeptCode option:eq(0)").prop("selected", true);
            $("#SubDeptCode").val("");
            $("#Floor").val("");

            $("#BranchName").val("");
            $("#DeptName").val("");
            $("#SubDeptName").val("");
            $("#FloorName").val("");

            $("#PositionCode").val("");
            $("#PositionName").val("");
        }

        function deletePosition()
        {
            $("modal-form-delete").modal();
        }

        function doDelete() {

            var list = [];
            list.push($("#ID").val());

            if (list.length > 0)
            {
                var data = {
                    IDList: list,
                    LastUpdateBy: 0
                };
                data = JSON.stringify(data);
                console.log(data);

                var path = "@Url.Action("BatchDelete")";

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json",
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) { deleteMessage(message); }
                });
            }
        }

        function deleteMessage(message)
        {
            if (message.IsSuccess)
            {
                this.location.href = "@Url.Action("Index")";
            }
        }
        function changeHeadBranch(value) {
            $("#DeptCode option").remove();
            $("#DeptCode").append($("<option></option>").attr("value", "").text(" "));

            if (value == "001") {
                //update the select to depts
                for (var i = 0; i < depts.length; i++) {
                    var item = depts[i];
                    var value = item.Value;
                    var text = item.Name;

                    $("#DeptCode").append($("<option></option>").attr("value", value).text(text));
                }

                for (var i = 0; i < branchs.length; i++) {

                    var item = branchs[i];
                    var value = item.Value;
                    if (value != "001") {
                        var text = item.Name;

                        $("#DeptCode").append($("<option></option>").attr("value", value).text(text));
                    }
                }
            }
            else {
                //update the select to branch
                for (var i = 0; i < branchs.length; i++) {

                    var item = branchs[i];
                    var value = item.Value;
                    if (value != "001") {
                        var text = item.Name;

                        $("#DeptCode").append($("<option></option>").attr("value", value).text(text));
                    }
                }
            }

            var text = $("#BranchCode option:selected").text();
            $("#BranchName").val(text);
            $("#DeptName").val("");

            AssambleTotalCode();
            AssambleTotalName();
        }

        function changeBranchDept() {
            var text = $("#DeptCode option:selected").text();
            $("#DeptName").val(text);

            AssambleTotalCode();
            AssambleTotalName();
        }

        function changeSubDeptCode() {
            AssambleTotalCode();
        }

        function changeSubDeptName() {
            AssambleTotalName();
        }

        function changeFloorCode() {
            AssambleTotalCode();
        }

        function changeFloorName() {
            AssambleTotalName();
        }

        function AssambleTotalCode() {
            var totalCode = "";

            var Lv1 = $("#BranchCode").val();
            var Lv2 = $("#DeptCode").val();
            var Lv3 = $("#SubDeptCode").val();
            var Lv4 = $("#Floor").val();

            //if (Lv1 == "") {
            //    Lv1 = "001";
            //}

            totalCode = Lv1;
            if (Lv2 != "") {
                totalCode += "." + Lv2;

                if (Lv3 != "") {
                    totalCode += "." + Lv3;

                    if (Lv4 != "") {
                        totalCode += "." + Lv4;
                    }
                }
            }

            $("#PositionCode").val(totalCode);

        }

        function AssambleTotalName() {
            var totalName = "";

            var Lv1 = $("#BranchName").val();
            var Lv2 = $("#DeptName").val();
            var Lv3 = $("#SubDeptName").val();
            var Lv4 = $("#FloorName").val();

            var Lv3C = $("#SubDeptCode").val();
            var Lv4C = $("#Floor").val();

            //if (Lv1 == "") {
            //    Lv1 = "總行";
            //}

            totalName = Lv1;
            if (Lv2 != "") {
                totalName += "/" + Lv2;

                if (Lv3 != "") {
                    totalName += "/" + Lv3;

                    if (Lv4 != "") {
                        totalName += "/" + Lv4;
                    }
                    else {
                        totalName += "/" + Lv4C;
                    }
                }
                else
                {
                    totalName += "/" + Lv3C;

                    if (Lv4 != "") {
                        totalName += "/" + Lv4;
                    }
                    else {
                        totalName += "/" + Lv4C;
                    }
                }
            }

            $("#PositionName").val(totalName);
        }

        (function ($) {
            this.changeHeadBranch($("#BranchCode").val());
            if($("ID").val()!="0"){
                $("#DeptCode").val($("#hidDeptCode").val());
                this.changeBranchDept();
            }
            
        })(jQuery);

    </script>
}
