﻿@using InspiniaWebAdminTemplate.Models.Accounting;
@model AccountingKeepPositionIndexModel
@{
    ViewBag.Title = "保管位置設定";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>保管位置設定</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">保管位置設定</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="@Url.Action("Query")" class="form-horizontal" id="queryForm">
                        <input type="hidden" id="CurrentPage" name="CurrentPage" value="@Model.Results.Conditions.CurrentPage" />
                        <input type="hidden" name="PageSize" value="@Model.Results.Conditions.PageSize" />

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">層級</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="Layer" id="Layer">
                                        <option value="-1">全部</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">列帳單位</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="BranchCode" id="BranchCode" onchange="changeHeadBranch(this.value)">
                                        <option value="" @(Model.Results.Conditions.BranchCode==0 ? "selected" : "")>全部</option>
                                        @foreach (var item in Model.Branchs)
                                        {
                                            <option value="@item.Value" @(item.Value == Model.Results.Conditions.BranchCode.ToString("000")?"selected":"")>@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">保管單位</label>
                                <div class="col-sm-8">
                                    <select class="form-control" onchange="changeBranchDept(this.value)" name="DeptCode" id="DeptCode">
                                        <option value="" @(String.IsNullOrEmpty(Model.Results.Conditions.DeptCode)?"selected":"")></option>
                                        
                                        @foreach (var item in Model.Branchs)
                                        {
                                            if (Convert.ToInt32(item.Value) != 1)
                                            {
                                                 <option value="@item.Value" @(item.Value == Model.Results.Conditions.DeptCode ? "selected" : "")>@item.Name</option>
                                            }
                                        }

                                        @foreach (var item in Model.Depts)
                                        {
                                            <option value="@item.Value" @(item.Value == Model.Results.Conditions.DeptCode ? "selected" : "")>@item.Name</option>
                                        }

                                    </select>
                                </div>

                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">科室</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="SubDeptCode" id="SubDeptCode">
                                        <option value="" @(Model.Results.Conditions.SubDeptCode==""?"selected":"")></option>
                                        @if (Model.Results.Conditions.BranchCode != 0 && !String.IsNullOrEmpty(Model.Results.Conditions.DeptCode))
                                        {
                                            string preKey = String.Format("{0}.{1}.", Model.Results.Conditions.BranchCode.ToString("000"), Model.Results.Conditions.DeptCode);
                                            foreach (var item in Model.SubDepts)
                                            {
                                                if (item.Value.Contains(preKey))
                                                {
                                                    string realKey = item.Value.Replace(preKey, "");
                                                    <option value="@realKey" @(realKey==Model.Results.Conditions.SubDeptCode?"selected":"")>@item.Name</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>


                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa">新增</i></a>
                                    <button type="button" class="btn btn-success"><i class="fa" onclick="checkQueryForm()">查詢</i></button>
                                    <button type="button" class="btn btn-danger"><i class="fa" onclick="resetForm()">清除</i></button>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">


                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  @Model.Results.Page.TotalAmount 筆 第 @Model.Results.Conditions.CurrentPage 頁</label>
                                    <a class="btn btn-sm btn-default" href="@Url.Action("Index","KeepPosition")">回上頁</a>
                                    <button class="btn btn-sm btn-danger" onclick="batchDelete()">刪除</button>
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th><input type="checkbox" onclick="chceckAll(this.value)" style="width:13px;"></th>
                                    <th>保管地點代碼</th>
                                    <th>層級</th>
                                    <th>分行</th>
                                    <th>部門</th>
                                    <th>科室</th>
                                    <th>地點</th>
                                    <th>保管地點</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int i = 0; i < Model.Results.Page.Items.Count; i++)
                                {
                                    var item = Model.Results.Page.Items[i];
                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td><input type="checkbox" value="@item.ID" name="batch" style="width:13px;"/></td>
                                        <td><a href="@Url.Action("Detail", new { id=item.ID})">@item.PositionCode</a></td>
                                        <td>@item.Layer</td>
                                        <td>@(String.Format("{0}-{1}", item.BranchCode, item.BranchName))</td>
                                        <td>@(String.Format("{0}-{1}", item.DeptCode, item.DeptName))</td>
                                        <td>@(String.Format("{0}-{1}", item.SubDeptCode, item.SubDeptName))</td>
                                        <td>@item.Floor</td>
                                        <td>@item.PositionName</td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <div id="modal-form-delete" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div>
                            <h3 class="m-t-none m-b">是否要刪除此資料?</h3>
                            <p>刪除資料後，資料無法回復，請確認刪除。</p>
                            <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal" onclick="doBatchDelete()"><strong>是</strong></button>
                            <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><strong>否</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "刪除成功" }, { "CallBack", "goToIndex()" } });

@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        var depts = @Html.Raw(Json.Encode(Model.Depts));
        var branchs = @Html.Raw(Json.Encode(Model.Branchs));
        var subDepts = @Html.Raw(Json.Encode(Model.SubDepts));

        function changeHeadBranch(value)
        {
            $("#DeptCode option").remove();
            $("#DeptCode").append($("<option></option>").attr("value", "").text(" "));

            if (value == "001") {
                //update the select to depts
                for (var i = 0; i < depts.length; i++)
                {
                    var item = depts[i];
                    var value = item.Value;
                    var text = item.Name;

                    $("#DeptCode").append($("<option></option>").attr("value", value).text(text));
                }

                for (var i = 0; i < branchs.length; i++) {

                    var item = branchs[i];
                    var value = item.Value;
                    if (value != "001") {
                        var text = item.Name;

                        $("#DeptCode").append($("<option></option>").attr("value", value).text(text));
                    }
                }
            }
            else
            {
                //update the select to branch
                for (var i = 0; i < branchs.length; i++) {

                    var item = branchs[i];
                    var value = item.Value;
                    if (value != "001")
                    {
                        var text = item.Name;

                        $("#DeptCode").append($("<option></option>").attr("value", value).text(text));
                    }
                }
            }
        }

        function changeBranchDept(value)
        {
            $("#SubDeptCode option").remove();
            $("#SubDeptCode").append($("<option></option>").attr("value", "").text(" "));

            if (value != "")
            {
                var preKey = $("#BranchCode").val() + "." + value + ".";

                for (var i = 0; i < subDepts.length; i++)
                {
                    var item = subDepts[i];
                    var itemKey = String(item.Value);
                    if (itemKey.indexOf(preKey) >= 0)
                    {
                        var itemText = item.Name;
                        var realKey = itemKey.replace(preKey, "");
                        $("#SubDeptCode").append($("<option></option>").attr("value", realKey).text(itemText));
                    }
                }
            }
        }

        function chceckAll(currentValue) {
            $("input[name=batch]").each(function () {
                this.checked = currentValue;
            });
        }

        function batchDelete() {
            var checkList = [];
            $("input[name=batch]").each(function () {
                if (this.checked) {
                    checkList.push(this.value);
                }
            });
            console.log(checkList);
            if (checkList.length > 0) {
                $("#modal-form-delete").modal();
            }
        }

        function doBatchDelete()
        {
            var list = [];
            $("input[name=batch]").each(function () {
                if (this.checked) {
                    list.push(this.value);
                }
            });

            if (list.length > 0)
            {
                var data = {
                    IDList: list,
                    LastUpdateBy: 0
                };
                data = JSON.stringify(data);
                console.log(data);

                var path = "@Url.Action("BatchDelete")";

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json",
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) { successHandler(message); }
                });
            }
        }

        function goToIndex() {
            //location.reload();
            $("#queryForm").submit();
        }

        function checkQueryForm()
        {
            $("#queryForm").submit();
        }
        function resetForm()
        {

        }

        function toPage(page)
        {
            $("#CurrentPage").val(page);
            $("#queryForm").submit();
        }

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.Results.Page.TotalAmount,//資料庫總筆數
                    page_size: @Model.Results.Conditions.PageSize,//單頁筆數
                    page_now: @Model.Results.Conditions.CurrentPage,//當前頁
                    center_page: 1,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "",
                    pageFunc: toPage
                }
            });


        })(jQuery);

    </script>

}




