﻿@using InspiniaWebAdminTemplate.Models
@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LandBank | Login</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

    <style>

        body{

            font-size: 150%;
        }

        .ok{

            color: green;
            display: inline-block;
        }

        .error{

            color: red;
            display: inline-block;
        }

        .loading {
            border: 3px solid blue;
            border-right: 3px solid #fff;
            border-bottom: 3px solid #fff;
            border-radius: 50%;
            display: inline-block;
            -webkit-animation: loading 1s infinite linear;
            -moz-animation: loading 1s infinite linear;
            -o-animation: loading 1s infinite linear;
            animation: loading 1s infinite linear;
        }

        @@-webkit-keyframes loading {
            from {
                -webkit-transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(360deg);
            }
        }
        @@-moz-keyframes loading {
            from {
                -moz-transform: rotate(0deg);
            }
            to {
                -moz-transform: rotate(360deg);
            }
        }
        @@-o-keyframes loading {
            from {
                -o-transform: rotate(0deg);
            }
            to {
                -o-transform: rotate(360deg);
            }
        }
        @@keyframes loading {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }





    </style>

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name"></h1>

            </div>
            <h3>Welcome to LandBank</h3>

            <p>請先登入後台管理系統</p>

            <form class="m-t" role="form" method="POST" action="@Url.Action("Login")">

                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.TextBoxFor(m => m.Account, new { @class = "form-control", placeholder = "帳號" })
                    @Html.ValidationMessageFor(m => m.Account, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "密碼" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">登入</button>
            </form>

            <label>系統測試帳號 : 080383</label>
            <label>系統測試密碼 : Lb1234567890</label>

            <label>王興測 : 078083</label><br>
            <label>丁測發 : 075384</label><br>
            <label>王勝測 : 046127</label><br>
            <label>李士測 : 048834</label><br>
            <label>宋測試 : 055264</label><br>
            <label>吳孟測 : 094260</label><br>


            <p class="m-t"> <small>Copyright LandBank &copy; 2017</small> </p>

            <label for="test_db" class="control-label">DB:</label>
            <div id="test_db" class="loading">test</div>

            <br>
            <label for="test_adws" class="control-label">ADWS:</label>
            <div id="test_adws" class="loading">test</div>

            <br>
            <label for="test_email" class="control-label">Email:</label>
            <div id="test_email" class="loading">test</div>

            <br>
            <label for="test_eai" class="control-label">EAI: Not Implement Yet</label>

        </div>
    </div>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        (function ($) {

            function test_db() {

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("DB")',
                    data: JSON.stringify({}),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (responsed) {

                        $("#test_db").removeClass("loading").addClass("ok").html("ok");
                        test_adws();
                    },
                    error: function (responsed) {

                        $("#test_db").removeClass("loading").addClass("error").html("error");
                        test_adws();
                    }
                });
            }

            function test_adws() {

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("ADWS")',
                    data: JSON.stringify({}),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (responsed) {

                        $("#test_adws").removeClass("loading").addClass("ok").html("ok");
                        test_email();
                    },
                    error: function (responsed) {

                        $("#test_adws").removeClass("loading").addClass("error").html("error");
                        test_email();
                    }
                });
            }

            function test_email() {

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("Email")',
                    data: JSON.stringify({}),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (responsed) {

                        $("#test_email").removeClass("loading").addClass("ok").html("ok");
                    },
                    error: function (responsed) {

                        $("#test_email").removeClass("loading").addClass("error").html("error");
                    }
                });
            }

            test_db();


        })(jQuery);

    </script>

</body>

</html>


