﻿@using InspiniaWebAdminTemplate.Models.Common

<form class="form-horizontal" method="post" action="#" id="details">

    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label">查詢日期</label>
            <div class="input-group col-sm-8">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" data-date-fromat="yyyy/mm/dd" value="2017/08/01">
                    <span class="input-group-addon date-trigger">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span class="input-group-addon">~</span>
                <div class="input-group">
                    <input type="text" class="form-control datepicker" data-date-fromat="yyyy/mm/dd" value="2017/08/31">
                    <span class="input-group-addon date-trigger">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label">分行</label>
            <div class="col-sm-8">
                <select class="form-control" name="BranchCodeID">
                    <option value="">全部</option>
                    <option value="1">總行</option>
                    <option value="2">基隆分行</option>
                </select>
            </div>
        </div>


    </div>





    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-sm-12">
            <label for="" class="col-sm-4" align="right">
                <button type="submit" class="btn btn-primary" id="submit_button"><i class="fa fa-search">查詢</i></button>
                <button type="reset" class="btn btn-danger"><i class="fa fa-times">清除</i></button>
            </label>
        </div>
    </div>
</form>


<div class="hr-line-dashed"></div>

<div id="report"></div>


@section Scripts {

    <script>

            (function ($) {

                $(".datepicker").datepicker({
                    format: "yyyy/mm/dd",
                    autoclose: true,
                    clearBtn: true,
                    calendarWeeks: false,
                    todayHighlight: true,
                    language: 'zh-TW'
                });

                $(".date-trigger").on("click", function () {
                    $(this).prev(".datepicker").datepicker("show");
                });

            })(jQuery);

    </script>

    @Html.Partial("_AjaxFormSubmit", new AjaxFormSubmitModel
   {

       PostUrl = @Url.Action("Details"),
       FormID = "#details",
       SubmitButtonID = "#submit_button",
       DivRegionID = "#report",
   })

}
