﻿@using Library.Servant.Servant.Common.Models
@model List<AccountEntryDetailResult>

<div id="root">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>折舊核帳</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/HistoryMaintain">首頁</a>
                </li>
                <li>
                    <a href="#">折舊</a>
                </li>
                <li>
                    <a href="#">明細</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">


        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table-condensed">
                                <tr>
                                    <td style="text-align: left">
                                        <label>共  @Model.Count 筆</label>
                                        <a class="btn btn-sm btn-default" href="@HttpContext.Current.Request.UrlReferrer">回上頁</a>
                                        <a class="btn btn-sm btn-primary" id="buttonadd" href="">明細列印</a>
                                    </td>
                                </tr>
                            </table>


                            @Html.Partial("_AccountEntryDetails", Model)

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>