﻿@using InspiniaWebAdminTemplate.Models.AccountingDeprnTrial
@model IndexViewModel


<div id="root">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>帳務管理</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Home")">首頁</a>
                </li>
                <li>
                    <a href="#">折舊</a>
                </li>
                <li>
                    <a href="#">折舊試算</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        <form action="@Url.Action("DeprnTrial")" method="post" class="form-horizontal" id="search">

                            @Html.AntiForgeryToken()

                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">交易種類</label>
                                    <div class="col-sm-8  ">
                                        @foreach (var option in Model.Options.TradeKind)
                                        {
                                            var selected = Model.Condition.TradeKinds.Contains(option.Value) ? "checked" : "";
                                            <input type="checkbox" name="TradeKinds" value="@option.Value" id="@option.Value" @selected><label for="@option.Value">@option.Text</label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary" formaction="@Url.Action("UpdateSearch")"><i class="fa fa-search ">查詢</i></button>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-calculator ">執行試算</i></button>
                                    <a href="#modal-form-clear" class="btn btn-danger" data-toggle="modal"><i class="fa fa-eraser">清除試算紀錄</i></a>
                                </div>
                            </div>

                        </form>




                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        @if (Model.IsApproval)
                        {
                            <a href="@Url.Action("Start","AccountingDeprnVerify")">已進入核帳程序</a>
                        }
                        else
                        {
                            @Table()
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@helper Table()
{
    <div class="table-responsive">

        <table class="table-condensed">
            <tr>
                <td style="text-align: left">
                    <label>共  @Model.Items.Count 筆</label>
                    <a class="btn btn-sm btn-primary" href="#modal-form-deprn" data-toggle="modal">執行折舊處理</a>
                    <a class="btn btn-sm btn-warning" id="buttonadd" href="./.htm">全部列印</a>
                    <a class="btn btn-default" href="@HttpContext.Current.Request.UrlReferrer">回上頁</a>
                </td>
            </tr>
        </table>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>序號</th>
                    <th>分行別/部門</th>
                    <th>記帳日</th>
                    <th>件數</th>
                    <th>會計科目</th>
                    <th>會計科目名稱</th>
                    <th>借方金額</th>
                    <th>貸方金額</th>
                    <th>幣別</th>
                </tr>
            </thead>

            <tbody>
                @for (int index = 0; index < Model.Items.Count; ++index)
                {
                    var item = Model.Items[index];
                    <tr>
                        <td>@(index + 1)</td>
                        <td>@item.BranchName/@item.DepartmentName</td>
                        <td>@item.Last_Updated_Time</td>
                        <td>@item.TotalNumber</td>
                        <td><a href="@Url.Action("Details", new { Account = item.Account  })">@item.Account</td>
                        <td>@item.Account_Name</td>
                        <td class="text-right">@item.DebitAmount</td>
                        <td class="text-right">@item.CreditAmount</td>
                        <td>@item.Currency</td>
                    </tr>
                }
            </tbody>
        </table>

        <a id="page">
            <div id="page_region"></div>
        </a>

    </div>
}

<div id="modal-form-deprn" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">提交試算紀錄?</h3>

                        <form style="display:inline-block;" method="POST" action="@Url.Action("Deprn")">

                            @Html.AntiForgeryToken()
                            <button class="btn btn-sm btn-danger" type="submit"><strong>是</strong></button>
                        </form>

                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>否</strong></button>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-clear" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">清除試算紀錄?</h3>
                        <ul>
                            @foreach (var option in Model.Options.TradeKind)
                            {
                                var selected = Model.Condition.TradeKinds.Contains(option.Value);
                                if (selected)
                                {
                                    <li>@option.Text</li>
                                }
                            }
                        </ul>

                        <form style="display:inline-block;" method="POST" action="@Url.Action("Clear")">

                            @Html.AntiForgeryToken()
                            <button class="btn btn-sm btn-danger" type="submit"><strong>是</strong></button>
                        </form>

                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>否</strong></button>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Html.Partial("_VuePageList")
    <script>

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: 100,//資料庫總筆數
                    page_size: @Model.Condition.PageSize,//單頁筆數
                    page_now: @Model.Condition.Page,//當前頁
                    center_page: @Model.Condition.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });

        })(jQuery);

    </script>
}