﻿@using InspiniaWebAdminTemplate.Models.TodoListManagement
@model DetailViewModel

@{
    ViewBag.Title = "Create";
}

<div id="root">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>交辦事項管理</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/Announcement">首頁</a>
                </li>
                <li>
                    <a href="#">交辦事項管理</a>
                </li>
                <li>
                    <a href="#">交辦事項新增</a>
                </li>
            </ol>
        </div>
    </div>
    <form method="post" action="@Url.Action("Save")" enctype="multipart/form-data" class="form-horizontal">
        
        @Html.HiddenFor(m => m.UpdateUser)

        <div class="wrapper wrapper-content animated fadeInRight tab-content">

            @Html.AntiForgeryToken()

            <div id="main" class="row tab-pane fade in active">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>交辦事項新增</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">交辦事項編號</label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.TodoCode, new { @class = "form-control", @type = "text", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">交辦事項狀態</label>
                                    <div class="col-sm-8">
                                        @{
                                            var selAttributes = new Dictionary<string, object> {
                                                { "class", "form-control" }
                                            };

                                            if (ViewBag.CanEdit != true) {
                                                selAttributes.Add("readonly", true);
                                            }
                                        }
                                        @Html.DropDownList("Status", (IEnumerable<SelectListItem>)ViewBag.StatusList, selAttributes)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">交辦人員</label>
                                    <div class="col-sm-8">
                                        @Html.HiddenFor(m => m.AssignUserID)
                                        @Html.TextBoxFor(m => m.AssignUser, new { @class = "form-control", @type = "text", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">交辦事項分類</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("Type", (IEnumerable<SelectListItem>)ViewBag.CategoryList, selAttributes)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label for="" class="col-sm-2 control-label required">交辦對象</label>
                                    <div class="col-sm-10">
                                        <button name="todoList" type="button" data-toggle="modal" data-target="#modal-form-todo-users" class="btn btn-warning" title="無"><i class="fa fa-link">輯編交辦人員</i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label for="" class="col-sm-2 control-label required">主旨</label>
                                    <div class="col-sm-10">
                                        @{
                                            var textAttributes = new Dictionary<string, object> {
                                                { "class", "form-control" },
                                                { "type", "text" }
                                            };

                                            if (ViewBag.CanEdit != true) {
                                                textAttributes.Add("readonly", true);
                                            }
                                        }
                                        @Html.TextBoxFor(m => m.Title, textAttributes)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label for="" class="col-sm-2 control-label required">詳細說明</label>
                                    <div class="col-sm-8">
                                        @{
                                            var areaAttributes = new Dictionary<string, object> {
                                                { "class", "form-control" },
                                                { "rows", "15" }
                                            };

                                            if (!String.IsNullOrEmpty(Model.Content)) {
                                                areaAttributes.Add("readonly", true);
                                            }
                                        }
                                        @Html.TextAreaFor(m => m.Content, areaAttributes)
                                    </div>
                                    <div class="col-sm-2">
                                        @if (!String.IsNullOrEmpty(Model.Content)) {
                                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-form-addText">新增說明</button>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label for="" class="col-sm-2 control-label required">相關連結</label>
                                    <div class="col-sm-10">
                                        <button type="button" data-toggle="modal" data-target="#modal-form-hyperLink" class="btn btn-info"><i class="fa fa-link">按一下新增超連結</i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        <ol id="links">
                                            @for (var i = 0; i < Model.Links.Count; i++) {
                                                <li>
                                                    @{ var item = Model.Links[i]; }
                                                    @Html.Hidden("Links[" + i + "].Name", item.Name)
                                                    @Html.Hidden("Links[" + i + "].Url", item.Url)
                                                    <a href="@item.Url">@item.Name</a>
                                                    <a onclick="DeleteLink(this)"><span class="fa fa-close"></span></a>
                                                </li>
                                            }
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label for="" class="col-sm-2 control-label required">相關文件上傳</label>
                                    <div class="col-sm-6">
                                        @if (ViewBag.CanEdit) {
                                            <input type="file" class="form-control" id="file" name="file">
                                        }
                                        <ol>
                                            @if (!string.IsNullOrEmpty(Model.FileName)) {
                                                <li>
                                                    @Html.HiddenFor(m => m.FileName)
                                                    <a href="#">@Model.FileName</a>
                                                    @if (ViewBag.CanEdit) {
                                                        <a onclick="DeleteLink(this)"><span class="fa fa-close"></span></a>
                                                    }
                                                </li>
                                            }
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label for="" class="col-sm-2 control-label">交辦日期起</label>
                                    <div class="input-group col-sm-2">
                                        <div class="input-group">
                                            @Html.TextBoxFor(m => m.TodoPeriod.Start, "{0:yyyy/MM/dd}", new { @class = "form-control datepicker", @type = "text" })
                                            <span class="input-group-addon date-trigger">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 form-inline">
                                        <label for="" class="col-sm-4 control-label">交辦日期迄</label>
                                        <div class="input-group col-sm-8">
                                            <div class="input-group">
                                                @Html.TextBoxFor(m => m.TodoPeriod.End, "{0:yyyy/MM/dd}", new { @class = "form-control datepicker", @type = "text" })
                                                <span class="input-group-addon date-trigger">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 form-group form-inline">
                                        <label for="" class="col-sm-4 control-label required">提醒日期</label>
                                        <div class="input-group col-sm-6">
                                            @Html.TextBoxFor(m => m.RemindDays, new { @class = "form-control", @type = "number" })
                                            <span class="input-group-addon">
                                                天
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table id="users_data" style="display:none">
                                <tbody>
                                    @for (var i = 0; i < Model.TodoUsers.Count; i++) {
                                        <tr>
                                            <td>
                                                @Html.HiddenFor(m => m.TodoUsers[i].UserID)
                                                @Model.TodoUsers[i].UserName
                                            </td>
                                            <td>@Html.CheckBoxFor(m => m.TodoUsers[i].IsNotifiedOnCreate, new { @onchange = "Check(this)" })</td>
                                            <td>@Html.CheckBoxFor(m => m.TodoUsers[i].IsNotifiedForAlert, new { @onchange = "Check(this)" })</td>
                                            <td>@Html.CheckBoxFor(m => m.TodoUsers[i].IsNotifiedOnFinish, new { @onchange = "Check(this)" })</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-rotate-left">返回</i></a>
                                    @if (Model.Status != "3") {
                                        <button type="submit" class="btn btn-info"><i class="fa fa-save">存檔</i></button>
                                        <button type="reset" class="btn btn-danger"><i class="fa fa-eraser">清除</i></button>
                                    }               
                                    @*<a class="btn btn-warning" data-toggle="tab" href="#auditing"><i class="fa fa-link">勾稽事務處理單</i></a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="auditing" class="row tab-pane fade">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>勾稽事務處理單</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                        @if (ViewBag.CanAudit == true && Model.Status != "3") {
                            <button type="button" class="btn btn-primary" onclick="AddAuditItem()"><i class="fa fa-plus">新增</i></button>
                        }

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>事務處理編號</th>
                                        <th>目前簽核人員</th>
                                        <th>事務狀態</th>
                                        <th>功能</th>
                                        <th>交辦事項編號</th>
                                        <th>事項狀態</th>
                                        <th>交辦人</th>
                                    </tr>
                                </thead>
                                <tbody id="audit_data">
                                    @for (var i = 0; i < Model.AuditingFlowList.Count; i++) {
                                        <tr>
                                            <td id="flow_@i">
                                                @Html.TextBoxFor(m => m.AuditingFlowList[i].FlowCode, new { @readonly=true })
                                            </td>
                                            <td>
                                                @Model.AuditingFlowList[i].CurrentApproalName
                                            </td>
                                            <td>
                                                @Model.AuditingFlowList[i].FlowStatus
                                            </td>
                                            @if (ViewBag.CanAudit == true && Model.Status != "3") {
                                                <td><button type='button' class='btn btn-sm btn-primary' onclick='GetFlowInfo($("#flow_@i"))'>更新</button></td>
                                            }
                                            else {
                                                <td></td>
                                            }
                                            <td>@Model.TodoCode</td>
                                            <td>@Model.StatusName</td>
                                            <td>@Model.AssignUser</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <nav class="text-center">
                                <ul class="pagination">
                                    <li class="disabled"><a>1</a></li>
                                </ul>
                            </nav>

                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <a class="btn btn-primary" data-toggle="tab" onclick="history.back()" href="#main"><i class="fa fa-search">返回</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modal-form-todo-users" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">設定交辦對象</h4>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div id="users" class="tab-pane fade @Html.Raw(Model.TodoUsers.Count == 0 ? "in active" : "")">
                        <div>
                            交辦對象人員勾選
                            <div class="pull-right">
                                <button class="btn btn-default" data-toggle="tab" href="#mails" onclick="Next()">下一步</button>                            
                                <button class="btn btn-default" type="reset">清除</button>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div>
                            <div class="row">
                                <div class="col-sm-2">
                                    @Html.DropDownList("BranchCode", (IEnumerable<SelectListItem>)ViewBag.BranchList, "請選擇", new { @class = "form-control", @onchange= "GetUsers()" })
                                </div>
                                <div class="col-sm-2">
                                    @Html.DropDownList("DepartmentCode", (IEnumerable<SelectListItem>)ViewBag.DepartmentList, "請選擇", new { @class = "form-control", @onchange = "GetUsers()" })
                                </div>
                            </div>
                            <div class="row">
                                <div id="select_function"></div>
                            </div>
                        </div>
                    </div>
                    <div id="mails" class="tab-pane fade @Html.Raw(Model.TodoUsers.Count > 0 ? "in active" : "")">
                        <div class="">
                            Mail通知人員清單
                            <div class="pull-right">
                                @if (ViewBag.CanEdit == true) {
                                    <button class="btn btn-default" data-toggle="tab" href="#users">上一步</button>                                
                                    <button class="btn btn-default" data-dismiss="modal" onclick="Save()">儲存</button>
                                }
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>通知人員</th>
                                        <th>建立通知<input type="checkbox" onchange="CheckAll(this, 'create')" /></th>
                                        <th>提醒通知<input type="checkbox" onchange="CheckAll(this, 'remind')"/></th>
                                        <th>完成通知<input type="checkbox" onchange="CheckAll(this, 'finish')"/></th>
                                    </tr>
                                </thead>
                                <tbody id="users_list">
                                    @for (var i = 0; i < Model.TodoUsers.Count; i++) {
                                        <tr>
                                            <td>
                                                @Html.HiddenFor(m => m.TodoUsers[i].UserID)
                                                @Model.TodoUsers[i].UserName
                                            </td>
                                            <td>@Html.CheckBoxFor(m => m.TodoUsers[i].IsNotifiedOnCreate, new { @onchange = "Check(this)" })</td>
                                            <td>@Html.CheckBoxFor(m => m.TodoUsers[i].IsNotifiedForAlert, new { @onchange = "Check(this)" })</td>
                                            <td>@Html.CheckBoxFor(m => m.TodoUsers[i].IsNotifiedOnFinish, new { @onchange = "Check(this)" })</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-hyperLink" name="dialogModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">新增超連結</h3>
                        @Html.AntiForgeryToken()
                        <div class="row col-sm-12">
                            <label for="" class="col-sm-4 control-label">顯示文字</label>
                            <div class="input-group col-sm-8">
                                @Html.TextBox("LinkName", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row col-sm-12">
                            <label for="" class="col-sm-4 control-label">連結網址</label>
                            <div class="input-group col-sm-8">
                                @Html.TextBox("LinkUrl", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal" onclick="AddLink()"><strong>新增</strong></button>
                            <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><strong>取消</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-addText" name="dialogModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">新增說明</h3>
                        @Html.AntiForgeryToken()
                        <div class="row col-sm-12">
                            <label for="" class="col-sm-4 control-label">添加文字</label>
                            <div class="input-group col-sm-8">
                                @Html.TextArea("Append", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal" onclick="Append()"><strong>新增</strong></button>
                            <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><strong>取消</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Html.Partial("_VuePageList")
    @Html.Partial("_VueOptionTemplate2")

    <script>

        (function ($) {

            new $.OptionTemplate({

                el: "#select_function",
                data: {

                    left_title: "可選取人員",
                    right_title: "選取人員",
                    left_model_name: "CadidateUsers",
                    right_model_name: "SelectedUsers",
                    submit_form_id: "#update_functions",

                    left_array: [],
                    right_array: @Html.Raw(Json.Encode(Model.TodoUsers.Select(m => new { Text = m.UserName, Value = m.UserID }))),
                    left_size: false,
                    right_size: false,
                }
            });

            $(".datepicker").datepicker({
                format: "yyyy/mm/dd",
                autoclose: true,
                clearBtn: true,
                calendarWeeks: false,
                todayHighlight: true,
                language: 'zh-TW'
            });

            $(".date-trigger").on("click", function () {
                $(this).prev(".datepicker").datepicker("show");
            });

            $('[data-toggle="tooltip"]').tooltip(); 

        })(jQuery);

        function DeleteLink(el) {
            var delEl = $(el).closest("li");
            $(delEl).remove();
            var links = $("#links").children();
            
            $.each(links, function (index, value) {
                var inputs = $(value).find("input");
                $(inputs[0]).attr("name", "Links[" + index + "].Name");
                $(inputs[1]).attr("name", "Links[" + index + "].Url");
                $("#links").append(value); $("#links").append(value);
            });
        }

        function AddLink() {
            var name = $('#LinkName').val();
            $('#LinkName').val("");
            var url = $('#LinkUrl').val();
            $('#LinkUrl').val("");
            var links = $("#links").children();
            var li = document.createElement("li");
            var nameEl = document.createElement("input");
            $(nameEl).attr("type", "hidden").val(name);
            var urlEl = document.createElement("input");
            $(urlEl).attr("type", "hidden").val(url);
            var linkEl = document.createElement("a");
            $(linkEl).attr("href", url).html(name);
            var btnEl = document.createElement("a");
            $(btnEl).attr("onclick", "DeleteLink(this)").html('<span class="fa fa-close"></span>');

            $(li).append(nameEl);
            $(li).append(urlEl);
            $(li).append(linkEl);
            $(li).append(btnEl);
            links.push(li);
            
            $.each(links, function (index, value) {
                var inputs = $(value).find("input");
                $(inputs[0]).attr("name", "Links[" + index + "].Name");
                $(inputs[1]).attr("name", "Links[" + index + "].Url");
                $("#links").append(value);
            });
        }

        function Next() {
            $("#users_list").html("");
            var title = "";

            $.each($("select[name=SelectedUsers]").children(), function (index, value) {
                var text = $(value).html();
                var value = $(value).val();

                var tr = document.createElement("tr");
                var name_td = document.createElement("td");
                $(name_td).html(text);
                var name_el = document.createElement("input");
                $(name_el).attr("type", "hidden").attr("name", "TodoUsers[" + index + "].UserID").val(value);
                var create_td = document.createElement("td");
                $(create_td).attr("name", "create");
                var create_el = document.createElement("input");
                $(create_el).attr("type", "checkbox").attr("name", "TodoUsers[" + index + "].IsNotifiedOnCreate").attr("onchange", "Check(this)").val("true");
                var remind_td = document.createElement("td");
                $(remind_td).attr("name", "remind");
                var remind_el = document.createElement("input");
                $(remind_el).attr("type", "checkbox").attr("name", "TodoUsers[" + index + "].IsNotifiedForAlert").attr("onchange", "Check(this)").val("true");
                var finish_td = document.createElement("td");
                $(finish_td).attr("name", "finish");
                var finish_el = document.createElement("input");
                $(finish_el).attr("type", "checkbox").attr("name", "TodoUsers[" + index + "].IsNotifiedOnFinish").attr("onchange", "Check(this)").val("true");

                $(name_td).append(name_el);
                $(create_td).append(create_el);
                $(remind_td).append(remind_el);
                $(finish_td).append(finish_el);

                $(tr).append(name_td);
                $(tr).append(create_td);
                $(tr).append(remind_td);
                $(tr).append(finish_td);

                $("#users_list").append(tr);
                title += text;
            });

            $("button[name='todoList']").attr('title', title);
        }

        function Save() {
            $("#users_data").html("");

            $.each($("#users_list").children(), function (index, value) {
                var tr = document.createElement("tr");
                $(tr).html($(value).html());
                
                $("#users_data").append(tr);
            });
        }

        function CheckAll(el, td_name) {
            if ($(el).attr("checked")) {
                $("td[name=" + td_name + "] > input").attr("checked", true);
            }
            else {
                $("td[name=" + td_name + "] > input").removeAttr("checked");
            }
        }

        function Check(el) {
            if ($(el).attr("checked")) {
                $(el).attr("checked", true);
            }
            else {
                $(el).removeAttr("checked");
            }
        }

        function AddAuditItem() {
            var length = $("#audit_data tr").length;

            var tr = document.createElement("tr");
            var flow_td = document.createElement("td");
            $(flow_td).attr("id", "flow_" + length)
            var input = document.createElement("input");
            $(input).attr("class", "from-control").attr("name", "AuditingFlowList[" + length + "].FlowCode");
            $(flow_td).append(input);
            var approval_td = document.createElement("td");
            var status_td = document.createElement("td");
            var btn_td = document.createElement("td");
            $(btn_td).html("<button type='button' class='btn btn-sm btn-primary' onclick='GetFlowInfo($(\"#flow_" + length + "\"))'>更新</button>")
            var todo_code_td = document.createElement("td");
            $(todo_code_td).html("@Model.TodoCode");
            var step_td = document.createElement("td");
            $(step_td).html($("select[name=Status] option:selected").text());
            var assign_td = document.createElement("td");
            $(assign_td).html("@Model.AssignUser");

            $(tr).append(flow_td);
            $(tr).append(approval_td);
            $(tr).append(status_td);
            $(tr).append(btn_td);
            $(tr).append(todo_code_td);
            $(tr).append(step_td);
            $(tr).append(assign_td);

            $("#audit_data").append(tr);
        }

        function GetUsers() {
            var branchCode = $("select[name=BranchCode] option:selected").val();
            var departmentCode = $("select[name=DepartmentCode] option:selected").val();

            if (branchCode == "" || departmentCode == "")
                return;
            else {
                $.ajax({
                    url: "@Url.Action("GetUsers")?branch=" + branchCode + "&department=" + departmentCode,
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json",
                    processData: false,
                    async: true,
                    success: function (data) {
                        $("select[name=CadidateUsers]").html("");
                        $.each(data, function (index, value) {
                            var op = document.createElement("option");
                            $(op).attr("value", value.id).html(value.name);
                            $("select[name=CadidateUsers]").append(op);
                        });
                    }
                });
            }
        }

        function GetFlowInfo(el) {
            var code = $(el).find("input").val();

            if (code == "")
                return;
            else {
                $.ajax({
                    url: "@Url.Action("GetFlowInfo")?flowCode=" + code,
                    type: 'POST',
                dataType: 'json',
                contentType: "application/json",
                processData: false,
                async: true,
                success: function (data) {
                    $(el).next("td").html(data.CurrentApprovalUserName);
                    $(el).next("td").find("input").val(data.CurrentApprovalUserName);
                    $(el).next("td").next("td").html(data.ApprovalStatus);
                    $(el).next("td").next("td").find("input").val(data.ApprovalStatus)
                }});
            }
        }

        function Append() {
            var content = $('textarea[name=Content]').val();
            content += ("\r\n" + $('textarea[name=Append]').val() + "-----@Model.UpdateUserName");
            $('textarea[name=Content]').val(content);
            $('textarea[name=Append]').val("");
        }

    </script>
}


