﻿@{
    ViewBag.Title = "Index";
}

<div id="root">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>稽核軌跡</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="Home">首頁</a>
                </li>
                <li>
                    <a href="#">稽核軌跡</a>
                </li>
                <li>
                    <a href="">查詢</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>搜尋條件</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row form-inline">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">模組類別</label>
                                    <div class="col-sm-8 row">
                                        <select class="form-control">
                                            <option>全部</option>
                                            <option>交辦事項管理</option>
                                            <option>公告張貼管理</option>
                                            <option>流程管理</option>
                                            <option>會計設定</option>
                                            <option>帳務管理</option>
                                            <option>歷史資料管理</option>
                                            <option>動產管理</option>
                                            <option>土地</option>
                                            <option>房屋管理</option>
                                            <option>資產主檔更新作業</option>
                                            <option>租賃權益管理</option>
                                            <option>租約</option>
                                            <option>租賃管理整合</option>
                                            <option>保單管理</option>
                                            <option>權狀與卷宗管理</option>
                                            <option>系統代碼</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">包含內容</label>
                                    <div class="col-sm-8 row">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="row form-inline">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">執行人員</label>
                                    <div class="col-sm-8 row">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">執行時間</label>
                                    <div class="col-sm-8 input-group">
                                        <input type="text" class="form-control datepicker" />
                                        <span class="input-group-addon date-trigger">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        <span class="input-group-addon">~</span>
                                        <input type="text" class="form-control datepicker" />
                                        <span class="input-group-addon date-trigger">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-5">
                                    <button type="submit" id="searchBtn" class="btn btn-primary"><i class="fa fa-search">查詢</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            @{
                                var list = new List<dynamic>();
                                list.Add(new { Class = "交辦事項管理", User = "李士測", DateTime = DateTime.Now, Content = "" });
                                list.Add(new { Class = "交辦事項管理", User = "李士測", DateTime = DateTime.Now, Content = "" });
                                list.Add(new { Class = "交辦事項管理", User = "李士測", DateTime = DateTime.Now, Content = "" });
                                list.Add(new { Class = "交辦事項管理", User = "李士測", DateTime = DateTime.Now, Content = "" });
                                list.Add(new { Class = "交辦事項管理", User = "李士測", DateTime = DateTime.Now, Content = "" });
                            }
                            <table class="table-condensed" width="100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>共 @list.Count 筆</label>
                                    </td>
                                </tr>
                            </table>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>模組類別</th>
                                        <th>執行人員</th>
                                        <th>執行時間</th>
                                        <th>內容</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 1; i <= list.Count; i++) {
                                        var item = list[i - 1];
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.Class</td>
                                            <td>@item.User</td>
                                            <td>@item.DateTime</td>
                                            <td>@item.Content</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <nav class="text-center">
                                <ul class="pagination">
                                    <li class="disabled"><a>1</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @*@Html.Partial("_VuePageList")*@

    <script>

        (function ($) {

            $(".datepicker").datepicker({
                format: "yyyy/mm/dd",
                autoclose: true,
                clearBtn: true,
                calendarWeeks: false,
                todayHighlight: true,
                language: 'zh-TW'
            });

            $(".date-trigger").on("click", function () {
                $(this).prev(".datepicker").datepicker("show");
            });

        })(jQuery);

    </script>
}

