﻿@using Library.Servant.Servant.LandModels.ReportModel
@model IEnumerable<LandReportModel>
@{
    ViewBag.Title = "資產重估明細表";
}

<script>
    function doQuery() {
        $('#frmPrint').prop('action', '@(Url.Action("SearchLandList"))');
    }
</script>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>資產重估明細表</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">土地管理</a>
            </li>
            <li>
                <a href="#">資產重估明細表</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form id="frmPrint" method="post" action="@Url.Action("PrintExcelLandAssetRevaluationList", "LandReports")">
                        <input type="hidden" name="ReportName" value="LandAssetRevaluationList" />
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">管轄單位</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="AssignedBranch" name="JurisdictionAssignedBranch">
                                        <option value="001總行"> 001總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control" id="OfficeBranch" name="JurisdictionOfficeBranch">
                                        <option value="05資訊部"> 05資訊部</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">資產分類</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" id="" name="" />
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" id="" name="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">財產編號</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" value="" id="" name="" />
                                </div>
                                <div class="col-sm-1">～</div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" id="" name="" />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label " align="right">啟用日期</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-primary"><i class="fa fa-calendar"></i></button>
                                </div>
                                <div class="col-sm-1">
                                    ～
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary"><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">縣市</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" value="" id="" name="" />
                                </div>
                                <label for="" class="col-sm-1 control-label" align="right">鄉鎮市區</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" value="" id="" name="" />
                                </div>
                                <label for="" class="col-sm-1 control-label" align="right">段</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" value="" id="" name="" />
                                </div>
                                <label for="" class="col-sm-1 control-label" align="right">小段</label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control" value="" id="" name="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">地址</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" value="" id="" name="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right"></label>
                                <div class="col-sm-2">
                                    <input type="submit" value="查詢" class="btn btn-primary" name="LandAssetRevaluationList" onclick="doQuery()" />
                                    <input type="submit" value="匯出" class="btn btn-primary" />
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ReportType">
                                        <option value="Word">word</option>
                                        <option value="Excel">Excel</option>
                                        <option value="Pdf">Pdf</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <table class="col-sm-12">
                                    <thead>
                                        <tr>
                                            <th>財產編號</th>
                                            <th>縣市</th>
                                            <th>鄉鎮</th>
                                            <th>段</th>
                                            <th>小段</th>
                                            <th>地號</th>
                                            <th>權利面積</th>
                                            <th>公告現值</th>
                                            <th>公告現值總額</th>
                                            <th>帳面金額</th>
                                            <th>重估增值</th>
                                            <th>累計減損</th>
                                            <th>合計</th>
                                            <th>重估后帳面價值</th>
                                            <th>增值金額</th>
                                            <th>估計應付土地增值稅帳列數</th>
                                            <th>估計應付土地增值稅重估后帳列數</th>
                                            <th>估計應付土地增值稅應補提（沖轉)數</th>
                                            <th>未實現重估增值帳列數</th>
                                            <th>未實現重估增值重估后帳列數</th>
                                            <th>未實現重估增值應補提（沖轉)數</th>
                                            <th>特別損失</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            foreach (var List in Model)
                                            {
                                                <tr>
                                                    <td>@List.Asset_Number</td>
                                                    <td>@List.City_Name</td>
                                                    <td>@List.District_Name</td>
                                                    <td>@List.Section_Name</td>
                                                    <td>@List.Sub_Section_Name</td>
                                                    <td>@List.Parent_Land_Number.ToString() ─ @List.Filial_Land_Number.ToString()</td>
                                                    <td>@List.Authorized_Area.ToString()</td>
                                                    <td>@List.Announce_Amount.ToString()</td>
                                                    <td>@List.All_Announce_Amount.ToString()</td>
                                                    <td>@List.Current_Cost.ToString()</td>
                                                    <td>@List.Reval_Reserve.ToString()</td>
                                                    <td>@List.Deprn_Amount.ToString()</td>
                                                    <td>@List.TotalForAssetRevaluationList.ToString()</td>
                                                    <td>@List.RevaluationAfterBookValue.ToString()</td>
                                                    <td>@List.ValueAddedMoney.ToString()</td>
                                                    <td>@List.Reval_Land_VATRevaluationCountTheNumberofAccounts.ToString()</td>
                                                    <td></td>@*Reval_Land_VATRevaluationCountTheNumberofAccounts//估計應付土地增值稅重估后帳列數*@
                                                    <td></td>@*Reval_Land_VATNumberOfRevolutions //估計應付土地增值稅應補提（沖轉)數*@
                                                    <td>@List.Reval_Adjustment_AmountNumberOfRevolutions.ToString()</td>
                                                    <td></td>@*Reval_Adjustment_AmountRevaluationCountTheNumberofAccounts //未實現重估增值重估后帳列數*@
                                                    <td></td>@*Reval_Adjustment_AmountNumberOfRevolutions//未實現重估增值應補提（沖轉)數*@
                                                    <td></td>@*SpecialLoss//特別損失*@

                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
