﻿@using Library.Servant.Servant.LandModels.ReportModel
@model IEnumerable<LandReportModel>
@{
    ViewBag.Title = "各類都市計劃分區土地統計表";
}

<script>
    function doQuery()
    {
        $('#frmPrint').prop('action','@(Url.Action("SearchLandList"))');
    }
</script>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>各類都市計劃分區土地統計表</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">土地管理</a>
            </li>
            <li>
                <a href="#">各類都市計劃分區土地統計表</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form id="frmPrint" method="post" action="@Url.Action("PrintExcelLandAllCityPlanPartitionList", "LandReports")">
                        <input type="hidden" name="ReportName" value="LandAllCityPlanPartitionList" />
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">管轄單位</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="AssignedBranch" name="JurisdictionAssignedBranch">
                                        <option value="001總行"> 001總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control" id="OfficeBranch" name="JurisdictionOfficeBranch">
                                        <option value="05資訊部"> 05資訊部</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">資產分類</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" id="" name=""/>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" id="" name=""/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">財產編號</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" value="" id="" name="" />
                                </div>
                                <div class="col-sm-1">～</div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" id="" name="" />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label " align="right">啟用日期</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-primary"><i class="fa fa-calendar"></i></button>
                                </div>
                                <div class="col-sm-1">
                                    ～
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary"><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">縣市</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" value="" id="" name="" />
                                </div>
                                <label for="" class="col-sm-1 control-label" align="right">鄉鎮市區</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" value="" id="" name="" />
                                </div>
                                <label for="" class="col-sm-1 control-label" align="right">段</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" value="" id="" name="" />
                                </div>
                                <label for="" class="col-sm-1 control-label" align="right">小段</label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control" value="" id="" name="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">地址</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" value="" id="" name="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <input type="submit" value="查詢" class="btn btn-primary" name="LandAllCityPlanPartitionList" onclick="doQuery()" />
                                    <input type="submit" value="匯出" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="col-sm-12">
                                    <thead>
                                        <tr>
                                            <th>都市計畫使用分區</th>
                                            <th>數量</th>
                                            <th>面積 (m2)</th>
                                            <th>帳面價值(千元)</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            
                                            foreach (var List in Model)
                                            {
                                                <tr>
                                                    <td>@List.Used_Partition</td>
                                                    <td>@List.Used_Partition_Amount</td>
                                                    <td>@List.Area_Size</td>
                                                    <td>@List.Current_Cost</td>
                                                </tr>
                                               
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
