﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 新增/編輯卷宗</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">卷宗維護單 作業</a>
            </li>
            <li>
                <a href="#">新增/編輯單據</a>
            </li>
            <li>
                <a href="#">新增/編輯卷宗</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><span class="text-success">【步驟三】</span> 新增/編輯卷宗</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" action="" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">主題內容</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="公營事業機構向銀行貸款處理辦法" /></div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">備註</label>
                                <div class="col-sm-9"><textarea rows="3" class="form-control" value=""></textarea></div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">檔案上傳</label>
                                <div class="col-sm-5">
                                    <input id="uploadFile1" placeholder="" class="form-control " style="width:70%;float:left" />
                                    <div class="fileUpload btn btn-gray" style="border-radius: 0 3px 3px 0; float:left">
                                        <span><i class="fa fa-search"> 瀏 覽 </i></span>
                                        <input id="uploadBtn1" type="file" class="upload" />
                                    </div><br>

                                    <div style="margin-top:24px;font-size:0.85em;color:#999">
                                        <i class="fa fa-warning" style="padding:10px 0 0 5px;float:left"></i>
                                        <span style="padding:5px 0 0 10px;float:left">建議上傳 PDF 檔案格式</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">已上傳檔案列表</label>
                                <div class="col-sm-5">
                                    <table width="100%">
                                        <tr>
                                            <td style="text-align:left">1060901_卷宗_基本資料.PDF</td>
                                            <td width="40px" style="margin-left:10px"><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left">1060901_卷宗_合約內容.PDF</td>
                                            <td width="40px" style="margin-left:10px"><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>


                        </div>

                    </form>

                    <div class="table-responsive" style="margin-top:20px">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <a href="#modal-form-importdata-01" data-toggle="modal" class="btn btn-primary"><i class="fa fa-search"> 篩選準備調閱地政資料的資產</i></a>
                                </td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>權狀執照類別</th>
                                    <th>財產編號</th>
                                    <th>縣(市)</th>
                                    <th>鄉政市區</th>
                                    <th>段</th>
                                    <th>小段</th>
                                    <th>地號</th>
                                    <th>建號</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>土地所有權狀</td>
                                    <td>1019901-0002923</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td>0255-0000</td>
                                    <td></td>
                                    <td><a class="btn btn-gray btn-circle" href="/download/Certificate_land.pdf" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>建物所有權狀</td>
                                    <td>2010201-0000213</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td>&nbsp;</td>
                                    <td>05197-000</td>
                                    <td><a class="btn btn-gray btn-circle" href="/download/Certificate_building.pdf" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>


                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <a href="#modal-form-importdata-02" data-toggle="modal" class="btn btn-primary"><i class="fa fa-search"> 搜尋/導入 資產</i></a>
                                </td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>資產編號</th>
                                    <th>財產名稱</th>
                                    <th>財產別名</th>
                                    <th>保管單位</th>
                                    <th>保管人</th>
                                    <th>目前成本</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td></td>
                                    <td>總行/資訊部/XX科</td>
                                    <td>陳小明</td>
                                    <td>5,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("AssetDetail","DossierSearch")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>3000031B-0000001</td>
                                    <td>電腦</td>
                                    <td>NB-ACER</td>
                                    <td>總行/資訊部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("AssetDetail","DossierSearch")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>3000031B-0000001</td>
                                    <td>電腦</td>
                                    <td>NB-VAIO</td>
                                    <td>總行/資訊部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("AssetDetail","DossierSearch")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="row bottom_ctlbar">
        <div class="col-sm-12 form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-8">
                <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
                <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
            </div>
        </div>
    </div>

    <div id="modal-form-savedata" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div align="center">
                            <h3 class="m-t-none m-b">已暫存本資料。</h3>
                            <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-form-deletedata" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div align="center">
                            <h3 class="m-t-none m-b">確定刪除嗎？</h3>
                            <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                            <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- lightbox -->

    <div id="modal-form-importdata-01" class="modal fade" aria-hidden="true">
        <div class="modal-dialog" style="width:90%">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title" style="border:0">
                                    <h5><span class="text-success">【步驟一】</span> 搜尋欲調閱地政資料的資產</h5>
                                    <div class="ibox-tools"><a data-dismiss="modal"><i class="fa fa-close"></i></a></div>
                                </div>
                                <div class="ibox-content">
                                    <form method="post" action="" class="form-horizontal">
                                        <div class="row">
                                            <div class="col-sm-12 form-group">
                                                <label for="" class="col-sm-1 control-label">財產編號</label>
                                                <div class="col-sm-5"><input type="text" class="form-control" value="" /></div>
                                            </div>

                                            <div class="col-sm-12 form-group">
                                                <label for="" class="col-sm-1 control-label">縣(市)</label>
                                                <div class="col-sm-2">
                                                    <select class="form-control" id="">
                                                        <option value="">台北市</option>
                                                        <option value="">新北市</option>
                                                        <option value="">桃園縣</option>
                                                    </select>
                                                </div>
                                                <label for="" class="col-sm-1 control-label">鄉政市區</label>
                                                <div class="col-sm-2">
                                                    <select class="form-control" id="">
                                                        <option value="">大安區</option>
                                                        <option value="">大同區</option>
                                                        <option value="">中山區</option>
                                                    </select>
                                                </div>
                                                <label for="" class="col-sm-1 control-label">段</label>
                                                <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                                                <label for="" class="col-sm-1 control-label">小段</label>
                                                <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                                            </div>

                                            <div class="col-sm-12 form-group">
                                                <label for="" class="col-sm-1 control-label">地段</label>
                                                <div class="col-sm-5"><input type="text" class="form-control" value="" /></div>
                                            </div>

                                            <div class="col-sm-12 form-group">
                                                <label for="" class="col-sm-1 control-label">地址</label>
                                                <div class="col-sm-5"><input type="text" class="form-control" value="" /></div>
                                            </div>

                                            <div class="col-sm-12 form-group">
                                                <label for="" class="col-sm-1 control-label">地號</label>
                                                <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                                <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                                            </div>

                                            <div class="col-sm-12 form-group">
                                                <label for="" class="col-sm-1 control-label">建號</label>
                                                <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                                <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                                            </div>

                                            <div class="col-sm-12 form-group">
                                                <label for="" class="col-sm-1 control-label">建物門牌</label>
                                                <div class="col-sm-5"><input type="text" class="form-control" value="" /></div>
                                            </div>


                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label for="" class="pull-right">
                                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                                    <button type="button" class="btn btn-primary"><i class="fa fa-search"> 搜 尋 </i></button>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="ibox-c-subtitle">
                                            <div class=" checkbox-list">
                                                <label><span class="text-success">【步驟二】</span>請勾選搜尋結果&nbsp;&nbsp;</label>
                                                <input type="radio" name="RadioGroup1" value="" checked><span>分頁</span>
                                                <input type="radio" name="RadioGroup1" value=""><span>全部列出</span>
                                                <div style="clear:both"></div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>項次</th>
                                                        <th>權狀執照類別</th>
                                                        <th>財產編號</th>
                                                        <th>縣(市)</th>
                                                        <th>鄉政市區</th>
                                                        <th>段</th>
                                                        <th>小段</th>
                                                        <th>地號</th>
                                                        <th>建號</th>
                                                        <th><input type="checkbox" style="vertical-align:middle"> 全選</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="lightyellow_bg">
                                                        <td>1</td>
                                                        <td>土地所有權狀</td>
                                                        <td>1019901-0002923</td>
                                                        <td>台北市</td>
                                                        <td>大安區</td>
                                                        <td>大安段</td>
                                                        <td>3</td>
                                                        <td>0255-0000</td>
                                                        <td></td>
                                                        <td><input type="checkbox" checked></td>
                                                    </tr>
                                                    <tr class="lightyellow_bg">
                                                        <td>2</td>
                                                        <td>建物所有權狀</td>
                                                        <td>2010201-0000213</td>
                                                        <td>台北市</td>
                                                        <td>大安區</td>
                                                        <td>大安段</td>
                                                        <td>3</td>
                                                        <td>&nbsp;</td>
                                                        <td>05197-000</td>
                                                        <td><input type="checkbox" checked></td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>建物所有權狀</td>
                                                        <td>2010201-0000213</td>
                                                        <td>台北市</td>
                                                        <td>大安區</td>
                                                        <td>大安段</td>
                                                        <td>3</td>
                                                        <td>&nbsp;</td>
                                                        <td>05197-000</td>
                                                        <td><input type="checkbox"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>建物所有權狀</td>
                                                        <td>2010201-0000213</td>
                                                        <td>台北市</td>
                                                        <td>大安區</td>
                                                        <td>大安段</td>
                                                        <td>3</td>
                                                        <td>&nbsp;</td>
                                                        <td>05197-000</td>
                                                        <td><input type="checkbox"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>建物所有權狀</td>
                                                        <td>2010201-0000213</td>
                                                        <td>台北市</td>
                                                        <td>大安區</td>
                                                        <td>大安段</td>
                                                        <td>3</td>
                                                        <td>&nbsp;</td>
                                                        <td>05197-000</td>
                                                        <td><input type="checkbox"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>建物所有權狀</td>
                                                        <td>2010201-0000213</td>
                                                        <td>台北市</td>
                                                        <td>大安區</td>
                                                        <td>大安段</td>
                                                        <td>3</td>
                                                        <td>&nbsp;</td>
                                                        <td>05197-000</td>
                                                        <td><input type="checkbox"></td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <nav class="text-center">
                                                <ul class="pagination">
                                                    <li class="disabled"><a>1</a></li>
                                                    <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                                    <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                                    <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                                    <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                                    <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                                    <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                                    <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                                    <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                                    <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                                    <li> <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                                                    <li> <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next"> <span aria-hidden="true">&raquo;&raquo;</span> </a> </li>
                                                </ul>
                                            </nav>
                                        </div>

                                        <div class="ibox-c-subtitle"></div>
                                        <div class="row">
                                            <div class="col-sm-12 form-group">
                                                <div class="col-sm-3"><label><span class="text-success">【步驟三】</span></label></div>
                                                <div class="col-sm-9" style="text-align:right">
                                                    <a href="G201.aspx" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-cloase"> 取 消 </i></a>
                                                    <a href="#" class="btn btn-success" data-dismiss="modal"><i class="fa fa-check"> 導入勾選資料 </i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div id="modal-form-importdata-02" class="modal fade" aria-hidden="true">
        <div class="modal-dialog" style="width:90%">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title" style="border:0">
                                    <h5><span class="text-success">【步驟一】</span> 搜尋欲維護的資產</h5>
                                    <div class="ibox-tools"><a data-dismiss="modal"><i class="fa fa-close"></i></a></div>
                                </div>
                                <div class="ibox-content">
                                    <form method="post" action="" class="form-horizontal">
                                        <div class="row">
                                            <div class="col-sm-9 form-group gutter-s">
                                                <label for="" class="col-sm-2 control-label">管轄單位</label>
                                                <div class="col-sm-3">
                                                    <select class="form-control" id="">
                                                        <option value="">3  機械及設備</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <select class="form-control" id="">
                                                        <option value="">000031  電腦端末設備</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <select class="form-control" id="">
                                                        <option value="">B  固定-自用</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>

                                            <div class="col-sm-6 form-group">
                                                <label for="" class="col-sm-3 control-label">
                                                    財產名稱<br>
                                                    (關鍵字)
                                                </label>
                                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                                            </div>

                                            <div class="col-sm-6 form-group">
                                                <label for="" class="col-sm-3 control-label">
                                                    財產別名<br>
                                                    (關鍵字)
                                                </label>
                                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                                            </div>

                                            <div class="col-sm-6 form-group">
                                                <label for="" class="col-sm-3 control-label">資產編號</label>
                                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="" class="col-sm-3 control-label">財物編號</label>
                                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="" class="col-sm-3 control-label">啟用日期</label>
                                                <div class="col-sm-4">
                                                    <div class='input-group date' data-provide="datepicker-inline">
                                                        <input type='text' class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                                <div class="col-sm-4">
                                                    <div class='input-group date' data-provide="datepicker-inline">
                                                        <input type='text' class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 form-group">
                                                <label for="" class="col-sm-3 control-label">
                                                    資產年限<br>
                                                    結束日期
                                                </label>
                                                <div class="col-sm-1" style="width:10px; padding:15; line-height:2.5em">≦</div>
                                                <div class="col-sm-4">
                                                    <div class='input-group date' data-provide="datepicker-inline">
                                                        <input type='text' class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 form-group">
                                                <label for="" class="col-sm-3 control-label">資產目前成本</label>
                                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                            </div>
                                            <div class="clearfix"></div>

                                            <div class="col-sm-9 form-group gutter-s">
                                                <label for="" class="col-sm-2 control-label">放置地點</label>
                                                <div class="col-sm-2">
                                                    <select class="form-control" id="">
                                                        <option value="">001 總行</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2">
                                                    <select class="form-control" id="">
                                                        <option value="">05 資訊部</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2">
                                                    <select class="form-control" id="">
                                                        <option value="">XX科</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2">
                                                    <select class="form-control" id="">
                                                        <option value="">XX樓</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 form-group gutter-s">
                                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                                <div class="col-sm-3">
                                                    <select class="form-control" id="">
                                                        <option value="">001 總行</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <select class="form-control" id="">
                                                        <option value="">05 資訊部</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <select class="form-control" id="">
                                                        <option value="">001 XX科</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="" class="col-sm-3 control-label">保管人</label>
                                                <div class="col-sm-6">
                                                    <select class="form-control" id="">
                                                        <option value="">023001 陳小明 </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 form-group">
                                                <label for="" class="col-sm-3 control-label">採購案號</label>
                                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                                            </div>

                                            <div class="col-sm-6 form-group">
                                                <label for="" class="col-sm-3 control-label">
                                                    廠商規格<br>
                                                    (關鍵字)
                                                </label>
                                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                                            </div>

                                            <div class="col-sm-6 form-group">
                                                <label for="" class="col-sm-3 control-label">
                                                    附屬設備<br>
                                                    (關鍵字)
                                                </label>
                                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                                            </div>

                                            <div class="col-sm-6 form-group">
                                                <label for="" class="col-sm-3 control-label">備註(關鍵字)</label>
                                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                                            </div>


                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label for="" class="pull-right">
                                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                                    <button type="button" class="btn btn-primary"><i class="fa fa-search"> 搜 尋 </i></button>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="ibox-c-subtitle">
                                            <div class=" checkbox-list">
                                                <label><span class="text-success">【步驟二】</span>請勾選搜尋結果&nbsp;&nbsp;</label>
                                                <input type="radio" name="RadioGroup1" value="" checked><span>分頁</span>
                                                <input type="radio" name="RadioGroup1" value=""><span>全部列出</span>
                                                <div style="clear:both"></div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>項次</th>
                                                        <th>資產編號</th>
                                                        <th>財產名稱</th>
                                                        <th>財產別名</th>
                                                        <th>保管單位</th>
                                                        <th>保管人</th>
                                                        <th>目前成本</th>
                                                        <th><input type="checkbox" style="vertical-align:middle"> 全選</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>3000031B-0000001</td>
                                                        <td>網路交換器</td>
                                                        <td></td>
                                                        <td>總行/資訊部/XX科</td>
                                                        <td>陳小明</td>
                                                        <td>5,000</td>
                                                        <td><input type="checkbox"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>3000031B-0000001</td>
                                                        <td>網路交換器</td>
                                                        <td></td>
                                                        <td>總行/資訊部/XX科</td>
                                                        <td>陳小明</td>
                                                        <td>15,000</td>
                                                        <td><input type="checkbox"></td>
                                                    </tr>
                                                    <tr class="lightyellow_bg">
                                                        <td>3</td>
                                                        <td>3000031B-0000001</td>
                                                        <td>網路交換器</td>
                                                        <td></td>
                                                        <td>總行/資訊部/XX科</td>
                                                        <td>陳小明</td>
                                                        <td>5,000</td>
                                                        <td><input type="checkbox" checked></td>
                                                    </tr>
                                                    <tr class="lightyellow_bg">
                                                        <td>4</td>
                                                        <td>3000031B-0000001</td>
                                                        <td>電腦</td>
                                                        <td>NB-ACER</td>
                                                        <td>總行/資訊部/XX科</td>
                                                        <td>陳小明</td>
                                                        <td>30,000</td>
                                                        <td><input type="checkbox" checked></td>
                                                    </tr>
                                                    <tr class="lightyellow_bg">
                                                        <td>5</td>
                                                        <td>3000031B-0000001</td>
                                                        <td>電腦</td>
                                                        <td>NB-VAIO</td>
                                                        <td>總行/資訊部/XX科</td>
                                                        <td>陳小明</td>
                                                        <td>30,000</td>
                                                        <td><input type="checkbox" checked></td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>3000031B-0000001</td>
                                                        <td>網路交換器</td>
                                                        <td></td>
                                                        <td>總行/資訊部/XX科</td>
                                                        <td>陳小明</td>
                                                        <td>5,000</td>
                                                        <td><input type="checkbox"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td>3000031B-0000001</td>
                                                        <td>網路交換器</td>
                                                        <td></td>
                                                        <td>總行/資訊部/XX科</td>
                                                        <td>陳小明</td>
                                                        <td>15,000</td>
                                                        <td><input type="checkbox"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td>3000031B-0000001</td>
                                                        <td>網路交換器</td>
                                                        <td></td>
                                                        <td>總行/資訊部/XX科</td>
                                                        <td>陳小明</td>
                                                        <td>5,000</td>
                                                        <td><input type="checkbox"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>9</td>
                                                        <td>3000031B-0000001</td>
                                                        <td>
                                                            電腦<br>
                                                            <span class="text-gray">(母資產)</span>
                                                        </td>
                                                        <td>MAC    001</td>
                                                        <td>總行/資訊部/XX科</td>
                                                        <td>陳小明</td>
                                                        <td>30,000</td>
                                                        <td><input type="checkbox"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td>3000031B-0000001</td>
                                                        <td>
                                                            RAM<br>
                                                            <span class="text-gray">(子資產)</span>
                                                        </td>
                                                        <td>PC-ACER</td>
                                                        <td>總行/資訊部/XX科</td>
                                                        <td>陳小明</td>
                                                        <td>30,000</td>
                                                        <td><input type="checkbox"></td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <nav class="text-center">
                                                <ul class="pagination">
                                                    <li class="disabled"><a>1</a></li>
                                                    <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                                    <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                                    <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                                    <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                                    <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                                    <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                                    <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                                    <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                                    <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                                    <li> <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                                                    <li> <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next"> <span aria-hidden="true">&raquo;&raquo;</span> </a> </li>
                                                </ul>
                                            </nav>
                                        </div>

                                        <div class="ibox-c-subtitle"></div>
                                        <div class="row">
                                            <div class="col-sm-12 form-group">
                                                <div class="col-sm-3"><label><span class="text-success">【步驟三】</span></label></div>
                                                <div class="col-sm-9" style="text-align:right">
                                                    <a href="G201.aspx" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-cloase"> 取 消 </i></a>
                                                    <a href="#" class="btn btn-success" data-dismiss="modal"><i class="fa fa-check"> 導入勾選資料 </i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script>
document.getElementById("uploadBtn1").onchange = function () {
document.getElementById("uploadFile1").value = this.files[0].name;
};

    </script>
