﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>租賃攤銷設定</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">租賃管理</a>
            </li>
            <li>
                <a href="#">租賃攤銷設定</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-9 form-group gutter-s">
                                <label for="" class="col-sm-2 control-label">資產分類</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">9  資產改良</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">000001  租賃權益改良物</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">B  固定-自用</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">
                                    財產名稱<br>
                                    (關鍵字)
                                </label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">
                                    財產別名<br>
                                    (關鍵字)
                                </label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產編號</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">財物編號</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">啟用日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">
                                    資產年限<br>
                                    結束日期
                                </label>
                                <div class="col-sm-1" style="width:10px; padding:15; line-height:2.5em">≦</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產目前成本</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group gutter-s">
                                <label for="" class="col-sm-2 control-label">放置地點</label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="">
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" id="">
                                        <option value="">08 產權部</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" id="">
                                        <option value="">XX科</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" id="">
                                        <option value="">XX樓</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">08 產權部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">保管人</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">023001 陳小明 </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">採購案號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">
                                    廠商規格<br>
                                    (關鍵字)
                                </label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">
                                    附屬設備<br>
                                    (關鍵字)
                                </label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註(關鍵字)</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>


                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                    <button type="button" class="btn btn-primary"><i class="fa fa-search"> 搜 尋 </i></button>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div>
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <div class=" checkbox-list">
                                        <label>資產清單&nbsp;&nbsp;</label>
                                        <input type="radio" name="RadioGroup1" value="" checked><span>分頁</span>
                                        <input type="radio" name="RadioGroup1" value=""><span>全部列出</span>
                                        <div style="clear:both"></div>
                                    </div>

                                </td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>資產編號</th>
                                    <th>財產名稱</th>
                                    <th>財產別名</th>
                                    <th>保管單位</th>
                                    <th>保管人</th>
                                    <th>目前成本</th>
                                    <th>檢視</th>
                                    <th><input type="checkbox" style="vertical-align:middle" checked> 是否攤銷</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>5,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail","LeaseRightsAdded")" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>15,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail","LeaseRightsAdded")" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>5,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail","LeaseRightsAdded")" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td>圍籬</td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail","LeaseRightsAdded")" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td>裝潢</td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail","LeaseRightsAdded")" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>5,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail","LeaseRightsAdded")" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>15,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail","LeaseRightsAdded")" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>5,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail","LeaseRightsAdded")" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>9000001-0000001</td>
                                    <td>
                                        廠房<br>
                                        <span class="text-gray">(母資產)</span>
                                    </td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail","LeaseRightsAdded")" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>9000001-0000001</td>
                                    <td>
                                        檢驗費<br>
                                        <span class="text-gray">(子資產)</span>
                                    </td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail","LeaseRightsAdded")" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"><span class="text-success">【步驟三】</span></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-splitdata" class="btn btn-success" data-toggle="modal"><i class="fa fa-long-arrow-right"> 提 交 </i></a>
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger"><i class="fa fa-trash"> 刪 除 </i></a>
            <a href="#modal-form-invaliddata" data-toggle="modal" class="btn btn-danger" style="display:none"><i class="fa fa-trash"> 作 廢 </i></a>
            <a href="D205.aspx" class="btn btn-success" style="display:none"><i class="fa fa-envelope-o"> 寄送保管人簽收單 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
            <div class="bottom_desc" align="right" style="display:none">
                <span style="color: #1c84c6;">已簽收數量：123 / 150 </span><a>(查閱明細)</a><br>
                <i class="fa fa-warning"></i><span>核准後已自動發信給保管人，此處點擊可以再次發信通知，已簽收數量也會重新計算。 </span>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-splitdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定提交嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-deletedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定刪除嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-invaliddata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定作廢嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>