﻿@using InspiniaWebAdminTemplate.Models.UserRole
@model IndexViewModel

@{
    ViewBag.Title = "UserRole";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>人員權限控制管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">登入角色管理</a>
            </li>
            <li>
                <a href="#">角色維護</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form id="header" action="@Url.Action("Index")" method="post" class="form-horizontal">

                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-sm-6" align="left">
                                <label for="text" class="col-sm-4 control-label">事務處理編碼</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextBox("FlowCode", Model.Condition.FlowCode, new { @class = "text-input form-control", @type = "text" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6" align="left">
                                <label for="text" class="col-sm-4 control-label">狀態</label>
                                <div class="input-group col-sm-8">
                                    @Html.DropDownList("Status", (IEnumerable<SelectListItem>)ViewBag.StatusList, "請選擇", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-6" align="center">
                                <label for="text" class="col-sm-4 control-label">單據類別</label>
                                <div class="input-group col-sm-8">
                                    @Html.DropDownList("Type", (IEnumerable<SelectListItem>)ViewBag.TypeList, "請選擇", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <label for="" class="col-sm-6" align="right">
                                <button id="saveBtn" type="submit" class="btn btn-primary"><i class="fa">查詢</i></button>
                                <button id="resetBtn" type="reset" class="btn btn-primary"><i class="fa">清除</i></button>
                            </label>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

               
                <div class="ibox-content">  
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  @Model.TotalAmount 筆 第 @Model.Condition.Page 頁</label>
                                    <a class="btn btn-sm btn-default"  href="@Url.Action("Index", "Home")">回上頁</a>
                                    <a class="btn btn-sm btn-primary"  href="@Url.Action("FormIndex", new { flowCode = "" })">新增</a>
                                </td>
                            </tr>
                        </table>

                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>事務處理編號</th>
                                    <th>事務處理日期</th>
                                    <th>單據類別</th>
                                    <th>數量</th>
                                    <th>承辦人員</th>
                                    <th>簽核狀態</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>

                            <tbody>

                                @for (var index = 0; index < Model.Items.Count; ++index) {
                                    var item = Model.Items[index];
                                    <tr>
                                        <td>@(index + 1)</td>
                                        <td>@item.FlowCode</td>
                                        <td>@item.FlowDate</td>
                                        <td>@item.Type</td>
                                        <td>@item.Count</td>
                                        <td>@item.AppliedUser</td>
                                        <td>@item.Status</td>
                                        <td>
                                            <a class="btn btn-primary btn-circle" href="@Url.Action("ShowForm", new { flowCode = item.FlowCode })" title="編輯">
                                                <i class="glyphicon glyphicon-list "></i>
                                            </a>
                                        </td>
                                    </tr>
                                }

                          </tbody>

                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-submit" name="dialogModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">是否要提交此資料?</h3>
                        <form method="POST" action="@Url.Action("Submit")" style="display:inline-block;" id="form-delete">
                            @Html.AntiForgeryToken()
                            <button class="btn btn-sm btn-danger" type="submit"><strong>是</strong></button>
                        </form>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>否</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-discard" name="dialogModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">是否要作廢此資料?</h3>
                        <p>作廢後，資料無法回復。</p>
                        <form method="POST" action="@Url.Action("Discard")" style="display:inline-block;" id="form-delete">
                            @Html.AntiForgeryToken()
                            <button class="btn btn-sm btn-danger" type="submit"><strong>是</strong></button>
                        </form>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>否</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.TotalAmount,//資料庫總筆數
                    page_size: @Model.Condition.PageSize,//單頁筆數
                    page_now: @Model.Condition.Page,//當前頁
                    center_page: @Model.Condition.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });
            
            // 為了只有在表頭為職務輪調的時候才顯示異用的按紐
            $("input[name=Type]").change( function () {
                var changeEle = $("#changeEle");

                if (this.value == 2){
                    changeEle.attr("style", "");
                }
                else {
                    changeEle.attr("style", "display:none");
                }
            });

            $('[data-toggle="tooltip"]').tooltip();             

        })(jQuery);

    </script>
}
