﻿@{
    ViewBag.Title = "出租契約履約管理";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>繳款單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "ApprovalRole")">首頁</a>
            </li>
            <li>
                <a href="#">繳款單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>租金、使用補償金繳款單管理作業</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="" class="form-horizontal">

                        <div class="row">

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">管轄單位</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">租約類別</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">租約類型</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                        
                        </div>

                        <div class="row">

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">繳款方式</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">租約編號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                         </div>

                        <div class="row">

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">繳款狀態</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">業務別</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">承租人姓名</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">繳款期別</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-8" align="right">
                                    <button type="button" class="btn btn-primary"><i class="fa fa-search">查詢</i></button>
                                    <button type="button" class="btn btn-success"><i class="fa fa-trash">列印繳款單</i></button>
                                    <button type="button" class="btn btn-info"><i class="fa fa-trash">匯出電子發票媒體檔</i></button>
                                    <button type="button" class="btn btn-warning"><i class="fa fa-search">匯出委託代繳媒體檔</i></button>
                                    <button type="button" class="btn btn-danger"><i class="fa fa-trash">匯出EC代收媒體檔</i></button>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

               
                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th>選擇</th>
                                    <th>送審</th>
                                    <th>抽回</th>
                                    <th>流程</th>
                                    <th>處理</th>
                                    <th>管轄單位</th>
                                    <th>租約編號</th>
                                    <th>繳款期別</th>
                                    <th>帳號</th>
                                    <th>業務別</th>
                                    <th>租約類別</th>
                                    <th>繳款期限</th>
                                    <th>繳款可延遲日</th>
                                    <th>應繳金額（未稅）</th>
                                    <th>稅額</th>
                                    <th>應繳金額（含稅）</th>
                                    <th>繳款金額</th>
                                    <th>減免金額</th>
                                    <th>單據狀態</th>
                                </tr>
                            </thead>

                            <tbody>

                                @for (int index = 0; index <= 9; ++index)
                                {
                                    <tr>
                                        <td>@(index+1)</td>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                        <td></td>
                                        <td><input type="checkbox" checked></td>
                                        <td><i class="fa fa-book"></i></td>
                                        <td><i class="fa fa-floppy-o"></i></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }



                          </tbody>

                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


