﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>檢視資產</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">綜合查詢</a>
            </li>
            <li>
                <a href="#">檢視資產</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">

                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">帳本</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">NTD_MP_IFRS</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">資產編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="1010202-0000036" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">單位量</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="1" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">啟用日期</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="45/10/17" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">原資產編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="0100000643" disabled /></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">資產分類</label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="" disabled>
                                        <option value="">1.010202.B</option>
                                    </select>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control " value="土地-營業用房屋基地-固定-自用" disabled />
                                </div>
                            </div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">放置地點</label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="" disabled>
                                        <option value="">001.045</option>
                                    </select>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control " value="總行-和平分行" disabled />
                                </div>
                            </div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">摘要</label>
                                <div class="col-sm-9"><input type="text" class="form-control " value="臺北市大安區大安段三小段0258-0000地號" disabled /></div>
                            </div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">都更案號</label>
                                <div class="col-sm-9"><input type="text" class="form-control " value="" disabled /></div>
                            </div>

                        </div>

                        <div class="ibox-c-subtitle">土地標示</div>

                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">縣市</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">臺北市</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">鄉鎮市區</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="大安區" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">段</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="大安段" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">小段</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="三小段" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">母地號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="0258" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">子地號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="0000" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">權狀字號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="92北大字第21000號" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">地政事務所</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="大安" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">整筆面積</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="905.00" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">權利範圍</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="1" disabled /></div>
                            </div>


                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">/</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="1" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">權利面積</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="905.00" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">自用面積</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="705.00" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">非自用面積</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="205.00" disabled /></div>
                            </div>


                        </div>

                        <div class="ibox-c-subtitle">資產狀況</div>

                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">使用現況</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">部分出租出借佔用空置</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">業務別</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">自用</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">使用分區</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">特定休閒旅館住宅專用區</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">取得方式</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">承受抵償日產債務</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">畸零地否</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">否</option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                        </div>

                        <div class="ibox-c-subtitle">帳務資料</div>

                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">取得成本</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="85,860" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">累計減損</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="0" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">帳面金額</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="1,266,066" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">未實現重估增值</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="0" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">估計應付土地增值稅</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="0" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">帳面金額-重估增值</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="0" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">營業用面積</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="905.00" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">營業用帳面金額</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="1,266,066" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">營業用帳面金額-重估增值</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="212,769,149" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">非營業用面積</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="0" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">非營業用帳面金額</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="0" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">非營業用帳面金額-重估增值</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="0" disabled /></div>
                            </div>
                            <div class="clearfix"></div>

                        </div>

                        <div class="ibox-c-subtitle">稅務及公告資料</div>

                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">年度</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="106" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">公告現值</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="236,503" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">公告地價</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="60,862" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">稅種</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">公共設施保留地</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">減免原因</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">巷道用地減免</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">移轉地價</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="0" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">減免面積</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value=" " disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">申報地價</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value=" " disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">應繳稅額</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value=" " disabled /></div>
                            </div>

                        </div>

                        <div class="ibox-c-subtitle">備註事項</div>

                        <div class="row">

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">備註事項1</label>
                                <div class="col-sm-8"><input type="text" class="form-control " value="" disabled /></div>
                            </div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">備註事項2</label>
                                <div class="col-sm-9"><input type="text" class="form-control " value="" disabled /></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>房屋建物</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>財產編號</th>
                                        <th>房屋標示</th>
                                        <th>門牌</th>
                                        <th>Google地圖</th>
                                        <th>檢視</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2010203-0000001</td>
                                        <td>台北市大安區大安路三小段123地號</td>
                                        <td>台北市館前路46號</td>
                                        <td><a href="https://www.google.com.tw/maps/place/100%E5%8F%B0%E5%8C%97%E5%B8%82%E4%B8%AD%E6%AD%A3%E5%8D%80%E9%A4%A8%E5%89%8D%E8%B7%AF46%E8%99%9F/25.0442211,121.5150377,17z/data=!4m13!1m7!3m6!1s0x3442a973457f0de3:0x120d1556844de253!2zMTAw5Y-w5YyX5biC5Lit5q2j5Y2A6aSo5YmN6LevNDbomZ8!3b1!8m2!3d25.0441134!4d121.5147336!3m4!1s0x3442a973457f0de3:0x120d1556844de253!8m2!3d25.0441134!4d121.5147336" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                        <td><a class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>評估紀錄</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>評估起案時間</td>
                                        <td>評估方式</td>
                                        <td>土地帳面價值</td>
                                        <td>查估土地市場價值</td>
                                        <td>單據編號</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>106-04-15    12:00</td>
                                        <td>土地評估</td>
                                        <td>386,269,650.60</td>
                                        <td>690,450,000.00</td>
                                        <td><a>1060415H400000001</a></td>
                                    </tr>
                                    <tr>
                                        <td>105-04-15 10:00</td>
                                        <td>土地評估</td>
                                        <td>200,269,650.60</td>
                                        <td>340,450,000.00</td>
                                        <td><a>1050415H400000001</a></td>
                                    </tr>
                                    <tr>
                                        <td>104-04-01 10:00</td>
                                        <td>土地評估</td>
                                        <td>99,269,650.60</td>
                                        <td>120,450,000.00</td>
                                        <td><a>1040401H400000001</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>巡查紀錄</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>巡查起案時間</th>
                                        <th>巡查方式</th>
                                        <th>巡查狀況</th>
                                        <th>單據編號</th>
                                        <th>摘要</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>106-04-15    12:00</td>
                                        <td>總行指定巡查</td>
                                        <td>疑似占用</td>
                                        <td><a>1060415I200000001</a></td>
                                        <td>106-04    巡查</td>
                                    </tr>
                                    <tr>
                                        <td>105-04-15 10:00</td>
                                        <td>總行指定巡查</td>
                                        <td>正常</td>
                                        <td><a>1050415I200000001</a></td>
                                        <td>105-04 巡查</td>
                                    </tr>
                                    <tr>
                                        <td>104-04-01 10:00</td>
                                        <td>總行指定巡查</td>
                                        <td>正常</td>
                                        <td><a>1040401I200000001</a></td>
                                        <td>104-04    巡查</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>活化紀錄</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>活化進度回報時間</th>
                                        <th>活化類型</th>
                                        <th>資產活化進度單編號</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>106-04-15    12:00</td>
                                        <td>標租</td>
                                        <td><a>1060415J300000001</a></td>
                                    </tr>
                                    <tr>
                                        <td>106-03-15 10:00</td>
                                        <td>標租</td>
                                        <td><a>1060315J300000001</a></td>
                                    </tr>
                                    <tr>
                                        <td>106-02-15 10:00</td>
                                        <td>標租</td>
                                        <td><a>1060215J300000001</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>租約資料</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>租約編號</th>
                                        <th>標的物</th>
                                        <th>租約事務</th>
                                        <th>管轄單位</th>
                                        <th>帳號</th>
                                        <th>租賃期間</th>
                                        <th>備註</th>
                                        <th>檢視</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>000-105-001</td>
                                        <td>屏東縣高樹鄉中段512地號</td>
                                        <td>新租</td>
                                        <td>台北分行/XX科</td>
                                        <td>北-08000</td>
                                        <td>106/1/1~106/12/31</td>
                                        <td></td>
                                        <td><a class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>租金銷帳記錄</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>收款日期</th>
                                        <th>繳款類型</th>
                                        <th>繳款單編號</th>
                                        <th>摘要</th>
                                        <th>記帳</th>
                                        <th>金額</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>106-07-30</td>
                                        <td>AA 租金</td>
                                        <td>1060730-000001</td>
                                        <td>106-07 租金</td>
                                        <td>已入帳</td>
                                        <td>60,000</td>
                                    </tr>
                                    <tr>
                                        <td>106-08-31</td>
                                        <td>AA 租金</td>
                                        <td>1060831-000001</td>
                                        <td>106-08 租金</td>
                                        <td>已入帳</td>
                                        <td>60,000</td>
                                    </tr>
                                    <tr>
                                        <td>106-09-30</td>
                                        <td>AA 租金</td>
                                        <td>1060930-000001</td>
                                        <td>106-09 租金</td>
                                        <td>已入帳</td>
                                        <td>60,000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>繳款/催繳紀錄</label>
                                    </td>
                                    <td style="text-align: right">
                                        上次繳款日 <span class="text-success" style="margin-right:20px">106-2-1</span>
                                        預期下次繳款日 <span class="text-success" style="margin-right:20px">106-6-5</span>
                                        欠繳狀況 <span class="text-danger" style="margin-right:20px">逾期 69 日</span>
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>繳款/催繳起案時間</th>
                                        <th>行為/催繳方式</th>
                                        <th>繳款金額</th>
                                        <th>單據編號</th>
                                        <th>摘要</th>
                                        <th>案件狀況</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>106-04-15    12:00</td>
                                        <td><span class="text-danger">函催</span></td>
                                        <td></td>
                                        <td><a>1060415G200000001</a></td>
                                        <td>106-04    函催</td>
                                        <td>執行中</td>
                                    </tr>
                                    <tr>
                                        <td>106-03-15 10:00</td>
                                        <td><span class="text-danger">電話催繳</span></td>
                                        <td></td>
                                        <td><a>1060315G200000001</a></td>
                                        <td>106-03 電話催繳</td>
                                        <td>結案</td>
                                    </tr>
                                    <tr>
                                        <td>106-02-01 10:00</td>
                                        <td>繳款</td>
                                        <td>51,000</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-6 col-sm-offset-6">
        <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-arrow-left"> 返 回 </i></a>
    </div>
</div>