﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>綜合查詢</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">綜合查詢</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">租約類型</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="radio" name="radiogroup1" checked><span>土地</span>
                                    <input type="radio" name="radiogroup1" onChange="location.href='@Url.Action("Q200")'"><span>房屋</span>
                                    <input type="radio" name="radiogroup1" onChange="location.href='@Url.Action("Q300")'"><span>動產</span>
                                    <input type="radio" name="radiogroup1" onChange="location.href='@Url.Action("Q400")'"><span>出租租約</span>
                                    <input type="radio" name="radiogroup1" onChange="location.href='@Url.Action("Q500")'"><span>承租租約</span>
                                    <input type="radio" name="radiogroup1" onChange="location.href='@Url.Action("Q600")'"><span>租賃權益</span>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">008 產權部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group gutter-s">
                                <label for="" class="col-sm-2 control-label">資產分類</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">1 土地</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">010202 營業用房屋基地</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">B 固定-自用</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產編號</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">啟用日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-12 form-group">
                                <div class="col-sm-3">
                                    <label for="" class="col-sm-6 control-label">縣市</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="">
                                            <option value="">台北市</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="" class="col-sm-6 control-label">鄉鎮市區</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="">
                                            <option value="">大安區</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="" class="col-sm-6 control-label">段</label>
                                    <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                                </div>
                                <div class="col-sm-3">
                                    <label for="" class="col-sm-6 control-label">小段</label>
                                    <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">地號</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">地址</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">摘要(關鍵字)</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>


                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                    <button type="button" class="btn btn-primary"><i class="fa fa-search"> 搜 尋 </i></button>
                                </label>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>搜尋結果</label>
                                </td>
                                <td style="text-align: right">
                                    <a href="/download/report_1.xls" class="btn btn-gray"><i class="fa fa-arrow-right"> 匯出報表</i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>土地財產編號</th>
                                    <th>資產分類</th>
                                    <th>土地坐落</th>
                                    <th>土地所屬單位</th>
                                    <th>土地面積(m2)</th>
                                    <th>土地帳面價值</th>
                                    <th>查估土地市場價值</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1010202-0002706</td>
                                    <td>1.010202.B</td>
                                    <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                    <td>基隆分行</td>
                                    <td>1,879.00</td>
                                    <td>7,167,570.00</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>1010202-0002706</td>
                                    <td>1.010202.B</td>
                                    <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                    <td>大安分行</td>
                                    <td>1,879.00</td>
                                    <td>7,167,570.00</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>1010202-0002706</td>
                                    <td>1.010202.B</td>
                                    <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                    <td>大安分行</td>
                                    <td>1,879.00</td>
                                    <td>7,167,570.00</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>1010202-0002706</td>
                                    <td>1.010202.B</td>
                                    <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                    <td>仁愛分行</td>
                                    <td>1,879.00</td>
                                    <td>7,167,570.00</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>1010202-0002706</td>
                                    <td>1.010202.B</td>
                                    <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                    <td>仁愛分行</td>
                                    <td>1,879.00</td>
                                    <td>7,167,570.00</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>1010202-0002706</td>
                                    <td>1.010202.B</td>
                                    <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                    <td>基隆分行</td>
                                    <td>1,879.00</td>
                                    <td>7,167,570.00</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>1010202-0002706</td>
                                    <td>1.010202.B</td>
                                    <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                    <td>大安分行</td>
                                    <td>1,879.00</td>
                                    <td>7,167,570.00</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>1010202-0002706</td>
                                    <td>1.010202.B</td>
                                    <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                    <td>大安分行</td>
                                    <td>1,879.00</td>
                                    <td>7,167,570.00</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>1010202-0002706</td>
                                    <td>1.010202.B</td>
                                    <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                    <td>仁愛分行</td>
                                    <td>1,879.00</td>
                                    <td>7,167,570.00</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>1010202-0002706</td>
                                    <td>1.010202.B</td>
                                    <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                    <td>仁愛分行</td>
                                    <td>1,879.00</td>
                                    <td>7,167,570.00</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>