﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>檢視資產</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">綜合查詢</a>
            </li>
            <li>
                <a href="#">檢視資產</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">

                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">帳本</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">NTD_MP_IFRS</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">資產編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="1010202-0000036" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label"><span style="color: red">*</span> 單位量</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="1" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">啟用日期</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="100/06/05" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">原資產編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="0" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">折舊方式</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">FSTL</option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-1 control-label" style="width:10.6%"><span style="color: red">*</span> 資產分類</label>
                                <div class="col-sm-5">
                                    <select class="form-control" style="width:30%;float:left" disabled>
                                        <option value="">1.010202.B</option>
                                    </select>
                                    <input type="text" class="form-control" style="width:65%;float:left;margin-left:10px" value="土地-營業用房屋基地-固定-自用" disabled />
                                </div>
                                <label for="" class="col-sm-1 control-label"><span style="color: red">*</span> 使用年限</label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control " value="" disabled />
                                </div>
                                <label for="" class="col-sm-1 control-label">月數</label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control " value="" disabled />
                                </div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-1 control-label" style="width:10.6%"><span style="color: red">*</span> 放置地點</label>
                                <div class="col-sm-6">
                                    <select class="form-control" style="width:30%;float:left" disabled>
                                        <option value="">001.138.000</option>
                                    </select>
                                    <input type="text" class="form-control" style="width:65%;float:left;margin-left:10px" value="總行-和平分行-不分科別" disabled />
                                </div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-3 control-label" style="width:10.6%"><span style="color: red">*</span> 摘要</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="臺北市金山南路二段165號1~3樓-主建物" disabled /></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-1 control-label" style="width:10.6%">都更案號</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="" disabled /></div>
                                <label for="" class="col-sm-2 control-label">權利面積總數</label>
                                <div class="col-sm-1"><input type="text" class="form-control " value="" disabled /></div>
                            </div>

                        </div>

                        <div class="ibox-c-subtitle">建物標示</div>

                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label"><span style="color: red">*</span> 縣市</label>
                                <div class="col-sm-6">
                                    <select class="form-control lightyellow_bg" id="" disabled>
                                        <option value="">臺北市</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">鄉鎮市區</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="大安區" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">段</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="金華段" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">小段</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="二小段" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label"><span style="color: red">*</span> 建號</label>
                                <div class="col-sm-6"><input type="text" class="form-control lightyellow_bg" value="4668" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label"></label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label"><span style="color: red">*</span> 權狀字號</label>
                                <div class="col-sm-6"><input type="text" class="form-control lightyellow_bg" value="98北松字第21000號" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label"><span style="color: red">*</span> 地政事務所</label>
                                <div class="col-sm-6"><input type="text" class="form-control lightyellow_bg" value="松山" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label"><span style="color: red">*</span> 本建議總樓層</label>
                                <div class="col-sm-6"><input type="text" class="form-control lightyellow_bg" value="9" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label"><span style="color: red">*</span> 構造</label>
                                <div class="col-sm-6"><input type="text" class="form-control lightyellow_bg" value="鋼筋混泥土" disabled /></div>
                            </div>


                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label"><span style="color: red">*</span> 門牌</label>
                                <div class="col-sm-6"><input type="text" class="form-control lightyellow_bg" value="金山南路二段165號" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">權利面積</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="543.44" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">自用面積</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="400.00" disabled /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">非自用面積</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="143.44" disabled /></div>
                            </div>

                            <div class="clearfix"></div>
                        </div>

                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>土地持份</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>土地財產編號</th>
                                        <th>地段</th>
                                        <th>母地號</th>
                                        <th>子地號</th>
                                        <th>面積</th>
                                        <th>
                                            權利範圍<br>
                                            (分子)
                                        </th>
                                        <th>
                                            權利範圍<br>
                                            (分母)
                                        </th>
                                        <th>權利面積</th>
                                        <th>
                                            土地對應<br>
                                            建物分配<br>
                                            (分子)
                                        </th>
                                        <th>
                                            土地對應<br>
                                            建物分配<br>
                                            (分母)
                                        </th>
                                        <th>
                                            土地對應<br>
                                            建物分配<br>
                                            (面積)
                                        </th>
                                        <th>面積</th>
                                        <th>檢視</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1010202-0002924</td>
                                        <td>金華段    二小段</td>
                                        <td>0863</td>
                                        <td>0000</td>
                                        <td>905.00</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>905.00</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><a class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>1010202-0002924</td>
                                        <td>金華段    二小段</td>
                                        <td>0863</td>
                                        <td>0000</td>
                                        <td>905.00</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>905.00</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><a class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>建物用途</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>財產類型</th>
                                        <th>樓層用途</th>
                                        <th>自用面積</th>
                                        <th>非自用面積</th>
                                        <th>面積</th>
                                        <th>
                                            權利範圍<br>
                                            (分子)
                                        </th>
                                        <th>
                                            權利範圍<br>
                                            (分母)
                                        </th>
                                        <th>權利面積</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>主建物</td>
                                        <td>一層</td>
                                        <td></td>
                                        <td></td>
                                        <td>187.29</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>187.29</td>
                                    </tr>
                                    <tr>
                                        <td>主建物</td>
                                        <td>二層</td>
                                        <td></td>
                                        <td></td>
                                        <td>207.41</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>207.41</td>
                                    </tr>
                                    <tr>
                                        <td>附屬建物</td>
                                        <td>陽台</td>
                                        <td></td>
                                        <td></td>
                                        <td>18.61</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>18.61</td>
                                    </tr>
                                    <tr>
                                        <td>附屬建物</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>3.04</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>3.04</td>
                                    </tr>
                                    <tr>
                                        <td>公設</td>
                                        <td>共有部分</td>
                                        <td></td>
                                        <td></td>
                                        <td>127.09</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>127.09</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="ibox-c-subtitle">權屬</div>

                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label"><span style="color: red">*</span> 使用現況</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">部分出租出借佔用空置</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label"><span style="color:red">*</span>取得方式</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">承受抵償日產債務</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label"><span style="color: red">*</span> 業務別</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">自用</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="ibox-c-subtitle">帳務資料</div>

                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">取得成本</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="6,074,103.00" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">累計減損</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="0" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label"><span style="color:red">*</span>帳面金額</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="6,567,536.00" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">未實現重估增值</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="0" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">累計折舊</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="3,187,832.34" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">帳面金額-重估增值</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="0" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label"><span style="color:red">*</span> 殘值</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="0.00" disabled /></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">營業用面積</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="809.89" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">營業用帳面金額</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="6,472,346.00" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">營業用房屋累計折舊</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="752,299.29" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">非營業用面積</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="0" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">非營業用帳面金額</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="0" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">非營業用房屋累計折舊</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="0" disabled /></div>
                            </div>
                            <div class="clearfix"></div>

                        </div>

                        <div class="ibox-c-subtitle">備註事項</div>

                        <div class="row">

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">備註事項1</label>
                                <div class="col-sm-8"><input type="text" class="form-control " value="" disabled /></div>
                            </div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">備註事項2</label>
                                <div class="col-sm-9"><input type="text" class="form-control " value="" disabled /></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>


                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>評估紀錄</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>評估起案時間</td>
                                        <td>評估方式</td>
                                        <td>房屋帳面價值</td>
                                        <td>查估土地市場價值</td>
                                        <td>單據編號</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>106-04-15    12:00</td>
                                        <td>土地評估</td>
                                        <td>386,269,650.60</td>
                                        <td>690,450,000.00</td>
                                        <td><a>1060415H400000001</a></td>
                                    </tr>
                                    <tr>
                                        <td>105-04-15 10:00</td>
                                        <td>土地評估</td>
                                        <td>200,269,650.60</td>
                                        <td>340,450,000.00</td>
                                        <td><a>1050415H400000001</a></td>
                                    </tr>
                                    <tr>
                                        <td>104-04-01 10:00</td>
                                        <td>土地評估</td>
                                        <td>99,269,650.60</td>
                                        <td>120,450,000.00</td>
                                        <td><a>1040401H400000001</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>巡查紀錄</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>巡查起案時間</th>
                                        <th>巡查方式</th>
                                        <th>巡查狀況</th>
                                        <th>單據編號</th>
                                        <th>摘要</th>
                                        <th>案件狀況</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>106-04-15    12:00</td>
                                        <td>總行指定巡查</td>
                                        <td>疑似占用</td>
                                        <td><a>1060415I200000001</a></td>
                                        <td>106-04    巡查</td>
                                        <td>結案</td>
                                    </tr>
                                    <tr>
                                        <td>105-04-15 10:00</td>
                                        <td>總行指定巡查</td>
                                        <td>正常</td>
                                        <td><a>1050415I200000001</a></td>
                                        <td>105-04 巡查</td>
                                        <td>結案</td>
                                    </tr>
                                    <tr>
                                        <td>104-04-01 10:00</td>
                                        <td>總行指定巡查</td>
                                        <td>正常</td>
                                        <td><a>1040401I200000001</a></td>
                                        <td>104-04    巡查</td>
                                        <td>結案</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>活化紀錄</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>活化進度回報時間</th>
                                        <th>活化類型</th>
                                        <th>資產活化進度單編號</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>106-04-15    12:00</td>
                                        <td>標租</td>
                                        <td><a>1060415J300000001</a></td>
                                    </tr>
                                    <tr>
                                        <td>106-03-15 10:00</td>
                                        <td>標租</td>
                                        <td><a>1060315J300000001</a></td>
                                    </tr>
                                    <tr>
                                        <td>106-02-15 10:00</td>
                                        <td>標租</td>
                                        <td><a>1060215J300000001</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>租約資料</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>租約編號</th>
                                        <th>標的物</th>
                                        <th>租約事務</th>
                                        <th>管轄單位</th>
                                        <th>帳號</th>
                                        <th>租賃期間</th>
                                        <th>備註</th>
                                        <th>檢視</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>000-105-001</td>
                                        <td>屏東縣高樹鄉中段512地號</td>
                                        <td>新租</td>
                                        <td>台北分行/XX科</td>
                                        <td>北-08000</td>
                                        <td>106/1/1~106/12/31</td>
                                        <td></td>
                                        <td><a class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>租金銷帳記錄</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>收款日期</th>
                                        <th>繳款類型</th>
                                        <th>繳款單編號</th>
                                        <th>摘要</th>
                                        <th>記帳</th>
                                        <th>金額</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>106-07-30</td>
                                        <td>AA 租金</td>
                                        <td>1060730-000001</td>
                                        <td>106-07 租金</td>
                                        <td>已入帳</td>
                                        <td>60,000</td>
                                    </tr>
                                    <tr>
                                        <td>106-08-31</td>
                                        <td>AA 租金</td>
                                        <td>1060831-000001</td>
                                        <td>106-08 租金</td>
                                        <td>已入帳</td>
                                        <td>60,000</td>
                                    </tr>
                                    <tr>
                                        <td>106-09-30</td>
                                        <td>AA 租金</td>
                                        <td>1060930-000001</td>
                                        <td>106-09 租金</td>
                                        <td>已入帳</td>
                                        <td>60,000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>繳款/催繳紀錄</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>繳款/催繳起案時間</th>
                                        <th>行為/催繳方式</th>
                                        <th>繳款金額</th>
                                        <th>單據編號</th>
                                        <th>摘要</th>
                                        <th>案件狀況</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>106-04-15    12:00</td>
                                        <td>函催</td>
                                        <td></td>
                                        <td><a>1060415G200000001</a></td>
                                        <td>106-04    函催</td>
                                        <td>執行中</td>
                                    </tr>
                                    <tr>
                                        <td>106-03-15 10:00</td>
                                        <td>電話催繳</td>
                                        <td></td>
                                        <td><a>1060315G200000001</a></td>
                                        <td>106-03 電話催繳</td>
                                        <td>結案</td>
                                    </tr>
                                    <tr>
                                        <td>106-02-01 10:00</td>
                                        <td>繳款</td>
                                        <td>51,000</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-6 col-sm-offset-6">
        <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-arrow-left"> 返 回 </i></a>
    </div>
</div>