﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 檢視資產</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">綜合查詢</a>
            </li>
            <li>
                <a href="#">檢視資產</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row" style="margin-bottom: 80px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>檢視資產</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">母資產</label>
                                <div class="col-sm-9"><span style="line-height:2.5em">無母資產</span></div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">國內/海外資產</label>
                                <div class="col-sm-9">
                                    <label style="padding-top:6px">
                                        <input type="radio" name="radioset1" value="" id="" checked disabled>
                                        <span style="font-weight:normal;padding-right:10px">國內資產</span>
                                        <input type="radio" name="radioset1" value="" id="" disabled>
                                        <span style="font-weight:normal">海外資產</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group gutter-s">
                                <label for="" class="col-sm-2 control-label">資產分類</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">3. 機械與設備</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">000031 電腦端末設備</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">B 固定-自用</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>


                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">財產名稱</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="網路交換器" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">財產別名</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="總行網路交換機" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="3000031-0000001" disabled /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">原資產編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="311-0000001" disabled /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="col-sm-3 control-label">耐用年限</label>
                                <div class="col-sm-3 text-lineH-fix">
                                    <input type="text" class="form-control" value="3" style="width:70%;float:left " disabled />
                                    </select> <span style="float:left; padding-left:10px;">年</span>
                                </div>
                                <div class="col-sm-3 text-lineH-fix">
                                    <input type="text" class="form-control" value="8" style="width:70%;float:left " disabled />
                                    </select> <span style="float:left; padding-left:10px;">月</span>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">財物編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" disabled /></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">折舊方式</label>
                                <div class="col-sm-6" style="padding: 0 5px 0 15px">
                                    <select class="form-control" id="" disabled>
                                        <option value="">STL</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳本</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="NTD_MP_IFRS" disabled /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">啟用日期</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="106-01-01" disabled /><span class="fa fa-calendar-o icon-in-box"></span></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單位量</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="1" disabled /></div>
                            </div>
                            <div class="clearfix"></div>


                            <div class="col-sm-9 form-group gutter-s">
                                <label for="" class="col-sm-2 control-label">放置地點</label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="" disabled>
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" id="" disabled>
                                        <option value="">05 資訊部</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" id="" disabled>
                                        <option value="">XX科</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" id="" disabled>
                                        <option value="">XX樓</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" id="" disabled>
                                        <option value="">XXXXXX</option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-12 form-group">
                                <label class="col-sm-2 control-label" style="width:12.5%">資產會計科目</label>
                                <div class="col-sm-5 text-lineH-fix">
                                    分錄(借) 301300 <span style="color:#999">資產取得-自用/機械及設備取得</span>
                                </div>
                                <div class="col-sm-5 text-lineH-fix">
                                    會計科目(借) 153101003 <span style="color:#999">機械及設備-電腦端末設備</span>
                                </div>
                                <br>
                                <label class="col-sm-2 control-label" style="width:12.5%"></label>
                                <div class="col-sm-5 text-lineH-fix">
                                    分錄(貸) 301300 <span style="color:#999">資產取得-自用/機械及設備取得</span>
                                </div>
                                <div class="col-sm-5 text-lineH-fix">
                                    會計科目(貸) 900201006 <span style="color:#999">臨時往來-部間往來</span>
                                </div>

                            </div>

                            <div class="col-sm-12 form-group">
                                <label class="col-sm-2 control-label" style="width:12.5%">攤銷費用科目</label>
                                <div class="col-sm-5 text-lineH-fix">
                                    分錄(借) 303130 <span style="color:#999">資產折舊-自用/機械及設備折舊</span>
                                </div>
                                <div class="col-sm-5 text-lineH-fix">
                                    會計科目(借) 581521006 <span style="color:#999">業務費用-機械及設備折舊</span>
                                </div>
                                <br>
                                <label class="col-sm-2 control-label" style="width:12.5%" "></label>
                                <div class="col-sm-5 text-lineH-fix">
                                    分錄(貸) 303130 <span style="color:#999">資產折舊-自用/機械及設備折舊</span>
                                </div>
                                <div class="col-sm-5 text-lineH-fix">
                                    會計科目(貸) 153301009 <span style="color:#999"> 累計折舊－機械及設備-電腦端末設備</span>
                                </div>
                            </div>

                        </div>


                        <div class="ibox-c-subtitle"> 動產資訊</div>

                        <div class="row">
                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">05 資訊部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">保管人</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">採購案號</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">採購描述</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">廠商規格</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">驗收日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="">
                                        <input type='text' class="form-control" disabled />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">附屬設備</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">財物單位</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="" disabled />
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-10 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">備註</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" disabled /></div>
                            </div>


                        </div>

                        <div class="ibox-c-subtitle">帳務資料與其他事項</div>

                        <div class="row">
                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">05 資訊部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>


                            <div class="col-sm-12 form-group" style="margin-left:0px">
                                <div class="col-sm-4">
                                    <label for="" class="col-sm-4 control-label">資產成本</label>
                                    <div class="col-sm-6"><input type="text" class="form-control" value="" disabled /></div>
                                </div>

                                <div class="col-sm-4">
                                    <label for="" class="col-sm-4 control-label">累計折舊</label>
                                    <div class="col-sm-6"><input type="text" class="form-control" value="" disabled /></div>
                                </div>

                                <div class="col-sm-4">
                                    <label for="" class="col-sm-4 control-label">殘值</label>
                                    <div class="col-sm-6"><input type="text" class="form-control" value="" disabled /></div>
                                </div>

                            </div>

                        </div>
                    </form>



                    <div class="ibox-c-subtitle">交易明細</div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>記帳時間</th>
                                    <th>單據類型</th>
                                    <th>單據編號</th>
                                    <th>摘要</th>
                                    <th>本次異動金額</th>
                                    <th>資產成本結餘</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>106-08-10 12:00</td>
                                    <td>動產新增單</td>
                                    <td>1060502A201000001</td>
                                    <td>總行網路交換機</td>
                                    <td>+ 70,000</td>
                                    <td>70,000</td>
                                </tr>
                                <tr>
                                    <td>106-08-31 12:00</td>
                                    <td>動產新增單</td>
                                    <td>1060502A201000001</td>
                                    <td>106-07 折舊</td>
                                    <td>- 972</td>
                                    <td>69,028</td>
                                </tr>
                                <tr>
                                    <td>106-09-13 12:00</td>
                                    <td>動產新增單</td>
                                    <td>1060502A201000001</td>
                                    <td>106-08 折舊</td>
                                    <td>- 972</td>
                                    <td>68,056</td>
                                </tr>
                                <tr>
                                    <td>106-09-13 12:00</td>
                                    <td>動產新增單</td>
                                    <td>1060502A201000001</td>
                                    <td>106-09 折舊</td>
                                    <td>- 972</td>
                                    <td>67,084</td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"><span></span></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-arrow-left"> 返回</i></a>
        </div>
    </div>
</div>