﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 檢視資產</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">綜合查詢</a>
            </li>
            <li>
                <a href="#">檢視資產</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row" style="margin-bottom: 80px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>檢視資產</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約編號</label>
                                <div class="col-sm-6">
                                    <input type='text' class="form-control" value="000-105-001" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">原租約編號</label>
                                <div class="col-sm-6">
                                    <input type='text' class="form-control" value="" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約類別</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">出租</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color: red">*</span> 租約事務</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">新租</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color: red">*</span> 租約類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">租金</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color: red">*</span> 業務別</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">自用</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color: red">*</span> 租約狀態</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">有效</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color: red">*</span> 租賃期間</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline-disabled">
                                        <input type='text' class="form-control" disabled />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width: 10px; padding: 0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline-disabled">
                                        <input type='text' class="form-control" disabled />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">核准日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline-disabled">
                                        <input type='text' class="form-control" disabled />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color: red">*</span> 標的物</label>
                                <div class="col-sm-6">
                                    <input type='text' class="form-control" value="屏東縣高樹鄉中段512地號等" disabled />
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳號</label>
                                <div class="col-sm-6">
                                    <input type='text' class="form-control" value="北-108000" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color: red">*</span>租約附件</label>
                                <div class="col-sm-9 text-lineH-fix"><a><i class="fa fa-file-o"> 租約附件檔名XXX.pdf</i></a></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label"><span style="color: red">*</span> 管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">05 資訊部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">備註</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" value="" disabled />
                                </div>
                            </div>

                        </div>

                    </form>


                    <div class="table-responsive" style="margin-top: 50px">
                        <table class="table-condensed" style="width: 100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>承租人</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>類型</th>
                                    <th>名稱</th>
                                    <th>統一編號</th>
                                    <th>負責人</th>
                                    <th>身分證字號</th>
                                    <th>出生日</th>
                                    <th>通訊地址</th>
                                    <th>戶籍地址</th>
                                    <th>電話</th>
                                    <th>備註</th>
                                    <th>檢視</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>公司</td>
                                    <td>關貿網路</td>
                                    <td>12345678</td>
                                    <td>XXX</td>
                                    <td>A123456789</td>
                                    <td>40/1/1</td>
                                    <td>台北市南港區三重路</td>
                                    <td>台北市南港區三重路</td>
                                    <td>26551188</td>
                                    <td></td>
                                    <td><a href="#modal-form-importdata-1" class="btn btn-gray btn-circle" data-toggle="modal" title="檢視"><i class="fa fa-search"></i></a></td>

                                </tr>
                                <tr>
                                    <td>公司</td>
                                    <td>關貿網路</td>
                                    <td>12345678</td>
                                    <td>XXX</td>
                                    <td>A123456789</td>
                                    <td>40/1/1</td>
                                    <td>台北市南港區三重路</td>
                                    <td>台北市南港區三重路</td>
                                    <td>26551188</td>
                                    <td></td>
                                    <td><a href="#modal-form-importdata-1" class="btn btn-gray btn-circle" data-toggle="modal" title="檢視"><i class="fa fa-search"></i></a></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width: 100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>扣款資料</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>扣款銀行</th>
                                    <th>扣款帳號</th>
                                    <th>扣款帳號</th>
                                    <th>戶名</th>
                                    <th>繳款方式</th>
                                    <th>租賃期間</th>
                                    <th>備註</th>
                                    <th>檢視</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>005 土地銀行</td>
                                    <td>01020020500023</td>
                                    <td>0102338423902393</td>
                                    <td>黃大海</td>
                                    <td>委託代繳</td>
                                    <td>106/2/1~106/12/30</td>
                                    <td></td>
                                    <td>
                                        <a href="#modal-form-importdata-2" class="btn btn-gray btn-circle" data-toggle="modal" title="檢視"><i class="fa fa-search"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width: 100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>租金/費用資料</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>租金計算</th>
                                    <th>租金類別</th>
                                    <th>租金總價</th>
                                    <th>繳款週期</th>
                                    <th>繳款期限</th>
                                    <th>寬限期</th>
                                    <th>上期繳款日</th>
                                    <th>預計下期繳款日</th>
                                    <th>清潔管理費</th>
                                    <th>保養費</th>
                                    <th>檢視</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>固定</td>
                                    <td>契約總價</td>
                                    <td>320,000</td>
                                    <td>年</td>
                                    <td>固定</td>
                                    <td>3</td>
                                    <td>106-01-31</td>
                                    <td>107-01-31</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td><a href="#modal-form-importdata-3" class="btn btn-gray btn-circle" data-toggle="modal" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width: 100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>保證金資料</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>保證金</th>
                                    <th>保證金收款日期</th>
                                    <th>保證金退還日期</th>
                                    <th>保證銀行及字號</th>
                                    <th>檢視</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="#modal-form-importdata-4" class="btn btn-gray btn-circle" data-toggle="modal" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width: 100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>違約金資料</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>違約金</th>
                                    <th>違約起算日</th>
                                    <th>收違約金標準</th>
                                    <th>計算方式</th>
                                    <th>檢視</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>另計</td>
                                    <td>繳款日</td>
                                    <td>欠額金額</td>
                                    <td></td>
                                    <td><a href="#modal-form-importdata-5" class="btn btn-gray btn-circle" data-toggle="modal" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width: 100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>逾期息資料</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>逾期息</th>
                                    <th>逾期息起算日</th>
                                    <th>收逾期息標準</th>
                                    <th>計算方式</th>
                                    <th>檢視</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>另計</td>
                                    <td>繳款日</td>
                                    <td>欠額金額</td>
                                    <td></td>
                                    <td><a href="#modal-form-importdata-6" class="btn btn-gray btn-circle" data-toggle="modal" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width: 100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>房屋資料</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>財產編號</th>
                                    <th>地址</th>
                                    <th>權利面積</th>
                                    <th>出租面積</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1010202-0002701</td>
                                    <td>台北市南港區三重路</td>
                                    <td>100.00  m2</td>
                                    <td>100.00  m2</td>
                                    <td><a href="#modal-form-importdata-7" class="btn btn-gray btn-circle" data-toggle="modal" title="檢視"><i class="fa fa-search"></i></a></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width: 100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>土地資料</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>財產編號</th>
                                    <th>地址</th>
                                    <th>出租面積</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1010202-0002702</td>
                                    <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                    <td>1,879.00  m2</td>
                                    <td><a href="#modal-form-importdata-8" class="btn btn-gray btn-circle" data-toggle="modal" title="檢視"><i class="fa fa-search"></i></a></td>

                                </tr>
                                <tr>
                                    <td>1010202-0002703</td>
                                    <td>基隆市中正區日新段二小段    0002-0000    地號</td>
                                    <td>1,879.00  m2</td>
                                    <td><a href="#modal-form-importdata-8" class="btn btn-gray btn-circle" data-toggle="modal" title="檢視"><i class="fa fa-search"></i></a></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width: 100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>停車位資料</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>財產編號</th>
                                    <th>地址</th>
                                    <th>車位編號</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1010202-0002704</td>
                                    <td>台北市南港區三重路</td>
                                    <td>123456</td>
                                    <td><a href="#modal-form-importdata-9" class="btn btn-gray btn-circle" data-toggle="modal" title="檢視"><i class="fa fa-search"></i></a></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width: 100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>耕地資料</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>財產編號</th>
                                    <th>地址</th>
                                    <th>權利面積</th>
                                    <th>出租面積</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1010202-0002705</td>
                                    <td>台東市卑南鄉</td>
                                    <td>2,000.00  m2</td>
                                    <td>1,879.00  m2</td>
                                    <td><a href="#modal-form-importdata-10" class="btn btn-gray btn-circle" data-toggle="modal" title="檢視"><i class="fa fa-search"></i></a></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width: 100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>分期資料</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>財產編號</th>
                                    <th>分期付款總金額</th>
                                    <th>分期數</th>
                                    <th>頭期款繳款日期</th>
                                    <th>頭期款金額</th>
                                    <th>分期款繳款日期</th>
                                    <th>分期款金額</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1010202-0002706</td>
                                    <td>100,000</td>
                                    <td>10</td>
                                    <td>106/2/1</td>
                                    <td>500,000</td>
                                    <td>每月1日</td>
                                    <td>300,000</td>
                                    <td><a href="#modal-form-importdata-11" class="btn btn-gray btn-circle" data-toggle="modal" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width: 100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>租金銷帳記錄</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>繳納日期</th>
                                    <th>繳款類型</th>
                                    <th>繳款單編號</th>
                                    <th>摘要</th>
                                    <th>記帳</th>
                                    <th>金額</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>106-07-30</td>
                                    <td>AA 租金</td>
                                    <td>1060730-000001</td>
                                    <td>106-07 租金</td>
                                    <td>已入帳</td>
                                    <td>60,000</td>
                                </tr>
                                <tr>
                                    <td>106-08-31</td>
                                    <td>AA 租金</td>
                                    <td>1060831-000001</td>
                                    <td>106-08 租金</td>
                                    <td>已入帳</td>
                                    <td>60,000</td>
                                </tr>
                                <tr>
                                    <td>106-09-30</td>
                                    <td>AA 租金</td>
                                    <td>1060930-000001</td>
                                    <td>106-09 租金</td>
                                    <td>已入帳</td>
                                    <td>60,000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width: 100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>繳款/催繳紀錄</label>
                                </td>
                                <td style="text-align: right">
                                    上次繳款日 <span class="text-success" style="margin-right:20px">106-2-1</span>
                                    預期下次繳款日 <span class="text-success" style="margin-right:20px">106-6-5</span>
                                    欠繳狀況 <span class="text-danger" style="margin-right:20px">逾期 69 日</span>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>繳款/催繳起案時間</th>
                                    <th>行為/催繳方式</th>
                                    <th>繳款金額</th>
                                    <th>單據編號</th>
                                    <th>摘要</th>
                                    <th>案件狀況</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>106-04-15    12:00</td>
                                    <td><span class="text-danger">函催</span></td>
                                    <td></td>
                                    <td><a href="G204.aspx" target="_blank">1060415G200000001</a></td>
                                    <td>106-04    函催</td>
                                    <td>執行中</td>
                                </tr>
                                <tr>
                                    <td>106-03-15    10:00</td>
                                    <td><span class="text-danger">電話催繳</span></td>
                                    <td></td>
                                    <td><a href="G204.aspx" target="_blank">1060315G200000001</a></td>
                                    <td>106-03 電話催繳</td>
                                    <td>結案</td>
                                </tr>
                                <tr>
                                    <td>106-02-01    10:00</td>
                                    <td>繳款</td>
                                    <td>51,000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-6 col-sm-offset-6">
        <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal" style="display:none"><i class="fa fa-save"> 儲 存 </i></a>
        <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-arrow-left"> 返 回 </i></a>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>