﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 檢視資產</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">綜合查詢</a>
            </li>
            <li>
                <a href="#">檢視資產</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row" style="margin-bottom: 80px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>檢視資產</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="106-A0001" disabled /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">原租約編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" disabled /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約類別</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">承租</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 租約事務</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">新租</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 租約類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">租金</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 業務別</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">自用</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 租約狀態</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">有效</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 租賃期間</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline-disabled">
                                        <input type='text' class="form-control" disabled />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline-disabled">
                                        <input type='text' class="form-control" disabled />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">核准日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline-disabled">
                                        <input type='text' class="form-control" disabled />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">年租率</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" disabled /> </div>
                                <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>%</span></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="投管0015" disabled /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color: red">*</span>租約附件</label>
                                <div class="col-sm-9 text-lineH-fix"><a><i class="fa fa-file-o"> 租約附件檔名XXX.pdf</i></a></div>
                            </div>


                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">05 資訊部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">備註</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" disabled /></div>
                            </div>

                        </div>

                    </form>


                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>金額</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>租賃期間</td>
                                    <td>租金</td>
                                    <td>減租金額</td>
                                    <td>保證金</td>
                                    <td>繳納日期</td>
                                    <td>退還日期</td>
                                    <td>保證書銀行</td>
                                    <td>備註</td>
                                    <td>檢視</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>106/1/1~106/6/30</td>
                                    <td>60,000</td>
                                    <td>40,000</td>
                                    <td>200,000</td>
                                    <td>106/1/1</td>
                                    <td>106/7/1</td>
                                    <td>土地銀行台北分行</td>
                                    <td></td>
                                    <td><a class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>106/7/1~106/12/31</td>
                                    <td>100,000</td>
                                    <td></td>
                                    <td>200,000</td>
                                    <td>106/7/1</td>
                                    <td>107/1/1</td>
                                    <td>土地銀行台北分行</td>
                                    <td></td>
                                    <td><a class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>出租人</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>類型</td>
                                    <td>名稱</td>
                                    <td>統一編號</td>
                                    <td>負責人</td>
                                    <td>身分證字號</td>
                                    <td>出生日</td>
                                    <td>通訊地址</td>
                                    <td>戶籍地址</td>
                                    <td>電話</td>
                                    <td>備註</td>
                                    <td>檢視</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>公司</td>
                                    <td>關貿網路</td>
                                    <td>12345678</td>
                                    <td>XXX</td>
                                    <td>A123456789</td>
                                    <td>40/1/1</td>
                                    <td>台北市南港區三重路</td>
                                    <td>台北市南港區三重路</td>
                                    <td>26551188</td>
                                    <td></td>
                                    <td><a class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>公司</td>
                                    <td>關貿網路</td>
                                    <td>12345678</td>
                                    <td>XXX</td>
                                    <td>A123456789</td>
                                    <td>40/1/1</td>
                                    <td>台北市南港區三重路</td>
                                    <td>台北市南港區三重路</td>
                                    <td>26551188</td>
                                    <td></td>
                                    <td><a class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>土地</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>財產編號</th>
                                    <th>土地坐落</th>
                                    <th>承租面積</th>
                                    <th>租金</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1010202-0002706</td>
                                    <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                    <td>1,879.00  m2</td>
                                    <td>60,000</td>
                                    <td><a class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>1010202-0002706</td>
                                    <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                    <td>1,879.00  m2</td>
                                    <td>100,000</td>
                                    <td><a class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>1010202-0002706</td>
                                    <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                    <td>1,879.00  m2</td>
                                    <td>100,000</td>
                                    <td><a class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>租地建屋</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>財產編號</th>
                                    <th>地址</th>
                                    <th>權利面積</th>
                                    <th>承租面積</th>
                                    <th>租金</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1010202-0002701</td>
                                    <td>台北市南港區三重路</td>
                                    <td>100.00  m2</td>
                                    <td>100.00  m2</td>
                                    <td>60,000</td>
                                    <td><a class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>房屋建物</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>財產編號</td>
                                    <td>地址</td>
                                    <td>權利面積</td>
                                    <td>承租面積</td>
                                    <td>租金</td>
                                    <td>檢視</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1010202-0002701</td>
                                    <td>台北市南港區三重路</td>
                                    <td>100.00  m2</td>
                                    <td>100.00  m2</td>
                                    <td>60,000</td>
                                    <td><a class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>停車位資料</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>財產編號</th>
                                    <th>地址</th>
                                    <th>車位編號</th>
                                    <th>租金</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1010202-0002704</td>
                                    <td>台北市南港區三重路</td>
                                    <td>123456</td>
                                    <td>600</td>
                                    <td><a class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>耕地資料</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>財產編號</td>
                                    <td>地址</td>
                                    <td>權利面積</td>
                                    <td>承租面積</td>
                                    <td>租金</td>
                                    <td>檢視</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1010202-0002705</td>
                                    <td>台東市卑南鄉</td>
                                    <td>2,000.00  m2</td>
                                    <td>1,879.00  m2</td>
                                    <td>60,000</td>
                                    <td><a class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>耕地產物</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>財產編號</th>
                                    <th>地址</th>
                                    <th>權利面積</th>
                                    <th>承租面積</th>
                                    <th>租金</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1010202-0002701</td>
                                    <td>台北市南港區三重路</td>
                                    <td>100.00  m2</td>
                                    <td>100.00  m2</td>
                                    <td>60,000</td>
                                    <td><a class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>租金繳納記錄</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>收款日期</th>
                                    <th>繳款類型</th>
                                    <th>繳款單編號</th>
                                    <th>摘要</th>
                                    <th>記帳</th>
                                    <th>金額</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>106-07-30</td>
                                    <td>AA 租金</td>
                                    <td>1060730-000001</td>
                                    <td>106-07 租金</td>
                                    <td>已出帳</td>
                                    <td>60,000</td>
                                </tr>
                                <tr>
                                    <td>106-08-31</td>
                                    <td>AA 租金</td>
                                    <td>1060831-000001</td>
                                    <td>106-08 租金</td>
                                    <td>已出帳</td>
                                    <td>60,000</td>
                                </tr>
                                <tr>
                                    <td>106-09-30</td>
                                    <td>AA 租金</td>
                                    <td>1060930-000001</td>
                                    <td>106-09 租金</td>
                                    <td>已出帳</td>
                                    <td>60,000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-6 col-sm-offset-6">
        <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal" style="display:none"><i class="fa fa-save"> 儲 存 </i></a>
        <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-arrow-left"> 返 回 </i></a>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>