﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>綜合查詢</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">綜合查詢</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">租約類型</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="radio" name="radiogroup1" onChange="location.href='@Url.Action("Index")'"><span>土地</span>
                                    <input type="radio" name="radiogroup1" onChange="location.href='@Url.Action("Q200")'"><span>房屋</span>
                                    <input type="radio" name="radiogroup1" onChange="location.href='@Url.Action("Q300")'"><span>動產</span>
                                    <input type="radio" name="radiogroup1" onChange="location.href='@Url.Action("Q400")'"><span>出租租約</span>
                                    <input type="radio" name="radiogroup1" onChange="location.href='@Url.Action("Q500")'"><span>承租租約</span>
                                    <input type="radio" name="radiogroup1" checked><span>租賃權益</span>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-1 control-label" style="width:12.3%">資產分類</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">9  資產改良</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">000001  租賃權益改良物</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">B  固定-自用</option>
                                    </select>
                                </div>
                                <div class="col-sm-１ text-lineH-fix">～</div>
                                <br>
                                <div class="col-sm-1" style="width:12.3%"></div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">9  資產改良</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">000001  租賃權益改良物</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">B  固定-自用</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產編號</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">財物編號</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">啟用日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">

                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">
                                    資產年限<br>
                                    結束日期
                                </label>
                                <div class="col-sm-1" style="width:10px; padding:15; line-height:2.5em">≦</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產目前成本</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" />
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-1 control-label" style="width:12.3%">放置地點</label>
                                <div class="col-sm-5 gutter-s">
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">001 總行</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">08 產權部</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">001 XX科</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-5 gutter-s">
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">001 總行</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">08 產權部</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">001 XX科</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-1 control-label" style="width:12.3%">保管單位</label>
                                <div class="col-sm-5 gutter-s">
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">001 總行</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">08 產權部</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">001 XX科</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-5 gutter-s">
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">001 總行</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">08 產權部</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">001 XX科</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="col-sm-3 control-label">保管人</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">023001 陳小明 </option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">處分原因</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" disabled>
                                    <span style="color:#ccc">全選</span>
                                    <input type="checkbox">
                                    <span>出售</span>
                                    <input type="checkbox">
                                    <span>報廢</span>
                                    <input type="checkbox">
                                    <span>毀損</span>
                                    <input type="checkbox">
                                    <span>除列</span>
                                    <input type="checkbox">
                                    <span>災害損失</span>
                                    <input type="checkbox">
                                    <span>沖銷</span>
                                </div>
                            </div>


                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                    <button type="button" class="btn btn-primary"><i class="fa fa-search"> 搜 尋 </i></button>
                                </label>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>搜尋結果</label>
                                </td>
                                <td style="text-align: right">
                                    <a href="/download/report_6.xls" class="btn btn-gray"><i class="fa fa-arrow-right"> 匯出報表</i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>資產編號</th>
                                    <th>財產名稱</th>
                                    <th>財產別名</th>
                                    <th>保管單位</th>
                                    <th>保管人</th>
                                    <th>目前成本</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>5,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Q601")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>15,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Q601")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>5,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Q601")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td>圍籬</td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Q601")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td>裝潢</td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Q601")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>5,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Q601")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>15,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Q601")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>5,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Q601")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>9000001-0000001</td>
                                    <td>
                                        廠房<br>
                                        <span class="text-gray">(母資產)</span>
                                    </td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Q601")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>9000001-0000001</td>
                                    <td>
                                        檢驗費<br>
                                        <span class="text-gray">(子資產)</span>
                                    </td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Q601")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>