﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 新增/編輯調閱權狀申請單</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">調閱權狀申請單</a>
            </li>
            <li>
                <a href="#">新增/編輯單據</a>
            </li>
            <li>
                <a href="#">新增/編輯調閱權狀申請單</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><span class="text-success">【步驟三】</span> 新增/編輯調閱權狀申請單</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">調取原因</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">備註</label>
                                <div class="col-sm-9"><textarea rows="3" class="form-control" value="無"></textarea></div>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary"><i class="fa fa-plus"> 新增 調閱權狀</i></a>
                                </td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>權狀執照類別</th>
                                    <th>財產編號</th>
                                    <th>縣(市)</th>
                                    <th>鄉政市區</th>
                                    <th>段</th>
                                    <th>小段</th>
                                    <th>地號</th>
                                    <th>建號</th>
                                    <th>建物門牌</th>
                                    <th>正本</th>
                                    <th>副本</th>
                                    <th>編輯</th>
                                    <th>移出</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>土地所有權狀</td>
                                    <td>1019901-<br>0002923</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td>0255-0000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>V</td>
                                    <td><a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>建物所有權狀</td>
                                    <td>2010201-<br>0000213</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td></td>
                                    <td>05197-000</td>
                                    <td>和平東路3段1巷1號</td>
                                    <td></td>
                                    <td>V</td>
                                    <td><a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>建物所有權狀</td>
                                    <td>2010201-<br>0000213</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td></td>
                                    <td>05197-000</td>
                                    <td>和平東路3段1巷1號2樓</td>
                                    <td></td>
                                    <td>V</td>
                                    <td><a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>建物所有權狀</td>
                                    <td>2010201-<br>0000213</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td></td>
                                    <td>05197-000</td>
                                    <td>和平東路3段1巷1號3樓</td>
                                    <td></td>
                                    <td>V</td>
                                    <td><a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>建物所有權狀</td>
                                    <td>2010201-<br>0000213</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td></td>
                                    <td>05197-000</td>
                                    <td>和平東路3段1巷1號4樓</td>
                                    <td></td>
                                    <td>V</td>
                                    <td><a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>建物所有權狀</td>
                                    <td>2010201-<br>0000213</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td></td>
                                    <td>05197-000</td>
                                    <td>和平東路3段1巷1號5樓之1</td>
                                    <td></td>
                                    <td>V</td>
                                    <td><a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>建物所有權狀</td>
                                    <td>2010201-<br>0000213</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td></td>
                                    <td>05197-000</td>
                                    <td>和平東路3段1巷1號地下一層</td>
                                    <td></td>
                                    <td>V</td>
                                    <td><a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>使用執照</td>
                                    <td></td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td></td>
                                    <td></td>
                                    <td>和平東路3段1巷1號地下一層<br>~5樓之1使用執照</td>
                                    <td></td>
                                    <td>V</td>
                                    <td><a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- lightbox1 -->
<div id="modal-form-importdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title" style="border:0">
                                <h5><label>新增/編輯</label></h5>
                                <div class="ibox-tools"><a data-dismiss="modal"><i class="fa fa-close"></i></a></div>
                            </div>
                            <div class="ibox-content">
                                <form method="post" action="" class="form-horizontal">
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <label for="" class="col-sm-1 control-label">財產編號</label>
                                            <div class="col-sm-5"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="col-sm-12 form-group">
                                            <label for="" class="col-sm-1 control-label">縣(市)</label>
                                            <div class="col-sm-2">
                                                <select class="form-control" id="">
                                                    <option value="">台北市</option>
                                                    <option value="">新北市</option>
                                                    <option value="">桃園縣</option>
                                                </select>
                                            </div>
                                            <label for="" class="col-sm-1 control-label">鄉政市區</label>
                                            <div class="col-sm-2">
                                                <select class="form-control" id="">
                                                    <option value="">大安區</option>
                                                    <option value="">大同區</option>
                                                    <option value="">中山區</option>
                                                </select>
                                            </div>
                                            <label for="" class="col-sm-1 control-label">段</label>
                                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                                            <label for="" class="col-sm-1 control-label">小段</label>
                                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="col-sm-12 form-group">
                                            <label for="" class="col-sm-1 control-label">地段</label>
                                            <div class="col-sm-5"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="col-sm-12 form-group">
                                            <label for="" class="col-sm-1 control-label">地址</label>
                                            <div class="col-sm-5"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="col-sm-12 form-group">
                                            <label for="" class="col-sm-1 control-label">地號</label>
                                            <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                                            <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                            <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="col-sm-12 form-group">
                                            <label for="" class="col-sm-1 control-label">建號</label>
                                            <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                                            <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                            <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="col-sm-12 form-group">
                                            <label for="" class="col-sm-1 control-label">建物門牌</label>
                                            <div class="col-sm-5"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="col-sm-12 form-group checkbox-list">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-1"><input type="checkbox"><span>正本</span></div>
                                            <div class="col-sm-2"><input type="checkbox"><span>查閱/副本影印</span></div>
                                        </div>



                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label for="" class="pull-right">
                                                <button type="reset" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 清 除 </i></button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                                            </label>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-deletedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定刪除嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>


</script>