﻿@using InspiniaWebAdminTemplate.Models.Land
@model AssetsIndexViewModel
@{
    var Header = (TempData["Header"] != null) ? TempData["Header"] : null;
    TempData["Header"] = Header;
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string functionName = LandHelper.GetFunctionTitle(controllerName);
    ViewBag.Title = "搜尋資產";
}

<script type="text/javascript">
    function ChangeAllCheckBox()
    {
        $('input[type="checkbox"][id!="ckAll"]').prop('checked', $('#ckAll').checked);
    }
    function AssetQuery()
    {
        $('#form').prop('action', '@Url.Action("Asset_Query")');
    }
    function Save()
    {
        $('#form').prop('action', '@Url.Action("AssetsToMU")');
        var AssetsList = [];
        $('input[type="checkbox"][id*="asset"]:checked').each(function () {
            if($(this).val())
            {
                AssetsList.push($(this).val());
            }
        });
        $('#AssetsList').val(AssetsList);

        if (AssetsList.length == 0)
        {
            alert("尚未選擇需導入之資產!!");
        }

        return (AssetsList.length != 0);
    }

    function Return()
    {

    }
</script>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="border:0">
                    <h5><span class="text-success">【步驟一】</span> 搜尋欲調閱地政資料的資產</h5>
                </div>
                <div class="ibox-content">
                    <form method="post" id="form" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">008 產權部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group gutter-s">
                                <label for="" class="col-sm-2 control-label">資產分類</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">1 土地</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">010202 營業用房屋基地</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">B 固定-自用</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產編號</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">啟用日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <div class="col-sm-6">
                                    <label for="" class="col-sm-6 control-label">縣市</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="">
                                            <option value="">台北市</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label for="" class="col-sm-6 control-label">鄉鎮市區</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="">
                                            <option value="">大安區</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">地段</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">地號</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">地址</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">摘要(關鍵字)</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>


                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                    <button class="btn btn-primary" onclick="AssetQuery();"><i class="fa fa-search"> 搜 尋 </i></button>
                                </label>
                            </div>
                        </div>
                        <div class="ibox-c-subtitle">
                            <div class=" checkbox-list">
                                <label><span class="text-success">【步驟二】</span>請勾選搜尋結果&nbsp;&nbsp;</label>
                                <input type="radio" name="RadioGroup1" value="" checked><span>分頁</span>
                                <input type="radio" name="RadioGroup1" value=""><span>全部列出</span>
                                <div style="clear:both"></div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>資產編號</th>
                                        <th>摘要</th>
                                        <th>資產分類</th>
                                        <th>帳面金額</th>
                                        <th>啟用日期</th>
                                        <th><input type="checkbox" id="ckAll" style="vertical-align:middle" onclick="ChangeAllCheckBox();" />全選</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        for (int i = 0; i < Model.Items.Count(); i++)
                                        {
                                            var item = Model.Items.ToList()[i];
                                            <text>
                                                <tr class="lightyellow_bg">
                                                    <td>@(i + 1)</td>
                                                    <td>@item.Asset_Number</td>
                                                    <td>@item.Description</td>
                                                    <td>@item.Asset_Category_code</td>
                                                    <td>@item.Current_Cost</td>
                                                    <td>@item.Datetime_Placed_In_Service.ToString("yyyy/MM/dd")</td>
                                                    <td><input type="checkbox" value="@item.Asset_Number" id="@("asset" + (i + 1))" /></td>
                                                </tr>
                                            </text>
                                        }
                                    }
                                </tbody>
                            </table>

                            <nav class="text-center">
                                <ul class="pagination">
                                    <li class="disabled"><a>1</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                    <li> <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                                    <li> <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next"> <span aria-hidden="true">&raquo;&raquo;</span> </a> </li>
                                </ul>
                            </nav>
                        </div>

                        <div class="ibox-c-subtitle"></div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <div class="col-sm-3"><label><span class="text-success">【步驟三】</span></label></div>
                                <div class="col-sm-9" style="text-align:right">
                                    <button onclick="Return();" class="btn btn-gray"><i class="fa fa-cloase"> 取 消 </i></button>
                                    <button class="btn btn-success" type="submit" onclick="return Save();"><i class="fa fa-check"> 匯入地政資料 </i></button>
                                    <input id="AssetsList" name="AssetsList" type="hidden" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
