﻿@using InspiniaWebAdminTemplate.Models.Integration;
@model ContactDetailViewModel
@{
    bool CanEdit = Model == null || Model.canEdit;
}
<script>
    function addBuild() {
        var table = document.getElementById("tableBuild").getElementsByTagName('tbody')[0];        
        var editMode = document.getElementById("BuildEditType").value;
        var row = null;
        var cell0 = null;
        var cell1 = null;
        var cell2 = null;
        var cell3 = null;
        var cell4 = null;
        var cell5 = null;
        var cell6 = null;
        var cell7 = null;
        if(editMode == "0"){ 
            row = table.insertRow(table.rows.length);
            cell0 = row.insertCell(0);
            cell1 = row.insertCell(1);
            cell2 = row.insertCell(2);
            cell3 = row.insertCell(3);
            cell4 = row.insertCell(4);
            cell5 = row.insertCell(5);
            cell6 = row.insertCell(6);
            cell7 = row.insertCell(7);            
            cell5.innerHTML = '<a onclick=\'editBuild(' + table.rows.length + ')\' class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a>';
            cell6.innerHTML = '<a onclikc=\'onCopyData(1, ' + table.rows.length + ')\' data-toggle="modal" class="btn btn-gray btn-circle" title="複製"><i class="fa fa-copy"></i></a>';
            cell7.innerHTML = '<a class="btn btn-danger btn-circle" onclick="deleteBuild( ' + table.rows.length + ')" title="刪除"><i class="fa fa-trash"></i></a>';
            var value = {
                ID: 0, CITY_NAME: $("#BUILD_CITY_NAME").val(), DISTRICT_NAME: $("#BUILD_DISTRICT_NAME").val(), SECTION_NAME: $("#BUILD_SECTION_NAME").val()
                , SUBSECTION_NAME: $("#BUILD_SUBSECTION_NAME").val(), ADDRESS: $("#BUILD_ADDRESS").val(), BUSINESS_USE_TYPE: $("#BUILD_BUSINESS_USE_TYPE").val()
                , ATTACHED_BUILD: $("#BUILD_ATTACHED_BUILD").val(), HOUSE_ARCADE: $("#BUILD_HOUSE_ARCADE").val(), CONVEX: $("#BUILD_CONVEX").val()
                , ARCADE: $("#BUILD_ARCADE").val(), COMMON_PART: $("#BUILD_COMMON_PART").val(), RIGHT_AREA: $("#BUILD_RIGHT_AREA").val()
                , LEASES_AREA: $("#BUILD_LEASES_AREA").val(), FLOOR: $("#BUILD_FLOOR").val(), DESCRIPTION: $("#BUILD_DESCRIPTION").val(), SHARE_PUBLIC_AREA: $("#BUILD_SHARE_PUBLIC_AREA").val()
            };
            build.push(value);
        }else{
            var idx = parseInt(editMode) - 1;
            row = table.rows[idx];
            cell0 = row.cells[0];
            cell1 = row.cells[1];
            cell2 = row.cells[2];
            cell3 = row.cells[3];
            cell4 = row.cells[4];
            cell5 = row.cells[5];
            cell6 = row.cells[6];
            cell7 = row.cells[7];
            cell5.innerHTML = '<a onclick=\'editBuild(' + editMode + ')\' class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a>';
            cell6.innerHTML = '<a onclikc=\'onCopyData(1, ' + editMode + ')\' data-toggle="modal" class="btn btn-gray btn-circle" title="複製"><i class="fa fa-copy"></i></a>';
            cell7.innerHTML = '<a class="btn btn-danger btn-circle" onclick="deleteBuild( ' + editMode + ')" title="刪除"><i class="fa fa-trash"></i></a>';
            build[idx].CITY_NAME = document.getElementById("BUILD_CITY_NAME").value;
            build[idx].DISTRICT_NAME = document.getElementById("BUILD_DISTRICT_NAME").value;
            build[idx].SECTION_NAME = document.getElementById("BUILD_SECTION_NAME").value;
            build[idx].SUBSECTION_NAME = document.getElementById("BUILD_SUBSECTION_NAME").value;
            build[idx].ADDRESS = document.getElementById("BUILD_ADDRESS").value;
            build[idx].BUSINESS_USE_TYPE = document.getElementById("BUILD_BUSINESS_USE_TYPE").value;
            build[idx].ATTACHED_BUILD = document.getElementById("BUILD_ATTACHED_BUILD").value;
            build[idx].HOUSE_ARCADE = document.getElementById("BUILD_HOUSE_ARCADE").value;
            build[idx].CONVEX = document.getElementById("BUILD_CONVEX").value;
            build[idx].ARCADE = document.getElementById("BUILD_ARCADE").value;
            build[idx].COMMON_PART = document.getElementById("BUILD_COMMON_PART").value;
            build[idx].RIGHT_AREA = document.getElementById("BUILD_RIGHT_AREA").value;
            build[idx].LEASES_AREA = document.getElementById("BUILD_LEASES_AREA").value;
            build[idx].FLOOR = document.getElementById("BUILD_FLOOR").value;
            build[idx].DESCRIPTION = document.getElementById("BUILD_DESCRIPTION").value;
            build[idx].SHARE_PUBLIC_AREA = document.getElementById("BUILD_SHARE_PUBLIC_AREA").value;
        }

        cell0.innerHTML = document.getElementById("BUILD_BUSINESS_USE_TYPE").value;
        cell1.innerHTML = document.getElementById("BUILD_ADDRESS").value;
        cell2.innerHTML = document.getElementById("BUILD_FLOOR").value;
        cell3.innerHTML = document.getElementById("BUILD_RIGHT_AREA").value;
        cell4.innerHTML = document.getElementById("BUILD_LEASES_AREA").value;

        document.getElementById("BUILD_CITY_NAME").value = "";
        document.getElementById("BUILD_DISTRICT_NAME").value = "";
        document.getElementById("BUILD_SECTION_NAME").value = "";
        document.getElementById("BUILD_SUBSECTION_NAME").value = "";
        document.getElementById("BUILD_ADDRESS").value = "";
        document.getElementById("BUILD_BUSINESS_USE_TYPE").value = "";
        document.getElementById("BUILD_ATTACHED_BUILD").value = "";
        document.getElementById("BUILD_HOUSE_ARCADE").value = "";
        document.getElementById("BUILD_CONVEX").value = "";
        document.getElementById("BUILD_ARCADE").value = "";
        document.getElementById("BUILD_COMMON_PART").value = "";
        document.getElementById("BUILD_RIGHT_AREA").value = "";
        document.getElementById("BUILD_LEASES_AREA").value = "";
        document.getElementById("BUILD_FLOOR").value = "";
        document.getElementById("BUILD_DESCRIPTION").value = "";
        document.getElementById("BUILD_SHARE_PUBLIC_AREA").value = "";

    }

    function clickNewBuild(){
        document.getElementById("BuildEditType").value = "0";
        $("#modal-form-importdata-7").modal('show');
    }

    function editBuild(idx) {
        var detail = build[idx - 1];
        document.getElementById("BuildEditType").value = idx;
        document.getElementById("BUILD_CITY_NAME").value = detail.CITY_NAME;
        document.getElementById("BUILD_DISTRICT_NAME").value = detail.DISTRICT_NAME;
        document.getElementById("BUILD_SECTION_NAME").value = detail.SECTION_NAME;
        document.getElementById("BUILD_SUBSECTION_NAME").value = detail.SUBSECTION_NAME;
        document.getElementById("BUILD_ADDRESS").value = detail.ADDRESS;
        document.getElementById("BUILD_BUSINESS_USE_TYPE").value = detail.BUSINESS_USE_TYPE;
        document.getElementById("BUILD_ATTACHED_BUILD").value = detail.ATTACHED_BUILD;
        document.getElementById("BUILD_HOUSE_ARCADE").value = detail.HOUSE_ARCADE;
        document.getElementById("BUILD_CONVEX").value = detail.CONVEX;
        document.getElementById("BUILD_ARCADE").value = detail.ARCADE;
        document.getElementById("BUILD_COMMON_PART").value = detail.COMMON_PART;
        document.getElementById("BUILD_RIGHT_AREA").value = detail.RIGHT_AREA;
        document.getElementById("BUILD_LEASES_AREA").value = detail.LEASES_AREA;
        document.getElementById("BUILD_FLOOR").value = detail.FLOOR;
        document.getElementById("BUILD_DESCRIPTION").value = detail.DESCRIPTION;
        document.getElementById("BUILD_SHARE_PUBLIC_AREA").value = detail.SHARE_PUBLIC_AREA;
        $("#modal-form-importdata-7").modal('show');
    }

    function deleteBuild(idx) {
        build.splice(idx, 1);
        document.getElementById("tableBuild").deleteRow(idx);
    }


    function copyBuildData() {
        var count = parseInt(document.getElementById("copyCount").value);
        var idx = document.getElementById("copyIdx").value;
        var table = document.getElementById("tableBuild").getElementsByTagName('tbody')[0];
        var detail = build[idx - 1];
        for (var i = 0; i < count; i++) {
            var row = table.insertRow(table.rows.length);
            var cell0 = row.insertCell(0);
            var cell1 = row.insertCell(1);
            var cell2 = row.insertCell(2);
            var cell3 = row.insertCell(3);
            var cell4 = row.insertCell(4);
            var cell5 = row.insertCell(5);
            var cell6 = row.insertCell(6);
            var cell7 = row.insertCell(7);
            cell0.innerHTML = detail.BUSINESS_USE_TYPE;
            cell1.innerHTML = detail.ADDRESS;
            cell2.innerHTML = detail.FLOOR;
            cell3.innerHTML = detail.RIGHT_AREA;
            cell4.innerHTML = detail.LEASES_AREA;
            cell5.innerHTML = '<a onclick=\'editBuild(' + table.rows.length + ')\' class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a>';
            cell6.innerHTML = '<a onclikc=\'onCopyData(1, ' + table.rows.length + ')\' data-toggle="modal" class="btn btn-gray btn-circle" title="複製"><i class="fa fa-copy"></i></a>';
            cell7.innerHTML = '<a class="btn btn-danger btn-circle" onclick="deleteBuild( ' + table.rows.length + ')" title="刪除"><i class="fa fa-trash"></i></a>';
            build.push(detail);
        }
        document.getElementById("copyIdx").value = "";
        document.getElementById("copyType").value = "";
    }
</script>
<table class="table-condensed" style="width:100%">
    <tr>
        <td style="text-align: left">
            <label>房屋資料</label>
        </td>
        @if (CanEdit)
        {
            <text>
                <td style="text-align: right">
                    <a onclick="clickNewBuild()" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus"> 新增房屋</i></a>
                </td>
            </text>
        }
    </tr>
</table>
<table class="table table-striped" id="tableBuild">
    <thead>
        <tr>
            <th>營業用途</th>
            <th>地址</th>
            <th>樓層</th>
            <th>權利面積</th>
            <th>承租面積</th>
            @if (CanEdit)
            {
                <th>編輯</th>
                <th>複製</th>
                <th>刪除</th>
            }
        </tr>
    </thead>
    <tbody>  
        @if (Model != null && Model.Contract != null && Model.Contract.BuildList != null)
        {
            int idx = 1;
            foreach (BuildViewModel item in Model.Contract.BuildList)
            {                

                <text>
                    <script>
                        var value = {
                            ID: @item.ID, CITY_NAME:"@item.CITY_NAME", DISTRICT_NAME:"@item.DISTRICT_NAME", SECTION_NAME:"@item.SECTION_NAME"
                           , SUBSECTION_NAME: "@item.SUBSECTION_NAME", ADDRESS: "@item.ADDRESS", BUSINESS_USE_TYPE:"@item.BUSINESS_USE_TYPE"
                           , ATTACHED_BUILD: "@item.ATTACHED_BUILD", HOUSE_ARCADE: "@item.HOUSE_ARCADE", CONVEX: "@item.CONVEX"
                           , ARCADE: "@item.ARCADE", COMMON_PART:"@item.COMMON_PART", RIGHT_AREA: "@item.RIGHT_AREA"
                           , LEASES_AREA: "@item.LEASES_AREA", FLOOR:"@item.FLOOR", DESCRIPTION:"@item.DESCRIPTION", SHARE_PUBLIC_AREA: "@item.SHARE_PUBLIC_AREA"
                        };                        
                        build.push(value);
                    </script>
                    <tr>
                        <td>@item.BUSINESS_USE_TYPE</td>
                        <td>@item.ADDRESS</td>
                        <td>@item.FLOOR</td>
                        <td>@item.RIGHT_AREA</td>
                        <td>@item.LEASES_AREA</td>
                        @if (CanEdit)
                        {
                            <td><a class="btn btn-primary btn-circle" onclick="editBuild('@idx')" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                            <td><a onclick="onCopyData(1, @idx)" data-toggle="modal" class="btn btn-gray btn-circle" title="複製"><i class="fa fa-copy"></i></a></td>
                            <td><a class="btn btn-danger btn-circle" onclick="deleteBuild('@idx')" title="刪除"><i class="fa fa-trash"></i></a></td>
                        }
                    </tr>
                </text>
                idx += 1;
            }
        }           
    </tbody>
</table>