﻿@using InspiniaWebAdminTemplate.Models.Integration;
@model ContactDetailViewModel
@{
    bool CanEdit = Model == null || Model.canEdit;
}
<script>
    function addFire() {
        var table = document.getElementById("tableFire").getElementsByTagName('tbody')[0];
        var editMode = document.getElementById("FireEditType").value;
        var row = null;
        var cell0 = null;
        var cell1 = null;
        var cell2 = null;
        var cell3 = null;
        var cell4 = null;
        var cell5 = null;
        var cell6 = null;
        var cell7 = null;
        var cell8 = null;
        var cell9 = null;
        if(editMode == "0"){   
            row = table.insertRow(table.rows.length);
            cell0 = row.insertCell(0);
            cell1 = row.insertCell(1);
            cell2 = row.insertCell(2);
            cell3 = row.insertCell(3);
            cell4 = row.insertCell(4);
            cell5 = row.insertCell(5);
            cell6 = row.insertCell(6);
            cell7 = row.insertCell(7);
            cell8 = row.insertCell(8);
            cell9 = row.insertCell(9);
            cell7.innerHTML = '<td><a href="download/20170909_02.pdf" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>';
            cell8.innerHTML = '<a onclick=\'editFire(' + table.rows.length + ')\' class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a>';
            cell9.innerHTML = '<a class="btn btn-danger btn-circle" onclick="deleteFire(' + table.rows.length + ')" title="刪除"><i class="fa fa-trash"></i></a>';
            var value = {
                ID: 0, INSURANCE_TYPE: "1", COMPANY: $("#FIRE_COMPANY").val(), INSURANCE_NO: $("#FIRE_INSURANCE_NO").val(), COMPANY_CONTACT: $("#FIRE_COMPANY_CONTACT").val()
                , COMPANY_PHONE: $('#FIRE_COMPANY_PHONE').val(), APPLICANT: $("#FIRE_APPLICANT").val(), INSURANT: $("#FIRE_INSURANT").val()
                , START_DATE: $("#FIRE_START_DATE").val(), END_DATE: $("#FIRE_END_DATE").val(), PRICE: $("#FIRE_PRICE").val(), DESCRIPTION: $("#FIRE_DESCRIPTION").val()
            };            
            fire_insurance.push(value);
        }else{
            var idx = parseInt(editMode) - 1;
            row = table.rows[idx];
            cell0 = row.cells[0];
            cell1 = row.cells[1];
            cell2 = row.cells[2];
            cell3 = row.cells[3];
            cell4 = row.cells[4];
            cell5 = row.cells[5];
            cell6 = row.cells[6];
            cell7 = row.cells[7];
            cell8 = row.cells[8];
            cell9 = row.cells[9];
            fire_insurance[idx].COMPANY =  document.getElementById("FIRE_COMPANY").value;
            fire_insurance[idx].INSURANCE_NO = document.getElementById("FIRE_INSURANCE_NO").value;
            fire_insurance[idx].COMPANY_CONTACT = document.getElementById("FIRE_COMPANY_CONTACT").value ;
            fire_insurance[idx].COMPANY_PHONE = document.getElementById("FIRE_COMPANY_PHONE").value ;
            fire_insurance[idx].APPLICANT =  document.getElementById("FIRE_APPLICANT").value;
            fire_insurance[idx].INSURANT = document.getElementById("FIRE_INSURANT").value;
            fire_insurance[idx].START_DATE = document.getElementById("FIRE_START_DATE").value ;
            fire_insurance[idx].END_DATE =  document.getElementById("FIRE_END_DATE").value ;
            fire_insurance[idx].PRICE = document.getElementById("FIRE_PRICE").value;
            fire_insurance[idx].DESCRIPTION = document.getElementById("FIRE_DESCRIPTION").value ;
            
            cell7.innerHTML = '<td><a href="download/20170909_02.pdf" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>';
            cell8.innerHTML = '<a onclick=\'editFire(' + editMode + ')\' class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a>';
            cell9.innerHTML = '<a class="btn btn-danger btn-circle" onclick="deleteFire(' + editMode + ')" title="刪除"><i class="fa fa-trash"></i></a>';
        }

        cell0.innerHTML = document.getElementById("FIRE_COMPANY").value;
        cell1.innerHTML = document.getElementById("FIRE_INSURANCE_NO").value;
        cell2.innerHTML = document.getElementById("FIRE_APPLICANT").value;
        cell3.innerHTML = document.getElementById("FIRE_INSURANT").value;
        cell4.innerHTML = document.getElementById("FIRE_START_DATE").value + "~" + document.getElementById("FIRE_END_DATE").value;
        cell5.innerHTML = document.getElementById("FIRE_PRICE").value;
        cell6.innerHTML = document.getElementById("FIRE_DESCRIPTION").value;

        document.getElementById("FIRE_COMPANY").value = "";
        document.getElementById("FIRE_INSURANCE_NO").value = "";
        document.getElementById("FIRE_COMPANY_CONTACT").value = "";
        document.getElementById("FIRE_COMPANY_PHONE").value = "";
        document.getElementById("FIRE_APPLICANT").value = "";
        document.getElementById("FIRE_INSURANT").value = "";
        document.getElementById("FIRE_START_DATE").value = "";
        document.getElementById("FIRE_END_DATE").value = "";
        document.getElementById("FIRE_PRICE").value = "";
        document.getElementById("FIRE_DESCRIPTION").value = "";

    }

    function clickNewFire(){
        document.getElementById("FireEditType").value = "0";
        $("#modal-form-importdata-10").modal('show');
    }

    function editFire(idx) {
        var detail = fire_insurance[idx - 1];
        document.getElementById("FireEditType").value = idx;
        document.getElementById("FIRE_COMPANY").value = detail.COMPANY;
        document.getElementById("FIRE_INSURANCE_NO").value = detail.INSURANCE_NO;
        document.getElementById("FIRE_COMPANY_CONTACT").value = detail.COMPANY_CONTACT;
        document.getElementById("FIRE_COMPANY_PHONE").value = detail.COMPANY_PHONE;
        document.getElementById("FIRE_APPLICANT").value = detail.APPLICANT;
        document.getElementById("FIRE_INSURANT").value = detail.INSURANT;
        document.getElementById("FIRE_START_DATE").value = detail.START_DATE;
        document.getElementById("FIRE_END_DATE").value = detail.END_DATE;
        document.getElementById("FIRE_PRICE").value = detail.PRICE;
        document.getElementById("FIRE_DESCRIPTION").value = detail.DESCRIPTION;
        $("#modal-form-importdata-10").modal('show');
    }

    function deleteFire(idx) {
        fire_insurance.splice(idx - 1, 1);
        document.getElementById("tableFire").deleteRow(idx);
    }

</script>
<table class="table-condensed" style="width:100%">
    <tr>
        <td style="text-align: left">
            <label>商業火災綜合保險</label>
        </td>
        @if (CanEdit)
        {
            <text>
                <td style="text-align: right">
                    <a onclick="clickNewFire()" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus"> 商業火災綜合保險</i></a>
                </td>
            </text>
        }
    </tr>
</table>
<table class="table table-striped" id="tableFire">
    <thead>
        <tr>
            <th>保險公司</th>
            <th>保單號碼</th>
            <th>投保人</th>
            <th>被保險人</th>
            <th>保險期間</th>
            <th>保險費</th>
            <th>備註</th>
            <th>保單內容</th>
            @if (CanEdit)
            {
                <th>編輯</th>
                <th>刪除</th>
            }
        </tr>
    </thead>
    <tbody>     
        @if (Model != null && Model.Contract != null && Model.Contract.FireList != null)
        {
            int idx = 1;
            foreach (InsuranceViewModel item in Model.Contract.FireList)
            {
                string start_date = (item.START_DATE != null) ? item.START_DATE.Value.ToString("yyyy/MM/dd") : "";
                string end_date = (item.START_DATE != null) ? item.START_DATE.Value.ToString("yyyy/MM/dd") : "";
                <script>
                    var value = {
                        ID:  @item.ID, INSURANCE_TYPE: "1", COMPANY:"@item.COMPANY", INSURANCE_NO: "@item.INSURANCE_NO", COMPANY_CONTACT: "@item.COMPANY_CONTACT"
                        , COMPANY_PHONE: "@item.COMPANY_PHONE", APPLICANT: "@item.APPLICANT", INSURANT: "@item.INSURANT"
                        , START_DATE: "@start_date", END_DATE: "@end_date", PRICE: "@item.PRICE", DESCRIPTION: "@item.DESCRIPTION"
                    };
                    fire_insurance.push(value);
                </script>
                <text>
                    <tr>
                        <td>@item.COMPANY</td>
                        <td>@item.INSURANCE_NO</td>
                        <td>@item.APPLICANT</td>
                        <td>@item.INSURANT</td>
                        <td>
                            @if (item.START_DATE != null)
                            {
                                <text>
                                    @item.START_DATE.Value.ToString("yyyy/MM/dd")
                                </text>

                            }
                            @if (item.END_DATE != null)
                            {
                                <text>
                                    ~ @item.END_DATE.Value.ToString("yyyy/MM/dd")
                                </text>

                            }
                        </td>
                        <td>@item.PRICE</td>
                        <td>@item.DESCRIPTION</td>
                        @if (CanEdit)
                        {
                            <td><a href="download/20170909_02.pdf" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                            <td><a class="btn btn-primary btn-circle" onclick="editFire('@idx')" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                            <td><a class="btn btn-danger btn-circle" onclick="deleteFire('@idx')" title="刪除"><i class="fa fa-trash"></i></a></td>
                        }
                    </tr>
                </text>
                idx += 1;
            }
        } 
    </tbody>
</table>