﻿@using InspiniaWebAdminTemplate.Models.Integration;
@model ContactDetailViewModel
@{
    bool CanEdit = Model == null || Model.canEdit;
}
<script>    
    function addLand() {        
        var table = document.getElementById("tableLand").getElementsByTagName('tbody')[0];
        var editMode = document.getElementById("LandEditType").value;
        var row = null;
        var cell0 = null;
        var cell1 = null;
        var cell2 = null;
        var cell3 = null;
        var cell4 = null;
        if(editMode == "0"){
            row = table.insertRow(table.rows.length);
            cell0 = row.insertCell(0);
            cell1 = row.insertCell(1);
            cell2 = row.insertCell(2);
            cell3 = row.insertCell(3);
            cell4 = row.insertCell(4);            
            cell3.innerHTML = '<a onclick=\'editLand(' + table.rows.length + ')\' class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a>';
            cell4.innerHTML = '<a class="btn btn-danger btn-circle" onclick="deleteLand(' + table.rows.length + ')" title="刪除"><i class="fa fa-trash"></i></a>';
            var value = {
                ID: 0, CITY_NAME: $("#LAND_CITY_NAME").val(),DISTRICT_NAME: $("#LAND_DISTRICT_NAME").val(), SECTION_NAME: $("#LAND_SECTION_NAME").val()
                ,SUBSECTION_NAME: $("#LAND_SUBSECTION_NAME").val(), PARENT_LAND_NUMBER: $("#PARENT_LAND_NUMBER").val(), FILIAL_LAND_NUMBER: $("#FILIAL_LAND_NUMBER").val(),
                LAND_USE_TYPE: $("#LAND_USE_TYPE").val(), AUTHORIZED_AREA: $("#AUTHORIZED_AREA").val(), ANNOUNCE_PRICE: $("#ANNOUNCE_PRICE").val(), DESCRIPTION: $("#DESCRIPTION").val()
            };
            land.push(value);
        }else{
            var idx = parseInt(editMode) - 1;
            row = table.rows[idx];
            cell0 = row.cells[0];
            cell1 = row.cells[1];
            cell2 = row.cells[2];
            cell3 = row.cells[3];
            cell4 = row.cells[4];
            cell3.innerHTML = '<a onclick=\'editLand(' + editMode+ ')\' class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a>';
            cell4.innerHTML = '<a class="btn btn-danger btn-circle" onclick="deleteLand(' + editMode + ')" title="刪除"><i class="fa fa-trash"></i></a>';
            land[idx].LAND_CITY_NAME =  document.getElementById("LAND_CITY_NAME").value;
            land[idx].DISTRICT_NAME = document.getElementById("LAND_DISTRICT_NAME").value;
            land[idx].SECTION_NAME = document.getElementById("LAND_SECTION_NAME").value;
            land[idx].SUBSECTION_NAME = document.getElementById("LAND_SUBSECTION_NAME").value;
            land[idx].PARENT_LAND_NUMBER = document.getElementById("PARENT_LAND_NUMBER").value;
            land[idx].FILIAL_LAND_NUMBER = document.getElementById("FILIAL_LAND_NUMBER").value;
            land[idx].LAND_USE_TYPE = document.getElementById("LAND_USE_TYPE").value;     
            land[idx].AUTHORIZED_AREA = document.getElementById("AUTHORIZED_AREA").value;     
            land[idx].ANNOUNCE_PRICE = document.getElementById("ANNOUNCE_PRICE").value;     
            land[idx].DESCRIPTION = document.getElementById("DESCRIPTION").value;
        }
        var address = document.getElementById("LAND_CITY_NAME").value + document.getElementById("LAND_DISTRICT_NAME").value;
        if (document.getElementById("LAND_SECTION_NAME").value != '') {
            address += document.getElementById("LAND_SECTION_NAME").value + "段";
        }
        if (document.getElementById("LAND_SUBSECTION_NAME").value != '') {
            address += document.getElementById("LAND_SUBSECTION_NAME").value + "小段";
        }
        if (document.getElementById("PARENT_LAND_NUMBER").value != '') {
            address += document.getElementById("PARENT_LAND_NUMBER").value;
            if (document.getElementById("FILIAL_LAND_NUMBER").value != '') {
                address += "-" + document.getElementById("FILIAL_LAND_NUMBER").value ;
            }
            address += "地號";
        }        
        cell0.innerHTML = document.getElementById("LAND_USE_TYPE").value;
        cell1.innerHTML = address;
        cell2.innerHTML = document.getElementById("LESSEE_AREA").value;
        document.getElementById("LAND_CITY_NAME").value = "";
        document.getElementById("LAND_DISTRICT_NAME").value = "";
        document.getElementById("LAND_SECTION_NAME").value = "";
        document.getElementById("LAND_SUBSECTION_NAME").value = "";
        document.getElementById("PARENT_LAND_NUMBER").value = "";
        document.getElementById("FILIAL_LAND_NUMBER").value = "";
        document.getElementById("LAND_USE_TYPE").value = "";
        document.getElementById("AUTHORIZED_AREA").value = "0";
        document.getElementById("ANNOUNCE_PRICE").value = "0";
        document.getElementById("DESCRIPTION").value = "";
    }

    function clickNewLand(){
        document.getElementById("LandEditType").value = "0";
        $("#modal-form-importdata-8").modal('show');
    }

    function editLand(idx) {
        var detail = land[idx - 1];
        document.getElementById("LandEditType").value = idx;
        document.getElementById("LAND_CITY_NAME").value = detail.LAND_CITY_NAME;
        document.getElementById("LAND_DISTRICT_NAME").value = detail.DISTRICT_NAME;
        document.getElementById("LAND_SECTION_NAME").value = detail.SECTION_NAME;
        document.getElementById("LAND_SUBSECTION_NAME").value = detail.SUBSECTION_NAME;
        document.getElementById("PARENT_LAND_NUMBER").value = detail.PARENT_LAND_NUMBER;
        document.getElementById("FILIAL_LAND_NUMBER").value = detail.FILIAL_LAND_NUMBER;
        document.getElementById("LAND_USE_TYPE").value = detail.LAND_USE_TYPE;
        document.getElementById("AUTHORIZED_AREA").value = detail.AUTHORIZED_AREA;
        document.getElementById("ANNOUNCE_PRICE").value = detail.ANNOUNCE_PRICE;
        document.getElementById("DESCRIPTION").value = detail.DESCRIPTION;
        $("#modal-form-importdata-8").modal('show');
    }

    function deleteLand(idx) {
        land.splice(idx-1, 1);
        document.getElementById("tableLand").deleteRow(idx);
    }

</script>
<table class="table-condensed" style="width:100%">
    <tr>
        <td style="text-align: left">
            <label>土地資料</label>
        </td>
        @if (CanEdit)
        {
            <text>
                <td style="text-align: right">
                    <a onclick="clickNewLand()" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus"> 新增土地</i></a>
                </td>
            </text>
        }
    </tr>
</table>
<table class="table table-striped" id="tableLand">
    <thead>
        <tr>
            <th>使用分區</th>
            <th>地址</th>
            <th>承租面積</th>
           @if (CanEdit)
            {
            <th>編輯</th>
                <th>刪除</th>
           }
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Contract != null && Model.Contract.LandList != null)
        {
            int idx = 1;
            foreach (LandViewModel item in Model.Contract.LandList)
            {
                string address = item.CITY_NAME;
                if (!string.IsNullOrEmpty(item.SECTION_NAME))
                {
                    address += item.SECTION_NAME + "段";
                }
                if (!string.IsNullOrEmpty(item.SUBSECTION_NAME))
                {
                    address += item.SUBSECTION_NAME + "小段";
                }
                if (!string.IsNullOrEmpty(item.PARENT_LAND_NUMBER))
                {
                    address += item.PARENT_LAND_NUMBER;
                    if (string.IsNullOrEmpty(item.FILIAL_LAND_NUMBER))
                    {
                        address += "-" + item.FILIAL_LAND_NUMBER;
                    }
                    address += "地號";
                }                
                <text>
                    <script>
                        var value = {
                            ID: @item.ID, CITY_NAME:"@item.CITY_NAME",DISTRICT_NAME: "@item.DISTRICT_NAME", SECTION_NAME: "@item.SECTION_NAME"
                            ,SUBSECTION_NAME: "@item.SUBSECTION_NAME", PARENT_LAND_NUMBER: "@item.PARENT_LAND_NUMBER", FILIAL_LAND_NUMBER:"@item.FILIAL_LAND_NUMBER",
                            LAND_USE_TYPE: "@item.LAND_USE_TYPE", AUTHORIZED_AREA:"@item.AUTHORIZED_AREA", ANNOUNCE_PRICE:"@item.ANNOUNCE_PRICE", DESCRIPTION: "@item.DESCRIPTION"
                        };
                        land.push(value);
                    </script>
                    <tr>
                        <td>@item.LAND_USE_TYPE</td>
                        <td>@address</td>
                        <td>@item.LESSEE_AREA</td>
                        @if (CanEdit)
                        {
                            <td><a class="btn btn-primary btn-circle" onclick="editLand('@idx')" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                            <td><a class="btn btn-danger btn-circle" onclick="deleteLand('@idx')" title="刪除"><i class="fa fa-trash"></i></a></td>
                        }
                    </tr>
                </text>
                idx += 1;
            }
        }
    </tbody>
</table>

