﻿@using InspiniaWebAdminTemplate.Models.Integration;
@model ContactDetailViewModel
@{
    bool CanEdit = Model == null || Model.canEdit;
}
<script>
    $(function () {
        refreshMarginTotal();
    });
    function addMargint() {
        var table = document.getElementById("tableMargin").getElementsByTagName('tbody')[0];
        var editMode = document.getElementById("MarginEditType").value;
        var row = null;
        var cell0 = null;
        var cell1 = null;
        var cell2 = null;
        var cell3 = null;
        var cell4 = null;
        var cell5 = null;
        var cell6 = null;
        var cell7 = null;
        var cell8 = null;
        if(editMode == "0"){
            row = table.insertRow(table.rows.length);
            cell0 = row.insertCell(0);
            cell1 = row.insertCell(1);
            cell2 = row.insertCell(2);
            cell3 = row.insertCell(3);
            cell4 = row.insertCell(4);
            cell5 = row.insertCell(5);
            cell6 = row.insertCell(6);
            cell7 = row.insertCell(7);
            cell8 = row.insertCell(8);           
            cell7.innerHTML = '<a onclick=\'editMargint(' + table.rows.length + ')\' class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a>';
            cell8.innerHTML = '<a class="btn btn-danger btn-circle" onclick="deleteMargint(' + table.rows.length + ')" title="刪除"><i class="fa fa-trash"></i></a>';
            var value = {
                ID: 0, RECEIVED_DATE: $("#MARGIN_RECEIVED_DATE").val(), RETURN_DATE: $("#MARGIN_RETURN_DATE").val(), BANK: $("#MARGIN_BANK").val()
                , PRICE: $("#MARGIN_PRICE").val(), CURRENCY: $("#MARGIN_CURRENCY").val(), CURRENCY_VALUE: $("#MARGIN_CURRENCY_VALUE").val()
            };            
            margin.push(value);
        }else{
            var idx = parseInt(editMode) - 1;
            row = table.rows[idx];
            cell0 = row.cells[0];
            cell1 = row.cells[1];
            cell2 = row.cells[2];
            cell3 = row.cells[3];
            cell4 = row.cells[4];
            cell5 = row.cells[5];
            cell6 = row.cells[6];
            cell7 = row.cells[7];
            cell8 = row.cells[8];
            cell7.innerHTML = '<a onclick=\'editMargint(' + editMode + ')\' class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a>';
            cell8.innerHTML = '<a class="btn btn-danger btn-circle" onclick="deleteMargint(' + editMode + ')" title="刪除"><i class="fa fa-trash"></i></a>';
            margin[idx].RECEIVED_DATE = document.getElementById("MARGIN_RECEIVED_DATE").value;
            margin[idx].RETURN_DATE = document.getElementById("MARGIN_RETURN_DATE").value;
            margin[idx].BANK = document.getElementById("MARGIN_BANK").value;
            margin[idx].PRICE = document.getElementById("MARGIN_PRICE").value;
            margin[idx].CURRENCY = document.getElementById("MARGIN_CURRENCY").value;
            margin[idx]. CURRENCY_VALUE= document.getElementById("MARGIN_CURRENCY_VALUE").value;
        }

        var price = parseFloat(document.getElementById("MARGIN_PRICE").value);
        var value = parseFloat(document.getElementById("MARGIN_CURRENCY_VALUE").value);
        cell0.innerHTML = document.getElementById("MARGIN_RECEIVED_DATE").value;
        cell1.innerHTML = document.getElementById("MARGIN_RETURN_DATE").value;
        cell2.innerHTML = document.getElementById("MARGIN_BANK").value;
        cell3.innerHTML = document.getElementById("MARGIN_CURRENCY").value;
        cell4.innerHTML = document.getElementById("MARGIN_PRICE").value;
        cell5.innerHTML = document.getElementById("MARGIN_CURRENCY_VALUE").value;
        cell6.innerHTML = price * value;

        document.getElementById("MARGIN_RECEIVED_DATE").value = "";
        document.getElementById("MARGIN_RETURN_DATE").value = "";
        document.getElementById("MARGIN_BANK").value = "";
        document.getElementById("MARGIN_PRICE").value = "";
        document.getElementById("MARGIN_CURRENCY").value = "NTD"; 
        document.getElementById("MARGIN_CURRENCY_VALUE").value = "1";
        refreshMarginTotal();
    }

    function clickNewMargin(){
        document.getElementById("MarginEditType").value = "0";
        $("#modal-form-importdata-4").modal('show');
    }

    function editMargint(idx) {
        var detail = margin[idx - 1];
        document.getElementById("MarginEditType").value = idx;
        document.getElementById("MARGIN_RECEIVED_DATE").value = detail.RECEIVED_DATE;
        document.getElementById("MARGIN_RETURN_DATE").value = detail.RETURN_DATE;
        document.getElementById("MARGIN_BANK").value = detail.BANK;
        document.getElementById("MARGIN_PRICE").value = detail.PRICE;
        document.getElementById("MARGIN_CURRENCY").value = detail.CURRENCY;
        document.getElementById("MARGIN_CURRENCY_VALUE").value = detail.CURRENCY_VALUE;
        $("#modal-form-importdata-4").modal('show');
    }

    function deleteMargint(idx) {
        margin.splice(idx - 1, 1);
        document.getElementById("tableMargin").deleteRow(idx);
        refreshMarginTotal();
    }

    function refreshMarginTotal() {
        var total = 0.0;
        var table = document.getElementById("tableMargin").getElementsByTagName('tbody')[0];
        for (var i = 0, row; row = table.rows[i]; i++) {
            total += parseFloat(row.cells[6].innerHTML);
        }
        document.getElementById("MARGIN_TOTAL").innerHTML = total;
    }
</script>
<table class="table-condensed" style="width:100%">
    <tr>
        <td style="text-align: left">
            <label>保證金</label>
        </td>
        @if (CanEdit)
        {
            <text>
                <td style="text-align: right">
                    <a onclick="clickNewMargin()" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus"> 新增保證金</i></a>
                </td>
            </text>
        }
    </tr>
</table>
<table class="table table-striped" id="tableMargin">
    <thead>
        <tr>
            <th>保證金收款日期</th>
            <th>保證金退還日期</th>
            <th>保證銀行及字號</th>
            <th>幣別</th>
            <th>保證金</th>
            <th>匯率</th>
            <th>小計(NTD)</th>
            @if (CanEdit)
            {
                <th>編輯</th>
                <th>刪除</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Contract != null && Model.Contract.MarginList != null)
        {
            int idx = 1;
            foreach (MarginViewModel item in Model.Contract.MarginList)
            {
                double total = item.PRICE * double.Parse(item.CURRENCY_VALUE);
                <text>
                    <script>
                        var value = {
                ID:  @item.ID, RECEIVED_DATE: "@item.RECEIVED_DATE", RETURN_DATE:"@item.RETURN_DATE", BANK: "@item.BANK"
                            , PRICE: "@item.PRICE", CURRENCY: "@item.CURRENCY", CURRENCY_VALUE: "@item.CURRENCY_VALUE"
                        };
                margin.push(value);
                    </script>
                    <tr>
                        <td>@item.RECEIVED_DATE</td>
                        <td>@item.RETURN_DATE</td>
                        <td>@item.BANK</td>
                        <td>@item.CURRENCY</td>
                        <td>@item.PRICE</td>
                        <td>@item.CURRENCY_VALUE</td>
                        <td>@total</td>
                        @if (CanEdit)
                        {
                            <td><a class="btn btn-primary btn-circle" onclick="editMargint('@idx')" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>                        
                            <td><a class="btn btn-danger btn-circle" onclick="deleteMargint('@idx')" title="刪除"><i class="fa fa-trash"></i></a></td>
                        }
                    </tr>
                </text>
                idx += 1;
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2" style="text-align:left"><b>總計 NTD <span id="MARGIN_TOTAL">0</span></b></td>
            <td></td>
        </tr>
    </tfoot>
</table>

