﻿@using InspiniaWebAdminTemplate.Models.Integration;
@model ContactDetailViewModel
@{
    bool CanEdit = Model == null || Model.canEdit;
}
<script>
    function addNote() {
        var table = document.getElementById("tableNote").getElementsByTagName('tbody')[0];
        var editMode = document.getElementById("NoteEditType").value;
        var row = null;
        var cell0 = null;
        var cell1 = null;
        var cell2 = null;
        var cell3 = null;
        var cell4 = null;
        var cell5 = null;
        var cell6 = null;
        var cell7 = null;
        var cell8 = null;
        if(editMode == "0"){ 
            row = table.insertRow(table.rows.length);
            cell0 = row.insertCell(0);
            cell1 = row.insertCell(1);
            cell2 = row.insertCell(2);
            cell3 = row.insertCell(3);
            cell4 = row.insertCell(4);
            cell5 = row.insertCell(5);
            cell6 = row.insertCell(6);
            cell7 = row.insertCell(7);
            cell8 = row.insertCell(8);           
            cell7.innerHTML = '<a onclick=\'editNote(' + table.rows.length + ')\' class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a>';
            cell8.innerHTML = '<a class="btn btn-danger btn-circle" onclick="deleteNote(' + table.rows.length + ')" title="刪除"><i class="fa fa-trash"></i></a>';
            var value = {
                ID: 0, NOTE_TYPE: $("#NOTE_TYPE").val(), PAYMENT_PERIOD: $("#NOTE_PAYMENT_PERIOD").val(), CALC_START_DATE: $("#NOTE_CALC_START_DATE").val()
                , CALC_END_DATE: $('#NOTE_CALC_END_DATE').val(), PRICE: $("#NOTE_PRICE").val(), CALCULATE_METHOD: $("#NOTE_CALCULATE_METHOD").val()
                , DESCRIPTION: $("#NOTE_DESCRIPTION").val()
            };
            note.push(value);
        }else{
            var idx = parseInt(editMode) - 1;
            row = table.rows[idx];
            cell0 = row.cells[0];
            cell1 = row.cells[1];
            cell2 = row.cells[2];
            cell3 = row.cells[3];
            cell4 = row.cells[4];
            cell5 = row.cells[5];
            cell6 = row.cells[6];
            cell7 = row.cells[7];
            cell8 = row.cells[8];    
            cell7.innerHTML = '<a onclick=\'editNote(' + editMode + ')\' class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a>';
            cell8.innerHTML = '<a class="btn btn-danger btn-circle" onclick="deleteNote(' + editMode + ')" title="刪除"><i class="fa fa-trash"></i></a>';
            note[idx].NOTE_TYPE =  document.getElementById("NOTE_TYPE").value;
            note[idx].PAYMENT_PERIOD = document.getElementById("NOTE_PAYMENT_PERIOD").value;
            note[idx].CALC_START_DATE = document.getElementById("NOTE_CALC_START_DATE").value;
            note[idx].CALC_END_DATE = document.getElementById("NOTE_CALC_END_DATE").value;
            note[idx].PRICE = document.getElementById("NOTE_PRICE").value;
            note[idx].CALCULATE_METHOD = document.getElementById("NOTE_CALCULATE_METHOD").value;
            note[idx].DESCRIPTION = document.getElementById("NOTE_DESCRIPTION").value;            
        }

        cell0.innerHTML = '@DateTime.Now.ToString("yyyy/MM/dd")';
        cell1.innerHTML = document.getElementById("NOTE_TYPE").value;
        cell2.innerHTML = document.getElementById("NOTE_CALC_START_DATE").value + "~" + document.getElementById("NOTE_CALC_END_DATE").value;
        cell3.innerHTML = document.getElementById("NOTE_PRICE").value;
        cell4.innerHTML = document.getElementById("NOTE_CALCULATE_METHOD").value;
        cell5.innerHTML = document.getElementById("NOTE_PAYMENT_PERIOD").value;
        cell6.innerHTML = document.getElementById("NOTE_DESCRIPTION").value;
        document.getElementById("NOTE_TYPE").value = "";
        document.getElementById("NOTE_PAYMENT_PERIOD").value = "";
        document.getElementById("NOTE_CALC_START_DATE").value = "";
        document.getElementById("NOTE_CALC_END_DATE").value = "";
        document.getElementById("NOTE_PRICE").value = "";
        document.getElementById("NOTE_CALCULATE_METHOD").value = "";
        document.getElementById("NOTE_DESCRIPTION").value = "";        
    }

    function clickNewNote(){
        document.getElementById("NoteEditType").value = "0";
        $("#modal-form-importdata-12").modal('show');
    }

    function editNote(idx) {
        var detail = note[idx - 1];
        document.getElementById("NoteEditType").value = idx;
        document.getElementById("NOTE_TYPE").value = detail.NOTE_TYPE;
        document.getElementById("NOTE_PAYMENT_PERIOD").value = detail.PAYMENT_PERIOD;
        document.getElementById("NOTE_CALC_START_DATE").value = detail.CALC_START_DATE;
        document.getElementById("NOTE_CALC_END_DATE").value = detail.CALC_END_DATE;
        document.getElementById("NOTE_PRICE").value = detail.PRICE;
        document.getElementById("NOTE_CALCULATE_METHOD").value = detail.CALCULATE_METHOD;
        document.getElementById("NOTE_DESCRIPTION").value = detail.DESCRIPTION;
        $("#modal-form-importdata-12").modal('show');
    }

    function deleteNote(idx) {
        note.splice(idx-1, 1);
        document.getElementById("tableNote").deleteRow(idx);
    }

</script>
<table class="table-condensed" style="width:100%">
    <tr>
        <td style="text-align: left">
            <label>備註</label>
        </td>
        @if (CanEdit)
        {
            <text>
                <td style="text-align: right">
                    <a onclick="clickNewNote()" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus"> 新增備註</i></a>
                </td>
            </text>
        }
    </tr>
</table>
<table class="table table-striped" id="tableNote">
    <thead>
        <tr>
            <th>備註日期</th>
            <th>項目</th>
            <th>計算期間</th>
            <th>金額</th>
            <th>計算方式</th>
            <th>繳納日期</th>
            <th>備註</th>
            @if (CanEdit)
            {
                <th>編輯</th>
                <th>刪除</th>
            }
        </tr>
    </thead>
    <tbody>   
        @if (Model != null && Model.Contract != null && Model.Contract.NoteList != null)
        {
            int idx = 1;
            foreach (NoteViewModel item in Model.Contract.NoteList)
            {
                string start_date = (item.CALC_START_DATE != null) ? item.CALC_START_DATE.Value.ToString("yyyy/MM/dd") : "";
                string end_date = (item.CALC_END_DATE != null) ? item.CALC_END_DATE.Value.ToString("yyyy/MM/dd") : "";
                string payment_period = (item.PAYMENT_PERIOD != null) ? item.PAYMENT_PERIOD.Value.ToString("yyyy/MM/dd") : "";
                <text>       
                    <script>
                        var value = {
                            ID: @item.ID, NOTE_TYPE:"@item.NOTE_TYPE", PAYMENT_PERIOD: "@payment_period", CALC_START_DATE: "@start_date"
                            , CALC_END_DATE: "@end_date", PRICE: "@item.PRICE", CALCULATE_METHOD: "@item.CALCULATE_METHOD"
                            , DESCRIPTION: "@item.DESCRIPTION"
                        };
                        note.push(value);
                    </script>
                    <tr>
                        <td>@item.Create_Time.Value.ToString("yyyy/MM/dd")</td>
                        <td>@item.NOTE_TYPE</td>
                        <td>
                            @if (item.CALC_START_DATE != null)
                            {
                                <text>
                                    @item.CALC_START_DATE.Value.ToString("yyyy/MM/dd")
                                </text>

                            }
                            @if (item.CALC_END_DATE != null)
                            {
                                <text>
                                 ~   @item.CALC_END_DATE.Value.ToString("yyyy/MM/dd")
                                </text>

                            }
                        </td>
                        <td>@item.PRICE</td>
                        <td>@item.CALCULATE_METHOD</td>
                        <td>@payment_period</td>
                        <td>@item.DESCRIPTION</td>
                        @if (CanEdit)
                        {
                            <td><a class="btn btn-primary btn-circle" onclick="editNote('@idx')" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                            <td><a class="btn btn-danger btn-circle" onclick="deleteNote('@idx')" title="刪除"><i class="fa fa-trash"></i></a></td>
                        }
                    </tr>
                </text>
                idx += 1;
            }
        }
    </tbody>
</table>