﻿@using InspiniaWebAdminTemplate.Models.Integration;
@model ContactDetailViewModel
@{
    bool CanEdit = Model == null || Model.canEdit;
}
<script>
    function addParking() {
        var table = document.getElementById("tableParking").getElementsByTagName('tbody')[0];
        var editMode = document.getElementById("ParkingEditType").value;
        var row = null;
        var cell0 = null;
        var cell1 = null;
        var cell2 = null;
        var cell3 = null;
        var cell4 = null;
        var cell5 = null;
        var cell6 = null;
        if(editMode == "0"){ 
            row = table.insertRow(table.rows.length);
            cell0 = row.insertCell(0);
            cell1 = row.insertCell(1);
            cell2 = row.insertCell(2);
            cell3 = row.insertCell(3);
            cell4 = row.insertCell(4);
            cell5 = row.insertCell(5);
            cell6 = row.insertCell(6);            
            cell4.innerHTML = '<a onclick=\'editParking(' + table.rows.length + ')\' class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a>';
            cell5.innerHTML = '<a onclikc=\'onCopyData(2, ' + table.rows.length + ')\' data-toggle="modal" class="btn btn-gray btn-circle" title="複製"><i class="fa fa-copy"></i></a>';
            cell6.innerHTML = '<a class="btn btn-danger btn-circle" onclick="deleteParking(' + table.rows.length + ')" title="刪除"><i class="fa fa-trash"></i></a>';
            var value = {
                ID: 0, PARKING_NO: $("#PARKING_NO").val(), CITY_NAME: $("#PARKING_CITY_NAME").val(), DISTRICT_NAME: $("#PARKING_DISTRICT_NAME").val(), SECTION_NAME: $("#PARKING_SECTION_NAME").val(),
                SUBSECTION_NAME: $("#PARKING_SUBSECTION_NAME").val(), ADDRESS: $("#PARKING_ADDRESS").val(), PARKING_USE_TYPE: $("#PARKING_USE_TYPE").val(),
                FLOOR: $("#PARKING_FLOOR").val(), DESCRIPTION: $("#PARKING_DESCRIPTION").val()
            };
            parking.push(value);
        }else{
            var idx = parseInt(editMode) - 1;
            row = table.rows[idx];
            cell0 = row.cells[0];
            cell1 = row.cells[1];
            cell2 = row.cells[2];
            cell3 = row.cells[3];
            cell4 = row.cells[4];
            cell5 = row.cells[5];
            cell6 = row.cells[6];
            cell4.innerHTML = '<a onclick=\'editParking(' + editMode + ')\' class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a>';
            cell5.innerHTML = '<a onclikc=\'onCopyData(2, ' + editMode + ')\' data-toggle="modal" class="btn btn-gray btn-circle" title="複製"><i class="fa fa-copy"></i></a>';
            cell6.innerHTML = '<a class="btn btn-danger btn-circle" onclick="deleteParking(' + editMode + ')" title="刪除"><i class="fa fa-trash"></i></a>';

            parking[idx].PARKING_NO =  document.getElementById("PARKING_NO").value;
            parking[idx].CITY_NAME =  document.getElementById("PARKING_CITY_NAME").value;
            parking[idx].DISTRICT_NAME =  document.getElementById("PARKING_DISTRICT_NAME").value;
            parking[idx].SECTION_NAME =  document.getElementById("PARKING_SECTION_NAME").value;
            parking[idx].SUBSECTION_NAME =  document.getElementById("PARKING_SUBSECTION_NAME").value;
            parking[idx].ADDRESS =  document.getElementById("PARKING_ADDRESS").value;
            parking[idx].PARKING_USE_TYPE =  document.getElementById("PARKING_USE_TYPE").value;
            parking[idx].FLOOR =  document.getElementById("PARKING_FLOOR").value;
            parking[idx].DESCRIPTION =  document.getElementById("PARKING_DESCRIPTION").value;            
        }
        cell0.innerHTML = document.getElementById("PARKING_ADDRESS").value;
        cell1.innerHTML = document.getElementById("PARKING_USE_TYPE").value;
        cell2.innerHTML = document.getElementById("PARKING_FLOOR").value;
        cell3.innerHTML = document.getElementById("PARKING_NO").value;

        document.getElementById("PARKING_NO").value = "";
        document.getElementById("PARKING_CITY_NAME").value = "";
        document.getElementById("PARKING_DISTRICT_NAME").value = "";
        document.getElementById("PARKING_SECTION_NAME").value = "";
        document.getElementById("PARKING_SUBSECTION_NAME").value = "";
        document.getElementById("PARKING_ADDRESS").value = "";
        document.getElementById("PARKING_USE_TYPE").value = "";
        document.getElementById("PARKING_FLOOR").value = "";
        document.getElementById("PARKING_DESCRIPTION").value = "";
    }

    function clickNewParking(){
        document.getElementById("ParkingEditType").value = "0";
        $("#modal_parking").modal('show');
    }

    function editParking(idx) {
        var detail = parking[idx-1];
        document.getElementById("ParkingEditType").value = idx;
        document.getElementById("PARKING_NO").value = detail.PARKING_NO;
        document.getElementById("PARKING_CITY_NAME").value = detail.CITY_NAME;
        document.getElementById("PARKING_DISTRICT_NAME").value = detail.DISTRICT_NAME;
        document.getElementById("PARKING_SECTION_NAME").value = detail.SECTION_NAME;
        document.getElementById("PARKING_SUBSECTION_NAME").value = detail.SUBSECTION_NAME;
        document.getElementById("PARKING_ADDRESS").value = detail.ADDRESS;
        document.getElementById("PARKING_USE_TYPE").value = detail.PARKING_USE_TYPE;
        document.getElementById("PARKING_FLOOR").value = detail.FLOOR;
        document.getElementById("PARKING_DESCRIPTION").value = detail.DESCRIPTION;
        $("#modal_parking").modal('show');
    }

    function deleteParking(idx) {
        parking.splice(idx - 1, 1);
        document.getElementById("tableParking").deleteRow(idx);
    }

    function copyParkingData() {
        var count = parseInt(document.getElementById("copyCount").value);
        var idx = document.getElementById("copyIdx").value;
        var table = document.getElementById("tableParking").getElementsByTagName('tbody')[0];
        var detail = parking[idx - 1];
        console.log(detail);
        for (var i = 0; i < count; i++) {
            var row = table.insertRow(table.rows.length);
            var cell0 = row.insertCell(0);
            var cell1 = row.insertCell(1);
            var cell2 = row.insertCell(2);
            var cell3 = row.insertCell(3);
            var cell4 = row.insertCell(4);
            var cell5 = row.insertCell(5);
            var cell6 = row.insertCell(6);
            cell0.innerHTML = detail.ADDRESS;
            cell1.innerHTML = detail.PARKING_USE_TYPE;
            cell2.innerHTML = detail.FLOOR;
            cell3.innerHTML = detail.PARKING_NO;
            cell4.innerHTML = '<a onclick=\'editParking(' + table.rows.length + ')\' class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a>';
            cell5.innerHTML = '<a onclikc=\'onCopyData(2, ' + table.rows.length + ')\' data-toggle="modal" class="btn btn-gray btn-circle" title="複製"><i class="fa fa-copy"></i></a>';
            cell6.innerHTML = '<a class="btn btn-danger btn-circle" onclick="deleteParking(' + table.rows.length + ')" title="刪除"><i class="fa fa-trash"></i></a>';
            parking.push(detail);
        }
        document.getElementById("copyIdx").value = "";
        document.getElementById("copyType").value = "";
    }
</script>
<table class="table-condensed" style="width:100%">
    <tr>
        <td style="text-align: left">
            <label>停車位資料</label>
        </td>
        @if (CanEdit)
        {
            <text>
                <td style="text-align: right">
                    <a onclick="clickNewParking()" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus"> 新增停車位</i></a>
                </td>
            </text>
        }
    </tr>
</table>
<table class="table table-striped" id="tableParking">
    <thead>
        <tr>
            <th>地址</th>
            <th>類別</th>
            <th>樓層</th>
            <th>車位編號</th>
            @if (CanEdit)
            {
                <th>編輯</th>
                <th>複製</th>
                <th>刪除</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Contract != null && Model.Contract.ParkingList != null)
        {
            int idx = 1;
            foreach (ParkingViewModel item in Model.Contract.ParkingList)
            {
                <text>
                    <script>
                        var value = {
                            ID: @item.ID, PARKING_NO:"@item.PARKING_NO", CITY_NAME:"@item.CITY_NAME", DISTRICT_NAME: "@item.DISTRICT_NAME", SECTION_NAME: "@item.SECTION_NAME",
                            SUBSECTION_NAME: "@item.SUBSECTION_NAME", ADDRESS:"@item.ADDRESS", PARKING_USE_TYPE: "@item.PARKING_USE_TYPE", FLOOR: "@item.FLOOR", DESCRIPTION: "@item.DESCRIPTION"
                        };
                        parking.push(value);
                     </script>
                    <tr>
                        <td>@item.ADDRESS</td>
                        <td>@item.PARKING_USE_TYPE</td>                        
                        <td>@item.FLOOR</td>
                        <td>@item.PARKING_NO</td>
                        @if (CanEdit)
                        {
                            <td><a class="btn btn-primary btn-circle" onclick="editParking('@idx')" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                            <td><a onclick="onCopyData(2, @idx)" data-toggle="modal" class="btn btn-gray btn-circle" title="複製"><i class="fa fa-copy"></i></a></td>                        
                            <td><a class="btn btn-danger btn-circle" onclick="deleteParking('@idx')" title="刪除"><i class="fa fa-trash"></i></a></td>
                        }
                    </tr>
                </text>
                idx += 1;
            }
        }
    </tbody>
</table>