﻿@using InspiniaWebAdminTemplate.Models.Integration;
@model ContactDetailViewModel
@{
    bool CanEdit = Model == null || Model.canEdit;
}
<script>
    function addPaymentAccount() {
        var table = document.getElementById("tablePayment").getElementsByTagName('tbody')[0];
        var editMode = document.getElementById("PaymentEditType").value;
        var row = null;
        var cell0 = null;
        var cell1 = null;
        var cell2 = null;
        var cell3 = null;
        var cell4 = null;
        var cell5 = null;
        var cell6 = null;
        if (editMode == "0") {
            row = table.insertRow(table.rows.length);
            cell0 = row.insertCell(0);
            cell1 = row.insertCell(1);
            cell2 = row.insertCell(2);
            cell3 = row.insertCell(3);
            cell4 = row.insertCell(4);
            cell5 = row.insertCell(5);
            cell6 = row.insertCell(6);
            cell5.innerHTML = '<a onclick=\'editPaymentAccount(' + table.rows.length + ')\' class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a>';
            cell6.innerHTML = '<a class="btn btn-danger btn-circle" onclick="deletePaymentAccount(' + table.rows.length + ')" title="刪除"><i class="fa fa-trash"></i></a>';
            var value = {
                ID: 0, BANK: $("#PAYMENT_BANK").val(), ACCOUNT: $("#PAYMENT_ACCOUNT").val(), ACCOUNT_NAME: $("#PAYMENT_ACCOUNT_NAME").val()
                , PAYMENT_METHOD: $('input[name="PAYMENT_METHOD"]:checked').val(), DESCRIPTION: $("#PAYMENT_DESCRIPTION").val()
            };
            payment.push(value);
        } else {
            var idx = parseInt(editMode) - 1;
            row = table.rows[idx];
            cell0 = row.cells[0];
            cell1 = row.cells[1];
            cell2 = row.cells[2];
            cell3 = row.cells[3];
            cell4 = row.cells[4];
            cell5 = row.cells[5];
            cell6 = row.cells[6];
            cell5.innerHTML = '<a onclick=\'editPaymentAccount(' + editMode + ')\' class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a>';
            cell6.innerHTML = '<a class="btn btn-danger btn-circle" onclick="deletePaymentAccount(' + editMode + ')" title="刪除"><i class="fa fa-trash"></i></a>';
            payment[idx].BANK = document.getElementById("PAYMENT_BANK").value;
            payment[idx].ACCOUNT = document.getElementById("PAYMENT_ACCOUNT").value;
            payment[idx].ACCOUNT_NAME = document.getElementById("PAYMENT_ACCOUNT_NAME").value;
            payment[idx].PAYMENT_METHOD = $('input[name="PAYMENT_METHOD"]:checked').val();
            payment[idx].DESCRIPTION = document.getElementById("PAYMENT_DESCRIPTION").value;
        }

        cell0.innerHTML = document.getElementById("PAYMENT_BANK").value;
        cell1.innerHTML = document.getElementById("PAYMENT_ACCOUNT").value;
        cell2.innerHTML = document.getElementById("PAYMENT_ACCOUNT_NAME").value;
        cell3.innerHTML = $('input[name="PAYMENT_METHOD"]:checked').val();
        cell4.innerHTML = document.getElementById("PAYMENT_DESCRIPTION").value;

        document.getElementById("PAYMENT_BANK").value = "";
        document.getElementById("PAYMENT_ACCOUNT").value = "";
        document.getElementById("PAYMENT_ACCOUNT_NAME").value = "";
        document.getElementById("PAYMENT_DESCRIPTION").value = "";
    }

    function clickNewPayment() {
        document.getElementById("PaymentEditType").value = "0";
        $("#modal-form-importdata-3").modal('show');
    }

    function editPaymentAccount(idx) {
        var detail = payment[idx - 1];
        document.getElementById("PaymentEditType").value = idx;
        document.getElementById("PAYMENT_BANK").value = detail.BANK;
        document.getElementById("PAYMENT_ACCOUNT").value = detail.ACCOUNT;
        document.getElementById("PAYMENT_ACCOUNT_NAME").value = detail.ACCOUNT_NAME;
        $("input[name=PAYMENT_METHOD][value=" + detail.PAYMENT_METHOD + "]").trigger('click');
        document.getElementById("PAYMENT_DESCRIPTION").value = detail.DESCRIPTION;
        $("#modal-form-importdata-3").modal('show');
    }

    function deletePaymentAccount(idx) {
        payment.splice(idx-1, 1);
        document.getElementById("tablePayment").deleteRow(idx);
    }

</script>
<table class="table-condensed" style="width:100%">
    <tr>
        <td style="text-align: left">
            <label>繳款資料</label>
        </td>
        @if (CanEdit)
        {
            <text>
                <td style="text-align: right">
                    <a onclick="clickNewPayment()" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus"> 新增繳款資料</i></a>
                </td>
            </text>
        }
    </tr>
</table>
<table class="table table-striped" id="tablePayment">
    <thead>
        <tr>
            <th>繳款銀行</th>
            <th>繳款帳號</th>
            <th>戶名</th>
            <th>繳款方式</th>
            <th>備註</th>
            @if (CanEdit)
            {
                <th>編輯</th>
                <th>刪除</th>
            }
        </tr>
    </thead>
    <tbody>
       @if (Model != null && Model.Contract != null && Model.Contract.PaymentList != null)
       {
           int idx = 1;
           foreach (PaymentAccountViewModel item in Model.Contract.PaymentList)
           {
                <text>
                    <script>
                        var value = {
                            ID: "@item.ID", BANK: "@item.BANK", ACCOUNT: "@item.ACCOUNT", ACCOUNT_NAME: "@item.ACCOUNT_NAME"
                            , PAYMENT_METHOD: "@item.PAYMENT_METHOD", DESCRIPTION: "@item.DESCRIPTION"
                        };
                        payment.push(value);
                    </script>
                    <tr>
                        <td>@item.BANK</td>
                        <td>@item.ACCOUNT</td>
                        <td>@item.ACCOUNT_NAME</td>
                        <td>@item.PAYMENT_METHOD</td>
                        <td>@item.DESCRIPTION</td>  
                        @if (CanEdit)
                        {
                            <td><a class="btn btn-primary btn-circle" onclick="editPaymentAccount('@idx')" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                            <td><a class="btn btn-danger btn-circle" onclick="deletePaymentAccount('@idx')" title="刪除"><i class="fa fa-trash"></i></a></td>
                        }
                    </tr>
                </text>
               idx += 1;
           }
        }
    </tbody>
</table>

