﻿@using InspiniaWebAdminTemplate.Models.Integration;
@model ContactDetailViewModel
@{
    bool CanEdit = Model == null || Model.canEdit;
}
<script>
    function addPublic() {
        var table = document.getElementById("tablePublic").getElementsByTagName('tbody')[0];
        var editMode = document.getElementById("PublicEditType").value;
        var row = null;
        var cell0 = null;
        var cell1 = null;
        var cell2 = null;
        var cell3 = null;
        var cell4 = null;
        var cell5 = null;
        var cell6 = null;
        var cell7 = null;
        var cell8 = null;
        var cell9 = null;
        if(editMode == "0"){
            row = table.insertRow(table.rows.length);
            cell0 = row.insertCell(0);
            cell1 = row.insertCell(1);
            cell2 = row.insertCell(2);
            cell3 = row.insertCell(3);
            cell4 = row.insertCell(4);
            cell5 = row.insertCell(5);
            cell6 = row.insertCell(6);
            cell7 = row.insertCell(7);
            cell8 = row.insertCell(8);
            cell9 = row.insertCell(9);           
            value = {
                ID: 0, INSURANCE_TYPE: "2", COMPANY: $("#PUBLIC_COMPANY").val(), INSURANCE_NO: $("#PUBLIC_INSURANCE_NO").val(), COMPANY_CONTACT: $("#PUBLIC_COMPANY_CONTACT").val()
               , COMPANY_PHONE: $('#PUBLIC_COMPANY_PHONE').val(), APPLICANT: $("#PUBLIC_APPLICANT").val(), INSURANT: $("#PUBLIC_INSURANT").val()
               , START_DATE: $("#PUBLIC_START_DATE").val(), END_DATE: $("#PUBLIC_END_DATE").val(), PRICE: $("#PUBLIC_PRICE").val(), DESCRIPTION: $("#PUBLIC_DESCRIPTION").val()
            };

            cell7.innerHTML = '<td><a href="download/20170909_02.pdf" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>';
            cell8.innerHTML = '<a onclick=\'editPublic(' + table.rows.length + ')\' class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a>';
            cell9.innerHTML = '<a class="btn btn-danger btn-circle" onclick="deletePublic(' + table.rows.length + ')" title="刪除"><i class="fa fa-trash"></i></a>';
            public_insurance.push(value);
        }else{
            var idx = parseInt(editMode) - 1;
            row = table.rows[idx];
            cell0 = row.cells[0];
            cell1 = row.cells[1];
            cell2 = row.cells[2];
            cell3 = row.cells[3];
            cell4 = row.cells[4];
            cell5 = row.cells[5];
            cell6 = row.cells[6];
            cell7 = row.cells[7];
            cell8 = row.cells[8];
            cell9 = row.cells[9];

            public_insurance[idx].COMPANY =  document.getElementById("PUBLIC_COMPANY").value;
            public_insurance[idx].INSURANCE_NO = document.getElementById("PUBLIC_INSURANCE_NO").value;
            public_insurance[idx].COMPANY_CONTACT = document.getElementById("PUBLIC_COMPANY_CONTACT").value ;
            public_insurance[idx].COMPANY_PHONE = document.getElementById("PUBLIC_COMPANY_PHONE").value ;
            public_insurance[idx].APPLICANT =  document.getElementById("PUBLIC_APPLICANT").value;
            public_insurance[idx].INSURANT = document.getElementById("PUBLIC_INSURANT").value;
            public_insurance[idx].START_DATE = document.getElementById("PUBLIC_START_DATE").value ;
            public_insurance[idx].END_DATE =  document.getElementById("PUBLIC_END_DATE").value ;
            public_insurance[idx].PRICE = document.getElementById("PUBLIC_PRICE").value;
            public_insurance[idx].DESCRIPTION = document.getElementById("PUBLIC_DESCRIPTION").value ;
            
            cell7.innerHTML = '<td><a href="download/20170909_02.pdf" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>';
            cell8.innerHTML = '<a onclick=\'editPublic(' + editMode + ')\' class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a>';
            cell9.innerHTML = '<a class="btn btn-danger btn-circle" onclick="deletePublic(' + editMode + ')" title="刪除"><i class="fa fa-trash"></i></a>';
        }
    
        cell0.innerHTML = document.getElementById("PUBLIC_COMPANY").value;
        cell1.innerHTML = document.getElementById("PUBLIC_INSURANCE_NO").value;
        cell2.innerHTML = document.getElementById("PUBLIC_APPLICANT").value;
        cell3.innerHTML = document.getElementById("PUBLIC_INSURANT").value;
        cell4.innerHTML = document.getElementById("PUBLIC_START_DATE").value + "~" + document.getElementById("PUBLIC_END_DATE").value;
        cell5.innerHTML = document.getElementById("PUBLIC_PRICE").value;
        cell6.innerHTML = document.getElementById("PUBLIC_DESCRIPTION").value;

        document.getElementById("PUBLIC_COMPANY").value = "";
        document.getElementById("PUBLIC_INSURANCE_NO").value = "";
        document.getElementById("PUBLIC_COMPANY_CONTACT").value = "";
        document.getElementById("PUBLIC_COMPANY_PHONE").value = "";
        document.getElementById("PUBLIC_APPLICANT").value = "";
        document.getElementById("PUBLIC_INSURANT").value = "";
        document.getElementById("PUBLIC_START_DATE").value = "";
        document.getElementById("PUBLIC_END_DATE").value = "";
        document.getElementById("PUBLIC_PRICE").value = "";
        document.getElementById("PUBLIC_DESCRIPTION").value = "";        
    }
    function clickNewPublic(){
        document.getElementById("PublicEditType").value = "0";
        $("#modal-form-importdata-11").modal('show');
    }

    function editPublic(idx) {
        var detail = public_insurance[idx - 1];
        document.getElementById("PublicEditType").value = idx;
        document.getElementById("PUBLIC_COMPANY").value = detail.COMPANY;
        document.getElementById("PUBLIC_INSURANCE_NO").value = detail.INSURANCE_NO;
        document.getElementById("PUBLIC_COMPANY_CONTACT").value = detail.COMPANY_CONTACT;
        document.getElementById("PUBLIC_COMPANY_PHONE").value = detail.COMPANY_PHONE;
        document.getElementById("PUBLIC_APPLICANT").value = detail.APPLICANT;
        document.getElementById("PUBLIC_INSURANT").value = detail.INSURANT;
        document.getElementById("PUBLIC_START_DATE").value = detail.START_DATE;
        document.getElementById("PUBLIC_END_DATE").value = detail.END_DATE;
        document.getElementById("PUBLIC_PRICE").value = detail.PRICE;
        document.getElementById("PUBLIC_DESCRIPTION").value = detail.DESCRIPTION;
        $("#modal-form-importdata-11").modal('show');
    }

    function deletePublic(idx) {
        public_insurance.splice(idx - 1, 1);
        document.getElementById("tablePublic").deleteRow(idx);
    }

</script>
<table class="table-condensed" style="width:100%">
    <tr>
        <td style="text-align: left">
            <label>公共意外責任保險</label>
        </td>
        @if (CanEdit)
        {
            <text>
                <td style="text-align: right">
                    <a onclick="clickNewPublic()" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus"> 公共意外責任保險</i></a>
                </td>
            </text>
        }
    </tr>
</table>
<table class="table table-striped" id="tablePublic">
    <thead>
        <tr>
            <th>保險公司</th>
            <th>保單號碼</th>
            <th>投保人</th>
            <th>被保險人</th>
            <th>保險期間</th>
            <th>保險費</th>
            <th>備註</th>
            <th>保單內容</th>
            @if (CanEdit)
            {
                <th>編輯</th>
                <th>刪除</th>
            }
        </tr>
    </thead>
    <tbody>       
        @if (Model != null && Model.Contract != null && Model.Contract.PublicList != null)
        {
            int idx = 1;
            foreach (InsuranceViewModel item in Model.Contract.PublicList)
            {
                string start_date = (item.START_DATE != null) ? item.START_DATE.Value.ToString("yyyy/MM/dd") : "";
                string end_date = (item.START_DATE != null) ? item.START_DATE.Value.ToString("yyyy/MM/dd") : "";
                <text>
                    <script>
                        var value = {
                            ID:  @item.ID, INSURANCE_TYPE: "2", COMPANY:"@item.COMPANY", INSURANCE_NO: "@item.INSURANCE_NO", COMPANY_CONTACT: "@item.COMPANY_CONTACT"
                            , COMPANY_PHONE: "@item.COMPANY_PHONE", APPLICANT: "@item.APPLICANT", INSURANT: "@item.INSURANT"
                            , START_DATE: "@start_date", END_DATE: "@end_date", PRICE: "@item.PRICE", DESCRIPTION: "@item.DESCRIPTION"
                        };
                        public_insurance.push(value);
                    </script>
                    <tr>
                        <td>@item.COMPANY</td>
                        <td>@item.INSURANCE_NO</td>
                        <td>@item.APPLICANT</td>
                        <td>@item.INSURANT</td>
                        <td>
                            @if (item.START_DATE != null)
                            {
                                <text>
                                    @item.START_DATE.Value.ToString("yyyy/MM/dd")
                                </text>

                            }
                            @if (item.END_DATE != null)
                            {
                                <text>
                                    ~ @item.END_DATE.Value.ToString("yyyy/MM/dd")
                                </text>

                            }
                        </td>
                        <td>@item.PRICE</td>
                        <td>@item.DESCRIPTION</td>
                        @if (CanEdit)
                        {
                            <td><a href="download/20170909_02.pdf" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                            <td><a class="btn btn-primary btn-circle" onclick="editPublic('@idx')" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                            <td><a class="btn btn-danger btn-circle" onclick="deletePublic('@idx')" title="刪除"><i class="fa fa-trash"></i></a></td>
                        }
                    </tr>
                </text>
                idx += 1;
            }
        }
        
    </tbody>
</table>