﻿@using InspiniaWebAdminTemplate.Models.Integration;
@model ContactDetailViewModel
@{
    bool CanEdit = Model == null || Model.canEdit;
}
<script>
    $(function () {
       refreshRentTotal();
    });
    function addRent() {
        var table = document.getElementById("tableRent").getElementsByTagName('tbody')[0];
        var editMode = document.getElementById("RentEditType").value;
        var row = null;
        var cell0 = null;
        var cell1 = null;
        var cell2 = null;
        var cell3 = null;
        var cell4 = null;
        var cell5 = null;
        var cell6 = null;
        var cell7 = null;
        var cell8 = null;
        var cell9 = null;
        var cell10 = null;
        var cell11 = null;
        var cell12 = null;
        var cell13 = null;
        if(editMode == "0"){
            row = table.insertRow(table.rows.length);
            cell0 = row.insertCell(0);
            cell1 = row.insertCell(1);
            cell2 = row.insertCell(2);
            cell3 = row.insertCell(3);
            cell4 = row.insertCell(4);
            cell5 = row.insertCell(5);
            cell6 = row.insertCell(6);
            cell7 = row.insertCell(7);
            cell8 = row.insertCell(8);
            cell9 = row.insertCell(9);
            cell10 = row.insertCell(10);
            cell11 = row.insertCell(11);
            cell12 = row.insertCell(12);
            cell13 = row.insertCell(13);
            var value = {
                ID: 0, START_DATE: $("#RENT_START_DATE").val(), END_DATE: $("#RENT_END_DATE").val(), CALCULATE_METHOD: $('input[name="RENT_CALCULATE_METHOD"]:checked').val()
               , PAYMENT_PERIOD: $('input[name="RENT_PAYMENT_PERIOD"]:checked').val(), DUE_DAY: $("#RENT_DUE_DAY").val(), LAST_PAYMENT: $("#RENT_LAST_PAYMENT").val()
               , NEXT_PAYMENT: $("#RENT_NEXT_PAYMENT").val(), EFFECTIVE_DATE: $("#RENT_EFFECTIVE_DATE").val(), PRICE: $("#RENT_PRICE").val()
               , CURRENCY: $("#RENT_CURRENCY").val(), DESCRIPTION: $("#RENT_DESCRIPTION").val(), CURRENCY_VALUE: $("#RENT_CURRENCY_VALUE").val()
            };
            rent.push(value);
            cell12.innerHTML = '<a onclick=\'editRent(' + table.rows.length + ')\' class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a>';
            cell13.innerHTML = '<a class="btn btn-danger btn-circle" onclick="deleteRent(' + table.rows.length + ')" title="刪除"><i class="fa fa-trash"></i></a>';
       
        }else{            
            var idx = parseInt(editMode) - 1;
            row = table.rows[idx];
            cell0 = row.cells[0];
            cell1 = row.cells[1];
            cell2 = row.cells[2];
            cell3 = row.cells[3];
            cell4 = row.cells[4];
            cell5 = row.cells[5];
            cell6 = row.cells[6];
            cell7 = row.cells[7];
            cell8 = row.cells[8];
            cell9 = row.cells[9];
            cell10 = row.cells[10];
            cell11 = row.cells[11];
            cell12 = row.cells[12];
            cell13 = row.cells[13];            
            rent[idx].START_DATE =  document.getElementById("RENT_START_DATE").value;
            rent[idx].END_DATE = document.getElementById("RENT_END_DATE").value;
            rent[idx].CALCULATE_METHOD = $('input[name="RENT_CALCULATE_METHOD"]:checked').val();
            rent[idx].PAYMENT_PERIOD = $('input[name="RENT_PAYMENT_PERIOD"]:checked').val();
            rent[idx].DUE_DAY = document.getElementById("RENT_DUE_DAY").value ;
            rent[idx].LAST_PAYMENT = document.getElementById("RENT_LAST_PAYMENT").value ;
            rent[idx].NEXT_PAYMENT =  document.getElementById("RENT_NEXT_PAYMENT").value;
            rent[idx].EFFECTIVE_DATE = document.getElementById("RENT_EFFECTIVE_DATE").value;
            rent[idx].PRICE = document.getElementById("RENT_PRICE").value ;
            rent[idx].CURRENCY =  document.getElementById("RENT_CURRENCY").value ;
            rent[idx].CURRENCY_VALUE = document.getElementById("RENT_CURRENCY_VALUE").value;
            rent[idx].DESCRIPTION = document.getElementById("RENT_DESCRIPTION").value ;
            cell12.innerHTML = '<a onclick=\'editRent(' + editMode + ')\' class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a>';
            cell13.innerHTML = '<a class="btn btn-danger btn-circle" onclick="deleteRent(' + editMode + ')" title="刪除"><i class="fa fa-trash"></i></a>';       
        }               
        
        var price = parseFloat(document.getElementById("RENT_PRICE").value);
        var value = parseFloat(document.getElementById("RENT_CURRENCY_VALUE").value);
        cell0.innerHTML = document.getElementById("RENT_START_DATE").value + "~" + document.getElementById("RENT_END_DATE").value;
        cell1.innerHTML = $('input[name="RENT_CALCULATE_METHOD"]:checked').val();
        cell2.innerHTML = $('input[name="RENT_PAYMENT_PERIOD"]:checked').val();
        cell3.innerHTML = document.getElementById("RENT_DUE_DAY").value + "日";
        cell4.innerHTML = document.getElementById("RENT_LAST_PAYMENT").value;
        cell5.innerHTML = document.getElementById("RENT_NEXT_PAYMENT").value;
        cell6.innerHTML = document.getElementById("RENT_CURRENCY").value;
        cell7.innerHTML = document.getElementById("RENT_PRICE").value;
        cell8.innerHTML = document.getElementById("RENT_CURRENCY_VALUE").value;
        cell9.innerHTML = price * value;
        cell10.innerHTML = document.getElementById("RENT_EFFECTIVE_DATE").value;
        cell11.innerHTML = document.getElementById("RENT_DESCRIPTION").value;
       
        document.getElementById("RENT_START_DATE").value = "";
        document.getElementById("RENT_END_DATE").value = "";
        document.getElementById("RENT_DUE_DAY").value = "";
        document.getElementById("RENT_LAST_PAYMENT").value = "";
        document.getElementById("RENT_NEXT_PAYMENT").value = "";
        document.getElementById("RENT_EFFECTIVE_DATE").value = "";
        document.getElementById("RENT_PRICE").value = "";
        document.getElementById("RENT_CURRENCY").value = "NTD";
        document.getElementById("RENT_CURRENCY_VALUE").value = "1";
        document.getElementById("RENT_DESCRIPTION").value = "";
        
        refreshRentTotal();
    }
    function clickNewRent(){
        document.getElementById("RentEditType").value = "0";
        $("#modal-form-importdata-1").modal('show');
    }

    function editRent(idx) {
        var detail = rent[idx - 1];
        console.log(detail);
        document.getElementById("RentEditType").value = idx;
        document.getElementById("RENT_START_DATE").value = detail.START_DATE;
        document.getElementById("RENT_END_DATE").value = detail.END_DATE;
        $("input[name=RENT_CALCULATE_METHOD][value=" + detail.CALCULATE_METHOD + "]").trigger('click');
        $("input[name=RENT_PAYMENT_PERIOD][value=" + detail.PAYMENT_PERIOD + "]").trigger('click');
        document.getElementById("RENT_DUE_DAY").value = detail.DUE_DAY;
        document.getElementById("RENT_LAST_PAYMENT").value = detail.LAST_PAYMENT;
        document.getElementById("RENT_NEXT_PAYMENT").value = detail.NEXT_PAYMENT;
        document.getElementById("RENT_EFFECTIVE_DATE").value = detail.EFFECTIVE_DATE;
        document.getElementById("RENT_PRICE").value = detail.PRICE;
        document.getElementById("RENT_CURRENCY").value = detail.CURRENCY;
        document.getElementById("RENT_CURRENCY_VALUE").value = detail.CURRENCY_VALUE;
        document.getElementById("RENT_DESCRIPTION").value = detail.DESCRIPTION;
        $("#modal-form-importdata-1").modal('show');
    }

    function deleteRent(idx) {
        rent.splice(idx - 1, 1);
        document.getElementById("tableRent").deleteRow(idx);
        refreshRentTotal();
    }

    function refreshRentTotal() {
        var total = 0.0;
        var table = document.getElementById("tableRent").getElementsByTagName('tbody')[0];
        for (var i = 0, row; row = table.rows[i]; i++) {
            total += parseFloat(row.cells[9].innerHTML);
        }
        document.getElementById("RENT_TOTAL").innerHTML = total;
    }

</script>
<table class="table-condensed" style="width:100%">
    <tr>
        <td style="text-align: left">
            <label>租金</label>
        </td>
        @if (CanEdit)
        {
            <text>
                <td style="text-align: right">
                    <a onclick="clickNewRent()" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus"> 新增租金</i></a>
                </td>
            </text>
        }
    </tr>
</table>

<table class="table table-striped" id="tableRent">
    <thead>
        <tr>
            <th>租賃期間</th>
            <th>租金計算</th>
            <th>繳款<br>週期</th>
            <th>繳款期限</th>
            <th>上期繳款日</th>
            <th>預計<br>下期繳款日</th>
            <th>幣別</th>
            <th>每期租金</th>
            <th>匯率</th>
            <th>小計(NTD)</th>
            <th>租金修改<br>生效日期</th>
            <th>備註</th>
            @if (CanEdit)
            {
                <th>編輯</th>
                <th>刪除</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Contract != null && Model.Contract.RentList != null)
        {
            int idx = 1;
            foreach (RentViewModel item in Model.Contract.RentList)
            {
                string start_date = (item.START_DATE != null) ? item.START_DATE.Value.ToString("yyyy/MM/dd") : "";
                string end_date = (item.END_DATE != null) ? item.END_DATE.Value.ToString("yyyy/MM/dd") : "";
                string effective_date = (item.EFFECTIVE_DATE != null) ? item.EFFECTIVE_DATE.Value.ToString("yyyy/MM/dd") : "";
                double total = item.PRICE * double.Parse(item.CURRENCY_VALUE);
                <text>
                     <script>
                         var value = {
                             ID:  @item.ID, START_DATE: "@start_date", END_DATE: "@end_date", CALCULATE_METHOD: "@item.CALCULATE_METHOD"
                           , PAYMENT_PERIOD: "@item.PAYMENT_PERIOD", DUE_DAY: "@item.DUE_DAY", LAST_PAYMENT: "@item.LAST_PAYMENT"
                           , NEXT_PAYMENT: "@item.NEXT_PAYMENT", EFFECTIVE_DATE: "@effective_date", PRICE:"@item.PRICE"
                           , CURRENCY: "@item.CURRENCY", DESCRIPTION:"@item.DESCRIPTION", CURRENCY_VALUE:"@item.CURRENCY_VALUE"
                         };
                         rent.push(value);
                     </script>
                    <tr>
                        <td>
                            @if (item.START_DATE != null)
                            {
                                <text>
                                    @item.START_DATE.Value.ToString("yyyy/MM/dd")
                                </text>

                            }
                            @if (item.END_DATE != null)
                            {
                                <text>
                                    ~ @item.END_DATE.Value.ToString("yyyy/MM/dd")
                                </text>

                            }
                        </td>
                        <td>@item.CALCULATE_METHOD</td>
                        <td>@item.PAYMENT_PERIOD</td>
                        <td>@item.DUE_DAY 日</td>
                        <td>@item.LAST_PAYMENT</td>
                        <td>@item.NEXT_PAYMENT</td>
                        <td>@item.CURRENCY</td>
                        <td>@item.PRICE</td>
                        <td>@item.CURRENCY_VALUE</td>
                        <td>@total</td>
                        <td>@effective_date</td>
                        <td>@item.DESCRIPTION</td>
                        @if (CanEdit)
                        {
                            <td><a class="btn btn-primary btn-circle" onclick="editRent('@idx')" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                            <td><a class="btn btn-danger btn-circle" onclick="deleteRent('@idx')" title="刪除"><i class="fa fa-trash"></i></a></td>
                        }
                    </tr>
                </text>
                idx += 1;
            }
        }
</tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2" style="text-align:left"><b>總計 NTD <span id="RENT_TOTAL">0</span></b></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>