﻿@using InspiniaWebAdminTemplate.Models.WorkFlow
@model CreateViewModel

@{
    ViewBag.Title = "修改表單簽核流程";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>新增流程</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首頁</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">流程名稱維護</a>
            </li>
            <li>
                <a href="#">新增流程</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form id="createForm" action="@Url.Action("Create")" method="post" class="form-horizontal">

                        @Html.AntiForgeryToken()
                        <div class="row">

                            @*<div class="col-sm-6 form-group">*@
                                <label for="" class="col-sm-2 control-label required" align="right">流程類別</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="FlowType" id="FlowType" onchange="SetFlowCode()">
                                        @foreach (var item in ViewBag.DocTypeList)
                                        {
                                            <option value="@item.Value"> @item.Name</option>
                                        }
                                    </select>
                                </div>
                            @*</div>*@

                        </div>

                        <div class="row">

                            @*<div class="col-sm-6 form-group">*@
                                <label for="" class="col-sm-2 control-label required">流程代碼</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="FlowCodeR04" id="FlowCodeR04" onchange="SetFlowCode()">
                                        @foreach (var item in ViewBag.GetFlowCodeR04List)
                                        {
                                            <option value="@item.Value"> @item.Name</option>
                                        }
                                    </select>
                                </div>
                            <div class="col-sm-2">
                                <select class="form-control" name="FlowCodeR06" id="FlowCodeR06" onchange="SetFlowCode()">
                                    @foreach (var item in ViewBag.GetFlowCodeR06List)
                                    {
                                        <option value="@item.Value"> @item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control" name="FlowCodeR07" id="FlowCodeR07" onchange="SetFlowCode()">
                                    @foreach (var item in ViewBag.GetFlowCodeR07List)
                                    {
                                        <option value="@item.Value"> @item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <input id="ShowFlowCode" class="form-control" disabled="disabled" />
                                @Html.HiddenFor(m => m.FlowCode)
                                @*@Html.ValidationMessageFor(m => m.FlowCode, "", new { @class = "text-danger" })*@
                            </div>

                            @*</div>*@
                        </div>
                        <div class="row">
                            @*<div class="col-sm-4 form-group">*@
                                <label for="" class="col-sm-2 control-label" align="right">流程名稱</label>
                                <div class="col-sm-4">
                                    <input id="ShowFlowName" class="form-control" disabled="disabled" />
                                    @Html.HiddenFor(m => m.FlowName)
                                    @*@Html.TextBoxFor(m => m.FlowName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.FlowName, "", new { @class = "text-danger" })*@
                                </div>
                            @*</div>*@
                        </div>
                        <div class="row">
                            @*<div class="col-sm-6 form-group">*@
                                <label class="col-sm-2" align="right">發Email通知</label>
                                <div class="col-sm-4"><input type="checkbox"></div>
                            @*</div>*@

                            @*<div class="col-sm-6 form-group">*@
                                <label for="" class="col-sm-2 control-label" align="right">版本</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="@Model.Version" readonly>
                                </div>
                            @*</div>*@
                        </div>

                            <div class="row" hidden="hidden">

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">啟用別</label>
                                    <div class="col-sm-8">
                                        @if (Model.IsActive)
                                        {
                                            <input type="radio" name="IsActive" value="true" checked><label>啟用</label>
                                            <input type="radio" name="IsActive" value="false"><label>停用</label>
                                        }
                                        else
                                        {
                                            <input type="radio" name="IsActive" value="true"><label>啟用</label>
                                            <input type="radio" name="IsActive" value="false" checked><label>停用</label>
                                        }
                                    </div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label" align="right">註銷別</label>
                                    <div class="col-sm-8">
                                        @if (Model.CancelCode)
                                        {
                                            <input type="radio" name="CancelCode" value="false"><label>使用中</label>
                                            <input type="radio" name="CancelCode" value="true" checked><label>註銷</label>
                                        }
                                        else
                                        {
                                            <input type="radio" name="CancelCode" value="false" checked><label>使用中</label>
                                            <input type="radio" name="CancelCode" value="true"><label>註銷</label>
                                        }
                                    </div>
                                </div>

                            </div>

                            <div class="row" hidden="hidden">
                                <div class="col-sm-12 form-group">
                                    <label for="" class="col-sm-2 control-label">備註</label>
                                    <div class="col-sm-10">
                                        @Html.TextAreaFor(m => m.Remark, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-11" id="role-region"></div>
                            </div>

                            @*<div class="row">

                              

                            </div>*@

                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="" class="col-sm-4" align="right">
                                        <button class="btn btn-primary" type="button" onclick="SaveCheck()"><i class="fa fa-search">存檔</i></button>
                                        <button type="button" class="btn btn-danger"><i class="fa fa-search">清除</i></button>
                                        <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-search">回上頁</i></a>
                                    </label>
                                </div>
                            </div>

</form>

                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    @Html.Partial("Vue/_RoleRegionTemplate")

   
    <script>
        function SetFlowCode() {
            $("#FlowCode").val("F" + $("#FlowType").val() + $("#FlowCodeR04").val() + $("#FlowCodeR06").val() + $("#FlowCodeR07").val())
            $("#ShowFlowCode").val($("#FlowCode").val());
            $('#selectList :selected').text()
            $("#FlowName").val( $('#FlowType :selected').text().trim()+$('#FlowCodeR04 :selected').text().trim()+$('#FlowCodeR06 :selected').text().trim()+$('#FlowCodeR07 :selected').text().trim());
            $("#ShowFlowName").val($("#FlowName").val());
        }
        (function ($) {

            var region = new $.RoleRegionTemplate({

                el: "#role-region",
                data: {

                    model_name: "Roles",
                    table: [],
                    options: @Html.Raw(Json.Encode(Model.CadidateFlowRoles)),
                }
            });
            SetFlowCode();
        })(jQuery);
        function SaveCheck() {
            var path = "@Url.Action("CheckFlowCode")";
            var data = new FormData();
            data.append("FlowCode", $("#FlowCode").val());
            $.ajax({
                url: path,
                type: 'POST',
                dataType: 'json',
                contentType: false,
                processData: false,
                async: true,
                data: data,
                success: function (response) {
                    debugger
                    //var data = JSON.parse(response);
                    if (response.status == "failed") {
                        alert("流程代碼重複，請重新選擇。");
                        return;
                    }
                    else if (response.status == "success") {
                        SaveConfirm();
                    }
                }
            });
        }
        function SaveConfirm(){
            var _wording="是否確認儲存?";
            var _count=0;
            $(".selectRole").each(function(){
                _count++;
            });
            if(_count<2){
                _wording="關卡設定少於兩關，是否確認儲存?"
            }
            if (confirm(_wording)) {
                $("#createForm").submit();
            }
        }
    </script>

}