﻿@using InspiniaWebAdminTemplate.Models.WorkFlow
@model IndexViewModel


@{
    ViewBag.Title = "WorkFlow";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>流程維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "WorkFlow")">首頁</a>
            </li>
            <li>
                <a href="#">流程維護</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="@Url.Action("UpdateSearchCondition")" method="post" class="form-horizontal">

                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">作業別</label>
                                @*<div class="col-sm-8">
                <input type="text" class="form-control"  value="簽核角色" disabled>
            </div>*@
                                <div class="col-sm-8">
                                    <select class="form-control" name="OperationType" id="OperationType" onchange="GetFlowCode()">
                                        <option value=""> 全部</option>
                                        @foreach (var item in ViewBag.DocTypeList)
                                        {
                                            var selected = Model.SearchCondition.OperationType == item.Value ? "selected" : "";
                                            <option value="@item.Value" @selected> @item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">流程代碼</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="FlowID" id="FlowID">
                                        <option value="">全部</option>
                                        @foreach (var item in ViewBag.FlowCodeList)
                                        {   
                                            var selected = item.Value == Model.SearchCondition.FlowID.ToString() ? "selected" : "";
                                            <option value="@item.Value" @selected>@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            
                       
                        </div>

                        <div class="row">
                            
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">啟用別</label>
                                <div class="col-sm-8">
                                    @ActiveMenu( Model.SearchCondition.IsActive )
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">註銷別</label>
                                <div class="col-sm-8">
                                    @CancelCodeMenu(Model.SearchCondition.CancelCode)
                                </div>
                            </div>
                        
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button  class="btn btn-primary"><i class="fa fa-search">查詢</i></button>
                                    <a href="@Url.Action("Index")" class="btn btn-danger"><i class="fa fa-trash">清除</i></a>
                                    <a href="@Url.Action("Create")" type="button" class="btn btn-info"><i class="fa fa-trash">新增</i></a>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

               
                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  @Model.TotalAmount 筆 第 @Model.SearchCondition.Page 頁</label>
                                    <a class="btn btn-sm btn-default" id="buttonDelete" href="@Url.Action("Index","Home")">回上頁</a>
                                    @*<button class="btn btn-sm btn-success" id="buttonSave">存檔</button>*@
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th>流程代碼</th>
                                    <th>流程名稱</th>
                                    <th>流程類別</th>
                                    @*<th>啟用</th>
                                    <th>註銷別</th>*@
                                    <th>簽核流程描述</th>
                                    <th>備註</th>
                                </tr>
                            </thead>

                            <tbody>

                                @for (int index = 0; index < Model.Items.Count; ++index)
                                {
                                    var item = Model.Items[index];

                                    <tr>
                                        <td>@( index + 1 + (Model.SearchCondition.Page - 1) * (Model.SearchCondition.PageSize)  )</td>
                                        <td>
                                            <a href="@Url.Action("Edit", new { ID = item.ID })">@item.FlowCode</a>
                                        </td>
                                        <td>@item.FlowName</td>
                                        <td>@item.OperationTypeName</td>
                                        @*<td>
                                            @if (item.IsActive)
                                            {
                                                <input type="checkbox" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox">
                                            }
                                        </td>
                                        <td>
                                            @if (item.CancelCode)
                                            {
                                                <input type="checkbox" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox">
                                            }
                                        </td>*@
                                        <td style="text-align:left">@(  string.Join("-", item.FlowRoles)  )</td>
                                        <td>@item.Remark</td>
                                    </tr>
                                }
                          </tbody>

                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@helper ActiveMenu(bool? isActive)
{
    <select name="IsActive" class="form-control">

        @{
            string total = isActive.HasValue ? "" : "selected";
            string active = isActive.HasValue && isActive.Value ? "selected" : "";
            string inactive = isActive.HasValue && !isActive.Value ? "selected" : "";
        }

        <option value="" @total> 全部</option>
        <option value="true" @active> 啟用</option>
        <option value="false" @inactive> 停用</option>

    </select>
}


@helper CancelCodeMenu(bool? CancelCode)
{
    <select name="CancelCode" class="form-control">

        @{
            string total = CancelCode.HasValue ? "" : "selected";
            string cancle = CancelCode.HasValue && CancelCode.Value ? "selected" : "";
            string used = CancelCode.HasValue && !CancelCode.Value ? "selected" : "";
        }

        <option value="" @total> 全部</option>
        <option value="false" @used> 使用中</option>
        <option value="true" @cancle> 已註銷</option>

    </select>
}

@section Scripts {

    @Html.Partial("_VuePageList")

    <script>
        var m_FlowID="";
        function GetFlowCode(){
            debugger
            m_FlowID= $("#FlowID").val();
            $("#FlowID").removeOption("").removeOption(/./).ajaxAddOption("/FlowName/GetFlowCode/", { operationType: $("#OperationType").val() }, false,SetFlowID);
        }      
        function SetFlowID(){
            if(m_FlowID!=""){
                debugger
                $("#FlowID").val(m_FlowID);
                m_FlowID="";
            }
        }
        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.TotalAmount,//資料庫總筆數
                    page_size: @Model.SearchCondition.PageSize,//單頁筆數
                    page_now: @Model.SearchCondition.Page,//當前頁
                    center_page: @Model.SearchCondition.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });

            GetFlowCode();
        })(jQuery);

    </script>

    }


