﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>報表產製</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">資產遭占用及催討繳管理</a>
            </li>
            <li>
                <a href="#">報表產製</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>條件設定</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">報表類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value=""> </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">是否彙總</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="radio" name="radiogroup1" checked><span>是</span>
                                    <input type="radio" name="radiogroup1" checked><span>否</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">報表篩選期間</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">信用卡報表</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="radio" name="radiogroup1"><span>是</span>
                                    <input type="radio" name="radiogroup1"><span>否</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">幣別</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value=""> </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">折算匯率日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix ibox-c-subtitle"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">資產催繳單</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">全部</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳本</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">IFRS_TWD</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據處理時間</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據核准日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">單據狀態</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox"><span>新增</span>
                                    <input type="checkbox"><span>簽核中</span>
                                    <input type="checkbox"><span>已核淮</span>
                                    <input type="checkbox"><span>退回修改</span>
                                    <input type="checkbox"><span>抽回修改</span>
                                    <input type="checkbox"><span>作廢</span>

                                </div>
                            </div>

                            <div class="clearfix ibox-c-subtitle"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">案件編號</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">案件狀態</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox"><span>起案</span>
                                    <input type="checkbox"><span>執行中</span>
                                    <input type="checkbox"><span>結案</span>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">催繳方式</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox"><span>新增</span>
                                    <input type="checkbox"><span>電話催款</span>
                                    <input type="checkbox"><span>函催</span>
                                    <input type="checkbox"><span>支付命令</span>
                                    <input type="checkbox"><span>債權憑證</span>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">起案日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">結案日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix ibox-c-subtitle"></div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">009 產權部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">逾期天數</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="30" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約編號</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">原租約編號</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約事務</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" name="RadioGroup1" value="" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>新租</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>繼承承租</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>續租</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>過戶承租</span>

                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">業務別</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" name="RadioGroup1" value="" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>自用</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>非自用</span>

                                </div>
                            </div>
                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">租約類型</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" name="RadioGroup1" value="" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>停車位</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>停車場</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>基地</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>基地使用補償</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>房屋</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>投資開發</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>空地	</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>耕地</span>

                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">繳款週期</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" name="RadioGroup1" value="" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>月</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>季</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>半年</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>年</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>基地</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>其他</span>

                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租賃期間</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                    <button class="btn btn-primary"><i class="fa fa-long-arrow-right"> 產 製 </i></button>
                                </label>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>