﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onClick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 新增/編輯催繳案件</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">資產遭占用及催討繳管理</a>
            </li>
            <li>
                <a href="#">催繳查詢作業</a>
            </li>
            <li>
                <a href="#">新增/編輯單據</a>
            </li>
            <li>
                <a href="#">新增/編輯催繳案件</a>
            </li>

        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>新增/編輯催繳案件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">案件編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="106-00001" disabled /></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 案件狀態</label>
                                <div class="col-sm-6 checkbox-list">
                                    <input type="radio" name="radiogroup1" checked><span>起案</span>
                                    <input type="radio" name="radiogroup1"><span>執行中</span>
                                    <input type="radio" name="radiogroup1"><span>結案</span>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">催繳方式</label>
                                <div class="col-sm-6 text-lineH-fix">催函</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 起案日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" value="106-1-5" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 結案日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">摘要</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">案件說明</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">催繳紀錄/結果</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">備註</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                            </div>

                        </div>

                        <div class="ibox-c-subtitle">租約</div>

                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <div class="col-sm-6">
                                    <label for="" class="col-sm-3 control-label">管轄單位</label>
                                    <div class="col-sm-6 text-lineH-fix">001 總行 08 產權部 001 XX科</div>
                                </div>

                                <div class="col-sm-3 col-sm-offset-3">
                                    <label for="" class="col-sm-6 control-label"></label>
                                    <div class="col-sm-6" style="text-align:right"><a href="G204.aspx" target="_blank" class="btn btn-gray"><i class="fa fa-search"> 查看租約詳情 </i></a></div>
                                </div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <div class="col-sm-3">
                                    <label for="" class="col-sm-6 control-label">租約編號</label>
                                    <div class="col-sm-6 text-lineH-fix">001_05_0001</div>
                                </div>

                                <div class="col-sm-3 col-sm-offset-3">
                                    <label for="" class="col-sm-6 control-label">原租約編號</label>
                                    <div class="col-sm-6 text-lineH-fix">106-北-0122</div>
                                </div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <div class="col-sm-3">
                                    <label for="" class="col-sm-6 control-label">業務別</label>
                                    <div class="col-sm-6 text-lineH-fix">自用</div>
                                </div>

                                <div class="col-sm-3">
                                    <label for="" class="col-sm-6 control-label">租約類型</label>
                                    <div class="col-sm-6 text-lineH-fix">空地</div>
                                </div>

                                <div class="col-sm-3">
                                    <label for="" class="col-sm-6 control-label">租約事務</label>
                                    <div class="col-sm-6 text-lineH-fix">新租</div>
                                </div>

                                <div class="col-sm-3">
                                    <label for="" class="col-sm-6 control-label">租約狀態</label>
                                    <div class="col-sm-6 text-lineH-fix">生效</div>
                                </div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <div class="col-sm-3">
                                    <label for="" class="col-sm-6 control-label">租賃期間</label>
                                    <div class="col-sm-6 text-lineH-fix">106-1-5 ~ 108-1-4</div>
                                </div>

                                <div class="col-sm-3 col-sm-offset-3">
                                    <label for="" class="col-sm-6 control-label">租約計算</label>
                                    <div class="col-sm-6 text-lineH-fix">固定</div>
                                </div>

                                <div class="col-sm-3">
                                    <label for="" class="col-sm-6 control-label">繳款方式</label>
                                    <div class="col-sm-6 text-lineH-fix">委託代繳</div>
                                </div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <div class="col-sm-6">
                                    <label for="" class="col-sm-3 control-label">扣款銀行/帳號</label>
                                    <div class="col-sm-6 text-lineH-fix">005 土地銀行  0102338423902393</div>
                                </div>

                                <div class="col-sm-6">
                                    <label for="" class="col-sm-3 control-label">扣款戶名</label>
                                    <div class="col-sm-6 text-lineH-fix">陳展元</div>
                                </div>

                            </div>

                            <div class="ibox-c-subtitle"></div>

                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <div class="col-sm-3">
                                        <label for="" class="col-sm-6 control-label">月租金</label>
                                        <div class="col-sm-6 text-lineH-fix">51,000 元</div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="" class="col-sm-6 control-label">季租金</label>
                                        <div class="col-sm-6 text-lineH-fix">153,000 元</div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="" class="col-sm-6 control-label">年租金</label>
                                        <div class="col-sm-6 text-lineH-fix">612,000  元</div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="" class="col-sm-6 control-label">契約總價</label>
                                        <div class="col-sm-6 text-lineH-fix">612,000  元</div>
                                    </div>
                                </div>

                                <div class="col-sm-12 form-group">
                                    <div class="col-sm-3">
                                        <label for="" class="col-sm-6 control-label">繳款週期</label>
                                        <div class="col-sm-6 text-lineH-fix">月</div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="" class="col-sm-6 control-label">繳款期限</label>
                                        <div class="col-sm-6 text-lineH-fix">每期 5 日</div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="" class="col-sm-6 control-label">寬限日</label>
                                        <div class="col-sm-6 text-lineH-fix">7 日 ( 工作天 )</div>
                                    </div>
                                </div>

                                <div class="col-sm-12 form-group">
                                    <div class="col-sm-6">
                                        <label for="" class="col-sm-3 control-label">逾期息</label>
                                        <div class="col-sm-6 text-lineH-fix">計，逾寬限期 5日起算</div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="" class="col-sm-6 control-label">收逾期息標準</label>
                                        <div class="col-sm-6 text-lineH-fix">月租金</div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="" class="col-sm-6 control-label">計收方式按</label>
                                        <div class="col-sm-6 text-lineH-fix">月利率 之 5 % 計算</div>
                                    </div>
                                </div>

                            </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>承租人</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr style="background-color:#999">
                                    <th>名稱</th>
                                    <th>統一編號</th>
                                    <th>負責人</th>
                                    <th>身分證字號</th>
                                    <th>電話</th>
                                    <th>通訊地址</th>
                                    <th>低收</th>
                                    <th>殘障</th>
                                    <th>備註</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>陳展元</td>
                                    <td>A121238434</td>
                                    <td>02-12345678</td>
                                    <td>臺北市大安區大同路1段20號5樓</td>
                                    <td>否</td>
                                    <td>否</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>土地</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr style="background-color:#999">
                                    <th>資產編號</th>
                                    <th>縣市</th>
                                    <th>鄉鎮市區</th>
                                    <th>段</th>
                                    <th>小段</th>
                                    <th>母地號</th>
                                    <th>子地號</th>
                                    <th>權狀字號</th>
                                    <th>公告地價</th>
                                    <th>登記面積(坪)</th>
                                    <th>出租面積(坪)</th>
                                    <th>年租率(%)</th>
                                    <th>租金</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1010202-0000036</td>
                                    <td>臺北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>三小段</td>
                                    <td>0258</td>
                                    <td>0000</td>
                                    <td>92北大字第21000號</td>
                                    <td>50,500,000</td>
                                    <td>70</td>
                                    <td>70</td>
                                    <td>100</td>
                                    <td>612,000</td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>繳款/催繳紀錄</label>
                                </td>
                                <td style="text-align: right">
                                    上次繳款日 <span class="text-success" style="margin-right:20px">106-2-1</span>
                                    預期下次繳款日 <span class="text-success" style="margin-right:20px">106-6-5</span>
                                    欠繳狀況 <span class="text-danger" style="margin-right:20px">逾期 69 日</span>






                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>繳款/催繳起案時間</th>
                                    <th>行為/催繳方式</th>
                                    <th>繳款金額</th>
                                    <th>單據編號</th>
                                    <th>摘要</th>
                                    <th>案件狀況</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>106-04-15    12:00</td>
                                    <td>函催</td>
                                    <td></td>
                                    <td><a href="G204.aspx" target="_blank">1060415G200000001</a></td>
                                    <td>106-04    函催</td>
                                    <td>執行中</td>
                                </tr>
                                <tr>
                                    <td>106-03-15    10:00</td>
                                    <td>電話催繳</td>
                                    <td></td>
                                    <td><a href="G204.aspx" target="_blank">1060315G200000001</a></td>
                                    <td>106-03 電話催繳</td>
                                    <td>結案</td>
                                </tr>
                                <tr>
                                    <td>106-02-01    10:00</td>
                                    <td>繳款</td>
                                    <td>51,000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#" class="btn btn-primary"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-close"> 返 回 </i></a>
        </div>
    </div>
</div>