﻿<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="border:0">
                <h5><span class="text-success">【步驟一】</span> 搜尋欲催繳的租約</h5>
                <div class="ibox-tools"> <a data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
            </div>
            <div class="ibox-content">
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6 form-group gutter-s">
                            <label for="" class="col-sm-3 control-label">管轄單位</label>
                            <div class="col-sm-3">
                                <select class="form-control" id="">
                                    <option value="">001 總行</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control" id="">
                                    <option value="">009 產權部</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control" id="">
                                    <option value="">001 XX科</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">逾期天數</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" value="30" />
                            </div>
                            <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">租約編號</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">原租約編號</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">租約事務</label>
                            <div class="col-sm-9 checkbox-list">
                                <input type="checkbox" name="RadioGroup1" value="" disabled>
                                <span style="color:#ccc">全選</span>
                                <input type="checkbox" name="RadioGroup1" value="">
                                <span>新租</span>
                                <input type="checkbox" name="RadioGroup1" value="">
                                <span>繼承承租</span>
                                <input type="checkbox" name="RadioGroup1" value="">
                                <span>續租</span>
                                <input type="checkbox" name="RadioGroup1" value="">
                                <span>過戶承租</span>
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">業務別</label>
                            <div class="col-sm-9 checkbox-list">
                                <input type="checkbox" name="RadioGroup1" value="" disabled>
                                <span style="color:#ccc">全選</span>
                                <input type="checkbox" name="RadioGroup1" value="">
                                <span>自用</span>
                                <input type="checkbox" name="RadioGroup1" value="">
                                <span>非自用</span>
                            </div>
                        </div>
                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label">租約類型</label>
                            <div class="col-sm-9 checkbox-list">
                                <input type="checkbox" name="RadioGroup1" value="" disabled>
                                <span style="color:#ccc">全選</span>
                                <input type="checkbox" name="RadioGroup1" value="">
                                <span>停車位</span>
                                <input type="checkbox" name="RadioGroup1" value="">
                                <span>停車場</span>
                                <input type="checkbox" name="RadioGroup1" value="">
                                <span>基地</span>
                                <input type="checkbox" name="RadioGroup1" value="">
                                <span>基地使用補償</span>
                                <input type="checkbox" name="RadioGroup1" value="">
                                <span>房屋</span>
                                <input type="checkbox" name="RadioGroup1" value="">
                                <span>投資開發</span>
                                <input type="checkbox" name="RadioGroup1" value="">
                                <span>空地 </span>
                                <input type="checkbox" name="RadioGroup1" value="">
                                <span>耕地</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">繳款週期</label>
                            <div class="col-sm-9 checkbox-list">
                                <input type="checkbox" name="RadioGroup1" value="" disabled>
                                <span style="color:#ccc">全選</span>
                                <input type="checkbox" name="RadioGroup1" value="">
                                <span>月</span>
                                <input type="checkbox" name="RadioGroup1" value="">
                                <span>季</span>
                                <input type="checkbox" name="RadioGroup1" value="">
                                <span>半年</span>
                                <input type="checkbox" name="RadioGroup1" value="">
                                <span>年</span>
                                <input type="checkbox" name="RadioGroup1" value="">
                                <span>基地</span>
                                <input type="checkbox" name="RadioGroup1" value="">
                                <span>其他</span>
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">租賃期間</label>
                            <div class="col-sm-4">
                                <div class='input-group date' data-provide="datepicker-inline">
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                </div>
                            </div>
                            <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                            <div class="col-sm-4">
                                <div class='input-group date' data-provide="datepicker-inline">
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">承租人資訊</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control text-muted" value="名稱、身分證號、統一編號等關鍵字" />
                            </div>
                        </div>

                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                <button class="btn btn-primary"><i class="fa fa-search"> 搜 尋 </i></button>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <div class="table-responsive">
                                        <table class="table-condensed" style="width:100%">
                                            <tr>
                                                <td style="text-align: left">
                                                    <div class="checkbox-list">
                                                        <label><span class="text-success">【步驟二】</span>逾期案件清單&nbsp;&nbsp;</label>
                                                        <input type="radio" name="RadioGroup1" value="" checked>
                                                        <span>分頁</span>
                                                        <input type="radio" name="RadioGroup1" value="">
                                                        <span>全部列出</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>項次</th>
                                                    <th>租約編號</th>
                                                    <th>租賃期間</th>
                                                    <th>業務別</th>
                                                    <th>租約類型</th>
                                                    <th>承租人名稱</th>
                                                    <th>承租人電話</th>
                                                    <th>欠繳狀況</th>
                                                    <th><input type="checkbox" style="vertical-align:middle"> 全選</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="lightyellow_bg">
                                                    <td>1</td>
                                                    <td>001_05_0001</td>
                                                    <td>106-1-5    ~ 108-1-4</td>
                                                    <td>非自用</td>
                                                    <td>基地</td>
                                                    <td>陳展元</td>
                                                    <td>0912111222</td>
                                                    <td><span class="text-danger">逾期60日</span></td>
                                                    <td><input type="checkbox" checked></td>
                                                </tr>
                                                <tr class="lightyellow_bg">
                                                    <td>2</td>
                                                    <td>001_05_0001</td>
                                                    <td>106-1-5    ~ 108-1-4</td>
                                                    <td>自用</td>
                                                    <td>房屋</td>
                                                    <td>陳展元</td>
                                                    <td>0912111222</td>
                                                    <td><span class="text-danger">逾期69日</span></td>
                                                    <td><input type="checkbox" checked></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>001_05_0001</td>
                                                    <td>106-1-5    ~ 108-1-4</td>
                                                    <td>自用</td>
                                                    <td>空地</td>
                                                    <td>陳展元</td>
                                                    <td>0912111222</td>
                                                    <td>
                                                        <span class="text-primary-re">
                                                            已繳<br>
                                                            106-06-30
                                                        </span>
                                                    </td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>001_05_0001</td>
                                                    <td>106-1-5    ~ 108-1-4</td>
                                                    <td>自用</td>
                                                    <td>基地</td>
                                                    <td>陳展元</td>
                                                    <td>0912111222</td>
                                                    <td><span class="text-danger">逾期67日</span></td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>001_05_0001</td>
                                                    <td>106-1-5    ~ 108-1-4</td>
                                                    <td>自用</td>
                                                    <td>房屋</td>
                                                    <td>陳展元</td>
                                                    <td>0912111222</td>
                                                    <td><span class="text-danger">逾期67日</span></td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td>001_05_0001</td>
                                                    <td>106-1-5    ~ 108-1-4</td>
                                                    <td>非自用</td>
                                                    <td>基地</td>
                                                    <td>陳展元</td>
                                                    <td>0912111222</td>
                                                    <td><span class="text-danger">逾期67日</span></td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>7</td>
                                                    <td>001_05_0001</td>
                                                    <td>106-1-5    ~ 108-1-4</td>
                                                    <td>自用</td>
                                                    <td>房屋</td>
                                                    <td>陳展元</td>
                                                    <td>0912111222</td>
                                                    <td><span class="text-danger">逾期67日</span></td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>8</td>
                                                    <td>001_05_0001</td>
                                                    <td>106-1-5    ~ 108-1-4</td>
                                                    <td>自用</td>
                                                    <td>空地</td>
                                                    <td>陳展元</td>
                                                    <td>0912111222</td>
                                                    <td><span class="text-danger">逾期67日</span></td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>9</td>
                                                    <td>001_05_0001</td>
                                                    <td>106-1-5    ~ 108-1-4</td>
                                                    <td>自用</td>
                                                    <td>基地</td>
                                                    <td>陳展元</td>
                                                    <td>0912111222</td>
                                                    <td><span class="text-danger">逾期67日</span></td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>10</td>
                                                    <td>001_05_0001</td>
                                                    <td>106-1-5    ~ 108-1-4</td>
                                                    <td>自用</td>
                                                    <td>房屋</td>
                                                    <td>陳展元</td>
                                                    <td>0912111222</td>
                                                    <td><span class="text-danger">逾期67日</span></td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <nav class="text-center">
                                            <ul class="pagination">
                                                <li class="disabled"><a>1</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                                <li> <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                                                <li> <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next"> <span aria-hidden="true">&raquo;&raquo;</span> </a> </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-c-subtitle"></div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <div class="col-sm-3"><label><span class="text-success">【步驟三】</span></label></div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-9" style="text-align:right">
                                <a href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-cloase"> 取 消 </i></a>
                                <a href="#" class="btn btn-success" data-dismiss="modal"><i class="fa fa-check"> 導入勾選資料 </i></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>