﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>新增/編輯單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">資產遭占用及催討繳管理</a>
            </li>
            <li>
                <a href="#">催繳與訴訟作業</a>
            </li>
            <li>
                <a href="#">新增/編輯單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><span class="text-success">【步驟一】</span> 新增單據</h5>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">資產催繳單</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">函催</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1060502G200000001</div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 帳本</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">IFRS_TWD</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 單據處理日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" value="106-05-02" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">008 產權部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix text-primary-re">新增</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註(關鍵字)</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label><span class="text-success">【步驟二】</span></label>
                                    <a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary"><i class="fa fa-search"> 搜尋/導入租約 </i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>案件編號</th>
                                    <th>摘要</th>
                                    <th>起案日期</th>
                                    <th>租約編號</th>
                                    <th>租賃期間</th>
                                    <th>業務別</th>
                                    <th>租約類型</th>
                                    <th>承租人名稱</th>
                                    <th>欠繳狀況</th>
                                    <th>案件狀態</th>
                                    <th>編輯</th>
                                    <th>移出</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>106-00001</td>
                                    <td>大安段催討</td>
                                    <td>106-1-5</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>非自用</td>
                                    <td>基地</td>
                                    <td>陳展元</td>
                                    <td><span class="text-danger">逾期60日</span></td>
                                    <td>起案</td>
                                    <td><a class="btn btn-primary btn-circle" href="G203.aspx" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>106-00002</td>
                                    <td>大安段催討</td>
                                    <td>106-1-5</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>自用</td>
                                    <td>房屋</td>
                                    <td>陳展元</td>
                                    <td><span class="text-danger">逾期69日</span></td>
                                    <td>執行中</td>
                                    <td><a class="btn btn-primary btn-circle" href="G203.aspx" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>106-00003</td>
                                    <td>大安段催討</td>
                                    <td>106-1-5</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>自用</td>
                                    <td>空地</td>
                                    <td>陳展元</td>
                                    <td>
                                        <span class="text-primary-re">
                                            已繳<br>
                                            106-06-30
                                        </span>
                                    </td>
                                    <td>結案</td>
                                    <td><a class="btn btn-primary btn-circle" href="G203.aspx" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>106-00004</td>
                                    <td>大安段催討</td>
                                    <td>106-1-5</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>自用</td>
                                    <td>基地</td>
                                    <td>陳展元</td>
                                    <td><span class="text-danger">逾期67日</span></td>
                                    <td>執行中</td>
                                    <td><a class="btn btn-primary btn-circle" href="G203.aspx" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>106-00005</td>
                                    <td>大安段催討</td>
                                    <td>106-1-5</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>自用</td>
                                    <td>房屋</td>
                                    <td>陳展元</td>
                                    <td><span class="text-danger">逾期67日</span></td>
                                    <td>執行中</td>
                                    <td><a class="btn btn-primary btn-circle" href="G203.aspx" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>106-00006</td>
                                    <td>大安段催討</td>
                                    <td>106-1-5</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>非自用</td>
                                    <td>基地</td>
                                    <td>陳展元</td>
                                    <td><span class="text-danger">逾期67日</span></td>
                                    <td>執行中</td>
                                    <td><a class="btn btn-primary btn-circle" href="G203.aspx" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>106-00007</td>
                                    <td>大安段催討</td>
                                    <td>106-1-5</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>自用</td>
                                    <td>房屋</td>
                                    <td>陳展元</td>
                                    <td><span class="text-danger">逾期67日</span></td>
                                    <td>執行中</td>
                                    <td><a class="btn btn-primary btn-circle" href="G203.aspx" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>106-00008</td>
                                    <td>大安段催討</td>
                                    <td>106-1-5</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>自用</td>
                                    <td>空地</td>
                                    <td>陳展元</td>
                                    <td><span class="text-danger">逾期67日</span></td>
                                    <td>執行中</td>
                                    <td><a class="btn btn-primary btn-circle" href="G203.aspx" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>106-00009</td>
                                    <td>大安段催討</td>
                                    <td>106-1-5</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>自用</td>
                                    <td>基地</td>
                                    <td>陳展元</td>
                                    <td><span class="text-danger">逾期67日</span></td>
                                    <td>執行中</td>
                                    <td><a class="btn btn-primary btn-circle" href="G203.aspx" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>106-00010</td>
                                    <td>大安段催討</td>
                                    <td>106-1-5</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>自用</td>
                                    <td>房屋</td>
                                    <td>陳展元</td>
                                    <td><span class="text-danger">逾期67日</span></td>
                                    <td>執行中</td>
                                    <td><a class="btn btn-primary btn-circle" href="G203.aspx" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"><span>【步驟三】</span></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-splitdata" class="btn btn-success" data-toggle="modal"><i class="fa fa-long-arrow-right">提 交 </i></a>
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save">儲 存 </i></a>
            <a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger"><i class="fa fa-trash">刪 除 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left">返 回 </i></a>
        </div>
    </div>
</div>