﻿@using Library.Servant.Servant.Common.Models
@model List<AccountEntryDetailResult>


<table class="table table-striped">
    <thead>
        <tr>
            <th>序號</th>
            <th>記帳日</th>
            <th>交易序號</th>
            <th>Account key</th>
            <th>分行別/部門</th>
            <th>會計科目</th>
            <th>會計科目名稱</th>
            <th>借方金額</th>
            <th>貸方金額</th>
            <th>幣別</th>
            <th>備註</th>
            <th>帳務序號</th>
        </tr>
    </thead>

    <tbody>

        @for (int index = 0; index < Model.Count; ++index)
        {
            var item = Model[index];
            <tr>
                <td>@(index + 1)</td>
                <td>@item.Post_Date</td>
                <td>@item.Trans_Seq</td>
                <td>@item.Account_Key</td>
                <td>@item.BranchName/@item.DepartmentName</td>
                <td>@item.Account</td>
                <td>@item.Account_Name</td>
                <td class="text-right">@item.DebitAmount</td>
                <td class="text-right">@item.CreditAmount</td>
                <td>@item.Currency</td>
                <td></td>
                <td></td>
            </tr>
        }

    </tbody>
</table>
