﻿@model IDictionary<string, string>

    <div class="modal fade" tabindex="-1" role="dialog" id="messageModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p id="message"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeCallBack()">關閉</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>
        var isSuccess = false;
        function successHandler(message) {
            isSuccess = message.IsSuccess;

            if (message.IsSuccess) {
                $("#message").text("@Model["SuccessMsg"]");
                $("#messageModal").modal();
            }
            else {
                $("#message").text(message.Message);
                $("#messageModal").modal();
            }
        }

        function closeCallBack()
        {
            if (isSuccess)
            {
                @if(Model.ContainsKey("CallBack"))
                {
                    if(Model["CallBack"] != null)
                    {
                        @Model["CallBack"]
                    }
                }
            }

        }
    </script>

