﻿<form class="form-horizontal" method="post" action="@Url.Action("UpdateSearchCondition")">

    @Html.AntiForgeryToken()
    
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label">表單送出日期</label>
            <div class="input-group col-sm-8">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" data-date-fromat="yyyy/mm/dd" value="@Model.Options.StartTime">
                    <span class="input-group-addon date-trigger">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span class="input-group-addon">~</span>
                <div class="input-group">
                    <input type="text" class="form-control datepicker" data-date-fromat="yyyy/mm/dd" value="@Model.Options.EndTime">
                    <span class="input-group-addon date-trigger">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

            <div class="col-sm-6 form-group">
                <label for="" class="col-sm-4 control-label">簽核狀態</label>
                <div class="col-sm-8">
                    <select class="form-control" name="FlowStateCodeID">
                        <option value="">全部</option>
                        @foreach (var flowState in Model.Options.FlowStateOptions)
                        {
                            string selected = (flowState.Value == Model.SearchCondition.SelectedOptions.FlowStateCodeID) ? "selected" : "";
                            <option value="@flowState.Value" @selected>@flowState.Text</option>
                        }
                    </select>
                </div>
            </div>

    </div>

    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label">分行</label>
            <div class="col-sm-8">
                <select class="form-control" name="BranchCodeID">
                    <option value="">全部</option>
                    @foreach (var branch in Model.Options.BranchOptions)
                    {
                        string selected = (branch.Value == Model.SearchCondition.SelectedOptions.BranchCodeID) ? "selected" : "";
                        <option value="@branch.Value" @selected>@branch.Text</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label">部門</label>
            <div class="col-sm-8">
                <select class="form-control" name="DepartmentCodeID">
                    <option value="">全部</option>
                    @foreach (var department in Model.Options.DepartmentOptions)
                    {
                        string selected = (department.Value == Model.SearchCondition.SelectedOptions.DepartmentCodeID) ? "selected" : "";
                        <option value="@department.Value" @selected>@department.Text</option>
                    }
                </select>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label">申請人員</label>
            <div class="col-sm-8">
                <select class="form-control" name="ApplyUserID">
                    <option value="">全部</option>
                    @foreach (var applyUser in Model.Options.ApplyUserOptions)
                    {
                        string selected = (applyUser.Value == Model.SearchCondition.SelectedOptions.ApplyUserID) ? "selected" : "";
                        <option value="@applyUser.Value" @selected>@applyUser.Text</option>
                    }
                </select>
            </div>
        </div>


        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label">表單類別</label>
            <div class="col-sm-8">
                <select class="form-control" name="DocTypeCodeID">
                    <option value="">全部</option>
                    @foreach (var docType in Model.Options.DocTypeOptions)
                    {
                        string selected = (docType.Value == Model.SearchCondition.SelectedOptions.DocTypeCodeID) ? "selected" : "";
                        <option value="@docType.Value" @selected>@docType.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label">最後簽核人員</label>
            <div class="col-sm-8">
                <select class="form-control" name="CurrentApprovalUserID">
                    <option value="">全部</option>
                    @foreach (var currentApprovalUser in Model.Options.CurrentApprovalUserOptions)
                    {
                        string selected = (currentApprovalUser.Value == Model.SearchCondition.SelectedOptions.CurrentApprovalUserID) ? "selected" : "";
                        <option value="@currentApprovalUser.Value" @selected>@currentApprovalUser.Text</option>
                    }
                </select>
            </div>
        </div>

    </div>




    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-sm-12">
            <label for="" class="col-sm-4" align="right">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search">查詢</i></button>
                <button type="reset" class="btn btn-danger"><i class="fa fa-times">清除</i></button>
            </label>
        </div>
    </div>
</form>


