﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>內部錯誤</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet">

    <link href="~/Content/plugins/chosen/chosen.css" rel="stylesheet">

    <link href="~/Content/plugins/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet">

    <link href="~/Content/plugins/cropper/cropper.min.css" rel="stylesheet">

    <link href="~/Content/plugins/switchery/switchery.css" rel="stylesheet">

    <link href="~/Content/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">

    <link href="~/Content/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">

    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet">

    <link href="~/Content/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
    <link href="~/Content/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">

    <link href="~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">

    <link href="~/Content/plugins/clockpicker/clockpicker.css" rel="stylesheet">

    <link href="~/Content/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet">

    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet">

    <link href="~/Content/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    
</head>
<body>

    <!-- Skin configuration box -->
    <!-- @Html.Partial("_SkinConfig") -->
    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper" class="@Html.PageClass()">


        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">


            <!-- Main view  -->
            @RenderBody()

        </div>

    </div>
    <!-- Mainly scripts -->
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/Scripts/app/inspinia.js"></script>
    <script src="~/Scripts/plugins/pace/pace.min.js"></script>
    <script src="~/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Chosen -->
    <script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <!-- JSKnob -->
    <script src="~/Scripts/plugins/jsKnob/jquery.knob.js"></script>

    <!-- Input Mask-->
    <script src="~/Scripts/plugins/jasny/jasny-bootstrap.min.js"></script>

    <!-- Data picker -->
    <script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>

    <!-- NouSlider -->
    <script src="~/Scripts/plugins/nouslider/jquery.nouislider.min.js"></script>

    <!-- Switchery -->
    <script src="~/Scripts/plugins/switchery/switchery.js"></script>

    <!-- IonRangeSlider -->
    <script src="~/Scripts/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>

    <!-- iCheck -->
    <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>

    <!-- MENU -->
    <script src="~/Scripts/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Color picker -->
    <script src="~/Scripts/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>

    <!-- Clock picker -->
    <script src="~/Scripts/plugins/clockpicker/clockpicker.js"></script>

    <!-- Image cropper -->
    <script src="~/Scripts/plugins/cropper/cropper.min.js"></script>

    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="~/Scripts/plugins/fullcalendar/moment.min.js"></script>

    <!-- Date range picker -->
    <script src="~/Scripts/plugins/daterangepicker/daterangepicker.js"></script>

    <!-- Select2 -->
    <script src="~/Scripts/plugins/select2/select2.full.min.js"></script>

    <!-- TouchSpin -->
    <script src="~/Scripts/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
