﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | @ViewBag.Title</title>

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.css")" rel="stylesheet" type="text/css" />

    <!-- Primary Inspinia style -->
    <link href="~/Content/mpi_temp.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/plugins/dataPickerStyles")
    @*Element*@

    <style>
        .control-label.required:before {
            content: "*";
            color: red;
        }

        thead {
            background: #0a4812;
            color: #ffffff;
        }

        th {
            text-align: center;
        }

        td {
            text-align: center;
            word-break: break-all;
        }

        template {
            display: none;
        }

        body {
            font-size: 140%;
        }

        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }
    </style>

    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/classic/theme-classic/resources/theme-classic-all.css" rel="stylesheet" />*@
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/ext-all.js"></script>*@

    <meta name="description" content="The description of my page" />
    @Scripts.Render("~/bundles/jquery")
    @*UserControl共用js*@
    @Scripts.Render("~/Scripts/Control/generalcontrol.js")

    <script>
        //Control抓代碼的Url
        var G_GetItemUrl = '@(Url.Action("GetCodeItem", "MPAdded"))';
        //Control抓Main_Kind的Url
        var G_GetMain_Kind = '@(Url.Action("GetAssetMain_Kind", "MPAdded"))';
        //Control抓Detail_Kind的Url
        var G_GetAssetDetail_Kind = '@(Url.Action("GetAssetDetail_Kind", "MPAdded"))';
        //Control抓Use_Types的Url
        var G_GetAssetUse_Types = '@(Url.Action("GetAssetUse_Types", "MPAdded"))';
        //Control抓AccountItem的Url
        var G_GetAccountItem = '@(Url.Action("GetAccountItem", "MPAdded"))';
        //Control抓SearchAssets的Url
        var G_SearchAssets = '@(Url.Action("SearchAssetsByCategoryCode", "MPAdded"))';

        var G_GetDistrict = '@(Url.Action("GetDistrict", "LandAdded"))';
        var G_GetSection = '@(Url.Action("GetSection", "LandAdded"))';
        var G_GetSubSection = '@(Url.Action("GetSubSection", "LandAdded"))';
    </script>
</head>
<body>

    <!-- Skin configuration box -->
    <!-- @Html.Partial("_SkinConfig") -->
    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper" class="@Html.PageClass()">

        <!-- Navigation -->
        @Html.Partial("_Navigation")

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>
        <!-- End page wrapper-->
        <!-- Right Sidebar -->
        @Html.Partial("_RightSidebar")


        <!-- Section for main scripts render -->
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/inspinia")

        @Scripts.Render("~/plugins/dataPicker")
        @Scripts.Render("~/plugins/dateRange")

        @Scripts.Render("~/plugins/slimScroll")
        @Scripts.Render("~/bundles/rg-libs")

        @Html.Partial("_VueComponents")
        @Scripts.Render("~/bundles/shared")
        @Scripts.Render("~/custom/custom-ts")
        @Scripts.Render("~/bundles/jqueryval")

        <script type="text/javascript" src="~/Scripts/Axios/axios.min.js"></script>
        <script type="text/javascript" src="~/Scripts/Axios/es6-promise.auto.js"></script>
        <!-- Skin config script - only for demo purpose-->
        @*@Scripts.Render("~/bundles/skinConfig")*@

        <!-- Handler for local scripts -->
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
