﻿@helper ShowDailog(string header, string body, string foot, string triggerDomId) {
    <div id="dialogModal" name="dialogModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <slot name="header">
                        @(new HtmlString(header))
                    </slot>
                </div>
                <div class="modal-body">
                    <slot name="body">
                        <span>
                            @(new HtmlString(body))
                        </span>
                    </slot>
                </div>
                <div class="modal-footer">
                    <slot name="footer">
                        @(new HtmlString(foot)  )
                    </slot>
                </div>
            </div>
        </div>
    </div>

    <script>
        (function ($) {
            $(document).ready(function () {
                $("@triggerDomId").attr("data-toggle", "modal").attr("data-target", "#dialogModal");
            });
        })(jQuery);
    </script>
}