﻿@using InspiniaWebAdminTemplate.helper

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            @Title()
            @AuditingLog()
            @ToDoList()
            @AnnouncementManagement()
            @LoginManager()
            @WorkFlowManager()
            @AccountingManager()
            @AccountManager()
            @HistoryDataManager()
            @ChattelManager()
            @LandManager()
            @EstateManager()
            @RentRightManager()
            @RentManager()
            @RentInquire()
            @MU()
            @Overdue()
            @Evaluation()
            @AssetInspect()
            @AssetsActivation()
            @PolicyManager()
            @RightFolderManager()
            @DossierRight()
            @ComplexSearch()
            @IntersectionQuery()
            @LeaseManager()
            @CodeTableSetting()
            @Demo()
        </ul>
    </div>
</nav>

@helper AuditingLog()
{
    <li>
        <a><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">稽核軌跡</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li><a href="@Url.Action("Index", "AuditngLog")">查詢</a></li>
        </ul>
    </li>
}

@helper Title()
{
    <li class="nav-header">
        <div class="dropdown profile-element">
            @*
                <span>
                     <img alt="image" class="img-circle" src="~/Images/profile_small.jpg" />
                 </span>
            *@
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="clear">
                    <span class="block m-t-xs">
                        <strong class="font-bold">姓名: @User.Identity.Name</strong>
                    </span>
                    @*
                        <span class="text-muted text-xs block">
                             <strong class="font-bold">可使用功能</strong>
                              <b class="caret"></b>
                        </span>
                    *@

                </span>
            </a>
            @*
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    @foreach (var functionName in Html.EnableFunctions(User))
                    {
                        <li>@functionName</li>
                    }
                </ul>
            *@

        </div>
        <div class="logo-element">
            IN+
        </div>
    </li>
}

@helper AnnouncementManagement()
{
if (Html.IsDisplay(User, new string[] { "QueryPosts", "CreatePost", "PostsManagement" }))
{
        <li>
            <a><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">公告張貼管理</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse
                    @Html.IsSelected(controller: "QueryPosts", cssClass: "in")
                    @Html.IsSelected(controller: "CreatePost", cssClass: "in")
                    @Html.IsSelected(controller: "PostsManagement", cssClass: "in")">

                @if (Html.IsDisplay(User, "QueryPosts"))
                {
                    <li><a href="@Url.Action("Index", "QueryPosts")">公告張貼查詢</a></li>
                }
                @if (Html.IsDisplay(User, "PostsManagement"))
                {
                    <li><a href="@Url.Action("Index", "PostsManagement")">公告張貼維護</a></li>
                }
            </ul>
        </li>
}
}

@helper LoginManager()
{
if (Html.IsDisplay(User, new string[] { "LoginRole", "FunctionRole", "UserRole", "DeputyConfig", "UserConfig", "ApplyAuth", "UserHistory" }))
{
        <li>
            <a><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">登入角色管理</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse
                    @Html.IsSelected(controller: "UserHistory", cssClass: "in")
                    @Html.IsSelected(controller: "UserConfig", cssClass: "in")
                    @Html.IsSelected(controller: "DeputyConfig", cssClass: "in")
                    @Html.IsSelected(controller: "LoginRole", cssClass: "in")
                    @Html.IsSelected(controller: "AuthorityQuery", cssClass: "in")
                    @Html.IsSelected(controller: "FunctionRole", cssClass: "in")
                    @Html.IsSelected(controller: "UserRole", cssClass: "in")
                    @Html.IsSelected(controller: "ApplyAuth", cssClass: "in")
                    @Html.IsSelected(controller: "QueryUserRole", cssClass: "in")">

                @if (Html.IsDisplay(User, "LoginRole"))
                {
                    <li><a href="@Url.Action("Index", "LoginRole")">角色維護</a></li>
                }
                @if (Html.IsDisplay(User, "FunctionRole"))
                {
                    <li><a href="@Url.Action("Index", "FunctionRole")">功能維護</a></li>
                }
                @if (Html.IsDisplay(User, "UserRole"))
                {
                    <li><a href="@Url.Action("Index", "UserRole")">人員權限設定</a></li>
                }
                @if (Html.IsDisplay(User, "AuthorityQuery")) {
                    <li><a href="@Url.Action("Index", "AuthorityQuery")">權限查詢</a></li>
                }
                @*@if (Html.IsDisplay(User, "DeputyConfig"))
                {
                    <li><a href="@Url.Action("Index", "DeputyConfig")">設定代理人</a></li>
                }*@
                @if (Html.IsDisplay(User, "UserConfig"))
                {
                    <li><a href="@Url.Action("Index", "UserConfig")">人員基本資料</a></li>
                }
                @if (Html.IsDisplay(User, "ApplyAuth")) {
                    <li><a href="@Url.Action("Index", "ApplyAuth")">權限申請/異動單</a></li>
                }
                @if (Html.IsDisplay(User, "QueryUserRole"))
                {
                    <li><a href="@Url.Action("Index", "QueryUserRole")">申請權限進度查詢</a></li>
                }
                @if (Html.IsDisplay(User, "UserHistory"))
                {
                    <li><a href="@Url.Action("Index", "UserHistory")">使用記錄查詢</a></li>
                }
            </ul>
        </li>
}
}

@helper WorkFlowManager()
{
    <li>
        <a>
            <i class="fa fa-th-large"></i>
            <span class="nav-label" data-i18n="nav.dashboard">流程管理</span>
            <span class="fa arrow"></span>
        </a>

        <ul class="nav nav-second-level collapse
            @Html.IsSelected(controller: "ApprovalRole", cssClass: "in")
            @Html.IsSelected(controller: "ApprovalMember", cssClass: "in")
            @Html.IsSelected(controller: "FlowName", cssClass: "in")
            @Html.IsSelected(controller: "DocName", cssClass: "in")
            @Html.IsSelected(controller: "AgentFlow", cssClass: "in")
            @Html.IsSelected(controller: "ApprovalWithdraw", cssClass: "in")
            @Html.IsSelected(controller: "ApprovalFlow", cssClass: "in")
            @Html.IsSelected(controller: "ApprovalReassign", cssClass: "in")
            @Html.IsSelected(controller: "ApprovalRevoke", cssClass: "in")
            @Html.IsSelected(controller: "ApprovalTodo", cssClass: "in")
            @Html.IsSelected(controller: "ApprovalReport", cssClass: "in")">

            @if (Html.IsDisplay(User, new string[] { "ApprovalRole", "ApprovalMember", "WorkFlow", "DocName", "AgentFlow" }))
            {
                <li>
                    <a>
                        <i class="fa fa-th-large"></i>
                        <span class="nav-label" data-i18n="nav.dashboard">簽核管理</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-third-level collapse
                        @Html.IsSelected(controller: "ApprovalRole", cssClass: "in")
                        @Html.IsSelected(controller: "ApprovalMember", cssClass: "in")
                        @Html.IsSelected(controller: "FlowName", cssClass: "in")
                        @Html.IsSelected(controller: "DocName", cssClass: "in")
                        @Html.IsSelected(controller: "AgentFlow", cssClass: "in")">

                        @if (Html.IsDisplay(User, "ApprovalRole"))
                        {
                            <li>@*<a href="@Url.Action("Index", "ApprovalRole")">角色維護</a>*@</li>
                            <li><a href="@Url.Action("Index", "ApprovalRole")">簽核權限</a></li>
                        }
                        @if (Html.IsDisplay(User, "ApprovalMember"))
                        {
                            <li><a href="@Url.Action("Index", "ApprovalMember")">角色人員</a></li>
                        }
                        @if (Html.IsDisplay(User, "WorkFlow"))
                        {
                            <li><a href="@Url.Action("Index", "FlowName")">流程維護</a></li>
                        }
                        @if (Html.IsDisplay(User, "DocName"))
                        {
                            <li><a href="@Url.Action("Index", "DocName")">表單維護</a></li>
                        }
                        @if (Html.IsDisplay(User, "AgentFlow"))
                        {
                            <li><a href="@Url.Action("Index", "AgentFlow")">表單流程設定</a></li>
                        }
                    </ul>
                </li>
            }

            @if (Html.IsDisplay(User, new string[] { "ApprovalWithdraw", "ApprovalFlow", "ApprovalReassign", "ApprovalRevoke" }))
            {
                <li>
                    <a>
                        <i class="fa fa-th-large"></i>
                        <span class="nav-label" data-i18n="nav.dashboard">簽核追蹤</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-third-level collapse
                        @Html.IsSelected(controller: "ApprovalFlow", cssClass: "in")
                        @Html.IsSelected(controller: "ApprovalReassign", cssClass: "in")
                        @Html.IsSelected(controller: "ApprovalRevoke", cssClass: "in") 
                        @Html.IsSelected(controller: "ApprovalWithdraw", cssClass: "in")">

                        @if (Html.IsDisplay(User, "ApprovalFlow"))
                        {
                            @*<li><a href="@Url.Action("Index", "ApprovalFlow")">查詢</a></li>*@
                            <li>
                                <a>
                                    <i class="fa fa-th-large"></i>
                                    <span class="nav-label" data-i18n="nav.dashboard">查詢</span>
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-third-level collapse  @Html.IsSelected(controller: "ApprovalFlow", cssClass: "in")
                        @Html.IsSelected(controller: "ApprovalFlow", cssClass: "in")
                        @Html.IsSelected(controller: "ApprovalFlow", cssClass: "in") 
                        @Html.IsSelected(controller: "ApprovalFlow", cssClass: "in")">
                                        <li><a href="@Url.Action("Index", "ApprovalFlow")">流程追蹤</a></li>
                                    <li><a href="@Url.Action("Index", "ApprovalFlow",new { FlowType=0})">草稿</a></li>
                                    <li><a href="@Url.Action("Index", "ApprovalFlow",new { FlowType=2})">待處理</a></li>
                                    <li><a href="@Url.Action("Index", "ApprovalFlow",new { FlowType=3})">結案</a></li>
                                </ul>

                            </li>
                        }
                        @if (Html.IsDisplay(User, "ApprovalReassign"))
                        {
                            <li><a href="@Url.Action("Index", "ApprovalReassign")">改派</a></li>
                        }
                        @if (Html.IsDisplay(User, "ApprovalRevoke"))
                        {
                            <li><a href="@Url.Action("Index", "ApprovalRevoke")">撤銷</a></li>
                        }
                        @if (Html.IsDisplay(User, "ApprovalWithdraw"))
                        {
                            <li><a href="@Url.Action("Index", "ApprovalWithdraw")">抽回</a></li>
                        }
                    </ul>
                </li>
            }

            @if (Html.IsDisplay(User, "CaseApproval"))
            {
                <li>
                    <a href="@Url.Action("Index", "ApprovalTodo")">
                        <span class="nav-label" data-i18n="nav.dashboard">待辦事項</span>
                    </a>
                </li>
            }

            @if (Html.IsDisplay(User, "Reports"))
            {
                <li>
                    <a href="@Url.Action("Index","ApprovalReport")">
                        <span class="nav-label" data-i18n="nav.dashboard">案件統計表</span>
                    </a>
                </li>
            }

        </ul>
    </li>
}

@helper ToDoList()
{
if (Html.IsDisplay(User, new string[] { "QueryTodoList", "TodoListManagement" })) {
        <li>
            <a><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">交辦事項管理</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse
                    @Html.IsSelected(controller: "QueryTodoList", cssClass: "in")
                    @Html.IsSelected(controller: "TodoListManagement", cssClass: "in")">

                @if (Html.IsDisplay(User, "QueryTodoList")) {
                    <li><a href="@Url.Action("Index", "QueryTodoList")">交辦事項查詢</a></li>
                }
                @if (Html.IsDisplay(User, "TodoListManagement")) {
                    <li><a href="@Url.Action("Index", "TodoListManagement")">交辦事項維護</a></li>
                }
            </ul>
        </li>
}
}

@helper HistoryDataManager()
{
    if (Html.IsDisplay(User, new string[] { "HistoryDataSetting", "HistoryDataExport" })) {
        <li>
            <a>
                <i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">歷史資料管理</span> <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level collapse
            @Html.IsSelected(controller: "HistoryDataSetting", cssClass: "in")
            @Html.IsSelected(controller: "HistoryDataExport", cssClass: "in")">
                <li><a href="@Url.Action("Index", "HistoryDataSetting")">參數設定</a></li>
                <li><a href="@Url.Action("Index", "HistoryDataExport")">資料匯出</a></li>
                @*<li><a href="@Url.Action("Index", "HistoryData")">歷史資料列表</a></li>*@
                @*<li><a href="@Url.Action("Index", "HistoryDataStatistics")">歷史資料統計</a></li>*@
            </ul>
        </li>
    }
}

@helper AccountingManager()
{
    <li>
        <a><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">會計設定</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse 
                        @Html.IsSelected(controller: "AccountingBook", cssClass: "in")
                        @Html.IsSelected(controller: "AccountingCalendar", cssClass: "in")
                        @Html.IsSelected(controller: "AssetCategory", cssClass: "in")
                        @Html.IsSelected(controller: "Currency", cssClass: "in") 
                        @Html.IsSelected(controller: "ExchaneRate", cssClass: "in")
                        @Html.IsSelected(controller: "AccountingAsset", cssClass: "in")
                        @Html.IsSelected(controller: "AccountingSubject", cssClass:"in")
                        @Html.IsSelected(controller: "AccountingTradeDefine", cssClass:"in")
                        @Html.IsSelected(controller: "KeepPosition", cssClass:"in")
                        @Html.IsSelected(controller: "TradeAccount", cssClass:"in")
                        @Html.IsSelected(controller: "DepreciationSetting", cssClass:"in")
                        @Html.IsSelected(controller: "AssetParentRelation", cssClass:"in")
                        @Html.IsSelected(controller: "ImpairmGroup", cssClass:"in")">
            <li>
                <a>
                    <i class="fa fa-th-large"></i>
                    <span class="nav-label" data-i18n="nav.dashboard">基本設定</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-third-level collapse
                        @Html.IsSelected(controller: "AccountingBook", cssClass: "in")
                        @Html.IsSelected(controller: "AccountingCalendar", cssClass: "in")
                        @Html.IsSelected(controller: "AssetCategory", cssClass: "in")
                        @Html.IsSelected(controller: "Currency", cssClass: "in") 
                        @Html.IsSelected(controller: "ExchaneRate", cssClass: "in")
                        @Html.IsSelected(controller: "AccountingSubject", cssClass:"in")
                        @Html.IsSelected(controller: "KeepPosition", cssClass:"in")
                        @Html.IsSelected(controller: "TradeAccount", cssClass:"in")
                        @Html.IsSelected(controller: "DepreciationSetting", cssClass:"in")
                        @Html.IsSelected(controller: "AssetParentRelation", cssClass:"in")
                        @Html.IsSelected(controller: "ImpairmGroup", cssClass:"in")" >


                    <li><a href="@Url.Action("Index","AccountingBook")">帳本</a></li>
                    <li><a href="@Url.Action("Index","AccountingCalendar")">會計曆</a></li>
                    <li><a href="@Url.Action("Index","AssetCategory")">資產分類</a></li>
                    <li><a href="@Url.Action("Index", "DepreciationSetting")">折舊方式</a></li>
                    <li><a href="@Url.Action("Index", "KeepPosition")">保管位置</a></li>
                    <li><a href="@Url.Action("Index", "AccountingSubject")">會計科目</a></li>
                    <li><a href="@Url.Action("Index", "ImpairmGroup")">資產現金單位</a></li>
                    <li><a href="@Url.Action("Index","Currency")">幣別</a></li>
                    <li><a href="@Url.Action("Index","ExchaneRate")">匯率</a></li>
                    <li><a href="@Url.Action("Index", "AssetParentRelation")">母子資產查詢</a></li>
                </ul>
            </li>

            <li>
                <a>
                    <i class="fa fa-th-large"></i>
                    <span class="nav-label" data-i18n="nav.dashboard">會計分錄</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-third-level collapse
                        @Html.IsSelected(controller: "AccountingTradeDefine", cssClass:"in")
                        @Html.IsSelected(controller: "KeepPosition", cssClass:"in")">

                    <li><a href="@Url.Action("Index", "AccountingTradeDefine")">交易分錄</a></li>
                    <li><a href="@Url.Action("Index", "TradeAccount")">會計科目</a></li>
                </ul>
            </li>
        </ul>
    </li>
}

@helper ChattelManager()
{
    <li>
        <a>
            <i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">動產管理</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            <li><a href="@Url.Action("Index","MPArchive")">資產查詢作業</a></li>
            <li><a href="@Url.Action("Index","MPAdded")">動產新增作業</a></li>
            <li><a href="@Url.Action("Index","MPMaintain")">動產維護作業</a></li>
            <li>
                <a><i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">動產匯入作業</span><span class="fa arrow"></span></a>
                <ul class="nav nav-third-level collapse">
                    <li><a href="@Url.Action("Index","MPImport")">整批資產匯入</a></li>
                    <li><a href="@Url.Action("Index","MPImportReview")">匯入資料送審</a></li>
                </ul>
            </li>
            <li><a href="@Url.Action("Index","MPTransfer")">動產移轉作業</a></li>
            <li>
                <a><i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">動產處分作業</span><span class="fa arrow"></span></a>
                <ul class="nav nav-third-level collapse">
                    <li><a href="@Url.Action("Index","MPScrappedNotice")">例行性報廢通知</a></li>
                    <li><a href="@Url.Action("Index","MPScrappedReciprocation")">例行性報廢回報</a></li>
                    <li><a href="@Url.Action("Index","MPDisposal")">動產處分作業</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">動產折舊作業</span><span class="fa arrow"></span></a>
                <ul class="nav nav-third-level collapse">
                    <li><a href="@Url.Action("Index", "MPDeprn")">執行資產折舊</a></li>
                    <li><a href="@Url.Action("Index", "MPDeprnSetting")">動產折舊設定</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">盤點作業</span><span class="fa arrow"></span></a>
                <ul class="nav nav-third-level collapse">
                    <li><a href="@Url.Action("Index", "MPInventoryNotice")">盤點通知單(總行)</a></li>
                    <li><a href="@Url.Action("Index", "MPInventoryReciprocation")">盤點回報單(分行)</a></li>
                    <li><a href="@Url.Action("Index", "MPInventorySummary")">盤點匯整表(總行)</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">報表產製</span><span class="fa arrow"></span></a><ul class="nav nav-third-level collapse">
                    <li><a href="@Url.Action("MPDetails","MPReports")">財產明細表</a></li>
                    <li><a href="@Url.Action("MPNewList","MPReports")">財產新增報告單</a></li>
                    <li><a href="@Url.Action("MPScrapList","MPReports")">可報廢財產明細表</a></li>
                    <li><a href="@Url.Action("MPScrapApprovedList","MPReports")">財產報廢核准明細表</a></li>
                    <li><a href="@Url.Action("MPDisposeList","MPReports")">財產災害損失、變賣明細表</a></li>
                    @*<li><a href="@Url.Action("Index","FAKE_CTRL")"><span class="btn-danger">財產變動明細表</span></a></li>
                    <li><a href="@Url.Action("Index","FAKE_CTRL")"><span class="btn-danger">財產標籤列印功能</span></a></li>
                    <li><a href="@Url.Action("Index","FAKE_CTRL")"><span class="btn-danger">單位折舊費用表明細</span></a></li>
                    <li><a href="@Url.Action("Index","FAKE_CTRL")"><span class="btn-danger">單位折舊費用表彙總表</span></a></li>
                    <li><a href="@Url.Action("Index","FAKE_CTRL")"><span class="btn-danger">財產報廢彙總表</span></a></li>
                    <li><a href="@Url.Action("Index","FAKE_CTRL")"><span class="btn-danger">財產明細彙總表</span></a></li>
                    <li><a href="@Url.Action("Index","FAKE_CTRL")"><span class="btn-danger">折舊/攤銷彙總表</span></a></li>
                    <li><a href="@Url.Action("Index","FAKE_CTRL")"><span class="btn-danger">財產盤點明細表</span></a></li>
                    <li><a href="@Url.Action("Index","FAKE_CTRL")"><span class="btn-danger">增減變動表</span></a></li>*@
                </ul>
            </li>
        </ul>
    </li>
}


@helper LandManager()
{
    <li>
        <a>
            <i class="fa fa-th-large"></i>
            <span class="nav-label" data-i18n="nav.dashboard">土地</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            <li><a href="@Url.Action("Index", "LandAdded")">土地新增作業</a></li>
            <li><a href="@Url.Action("Index", "LandAssets")">土地維護作業</a></li>
            <li><a href="@Url.Action("Index", "LandSplit")">土地分割作業</a></li>
            <li><a href="@Url.Action("Index", "LandConsolidation")">土地合併作業</a></li>
            @*<li><a href="@Url.Action("Index", "LandCost")">土地成本維護</a></li>*@
            <li><a href="@Url.Action("Index", "LandDisposal")">土地處分作業</a></li>
            <li><a href="@Url.Action("Index", "LandReclassify")">土地資產分類異動</a></li>
            <li>
                <a><i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">報表產製</span><span class="fa arrow"></span></a><ul class="nav nav-third-level collapse">
                    <li><a href="@Url.Action("Reports_1","LandReports")">資產明細表</a></li>
                    <li><a href="@Url.Action("LandAssetImpairmentList","LandReports")">資產減損明細表</a></li>
                    <li><a href="@Url.Action("LandAssetRevaluationList","LandReports")">資產重估明細表</a></li>
                    <li><a href="@Url.Action("LandAllCityPlanPartitionList","LandReports")">各類都市計畫分區土地統計表</a></li>
                </ul>
            </li>
        </ul>
    </li>
}

@helper EstateManager()
{
     <li>
            <a>
                <i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">房屋管理</span> <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level collapse">
                <li><a href="@Url.Action("Index","BuildAdded")">房屋新增作業</a></li>
                <li><a href="@Url.Action("Index","BuildMaintain")">房屋維護作業</a></li>
                <li><a href="@Url.Action("Index","BuildDisposal")">房屋處分作業</a></li>
                <li><a href="@Url.Action("Index","BuildReclassify")">房屋資產分類異動</a></li>
                <li><a href="@Url.Action("Index","BuildLifeChange")">房屋使用年限異動</a></li>
                <li><a href="@Url.Action("Index","BuildMPAdded")">重大組成新增作業</a></li>
                <li><a href="@Url.Action("Index","BuildMPMaintain")">重大組成維護作業</a></li>
                <li><a href="@Url.Action("Index","BuildMPDisposal")">重大組成處分作業</a></li>
                <li><a href="@Url.Action("Index","BuildMPReclassify")">重大組成資產分類異動</a></li>
                <li><a href="@Url.Action("Index","BuildMPLifeChange")">重大組成使用年限異動</a></li>
                <li>
                    <a><i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">報表產製</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level collapse">
                        <li><a href="@Url.Action("Reports_1","BuildReports")">資產明細表</a></li>
                        <li><a href="@Url.Action("Reports_1","BuildReports")">資產變賣明細表</a></li>
                        <li><a href="@Url.Action("Reports_1","BuildReports")">資產變動前後明細表</a></li>
                        <li><a href="@Url.Action("Reports_1","BuildReports")">資產報廢明細表</a></li>
                        <li><a href="@Url.Action("Reports_1","BuildReports")">折舊明細表</a></li>
                    </ul>
                </li>
            </ul>
        </li>
}

@helper RentRightManager()
{
    <li>
        <a>
            <i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">租賃權益管理</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            <li><a href="@Url.Action("Index","LeaseRightsSearch")">資產查詢作業</a></li>
            <li><a href="@Url.Action("Index","LeaseRightsAdded")">租賃新增作業</a></li>
            <li><a href="@Url.Action("Index","LeaseRightsMaintain")">租賃維護作業</a></li>
            <li><a href="@Url.Action("Index","LeaseRightsDisposal")">租賃處分作業</a></li>
            <li><a href="@Url.Action("Index","LeaseRightsDeprn")">租賃權益攤銷作業</a></li>
            <li><a href="@Url.Action("Index","LeaseRightsDeprnSetting")">租賃權益攤銷設定</a></li>
            <li><a href="@Url.Action("Index","LeaseRightsReport")">報表產製</a></li>
        </ul>
    </li>
}


@helper LeaseManager()
{
if (Html.IsDisplay(User, "PaymentForm"))
{
        <li>
            <a><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">租約</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Dashboards", cssClass: "in")">
                <li><a href="@Url.Action("Index", "Rent")">租約UI樣本</a></li>
                <li><a href="@Url.Action("PaymentForm", "Rent")">出租契約履約管理</a></li>
                <li><a href="@Url.Action("ContractMaintain", "Rent")">出租契約履約管理</a></li>
            </ul>
        </li>
    }
}
@helper MU()
{
    <li>
        <a>
            <i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">資產主檔更新作業</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            <li><a href="@Url.Action("Index", "MUSearch")">主檔更新查詢作業</a></li>
            <li><a href="@Url.Action("Index", "MUApply")">主檔調閱申請</a></li>
            <li><a href="@Url.Action("Index", "MU")">主檔更新作業</a></li>
            <li><a href="@Url.Action("Index", "MUReport")">報表產製</a></li>
        </ul>
    </li>
}

@helper Overdue()
{
    <li>
        <a>
            <i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">資產遭占用及催討繳管理</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            <li><a href="@Url.Action("Index","OverdueList")">逾期案件查詢</a></li>
            <li><a href="@Url.Action("Index","OverdueSearch")">催繳查詢作業</a></li>
            <li><a href="@Url.Action("Index","Overdue_Tmp")">催繳與訴訟作業</a></li>
            <li><a href="@Url.Action("Index","OverdueReport")">報表產製</a></li>
        </ul>
    </li>
}

@helper AssetInspect()
{
    <li>
        <a>
            <i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">資產巡查作業</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            <li><a href="@Url.Action("Index","AssetInspectSearch")">資產巡查查詢</a></li>
            <li><a href="@Url.Action("Index","AssetInspectAssign")">總行指定巡查作業</a></li>
            <li><a href="@Url.Action("Index","AssetInspect")">分行巡查作業</a></li>
            <li><a href="@Url.Action("Index","AssetInspectReport")">報表產製</a></li>
        </ul>
    </li>
}

@helper AssetsActivation()
{
    <li>
        <a>
            <i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">資產活化利用作業</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            <li><a href="@Url.Action("Index","AssetsActivationSearch")">資產活化查詢作業</a></li>
            <li><a href="@Url.Action("Index","AssetsActivationAssign")">總行指定活化作業</a></li>
            <li><a href="@Url.Action("Index","AssetsActivation")">分行活化規劃作業</a></li>
            <li><a href="@Url.Action("Index","AssetsActivationSubmit")">分行活化進度回報</a></li>
            <li><a href="@Url.Action("Index","AssetsActivationReport")">報表產製</a></li>
        </ul>
    </li>
}

@helper RentManager()
{
    <li>
        <a>
            <i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">資產承租管理</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            <li><a href="@Url.Action("Index","IntegrationSearch")">承租契約查詢作業</a></li>
            <li><a href="@Url.Action("Index","IntegrationAdded")">承租契約新增作業</a></li>
            <li><a href="@Url.Action("Index","IntegrationMaintain")">承租契約維護作業</a></li>
            <li><a href="@Url.Action("Index","IntegrationRenewal")">承租續租換約作業</a></li>
            <li><a href="@Url.Action("Index","IntegrationPay")">承租租金繳納作業作業</a></li>
            <li><a href="@Url.Action("Index","IntegrationTrack")">承租進度追蹤作業</a></li>
            <li><a href="@Url.Action("Index","IntegrationReport")">報表產製</a></li>
        </ul>
    </li>
}
@helper RentInquire()
{
    <li>
        <a>
            <i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">資產出租管理</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            <li><a href="@Url.Action("Index","RentInquireSearch")">出租契約查詢作業</a></li>
            <li><a href="@Url.Action("Index","RentInquireAdded")">出租契約新增作業</a></li>
            <li><a href="@Url.Action("Index","RentInquireMaintain")">出租契約維護作業</a></li>
            <li><a href="@Url.Action("Index","RentInquireRenewal")">出租續租換約作業</a></li>
            <li><a href="@Url.Action("Index","RentInquirePay")">出租繳款管理作業</a></li>
            <li><a href="@Url.Action("Index","RentInquireInvoice")">出租發票匯出作業</a></li>
            <li><a href="@Url.Action("Index","RentInquireWriteOff")">出租租金銷帳作業</a></li>
            <li><a href="@Url.Action("Index","RentInquireTrack")">出租履約追蹤作業</a></li>
            <li><a href="@Url.Action("Index","RentInquireReport")">報表產製</a></li>
        </ul>
    </li>
}

@helper Evaluation()
{
    <li>
        <a>
            <i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">資產評估作業</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            <li><a href="@Url.Action("Index","EvaluationSearch")">資產評估查詢作業</a></li>
            <li><a href="@Url.Action("Index","EvaluationAssign")">指定評估房屋作業</a></li>
            <li><a href="@Url.Action("Index","BuildEvaluation")">房屋評估作業</a></li>
            <li><a href="@Url.Action("Index","LandEvaluation")">土地評估作業</a></li>
            <li><a href="@Url.Action("Index","EvaluationSubmit")">評估結果提報作業</a></li>
            <li><a href="@Url.Action("Index","EvaluationReport")">報表產製</a></li>
        </ul>
    </li>
}




@helper PolicyManager()
{
    <li>
        <a>
            <i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">保單管理</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            <li><a href="@Url.Action("Index","PolicySearch")">保單查詢作業</a></li>
            <li><a href="@Url.Action("Index","PolicyAdded")">保單新增作業</a></li>
            <li><a href="@Url.Action("Index","PolicyMaintain")">保單維護作業</a></li>
            <li><a href="@Url.Action("Index","InsuranceSearch")">出險查詢作業</a></li>
            <li><a href="@Url.Action("Index","InsuranceAdded")">出險新增作業</a></li>
            <li><a href="@Url.Action("Index","InsuranceMaintain")">出險維護作業</a></li>
            <li><a href="@Url.Action("Index","PolicyReport")">報表產製</a></li>
        </ul>
    </li>
}

@helper RightFolderManager()
{
    <li>
        <a>
            <i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">卷宗管理</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            <li><a href="@Url.Action("Index","DossierSearch")">卷宗查詢作業</a></li>
            <li><a href="@Url.Action("Index","DossierAdded")">卷宗新增作業</a></li>
            <li><a href="@Url.Action("Index","DossierMaintain")">卷宗維護作業</a></li>
            <li><a href="@Url.Action("Index","DossierParSetting")">參數管理</a></li>
            <li><a href="@Url.Action("Index","DossierReport")">報表產製</a></li>
        </ul>
    </li>
}

@helper DossierRight()
{
    <li>
        <a>
            <i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">權狀管理</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            <li><a href="@Url.Action("Index","DossierRightSearch")">權狀查詢作業</a></li>
            <li><a href="@Url.Action("Index","DossierRightAdded")">權狀新增作業</a></li>
            <li><a href="@Url.Action("Index","DossierRightMaintain")">權狀維護作業</a></li>
            <li><a href="@Url.Action("Index","AccessDossierRight")">調閱權狀查詢作業</a></li>
            <li><a href="@Url.Action("Index","AccessDossierRightApply")">調閱權狀申請單</a></li>
            <li><a href="@Url.Action("Index","DossierRightReport")">報表產製</a></li>
        </ul>
    </li>
}

@helper ComplexSearch()
{
    <li>
        <a href="@Url.Action("Index","ComplexSearch")"><i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">綜合查詢</span><span class="fa arrow"></span></a>
    </li>
}

@helper IntersectionQuery()
{
    <li>
        <a>
            <i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">交集查詢</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            <li><a href="@Url.Action("Index","IntersectionSearch")">自訂報表</a></li>
            <li><a href="@Url.Action("Index","IntersectionNotice")">報表通知設定</a></li>
        </ul>
    </li>
}





@helper AccountManager()
{
    <li>

        <a>
            <i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">帳務管理</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse \
            @Html.IsSelected(controller: "AccountingQuery", cssClass: "in")
            @Html.IsSelected(controller: "AccountingEntrySupplement", cssClass: "in")
            @Html.IsSelected(controller: "AccountingEntryStatistics", cssClass: "in")
            @Html.IsSelected(controller: "AccountingEntryList", cssClass: "in")
            @Html.IsSelected(controller: "AccountingTradeTodayStatistics", cssClass: "in")
            @Html.IsSelected(controller: "AccountingTradeTodayList", cssClass: "in")
            @Html.IsSelected(controller: "AccountingDeprnTrial", cssClass: "in")
            @Html.IsSelected(controller: "AccountingQueryDeprn", cssClass: "in")
            @Html.IsSelected(controller: "AccountingDeprnVerify", cssClass: "in")
            @Html.IsSelected(controller: "AccountingQuery", cssClass: "in")
            @Html.IsSelected(controller: "AccountingTrade", cssClass: "in")
            @Html.IsSelected(controller: "AccountingClose", cssClass: "in")
            @Html.IsSelected(controller: "AccountingEntries", cssClass: "in")
            @Html.IsSelected(controller: "AccountingVerify", cssClass: "in")
            @Html.IsSelected(controller: "AccountingEAI", cssClass: "in")
            @Html.IsSelected(controller: "AssetImpairment", cssClass: "in")
            @Html.IsSelected(controller: "AssetIncrement", cssClass: "in")">

            <li>
                <a>
                    <i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">帳務管理</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-third-level collapse
                    @Html.IsSelected(controller: "AccountingQuery", cssClass: "in")
                    @Html.IsSelected(controller: "AccountingEntrySupplement", cssClass: "in")
                    @Html.IsSelected(controller: "AccountingTrade", cssClass: "in")
                    @Html.IsSelected(controller: "AccountingClose", cssClass: "in")
                    @Html.IsSelected(controller: "AccountingEntries", cssClass: "in")
                    @Html.IsSelected(controller: "AccountingVerify", cssClass: "in")
                    @Html.IsSelected(controller: "AccountingEAI", cssClass: "in")
                    @Html.IsSelected(controller: "AssetImpairment", cssClass: "in")
                    @Html.IsSelected(controller: "AssetIncrement", cssClass: "in")">

                    <li><a href="@Url.Action("Index","AccountingQuery")">帳務查詢及調整</a></li>
                    <li><a href="@Url.Action("Index","AccountingEntrySupplement")">會計科目補輸入</a></li>
                    <li><a href="@Url.Action("Index","AccountingTrade")">出帳(產生會計分錄)</a></li>
                    <li><a href="@Url.Action("Index","AccountingEntries")">會計分錄查詢</a></li>
                    <li><a href="@Url.Action("Index","AccountingVerify")">核帳</a></li>
                    <li><a href="@Url.Action("Index","AccountingEAI")">會計拋轉</a></li>
                    @*<li><a href="@Url.Action("Index","AccountingClose")">會計關帳</a></li>*@
                    <li><a href="@Url.Action("Index", "AssetImpairment")">資產減損</a></li>
                    <li><a href="@Url.Action("Index", "AssetIncrement")">資產增值</a></li>

                </ul>
            </li>

            <li>

            <li>
                <a>
                    <i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">折舊</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-third-level collapse
                        @Html.IsSelected(controller: "AccountingDeprnTrial", cssClass: "in")
                        @Html.IsSelected(controller: "AccountingQueryDeprn", cssClass: "in")
                        @Html.IsSelected(controller: "AccountingDeprnVerify", cssClass: "in")">


                    <li><a href="@Url.Action("Index","AccountingDeprnTrial")">折舊試算</a></li>
                    <li><a href="@Url.Action("Index","AccountingQueryDeprn")">折舊帳務查詢</a></li>
                    <li><a href="@Url.Action("Start","AccountingDeprnVerify")">折舊核帳</a></li>
                </ul>
            </li>

            <li>
                <a>
                    <i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.dashboard">報表</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-third-level collapse
                        @Html.IsSelected(controller: "AccountingEntryStatistics", cssClass: "in")
                        @Html.IsSelected(controller: "AccountingEntryList", cssClass: "in")
                        @Html.IsSelected(controller: "AccountingTradeTodayStatistics", cssClass: "in")
                        @Html.IsSelected(controller: "AccountingTradeTodayList", cssClass: "in")">

                    <li><a href="@Url.Action("Index","AccountingEntryStatistics")">會計科目金額統計表</a></li>
                    <li><a href="@Url.Action("Index","AccountingEntryList")">會計科目金額明細表</a></li>
                    <li><a href="@Url.Action("Index","AccountingTradeTodayStatistics")">當日出帳統計表</a></li>
                    <li><a href="@Url.Action("Index","AccountingTradeTodayList")">當日出帳明細表</a></li>
                </ul>
            </li>

        </ul>

    </li>
}

@helper CodeTableSetting()
{
    <li>
        <a>
            <i class="fa fa-th-large"></i>
            <span class="nav-label">系統代碼</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            <li><a href="@Url.Action("Index", "CodeTable")">設定</a></li>
        </ul>
    </li>
}

@helper Demo()
{
    <li>
        <a>
            <i class="fa fa-th-large"></i>
            <span class="nav-label">UI元件範本</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            <li><a href="@Url.Action("MultiSelect", "Example")">郵件型多選單</a></li>
            <li><a href="@Url.Action("MultiSelect2", "Example")">集合型多選單</a></li>
            <li><a href="@Url.Action("CascadeSelect", "Example")">連動式選單</a></li>
            <li><a href="@Url.Action("Icon", "Example")">小Icon</a></li>
            <li><a href="@Url.Action("Page", "Example")">分頁</a></li>
            <li><a href="@Url.Action("Index", "ExampleUpload")">檔案上傳</a></li>
            <li><a href="@Url.Action("Table", "Example")">DataTable</a></li>
        </ul>
    </li>
}
