﻿@using InspiniaWebAdminTemplate.Models.Common
@model TableItemViewModel

@if (Model.Items.Count == 1)
{
    <span class="fa fa-adn">@Model.Items[0]</span>
}
else if ( Model.Items.Count >= 2)
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse-@Model.Index">
                        ......
                        <b class="caret"></b>
                    </a>
                </h4>
            </div>


            <div id="collapse-@Model.Index" class="panel-collapse collapse">
                <ol class="list-group">
                    @foreach (var item in Model.Items)
                    {
                        <li class="list-group-item"><span class="fa fa-adn">@item</span></li>
                    }
                </ol>
            </div>

        </div>
    </div>
}