﻿
<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">Hi @User.Identity.Name</span>
            </li>
            @*
    <li>
        <a href="@Url.Action("Detail", "Account")">
            <i class="fa fa-cog">設定</i>
        </a>
    </li>
            *@

            <a href="#modal-form-sign-out" data-toggle="modal" title="登出">
                <i class="fa fa-sign-out">登出</i>
            </a>

        </ul>
    </nav>
</div>

<div id="modal-form-sign-out" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">是否登出?</h3>
                        <a class="btn btn-sm btn-danger" href="@Url.Action("Logout", "Account")">
                            是
                        </a>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>否</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>