﻿<style>
    .tree, .tree ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .tree ul {
        margin-left: 1em;
        position: relative;
    }

    .tree ul ul {
        margin-left: .5em;
    }

    .tree ul:before {
        content: "";
        display: block;
        width: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        border-left: 1px solid;
    }

    .tree li {
        margin: 0;
        padding: 0 1em;
        line-height: 2em;
        color: #369;
        font-weight: 700;
        position: relative;
    }

    .tree ul li:before {
        content: "";
        display: block;
        width: 10px;
        height: 0;
        border-top: 1px solid;
        margin-top: -1px;
        position: absolute;
        top: 1em;
        left: 0;
    }

    .tree ul li:last-child:before {
        background: #fff;
        height: auto;
        top: 1em;
        bottom: 0;
    }

    .indicator {
        margin-right: 5px;
    }

    .tree li a {
        text-decoration: none;
        color: #369;
    }

    .tree li button, .tree li button:active, .tree li button:focus {
        text-decoration: none;
        color: #369;
        border: none;
        background: transparent;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        outline: 0;
    }
</style>

<template id="tree-template">
    <li class='branch' style="display: list-item;">
        <i v-on:click="toggle" v-if="isFolder" :class="isOpen ? 'indicator glyphicon glyphicon-minus-sign' : 'indicator glyphicon glyphicon-plus-sign'"></i>{{model.name}}
        <ul v-show="isOpen" v-if="isFolder">
            <tree-item class="item" v-for="m in model.children" :model="m" :open="isOpen">
            </tree-item>
        </ul>
    </li>
</template>

<template id="tree-root-template">
    <ul class='tree'>
        <tree-item class="item" :model="treeData" :open="openStatus">
        </tree-item>
    </ul>
</template>

<script>

    (function ($) {

        Vue.component('tree-item', {
            template: '#tree-template',
            props: {
                model: Object,
                open: Boolean
            },
            data: function () {
                return {
                    isOpen: open
                }
            },
            computed: {
                isFolder: function () {
                    return this.model.children && this.model.children.length
                }
            },
            methods: {
                toggle: function () {
                    if (this.isFolder) {
                        this.isOpen = !this.isOpen
                    }
                }
            }
        });

    })(jQuery);

</script>