﻿<template id="options-template">
    <div class="form-group">
        <h4>{{title}}</h4>
        <select class="form-control" v-bind:name="model_name" v-bind:size="array.length" multiple>
            <option v-for="item in array" v-bind:value="item.Value">{{item.Text}}</option>
        </select>
    </div>
</template>

<script>

    (function ($) {

        var TemplateMethod = Vue.extend({

            template: '#options-template',

            methods: {

                concat: function (items) {

                    for (var index in items)
                        this.array.push(items[index]);
                },

                remove: function () {

                    var selected = this.selected();

                    for (var item in selected) {
                        var index = this.search(selected[item]);
                        if (index !== -1)
                            this.array.splice(index, 1);
                    }

                    return selected;
                },

                search: function(other){

                    for (var index in this.array)
                    {
                        var item = this.array[index];
                        if (item.Value == other.Value)
                            return index;
                    }
                    return -1;
                },
                                
                selected: function () {

                    var result = [];
                    var $selected = this.$selected();

                    for (var index = 0; index < $selected.length; ++index)
                    {
                        var $item = $($selected[index]);
                        result.push({ Value: $item.val(), Text: $item.text() });
                    }

                    return result;
                },
                
                $selected: function () {

                    var query = "select[name=" + this.model_name + "]" + " " + ":selected";
                    return $(query);
                }
            }
        });

        $.extend({

            OptionTemplate: TemplateMethod

        });

    })(jQuery);

</script>

