﻿<template id="option-input-template">
    <div>
        <label for="" class="col-sm-4 control-label" align="right">{{title}}</label>
        <div class="col-sm-8" id="flow_template_region">
            <input v-model="value" type="hidden" v-bind:name="model_name">
            <textarea v-model="text" class="form-control" readonly></textarea>
        </div>
    </div>
</template>


<script>

    (function ($) {

        var TemplateMethod = Vue.extend({

            template: '#option-input-template',
            methods: {

                set: function (value, text) {

                    this.value = value;
                    this.text = text;
                }
            }
        });

        $.extend({

            OptionInputTemplate: TemplateMethod
        });

    })(jQuery);

</script>
