﻿<script type="text/x-template" id="popup-select-template">

    <div class="row">
        <div>
            <h3 class="m-t-none m-b">{{title}}</h3>

            <select class="form-control" v-bind:size="flow_name_option_list.length" v-model="flow_name_id">
                <option v-for="flow_name_option in flow_name_option_list" v-bind:value="flow_name_option.Value">{{flow_name_option.Text}}</option>
            </select>

            <button class="btn btn-default" data-dismiss="modal" v-on:click="chose_flow_name()"><i class="fa fa-ils">套用</i></button>
            <button class="btn btn-primary" data-dismiss="modal">取消</button>

        </div>
    </div>

</script>

<script>

    (function ($) {

        var TemplateMethod = Vue.extend({

            template: "#popup-select-template",
            methods: {

                chose_flow_name: function () {

                    if (this.flow_name_id != null) {
                        var flow_template = this.flow_name_group_template_option[this.flow_name_id];
                        this.onselect(flow_template.Value, flow_template.Text);
                    }
                },

                href: function () {

                    return "#" + this.model_name;
                }
            }
        });

        $.extend({

            PopupSelectTemplate: TemplateMethod
        });

    })(jQuery);

</script>
