﻿<template id="options-template">

    <div>
        <div class="col-sm-3 col-sm-offset-2">
            <div class="form-group">
                <h4>{{left_title}}</h4>
                <select class="form-control" v-bind:name="left_model_name" v-bind:size="left_size ? left_size : left_array.length" multiple>
                    <option v-for="item in left_array" v-bind:value="item.Value">{{item.Text}}</option>
                </select>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="text-center">
                <button v-on:click="move_left()" class="btn btn-sm btn-primary" type="button">←</button>
                <button v-on:click="move_right()" class="btn btn-sm btn-primary" type="button">→</button>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                <h4>{{right_title}}</h4>
                <select class="form-control" v-bind:name="right_model_name" v-bind:size="right_size ? right_size : right_array.length" multiple>
                    <option v-for="item in right_array" v-bind:value="item.Value">{{item.Text}}</option>
                </select>
            </div>
        </div>

        <div class="col-sm-2"></div>
    </div>

</template>


<script>

    (function ($) {

        var TemplateMethod = Vue.extend({

            template: '#options-template',

            mounted: function () {

                var model_name = this.right_model_name

                $( this.submit_form_id ).submit(function (e) {

                    var $options = $("select[name=" + model_name + "] option");

                    $options.each(function () {

                        $(this).attr("selected", "selected");
                    });
                });
            },

            methods: {

                move_left: function () {

                    var selected = this.selected(this.right_model_name);

                    this.concat(this.left_array, this.remove(this.right_array, selected));
                    this.removeByName(this.right_model_name, selected);
                },

                move_right: function () {
                   
                    var selected = this.selected(this.left_model_name);

                    this.concat(this.right_array, this.remove(this.left_array, selected));
                    this.removeByName(this.left_model_name, selected);
                },

                concat: function (array, items) {
                    for (var index in items)
                        array.push(items[index]);
                },

                remove: function (array, items) { 
                    for (var item in items) {
                        var index = this.search(array, items[item]);
                        if (index !== -1)
                            array.splice(index, 1);
                    }

                    return items;
                },
                removeByName: function (model_name, items) {
                    for (var item in items) {
                        $("select[name='" + model_name + "'] option").each(function () {
                            if ($(this).val() == items[item].Value) {
                                $(this).remove();
                            }
                        });
                    }

                    return items;
                },
                search: function (array, target) {
                    for (var index in array) {
                        var item = array[index];
                        if (item.Value == target.Value)
                            return index;
                    }
                    return -1;
                },

                selected: function (model_name) {

                    var result = [];
                    var $selected = this.$selected(model_name);

                    for (var index = 0; index < $selected.length; ++index) {
                        var $item = $($selected[index]);
                        result.push({ Value: $item.val(), Text: $item.text() });
                    }

                    return result;
                },

                $selected: function (model_name) {

                    var query = "select[name=" + model_name + "]" + " " + ":selected";
                    return $(query);
                }
            }

        });

        $.extend({

            OptionTemplate: TemplateMethod
        });

    })(jQuery);

</script>

