<template id="vue-datepicker-template">
	<input type="text">
</template>

<template id="vue-modal-template">
	<div :id="modalId" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <slot>

					</slot>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="app-ibox">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" v-if="title || collapsible">
                    <h5>{{ title }}</h5>
                    <div class="ibox-tools" v-if="collapsible">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                  <slot></slot>
                </div>
            </div>
        </div>
    </div>
</template>


<template id="app-formfield">
    <div :class="`col-sm-${col} form-group`">
        <label class="col-sm-4 control-label">
            <span v-if="required" style="color: red">*</span>{{ title }}
        </label>
        <div class="col-sm-8">
            <slot></slot>
        </div>
    </div>
</template>
