﻿<template id="cascade_select_template">

    <div class="row">

        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label">{{title}}</label>
            <div class="col-sm-8">
                <select class="form-control" v-model="startup_main_id" v-bind:name="main_model_name">
                    <option v-for="option in main_option_list" v-bind:value="option.Value"> {{option.Text}}</option>
                </select>
            </div>
        </div>

        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label" align="right">{{cascade_title}}</label>
            <div class="col-sm-8">
                <select class="form-control"  v-bind:name="cascade_model_name">
                    <option v-for="option in cascade_option_list(startup_main_id)" v-bind:value="option.Value"> {{option.Text}}</option>
                </select>
            </div>
        </div>

    </div>

</template>

<script>

    (function ($) {

        var TemplateMethod = Vue.extend({

            template: '#cascade_select_template',


            methods: {

                cascade_option_list: function (startup_main_id) {

                    return this.cascade_option_list_map[startup_main_id];
                }
            }
        });

        $.extend({

            CascadeSelectTemplate: TemplateMethod
        });

    })(jQuery);

</script>
