﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>報表產製</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">卷宗管理</a>
            </li>
            <li>
                <a href="#">報表產製</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>條件設定</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">報表類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="sheettype">
                                        <option>卷宗、檔案異動明細表</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">是否彙總</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="radio" name="radiogroup1"><span>是</span>
                                    <input type="radio" name="radiogroup1" checked><span>否</span>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">異動日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control">
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"></div>


                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">備註(關鍵字)</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>


                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                    <a class="btn btn-primary"><i class="fa fa-long-arrow-right"> 產 製 </i></a>
                                </label>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>業務類型</th>
                                    <th>卷宗類別</th>
                                    <th>主題內容</th>
                                    <th>建立日期</th>
                                    <th>內容/上傳檔案</th>
                                    <th>狀態</th>
                                    <th>管轄單位</th>
                                    <th>更新人員</th>
                                    <th>更新日期</th>
                                    <th>更新次數</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>土地</td>
                                    <td>公文</td>
                                    <td>公營事業機構向<br>銀行貸款處理辦法</td>
                                    <td>106-08-01 10:00</td>
                                    <td>1060901_卷宗_合約內容.PDF</td>
                                    <td>新增</td>
                                    <td>總行/資訊部</td>
                                    <td>陳小明</td>
                                    <td>106-09-01 10:00</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>土地</td>
                                    <td>公文</td>
                                    <td>公營事業機構向<br>銀行貸款處理辦法</td>
                                    <td>106-08-01 10:00</td>
                                    <td>1060901_卷宗_合約內容.PDF</td>
                                    <td>新增</td>
                                    <td>總行/資訊部</td>
                                    <td>陳小明</td>
                                    <td>106-09-01 10:00</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>土地</td>
                                    <td>公文</td>
                                    <td>公營事業機構向<br>銀行貸款處理辦法</td>
                                    <td>106-08-01 10:00</td>
                                    <td>內容</td>
                                    <td>新增</td>
                                    <td>總行/資訊部</td>
                                    <td>陳小明</td>
                                    <td>106-09-01 10:00</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>土地</td>
                                    <td>公文</td>
                                    <td>公營事業機構向<br>銀行貸款處理辦法</td>
                                    <td>106-08-01 10:00</td>
                                    <td>內容</td>
                                    <td>修改</td>
                                    <td>總行/資訊部</td>
                                    <td>陳小明</td>
                                    <td>106-09-01 11:00</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>土地</td>
                                    <td>公文</td>
                                    <td>公營事業機構向<br>銀行貸款處理辦法</td>
                                    <td>106-08-01 10:00</td>
                                    <td>1060901_卷宗_合約內容.PDF</td>
                                    <td>新增</td>
                                    <td>總行/資訊部</td>
                                    <td>陳小明</td>
                                    <td>106-09-01 10:00</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>土地</td>
                                    <td>公文</td>
                                    <td>公營事業機構向<br>銀行貸款處理辦法</td>
                                    <td>106-08-01 10:00</td>
                                    <td>1060901_卷宗_合約內容.PDF</td>
                                    <td>修改</td>
                                    <td>總行/資訊部</td>
                                    <td>陳小明</td>
                                    <td>106-09-01 11:00</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>土地</td>
                                    <td>公文</td>
                                    <td>公營事業機構向<br>銀行貸款處理辦法</td>
                                    <td>106-08-01 10:00</td>
                                    <td>1060901_卷宗_合約內容.PDF</td>
                                    <td>刪除</td>
                                    <td>總行/資訊部</td>
                                    <td>陳小明</td>
                                    <td>106-09-01 12:00</td>
                                    <td>3</td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>