﻿<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <!--div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div-->
                <div class="ibox-content">

                    <form action="" class="form-horizontal">
                        <h1>請確認是否執行關帳，執行後，本日帳務不可再調整!!</h1>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button type="button" class="btn btn-primary"><i class="fa fa-search">確認關帳</i></button>
                                <button type="button" class="btn"><i class="fa fa-times">取消</i></button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
