﻿@using InspiniaWebAdminTemplate.Models.DossierRight
@model DossierRightViewModel
@{
    if (Convert.ToBoolean(ViewBag.SignMode))
    {
        Layout = "~/Views/Shared/_EmptyLayout.cshtml";
        TempData["SignMode"] = true;
    }

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string ReturnController = controllerName;

    string functionName = Helper.GetFunctionTitle(controllerName);
    var Action = ViewContext.RouteData.GetRequiredString("action");
    ViewBag.Title = (Action == "New") ? "新增單據" : "編輯單據";
    TempData["FunctionFrom"] = ViewBag.Title;

    //是否可以編輯
    bool CanEdit = (Model.Header.Transaction_Status == "0" || Model.Header.Transaction_Status == "3" || Model.Header.Transaction_Status == "4");
    bool IsAssignAssets = false;
}

<script>
    function DataCheck() {
        var msg = "";
        if ($("#Transaction_Datetime_Entered").val() == "") {
            msg += "請輸入事務處理日期\n";
        }
        if ($("#Source").val() == "") {
            msg += "請選擇來源類型\n";
        }
        if ($("#Office_Branch_Branch").val() == "") {
            msg += "請選擇管轄行別\n";
        }
        if ($("#Office_Branch_Dept").val() == "") {
            msg += "請選擇管轄分行別\n";
        }
        if (msg == "")
        { return true; }
        alert(msg);
        return false;
    }
    function Record_New() {
        $('#form').attr('action', '@Url.Action("Record_New")');
        $('#form').submit();
    }
    function Record_Search() {
        $('#form').attr('action', '@Url.Action("Record_Search")');
        $('#form').submit();
    }
    function doSave() {
        if (!DataCheck())
            return;
        @if (Action == "New")
        {
            <text>
            $('#form').attr('action', '@Url.Action("CreateHeader")');
            </text>
        }
        else
        {
            <text>
        $('#form').attr('action', '@Url.Action("UpdateHeader")');
        </text>
        }
        $('#form').submit();
    }

    function CreateFlow() {
        @if (controllerName == "LandSplit")
        {
             <text>
        var msg = "";
        if (!CheckSplitArea()) {
            msg += "「待分割土地」的「面積」與「分割後土地」的「面積」不相符\n";
        }
        if (!CheckSplitAmount()) {
            msg += "「待分割土地」的「金額」與「分割後土地」的「金額」不相符\n";
        }
        if (msg != "") {
            alert(msg);
            return;
        }
        </text>
        }
        $('#form').attr('action', '@Url.Action("CreateFlow", controllerName)');
        $('#form').submit();
    }

    @if (TempData["message"] != null)
    {
        <text>
    window.onload = function () {
        alert('@TempData["message"].ToString()');
    }
    </text>
    }

    $(function () {
        @if (!CanEdit)
        {
            <text>
        //讓所有表單物件readonly
        $("#form input").prop("disabled", true).prop("readonly", true);
        $("#form select").prop("disabled", true).prop("readonly", true);
        </text>
        }
    });
</script>
@if (!Convert.ToBoolean(ViewBag.SignMode))
{
    <text>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-10">
                <h2>@functionName</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="@Url.Action("Index", "Home")">首頁</a>
                    </li>
                    <li>
                        <a href="#">權狀作業</a>
                    </li>
                    <li>
                        <a href="#">@(functionName + "作業")</a>
                    </li>
                    <li>
                        <a href="#">@ViewBag.Title</a>
                    </li>
                </ol>
            </div>
        </div>
    </text>
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@ViewBag.Title</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal" name="form" id="form">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6">
                                    @(!string.IsNullOrEmpty(Model.Header.Transaction_TypeName) ? Model.Header.Transaction_TypeName : functionName)
                                    <input type="hidden" name="Transaction_Type" value="@(Model.Header.Transaction_Type)" />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="Source" name="Source">
                                        <option value="">全部</option>
                                        <option value="H" @( (Model.Header != null && Model.Header.Source == "H") ? "selected" : "" )>總行個別新增</option>
                                        <option value="B" @( (Model.Header != null && Model.Header.Source == "B") ? "selected" : "" )>分行個別新增</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">@Model.Header.Form_Number</div>
                                <input type="hidden" value="@Model.Header.Form_Number" name="Form_Number" />
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                @AssetLocationDispControl.GenAssetLocationDispControl("Office_Branch_Code", "Office_Branch_Code", ((!string.IsNullOrEmpty(Model.Header.Office_Branch_Code)) ? Model.Header.Office_Branch_Code : ""), "3")
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 單據處理日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="Transaction_Datetime_Entered" value="@(Model.Header.Transaction_Datetime_Entered.ToString("yyyy/MM/dd"))" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註</label>
                                <div class="col-sm-6"><input type="text" class="form-control" name="Remark" value="@((!string.IsNullOrEmpty(Model.Header.Description)) ? Model.Header.Description : "")" /></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix">
                                    <span class="text-primary-re">
                                        @(!string.IsNullOrEmpty(Model.Header.Transaction_StatusName) ? Model.Header.Transaction_StatusName : "新增")
                                        <input type="hidden" name="Transaction_Status" value="@((!string.IsNullOrEmpty(Model.Header.Transaction_Status)) ? Model.Header.Transaction_Status : "0")" />
                                    </span>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
    @if (Action != "New")
    {
        <div class="row" style="margin-bottom:50px">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            @if (CanEdit)
                            {
                                <table class="table-condensed" style="width:100%">
                                    <tr>
                                        <td style="text-align: left">
                                            @*<label><span class="text-success">【步驟二】</span></label>*@
                                            @if (controllerName != "DossierRightMaintain")
                                            {
                                                <button class="btn btn-primary" onclick="Record_New();"><i class="fa fa-plus">新增權狀</i></button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-primary" onclick="Record_Search();"><i class="fa fa-plus">導入/搜尋權狀</i></button>
                                            }
                                        </td>
                                        <td style="text-align: right"></td>
                                    </tr>
                                </table>
                            }
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>權狀執照類別</th>
                                        <th>財產編號</th>
                                        <th>縣(市)</th>
                                        <th>鄉政市區</th>
                                        <th>段</th>
                                        <th>小段</th>
                                        <th>地號</th>
                                        <th>建號</th>
                                        <th>
                                            @(CanEdit ? "編輯" : "檢視")
                                        </th>
                                        @if (CanEdit)
                                        {
                                            <th>移出</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Records!= null && Model.Records.Any(p => p != null))
                                    {
                                        for (int i = 0; i < Model.Records.Count(); i++)
                                        {
                                            var item = Model.Records.ToList()[i];
                                            if (item != null)
                                            {
                                                IsAssignAssets = true;
                                                <tr>
                                                    <td>
                                                        @(i + 1)
                                                    </td>
                                                    <td>
                                                        @item.Authorization_Category_Name
                                                    </td>
                                                    <td>
                                                        @item.Asset_Number
                                                    </td>
                                                    <td>
                                                        @item.City_Name
                                                    </td>
                                                    <td>
                                                        @item.District_Name
                                                    </td>
                                                    <td>
                                                        @item.Section_Name
                                                    </td>
                                                    <td>
                                                        @item.Sub_Section_Name
                                                    </td>
                                                    <td>
                                                        @(item.Parent_Land_Number + "-" + item.Filial_Land_Number)
                                                    </td>
                                                    <td>
                                                        @item.Build_Number
                                                    </td>
                                                    @if (CanEdit)
                                                    {
                                                        <text>
                                                            <td>
                                                                <a href="@Url.Action("Record_Edit", new { id = item.ID, Transaction_Type = Model.Header.Transaction_Type })" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a>
                                                            </td>
                                                            <td>
                                                                <a href="@Url.Action("Record_Delete", new { id = item.ID, Transaction_Type = Model.Header.Transaction_Type })" class="btn btn-danger btn-circle"><i class="fa fa-trash"></i></a>
                                                            </td>
                                                        </text>
                                                    }
                                                    else
                                                    {
                                                        <text>
                                                            <td>
                                                                <a href="@Url.Action("Record_Edit",new { id = item.ID, Transaction_Type = Model.Header.Transaction_Type })" class="btn btn-primary btn-circle"><i class="fa fa-list"></i></a>
                                                            </td>
                                                        </text>
                                                    }
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (!Convert.ToBoolean(ViewBag.SignMode))
    {
        <text>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table-condensed" style="width:100%">
                                    <tr>
                                        <td>
                                            <div class="text-right">
                                                <a href="@Url.Action("Index",ReturnController)" class="btn btn-default"><i class="fa fa-arrow-left">返回</i></a>
                                                @if (Model != null && Model.Header != null && (Model.Header.Transaction_Status == "0" || Model.Header.Transaction_Status == "3" || Model.Header.Transaction_Status == "4"))
                                                {
                                                    <text>
                                                        @if (Action != "New")
                                                        {
                                                            <button class="btn btn-danger"><i class="fa fa-remove">刪除</i></button>
                                                        }
                                                        <button class="btn btn-primary" onclick="doSave();"><i class="fa fa-save">儲存</i></button>
                                                        @if (Action != "New" && IsAssignAssets)
                                                        {
                                                            <button class="btn btn-info" onclick="CreateFlow();"><i class="fa fa-arrow-right">提交</i></button>
                                                        }
                                                    </text>
                                                }

                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </text>
    }
</div>


