﻿@using InspiniaWebAdminTemplate.Models.DossierRight
@model DossierRightRecordViewModel
@{
    if (Convert.ToBoolean(ViewBag.SignMode))
    {
        Layout = "~/Views/Shared/_EmptyLayout.cshtml";
        TempData["SignMode"] = true;
        ViewBag.Title = "檢視權狀";
    }

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    var Header = TempData["Header"] as HeaderViewModel;
    TempData["Header"] = Header;

    //是否可以編輯
    bool CanEdit = (Header != null && (Header.Transaction_Status == "0" || Header.Transaction_Status == "3" || Header.Transaction_Status == "4"));
}


<script>
    var UploadFileList;
    $(function () {

        @if(!CanEdit)
        {
            <text>
        //讓所有表單物件readonly
        $("#form input").prop("disabled", true).prop("readonly", true);
        $("#form select").prop("disabled", true).prop("readonly", true);
        </text>
        }

        $('#City_Code').change(function () {
            GetDistrict($(this).val());
            var cityName = $('#City_Code option:selected').text();
            if (cityName != "")
                $("input[name=City_Name]").val(cityName.substring(1, cityName.length));
            else
                $("input[name=City_Name]").val("");
        });

        $('#District_Code').change(function () {
            GetSection($('#City_Code').val(), $(this).val());
            var districtName = $('#District_Code option:selected').text();
            if (districtName != "")
                $("input[name=District_Name]").val(districtName.substring(2, districtName.length));
            else
                $("input[name=District_Name]").val("");
        });

        $('#Section_Code').change(function () {
            GetSubSection($('#City_Code').val(), $('#District_Code').val(), $(this).val());
            var sectionName = $('#Section_Code option:selected').text();
            if (sectionName != "")
                $("input[name=Section_Name]").val(sectionName.substring(4, sectionName.length));
            else
                $("input[name=Section_Name]").val("");
        });
        $('input[name=Authorization_Category]').click(function () {
            SwitchAuthorization_Category_Form($(this).val());
        });
        //初始化
        GetDistrict('@Model.City_Code', '@Model.District_Code');
        GetSection('@Model.City_Code', '@Model.District_Code', '@Model.Section_Code');
        BindFileUpload();
        SwitchAuthorization_Category_Form($("input[name=Authorization_Category]").val());
    });
    function BindFileUpload()
    {
        //var $files = $(".image-crop > img")
        //$($files).cropper({
        //    aspectRatio: 1.618,
        //    preview: ".img-preview",
        //    done: function (data) {
        //        // Output the result data for cropping image.
        //    }
        //});
        var $inputFiles = $("#inputFiles");
        if (window.FileReader) {
            $inputFiles.change(function () {
                var fileReader = new FileReader(),
                        files = this.files,
                        file;

                if (!files.length) {
                    return;
                }
                var fileAttPatt = /pdf/g;
                var IsAllAcceptFiles = true;
                for (var fIndex = 0; fIndex < files.length; fIndex++)
                {
                    var fileName = files[fIndex].name;
                    if (fileAttPatt.test(files[fIndex].type)) {
                        fileReader.readAsDataURL(files[fIndex]);
                        fileReader.onload = function () {
                            $("#tableFileListBody").append("<tr>");
                            $("#tableFileListBody").append("<td style='text-align:left'>" + fileName + "<input type='file' name='Right_Files' value='"+files[fIndex].val()+"' /></td>");
                            $("#tableFileListBody").append("<td width='40px' style='margin-left:10px'><a href='#modal-form-deletedata' data-toggle='modal' class='btn btn-danger btn-circle' title='刪除'><i class='fa fa-trash'></i></a></td>");
                            $("#tableFileListBody").append("</tr>");
                            $("#divUploadFileList").show();
                        };
                    }
                    else {
                        
                        alert(fileName + " 請選擇PDF檔案.");
                        IsAllAcceptFiles = false;
                    }
                }
                if (IsAllAcceptFiles)
                {
                    $inputFiles.val("");
                    //PostFileToUpload(files);
                }
            });
        } else {
            $inputFiles.addClass("hide");
        }
    }
    function PostFileToUpload(fileList)
    {
        var formData = new FormData();
        formData.append("files", fileList);
        formData.append("UID", '@ViewBag.ID');
        $.ajax({
            url: "@Url.Action("SaveFile")",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            async: false,
            success: function (data) {
                alert("success");
               // Getpiclist();
               // $("#prevpic")[0].innerHTML = '<img src="' + '@Url.Action("LoadPic")' + '/?filename=' + data + '">&nbsp;&nbsp;';
            }
        });
    }
    function DataCheck() {
        var msg = "";
        if ($("input[name=Asset_Number]").val() == "") {
            msg += "請選擇財產編號\n";
        }
        if ($("#City_Code").val() == "") {
            msg += "請選擇縣市\n";
        }
        if ($("#District_Code").val() == "") {
            msg += "請選擇鄉鎮市區\n";
        }
        if ($("#Section_Code").val() == "") {
            msg += "請選擇段\n";
        }
        if ($("input[name=Authorization_Category]").val() == "L")//土地
        {
            if ($("input[name=Parent_Land_Number]").val() == "") {
                msg += "請輸入母地號\n";
            }
            if ($("input[name=Filial_Land_Number]").val() == "") {
                msg += "請輸入母地號\n";
            }
        }
        else {
            if ($("input[name=Build_Number]").val() == "") {
                msg += "請輸入建號\n";
            }
            if ($("input[name=Build_Address]").val() == "") {
                msg += "請輸入建物門牌\n";
            }
            if ($("input[name=Building_STRU]").val() == "") {
                msg += "請輸入主要建材\n";
            }
            if ($("input[name=Building_Total_Floor]").val() == "") {
                msg += "請輸入建物層數\n";
            }
        }
        if ($("#Used_Type").val() == "") {
            msg += "請選擇主要用途\n";
        }
        if ($("input[name=Registration_Date]").val() == "") {
            msg += "請輸入啟用日期\n";
        }
        if ($("input[name=RightBook_Date]").val() == "") {
            msg += "請輸入發狀日期\n";
        }
        if ($("input[name=Authorization_Number]").val() == "") {
            msg += "請輸入權狀字號\n";
        }
        //if ($("input[name=Current_units]").val() == "") {
        //    msg += "請輸入單位量\n";
        //}
        //else {
        //    var unitValue = $("input[name=Current_units]").val();
        //    if (!IsFloat(unitValue)) {
        //        msg += "單位量請輸入數字\n";
        //    }
        //    else {
        //        if (unitValue <= 0)
        //            msg += "請輸入單位量\n";
        //    }
        //}
        //if ($("#Location_Disp_Branch").val() == "" ||
        //    $("#Location_Disp_Dept").val() == "") {
        //    msg += "請選擇放置地點\n";
        //}
        //if ($("input[name=Description]").val() == "") {
        //    msg += "請輸入摘要\n";
        //}

        //if ($("input[name=Authorization_Number]").val() == "") {
        //    msg += "請輸入權狀字號\n";
        //}
        //if ($("input[name=Authorized_name]").val() == "") {
        //    msg += "請輸入地政事務所\n";
        //}
        //if ($("input[name=Area_Size]").val() == "") {
        //    msg += "請輸入整筆面積\n";
        //}
        //else {
        //    var area_Size = $("input[name=Area_Size]").val();
        //    if (!IsFloat(area_Size)) {
        //        msg += "整筆面積請輸入正確格式\n";
        //    }
        //    else {
        //        if (area_Size <= 0)
        //            msg += "請輸入整筆面積\n";
        //    }
        //}
        //if ($("input[name=Authorized_Scope_Molecule]").val() == "") {
        //    msg += "請輸入權利範圍-分子\n";
        //}
        //else {
        //    var authorized_Scope_Molecule = $("input[name=Authorized_Scope_Molecule]").val();
        //    if (!IsFloat(authorized_Scope_Molecule)) {
        //        msg += "權利範圍-分子請輸入正確格式\n";
        //    }
        //    else {
        //        if (authorized_Scope_Molecule <= 0)
        //            msg += "請輸入權利範圍-分子\n";
        //    }
        //}
        //if ($("input[name=Authorized_Scope_Denomminx]").val() == "") {
        //    msg += "請輸入權利範圍-分母\n";
        //}
        //else {
        //    var authorized_Scope_Denomminx = $("input[name=Authorized_Scope_Denomminx]").val();
        //    if (!IsFloat(authorized_Scope_Denomminx)) {
        //        msg += "權利範圍-分母請輸入正確格式\n";
        //    }
        //    else {
        //        if (authorized_Scope_Denomminx <= 0)
        //            msg += "請輸入權利範圍-分母\n";
        //    }
        //}
        //if ($("input[name=Own_Area]").val() == "") {
        //    msg += "請輸入自用面積\n";
        //}
        //else {
        //    var own_Area = $("input[name=Own_Area]").val();
        //    if (!IsFloat(own_Area)) {
        //        msg += "自用面積請輸入正確格式\n";
        //    }
        //    else {
        //        if (own_Area <= 0)
        //            msg += "請輸入自用面積\n";
        //    }
        //}
        //if ($("#Used_Status").val() == "") {
        //    msg += "請選擇使用現況\n";
        //}

        //if ($("#Used_Partition").val() == "") {
        //    msg += "請選擇使用分區\n";
        //}
        //if ($("#Obtained_Method").val() == "") {
        //    msg += "請選擇取得方式\n";
        //}
        //if ($("input[name=Original_Cost]").val() == "") {
        //    msg += "請輸入取得成本\n";
        //}
        //else {
        //    var original_Cost = $("input[name=Original_Cost]").val();
        //    if (!IsFloat(original_Cost)) {
        //        msg += "取得成本請輸入正確格式\n";
        //    }
        //    else {
        //        if (original_Cost <= 0)
        //            msg += "請輸入取得成本\n";
        //    }
        //}
        //if ($("input[name=Current_Cost]").val() == "") {
        //    msg += "請輸入帳面金額\n";
        //}
        //else {
        //    var current_Cost = $("input[name=Current_Cost]").val();
        //    if (!IsFloat(current_Cost)) {
        //        msg += "帳面金額請輸入正確格式\n";
        //    }
        //    else {
        //        if (current_Cost <= 0)
        //            msg += "請輸入帳面金額\n";
        //    }
        //}
        //if ($("input[name=Year_Number]").val() != "") {
        //    var year_Number = $("input[name=Year_Number]").val();
        //    if (!IsFloat(year_Number)) {
        //        msg += "年度請輸入正確格式\n";
        //    }
        //}
        //if ($("input[name=Announce_Amount]").val() != "") {
        //    var announce_Amount = $("input[name=Announce_Amount]").val();
        //    if (!IsFloat(announce_Amount)) {
        //        msg += "公告現值請輸入正確格式\n";
        //    }
        //}
        //if ($("input[name=Announce_Price]").val() != "") {
        //    var announce_Price = $("input[name=Announce_Price]").val();
        //    if (!IsFloat(announce_Price)) {
        //        msg += "公告地價請輸入正確格式\n";
        //    }
        //}
        //if ($("input[name=Reduction_Area]").val() != "") {
        //    var reduction_Area = $("input[name=Reduction_Area]").val();
        //    if (!IsFloat(reduction_Area)) {
        //        msg += "減免面積請輸入正確格式\n";
        //    }
        //}
        //if ($("input[name=Declared_Price]").val() != "") {
        //    var declared_Price = $("input[name=Declared_Price]").val();
        //    if (!IsFloat(declared_Price)) {
        //        msg += "申報地價請輸入正確格式\n";
        //    }
        //}
        //if ($("input[name=Dutiable_Amount]").val() != "") {
        //    var dutiable_Amount = $("input[name=Dutiable_Amount]").val();
        //    if (!IsFloat(dutiable_Amount)) {
        //        msg += "應繳稅額請輸入正確格式\n";
        //    }
        //}

        //var Own_Area = parseFloat($("input[name=Own_Area]").val());
        //var Authorized_Area = parseFloat($("input[name=Authorized_Area]").val());
        //var Business_Area_Size = parseFloat($("input[name=Business_Area_Size]").val());
        //if (Own_Area > Authorized_Area) {
        //    msg += "「自用面積」必須小於等於「權利面積」\n";
        //}
        //if (Business_Area_Size > Authorized_Area) {
        //    msg += "「營業用面積」必須小於等於「權利面積」\n";
        //}
        if (msg == "")
        { return true; }
        alert(msg);
        return false;
    }
    function Save() {
        if (!DataCheck())
            return false;

        var url = "@((actionName == "Record_New") ? Url.Action("Record_Create") : Url.Action("Record_Update"))";

        $('#form').attr('action', url);
        $('#form').submit();
    }
    function GetDistrict(City, DefaultValue) {
        if (City && City != "") {
            $.ajax({
                url: G_GetDistrict,
                data: 'City=' + City,
                type: 'post',
                success: function (data) {
                    //先清
                    $("#District_Code option").remove();

                    $.each(data, function (index, value) {
                        $("#District_Code").append($("<option></option>").attr("value", value.Value).html(value.Value + value.Text));
                    });

                    if (DefaultValue != '') {
                        $("#District_Code").val(DefaultValue);
                    }

                    $("#District_Code").change();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }
    }
    function GetSection(City, District, DefaultValue) {
        if (City && City != "" && District && District != "") {
            $.ajax({
                url: G_GetSection,
                data: { 'City': City, 'District': District },
                type: 'post',
                success: function (data) {
                    //先清
                    $("#Section_Code option").remove();

                    $.each(data, function (index, value) {
                        $("#Section_Code").append($("<option></option>").attr("value", value.Value).html(value.Value + value.Text));
                    });

                    if (DefaultValue != '') {
                        $("#Section_Code").val(DefaultValue);
                    }

                    $("#Section_Code").change();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }
    }
    function GetSubSection(City, District, Section) {
        if (City && City != "" && District && District != "" && Section && Section != "") {
            $.ajax({
                url: G_GetSubSection,
                data: { 'City': City, 'District': District, 'Section': Section },
                type: 'post',
                success: function (data) {
                    //先清
                    $("#Sub_Section_Name").val("");

                    $.each(data, function (index, value) {
                        $("#Sub_Section_Name").val(value.Text);
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }
    }
    function SwitchAuthorization_Category_Form(category)
    {
        if (category == "L")
        {
            $(".Authorization_Category_L").show();
            $(".Authorization_Category_B").hide();
        }
        else
        {
            $(".Authorization_Category_L").hide();
            $(".Authorization_Category_B").show();
        }
    }
    function IsInteger(inputvalue) {
        var valid = "0123456789";
        var ok = true;
        var temp;
        for (var i = 0; i < inputvalue.length; i++) {
            temp = inputvalue.substring(i, i + 1);
            if (valid.indexOf(temp) < 0) ok = false;
            if (!ok)
                break;
        }
        return ok;
    }
    function IsFloat(floatvalue) {
        var checkValue = "";
        checkValue = String(floatvalue);
        var pointIndex = checkValue.indexOf(".");
        if (pointIndex < 0) {
            if (!IsInteger(checkValue))
                return false;
        }
        else {
            if (!IsInteger(checkValue.toString().substring(0, pointIndex - 1)))
                return false;
            if (!IsInteger(checkValue.toString().substring(pointIndex + 1, checkValue.length)))
                return false;
        }
        return true;
    }
</script>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="el-col-10">
        <h2>權狀作業</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">權狀作業</a>
            </li>
            <li>
                <a href="#">@(Helper.GetFunctionTitle(controllerName))</a>
            </li>
            <li>
                <a href="#">@ViewBag.FunctionFrom</a>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <form method="post" id="form" class="form-horizontal">
                    <div class="ibox-title">
                        <input type="hidden" name="ID" value="@Model.ID" />
                        <h5>@ViewBag.Title</h5>
                        <input name="Form_Number" value="@Header.Form_Number" type="hidden" />
                        <input name="Office_Branch_Code" value="@Header.Office_Branch_Code" type="hidden" />
                        <input name="Source" value="@Header.Source" type="hidden" />
                        <input name="Transaction_Type" value="@Header.Transaction_Type" type="hidden" />
                        <input name="Transaction_Status" value="@Header.Transaction_Status" type="hidden" />
                        <input name="Transaction_Datetime_Entered" value="@Header.Transaction_Datetime_Entered" type="hidden" />
                        <input name="ID" value="@Model.ID" type="hidden" />
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-14 form-group">
                                <label for="" class="col-sm-1 control-label"><span class="text-danger">*</span> 權狀類別</label>
                                <div class="col-sm-5">
                                    <input type="radio" id="Authorization_Category_L" name="Authorization_Category" value="L" @(string.IsNullOrEmpty(Model.Authorization_Category)? "checked": (Model.Authorization_Category == "L" ? "checked":"")) />土地所有權狀
                                    <input type="radio" id="Authorization_Category_B" name="Authorization_Category" value="B" @(Model.Authorization_Category == "B"?"checked":"")/>建物所有權狀 
                                </div>
                            </div>
                            <div class="col-sm-14 form-group">
                                <label for="" class="col-sm-1 control-label"><span class="text-danger">*</span> 財產編號</label>
                                <div class="col-sm-5"><input type="text" class="form-control" value="@Model.Asset_Number" name="Asset_Number" id="Asset_Number" /></div>
                            </div>

                            <div class="col-sm-14 form-group">
                                <div class="col-sm-3 form-group">
                                    <label for="" class="col-sm-5 control-label" align="right"><span class="text-danger">*</span> 縣市</label>
                                    <div class="col-sm-7">
                                        @DropDownControl.GenDropDownControl("City_Code", "City_Code", "City", (!string.IsNullOrEmpty(Model.City_Code) ? Model.City_Code : ""))
                                        <input type="hidden" name="City_Name" />
                                    </div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="" class="col-sm-5 control-label" align="right"><span class="text-danger">*</span> 鄉鎮市區</label>
                                    <div class="col-sm-7">
                                        <select name="District_Code" class="form-control" id="District_Code"></select>
                                        <input type="hidden" name="District_Name" />
                                    </div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="" class="col-sm-5 control-label" align="right"><span class="text-danger">*</span> 段</label>
                                    <div class="col-sm-7">
                                        <select name="Section_Code" class="form-control" id="Section_Code"></select>
                                        <input type="hidden" name="Section_Name" />
                                    </div>
                                </div>

                                <div class="col-sm-3 form-group">
                                    <label for="" class="col-sm-6 control-label" align="right"><span class="text-danger">*</span> 小段</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" type="text" id="Sub_Section_Name" name="Sub_Section_Name" value="@Model.Sub_Section_Name" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-14 form-group Authorization_Category_L">
                                    <label for="" class="col-sm-1 control-label"><span class="text-danger">*</span> 地號</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" value="@Model.Parent_Land_Number" name="Parent_Land_Number" maxlength="4" />
                                    </div>
                                    <div class="col-sm-1">
                                        -
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" value="@Model.Filial_Land_Number" name="Filial_Land_Number" maxlength="4" />
                                    </div>
                                </div>
                            <div class="col-sm-14 form-group Authorization_Category_B">
                                <label for="" class="col-sm-1 control-label"><span class="text-danger">*</span> 建號</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" value="@Model.Build_Number" name="Build_Number" />
                                </div>
                            </div>

                            <div class="col-sm-14 form-group Authorization_Category_B">
                                <label for="" class="col-sm-1 control-label"><span class="text-danger">*</span> 建物門牌</label>
                                <div class="col-sm-5"><input type="text" class="form-control" value="@Model.Build_Address" name="Build_Address" /></div>
                            </div>

                            <div class="col-sm-14 form-group Authorization_Category_B">
                                <label for="" class="col-sm-1 control-label"><span class="text-danger">*</span> 主要建材</label>
                                <div class="col-sm-5"><input type="text" class="form-control" value="@Model.Building_STRU" name="Building_STRU" /></div>
                            </div>

                            <div class="col-sm-14 form-group">
                                <label for="" class="col-sm-1 control-label"><span class="text-danger">*</span> 主要用途</label>
                                <div class="col-sm-5">
                                    @DropDownControl.GenDropDownControl("Used_Type", "Used_Type", "B10", (!string.IsNullOrEmpty(Model.Used_Type) ? Model.Used_Type : ""))
                                </div>
                                <label for="" class="col-sm-1 control-label Authorization_Category_B"><span class="text-danger">*</span> 建物層數</label>
                                <div class="col-sm-5 Authorization_Category_B"><input type="text" class="form-control" value="@Model.Building_Total_Floor" name="Building_Total_Floor" /></div>
                            </div>

                            <div class="col-sm-14 form-group">
                                <label for="" class="col-sm-1 control-label"><span class="text-danger">*</span> 啟用日期</label>
                                <div class="col-sm-5">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" value="@Model.Registration_Date" name="Registration_Date" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <label for="" class="col-sm-1 control-label"><span class="text-danger">*</span> 發狀日期</label>
                                <div class="col-sm-5">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" value="@Model.RightBook_Date" name="RightBook_Date" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-14 form-group">
                                <label for="" class="col-sm-1 control-label"><span class="text-danger">*</span> 權狀字號</label>
                                <div class="col-sm-5"><input type="text" class="form-control" value="@Model.Authorization_Number" name="Authorization_Number" /></div>
                            </div>

                            <div class="col-sm-14 form-group">
                                <label for="" class="col-sm-1 control-label">備註</label>
                                <div class="col-sm-10"><input type="text" class="form-control" value="@Model.Description" name="Description" /></div>
                            </div>

                            <div class="col-sm-14 form-group">
                                <label for="" class="col-sm-1 control-label">檔案上傳</label>
                                <div class="col-sm-6">
                                    <input id="uploadFile1" placeholder="" class="form-control " style="width:70%;float:left" />
                                    <div class="fileUpload btn btn-gray" style="border-radius: 0 3px 3px 0; float:left">
                                        <span><i class="fa fa-search"> 瀏 覽 </i></span>
                                        <input id="inputFiles" type="file" class="upload" multiple accept="application/pdf"/>
                                    </div><br>

                                    <div style="margin-top:24px;font-size:0.85em;color:#999">
                                        <i class="fa fa-warning" style="padding:10px 0 0 5px;float:left"></i>
                                        <span style="padding:5px 0 0 10px;float:left">建議上傳 PDF 檔案格式 </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-14 form-group" id="divUploadFileList" style="display:none">
                                <label for="" class="col-sm-1 control-label">已上傳<br>檔案列表</label>
                                <div class="col-sm-6">
                                    <table width="100%" id="tableFileList">
                                        <tbody id="tableFileListBody"></tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">
                                        <div class="table-responsive">
                                            <table class="table-condensed" style="width:100%">
                                                <tr>
                                                    <td class="text-right">
                                                        <a class="btn btn-default" href="@Url.Action("Edit", controllerName , new { id = Header.Form_Number })"><i class="fa fa-arrow-left">返回</i></a>
                                                        @if (CanEdit)
                                                        {
                                                            <text>
                                                                <button class="btn btn-primary" onclick="Save();"><i class="fa fa-save">儲存</i></button>
                                                            </text>
                                                        }
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>