﻿@using InspiniaWebAdminTemplate.Models.DossierRight
@using Library.Servant.Repository.DossierRight
@model IndexViewModel
@{
    string FunctionClassCode = "DossierRightForm";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ViewBag.Title = Helper.GetFunctionTitle(controllerName);
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">權狀新增作業</a>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" action="@Url.Action("IndexQuery", controllerName)" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6">
                                    @{
                                        bool isEnabled = false;
                                        string selectedvalue = "";
                                        if (controllerName != "DossierRightSearch")
                                        {
                                            selectedvalue = DossierRightGeneral.GetFormCode(controllerName);
                                        }
                                        else
                                        {
                                            isEnabled = true;
                                        }
                                        if (Model.condition != null && !string.IsNullOrEmpty(Model.condition.Transaction_Type))
                                        {
                                            selectedvalue = Model.condition.Transaction_Type;
                                        }
                                        <text>
                                            @DropDownControl.GenDropDownControl("Transaction_Type", "Transaction_Type", FunctionClassCode, selectedvalue, !isEnabled)
                                        </text>
                                    }
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="Source" name="Source">
                                        <option value="">全部</option>
                                        <option value="H" @( (Model.condition != null && Model.condition.Source == "H") ? "selected" : "" )>總行個別新增</option>
                                        <option value="B" @( (Model.condition != null && Model.condition.Source == "B") ? "selected" : "" )>分行個別新增</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="@(((Model.condition != null && !string.IsNullOrEmpty(Model.condition.Form_Number_Begin)) ? Model.condition.Form_Number_Begin : ""))" id="Form_Number_Begin" name="Form_Number_Begin" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="@(((Model.condition != null && !string.IsNullOrEmpty(Model.condition.Form_Number_End)) ? Model.condition.Form_Number_End : ""))" id="Form_Number_End" name="Form_Number_End" /></div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-9 form-group">
                                    @AssetLocationDispControl.GenAssetLocationDispControl("OfficeBranch", "OfficeBranch", ((Model.condition != null && !string.IsNullOrEmpty(Model.condition.Office_Branch)) ? Model.condition.Office_Branch : ""), "3")
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據處理日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" id="BeginDate" name="BeginDate" value="@(((Model.condition != null && Model.condition.BeginDate.HasValue) ? Model.condition.BeginDate.Value.ToString("yyyy-MM-dd") : ""))" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" id="EndDate" name="EndDate" value="@(((Model.condition != null && Model.condition.EndDate.HasValue) ? Model.condition.EndDate.Value.ToString("yyyy-MM-dd") : ""))" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">權狀類別</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" id="Authorization_Category_L" name="Authorization_Category_L" @( (Model.condition != null && Model.condition.Authorization_Category_L) ? "checked" : "" )><span>土地所有權狀</span>
                                    <input type="checkbox" id="Authorization_Category_B" name="Authorization_Category_B" @( (Model.condition != null && Model.condition.Authorization_Category_B) ? "checked" : "" )><span>建物所有權狀</span>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">財產編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="@(((Model.condition != null && !string.IsNullOrEmpty(Model.condition.Asset_Number)) ? Model.condition.Asset_Number : ""))" id="Asset_Number" name="Asset_Number" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註(關鍵字)</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="@(((Model.condition != null && !string.IsNullOrEmpty(Model.condition.Remark)) ? Model.condition.Remark : ""))" id="Remark" name="Remark" /></div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">狀態</label>
                                <div class="col-sm-3 checkbox-list">
                                    @DropDownControl.GenDropDownControl("FlowStatus", "FlowStatus", "P02", ((Model.condition != null && !string.IsNullOrEmpty(Model.condition.FlowStatus)) ? Model.condition.FlowStatus : ""))
                                </div>
                            </div>


                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button class="btn btn-primary"><i class="fa fa-search"> 查 詢 </i></button>
                                    <button onclick="ResetForm()" type="button" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        @if (controllerName != "DossierRightSearch")
                        {
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <a href="@Url.Action("New")"  class="btn btn-primary"><i class="fa fa-plus"> 新增單據</i></a>
                                    </td>
                                </tr>
                            </table>
                        }
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>單據類型 </th>
                                    <th>單據編號</th>
                                    <th>單據處理時間</th>
                                    <th>管轄單位</th>
                                    <th>申請人員</th>
                                    <th>備註</th>
                                    <th>狀態</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
@for (int i = 0; i < Model.Items.Count(); i++)
            {
                var item = Model.Items.ToList()[i];

                string modifyControllerName = "";
                switch (item.Transaction_Type)
                {
                    case "L220":
                        modifyControllerName = "DossierRightAdded";
                        break;
                    case "L230":
                        modifyControllerName = "DossierRightMaintain";
                        break;
                }
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@item.Transaction_TypeName</td>
                                    <td>@item.Form_Number</td>
                                    <td>
                                        @item.Transaction_Datetime_Entered.ToString("yyyy-MM-dd HH:mm")
                                    </td>
                                    <td>
                                        @item.Office_Branch_Code_Name
                                    </td>
                                    <td>@item.Created_By_Name</td>
                                    <td>@item.Description</td>
                                    <td>@item.Transaction_StatusName</td>
                                    <td>
                                        @if (item.Transaction_Status == "0" || item.Transaction_Status == "3" || item.Transaction_Status == "4")
                                                    {
                                            <text>
                                                <a class="btn btn-primary btn-circle" href="@Url.Action("../"+modifyControllerName+"/Edit", new { id = item.Form_Number })" title="編輯">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                            </text>
                                        }
                                        else
                                        {
                                            <text>
                                                <a class="btn btn-primary btn-circle" href="@Url.Action("../"+modifyControllerName+"/Edit", new { id = item.Form_Number })" title="檢視">
                                                    <i class="fa fa-list"></i>
                                                </a>
                                            </text>
                                        }
                                    </td>
                                </tr>
}
                            </tbody>
                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        (function ($) {
        var page = new $.PageTemplate({

        el: "#page_region",
                data: {

            limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.TotalAmount,//資料庫總筆數
                    page_size: @Model.condition.PageSize,//單頁筆數
                    page_now: @Model.condition.Page,//當前頁
                    center_page: @Model.condition.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
        });

            $('[data-toggle="tooltip"]').tooltip();

    })(jQuery);

    </script>
}

