﻿@using InspiniaWebAdminTemplate.Models.DossierRight
@model RecordIndexViewModel
@{
    var Header = (TempData["Header"] != null) ? (TempData["Header"] as HeaderViewModel) : null;
    TempData["Header"] = Header;

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string functionName = Helper.GetFunctionTitle(controllerName);
    ViewBag.Title = "搜尋資產";
}

<script type="text/javascript">
    $(function(){
        $('#City_Code').change(function () {
            GetDistrict($(this).val());
        });

        $('#District_Code').change(function () {
            GetSection($('#City_Code').val(), $(this).val());
        });
        //初始化
        GetDistrict('@Model.condition.City_Code', '@Model.condition.District_Code');
        @if (!string.IsNullOrEmpty(@Model.condition.Section_Code))
        {
            <text>
        console.log('@Model.condition.Section_Code');
        GetSection('@Model.condition.City_Code', '@Model.condition.District_Code', '@Model.condition.Section_Code');
        </text>
        }
        $('input[name=Authorization_Category]').click(function () {
            SwitchAuthorization_Category_Form($(this).val());
        });
        SwitchAuthorization_Category_Form($("input[name=Authorization_Category]").val());
    });
    function ChangeAllCheckBox()
    {
        $('input[type="checkbox"][id!="ckAll"]').prop('checked', $('#ckAll').is(':checked'));
    }
    function RecordQuery()
    {
        if(!QueryDataCheck())
            return false;
        $('#form').prop('action', '@Url.Action("Record_Query")');
    }

    function SwitchAuthorization_Category_Form(category)
    {
        if (category == "L")
        {
            $(".Authorization_Category_L").show();
            $(".Authorization_Category_B").hide();
        }
        else
        {
            $(".Authorization_Category_L").hide();
            $(".Authorization_Category_B").show();
        }
    }
    function QueryDataCheck() {
        var msg = "";
        if ($("#City_Code").val()  == null || $("#City_Code").val() == "") {
            msg += "請選擇縣市\n";
        }
        if ($("#District_Code").val()  == null || $("#District_Code").val() == "") {
            msg += "請選擇鄉鎮市區\n";
        }
        //if ($("#Section_Code").val()  == null || $("#Section_Code").val() == "") {
        //    msg += "請選擇地段\n";
        //}
        if (msg == "")
        { return true; }
        alert(msg);
        return false;
    }
    function Save()
    {
        var msg = "";
        $('#form').prop('action', '@Url.Action("MainToRecord")');
        var AssetsList = [];
        $('input[type="checkbox"][id*="asset"]:checked').each(function () {
            if($(this).val())
            {
                AssetsList.push($(this).val());
            }
        });
        $('#AssetsList').val(AssetsList);

        if (AssetsList.length == 0)
        {
            alert("尚未選擇需導入之資產!!");
        }

        return (AssetsList.length != 0);
    }
    function GetDistrict(City,DefaultValue)
    {
        $.ajax({
            url: G_GetDistrict,
            data: 'City=' + City,
            type: 'post',
            success: function (data) {
                //先清
                $("#District_Code option").remove();

                $("#District_Code").append($("<option></option>").attr("value", "").html("請選擇"));
                $.each(data, function (index, value) {
                    $("#District_Code").append($("<option></option>").attr("value", value.Value).html(value.Value + value.Text));
                });

                if (DefaultValue != '')
                {
                    $("#District_Code").val(DefaultValue);
                }

                $("#District_Code").change();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    function GetSection(City, District, DefaultValue)
    {
        $.ajax({
            url: G_GetSection,
            data: { 'City': City, 'District': District },
            type: 'post',
            success: function (data) {
                //先清
                $("#Section_Code option").remove();
                $("#Section_Code").append($("<option></option>").attr("value", "").html("請選擇"));
                $.each(data, function (index, value) {
                    $("#Section_Code").append($("<option></option>").attr("value", value.Value).html(value.Value + value.Text));
                });

                if (DefaultValue != '') {
                    $("#Section_Code").val(DefaultValue);
                }

                $("#Section_Code").change();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    function IsInteger(inputvalue)
    {
        var valid = "0123456789";
        var ok = true;
        var temp;
        for (var i = 0; i < inputvalue.length; i++) {
            temp = inputvalue.substring(i, i + 1);
            if (valid.indexOf(temp) < 0) ok = false;
            if (!ok)
                break;
        }
        return ok;
    }
    function IsFloat(floatvalue) {
        var checkValue = "";
        checkValue = String(floatvalue);
        var pointIndex = checkValue.indexOf(".");
        if (pointIndex < 0) {
            if (!IsInteger(checkValue))
                return false;
        }
        else {
            if (!IsInteger(checkValue.toString().substring(0, pointIndex - 1)))
                return false;
            if (!IsInteger(checkValue.toString().substring(pointIndex + 1, checkValue.length)))
                return false;
        }
        return true;
    }
</script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">權狀作業</a>
            </li>
            <li>
                <a href="#">@(functionName + "作業")</a>
            </li>
            <li>
                <span>@((Header as HeaderViewModel).Form_Number)</span>

                <a href="#">@ViewBag.FunctionFrom</a>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <form method="post" id="form" class="form-horizontal">
        <input name="Form_Number" value="@Header.Form_Number" type="hidden" />
        <input name="Office_Branch_Code" value="@Header.Office_Branch_Code" type="hidden" />
        <input name="Source" value="@Header.Source" type="hidden" />
        <input name="Transaction_Type" value="@Header.Transaction_Type" type="hidden" />
        <input name="Transaction_Status" value="@Header.Transaction_Status" type="hidden" />
        <input name="Transaction_Datetime_Entered" value="@Header.Transaction_Datetime_Entered" type="hidden" />
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>搜尋條件</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span class="text-danger">*</span>權狀類別</label>
                                <div class="col-sm-8">
                                    <input type="radio" id="Authorization_Category_L" name="Authorization_Category" value="L" @(string.IsNullOrEmpty(Model.condition.Authorization_Category) ? "checked" : (Model.condition.Authorization_Category == "L" ? "checked" : "")) />土地
                                    <input type="radio" id="Authorization_Category_B" name="Authorization_Category" value="B" @(Model.condition.Authorization_Category == "B" ? "checked" : "") />建物 所有權狀
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span class="text-danger">*</span> 縣市</label>
                                <div class="col-sm-8">
                                    @DropDownControl.GenDropDownControl("City_Code", "City_Code", "City", (!string.IsNullOrEmpty(Model.condition.City_Code) ? Model.condition.City_Code : ""))
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span class="text-danger">*</span> 鄉鎮市區</label>
                                <div class="col-sm-8">
                                    <select name="District_Code" class="form-control" id="District_Code"></select>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"> 地段</label>
                                <div class="col-sm-8">
                                    <select name="Section_Code" class="form-control" id="Section_Code"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group Authorization_Category_L">
                                <label for="" class="col-sm-4 control-label" align="right">地號</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="Land_Number" value="@(!string.IsNullOrEmpty(Model.condition.Land_Number)? Model.condition.Land_Number : "")" />
                                </div>
                            </div>
                            <div class="col-sm-4 form-group Authorization_Category_B">
                                <label for="" class="col-sm-4 control-label" align="right">建號</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="Build_Number" value="@(!string.IsNullOrEmpty(Model.condition.Build_Number)? Model.condition.Build_Number : "")" />
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">權狀字號</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="Authorization_Number" value="@(!string.IsNullOrEmpty(Model.condition.Authorization_Number)? Model.condition.Authorization_Number : "")" />
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="button" onclick="ResetForm()" class="btn btn-gray"><i class="fa fa-close"> 清 除</i></button>
                                    <button type="submit" class="btn btn-primary" onclick="return RecordQuery();"><i class="fa fa-search">搜尋</i></button>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="ibox float-e-margins">

                    <div class="ibox-content">
                        <div class="table-responsive">

                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>共@(Model.TotalAmount)筆</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="ckAll" onclick="ChangeAllCheckBox();" /> 勾選 </th>
                                        <th>項次</th>
                                        <th>權狀執照類別</th>
                                        <th>財產編號</th>
                                        <th>縣(市)</th>
                                        <th>鄉政市區</th>
                                        <th>段</th>
                                        <th>小段</th>
                                        <th>地號</th>
                                        <th>建號</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Items.Count(); i++)
                                    {
                                        var item = Model.Items.ToList()[i];
                                        <tr>
                                            <td><input type="checkbox" value="@item.Asset_Number" id="@("asset" + (i + 1))" /></td>
                                            <td>
                                                @(i + 1)
                                            </td>
                                            <td>
                                                @item.Authorization_Category_Name
                                            </td>
                                            <td>
                                                @item.Asset_Number
                                            </td>
                                            <td>
                                                @item.City_Name
                                            </td>
                                            <td>
                                                @item.District_Name
                                            </td>
                                            <td>
                                                @item.Section_Name
                                            </td>
                                            <td>
                                                @item.Sub_Section_Name
                                            </td>
                                            <td>
                                                @(item.Parent_Land_Number + "-" + item.Filial_Land_Number)
                                            </td>
                                            <td>
                                                @item.Build_Number
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a id="page">
                                <div id="page_region"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td class="text-right">
                                        @*<a class="btn btn-default" href="@Url.Action("Edit", controllerName , new { id = (Header as LandHeaderViewModel).TRX_Header_ID })"><i class="fa fa-arrow-left">返回</i></a>*@
                                        <button class="btn btn-primary" type="submit" onclick="return Save();"><i class="fa fa-check">導入勾選資料</i></button>
                                        <input id="AssetsList" name="AssetsList" type="hidden" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.TotalAmount,//資料庫總筆數
                    page_size: @Model.condition.PageSize,//單頁筆數
                    page_now: @Model.condition.Page,//當前頁
                    center_page: @Model.condition.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("RecordUpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });

            $('[data-toggle="tooltip"]').tooltip();

        })(jQuery);

    </script>
}


