﻿
@{
    ViewBag.Title = "Index";
}

<style>
    .control-label.required:before {
        content: "*";
        color: red;
    }

    thead {
        background: #0a4812;
        color: #ffffff;
    }

    th {
        text-align: center;
    }

    td {
        text-align: center;
    }

    template {
        display: none;
    }

    body {
        font-size: 140%;
    }
</style>

<div id="root">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>歷史資料管理</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/HistoryMaintain">首頁</a>
                </li>
                <li>
                    <a href="#">歷史資料管理</a>
                </li>
                <li>
                    <a href="#">歷史資料統計列表</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>搜尋條件</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form action="" class="form-horizontal">
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">單位</label>
                                    <div class="col-sm-8 input-group">
                                        <input type="text" class="form-control branchSelect" name="Branch_Name_Start" id="Branch_Name_Start" data-id="Start" />
                                        <span class="input-group-addon">~</span>
                                        <input type="text" class="form-control branchSelect" name="Branch_Name_End" id="Branch_Name_End" data-id="End" />
                                        <input type="hidden" name="Branch_Code_Start" id="Branch_Code_Start">
                                        <input type="hidden" name="Branch_Code_End" id="Branch_Code_End">
                                    </div>
                                </div>
                                <!--
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">分行代碼</label>
                                    <div class="col-sm-8 row">
                                        <div class="col-sm-6">
                                            <input class="form-control" id="Branch_Code" name="Branch_Code" type="text" value="100">
                                        </div>
                                        <div class="col-sm-6">
                                            台北分行
                                        </div>
                                    </div>
                                </div>
                                 -->
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">事務處理編號</label>
                                    <div class="input-group col-sm-8">
                                        <input class="form-control" id="Number_Start"
                                               name="Number_Start" type="text">
                                        <span class="input-group-addon">~</span>
                                        <input class="form-control" id="Number_End"
                                               name="Number_End" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">單據類別</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="Type" name="Type">
                                            <option selected>請選擇</option>
                                            <option value="Q110">動產(月)歷史資料統計</option>
                                            <option value="Q120">土地(年)歷史資料統計</option>
                                            <option value="Q130">房屋(年)歷史資料統計</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">事務處理日期</label>
                                    <div class="input-group col-sm-8">
                                        <div class="input-group form-group">
                                            <input class="form-control datepicker" id="Update_Date_Start"
                                                   name="Update_Date_Start" type="date" value="106-01-01" data-date-format="yyyy/mm/dd">
                                            <span class="input-group-addon date-trigger">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span class="input-group-addon">~</span>
                                        <div class="input-group form-group">
                                            <input class="form-control datepicker" id="Update_Date_End"
                                                   name="Update_Date_End" type="date" value="106-12-31" data-date-format="yyyy/mm/dd">
                                            <span class="input-group-addon date-trigger">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">簽核狀態</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="Sign_Status" name="Sign_Status">
                                            <option selected>請選擇</option>
                                            <option value="0">新增</option>
                                            <option value="1">簽核中</option>
                                            <option value="2">已核准</option>
                                            <option value="3">退回修改</option>
                                            <option value="4">抽回修改</option>
                                            <option value="5">作廢</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <button id="searchBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogModal"><i class="fa fa-search">查詢</i></button>
                                    <div id="example" hidden>
                                        <modal-button></modal-button>
                                    </div>
                                    <button type="reset" class="btn btn-danger"><i class="fa fa-eraser">清除</i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table-condensed" width="100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>共  0 筆</label>
                                    </td>
                                </tr>
                            </table>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>事務處理編號</th>
                                        <th>事務處理日期</th>
                                        <th>單據類別</th>
                                        <th>數量</th>
                                        <th>承辦人員</th>
                                        <th>簽核狀態</th>
                                        <th>執行</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                            <nav class="text-center">
                                <ul class="pagination">
                                    <li class="disabled"><a>1</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="branchCodeModal" name="branchCodeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <slot name="header">
                    選擇分行代號
                </slot>
            </div>
            <div class="modal-body">
                <slot name="body">
                    <select class="form-control" name="dropdownBranch" id="dropdownBranch" size="15">
                        <option>請選擇</option>
                    </select>
                    <input type="hidden" id="dataId">
                </slot>
            </div>
            <div class="modal-footer">
                <slot name="footer">
                    <button class="btn btn-primary" id="selectBranchBtn" type="button">選取</button>
                    <button class="btn btn-danger" id="closeBranchModalBtn" type="button">取消</button>
                </slot>
            </div>
        </div>
    </div>
</div>

@*todo_julius*@
@helper ShowDailog(string header, string body, string foot, string triggerDomId)
{
    <div id="dialogModal" name="dialogModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <slot name="header">
                        @(new HtmlString(header))
                    </slot>
                </div>
                <div class="modal-body">
                    <slot name="body">
                        <span>
                            @(new HtmlString(body))
                        </span>
                    </slot>
                </div>
                <div class="modal-footer">
                    <slot name="footer">
                        @(new HtmlString(foot)  )
                    </slot>
                </div>
            </div>
        </div>
    </div>

    <script>
        (function ($) {
            $(document).ready(function () {
                $("@triggerDomId").attr("data-toggle", "modal").attr("data-target", "#dialogModal");
            });
        })(jQuery);
    </script>
}

@ShowDailog("查詢結果", "無符合資料", "<button class='btn btn-primary' type='button'  data-dismiss='modal'>確定</button>", "#searchBtn")

@Scripts.Render("~/bundles/jqueryval")

@section Scripts {

    @Html.Partial("_VuePageList")

    <script type="text/javascript">
	    (function ($) {
		    var branchCodeData;
		    $.ajax({
			    url:"/Data/getDropdownBranchData",
			    success: function(data) {
				    branchCodeData = data;
			    },
			    error: function() {
				    branchCodeData = [{"branchCode":"001","branchName":"總行"}, {"branchCode":"002","branchName":"基隆分行"}, {"branchCode":"003","branchName":"中和分行"}, {"branchCode":"004","branchName":"南港分行"}, {"branchCode":"005","branchName":"台北分行"}, {"branchCode":"006","branchName":"民權分行"}, {"branchCode":"007","branchName":"古亭分行"}, {"branchCode":"008","branchName":"長安分行"}, {"branchCode":"009","branchName":"士林分行"}, {"branchCode":"00A","branchName":"總務處"}, {"branchCode":"00B","branchName":"法務暨法遵處"}, {"branchCode":"00C","branchName":"人力資源處"}, {"branchCode":"00D","branchName":"秘書處"}, {"branchCode":"00E","branchName":"資訊處"}, {"branchCode":"00F","branchName":"政風處"}, {"branchCode":"00H","branchName":"風險管理部"}, {"branchCode":"00I","branchName":"其他宿舍"}, {"branchCode":"00J","branchName":"授信審查部"}, {"branchCode":"00K","branchName":"企業金融部"}, {"branchCode":"00L","branchName":"會計處"}, {"branchCode":"00M","branchName":"業務部"}, {"branchCode":"00N","branchName":"調查研究處"}, {"branchCode":"00P","branchName":"稽核處"}, {"branchCode":"00Q","branchName":"企劃部"}, {"branchCode":"00R","branchName":"產權管理部"}, {"branchCode":"00S","branchName":"財富管理部"}, {"branchCode":"00T","branchName":"信用卡部"}, {"branchCode":"00U","branchName":"財務部"}, {"branchCode":"00V","branchName":"電子金融部"}, {"branchCode":"00W","branchName":"個人金融部"}, {"branchCode":"00Z","branchName":"債權管理部"}, {"branchCode":"010","branchName":"三重分行"}, {"branchCode":"011","branchName":"宜蘭分行"}, {"branchCode":"012","branchName":"羅東分行"}, {"branchCode":"013","branchName":"桃園分行"}, {"branchCode":"014","branchName":"中壢分行"}, {"branchCode":"015","branchName":"石門分行"}, {"branchCode":"016","branchName":"新竹分行"}, {"branchCode":"017","branchName":"竹東分行"}, {"branchCode":"018","branchName":"花蓮分行"}, {"branchCode":"019","branchName":"玉里分行"}, {"branchCode":"020","branchName":"苗栗分行"}, {"branchCode":"021","branchName":"頭份分行"}, {"branchCode":"022","branchName":"豐原分行"}, {"branchCode":"023","branchName":"大甲分行"}, {"branchCode":"024","branchName":"台中分行"}, {"branchCode":"025","branchName":"南投分行"}, {"branchCode":"026","branchName":"員林分行"}, {"branchCode":"027","branchName":"斗六分行"}, {"branchCode":"028","branchName":"北港分行"}, {"branchCode":"029","branchName":"嘉義分行"}, {"branchCode":"030","branchName":"新營分行"}, {"branchCode":"031","branchName":"永康分行"}, {"branchCode":"032","branchName":"台南分行"}, {"branchCode":"033","branchName":"高雄分行"}, {"branchCode":"034","branchName":"岡山分行"}, {"branchCode":"035","branchName":"美濃分行"}, {"branchCode":"036","branchName":"屏東分行"}, {"branchCode":"037","branchName":"台東分行"}, {"branchCode":"038","branchName":"青年分行"}, {"branchCode":"039","branchName":"金門分行"}, {"branchCode":"040","branchName":"澎湖分行"}, {"branchCode":"041","branchName":"營業部"}, {"branchCode":"045","branchName":"和平分行"}, {"branchCode":"046","branchName":"潮州分行"}, {"branchCode":"047","branchName":"彰化分行"}, {"branchCode":"048","branchName":"中山分行"}, {"branchCode":"049","branchName":"永和分行"}, {"branchCode":"050","branchName":"板橋分行"}, {"branchCode":"051","branchName":"鳳山分行"}, {"branchCode":"052","branchName":"湖口分行"}, {"branchCode":"053","branchName":"蘇澳分行"}, {"branchCode":"054","branchName":"新興分行"}, {"branchCode":"055","branchName":"西台中分行"}, {"branchCode":"056","branchName":"虎尾分行"}, {"branchCode":"057","branchName":"仁愛分行"}, {"branchCode":"058","branchName":"忠孝分行"}, {"branchCode":"059","branchName":"中正分行"}, {"branchCode":"061","branchName":"新店分行"}, {"branchCode":"062","branchName":"北台南分行"}, {"branchCode":"063","branchName":"松山分行"}, {"branchCode":"064","branchName":"內湖分行"}, {"branchCode":"065","branchName":"三民分行"}, {"branchCode":"066","branchName":"民雄分行"}, {"branchCode":"067","branchName":"大社分行"}, {"branchCode":"069","branchName":"前鎮分行"}, {"branchCode":"070","branchName":"路竹分行"}, {"branchCode":"071","branchName":"五甲分行"}, {"branchCode":"072","branchName":"太平分行"}, {"branchCode":"073","branchName":"正濱分行"}, {"branchCode":"074","branchName":"敦化分行"}, {"branchCode":"075","branchName":"信託部"}, {"branchCode":"076","branchName":"蘆洲分行"}, {"branchCode":"077","branchName":"北台中分行"}, {"branchCode":"078","branchName":"苓雅分行"}, {"branchCode":"079","branchName":"信義分行"}, {"branchCode":"080","branchName":"土城分行"}, {"branchCode":"081","branchName":"淡水分行"}, {"branchCode":"082","branchName":"草屯分行"}, {"branchCode":"083","branchName":"東台南分行"}, {"branchCode":"084","branchName":"通宵分行"}, {"branchCode":"085","branchName":"學甲分行"}, {"branchCode":"086","branchName":"新莊分行"}, {"branchCode":"087","branchName":"雙和分行"}, {"branchCode":"088","branchName":"國外部"}, {"branchCode":"089","branchName":"白河分行"}, {"branchCode":"090","branchName":"復興分行"}, {"branchCode":"091","branchName":"平鎮分行"}, {"branchCode":"092","branchName":"國際金融業務分行(OBU)"}, {"branchCode":"093","branchName":"文山分行"}, {"branchCode":"094","branchName":"中港分行"}, {"branchCode":"095","branchName":"東板橋分行"}, {"branchCode":"096","branchName":"南崁分行"}, {"branchCode":"097","branchName":"建國分行"}, {"branchCode":"098","branchName":"樹林分行"}, {"branchCode":"099","branchName":"東台北分行"}, {"branchCode":"0C1","branchName":"員工訓練所"}, {"branchCode":"100","branchName":"西三重分行"}, {"branchCode":"101","branchName":"南台中分行"}, {"branchCode":"102","branchName":"長春分行"}, {"branchCode":"103","branchName":"東新竹分行"}, {"branchCode":"104","branchName":"新市分行"}, {"branchCode":"105","branchName":"博愛分行"}, {"branchCode":"106","branchName":"中崙分行"}, {"branchCode":"107","branchName":"華江分行"}, {"branchCode":"108","branchName":"竹北分行"}, {"branchCode":"109","branchName":"安平分行"}, {"branchCode":"110","branchName":"嘉興分行"}, {"branchCode":"111","branchName":"南新莊分行"}, {"branchCode":"112","branchName":"三峽分行"}, {"branchCode":"113","branchName":"沙鹿分行"}, {"branchCode":"114","branchName":"南桃園分行"}, {"branchCode":"115","branchName":"汐止分行"}, {"branchCode":"116","branchName":"萬華分行"}, {"branchCode":"117","branchName":"小港分行"}, {"branchCode":"118","branchName":"新工分行"}, {"branchCode":"119","branchName":"烏日分行"}, {"branchCode":"120","branchName":"西湖分行"}, {"branchCode":"121","branchName":"八德分行"}, {"branchCode":"122","branchName":"北屯分行"}, {"branchCode":"123","branchName":"大安分行"}, {"branchCode":"124","branchName":"北中壢分行"}, {"branchCode":"125","branchName":"高樹分行"}, {"branchCode":"126","branchName":"枋寮分行"}, {"branchCode":"127","branchName":"豐農分行"}, {"branchCode":"128","branchName":"金城分行"}, {"branchCode":"129","branchName":"光復分行"}, {"branchCode":"130","branchName":"左營分行"}, {"branchCode":"131","branchName":"北桃園分行"}, {"branchCode":"132","branchName":"東港分行"}, {"branchCode":"133","branchName":"天母分行"}, {"branchCode":"134","branchName":"泰山分行"}, {"branchCode":"135","branchName":"中科分行"}, {"branchCode":"136","branchName":"大園分行"}, {"branchCode":"137","branchName":"楊梅分行"}, {"branchCode":"138","branchName":"東門分行"}, {"branchCode":"140","branchName":"城東分行"}, {"branchCode":"141","branchName":"松南分行"}, {"branchCode":"142","branchName":"福興分行"}, {"branchCode":"143","branchName":"林口分行"}, {"branchCode":"144","branchName":"西屯分行"}, {"branchCode":"145","branchName":"內壢分行"}, {"branchCode":"146","branchName":"竹南分行"}, {"branchCode":"147","branchName":"安南分行"}, {"branchCode":"148","branchName":"汐科分行"}, {"branchCode":"149","branchName":"楠梓分行"}, {"branchCode":"150","branchName":"大里分行"}, {"branchCode":"151","branchName":"大灣分行"}, {"branchCode":"152","branchName":"潮榮分行"}, {"branchCode":"153","branchName":"大發分行"}, {"branchCode":"155","branchName":"圓山分行"}, {"branchCode":"156","branchName":"工研院分行"}, {"branchCode":"157","branchName":"北三重分行"}, {"branchCode":"158","branchName":"圓通分行"}, {"branchCode":"160","branchName":"石牌分行"}, {"branchCode":"161","branchName":"南屯分行"}, {"branchCode":"162","branchName":"證券部"}, {"branchCode":"163","branchName":"寶中分行"}, {"branchCode":"164","branchName":"中清分行"}, {"branchCode":"165","branchName":"南京東路分行"}, {"branchCode":"211","branchName":"董事會"}, {"branchCode":"212","branchName":"伊通街宿舍"}, {"branchCode":"222","branchName":"總經理室"}, {"branchCode":"223","branchName":"和平東路宿舍"}, {"branchCode":"333","branchName":"副總經理室"}, {"branchCode":"501","branchName":"洛杉磯分行"}, {"branchCode":"502","branchName":"香港分行"}, {"branchCode":"503","branchName":"新加坡分行"}, {"branchCode":"504","branchName":"上海分行"}, {"branchCode":"505","branchName":"胡志明市辦事處"}, {"branchCode":"506","branchName":"紐約分行"}, {"branchCode":"507","branchName":"天津分行"}, {"branchCode":"508","branchName":"武漢分行"}, {"branchCode":"526","branchName":"第一區域中心"}, {"branchCode":"527","branchName":"第二區域中心"}, {"branchCode":"528","branchName":"第三區域中心"}, {"branchCode":"529","branchName":"第四區域中心"}, {"branchCode":"530","branchName":"第五區域中心"}, {"branchCode":"531","branchName":"第六區域中心"}];
			    }
		    });
		    getDropdownBranchOption(branchCodeData);

		    $(document).on("click", ".branchSelect", function(e) {
			    $("#dataId").val($(this).data("id"));
			    $("#branchCodeModal").modal('show');
		    });

		    $("#selectBranchBtn").click(function(e) {
			    selectBranch();
		    });

		    $("#closeBranchModalBtn").click(function(e) {
			    $("#branchCodeModal").modal('toggle');
		    });
    
		    $(".table-striped td a").click(function(e) {
			    e.preventDefault();
			    var rege = /^(\/Policy\/Edit\/)/;
			    if(rege.test($(this).attr('href'))) {
				    window.location.href = "Edit/K102_" + $(this).text() + ".html";
			    }
		    });

		    $(".datepicker").datepicker({
		        format: "yyyy-mm-dd",
		        autoclose: true,
		        clearBtn: true,
		        calendarWeeks: true,
		        todayHighlight: true,
		        language: 'zh-TW'
		    });

		    $(".date-trigger").on("click", function () {
		        $(this).prev(".datepicker").datepicker("show");
		    });
        
	    })(jQuery);

	    function getDropdownBranchOption(data) {
		    for(i in data)
		    $("#dropdownBranch").append('<option value="'+data[i].branchCode+'">'+data[i].branchCode+' '+data[i].branchName+'</option>');
	    }

	    function selectBranch() {
		    var dataId = $("#dataId").val();
		    $("#Branch_Code_"+dataId).val($("#dropdownBranch").val());
		    $("#Branch_Name_"+dataId).val($("#dropdownBranch option:selected").text());
		    $("#branchCodeModal").modal('toggle');
	    }

    </script>
}