﻿<template id="photo-region-template">
    <div class="form-group">

        <div class="row">
            <label class="col-sm-2 control-label">{{title}}</label>
            <div class="col-sm-10">
                <input type="file" id="uploadFileVue" accept="image/gif, image/jpeg, image/png">
                <input type="button" value="上傳" v-on:click="onUpload" class="btn btn-primary">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <div class="row">

                    <div class="col-sm-1" v-for="file in files">

                        <div class="embed-responsive embed-responsive-4by3">
                            <div class="embed-responsive-item">
                                <img style="width: 100%; height: 100%;" v-bind:src="file.Src">
                            </div>
                        </div>
                        <input type="button" value="刪除" v-on:click="onDelete(file.Id)">
                        <p>{{file.Id}}</p>

                    </div>

                </div>
            </div>
        </div>

    </div>
</template>



<script>

    (function ($) {

        var UploadRegion = Vue.extend({

                template: "#photo-region-template",

                methods: {

                            onUpload: function(){

                                var formData = new FormData();
                                formData.append(this.upload_model_name, this.fileElement().files[0]);

                                var self = this;
                                $.ajax({
                                    type: 'post',
                                    url: this.upload_action,
                                    data: formData,
                                    contentType: false,
                                    processData: false,
                                    dataType: 'json',
                                    success: function (responsed) {  self.createFile(responsed);  },
                                    error: function (responsed) {  alert(responsed.responseText + " error");  },
                                    complete: function () { self.fileElement().value = ""; }
                            });
                        },

                        onDelete: function(id){

                            var delete_model = {};
                            delete_model[this.delete_model_name] = id;

                            var self = this;
                            $.ajax({
                                type: 'post',
                                url: this.delete_action,
                                data: JSON.stringify( delete_model ),
                                contentType: 'application/json; charset=utf-8',
                                dataType: 'json',
                                success: function (responsed) {  self.deleteFile( responsed.Id ); },
                                error: function (responsed) {  alert(responsed.responseText + " error");  }
                            });

                        },


                        createFile: function(responsed){

                            if( responsed.OK )
                                this.files.push( { Id: responsed.Id, Src: responsed.Src } );
                            else
                                alert("file empty 2");
                        },

                        deleteFile: function(id){

                            for (var index in this.files)
                            {
                                if (this.files[index].Id == id)
                                {
                                    this.files.splice(index, 1);
                                    return;
                                }
                            }
                        },

                        fileElement: function () {

                            var el = this.$el;
                            return $("input[type=file]", $(el))[0];
                        }
                },

                mounted: function(){

                    var self = this;

                    $( self.form_id ).submit( function(e){

                        var index = 0;
                        for (var i in self.files)
                        {
                            var name = self.submit_model_name + "[" + index + "]";
                            $('<input>').attr('type', 'hidden').attr('name', name).attr('value', self.files[i].Id).appendTo(self.form_id);
                            ++index;
                        }
                    });
                }
            });



            $.extend({

                UploadRegion: UploadRegion
            });

        })(jQuery);

</script>



