﻿@using InspiniaWebAdminTemplate.Models.ApprovalFlow
@model IndexViewModel

@{
    ViewBag.Title = "ApprovalFlow";
}

<div id="root">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>簽核查詢</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index")">首頁</a>
                </li>
                <li>
                    <a href="#">簽核查詢</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>搜尋條件</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        @Html.Partial("_FlowSearchOptions" )
                    </div>
                
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">
                        <div class="table-responsive">

                            <table class="table-condensed">
                                <tr>
                                    <td style="text-align: left">
                                        <label>共  @Model.Page.Items.Count 筆</label>
                                        <a class="btn btn-sm btn-default" href="@Url.Action("Index","Home")">回上頁</a>
                                        <a class="btn btn-sm btn-warning" href="@Url.Action("Index","ApprovalRevoke")">撤銷結案</a>
                                        <a class="btn btn-sm btn-success" href="@Url.Action("Index","ApprovalReassign")">改派</a>
                                    </td>
                                </tr>
                            </table>


                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>簽核紀錄</th>
                                        @*<th>內容</th>*@
                                        <th>表單送出日期</th>
                                        <th>單據編號</th>
                                        <th>表單類別</th>
                                        <th>表單名稱</th>
                                        <th>分行</th>
                                        <th>申請人員</th>
                                        <th>最後簽核人員</th>
                                        <th>下位簽核人員</th>
                                        <th>簽核狀態</th>
                                        <th>備註</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @for (int index = 0; index < Model.Page.Items.Count; ++index)
                                    {
                                        var item = @Model.Page.Items[index];
                                        <tr>
                                            <td>@( index+1 + (Model.SearchCondition.Page - 1) * (Model.SearchCondition.PageSize) )</td>
                                            <td><a href="@Url.Action("Logs", new { ID = item.ID })"><i class="fa fa-folder"></i></a></td>
                                            @*<td><a href="@Url.Action("FormDetails","ApprovalTracking")"><i class="fa fa-file"></i></a></td>*@
                                            <td>@item.IssueTimeDescription</td>
                                            <td>@item.FormNo</td>
                                            <td>@item.DocTypeName</td>
                                            <td>@item.DocName</td>
                                            <td>@item.BranchName</td>
                                            <td>@item.ApplyUserName</td>
                                            <td>@item.CurrentApprovalUserName</td>
                                            <td>@item.NextApproval</td>
                                            <td>@item.ApprovalStatus</td>
                                            <td>@item.Remark</td>
                                        </tr>
                                    }


                              </tbody>
                            </table>

                            <a id="page">
                                <div id="page_region"></div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts { 


    @Html.Partial("_VuePageList")
    <script>

                (function ($) {

                    var page = new $.PageTemplate({

                        el: "#page_region",
                        data: {

                            limit_pages: 10,//畫面上最多有幾頁可供選擇
                            total_amount: @Model.Page.TotalAmount,//資料庫總筆數
                            page_size: @Model.SearchCondition.PageSize,//單頁筆數
                            page_now: @Model.SearchCondition.Page,//當前頁
                            center_page: @Model.SearchCondition.Page,//置中頁,通常會將當前頁置中

                            pages: [],//通常為空,

                            action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                        }
                    });

                    $(".datepicker").datepicker({
                        format: "yyyy/mm/dd",
                        autoclose: true,
                        clearBtn: true,
                        calendarWeeks: false,
                        todayHighlight: true,
                        language: 'zh-TW'
                    });

                    $(".date-trigger").on("click", function () {
                        $(this).prev(".datepicker").datepicker("show");
                    });


                })(jQuery);

    </script>

}

