﻿@using InspiniaWebAdminTemplate.Models.ApprovalFlow
@model LogsViewModel

@{
    ViewBag.Title = "ApprovalDetails";

    List<string> Image = new List<string> {
        "/Content/images/Approval/01.png",
        "/Content/images/Approval/02.png",
        "/Content/images/Approval/03.png",
        "/Content/images/Approval/04.png",
        "/Content/images/Approval/05.png" };
}

<div id="root">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>簽核明細紀錄</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">首頁</a>
                </li>
                <li>
                    <a href="@Url.Action("Index")">簽核追蹤</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-title">
                        <h5>簽核歷史</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>


                    <div class="ibox-content">
                        <table>
                            <tr>
                                @for (int index =0; index< Model.Logs.Count; ++index)
                                {
                                    var log = Model.Logs[index];
                                    if (string.IsNullOrEmpty(log.ApplyUserName)==false)
                                    {
                                        <td>
                                            <img src="@( Image[index % Model.Logs.Count] )" )" alt="..." class="img-thumbnail" style="width: 50px;"><br />
                                            @log.ApplyUserName<br />@log.UpdateTimeDescription
                                        </td>
                                        <td><img alt="" src="/Content/images/Approval/ban_toolbar_right01.gif" width="20" height="20"></td>
                                    }
                                 }
                                <td><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table-condensed" width="100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>共  @Model.Logs.Count 筆</label>
                                        <a class="btn btn-sm btn-default" href="@HttpContext.Current.Request.UrlReferrer">回上頁</a>
                                        @*<button class="btn btn-sm btn-warning">列印</button>*@
                                    </td>
                                </tr>
                            </table>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>單據編號</th>
                                        <th>表單類別單</th>
                                        <th>表單名稱</th>
                                        <th>分行</th>
                                        <th>簽核人員</th>
                                        <th>簽核時間</th>
                                        <th>審核結果</th>
                                        <th>簽核狀態</th>
                                        <th>檢視</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int index = 0; index < Model.Logs.Count; ++index)
                                    {
                                        var log = Model.Logs[index];

                                        <tr>
                                            <td>@(index + 1)</td>
                                             <td>@Model.FormNo</td>
                                            <td>@Model.DocType</td>
                                            <td>@Model.DocName</td>
                                            <td>@log.BranchName</td>
                                            <td>@log.ApplyUserName</td>
                                            <td>@log.UpdateTimeDescription</td>
                                            <td>@log.Result</td>
                                            <td>@log.Status</td>
                                            <td><a href="@Url.Action("Logs", "ApprovalFlow")"><i class="fa fa-folder"></i></a></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
