﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 檢視單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">動產管理</a>
            </li>
            <li>
                <a href="#">總行指定盤點回報單</a>
            </li>
            <li>
                <a href="#">檢視單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>台北分行</label>
                                </td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>項次</td>
                                    <td>資產編號</td>
                                    <td>財產名稱</td>
                                    <td>廠版規格</td>
                                    <td>保管單位</td>
                                    <td>保管人</td>
                                    <td>啟用日期</td>
                                    <td>使用年限</td>
                                    <td>資產成本</td>
                                    <td>累計折舊</td>
                                    <td>相符</td>
                                    <td>不符</td>
                                    <td>原因</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td></td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>101/03/01</td>
                                    <td>8</td>
                                    <td>60,000</td>
                                    <td>55,000</td>
                                    <td>v</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td></td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>101/03/01</td>
                                    <td>8</td>
                                    <td>60,000</td>
                                    <td>55,000</td>
                                    <td>v</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td></td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>101/03/01</td>
                                    <td>8</td>
                                    <td>60,000</td>
                                    <td>55,000</td>
                                    <td></td>
                                    <td>v</td>
                                    <td>遺失</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>3000031B-0000001</td>
                                    <td>電腦</td>
                                    <td>NB-ACER</td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>101/03/01</td>
                                    <td>5</td>
                                    <td>40,000</td>
                                    <td>30,000</td>
                                    <td>v</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>3000031B-0000001</td>
                                    <td>電腦</td>
                                    <td>NB-VAIO</td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>101/03/01</td>
                                    <td>5</td>
                                    <td>45,000</td>
                                    <td>30,000</td>
                                    <td>v</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td></td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>101/03/01</td>
                                    <td>8</td>
                                    <td>60,000</td>
                                    <td>55,000</td>
                                    <td>v</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td></td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>101/03/01</td>
                                    <td>8</td>
                                    <td>60,000</td>
                                    <td>55,000</td>
                                    <td>v</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td></td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>101/03/01</td>
                                    <td>8</td>
                                    <td>60,000</td>
                                    <td>55,000</td>
                                    <td>v</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>3000031B-0000001</td>
                                    <td>
                                        電腦<br>
                                        <span class="text-gray">(母資產)</span>
                                    </td>
                                    <td>MAC-001</td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>101/03/01</td>
                                    <td>5</td>
                                    <td>50,000</td>
                                    <td>40,000</td>
                                    <td>v</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>3000031B-0000001</td>
                                    <td>
                                        RAM<br>
                                        <span class="text-gray">(子資產)</span>
                                    </td>
                                    <td></td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>101/03/01</td>
                                    <td>5</td>
                                    <td>5,000</td>
                                    <td>4,500</td>
                                    <td>v</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>