﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>編輯單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">動產管理</a>
            </li>
            <li>
                <a href="#">總行指定盤點回報單</a>
            </li>
            <li>
                <a href="#">編輯單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><span class="text-success">【步驟一】</span> 新增單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" disabled>
                                        <option value="">分行盤點回報單</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">總行指定盤點</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1061102A201000001</div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 帳本</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">IFRS_TWD</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 單據處理日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" value="106-11-30" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">08 產權部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">002 XX科</option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-primary-re">新增</span></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註(關鍵字)</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="總行指定盤點" /></div>
                            </div>


                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label><span class="text-success">【步驟二】</span>盤點作業</label>
                                </td>
                                <td style="text-align: right">
                                    <a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary"><i class="fa fa-long-arrow-right"> 匯出 </i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>項次</td>
                                    <td>資產編號</td>
                                    <td>財產名稱</td>
                                    <td>廠版規格</td>
                                    <td>保管單位</td>
                                    <td>保管人</td>
                                    <td>啟用日期</td>
                                    <td>使用年限</td>
                                    <td>資產成本</td>
                                    <td>累計折舊</td>
                                    <td>相符</td>
                                    <td>不符</td>
                                    <td>原因</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td></td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>101/03/01</td>
                                    <td>8</td>
                                    <td>60,000</td>
                                    <td>55,000</td>
                                    <td><input type="checkbox" checked></td>
                                    <td><input type="checkbox"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td></td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>101/03/01</td>
                                    <td>8</td>
                                    <td>60,000</td>
                                    <td>55,000</td>
                                    <td><input type="checkbox" checked></td>
                                    <td><input type="checkbox"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td></td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>101/03/01</td>
                                    <td>8</td>
                                    <td>60,000</td>
                                    <td>55,000</td>
                                    <td><input type="checkbox"></td>
                                    <td><input type="checkbox" checked></td>
                                    <td>遺失</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>3000031B-0000001</td>
                                    <td>電腦</td>
                                    <td>NB-ACER</td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>101/03/01</td>
                                    <td>5</td>
                                    <td>40,000</td>
                                    <td>30,000</td>
                                    <td><input type="checkbox" checked></td>
                                    <td><input type="checkbox"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>3000031B-0000001</td>
                                    <td>電腦</td>
                                    <td>NB-VAIO</td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>101/03/01</td>
                                    <td>5</td>
                                    <td>45,000</td>
                                    <td>30,000</td>
                                    <td><input type="checkbox" checked></td>
                                    <td><input type="checkbox"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td></td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>101/03/01</td>
                                    <td>8</td>
                                    <td>60,000</td>
                                    <td>55,000</td>
                                    <td><input type="checkbox" checked></td>
                                    <td><input type="checkbox"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td></td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>101/03/01</td>
                                    <td>8</td>
                                    <td>60,000</td>
                                    <td>55,000</td>
                                    <td><input type="checkbox" checked></td>
                                    <td><input type="checkbox"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td></td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>101/03/01</td>
                                    <td>8</td>
                                    <td>60,000</td>
                                    <td>55,000</td>
                                    <td><input type="checkbox" checked></td>
                                    <td><input type="checkbox"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>3000031B-0000001</td>
                                    <td>
                                        電腦<br>
                                        <span class="text-gray">(母資產)</span>
                                    </td>
                                    <td>MAC-001</td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>101/03/01</td>
                                    <td>5</td>
                                    <td>50,000</td>
                                    <td>40,000</td>
                                    <td><input type="checkbox" checked></td>
                                    <td><input type="checkbox"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>3000031B-0000001</td>
                                    <td>
                                        RAM<br>
                                        <span class="text-gray">(子資產)</span>
                                    </td>
                                    <td></td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>101/03/01</td>
                                    <td>5</td>
                                    <td>5,000</td>
                                    <td>4,500</td>
                                    <td><input type="checkbox" checked></td>
                                    <td><input type="checkbox"></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-splitdata" class="btn btn-success" data-toggle="modal"><i class="fa fa-long-arrow-right"> 提 交 </i></a>
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#modal-form-invaliddata" data-toggle="modal" class="btn btn-danger" style="display:none"><i class="fa fa-trash"> 作 廢 </i></a>
            <a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger"><i class="fa fa-trash"> 刪 除 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-splitdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定提交嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-deletedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定刪除嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-invaliddata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定作廢嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>