﻿
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>資產明細表</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">房屋管理</a>
            </li>
            <li>
                <a href="#">資產明細表</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form id="frmPrint" method="post">
                        <input type="hidden" name="ReportName" value="MPDetails" />
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label" align="right">管轄單位</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="AssignedBranch" name="JurisdictionAssignedBranch">
                                        <option value="001總行"> 001總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control" id="OfficeBranch" name="JurisdictionOfficeBranch">
                                        <option value="05資訊部"> 05資訊部</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">帳本</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="BookTypeCode" name="BookTypeCode">
                                        <option value="RE_IFRS">RE_IFRS</option>
                                        <option value="IFRS_TWD">IFRS_TWD</option>
                                    </select>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label " align="right">期間</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    ～
                                </div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <a class="btn btn-primary" href="Reports_1_A.aspx"><i class="fa fa-search"> 查詢 </i></a>
                                    <a href="/download/temp/CUX_資產明細表-房屋_11月份_1051215.xlsx" class="btn btn-primary"><i class="fa fa-save"> 匯出 </i></a>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <table class="col-sm-12">
                                    <thead>
                                        <tr>
                                            <th>財產編號</th>
                                            <th>財產名稱</th>
                                            <th>分類-小類</th>
                                            <th>分類-投資自用</th>
                                            <th>房屋建積 (m2)</th>
                                            <th>啟用日期</th>
                                            <th>剩餘年限(月)</th>
                                            <th>已折舊月數</th>
                                            <th>資產殘值</th>
                                            <th>帳面金額</th>
                                            <th>備註</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>2010201-0000042</td>
                                            <td>台北市中山區中山北路二段6,8號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>1,146.00</td>
                                            <td>2012/1/1</td>
                                            <td>12</td>
                                            <td>12</td>
                                            <td>‭‬0</td>
                                            <td>6,857,046.50</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-000010</td>
                                            <td>高雄市前鎮區新生路252號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>1,155.33</td>
                                            <td>2012/1/1</td>
                                            <td>306</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>10,013,364.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000116</td>
                                            <td>台北市中山區長春路156號5樓-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>412.07</td>
                                            <td>2012/1/1</td>
                                            <td>492</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>11,444,123.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000126</td>
                                            <td>台中市豐原區中正路613號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>384.55</td>
                                            <td>2012/1/1</td>
                                            <td>270</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>5,259,044.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000127</td>
                                            <td>台中市豐原區育仁路186號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>246.96</td>
                                            <td>2012/1/1</td>
                                            <td>48</td>
                                            <td>48</td>
                                            <td>1</td>
                                            <td>3,348,679.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000130</td>
                                            <td>屏東縣高樹鄉勝利路53號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>452.67</td>
                                            <td>2012/1/1</td>
                                            <td>207</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>4,540,900.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000131</td>
                                            <td>屏東縣高樹鄉三民路45號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>134.04</td>
                                            <td>2012/1/1</td>
                                            <td>165</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>1,667,150.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000042</td>
                                            <td>台北市中山區中山北路二段6,8號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>1,146.00</td>
                                            <td>2012/1/1</td>
                                            <td>12</td>
                                            <td>12</td>
                                            <td>‭‬0</td>
                                            <td>6,857,046.50</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-000010</td>
                                            <td>高雄市前鎮區新生路252號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>1,155.33</td>
                                            <td>2012/1/1</td>
                                            <td>306</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>10,013,364.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000116</td>
                                            <td>台北市中山區長春路156號5樓-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>412.07</td>
                                            <td>2012/1/1</td>
                                            <td>492</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>11,444,123.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000126</td>
                                            <td>台中市豐原區中正路613號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>384.55</td>
                                            <td>2012/1/1</td>
                                            <td>270</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>5,259,044.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000127</td>
                                            <td>台中市豐原區育仁路186號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>246.96</td>
                                            <td>2012/1/1</td>
                                            <td>48</td>
                                            <td>48</td>
                                            <td>1</td>
                                            <td>3,348,679.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000130</td>
                                            <td>屏東縣高樹鄉勝利路53號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>452.67</td>
                                            <td>2012/1/1</td>
                                            <td>207</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>4,540,900.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000131</td>
                                            <td>屏東縣高樹鄉三民路45號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>134.04</td>
                                            <td>2012/1/1</td>
                                            <td>165</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>1,667,150.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000042</td>
                                            <td>台北市中山區中山北路二段6,8號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>1,146.00</td>
                                            <td>2012/1/1</td>
                                            <td>12</td>
                                            <td>12</td>
                                            <td>‭‬0</td>
                                            <td>6,857,046.50</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-000010</td>
                                            <td>高雄市前鎮區新生路252號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>1,155.33</td>
                                            <td>2012/1/1</td>
                                            <td>306</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>10,013,364.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000116</td>
                                            <td>台北市中山區長春路156號5樓-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>412.07</td>
                                            <td>2012/1/1</td>
                                            <td>492</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>11,444,123.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000126</td>
                                            <td>台中市豐原區中正路613號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>384.55</td>
                                            <td>2012/1/1</td>
                                            <td>270</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>5,259,044.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000127</td>
                                            <td>台中市豐原區育仁路186號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>246.96</td>
                                            <td>2012/1/1</td>
                                            <td>48</td>
                                            <td>48</td>
                                            <td>1</td>
                                            <td>3,348,679.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000130</td>
                                            <td>屏東縣高樹鄉勝利路53號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>452.67</td>
                                            <td>2012/1/1</td>
                                            <td>207</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>4,540,900.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000131</td>
                                            <td>屏東縣高樹鄉三民路45號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>134.04</td>
                                            <td>2012/1/1</td>
                                            <td>165</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>1,667,150.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000042</td>
                                            <td>台北市中山區中山北路二段6,8號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>1,146.00</td>
                                            <td>2012/1/1</td>
                                            <td>12</td>
                                            <td>12</td>
                                            <td>‭‬0</td>
                                            <td>6,857,046.50</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-000010</td>
                                            <td>高雄市前鎮區新生路252號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>1,155.33</td>
                                            <td>2012/1/1</td>
                                            <td>306</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>10,013,364.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000116</td>
                                            <td>台北市中山區長春路156號5樓-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>412.07</td>
                                            <td>2012/1/1</td>
                                            <td>492</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>11,444,123.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000126</td>
                                            <td>台中市豐原區中正路613號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>384.55</td>
                                            <td>2012/1/1</td>
                                            <td>270</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>5,259,044.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000127</td>
                                            <td>台中市豐原區育仁路186號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>246.96</td>
                                            <td>2012/1/1</td>
                                            <td>48</td>
                                            <td>48</td>
                                            <td>1</td>
                                            <td>3,348,679.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000130</td>
                                            <td>屏東縣高樹鄉勝利路53號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>452.67</td>
                                            <td>2012/1/1</td>
                                            <td>207</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>4,540,900.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000131</td>
                                            <td>屏東縣高樹鄉三民路45號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>134.04</td>
                                            <td>2012/1/1</td>
                                            <td>165</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>1,667,150.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000042</td>
                                            <td>台北市中山區中山北路二段6,8號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>1,146.00</td>
                                            <td>2012/1/1</td>
                                            <td>12</td>
                                            <td>12</td>
                                            <td>‭‬0</td>
                                            <td>6,857,046.50</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-000010</td>
                                            <td>高雄市前鎮區新生路252號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>1,155.33</td>
                                            <td>2012/1/1</td>
                                            <td>306</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>10,013,364.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000116</td>
                                            <td>台北市中山區長春路156號5樓-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>412.07</td>
                                            <td>2012/1/1</td>
                                            <td>492</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>11,444,123.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000126</td>
                                            <td>台中市豐原區中正路613號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>384.55</td>
                                            <td>2012/1/1</td>
                                            <td>270</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>5,259,044.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000127</td>
                                            <td>台中市豐原區育仁路186號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>246.96</td>
                                            <td>2012/1/1</td>
                                            <td>48</td>
                                            <td>48</td>
                                            <td>1</td>
                                            <td>3,348,679.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000130</td>
                                            <td>屏東縣高樹鄉勝利路53號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>452.67</td>
                                            <td>2012/1/1</td>
                                            <td>207</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>4,540,900.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000131</td>
                                            <td>屏東縣高樹鄉三民路45號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>134.04</td>
                                            <td>2012/1/1</td>
                                            <td>165</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>1,667,150.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000042</td>
                                            <td>台北市中山區中山北路二段6,8號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>1,146.00</td>
                                            <td>2012/1/1</td>
                                            <td>12</td>
                                            <td>12</td>
                                            <td>‭‬0</td>
                                            <td>6,857,046.50</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-000010</td>
                                            <td>高雄市前鎮區新生路252號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>1,155.33</td>
                                            <td>2012/1/1</td>
                                            <td>306</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>10,013,364.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000116</td>
                                            <td>台北市中山區長春路156號5樓-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>412.07</td>
                                            <td>2012/1/1</td>
                                            <td>492</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>11,444,123.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000126</td>
                                            <td>台中市豐原區中正路613號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>384.55</td>
                                            <td>2012/1/1</td>
                                            <td>270</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>5,259,044.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000127</td>
                                            <td>台中市豐原區育仁路186號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>246.96</td>
                                            <td>2012/1/1</td>
                                            <td>48</td>
                                            <td>48</td>
                                            <td>1</td>
                                            <td>3,348,679.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000130</td>
                                            <td>屏東縣高樹鄉勝利路53號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>452.67</td>
                                            <td>2012/1/1</td>
                                            <td>207</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>4,540,900.00</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2010201-0000131</td>
                                            <td>屏東縣高樹鄉三民路45號-主建物</td>
                                            <td>辦公房屋</td>
                                            <td>投資-非自用</td>
                                            <td>134.04</td>
                                            <td>2012/1/1</td>
                                            <td>165</td>
                                            <td>59</td>
                                            <td>‭‬0</td>
                                            <td>1,667,150.00</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal-form-fastreport" class="modal fade" style="padding:5px;width:60%;height:80%;background:#FFF;margin:0 auto; margin-top:20px; overflow:hidden">
</div>