﻿@using InspiniaWebAdminTemplate.Models.Common
@using Library.Servant.Servant.CodeTable.Models
@model BranchDepartmentOptions

<div id="root">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>帳務管理</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Home")">首頁</a>
                </li>
                <li>
                    <a href="#">報表</a>
                </li>
                <li>
                    <a href="#">當日出帳統計表</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        

                        <form id="search" class="form-horizontal">

                            @Html.AntiForgeryToken()
                            <input type="hidden" id="ReportWidth" name="ReportWidth" value="1000">

                            <div class="row">
         
                                <div class="form-group col-sm-6">
                                    <label for="" class="col-sm-4 control-label">分行/部門</label>
                                    <div class="form-group col-sm-8">
                                        <div class="col-sm-6">
                                            <select name="BranchCode" class="form-control">
                                                <option value="">全部</option>
                                                @foreach (var branch in Model.BranchOptions)
                                                {
                                                    <option value="@branch.Value">@branch.Text</option>
                                                }
                                            </select>
                                        </div>

                                        <div class="col-sm-6">
                                            <select name="DepartmentCode" class="form-control">
                                                <option value="">全部</option>
                                                @foreach (var department in Model.DepartmentOptions)
                                                {
                                                    <option value="@department.Value">@department.Text</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" id="submit_button" class="btn btn-primary"><i class="fa fa-search">查詢</i></button>
                                    <button type="reset" class="btn btn-danger"><i class="fa fa-eraser">清除</i></button>
                                    <a class="btn btn-sm btn-default" href="@HttpContext.Current.Request.UrlReferrer">回上頁</a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="list"></div>
        </div>

    </div>
</div>

@section Scripts {

    @Html.Partial("_AjaxFormSubmit", new AjaxFormSubmitModel
    {

        PostUrl = @Url.Action("Search"),
        FormID = "#search",
        SubmitButtonID = "#submit_button",
        DivRegionID = "#list",
    })

    <script>

            jQuery(window).load(function () {

                var width = $("#list").width();
                $("#ReportWidth").val(width);
            });

    </script>
}
