﻿@using InspiniaWebAdminTemplate.Models.Common
@using Library.Servant.Servant.CodeTable.Models;
@model TradeOptions

<div id="root">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>帳務管理</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Home")">首頁</a>
                </li>
                <li>
                    <a href="#">帳務管理</a>
                </li>
                <li>
                    <a href="#">出帳(產生會計分錄)</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        <form action="" class="form-horizontal" id="search">
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">出帳別</label>
                                    <div class="col-sm-8">
                                        <label class="control-label"><input type="radio" name="IsTrade" value="false" checked>未出帳</label>
                                        <label class="control-label"><input type="radio" name="IsTrade" value="true">重新出帳</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label required">交易種類</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="TradeKind">
                                            <option value="">全部</option>
                                            @foreach (var option in Model.TradeKind)
                                            {
                                                <option value="@option.Value">@option.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label required">交易區分</label>
                                    <div class="col-sm-8">
                                        <select class="form-control"  name="TradeDistinguish">
                                            <option value="">全部</option>
                                            @foreach (var option in Model.TradeDistinguish)
                                            {
                                                <option value="@option.Value">@option.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label required">交易序號</label>
                                    <div class="input-group col-sm-8">
                                        <input class="form-control" name="TransSeq" id="TransSeq" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary"  id="submit_button"><i class="fa fa-search">查詢</i></button>
                                    <button type="reset" class="btn btn-danger"><i class="fa fa-eraser">清除</i></button>
                                    <button type="button" class="btn"><i class="fa fa-times">取消</i></button>
                                </div>
                            </div>
                         </form>

                         <div class="hr-line-dashed"></div>
                        <div id="list"></div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {

    @Html.Partial("_AjaxFormSubmit", new AjaxFormSubmitModel
    {

        PostUrl = @Url.Action("Search"),
        FormID = "#search",
        SubmitButtonID = "#submit_button",
        DivRegionID = "#list",
    })

    <script>

        (function($){

            $("#search").validate({

                rules: {

                    TransSeq: { required: true }
                },
                
                messages: {
                    
                    TransSeq: {

                        required: "交易序號為必要值"
                    }
                }
            });

        })(jQuery);

    </script>
    
}
