﻿@using Library.Servant.Servant.Common.Models
@model AccountEntryDetailResult

<form action="" class="form-horizontal">

    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label required">單據編號</label>
            <div class="input-group col-sm-8">
                <input type="text" class="form-control" value="單據編號" disabled />
            </div>
        </div>
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label">資產編號/批次編號/租約編號</label>
            <div class="input-group col-sm-8">
                <input type="text" class="form-control" value="@Model.Asset_Number" disabled />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label required">分錄編號</label>
            <div class="col-sm-8">
                <select class="form-control" id="Sign_Status" name="Sign_Status">
                    <option selected> </option>
                </select>
            </div>
        </div>
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label">分錄描述</label>
            <div class="input-group col-sm-8">
                <input type="text" value="分錄描述" class="form-control" disabled />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label">出帳別</label>
            <div class="col-sm-8">
                <label class="control-label"><input type="radio" name="IsActive" value="true" checked>分開出帳</label>
                <label class="control-label"><input type="radio" name="IsActive" value="false">合併出帳</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label">分錄備註</label>
            <div class="input-group col-sm-8">
                <input class="form-control" id="Number_Start"
                       name="Number_Start" type="text">
            </div>
        </div>
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label required">帳務描述</label>
            <div class="input-group col-sm-8">
                <input class="form-control" id="Number_Start"
                       name="Number_Start" type="text">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <button type="button" class="btn btn-primary"><i class="fa fa-search">出帳</i></button>
            <button type="reset" class="btn btn-danger"><i class="fa fa-eraser">清除</i></button>
            <button type="button" class="btn"><i class="fa fa-times">取消</i></button>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="form-group col-sm-12">

            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    60%
                </div>
            </div>
        </div>
    </div>
</form>
