﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 新增/編輯巡查案件</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.RouteUrl( new {controller = "Home" , Action="Index"})">首頁</a>
            </li>
            <li>
                <a href="#">資產評估作業</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">房屋評估作業</a>
            </li>
            <li>
                <a href="#">新增/編輯評估案件</a>
            </li>
        </ol>
    </div>
</div>
<div style="display:none">
    @ViewBag.HL
</div>
<div style="display:">
    @ViewBag.Data
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>新增/編輯評估案件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" id="F" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.Data["ma"].TRX_Header_ID</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">分辦單位</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.Data["ma"].Office_Branch</div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">預計結案日期</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.Data["ma"].sEndDate</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">評估方式</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.Data["ma"].Source_Type</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 案件狀態</label>
                                <div class="col-sm-6 checkbox-list">
                                    <input type="radio" value="1" name="Type"
                                           @if (ViewBag.DataM["Type"].ToString() == "1") { @: checked
                                                                                      }><span>起案</span>
                                    <input type="radio" value="2" name="Type"
                                           @if (ViewBag.DataM["Type"].ToString() == "2") { @: checked
                                                                                      }><span>執行中</span>
                                    <input type="radio" value="3" name="Type"
                                           @if (ViewBag.DataM["Type"].ToString() == "3") { @: checked
                                                                                      }><span>結案</span>
                                </div>
                            </div>

                        </div>

                        <div class="ibox-c-subtitle">房屋明細</div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">房屋財產編號</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.Data["l"].Asset_Number</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"></label>
                                <div class="col-sm-6" style="text-align:right"><a href="@Url.Action("ContentDetail_1","EvaluationSearch")" target="_blank" class="btn btn-gray"><i class="fa fa-search"> 查看房屋詳情 </i></a></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產分類</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.Data["l"].Asset_Category_Code</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">建物門牌</label>
                                <div class="col-sm-9 text-lineH-fix">@ViewBag.Data["l"].City_Name@ViewBag.Data["l"].District_Name @ViewBag.Data["l"].Sectioni_Name@ViewBag.Data["l"].Sub_Sectioni_Name @ViewBag.Data["l"].Build_Address</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">房屋面積</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.Data3  m2</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">
                                    房屋主建物帳面價值<br>( 截至 @ViewBag.Data["ma"].sDeadLine )
                                </label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.Data.logCurrent_Cost 元</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">分行查估房屋市場價值</label>
                                <div class="col-sm-4"><input  name="BCurrent_Cost" type="text" class="form-control" value="@ViewBag.Data["m"].Current_Cost" /> </div>
                                <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>元</span></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">估價方法</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="radio" name="BEvaluationType" value="0" 
                                    @if(@ViewBag.Data["m"].EvaluationType.ToString()=="0")
                                            {
                                                @:checked
                                             }          
                                           ><span>一般估價</span>
                                    <input type="radio" name="BEvaluationType" value="1" 
                                      @if(@ViewBag.Data["m"].EvaluationType.ToString()=="1")
                                            {
                                                @:checked
                                             }       
                                           ><span>混同估價</span>
                                    <input type="radio" name="BEvaluationType" value="2" 
                                       @if(@ViewBag.Data["m"].EvaluationType.ToString()=="2")
                                            {
                                                @:checked
                                             }      
                                           ><span>聯貸</span>
                                    <input type="radio" name="BEvaluationType" value="3" 
                                       @if(@ViewBag.Data["m"].EvaluationType.ToString()=="3")
                                            {
                                                @:checked
                                             }      
                                           ><span>其他</span>
                                    <input type="text" class="form-control"  name="BEvaluationTypeETC" style="width:25%;margin-top:-8px" value="@ViewBag.Data["m"].EvaluationTypeETC">

                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">評估紀錄摘要</label>
                                <div class="col-sm-8"><textarea   name="BEvaluationResult" rows="3" class="form-control" >@ViewBag.Data["m"].EvaluationResult</textarea></div>
                            </div>

                        </div>
                        <!---->
                       
                        @for (int i = 0; i < @ViewBag.Data2.Count; i++)
                        {
                            <div id="DetailLand">
                            <div class="ibox-c-subtitle">土地明細</div>
                                <div class="row" id="@ViewBag.Data2[i]["m"].ID.ToString()">
                                    <div class="col-sm-6 form-group">
                                        <label for="" class="col-sm-3 control-label">土地財產編號</label>
                                        <div class="col-sm-6 text-lineH-fix">@ViewBag.Data2[i]["l"].Asset_Number</div>
                                    </div>

                                    <div class="col-sm-6 form-group">
                                        <label for="" class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6" style="text-align:right"><a href="@Url.Action("ContentDetail_2","EvaluationSearch")" target="_blank" class="btn btn-gray"><i class="fa fa-search"> 查看土地詳情 </i></a></div>
                                    </div>

                                    <div class="col-sm-6 form-group">
                                        <label for="" class="col-sm-3 control-label">資產分類</label>
                                        <div class="col-sm-6 text-lineH-fix">@ViewBag.Data2[i]["l"].Asset_Category_code</div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-sm-9 form-group">
                                        <label for="" class="col-sm-2 control-label">土地坐落</label>
                                        <div class="col-sm-9 text-lineH-fix">@ViewBag.Data2[i]["l"].City_Name@ViewBag.Data2[i]["l"].District_Name @ViewBag.Data2[i]["l"].Section_Name@ViewBag.Data2[i]["l"].Sub_Section_Name @ViewBag.Data2[i]["l"].Parent_Land_Number-@ViewBag.Data2[i]["l"].Filial_Land_Number</div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-sm-6 form-group">
                                        <label for="" class="col-sm-3 control-label">土地面積</label>
                                        <div class="col-sm-6 text-lineH-fix">@ViewBag.Data2[i]["l"].Area_Size  m2</div>
                                    </div>

                                    <div class="col-sm-6 form-group">
                                        <label for="" class="col-sm-3 control-label">建物基地權利範圍</label>
                                        <div class="col-sm-6 text-lineH-fix">@ViewBag.Data2[i]["l"].Authorized_Scope_Molecule / @ViewBag.Data2[i]["l"].Authorized_Scope_Denomminx</div>
                                    </div>

                                    <div class="col-sm-6 form-group">
                                        <label for="" class="col-sm-3 control-label">土地帳面價值<br>( 截至 @ViewBag.Data["ma"].sDeadLine )</label>
                                        <div class="col-sm-6 text-lineH-fix">@ViewBag.Data2[i].logCurrent_Cost 元</div>
                                    </div>

                                    <div class="col-sm-6 form-group">
                                        <label for="" class="col-sm-3 control-label">分行查估土地市場價值</label>
                                        <div class="col-sm-4"><input BID="@ViewBag.Data2[i]["m"].ID.ToString()" name="Current_Cost" type="text" class="form-control" value="@ViewBag.Data2[i]["m"].Current_Cost" /> </div>
                                        <div class="col-sm-2 text-lineH-fix" style="padding:0"><span> 元</span></div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-sm-9 form-group">
                                        <label for="" class="col-sm-2 control-label">估價方法</label>
                                        <div class="col-sm-9 checkbox-list"   >
                                            <input type="radio" BID="@ViewBag.Data2[i]["m"].ID.ToString()" name="EvaluationType_@ViewBag.Data2[i]["m"].ID.ToString()" value="0" 
                                            @if(@ViewBag.Data2[i]["m"].EvaluationType.ToString()=="0")
                                            {
                                                @:checked
                                             }
                                             ><span>一般估價</span>
                                            <input type="radio" BID="@ViewBag.Data2[i]["m"].ID.ToString()" name="EvaluationType_@ViewBag.Data2[i]["m"].ID.ToString()" value="1" 
                                            @if(@ViewBag.Data2[i]["m"].EvaluationType.ToString()=="1")
                                            {
                                                @:checked
                                             }
                                            ><span>混同估價</span>
                                            <input type="radio" BID="@ViewBag.Data2[i]["m"].ID.ToString()" name="EvaluationType_@ViewBag.Data2[i]["m"].ID.ToString()" value="2" 
                                               @if(@ViewBag.Data2[i]["m"].EvaluationType.ToString()=="2")
                                            {
                                                @:checked
                                             }      
                                             ><span>聯貸</span>
                                            <input type="radio" BID="@ViewBag.Data2[i]["m"].ID.ToString()" name="EvaluationType_@ViewBag.Data2[i]["m"].ID.ToString()" value="3" 
                                            @if(@ViewBag.Data2[i]["m"].EvaluationType.ToString()=="3")
                                            {
                                                @:checked
                                             }      
                                            ><span>其他</span>
                                            <input type="text"  BID="@ViewBag.Data2[i]["m"].ID.ToString()" name="EvaluationTypeETC" class="form-control" style="width:25%;margin-top:-8px" value="@ViewBag.Data2[i]["m"].EvaluationTypeETC">

                                        </div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-sm-6 form-group">
                                        <label for="" class="col-sm-3 control-label">評估紀錄摘要</label>
                                        <div class="col-sm-8"><textarea  BID="@ViewBag.Data2[i]["m"].ID.ToString()" name="EvaluationResult" rows="3" class="form-control" >@ViewBag.Data2[i]["m"].EvaluationResult</textarea></div>
                                    </div>
                                </div>
                            </div>
                        }
                        

                        <div class="ibox-c-subtitle">評估紀錄</div>
                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label">上傳執行情形報告表</label>
                            <div class="col-sm-8">
                                <input id="uploadFile" placeholder="" class="form-control " style="width:30%;float:left" />
                                <div class="fileUpload btn btn-gray" style="border-radius: 0 3px 3px 0; float:left">
                                    <span><i class="fa fa-search"> 瀏 覽 </i></span>
                                    <input id="uploadBtn" type="file" class="upload" />
                                </div>
                                <div style="margin-left:5px;float:left" id="prevpic"></div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label">備註</label>
                            <div class="col-sm-9"><input type="text" name="DESCRIPTION" class="form-control" value="@ViewBag.Data["m"].DESCRIPTION" /></div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="ibox-c-subtitle">評估紀錄</div>

                        <div class="table-responsive" style="margin-bottom:50px">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>評估起案時間</th>
                                        <th>評估方式</th>
                                        <th>房屋主建物帳面價值</th>
                                        <th>分行查估房屋市場價值</th>
                                        <th>單據編號</th>
                                        <th>案件狀況</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @for (int i = 0; i < ViewBag.HL.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                @if (ViewBag.HL[i].m.BeginDate.ToString() == "")
                                                {
                                                    @ViewBag.HL[i].m.BeginDate;
                                                }
                                                else
                                                {
                                                    @Html.Raw(((DateTime)@ViewBag.HL[i]["m"]["BeginDate"]).AddYears(-1911).ToString("yyy/MM/dd"));
                                                }
                                            </td>
                                            <td>@ViewBag.HL[i].ST</td>
                                            <td>@ViewBag.HL[i].CC</td>
                                            <td>@ViewBag.HL[i].d.Current_Cost</td>
                                            <td><a href="@Url.Action("Detail",new{ id = @ViewBag.HL[i].d["BID"].ToString()})" target="_blank">@ViewBag.HL[i].m.TRX_Header_ID</a></td>
                                            
                                            <td>
                                                @if (@ViewBag.HL[i].d["Type"].ToString() == "0")
                                                {
                                                    @:總行指定
                                           }
                                                @if (@ViewBag.HL[i].d["Type"].ToString() == "1")
                                                {
                                                    @:起案
                                           }
                                                @if (@ViewBag.HL[i].d["Type"].ToString() == "2")
                                                {
                                                    @:執行中
                                           }
                                                @if (@ViewBag.HL[i].d["Type"].ToString() == "3")
                                                {
                                                    @:結案
                                           }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" onclick="SaveF()" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("uploadBtn").onchange = function () {
        document.getElementById("uploadFile").value = this.files[0].name;
       // Savepic(this);
    };
    function SaveF() {
        Savepic($("#uploadBtn")[0]);
        var ss = [{}];
        $("#DetailLand .row").find("[name=Current_Cost]").each(
            function (i, e) {
                ss[i] = new Object();
                ss[i].ID = e.attributes["BID"].value.toString();
                ss[i].Current_Cost = e.value;
                ss[i].EvaluationType = $("[name=EvaluationType_"+e.attributes["BID"].value.toString()+"]:checked").val();
                ss[i].EvaluationTypeETC = $("[name=EvaluationTypeETC][BID=" + e.attributes["BID"].value.toString() + "]")[0].value;
                ss[i].EvaluationResult = $("[name=EvaluationResult][BID=" + e.attributes["BID"].value.toString() + "]")[0].value;
            });
        var bu = {};
        bu["Current_Cost"] = $("[name=BCurrent_Cost]")[0].value;
        bu["EvaluationTypeETC"] = $("[name=BEvaluationTypeETC]")[0].value;
        bu["EvaluationResult"] = $("[name=BEvaluationResult]")[0].value;
        bu["DESCRIPTION"] = $("[name=DESCRIPTION]")[0].value;
        bu["EvaluationType"] = $("[name=BEvaluationType]:checked").val();
        bu["Type"] = $("[name=Type]:checked").val();
        bu["ID"] = "@ViewBag.Data["m"].ID";
        var rs = { "Land": ss ,"Build":bu};
        console.dir(JSON.stringify(rs));
   
            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveF")",
                data: "s=" + JSON.stringify(rs),
                success: function (data) {
                    location.reload(true);
                }
            });

     
    }
    function Savepic(ele) {
        var blobFile = ele.files[0];
        var formData = new FormData();
        formData.append("file", blobFile);
        formData.append("UID", '@ViewBag.ID');
        $.ajax({
            url: "@Url.Action("SavePic")",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            async: false,
            success: function (data) {
                Getpiclist();
                // $("#prevpic")[0].innerHTML = '<img src="' + '@Url.Action("LoadPic")' + '/?filename=' + data + '">&nbsp;&nbsp;';
            }
        });

    }
    function Getpiclist() {
        $.ajax({
            url: "@Url.Action("GetPicList")",
            type: "POST",
            data: 'ID=' + '@ViewBag.ID',
            async: false,
            success: function (data) {
                var da = JSON.parse(data);
                console.dir(da);
                var st = "";
                for (var i = 0 ; i < da["Data"].length ; i++) {
                    st += '<div><a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Content/upload/' + da["Data"][i].ID.toString()+'_' + da["Data"][i].PN.toString() + '">' + da["Data"][i].PN.toString() + '</a></div>'
                }
                $("#prevpic")[0].innerHTML = st;
            }
        });

    }
    Getpiclist();
</script>