﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>新增/編輯單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.RouteUrl( new {controller = "Home" , Action="Index"})">首頁</a>
            </li>
            <li>
                <a href="#">資產評估作業</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">房屋評估作業</a>
            </li>
            <li>
                <a href="#">新增/編輯單據</a>
            </li>
        </ol>
    </div>
</div>

<script src="/Scripts/plugins/blockui/jquery.blockUI.js"></script>
<script>
    var OrderID = '@ViewBag.ID';
    var changeedit = 0;
    function UpdateOrder(e)
    {
        $('#form').attr('action', '@Url.Action("UpdateOrder")');
        $('#form [name=SaveMode]')[0].value = e;
        if (top["tmpL"] != undefined)
            $('#form [name=DataB]')[0].value = top["tmpL"].toString();

        $('#form').submit();
    }
    function GetH(data,page) {
        var data = {};
        if (top["tmpL"] != undefined)
            data["ID"] = top["tmpL"];

        var con = JSON.stringify(data);
        $.ajax({
            url: "@Url.Action("EditH")",
            type: "post",
        async: true,
        data: "json=" + con + "&page="+page + "&AID=" + OrderID,
        success: function (data) {
            $("#SP").html(data);
        }
    })
    }
</script>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><span class="text-success">【步驟一】</span> 新增單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form id="form" method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="Document_Type" value="7002">
                                        <option value="7002">房屋評估單</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="Source_Type" value="" >
                                        @if (ViewBag.isnew)
                                        {
                                           @: <option value="8002">分行自行評估</option>
                                        }
                                        else
                                        {

                                            for (int i = 0; i < ViewBag.DocumentType["Data"].Count; i++)
                                            {
                                                if (ViewBag.EdOrd.mh.Source_Type.ToString() == @ViewBag.DocumentType["Data"][i].mh.ID.ToString())
                                                {
                                                    <option value="@ViewBag.DocumentType["Data"][i].mh.ID">@ViewBag.DocumentType["Data"][i].mh.Name</option>
                                                }

                                            }

                                        }
                                       
                                    </select>

                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.No</div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 帳本</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="BOOK_TYPE_CODE" id="">
                                        <option value="NTD_RE_IFRS">NTD_RE_IFRS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 單據處理日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input name="BeginDate" type='text' class="form-control" value="@ViewBag.DateNow" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control"   name="Office_Branch0" onchange="BranchC(this)" value="@ViewBag.User.Branch_Code">
                                        @if (ViewBag.isnew)
                                        {
                                            @:<option value="@ViewBag.User.Branch_Code">@ViewBag.User.Branch_Code @ViewBag.User.Branch_Name</option>
                                        }
                                        else
                                        {
                                        <option value="001">001 總行</option>
                                            for (int i = 0; i < ViewBag.ju1["Data"].Count; i++)
                                            {
            <option value="@ViewBag.ju1["Data"][i].mh.Branch_Code">@ViewBag.ju1["Data"][i].mh.Branch_Code @ViewBag.ju1["Data"][i].mh.Department_Name</option>
                                            }
   }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" name="Office_Branch1" onchange="BranchD(this)" id="" value="@ViewBag.User.Department_Code">
                                        @if (ViewBag.isnew)
                                        {
                                            @:<option value="@ViewBag.User.Department_Code">@ViewBag.User.Department_Code @ViewBag.User.Department_Name</option>
                                        }
                                        else
                                        {
                                            for (int i = 0; i < ViewBag.ju2["Data"].Count; i++)
                                            {
                                                <option value="@ViewBag.ju2["Data"][i].mh.Department">@ViewBag.ju2["Data"][i].mh.Department @ViewBag.ju2["Data"][i].mh.Department_Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 評估截止日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input name="DeadLine" type='text' class="form-control" value="@ViewBag.DateNow" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 預計結案日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input name="EndDate" type='text' class="form-control" value="@ViewBag.DateNow" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix text-primary-re">@ViewBag.State</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註</label>
                                <div class="col-sm-9"><input name="DESCRIPTION" type="text" class="form-control" value="" /></div>
                            </div>
                            <input type="text" name="Office_Branch" style="display:none" value="@ViewBag.User.Department_Code" />
                            <input type="text" name="SaveMode" style="display:none" value="" />
                            <input type="text" name="DataB" style="display:none" value="" />
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label><span class="text-success">【步驟二】</span></label>
                                    <a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary"><i class="fa fa-search"> 搜尋/導入資產 </i></a>
                                </td>
                            </tr>
                        </table>
                        <div id="SP">

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"><span>【步驟三】</span></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-splitdata" class="btn btn-success" data-toggle="modal"><i class="fa fa-long-arrow-right"> 提 交 </i></a>
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger"><i class="fa fa-trash"> 刪 除 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" onclick="UpdateOrder(0);"  data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-splitdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定提交嗎？</h3>
                        <button class="btn btn-sm btn-primary"  onclick="UpdateOrder(1);" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-deletedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定刪除嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("EditSelect")
<script>
    var c = false;
    @if (!ViewBag.isnew) {

       @:$("[name=Document_Type]")[0].value = "@ViewBag.EdOrd.mh.Document_Type";
                   @:$("[name=Source_Type]")[0].value = "@ViewBag.EdOrd.mh.Source_Type";
                   @:$("[name=BOOK_TYPE_CODE]")[0].value = "@ViewBag.EdOrd.mh.BOOK_TYPE_CODE";
                   @:$("[name=Office_Branch]")[0].value = "@ViewBag.EdOrd.mh.Office_Branch";
                   @:$("[name=DESCRIPTION]")[0].value = "@ViewBag.EdOrd.mh.DESCRIPTION";
                   @:$("[name=DeadLine]")[0].value = "@ViewBag.EdOrd.mh.sDeadLine";
                   @:$("[name=EndDate]")[0].value = "@ViewBag.EdOrd.mh.sEndDate";
                   @:$("[name=BeginDate]")[0].value = "@ViewBag.EdOrd.DateY/@ViewBag.EdOrd.DateM.ToString().PadLeft(2, '0')/@ViewBag.EdOrd.DateD.ToString().PadLeft(2, '0')";
                      @:$("[name=Office_Branch1]")[0].value = "@ViewBag.EdOrd.mh.Office_Branch";
            @: if ($("[name=Office_Branch1]")[0].value == "") {
                                       @: $("[name=Office_Branch0]")[0].value = "@ViewBag.EdOrd.mh.Office_Branch";
                               @: $("[name=Office_Branch1]")[0].style.display = "none";
                      @: }

                }
    function BranchC(e) {
        if (e.value == "001") {
            $("[name=Office_Branch1]")[0].style.display = "";
            $("[name=Office_Branch1]")[0].selectedIndex = 0;
            $("[name=Office_Branch]")[0].value = $("[name=Office_Branch1]")[0].value;
        }
        else {
            $("[name=Office_Branch1]")[0].style.display = "none";
            $("[name=Office_Branch1]")[0].value = e.value;
            $("[name=Office_Branch]")[0].value = e.value;
        }
    }
    function BranchD(e) {

        $("[name=Office_Branch]")[0].value = e.value;

    }
    function check_all(obj, btag) {
        var checkboxs = $("[btag=" + btag + "]");
        for (var i = 0; i < checkboxs.length; i++) { checkboxs[i].checked = obj.checked; }
    }
    function deleteme(e) {
        if (confirm("確定要刪除這筆資料嗎?")) {
            changeedit = 1;
            for (var i = 0 ; i < top["tmpL"].length ; i++) {
                if (top["tmpL"][i] == e.parentElement.parentElement.attributes.btag.value) {
                    top["tmpL"].splice(i, 1);
                    break;
                }
            }
            e.parentElement.parentElement.remove();

            var data = {};
            data["ID"] = top["tmpL"];

            var con = JSON.stringify(data);
            GetH(con);
        }
    }


    function GetList1(page) {
        $('#SP').block({
            message: '<h1>正在查询，请稍候……</h1>',
            css: {
                border: '3px solid khaki'
            }
        });
        var data = {};
        data["ID"] = "";
        if (top["tmpL"] != undefined)
            data["ID"] = top["tmpL"];

        con = "json=" + JSON.stringify(data) + "&page=" + page + "&AID=" + OrderID;
        $.ajax({
            url: "@Url.Action("EditH")",
            type: "post",
            data: con,
            complete: function () { $('#SP').unblock(); },
            async: true,
            success: function (data) {
                $("#SP").html(data);
            }
        })
    }

    GetH();
</script>