﻿@using InspiniaWebAdminTemplate.Models.MP
@using Library.Servant.Servant.MP.MPModels
@model AssetViewModel
@{
    if (Convert.ToBoolean(ViewBag.SignMode))
    {
        Layout = "~/Views/Shared/_EmptyLayout.cshtml";
        ViewBag.Title = "檢視資產";
    }

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var Header = TempData["Header"] as MPHeaderViewModel;
    TempData["Header"] = Header;
    var DeprnRecord = TempData["DeprnRecord"] as IEnumerable<DeprnRecordModel>;
    TempData["DeprnRecord"] = Header;

    //是否可以編輯
    bool CanEdit = (Header != null && (Header.Flow_Status == "0" || Header.Flow_Status == "3" || Header.Flow_Status == "4"));

    bool IsMP = controllerName.IndexOf("LeaseRights") < 0;
}

<script>
    $(function () {
        $('#Asset_Category_Code_Main_Kind').change(function () {
                GetAssetNumber();
        });
        $('#Asset_Category_Code_Detail_Kind').change(function () {
                GetAssetNumber();
        });

        //財務編號事件
        $('#Assets_Category_ID').change(function () {
            if ($(this).val() != '')
            {
                GetAssetInfo($(this).val());
            }
        });

        //預設灰底的input
        $('#Asset_Category_Code_Use_Types').attr('readonly', 'readonly').css('pointer-events', 'none');
        $('#Asset_Number').attr('readonly', 'readonly').css('pointer-events', 'none');
        $('#Book_Type_Code').attr('readonly', 'readonly').css('pointer-events', 'none');
        $('#Date_Placed_In_Service').attr('readonly', 'readonly').css('pointer-events', 'none');
        $('#Assets_Unit').attr('readonly', 'readonly').css('pointer-events', 'none');
        $('#Office_Branch_Branch').attr('readonly', 'readonly').css('pointer-events', 'none');
        $('#Office_Branch_Dept').attr('readonly', 'readonly').css('pointer-events', 'none');
        $('#C1').attr('readonly', 'readonly').css('pointer-events', 'none');
        $('#Assets_Name').attr('readonly', 'readonly').css('pointer-events', 'none');
        $('#Life_Years').attr('readonly', 'readonly').css('pointer-events', 'none');

        @if (!CanEdit)
        {
            <text>
                //讓所有表單物件readonly
                $("#form input").prop("disabled", true).prop("readonly", true);
                $("#form select").prop("disabled", true).prop("readonly", true);
            </text>
        }
    });

    function Save()
    {
        var url = "@((ViewBag.Title == "新增資產") ? Url.Action("Asset_Create") : Url.Action("Asset_Update"))";
        $('#form').attr('action', url);
        return ValidHeader();
    }
    function GetAssetInfo(Assets_Category_ID)
    {
        $.ajax({
            url: '@Url.Action("GetAssetInfo", "MPAdded")',
            data: 'Assets_Category_ID=' + Assets_Category_ID,
            type: 'post',
            success: function (data) {
                if (data.IsSuccess)
                {
                    $('#Assets_Name').val(data.Asset.Assets_Name);
                    $('#Life_Years').val(data.Asset.Life_Years);
                }
                else
                {
                    alert('查無此資產!!');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        })
    }
    function GetParentNumber()
    {
        $('#span_Assets_Parent_Number').text($('#Assets_Parent_Number_S').children(':selected').text());
        $('#hdAssets_Parent_Number').val($('#Assets_Parent_Number_S').val());

        $.ajax({
            url: '@Url.Action("GetAssetByAssetNumber", "MPAdded")',
            data: 'AssetNumber=' + $('#hdAssets_Parent_Number').val(),
            type: 'post',
            success: function (data) {
                //IsOversea
                if (data.IsOversea != '')
                {
                    $('#IsOversea1').prop('checked', 'checked');
                }
                else
                {
                    $('#IsOversea2').prop('checked', 'checked');
                }
                //Asset_Category_Code
                if (data.Asset_Category_Code)
                {
                    MainKind =  data.Asset_Category_Code.split(".")[0];
                    DetailKind = data.Asset_Category_Code.split(".")[1];
                    UseType = data.Asset_Category_Code.split(".")[2];

                    BindMain_Kind('Asset_Category_Code', MainKind, DetailKind, 'AccountItem');
                    BindUse_Types('Asset_Category_Code', UseType);
                }
                //Assets_Name
                $('#Assets_Name').val(data.Assets_Name);
                //Assets_Alias
                $('#Assets_Alias').val(data.Assets_Alias);
                //Asset_Number
                $('#Asset_Number').val(data.Asset_Number);
                //Assets_Original_ID
                $('#Assets_Original_ID').val(data.Assets_Original_ID);
                //Life_Years
                $('#Life_Years').val(data.Life_Years);
                //Assets_Category_ID
                $('#Assets_Category_ID').val(data.Assets_Category_ID);
                //Deprn_Method_Code
                $('#Deprn_Method_Code').val(data.Deprn_Method_Code);
                //Date_Placed_In_Service
                $('#Date_Placed_In_Service').val(data.Date_Placed_In_Service_Str);
                //Assets_Unit
                $('#Assets_Unit').val(data.Assets_Unit);
                //Location_Disp
                if(data.Location_Disp != '')
                {
                    Branch = data.Location_Disp.split(".")[0];
                    Dept = data.Location_Disp.split(".")[1];
                    SubDept = data.Location_Disp.split(".")[2];
                    Floor = data.Location_Disp.split(".")[3];
                    Memo = data.Location_Disp.split(".")[4];

                    BindControl('@(Url.Action("GetKeep_Position", "MPAdded"))', 'Branch', 'Location_Disp_Branch', Branch);
                    BindControl('@(Url.Action("GetKeep_Position", "MPAdded"))', 'Dept', 'Location_Disp_Dept', Dept);
                    BindControl('@(Url.Action("GetKeep_Position", "MPAdded"))', 'SubDept', 'Location_Disp_SubDept', SubDept);
                    BindControl('@(Url.Action("GetKeep_Position", "MPAdded"))', 'Floor', 'Location_Disp_Floor', Floor);
                    $('#Location_Disp_Memo').val(Memo).change();
                }
                //Assigned_Branch
                if(data.Assigned_Branch != '')
                {
                    Branch = data.Assigned_Branch.split(".")[0];
                    Dept = data.Assigned_Branch.split(".")[1];
                    SubDept = data.Assigned_Branch.split(".")[2];

                    BindControl_AssignedBranch('@(Url.Action("GetKeep_Position", "MPAdded"))', 'Branch', 'Assigned_Branch_Branch', Branch);
                    BindControl_AssignedBranch('@(Url.Action("GetKeep_Position", "MPAdded"))', 'Dept', 'Assigned_Branch_Dept', Dept);
                    BindControl_AssignedBranch('@(Url.Action("GetKeep_Position", "MPAdded"))', 'SubDept', 'Assigned_Branch_SubDept', SubDept);
                }
                //PO_Number
                $('#PO_Number').val(data.PO_Number);
                //PO_Description
                $('#PO_Description').val(data.PO_Description);
                //Model_Number
                $('#Model_Number').val(data.Model_Number);
                //Transaction_Date
                $('#Transaction_Date').val(data.Transaction_Date_Str);
                //Assets_Fixed_Cost
                $('#Assets_Fixed_Cost').val(data.Assets_Fixed_Cost);
                //Currency
                $('#C1').val(data.Currency);
                $('#C2').val(data.Currency);
                $('#C3').val(data.Currency);
                //Deprn_Reserve
                $('#Deprn_Reserve').val(data.Deprn_Reserve);
                //Salvage_Value
                $('#Salvage_Value').val(data.Salvage_Value);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    function GetAssetNumber()
    {
        var MainKind = $('#Asset_Category_Code_Main_Kind').val();
        var DetailKind = $('#Asset_Category_Code_Detail_Kind').val();

        if (MainKind && MainKind != '' && DetailKind && DetailKind != '')
        {
            $.ajax({
                url: '@Url.Action("GetAssetNumber", "MPAdded")',
                data: 'MainKind=' + MainKind + '&DetailKind=' + DetailKind,
                type: 'post',
                success: function (data) {
                    $('#Asset_Number').val(data);
                    @if(Model != null && !string.IsNullOrEmpty(Model.Asset_Number))
                    {
                        <text>
                            $('#Asset_Number').val('@Model.Asset_Number');
                        </text>
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }
    }
    function ValidHeader()
    {
        var error = "";
        if ($('#Asset_Category_Code_Main_Kind').val() == "") {
            error += "[資產分類]為必填!\n";
        }
        if ($('#Assets_Name').val() == "") {
            error += "[財產名稱]為必填!\n";
        }
        if ($('#Assets_Alias').val() == "") {
            error += "[財產名稱-財產別名]為必填!\n";
        }
        if ($('#Asset_Number').val() == "") {
            error += "[資產編號]為必填!\n";
        }
        if ($('#Assets_Original_ID').val() == "") {
            error += "[原資產編號]為必填!\n";
        }
        if ($('#Life_Years').val() == "") {
            error += "[耐用年限]為必填!\n";
        }
        if ($('#Assets_Category_ID').val() == "") {
            error += "[財物編號]為必填!\n";
        }
        if ($('#Location_Disp_Branch').val() == "") {
            error += "[放置地點]為必填!\n";
        }
        if ($('#Assigned_Branch_Branch').val() == "") {
            error += "[保管單位]為必填!\n";
        }
        if ($('#Assigned_Branch_Assigned_ID').val() == "") {
            error += "[保管人]為必填!\n";
        }
        if ($('#PO_Number').val() == "") {
            error += "[採購案號]為必填!\n";
        }
        if ($('#Model_Number').val() == "") {
            error += "[廠牌規格]為必填!\n";
        }
        if ($('#Transaction_Date').val() == "") {
            error += "[驗收日期]為必填!\n";
        }
        if ($('#Assets_Fixed_Cost').val() == "") {
            error += "[資產成本]為必填!\n";
        }
        if (($('#Asset_Category_Code_Detail_Kind').val() == "000020" || $('#Asset_Category_Code_Detail_Kind').val() == "000021") && $('#LicensePlateNumber').val() == "") {
            error += "[車牌]為必填!\n";
        }
        if ($('#Asset_Category_Code_Detail_Kind').val() == "000032" && $('#MachineCode').val() == "") {
            error += "[機號]為必填!\n";
        }

        if(error != '')
        {
            alert(error);
        }

        return (error == '');
    }
</script>
@if (!Convert.ToBoolean(ViewBag.SignMode))
{
    <text>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-10">
                <h2>@ViewBag.Title</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="@Url.Action("Index", "Home")">首頁</a>
                    </li>
                    <li>
                        <a href="#">@((IsMP ? "動產管理" : "租賃管理"))</a>
                    </li>
                    <li>
                        <a href="#">@(MPHelper.GetFunctionTitle(controllerName) + "作業")</a>
                    </li>
                    <li>
                        <a href="#">@ViewBag.FunctionFrom</a>
                    </li>
                    <li>
                        <a href="#">@ViewBag.Title</a>
                    </li>
                </ol>
            </div>
        </div>
    </text>
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <form id="form" method="post" class="form-horizontal">
                    <input type="hidden" name="ID" value="@((Model != null)?Model.ID:0)" />
                    <div class="ibox-title">
                        <h5>@ViewBag.Title</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">母資產</label>
                                <div class="col-sm-3">
                                    <span id="span_Assets_Parent_Number">@((Model != null) ? Model.Assets_Parent_Number : "")</span>
                                    <input type="hidden" id="hdAssets_Parent_Number" name="Assets_Parent_Number" value="@((Model != null)?Model.Assets_Parent_Number:"")" />
                                </div>
                                <div class="col-sm-7">
                                    @if (CanEdit)
                                    {
                                        <button href="#modal-form-importdata" data-toggle="modal" class="btn btn-gray"><i class="fa fa-plus"></i>設定母資產</button>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">國內/海外資產</label>
                                <div class="col-sm-2">
                                    <input type="radio" id="IsOversea1" name="IsOversea" value="" @(Model != null && string.IsNullOrEmpty(Model.IsOversea) ? "checked" : "") />國內資產
                                </div>
                                <div class="col-sm-8">
                                    <input type="radio" id="IsOversea2" name="IsOversea" value="Y" @(Model != null && !string.IsNullOrEmpty(Model.IsOversea) ? "checked" : "") />海外資產
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right"><span style="color:red">*</span>資產分類</label>
                                @AssetCategoryControl.GenAssetCategoryControl("Asset_Category_Code", "Asset_Category_Code", (Model != null) ? Model.Asset_Category_Code : "", "AccountItem", "", "MP")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span style="color:red">*</span>財產名稱</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Assets_Name" name="Assets_Name" value="@((Model != null)?Model.Assets_Name:"")" />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span style="color:red">*</span>財產名稱-財產別名</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Assets_Alias" name="Assets_Alias" value="@((Model != null)?Model.Assets_Alias:"")" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span style="color:red">*</span>資產編號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Asset_Number" name="Asset_Number" value="@((Model != null)?Model.Asset_Number:"")" />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span style="color:red">*</span>原資產編號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Assets_Original_ID" name="Assets_Original_ID" value="@((Model != null)?Model.Assets_Original_ID:"")" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span style="color:red">*</span>耐用年限</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Life_Years" name="Life_Years" value="@((Model != null)?Model.Life_Years:0)" />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span style="color:red">*</span>財物編號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Assets_Category_ID" name="Assets_Category_ID" value="@((Model != null)?Model.Assets_Category_ID:"")" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span style="color:red">*</span>@(IsMP ? "折舊方式" : "攤銷方式")</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="Deprn_Method_Code" id="Deprn_Method_Code">
                                        <option value="STL" @((Model != null) && Model.Deprn_Method_Code == "STL" ? "selected" : "")>STL</option>
                                        <option value="不折舊" @((Model != null) && Model.Deprn_Method_Code == "不折舊" ? "selected" : "")>不折舊</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">帳本</label>
                                <div class="col-sm-8">
                                    @DropDownControl.GenDropDownControl("Book_Type_Code", "Book_Type_Code", "V01", ((Header != null && !string.IsNullOrEmpty(Header.Book_Type)) ? Header.Book_Type : ""), false, "C")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">啟用日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' name="Date_Placed_In_Service" id="Date_Placed_In_Service" class="form-control" value="@((Model != null && Model.Date_Placed_In_Service.HasValue)?Model.Date_Placed_In_Service.Value.ToShortDateString():"")" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">單位量</label>
                                <div class="col-sm-8">
                                    <input type="text" name="Assets_Unit" id="Assets_Unit" class="form-control" value="@((Model != null)?Model.Assets_Unit:0)" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right"><span style="color:red">*</span>放置地點</label>
                                @AssetLocationDispControl.GenAssetLocationDispControl("Location_Disp", "Location_Disp", (Model != null && !string.IsNullOrEmpty(Model.Location_Disp)) ? Model.Location_Disp : "", "1")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">資產會計科目</label>
                                <div class="col-sm-10">
                                    <label id="AccountItem"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">折舊費用科目</label>
                                <div class="col-sm-10">
                                    <label></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-title">
                        <h5>動產資訊</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            @AssetAssignedBranchControl.GenAssetAssignedBranchControl("Assigned_Branch", "Assigned_Branch", Model.Assigned_Branch, Model.Assigned_ID)
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span style="color:red">*</span>採購案號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="PO_Number" name="PO_Number" value="@((Model != null)?Model.PO_Number:"")" />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">採購描述</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="PO_Description" name="PO_Description" value="@((Model != null)?Model.PO_Description:"")" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span style="color:red">*</span>廠牌規格</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Model_Number" name="Model_Number" value="@((Model != null)?Model.Model_Number:"")" />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span style="color:red">*</span>驗收日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" id="Transaction_Date" name="Transaction_Date" value="@((Model != null&&Model.Transaction_Date.HasValue)?Model.Transaction_Date.Value.ToShortDateString():"")" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">附屬設備</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AccessoryEquipment" id="AccessoryEquipment" value="@((Model != null && !string.IsNullOrEmpty(Model.AccessoryEquipment))?Model.AccessoryEquipment:"")" />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">財物單位</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="PropertyUnit" id="PropertyUnit" value="@((Model != null && !string.IsNullOrEmpty(Model.PropertyUnit))?Model.PropertyUnit:"")" />
                                </div>
                            </div>
                        </div>
                        @if (IsMP)
                        {
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label" align="right">機號</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="MachineCode" id="MachineCode" value="@((Model != null && !string.IsNullOrEmpty(Model.MachineCode))?Model.MachineCode:"")" />
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label" align="right">車牌</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="LicensePlateNumber" id="LicensePlateNumber" value="@((Model != null && !string.IsNullOrEmpty(Model.LicensePlateNumber))?Model.LicensePlateNumber:"")" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="ibox-title">
                        <h5>帳務資料與其他事項</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">管轄單位</label>
                                @AssetLocationDispControl.GenAssetLocationDispControl("Office_Branch", "Office_Branch", (Header != null) ? Header.Office_Branch : "", "3")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right"><span style="color:red">*</span>資產成本</label>
                                <div class="col-sm-2">
                                    @DropDownControl.GenDropDownControl("C1", "Currency", "Currency", Model.Currency)
                                </div>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control" id="Assets_Fixed_Cost" name="Assets_Fixed_Cost" value="@((Model != null)?Model.Assets_Fixed_Cost:0)" />
                                </div>
                                <label for="" class="col-sm-2 control-label" align="right">折舊費用</label>
                                <div class="col-sm-1">
                                    <input type="text" class="form-control" id="Deprn_Reserve" readonly name="Deprn_Reserve" value="@((Model != null)?Model.Deprn_Reserve:0)" />
                                </div>

                                <label for="" class="col-sm-2 control-label" align="right">殘值</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="Salvage_Value" readonly name="Salvage_Value" value="@((Model != null)?Model.Salvage_Value:0)" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">備註</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="Description" id="Description" value="@((Model != null && !string.IsNullOrEmpty(Model.Description))? Model.Description : "")" />
                                </div>
                            </div>
                        </div>
                    </div>
                    @*交易明細*@
                    @if (DeprnRecord != null && DeprnRecord.Count() > 0)
                    {
                        <text>
                            <div class="ibox-title">
                                <h5>交易明細</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>記帳時間</th>
                                                <th>單據類型</th>
                                                <th>單據編號</th>
                                                <th>摘要</th>
                                                <th>本次異動金額</th>
                                                <th>資產成本結餘</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in DeprnRecord)
                                            {
                                                <tr>
                                                    <td>@item.PostDate</td>
                                                    <td>@item.HeaderTypeName</td>
                                                    <td>@item.TrxID</td>
                                                    <td>@item.Remark</td>
                                                    <td>@item.DeprnCost</td>
                                                    <td>@item.AdjustedCost</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </text>
                    }
                    @*租賃的租約*@
                    @if (!IsMP)
                    {
                        <div class="ibox-title">
                            <h5>租約</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table-condensed" style="width:100%">
                                    <tr>
                                        <td style="text-align: right">
                                            <a href="#" class="btn btn-primary"><i class="fa fa-search"> 搜尋/導入租約 </i></a>
                                        </td>
                                    </tr>
                                </table>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>項次</th>
                                            <th>租約編號</th>
                                            <th>租約類型</th>
                                            <th>租約事務</th>
                                            <th>管轄單位</th>
                                            <th>帳號</th>
                                            <th>租賃期間</th>
                                            <th>檢視</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>   
                     }
                </form>
            </div>
        </div>
    </div>
    @if (ViewBag.Title != "檢視資產")
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td class="text-right">
                                        <a class="btn btn-default" href="@Url.Action("Edit", controllerName , new { id = Header.TRX_Header_ID })"><i class="fa fa-arrow-left">返回</i></a>
                                        @if (CanEdit)
                                        {
                                            <text>
                                                <button class="btn btn-primary" onclick="return Save();"><i class="fa fa-save">儲存</i></button>
                                            </text>
                                        }
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@*LightBox*@
<div id="modal-form-importdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title" style="border:0">
                                <h5>設定母資產</h5>
                                <div class="ibox-tools"> <a data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label for="" class="col-sm-2 control-label" align="right">資產分類</label>
                                        @AssetCategoryControl.GenAssetCategoryControl("Parent_Asset_Category_Code", "Parent_Asset_Category_Code", "", "", "Assets_Parent_Number_S", "MP")
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label for="" class="col-sm-2 control-label" align="right">資產編號/名稱</label>
                                        <div class="col-sm-6">
                                            <select id="Assets_Parent_Number_S" class="form-control"></select>
                                        </div>
                                        <div class="col-sm-4">
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="" class="pull-right">
                                            <button type="reset" data-dismiss="modal" class="btn btn-gray"><i class="fa fa-close"> 取 消 </i></button>
                                            <button class="btn btn-primary" data-dismiss="modal" onclick="GetParentNumber();"><i class="fa fa-search"> 確 定 </i></button>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

