﻿@using InspiniaWebAdminTemplate.Models.MP
@model AssetsIndexViewModel
@{
    var Header = (TempData["Header"] != null) ? TempData["Header"] : null;
    TempData["Header"] = Header;
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string functionName = MPHelper.GetFunctionTitle(controllerName);
    ViewBag.Title = "搜尋資產";
}

<script type="text/javascript">
    function ChangeAllCheckBox()
    {
        $('input[type="checkbox"][id!="ckAll"]').prop('checked', $('#ckAll').is(':checked'));
    }
    function AssetQuery()
    {
        $('#form').prop('action', '@Url.Action("Asset_Query")');
    }
    function Save()
    {
        $('#form').prop('action', '@Url.Action("AssetsToMP")');
        var AssetsList = [];
        $('input[type="checkbox"][id*="asset"]:checked').each(function () {
            if($(this).val())
            {
                AssetsList.push($(this).val());
            }
        });
        $('#AssetsList').val(AssetsList);

        if (AssetsList.length == 0)
        {
            alert("尚未選擇需導入之資產!!");
        }

        return (AssetsList.length != 0);
    }

    function Return()
    {

    }
</script>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">動產管理</a>
            </li>
            <li>
                <a href="#">@(functionName + "作業")</a>
            </li>
            <li>
                <a href="#">@ViewBag.FunctionFrom</a>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <form method="post" id="form" class="form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><span style="color:blue">[步驟一]</span>搜尋條件</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">資產分類</label>
                                @AssetCategoryControl.GenAssetCategoryControl("Asset_Category_Code", "Asset_Category_Code")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">財產名稱(關鍵字)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Assets_Name" />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">財產別名(關鍵字)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Assets_Alias" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">資產編號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Asset_Number" />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">財物編號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Assets_Category_ID" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">啟用日期</label>
                                <div class="col-sm-3">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="Date_Placed_In_Service_Start" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    ～
                                </div>
                                <div class="col-sm-3">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="Date_Placed_In_Service_End" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">資產年限結束日期</label>
                                <div class="col-sm-2">
                                    <=
                                </div>
                                <div class="col-sm-3">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="Deprn_Date" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">資產目前成本</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="Salvage_Value_Start" />
                                </div>
                                <div class="col-sm-1">
                                    ~
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="Salvage_Value_End" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">放置地點</label>
                                @AssetLocationDispControl.GenAssetLocationDispControl("Location_Disp", "Location_Disp")
                            </div>
                        </div>
                        <div class="row">
                                @AssetAssignedBranchControl.GenAssetAssignedBranchControl("Assigned_Branch", "Assigned_Branch")
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">採購案號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="PO_Number" />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">廠商規格(關鍵字)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Model_Number" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">附屬設備(關鍵字)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">備註(關鍵字)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Remark" />
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-danger"><i class="fa fa-remove">清除</i></button>
                                    <button type="submit" class="btn btn-primary" onclick="AssetQuery();"><i class="fa fa-search">搜尋</i></button>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">


                    <div class="ibox-content">
                        <div class="table-responsive">

                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <h5><span style="color:blue">[步驟二]</span></h5><label>共@((Model != null) ? Model.TotalAmount : 0)筆</label>
                                    </td>
                                </tr>
                            </table>

                            <table class="table table-striped">

                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="ckAll" onclick="ChangeAllCheckBox();" />全選</th>
                                        <th>項次</th>
                                        <th>資產編號</th>
                                        <th>財產名稱</th>
                                        <th>財產別名</th>
                                        <th>保管單位</th>
                                        <th>保管人</th>
                                        <th>目前成本</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @if (Model != null)
                                    {
                                        for (int i = 0; i < Model.Items.Count(); i++)
                                        {
                                            var item = Model.Items.ToList()[i];
                                            <tr>
                                                <td>
                                                    <input type="checkbox"  value="@item.Asset_Number" id="@("asset" + (i + 1))" />
                                                </td>
                                                <td>@(i + 1)</td>
                                                <td>@item.Asset_Number</td>
                                                <td>
                                                    @item.Assets_Name
                                                </td>
                                                <td>@item.Assets_Alias</td>
                                                <td>
                                                    @item.Assigned_BranchName
                                                </td>
                                                <td>
                                                    @item.Assigned_IDName
                                                </td>
                                                <td>
                                                    @item.Assets_Fixed_Cost
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                            <a id="page">
                                <div id="page_region"></div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td>
                                        <div class="text-left">
                                            <h5><span style="color:blue">[步驟三]</span></h5>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-default"><i class="fa fa-arrow-left" onclick="Return();">返回</i></button>
                                        <button class="btn btn-primary" type="submit" onclick="return Save();"><i class="fa fa-check">導入勾選資料</i></button>
                                        <input id="AssetsList" name="AssetsList" type="hidden" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.TotalAmount,//資料庫總筆數
                    page_size: @Model.condition.PageSize,//單頁筆數
                    page_now: @Model.condition.Page,//當前頁
                    center_page: @Model.condition.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("AssetsUpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });

            $('[data-toggle="tooltip"]').tooltip();

        })(jQuery);

    </script>
}




