﻿@using InspiniaWebAdminTemplate.Models.MP
@model ImportIndexViewModel
@{
    var Header = (TempData["Header"] != null) ? TempData["Header"] : null;
    TempData["Header"] = Header;

    var IRID = (TempData["IRID"] != null) ? TempData["IRID"] : "";
    TempData["IRID"] = IRID;
}

<script type="text/javascript">
    function ChangeAllCheckBox()
    {
        $('input[type="checkbox"][id!="ckAll"]').prop('checked', $('#ckAll').is(':checked'));
    }
    function ImportQuery()
    {
        $('#form').prop('action', '@Url.Action("Import_Query")');
        $('#form').submit();
    }
    function Save()
    {
        $('#form').prop('action', '@Url.Action("ImportToMP")');
        var ImportList = [];
        $('input[type="checkbox"][id*="import"]:checked').each(function () {
            if($(this).val())
            {
                ImportList.push($(this).val());
            }
        });
        $('#ImportList').val(ImportList);

        if (ImportList.length == 0)
        {
            alert("尚未選擇需導入之資產!!");
        }

        if (AssetsList.length != 0)
        {
            $('#form').submit();
        }

        return (AssetsList.length != 0);
    }

    function Return()
    {

    }
</script>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">動產管理</a>
            </li>
            <li>
                <a href="#">動產匯入作業</a>
            </li>
            <li>
                <a href="#">匯入資料送審</a>
            </li>
            <li>
                <a href="#">新增/ 編輯本批單據</a>
            </li>
            <li>
                <a href="#">批號查詢</a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <form method="post" id="form" class="form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 style="padding-right:10px; line-height:1.8em; font-size:14px; float:left"><span style="color:#0071C9">[步驟一]</span>搜尋欲導入的匯入單</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">匯入批次編號</label>
                                <div class="col-sm-3"><input type="text" class="form-control" name="ImportNumBegin" /></div>
                                <div class="col-sm-1" style="width:10px; padding:0; line-height:2.5em">～</div>
                                <div class="col-sm-3"><input type="text" class="form-control" name="ImportNumEnd" /></div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">匯入時間</label>
                                <div class="col-sm-3">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="ImportBeginDate" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1" style="width:10px; padding:0; line-height:2.5em">～</div>
                                <div class="col-sm-3">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="ImportEndDate" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">採購案號</label>
                                <div class="col-sm-3"><input type="text" class="form-control" name="PONumberBegin" /></div>
                                <div class="col-sm-1" style="width:10px; padding:0; line-height:2.5em">～</div>
                                <div class="col-sm-3"><input type="text" class="form-control" name="PONumberEnd" /></div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">匯入月份</label>
                                <div class="col-sm-6">
                                    <select class="form-control"  style="float:left;width:30%" name="ImportYear">
                                        <option value="">請選擇</option>
                                        <option value="106">106</option>
                                        <option value="107">107</option>
                                        <option value="108">108</option>
                                        <option value="109">109</option>
                                        <option value="110">110</option>
                                        <option value="111">111</option>
                                        <option value="112">112</option>
                                        <option value="113">113</option>
                                        <option value="114">114</option>
                                        <option value="115">115</option>
                                    </select> <span style="float:left; padding:0 10px 0 10px; line-height:2.5em">年</span>
                                    <select class="form-control"  style="float:left;width:30%" name="ImportMonth" >
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select> <span style="float:left; padding:0 10px 0 10px; line-height:2.5em">月</span>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span style="color:red">*</span>來源</label>
                                <div class="col-sm-8" style="margin-top:5px">
                                    @DropDownControl.GenDropDownControl("Source", "Source", "MPImportSource")
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">狀態</label>
                                <div class="col-sm-8">
                                    匯入成功
                                    <input type="hidden" name="Status" value="1"  />
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-danger"><i class="fa fa-remove">清除</i></button>
                                    <button type="button" class="btn btn-primary"><i class="fa fa-search" onclick="ImportQuery();">搜尋</i></button>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">


                    <div class="ibox-content">
                        <div class="table-responsive">

                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <h5 style="padding-right:10px; line-height:1.8em; font-size:14px; float:left"><span style="color:#0071C9">[步驟二]</span>共@(Model.TotalAmount)筆</h5>
                                    </td>
                                </tr>
                            </table>

                            <table class="table table-striped">

                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="ckAll" onclick="ChangeAllCheckBox();" />全選</th>
                                        <th>項次</th>
                                        <th>來源類型</th>
                                        <th>匯入批次編號</th>
                                        <th>匯入時間</th>
                                        <th>匯入總數</th>
                                        <th>需求單位</th>
                                        <th>匯入人員</th>
                                        <th>匯入單備註</th>
                                        <th>檢視</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @for (int i = 0; i < Model.Items.Count(); i++)
                                    {
                                        var item = Model.Items.ToList()[i];
                                        <text>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" value="@item.ID" id="@("import" + (i + 1))" />
                                                </td>
                                                <td>@(i + 1)</td>
                                                <td>@item.Source</td>
                                                <td>
                                                    @item.Import_Num
                                                </td>
                                                <td>@item.Create_Time.ToString("yyyy/MM/dd HH:mm")</td>
                                                <td>
                                                    @item.ImportAssetsCount
                                                </td>
                                                <td>
                                                    @item.Office_BranchName
                                                </td>
                                                <td>
                                                    @item.Created_ByName
                                                </td>
                                                <td>
                                                    @item.Remark
                                                </td>
                                                <td>
                                                    <a class="btn btn-gray btn-circle" title="檢視" href="@Url.Action("ViewMPImportAssetsList",new { ImportID = item.ID })" target="_blank"><i class="fa fa-list"></i></a>
                                                </td>
                                            </tr>
                                        </text>
                                    }
                                </tbody>
                            </table>
                            <nav class="text-center">
                                <ul class="pagination">
                                    <li class="disabled"><a>1</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                    <li>
                                        <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                            <span aria-hidden="true">&raquo;&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td>
                                        <div class="text-left">
                                            <h5 style="padding-right:10px; line-height:1.8em; font-size:14px; float:left"><span style="color:#0071C9">[步驟三]</span></h5>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-default"><i class="fa fa-arrow-left" onclick="Return();">返回</i></button>
                                        <button class="btn btn-primary"><i class="fa fa-check" onclick="return Save();">導入勾選資料</i></button>
                                        <input id="ImportList" name="ImportList" type="hidden" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
