﻿@using InspiniaWebAdminTemplate.Models.MP
@using Library.Servant.Repository.MP
@using Library.Servant.Repository.LeaseRights

@model IndexViewModel
@{ 
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ViewBag.Title = MPHelper.GetFunctionTitle(controllerName) + "作業";

    bool IsMP = controllerName.IndexOf("LeaseRights") < 0;
}

<script type="text/javascript">
                    $(function () {
                        $('#Transaction_Type').change(function () {
                            var Type = $(this).val();
                            BindItem('Source', Type);
                        });
                    });
</script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">@((IsMP ? "動產管理" : "租賃管理"))</a>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" action="@Url.Action("IndexQuery",controllerName)"  class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label" align="right">單據類型</label>
                                <div class="col-sm-6">
                                    @{
                                        string selectedvalue = IsMP ? MPGeneral.GetFormCode(controllerName): LeaseRightsGeneral.GetFormCode(controllerName);
                                        string FormCode = IsMP ? "MPForm" : "LeaseRightsForm";
                                        if (Model.condition != null && !string.IsNullOrEmpty(Model.condition.Transaction_Type))
                                        {
                                            selectedvalue =  Model.condition.Transaction_Type;
                                        }

                                        <text>
                                            @DropDownControl.GenDropDownControl("Transaction_Type", "Transaction_Type", FormCode, selectedvalue, (controllerName != "MPArchive" && controllerName != "LeaseRightsSearch"))
                                        </text>
                                     }
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label" align="right">來源類型</label>
                                <div class="col-sm-6">
                                    @{
                                        string sourceClass = IsMP ? MPGeneral.GetFormCode(controllerName) : LeaseRightsGeneral.GetFormCode(controllerName);
                                        if (Model.condition != null && !string.IsNullOrEmpty(Model.condition.Transaction_Type))
                                        {
                                            sourceClass = Model.condition.Transaction_Type;
                                        }
                                        <text>
                                             @DropDownControl.GenDropDownControl("Source", "Source", sourceClass, ((Model.condition != null && !string.IsNullOrEmpty(Model.condition.Source)) ? Model.condition.Source : ""))
                                        </text>
                                    }
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label ">單據編號</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="TRXHeaderIDBgn" value="@(((Model.condition != null && !string.IsNullOrEmpty(Model.condition.TRXHeaderIDBgn))?Model.condition.TRXHeaderIDBgn:""))" />
                                </div>
                                <div class="col-sm-1">
                                    ～
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="TRXHeaderIDEnd" value="@(((Model.condition != null && !string.IsNullOrEmpty(Model.condition.TRXHeaderIDEnd))?Model.condition.TRXHeaderIDEnd:""))" />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳本</label>
                                <div class="col-sm-6">
                                    @DropDownControl.GenDropDownControl("BookTypeCode", "BookTypeCode","V01", ((Model.condition != null && !string.IsNullOrEmpty(Model.condition.BookTypeCode)) ? Model.condition.BookTypeCode : ""), false,"C")
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label ">單據處理日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="BeginDate" value="@(((Model.condition != null && Model.condition.BeginDate.HasValue) ?Model.condition.BeginDate.Value.ToString("yyyy/MM/dd"):""))" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    ～
                                </div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="EndDate" value="@(((Model.condition != null && Model.condition.EndDate.HasValue)?Model.condition.EndDate.Value.ToString("yyyy/MM/dd"):""))" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label" align="right">狀態</label>
                                <div class="col-sm-8">
                                    @CheckBoxListControl.GenCheckBoxList("FlowStatus", "FlowStatus", "P02", ((Model.condition != null && !string.IsNullOrEmpty(Model.condition.FlowStatus)) ? Model.condition.FlowStatus : ""))
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label" align="right">@((controllerName == "MPTransfer") ? "移入行" : "管轄單位")</label>
                                @AssetLocationDispControl.GenAssetLocationDispControl("OfficeBranch", "OfficeBranch", ((Model.condition != null && !string.IsNullOrEmpty(Model.condition.OfficeBranch)) ? Model.condition.OfficeBranch : ""), "2")
                            </div>
                            <div class="col-sm-6 form-group">
                                @if (controllerName == "MPTransfer")
                                {
                                    <label for="" class="col-sm-3 control-label" align="right">移出行</label>
                                    @AssetLocationDispControl.GenAssetLocationDispControl("OriOfficeBranch", "OriOfficeBranch",((Model.condition != null && !string.IsNullOrEmpty(Model.condition.OriOfficeBranch))?Model.condition.OriOfficeBranch:""), "2")
                                }
                                else if (controllerName == "MPDisposal" || controllerName == "MPScrappedNotice" || controllerName == "MPScrappedReciprocation" || controllerName == "LeaseRightsDisposal")
                                {
                                    //報廢=2
                                    string DisposeReason = (controllerName == "MPScrappedNotice" || controllerName == "MPScrappedReciprocation")?"2": ((Model.condition != null && !string.IsNullOrEmpty(Model.condition.DisposeReason)) ? Model.condition.DisposeReason : "");
                                    <text>
                                        <label for="" class="col-sm-3 control-label" align="right">處分原因</label>
                                        <div class="col-sm-8">
                                            @DropDownControl.GenDropDownControl("DisposeReason", "DisposeReason", "MPDisposeReason", DisposeReason,(DisposeReason=="2"))
                                        </div>
                                    </text>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label" align="right">備註(關鍵字)</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="Remark" value="@(((Model.condition != null && !string.IsNullOrEmpty(Model.condition.Remark)) ? Model.condition.Remark : ""))" />
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="button" onclick="ResetForm()" class="btn btn-gray"><i class="fa fa-close"> 清 除</i></button>
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-search">搜尋</i></button>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    @if (controllerName != "MPArchive" && controllerName != "MPInventoryReciprocation" && controllerName != "LeaseRightsSearch")
                                    {
                                        <a class="btn btn-primary" href="@Url.Action("New")"><i class="fa fa-plus">新增單據</i></a>
                                    }
                                </td>
                                <td style="text-align: right">
                                    <label>共@(Model.TotalAmount)筆</label>
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>單據類型</th>
                                    <th>來源類型</th>
                                    <th>單據編號</th>
                                    <th>單據處理時間</th>
                                    @if (controllerName == "MPTransfer")
                                    {
                                        <th>移出行 / 折舊科目</th>
                                        <th>移入行 / 折舊科目</th>
                                        <th>移轉時間</th>
                                    }
                                    else if (controllerName == "MPDisposal")
                                    {
                                        <th>管轄單位</th> 
                                        <th>處分原因</th>
                                        <th>報廢時間</th>
                                    }
                                    else
                                    {
                                        <th>管轄單位</th>
                                    }
                                    <th>經辦人員</th>
                                    <th>資產數量</th>
                                    <th>備註</th>
                                    <th>狀態</th>
                                    <th>編輯 / 檢視</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int i = 0; i < Model.Items.Count(); i++)
                                {
                                    var item = Model.Items.ToList()[i];
                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td>@item.Transaction_TypeName</td>
                                        <td>@item.SourceName</td>
                                        <td>@item.TRX_Header_ID</td>
                                        <td>
                                            @item.Create_Time.ToString("yyyy/MM/dd")
                                        </td>
                                        @if (controllerName == "MPTransfer")
                                        {
                                            <td>
                                               @item.OriOffice_BranchName
                                            </td>
                                            <td>
                                                @item.Office_BranchName
                                            </td>
                                            <td>
                                                @item.Create_Time.ToString("yyyy/MM/dd")
                                            </td>
                                        }
                                        else if (controllerName == "MPDisposal")
                                        {
                                            <td>
                                                @item.Office_BranchName
                                            </td>
                                            <td>
                                               @item.DisposeReason
                                            </td>
                                            <td>

                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @item.Office_BranchName
                                            </td>
                                        }
                                        <td>@item.Created_ByName</td>
                                        <td>@item.AssetsCount</td>
                                        <td>@item.Remark</td>
                                        <td>
                                            @item.Flow_StatusName
                                        </td>
                                        <td>
                                            @if(item.Flow_Status == "0" ||  item.Flow_Status == "3" || item.Flow_Status == "4")
                                            {
                                                <text>
                                                    <a class="btn btn-primary btn-circle" href="@Url.Action("Edit",new {id = item.TRX_Header_ID })" title="編輯">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                </text>
                                            }
                                            else
                                            {
                                                <text>
                                                    <a class="btn btn-primary btn-circle" href="@Url.Action("Edit",new {id = item.TRX_Header_ID })" title="檢視">
                                                        <i class="fa fa-list"></i>
                                                    </a>
                                                </text>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.TotalAmount,//資料庫總筆數
                    page_size: @Model.condition.PageSize,//單頁筆數
                    page_now: @Model.condition.Page,//當前頁
                    center_page: @Model.condition.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });

            $('[data-toggle="tooltip"]').tooltip();

        })(jQuery);

    </script>
}


