﻿@using InspiniaWebAdminTemplate.Models.MP
@model AssetsIndexViewModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>資產清單</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">動產管理</a>
            </li>
            <li>
                <a href="#">動產匯入作業</a>
            </li>
            <li>
                <a href="#">匯入資料送審</a>
            </li>
            <li>
                <a href="#">檢視本批單據 </a>
            </li>
            <li>
                <a href="#">資產清單</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>資產清單</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>資產編號</th>
                                    <th>財產名稱</th>
                                    <th>財產別名</th>
                                    <th>保管單位</th>
                                    <th>保管人</th>
                                    <th>目前成本</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for(int i = 0; i< Model.Items.Count();i++)
                                {
                                    var item = Model.Items.ToList()[i];
                                    <text>
                                        <tr>
                                            <td>@(i+1)</td>
                                            <td>@item.Asset_Number</td>
                                            <td>@item.Assets_Name</td>
                                            <td>@item.Assets_Alias</td>
                                            <td>@item.Assigned_BranchName</td>
                                            <td>@item.Assigned_IDName</td>
                                            <td>@item.Assets_Fixed_Cost</td>
                                            <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewImportAsset",new { id = item.ID })" title="檢視"><i class="fa fa-search"></i></a></td>
                                        </tr>
                                    </text>
                                }
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

