﻿@using InspiniaWebAdminTemplate.Models.MP
@model IndexViewModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>本批單據清單</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">動產管理</a>
            </li>
            <li>
                <a href="#">動產匯入作業</a>
            </li>
            <li>
                <a href="#">匯入資料送審</a>
            </li>
            <li>
                <a href="#">本批單據清單</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>本批單據清單</label>
                                </td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>單據來源</th>
                                    <th>單據編號</th>
                                    <th>單據處理時間</th>
                                    <th>管轄單位</th>
                                    <th>經辦人員</th>
                                    <th>資產數量</th>
                                    <th>備註</th>
                                    <th>狀態</th>
                                    <th>編輯/檢視</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for(int i = 0;i < Model.Items.Count();i++)
                                {
                                    var item = Model.Items.ToList()[i];
                                    <text>
                                        <tr>
                                            <td>@(i + 1)</td>
                                            <td>@item.Source</td>
                                            <td>@item.TRX_Header_ID</td>
                                            <td>@item.Create_Time.ToString("yyyy/MM/dd")</td>
                                            <td>@item.Office_BranchName</td>
                                            <td>@item.Created_ByName</td>
                                            <td>@item.AssetsCount</td>
                                            <td>@item.Remark</td>
                                            <td>新增</td>
                                            <td><a class="btn btn-gray btn-circle" href="@Url.Action("EditMP",new { id = item.TRX_Header_ID })" title="檢視"><i class="fa fa-list"></i></a></td>
                                        </tr>
                                    </text>
                                }
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

