﻿@using InspiniaWebAdminTemplate.Models.MP
@model MPImportReviewViewModel

@{
    MPHeaderViewModel Header = new MPHeaderViewModel();
    if(Model.MPs.Count() > 0)
    {
        Header = Model.MPs.First().Header;
    }
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>新增/ 編輯本批單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">動產管理</a>
            </li>
            <li>
                <a href="#">動產匯入作業</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">匯入資料送審</a>
            </li>
            <li>
                <a href="@Url.Action("New")">新增/ 編輯本批單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><span style="color:#0071C9">【步驟一】</span>新增本批單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form id="form" method="post" class="form-horizontal">
                        <input type="hidden" name="IRID" value="@Model.IRID" />
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">單據類型</label>
                                <div class="col-sm-8">
                                    動產新增單
                                    <input type="hidden" name="Transaction_Type" value="A12" />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">來源類型</label>
                                <div class="col-sm-8">
                                    @DropDownControl.GenDropDownControl("Source", "Source", "MPImportSource")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">帳本</label>
                                <div class="col-sm-4">
                                    @DropDownControl.GenDropDownControl("Book_Type", "Book_Type", "V01", Header.Book_Type, false, "C")
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">管轄單位</label>
                                @AssetLocationDispControl.GenAssetLocationDispControl("Office_Branch", "Office_Branch", "", "3")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">提交狀態</label>
                                <div class="col-sm-8">
                                    @(!string.IsNullOrEmpty(Header.Flow_StatusName) ? Header.Flow_StatusName : "新增中")
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">備註</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Remark" value="@Header.Remark" style="width:80%" />
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function New_MPImport()
        {
            $('#form').attr('action', '@Url.Action("Import_Search")');
            $('#form').submit();
        }
    </script>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h5 style="padding-right:10px; line-height:1.8em; font-size:14px; float:left"><span style="color:#0071C9">【步驟二】</span>匯入單明細</h5>
                    <button class="btn btn-primary" onclick="New_MPImport();" style="float:left"><i class="fa fa-search"> 搜尋/導入匯入單 </i></button>
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left"></td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>來源類型</th>
                                    <th>匯入批次編號</th>
                                    <th>匯入時間</th>
                                    <th>匯入總數</th>
                                    <th>需求單位</th>
                                    <th>匯入人員</th>
                                    <th>匯入單備註</th>
                                    <th>檢視</th>
                                    <th>刪除</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int i = 0; i < Model.Imports.Count(); i++)
                                {
                                    var item = Model.Imports.ToList()[i];
                                    <text>
                                        <tr>
                                            <td>@(i+1)</td>
                                            <td>@item.Source</td>
                                            <td>@item.Import_Num</td>
                                            <td>@item.Create_Time.ToString("yyyy/MM/dd HH:mm")</td>
                                            <td>@item.ImportAssetsCount</td>
                                            <td>總行/電金部/XX科</td>
                                            <td>@item.Created_By</td>
                                            <td>@item.Remark</td>
                                            <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewMPImportAssetsList",new { ImportID = item.ID })" target="_blank" title="檢視"><i class="fa fa-list"></i></a></td>
                                            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                    </text>
                                }
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:80px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h5 style="padding-right:10px; line-height:1.8em; font-size:14px;"><span style="color:#0071C9">【步驟三】</span>拆單提交分行經辦</h5>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left"></td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>分行</th>
                                    <th>分行經辦</th>
                                    <th>經辦電話</th>
                                    <th>經辦Email</th>
                                    <th><input type="checkbox" value="">是否提交</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int i = 0;i < Model.MPs.Count(); i ++)
                                {
                                    var item = Model.MPs.ToList()[i];
                                    <text>
                                        <tr>
                                            <td>@(i+1)</td>
                                            <td>@item.Assigned_Branch</td>
                                            <td>@item.HandledBy</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Email</td>
                                            <td><input type="checkbox" value="" checked></td>
                                        </tr>
                                    </text>
                                }
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td>
                                    <div class="text-left">
                                        <h5 style="padding-right:10px; line-height:1.8em; font-size:14px;"><span style="color:#0071C9">【步驟四】</span></h5>
                                    </div>
                                    <div class="text-right">
                                        <a href="#modal-form-splitdata" class="btn btn-success" data-toggle="modal"><i class="fa fa-long-arrow-right"> 拆單</i></a>
                                        <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲存</i></a>
                                        <a href="#" class="btn btn-danger"><i class="fa fa-trash"> 刪除</i></a>
                                        <a href="@Url.Action("Index")" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返回</i></a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



