﻿@using InspiniaWebAdminTemplate.Models.MP
@model MPViewModel
@{

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string ReturnController = controllerName;
    if (controllerName == "MPArchive")
    {
        switch (Model.Header.Transaction_Type)
        {
            case "A11":
                controllerName = "MPAdded";
                break;
            case "A20":
                controllerName = "MPMaintain";
                break;
            case "A30":
                controllerName = "MPTransfer";
                break;
            case "A40":
                controllerName = "MPDisposal";
                break;
            case "A50":
                controllerName = "MPDeprn";
                break;
        }
    }
    string functionName = MPHelper.GetFunctionTitle(controllerName);
    var Action = ViewContext.RouteData.GetRequiredString("action");
    ViewBag.Title = (Action == "New") ? "新增單據" : "編輯單據";
    var TRX_Header_ID = ViewBag.TRXID != null ? ViewBag.TRXID : Model.Header.TRX_Header_ID;
    TempData["FunctionFrom"] = ViewBag.Title;
    string FormTypeName = (Model.Header.Transaction_TypeName.Split('-').Length > 0) ? Model.Header.Transaction_TypeName.Split('-')[0] : "";
    string SourceName = (Model.Header.Transaction_TypeName.Split('-').Length > 2) ? Model.Header.Transaction_TypeName.Split('-')[2] : ((Model.Header.Transaction_TypeName.Split('-').Length > 1) ? Model.Header.Transaction_TypeName.Split('-')[1] : "");

    //是否可以編輯
    bool CanEdit = Model == null || (Model != null && Model.Header != null && (Model.Header.Flow_Status == "0" || Model.Header.Flow_Status == "3" || Model.Header.Flow_Status == "4"));
}

<script type="text/javascript">
    function MPSendNotice()
    {
        $.ajax({
            url: '@Url.Action("MPSendNotice")',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (data.msg != '') {
                    alert(data.msg);
                }

                if (data.result) {
                    //商品編輯
                    if ('@ViewBag.Title' == 'CPD011') {
                        //關閉fancyBox
                        parent.$.fancybox.close();
                        //Parent再重抓一次list
                        parent.AjaxSearch();
                    }
                        //商品上架
                    else {
                        location.href = data.url;
                    }
                }
            }
        });
    }
</script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 id="FunTitle">寄送保管人簽收單</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">動產管理</a>
            </li>
            <li>
                <a href="#">@(functionName + "作業")</a>
            </li>
            <li>
                <a href="#">寄送保管人簽收單</a>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>檢視單據</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="" class="col-sm-4 control-label" align="right">單據類型</label>
                        <div class="col-sm-8">
                            @FormTypeName
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="" class="col-sm-4 control-label" align="right">來源類型</label>
                        <div class="col-sm-4">
                            @SourceName
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="" class="col-sm-4 control-label" align="right">單據編號</label>
                        <div class="col-sm-8">
                            @TRX_Header_ID
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="" class="col-sm-4 control-label" align="right">帳本</label>
                        <div class="col-sm-4">
                            @Model.Header.Book_Type
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="" class="col-sm-4 control-label" align="right">單據處理日期</label>
                        <div class="col-sm-3">
                            @Model.Header.Create_Time.ToString("yyyy/MM/dd")
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="" class="col-sm-4 control-label" align="right">狀態</label>
                        <div class="col-sm-8">
                            @Model.Header.Flow_StatusName
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="" class="col-sm-4 control-label" align="right">管轄單位</label>
                        <div class="col-sm-8">
                            @Model.Header.Office_BranchName
                        </div>
                    </div>
                    <div class="col-sm-6 form-group">
                        @if (controllerName == "MPTransfer")
                        {
                            <label for="" class="col-sm-4 control-label" align="right">移出行</label>
                            @AssetLocationDispControl.GenAssetLocationDispControl("OriOffice_Branch", "OriOffice_Branch", (Model != null && !string.IsNullOrEmpty(Model.Header.OriOffice_Branch)) ? Model.Header.OriOffice_Branch : "","01")
                        }
                        else if (controllerName == "MPDisposal")
                        {
                            <label for="" class="col-sm-4 control-label" align="right">處分原因</label>
                            <div class="col-sm-8">
                                @DropDownControl.GenDropDownControl("DisposeReason", "DisposeReason", "MPDisposeReason", (Model != null && !string.IsNullOrEmpty(Model.Header.DisposeReason)) ? Model.Header.DisposeReason : "")
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="" class="col-sm-2 control-label" align="right">備註</label>
                        <div class="col-sm-10">
                            @Model.Header.Remark
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><span class="text-success">【步驟一】</span>編輯信件內容</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                  <div class="row">
                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label"><span style="color:red">*</span>通知信主旨</label>
                            <div class="col-sm-9"><input type="text" class="form-control" value="台北分行 – 例行性報廢通知信" /></div>
                        </div>

                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label"><span style="color:red">*</span>通知信內容</label>
                            <div class="col-sm-9 ">
                                <div class="form-control" style="border:1px solid #e5e6e7;min-height:200px;overflow: auto;" contenteditable="true">
                                    [UserName]，您好：<br />
                                    本分行採購車輛與設備，如附件。<br />
                                    請您查閱，本次動產資料中有您保管的物品。<br />
                                    如保管人資訊確認無誤，請點擊<a href="#">[簽收]</a> 。謝謝。<br />
                                    <br />
                                    <br />
                                    @Model.Header.OriOffice_BranchName  @Model.Header.Created_ByName<br />
                                    [@DateTime.Now.ToString("yyyy/MM/dd")]
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label">額外附件</label>
                            <div class="col-sm-4 text-lineH-fix">
                                <a href="#"><i class="fa fa-file-text-o">財產新增報告表</i></a>
                            </div>
                            <div class="col-sm-4 text-lineH-fix">
                                <a href="#" class="btn btn-link" style="padding:0 5px 0 5px"><i class="fa fa-trash" style="color:#999"></i></a>
                            </div>
                        </div>

                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label">&nbsp;</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control " value="" style="width:75%;float:left" />
                                <button class="btn btn-gray" style="border-radius: 0 3px 3px 0"><i class="fa fa-search"> 瀏 覽 </i></button>
                            </div>
                            <div class="col-sm-4 text-lineH-fix">
                                <a href="#" class="btn btn-link" style="padding:0 5px 0 5px"><i class="fa fa-trash" style="color:#999"></i></a>
                                <a href="#" class="btn btn-link" style="padding:0 5px 0 5px"><i class="fa fa-plus" style="color:#999"></i></a>
                            </div>
                        </div>

                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label">副本 Email</label>
                            <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label"></label>
                            <div class="col-sm-9">
                                <i class="fa fa-warning" style="padding:10px 0 0 0px;float:left"></i><span style="padding:5px 0 0 10px;float:left">寄給下列保管人，此處可設定需額外副本的 Email，如有多筆 Email，請以分號  ; 分隔。</span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-bottom:50px">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table-condensed" style="width:100%">
                        <tr>
                            <td style="text-align: left">
                                <label><span class="text-success">【步驟二】</span>寄送名單</label>
                            </td>
                        </tr>
                    </table>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>項次</th>
                                <th>分行</th>
                                <th>保管人</th>
                                <th>保管人電話</th>
                                <th>保管人E mail</th>
                                <th><input type="checkbox" style="vertical-align:middle" checked>是否寄送</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{

                                var AssignedGroup = Model.Assets.GroupBy(o => new { o.Assigned_IDName, o.Assigned_IDEmail, o.Assigned_IDPhone });
                                if (AssignedGroup != null)
                                {
                                    for (int i = 0; i < AssignedGroup.Count(); i++)
                                    {
                                        var item = AssignedGroup.ToList()[i];
                                        <text>
                                            <tr>
                                                <td>@(i + 1)</td>
                                                <td>@Model.Header.Office_BranchName</td>
                                                <td>@item.Key.Assigned_IDName</td>
                                                <td>@item.Key.Assigned_IDPhone</td>
                                                <td>@item.Key.Assigned_IDEmail</td>
                                                <td><input type="checkbox" checked></td>
                                            </tr>
                                        </text>
                                    }
                                }
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-invaliddata" class="btn btn-success" data-toggle="modal"><i class="fa fa-envelope-o"> 確定寄送 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-invaliddata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定寄送嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="button" onclick="MPSendNotice('@Model.Header.TRX_Header_ID');" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
