﻿<template id="role-region-template">

    <div class="row">

        <div class="col-sm-offset-1 col-sm-11">
            <button type="button" v-on:click="create" class="btn btn-primary"><i class="fa fa-plus">新增簽核關卡</i></button>
        </div>

        <div v-for="(item,index) in table">
            <div v-if="index%4==0">
                <br><br><br>
            </div>

            <div class="col-sm-3">
                <label class="col-sm-2 control-label" align="right">{{index+1}}</label>
                <div class="col-sm-8">
                    <select class="form-control selectRole" v-bind:name="model_binding(index)" v-model="item.value">
                        <option v-for="option in options" v-bind:value="option.Value">
                            {{option.Text}}
                        </option>
                    </select>
                </div>

                <div>
                    <button class="btn btn-danger" type="button" v-on:click="remove(item)"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>

    </div>

</template>

<script>

    (function ($) {

        var TemplateMethod = Vue.extend({

            template: '#role-region-template',

            created: function () {

                if (this.init_values) {

                    for (var index in this.init_values)
                        this.table.push({ id: this.next_id(), value: this.init_values[index] });
                }
            },

            methods: {

                create: function () {

                    this.table.push({ id: this.next_id(), value: this.default_value() });
                },

                remove: function (item) {

                    var index = this.table.indexOf(item);
                    if (index !== -1)
                        this.table.splice(index, 1);
                },

                model_binding:  function(index) {

                    return this.model_name + "[" + index + "]";
                },

                next_id: function() {

                    var max = 0;
                    for (var index in this.table) {
                        var item = this.table[index];
                        if (item.id > max)
                            max = item.id;
                    }
                    return max + 1;
                },

                default_value: function() {

                    return this.options[0].Value;
                }
            },

        });

        $.extend({

            RoleRegionTemplate: TemplateMethod
        });

    })(jQuery);

</script>

