﻿@model InspiniaWebAdminTemplate.Models.Accounting.AccountingCalendarDetail

@{
    ViewBag.Title = "會計曆維護";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>會計曆維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">會計曆維護</a>
            </li>
        </ol>
    </div>
</div>

<div id="app" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>會計曆資料</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" id="updateForm">
                        <input type="hidden" id="ID" value="@Model.Results.ID" />

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">會計曆類別</label>
                                <div class="col-sm-8">
                                    <select name="CalendarType" id="CalendarType" class="form-control" onchange="SetDateRange()">
                                        <option value="Y" @(Model.Results.CalendarType == "Y" ? "selected" : "")>Yearly</option>
                                        <option value="H" @(Model.Results.CalendarType == "H" ? "selected" : "")>Half Year</option>
                                        <option value="Q" @(Model.Results.CalendarType == "Q" ? "selected" : "")>Quarterly</option>
                                        <option value="M" @(Model.Results.CalendarType == "M" ? "selected" : "")>Monthsly</option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">帳本</label>
                                <div class="col-sm-8">
                                    <select name="AccountingBook" id="AccountingBook" class="form-control">
                                        @foreach (var item in Model.AccountingBooks)
                                        {
                                            <option value="@item.Value" @(item.Value==Model.Results.AccountingBook ? "selected" : "")>@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">會計曆值</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="CalendarValue" name="CalendarValue" value="@Model.Results.CalendarValue" />

                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">年度</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Years" name="Years" value="@(Model.Results.Years == 0 ? "" : Model.Results.Years.ToString())" onchange="SetDateRange()"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">季別</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Quater" name="Quater" value="@(Model.Results.Quater == 0 ? "" : Model.Results.Quater.ToString())" onchange="SetDateRange()"/>

                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">月份</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Months" name="Months" value="@(Model.Results.Months == 0 ? "" : Model.Results.Months.ToString())" onchange="SetDateRange()"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">基準日</label>
                                <div class="col-sm-8">
                                    <label><input type="radio" name="TermBasis" value="99" @(Model.Results.TermBasis == 99? "checked" : "") onclick="SetTermBasis()"/>月底日</label>
                                    <label><input type="radio" name="TermBasis" value="0" @(Model.Results.TermBasis != 99? "checked" : "") onclick="SetTermBasis()"/>其他</label>
                                    <input type="text" class="form-control" id="TermBasisData" name="TermBasisDate" value="@(Model.Results.TermBasis == 99 ? "" : Model.Results.TermBasis.ToString())" @(Model.Results.TermBasis == 99 ? "readonly" : "") onchange="SetDateRange()"/>

                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">起始日期</label>
                                <div class="col-sm-8">
                                    <div class='input-group date' id='datetimepicker2' data-date-format="yyyy-MM-dd">
                                        <input type='text' id='BeginDate' class="form-control datepicker" name="BeginDate" value="@Model.Results.BeginDate.ToString("yyyy-MM-dd")" readonly />
                                        <span class="input-group-addon date-trigger"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">終止日期</label>
                                <div class="col-sm-8">
                                    <div class='input-group date' id='datetimepicker2' data-date-format="yyyy-MM-dd">
                                        <input type='text' id='EndDate' class="form-control datepicker" name="EndDate" value="@Model.Results.EndDate.ToString("yyyy-MM-dd")" readonly />
                                        <span class="input-group-addon date-trigger"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button class="btn btn-primary" onclick="checkForm()"><i class="fa">儲存</i></button>
                                    <a class="btn btn-danger" href="@Url.Action("Index")"><i class="fa">取消</i></a>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "儲存成功" } });
@section Scripts{
    <script type="text/javascript">

        function checkForm() {
            $("#updateForm").valid();
        }

        function doSave() {
            var path = "@Url.Action("Save")";

            var termValue = parseInt($("input[name=TermBasis]:checked").val(),10);
            if (termValue == 0)
            {
                termValue = $("#TermBasisData").val();
            }

            var data = new FormData();
            data.append("ID", $("#ID").val());
            data.append("CalendarType", $("#CalendarType").val());
            data.append("AccountingBook", $("#AccountingBook").val());
            data.append("CalendarValue", $("#CalendarValue").val());
            data.append("Years", $("#Years").val());
            data.append("Months", $("#Months").val());
            data.append("Quater", $("#Quater").val());
            data.append("BeginDate", $("#BeginDate").val());
            data.append("EndDate", $("#EndDate").val());
            data.append("TermBasis", termValue);

            $.ajax({
                url: path,
                type: 'POST',
                dataType: 'json',
                contentType: false,
                processData: false,
                async: true,
                data: data,
                success: function (message) { successHandler(message); }
            });
        }
        function SetDateRange() {
            var _baseDate = 1;
            var _year = $("#Years").val();
            if ($("#Years").val() != "") {
                _year = $("#Years").val();
            }
            var _termValue = parseInt($("input[name=TermBasis]:checked").val(), 10);
            if (_termValue == 0) {
                if ($("#TermBasisData").val() != "") {
                    _baseDate = $("#TermBasisData").val();
                }
            }
            var _month = 1;
            if ($("#Months").val() != "") {
                _month = parseInt($("#Months").val(), 10);
            }
            switch ($("#CalendarType").val()) {
                case "Y":
                    if (_year != null && _year != "" ) {
                        var _beginDate = new Date(_year + "-1-" + _baseDate);
                        var _endDate = new Date((parseInt(_year) + 1) + "-1-" + _baseDate);
                        _endDate.setDate(_endDate.getDate() - 1);//減一天
                        $("#BeginDate").val(_beginDate.getFullYear() + "-" + (_beginDate.getMonth() + 1) + "-" + _beginDate.getDate());
                        $("#EndDate").val(_endDate.getFullYear() + "-" + (_endDate.getMonth() + 1) + "-" + _endDate.getDate());
                    }
                    break;
                case "H":
                    if (_year != null && _year != "" ) {
                        var _beginDate = new Date(_year + "-" + _month + "-" + _baseDate);
                        var _endDate = new Date(_year + "-" + _month + "-" + _baseDate);
                        _endDate.setMonth(_endDate.getMonth() + 6);//加六個月
                        _endDate.setDate(_endDate.getDate() - 1);//減一天
                        $("#BeginDate").val(_beginDate.getFullYear() + "-" + (_beginDate.getMonth() + 1) + "-" + _beginDate.getDate());
                        $("#EndDate").val(_endDate.getFullYear() + "-" + (_endDate.getMonth() + 1) + "-" + _endDate.getDate());
                    }
                    break;
                case "Q":
                    var _quater = 1;
                    if($("#Quater").val()!=""){
                        _quater=parseInt($("#Quater").val(), 10);
                    }
                    var _startMonth = 1;
                    switch (_quater) {
                        case 2:
                            _startMonth = 4;
                            break;
                        case 3:
                            _startMonth = 7;
                            break;
                        case 4:
                            _startMonth = 10;
                    }               
                    if (_year != null && _year != "" ) {
                        var _beginDate = new Date(_year + "-" + _startMonth + "-" + _baseDate);
                        var _endDate = new Date(_year + "-" + _startMonth + "-" + _baseDate);
                        _endDate.setMonth(_endDate.getMonth() + 3);//加三個月
                        _endDate.setDate(_endDate.getDate() - 1);//減一天
                        $("#BeginDate").val(_beginDate.getFullYear() + "-" + (_beginDate.getMonth()+1) + "-" + _beginDate.getDate());
                        $("#EndDate").val(_endDate.getFullYear() + "-" + (_endDate.getMonth()+1) + "-" + _endDate.getDate());
                    }
                    break;
                case "M":
                    if (_year != null && _year != "" ) {
                        var _beginDate = new Date(_year + "-" + _month + "-" + _baseDate);
                        var _endDate = new Date(_year + "-" + _month + "-" + _baseDate);
                        _endDate.setMonth(_endDate.getMonth() + 1);//加一個月
                        _endDate.setDate(_endDate.getDate() - 1);//減一天
                        $("#BeginDate").val(_beginDate.getFullYear() + "-" + (_beginDate.getMonth() + 1) + "-" + _beginDate.getDate());
                        $("#EndDate").val(_endDate.getFullYear() + "-" + (_endDate.getMonth() + 1) + "-" + _endDate.getDate());
                    }
                    break;
            }
        }
        function SetTermBasis() {
            var _termValue = parseInt($("input[name=TermBasis]:checked").val(), 10);
            if (_termValue == 99) {
                $("#TermBasisData").val("");
                $("#TermBasisData").attr("readonly", true);
            } else {
                $("#TermBasisData").attr("readonly", false);
                $("#TermBasisData").val("1");
            }
            SetDateRange();
        }
        (function ($) {
            $(".datepicker").datepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                clearBtn: true,
                calendarWeeks: false,
                todayHighlight: true,
                language: 'zh-TW'
            });

            $(".date-trigger").on("click", function () {
                $(this).prev(".datepicker").datepicker("show");
            });

            $.validator.messages.required = '必填';
            $.validator.messages.digits = '請輸入數字';
            $.validator.messages.range = '請輸入合適的數值';

            $("#updateForm").validate({
                rules: {
                    CalendarValue: { required: true },
                    Years: { digits: true },
                    Months: { range: [1, 12] },
                    Quater: { range: [1, 4] },
                    TermBasisData: { range: [1, 31]}
                },
                submitHandler: function (form) {
                    doSave();
                }
            }
            );
            SetTermBasis();
        })(jQuery);
        
    </script>
}
