﻿@using InspiniaWebAdminTemplate.Models.Accounting;
@model AccountingCalendarIndex
@{
    ViewBag.Title = "Accounting Calendar";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>會計曆設定</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">會計曆設定</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="@Url.Action("Query")" class="form-horizontal" id="queryForm">
                        <input type="hidden" id="CurrentPage" name="CurrentPage" value="@Model.Results.Conditions.CurrentPage"/>
                        <input type="hidden" name="PageSize" value="@Model.Results.Conditions.PageSize"/>
                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">會計年度</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="AccountingYear" id="AccountingYear">
                                        @foreach (var item in Model.AccountingYears)
                                        {
                                            <option value="@item.Value" @(item.Value == Model.Results.Conditions.AccountingYear ? "selected" : "")>@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">帳本</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="AccountingBook" id="AccountingBook">
                                        @foreach (var item in Model.AccountingBooks)
                                        {
                                            string checkedMark = "";
                                            if (String.IsNullOrEmpty(Model.Results.Conditions.AccountingBook))
                                            {
                                                if (item.Name.Contains("NTD_MP_IFRS"))
                                                {
                                                    checkedMark = "selected";
                                                }
                                            }
                                            else {
                                                if (item.Value == Model.Results.Conditions.AccountingBook)
                                                {
                                                    checkedMark = "selected";
                                                }
                                            }
                                            <option value="@item.Value" @checkedMark >@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>


                        </div>

                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">期別</label>
                                <div class="col-sm-8">
                                    <label><input type="radio" name="AccountingCalendarType" value="A" @(Model.Results.Conditions.AccountingCalendarType == "A" ? "checked" : "") />全部</label>
                                    <label><input type="radio" name="AccountingCalendarType" value="Y" @(Model.Results.Conditions.AccountingCalendarType == "Y" ? "checked" : "") />每年</label>
                                    <label><input type="radio" name="AccountingCalendarType" value="H" @(Model.Results.Conditions.AccountingCalendarType == "H" ? "checked" : "") />每半年</label>
                                    <label><input type="radio" name="AccountingCalendarType" value="Q" @(Model.Results.Conditions.AccountingCalendarType == "Q" ? "checked" : "") />每季</label>
                                    <label><input type="radio" name="AccountingCalendarType" value="M" @(Model.Results.Conditions.AccountingCalendarType == "M" ? "checked" : "") />每月</label>
                                </div>
                            </div>

                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button type="button" class="btn btn-success"><i class="fa" onclick="checkQueryForm()">查詢</i></button>
                                    <button type="button" class="btn btn-danger" onclick="resetForm()"><i class="fa">清除</i></button>
                                    <a class="btn btn-primary" onclick="showArea()"><i class="fa">新增 / 複製</i></a>
                                </label>
                            </div>
                        </div>
                    </form>
                        <hr />
                    <div id="createcopy" style="display:none;">
                        <form id="copyForm" action="@Url.Action("Copy")">
                            <div class="row">

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label required">複製年度</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="copyYear" name="copyYear">
                                    </div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label required">複製帳本</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="copyAccountingBook" name="copyAccountingBook">
                                            @foreach (var item in Model.AccountingBooks)
                                            {
                                            <option value="@item.Value">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>


                            </div>

                            <div class="row">

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label required">產生年度</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control required" id="copyToYear" name="copyToYear"/>
                                        <label class="col-sm-3 control-label text-left">全部</label>
                                        <input type="checkbox" id="copyAll" />
                                    </div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">基準日</label>
                                    <div class="col-sm-8">
                                        <label><input type="radio" name="copyBasisDay" value="99" checked />月底日</label>
                                        <label><input type="radio" name="copyBasisDay" value="0" />其他</label>
                                        <input type="text" class="form-control" id="copyBasisDayData" value="25">
                                    </div>
                                </div>

                            </div>


                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="" class="col-sm-4" align="right">
                                        <a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa">新增</i></a>
                                        <button type="button" class="btn btn-warning" onclick="copyTo()"><i class="fa">複製</i></button>
                                        <button type="button" class="btn btn-default" onclick="hideArea()"><i class="fa fa-trash">取消</i></button>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">


                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  @Model.Results.Page.TotalAmount 筆 第 @Model.Results.Conditions.CurrentPage 頁</label>
                                    <a class="btn btn-sm btn-default" id="buttonDelete" href="@Url.Action("Index","Home")">回上頁</a>
                                    <button class="btn btn-sm btn-success" id="batchDatale" onclick="batchDelete()">刪除</button>
                                    <button class="btn btn-sm btn-danger" id="deleteLastCopy" onclick="deleteLast();">複製刪除</button>
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th>
                                        <input type="checkbox" onclick="chceckAll(this.checked)" style="width:13px;">
                                    </th>
                                    <th>會計曆類別</th>
                                    <th>帳本</th>
                                    <th>會計曆值</th>
                                    <th>年度</th>
                                    <th>季</th>
                                    <th>月</th>
                                    <th>基準日</th>
                                    <th>起始日期</th>
                                    <th>終止日期</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int i = 0; i < Model.Results.Page.Items.Count; i++)
                                {
                                    var item = Model.Results.Page.Items[i];
                                    string displayCalendarType = "";
                                    switch (item.CalendarType)
                                    {
                                        case "Y":
                                            displayCalendarType = "Yearly";
                                            break;
                                        case "H":
                                            displayCalendarType = "半年";
                                            break;
                                        case "Q":
                                            displayCalendarType = "Quarterly";
                                            break;
                                        case "M":
                                            displayCalendarType = "Monthly";
                                            break;
                                    }
                                    <tr>
                                        <td>@(i+1)</td>
                                        <td><input type="checkbox" name="batchProcess" value="@item.ID" style="width:13px;"/></td>
                                        <td>@displayCalendarType</td>
                                        <td>@item.AccountingBook</td>
                                        <td><a href="@Url.Action("Detail", new { id=item.ID})">@item.CalendarValue</a></td>
                                        <td>@(item.Years == 0 ? "" : item.Years.ToString())</td>
                                        <td>@(item.Quater == 0 ? "" : item.Quater.ToString())</td>
                                        <td>@(item.Months == 0 ? "" : item.Months.ToString())</td>
                                        <td>@(item.TermBasis == 99 ? "月底" : item.TermBasis.ToString())</td>
                                        <td>@item.BeginDate.ToString("yyyy-MM-dd")</td>
                                        <td>@item.EndDate.ToString("yyyy-MM-dd")</td>
                                    </tr>
                                }
                           </tbody>

                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="lastCopyIds" value=""/>

<div id="modal-form-delete" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">是否要刪除此資料?</h3>
                        <p>刪除資料後，資料無法回復，請確認刪除。</p>
                        <form style="display:inline-block;" id="form-delete">
                            <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal" onclick="doBatchDelete()"><strong>是</strong></button>
                        </form>
                        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><strong>否</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="copyMessageModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p id="copySuccess" style="display:none;">複制成功</p>
                <p id="copyFail" style="display:none;"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeCopyModal">關閉</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        function checkQueryForm()
        {
            $("#queryForm").submit();
        }

        function resetForm()
        {
            $("#AccountingYear option:eq(0)").prop("selected", true);
            $("#AccountingBook option:eq(0)").prop("selected", true);
        }

        function showArea()
        {
            $("#createcopy").show();
        }

        function hideArea()
        {
            $("#createcopy").hide();
        }

        function chceckAll(currentValue) {
            $("input[name=batchProcess]").each(function () {
                this.checked = currentValue;
            });
        }

        function batchDelete()
        {
            var list = [];
            $("input[name=batchProcess]").each(function () {
                if (this.checked) {
                    list.push(this.value);
                }
            });
            if (list.length > 0)
            {
                $("#modal-form-delete").modal();
            }
        }

        function doBatchDelete() {
            var list = [];
            $("input[name=batchProcess]").each(function () {
                if (this.checked) {
                    list.push(this.value);
                }
            });

            if (list.length > 0) {
                var data = {
                    IDList: list,
                    LastUpdateBy: 0
                };
                data = JSON.stringify(data);
                console.log(data);

                var path = "@Url.Action("BatchDelete")";

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json",
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) {
                        deleteMessage(message);
                    }
                });
            }
        }

        function deleteMessage(message) {
            console.log(message);

            if (message.IsSuccess) {
                location.reload();
            }
        }

        function copyTo()
        {
            if ($("#copyForm").valid())
            {
                doCopy();
            }
        }

        function doCopy() {

            var term = parseInt($("input[name=copyBasisDay]:checked").val(), 10);
            if (term == 0)
            {
                term = $("#copyBasisDayData").val();
            }

            var path = "@Url.Action("Copy")";
            var data = new FormData();
            data.append("CopyYears", $("#copyYear").val());
            data.append("AccountingBook", $("#copyAccountingBook").val());
            data.append("ToYears", $("#copyToYear").val());
            data.append("CopyYears", $("#copyYear").val());
            data.append("TermBasis", term);
            data.append("CopyAll", $("#copyAll").prop("checked"));
            data.append("LastUpdatedBy", 0);

            $.ajax({
                url: path,
                type: 'POST',
                dataType: 'json',
                contentType: false,
                processData: false,
                async: true,
                data: data,
                success: function (message) {
                    copyMessage(message);
                }
            });
        }

        function copyMessage(message)
        {
            $("#closeCopyModal").unbind("click");
            
            if (message.IsSuccess)
            {
                $("#closeCopyModal").bind("click", function () {
                    location.reload();
                });
                $("#lastCopyIds").val(message.Message);
                $("#copySuccess").show();
                $("#copyFail").hide();
                $("#copyMessageModal").modal();
            }
            else {
                $("#copyFail").text(message.Message);
                $("#copySuccess").hide();
                $("#copyFail").show();
                $("#copyMessageModal").modal();
            }
        }

        function deleteLast()
        {
            var last = $("#lastCopyIds").val();
            if (last != "")
            {
                var lastlist = last.split(",");
                var list = [];
                for (var i = 0; i < lastlist.length; i++)
                {
                    list.push(lastlist[i]);
                }

                if (list.length > 0)
                {
                    var data = {
                    IDList: list,
                    LastUpdateBy: 0
                };
                data = JSON.stringify(data);
                console.log(data);

                var path = "@Url.Action("BatchDelete")";

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json",
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) {
                        deleteMessage(message);
                    }
                });

                }
            }
        }

        function toPage(page)
        {
            $("#CurrentPage").val(page);
            $("#queryForm").submit();
        }

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.Results.Page.TotalAmount,//資料庫總筆數
                    page_size: @Model.Results.Conditions.PageSize,//單頁筆數
                    page_now: @Model.Results.Conditions.CurrentPage,//當前頁
                    center_page: 1,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "",
                    pageFunc: toPage
                }
            });

            $.validator.messages.required = '必填';
            $.validator.messages.digits = '請輸入數字';
            $.validator.messages.range = '請輸入合適的數值';

            $("#copyForm").validate({
                rules: {
                    copyYear: {
                        required: true,
                        digits: true
                    },
                    copyToYear: {
                        required: true,
                        digits: true
                    },
                    copyBasisDayData: {
                        required: true,
                        range: [1, 31]
                    }
                }
            }
            );

        })(jQuery);

    </script>

}


