﻿ @{ ViewBag.Title = "Create"; }


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>新增動產/不動產</h2>
        <ol class="breadcrumb">
            <li>
                <a href='@Url.Action("Index", "Estate")'>首頁</a>
            </li>
            <li>
                <a>動產/不動產維護</a>
            </li>
            <li class="active">
                <strong>新增動產/不動產</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-5">

    </div>
</div>

<div id="app" class="wrapper wrapper-content animated fadeInRight">

</div>

@* 
<template id="mimic-app-template">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>動產/不動產</h5>
                </div>
                <div class="ibox-content">

                    <form>
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="col-sm-5">管轄單位</label>
                                <input type="text" v-model="model.table1.attr1" name="search" class="col-sm-5" align="left">
                            </div>

                            <div class="col-sm-4">
                                <label class="col-sm-5 ">租約編號</label>
                                <input type="text" v-model="model.table1.attr" name="search" class="col-sm-5" align="left">
                            </div>

                            <div class="col-sm-4">
                                <label class="col-sm-5 ">租約類別</label>
                                <select name="RentType" class="col-sm-5">
                                    <option value=""></option>
                                    <option value="Y">出租</option>
                                    <option value="N">承租</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="col-sm-5 ">業務別</label>
                                <select name="RentStatus" class="col-sm-5">
                                    <option value=""></option>
                                    <option value="self">自用</option>
                                    <option value="non-self">非自用</option>
                                </select>
                            </div>

                            <div class="col-sm-4">
                                <label class="col-sm-5 ">租約類型</label>
                                <select name="RentStatus" class="col-sm-5">
                                    <option value=""></option>
                                    <option value="">停車位</option>
                                    <option value="">停車場</option>
                                    <option value="">基地</option>
                                    <option value="">基地使用補償</option>
                                    <option value="">房屋</option>
                                    <option value="">投資開發</option>
                                    <option value="">空地</option>
                                    <option value="">耕地</option>
                                </select>
                            </div>

                            <div class="col-sm-4">
                                <label class="col-sm-5 ">租約事務</label>
                                <select name="RentStatus" class="col-sm-5">
                                    <option value=""></option>
                                    <option value="">新租</option>
                                    <option value="">繼承承租</option>
                                    <option value="">續租</option>
                                    <option value="">過戶承租</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="col-sm-5 ">帳號</label>
                                <input type="text" name="search" class="col-sm-5" align="left">
                            </div>

                            <div class="col-sm-4">
                                <label class="col-sm-5 ">租約狀態</label>
                                <select name="RentStatus" class="col-sm-5">
                                    <option value=""></option>
                                    <option value="Y">有效</option>
                                    <option value="E">終止</option>
                                    <option value="N">未生效</option>
                                </select>
                            </div>

                            <div class="col-sm-4">
                                <label class="col-sm-5 ">租賃期起</label>
                                <input type="text" name="search" class="col-sm-5 hasDatepicker" align="left">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="col-sm-5 ">租賃期迄</label>
                                <input type="text" name="search" class="col-sm-5 hasDatepicker" align="left">
                            </div>

                            <div class="col-sm-4">
                                <label class="col-sm-5 ">原租約編號</label>
                                <input type="text" name="search" class="col-sm-5" align="left">
                            </div>

                            <div class="col-sm-4">
                                <label class="col-sm-5 ">流程狀態</label>
                                <select name="RentStatus" class="col-sm-5">
                                    <option value=""></option>
                                    <option value="add">新增</option>
                                    <option value="submited">已提交</option>
                                    <option value="permited">已核准</option>
                                    <option value="paid">已入賬</option>
                                    <option value="rejected">已拒絕</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="col-sm-5 ">繳款方式</label>
                                <select name="paymentType" id="" class="col-sm-5">
                                    <option value=""></option>
                                    <option value="">委託代繳</option>
                                    <option value="">虛擬帳號</option>
                                    <option value="">支票</option>
                                </select>
                            </div>

                            <div class="col-sm-4">
                                <label class="col-sm-5 ">扣款銀行</label>
                                <input type="text" name="search" class="col-sm-5" align="left">
                            </div>

                            <div class="col-sm-4">
                                <label class="col-sm-5 ">扣款帳號</label>
                                <input type="text" name="search" class="col-sm-5" align="left">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="col-sm-5 ">核准日期</label>
                                <vue-datepicker class="col-sm-5" v-model="model.table1.attr4"></vue-datepicker>
                            </div>

                            <div class="col-sm-4">
                                <label class="col-sm-5 ">備註事項</label>
                                <input type="text" name="search" class="col-sm-5" align="left">
                            </div>

                            <div class="col-sm-4">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="row">
                            <div class="col-sm-4">
                                <button v-on:click="addNewItem2Table2" class="btn btn-primary" type="button">新增</button>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>租賃期間起</th>
                                        <th>租賃期間迄</th>
                                        <th>租金</th>
                                        <th>減租金額</th>
                                        <th>保證金</th>
                                        <th>繳納日期</th>
                                        <th>退退還日期</th>
                                        <th>保證書銀行</th>
                                        <th>備註</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="row in model.table2">
                                        <td><vue-datepicker v-model="row.col1"></vue-datepicker></td>
                                        <td><vue-datepicker v-model="row.col2"></vue-datepicker></td>
                                        <td><input type="number"></td>
                                        <td><input type="number"></td>
                                        <td><input type="number"></td>
                                        <td><vue-datepicker></vue-datepicker></td>
                                        <td><vue-datepicker></vue-datepicker></td>
                                        <td><input type="text"></td>
                                        <td><input type="text"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="row">
                            <div class="col-sm-4">
                                <button v-on:click="addNewItem2Table3" class="btn btn-primary" type="button">新增</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>殘障/低收</th>
                                        <th>類型</th>
                                        <th>名稱</th>
                                        <th>統一編號</th>
                                        <th>負責人</th>
                                        <th>身分證字號</th>
                                        <th>出生日期</th>
                                        <th>通訊地址</th>
                                        <th>戶籍地址</th>
                                        <th>電話</th>
                                        <th>備註</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="row in model.table3">
                                        <td><input type="checkbox"></td>
                                        <td><input type="checkbox"></td>
                                        <td>出租人</td>
                                        <td><input type="text"></td>
                                        <td><input type="text"></td>
                                        <td><input type="text"></td>
                                        <td><vue-datepicker></vue-datepicker></td>
                                        <td><input type="text"></td>
                                        <td><input type="text"></td>
                                        <td><input type="text"></td>
                                        <td><input type="text"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="row">
                            <button class="btn btn-primary" type="button">確定(送審)</button>
                            <button class="btn btn-primary" type="button">換續約</button>
                            <button class="btn btn-primary" type="button">標的物</button>
                            <button class="btn btn-primary" type="button">租金繳納紀錄</button>
                        </div>
                    </form>



                </div>
                <div class="ibox-footer agile-detail">
                    <a class="btn btn-warning" href="@Url.Action(" Index ")">
                        <i class="fa fa-undo"></i>&nbsp;回列表頁
                    </a>
                </div>
            </div>
        </div>
        <!--<vue-modal>
        </vue-modal>-->
    </div>   
</template> 

@section Scripts { 
    @Scripts.Render("~/Scripts/Estate/EstateCreateMimicExample.js")
} *@