﻿@{
    ViewBag.Title = "動產";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>動產不動產維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href='@Url.Action("Index", "Estate")'>首頁</a>
            </li>
            <li>
                <a href="#">動產不動產維護</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="" class="form-horizontal">

                        <div class="row">

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">查詢式樣1</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="手動輸入">
                                </div>
                            </div>
                            
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">查詢式樣2</label>
                                <div class="col-sm-8">
                                    <select class="form-control">
                                        <option value="0">全部</option>
                                        <option value="1">條件1</option>
                                        <option value="2">條件2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">

                                <label for="" class="col-sm-4 control-label" align="right">查詢式樣3</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" readonly>
                                </div>
                                <div class="col-sm-2">
                                    <a class="btn btn-danger" href="#modal-form-delete" data-toggle="modal" title="查詢">查詢</a>
                                </div>
                            
                            </div>
                        
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button class="btn btn-primary"><i class="fa fa-search">查詢</i></button>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

               
                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共 n 筆</label>
                                    <a class="btn btn-sm btn-primary" id="buttonDelete" href="@Url.Action("Create")">新增</a>
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th>Column 1</th>
                                    <th>Column 2</th>
                                    <th>Column 3</th>
                                    <th>Column 4</th>
                                    <th>Column 5</th>
                                </tr>
                            </thead>

                            <tbody>

                                @for (int index = 0; index <= 9; ++index)
                                {
                                    <tr>
                                        <td>@(index+1)</td>
                                        <td>x</td>
                                        <td>y</td>
                                        <td>z</td>
                                        <td>
                                            <input type="checkbox" checked>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger" href="@Url.Action("Update")">編輯</a>
                                        </td>
                                    </tr>
                                }



                          </tbody>

                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal-form-delete" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">提交?</h3>

                        <p>提交後，資料無法回復，請確認。</p>

                        <form method="POST" action="#" style="display:inline-block;" class="form-horizontal">
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                <label  class="col-sm-4 control-label" align="right">條件1</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="手動輸入">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label" align="right">條件2</label>
                                <div class="col-sm-8">
                                    <select class="form-control">
                                        <option value="0">全部</option>
                                        <option value="1">條件1</option>
                                        <option value="2">條件2</option>
                                    </select>
                                </div>
                            </div>

                            
                            <button class="btn btn-sm btn-danger" type="submit"><strong>是</strong></button>
                        </form>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>否</strong></button>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Column 1</th>
                                    <th>Column 2</th>
                                    <th>Column 3</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int index = 0; index <= 2; ++index)
                                {
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td>y</td>
                                        <td>z</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>提交</strong></button>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
