﻿@{
    ViewBag.Title = "動產";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>動產不動產編輯</h2>
        <ol class="breadcrumb">
            <li>
                <a href='@Url.Action("Index", "Estate")'>首頁</a>
            </li>
            <li>
                <a href="#">動產不動產編輯</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">


                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label for="" class="col-sm-4 control-label" align="right">登打欄位</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: left">
                                    <label for="" class="col-sm-4 control-label" align="right">登打欄位</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <a class="btn btn-sm btn-primary" id="buttonDelete" href="@Url.Action("Create")">新增</a>
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th>Column 1</th>
                                    <th>Column 2</th>
                                    <th>Column 3</th>
                                    <th>Column 4</th>
                                    <th>Column 5</th>
                                </tr>
                            </thead>

                            <tbody>

                                @for (int index = 0; index <= 9; ++index)
                                {
                                    <tr>
                                        <td>@(index + 1)</td>
                                        <td>x</td>
                                        <td>y</td>
                                        <td>z</td>
                                        <td>
                                            <input type="checkbox" checked>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger" href="#modal-form-delete" data-toggle="modal" title="刪除">刪除</a>
                                        </td>
                                    </tr>
                                }



                            </tbody>

                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal-form-delete" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">刪除資料?</h3>

                        <p>刪除後，資料無法回復，請確認。</p>

                        <form method="POST" action="#" style="display:inline-block;" class="form-horizontal">
                            @Html.AntiForgeryToken()

                           <button class="btn btn-sm btn-danger" type="submit"><strong>是</strong></button>
                        </form>

                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>否</strong></button>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


