﻿@using InspiniaWebAdminTemplate.Models.FunctionRole
@model NewViewModel


@{
    ViewBag.Title = "Approval";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>新增登入角色</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="@Url.Action("Index")"> 角色名稱列表</a>
            </li>
            <li>
                <a href="#">新增登入角色</a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" id="root">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <form action="@Url.Action("Create")" method="post" class="form-horizontal" id="update_functions">

                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">功能編號</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">功能名稱</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor( m => m.Name, new { @class= "form-control" } )
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label " align="right">描述</label>
                                <div class="col-sm-8">
                                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div id="select_function"></div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12 col-sm-offset-4">
                                <label for="" class="col-sm-4" align="right">
                                    <button class="btn btn-primary"><i class="fa fa-save">存檔</i></button>
                                    <button type="reset" class="btn btn-danger"><i class="fa fa-trash">清除</i></button>
                                    <a href="@Url.Action("Index")" class="btn btn-warning">回上頁</a>
                                </label>
                            </div>
                        </div>
                    </form>



                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    @Html.Partial("_VueOptionTemplate2")
    <script>

        (function ($) {

            new $.OptionTemplate({

                el: "#select_function",
                data: {

                    left_title: "可選取程式功能",
                    right_title: "已選取程式功能",
                    left_model_name: "CadidateFunctions",
                    right_model_name: "SelectedFunctionsID",
                    submit_form_id: "#update_functions",

                    left_array: @Html.Raw( Json.Encode(Model.CadidateRoles) ),
                    right_array: [],
                    left_size: false,
                    right_size: false,
                }
            });


        })(jQuery);

    </script>
}
