﻿@using InspiniaWebAdminTemplate.Models.FunctionRole
@using InspiniaWebAdminTemplate.Models.Common
@model IndexViewModel

@{
    ViewBag.Title = "FunctionRole";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>人員權限控制管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">登入角色管理</a>
            </li>
            <li>
                <a href="#">功能維護</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="@Url.Action("UpdateSearchCondition")" method="post" class="form-horizontal">

                        @Html.AntiForgeryToken()
                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">作業別</label>
                                <div class="col-sm-8">
                                    @Html.DropDownList("DocType", (SelectList)ViewBag.DocTypes, "全部", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">功能名稱</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="FunctionID">
                                        <option value="">全部</option>
                                        {
                                        @foreach (var function in Model.TotalFunctions) { 
                                            var selectedStatus = (function.Value == Model.condition.FunctionID) ? "selected" : "";
                                            <option value="@function.Value" @selectedStatus>@function.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            
                       
                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button class="btn btn-primary"><i class="fa fa-search">查詢</i></button>
                                    <button type="reset" class="btn btn-danger"><i class="fa fa-trash">清除</i></button>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

               
                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  @Model.TotalAmount 筆 第 @Model.condition.Page  頁 </label>
                                    <a class="btn btn-sm btn-default"  href="@Url.Action("Index","Home")">回上頁</a>
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>功能名稱</th>
                                    <th>功能描述</th>
                                    <th>可使用的角色</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>

                            <tbody>

                                @for (var index = 0; index < Model.Items.Count; ++index)
                                {
                                    var item = Model.Items[index];
                                    <tr>
                                        <td>@(index + 1)</td>
                                        <td>@item.Name</td>
                                        <td>@item.Description</td>
                                        <td>
                                            @*@Html.Partial("_TableItemCollapse", new TableItemViewModel { Index = index, Items = item.LoginRoleNames })*@
                                            @if (item.LoginRoleNames.Count > 0) {
                                                <a class="bslink" data-toggle="tooltip" data-placement="right" title="@Html.Raw(string.Join("、", item.LoginRoleNames.ToArray()))">適用角色</a>
                                            }
                                            else {
                                                <span>無</span>
                                            }
                                        </td>
                                        <td>
                                            <a class="btn btn-primary btn-circle" href="@Url.Action("Edit", new { ID = item.ID })" title="編輯">
                                                <i class="glyphicon glyphicon-list "></i>
                                            </a>
                                        </td>
                                    </tr>
                                }

                          </tbody>

                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.TotalAmount,//資料庫總筆數
                    page_size: @Model.condition.PageSize,//單頁筆數
                    page_now: @Model.condition.Page,//當前頁
                    center_page: @Model.condition.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });

            $('[data-toggle="tooltip"]').tooltip(); 

        })(jQuery);

    </script>
}



