﻿@using InspiniaWebAdminTemplate.Models.Land
@using InspiniaWebAdminTemplate.Models.MU
@model AssetViewModel
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    var Header = TempData["Header"] as MUHeaderViewModel;
    TempData["Header"] = Header;

    //原土地資訊
    AssetLandViewModel Land = ViewBag.OriLand as AssetLandViewModel;
}

<script>
    function Save() {
        var url = "@Url.Action("Asset_Update")";
        $('#form').attr('action', url);
        $('#form').submit();
    }
    function Return() {
        window.history.go(-1);
    }
</script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="F201.aspx" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 比對/調整資產</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">資產主檔更新</a>
            </li>
            <li>
                <a href="#">主檔更新作業</a>
            </li>
            <li>
                <a href="#">新增/編輯單據</a>
            </li>
            <li>
                <a href="#">比對/調整資產</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>比對/調整資產</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th width="45%">原主檔資料</th>
                                    <th width="45%">地政資料</th>
                                    <th width="10%">依地政調整</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="45%">
                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">資產編號</label>
                                            <div class="col-sm-9">@Land.Asset_Number</div>
                                        </div>

                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">原資產編號</label>
                                            <div class="col-sm-9">@Land.Old_Asset_Number</div>
                                        </div>

                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">資產分類</label>
                                            <div class="col-sm-9">@Land.Asset_Category_code</div>
                                        </div>

                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">啟用日期</label>
                                            <div class="col-sm-9">@Land.Datetime_Placed_In_Service.ToString("yyyy/MM/dd")</div>
                                        </div>

                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">管轄單位</label>
                                            <div class="col-sm-9">@Header.Office_Branch</div>
                                        </div>

                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">摘要</label>
                                            <div class="col-sm-9">@Land.Description</div>
                                        </div>

                                    </td>
                                    <td width="45%" style="border-left:#ccc 1px solid">
                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">&nbsp;</label>
                                            <div class="col-sm-9">&nbsp;</div>
                                        </div>

                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">&nbsp;</label>
                                            <div class="col-sm-9">&nbsp;</div>
                                        </div>

                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">&nbsp;</label>
                                            <div class="col-sm-9">&nbsp;</div>
                                        </div>

                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">&nbsp;</label>
                                            <div class="col-sm-9">&nbsp;</div>
                                        </div>

                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">&nbsp;</label>
                                            <div class="col-sm-9">&nbsp;</div>
                                        </div>

                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">摘要</label>
                                            <div class="col-sm-9"><input type="text" class="form-control"  value="@Model.Description" name="Description" /></div>
                                        </div>

                                    </td>
                                    <td width="10%" style="vertical-align:middle;border-left:#ccc 1px solid"><input type="checkbox"> 調整</td>
                                </tr>
                                <tr>
                                    <td width="45%">
                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">縣市</label>
                                            <div class="col-sm-6">@Land.City_Code</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">鄉鎮市區</label>
                                            <div class="col-sm-6">@Land.District_Code</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">段</label>
                                            <div class="col-sm-6">@Land.Section_Code</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">小段</label>
                                            <div class="col-sm-6">@Land.Sub_Section_Name</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">母地號</label>
                                            <div class="col-sm-6">@Land.Parent_Land_Number</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">子地號</label>
                                            <div class="col-sm-6">@Land.Filial_Land_Number</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">權狀字號</label>
                                            <div class="col-sm-6">@Land.Authorization_Number</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">地政事務所</label>
                                            <div class="col-sm-6">@Land.Authorized_name</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">整筆面積</label>
                                            <div class="col-sm-6">@Land.Area_Size</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">權利範圍</label>
                                            <div class="col-sm-6">@(Land.Authorized_Scope_Molecule + "/" + Land.Authorized_Scope_Denomminx )</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">權利面積</label>
                                            <div class="col-sm-6">@Land.Authorized_Area</div>
                                        </div>
                                    </td>
                                    <td width="45%" class="lightorange_bg" style="border-left:#ccc 1px solid">
                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">縣市</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" value="@Model.City_Code" name="City_Code" />
                                            </div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">鄉鎮市區</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="@Model.District_Code" name="District_Code" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">段</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="@Model.Section_Code" name="Section_Code" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">小段</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="@Model.Sub_Section_Name" name="Sub_Section_Name" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">母地號</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="@Model.Parent_Land_Number" name="Parent_Land_Number" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">子地號</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="@Model.Filial_Land_Number" name="Filial_Land_Number" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">權狀字號</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="@Model.Authorization_Number" name="Authorization_Number" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">地政事務所</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="@Model.Authorized_name" name="Authorized_name" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">整筆面積</label>
                                            <div class="col-sm-6"><input type="text" class="form-control text-danger" value="@Model.Area_Size" name="Area_Size" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">權利範圍</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" value="@(Model.Authorized_Scope_Molecule)" name="Authorized_Scope_Molecule" />/
                                                <input type="text" class="form-control" value="@(Model.Authorized_Scope_Denomminx)" name="Authorized_Scope_Denomminx" /> 
                                            </div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">權利面積</label>
                                            <div class="col-sm-6"><input type="text" class="form-control text-danger" value="@Model.Authorized_Area" name="Authorized_Area" /></div>
                                        </div>
                                    </td>
                                    <td width="10%" style="vertical-align:middle;border-left:#ccc 1px solid"><input type="checkbox"> 調整</td>
                                </tr>
                                <tr>
                                    <td width="45%">
                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">取得成本</label>
                                            <div class="col-sm-6">@Land.Original_Cost</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">帳面金額</label>
                                            <div class="col-sm-6">@Land.Current_Cost</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">營業用面積</label>
                                            <div class="col-sm-6">@Model.Business_Area_Size</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">非營業用面積</label>
                                            <div class="col-sm-6">@Model.NONBusiness_Area_Size</div>
                                        </div>

                                    </td>
                                    <td width="45%" style="border-left:#ccc 1px solid">
                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">&nbsp;</label>
                                            <div class="col-sm-6">&nbsp;</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">&nbsp;</label>
                                            <div class="col-sm-6">&nbsp;</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">營業用面積</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control text-danger" value="@Model.Business_Area_Size" />
                                            </div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">非營業用面積</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="@Model.NONBusiness_Area_Size" /></div>
                                        </div>

                                    </td>
                                    <td width="10%" style="vertical-align:middle;border-left:#ccc 1px solid"><input type="checkbox"> 調整</td>
                                </tr>
                                <tr>
                                    <td width="45%">
                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">年度</label>
                                            <div class="col-sm-6">@Land.Year_Number</div>
                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">公告現值</label>
                                            <div class="col-sm-6">@Land.Announce_Amount</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">公告地價</label>
                                            <div class="col-sm-6">@Land.Announce_Price</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">稅種</label>
                                            <div class="col-sm-6">@Land.Tax_Type</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">減免原因</label>
                                            <div class="col-sm-6">@Land.Reduction_reason</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">移轉地價</label>
                                            <div class="col-sm-6">@Land.Transfer_Price</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">減免面積</label>
                                            <div class="col-sm-6">@Land.Reduction_Area</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">申報地價</label>
                                            <div class="col-sm-6">@Land.Declared_Price</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">應繳稅額</label>
                                            <div class="col-sm-6">@Land.Dutiable_Amount</div>
                                        </div>
                                    </td>
                                    <td width="45%" style="border-left:#ccc 1px solid">
                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">年度</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="@Model.Year_Number" name="Year_Number" /></div>
                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">公告現值</label>
                                            <div class="col-sm-6"><input type="text" class="form-control text-danger" value="@Model.Announce_Amount" name="Announce_Amount" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">公告地價</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="@Model.Announce_Price" name="Announce_Price" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">稅種</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="@Model.Tax_Type" name="Tax_Type" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">減免原因</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="@Model.Reduction_reason" name="Reduction_reason" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">移轉地價</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="@Model.Transfer_Price" name="Transfer_Price" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">減免面積</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="@Model.Reduction_Area" name="Reduction_Area" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">申報地價</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="@Model.Declared_Price" name="Declared_Price" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">應繳稅額</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="@Model.Dutiable_Amount" name="Dutiable_Amount" /></div>
                                        </div>
                                    </td>
                                    <td width="10%" style="vertical-align:middle;border-left:#ccc 1px solid"><input type="checkbox"> 調整</td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div align="left" style="margin-left:30px">
                                            <label>
                                                連結房屋
                                            </label>
                                        </div>
                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">房屋財產編號</label>
                                            <div class="col-sm-6">2010202-0000043</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">

                                            <div class="col-sm-6" style="text-align:right"><a href="../Evaluation/H203_1.aspx" target="_blank" class="btn btn-gray"><i class="fa fa-search"> 查看房屋詳情 </i></a></div>
                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">資產分類</label>
                                            <div class="col-sm-6">2.010202.B  房屋-營業用房屋-固定-自用</div>
                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">建物門牌</label>
                                            <div class="col-sm-6">基隆市中正路義一路18號</div>
                                        </div>



                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">房屋標示</label>
                                            <div class="col-sm-6">臺北市大安區大安段三小段 123地號</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">房屋面積</label>
                                            <div class="col-sm-6">21,658.83  m2</div>
                                        </div>

                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group text-lineH-fix">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <button class="btn btn-default"><i class="fa fa-arrow-left" onclick="Return();">返回</i></button>
            <button class="btn btn-primary"><i class="fa fa-save" onclick="Save();">儲存</i></button>
        </div>
    </div>
</div>