﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>新增/編輯單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.RouteUrl( new {controller = "Home" , Action="Index"})">首頁</a>
            </li>
            <li>
                <a href="#">資產主檔更新</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">主檔更新作業  </a>
            </li>
            <li>
                <a href="#">新增/編輯單據</a>
            </li>
        </ol>
    </div>
</div>
<script src="/Scripts/plugins/blockui/jquery.blockUI.js"></script>
<script>
    var OrderID = '@ViewBag.ID';
    var changeedit = 0;
    function UpdateOrder(e)
    {
        $('#form').attr('action', '@Url.Action("UpdateOrder")');
        $('#form [name=SaveMode]')[0].value = e;
        if (top["tmpL"] != undefined)
            $('#form [name=DataB]')[0].value = top["tmpL"].toString();
       
        $('#form').submit();
    }
    function GetH(data, page) {
        $('#SP').block({
            message: '<h1>正在查询，请稍候……</h1>',
            css: {
                border: '3px solid khaki'
            }
        });
        var data = {};
        if (top["tmpL"] != undefined)
            data["ID"] = top["tmpL"];

        var con = JSON.stringify(data);
        $.ajax({
            url: "@Url.Action("EditH")",
            type: "post",
            async: true,
            complete: function () { $('#SP').unblock(); },
        data: "json=" + con + "&page="+page + "&AID=" + OrderID,
        success: function (data) {
            $("#SP").html(data);
        }
    })
    }
</script>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><span class="text-success">【步驟一】</span> 新增單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form id="form"  method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="Document_Type" value="3001">
                                        <option value="3001">主檔更新單</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="Source_Type" value="">
                                        <option value="4001">地政資料匯入</option>
                                    </select>

                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.No</div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 帳本</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="BOOK_TYPE_CODE" id="">
                                        <option value="NTD_RE_IFRS">NTD_RE_IFRS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 單據處理日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input name="BeginDate" type='text' class="form-control" value="@ViewBag.DateNow" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" name="" value="">
                                        <option value="001">001 總行</option>
                                        @{
                                            for (int i = 0; i < ViewBag.ju1["Data"].Count; i++)
                                            {
                                                <option value="@ViewBag.ju1["Data"][i].mh.Branch_Code">@ViewBag.ju1["Data"][i].mh.Branch_Code @ViewBag.ju1["Data"][i].mh.Department_Name</option>
                                            }
                                        }
                                    </select>

                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" name="Office_Branch" value="">
                                        @{
                                            for (int i = 0; i < ViewBag.ju2["Data"].Count; i++)
                                            {
                                                <option value="@ViewBag.ju2["Data"][i].mh.Department">@ViewBag.ju2["Data"][i].mh.Department @ViewBag.ju2["Data"][i].mh.Department_Name</option>
                                            }
                                        }
                                    </select>

                                </div>
                                <!--
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                                    -->
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix text-primary-re">@ViewBag.State</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註(關鍵字)</label>
                                <div class="col-sm-9"><input name="DESCRIPTION" type="text" class="form-control" value="" /></div>
                            </div>
                            <input type="text" name="SaveMode" style="display:none" value="" />
                            <input type="text" name="DataB" style="display:none" value="" />
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label><span class="text-success">【步驟二】</span></label>
                                    <a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary"><i class="fa fa-search"> 篩選準備調閱地政資料的資產 </i></a>
                                </td>
                                <td style="text-align: right">
                                    <span class="text-gray">調閱謄本進度：</span>
                                    <span class="text-success" style="font-size:1.5em">6 % </span>
                                    <span class="text-gray" style="margin-right:10px">( 21 / 3104 )</span>
                                    <a href="#" data-toggle="modal" id="HAAPI" onclick="GOHA()" class="btn btn-primary"><i class="fa fa-search"> 開始調閱 </i></a>
                                </td>
                            </tr>
                        </table>
                        <div id="SP">

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"><span>【步驟三】</span></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-splitdata" class="btn btn-success" data-toggle="modal"><i class="fa fa-long-arrow-right"> 提 交 </i></a>
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger"><i class="fa fa-trash"> 刪 除 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" onclick="UpdateOrder(0);" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-splitdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定提交嗎？</h3>
                        <button class="btn btn-sm btn-primary" onclick="UpdateOrder(1);" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-deletedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定刪除嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("EditSelect")
<script>
    var c = false;
    var guid = "";
    var rsguid = "";
    @if (!ViewBag.isnew) {

       @:$("[name=Document_Type]")[0].value = "@ViewBag.EdOrd.mh.Document_Type";
           @:$("[name=Source_Type]")[0].value = "@ViewBag.EdOrd.mh.Source_Type";
           @:$("[name=BOOK_TYPE_CODE]")[0].value = "@ViewBag.EdOrd.mh.BOOK_TYPE_CODE";
           @:$("[name=Office_Branch]")[0].value = "@ViewBag.EdOrd.mh.Office_Branch";
           @:$("[name=DESCRIPTION]")[0].value = "@ViewBag.EdOrd.mh.DESCRIPTION";
           @:$("[name=BeginDate]")[0].value = "@ViewBag.EdOrd.DateY/@ViewBag.EdOrd.DateM.ToString().PadLeft(2, '0')/@ViewBag.EdOrd.DateD.ToString().PadLeft(2, '0')";

            }
    function check_all(obj, btag) {
        var checkboxs = $("[btag=" + btag + "]");
        for (var i = 0; i < checkboxs.length; i++) { checkboxs[i].checked = obj.checked; }
    }
    function deleteme(e) {
        if (confirm("確定要刪除這筆資料嗎?")) {
            changeedit = 1;
            for (var i = 0 ; i < top["tmpL"].length ; i++) {
                if (top["tmpL"][i] == e.parentElement.parentElement.attributes.btag.value) {
                    top["tmpL"].splice(i, 1);
                    break;
                }
            }
            e.parentElement.parentElement.remove();

            var data = {};
            data["ID"] = top["tmpL"];
          
            var con = JSON.stringify(data);
            GetH(con);
        }
    }
    function GOHA()
    {
       
        if (changeedit == 1) {
            alert("本次變更尚未儲存,請先儲存!");
            return;
        }
        else {
           if (!c){
            $('#SP').block({
                message: '<h1>正在查询，请稍候……</h1>',
                css : {
                    border: '3px solid khaki'
                }
            });
            $.ajax({
                url: "@Url.Action("ApplyEDOC")",
                type: "post",
                data: "AID=" + OrderID +"&Data=" + top["tmpL"].toString(),
                complete: function () {
                    $('#SP').unblock();
                    if (c) {
                        $("#HAAPI")[0].className = "btn btn-danger";
                        $("#HAAPI")[0].children[0].textContent = " 立即中止調閱 ";
                        $("#HAAPI")[0].children[0].className = "fa fa-close";
                        $('#SP').block({
                            message: '<h1>調閱中請勿關閉本視窗……</h1>',
                            css: {
                                border: '3px solid khaki'
                            }
                        });
                        tickHA();

                    }
                },
                async: true,
                success: function (data) {
                    console.dir(data);
                    var jo = JSON.parse(data);
                    if (jo["RS"].toString().trim() == "送件成功") {
                        alert(jo["RS"].toString() + " 送件編號: " + jo["ID"].toString());
                        guid = jo["ID"].toString();
                        c = true;
                    }
                    else {
                        alert(jo["RS"].toString());
                        guid = "";
                    }
                   
                }
            })
           }
           else {
               if (confirm("確定要終止調閱嗎?")) {
                   c = false;
                   $('#SP').unblock();
                   $("#HAAPI")[0].className = "btn btn-primary";
                   $("#HAAPI")[0].children[0].textContent = " 開始調閱 ";
                   $("#HAAPI")[0].children[0].className = "fa fa-search";
               }
           }
        }
    }
    function tickHA()
    {
        if (c){
           
            $.ajax({
                url: "@Url.Action("ApplyQuery")",
                type: "post",
                data: "GUID=" + guid,
            complete: function () {
                setTimeout(tickHA, 5000);
                if ((!c) & (rsguid != "")) {
                    $('#SP').unblock();
                    ExportData();
                }
                   
            },
            async: true,
            success: function (data) {
                console.dir(data)
                if (data.substr(0,5)=="GUID:" )
                {
                    c = false;
                    rsguid = data.substr(5);
                }
            }
        })
       
        }
    }
    function ExportData() {
        //rsguid
        $('#SP').block({
            message: '<h1>資料已取回，正在導入中，请稍候……</h1>',
            css: {
                border: '3px solid khaki'
            }
        });
        $.ajax({
            url: "@Url.Action("ExportEDOCData")",
            type: "post",
            data: "GUID=" + rsguid + "&ID=" + OrderID,
        complete: function () {
          
            if ((!c) & (rsguid != "")) {
                $('#SP').unblock();
                alert("匯入完成,確定後刷新頁面");
                GetH();
            }
                   
        },
        async: true,
        success: function (data) {
            console.dir(data)
            if (data.trim().substr(0, 10) == "<BuildREG>")
            {
              
            }
        }
    })
    }
    function GetList1(page) {
        $('#SP').block({
            message: '<h1>正在查询，请稍候……</h1>',
            css: {
                border: '3px solid khaki'
            }
        });
        var data = {};
        data["ID"] = "";
        if (top["tmpL"] != undefined)
            data["ID"] = top["tmpL"];

        con = "json=" + JSON.stringify(data) + "&page=" + page + "&AID=" + OrderID;
        $.ajax({
            url: "@Url.Action("EditH")",
            type: "post",
            data: con,
            complete: function () { $('#SP').unblock(); },
            async: true,
            success: function (data) {
                $("#SP").html(data);
            }
        })
    }

    GetH();
</script>