﻿@{ 
    Layout = null;
}
<script>

    if ((top["tmpL"] == undefined) & ((@ViewBag.OrgID).length >= 0))
        {
            top["tmpL"] = @ViewBag.OrgID;
        
    }
    if (top["tmpL"].length >0){
        if (top["tmpL"][0] == 0)top["tmpL"].splice(0,1);
    }
    //$("#BuildCount")[0].textContent= "房屋 ("+top["tmpL"].length.toString()+")"; 
</script>
<div style="display:none">@ViewBag.data
    </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th rowspan="2" style="vertical-align:middle">項次</th>
            <th rowspan="2" style="vertical-align:middle">管轄單位</th>
            <th rowspan="2" style="vertical-align:middle">財產編號</th>
            <th rowspan="2" style="vertical-align:middle">土地坐落</th>
            <th colspan="2" style="vertical-align:middle">原主檔資料</th>
            <th colspan="2" style="vertical-align:middle">地政資料</th>
            <th rowspan="2" style="vertical-align:middle">比對</th>
            <th rowspan="2" style="vertical-align:middle">編輯</th>
            <th rowspan="2" style="vertical-align:middle">移出</th>
        </tr>
        <tr>
            <th>面積(m2)</th>
            <th>公告現值</th>
            <th>面積(m2)</th>
            <th>公告現值</th>
        </tr>
    </thead>
    <tbody>
        
    @for (int i = 0; i < ViewBag.data["Data"].Count; i++)
    {

     <tr btag="@ViewBag.data["Data"][i].Land_ID">
         <td>@(i + 1 + Int32.Parse(@ViewBag.data["pagestart"].ToString()))</td>
         <td></td>
         <td>@ViewBag.data["Data"][i].Asset_Number</td>
         <td>
             @ViewBag.data["Data"][i].City_Name
             @ViewBag.data["Data"][i].District_Name
             @ViewBag.data["Data"][i].Section_Name
             @ViewBag.data["Data"][i].Sub_Section_Name
             @ViewBag.data["Data"][i].Authorization_Number
         </td>
         <td>@ViewBag.data["Data"][i].Area_Size</td>
         <td>@ViewBag.data["Data"][i].Announce_Amount</td>
         <td>@ViewBag.data["Data"][i].Land_Area_Size</td>
         <td>@ViewBag.data["Data"][i].Land_Announce_Amount</td>
         <td></td>
         @if (@ViewBag.data["Data"][i].ID.ToString() == "0")
         {
            <td></td>

         }
         else
         {
            <td><a class="btn btn-gray btn-circle" href="@Url.Action("Revise",new {id=@ViewBag.data["Data"][i].ID})" title="編輯"><i class="fa fa-search"></i></a></td>

         }
         <td><a class="btn btn-danger btn-circle" onclick="deleteme(this)" title="刪除"><i class="fa fa-trash"></i></a></td>

     </tr>
    }

        <!--
        <tr>
            <td>1</td>
            <td>基隆分行</td>
            <td>1010202-0002706</td>
            <td>基隆市中正區日新段二小段    0001-0000    地號</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td class="lightorange_bg">1,870.00</td>
            <td class="lightorange_bg">8,027,570.00</td>
            <td><span class="text-danger">相異</span></td>
            <td><a class="btn btn-primary btn-circle" href="F203.aspx" title="編輯"><i class="fa fa-pencil"></i></a></td>
            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>基隆分行</td>
            <td>1010202-0002706</td>
            <td>基隆市中正區日新段二小段    0001-0001    地號</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td class="lightorange_bg">1,880.00</td>
            <td class="lightorange_bg">7,267,570.00</td>
            <td><span class="text-danger">相異</span></td>
            <td><a class="btn btn-primary btn-circle" href="F203.aspx" title="編輯"><i class="fa fa-pencil"></i></a></td>
            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>大安分行</td>
            <td>1010202-0002706</td>
            <td>基隆市中正區日新段二小段    0001-0000    地號</td>
            <td>1.00</td>
            <td>197,570.00</td>
            <td></td>
            <td></td>
            <td><span class="text-danger">合併</span></td>
            <td><a class="btn btn-primary btn-circle" href="F203.aspx" title="編輯"><i class="fa fa-pencil"></i></a></td>
            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>仁愛分行</td>
            <td>1010202-0002706</td>
            <td>基隆市中正區日新段二小段    0001-0000    地號</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td><span class="text-danger">相異</span></td>
            <td><a class="btn btn-primary btn-circle" href="F203.aspx" title="編輯"><i class="fa fa-pencil"></i></a></td>
            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
        </tr>
        <tr>
            <td>5</td>
            <td>仁愛分行</td>
            <td>1010202-0002706</td>
            <td>基隆市中正區日新段二小段    0001-0000    地號</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td>相同</td>
            <td><a class="btn btn-primary btn-circle" href="F203.aspx" title="編輯"><i class="fa fa-pencil"></i></a></td>
            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
        </tr>
        <tr>
            <td>6</td>
            <td>基隆分行</td>
            <td>1010202-0002706</td>
            <td>基隆市中正區日新段二小段    0001-0000    地號</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td>1,879.00</td>
            <td class="lightorange_bg">8,027,570.00</td>
            <td><span class="text-danger">相異</span></td>
            <td><a class="btn btn-primary btn-circle" href="F203.aspx" title="編輯"><i class="fa fa-pencil"></i></a></td>
            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
        </tr>
        <tr>
            <td>7</td>
            <td>大安分行</td>
            <td>1010202-0002706</td>
            <td>基隆市中正區日新段二小段    0001-0000    地號</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td>相同</td>
            <td><a class="btn btn-primary btn-circle" href="F203.aspx" title="編輯"><i class="fa fa-pencil"></i></a></td>
            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
        </tr>
        <tr>
            <td>8</td>
            <td>大安分行</td>
            <td>1010202-0002706</td>
            <td>基隆市中正區日新段二小段    0001-0000    地號</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="btn btn-primary btn-circle" href="F203.aspx" title="編輯"><i class="fa fa-pencil"></i></a></td>
            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
        </tr>
        <tr>
            <td>9</td>
            <td>仁愛分行</td>
            <td>1010202-0002706</td>
            <td>基隆市中正區日新段二小段    0001-0000    地號</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="btn btn-primary btn-circle" href="F203.aspx" title="編輯"><i class="fa fa-pencil"></i></a></td>
            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
        </tr>

        <tr>
            <td>10</td>
            <td>仁愛分行</td>
            <td>1010202-0002706</td>
            <td>基隆市中正區日新段二小段    0001-0000    地號</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="btn btn-primary btn-circle" href="F203.aspx" title="編輯"><i class="fa fa-pencil"></i></a></td>
            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
        </tr>-->
    </tbody>
</table>
<nav class="text-center">
    @Html.Partial("pagination1")
</nav>
