﻿@using InspiniaWebAdminTemplate.Models.MU
@model MUViewModel
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string ReturnController = controllerName;

    string functionName = MUHelper.GetFunctionTitle(controllerName);
    var Action = ViewContext.RouteData.GetRequiredString("action");
    ViewBag.Title = (Action == "New") ? "新增單據" : "編輯單據";
    var TRX_Header_ID = ViewBag.TRXID != null ? ViewBag.TRXID : Model.Header.TRX_Header_ID;
    TempData["FunctionFrom"] = ViewBag.Title;

    if (Convert.ToBoolean(ViewBag.SignMode))
    {
        Layout = "~/Views/Shared/_EmptyLayout.cshtml";
        TempData["SignMode"] = true;
    }
}

<script>
    function New_Asset()
    {
        $('#form').attr('action', '@Url.Action("Asset_New")');
        $('#form').submit();
    }
    function Search_Asset()
    {
        $('#form').attr('action', '@Url.Action("Asset_Search")');
        $('#form').submit();
    }
    function doSave()
    {
        $('#form').attr('action', '@Url.Action("HandleHeader")');
        $('#form').submit();
    }
    function CreateFlow()
    {
        $('#form').attr('action', '@Url.Action("CreateFlow", controllerName)');
        $('#form').submit();
    }

    @if (TempData["message"] != null)
    {
        <text>
            window.onload = function () {
                alert('@TempData["message"].ToString()');
        }
        </text>
    }
</script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>新增/編輯單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">資產主檔更新</a>
            </li>
            <li>
                <a href="#">主檔更新作業</a>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><span class="text-success">【步驟一】</span> 新增單據</h5>
                </div>
                <div class="ibox-content">

                    <form method="post" id="form" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6">
                                    @((Model != null && !string.IsNullOrEmpty(Model.Header.Transaction_Type)) ? Model.Header.Transaction_Type : functionName)
                                    <input type="hidden" name="Transaction_Type" value="@((Model != null) ? Model.Header.Transaction_Type : "")" />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">地政資料匯入</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">
                                    @Model.Header.TRX_Header_ID
                                    <input type="hidden" value="@Model.Header.TRX_Header_ID" name="TRX_Header_ID" />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 帳本</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="Book_Type">
                                        <option value="RE_IFRS" @((Model != null && Model.Header != null && Model.Header.Book_Type == "RE_IFRS") ? "selected" : "" )>RE_IFRS</option>
                                        <option value="IFRS_TWD" @((Model != null && Model.Header != null && Model.Header.Book_Type == "IFRS_TWD") ? "selected" : "" )>IFRS_TWD</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 單據處理日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type="text" class="form-control" name="Transaction_Datetime_Entered" value="@((Model != null && Model.Header != null) ? Model.Header.Transaction_Datetime_Entered.ToString("yyyy/MM/dd") : DateTime.Now.ToString("yyyy/MM/dd"))" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="001">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" name="Office_Branch">
                                        <option value="009">009 產權部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="001">001 XX科</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix text-primary-re">
                                    <div class="col-sm-6">
                                        @((Action == "New") ? "新增" : "編輯")
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註(關鍵字)</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" value="@((Model != null && Model.Header != null) ? Model.Header.Description : "")" name="Description" />
                                </div>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label><span class="text-success">【步驟二】</span></label>
                                    <button onclick="Search_Asset();" class="btn btn-primary"><i class="fa fa-search"> 篩選準備調閱地政資料的資產 </i></button>
                                </td>
                                <td style="text-align: right">
                                    <span class="text-gray">調閱謄本進度：</span>
                                    <span class="text-success" style="font-size:1.5em">6 % </span>
                                    <span class="text-gray" style="margin-right:10px">( 21 / 3104 )</span>
                                    <a href="#" data-toggle="modal" class="btn btn-danger"><i class="fa fa-close"> 立即中止調閱 </i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th rowspan="2" style="vertical-align:middle">項次</th>
                                    <th rowspan="2" style="vertical-align:middle">管轄單位</th>
                                    <th rowspan="2" style="vertical-align:middle">財產編號</th>
                                    <th rowspan="2" style="vertical-align:middle">土地坐落</th>
                                    <th colspan="2" style="vertical-align:middle">原主檔資料</th>
                                    <th colspan="2" style="vertical-align:middle">地政資料</th>
                                    <th rowspan="2" style="vertical-align:middle">比對</th>
                                    <th rowspan="2" style="vertical-align:middle">編輯</th>
                                    <th rowspan="2" style="vertical-align:middle">移出</th>
                                </tr>
                                <tr>
                                    <th>面積(m2)</th>
                                    <th>公告現值</th>
                                    <th>面積(m2)</th>
                                    <th>公告現值</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Assets.Count(); i++)
                                {
                                    var item = Model.Assets.ToList()[i];
                                    
                                    <text>
                                        <tr>
                                            <td>@(i+1)</td>
                                            <td>@Model.Header.Office_Branch</td>
                                            <td>@item.Asset_Number</td>
                                            <td>@item.Description</td>
                                            <td>@item.Ori_Area_Size</td>
                                            <td>@item.Ori_Announce_Amount</td>
                                            <td @(((item.Area_Size != item.Ori_Area_Size))?"class=lightorange_bg":"")>@item.Area_Size</td>
                                            <td @(((item.Announce_Amount != item.Ori_Announce_Amount)?"class=lightorange_bg":""))>@item.Announce_Amount</td>
                                            <td>
                                                <span class="text-danger">
                                                    @if((item.Area_Size != item.Ori_Area_Size) || (item.Announce_Amount != item.Ori_Announce_Amount))
                                                    {
                                                        <text>
                                                            相異
                                                        </text>
                                                    }
                                                    else
                                                    {
                                                        <text>
                                                            相同
                                                        </text>
                                                    }
                                                 </span>
                                            </td>
                                            <td><a class="btn btn-primary btn-circle" href="@Url.Action("Asset_Edit", new { id = item.ID, Transaction_Type = Model.Header.Transaction_Type })" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                    </text>
                                }
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"><span>【步驟三】</span></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a class="btn btn-success" data-toggle="modal"><i class="fa fa-long-arrow-right"> 提 交 </i></a>
            <a class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a class="btn btn-danger"><i class="fa fa-trash"> 刪 除 </i></a>
            <a href="@Url.Action("Index")" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>



