﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="F201.aspx" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 比對/調整資產</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">資產主檔更新</a>
            </li>
            <li>
                <a href="#">主檔更新作業</a>
            </li>
            <li>
                <a href="#">新增/編輯單據</a>
            </li>
            <li>
                <a href="#">比對/調整資產</a>
            </li>
        </ol>
    </div>
</div>
 <div>
     @ViewBag.Data 
 </div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>比對/調整資產</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th width="45%">原主檔資料</th>
                                    <th width="45%">地政資料</th>
                                    <th width="10%">依地政調整</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="45%">
                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">資產編號</label>
                                            <div class="col-sm-9">1010202B-0000036</div>
                                        </div>

                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">原資產編號</label>
                                            <div class="col-sm-9">0100000643</div>
                                        </div>

                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">資產分類</label>
                                            <div class="col-sm-9">1.010202.B  土地-營業用房屋基地-固定-自用</div>
                                        </div>

                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">啟用日期</label>
                                            <div class="col-sm-9">45-10-17</div>
                                        </div>

                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">管轄單位</label>
                                            <div class="col-sm-9">001 總行    08 產權部    001 XX科</div>
                                        </div>

                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">摘要</label>
                                            <div class="col-sm-9">臺北市大安區大安段三小段0258-0000</div>
                                        </div>

                                    </td>
                                    <td width="45%" style="border-left:#ccc 1px solid">
                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">&nbsp;</label>
                                            <div class="col-sm-9">&nbsp;</div>
                                        </div>

                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">&nbsp;</label>
                                            <div class="col-sm-9">&nbsp;</div>
                                        </div>

                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">&nbsp;</label>
                                            <div class="col-sm-9">&nbsp;</div>
                                        </div>

                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">&nbsp;</label>
                                            <div class="col-sm-9">&nbsp;</div>
                                        </div>

                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">&nbsp;</label>
                                            <div class="col-sm-9">&nbsp;</div>
                                        </div>

                                        <div class="col-sm-9 form-group text-lineH-fix">
                                            <label for="" class="col-sm-2 control-label">摘要</label>
                                            <div class="col-sm-9"><input type="text" class="form-control" value="臺北市大安區大安段三小段0258-0000" /></div>
                                        </div>

                                    </td>
                                    <td width="10%" style="vertical-align:middle;border-left:#ccc 1px solid"><input type="checkbox"> 調整</td>
                                </tr>
                                <tr>
                                    <td width="45%">
                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">縣市</label>
                                            <div class="col-sm-6">臺北市</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">鄉鎮市區</label>
                                            <div class="col-sm-6">大安區</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">段</label>
                                            <div class="col-sm-6">大安段</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">小段</label>
                                            <div class="col-sm-6">三小段</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">母地號</label>
                                            <div class="col-sm-6">0258</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">子地號</label>
                                            <div class="col-sm-6">0000</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">權狀字號</label>
                                            <div class="col-sm-6">92北大字第21000號</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">地政事務所</label>
                                            <div class="col-sm-6">大安</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">整筆面積</label>
                                            <div class="col-sm-6">905.00 m2</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">權利範圍</label>
                                            <div class="col-sm-6">1 / 1</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">權利面積</label>
                                            <div class="col-sm-6">905.00 m2</div>
                                        </div>
                                    </td>
                                    <td width="45%" class="lightorange_bg" style="border-left:#ccc 1px solid">
                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">縣市</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="臺北市" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">鄉鎮市區</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="大安區" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">段</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="大安段" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">小段</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="三小段" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">母地號</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="0258" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">子地號</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="0000" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">權狀字號</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="92北大字第21000號" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">地政事務所</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="大安" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">整筆面積</label>
                                            <div class="col-sm-6"><input type="text" class="form-control text-danger" value="894.00 m2" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">權利範圍</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="1 / 1" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">權利面積</label>
                                            <div class="col-sm-6"><input type="text" class="form-control text-danger" value="894.00 m2" /></div>
                                        </div>
                                    </td>
                                    <td width="10%" style="vertical-align:middle;border-left:#ccc 1px solid"><input type="checkbox"> 調整</td>
                                </tr>
                                <tr>
                                    <td width="45%">
                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">取得成本</label>
                                            <div class="col-sm-6">85,860 </div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">帳面金額</label>
                                            <div class="col-sm-6">1,266,066</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">營業用面積</label>
                                            <div class="col-sm-6">905.00 m2</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">非營業用面積</label>
                                            <div class="col-sm-6">0 m2</div>
                                        </div>

                                    </td>
                                    <td width="45%" style="border-left:#ccc 1px solid">
                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">&nbsp;</label>
                                            <div class="col-sm-6">&nbsp;</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">&nbsp;</label>
                                            <div class="col-sm-6">&nbsp;</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">營業用面積</label>
                                            <div class="col-sm-6"><input type="text" class="form-control text-danger" value="894.00 m2" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">非營業用面積</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="0 m2" /></div>
                                        </div>

                                    </td>
                                    <td width="10%" style="vertical-align:middle;border-left:#ccc 1px solid"><input type="checkbox"> 調整</td>
                                </tr>
                                <tr>
                                    <td width="45%">
                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">年度</label>
                                            <div class="col-sm-6">106</div>
                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">公告現值</label>
                                            <div class="col-sm-6">236,503</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">公告地價</label>
                                            <div class="col-sm-6">60,862</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">稅種</label>
                                            <div class="col-sm-6">公共設施保留地</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">減免原因</label>
                                            <div class="col-sm-6">巷道用地</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">移轉地價</label>
                                            <div class="col-sm-6">0</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">減免面積</label>
                                            <div class="col-sm-6">0</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">申報地價</label>
                                            <div class="col-sm-6">1,266,066</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">應繳稅額</label>
                                            <div class="col-sm-6">1,900</div>
                                        </div>
                                    </td>
                                    <td width="45%" style="border-left:#ccc 1px solid">
                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">年度</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="106" /></div>
                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">公告現值</label>
                                            <div class="col-sm-6"><input type="text" class="form-control text-danger" value="220,730" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">公告地價</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="60,862" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">稅種</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="公共設施保留地" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">減免原因</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="巷道用地" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">移轉地價</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="0" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">減免面積</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="0" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">申報地價</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="1,266,066" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">應繳稅額</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="1,900" /></div>
                                        </div>
                                    </td>
                                    <td width="10%" style="vertical-align:middle;border-left:#ccc 1px solid"><input type="checkbox"> 調整</td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div align="left" style="margin-left:30px">
                                            <label>
                                                連結房屋
                                            </label>
                                        </div>
                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">房屋財產編號</label>
                                            <div class="col-sm-6">2010202-0000043</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">

                                            <div class="col-sm-6" style="text-align:right"><a href="../Evaluation/H203_1.aspx" target="_blank" class="btn btn-gray"><i class="fa fa-search"> 查看房屋詳情 </i></a></div>
                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">資產分類</label>
                                            <div class="col-sm-6">2.010202.B  房屋-營業用房屋-固定-自用</div>
                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">建物門牌</label>
                                            <div class="col-sm-6">基隆市中正路義一路18號</div>
                                        </div>



                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">房屋標示</label>
                                            <div class="col-sm-6">臺北市大安區大安段三小段 123地號</div>
                                        </div>

                                        <div class="col-sm-6 form-group text-lineH-fix">
                                            <label for="" class="col-sm-3 control-label">房屋面積</label>
                                            <div class="col-sm-6">21,658.83  m2</div>
                                        </div>

                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group text-lineH-fix">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#" class="btn btn-primary"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-close"> 返 回 </i></a>
        </div>
    </div>
</div>
