﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 新增/編輯巡查案件</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.RouteUrl( new {controller = "Home" , Action="Index"})">首頁</a>
            </li>
            <li>
                <a href="#">資產巡查作業</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">分行巡查作業</a>
            </li>
            <li>
                <a href="#">新增/編輯單據</a>
            </li>
            <li>
                <a href="#">新增/編輯巡查案件</a>
            </li>
        </ol>
    </div>
</div>
<div style="display:none">
    @ViewBag.HL
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>新增/編輯巡查案件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" id="SaveF" action="@Url.Action("SaveF")" class="form-horizontal">
                        <input name="ID" value="@ViewBag.DataM["ID"]" style="display:none"></input>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">案件編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="@ViewBag.DataM["Detail_No"]" disabled /></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 案件狀態</label>
                                <div class="col-sm-6 checkbox-list" >
                                    <input type="radio"  value="1" name="Type"
                                           @if (ViewBag.DataM["Type"].ToString() =="1") { 
                                               @:checked
                                           }><span>起案</span>
                                    <input type="radio" value="2" name="Type"
                                           @if (ViewBag.DataM["Type"].ToString() =="2") { 
                                               @:checked
                                           }
                                    ><span>執行中</span>
                                    <input type="radio" value="3" name="Type"
                                           @if (ViewBag.DataM["Type"].ToString() =="3") { 
                                               @:checked
                                           }
                                           ><span>結案</span>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">巡查方式</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.Data["ST"]</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 起案日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="BeginDate" value="@ViewBag.DataM["BeginDate1"]" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 結案日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="EndDate" value="@ViewBag.DataM["EndDate1"]" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ibox-c-subtitle">租約</div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-6 text-lineH-fix">001 總行 08 產權部 001 XX科</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"></label>
                                <div class="col-sm-6" style="text-align:right"><a href="@Url.Action("ContentDetail_2","AssetInspectSearch")" target="_blank" class="btn btn-gray"><i class="fa fa-search"> 查看資產詳情 </i></a></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產分類</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.DataL["Asset_Category_code"]</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">啟用日期</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.DataL["Datetime_Placed_In_Service1"]</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產編號</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.DataL["Asset_Number"]</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">原資產編號</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.DataL["Old_Asset_Number"]</div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">摘要</label>
                                <div class="col-sm-9 text-lineH-fix">@ViewBag.DataL["Description"]</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">自用面積</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.DataL["Area_Size"]</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">非自用用面積</label>
                                <div class="col-sm-6 text-lineH-fix">0</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">營業用面積</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.DataL["Business_Area_Size"]</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">非營業用面積</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.DataL["NONBusiness_Area_Size"]</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">取得成本</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.DataL["Original_Cost"]</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">累計減損</label>
                                <div class="col-sm-6 text-lineH-fix">0</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">公告現值</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.DataL["Announce_Amount"]</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">公告地價</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.DataL["Announce_Price"]</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">帳面金額</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.DataL["Business_Book_Amount"]</div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">帳面價值</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.DataL["Business_Book_Amount"]</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">營業用帳面金額</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.DataL["Business_Book_Amount"]</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">非營業用帳面金額</label>
                                <div class="col-sm-6 text-lineH-fix">0</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">估計應付土地增值稅</label>
                                <div class="col-sm-6 text-lineH-fix">0</div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">未實現重估增值</label>
                                <div class="col-sm-6 text-lineH-fix">0</div>
                            </div>

                        </div>

                        <div class="ibox-c-subtitle">巡查表</div>
                    
                        <div class="row">
                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">巡查單位</label>
                                <div class="col-sm-3">
                                    @ViewBag.Data["OB"]
                                    <!--
                                    <select class="form-control" id="">
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">009 產權部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 XX科</option>
                                    </select>-->
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">巡查人員</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="@ViewBag.User.ID">@ViewBag.User.Name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">摘要</label>
                                <div class="col-sm-9"><input type="text" name="DESCRIPTION" class="form-control" value="@ViewBag.DataM["DESCRIPTION"]" /></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">巡查日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' name="InspectDate" value="@ViewBag.DataM["InspectDate1"]" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">巡查狀況</label>
                                <div class="col-sm-9 checkbox-list" value="@ViewBag.DataM["InspectType"]">
                                    <input type="radio" value="1" name="InspectType"
                                           @if (ViewBag.DataM["InspectType"].ToString() == "1")
                                           { 
                                               @: checked
                                           }><span>正常</span>
                                    <input type="radio" value="2" name="InspectType"
                                           @if (ViewBag.DataM["InspectType"].ToString() == "2")
                                           {
                                               @: checked
                                           }><span>雜草</span>
                                    <input type="radio" value="3" name="InspectType"
                                           @if (ViewBag.DataM["InspectType"].ToString() == "3")
                                           {
                                               @: checked
                                           }><span>疑似占用</span>
                                    <input type="radio" value="4" name="InspectType"
                                           @if (ViewBag.DataM["InspectType"].ToString() == "4")
                                           {
                                               @: checked
                                           }><span>需整理</span>
                                   
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">上傳巡查照片</label>
                                <div class="col-sm-9">
                                    <input id="uploadFile"  placeholder="" class="form-control " style="width:30%;float:left" />
                                    <div class="fileUpload btn btn-gray" style="border-radius: 0 3px 3px 0; float:left">
                                        <span><i class="fa fa-search"> 瀏 覽 </i></span>
                                        <input id="uploadBtn" type="file"  class="upload"  />
                                    </div>
                                    <div style="margin-left:5px;float:left" id="prevpic"><img src="images/preview.jpg">&nbsp;&nbsp;<img src="images/preview.jpg">&nbsp;&nbsp;<img src="images/preview.jpg"></div>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">案件說明</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="@ViewBag.DataM["InspectReason"]" name="InspectReason" /></div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">巡查紀錄/結果</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="@ViewBag.DataM["InspectResult"]" name="InspectResult" /></div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">備註</label>
                                <div class="col-sm-9"><input type="text" class="form-control" name="Remark" value="@ViewBag.DataM["Remark"]" /></div>
                            </div>

                        </div>
                          
                        <div class="ibox-c-subtitle">巡查紀錄</div>

                        <div class="table-responsive" style="margin-bottom:50px">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>巡查起案時間</th>
                                        <th>巡查方式</th>
                                        <th>巡查狀況</th>
                                        <th>單據編號</th>
                                        <th>摘要</th>
                                        <th>案件狀況</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i<ViewBag.HL.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                             @if (ViewBag.HL[i].m.BeginDate.ToString() == "")
                                             {
                                                 @ViewBag.HL[i].m.BeginDate;
                                             }
                                             else
                                             { 
                                                @Html.Raw(((DateTime)@ViewBag.HL[i]["m"]["BeginDate"]).AddYears(-1911).ToString("yyy/MM/dd"));
                                             }
                                            </td>
                                            <td>@ViewBag.HL[i].ST</td>
                                            <td>
                                            @if (@ViewBag.HL[i].d["InspectType"].ToString() == "1")
                                            {
                                                @:正常
                                            }
                                           @if (@ViewBag.HL[i].d["InspectType"].ToString() == "2")
                                           {
                                               @:雜草
                                           }
                                           @if (@ViewBag.HL[i].d["InspectType"].ToString() == "3")
                                           {
                                               @:疑似占用
                                           }
                                           @if (@ViewBag.HL[i].d["InspectType"].ToString() == "4")
                                           {
                                               @:需整理
                                           }
                                            </td>
                                            <td><a href="@Url.Action("Detail",new{ id = @ViewBag.HL[i].d["BID"].ToString()})" target="_blank">@ViewBag.HL[i].m.TRX_Header_ID</a></td>
                                            <td>@ViewBag.HL[i].d.DESCRIPTION</td>
                                            <td>
                                                @if (@ViewBag.HL[i].d["Type"].ToString() == "0")
                                                {
                                                    @:總行指定
                                           }
                                                @if (@ViewBag.HL[i].d["Type"].ToString() == "1")
                                                {
                                                    @:起案
                                           }
                                                @if (@ViewBag.HL[i].d["Type"].ToString() == "2")
                                                {
                                                    @:執行中
                                           }
                                                @if (@ViewBag.HL[i].d["Type"].ToString() == "3")
                                                {
                                                    @:結案
                                           }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" onclick="SaveF()" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
document.getElementById("uploadBtn").onchange = function () {
    document.getElementById("uploadFile").value = this.files[0].name;
    Savepic(this);
};
function SaveF() {
    $("#SaveF").submit();
}
function Savepic(ele) {
    var blobFile = ele.files[0];
    var formData = new FormData();
    formData.append("file", blobFile);
    formData.append("UID", '@ViewBag.ID');
    $.ajax({
        url: "@Url.Action("SavePic")",
        type: "POST",
        data: formData,
        processData: false,
        contentType: false,
        async: false,
        success: function (data) {
            Getpiclist();
           // $("#prevpic")[0].innerHTML = '<img src="' + '@Url.Action("LoadPic")' + '/?filename=' + data + '">&nbsp;&nbsp;';
        }
    });

}
    function Getpiclist() {
        $.ajax({
            url: "@Url.Action("GetPicList")" ,
            type: "POST",
            data: 'ID=' + '@ViewBag.ID',
        async: false,
        success: function (data) {
            var da = JSON.parse(data);
            console.dir(da);
            var st = "";
            for (var i = 0 ; i < da["Data"].length ; i++) {
                st += '<img src="' + '@Url.Action("LoadPic")' + '/?filename=' + da["Data"][i].PN.toString()  + '">&nbsp;&nbsp;'
            }
            $("#prevpic")[0].innerHTML = st;
        }
    });

    }
    Getpiclist();
</script>