﻿@{ 
    Layout = null;
}
<script>

    if ((top["tmpL"] == undefined) & ((@ViewBag.OrgID).length >= 0))
        {
            top["tmpL"] = @ViewBag.OrgID;
        
    }
    if (top["tmpL"].length >0){
        if (top["tmpL"][0] == 0)top["tmpL"].splice(0,1);
    }
    //$("#BuildCount")[0].textContent= "房屋 ("+top["tmpL"].length.toString()+")"; 
</script>
<div style="display:none">@ViewBag.data
    </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>項次</th>
            <th>案件編號</th>
            <th>起案日期</th>
            <th>資產編號</th>
            <th>摘要</th>
            <th>資產分類</th>
            <th>巡查日期</th>
            <th>案件狀態</th>
            <th>編輯</th>
        </tr>
    </thead>

    <tbody>
        <!--
        <tr>
            <td>1</td>
            <td>106-00001</td>
            <td>106-1-5</td>
            <td>1010202B-0000036</td>
            <td>臺北市大安區大安段三小段0258-0000</td>
            <td>1.010202.B</td>
            <td></td>
            <td>起案</td>
            <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail")" title="編輯"><i class="fa fa-pencil"></i></a></td>
            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
        </tr>
            -->
    @for (int i = 0; i < ViewBag.data["Data"].Count; i++)
    {

     <tr btag="@ViewBag.data["Data"][i].Land_ID">
         <td>@(i + 1 + Int32.Parse(@ViewBag.data["pagestart"].ToString()))</td>
         <td>@ViewBag.data["Data"][i].Detail_No</td>
         <td>@ViewBag.data["Data"][i].BeginDate</td>
         <td>@ViewBag.data["Data"][i].Asset_Number</td>
         <td> @ViewBag.data["Data"][i].Description</td>
         <td>@ViewBag.data["Data"][i].Asset_Category_code</td>
         <td></td>
         <td>
             @switch ((Int32)@ViewBag.data["Data"][i].TType)
            {
                case 0:
                   @:總行指定
                   break;
                 case 1:
                    @:起案
                   break;
                 case 2:
                    @:執行中
                   break;
                 case 3:
                    @:結案
                   break;
                 default:
                     @:
                     break;
            }
         </td>
         <td>@if (!(bool)@ViewBag.data["Data"][i].IsNew)
         {
            <a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail",new { id = ViewBag.data["Data"][i].ID.ToString() })" title="編輯">
                <i class="fa fa-pencil"></i>
            </a>
         }
         
         </td>
        
     </tr>
    }

    </tbody>
</table>
<nav class="text-center">
    @Html.Partial("pagination1")
</nav>
