﻿
@{
    Layout = null;
}

<ul class="pagination">
    @{

        int totalpage = (int)Math.Ceiling((double)ViewBag.data["amount"] / (double)ViewBag.data["pagecount"]);
        int nowpage = (int)Math.Ceiling((double)((int)ViewBag.data["pagestart"] + 1) / (double)ViewBag.data["pagecount"]);
        //竿竿最多顯示幾頁
        int maxcount = 10;
        //目前在第幾個分頁
        int subpage = (int)Math.Ceiling((double)nowpage / maxcount);
        //按>>要顯示第幾頁
        int nextpage = subpage * maxcount + 1;
        //按<<要顯示第幾頁
        int prevpage = (subpage - 1) * maxcount;
        <li>
            <a href="javascript:void(0);" onclick="GetList1('1');" aria-label="Prev">
                <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
        </li>
        if (prevpage > 0)
        {
            <li>
                <a href="javascript:void(0);" onclick="GetList1('@prevpage');" aria-label="Prev">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        for (
                int i = (subpage - 1) * maxcount + 1;
                i < subpage * maxcount + 1;
                i++
          )
        {
            //(ViewBag.data["pagestart"] / ViewBag.data["pagecount"]) +1 = 現在頁數
            if (i > totalpage) { break; }
            if (i > (subpage) * maxcount) { break; }
            if (nowpage == i)
            {
                <li class="disabled"><a>@i</a></li>
            }
            else
            {
                <li><a href="javascript:void(0);" onclick="GetList1('@i');">@i</a></li>
            }
        }

        if (nextpage <= totalpage)
        {
            <li>
                <a href="javascript:void(0);" onclick="GetList1('@nextpage');" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }


        <li>
            <a href="javascript:void(0);" onclick="GetList1('@totalpage');" aria-label="Next">
                <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
        </li>
    }
</ul>

