﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>請使用chrome瀏覽器</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/default.min.css">
    <link rel="stylesheet" href="~/Content/vs.css">

    <style>
        blockquote p {
            font-weight: bold;
            font-family: monospace, serif;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("基礎架構", "Index", "Home")</li>
                    <li>@Html.ActionLink("簽核api", "Approval", "Home")</li>
                    <li>@Html.ActionLink("帳務", "Accounting", "Home")</li>
                    <li>@Html.ActionLink("EAI界接", "EAI", "Home")</li>
                    <li>@Html.ActionLink("Adws界接與登入架構", "Adws", "Home")</li>
                    <li>@Html.ActionLink("Email界接", "Email", "Home")</li>
                    <li>@Html.ActionLink("檔案上傳", "FileSystem", "Home")</li>
                    <li>@Html.ActionLink("三層式架構", "Layer3", "Home")</li>
                    <li>@Html.ActionLink("土銀上版SOP", "UpdateSOP", "Home")</li>
                    <li>@Html.ActionLink("Vue.js指導手冊", "Vue", "Home")</li>
                    <li>@Html.ActionLink("原碼掃描", "Scan", "Home")</li>
                    <li>@Html.ActionLink("檢核表", "CheckList", "Home")</li>
                    <li>@Html.ActionLink("版控流程", "VersionControlFlow", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <h2>@ViewBag.Title</h2>
     </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 關貿網路</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/mermaid.min.js"></script>
    <script src="~/Scripts/highlight.pack.js"></script>
    <script>
        mermaid.initialize({ startOnLoad: true, theme: 'forest' });
        $(document).ready(function () {

            $(".cs, .CS, .cpp, .CPP, .xml").each(function (i, block) {
                hljs.highlightBlock(block);
            });
        });
    </script>

    @RenderSection("scripts", required: false)


</body>
</html>
