﻿@using InspiniaWebAdminTemplate.Models.UserConfig
@model IndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>新增人員</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">登入角色管理</a>
            </li>
            <li>
                <a href="#">人員基本資料</a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" id="root">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form action="@Url.Action("Update")" method="post" class="form-horizontal" id="update_roles">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">個人基本資料維護</a></li>
                            @*<li><a data-toggle="tab" href="#menu1">設定代理人</a></li>*@
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <p>@PersonalInfo()</p>
                            </div>
                            @*<div id="menu1" class="tab-pane fade">
                                <p>@ProxyInfo()</p>
                            </div>*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@helper PersonalInfo()
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="wrapper wrapper-content col-sm-10">
            <div class="row">

                <div class="col-sm-6 form-group">
                    <label for="" class="col-sm-4 control-label required">人員編號</label>
                    <div class="input-group col-sm-8">
                        @Html.TextBoxFor(m => m.UserCode, new { @class = "form-control", @readonly = "true" })
                        @*<input type="text" class="form-control">*@
                        <span id="syncBtn" class="btn btn-primary input-group-addon">同步</span>
                    </div>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="" class="col-sm-4 control-label required" align="right">人員姓名</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @readonly = "true" })
                        @*<input type="text" class="form-control">*@
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="" class="col-sm-4 control-label required" align="right">所屬部門</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.Department, new { @class="form-control", @readonly = "true" })
                        @*<input type="text" class="form-control">*@
                    </div>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="" class="col-sm-4 control-label required" align="right">分行別</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.BranchName, new { @class = "form-control", @readonly = "true" })
                        @*<select class="form-control"></select>*@
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="" class="col-sm-4 control-label required" align="right">是否啟用</label>
                    <div class="col-sm-8" align="left">
                        @Html.RadioButtonFor(m => m.IsEnable, true, new { @disabled = true })
                        @Html.Label("是", new { @class = "radio-inline" })
                        @Html.RadioButtonFor(m => m.IsEnable, false, new { @disabled = true })
                        @Html.Label("否", new { @class = "radio-inline" })
                        @*<label class="radio-inline">
                            <input type="radio" name="optradio">是
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">否
                        </label>*@
                    </div>
                </div>
                @*<div class="col-sm-6 form-group" align="left">
                    <label for="" class="col-sm-4 control-label required" align="right">是否主管</label>
                    <div class="col-sm-8">
                        @Html.RadioButtonFor(m => m.IsManager, true)
                        @Html.Label("是", new { @class="radio-inline" })
                        @Html.RadioButtonFor(m => m.IsManager, false)
                        @Html.Label("否", new { @class = "radio-inline" })
                    </div>
                </div>*@
            </div>


            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="" class="col-sm-4 control-label required" align="right">職稱</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @readonly = "true" })
                        @*<input type="text" class="form-control">*@
                    </div>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="" class="col-sm-4 control-label " align="right">離職日期</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.LeaveDate, "{0:yyyy/MM/dd}", new { @class = "form-control", @readonly="true" })
                        @*<input type="text" class="form-control">*@
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="" class="col-sm-4 control-label " align="right">管轄分行</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.BranchName, new { @class = "form-control", @readonly = "true" })
                        @*<input type="text" class="form-control">*@
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="" class="col-sm-2 control-label required" align="right">電子信箱</label>
                    <div class="col-sm-6">
                        @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "true" })*@
                        <input type="text" value="@Html.Raw(string.Format("{0}@landbank.com.tw", Model.UserCode))" class="form-control" readonly>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="" class="col-sm-2 control-label " align="right">備註</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Remark, new { @class = "form-control" })
                        @*<input type="text" class="form-control">*@
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-primary" style="margin: 10px">
                    <div class="panel-body">
                        <div class="row" style="margin: 10px">
                            @for (int idx = 0; idx < Model.TotalRoles.Count; idx++) {
                                <div class="form-group col-sm-6">
                                    <label class="checkbox-inline" align="center">
                                        @Model.TotalRoles[idx].Text
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-sm-12 col-sm-offset-4">
            <label for="" class="col-sm-4" align="right">
                <button class="btn btn-primary"><i class="fa fa-save">存檔</i></button>
                @*<button type="reset" class="btn btn-danger"><i class="fa fa-trash">清除</i></button>*@
                @*<a href="@Url.Action("Index")" class="btn btn-warning">回上頁</a>*@
            </label>
        </div>
    </div>
}

@helper ProxyInfo()
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label required">分行別</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.BranchName, new { @class = "form-control", @readonly = "true" })
                @*<input type="text" class="form-control" readonly>*@
            </div>
        </div>
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label required" align="right">部門名稱</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.Department, new { @class = "form-control", @readonly = "true" })
                @*<input type="text" class="form-control">*@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label required" align="right">人員編號</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.UserCode, new { @class = "form-control", @readonly = "true" })
                @*<input type="text" class="form-control" readonly>*@
            </div>
        </div>
    </div>

    <div class="row" style="height: 50px;">
        <div style="width: 100%; border-bottom: 1px solid black; text-align: center">
            <span style="padding: 0 10px;">
                設定代理人
            </span>
        </div>
    </div>

    @Html.HiddenFor(m => m.DeputyRecordID)

    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label required" align="right">代理人編號</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.DeputyID, new { @class = "form-control" })
                @*<input type="text" class="form-control" readonly>*@
            </div>
        </div>
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label required" align="right">代理人名稱</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.DeputyName, new { @class = "form-control", @readonly = "true" })
                @*<input type="text" class="form-control">*@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label">代理時間起</label>
            <div class="input-group col-sm-8">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.StartDeputy, "{0:yyyy/MM/dd}", new { @class = "form-control datepicker", @readonly="true" })
                    @*<input class="form-control datepicker" id="Update_Date_Start"
                           name="Update_Date_Start" type="text" value="106-01-01" data-date-format="yyyy/mm/dd">*@
                    <span class="input-group-addon date-trigger">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label">代理時間迄</label>
            <div class="input-group col-sm-8">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.EndDeputy, "{0:yyyy/MM/dd}", new { @class = "form-control datepicker", @readonly = "true" })
                    @*<input class="form-control datepicker" id="Update_Date_Start"
                           name="Update_Date_Start" type="text" value="106-01-01" data-date-format="yyyy/mm/dd">*@
                    <span class="input-group-addon date-trigger">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <label for="" class="col-sm-4" align="right">
                <button class="btn btn-primary"><i class="fa fa-save">存檔</i></button>
                <button type="reset" class="btn btn-danger"><i class="fa fa-trash">清除</i></button>
                <a href="@Url.Action("Index")" class="btn btn-warning">回上頁</a>
            </label>
        </div>
    </div>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    @Html.Partial("_VueTreeView")

    <script>

        (function ($) {

            $(".datepicker").datepicker({
                format: "yyyy/mm/dd",
                autoclose: true,
                clearBtn: true,
                calendarWeeks: false,
                todayHighlight: true,
                language: 'zh-TW'
            });

            $(".date-trigger").on("click", function () {
                $(this).prev(".datepicker").datepicker("show");
            });

            //todo_julius
            $("#DeputyID").on("change", function () {
                if (this.value == "")
                    return;

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("GetUsersName")',
                    data: "userCode=" + this.value,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (responsed) {

                        $("#DeputyName").val(response.name);
                        cascade();
                    },
                    error: function (responsed) {

                        alert("查無資料")
                        cascade();
                    }
                });
            });

            $("#syncBtn").on("click", function () {
                window.location = "@Url.Action("Index")";
            });

        })(jQuery);

    </script>
}
