﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2><a class="btn btn-gray btn-circle" style="width:28px;height:28px" href="@Url.Action("AssetsList")" title="回上一頁"><i class="fa fa-arrow-left" style="font-size:18px;line-height:14px;padding-right:2px"></i></a> 檢視資產</h2>
        <ol class="breadcrumb" style="padding-left:36px">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">動產管理</a>
            </li>
            <li>
                <a href="#">動產匯入作業</a>
            </li>
            <li>
                <a href="#">匯入資料送審</a>
            </li>
            <li>
                <a href="#">檢視本批單據</a>
            </li>
            <li>
                <a href="#">資產清單</a>
            </li>
            <li>
                <a href="#">檢視資產	</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row" style="margin-bottom: 80px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>檢視資產</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">母資產</label>
                                <div class="col-sm-10"><span style="line-height:2.5em">無母資產</span></div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">國內/海外資產</label>
                                <div class="col-sm-10">
                                    <label style="padding-top:6px">
                                        <input type="radio" name="radioset1" value="" id="" checked disabled>
                                        <span style="font-weight:normal;padding-right:10px">國內資產</span>
                                        <input type="radio" name="radioset1" value="" id="" disabled>
                                        <span style="font-weight:normal">海外資產</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">資產分類</label>
                                <div class="col-sm-3" style="padding: 0 5px 0 10px">
                                    <select class="form-control" id="" disabled>
                                        <option value="">3. 機械與設備</option>
                                    </select>
                                </div>
                                <div class="col-sm-3" style="padding: 0 5px 0 0">
                                    <select class="form-control" id="" disabled>
                                        <option value="" disabled>000031 電腦端末設備</option>
                                    </select>
                                </div>
                                <div class="col-sm-3" style="padding: 0 5px 0 0">
                                    <select class="form-control" id="" disabled>
                                        <option value="" disabled>B 固定-自用</option>
                                    </select>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">財產名稱</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control " value="網路交換器" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">財產別名</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control " value="總行網路交換機" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">資產編號</label>
                                <div class="col-sm-8"><input type="text" class="form-control" value="3000031B-0000001" disabled /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">原資產編號</label>
                                <div class="col-sm-8"><input type="text" class="form-control" value="0100000643" disabled /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">耐用年限</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="3" style="width:20%;float:left" disabled />
                                    </select> <span style="float:left; padding:0 10px 0 10px; line-height:30px">年</span>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">財物編號</label>
                                <div class="col-sm-8"><input type="text" class="form-control" value="" disabled /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">折舊方式</label>
                                <div class="col-sm-2" style="padding: 0 5px 0 15px">
                                    <select class="form-control" id="" disabled>
                                        <option value="">STL</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">帳本</label>
                                <div class="col-sm-8"><input type="text" class="form-control" value="IFRS_TWD" disabled /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">啟用日期</label>
                                <div class="col-sm-3"><input type="text" class="form-control " value="106-01-01" disabled /><span class="fa fa-calendar-o icon-in-box"></span></div>
                                <div class="col-sm-5"></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">單位量</label>
                                <div class="col-sm-8"><input type="text" class="form-control" value="1" disabled /></div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">放置地點</label>
                                <div class="col-sm-2" style="padding: 0 5px 0 10px">
                                    <select class="form-control" id="" disabled>
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-2" style="padding: 0 5px 0 0">
                                    <select class="form-control" id="" disabled>
                                        <option value="">009 資訊部</option>
                                    </select>
                                </div>
                                <div class="col-sm-2" style="padding: 0 5px 0 0">
                                    <select class="form-control" id="" disabled>
                                        <option value="">XX科</option>
                                    </select>
                                </div>
                                <div class="col-sm-2" style="padding: 0 5px 0 0">
                                    <select class="form-control" id="" disabled>
                                        <option value="">XX樓</option>
                                    </select>
                                </div>
                                <div class="col-sm-2" style="padding: 0 5px 0 0">
                                    <select class="form-control" id="" disabled>
                                        <option value="">XXXXXX</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">資產會計科目</label>
                                <div class="col-sm-10">
                                    <span style="line-height:2.5em">140401000 機械及設備</span>&nbsp;&nbsp;<span style="line-height:2.5em">1531-01-00-3 電腦端末設備</span>
                                </div>

                                <div class="col-sm-12 form-group">
                                    <label for="" class="col-sm-2 control-label" align="right">資產會計科目</label>
                                    <div class="col-sm-10">
                                        <span style="line-height:2.5em">001.05.001.5202015301.0.0.0 總行 / 資訊部 / XX科  / 業務費用機械及設備折舊</span>
                                    </div>
                                </div>

                            </div>
                    </form>
                </div>

                <div class="ibox-title" style="border-width:0px">
                    <h5>動產資訊</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">管轄單位</label>
                                <div class="col-sm-3" style="padding: 0 5px 0 15px">
                                    <select class="form-control" id="" disabled>
                                        <option value="">001總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3" style="padding: 0 5px 0 0">
                                    <select class="form-control" id="" disabled>
                                        <option value="">009電金部</option>
                                    </select>
                                </div>
                                <div class="col-sm-2" style="padding: 0 5px 0 0">
                                    <select class="form-control" id="" disabled>
                                        <option value="">001XX科</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">保管人</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control " value="" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">採購案號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control " value="" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">採購描述</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control " value="" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">廠商規格</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control " value="" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">驗收日期</label>
                                <div class="col-sm-8"><input type="text" class="form-control " value="" disabled /><span class="fa fa-calendar-o icon-in-box"></span></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">附屬設備</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control " value="" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">財物單位</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control " value="" disabled />
                                </div>
                            </div>


                        </div>
                    </form>
                </div>

                <div class="ibox-title" style="border-width:0px">
                    <h5>帳務資料與其他事項</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">


                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">管轄單位</label>
                                <div class="col-sm-3" style="padding: 0 5px 0 15px">
                                    <select class="form-control" id="" disabled>
                                        <option value="">001總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3" style="padding: 0 5px 0 0">
                                    <select class="form-control" id="" disabled>
                                        <option value="">009電金部</option>
                                    </select>
                                </div>
                                <div class="col-sm-2" style="padding: 0 5px 0 0">
                                    <select class="form-control" id="" disabled>
                                        <option value="">001XX科</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">提交狀態</label>
                                <div class="col-sm-2" style="padding: 0 5px 0 10px">
                                    <input type="text" class="form-control" value="1" style="float:left;width:40%" disabled />
                                    <select class="form-control" id="" style="float:left;width:40%" disabled>
                                        <option value="">TWD</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" value="1" style="float:left;width:40%" disabled />
                                    <select class="form-control" id="" style="float:left;width:40%" disabled>
                                        <option value="">TWD/option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" value="1" style="float:left;width:40%" disabled />
                                    <select class="form-control" id="" style="float:left;width:40%" disabled>
                                        <option value="">TWD</option>
                                    </select>
                                </div>
                                <div class="col-sm-2"> </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">備註</label>
                                <div class="col-sm-8"><input type="text" class="form-control" value="" disabled /></div>
                            </div>

                        </div>
                    </form>



                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>交易明細</label>
                                </td>

                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>記帳時間</th>
                                    <th>單據類型</th>
                                    <th>單據編號</th>
                                    <th>摘要</th>
                                    <th>本次異動金額</th>
                                    <th>資產成本結餘</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>106-08-10 12:00</td>
                                    <td>動產新增單</td>
                                    <td>1060502A201000001</td>
                                    <td>總行網路交換機</td>
                                    <td>+ 70,000</td>
                                    <td>70,000</td>
                                </tr>
                                <tr>
                                    <td>106-08-31 12:00</td>
                                    <td>動產新增單</td>
                                    <td>1060502A201000001</td>
                                    <td>106-08 折舊</td>
                                    <td>- 972</td>
                                    <td>69,028</td>
                                </tr>
                                <tr>
                                    <td>106-09-13 12:00</td>
                                    <td>動產新增單</td>
                                    <td>1060502A201000001</td>
                                    <td>106-08 折舊</td>
                                    <td>- 972</td>
                                    <td>68,056</td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"><span></span></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="@Url.Action("AssetsList")" class="btn btn-gray"><i class="fa fa-arrow-left"> 返回</i></a>
        </div>
    </div>
</div> 