﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>匯入資料送審</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">動產管理</a>
            </li>
            <li>
                <a href="#">動產匯入作業</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">匯入資料送審</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">單據類型</label>
                                <div class="col-sm-4">
                                    <select class="form-control" readonly disabled>
                                        <option value="A12">動產新增單</option>
                                    </select>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">來源類型</label>
                                <div class="col-sm-8">
                                    @DropDownControl.GenDropDownControl("Source", "Source", "MPImportSource")
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">匯入批次編號</label>
                                <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1" style="width:10px; padding:0; line-height:30px">～</div>
                                <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1"></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">帳本</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="">
                                        <option value="">IFRS_TWD</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">單據處理時間</label>
                                <div class="col-sm-3">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1" style="width:10px; padding:0; line-height:30px">～</div>
                                <div class="col-sm-3">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">管轄單位</label>
                                @AssetLocationDispControl.GenAssetLocationDispControl("Office_Branch", "Office_Branch", "", false)
                                <div class="col-sm-1" style="padding: 0"></div>
                            </div>

                            <div class="row" style="margin-left:0px">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-2 control-label" align="right">提交狀態</label>
                                    <div class="col-sm-10">
                                       @CheckBoxListControl.GenCheckBoxList("Status", "Status", "MPImportReviewStatus")
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">備註(關鍵字)</label>
                                <div class="col-sm-8"><input type="text" class="form-control" value="" /></div>
                            </div>

                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清除</i></button>
                                    <button class="btn btn-primary"><i class="fa fa-search"> 查詢</i></button>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <a href="@Url.Action("New")" class="btn btn-primary"><i class="fa fa-plus"> 新增一批新增單 </i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>單據來源</th>
                                    <th>單據編號</th>
                                    <th>管轄單位</th>
                                    <th>備註</th>
                                    <th>提交狀態</th>
                                    <th>核准數量</th>
                                    <th>本批單據管理</th>
                                    <th>本批單據清單</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>一般動產</td>
                                    <td>1060502A201000001 ~ 1060502A201000150</td>
                                    <td>總行/電金部/XX科</td>
                                    <td></td>
                                    <td>新增中</td>
                                    <td></td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("New")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>一般動產</td>
                                    <td>1060502A201000001 ~ 1060502A201000150</td>
                                    <td>總行/電金部/XX科</td>
                                    <td></td>
                                    <td>已拆單</td>
                                    <td><span style="color:#1ab394">12</span> / 150</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewDocDetail")" target="_blank" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewDocList")" title="清單"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>一般動產</td>
                                    <td>1060502A201000001 ~ 1060502A201000150</td>
                                    <td>總行/電金部/XX科</td>
                                    <td></td>
                                    <td>已拆單</td>
                                    <td><span style="color:#1ab394">12</span> / 150</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewList")" target="_blank" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewList2")" title="清單"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>一般動產</td>
                                    <td>1060502A201000001 ~ 1060502A201000150</td>
                                    <td>總行/電金部/XX科</td>
                                    <td></td>
                                    <td>已拆單</td>
                                    <td><span style="color:#1ab394">12</span> / 150</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewList")" target="_blank" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewList2")" title="清單"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>一般動產</td>
                                    <td>1060502A201000001 ~ 1060502A201000150</td>
                                    <td>總行/電金部/XX科</td>
                                    <td></td>
                                    <td>已拆單</td>
                                    <td><span style="color:#1ab394">12</span> / 150</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewList")" target="_blank" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewList2")" title="清單"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>ATM</td>
                                    <td>1060502A201000001 ~ 1060502A201000150</td>
                                    <td>總行/電金部/XX科</td>
                                    <td></td>
                                    <td>已拆單</td>
                                    <td><span style="color:#1ab394">12</span> / 150</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewList")" target="_blank" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewList2")" title="清單"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>資訊設備</td>
                                    <td>1060502A201000001 ~ 1060502A201000150</td>
                                    <td>總行/電金部/XX科</td>
                                    <td></td>
                                    <td>已拆單</td>
                                    <td><span style="color:#1ab394">12</span> / 150</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewList")" target="_blank" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewList2")" title="清單"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>總務相關資產</td>
                                    <td>1060502A201000001 ~ 1060502A201000150</td>
                                    <td>總行/電金部/XX科</td>
                                    <td></td>
                                    <td>已拆單</td>
                                    <td><span style="color:#1ab394">12</span> / 150</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewList")" target="_blank" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewList2")" title="清單"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>法尊相關資產</td>
                                    <td>1060502A201000001 ~ 1060502A201000150</td>
                                    <td>總行/電金部/XX科</td>
                                    <td></td>
                                    <td>已拆單</td>
                                    <td><span style="color:#1ab394">12</span> / 150</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewList")" target="_blank" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewList2")" title="清單"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>會計相關資產</td>
                                    <td>1060502A201000001 ~ 1060502A201000150</td>
                                    <td>總行/電金部/XX科</td>
                                    <td></td>
                                    <td>已拆單</td>
                                    <td><span style="color:#1ab394">12</span> / 150</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewList")" target="_blank" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewList2")" title="清單"><i class="fa fa-list"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>