﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>新增/ 編輯本批單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">動產管理</a>
            </li>
            <li>
                <a href="#">動產匯入作業</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">匯入資料送審</a>
            </li>
            <li>
                <a href="@Url.Action("New")">新增/ 編輯本批單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><span style="color:#0071C9">【步驟一】</span>新增本批單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">單據類型</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="" readonly disabled>
                                        <option value="">動產新增單</option>
                                    </select>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">來源類型</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="">
                                        <option value="">全部</option>
                                        <option value="">一般動產</option>
                                        <option value="" selected>ATM</option>
                                        <option value="">資訊設備</option>
                                        <option value="">總務相關資產</option>
                                        <option value="">法尊相關資產</option>
                                        <option value="">會計相關資產</option>
                                    </select>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span style="color:red">*</span> 帳本</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="">
                                        <option value="">IFRS_TWD</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">管轄單位</label>
                                <div class="col-sm-2" style="padding: 0 5px 0 15px">
                                    <select class="form-control" id="">
                                        <option value="">001總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-2" style="padding: 0 5px 0 0">
                                    <select class="form-control" id="">
                                        <option value="">009電金部</option>
                                    </select>
                                </div>
                                <div class="col-sm-2" style="padding: 0 5px 0 0">
                                    <select class="form-control" id="">
                                        <option value="">001XX科</option>
                                    </select>
                                </div>
                                <div class="col-sm-1" style="padding: 0">  </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">提交狀態</label>
                                <div class="col-sm-8"><span style="color:#1ab394;line-height:2.5em">新增中</span></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">備註(關鍵字)</label>
                                <div class="col-sm-8"><input type="text" class="form-control" value="" /></div>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h5 style="padding-right:10px; line-height:1.8em; font-size:14px; float:left"><span style="color:#0071C9">【步驟二】</span>匯入單明細</h5>
                    <a href="#modal-form-importdatalist" class="btn btn-primary" data-toggle="modal" style="float:left"><i class="fa fa-search"> 搜尋/導入匯入單 </i></a>
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left"></td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>來源類型</th>
                                    <th>匯入批次編號</th>
                                    <th>匯入時間</th>
                                    <th>匯入總數</th>
                                    <th>需求單位</th>
                                    <th>匯入人員</th>
                                    <th>匯入單備註</th>
                                    <th>檢視</th>
                                    <th>刪除</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ATM</td>
                                    <td>A1050110001</td>
                                    <td>105-01-10<br>12:00</td>
                                    <td>3000</td>
                                    <td>總行/電金部/XX科</td>
                                    <td>陳小明</td>
                                    <td></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("AssetsList")" target="_blank" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>ATM</td>
                                    <td>A1050110001</td>
                                    <td>105-01-10<br>12:00</td>
                                    <td>3000</td>
                                    <td>總行/電金部/XX科</td>
                                    <td>陳小明</td>
                                    <td></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("AssetsList")" target="_blank" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>ATM</td>
                                    <td>A1050110001</td>
                                    <td>105-01-10<br>12:00</td>
                                    <td>3000</td>
                                    <td>總行/電金部/XX科</td>
                                    <td>陳小明</td>
                                    <td></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("AssetsList")" target="_blank" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:80px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h5 style="padding-right:10px; line-height:1.8em; font-size:14px;"><span style="color:#0071C9">【步驟三】</span>拆單提交分行經辦</h5>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left"></td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>分行</th>
                                    <th>分行經辦</th>
                                    <th>經辦電話</th>
                                    <th>經辦E mail</th>
                                    <th><input type="checkbox" value=""> 是否提交</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>0050  台北分行</td>
                                    <td>黃大春</td>
                                    <td>(02)23713241 #122</td>
                                    <td>a0050@landbank.com.tw</td>
                                    <td><input type="checkbox" value=""></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>1389  東門分行</td>
                                    <td>陳小秋</td>
                                    <td>(02)23911188 #58</td>
                                    <td>a1389@landbank.com.tw</td>
                                    <td>
                                        <input type="checkbox" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>0061  民權分行</td>
                                    <td>賴小瑛</td>
                                    <td>(02)25629801    #201</td>
                                    <td>a0061@landbank.com.tw</td>
                                    <td><input type="checkbox" value=""></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>0083  長安分行</td>
                                    <td>吳大林</td>
                                    <td>(02)25238166    #58</td>
                                    <td>a0083@landbank.com.tw</td>
                                    <td><input type="checkbox" value=""></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>1024  長春分行</td>
                                    <td>黃小明</td>
                                    <td>(02)25681988    #79</td>
                                    <td>a1024@landbank.com.tw</td>
                                    <td><input type="checkbox" value=""></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>1404  城東分行</td>
                                    <td>余小紫</td>
                                    <td>(02)25676268    #222</td>
                                    <td>a1404@landbank.com.tw</td>
                                    <td><input type="checkbox" value=""></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>1655  南京東路分行</td>
                                    <td>陳大寶</td>
                                    <td>(02)25036345    #610</td>
                                    <td>a1655@landbank.com.tw</td>
                                    <td><input type="checkbox" value=""></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>0050  台北分行</td>
                                    <td>黃大春</td>
                                    <td>(02)23713241 #122</td>
                                    <td>a0050@landbank.com.tw</td>
                                    <td><input type="checkbox" value=""></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>1389  東門分行</td>
                                    <td>陳小秋</td>
                                    <td>(02)23911188 #58</td>
                                    <td>a1389@landbank.com.tw</td>
                                    <td><input type="checkbox" value=""></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>0061  民權分行</td>
                                    <td>賴小瑛</td>
                                    <td>(02)25629801    #201</td>
                                    <td>a0061@landbank.com.tw</td>
                                    <td><input type="checkbox" value=""></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"><span>【步驟四】</span></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-splitdata" class="btn btn-success" data-toggle="modal"><i class="fa fa-long-arrow-right"> 拆單</i></a>
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲存</i></a>
            <a href="#" class="btn btn-danger"><i class="fa fa-trash"> 刪除</i></a>
            <a href="@Url.Action("Index")" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返回</i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-splitdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定拆單嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 導入匯入單視窗 -->
<div id="modal-form-importdatalist" class="modal fade" style="width:75%; height:90%;background:#FFF;margin:0 auto; margin-top:20px; overflow:hidden">
    <div style="">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 style="line-height:2.5em"><span style="color:#0071C9">【步驟一】</span>搜尋欲導入的匯入單</h5>
                        <div class="ibox-tools">
                            <a class="btn btn-gray btn-circle" href="A232-5.aspx" data-dismiss="modal" title="關閉"><i class="fa fa-close" style="color:#fff;font-size:18px"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">

                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label" align="right">單據類型</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="" readonly disabled>
                                            <option value="">ATM</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label" align="right">匯入批次編號</label>
                                    <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                                    <div class="col-sm-1" style="width:10px; padding:0; line-height:2.5em">～</div>
                                    <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                                    <div class="col-sm-1"></div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label" align="right">匯入時間</label>
                                    <div class="col-sm-3"><input type="text" class="form-control " value="" /><span class="fa fa-calendar-o icon-in-box"></span></div>
                                    <div class="col-sm-1" style="width:10px; padding:0; line-height:2.5em">～</div>
                                    <div class="col-sm-3"><input type="text" class="form-control" value="" /><span class="fa fa-calendar-o icon-in-box"></span></div>
                                    <div class="col-sm-1"></div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label" align="right">採購案號</label>
                                    <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                                    <div class="col-sm-1" style="width:10px; padding:0; line-height:2.5em">～</div>
                                    <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                                    <div class="col-sm-1"></div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label" align="right">匯入月份</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="" style="float:left;width:30%">
                                            <option value=""> 106</option>
                                        </select> <span style="float:left; padding:0 10px 0 10px; line-height:2.5em">年</span>
                                        <select class="form-control" id="" style="float:left;width:30%">
                                            <option value=""> 01</option>
                                        </select> <span style="float:left; padding:0 10px 0 10px; line-height:2.5em">月</span>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label" align="right">狀態</label>
                                    <div class="col-sm-8" style="line-height:2.5em;color:#1ab394">匯入成功</div>
                                </div>

                            </div>


                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="" class="pull-right">
                                        <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清除</i></button>
                                        <button class="btn btn-primary"><i class="fa fa-search"> 查詢</i></button>
                                    </label>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom:80px">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <h5 style="padding-right:10px; line-height:1.8em; font-size:14px; float:left"><span style="color:#0071C9">【步驟二】</span>請勾選搜尋結果</h5>
                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left"></td>
                                    <td style="text-align: right"></td>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>來源類型</th>
                                        <th>匯入批次編號</th>
                                        <th>匯入時間</th>
                                        <th>匯入總數</th>
                                        <th>需求單位</th>
                                        <th>匯入人員</th>
                                        <th>匯入單備註</th>
                                        <th>檢視</th>
                                        <th><input type="checkbox" value=""> 勾選</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>ATM</td>
                                        <td>A1050110001</td>
                                        <td>105-01-10<br>12:00</td>
                                        <td>3000</td>
                                        <td>總行/電金部/XX科</td>
                                        <td>陳小明</td>
                                        <td></td>
                                        <td><a class="btn btn-gray btn-circle" href="A232-5.aspx" target="_blank" title="檢視"><i class="fa fa-list"></i></a></td>
                                        <td><input type="checkbox" value=""></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>ATM</td>
                                        <td>A1050110001</td>
                                        <td>105-01-14<br>12:00</td>
                                        <td>3000</td>
                                        <td>總行/電金部/XX科</td>
                                        <td>陳小明</td>
                                        <td></td>
                                        <td><a class="btn btn-gray btn-circle" href="A232-5.aspx" target="_blank" title="檢視"><i class="fa fa-list"></i></a></td>
                                        <td><input type="checkbox" value=""></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>ATM</td>
                                        <td>A1050110001</td>
                                        <td>105-01-22<br>12:00</td>
                                        <td>3000</td>
                                        <td>總行/電金部/XX科</td>
                                        <td>陳小明</td>
                                        <td></td>
                                        <td><a class="btn btn-gray btn-circle" href="A232-5.aspx" target="_blank" title="檢視"><i class="fa fa-list"></i></a></td>
                                        <td><input type="checkbox" value=""></td>
                                    </tr>
                                </tbody>
                            </table>

                            <nav class="text-center">
                                <ul class="pagination">
                                    <li class="disabled"><a>1</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                    <li>
                                        <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                            <span aria-hidden="true">&raquo;&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row bottom_ctlbar">
        <div class="col-sm-12 form-group">
            <div class="col-sm-3"><span>【步驟三】</span></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-8">
                <a href="#" data-dismiss="modal" class="btn btn-success"><i class="fa fa-check"> 導入勾選資料</i></a>
                <a href="#" data-dismiss="modal" class="btn btn-gray"><i class="fa fa-long-close"> 取消</i></a>
            </div>
        </div>
    </div>
</div>