﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>本批單據清單</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">動產管理</a>
            </li>
            <li>
                <a href="#">動產匯入作業</a>
            </li>
            <li>
                <a href="#">匯入資料送審</a>
            </li>
            <li>
                <a href="#">本批單據清單</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">單據類型</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="" disabled>
                                        <option value="">動產新增單</option>
                                    </select>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">來源類型</label>
                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option value="">全部</option>
                                        <option value="">一般動產</option>
                                        <option value="">ATM</option>
                                        <option value="">資訊設備</option>
                                        <option value="">總務相關資產</option>
                                        <option value="">法尊相關資產</option>
                                        <option value="">會計相關資產</option>
                                    </select>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">匯入批次編號</label>
                                <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1" style="width:10px; padding:0; line-height:30px">～</div>
                                <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1"></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">帳本</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="">
                                        <option value="">IFRS_TWD</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">單據處理時間</label>
                                <div class="col-sm-3"><input type="text" class="form-control " value="" /><span class="fa fa-calendar-o icon-in-box"></span></div>
                                <div class="col-sm-1" style="width:10px; padding:0; line-height:30px">～</div>
                                <div class="col-sm-3"><input type="text" class="form-control" value="" /><span class="fa fa-calendar-o icon-in-box"></span></div>
                                <div class="col-sm-1"></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">管轄單位</label>
                                <div class="col-sm-2" style="padding: 0 5px 0 15px">
                                    <select class="form-control" id="">
                                        <option value="">001總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-2" style="padding: 0 5px 0 0">
                                    <select class="form-control" id="">
                                        <option value="">009電金部</option>
                                    </select>
                                </div>
                                <div class="col-sm-2" style="padding: 0 5px 0 0">
                                    <select class="form-control" id="">
                                        <option value="">001XX科</option>
                                    </select>
                                </div>
                                <div class="col-sm-1" style="padding: 0">  </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">提交狀態</label>
                                <div class="col-sm-10 checkbox-list">
                                    <input type="checkbox" disabled><span>全選</span>
                                    <input type="checkbox"><span>新增</span>
                                    <input type="checkbox"><span>簽核中</span>
                                    <input type="checkbox"><span>已核淮</span>
                                    <input type="checkbox"><span>退回修改</span>
                                    <input type="checkbox"><span>抽回修改</span>
                                    <input type="checkbox"><span>作廢</span>
                                </div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">備註(關鍵字</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-6"></div>
                            </div>

                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清除</i></button>
                                    <button class="btn btn-primary"><i class="fa fa-search"> 查詢</i></button>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>本批單據清單</label>
                                </td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>單據來源</th>
                                    <th>單據編號</th>
                                    <th>單據處理時間</th>
                                    <th>管轄單位</th>
                                    <th>經辦人員</th>
                                    <th>資產數量</th>
                                    <th>備註</th>
                                    <th>狀態</th>
                                    <th>編輯/檢視</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ATM</td>
                                    <td>1060502A201000001</td>
                                    <td>106-05-02 12:00</td>
                                    <td>0050  台北分行</td>
                                    <td>黃大春</td>
                                    <td>23</td>
                                    <td></td>
                                    <td>已核准</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewDocDetail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>ATM</td>
                                    <td>1060502A201000001</td>
                                    <td>106-05-02 12:00</td>
                                    <td>0050  台北分行</td>
                                    <td>陳小秋</td>
                                    <td>45</td>
                                    <td></td>
                                    <td>作廢</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewDocDetail")" title="檢視"><i class="fa fa-list"></i></a></td>

                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>ATM</td>
                                    <td>1060502A201000001</td>
                                    <td>106-05-02 12:00</td>
                                    <td>0050  台北分行</td>
                                    <td>賴小瑛</td>
                                    <td>150</td>
                                    <td></td>
                                    <td>退回修改</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("New")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>ATM</td>
                                    <td>1060502A201000001</td>
                                    <td>106-05-02 12:00</td>
                                    <td>0050  台北分行</td>
                                    <td>吳大林</td>
                                    <td>23</td>
                                    <td></td>
                                    <td>抽回修改</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("New")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>ATM</td>
                                    <td>1060502A201000001</td>
                                    <td>106-05-02 12:00</td>
                                    <td>0050  台北分行</td>
                                    <td>黃小明</td>
                                    <td>150</td>
                                    <td></td>
                                    <td>簽核中</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ViewDocDetail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>ATM</td>
                                    <td>1060502A201000001</td>
                                    <td>106-05-02 12:00</td>
                                    <td>0050  台北分行</td>
                                    <td>余小紫</td>
                                    <td>150</td>
                                    <td></td>
                                    <td>新增</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("New")" title="新增"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>ATM</td>
                                    <td>1060502A201000001</td>
                                    <td>106-05-02 12:00</td>
                                    <td>0050  台北分行</td>
                                    <td>陳大寶</td>
                                    <td>150</td>
                                    <td></td>
                                    <td>新增</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("New")" title="新增"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>ATM</td>
                                    <td>1060502A201000001</td>
                                    <td>106-05-02 12:00</td>
                                    <td>0050  台北分行</td>
                                    <td>陳小秋</td>
                                    <td>150</td>
                                    <td></td>
                                    <td>新增</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("New")" title="新增"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>ATM</td>
                                    <td>1060502A201000001</td>
                                    <td>106-05-02 12:00</td>
                                    <td>0050  台北分行</td>
                                    <td>黃大春</td>
                                    <td>150</td>
                                    <td></td>
                                    <td>新增</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("New")" title="新增"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>ATM</td>
                                    <td>1060502A201000001</td>
                                    <td>106-05-02 12:00</td>
                                    <td>0050  台北分行</td>
                                    <td>賴小瑛</td>
                                    <td>150</td>
                                    <td></td>
                                    <td>新增</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("New")" title="新增"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>