﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2><a class="btn btn-gray btn-circle" style="width:28px;height:28px" href="@Url.Action("Index")" title="回上一頁"><i class="fa fa-arrow-left" style="font-size:18px;line-height:14px;padding-right:2px"></i></a> 檢視本批單據</h2>
        <ol class="breadcrumb" style="padding-left:36px">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">動產管理</a>
            </li>
            <li>
                <a href="#">動產匯入作業</a>
            </li>
            <li>
                <a href="#">匯入資料送審</a>
            </li>
            <li>
                <a href="#">檢視本批單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>檢視本批單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">單據類型</label>
                                <div class="col-sm-8" style="line-height:2.5em">動產新增單</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">來源類型</label>
                                <div class="col-sm-8" style="line-height:2.5em">ATM</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span style="color:red">*</span> 帳本</label>
                                <div class="col-sm-8" style="line-height:2.5em">IFRS_TWD</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">管轄單位</label>
                                <div class="col-sm-8" style="line-height:2.5em">001 總行&nbsp;&nbsp09 電金部;&nbsp;&nbsp;001 XX科</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">提交狀態</label>
                                <div class="col-sm-8"><span style="color:#1ab394;line-height:2.5em">拆單並提交</span></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">備註</label>
                                <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-5"><a href="#" class="btn btn-primary" style="float:left"><i class="fa fa-save"> 儲存 </i></a></div>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h5 style="padding-right:10px; line-height:1.8em; font-size:14px; float:left">匯入單明細</h5>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left"></td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>來源類型</th>
                                    <th>匯入批次編號</th>
                                    <th>匯入時間</th>
                                    <th>匯入總數</th>
                                    <th>需求單位</th>
                                    <th>匯入人員</th>
                                    <th>匯入單備註</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ATM</td>
                                    <td>A1050110001</td>
                                    <td>105-01-10 12:00</td>
                                    <td>3000</td>
                                    <td>總行/電金部/XX科</td>
                                    <td>陳小明</td>
                                    <td></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("AssetsList")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>ATM</td>
                                    <td>A1050110001</td>
                                    <td>105-01-10 12:00</td>
                                    <td>3000</td>
                                    <td>總行/電金部/XX科</td>
                                    <td>陳小明</td>
                                    <td></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("AssetsList")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>ATM</td>
                                    <td>A1050110001</td>
                                    <td>105-01-10 12:00</td>
                                    <td>3000</td>
                                    <td>總行/電金部/XX科</td>
                                    <td>陳小明</td>
                                    <td></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("AssetsList")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" style="margin-bottom:80px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h5 style="padding-right:10px; line-height:1.8em; font-size:14px;">拆單提交分行經辦</h5>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left"></td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>分行</th>
                                    <th>分行經辦</th>
                                    <th>經辦電話</th>
                                    <th>經辦E mail</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>0050  台北分行</td>
                                    <td>黃大春</td>
                                    <td>(02)23713241 #122</td>
                                    <td>a0050@landbank.com.tw</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>1389  東門分行</td>
                                    <td>陳小秋</td>
                                    <td>(02)23911188 #58</td>
                                    <td>a1389@landbank.com.tw</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>0061  民權分行</td>
                                    <td>賴小瑛</td>
                                    <td>(02)25629801    #201</td>
                                    <td>a0061@landbank.com.tw</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>0083  長安分行</td>
                                    <td>吳大林</td>
                                    <td>(02)25238166    #58</td>
                                    <td>a0083@landbank.com.tw</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>1024  長春分行</td>
                                    <td>黃小明</td>
                                    <td>(02)25681988    #79</td>
                                    <td>a1024@landbank.com.tw</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>1404  城東分行</td>
                                    <td>余小紫</td>
                                    <td>(02)25676268    #222</td>
                                    <td>a1404@landbank.com.tw</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>1655  南京東路分行</td>
                                    <td>陳大寶</td>
                                    <td>(02)25036345    #610</td>
                                    <td>a1655@landbank.com.tw</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>0050  台北分行</td>
                                    <td>黃大春</td>
                                    <td>(02)23713241 #122</td>
                                    <td>a0050@landbank.com.tw</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>1389  東門分行</td>
                                    <td>陳小秋</td>
                                    <td>(02)23911188 #58</td>
                                    <td>a1389@landbank.com.tw</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>0061  民權分行</td>
                                    <td>賴小瑛</td>
                                    <td>(02)25629801    #201</td>
                                    <td>a0061@landbank.com.tw</td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"><span></span></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#" class="btn btn-success"><i class="fa fa-long-arrow-right"> 提交</i></a>
            <a href="#" class="btn btn-primary"><i class="fa fa-save"> 儲存</i></a>
            <a href="#" class="btn btn-danger"><i class="fa fa-trash"> 刪除</i></a>
            <a href="@Url.Action("Index")" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返回</i></a>
        </div>
    </div>
</div>  