﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 檢視單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">租賃管理</a>
            </li>
            <li>
                <a href="#">租賃權益攤銷作業</a>
            </li>
            <li>
                <a href="#">檢視單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>檢視單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6 text-lineH-fix">租賃權益攤銷單</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6 text-lineH-fix">總行執行攤銷</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1060502D510000001</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳本</label>
                                <div class="col-sm-6 text-lineH-fix">NTD_MP_IFRS</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據處理日期</label>
                                <div class="col-sm-6 text-lineH-fix">106-05-02</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-6 text-lineH-fix">001 總行  08 產權部  001 XX科</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-primary-re">簽核中</span></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註</label>
                                <div class="col-sm-5"><input type="text" class="form-control" value="" /> </div>
                                <div class="col-sm-4"><a href="#" class="btn btn-primary"><i class="fa fa-save"> 儲 存 </i></a></div>
                            </div>



                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>資產明細</label>
                                </td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>資產編號</th>
                                    <th>財產名稱</th>
                                    <th>財產別名</th>
                                    <th>保管單位</th>
                                    <th>保管人</th>
                                    <th>目前成本</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>5,000</td>
                                    <td><a href="@Url.Action("ContentDetail","LeaseRightsAdded")" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>15,000</td>
                                    <td><a href="@Url.Action("ContentDetail","LeaseRightsAdded")" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>5,000</td>
                                    <td><a href="@Url.Action("ContentDetail","LeaseRightsAdded")" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td>圍籬</td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a href="@Url.Action("ContentDetail","LeaseRightsAdded")" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td>裝潢</td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a href="@Url.Action("ContentDetail","LeaseRightsAdded")" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>5,000</td>
                                    <td><a href="@Url.Action("ContentDetail","LeaseRightsAdded")" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>15,000</td>
                                    <td><a href="@Url.Action("ContentDetail","LeaseRightsAdded")" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>5,000</td>
                                    <td><a href="@Url.Action("ContentDetail","LeaseRightsAdded")" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>9000001-0000001</td>
                                    <td>
                                        廠房<br>
                                        <span class="text-gray">(母資產)</span>
                                    </td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a href="@Url.Action("ContentDetail","LeaseRightsAdded")" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>9000001-0000001</td>
                                    <td>
                                        檢驗費<br>
                                        <span class="text-gray">(子資產)</span>
                                    </td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a href="@Url.Action("ContentDetail","LeaseRightsAdded")" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>