﻿
@model InspiniaWebAdminTemplate.Models.Accounting.AccountingTradeDefineDetailModel


@{
    ViewBag.Title = "交易分錄維護";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>交易分錄維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">交易分錄維護</a>
            </li>
        </ol>
    </div>
</div>

<div id="app" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>交易分錄資料</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" id="updateForm">
                        <input type="hidden" id="ID" value="@Model.Result.ID" />

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="" class="col-sm-4 control-label required">交易區分</label>
                        <div class="col-sm-8">
                            <select name="TransType" id="TransType" class="form-control">
                                @foreach (var item in Model.TransTypes)
                                {
                                    <option value="@item.Value" @(item.Value == Model.Result.TransType ? "selected" : "")>@item.Name</option>
                                }

                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="" class="col-sm-4 control-label required">交易種類</label>
                        <div class="col-sm-8">
                            <select name="TradeType" id="TradeType" class="form-control">
                                @foreach (var item in Model.TradeTypes)
                                {
                                    <option value="@item.Value" @(item.Value == Model.Result.TradeType ? "selected" : "")>@item.Name</option>
                                }
                            </select>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="" class="col-sm-4 control-label required">分錄編號</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="MasterNo" id="MasterNo" value="@Model.Result.MasterNo">
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label for="" class="col-sm-4 control-label required">分錄描述</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="MasterText" id="MasterText" value="@Model.Result.MasterText">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="" class="col-sm-4 control-label">Account key</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="AccountKey" id="AccountKey" value="@Model.Result.AccountKey">
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label for="" class="col-sm-4 control-label required">帳簿類別</label>
                        <div class="col-sm-8">
                            <select name="AccountingBook" id="AccountingBook" class="form-control">
                                @foreach (var item in Model.AccountingBooks)
                                {
                                    <option value="@item.Value" @(item.Value == Model.Result.AccountingBook? "selected": "")>@item.Name</option>
                                }

                            </select>

                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="form-group col-sm-6">
                        <label for="" class="col-sm-4 control-label required">鎖定註記</label>
                        <div class="col-sm-8">
                            <label>
                                <input type="radio" name="SoftLock" value="0" @(Model.Result.SoftLock?"":"checked") />正常
                            </label>
                            <label><input type="radio" name="SoftLock" value="1" id="SoftLock" @(Model.Result.SoftLock? "checked" : "")/>鎖定</label>
                        </div>
                    </div>

                </div>


                @*<div class="row">
                    <div class="form-group col-sm-6">
                        <label for="" class="col-sm-4 control-label">分行別</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="BranchCode">
                                <option value=""></option>
                                @foreach (var item in Model.Branchs)
                                {
                                    <option value="@item.Value" @(item.Value == Model.Result.BranchCode.ToString("000") ? "selected" : "")>@item.Name</option>
                                }
                                                            
                            </select>
                        </div>
                    </div>


                    <div class="form-group col-sm-6">

                        <label for="" class="col-sm-4 control-label">部門</label>
                        <div class="col-sm-8">
                            <select name="Department" id="Department" class="form-control">
                                <option value=""></option>
                                @foreach (var item in Model.Depts)
                                {
                                    <option value="@item.Value" @(item.Value == Model.Result.Department ? "selected" : "")>@item.Name</option>
                                }

                            </select>

                        </div>
                    </div>
                </div>*@


                <div class="hr-line-dashed"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <label for="" class="col-sm-4" align="right">
                            <button class="btn btn-primary" onclick="checkForm()">儲存</button>
                            <a class="btn btn-default" onclick="resetForm()"><i class="fa">清除</i></a>
                            @if (Model.Result.ID != 0)
                            {
                                <a class="btn btn-danger" onclick="deleteData()"><i class="fa">刪除</i></a>
                            }
                            <a class="btn btn-default" onclick="window.history.go(-1)"><i class="fa">回上一頁</i></a>
                        </label>
                    </div>
                </div>
                </form>

            </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "儲存成功" } });
@section Scripts{
    <script type="text/javascript">

        function checkForm()
        {
            $("#updateForm").valid();
        }

        function resetForm()
        {
            $("#AccountingBook option:eq(0)").prop("selected", true);
            $("#TransType option:eq(0)").prop("selected", true);
            $("#TradeType option:eq(0)").prop("selected", true);
            //$("#BranchCode option:eq(0)").prop("selected", true);
            //$("#Department option:eq(0)").prop("selected", true);

            $("#AccountKey").val("");
            $("#MasterNo").val("");
            $("#MasterText").val("");

        }

        function deleteData()
        {

            var list = [];
            
            list.push($("#ID").val());
            
            if (list.length > 0)
            {
                var data = {
                    IDList: list,
                    LastUpdateBy: 0
                };
                data = JSON.stringify(data);
                console.log(data);

                var path = "@Url.Action("BatchDelete")";

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json",
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) {
                        window.location.href = "@Url.Action("Index")";
                    }
                });
            }
        }

        function doSave()
        {

            var path = "@Url.Action("Save")";

            var data = new FormData();
            data.append("ID", $("#ID").val());
            data.append("AccountingBook", $("#AccountingBook").val());
            data.append("TransType", $("#TransType").val());
            data.append("TradeType", $("#TradeType").val());
            data.append("AccountKey", $("#AccountKey").val());
            data.append("MasterNo", $("#MasterNo").val());
            data.append("MasterText", $("#MasterText").val());
            //data.append("BranchCode", $("#BranchCode").val());
            //data.append("Department", $("#Department").val());
            data.append("SoftLock", $("#SoftLock").prop("checked"));

            $.ajax({
                url: path,
                type: 'POST',
                dataType: 'json',
                contentType: false,
                processData: false,
                async: true,
                data: data,
                success: function (message) { successHandler(message); }
            });

        }

        (function ($) {
            $.validator.messages.required = '必填';
            $("#updateForm").validate({
                rules: {
                    MasterNo: { required: true },
                    MasterText: { required: true }
                    //AccountKey: { required: true }
                },
                submitHandler: function (form) {
                    doSave();
                }
            }
            );
        })(jQuery);

    </script>
}
