﻿
@using InspiniaWebAdminTemplate.Models.Accounting;
@model AccountingTradeDefineIndexModel
@{
    ViewBag.Title = "Accounting Trade";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>交易分錄設定</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">交易分錄設定</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="@Url.Action("Query")" class="form-horizontal" id="queryForm">
                        <input type="hidden" id="CurrentPage" name="CurrentPage" value="@Model.Results.Conditions.CurrentPage" />
                        <input type="hidden" name="PageSize" value="@Model.Results.Conditions.PageSize" />

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">交易種類</label>
                                <div class="col-sm-8">
                                    <select name="TransType" id="TransType" class="form-control" onchange="GetTradeType('Change');">
                                        <option value="">全部</option>
                                        @foreach (var item in Model.TransTypes)
                                        {
                                            <option value="@item.Value" @(item.Value == Model.Results.Conditions.TransType ? "selected" : "")>@item.Name</option>
                                        }
                                    </select>

                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">交易區分</label>
                                <div class="col-sm-8">
                                    <select name="TradeType" id="TradeType" class="form-control">
                                        <option value="">全部</option>
                                        @foreach (var item in Model.TradeTypes)
                                        {
                                            <option value="@item.Value" @(item.Value == Model.Results.Conditions.TradeType ? "selected" : "")>@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">分錄編號</label>
                                <div class="input-daterange input-group col-sm-8 input-group-range" id="datepicker">
                                    <input type="text" class="input-sm form-control" name="FromMasterNo" id="FromMasterNo" value="@(Model.Results.Conditions.FromMasterNo==0?"":((int)Model.Results.Conditions.FromMasterNo).ToString())" />
                                    <span class="input-group-addon">to</span>
                                    <input type="text" class="input-sm form-control" name="ToMasterNo" id="ToMasterNo" value="@(Model.Results.Conditions.ToMasterNo==0?"":((int)Model.Results.Conditions.ToMasterNo).ToString())"  />
                                </div>
                            </div>

                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button type="button" class="btn btn-success"><i class="fa fa-search" onclick="checkQueryForm()">查詢</i></button>
                                    <button type="button" class="btn btn-danger" onclick="resetForm()"><i class="fa fa-trash">清除</i></button>
                                    <a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa fa-trash">新增</i></a>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">


                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  @Model.Results.Page.TotalAmount 筆 第 @Model.Results.Conditions.CurrentPage 頁</label>
                                    <a class="btn btn-sm btn-default" onclick="window.history.go(-1)">回上頁</a>
                                    <a class="btn btn-sm btn-success" href="@Url.Action("Index", "TradeAccount")">設定會計科目</a>
                                    <button class="btn btn-sm btn-danger" id="buttonSave" onclick="batchDelete()">刪除</button>
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th><input type="checkbox" style="width:13px;" chceckAll(this.checked)"></th>
                                    <th>分錄編號</th>
                                    <th>分錄描述</th>
                                    <th>交易種類</th>
                                    <th>交易區分</th>
                                    <th>Account key</th>
                                    @*<th>分行別</th>
                                    <th>部門</th>*@
                                    <th>鎖定註記</th>

                                </tr>
                            </thead>

                            <tbody>
                                @for (int i = 0; i < Model.Results.Page.Items.Count; i++)
                                {
                                    var item = Model.Results.Page.Items[i];
                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td><input type="checkbox" style="width:13px;" value="@item.ID" name="batch"/></td>
                                        <td><a href="@Url.Action("Detail", new { id=item.ID})">@((int)item.MasterNo)</a></td>
                                        <td>@item.MasterText</td>
                                        <td>@(String.Format("{0}-{1}", item.TransType, item.TransTypeName))</td>
                                        <td>@(String.Format("{0}-{1}", item.TradeType, item.TradeTypeName))</td>
                                        <td>@item.AccountKey</td>
                                        @*<td>@item.BranchName</td>
                                        <td>@item.DepartmentName</td>*@
                                        <td>@(item.SoftLock? "鎖定":"正常")</td>
                                    </tr>
                                    

                                }
                            </tbody>

                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "刪除成功" }, { "CallBack", "goToIndex()" } });
@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        function checkQueryForm()
        {
            $("#queryForm").submit();
        }

        function resetForm()
        {
            $("#TransType option:eq(0)").prop("selected", true);
            $("#TradeType option:eq(0)").prop("selected", true);
            $("#FromMasterNo").val("");
            $("#ToMasterNo").val("");
        }

        function toPage(page)
        {
            $("#CurrentPage").val(page);
            $("#queryForm").submit();
        }

        function chceckAll(currentValue) {
            $("input[name=batch]").each(function () {
                this.checked = currentValue;
            });
        }

        function batchDelete() {
            var list = [];
            $("input[name=batch]").each(function () {
                if (this.checked) {
                    list.push(this.value);
                }
            });

            if (list.length > 0)
            {
                var data = {
                    IDList: list,
                    LastUpdateBy: 0
                };
                data = JSON.stringify(data);
                console.log(data);

                var path = "@Url.Action("BatchDelete")";

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json",
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) { successHandler(message); }
                });
            }
        }

        function goToIndex() {
            location.reload();
        }
        var m_tradeType="";
        function GetTradeType(type){
            if(type=="init"){
                m_tradeType= $("#TradeType").val();
            }
            $("#TradeType").removeOption("").removeOption(/./).ajaxAddOption("/AccountingTradeDefine/GetTradeType/", { id: $("#TransType").val() }, false,SetTradeType);
        }      
        function SetTradeType(){
            if(m_tradeType!=""){
                $("#TradeType").val(m_tradeType);
            }
        }
        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.Results.Page.TotalAmount,//資料庫總筆數
                    page_size: @Model.Results.Conditions.PageSize,//單頁筆數
                    page_now: @Model.Results.Conditions.CurrentPage,//當前頁
                    center_page: 1,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "",
                    pageFunc: toPage
                }
            });
            GetTradeType("init");

        })(jQuery);

    </script>

}




