﻿@using Library.Servant.Servant.ApprovalTodo.Models;
@model EditResult

@{
    ViewBag.Title = "FormApproval";
}

<div id="root">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>表單簽核</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">首頁</a>
                </li>
                <li>
                    <a href="#">表單簽核</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        <ul class="nav nav-tabs">
                            <li>
                                <a data-toggle="tab" href="#tab1">表單內容</a>
                            </li>
                            <li class="active">
                                <a data-toggle="tab" href="#tab2">審核意見</a>
                            </li>
                        </ul>

                        <div class="tab-content">

                            <div id="tab1" class="tab-pane fade">
                                @Html.Action( "Form", new { ID = Model.ID } )
                            </div>

                            <div id="tab2" class="tab-pane active">

                                <br />

                                <a class="btn btn-primary" href="@Url.Action("Index","ApprovalTodo")">回上頁</a>

                                

                                    <div class="row">

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-4 control-label text-right">單據編號</label>
                                            <div class="input-group col-sm-8">
                                                <input type="text" class="form-control" value="@Model.FormNo" disabled />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-4 control-label text-right">表單處理時間</label>
                                            <div class="input-group col-sm-8">
                                                <input type="text" class="form-control" value="@Model.LogIssueDescription" disabled />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-4 control-label text-right">表單編號</label>
                                            <div class="input-group col-sm-8">
                                                <input type="text" class="form-control" value="@Model.DocName" disabled />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-4 control-label text-right">分行</label>
                                            <div class="input-group col-sm-8">
                                                <input type="text" class="form-control" value="@Model.BranchName" disabled />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-4 control-label text-right">申請人員</label>
                                            <div class="input-group col-sm-8">
                                                <input type="text" class="form-control" value="@Model.ApplyUserName" disabled />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-4 control-label text-right">申請送出時間</label>
                                            <div class="input-group col-sm-8">
                                                <input type="text" class="form-control" value="@Model.DocIssueTimeDescription" disabled />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-4 control-label text-right">最後簽核人員</label>
                                            <div class="input-group col-sm-8">
                                                <input type="text" class="form-control" value="@Model.CurrentApprovalUserName" disabled />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-4 control-label text-right">簽核狀態</label>
                                            <div class="input-group col-sm-8">
                                                <input type="text" class="form-control" value="@Model.ApprovalStatus" disabled />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="hr-line-dashed"></div>
                                <form class="form-horizontal tab-pane fade in active" action="@Url.Action("Update")" method="post">
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor( m => m.ID )

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">上傳附件</label>
                                        <div class="col-sm-9">
                                            <span class="badge">2</span>
                                            <a href="#"><i class="glyphicon glyphicon-file">人員基本資料</i></a>
                                            <a href="#"><i class="glyphicon glyphicon-file">建議書</i></a>
                                            <button class="btn btn-sm btn-danger">刪除</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">選擇檔案</label>
                                        <div class="col-sm-9">
                                            <span style="float: left"><input type="file" style="width: 160px" /></span>
                                            <button class="btn btn-sm btn-success">上傳</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">審核結果</label>
                                        <div class="col-sm-9">
                                            <label><input type="radio" name="Action" value="0" checked>處理中</label>
                                            <label><input type="radio" name="Action" value="1"><span style="color: blue">通過</span></label>
                                            <label><input type="radio" name="Action" value="2"><span style="color: red">退件</span></label>
                                            <label><input type="radio" name="Action" value="3"><span style="color: red">退回至</span></label>
                                            <select name="RejectToStep">
                                                @foreach (var alreadyApprovalRole in Model.AlreadyApprovalRoles)
                                                {
                                                    <option value="@alreadyApprovalRole.Value">@alreadyApprovalRole.Text</option>
                                                }
                                            </select>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">審核意見</label>
                                        <div class="col-sm-9"><textarea class="form-control" rows="5" name="Remark"></textarea></div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 col-sm-offset-4" align="right">
                                            <button class="btn btn-primary">送出</button>
                                            <a class="btn btn-danger" href="@Url.Action(" Edit", new { ID=Model.ID })">清除</a>
                                            <a class="btn btn-default" href="@Url.Action(" Index")">回上頁</a>
                                        </label>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts { 

    @Scripts.Render("~/Scripts/Todo/FormApproval.js")

    <script>

        (function ($) {

            $(".ratio").load( function () {

                var height = $(this).offsetParent().height();
                $(this).attr("height", height);
            });

        })(jQuery);

    </script>
}
