﻿@using Library.Servant.Servant.ApprovalEventListener
@model HttpGetViewModel

@{
    string url = Url.Action(Model.ActionName, Model.ControllerName) + "?" + Model.Parameter;
}

<div class="row">
    <iframe class="col-md-12 ratio" src="@url"></iframe>
</div>

