﻿<template id="table-template">
    <div>
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>序號</th>
                    <th></th>
                    <th></th>
                    <th>表單類別</th>
                    <th>表單代碼</th>
                    <th>表單名稱</th>
                    <th>啟用</th>
                    <th>註銷別</th>
                    <th>備註</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="i in tableData.length">
                    <td>{{(page_now-1)*10 + i}}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-warning glyphicon glyphicon-pencil" v-on:click="tableData[i-1].Editable=!tableData[i-1].Editable">
                            <span v-if="!tableData[i-1].Editable">編輯</span>
                            <span v-else>取消</span>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-success glyphicon glyphicon-floppy-save" v-on:click="update(tableData[i-1])" :disabled="!tableData[i-1].Editable">存檔</button>
                    </td>
                    <td>
                        <select v-model="tableData[i-1].DocType" class="form-control" :disabled="!tableData[i-1].Editable">
                          <option v-for="t in docTypes" v-bind:value="t.Value">
                            {{ t.Name }}
                          </option>
                        </select>
                    </td>
                    <td>
                        <input type="text" v-model="tableData[i-1].DocCode" class="form-control" :disabled="!tableData[i-1].Editable">
                    </td>
                    <td>
                        <input type="text" v-model="tableData[i-1].DocName" class="form-control" :disabled="!tableData[i-1].Editable">
                    </td>
                    <td>
                        <input type="checkbox" v-model="tableData[i-1].IsActive" :disabled="!tableData[i-1].Editable">
                    </td>
                    <td>
                        <input type="checkbox" v-model="tableData[i-1].CancelCode" :disabled="!tableData[i-1].Editable">
                    </td>
                    <td>
                        <input type="text" v-model="tableData[i-1].Remark" class="form-control" :disabled="!tableData[i-1].Editable">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>


    (function($){

        var TableTemplate = Vue.extend({

            template: '#table-template',

            beforeMount: function(){

            },

            methods: {
                update: function (rowData) {
                    rowData.Editable = false
                    axios.post('/DocName/update', {
                        vm: rowData,
                      })
                      .then(function (response) {
                        /* 成功拿到資料，然後... */
                        alert(response.data.message)
                        
                      })
                      .catch(function (error) {
                        /* 失敗，發生錯誤，然後...*/
                      });
                },
            },
        });

        $.extend({

            TableTemplate: TableTemplate
        });

    })(jQuery);

</script>
