﻿@using InspiniaWebAdminTemplate.Models.DocName
@model CreateViewModel
@{
    ViewBag.Title = "Create";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>新增表單名稱</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">表單名稱維護</a>
            </li>
            <li>
                <a href="#">新增表單名稱</a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" id="root">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <form action="@Url.Action("Create")" method="post" class="form-horizontal">

                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">表單類別</label>
                                @*<div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.DocType, new { @class = "form-control" })
                                </div>*@
                                <div class="col-sm-8">
                                    <select name="DocType" class="form-control" value="@Model.DocType">
                                        @foreach (var item in Model.DocTypeOptions){
                                            var selected = Model.DocType == item.Value ? "selected" : "";
                                            <option value="@item.Value" @selected> @item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">表單代碼</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.DocCode, new { @class = "form-control" })
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">表單名稱</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.DocName, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">啟用別</label>
                                <div class="col-sm-8">
                                    @if (Model.IsActive)
                                    {
                                        <label class="control-label"><input type="radio" name="IsActive" value="true" checked>啟用</label>
                                        <label class="control-label"><input type="radio" name="IsActive" value="false">停用</label>
                                    }
                                    else
                                    {
                                        <label class="control-label"><input type="radio" name="IsActive" value="true">啟用</label>
                                        <label class="control-label"><input type="radio" name="IsActive" value="false" checked>停用</label>
                                    }
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required" align="right">註銷別</label>
                                <div class="col-sm-8">
                                    @if (Model.CancelCode)
                                    {
                                        <label class="control-label"><input type="radio" name="CancelCode" value="false">使用中</label>
                                        <label class="control-label"><input type="radio" name="CancelCode" value="true" checked>註銷</label>
                                    }
                                    else
                                    {
                                        <label class="control-label"><input type="radio" name="CancelCode" value="false" checked>使用中</label>
                                        <label class="control-label"><input type="radio" name="CancelCode" value="true">註銷</label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">備註</label>
                                <div class="col-sm-8">
                                    @Html.TextAreaFor(m => m.Remark, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12 col-sm-offset-4">
                                <label for="" class="col-sm-4" align="right">
                                    <button class="btn btn-primary"><i class="fa fa-save">存檔</i></button>
                                    <button type="button" class="btn btn-danger"><i class="fa fa-trash">清除</i></button>
                                    <a href="@Url.Action("Index")" class="btn btn-warning">回上頁</a>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}

