﻿<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-md-8 main" style="left: 0px; top: -94px; height: 200px">


            <h1 class="page-header">表單名稱匯入</h1>
            <form name="FormMaintainCodeTableModify" id="FormMaintainCodeTableModify" action="http://adraft.x10.mx/clouds-404/" class="form-horizontal" method="get">
                <input type="hidden" id="oldinputCode" name="oldinputCode" value="2" />
                <div class="table-responsive">

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="" class="col-sm-4 control-label">匯入方式</label>
                            <div class="col-sm-8">

                                <label><input type="radio" name="selectIsActive" value="1" checked />全檔覆蓋</label>
                                <label><input type="radio" name="selectIsActive" value="0" />內容修改</label>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="col-sm-4 control-label"><font color="red">＊</font>檔案上傳路徑</label>
                            <div class="col-sm-8">
                                <input type='file' id='file' name='file' size="50" class='required' /><br><a href="http://adraft.x10.mx/clouds-404/" target="_blank">範例下載</a>
                            </div>
                        </div>
                    </div>

                    <div class="buttons text-center">
                        <button class="btn btn-sm btn-success" id="buttonSave">確定匯入</button>
                        <a class="btn btn-sm btn-danger" id="buttonCencel" href="http://adraft.x10.mx/clouds-404/">取消</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

