﻿@using InspiniaWebAdminTemplate.Models.DocName
@model IndexViewModel

@{
    ViewBag.Title = "DocName";
}





<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>表單維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "DocName")">首頁</a>
            </li>
            <li>
                <a href="#">表單維護</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">

                        @Html.AntiForgeryToken()

                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">表單類別</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="DocType">
                                        <option value=""> 全部</option>
                                        @foreach (var item in Model.DocTypeOptions){
                                            var selected = Model.SearchCondition.DocType == item.Value ? "selected" : "";
                                            <option value="@item.Value" @selected> @item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">表單代碼</label>
                                <div class="col-sm-8">
                                    <select name="DocCode" class="form-control">
                                        <option value="">全部</option>
                                        @foreach (var item in Model.DocCodeOptions){
                                            var selected = Model.SearchCondition.DocCode == item.Value ? "selected" : "";
                                            <option value="@item.Value" @selected> @item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        
                        </div>

                        <div class="row">
                            
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">啟用別</label>
                                <div class="col-sm-8">
                                    @ActiveMenu( Model.SearchCondition.IsActive )
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">註銷別</label>
                                <div class="col-sm-8">
                                    @CancelCodeMenu( Model.SearchCondition.CancelCode )
                                </div>
                            </div>
                        
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button class="btn btn-primary"><i class="fa fa-search">查詢</i></button>
                                    <button type="button" class="btn btn-danger" onclick="reset()"><i class="fa fa-trash">清除</i></button>
                                    <a class="btn btn-info" href="@Url.Action("Create")" ><i class="fa fa-trash">新增</i></a>
                                    <a class="btn btn-warning" href="@Url.Action("Import")"><i class="fa fa-adjust">匯入</i></a>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

               
                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  @Model.TotalAmount 筆 第 @Model.SearchCondition.Page 頁</label>
                                    @*<a class="btn btn-sm btn-default" id="buttonDelete" href="@Url.Action("Index","Home")">回上頁</a>*@
                                    <button class="btn btn-sm btn-success" id="buttonSave">存檔</button>
                                    <a class="btn btn-info" href="@Url.Action("Export")">全部匯出</a>
                                </td>
                            </tr>
                        </table>

                        <div id="table">
                            <div id="table_region"></div>
                        </div>                        

                        <div id="page">
                            <div id="page_region"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@helper ActiveMenu(bool? isActive)
{
    <select name="IsActive" class="form-control">

        @{
            string total = isActive.HasValue ? "" : "selected";
            string active = isActive.HasValue && isActive.Value ? "selected" : "";
            string inactive = isActive.HasValue && !isActive.Value ? "selected" : "";
        }

        <option value="" @total> 全部</option>
        <option value="true" @active> 啟用</option>
        <option value="false" @inactive> 停用</option>

    </select>
}

@helper CancelCodeMenu(bool? CancelCode)
{
    <select name="CancelCode" class="form-control">

        @{
            string total = CancelCode.HasValue ? "" : "selected";
            string cancle = CancelCode.HasValue && CancelCode.Value ? "selected" : "";
            string used  = CancelCode.HasValue && !CancelCode.Value ? "selected" : "";
        }

        <option value="" @total> 全部</option>
        <option value="false" @used> 使用中</option>
        <option value="true" @cancle> 已註銷</option>
        
    </select>
}

@section Scripts {

    @Html.Partial("_VueEditableTable")

     <script>

        (function ($) {

            var table = new $.TableTemplate({

                el: "#table_region",
                data: {
                    docTypes: @Html.Raw(Json.Encode(Model.DocTypeOptions)),
                    tableData: @Html.Raw(Json.Encode(Model.Items)),
                    page_now: @Model.SearchCondition.Page,//當前頁
                }
            });


        })(jQuery);

    </script>

    @Html.Partial("_VuePageList")
    
    <script>


        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.TotalAmount,//資料庫總筆數
                    page_size: @Model.SearchCondition.PageSize,//單頁筆數
                    page_now: @Model.SearchCondition.Page,//當前頁
                    center_page: @Model.SearchCondition.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });


        })(jQuery);

    </script>
}
