﻿@using InspiniaWebAdminTemplate.Models.PostsManagement
@model PostViewModel

@{
    ViewBag.Title = "Create";
}

<div id="root">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>公告事項管理</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="Home">首頁</a>
                </li>
                <li>
                    <a href="#">公告事項管理</a>
                </li>
                <li>
                    <a href="#">公告事項新增</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>公告事項新增</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post"  action="@Url.Action("SavePost")" enctype="multipart/form-data" class="form-horizontal">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.FlowCode)
                            @Html.HiddenFor(m => m.NewFlowCode)
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">公告編號</label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control", @type = "text", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label required">主題類別</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("DocumentType", (IEnumerable<SelectListItem>)ViewBag.AnnounceTypeList, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label required">公布單位</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("AnnounceDepartment", (IEnumerable<SelectListItem>)ViewBag.AnnounceDepartmentList, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label for="" class="col-sm-2 control-label required">主旨</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @type = "text" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label for="" class="col-sm-2 control-label required">詳細說明</label>
                                    <div class="col-sm-10">
                                        @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @rows = "15" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label for="" class="col-sm-2 control-label required">相關連結</label>
                                    @if (ViewBag.CanEdit) {
                                        <div class="col-sm-10">
                                            <button type="button" data-toggle="modal" data-target="#modal-form-hyperLink" class="btn btn-info"><i class="fa fa-link">按一下新增超連結</i></button>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        <ol id="links">
                                            @for (var i = 0; i < Model.Links.Count; i++) {
                                                <li>
                                                    @{ var item = Model.Links[i]; }
                                                    @Html.Hidden("Links[" + i + "].Name", item.Name)
                                                    @Html.Hidden("Links[" + i + "].Url", item.Url)
                                                    <a href="@item.Url">@item.Name</a>
                                                    @if (ViewBag.CanEdit) {
                                                        <a onclick="DeleteLink(this)"><span class="fa fa-close"></span></a>
                                                    }
                                                </li>
                                            }
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label for="" class="col-sm-2 control-label">相關文件上傳</label>
                                    <div class="col-sm-6">
                                        @if (ViewBag.CanEdit) {
                                            <input type="file" class="form-control" id="file" name="file">
                                        }
                                        <ol>
                                            @if (!string.IsNullOrEmpty(Model.FileName)) {
                                                <li>
                                                    @Html.HiddenFor(m => m.FileName)
                                                    <a href="#">@Model.FileName</a>
                                                    @if (ViewBag.CanEdit) {
                                                        <a onclick="DeleteLink(this)"><span class="fa fa-close"></span></a>
                                                    }
                                                </li>
                                            }
                                        </ol>                                
                                        @*<button type="submit" class="btn btn-info"><i class="fa fa-save">上傳</i></button>*@
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">公告日期</label>
                                    <div class="input-group col-sm-8">
                                        <div class="input-group">
                                            @Html.TextBoxFor(m => m.AnnounceRange.Start, "{0:yyyy/MM/dd}", new { @class = "form-control datepicker", @type = "text" })
                                            <span class="input-group-addon date-trigger">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">截止日期</label>
                                    <div class="input-group col-sm-8">
                                        <div class="input-group">
                                            @Html.TextBoxFor(m => m.AnnounceRange.End, "{0:yyyy/MM/dd}", new { @class = "form-control datepicker", @type = "text" })
                                            <span class="input-group-addon date-trigger">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label required">經辦人</label>
                                    <div class="input-group col-sm-8">
                                        @Html.TextBoxFor(m => m.Principal, new { @class = "form-control", @type = "text", @readonly=true })
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    @if (ViewBag.CanEdit) {
                                        @*<a href="@Url.Action("Submit", new { flowCode=Model.NewFlowCode } )" class="btn btn-sm btn-success"><i class="fa fa-plus">提交</i></a>*@
                                        <button type="submit" class="btn btn-info"><i class="fa fa-save">存檔</i></button>
                                        <a href="@Url.Action("Discard", new { flowCode = Model.FlowCode })" class="btn btn-danger"><i class="fa fa-eraser">刪除</i></a>
                                    }
                                    <a href="#" onclick="history.back()" class="btn btn-default"><i class="fa fa-rotate-left">返回</i></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-hyperLink" name="dialogModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">新增超連結</h3>
                        @Html.AntiForgeryToken()
                        <div class="row col-sm-12">
                            <label for="" class="col-sm-4 control-label">顯示文字</label>
                            <div class="input-group col-sm-8">
                                @Html.TextBox("LinkName", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row col-sm-12">
                            <label for="" class="col-sm-4 control-label">連結網址</label>
                            <div class="input-group col-sm-8">
                                @Html.TextBox("LinkUrl", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal" onclick="AddLink()"><strong>新增</strong></button>
                            <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><strong>取消</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        (function ($) {

            $(".datepicker").datepicker({
                format: "yyyy/mm/dd",
                autoclose: true,
                clearBtn: true,
                calendarWeeks: false,
                todayHighlight: true,
                language: 'zh-TW'
            });

            $(".date-trigger").on("click", function () {
                $(this).prev(".datepicker").datepicker("show");
            });

        })(jQuery);

        function DeleteLink(el) {
            var delEl = $(el).closest("li");
            $(delEl).remove();
            var links = $("#links").children();
            
            $.each(links, function (index, value) {
                var inputs = $(value).find("input");
                $(inputs[0]).attr("name", "Links[" + index + "].Name");
                $(inputs[1]).attr("name", "Links[" + index + "].Url");
                $("#links").append(value); $("#links").append(value);
            });
        }

        function AddLink() {
            var name = $('#LinkName').val();
            $('#LinkName').val("");
            var url = $('#LinkUrl').val();
            $('#LinkUrl').val("");
            var links = $("#links").children();
            var li = document.createElement("li");
            var nameEl = document.createElement("input");
            $(nameEl).attr("type", "hidden").val(name);
            var urlEl = document.createElement("input");
            $(urlEl).attr("type", "hidden").val(url);
            var linkEl = document.createElement("a");
            $(linkEl).attr("href", url).html(name);
            var btnEl = document.createElement("a");
            $(btnEl).attr("onclick", "DeleteLink(this)").html('<span class="fa fa-close"></span>');

            $(li).append(nameEl);
            $(li).append(urlEl);
            $(li).append(linkEl);
            $(li).append(btnEl);
            links.push(li);

            $.each(links, function (index, value) {
                var inputs = $(value).find("input");
                $(inputs[0]).attr("name", "Links[" + index + "].Name");
                $(inputs[1]).attr("name", "Links[" + index + "].Url");
                $("#links").append(value);
            });
        }

    </script>
}


