﻿@using Library.Servant.Enums
@using InspiniaWebAdminTemplate.Models.PostsManagement
@model FormIndexViewModel

@{
    ViewBag.Title = "FormIndex";
}

<style>
    .control-label.required:before {
        content: "*";
        color: red;
    }

    thead {
        background: #0a4812;
        color: #ffffff;
    }

    #backBtn, #dropBtn {
        display: none;
    }

    th {
        text-align: center;
    }

    td {
        text-align: center;
    }

    template {
        display: none;
    }

    body {
        font-size: 140%;
    }
</style>

<div id="root">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>公告事項管理</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="Home">首頁</a>
                </li>
                <li>
                    <a href="#">公告事項管理</a>
                </li>
                <li>
                    <a href="#">公告事項維護</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>@Model.HeaderInfo.FlowName</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" action="@Url.Action("SaveForm")" class="form-horizontal">
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">單位</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="@ViewBag.Branch" readonly />
                                        @*@Html.Hidden("BranchID", Model.HeaderInfo.BranchID)*@
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">單據類別</label>
                                    <div class="col-sm-8">
                                        @{
                                            var attributes = new Dictionary<string, object> {
                                                { "class", "form-control" }
                                            };

                                            if (Model.Conditions.IsSaved) {
                                                attributes.Add("disabled", true);
                                            }
                                        }
                                        @Html.DropDownList("FlowType", (IEnumerable<SelectListItem>)ViewBag.DocumentList, attributes)
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">簽核狀態</label>
                                    <div class="col-sm-8">
                                        @Html.TextBox("ApprovalStatus", Model.HeaderInfo.ApprovalStatus.GetDisplayName(), new { @class = "form-control", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">事務處理編號</label>
                                    <div class="input-group col-sm-8">
                                        @Html.TextBox("FlowCode", Model.HeaderInfo.FlowCode, new { @class = "form-control", @readonly = true })
                                    </div>
                                </div>
                            </div>*@

                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-5">
                                    @if (!Model.Conditions.IsSaved) {
                                        <button type="submit" class="btn btn-info"><i class="fa fa-send">下一步</i></button>
                                        <a class="btn btn-primary" data-toggle="tab" onclick="history.back()" href="#main"><i class="fa fa-search">返回</i></a>
                                        @*<button type="reset" class="btn btn-danger"><i class="fa fa-rotate-left">清除</i></button>*@
                                    }
                                </div>
                                <div class="col-sm-5">
                                    @if (Model.Conditions.IsSaved) {
                                        if (!Model.Conditions.IsSubmited) {
                                            <button id="sendBtn" class="btn btn-success" data-toggle="modal" data-target="#modal-form-submit"><i class="fa fa-send">提交</i></button>
                                        }
                                        if (Model.HeaderInfo.ApprovalStatus == ApprovalStatus.Create) {
                                            <button type="button" id="discardBtn" class="btn btn-danger" data-toggle="modal" data-target="#modal-form-discard"><i class="fa fa-times">作廢</i></button>
                                        }
                                    }
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table-condensed" width="100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>共 &nbsp;@Model.TotalAmount&nbsp; 筆</label>
                                        <a class="btn btn-sm btn-default" href="@Url.Action("Index", "PostsManagement")">回上頁</a>
                                        @if (Model.Conditions.IsSaved && !Model.Conditions.IsSubmited) {
                                            if (Model.HeaderInfo.FlowType == Library.Servant.Enums.FormType.PostCreate) {
                                                <a href="@Url.Action("Create", new { flowCode = Model.HeaderInfo.FlowCode })" class="btn btn-sm btn-success"><i class="fa fa-plus">新增</i></a>
                                            }
                                            else {
                                                <a href="@Url.Action("Search", new { flowCode = Model.HeaderInfo.FlowCode })" class="btn btn-sm btn-success"><i class="fa fa-plus">查詢</i></a>
                                            }
                                        }
                                    </td>
                                </tr>
                            </table>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>公告日期</th>
                                        <th>主題類別</th>
                                        <th>公告主旨</th>
                                        <th>負責人</th>
                                        <th>檢視</th>
                                        <th>刪除</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 1; i <= Model.Items.Count; i++) {
                                        var item = Model.Items[i - 1];
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.AnnounceDate</td>
                                            <td>@item.Type</td>
                                            <td>@item.AnnounceTitle</td>
                                            <td>@item.Principal</td>
                                            <td>
                                                <a class="btn btn-primary btn-circle" href="@Url.Action(Model.Conditions.IsSubmited ? "Show" : "Edit", new { flowCode = Model.HeaderInfo.FlowCode, postCode = item.PostCode })" title="編輯">
                                                    <i class="glyphicon glyphicon-list "></i>
                                                </a>
                                            </td>
                                            <td>
                                                @if (!Model.Conditions.IsSubmited) {
                                                    <a class="btn btn-danger btn-circle" href="#modal-form-delete-@item.PostCode" data-toggle="modal" title="刪除單筆資料">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <nav class="text-center">
                                <ul class="pagination">
                                    <li class="disabled"><a>1</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>

@foreach (var item in Model.Items) {
    @DeleteDialog(item.PostCode, Model.HeaderInfo.FlowCode)
}

@helper DeleteDialog(string postCode, string flowCode)
{
    <div id="modal-form-delete-@postCode" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div>
                            <h3 class="m-t-none m-b">是否要刪除此資料?</h3>
                            <p>刪除資料後，資料無法回復，請確認刪除。</p>
                            <form method="POST" action="@Url.Action("Delete")" style="display:inline-block;" id="form-delete">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="postCode" value="@postCode">
                                <input type="hidden" name="flowCode" value="@flowCode">
                                <button class="btn btn-sm btn-danger" type="submit"><strong>是</strong></button>
                            </form>
                            <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>否</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div id="modal-form-submit" name="dialogModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">是否要提交此資料?</h3>
                        <form method="POST" action="@Url.Action("Submit", new { flowCode = Model.HeaderInfo.FlowCode })" style="display:inline-block;" id="form-delete">
                            @Html.AntiForgeryToken()
                            <button class="btn btn-sm btn-danger" type="submit"><strong>是</strong></button>
                        </form>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>否</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-discard" name="dialogModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">是否要作廢此資料?</h3>
                        <p>作廢後，資料無法回復。</p>
                        <form method="POST" action="@Url.Action("Discard")" style="display:inline-block;" id="form-delete">
                            @Html.AntiForgeryToken()
                            <button class="btn btn-sm btn-danger" type="submit"><strong>是</strong></button>
                        </form>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>否</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="branchCodeModal" name="branchCodeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <slot name="header">
                    選擇分行代號
                </slot>
            </div>
            <div class="modal-body">
                <slot name="body">
                    <select class="form-control" name="dropdownBranch" id="dropdownBranch" size="15">
                        <option>請選擇</option>
                    </select>
                </slot>
            </div>
            <div class="modal-footer">
                <slot name="footer">
                    <button class="btn btn-primary" id="selectBranchBtn" type="button">選取</button>
                    <button class="btn btn-danger" id="closeBranchModalBtn" type="button">取消</button>
                </slot>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Html.Partial("_VuePageList")

    <script type="text/javascript">
	    (function ($) {
		    
		    $("#clearBtn").click(function(e) {
			    if($("#newBtn").attr("disabled") != "disabled")
				    e.preventDefault();
		    });

		    $("#selectBranchBtn").click(function(e) {
			    selectBranch();
		    });

		    $("#closeBranchModalBtn").click(function(e) {
			    $("#branchCodeModal").modal('toggle');
		    });

	    })(jQuery);

	    function getDropdownBranchOption(data) {
		    for(i in data)
		    $("#dropdownBranch").append('<option value="'+data[i].branchCode+'">'+data[i].branchCode+' '+data[i].branchName+'</option>');
	    }

	    function selectBranch() {
		    $("#Branch_Code").val($("#dropdownBranch").val());
		    $("#Branch_Name").val($("#dropdownBranch option:selected").text());
		    $("#branchCodeModal").modal('toggle');
	    }
    </script>
}

<template id="vue-datepicker-template">
    <input type="text">
</template>
<template id="vue-modal-template">
    <div :id="modalId" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <slot>
                    </slot>
                </div>
            </div>
        </div>
    </div>
</template>
<template id="app-ibox">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" v-if="title || collapsible">
                    <h5>{{ title }}</h5>
                    <div class="ibox-tools" v-if="collapsible">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <slot></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="app-formfield">
    <div :class="`col-sm-${col} form-group`">
        <label class="col-sm-4 control-label">
            <span v-if="required" style="color: red">*</span>{{ title }}
        </label>
        <div class="col-sm-8">
            <slot></slot>
        </div>
    </div>
</template>