﻿@model InspiniaWebAdminTemplate.Models.HistoryDataExport.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<div id="root">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>歷史資料管理</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="Home">首頁</a>
                </li>
                <li>
                    <a href="#">歷史資料管理</a>
                </li>
                <li>
                    <a href="HistoryDataExport">資料匯出</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">
            @Html.AntiForgeryToken()
            <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>搜尋條件</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row form-inline">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">交易類別</label>
                                <div class="col-sm-8 row">
                                    @Html.DropDownList("TrasactionCode", Model.TransactionOptions, "請選擇", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">資料表名稱</label>
                                <div class="col-sm-8 row">
                                    @Html.DropDownList("TableName", Model.TableOptions, "請選擇", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="row form-inline">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">最後異動日期</label>
                                <div class="col-sm-8 input-group">
                                    @Html.TextBox("ImportRange.Start", Model.Condition?.ImportRange.Start, "{0:yyyy/MM/dd}", new { @class = "form-control datepicker", @type = "text" })
                                    <span class="input-group-addon date-trigger">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    <span class="input-group-addon">~</span>
                                    @Html.TextBox("ImportRange.End", Model.Condition?.ImportRange.End, "{0:yyyy/MM/dd}", new { @class = "form-control datepicker", @type = "text" })
                                    <span class="input-group-addon date-trigger">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-5">
                                <button type="submit" id="searchBtn" class="btn btn-primary"><i class="fa fa-search">查詢</i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table-condensed" width="100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>共 @Model.TotoalAmount 筆</label>
                                    </td>
                                </tr>
                            </table>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>歷史資料表</th>
                                        <th>資料表名稱</th>
                                        <th>最後異動時間</th>
                                        <th>資料筆數</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 1; i <= Model.Items?.Count; i++) {
                                        var item = Model.Items[i - 1];
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.HistoryTableName</td>
                                            <td>@item.TableName</td>
                                            <td>@item.LatestUpdateDateTime</td>
                                            <td>@item.TotoalAmount</td>
                                            <td>
                                                <a id="searchBtn" class="btn btn-primary" href="@Url.Action("Export", new { table=@item.HistoryTableName })"><i class="fa fa-search">匯出</i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <nav class="text-center">
                                <ul class="pagination">
                                    <li class="disabled"><a>1</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @*@Html.Partial("_VuePageList")*@

    <script>

        (function ($) {

            $(".datepicker").datepicker({
                format: "yyyy/mm/dd",
                autoclose: true,
                clearBtn: true,
                calendarWeeks: false,
                todayHighlight: true,
                language: 'zh-TW'
            });

            $(".date-trigger").on("click", function () {
                $(this).prev(".datepicker").datepicker("show");
            });

        })(jQuery);
        
    </script>
}

