﻿@using InspiniaWebAdminTemplate.Models.ApprovalMember
@model BatchEditViewModel

@{
    ViewBag.Title = "簽核人員及角色整批維護";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>簽核人員及角色整批維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">簽核人員及角色整批維護</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">



                    <div class="row">

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-2 control-label text-right">部門</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="@Model.SearchDepartmentName" disabled>
                            </div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-2 control-label text-right">權限角色</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="@Model.SearchRoleName" disabled>
                            </div>
                        </div>
                   </div>


                    <div class="hr-line-dashed"></div>

                    <form id="updata_by_role" method="post" action="@Url.Action("BatchUpdate")" class="form-horizontal">
                        
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required" align="right">設定方式</label>
                                <div class="col-sm-8">
                                    <input type="radio" name="x" value="2" checked><label>依據簽核角色</label>
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">選取的簽核角色</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="UpdateRoleID">
                                        @foreach (var role in Model.TotalFlowRoles)
                                        {
                                            <option value="@role.Value">@role.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>


        
                        </div>

      
                        <div class="row">
                            <div id="example"></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button class="btn btn-primary"><i class="fa fa-search">存檔</i></button>
                                    <a class="btn  btn-default" id="buttonDelete" href="@Url.Action("Index")"><i class="fa fa-search">回上頁</i></a>
                                </label>
                            </div>
                        </div>

  
                    </form>

                </div>
            </div>
        </div>
    </div>


</div>



@section Scripts{

    @Html.Partial("_VueOptionTemplate2")
    <script>

                (function ($) {

                    new $.OptionTemplate({

                        el: "#example",
                        data: {

                            left_title: "可選取人員",
                            right_title: "已選取人員",
                            left_model_name: "pp",
                            right_model_name: "UpdateUsers",
                            submit_form_id: "#updata_by_role",

                            left_array: @Html.Raw(Json.Encode(Model.Users)),
                            right_array: [],
                            left_size: 10,
                            right_size: false,
                        }
                    });

                })(jQuery);

    </script>
}

