﻿@{
    ViewBag.Title = "簽核人員及角色整批維護";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>簽核人員及角色整批維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">簽核人員及角色整批維護</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="" class="form-horizontal">

                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required" align="right">設定方式</label>
                                <div class="col-sm-8">
                                    <input type="radio" name="x" value="1" checked><label>依據人員</label>
                                </div>
                            </div>


                        </div>

                        <div class="row">

                            <div class="col-sm-5 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">分行</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="總行" disabled>
                                </div>
                            </div>

                            <div class="col-sm-1 form-group">
                                <a class="btn btn-info" href="#modal-form-delete" data-toggle="modal" title="選取">選取</a>
                            </div>


                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">部門</label>
                                <div class="col-sm-8">
                                    <select class="form-control">
                                        <option value="1">產權管理部</option>
                                        <option value="2">全部</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-5 form-group">
                                <label for="" class="col-sm-4 control-label">人員</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="主管一">
                                </div>
                            </div>

                            <div class="col-sm-1 form-group">
                                <a class="btn btn-info" href="#modal-form-delete" data-toggle="modal" title="選取">選取</a>
                            </div>

                        </div>

                        <div class="row">
                            <div id="example"></div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button type="button" class="btn btn-primary"><i class="fa fa-search">存檔</i></button>
                                    <button type="button" class="btn btn-danger"><i class="fa fa-search">取消</i></button>
                                    <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-search">回上頁</i></a>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


</div>


<div id="modal-form-delete" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">選取</h3>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Column 1</th>
                                    <th>Column 2</th>
                                    <th>Column 3</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int index = 0; index <= 2; ++index)
                                {
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td>y</td>
                                        <td>z</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>提交</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取消</strong></button>

                        <div id="helloWorldPanel"></div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @Html.Partial("_VueOptionTemplate2")
    <script>

            (function ($) {

                new $.OptionTemplate({

                    el: "#example",
                    data: {

                        left_title: "可選取簽核角色",
                        right_title: "已選取簽核角色",
                        left_model_name: "pp",
                        right_model_name: "qq",
                        submit_form_id: "#",

                        left_array: [

                            { Text: "分行主管", Value: 1 },
                            { Text: "分行會計主管", Value: 2 },
                            { Text: "總行經辦", Value: 3 },
                            { Text: "總行主管", Value: 4 },
                            { Text: "總行會計主管", Value: 5 },
                            { Text: "總行主控", Value: 6 },
                            { Text: "資訊經辦", Value: 7 },
                            { Text: "資訊主管", Value: 8 },
                            { Text: "法尊經辦", Value: 9 },
                            { Text: "法尊主管", Value: 10 },
                            { Text: "權狀卷宗管理經辦", Value: 11 },
                            { Text: "權狀卷宗管理主管", Value: 12 }
                        ],
                        right_array: [],

                        left_size: false,
                        right_size: false,
                    }
                });


            })(jQuery);

    </script>

}







