﻿@using InspiniaWebAdminTemplate.Models.ApprovalMember
@using Library.Servant.Servant.Common.Models;
@model EditViewModel

@{
    ViewBag.Title = "簽核人員及角色維護";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>簽核人員及角色維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">首頁</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">設定人員簽核角色維護</a>
            </li>
            <li>
                <a href="#">簽核人員及角色維護</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="@Url.Action("Update")" method="post" class="form-horizontal" id="update_roles">
                        
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor( m => m.UserID )

                        <div class="row">

                            <div class="col-sm-6 form-group">

                                <label for="" class="col-sm-4 control-label" align="right">分行</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@Model.BranchName" disabled>
                                </div>
                            </div>


                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">部門</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@Model.DepartmentName" disabled>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">人員</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@Model.UserName" disabled>
                                </div>
                            </div>

                        </div>
   
                        <div class="row">
                            <div id="select_flow_role1"></div>
                        </div>             

                        <div class="row">
                            <div id="select_flow_role2"></div>
                        </div>      
                        <div class="row">
                            <div id="select_flow_role3"></div>
                        </div>      
                        <div class="row">
                            <div id="select_flow_role4"></div>
                        </div>             
                        @*<div class="row">
                            <div id="select_flow_role3"></div>
                        </div>*@             

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button class="btn btn-primary"><i class="fa fa-search">存檔</i></button>
                                    <button type="button" class="btn btn-danger"><i class="fa fa-search">取消</i></button>
                                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-search">回上頁</i></a>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>


<div id="modal-form-delete" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">選取</h3>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Column 1</th>
                                    <th>Column 2</th>
                                    <th>Column 3</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int index = 0; index <= 2; ++index)
                                {
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td>y</td>
                                        <td>z</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>提交</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取消</strong></button>

                        <div id="helloWorldPanel"></div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{

    @Html.Partial("_VueOptionTemplate2")
    <script>

            (function ($) {

                new $.OptionTemplate({

                    el: "#select_flow_role1",
                    data: {

                        left_title: "動產出租承租可選取簽核角色",
                        right_title: "動產出租承租已選取簽核角色",
                        left_model_name: "LeftRole1",
                        right_model_name: "ApprovalRoles1",
                        submit_form_id: "#update_roles",

                        left_array: @Html.Raw( Json.Encode((List<OptionModel<int,string>>)ViewBag.LeftRole1) ),
                        right_array: @Html.Raw( Json.Encode((List<OptionModel<int, string>>)ViewBag.RightRole1) ),

                        left_size: false,
                        right_size: false,
                    }
                });
                new $.OptionTemplate({

                    el: "#select_flow_role2",
                    data: {

                        left_title: "不動產可選取簽核角色",
                        right_title: "不動產已選取簽核角色",
                        left_model_name: "LeftRole2",
                        right_model_name: "ApprovalRoles2",
                        submit_form_id: "#update_roles",

                        left_array: @Html.Raw( Json.Encode((List<OptionModel<int,string>>)ViewBag.LeftRole2) ),
                right_array: @Html.Raw( Json.Encode((List<OptionModel<int, string>>)ViewBag.RightRole2) ),

                left_size: false,
                right_size: false,
                }
                });
                new $.OptionTemplate({

                    el: "#select_flow_role3",
                    data: {

                        left_title: "其他可選取簽核角色",
                        right_title: "其他已選取簽核角色",
                        left_model_name: "LeftRole3",
                        right_model_name: "ApprovalRoles3",
                        submit_form_id: "#update_roles",

                        left_array: @Html.Raw( Json.Encode((List<OptionModel<int,string>>)ViewBag.LeftRole3) ),
                right_array: @Html.Raw( Json.Encode((List<OptionModel<int, string>>)ViewBag.RightRole3) ),

                left_size: false,
                right_size: false,
                }
                });
                new $.OptionTemplate({

                    el: "#select_flow_role4",
                    data: {

                        left_title: "組織角色可選取簽核角色",
                        right_title: "組織角色已選取簽核角色",
                        left_model_name: "LeftRole4",
                        right_model_name: "ApprovalRoles4",
                        submit_form_id: "#update_roles",

                        left_array: @Html.Raw( Json.Encode((List<OptionModel<int,string>>)ViewBag.LeftRole4) ),
                right_array: @Html.Raw( Json.Encode((List<OptionModel<int, string>>)ViewBag.RightRole4) ),

                left_size: false,
                right_size: false,
                }
            });
            })(jQuery);

    </script>

}




