﻿@using InspiniaWebAdminTemplate.Models.ApprovalMember
@model IndexViewModel

@{
    ViewBag.Title = "Approval";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>角色人員</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "ApprovalRole")">首頁</a>
            </li>
            <li>
                <a href="#">角色人員</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">

                        @Html.AntiForgeryToken()

                        @*<div class="row">
                            <div class="col-sm-6 form-group">
                                <label class="col-sm-4 control-label required">查詢方式</label>
                                <div class="col-sm-8">
                                    <label class="control-label"><input type="radio" name="querytype" value="1" onclick="querytype(1,0);" />依據人員</label>
                                    <label class="control-label"><input type="radio" name="querytype" value="2" onclick="querytype(2,0);" />依據簽核角色</label>
                                </div>
                            </div>
                        </div>*@

                        @*<div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">管轄分行</label>
                                <div class="input-daterange input-group col-sm-8 input-group-range">
                                    <input type="text" class="input-sm form-control" name="startDate" id="startDate" value="001 總行" data-date-end-date="0d" />
                                    <span class="input-group-addon">to</span>
                                    <input type="text" class="input-sm form-control" name="endDate" id="endDate" value="082 草屯分行" data-date-end-date="0d" />
                                </div>
                            </div>
                        </div>*@

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">單位</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="BranchCodeID">
                                        <option value="">全部</option>
                                        @foreach (var branch in ViewBag.BranchList)
                                        {
                                            var selected = branch.Value == Model.Search.BranchCodeID ? "selected" : "";
                                            <option value="@branch.Value" @selected> @branch.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">部門</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="DepartmentCodeID">
                                        <option value="">全部</option>
                                        @foreach (var department in Model.TotalDepartments)
                                        {
                                            var selected = department.Value == Model.Search.DepartmentCodeID ? "selected" : "";
                                            <option value="@department.Value" @selected>@department.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">簽核角色</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="FlowRoleID">
                                        <option value="">全部</option>
                                        @foreach (var flow_role in Model.TotalFlowRoles)
                                        {
                                            var selected = flow_role.Value == Model.Search.FlowRoleID ? "selected" : "";
                                            <option value="@flow_role.Value" @selected>@flow_role.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">人員</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@Model.Search.UserName" name="UserName">
                                </div>
                            </div>
                         </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button  class="btn btn-primary"><i class="fa fa-search">查詢</i></button>
                                    <button class="btn btn-sm btn-warning" formaction="@Url.Action("BatchEdit")">批次變更</button>
                                    <button class="btn btn-danger" formaction="@Url.Action("ClearSearchCondition")"><i class="fa fa-trash">清除</i></button>
                                    @*<button type="button" class="btn btn-info"><i class="fa fa-trash">新增</i></button>
                                    <a class="btn btn-warning" href="@Url.Action("CreateByMember")"><i class="fa fa-trash">整批維護</i></a>*@
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

               
                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  @Model.Page.TotalAmount 筆 第 @Model.Search.Page 頁</label>
    		                        <a class="btn btn-sm btn-default" id="buttonDelete" href="@Url.Action("Index","Home")">回上頁</a>
 			                        @*<button class="btn btn-sm btn-danger" id="buttonDelete">刪除</button>
			                        <button class="btn btn-sm btn-success" id="buttonSave">存檔</button>*@
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>分行</th>
                                    <th>部門</th>
                                    <th>人員</th>
                                    @*<th>簽核角色代碼</th>*@
                                    <th>簽核角色名稱</th>
                                </tr>
                            </thead>

                            <tbody>

                                @{ 
                                    int index = 0;
                                }
                                @foreach (var item in Model.Page.Items)
                                {
                                    ++index;
                                    var Codes = item.ApprovalRoles.Select(role => role.CodeID).ToList();
                                    var Texts = item.ApprovalRoles.Select(role => role.Text).ToList();
                                    <tr>
                                        <td>@( index + (Model.Search.Page - 1) * (Model.Search.PageSize)  )</td>
                                        <td>@item.BranchCode @item.BranchName</td>
                                        <td>@item.DepartmentName</td>
                                        <td>
                                            <a href="@Url.Action("Edit", new { UserID = item.UserID })">@item.UserName</a>
                                        </td>
                                        @*<td>
                                            <a class="bslink" href="#modal-form-code-@item.UserID" data-toggle="modal">@Tag(Codes,3)</a>
                                        </td>*@
                                        <td style="text-align:left">
                                            <a class="bslink" href="#modal-form-text-@item.UserID" data-toggle="modal">@Tag(Texts, 3)</a>
                                        </td>
                                    </tr>
                                }

                          </tbody>

                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@foreach (var item in Model.Page.Items)
{
    @CodesDialog(item)
}

@foreach (var item in Model.Page.Items)
{
    @TextsDialog(item)
}

@helper Tag(List<string> tags, int limit)
{
    if (tags.Count() <= limit)
    {
        foreach (var code in tags)
        {
                <span>@code </span>
        }
    }
    else
    {
        for (int index = 0; index < limit; ++index)
        {
                <span>@tags[index] </span>
        }
       <span>...</span>
    }
}


@helper CodesDialog(DetailsViewModel item)
{
      var Codes = item.ApprovalRoles.Select(role => role.CodeID).ToList();
     
    <div id="modal-form-code-@item.UserID" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div>
                            <h3 class="m-t-none m-b">角色代碼預覽</h3>
                            <ol>
                                @foreach (var code in Codes)
                                {
                                    <li>@code</li>
                                }
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@helper TextsDialog(DetailsViewModel item)
{
    var Texts = item.ApprovalRoles.Select(role => role.Text).ToList();

    <div id="modal-form-text-@item.UserID" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div>
                            <h3 class="m-t-none m-b">角色名稱預覽</h3>
                            <ol>
                                @foreach (var text in Texts)
                                {
                                    <li>@text</li>
                                }
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}








@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.Page.TotalAmount,//資料庫總筆數
                    page_size: @Model.Search.PageSize,//單頁筆數
                    page_now: @Model.Search.Page,//當前頁
                    center_page: @Model.Search.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });


        })(jQuery);

    </script>

    }
