﻿@using InspiniaWebAdminTemplate.Controllers
@model IEnumerable<ExampleFileViewModel>


@foreach(var file in Model)
{
    <p>Id = @file.Id ... Src = @file.Src</p>
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>檔案上傳範本</h5>
                </div>

                <div class="ibox-content">

                    <form method="post" id="example_form" action="@Url.Action("Submit")" class="form-horizontal">
                        @Html.AntiForgeryToken()


                        <div class="hr-line-dashed"></div>
                        <div id="photo_region"></div>
                        

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">確定</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    @Html.Partial("Vue/_UploadTemplate")
    <script>

        (function ($) {

            new $.UploadRegion({

                el: "#photo_region",

                data: {

                        files: @Html.Raw(Json.Encode(Model)),

                        title: "檔案列表標題",

                        upload_action: "@Url.Action("Create")",
                        upload_model_name: "file",

                        delete_action: "@Url.Action("Delete")",
                        delete_model_name: "Id",

                        form_id: "#example_form",
                        submit_model_name: "ThumbList",
                    }
            });

        })(jQuery);

    </script>

    }


