﻿@model InspiniaWebAdminTemplate.Models.Accounting.AccountingTradeAccountDetailModel

@{
    ViewBag.Title = "分錄會計科目維護";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>分錄會計科目維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">分錄會計科目維護</a>
            </li>
        </ol>
    </div>
</div>

<div id="app" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>分錄會計科目資料</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" id="updateForm">
                        <input type="hidden" id="ID" value="@Model.Result.ID" />


                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">分錄編號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="MasterNo" name="MasterNo" value="@((int)Model.Result.MasterNo)" readonly>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">關聯序號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="RelatedNo" name="RelatedNo" value="@((int)Model.Result.RelatedNo)">

                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">借貸別</label>
                                <div class="col-sm-8">
                                    <label><input type="radio" name="DBCR" value="D" @(Model.Result.DBCR=="D"?"checked":"")/>借</label>
                                    <label><input type="radio" name="DBCR" value="C" @(Model.Result.DBCR=="C"?"checked":"")/>貸</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">會計科目</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Account" name="Account" value="@Model.Result.Account" onchange="getAccountSubject(this.value)">
                                </div>
                            </div>


                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">IFRS會計科目</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="IFRSAccount" name="IFRSAccount" value="@Model.Result.IFRSAccount" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">會計科目名稱</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="AccountName" name="AccountName" value="@Model.Result.AccountName" readonly>
                                </div>
                            </div>


                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">資產類別</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="AssetCategoryCode" name="AssetCategoryCode" value="@Model.Result.AssetCategoryCode">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">細目出帳</label>
                                <div class="col-sm-8">
                                    <label><input type="radio" name="PostSubAccount" id="PostSubAccount" value="1" onclick="postSubAccount(this.checked)" @(Model.Result.PostSubAccount? "checked" : "")/>是</label>
                                    <label><input type="radio" name="PostSubAccount" value="0" @(Model.Result.PostSubAccount?"": "checked")/>否</label>
                                </div>
                            </div>


                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">是否為細目</label>
                                <div class="col-sm-8">
                                    <label><input type="radio" name="IsSubAccount" id="IsSubAccount" value="1" @(Model.Result.IsSubAccount? "checked" : "")/>是</label>
                                    <label><input type="radio" name="IsSubAccount" value="0" @(Model.Result.IsSubAccount? "" : "checked")/>否</label>
                                </div>
                            </div>

                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-6" align="right">
                                    <a class="btn btn-primary" onclick="saveData()">儲存</a>
                                    <a class="btn btn-default" onclick="resetCreateForm()">清除</a>
                                    <a class="btn btn-danger" onclick="deleteTradeAccount()">刪除</a>
                                    <a class="btn btn-default" onclick="window.history.go(-1)">回上一頁</a>
                                    <!--href="@Url.Action("Index")"-->
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-delete" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">是否要刪除此資料?</h3>
                        <p>刪除資料後，資料無法回復，請確認刪除。</p>
                        <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal" onclick="batchDelete()"><strong>是</strong></button>
                        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><strong>否</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "儲存成功" } });
@section Scripts{
    <script type="text/javascript">

        function resetCreateForm() {
            $("#RelatedNo").val("");
            $("#Account").val("");
            $("#IFRSAccount").val("");
            $("#AccountName").val("");
            $("#AssetCategoryCode").val("");

            $("input[name=DBCR][value=D]").prop("checked", true);
            $("input[name=PostSubAccount][value=0]").prop("checked", true);
            $("input[name=IsSubAccount][value=1]").val("checked", true);
        }

        function postSubAccount(value) {
            if (value) {
                $("#Account").val("*");
                $("#AccountName").val("");
                $("#IFRSAccount").val("");
            }
            else {
                var oldValue = $("#Account").val();
                if (oldValue == "*") {
                    $("#Account").val("");
                }
            }
        }

        function saveData() {
            if ($("#updateForm").valid()) {
                var path = "@Url.Action("Save")";

                var data = new FormData();
                data.append("ID", $("#ID").val());
                data.append("MasterNo", $("#MasterNo").val());
                data.append("Account", $("#Account").val());
                data.append("AccountName", $("#AccountName").val());
                data.append("IFRSAccount", $("#IFRSAccount").val());
                data.append("RelatedNo", $("#RelatedNo").val());
                data.append("DBCR", $("input[name=DBCR]:checked").val());
                data.append("PostSubAccount", $("#PostSubAccount").prop("checked"));
                data.append("IsSubAccount", $("#IsSubAccount").prop("checked"));
                data.append("AssetCategoryCode", $("#AssetCategoryCode").val());

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) { successHandler(message); }
                });
            }
        }

        function deleteTradeAccount() {
            $("#modal-form-delete").modal();
        }

        function batchDelete() {
            var list = [];
            list.push($("#ID").val());

            if (list.length > 0) {
                var data = {
                    IDList: list,
                    LastUpdateBy: 0
                };
                data = JSON.stringify(data);

                var path = "@Url.Action("BatchDelete")";

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json",
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) { deleteMessage(message); }
                });
            }
        }

        function deleteMessage(message) {
            if (message.IsSuccess) {
                this.location.href = "@Url.Action("Index")";
            }
        }

        function getAccountSubject(value) {
            var path = "@Url.Action("GetAccountSubject")";
            var data = new FormData();
            data.append("Account", value)
            $.ajax({
                url: path,
                type: 'POST',
                dataType: 'json',
                contentType: false,
                processData: false,
                async: true,
                data: data,
                success: function (message) { fillAccountInfo(message); }
            });
        }

        function fillAccountInfo(message) {
            if (message != null && message != "") {
                $("#Account").val(message.Account);
                $("#AccountName").val(message.AccountName);
                $("#IFRSAccount").val(message.IFRSAccount);
            }
        }

        (function ($) {

            $.validator.messages.required = '必填';

            $("#updateForm").validate({
            rules: {
                MasterNo: { required: true },
                    RelatedNo: { required: true },
                    DBCR: { required: true },
                    Account: { required: true },
                    AssetCategoryCode: { required: true }
            }
        });

        })(jQuery);
    </script>
}
