﻿


@model Library.Servant.Servant.AccountingTradeAccount.Models.SubDetailModel

@{
    ViewBag.Title = "分錄會計科目_子目設定";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>分錄會計科目_子目設定</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">分錄會計科目_子目設定</a>
            </li>
        </ol>
    </div>
</div>

<div id="app" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>分錄會計科目子目資料</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" id="updateForm">
                        <input type="hidden" id="ID" value="@Model.ID" />


                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">分錄編號</label>
                                <div class="col-sm-8">
                                    <input type="user" class="form-control" id="exampleInputEmail1" value="@Model.MasterNo" readonly>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">關聯序號</label>
                                <div class="col-sm-8">
                                    <input type="user" class="form-control" id="exampleInputEmail1" value="@Model.RelatedNo">

                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">借貸別</label>
                                <div class="col-sm-8">
                                    <label><input type="radio" name="dbcr" value="D" onclick="querytype(1,0);" @(Model.DBCR == "D" ? "checked" : "") />借</label>
                                    <label><input type="radio" name="dbcr" value="C" onclick="querytype(2,0);" @(Model.DBCR == "C" ? "checked" : "") />貸</label>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">會計科目</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="country" value="@Model.Account" onchange="getAccountSubject(this.value)">
                                </div>
                            </div>


                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">IFRS會計科目</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="country" value="@Model.IFRSAccount" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">會計科目名稱</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="country" value="@Model.AccountName" readonly>
                                </div>
                            </div>


                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">資產類別</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="decimal" value="@Model.AssetCategoryCode">
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <!--onclick="checkForm()"-->
                                    <button type="button" class="btn btn-primary" onclick="window.history.go(-1)"><i class="fa">儲存</i></button>
                                    <button type="button" class="btn btn-default" onclick="window.history.go(-1)"><i class="fa">清除</i></button>
                                    <button type="button" class="btn btn-danger" onclick="window.history.go(-1)"><i class="fa">刪除</i></button>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "儲存成功" } });
@section Scripts{
    <script type="text/javascript">

        function checkForm()
        {
            var path = "@Url.Action("Save")";

            var data = new FormData();
            data.append("ID", $("#ID").val());

            $.ajax({
                url: path,
                type: 'POST',
                dataType: 'json',
                contentType: false,
                processData: false,
                async: true,
                data: data,
                success: function (message) { successHandler(message); }
            });
        }

    </script>
}
