﻿

@using InspiniaWebAdminTemplate.Models.Accounting;
@model AccountingTradeAccountSubIndexModel
@{
    ViewBag.Title = "分錄會計科目_子目設定";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>分錄會計科目_子目設定</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">分錄會計科目_子目設定</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">


                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  @Model.Results.Page.TotalAmount 筆 第 @Model.Results.Conditions.CurrentPage 頁</label>
                                    <a class="btn btn-sm btn-default" id="buttonDelete" onclick="window.history.go(-1)">回上頁</a>
                                    <button class="btn btn-sm btn-danger" onclick="deleteTradeAccount()">刪除</button>
                                    <button class="btn btn-sm btn-info" onclick="showCreate()">新增</button>
                                </td>
                            </tr>
                        </table>

                        <h5>交易分錄編號 : @(String.Format("{0}-{1}",Model.Conditions.MasterNo.Split('.')[0], Model.Conditions.MasterName))</h5>
                        <h5>關聯序號 : @Model.Conditions.RelatedNo</h5>
                        <!-- change to using paging params -->
                        <form action="@Url.Action("SubQuery")" id="queryForm">
                            <input type="hidden" id="MasterNo" name="MasterNo" value="@Model.Conditions.MasterNo.Split('.')[0]" />
                            <input type="hidden" name="MasterName" value="@Model.Conditions.MasterName" />
                            <input type="hidden" id="RelatedNo" name="RelatedNo" value="@Model.Conditions.RelatedNo.Split('.')[0]" />
                            <input type="hidden" name="CurrentPage" value="@Model.Conditions.CurrentPage" />
                            <input type="hidden" name="PageSize" value="@Model.Conditions.PageSize" />
                        </form>

                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th><input type="checkbox" onclick="chceckAll(this.checked)" style="width:13px;" /></th>
                                    <th>借貸別</th>
                                    <th>會計科目</th>
                                    <th>IFRS會計科目</th>
                                    <th>會計科目名稱</th>
                                    <th>資產類別</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int i = 0; i < Model.Results.Page.Items.Count; i++)
                                {
                                    var item = Model.Results.Page.Items[i];
                                    <tr>
                                        <td>@(i+1)</td>
                                        <td><input type="checkbox" value="@item.ID" name="batch" style="width:13px;"/></td>
                                        <td>@(item.DBCR == "D" ? "借" : "貸")</td>
                                        <td>@item.Account</td>
                                        <td>@item.IFRSAccount</td>
                                        <td>@item.AccountName</td>
                                        <td>@item.AssetCategoryCode</td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                        <hr>
                        <form id="createForm" style="display:none;">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="" class="col-sm-4 control-label required">關聯序號</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="RelatedNo" name="RelatedNo" value="@(Model.Conditions.RelatedNo.Split('.')[0])" readonly>

                                    </div>
                                </div>

                                <div class="form-group col-sm-6">
                                    <label for="" class="col-sm-4 control-label required">借貸別</label>
                                    <div class="col-sm-8">
                                        <label><input type="radio" name="DBCR" value="D" checked />借</label>
                                        <label><input type="radio" name="DBCR" value="C" />貸</label>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="" class="col-sm-4 control-label required">會計科目</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="Account" name="Account" value="" onchange="getAccountSubject(this.value)">
                                    </div>
                                </div>


                                <div class="form-group col-sm-6">
                                    <label for="" class="col-sm-4 control-label">IFRS會計科目</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="IFRSAccount" name="IFRSAccount" value="" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="" class="col-sm-4 control-label">會計科目名稱</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="AccountName" name="AccountName" value="" readonly>
                                    </div>
                                </div>


                                <div class="form-group col-sm-6">
                                    <label for="" class="col-sm-4 control-label required">資產類別</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="AssetCategoryCode" name="AssetCategoryCode" value="">
                                    </div>
                                </div>
                            </div>


                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="" class="col-sm-4" align="right">
                                        <button type="button" class="btn btn-success" onclick="saveData()">新增</button>
                                        <button type="button" class="btn btn-danger" onclick="resetCreateForm()">清除</button>
                                        <button type="button" class="btn btn-info" onclick="hideCreate()">取消</button>
                                        
                                    </label>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    <div id="modal-form-delete" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div>
                            <h3 class="m-t-none m-b">是否要刪除此資料?</h3>
                            <p>刪除資料後，資料無法回復，請確認刪除。</p>
                            <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal" onclick="batchDelete()"><strong>是</strong></button>
                            <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><strong>否</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "儲存成功" }, { "CallBack", "checkQueryForm()" } });
@section Scripts {

    @Html.Partial("_VuePageList")

    <script>
        function showCreate()
        {
            $("#createForm").show();
        }

        function hideCreate()
        {
            $("#createForm").hide();
        }
        function chceckAll(currentValue) {
            $("input[name=batch]").each(function () {
                this.checked = currentValue;
            });
        }

        function checkQueryForm()
        {
            $("#queryForm").submit();
        }

        function resetCreateForm() {

            $("#Account").val("");
            $("#IFRSAccount").val("");
            $("#AccountName").val("");
            $("#AssetCategoryCode").val("");

            $("input[name=DBCR][value=D]").prop("checked", true);
        }

        function saveData() {
            if ($("#createForm").valid()) {
                var path = "@Url.Action("SaveSub")";

                var data = new FormData();
                data.append("ID", $("#ID").val());
                data.append("MasterNo", $("#MasterNo").val());
                data.append("Account", $("#Account").val());
                data.append("RelatedNo", $("#RelatedNo").val());
                data.append("DBCR", $("input[name=DBCR]:checked").val());
                data.append("AssetCategoryCode", $("#AssetCategoryCode").val());

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) { successHandler(message); }
                });
            }
        }

        function deleteTradeAccount() {
            var list = [];
            $("input[name=batch]").each(function () {
                if (this.checked) {
                    list.push(this.value);
                }
            });

            if (list.length > 0) {
                $("#modal-form-delete").modal();
            }
        }

        function batchDelete() {
            var list = [];
            $("input[name=batch]").each(function () {
                if (this.checked) {
                    list.push(this.value);
                }
            });

            if (list.length > 0) {
                var data = {
                    IDList: list,
                    LastUpdateBy: 0
                };
                data = JSON.stringify(data);
                console.log(data);

                var path = "@Url.Action("BatchDeleteSub")";

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json",
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) { successHandler(message); }
                });
            }
        }

        function toPage(page)
        {
            $("#CurrentPage").val(page);
            $("#queryForm").submit();
        }

        function getAccountSubject(value) {
            var path = "@Url.Action("GetAccountSubject")";
            var data = new FormData();
            data.append("Account", value)
            $.ajax({
                url: path,
                type: 'POST',
                dataType: 'json',
                contentType: false,
                processData: false,
                async: true,
                data: data,
                success: function (message) { fillAccountInfo(message); }
            });
        }

        function fillAccountInfo(message) {
            if (message != null && message != "") {
                $("#Account").val(message.Account);
                $("#AccountName").val(message.AccountName);
                $("#IFRSAccount").val(message.IFRSAccount);
            }
        }

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.Results.Page.TotalAmount,//資料庫總筆數
                    page_size: @Model.Results.Conditions.PageSize,//單頁筆數
                    page_now: @Model.Results.Conditions.CurrentPage,//當前頁
                    center_page: 1,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "",
                    pageFunc: toPage
                }
            });


            $.validator.messages.required = '必填';
            $("#createForm").validate({
                rules: {

                    DBCR: { required: true },
                    Account: { required: true },
                    AssetCategoryCode: { required: true }
                }
            });
        })(jQuery);

    </script>

}




