﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>報表產製</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">租賃管理</a>
            </li>
            <li>
                <a href="#">報表產製</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>條件設定</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" action="" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">報表類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value=""> 請選擇類型 </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">是否彙總</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="radio" name="radiogroup1">
                                    <span>是</span>
                                    <input type="radio" name="radiogroup1" checked>
                                    <span>否</span>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">報表篩選期間</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">信用卡報表</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="radio" name="radiogroup2">
                                    <span>是</span>
                                    <input type="radio" name="radiogroup2" checked>
                                    <span>否</span>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">幣別</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">請選擇類型</option>
                                        <option value="">美金 USD</option>
                                        <option value="">港幣 HKD</option>
                                        <option value="">新加坡幣 SGD</option>
                                        <option value="">人民幣 CNY</option>
                                        <option value="">新台幣 NTD</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">折算匯率日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix ibox-c-subtitle"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">租賃權益新增單</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">全部</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳本</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">NTD_MP_IFRS</option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據處理時間</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據核准日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">單據狀態</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" disabled>
                                    <span style="color:#ccc">全選</span>
                                    <input type="checkbox">
                                    <span>新增</span>
                                    <input type="checkbox">
                                    <span>簽核中</span>
                                    <input type="checkbox">
                                    <span>已核淮</span>
                                    <input type="checkbox">
                                    <span>退回修改</span>
                                    <input type="checkbox">
                                    <span>抽回修改</span>
                                    <input type="checkbox">
                                    <span>作廢</span>
                                </div>
                            </div>

                            <div class="clearfix ibox-c-subtitle"></div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-1 control-label" style="width:12.3%">放置地點</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">請選擇資產科目</option>
                                        <option value="" selected>9 資產改良</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">請選擇資產子目</option>
                                        <option value="" selected>000001 租賃權益改良物</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">請選擇使用類別</option>
                                        <option value="">A 投資-非自用</option>
                                        <option value="" selected>B 固定-自用</option>
                                        <option value="">C 投資-開發</option>
                                        <option value="">D 固定-開發</option>
                                    </select>
                                </div>
                                <div class="col-sm-１ text-lineH-fix">～</div>
                                <br>
                                <div class="col-sm-1" style="width:12.3%"></div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">請選擇資產科目</option>
                                        <option value="" selected>9 資產改良</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">請選擇資產子目</option>
                                        <option value="" selected>000001 租賃權益改良物</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">請選擇使用類別</option>
                                        <option value="">A 投資-非自用</option>
                                        <option value="" selected>B 固定-自用</option>
                                        <option value="">C 投資-開發</option>
                                        <option value="">D 固定-開發</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產編號</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">財物編號</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">啟用日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">
                                    資產年限<br>
                                    結束日期
                                </label>
                                <div class="col-sm-1" style="width:10px; padding:15; line-height:2.5em">≦</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產目前成本</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" />
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-1 control-label" style="width:12.3%">放置地點</label>
                                <div class="col-sm-5 gutter-s">
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">001 總行</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">08 產權部</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">001 XX科</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-5 gutter-s">
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">001 總行</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">08 產權部</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">001 XX科</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-1 control-label" style="width:12.3%">保管單位</label>
                                <div class="col-sm-5 gutter-s">
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">001 總行</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">08 產權部</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">001 XX科</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-5 gutter-s">
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">001 總行</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">08 產權部</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" id="">
                                            <option value="">001 XX科</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="col-sm-3 control-label">保管人</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">023001 陳小明 </option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">處分原因</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" disabled>
                                    <span style="color:#ccc">全選</span>
                                    <input type="checkbox">
                                    <span>出售</span>
                                    <input type="checkbox">
                                    <span>報廢</span>
                                    <input type="checkbox">
                                    <span>毀損</span>
                                    <input type="checkbox">
                                    <span>除列</span>
                                    <input type="checkbox">
                                    <span>災害損失</span>
                                    <input type="checkbox">
                                    <span>沖銷</span>
                                </div>
                            </div>

                            <div class="clearfix ibox-c-subtitle"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約類別</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" name="RadioGroup1" value="" disabled>
                                    <span style="color:#ccc">全選</span>
                                    <input type="checkbox" name="RadioGroup1" value="" checked>
                                    <span>承租</span>
                                    <input type="checkbox" name="RadioGroup1" value="">
                                    <span>出租</span>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約事務</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" name="RadioGroup1" value="" disabled>
                                    <span style="color:#ccc">全選</span>
                                    <input type="checkbox" name="RadioGroup1" value="">
                                    <span>新租</span>
                                    <input type="checkbox" name="RadioGroup1" value="">
                                    <span>續租</span>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約類型</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" name="RadioGroup1" value="" disabled>
                                    <span style="color:#ccc">全選</span>
                                    <input type="checkbox" name="RadioGroup1" value="">
                                    <span>租金</span>
                                    <input type="checkbox" name="RadioGroup1" value="">
                                    <span>基地補償金</span>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">業務別</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" name="RadioGroup1" value="" disabled>
                                    <span style="color:#ccc">全選</span>
                                    <input type="checkbox" name="RadioGroup1" value="">
                                    <span>自用</span>
                                    <input type="checkbox" name="RadioGroup1" value="">
                                    <span>非自用</span>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約編號</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">原租約編號</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" value="" />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約狀態</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" name="RadioGroup1" value="" disabled>
                                    <span style="color:#ccc">全選</span>
                                    <input type="checkbox" name="RadioGroup1" value="">
                                    <span>有效</span>
                                    <input type="checkbox" name="RadioGroup1" value="">
                                    <span>終止</span>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租賃期間</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">核准日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">原租約編號</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="text" class="form-control" value="" style="width:40%" />
                                    <span class="text-lineH-fix" style="width:5%;margin:0 10px">～</span>
                                    <input type="text" class="form-control" value="" style="width:40%" />
                                    <span class="text-lineH-fix" style="width:5%"> %</span>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">05 資訊部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳號(關鍵字)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="" />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註(關鍵字)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="" />
                                </div>
                            </div>

                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                    <button class="btn btn-primary"><i class="fa fa-long-arrow-right"> 產 製 </i></button>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>