﻿

<div id="example"></div>

@section Scripts {

    @Html.Partial("_VueCascadeSelectTemplate")

    <script>

        var doc_select_region =new $.CascadeSelectTemplate({

            el: '#example',
            data: {

                title: "表單類別",
                cascade_title: "表單編號",

                main_model_name: "",
                cascade_model_name: "",

                startup_main_id: 2825,
                startup_cascade_id: 1271,

                main_option_list: [{"Value":2825,"Text":"動產"},{"Value":2826,"Text":"不動產"},{"Value":2827,"Text":"土地"},{"Value":2828,"Text":"房屋"}],
                cascade_option_list_map : {"2825":[{"Value":1271,"Text":"[動產] 動產新增單"},{"Value":1272,"Text":"[動產] 動產更新單"},{"Value":1273,"Text":"[動產] 動產移轉單"},{"Value":1274,"Text":"[動產] 動產處分單"},{"Value":1275,"Text":"[動產] 動產折舊單"}],"2826":[{"Value":1270,"Text":"[不動產] 測試單"}],"2827":[{"Value":1276,"Text":"[土地] 土地新增單"},{"Value":1277,"Text":"[土地] 土地價值變動單"}],"2828":[{"Value":1278,"Text":"[房屋] 房屋價值變動單"},{"Value":1279,"Text":"[房屋] 房屋處分單"},{"Value":1280,"Text":"[房屋] 房屋折舊單"}]},
            },
        });

    </script>

}
