﻿@using InspiniaWebAdminTemplate.Models.Example
@model ExampleViewModel

@{ 
    ViewBag.Title = "Example";
}

<div>@Html.Raw(Json.Encode(Model.RentDateTime)),</div>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>新增出租契約</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Rent")">首頁</a>
            </li>
            <li>
                <a>出租契約維護</a>
            </li>
            <li class="active">
                <strong>新增出租契約</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-5">
    </div>
</div>


<div class="row">
    <div class="col-lg-12">

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>出租契約</h5>
            </div>
            <div class="ibox-content">
                <div id="rent-base"></div>
            </div>
        </div>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>金額</h5>
            </div>
            <div class="ibox-content">
                <div id="rent-datetime"></div>
            </div>
        </div>

        <div class="ibox float-r-margins">
            <div class="ibox-title">
                <h5>承租人/出租人</h5>
            </div>
            <div class="ibox-content">
                <div id="renter"></div>
            </div>
        </div>

        <div class="ibox float-r-margins">
            <div class="ibox-title">
                <h5>租約檔案</h5>
            </div>
            <div class="ibox-content">
                <div id="rent-file"></div>
            </div>
        </div>

    </div>
</div>



@section Scripts {

        @Html.Partial("Example/_VueRentBase")
        @Html.Partial("Example/_VueRentFile")
        @Html.Partial("Example/_VueRenter")
        @Html.Partial("Example/_VueRentDateTime")

        <script>

            (function ($) {

                var rent_base = new $.RentBaseTemplate({

                    el: '#rent-base',
                    data: @Html.Raw(Json.Encode(Model.RentBase)),
                });

                var rent_datetime = new $.RentDateTimeTemplate({

                    el: '#rent-datetime',
                    data: {

                            table: [
                            {
                                start: '2016/03/24',
                                end: '2016/05/01'
                            },
                            {
                                start: "2016/04/21",
                                end: "2016/06/03"
                            },
                        ]
                    }
                });

                var renter = new $.RenterTemplate({

                    el: '#renter',
                    data: {

                       table: []
                    }
                });

                var rent_file = new $.RentFileTemplate({
                    el: '#rent-file',
                    data: {
                        model: {
                            table4: [],
                            table5: [],
                            table6: [],
                            table7: [],
                            table8: [],
                            table9: [
                                {
                                    col1: 'aaa1',
                                    col2: 'bbb1'
                                },
                                {
                                    col1: "aaa2",
                                    col2: "bbb2"
                                },
                            ],
                            table10: [
                                {
                                    col1: 'aaa1',
                                    col2: 'bbb1',
                                    col3: 'ccc1',
                                },
                                {
                                    col1: "aaa2",
                                    col2: "bbb2",
                                    col3: 'ccc2',
                                },
                            ],
                        }
                    },
                    methods: {

                        addNewItem2Table4: function () {
                            this.model.table4.push({
                                col1: "",
                                col2: "",
                            })
                        },
                        addNewItem2Table5: function () {
                            this.model.table5.push({
                                col1: "",
                                col2: "",
                            })
                        },
                        addNewItem2Table6: function () {
                            this.model.table6.push({
                                col1: "",
                                col2: "",
                            })
                        },
                        addNewItem2Table7: function () {
                            this.model.table7.push({
                                col1: "",
                                col2: "",
                            })
                        },
                        addNewItem2Table8: function () {
                            this.model.table8.push({
                                col1: "",
                                col2: "",
                            })
                        },
                        addNewItem2Table9: function () {
                            this.model.table9.push({
                                col1: "ccc",
                                col2: "ddd",
                            })
                        },
                        addNewItem2Table10: function () {
                            this.model.table10.push({
                                col1: "",
                                col2: "new",
                                col3: "new",
                            })
                        },
                    }
                })

            })(jQuery);

        </script>
    }
