﻿

<div id="root">

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>@ViewBag.Title</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" action="#" class="form-horizontal">
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">公告編號</label>
                                    <div class="col-sm-8">
                                        2017080100001
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">主題類別</label>
                                    <div class="col-sm-8">
                                        最新資訊
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label required">公布單位</label>
                                    <div class="col-sm-8">
                                        風險管理部
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label for="" class="col-sm-2 control-label required">主旨</label>
                                    <div class="col-sm-10">
                                        人員權限新增單
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label for="" class="col-sm-2 control-label required">詳細說明</label>
                                    <div class="col-sm-10">
                                        人員權限新增單
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                        <label for="" class="col-sm-2 control-label required">相關連結</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        <ol id="links">
                                                <li>
                                                     <a href="http://google.com.tw">http://google.com.tw</a>
                                                </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">公告日期</label>
                                    <div class="input-group col-sm-8">
                                        <div class="input-group">
                                            2017/08/04
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">截止日期</label>
                                    <div class="input-group col-sm-8">
                                        <div class="input-group">
                                            2017/08/12
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label required">負責人</label>
                                    <div class="input-group col-sm-8">
                                        王測試
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
