﻿<div class="container-fluid">


    <div class="row">
        <h1>a</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa-adjust "><i class="fa fa-adjust fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-adn"><i class="fa fa-adn fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-align-center"><i class="fa fa-align-center fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-align-justify"><i class="fa fa-align-justify fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-align-left"><i class="fa fa-align-left fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-align-right"><i class="fa fa-align-right fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-ambulance"><i class="fa fa-ambulance fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-anchor"><i class="fa fa-anchor fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-android"><i class="fa fa-android fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-angellist"><i class="fa fa-angellist fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-angle-double-down"><i class="fa fa-angle-double-down fa-2x"> </i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-angle-double-left"><i class="fa fa-angle-double-left fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-angle-double-right"><i class="fa fa-angle-double-right fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-angle-double-up"><i class="fa fa-angle-double-up fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-angle-down"><i class="fa fa-angle-down fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-angle-left"><i class="fa fa-angle-left fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-angle-right"><i class="fa fa-angle-right fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-angle-up"><i class="fa fa-angle-up fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-apple"><i class="fa fa-apple fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-archive"><i class="fa fa-archive fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-area-chart"><i class="fa fa-area-chart fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-arrow-circle-down"><i class="fa fa-arrow-circle-down fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-arrow-circle-left"><i class="fa fa-arrow-circle-left fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-arrow-circle-o-down"><i class="fa fa-arrow-circle-o-down fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-arrow-circle-o-left"><i class="fa fa-arrow-circle-o-left fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-arrow-circle-o-right"><i class="fa fa-arrow-circle-o-right fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-arrow-circle-o-up"><i class="fa fa-arrow-circle-o-up fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-arrow-circle-right"><i class="fa fa-arrow-circle-right fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-arrow-circle-up"><i class="fa fa-arrow-circle-up fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-arrows"><i class="fa fa-arrows fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-arrows-alt"><i class="fa fa-arrows-alt fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-arrows-h"><i class="fa fa-arrows-h fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-arrows-v"><i class="fa fa-arrows-v fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-asterisk"><i class="fa fa-asterisk fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-at"><i class="fa fa-at fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-automobile"><i class="fa fa-automobile fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>b</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-backward"><i class="fa fa-backward fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-ban"><i class="fa fa-ban fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-bank"><i class="fa fa-bank fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-bar-chart"><i class="fa fa-bar-chart fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-bar-chart-o"><i class="fa fa-bar-chart-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-barcode"><i class="fa fa-barcode fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-bars"><i class="fa fa-bars fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-bed"><i class="fa fa-bed fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-beer"><i class="fa fa-beer fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-behance"><i class="fa fa-behance fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-behance"><i class="fa fa-behance fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-behance-square"><i class="fa fa-behance-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-bell"><i class="fa fa-bell fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-bell-o"><i class="fa fa-bell-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-bell-slash"><i class="fa fa-bell-slash fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-bell-slash-o"><i class="fa fa-bell-slash-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-bicycle"><i class="fa fa-bicycle fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-binoculars"><i class="fa fa-binoculars fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-birthday-cake"><i class="fa fa-birthday-cake fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-bitbucket"><i class="fa fa-bitbucket fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-bitbucket-square"><i class="fa fa-bitbucket-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-bitcoin"><i class="fa fa-bitcoin fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-bold"><i class="fa fa-bold fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-bolt"><i class="fa fa-bolt fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-bomb"><i class="fa fa-bomb fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-book"><i class="fa fa-book fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-bookmark"><i class="fa fa-bookmark fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-bookmark-o"><i class="fa fa-bookmark-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-border"><i class="fa fa-border fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-building-o"><i class="fa fa-building-o fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>c</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-cab"><i class="fa fa-cab fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-calculator"><i class="fa fa-calculator fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-calendar"><i class="fa fa-calendar fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-calendar-o"><i class="fa fa-calendar-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-camera"><i class="fa fa-camera fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-camera-retro"><i class="fa fa-camera-retro fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-car"><i class="fa fa-car fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-caret-down"><i class="fa fa-caret-down fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-caret-left"><i class="fa fa-caret-left fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-caret-right"><i class="fa fa-caret-right fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-caret-square-o-down"><i class="fa fa-caret-square-o-down fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-caret-square-o-left"><i class="fa fa-caret-square-o-left fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-caret-square-o-right"><i class="fa fa-caret-square-o-right fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-caret-square-o-up"><i class="fa fa-caret-square-o-up fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-caret-up"><i class="fa fa-caret-up fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-cart-arrow-down"><i class="fa fa-cart-arrow-down fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-cart-plus"><i class="fa fa-cart-plus fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-cc"><i class="fa fa-cc fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-cc-amex"><i class="fa fa-cc-amex fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-cc-discover"><i class="fa fa-cc-discover fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-cc-mastercard"><i class="fa fa-cc-mastercard fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-cc-paypal"><i class="fa fa-cc-paypal fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-cc-stripe"><i class="fa fa-cc-stripe fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-cc-visa"><i class="fa fa-cc-visa fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-certificate"><i class="fa fa-certificate fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-chain"><i class="fa fa-chain fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-chain-broken"><i class="fa fa-chain-broken fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-check"><i class="fa fa-check fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-check-circle"><i class="fa fa-check-circle fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa-check-circle-o"><i class="fa fa-check-circle-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-check-square"><i class="fa fa-check-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-check-square-o"><i class="fa fa-check-square-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-chevron-circle-down"><i class="fa fa-chevron-circle-down fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-chevron-circle-left"><i class="fa fa-chevron-circle-left fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-chevron-circle-right"><i class="fa fa-chevron-circle-right fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-chevron-circle-up"><i class="fa fa-chevron-circle-up fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-child"><i class="fa fa-child fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-child"><i class="fa fa-child fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-circle"><i class="fa fa-circle fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-circle-o"><i class="fa fa-circle-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-circle-o-notch"><i class="fa fa-circle-o-notch fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-circle-thin"><i class="fa fa-circle-thin fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>d</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-dashboard"><i class="fa fa-dashboard fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-dashcube"><i class="fa fa-dashcube fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-database"><i class="fa fa-database fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-dedent"><i class="fa fa-dedent fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-delicious"><i class="fa fa-delicious fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-desktop"><i class="fa fa-desktop fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-deviantart"><i class="fa fa-deviantart fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-diamond"><i class="fa fa-diamond fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-digg"><i class="fa fa-digg fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-dollar"><i class="fa fa-dollar fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-dot-circle-o"><i class="fa fa-dot-circle-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-dot-circle-o"><i class="fa fa-dot-circle-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-download"><i class="fa fa-download fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-dribbble"><i class="fa fa-dribbble fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-dropbox"><i class="fa fa-dropbox fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-drupal"><i class="fa fa-drupal fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>e</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-edit"><i class="fa fa-edit fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-eject"><i class="fa fa-eject fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-ellipsis-h"><i class="fa fa-ellipsis-h fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-ellipsis-v"><i class="fa fa-ellipsis-v fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-empire"><i class="fa fa-empire fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-empire"><i class="fa fa-empire fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-envelope"><i class="fa fa-envelope fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-envelope-o"><i class="fa fa-envelope-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-envelope-square"><i class="fa fa-envelope-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-eraser"><i class="fa fa-eraser fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-eur"><i class="fa fa-eur fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-euro"><i class="fa fa-euro fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-exchange"><i class="fa fa-exchange fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-exclamation"><i class="fa fa-exclamation fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-exclamation-circle"><i class="fa fa-exclamation-circle fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-exclamation-triangle"><i class="fa fa-exclamation-triangle fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-expand"><i class="fa fa-expand fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-external-link"><i class="fa fa-external-link fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-external-link-square"><i class="fa fa-external-link-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-eye"><i class="fa fa-eye fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-eye-slash"><i class="fa fa-eye-slash fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-eyedropper"><i class="fa fa-eyedropper fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>f</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-facebook"><i class="fa fa-facebook fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-facebook-f"><i class="fa fa-facebook-f fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-facebook-official"><i class="fa fa-facebook-official fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-facebook-square"><i class="fa fa-facebook-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-fast-backward"><i class="fa fa-fast-backward fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-fast-forward"><i class="fa fa-fast-forward fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-fax"><i class="fa fa-fax fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-female"><i class="fa fa-female fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-fighter-jet"><i class="fa fa-fighter-jet fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-file"><i class="fa fa-file fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-file-archive-o"><i class="fa fa-file-archive-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-file-audio-o"><i class="fa fa-file-audio-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-file-code-o"><i class="fa fa-file-code-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-file-excel-o"><i class="fa fa-file-excel-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-file-image-o"><i class="fa fa-file-image-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-file-movie-o"><i class="fa fa-file-movie-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-file-o"><i class="fa fa-file-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-file-pdf-o"><i class="fa fa-file-pdf-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-file-photo-o"><i class="fa fa-file-photo-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-file-picture-o"><i class="fa fa-file-picture-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-file-powerpoint-o"><i class="fa fa-file-powerpoint-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-file-sound-o"><i class="fa fa-file-sound-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-file-text"><i class="fa fa-file-text fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-file-text-o"><i class="fa fa-file-text-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-file-video-o"><i class="fa fa-file-video-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-file-word-o"><i class="fa fa-file-word-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-file-zip-o"><i class="fa fa-file-zip-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-files-o"><i class="fa fa-files-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-film"><i class="fa fa-film fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-filter"><i class="fa fa-filter fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-fire"><i class="fa fa-fire fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-fire-extinguisher"><i class="fa fa-fire-extinguisher fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-flag"><i class="fa fa-flag fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-flag-checkered"><i class="fa fa-flag-checkered fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-flag-o"><i class="fa fa-flag-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-flash"><i class="fa fa-flash fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-flask"><i class="fa fa-flask fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-flickr"><i class="fa fa-flickr fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-flip-horizontal"><i class="fa fa-flip-horizontal fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-flip-vertical"><i class="fa fa-flip-vertical fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-floppy-o"><i class="fa fa-floppy-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-folder"><i class="fa fa-folder fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-folder-o"><i class="fa fa-folder-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-folder-open"><i class="fa fa-folder-open fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-folder-open-o"><i class="fa fa-folder-open-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-font"><i class="fa fa-font fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-forumbee"><i class="fa fa-forumbee fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-forward"><i class="fa fa-forward fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-foursquare"><i class="fa fa-foursquare fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-frown-o"><i class="fa fa-frown-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-futbol-o"><i class="fa fa-futbol-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-fw"><i class="fa fa-fw fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>g</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-gamepad"><i class="fa fa-gamepad fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-gavel"><i class="fa fa-gavel fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-gbp"><i class="fa fa-gbp fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-ge"><i class="fa fa-ge fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-gear"><i class="fa fa-gear fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-gears"><i class="fa fa-gears fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-genderless"><i class="fa fa-genderless fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-gift"><i class="fa fa-gift fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-git"><i class="fa fa-git fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-git-square"><i class="fa fa-git-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-github"><i class="fa fa-github fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-github-alt"><i class="fa fa-github-alt fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-github-square"><i class="fa fa-github-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-gittip"><i class="fa fa-gittip fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-glass"><i class="fa fa-glass fa-2x"></i></button></div>

        <div class="col-md-1"><button type="button" class="btn" title="fa fa-globe"><i class="fa fa-globe fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-google"><i class="fa fa-google fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-google-plus"><i class="fa fa-google-plus fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-google-plus-square"><i class="fa fa-google-plus-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-google-wallet"><i class="fa fa-google-wallet fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-graduation-cap"><i class="fa fa-graduation-cap fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-gratipay"><i class="fa fa-gratipay fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-group"><i class="fa fa-group fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>h</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-h-square"><i class="fa fa-h-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-hacker-news"><i class="fa fa-hacker-news fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-hand-o-down"><i class="fa fa-hand-o-down fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-hand-o-left"><i class="fa fa-hand-o-left fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-hand-o-right"><i class="fa fa-hand-o-right fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-hand-o-up"><i class="fa fa-hand-o-up fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-hdd-o"><i class="fa fa-hdd-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-header"><i class="fa fa-header fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-hdd-o"><i class="fa fa-hdd-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-header"><i class="fa fa-header fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-headphones"><i class="fa fa-headphones fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-heart"><i class="fa fa-heart fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-heart-o"><i class="fa fa-heart-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-heartbeat"><i class="fa fa-heartbeat fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-history"><i class="fa fa-history fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-home"><i class="fa fa-home fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-hospital-o"><i class="fa fa-hospital-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-hotel"><i class="fa fa-hotel fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-html5"><i class="fa fa-html5 fa-2x"></i></button></div>

    </div>

    <div class="row">
        <h1>i</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-ils"><i class="fa fa-ils fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-image"><i class="fa fa-image fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-inbox"><i class="fa fa-inbox fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-indent"><i class="fa fa-indent fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-info"><i class="fa fa-info fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-info-circle"><i class="fa fa-info-circle fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-inr"><i class="fa fa-inr fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-instagram"><i class="fa fa-instagram fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-institution"><i class="fa fa-institution fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-inverse"><i class="fa fa-inverse fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-ioxhost"><i class="fa fa-ioxhost fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-italic"><i class="fa fa-italic fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>j</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-joomla"><i class="fa fa-joomla fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-jpy"><i class="fa fa-jpy fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-jsfiddle"><i class="fa fa-jsfiddle fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>k</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-key"><i class="fa fa-key fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-keyboard-o"><i class="fa fa-keyboard-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-krw"><i class="fa fa-krw fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>l</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-language"><i class="fa fa-language fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-laptop"><i class="fa fa-laptop fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-lastfm"><i class="fa fa-lastfm fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-lastfm-square"><i class="fa fa-lastfm-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-leaf"><i class="fa fa-leaf fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-leanpub"><i class="fa fa-leanpub fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-legal"><i class="fa fa-legal fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-lemon-o"><i class="fa fa-lemon-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-level-down"><i class="fa fa-level-down fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-level-up"><i class="fa fa-level-up fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-lg"><i class="fa fa-lg fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-li"><i class="fa fa-li fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-life-bouy"><i class="fa fa-life-bouy fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-life-buoy"><i class="fa fa-life-buoy fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-life-ring"><i class="fa fa-life-ring fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-life-saver"><i class="fa fa-life-saver fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-lightbulb-o"><i class="fa fa-lightbulb-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-line-chart"><i class="fa fa-line-chart fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-link"><i class="fa fa-link fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-linkedin"><i class="fa fa-linkedin fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-linkedin-square"><i class="fa fa-linkedin-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-linux"><i class="fa fa-linux fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-list"><i class="fa fa-list fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-list-alt"><i class="fa fa-list-alt fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-list-ol"><i class="fa fa-list-ol fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-list-ul"><i class="fa fa-list-ul fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>m</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-magic"><i class="fa fa-magic fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-magnet"><i class="fa fa-magnet fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-mail-forward"><i class="fa fa-mail-forward fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-mail-reply"><i class="fa fa-mail-reply fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-mail-reply-all"><i class="fa fa-mail-reply-all fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-male"><i class="fa fa-male fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-map-marker"><i class="fa fa-map-marker fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-mars"><i class="fa fa-mars fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-mars-double"><i class="fa fa-mars-double fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-mars-stroke"><i class="fa fa-mars-stroke fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-mars-stroke-h"><i class="fa fa-mars-stroke-h fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-mars-stroke-v"><i class="fa fa-mars-stroke-v fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-maxcdn"><i class="fa fa-maxcdn fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-meanpath"><i class="fa fa-meanpath fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-medium"><i class="fa fa-medium fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-medkit"><i class="fa fa-medkit fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-meh-o"><i class="fa fa-meh-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-mercury"><i class="fa fa-mercury fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-microphone"><i class="fa fa-microphone fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-microphone-slash"><i class="fa fa-microphone-slash fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-minus"><i class="fa fa-minus fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-minus-circle"><i class="fa fa-minus-circle fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-minus-square"><i class="fa fa-minus-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-minus-square-o"><i class="fa fa-minus-square-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-mobile"><i class="fa fa-mobile fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-mobile-phone"><i class="fa fa-mobile-phone fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-money"><i class="fa fa-money fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-moon-o"><i class="fa fa-moon-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-mortar-board"><i class="fa fa-mortar-board fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-motorcycle"><i class="fa fa-motorcycle fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-music"><i class="fa fa-music fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>n</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-navicon"><i class="fa fa-navicon fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-neuter"><i class="fa fa-neuter fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-newspaper-o"><i class="fa fa-newspaper-o fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>o</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-openid"><i class="fa fa-openid fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-outdent"><i class="fa fa-outdent fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>p</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-pagelines"><i class="fa fa-pagelines fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-paint-brush"><i class="fa fa-paint-brush fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-paper-plane"><i class="fa fa-paper-plane fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-paper-plane-o"><i class="fa fa-paper-plane-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-paperclip"><i class="fa fa-paperclip fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-paragraph"><i class="fa fa-paragraph fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-paste"><i class="fa fa-paste fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-pause"><i class="fa fa-pause fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-paw"><i class="fa fa-paw fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-paypal"><i class="fa fa-paypal fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-pencil"><i class="fa fa-pencil fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-pencil-square"><i class="fa fa-pencil-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-pencil-square-o"><i class="fa fa-pencil-square-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-phone"><i class="fa fa-phone fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-phone-square"><i class="fa fa-phone-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-photo"><i class="fa fa-photo fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-picture-o"><i class="fa fa-picture-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-pie-chart"><i class="fa fa-pie-chart fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-pied-piper"><i class="fa fa-pied-piper fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-pied-piper-alt"><i class="fa fa-pied-piper-alt fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-pinterest"><i class="fa fa-pinterest fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-pied-piper-alt"><i class="fa fa-pied-piper-alt fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-pinterest"><i class="fa fa-pinterest fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-pinterest-p"><i class="fa fa-pinterest-p fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-pinterest-square"><i class="fa fa-pinterest-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-plane"><i class="fa fa-plane fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-play"><i class="fa fa-play fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-play-circle"><i class="fa fa-play-circle fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-play-circle-o"><i class="fa fa-play-circle-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-plug"><i class="fa fa-plug fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-plus"><i class="fa fa-plus fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-plus-circle"><i class="fa fa-plus-circle fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-plus-square"><i class="fa fa-plus-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-plus-square-o"><i class="fa fa-plus-square-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-power-off"><i class="fa fa-power-off fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-print"><i class="fa fa-print fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-pulse"><i class="fa fa-pulse fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-puzzle-piece"><i class="fa fa-puzzle-piece fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>q</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-qq"><i class="fa fa-qq fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-qrcode"><i class="fa fa-qrcode fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-question"><i class="fa fa-question fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-question-circle"><i class="fa fa-question-circle fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-quote-left"><i class="fa fa-quote-left fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-quote-right"><i class="fa fa-quote-right fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-q"><i class="fa fa-q fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>r</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-ra"><i class="fa fa-ra fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-random"><i class="fa fa-random fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-rebel"><i class="fa fa-rebel fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-recycle"><i class="fa fa-recycle fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-reddit"><i class="fa fa-reddit fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-reddit-square"><i class="fa fa-reddit-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-refresh"><i class="fa fa-refresh fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-remove"><i class="fa fa-remove fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-renren"><i class="fa fa-renren fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-reorder"><i class="fa fa-reorder fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-repeat"><i class="fa fa-repeat fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-reply"><i class="fa fa-reply fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-reply-all"><i class="fa fa-reply-all fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-retweet"><i class="fa fa-retweet fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-rmb"><i class="fa fa-rmb fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-road"><i class="fa fa-road fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-rocket"><i class="fa fa-rocket fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-rotate-180"><i class="fa fa-rotate-180 fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-rotate-270"><i class="fa fa-rotate-270 fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-rotate-90"><i class="fa fa-rotate-90 fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-rotate-left"><i class="fa fa-rotate-left fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-rotate-right"><i class="fa fa-rotate-right fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-rouble"><i class="fa fa-rouble fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-rss"><i class="fa fa-rss fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-rss-square"><i class="fa fa-rss-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-rub"><i class="fa fa-rub fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-ruble"><i class="fa fa-ruble fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-rupee"><i class="fa fa-rupee fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>s</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-save"><i class="fa fa-save fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-scissors"><i class="fa fa-scissors fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-search"><i class="fa fa-search fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-search-minus"><i class="fa fa-search-minus fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-search-plus"><i class="fa fa-search-plus fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-sellsy"><i class="fa fa-sellsy fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-send"><i class="fa fa-send fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-send-o"><i class="fa fa-send-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-server"><i class="fa fa-server fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-share"><i class="fa fa-share fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-share-alt"><i class="fa fa-share-alt fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-share-alt-square"><i class="fa fa-share-alt-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-share-alt-square"><i class="fa fa-share-alt-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-share-square-o"><i class="fa fa-share-square-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-shekel"><i class="fa fa-shekel fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-sheqel"><i class="fa fa-sheqel fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-shield"><i class="fa fa-shield fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-ship"><i class="fa fa-ship fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-shirtsinbulk"><i class="fa fa-shirtsinbulk fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-shopping-cart"><i class="fa fa-shopping-cart fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-sign-in"><i class="fa fa-sign-in fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-sign-out"><i class="fa fa-sign-out fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-signal"><i class="fa fa-signal fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-simplybuilt"><i class="fa fa-simplybuilt fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-sitemap"><i class="fa fa-sitemap fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-skyatlas"><i class="fa fa-skyatlas fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-skype"><i class="fa fa-skype fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-slack"><i class="fa fa-slack fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-sliders"><i class="fa fa-sliders fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-slideshare"><i class="fa fa-slideshare fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-smile-o"><i class="fa fa-smile-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-soccer-ball-o"><i class="fa fa-soccer-ball-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-sort"><i class="fa fa-sort fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-sort-alpha-asc"><i class="fa fa-sort-alpha-asc fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-sort-alpha-desc"><i class="fa fa-sort-alpha-desc fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-sort-amount-asc"><i class="fa fa-sort-amount-asc fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-sort-amount-desc"><i class="fa fa-sort-amount-desc fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-sort-asc"><i class="fa fa-sort-asc fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-sort-desc"><i class="fa fa-sort-desc fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-sort-down"><i class="fa fa-sort-down fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-sort-numeric-asc"><i class="fa fa-sort-numeric-asc fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-sort-numeric-desc"><i class="fa fa-sort-numeric-desc fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-sort-up"><i class="fa fa-sort-up fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-soundcloud"><i class="fa fa-soundcloud fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-space-shuttle"><i class="fa fa-space-shuttle fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-spin"><i class="fa fa-spin fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-spinner"><i class="fa fa-spinner fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-spoon"><i class="fa fa-spoon fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-spotify"><i class="fa fa-spotify fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-square"><i class="fa fa-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-square-o"><i class="fa fa-square-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-stack"><i class="fa fa-stack fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-stack-1x"><i class="fa fa-stack-1x fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-stack-2x"><i class="fa fa-stack-2x fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-stack-exchange"><i class="fa fa-stack-exchange fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-stack-overflow"><i class="fa fa-stack-overflow fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-star"><i class="fa fa-star fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-star-half"><i class="fa fa-star-half fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-star-half-empty"><i class="fa fa-star-half-empty fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-star-half-full"><i class="fa fa-star-half-full fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-star-half-o"><i class="fa fa-star-half-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-star-o"><i class="fa fa-star-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-steam"><i class="fa fa-steam fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-steam-square"><i class="fa fa-steam-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-step-backward"><i class="fa fa-step-backward fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-step-forward"><i class="fa fa-step-forward fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-stethoscope"><i class="fa fa-stethoscope fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-stop"><i class="fa fa-stop fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-street-view"><i class="fa fa-street-view fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-strikethrough"><i class="fa fa-strikethrough fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-stumbleupon"><i class="fa fa-stumbleupon fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-stumbleupon-circle"><i class="fa fa-stumbleupon-circle fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-subscript"><i class="fa fa-subscript fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-subway"><i class="fa fa-subway fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-suitcase"><i class="fa fa-suitcase fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-sun-o"><i class="fa fa-sun-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-superscript"><i class="fa fa-superscript fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-support"><i class="fa fa-support fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>t</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-table"><i class="fa fa-table fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-tablet"><i class="fa fa-tablet fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-tachometer"><i class="fa fa-tachometer fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-tag"><i class="fa fa-tag fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-tags"><i class="fa fa-tags fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-tasks"><i class="fa fa-tasks fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-taxi"><i class="fa fa-taxi fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-tencent-weibo"><i class="fa fa-tencent-weibo fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-terminal"><i class="fa fa-terminal fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-text-height"><i class="fa fa-text-height fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-text-width"><i class="fa fa-text-width fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-th"><i class="fa fa-th fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-th-large"><i class="fa fa-th-large fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-th-list"><i class="fa fa-th-list fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-thumb-tack"><i class="fa fa-thumb-tack fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-thumbs-down"><i class="fa fa-thumbs-down fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-thumbs-o-down"><i class="fa fa-thumbs-o-down fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-thumbs-o-up"><i class="fa fa-thumbs-o-up fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-thumbs-up"><i class="fa fa-thumbs-up fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-ticket"><i class="fa fa-ticket fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-times"><i class="fa fa-times fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-times-circle"><i class="fa fa-times-circle fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-times-circle-o"><i class="fa fa-times-circle-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-tint"><i class="fa fa-tint fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-toggle-down"><i class="fa fa-toggle-down fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-toggle-left"><i class="fa fa-toggle-left fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-toggle-off"><i class="fa fa-toggle-off fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-toggle-on"><i class="fa fa-toggle-on fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-toggle-right"><i class="fa fa-toggle-right fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-toggle-up"><i class="fa fa-toggle-up fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-train"><i class="fa fa-train fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-transgender"><i class="fa fa-transgender fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-transgender-alt"><i class="fa fa-transgender-alt fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-trash"><i class="fa fa-trash fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-trash-o"><i class="fa fa-trash-o fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-tree"><i class="fa fa-tree fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-trello"><i class="fa fa-trello fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-trophy"><i class="fa fa-trophy fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-truck"><i class="fa fa-truck fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-try"><i class="fa fa-try fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-tty"><i class="fa fa-tty fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-tumblr"><i class="fa fa-tumblr fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-tumblr-square"><i class="fa fa-tumblr-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-turkish-lira"><i class="fa fa-turkish-lira fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-twitch"><i class="fa fa-twitch fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-twitter"><i class="fa fa-twitter fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-twitter-square"><i class="fa fa-twitter-square fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>u</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-ul"><i class="fa fa-ul fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-umbrella"><i class="fa fa-umbrella fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-underline"><i class="fa fa-underline fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-undo"><i class="fa fa-undo fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-university"><i class="fa fa-university fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-unlink"><i class="fa fa-unlink fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-unlock"><i class="fa fa-unlock fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-unlock-alt"><i class="fa fa-unlock-alt fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-unsorted"><i class="fa fa-unsorted fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-upload"><i class="fa fa-upload fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-usd"><i class="fa fa-usd fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-user"><i class="fa fa-user fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-user-md"><i class="fa fa-user-md fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-user-plus"><i class="fa fa-user-plus fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-user-secret"><i class="fa fa-user-secret fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-user-times"><i class="fa fa-user-times fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-users"><i class="fa fa-users fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>v</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-venus"><i class="fa fa-venus fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-venus-double"><i class="fa fa-venus-double fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-venus-mars"><i class="fa fa-venus-mars fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-viacoin"><i class="fa fa-viacoin fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-video-camera"><i class="fa fa-video-camera fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-vimeo-square"><i class="fa fa-vimeo-square fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-vine"><i class="fa fa-vine fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-vi"><i class="fa fa-vi fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-vk"><i class="fa fa-vk fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-volume-down"><i class="fa fa-volume-down fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-volume-off"><i class="fa fa-volume-off fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-volume-up"><i class="fa fa-volume-up fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>x</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-xing"><i class="fa fa-xing fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-xing-square"><i class="fa fa-xing-square fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>y</h1>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-yahoo"><i class="fa fa-yahoo fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-yelp"><i class="fa fa-yelp fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-yen"><i class="fa fa-yen fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-youtube"><i class="fa fa-youtube fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-youtube-play"><i class="fa fa-youtube-play fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title="fa fa-youtube-square"><i class="fa fa-youtube-square fa-2x"></i></button></div>
    </div>

    <div class="row">
        <h1>z</h1>
        <div class="col-md-1"><button type="button" class="btn" title=""><i class="fa fa fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title=""><i class="fa fa fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title=""><i class="fa fa fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title=""><i class="fa fa fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title=""><i class="fa fa fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title=""><i class="fa fa fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title=""><i class="fa fa fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title=""><i class="fa fa fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title=""><i class="fa fa fa-2x"></i></button></div>
        <div class="col-md-1"><button type="button" class="btn" title=""><i class="fa fa fa-2x"></i></button></div>
    </div>





</div>