﻿
@{
    ViewBag.Title = "MultiSelect2";
}

<form id="submit" method="post" action="@Url.Action("SubmitMultiSelect")">

    <div class="row">
        <div id="example"></div>
    </div>

    <button  class="btn btn-primary">更新</button>
</form>



@section Scripts{

    @Html.Partial("_VueOptionTemplate2")

    <script>

        (function ($) {

            new $.OptionTemplate({

                el: "#example",
                data: {

                    left_title: "源集合",
                    right_title: "目標集",
                    left_model_name: "Left",
                    right_model_name: "Right",
                    submit_form_id: "#submit",

                    left_array: [

                        { Text: "分行主管", Value: 1 },
                        { Text: "分行會計主管", Value: 2 },
                        { Text: "總行經辦", Value: 3 },
                        { Text: "總行主管", Value: 4 },
                        { Text: "總行會計主管", Value: 5 },
                        { Text: "總行主控", Value: 6 },
                        { Text: "資訊經辦", Value: 7 },
                        { Text: "資訊主管", Value: 8 },
                        { Text: "法尊經辦", Value: 9 },
                        { Text: "法尊主管", Value: 10 },
                        { Text: "權狀卷宗管理經辦", Value: 11 },
                        { Text: "權狀卷宗管理主管", Value: 12 }
                    ],
                    right_array: [

                    ],

                    left_size: false,
                    right_size: false,
                }
            });

            
        })(jQuery);

    </script>


}

