﻿
@{
    ViewBag.Title = "Page";
}

<a id="page">
    <div id="page_region"></div>
</a>



@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: 100,//資料庫總筆數
                    page_size: 5,//單頁筆數
                    page_now: 1,//當前頁
                    center_page: 1,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });


        })(jQuery);

    </script>
}

