﻿@{
    ViewBag.Title = "TreeView";
}


<div id="render-region"></div>


<template id="template-id">
    <tree v-bind:tree="tree"></tree>
</template>


@section Scripts {

    <script>


        Vue.component('tree', {

            template:
                '<ul>' +

                    '<li>' + '<span class="fa fa-circle" ></span>' +
                        '<button class="btn btn-primary" v-on:click="toogle()">{{tree.name}}</button>' +
                        '<tree v-for="tree in tree.show" v-bind:tree="tree"></tree>' +
                    '</li>' +

                '</ul>',

            props: ["tree"],
            
            data: function(){

                return { s: true };
            },

            methods: {

                toogle: function () {

                    this.s = !this.s;

                    if (this.s) {
                        for (var index in this.tree.show) {
                            this.tree.children.push(this.tree.show[index]);
                        }
                        this.tree.show.splice(0, this.tree.show.length);
                    }
                    else {
                        for (var index in this.tree.children) {
                            this.tree.show.push(this.tree.children[index]);
                        }
                        this.tree.children.splice(0, this.tree.children.length);
                    }
                }
            }
        });

        new Vue({

            template: '#template-id',
            el: "#render-region",

            data: {

                tree: {

                    name: "1",
                    children: [

                        {
                            name: "2-1",
                            children: [{ name: "2-1-1", children: [], show: [] }],
                            show: [],
                        },
                        {
                            name: "2-2",
                            children: [],
                            show: [],
                        },
                        {
                            name: "2-3",
                            children: [],
                            show: [],
                        },
                    ],
                    show: []
                }

            }

        });
        

    </script>
}