﻿
@{
    ViewBag.Title = "增值帳務處理";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>增值帳務處理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">增值帳務處理</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">


                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <a class="btn btn-sm btn-default" id="buttonDelete" href="@Url.Action("Index")">回上頁</a>
                                    <button class="btn btn-sm btn-info">核帳確認</button>
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">
                            <tfoot>
                                <tr>
                                    <td colspan="2"></td>
                                    <td>合計</td>
                                    <td>2</td>
                                    <td colspan="2"></td>
                                    <td>2,667,010</td>
                                    <td>2,667,010</td>
                                    <td></td>
                                </tr>
                            </tfoot>

                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th>分行別/部門</th>
                                    <th>記帳日</th>
                                    <th>件數</th>
                                    <th>會計科目</th>
                                    <th>會計科目名稱</th>
                                    <th>借方金額</th>
                                    <th>貸方金額</th>
                                    <th>幣別</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>001總行-08產權</td>
                                    <td>2017-06-21</td>
                                    <td>2</td>
                                    <td><a href="@Url.Action("SubDetail", new { Account=""})">150201005</a></td>
                                    <td>重估增值－土地 # 自用</td>
                                    <td>2,667,010</td>
                                    <td></td>
                                    <td>NTD</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>001總行-08產權</td>
                                    <td>2017-06-21</td>
                                    <td>2</td>
                                    <td><a href="@Url.Action("SubDetail", new { Account=""})">331A0100T</a></td>
                                    <td>首次採用國際財務報導準則調整數<br/> # 未實現重估增值轉列數</td>
                                    <td></td>
                                    <td>2,667,010</td>
                                    <td>NTD</td>
                                </tr>
                            </tbody>

                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "儲存成功" } });
@section Scripts {


    <script>

        (function ($) {

        })(jQuery);

    </script>

}




