﻿
@{
    ViewBag.Title = "資產增值處理";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>資產增值處理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">資產增值處理</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="@Url.Action("Query")" class="form-horizontal" id="queryForm">
                        <input type="hidden" id="CurrentPage" name="CurrentPage" value="" />
                        <input type="hidden" name="PageSize" value="" />

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">縣市</label>
                                <div class="col-sm-8">
                                    <select id="city" class="form-control">
                                        <option>全部</option>
                                        <option>新北市</option>
                                        <option>台北市</option>
                                        <option>桃園縣</option>
                                        <option>台中市</option>
                                        <option>台南市</option>
                                        <option>高雄市</option>
                                        <option>宜蘭縣</option>
                                        <option>新竹縣</option>
                                        <option>苗栗縣</option>
                                        <option>彰化縣</option>
                                        <option>南投縣</option>
                                        <option>雲林縣</option>
                                        <option>嘉義縣</option>
                                        <option>屏東縣</option>
                                        <option>台東縣</option>
                                        <option>花蓮縣</option>
                                        <option>澎湖縣</option>
                                        <option>基隆市</option>
                                        <option>新竹市</option>
                                        <option>嘉義市</option>
                                        <option>金門縣</option>
                                        <option>連江縣</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">地區</label>
                                <div class="col-sm-8">
                                    <select id="zone" class="form-control">
                                        <option>全部</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">起迄財產編號</label>
                                <div class="input-group col-sm-8">
                                    <input class="form-control" id="BeginCode"
                                           name="BeginCode" type="text" value="">
                                    <span class="input-group-addon">~</span>
                                    <input class="form-control" id="EndCode"
                                           name="EndCode" type="text" value="">
                                </div>
                            </div>
                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button type="button" class="btn btn-primary" onclick="">查詢</button>
                                    <button type="button" class="btn btn-danger" onclick="resetForm()">清除</button>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">


                <div class="ibox-content">
                    <div class="table-responsive" style="overflow-x:auto;">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  2 筆 第 1 頁</label>
                                    <a class="btn btn-warning" href="@Url.Action("Detail")">增值帳務處理</a>
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped" style="white-space:nowrap;">

                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th>財産編號</th>
                                    <th>縣市</th>
                                    <th>地號</th>
                                    <th>面積 (m2)</th>
                                    <th>帳面金額</th>
                                    <th>重估增值</th>
                                    <th>累計減損</th>
                                    <th>帳面價值</th>
                                    <th>公告現值</th>
                                    <th>百分比</th>
                                    <th>公允價值</th>
                                    <th>各分行查估價值</th>
                                    <th>重估後帳面價值</th>
                                    <th>增值金額</th>
                                    <th>土地增值稅</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1019901-0000622</td>
                                    <td>南投縣</td>
                                    <td>0753-0004</td>
                                    <td>2,270.00</td>
                                    <td>922,968.00</td>
                                    <td>40,645,272.00</td>
                                    <td>0.00</td>
                                    <td>41,568,240.00</td>
                                    <td>19,475.00</td>
                                    <td><input type="text" value="90.15" class="form-control" style="width:75px" /></td>
                                    <td>44,208,250.00</td>
                                    <td><input type="text" value="" class="form-control" style="width:120px" /></td>
                                    <td><input type="text" value="44208250" class="form-control" style="width:120px" /></td>
                                    <td><input type="text" value="2640010" class="form-control" style="width:120px" /></td>
                                    <td><input type="text" value="12575412" class="form-control" style="width:120px" /></td>
                                    <td><button type="button" class="btn btn-sm btn-success" onclick="saveData()">確認</button></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>1010703-0000624</td>
                                    <td>南投縣</td>
                                    <td>0753-0026</td>
                                    <td>10.00</td>
                                    <td>2,698.00</td>
                                    <td>137,302.00</td>
                                    <td>0.00</td>
                                    <td>140,000.00</td>
                                    <td>16,700.00</td>
                                    <td><input type="text" value="90.15" class="form-control" style="width:75px" /></td>
                                    <td>167,000.00</td>
                                    <td><input type="text" value="" class="form-control" style="width:120px" /></td>
                                    <td><input type="text" value="167000" class="form-control" style="width:120px" /></td>
                                    <td><input type="text" value="27000" class="form-control" style="width:120px" /></td>
                                    <td><input type="text" value="42655" class="form-control" style="width:120px" /></td>
                                    <td><button type="button" class="btn btn-sm btn-success" onclick="saveData()">確認</button></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "確認成功" } });
@section Scripts {

    <script>

        function resetForm()
        {

        }

        function saveData()
        {
            var message;
            message.IsSuccess = 1;

            successHandler(message);
        }

        (function ($) {

        })(jQuery);

    </script>

}




