﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2><a class="btn btn-gray btn-circle" style="width:28px;height:28px" href="A232-5.aspx" title="回上一頁"><i class="fa fa-arrow-left" style="font-size:18px;line-height:14px;padding-right:2px"></i></a> 檢視資產</h2>
        <ol class="breadcrumb" style="padding-left:36px">
            <li>
                <a>首頁</a>
            </li>
            <li>
                <a href="#">租賃管理</a>
            </li>
            <li>
                <a href="#">租賃折舊作業</a>
            </li>
            <li>
                <a href="#">租賃折舊設定</a>
            </li>
            <li>
                <a href="#">檢視資產</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row" style="margin-bottom: 80px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>檢視資產</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">母資產</label>
                                <div class="col-sm-9"><span style="line-height:2.5em">無母資產</span></div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">國內/海外資產</label>
                                <div class="col-sm-9">
                                    <label style="padding-top:6px">
                                        <input type="radio" name="radioset1" value="" id="" checked disabled>
                                        <span style="font-weight:normal;padding-right:10px">國內資產</span>
                                        <input type="radio" name="radioset1" value="" id="" disabled>
                                        <span style="font-weight:normal">海外資產</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group gutter-s">
                                <label for="" class="col-sm-2 control-label">資產分類</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">3. 機械與設備</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="" disabled>000031 電腦端末設備</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="" disabled>B 固定-自用</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>


                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">財產名稱</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="網路交換器" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">財產別名</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="總行網路交換機" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="3000031B-0000001" disabled /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">原資產編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="0100000643" disabled /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">耐用年限</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" value="3" style="width:20%;float:left" disabled />
                                    </select> <span style="float:left; padding:0 10px 0 10px; line-height:2.5em">年</span>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">財物編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" disabled /></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">折舊方式</label>
                                <div class="col-sm-6" style="padding: 0 5px 0 15px">
                                    <select class="form-control" id="" disabled>
                                        <option value="">STL</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳本</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="IFRS_TWD" disabled /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">啟用日期</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="106-01-01" disabled /><span class="fa fa-calendar-o icon-in-box"></span></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單位量</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="1" disabled /></div>
                            </div>
                            <div class="clearfix"></div>


                            <div class="col-sm-9 form-group gutter-s">
                                <label for="" class="col-sm-2 control-label">放置地點</label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="" disabled>
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" id="" disabled>
                                        <option value="">009 資訊部</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" id="" disabled>
                                        <option value="">XX科</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" id="" disabled>
                                        <option value="">XX樓</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" id="" disabled>
                                        <option value="">XXXXXX</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">資產會計科目</label>
                                <div class="col-sm-9 text-lineH-fix">
                                    140401000 機械及設備&nbsp;&nbsp;1531-01-00-3 電腦端末設備
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">資產會計科目</label>
                                <div class="col-sm-9 text-lineH-fix">
                                    001.05.001.5202015301.0.0.0 總行 / 資訊部 / XX科  / 業務費用機械及設備折舊
                                </div>
                            </div>

                        </div>


                        <div class="ibox-c-subtitle"> 租賃資訊</div>

                        <div class="row">
                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">001總行</option>
                                        <option value="">0050 台北分行</option>
                                        <option value="">0061 民權分行</option>
                                        <option value="">0083 長安分行</option>
                                        <option value="">1024 長春分行</option>
                                        <option value="">1404 城東分行</option>
                                        <option value="">1655 南京東路分行</option>
                                        <option value="">1389 東門分行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">009電金部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">001XX科</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">保管人</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">採購案號</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">採購描述</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">廠商規格</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">驗收日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="">
                                        <input type='text' class="form-control" disabled />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">附屬設備</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">財物單位</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="" disabled />
                                </div>
                            </div>


                        </div>

                        <div class="ibox-c-subtitle">帳務資料與其他事項</div>

                        <div class="row">
                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">001總行</option>
                                        <option value="">0050 台北分行</option>
                                        <option value="">0061 民權分行</option>
                                        <option value="">0083 長安分行</option>
                                        <option value="">1024 長春分行</option>
                                        <option value="">1404 城東分行</option>
                                        <option value="">1655 南京東路分行</option>
                                        <option value="">1389 東門分行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">009電金部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value="">001XX科</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>


                            <div class="col-sm-9 form-group gutter-s">
                                <label for="" class="col-sm-2 control-label">提交狀態</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" value="1" style="float:left;width:	0%" disabled />
                                    <select class="form-control" id="" style="float:left;width:50%" disabled>
                                        <option value="">TWD</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" value="1" style="float:left;width:50%" disabled />
                                    <select class="form-control" id="" style="float:left;width:50%" disabled>
                                        <option value="">TWD</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" value="1" style="float:left;width:50%" disabled />
                                    <select class="form-control" id="" style="float:left;width:50%" disabled>
                                        <option value="">TWD</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" disabled /></div>
                            </div>

                        </div>
                    </form>



                    <div class="ibox-c-subtitle">交易明細</div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>記帳時間</th>
                                    <th>單據類型</th>
                                    <th>單據編號</th>
                                    <th>摘要</th>
                                    <th>本次異動金額</th>
                                    <th>資產成本結餘</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>106-08-10 12:00</td>
                                    <td>租賃新增單</td>
                                    <td>1060502A201000001</td>
                                    <td>總行網路交換機</td>
                                    <td>+ 70,000</td>
                                    <td>70,000</td>
                                </tr>
                                <tr>
                                    <td>106-08-31 12:00</td>
                                    <td>租賃新增單</td>
                                    <td>1060502A201000001</td>
                                    <td>106-08 折舊</td>
                                    <td>- 972</td>
                                    <td>69,028</td>
                                </tr>
                                <tr>
                                    <td>106-09-13 12:00</td>
                                    <td>租賃新增單</td>
                                    <td>1060502A201000001</td>
                                    <td>106-08 折舊</td>
                                    <td>- 972</td>
                                    <td>68,056</td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"><span></span></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
            <a href="A520.aspx" class="btn btn-gray"><i class="fa fa-arrow-left"> 返回</i></a>
        </div>
    </div>
</div> 