﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>資產清單</h2>
        <ol class="breadcrumb">
            <li>
                <a>首頁</a>
            </li>
            <li>
                <a href="#">租賃管理</a>
            </li>
            <li>
                <a href="#">租賃折舊作業</a>
            </li>
            <li>
                <a href="#">租賃折舊設定</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-9 form-group gutter-s">
                                <label for="" class="col-sm-2 control-label">提交狀態</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">3. 機械與設備</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">000031 電腦端末設備</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">B 固定-自用</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>


                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">財產名稱(關鍵字)</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">財產別名(關鍵字)</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="" /> </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產編號</label>
                                <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1" style="width:10px; padding:0; line-height:2.5em">～</div>
                                <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">財物編號</label>
                                <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1" style="width:10px; padding:0; line-height:2.5em">～</div>
                                <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">啟用日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1" style="width:10px; padding:0; line-height:2.5em">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產年限結束日期</label>
                                <div class="col-sm-1" style="width:10px; padding:15; line-height:2.5em">≦</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>


                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產目前成本</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1" style="width:10px; padding:0; line-height:2.5em">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>
                            <div class="clearfix"></div>


                            <div class="col-sm-9 form-group gutter-s">
                                <label for="" class="col-sm-2 control-label">放置地點</label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="">
                                        <option value="">001 總行</option>
                                        <option value="">0050 台北分行</option>
                                        <option value="">0061 民權分行</option>
                                        <option value="">0083 長安分行</option>
                                        <option value="">1024 長春分行</option>
                                        <option value="">1404 城東分行</option>
                                        <option value="">1655 南京東路分行</option>
                                        <option value="">1389 東門分行</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" id="">
                                        <option value="">009 資訊部</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" id="">
                                        <option value="">XX科</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" id="">
                                        <option value="">XX樓</option>
                                    </select>
                                </div>
                                <div class="col-sm-2" style="padding: 0">  </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001總行</option>
                                        <option value="">0050 台北分行</option>
                                        <option value="">0061 民權分行</option>
                                        <option value="">0083 長安分行</option>
                                        <option value="">1024 長春分行</option>
                                        <option value="">1404 城東分行</option>
                                        <option value="">1655 南京東路分行</option>
                                        <option value="">1389 東門分行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">009電金部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001XX科</option>
                                    </select>
                                </div>
                                <div class="col-sm-1" style="padding: 0">  </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">保管人</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="">
                                        <option value="">023001 陳小明</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">採購案號</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="" />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">廠商規格(關鍵字)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="" />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">附屬設備(關鍵字)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="" />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註(關鍵字)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="" />
                                </div>
                            </div>

                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清除</i></button>
                                    <button class="btn btn-primary"><i class="fa fa-search"> 查詢</i></button>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>資產清單</label>
                                    <label style="padding-top:6px; margin-left:10px;">
                                        <input type="radio" name="radioset1" value="" id="Radio1" checked>
                                        <span style="font-weight:normal;padding-right:10px">國內資產</span>
                                        <input type="radio" name="radioset1" value="" id="Radio2">
                                        <span style="font-weight:normal">海外資產</span>
                                    </label>
                                </td>

                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>資產編號</th>
                                    <th>財產名稱</th>
                                    <th>財產別名</th>
                                    <th>保管單位</th>
                                    <th>保管人</th>
                                    <th>目前成本</th>
                                    <th>檢視</th>
                                    <th> <input type="checkbox" checked><span>是否折舊</span></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td></td>
                                    <td>總行/資訊部/XX科</td>
                                    <td>陳小明</td>
                                    <td>5,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td></td>
                                    <td>總行/資訊部/XX科</td>
                                    <td>陳小明</td>
                                    <td>15,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td></td>
                                    <td>總行/資訊部/XX科</td>
                                    <td>陳小明</td>
                                    <td>5,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>3000031B-0000001</td>
                                    <td>電腦</td>
                                    <td>NB-ACER</td>
                                    <td>總行/資訊部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>3000031B-0000001</td>
                                    <td>電腦</td>
                                    <td>NB-VAIO</td>
                                    <td>總行/資訊部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td></td>
                                    <td>總行/資訊部/XX科</td>
                                    <td>陳小明</td>
                                    <td>5,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td></td>
                                    <td>總行/資訊部/XX科</td>
                                    <td>陳小明</td>
                                    <td>15,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td></td>
                                    <td>總行/資訊部/XX科</td>
                                    <td>陳小明</td>
                                    <td>5,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>3000031B-0000001</td>
                                    <td>
                                        電腦<br>
                                        <span style="color:#ccc">(母資產)</span>
                                    </td>
                                    <td>MAC    001</td>
                                    <td>總行/資訊部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>3000031B-0000001</td>
                                    <td>
                                        RAM<br>
                                        <span style="color:#ccc">(子資產)</span>
                                    </td>
                                    <td></td>
                                    <td>總行/資訊部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>