﻿@{
    ViewBag.Title = "ContractMaintain";
}

<div id="root">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>租賃合約維護作業</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "ApprovalTracking")">首頁</a>
                </li>
                <li>
                    <a href="#">租賃合約維護作業</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <template>
    <div>
        <app-ibox>
            <button class="btn btn-success">
                <i class="fa fa-plus"></i>
                新增
            </button>
            <button class="btn btn-info">
                <i class="fa fa-edit"></i>
                修改
            </button>
            <button class="btn btn-danger">
                <i class="fa fa-trash"></i>
                刪除
            </button>
            <button class="btn btn-primary">
                <i class="fa fa-save"></i>
                存檔
            </button>
            <button class="btn btn-warning">
                <i class="fa fa-times"></i>
                取消
            </button>
            <button class="btn btn-success">
                <i class="fa fa-search"></i>
                查詢
            </button>
            <button class="btn btn-secondary">
                <i class="fa fa-copy"></i>
                複製
            </button>
            <br><br>
            <form class="form-horizontal">
                <div class="row">
                    <app-formfield title="租約編號">
                        <input type="text" class="form-control" />
                    </app-formfield>
                    <app-formfield title="承租資產類別">
                        <select
                            class="form-control"
                            v-model="leasedAssetClass"
                            v-on:change="handleLeasedAssetClassChange"
                        >
                            <option :value="0">(A)營業廳舍</option>
                            <option :value="1">(B)營業外點</option>
                            <option :value="2">(C)ATM</option>
                            <option :value="3">(D)車位</option>
                            <option :value="4">(E)房屋</option>
                            <option :value="5">(F)土地</option>
                        </select>
                    </app-formfield>
                </div>
                <div class="row">
                    <app-formfield title="租約名稱">
                        <input type="text" class="form-control" />
                    </app-formfield>
                    <app-formfield title="租賃情形">
                        <select class="form-control">
                            <option :value="0">新設</option>
                            <option :value="1">續租</option>
                            <option :value="2">遷址</option>
                        </select>
                    </app-formfield>
                </div>
                <div class="row">
                    <app-formfield title="承租人">
                        <input type="text" class="form-control" />
                    </app-formfield>
                    <app-formfield title="租約費用">
                        <input type="text" class="form-control" />
                    </app-formfield>
                </div>
                <div class="row">
                    <app-formfield title="付款方式">
                        <select class="form-control">
                            <option :value="0">1.現金</option>
                            <option :value="1">2.支票</option>
                            <option :value="2">3.銀行存款</option>
                        </select>
                    </app-formfield>
                </div>

                <legend>分行資料</legend>
                <div class="row">
                    <app-formfield title="分行代稱">
                        <input type="text" class="form-control" />
                    </app-formfield>
                    <app-formfield title="分行名稱">
                        <input type="text" class="form-control" />
                    </app-formfield>
                </div>
                <div class="row">
                    <app-formfield title="分行區域(縣市)">
                        <input type="text" class="form-control" />
                    </app-formfield>
                    <app-formfield title="分行設立日期">
                        <input type="text" class="form-control" />
                    </app-formfield>
                </div>

                <legend>租約資料</legend>
                <div class="row">
                    <app-formfield title="簽約日">
                        <input type="text" class="form-control" />
                    </app-formfield>
                    <app-formfield title="出租人">
                        <input type="text" class="form-control" />
                    </app-formfield>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">租賃期間</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" style="display: inline; width: 200px"/>
                            &nbsp;&nbsp;&nbsp;&nbsp;至&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="date" class="form-control" style="display: inline; width: 200px"/>
                        </div>
                    </div>
                </div>

                <legend>租金資料</legend>
                <div class="row">
                    <app-formfield title="租金">
                        <input type="text" class="form-control" />
                    </app-formfield>
                    <app-formfield title="押金">
                        <input type="text" class="form-control" />
                    </app-formfield>
                </div>
                <div class="row">
                    <app-formfield title="租金調整方式">
                        <select class="form-control">
                            <option :value="0">1.物價指數</option>
                            <option :value="1">2.階段式調整</option>
                            <option :value="2">3.階段式利率</option>
                        </select>
                    </app-formfield>
                    <app-formfield title="物價指數(%)">
                        <input type="text" class="form-control" />
                    </app-formfield>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">物價指數調整區間</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" style="display: inline; width: 200px"/>
                            &nbsp;&nbsp;&nbsp;&nbsp;至&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="text" class="form-control" style="display: inline; width: 200px"/>
                        </div>
                    </div>
                </div>

                <legend>備註</legend>
                <div class="row">
                    <app-formfield title="一樓每坪租金">
                        <input type="text" class="form-control" />
                    </app-formfield>
                    <app-formfield title="租金漲幅(%)">
                        <input type="text" class="form-control" />
                    </app-formfield>
                    <app-formfield title="租金佔業務費用比率(%)">
                        <input type="text" class="form-control" />
                    </app-formfield>
                    <app-formfield title="出租人有無投保火險">
                        <select class="form-control">
                            <option :value="0">是</option>
                            <option :value="1">否</option>
                        </select>
                    </app-formfield>
                    <app-formfield title="分辨融資租賃還是營業租賃">
                        <select class="form-control">
                            <option :value="0">融資租賃</option>
                            <option :value="1">營業租賃</option>
                        </select>
                    </app-formfield>
                </div>
            </form>
        </app-ibox>

        <app-ibox>
            <el-tabs v-model="activeTab">
                <el-tab-pane
                    label="房屋"
                    :name="tabs[0]"
                    v-if="leasedAssetClassMap[tabs[0]].indexOf(leasedAssetClass) > -1">
                    <div class="row">
                        <app-formfield title="租賃地號" :col="8">
                            <input type="text" class="form-control" />
                        </app-formfield>
                    </div>
                    <div class="row">
                        <app-formfield title="租賃租號" :col="8">
                            <input type="text" class="form-control" />
                        </app-formfield>
                    </div>
                    <div class="row">
                        <app-formfield title="樓層面積(平方公尺，坪)" :col="8">
                            <input type="text" class="form-control" />
                        </app-formfield>
                    </div>
                    <div class="row">
                        <app-formfield title="總面積(平方公尺，坪)" :col="8">
                            <input type="text" class="form-control" />
                        </app-formfield>
                    </div>
                    <div class="row">
                        <app-formfield title="建物結構" :col="8">
                            <input type="text" class="form-control" />
                        </app-formfield>
                    </div>
                    <div class="row">
                        <app-formfield title="建物總樓層(地上、地下)" :col="8">
                            <input type="text" class="form-control" />
                        </app-formfield>
                    </div>
                </el-tab-pane>

                <el-tab-pane
                    label="土地"
                    :name="tabs[1]"
                    v-if="leasedAssetClassMap[tabs[1]].indexOf(leasedAssetClass) > -1"
                >
                    <div class="row">
                        <app-formfield title="租賃地號" :col="8">
                            <input type="text" class="form-control" />
                        </app-formfield>
                    </div>
                    <div class="row">
                        <app-formfield title="租賃比例" :col="8">
                            <input type="text" class="form-control" />
                        </app-formfield>
                    </div>
                    <div class="row">
                        <app-formfield title="總面積 (平方公尺，坪)" :col="8">
                            <input type="text" class="form-control" />
                        </app-formfield>
                    </div>
                </el-tab-pane>

                <el-tab-pane
                    label="車位"
                    :name="tabs[2]"
                    v-if="leasedAssetClassMap[tabs[2]].indexOf(leasedAssetClass) > -1"
                >
                    <div class="row">
                        <app-formfield title="機械車位(個)" :col="8">
                            <input type="text" class="form-control" />
                        </app-formfield>
                    </div>
                    <div class="row">
                        <app-formfield title="車位編號" :col="8">
                            <input type="text" class="form-control" />
                        </app-formfield>
                    </div>
                    <div class="row">
                        <app-formfield title="平面車位(個)" :col="8">
                            <input type="text" class="form-control" />
                        </app-formfield>
                    </div>
                    <div class="row">
                        <app-formfield title="車位編號" :col="8">
                            <input type="text" class="form-control" />
                        </app-formfield>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </app-ibox>
    </div>
</template>


    </div>

</div>


@section Scripts { 
    @Scripts.Render("~/Scripts/Rent/ContractMaintain.js")
}
