﻿
@{
    ViewBag.Title = "Detail";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>出租契約維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard_1", "Dashboards")">首頁</a>
            </li>
            <li>
                <a>契約查詢</a>
            </li>
            <li class="active">
                <strong>出租契約詳細資料</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>出租契約詳細資料</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-5 m-b-xs">
                            <a class="btn btn-primary" href="@Url.Action("Update")">
                                <i class="fa fa-pencil"></i>&nbsp;編輯
                            </a>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>欄位名稱</th>
                                    <th>內容</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>管轄單位</td>
                                    <td>Model.BallNumber</td>
                                </tr>
                                <tr>
                                    <td>租約編號</td>
                                    <td>Model.Title</td>
                                </tr>
                                <tr>
                                    <td>租約類別</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>業務別</td>
                                    <td>Model.Name</td>
                                </tr>
                                <tr>
                                    <td>租約類型</td>
                                    <td>Model.Description</td>
                                </tr>
                                <tr>
                                    <td>租約事務</td>
                                    <td>Model.InventoryName</td>
                                </tr>
                                
                                <tr>
                                    <td>帳號</td>
                                    <td>Model.AttributeName</td>
                                </tr>
                                <tr>
                                    <td>租約狀態</td>
                                    <td>Model.PublishName</td>
                                </tr>
                                
                                <tr>
                                    <td>租賃期起</td>
                                    <td>Model.UpdateDateTime</td>
                                </tr>
                                <tr>
                                    <td>租賃期迄</td>
                                    <td>Model.CreateDateTime</td>
                                </tr>
                                <tr>
                                    <td>原租約編號</td>
                                    <td>Model.UpdateDateTime</td>
                                </tr>
                                <tr>
                                    <td>流程狀態</td>
                                    <td>Model.CreateDateTime</td>
                                </tr>
                                <tr>
                                    <td>繳款方式</td>
                                    <td>Model.UpdateDateTime</td>
                                </tr>
                                <tr>
                                    <td>扣款銀行</td>
                                    <td>Model.CreateDateTime</td>
                                </tr>
                                <tr>
                                    <td>扣款帳號</td>
                                    <td>Model.CreateDateTime</td>
                                </tr>
                                <tr>
                                    <td>核准日期</td>
                                    <td>Model.CreateDateTime</td>
                                </tr>
                                <tr>
                                    <td>備註</td>
                                    <td>Model.CreateDateTime</td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ibox-footer agile-detail">
                    <a class="btn btn-warning" href="@Url.Action("Index")">
                        <i class="fa fa-undo"></i>&nbsp;回列表頁
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



