﻿

@{
    ViewBag.Title = "Index";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>出租契約維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Rent")">首頁</a>
            </li>
            <li>
                <a>契約查詢</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form>
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="col-sm-5" align="right">管轄單位</label>
                            <input type="text" name="search" class="col-sm-6" align="left">
                        </div>
                        <div class="col-sm-4">
                            <label class="col-sm-5" align="right">租約編號</label>
                            <input type="text" name="search" class="col-sm-6" align="left">
                        </div>
                        @* <div class="col-sm-4">
                            <label class="col-sm-5" align="right">租約類別</label>
                            <select name="RentType" class="col-sm-6">
                                <option value=""></option>
                                <option value="Y">出租</option>
                                <option value="N">承租</option>
                            </select>
                        </div> *@
                        <div class="col-sm-4">
                            <label class="col-sm-5" align="right">繳款類別</label>
                            <select name="paySecType" id="" class="col-sm-6">
                                <option value=""></option>
                                <option value="">月繳</option>
                                <option value="">季繳</option>
                                <option value="">半年繳</option>
                                <option value="">年繳</option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="col-sm-5" align="right">租約狀態</label>
                            <select name="RentStatus" class="col-sm-6">
                                <option value=""></option>
                                <option value="Y">有效</option>
                                <option value="E">終止</option>
                                <option value="N">未生效</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label class="col-sm-5" align="right">租約類型</label>
                            <select name="RentStatus" class="col-sm-6">
                                <option value=""></option>
                                <option value="">停車位</option>
                                <option value="">停車場</option>
                                <option value="">基地</option>
                                <option value="">基地使用補償</option>
                                <option value="">房屋</option>
                                <option value="">投資開發</option>
                                <option value="">空地</option>
                                <option value="">耕地</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label class="col-sm-5" align="right">租約事務</label>
                            <select name="RentStatus" class="col-sm-6">
                                <option value=""></option>
                                <option value="">新租</option>
                                <option value="">繼承承租</option>
                                <option value="">續租</option>
                                <option value="">過戶承租</option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="col-sm-5" align="right">帳號</label>
                            <input type="text" name="search" class="col-sm-6" align="left">
                        </div>
                        <div class="col-sm-4">
                            <label class="col-sm-5" align="right">流程狀態</label>
                            <select name="RentStatus" class="col-sm-6">
                                <option value=""></option>
                                <option value="add">新增</option>
                                <option value="submited">已提交</option>
                                <option value="permited">已核准</option>
                                <option value="paid">已入賬</option>
                                <option value="rejected">已拒絕</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label class="col-sm-5" align="right">業務別</label>
                            <select name="RentStatus" class="col-sm-6">
                                <option value=""></option>
                                <option value="self">自用</option>
                                <option value="non-self">非自用</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="col-sm-5" align="right">承租人姓名</label>
                            <input type="text" name="search" class="col-sm-6" align="left">
                        </div>
                        <div class="col-sm-4">
                            <label class="col-sm-5" align="right">身分證字號</label>
                            <input type="text" name="search" class="col-sm-6" align="left">
                        </div>
                        <div class="col-sm-4">
                            <label class="col-sm-5" align="right">備註</label>
                            <input type="text" name="search" class="col-sm-6" align="left">
                        </div>
                    </div>
                    
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="col-sm-4" align="right"></label>
                            <button class="btn btn-primary" ><i class="fa fa-search"></i>&nbsp;查詢</button>
                            <button class="btn btn-primary" ><i class="fa fa-trash"></i>&nbsp;清除</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>出租契約清單</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-5">
                            @* <button class="btn btn-primary" onclick="location.href='@Url.Action("Create")'"><i class="fa fa-plus"></i>&nbsp;新增</button> *@
                            <button class="btn btn-primary" onclick="location.href='@Url.Action("RentalCreateExample")'"><i class="fa fa-plus"></i>&nbsp;新增@* (Vue) *@</button>
                            <button class="btn btn-primary" onclick="location.href='@Url.Action("Delete")'"><i class="fa fa-trash"></i>&nbsp;刪除</button>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>送審</th>
                                    <th>刪除</th>
                                    <th>抽回</th>
                                    <th>複製</th>
                                    <th>流程</th>
                                    <th>檢視</th>
                                    <th>租約編號</th>
                                    <th>管轄單位</th>
                                    <th>租約類型</th>
                                    <th>租約事務</th>
                                    <th>帳號</th>
                                    <th>流程狀態</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>
                                            
                                        </td>
                                        <td>
                                            <a class="btn btn-danger btn-circle" href="#modal-form-delete-1" data-toggle="modal" title="刪除單筆資料">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>

                                        <td>
                                            
                                        </td>

                                        <td>
                                            <a class="btn btn-block btn-circle" href="#modal-form-contract-copy" data-toggle="modal" title="複製">
                                                <i class="fa fa-files-o"></i>
                                            </a>
                                        </td>

                                        <td>
                                            @* <a class="btn btn-block btn-circle" data-toggle="modal" title="流程">
                                                <i class="fa fa-chevron-up"></i>
                                            </a> *@
                                        </td>

                                        <td>
                                            <a class="btn btn-primary btn-circle" href="@Url.Action("RentalCreateExample")"
                                               data-toggle="tooltip" data-placement="bottom" title="檢視">
                                                <i class="fa fa-list"></i>
                                            </a>
                                        </td>
                                        <td>item.contactNo</td>
                                        <td>item.manageDept</td>
                                        <td>item.contactType</td>
                                        <td>item.contactAffairs</td>
                                        <td>item.account</td>
                                        <td>item.flowStatus</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div id="modal-form-contract-copy" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div>
                            <h3 class="m-t-none m-b">複製／續租約</h3>
                            <table>
                                <tr>
                                    <td colsan="2"> 
                                        <input type="radio" name="copyType">續約
                                        <input type="radio" name="copyType" style="margin-left: 10px;">新約
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td> 
                                        <input type="checkbox" style="margin-left: 25px">複製租金資料
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="">租約期間起</label>
                                        <input type="text">
                                    </td>
                                    <td>
                                        <input type="checkbox" style="margin-left: 25px">複製承租人／出租人資料
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="">租約期間迄</label>
                                        <input type="text">
                                    </td>
                                    <td>
                                        <input type="checkbox" style="margin-left: 25px">複製標的物資料
                                    </td>
                                </tr>
                                <tr>
                                    <td colsan="2">
                                        <button class="btn btn-primary" type="button" data-dismiss="modal"><i class="fa fa-check">確定</i></button>
                                        <button class="btn btn-primary" type="button" data-dismiss="modal"><i class="fa fa-times">取消</i></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    


    <div id="modal-form-delete-1" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div>
                            <h3 class="m-t-none m-b">是否要刪除此資料?</h3>

                            <p>刪除資料後，資料無法回復，請確認刪除。</p>

                            <form method="POST" action="@Url.Action("Delete")" style="display:inline-block;" id="form-delete">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="GUID" value="1">
                                <button class="btn btn-sm btn-danger" type="submit"><strong>是</strong></button>
                            </form>
                            <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>否</strong></button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="modal-form-publish-1" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div>
                            <h3 class="m-t-none m-b">是否上架?</h3>

                            <form method="POST" action="@Url.Action("TooglePublish")" style="display:inline-block;" id="form-delete">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="GUID" value="1">
                                <button class="btn btn-sm btn-danger" type="submit"><strong>是</strong></button>
                            </form>
                            <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>否</strong></button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="modal-form-down-1" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div>
                            <h3 class="m-t-none m-b">是否下架?</h3>

                            <form method="POST" action="@Url.Action("TooglePublish")" style="display:inline-block;" id="form-delete">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="GUID" value="1">
                                <button class="btn btn-sm btn-danger" type="submit"><strong>是</strong></button>
                            </form>
                            <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>否</strong></button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
