﻿ @{ ViewBag.Title = "Create"; }


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>租金、使用補償金繳款單</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("PaymentForm", "Rent")">首頁</a>
            </li>
            <li>
                <a>出租契約履約管理</a>
            </li>
            <li class="active">
                <strong>檢視／編輯租金、使用補償金繳款單</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-5">

    </div>
</div>

<div id="app" class="wrapper wrapper-content animated fadeInRight">

</div>


<template id="app-template">
    <div class="row">
        <div class="col-lg-12">
            <form>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>租金、使用補償金繳款單</h5>
                        @* <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div> *@
                    </div>
                    <div class="ibox-content">
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="col-sm-5">管轄單位</label>
                                    <input type="text" v-model="model.table1.attr1" name="search" class="col-sm-5" align="left">
                                </div>

                                <div class="col-sm-4">
                                    <label class="col-sm-5 ">租約編號</label>
                                    <input type="text" v-model="model.table1.attr2" name="search" class="col-sm-5" align="left">
                                </div>

                                <div class="col-sm-4">
                                    <label class="col-sm-5">繳款期別</label>
                                    <input type="text" v-model="model.table1.attr3" name="search" class="col-sm-5" align="left">
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-sm-4">
                                    <label class="col-sm-5 ">租約類別</label>
                                    <select name="RentType" class="col-sm-5">
                                        <option value=""></option>
                                        <option value="Y">出租</option>
                                        <option value="N">承租</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label class="col-sm-5 ">業務別</label>
                                    <select name="RentStatus" class="col-sm-5">
                                        <option value=""></option>
                                        <option value="self">自用</option>
                                        <option value="non-self">非自用</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label class="col-sm-5 ">承租人姓名</label>
                                    <input type="text" v-model="model.table1.attr4" name="search" class="col-sm-5" align="left">
                                </div>
                            </div>
							<div class="row">
								<div class="col-sm-4">
									<label for="" class="col-sm-5">繳款狀態</label>
									<input type="text" class="col-sm-5">
								</div>
								<div class="col-sm-4">
									<label for="" class="col-sm-5">單據狀態</label>
									<input type="text" class="col-sm-5">
								</div>
								<div class="col-sm-4">
									
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<label for="" class="col-sm-5">繳款期限</label>
									<vue-datepicker class="col-sm-5" ></vue-datepicker>
								</div>
								<div class="col-sm-4">
									<label for="" class="col-sm-5">繳款可延遲日</label>
									<input type="text" class="col-sm-5">
								</div>
								<div class="col-sm-4">
									<label for="" class="col-sm-5">原始應繳金額</label>
									<input type="number" class="col-sm-5">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<label for="" class="col-sm-5">虛擬帳號</label>
									<input type="text" class="col-sm-5">
								</div>
								<div class="col-sm-4">
									<label for="" class="col-sm-5">減免金額</label>
									<input type="number" class="col-sm-5">
								</div>
								<div class="col-sm-4">
									<label for="" class="col-sm-5">繳款方式</label>
									<input type="text" class="col-sm-5">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<label for="" class="col-sm-5">支票類別</label>
									<select name="" id="" class="col-sm-5">
                                        <option value=""></option>
                                        <option value="">本埠票</option>
                                        <option value="">外埠票</option>
                                    </select>
								</div>
								<div class="col-sm-4">
									<label for="" class="col-sm-5">實際應繳金額(含稅)</label>
									<input type="number" class="col-sm-5">
								</div>
								<div class="col-sm-4">
									<label for="" class="col-sm-5">稅額</label>
									<input type="number" class="col-sm-5">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<label for="" class="col-sm-5">實際繳款金額(未稅)</label>
									<input type="number" class="col-sm-5">
								</div>
								<div class="col-sm-4">
									<label for="" class="col-sm-5">繳款金額</label>
									<input type="number" class="col-sm-5">
								</div>
								<div class="col-sm-4">
									<label for="" class="col-sm-5">繳款日期</label>
									<vue-datepicker class="col-sm-5" ></vue-datepicker>
								</div>
							</div>
                    </div>
                </div>

                <div class="ibox float-r-margins">
                    <div class="ibox-title">
                        <h5>
                            繳款明細&nbsp;
                            <button v-on:click="addNewItem2Table2" class="btn-primary" type="button">新增</button>
                        </h5>
                        @* <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div> *@
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>期別</th>
                                            <th>應繳項目</th>
                                            <th>應繳金額</th>
                                            <th>減免金額</th>
                                            <th>實際應繳金額</th>
                                            <th>繳款金額</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="row in model.table2">
                                        	<td></td>
                                        	<td></td>
                                        	<td><input type="number"></td>
                                        	<td><input type="number"></td>
                                        	<td><input type="number"></td>
                                        	<td><input type="number"></td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                        <div class="ibox-footer agile-detail">
                            <div class="row">
                                <button id="testBtn" style="margin-left: 50px;" class="btn btn-primary" type="button" v-on:click="submitTest('123')"><i class="fa fa-floppy-o"></i>&nbsp;儲存</button>
                                <button class="btn btn-primary" type="button"><i class="fa fa-times"></i>&nbsp;取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template> 


@section Scripts { 
    @Scripts.Render("~/Scripts/Rent/PaymentForm.js")
}

