﻿ @{ ViewBag.Title = "Create"; }


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>新增出租契約</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Rent")">首頁</a>
            </li>
            <li>
                <a>出租契約維護</a>
            </li>
            <li class="active">
                <strong>新增出租契約</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-5">

    </div>
</div>

<div id="app" class="wrapper wrapper-content animated fadeInRight">

</div>


<template id="app-template">
    <div class="row">
        <div class="col-lg-12">
            <form>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>出租契約</h5>
                        @* <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div> *@
                    </div>
                    <div class="ibox-content">
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="col-sm-5">管轄單位</label>
                                    <input type="text" v-model="model.table1.attr1" name="search" class="col-sm-5" align="left">
                                </div>

                                <div class="col-sm-4">
                                    <label class="col-sm-5 ">租約編號</label>
                                    <input type="text" v-model="model.table1.attr" name="search" class="col-sm-5" align="left">
                                </div>

                                @* <div class="col-sm-4">
                                    <label class="col-sm-5 ">租約類別</label>
                                    <select name="RentType" class="col-sm-5">
                                        <option value=""></option>
                                        <option value="Y">出租</option>
                                        <option value="N">承租</option>
                                    </select>
                                </div> *@
                                <div class="col-sm-4">
                                    <label class="col-sm-5">繳款類別</label>
                                    <select name="paySecType" id="" class="col-sm-5" aligen="left">
                                        <option value=""></option>
                                        <option value="">月繳</option>
                                        <option value="">季繳</option>
                                        <option value="">半年繳</option>
                                        <option value="">年繳</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="col-sm-5 ">業務別</label>
                                    <select name="RentStatus" class="col-sm-5">
                                        <option value=""></option>
                                        <option value="self">自用</option>
                                        <option value="non-self">非自用</option>
                                    </select>
                                </div>

                                <div class="col-sm-4">
                                    <label class="col-sm-5 ">租約類型</label>
                                    <select name="RentStatus" class="col-sm-5">
                                        <option value=""></option>
                                        <option value="">停車位</option>
                                        <option value="">停車場</option>
                                        <option value="">基地</option>
                                        <option value="">基地使用補償</option>
                                        <option value="">房屋</option>
                                        <option value="">投資開發</option>
                                        <option value="">空地</option>
                                        <option value="">耕地</option>
                                    </select>
                                </div>

                                <div class="col-sm-4">
                                    <label class="col-sm-5 ">租約事務</label>
                                    <select name="RentStatus" class="col-sm-5">
                                        <option value=""></option>
                                        <option value="">新租</option>
                                        <option value="">繼承承租</option>
                                        <option value="">續租</option>
                                        <option value="">過戶承租</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="col-sm-5 ">帳號</label>
                                    <input type="text" name="search" class="col-sm-5" align="left">
                                </div>

                                <div class="col-sm-4">
                                    <label class="col-sm-5 ">租約狀態</label>
                                    <select name="RentStatus" class="col-sm-5">
                                        <option value=""></option>
                                        <option value="Y">有效</option>
                                        <option value="E">終止</option>
                                        <option value="N">未生效</option>
                                    </select>
                                </div>

                                <div class="col-sm-4">
                                    <label class="col-sm-5 ">租賃期起</label>
                                    <input type="text" name="search" class="col-sm-5 hasDatepicker" align="left">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="col-sm-5 ">租賃期迄</label>
                                    <input type="text" name="search" class="col-sm-5 hasDatepicker" align="left">
                                </div>

                                <div class="col-sm-4">
                                    <label class="col-sm-5 ">原租約編號</label>
                                    <input type="text" name="search" class="col-sm-5" align="left">
                                </div>

                                <div class="col-sm-4">
                                    <label class="col-sm-5 ">流程狀態</label>
                                    <select name="RentStatus" class="col-sm-5">
                                        <option value=""></option>
                                        <option value="add">新增</option>
                                        <option value="submited">已提交</option>
                                        <option value="permited">已核准</option>
                                        <option value="paid">已入賬</option>
                                        <option value="rejected">已拒絕</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="col-sm-5 ">繳款方式</label>
                                    <select name="paymentType" id="" class="col-sm-5">
                                        <option value=""></option>
                                        <option value="">委託代繳</option>
                                        <option value="">虛擬帳號</option>
                                        <option value="">支票</option>
                                    </select>
                                </div>

                                <div class="col-sm-4">
                                    <label class="col-sm-5 ">扣款銀行</label>
                                    <input type="text" name="search" class="col-sm-5" align="left">
                                </div>

                                <div class="col-sm-4">
                                    <label class="col-sm-5 ">扣款帳號</label>
                                    <input type="text" name="search" class="col-sm-5" align="left">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="col-sm-5 ">核准日期</label>
                                    <vue-datepicker class="col-sm-5" v-model="model.table1.attr4"></vue-datepicker>
                                </div>

                                <div class="col-sm-4">
                                    <label class="col-sm-5 ">租金計算</label>
                                    <select name="paymentType" id="" class="col-sm-5">
                                        <option value=""></option>
                                        <option value="">浮動</option>
                                        <option value="">固定</option>
                                    </select>
                                </div>

                                <div class="col-sm-4">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-1">備註</label>
                                    <textarea name="" id="" cols="120" rows="5"></textarea>
                                </div>
                            </div>
                    </div>
                </div>

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            金額&nbsp;
                            <button v-on:click="addNewItem2Table2" class="btn-primary" type="button">新增</button>
                        </h5>
                        @* <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div> *@
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>租賃期間起</th>
                                        <th>租賃期間迄</th>
                                        <th>租金</th>
                                        <th>減租金額</th>
                                        <th>月租金(含稅)</th>
                                        <th>保證金</th>
                                        <th>繳納日期</th>
                                        <th>退還日期</th>
                                        <th>保證書銀行</th>
                                        <th>備註</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="row in model.table2">
                                        <td><vue-datepicker v-model="row.col1"></vue-datepicker></td>
                                        <td><vue-datepicker v-model="row.col2"></vue-datepicker></td>
                                        <td><input type="number"></td>
                                        <td><input type="number"></td>
                                        <td><input type="number"></td>
                                        <td><input type="number"></td>
                                        <td><vue-datepicker></vue-datepicker></td>
                                        <td><vue-datepicker></vue-datepicker></td>
                                        <td><input type="text"></td>
                                        <td><input type="text"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="ibox float-r-margins">
                    <div class="ibox-title">
                        <h5>
                            承租人/出租人&nbsp;
                            <button v-on:click="addNewItem2Table3" class="btn-primary" type="button">新增</button>
                        </h5>
                        @* <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div> *@
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>殘障</th>
                                            <th>低收</th>
                                            <th>名稱</th>
                                            <th>統一編號</th>
                                            <th>負責人</th>
                                            <th>身分證字號</th>
                                            <th>出生日期</th>
                                            <th>通訊地址</th>
                                            <th>戶籍地址</th>
                                            <th>電話</th>
                                            <th>備註</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="row in model.table3">
                                            <td><input name="ident" type="radio"></td>
                                            <td><input name="ident" type="radio"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><vue-datepicker></vue-datepicker></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>

                <div class="ibox float-r-margins">
                    <div class="ibox-title">
                        <h5>
                            租約檔案&nbsp;
                            <button class="btn-primary" type="button" href="#modal-form-contract-upload" data-toggle="modal" >新增</button>
                        </h5>
                        @* <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div> *@
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>圖檔</th>
                                            <th>說明</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="row in model.table10">
                                            <td width="15%">
                                                <a class="btn btn-danger btn-circle" href="#modal-form-delete-1" data-toggle="modal" title="刪除單筆資料">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                                <a class="btn btn-primary btn-circle" href="@Url.Action("Detail")"data-toggle="tooltip" data-placement="bottom" title="編輯">
                                                    <i class="fa fa-list"></i>
                                                </a>
                                                <a class="btn btn-primary btn-circle" href="@Url.Action("Detail")"data-toggle="tooltip" data-placement="bottom" title="檢視檔案">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </td>
                                            <td>{{row.col2}}</td>
                                            <td>{{row.col3}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                        <div class="ibox-footer agile-detail">
                            <div class="row">
                                <button style="margin-left: 50px;" class="btn btn-primary" type="button"><i class="fa fa-floppy-o"></i>&nbsp;儲存</button>
                                <button class="btn btn-primary" type="button">換續約</button>
                                <button class="btn btn-primary" type="button" onclick="$('#js-target-subject').show();">標的物</button>
                                <button class="btn btn-primary" type="button" href="#modal-form-rental-paid-record" data-toggle="modal">租金繳納紀錄</button>
                                <a class="btn btn-warning" href="@Url.Action(" Index ")">
                                       <i class="fa fa-undo"></i>&nbsp;回列表頁
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form action="">
                <div class="ibox float-r-margins" id="js-target-subject" style="display: none;">
                    <div class="ibox-title">
                        <h5>標的物</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up" id="js-ts-click"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="ibox float-r-margins">
                            <div class="ibox-title">
                                <h5>
                                    土地＆&nbsp;租地建物
                                </h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-down"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content" style="display: none;">
                                <div class="table-responsive">
                                    <h5>
                                        土地&nbsp;<button v-on:click="addNewItem2Table4" class="btn-primary" type="button">新增</button>
                                    </h5>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <td>項次</td>
                                                <td>財產編號</td>
                                                <td>縣市</td>
                                                <td>鄉鎮市區</td>
                                                <td>段</td>
                                                <td>小段</td>
                                                <td>母地號</td>
                                                <td>子地號</td>
                                                <td>公告地價</td>
                                                <td>登記面積</td>
                                                <td>出租面積</td>
                                                <td>租金</td>
                                                <td>年租率%</td>
                                                <td>殘障/低收減免</td>
                                                <td>殘障/低收減免金額</td>
                                                <td>騎樓減免</td>
                                                <td>騎樓減免金額</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="row in model.table4">
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="checkbox"></td>
                                                <td><input type="text"></td>
                                                <td><input type="checkbox"></td>
                                                <td><input type="text"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="table-responsive">
                                    <h5>
                                        租地建物&nbsp;<button v-on:click="addNewItem2Table5" class="btn-primary" type="button">新增</button>
                                    </h5>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <td>建物門牌號碼</td>
                                                <td>構造</td>
                                                <td>第幾層</td>
                                                <td>總樓層</td>
                                                <td>總面積(平方公尺)</td>
                                                <td>騎樓面積</td>
                                                <td>備註</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="row in model.table5">
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="ibox float-r-margins">
                            <div class="ibox-title">
                                <h5>
                                    耕地每公頃正產物
                                    ＆&nbsp;房屋建物
                                    ＆&nbsp;停車位
                                </h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-down"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content" style="display: none;">
                                <div class="table-responsive">
                                    <h5>
                                        耕地每公頃正產物&nbsp;
                                        <button v-on:click="addNewItem2Table6" class="btn-primary" type="button">新增</button>
                                    </h5>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <td>種類</td>
                                                <td>收穫總量</td>
                                                <td>租案</td>
                                                <td>本號租類</td>
                                                <td>備註</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="row in model.table6">
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="table-responsive">
                                    <h5>
                                        房屋建物&nbsp;
                                        <button v-on:click="addNewItem2Table7" class="btn-primary" type="button">新增</button>
                                    </h5>
                                    <table class="table table-striped">
                                        <thead>
                                            <td>財產編號</td>
                                            <td>縣市</td>
                                            <td>鄉鎮市區</td>
                                            <td>段</td>
                                            <td>小段</td>
                                            <td>權狀字號</td>
                                            <td>建號</td>
                                            <td>門牌-路街</td>
                                            <td>門牌-段巷弄號</td>
                                            <td>面積</td>
                                            <td>出租面積</td>
                                            <td>分攤出租面積</td>
                                            <td>附屬建物</td>
                                            <td>屋突</td>
                                            <td>夾層</td>
                                        </thead>
                                        <tbody>
                                            <tr v-for="row in model.table7">
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                                <td><input type="text"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="table-responsive">
                                    <h5>
                                        停車位&nbsp;
                                        <button v-on:click="addNewItem2Table8" class="btn-primary" type="button">新增</button>
                                    </h5>
                                    <table class="table table-striped">
                                        <thead>
                                            <td>車位編號</td>
                                            <td>租金</td>
                                            <td>生效日期</td>
                                            <td>失效日期</td>
                                        </thead>
                                        <tbody v-for="row in model.table8">
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td>
                                                <vue-datepicker></vue-datepicker>
                                            </td>
                                            <td>
                                                <vue-datepicker></vue-datepicker>
                                            </td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="ibox float-r-margins">
                            <div class="ibox-title">
                                <h5>
                                    其他標的物
                                </h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-down"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content" style="display: none;">
                                <div class="table-responsive">
                                    <h5>
                                        其他標的物&nbsp;
                                        <button v-on:click="addNewItem2Table9" class="btn-primary" type="button">新增</button>
                                    </h5>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <td>門牌</td>
                                                <td>面積</td>
                                                <td>出租面積</td>
                                                <td>備註</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="row in model.table9">
                                                <td><input type="text" v-model="row.col1"></td>
                                                <td><input type="text" v-model="row.col2"></td>
                                                <td>{{row.col1}}@* <input type="text"> *@</td>
                                                <td><input type="text"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="ibox-footer agile-detail">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button class="btn btn-primary" type="button"
                                                onclick="$('#js-ts-click').click()"><i class="fa fa-check">確定</i></button>
                                    <button class="btn btn-primary" type="button" onclick="$('#js-target-subject').hide()"><i class="fa fa-times">取消</i></button>
                                    <button class="btn btn-primary" type="button" onclick="reset()"><i class="fa fa-trash">清除</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </form>
            
        </div>
    </div>
</template> 

    <div id="modal-form-contract-upload" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div>
                            <h3 class="m-t-none m-b">租約檔案上傳</h3>
                            <form action="" method="POST" style="display:inline-block;" id="form-contract-upload">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="GUID" value="1">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>欄位名稱</th>
                                            <th>內容</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>檔案名稱</td>
                                            <td><input type="text"></td>
                                        </tr>
                                        <tr>
                                            <td>選擇檔案</td>
                                            <td><input type="text"><button type="button">瀏覽...</button></td>
                                        </tr>
                                        <tr>
                                            <td>說明</td>
                                            <td><input type="text"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <tr>
                                    <td>
                                        <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal" onclick="app.addNewItem2Table10()"><strong>Upload</strong></button>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-primay" type="button" data-dismiss="modal"><strong>Cancel</strong></button>
                                    </td>
                                </tr>
                            </form>
                            <table style="margin-top: 15px;">
                                <tr>
                                    <td rowspan="2">
                                        <a class="btn btn-danger btn-circle" >
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <td><label for="">&nbsp;&nbsp;1.檔案類型限制為：JPG、PNG、GIF、PDF</label></td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <td><label for="">&nbsp;&nbsp;2.檔案大小限制為：「2MB」</label></td>
                                    </td>
                                </tr>
                            </table>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-form-rental-paid-record" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="model-body">
                    <div class="row" align="center">
                        <div style="width:90%;">
                            <h3 class="m-t-none m-b" align="left">租金繳款紀錄</h3>
                            <div style="overflow:auto;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>期別</th>
                                            <th>帳務類別</th>
                                            <th>應收金額</th>
                                            <th>減免金額</th>
                                            <th>繳款方式</th>
                                            <th>支票類別</th>
                                            <th>實際應收金額</th>
                                            <th>繳款期限</th>
                                            <th>可延遲繳款日</th>
                                            <th>實收金額</th>
                                            <th>繳款日期</th>
                                            <th>狀態</th>
                                            <th>備註</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>rowData</td>
                                            <td>rowData</td>
                                            <td>rowData</td>
                                            <td>rowData</td>
                                            <td>rowData</td>
                                            <td>rowData</td>
                                            <td>rowData</td>
                                            <td>rowData</td>
                                            <td>rowData</td>
                                            <td>rowData</td>
                                            <td>rowData</td>
                                            <td>rowData</td>
                                            <td>rowData</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



@section Scripts { 
    @Scripts.Render("~/Scripts/Rent/RentalCreateExample.js")
}



@* <div id="modal-form-publish-1" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div>
                            <h3 class="m-t-none m-b">是否上架?</h3>

                            <form method="POST" action="@Url.Action("TooglePublish")" style="display:inline-block;" id="form-delete">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="GUID" value="1">
                                <button class="btn btn-sm btn-danger" type="submit"><strong>是</strong></button>
                            </form>
                            <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>否</strong></button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
</div> *@