﻿@{
    ViewBag.Title = "Update";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>更新贈品</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboard_1", "Dashboards")">首頁</a>
            </li>
            <li>
                <a>贈品管理</a>
            </li>
            <li class="active">
                <strong>更新贈品</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>更新贈品</h5>
                </div>
                <div class="ibox-content">

                    <form method="POST" action="@Url.Action("Update")" id="update_form" class="form-horizontal">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">管轄單位</label>
                            <div class="col-sm-10">
                                Title
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">租約編號</label>
                            <div class="col-sm-10">
                                Name
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">租約類別</label>
                            <div class="col-sm-10">
                                Description
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">業務別</label>
                            <div class="col-sm-10">
                                AttributeName
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">租約類型</label>
                            <div class="col-sm-10">
                                    Inventory
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">租約事務</label>
                            <div class="col-sm-10">
                                    Inventory
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">帳號</label>
                            <div class="col-sm-10">
                                    Inventory
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    
                        <div class="form-group">
                            <label class="col-sm-2 control-label">租約狀態</label>
                            <div class="col-sm-10">
                                    Inventory
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">租賃期起</label>
                            <div class="col-sm-10">
                                    Inventory
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">租賃期迄</label>
                            <div class="col-sm-10">
                                    Inventory
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">原租約編號</label>
                            <div class="col-sm-10">
                                Inventory
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">流程狀態</label>
                            <div class="col-sm-10">
                                    Inventory
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">繳款方式</label>
                            <div class="col-sm-10">
                                Inventory
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">扣款銀行</label>
                            <div class="col-sm-10">
                                    Inventory
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">扣款帳號</label>
                            <div class="col-sm-10">
                                Inventory
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">核准日期</label>
                            <div class="col-sm-10">
                                    Inventory
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">備註事項</label>
                            <div class="col-sm-10">
                                Inventory
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">分期付款總金額</label>
                            <div class="col-sm-10">
                                    Inventory
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">分期付款描述</label>
                            <div class="col-sm-10">
                                Inventory
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">頭期款日期</label>
                            <div class="col-sm-10">
                                    Inventory
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">頭期款金額</label>
                            <div class="col-sm-10">
                                Inventory
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">分期付款期數</label>
                            <div class="col-sm-10">
                                    Inventory
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">分期付款金額</label>
                            <div class="col-sm-10">
                                Inventory
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div id="photo_region"></div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">確定</button>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="ibox-footer agile-detail">
                    <a class="btn btn-warning" href="@Url.Action("Index")">
                        <i class="fa fa-undo"></i>&nbsp;回列表頁
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script type="text/babel" src="~/Scripts/custom/custom-photo.js">
    </script>



 }


