﻿@using InspiniaWebAdminTemplate.Models.AgentFlow
@model NewViewModel

@{
    ViewBag.Title = "新增表單簽核流程";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>新增表單簽核流程</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">新增表單簽核流程</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="@Url.Action("Create")" method="post" class="form-horizontal">

                        @Html.AntiForgeryToken()

                        <div id="doc_select_region"></div>


                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <div id="flow_template_region"></div>
                            </div>

                            <div>
                                <a class="btn btn-info" href="#x" data-toggle="modal" title="選取">選取</a>
                                <div id="x" class="modal fade" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div id="flow_name_select_region"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="" class="col-sm-4" align="right">
                                        <button  class="btn btn-primary"><i class="fa fa-search">存檔</i></button>
                                        <a href="@Url.Action("Create")" class="btn btn-danger"><i class="fa fa-search">清除</i></a>
                                        <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-search">回上頁</i></a>
                                    </label>
                                </div>
                            </div>
                        </form>

                </div>
            </div>
        </div>
    </div>


</div>




@section Styles{

    <link href="~/Content/plugins/chosen/chosen.css" rel="stylesheet">
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    @Html.Partial("_VueOptionInputTemplate")
    @Html.Partial("_VueCascadeSelectTemplate")
    @Html.Partial("_VuePopupSelectTemplate")
    @*@Html.Partial("../FlowName/Vue/_RoleRegionTemplate")*@



       
    <script>

        (function ($) {
            



            var doc_select_region =new $.CascadeSelectTemplate({

                el: '#doc_select_region',
                data: {

                    title: "表單類別",
                    cascade_title: "表單編號",

                    main_model_name: "FlowType",
                    cascade_model_name: "DocID",

                    startup_main_id: '@( Model.DocTypeOptions.Any() ? Model.DocTypeOptions.First().Value : "" )',

                    main_option_list: @Html.Raw(Json.Encode(Model.DocTypeOptions)),
                    cascade_option_list_map : @Html.Raw(Json.Encode(Model.DocTypeGroupDocNameOptions)),
                },
            });
            $("select [name='FlowType']").change(function(){
                GetFlowTemplage();
            });
            GetFlowTemplage();
        })(jQuery);


        function GetFlowTemplage(){
            var path = "@Url.Action("GetFlowTemplate")"+"?oprationType="+$("select[name='FlowType']").val();
            $.ajax({
                url: path,
                type: 'POST',
                dataType: 'json',
                contentType: false,
                processData: false,
                async: true,
                //data: data,
                success: function (response) {
                    SetFlowTemplate(response);
                }
            });
        }
        function SetFlowTemplate(response){

            var flow_template_region = new $.OptionInputTemplate({

                el: '#flow_template_region',
                data: {

                    title: "套用流程範本",
                    model_name: "FlowTemplateID",

                    value: null,
                    text: "",
                },
            });
            var flow_name_select_region = new $.PopupSelectTemplate({

                el: '#flow_name_select_region',
                data: {

                    title: "選取流程範本",
                    model_name: "x",

                    flow_name_id: null,
                    flow_name_option_list: response.FlowNameOptions,
                    flow_name_group_template_option:response.FlowNameGroupFlowTemplateOptions,
                    onselect: flow_template_region.set.bind(flow_template_region),
                }
            });
        }
    </script>

}
