﻿@using InspiniaWebAdminTemplate.Models.AgentFlow
@model IndexViewModel

@{
    ViewBag.Title = "AgentFlow";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>設定表單流程</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "AgentFlow")">首頁</a>
            </li>
            <li>
                <a href="#">設定表單流程</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">

                        @Html.AntiForgeryToken()
                        
                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">表單類別</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="DocType" id="DocType" onchange="GetDocNames()">
                                        <option value=""> 全部</option>
                                        @foreach (var item in Model.DocTypeOptions) {
                                            var selected = Model.SearchCondition.DocType == item.Value ? "selected" : "";
                                            <option value="@item.Value" @selected> @item.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">表單編號</label>
                                <div class="col-sm-8">
                                    <select name="DocCode" class="form-control" id="DocName">
                                        <option value="">全部</option>
                                        @foreach (var item in Model.DocCodeOptions) {
                                            var selected = Model.SearchCondition.DocCode == item.Value ? "selected" : "";
                                            <option value="@item.Value" @selected> @item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        
                        </div>

                        <div class="row">
                            
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">設定狀態</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="IsSet">
                                    @if (Model.SearchCondition.IsSet)
                                    {
                                        <option value="True" selected="selected">已設定</option>
                                        <option value="False" >未設定</option>
                                    }
                                    else
                                    {
                                        <option value="True" >已設定</option>
                                        <option value="False" selected="selected">未設定</option>
                                    }
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">版本</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="IsLatest">
                                    @{
                                        if (Model.SearchCondition.IsLatest)
                                        {
                                            <option value="true" selected="selected">最新</option>
                                            <option value="false">全部</option>
                                        }
                                        else
                                        {
                                            <option value="true">最新</option>
                                            <option value="false" selected="selected">全部</option>
                                        }
                                    }
                                    </select>
                                </div>
                            </div>
                        
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button class="btn btn-primary"><i class="fa fa-search">查詢</i></button>
                                    <a class="btn btn-danger" href="@Url.Action("Index")"><i class="fa fa-trash">清除</i></a>
                                    <a class="btn btn-info" href="@Url.Action("Create")"><i class="fa fa-adjust">新增</i></a>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

               
                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  @Model.Page.TotalAmount 筆 第 @Model.SearchCondition.Page 頁</label>
                                    @*<a class="btn btn-sm btn-default" id="buttonDelete" href="@Url.Action("Index","Home")">回上頁</a>*@
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>表單類別</th>
                                    <th>表單編號</th>
                                    <th>表單名稱</th>
                                    <th>流程編號名稱</th>
                                    <th>版本號</th>
                                    <th>簽核流程描述</th>
                                </tr>
                            </thead>

                            <tbody>

                                @for (int index = 0; index < Model.Page.Items.Count; ++index)
                                {
                                    var item = Model.Page.Items[index];
                                    

                                    <tr>
                                        <td>@(  (Model.SearchCondition.Page - 1) * Model.SearchCondition.PageSize + index + 1)</td>
                                        <td>@item.DocTypeName</td>
                                        <td>
                                                <a href="@Url.Action("Edit", new { ID = item.DocID })">@item.DocCode</a>
                                       </td>
                                        <td>@item.DocName</td>
                                        <td>@item.FlowCodeName</td>
                                        <td>@item.Version</td>
                                        <td style="text-align:left">
                                            @if(item.Descriptions == null)
                                            {
                                                <span>未設定</span>
                                            }
                                            else
                                            {
                                                var detail = "";
                                                for (int i = 0; i < item.Descriptions.Count; ++i)
                                                {
                                                    if (i != 0) {
                                                        detail = " - ";
                                                    }
                                                    detail += item.Descriptions[i];
                                                    @detail
                                                    if (i % 4 == 3){
                                                        <br>
                                                    }
                                                }
                                            }
                                        </td>
                                    </tr>
                                }



                          </tbody>

                        </table>
                        <a id="page">
                            <div id="page_region"></div>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Html.Partial("_VuePageList")

    <script>
        //var m_docCode="";
        function GetDocNames(){ 
            var _docCode= $("#DocName").val();
            $("#DocName").removeOption("").removeOption(/./).ajaxAddOption("/AgentFlow/GetDocNames/", { docType: $("#DocType").val() }, false,function(){
                debugger
                if(_docCode!=""){
                    $("#DocName").val(_docCode);
                }
            });
        }      
        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.Page.TotalAmount,//資料庫總筆數
                    page_size: @Model.SearchCondition.PageSize,//單頁筆數
                    page_now: @Model.SearchCondition.Page,//當前頁
                    center_page: @Model.SearchCondition.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });

            GetDocNames();
        })(jQuery);
       
    </script>
}






