﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>逾期案件查詢</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">資產遭占用及催討繳管理</a>
            </li>
            <li>
                <a href="#">催繳查詢作業</a>
            </li>
            <li>
                <a href="#">逾期案件查詢</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">009電金部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001XX科</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">逾期天數</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="30" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>


                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">原租約編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約事務</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" name="RadioGroup1" value="" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>新租</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>繼承承租</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>續租</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>過戶承租</span>

                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">業務別</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" name="RadioGroup1" value="" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>自用</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>非自用</span>

                                </div>
                            </div>
                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">租約類型</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" name="RadioGroup1" value="" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>停車位</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>停車場</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>基地</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>基地使用補償</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>房屋</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>投資開發</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>空地	</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>耕地</span>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">繳款週期</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" name="RadioGroup1" value="" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>月</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>季</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>半年</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>年</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>基地</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>其他</span>

                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租賃期間</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">承租人資訊</label>
                                <div class="col-sm-6"><input type="text" class="form-control text-muted" value="名稱、身分證號、統一編號等關鍵字" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">業務別</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" name="RadioGroup1" value="" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>自用</span>
                                    <input type="checkbox" name="RadioGroup1" value=""><span>非自用</span>

                                </div>
                            </div>


                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                    <button class="btn btn-primary"><i class="fa fa-search"> 搜 尋 </i></button>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>逾期案件清單</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>租約編號</th>
                                    <th>租賃期間</th>
                                    <th>業務別</th>
                                    <th>租約類型</th>
                                    <th>承租人名稱</th>
                                    <th>承租人電話</th>
                                    <th>本期未繳</th>
                                    <th>逾兩個月</th>
                                    <th>逾三個月</th>
                                    <th>逾三個月以上</th>
                                    <th>逾期天數</th>
                                    <th>催繳案件</th>
                                </tr>
                            </thead>

                            <tbody>
                            <td>1</td>
                            <td>001_05_0001</td>
                            <td>106-1-5 ~ 108-1-4</td>
                            <td>非自用</td>
                            <td>基地</td>
                            <td>陳展元</td>
                            <td>0912111222</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>V</td>
                            <td>逾期212日</td>
                            <td><a href="#modal-form-importdatalist" data-toggle="modal" title="編輯" style="text-decoration:underline">執行中</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>001_05_0001</td>
                                <td>106-1-5 ~ 108-1-4</td>
                                <td>自用</td>
                                <td>房屋</td>
                                <td>陳展元</td>
                                <td>0912111222</td>
                                <td></td>
                                <td></td>
                                <td>V</td>
                                <td></td>
                                <td>逾期69日</td>
                                <td><a href="#modal-form-importdatalist" data-toggle="modal" title="編輯" style="color:#333;text-decoration:underline">結案</a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>001_05_0001</td>
                                <td>106-1-5 ~ 108-1-4</td>
                                <td>自用</td>
                                <td>空地</td>
                                <td>陳展元</td>
                                <td>0912111222</td>
                                <td></td>
                                <td>V</td>
                                <td></td>
                                <td></td>
                                <td>逾期49日</td>
                                <td><a href="#modal-form-importdatalist" data-toggle="modal" title="編輯" style="text-decoration:underline">起案</a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>001_05_0001</td>
                                <td>106-1-5 ~ 108-1-4</td>
                                <td>自用</td>
                                <td>基地</td>
                                <td>陳展元</td>
                                <td>0912111222</td>
                                <td>V</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>逾期21日</td>
                                <td><a href="@Url.Action("Edit","Overdue_Tmp")" class="btn btn-primary"><i class="fa fa-plus"> 新 增 </i></a></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>001_05_0001</td>
                                <td>106-1-5 ~ 108-1-4</td>
                                <td>自用</td>
                                <td>房屋</td>
                                <td>陳展元</td>
                                <td>0912111222</td>
                                <td>V</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>逾期21日</td>
                                <td><a href="#modal-form-importdatalist" data-toggle="modal" title="編輯" style="text-decoration:underline">執行中</a></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>001_05_0001</td>
                                <td>106-1-5 ~ 108-1-4</td>
                                <td>非自用</td>
                                <td>基地</td>
                                <td>陳展元</td>
                                <td>0912111222</td>
                                <td>V</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>逾期21日</td>
                                <td><a href="#modal-form-importdatalist" data-toggle="modal" title="編輯" style="color:#333;text-decoration:underline">結案</a></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>001_05_0001</td>
                                <td>106-1-5 ~ 108-1-4</td>
                                <td>自用</td>
                                <td>房屋</td>
                                <td>陳展元</td>
                                <td>0912111222</td>
                                <td>V</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>逾期21日</td>
                                <td><a href="#modal-form-importdatalist" data-toggle="modal" title="編輯" style="text-decoration:underline">起案</a></td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>001_05_0001</td>
                                <td>106-1-5 ~ 108-1-4</td>
                                <td>自用</td>
                                <td>空地</td>
                                <td>陳展元</td>
                                <td>0912111222</td>
                                <td>V</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>逾期21日</td>
                                <td><a href="#modal-form-importdatalist" data-toggle="modal" title="編輯" style="text-decoration:underline">起案</a></td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>001_05_0001</td>
                                <td>106-1-5 ~ 108-1-4</td>
                                <td>自用</td>
                                <td>基地</td>
                                <td>陳展元</td>
                                <td>0912111222</td>
                                <td>V</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>逾期21日</td>
                                <td><a href="#modal-form-importdatalist" data-toggle="modal" title="編輯" style="text-decoration:underline">起案</a></td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>001_05_0001</td>
                                <td>106-1-5 ~ 108-1-4</td>
                                <td>自用</td>
                                <td>房屋</td>
                                <td>陳展元</td>
                                <td>0912111222</td>
                                <td>V</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>逾期21日</td>
                                <td><a href="#modal-form-importdatalist" data-toggle="modal" title="編輯" style="text-decoration:underline">起案</a></td>
                            </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--lightbox-->
<div id="modal-form-importdatalist" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="row" style="margin-bottom:80px">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title" style="border:0">
                                    <h5>催繳案件記錄</h5>
                                    <div class="ibox-tools"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="table-responsive">
                                        <table class="table-condensed" style="width:100%">
                                            <tr>
                                                <td style="text-align: left">
                                                    <a href="@Url.Action("Edit","Overdue_Tmp")" class="btn btn-primary"><i class="fa fa-plus"> 新增催繳單 </i></a>
                                                </td>
                                                <td style="text-align: right"></td>
                                            </tr>
                                        </table>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>項次</th>
                                                    <th>單據編號</th>
                                                    <th>催繳方式</th>
                                                    <th>案件編號</th>
                                                    <th>摘要</th>
                                                    <th>起案日期</th>
                                                    <th>案件狀態</th>
                                                    <th>編輯</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td><a href="@Url.Action("Detail","OverdueSearch")" target="_blank">1060502G200000001</a></td>
                                                    <td>函催</td>
                                                    <td>106-00001</td>
                                                    <td>大安段催討</td>
                                                    <td>106-5-2</td>
                                                    <td>起案</td>
                                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail","OverdueSearch")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td><a href="@Url.Action("Detail","OverdueSearch")" target="_blank">1060415G200000001</a></td>
                                                    <td>函催</td>
                                                    <td>106-00002</td>
                                                    <td>106-04    函催</td>
                                                    <td>106-4-15</td>
                                                    <td>執行中</td>
                                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail","OverdueSearch")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td><a href="@Url.Action("Detail","OverdueSearch")" target="_blank">1060315G200000001</a></td>
                                                    <td>電話催繳</td>
                                                    <td>106-00003</td>
                                                    <td>106-03 電話催繳</td>
                                                    <td>106-3-15</td>
                                                    <td>結案</td>
                                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail","OverdueSearch")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
