﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>資產經營管理系統</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
        </ol>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    @{ 
                        var announcements = (Library.Servant.Servant.PostsManagement.Models.IndexResult)ViewBag.Announcement;
                        var approvals = (Library.Servant.Servant.ApprovalTodo.Models.IndexResult)ViewBag.Approval;
                        var todo = (Library.Servant.Servant.TodoListManagement.Models.IndexResult)ViewBag.Todo;
                    }
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#assignment">交辦事項(<span>@todo.TotalAmount</span>)</a></li>
                        <li class=""><a data-toggle="tab" href="#todo">案件簽核(<span>@approvals.Page.TotalAmount</span>)</a></li>
                        <li class=""><a data-toggle="tab" href="#announcement">公告(<span>@announcements.TotalAmount</span>)</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="assignment" class="tab-pane fade in active">
                            <p>@Assignment(todo)</p>
                        </div>
                        <div id="todo" class="tab-pane fade">
                            <p>@Approval(approvals)</p>
                        </div>
                        <div id="announcement" class="tab-pane fade">
                            <p>@Annoucement(announcements)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@helper Assignment(Library.Servant.Servant.TodoListManagement.Models.IndexResult result)
{
    <div class="ibox-title">
        <h5>交辦事項</h5>
    </div>

    <div class="ibox-content" style="border-color:#0c781a; border-bottom-width: 10px;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>項次</th>
                    <th>事項編號</th>
                    <th>主旨</th>
                    <th>交辦人員</th>
                    <th>送出日期</th>
                    <th>處理狀態</th>
                    <th>檢視</th>
                </tr>
            </thead>
            <tbody>
                
                @for (int index = 0; index < result.Items.Count; ++index) {
                    var item = result.Items[index];
                    <tr>
                        <td>@( index + 1  )</td>
                        <td>@item.TodoListCode</td>
                        <td>@item.TodoTitile</td>
                        <td>@item.TodoUserName</td>
                        <td>@item.CreateDateTime</td>
                        <td>@item.StatusName</td>
                        <td>
                            <a class="btn btn-primary btn-circle" href="@Url.Action("Show", "TodoListManagement", new { code = item.TodoListCode })"><i class="glyphicon glyphicon-list"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <a id="page">
            <div id="page_region"></div>
        </a>
    </div>
}

@helper Approval(Library.Servant.Servant.ApprovalTodo.Models.IndexResult result)
{
    <div class="ibox-title">
        <h5>案件簽核</h5>
    </div>

    <div class="ibox-content" style="border-color:#0c781a; border-bottom-width: 10px;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>項次</th>
                    <th>表單送出日</th>
                    <th>單據編號</th>
                    <th>表單類別</th>
                    <th>表單名稱</th>
                    <th>分行</th>
                    <th>目前簽核人員</th>
                    <th>簽核狀態</th>
                    <th>簽核流程</th>
                    <th>檢視</th>
                </tr>
            </thead>
            <tbody>

                @for (int index = 0; index < result.Page.Items.Count; ++index) {
                    var item = result.Page.Items[index];
                    <tr>
                        <td>@( index + 1  )</td>
                        <td>@item.IssueTime</td>
                        <td>@item.FormNo</td>
                        <td>@item.DocTypeName</td>
                        <td>@item.DocName</td>
                        <td>@item.BranchName</td>
                        <td>@item.CurrentApprovalUserName</td>
                        <td>@item.ApprovalStatus</td>
                        <td>@item.FlowTemplateName</td>
                        <td><a class="btn btn-primary btn-circle" href="@Url.Action("Edit", "ApprovalTodo", new { ID = item.ID })"><i class="glyphicon glyphicon-list"></i></a></td>
                    </tr>
                }

            </tbody>
        </table>
        <a id="page">
            <div id="page_region"></div>
        </a>
    </div>
}

@helper Annoucement(Library.Servant.Servant.PostsManagement.Models.IndexResult result)
{
    <div class="ibox-title">
        <h5>系統公告</h5>
    </div>

    <div class="ibox-content" style="border-color:#0c781a; border-bottom-width: 10px;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>項次</th>
                    <th>公告日期</th>
                    <th>主題類別</th>
                    <th>公告主旨</th>
                    <th>負責人</th>
                    <th>檢視</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 1; i <= result.Items.Count; i++) {
                    var item = result.Items[i - 1];
                    <tr>
                        <td>@i</td>
                        <td>@item.AnnounceDate</td>
                        <td>@item.Type</td>
                        <td>@item.AnnounceTitle</td>
                        <td>@Html.Raw(item.PrincipalName)</td>
                        <td>
                            <a class="btn btn-primary btn-circle" href="@Url.Action("Show", "PostsManagement", new { flowCode = item.FlowCode, postCode = item.PostCode })" title="編輯">
                                <i class="glyphicon glyphicon-list "></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav class="text-center">
            <ul class="pagination">
                <li class="disabled"><a>1</a></li>
            </ul>
        </nav>
    </div>
}