﻿@model InspiniaWebAdminTemplate.Models.CodeTable.DetailViewModel

<div id="root">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>系統代碼維護</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="Home">首頁</a>
                </li>
                <li>
                    <a href="CodeTable">系統代碼維護</a>
                </li>
                <li>
                    <a href="CodeTable/Detail">系統代碼明細</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>系統代碼詳細</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form id="codeDetailFrom" action="@Url.Action("Save")" class="form-horizontal" method="post">
                            <input type="hidden" id="oldinputCode" name="oldinputCode" value="2" />
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="" class="col-sm-4 control-label">代碼類別</label>
                                    <div class="col-sm-8">
                                        @{ 
                                            var attributes = new Dictionary<string, object>();

                                            attributes.Add("class", "form-control");
                                            attributes.Add("onchange", "ChangeClassName()");

                                            if (ViewBag.Create != true) {
                                                attributes.Add("disabled", true);
                                            }
                                        }

                                        @Html.HiddenFor(m => m.CodeClass)
                                        @Html.HiddenFor(m => m.CodeClassName)
                                        @Html.DropDownList("CodeClass", (SelectList)ViewBag.ClassList, attributes)
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    @*<label for="" class="col-sm-4 control-label">代碼類別名稱</label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.CodeClassName, attributes)
                                    </div>*@
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="" class="col-sm-4 control-label">代碼</label>
                                    <div class="col-sm-8">
                                        @{
                                            attributes.Clear();
                                            attributes.Add("Class", "form-control");

                                            if (ViewBag.Create == false && string.Compare(Model.CodeClass, "00") == 0) {
                                                attributes.Add("readonly", true);
                                            }
                                        }

                                        @Html.TextBoxFor(m => m.Code, attributes)
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="" class="col-sm-4 control-label">代碼名稱</label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.CodeName, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="" class="col-sm-4 control-label">參數1</label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.Parameter1, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="" class="col-sm-4 control-label">參數2</label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.Parameter2, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="" class="col-sm-4 control-label">數值1</label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.Setting1, new { @class = "form-control" })
                                        (整數6位，例:999999)

                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="" class="col-sm-4 control-label">數值2</label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.Setting2, new { @class = "form-control" })
                                        (整數4位，小數2位，例:9999.99)

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="" class="col-sm-4 control-label">數值3</label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(m => m.Setting3, new { @class = "form-control" })
                                        (整數5位，小數4位，例:99999.9999)

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="" class="col-sm-4 control-label">啟用別</label>
                                    <div class="col-sm-8">
                                        <label>@Html.RadioButtonFor(m => m.IsActive, true) 啟用</label>
                                        <label>@Html.RadioButtonFor(m => m.IsActive, false)停用</label>
                                    </div>
                                </div>

                                <div class="form-group col-sm-6">
                                    <label for="" class="col-sm-4 control-label">註銷別</label>
                                    <div class="col-sm-8">
                                        <label>@Html.RadioButtonFor(m => m.IsDeleted, false)使用中</label>
                                        <label>@Html.RadioButtonFor(m => m.IsDeleted, true)註銷</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">備註</label>
                                    <div class="col-sm-9">
                                        @Html.TextAreaFor(m => m.Remark, new { @class="form-control", @rows="3" })                                        
                                    </div>
                                </div>

                                <div class="buttons text-center">
                                    <button type="submit" class="btn btn-sm btn-success" id="buttonSave">存檔</button>
                                    <button type="reset" class="btn btn-sm btn-danger" id="buttonCencel">清除</button>
                                    <a class="btn btn-sm btn-default" id="buttonDelete" href="@Url.Action("Index")">回上頁</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>

        (function ($) {

            $(".datepicker").datepicker({
                format: "yyyy/mm/dd",
                autoclose: true,
                clearBtn: true,
                calendarWeeks: false,
                todayHighlight: true,
                language: 'zh-TW'
            });

            $(".date-trigger").on("click", function () {
                $(this).prev(".datepicker").datepicker("show");
            });

            $("#codeDetailFrom").validate({
                rules:{
                    CodeClass:{
                        required: true,
                        maxlength: 10
                    },
                    CodeClassName:{
                        required : true,
                        maxlength:120
                    },
                    Code: {
                        required: true,
                        maxlength: 20
                    },
                    CodeName:{
                        required: true,
                        maxlength: 100
                    },
                    submitHandler: function(form) {
                        form.submit();
                    }
                }
            });

        })(jQuery);

        function ChangeClassName() {
            var val = $("select[name='CodeClass'] option:selected").val();
            var text = $("select[name='CodeClass'] option:selected").text();
            $("#CodeClass").val(val);
            $("#CodeClassName").val(text);
        }

    </script>
}