﻿@model InspiniaWebAdminTemplate.Models.CodeTable.IndexViewModel

<!DOCTYPE html>

<div id="root">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>系統代碼維護</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="Home">首頁</a>
                </li>
                <li>
                    <a href="#">系統代碼維護</a>
                </li>
                <li>
                    <a href="CodeTable">設定</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>搜尋條件</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form action="@Url.Action("UpdateSearchCondition")" method="post" class="form-horizontal">
                            @Html.AntiForgeryToken()

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="" class="col-sm-4 control-label"><font color="#FF0000">＊</font>代碼類別</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("CodeClass", (SelectList)ViewBag.ClassList, new { @class= "form-control" })
                                    </div>
                                </div>

                                <div class="form-group col-sm-6">
                                    <label for="" class="col-sm-4 control-label">代碼</label>
                                    <div class="col-sm-8">
                                        @Html.TextBox("Code", Model.Condition.Code, new { @class = "form-control" })
                                        @*<input type="text" class="form-control" id="Code" name="Code" value="" />*@
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="" class="col-sm-4 control-label">啟用別</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("IsActive", (SelectList)ViewBag.ActiveList, "全部", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="" class="col-sm-4 control-label">註銷別</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("IsDeleted", (SelectList)ViewBag.CancelList, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="buttons text-center">
                                <button class="btn btn-sm btn-success" id="findit">查詢</button>
                                <button class="btn btn-sm btn-danger" id="findit">清除</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        @using (Html.BeginForm("SaveAll", "CodeTable", FormMethod.Post)) {
                            <div class="table-responsive">
                                <table class="table-condensed" width="100%">
                                    <tr>
                                        <td style="text-align: left">
                                            <label>共  @Model.TotoalAmount 筆</label>
                                            <a class="btn btn-sm btn-default" id="buttonDelete" href="javascript: history.go(-1)">回上頁</a>
                                            <!-- button class="btn btn-sm btn-default" id="buttonDelete">回上頁</button -->
                                            <a href="@Url.Action("Create")" class="btn btn-sm btn-primary">新增</a>
                                            <button type="submit" class="btn btn-sm btn-success" id="buttonSave">存檔</button>
                                            <!-- button class="btn btn-sm btn-success" id="buttonSave">存檔</button -->
                                        </td>
                                    </tr>
                                </table>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <td>序號</td>
                                            @*<td width="30"><input type="checkbox" name="selectAll" id="selectAll" onclick="checkall(this)"></td>*@
                                            <td>代碼類別</td>
                                            <td>代碼</td>
                                            <td>代碼名稱</td>
                                            <td>註銷別</td>
                                            <td>啟用</td>
                                            <td>參數1</td>
                                            <td>參數2</td>
                                            @*<td>設定值1</td>
                                            <td>設定值2</td>
                                            <td>設定值3</td>
                                            <td>備註</td>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < Model.Items.Count; i++) {
                                            <tr>
                                                <td>@(i + 1)</td>
                                                @*<td>@Html.CheckBox(String.Format("Items[{0}].IsSelected", i), Model.Items[i].IsSelected)</td>*@
                                                <td>
                                                    @Html.Hidden(String.Format("Items[{0}].CodeClass", i), Model.Items[i].CodeClass)
                                                    @Html.Raw(string.Format("{0} {1}", Model.Items[i].CodeClass, Model.Items[i].CodeClassName))
                                                </td>
                                                <td>
                                                    @Html.Hidden(String.Format("Items[{0}].Code", i), Model.Items[i].Code)
                                                    <a href="@Url.Action("Edit", new { code = Model.Items[i].Code })">@Model.Items[i].Code</a>
                                                </td>
                                                <td>@Model.Items[i].CodeName</td>
                                                <td>@Html.CheckBox(String.Format("Items[{0}].IsDeleted", i), Model.Items[i].IsDeleted) </td>
                                                <td>@Html.CheckBox(String.Format("Items[{0}].IsActive", i), Model.Items[i].IsActive) </td>
                                                <td>@Model.Items[i].Parameter1</td>
                                                <td>@Model.Items[i].Parameter2</td>
                                                @*<td>@Model.Items[i].Setting1</td>
                                                <td>@Model.Items[i].Setting2</td>
                                                <td>@Model.Items[i].Setting3</td>
                                                <td>@Model.Items[i].Remark</td>*@
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                                <a id="page">
                                    <div id="page_region"></div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.TotoalAmount,//資料庫總筆數
                    page_size: @Model.Condition.PageSize,//單頁筆數
                    page_now: @Model.Condition.Page,//當前頁
                    center_page: @Model.Condition.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
            }
            });

            $(".datepicker").datepicker({
                format: "yyyy/mm/dd",
                autoclose: true,
                clearBtn: true,
                calendarWeeks: false,
                todayHighlight: true,
                language: 'zh-TW'
            });

            $(".date-trigger").on("click", function () {
                $(this).prev(".datepicker").datepicker("show");
            });
            
        })(jQuery);

        function checkall(el){
            if ($(el).attr("checked")){
                $("input[name*=IsSelected]").attr("checked", true);                    
            }
            else {
                $("input[name*=IsSelected]").removeAttr("checked");
            }
        }

    </script>
}