﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 新增/編輯巡查案件</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.RouteUrl( new {controller = "Home" , Action="Index"})">首頁</a>
            </li>
            <li>
                <a href="#">資產評估作業</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">指定評估房屋評估作業</a>
            </li>
            <li>
                <a href="#">新增/編輯評估案件</a>
            </li>
        </ol>
    </div>
</div>
<div style="display:none">
    @ViewBag.HL
</div>
<div style="display:none">
    @ViewBag.Data
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>新增/編輯評估案件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" id="F" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.Data["ma"].TRX_Header_ID</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">分辦單位</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.Data["ma"].Office_Branch</div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">預計結案日期</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.Data["ma"].sEndDate</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">評估方式</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.Data["ma"].Source_Type</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 案件狀態</label>
                                <div class="col-sm-6 checkbox-list">
                                    
                                           @if (ViewBag.DataM["Type"].ToString() == "1")
                                           { @: <div class="col-sm-6 text-lineH-fix text-primary-re">起案</div>
                                                                                      }
                                    @if (ViewBag.DataM["Type"].ToString() == "2")
                                    { @: <div class="col-sm-6 text-lineH-fix text-primary-re">執行中</div>
                                                                                      }
                                    @if (ViewBag.DataM["Type"].ToString() == "3")
                                    { @: <div class="col-sm-6 text-lineH-fix text-primary-re">結案</div>
                                                                                      }

                                </div>
                            </div>

                        </div>

                        <div class="ibox-c-subtitle">房屋明細</div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">房屋財產編號</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.Data["l"].Asset_Number</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"></label>
                                <div class="col-sm-6" style="text-align:right"><a href="@Url.Action("ContentDetail_1","EvaluationSearch")" target="_blank" class="btn btn-gray"><i class="fa fa-search"> 查看房屋詳情 </i></a></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產分類</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.Data["l"].Asset_Category_Code</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">建物門牌</label>
                                <div class="col-sm-9 text-lineH-fix">@ViewBag.Data["l"].City_Name@ViewBag.Data["l"].District_Name @ViewBag.Data["l"].Sectioni_Name@ViewBag.Data["l"].Sub_Sectioni_Name @ViewBag.Data["l"].Build_Address</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">房屋面積</label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.Data3  m2</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">
                                    房屋主建物帳面價值<br>( 截至 @ViewBag.Data["ma"].sDeadLine )
                                </label>
                                <div class="col-sm-6 text-lineH-fix">@ViewBag.Data.logCurrent_Cost 元</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">分行查估房屋市場價值</label>
                                <div class="col-sm-4 text-primary-re text-lineH-fix">@ViewBag.Data["m"].Current_Cost</div>
                                <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>元</span></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">估價方法</label>
                                <div class="col-sm-9 text-primary-re text-lineH-fix">
                                    
                                    @if(@ViewBag.Data["m"].EvaluationType.ToString()=="0")
                                            {
                                                @:一般估價
                                             }          
                                           
                                   
                                      @if(@ViewBag.Data["m"].EvaluationType.ToString()=="1")
                                            {
                                                @:混同估價
                                             }       
                                        
                                  
                                       @if(@ViewBag.Data["m"].EvaluationType.ToString()=="2")
                                            {
                                                @:聯貸
                                             }      
                                          
                                   
                                       @if(@ViewBag.Data["m"].EvaluationType.ToString()=="3")
                                            {
                                                @:其他:
                                        @ViewBag.Data["m"].EvaluationTypeETC
                                       }      
                                   
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">評估紀錄摘要</label>
                                <div class="col-sm-8 text-primary-re text-lineH-fix">@ViewBag.Data["m"].EvaluationResult</div>
                            </div>

                        </div>
                        <!---->
                       
                        @for (int i = 0; i < @ViewBag.Data2.Count; i++)
                        {
                            <div id="DetailLand">
                            <div class="ibox-c-subtitle">土地明細</div>
                                <div class="row" id="@ViewBag.Data2[i]["m"].ID.ToString()">
                                    <div class="col-sm-6 form-group">
                                        <label for="" class="col-sm-3 control-label">土地財產編號</label>
                                        <div class="col-sm-6 text-lineH-fix">@ViewBag.Data2[i]["l"].Asset_Number</div>
                                    </div>

                                    <div class="col-sm-6 form-group">
                                        <label for="" class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6" style="text-align:right"><a href="@Url.Action("ContentDetail_2","EvaluationSearch")" target="_blank" class="btn btn-gray"><i class="fa fa-search"> 查看土地詳情 </i></a></div>
                                    </div>

                                    <div class="col-sm-6 form-group">
                                        <label for="" class="col-sm-3 control-label">資產分類</label>
                                        <div class="col-sm-6 text-lineH-fix">@ViewBag.Data2[i]["l"].Asset_Category_code</div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-sm-9 form-group">
                                        <label for="" class="col-sm-2 control-label">土地坐落</label>
                                        <div class="col-sm-9 text-lineH-fix">@ViewBag.Data2[i]["l"].City_Name@ViewBag.Data2[i]["l"].District_Name @ViewBag.Data2[i]["l"].Section_Name@ViewBag.Data2[i]["l"].Sub_Section_Name @ViewBag.Data2[i]["l"].Parent_Land_Number-@ViewBag.Data2[i]["l"].Filial_Land_Number</div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-sm-6 form-group">
                                        <label for="" class="col-sm-3 control-label">土地面積</label>
                                        <div class="col-sm-6 text-lineH-fix">@ViewBag.Data2[i]["l"].Area_Size  m2</div>
                                    </div>

                                    <div class="col-sm-6 form-group">
                                        <label for="" class="col-sm-3 control-label">建物基地權利範圍</label>
                                        <div class="col-sm-6 text-lineH-fix">@ViewBag.Data2[i]["l"].Authorized_Scope_Molecule / @ViewBag.Data2[i]["l"].Authorized_Scope_Denomminx</div>
                                    </div>

                                    <div class="col-sm-6 form-group">
                                        <label for="" class="col-sm-3 control-label">土地帳面價值<br>( 截至 @ViewBag.Data["ma"].sDeadLine )</label>
                                        <div class="col-sm-6 text-lineH-fix">@ViewBag.Data2[i].logCurrent_Cost 元</div>
                                    </div>

                                    <div class="col-sm-6 form-group">
                                        <label for="" class="col-sm-3 control-label">分行查估土地市場價值</label>
                                        <div class="col-sm-4 text-primary-re text-lineH-fix">@ViewBag.Data2[i]["m"].Current_Cost</div>
                                        <div class="col-sm-2 text-lineH-fix" style="padding:0"><span> 元</span></div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-sm-9 form-group">
                                        <label for="" class="col-sm-2 control-label">估價方法</label>
                                        <div class="col-sm-9 text-primary-re text-lineH-fix"   >
                                            @if(@ViewBag.Data2[i]["m"].EvaluationType.ToString()=="0")
                                            {
                                                @:一般估價
                                             }
                                            @if(@ViewBag.Data2[i]["m"].EvaluationType.ToString()=="1")
                                            {
                                                @:混同估價
                                             }
                                              @if(@ViewBag.Data2[i]["m"].EvaluationType.ToString()=="2")
                                            {
                                                @:聯貸
                                             }      
                                             @if(@ViewBag.Data2[i]["m"].EvaluationType.ToString()=="3")
                                            {
                                                @:其他:
                                                @ViewBag.Data2[i]["m"].EvaluationTypeETC
                                             }      
                                            
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-sm-6 form-group">
                                        <label for="" class="col-sm-3 control-label">評估紀錄摘要</label>
                                        <div class="col-sm-8 text-primary-re text-lineH-fix">@ViewBag.Data2[i]["m"].EvaluationResult</div>
                                    </div>
                                </div>
                            </div>
                        }
                        

                        <div class="ibox-c-subtitle">評估紀錄</div>
                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label">上傳執行情形報告表</label>
                            <div class="col-sm-8">
                                
                                <div style="margin-left:5px;float:left" id="prevpic"></div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label">備註</label>
                            <div class="col-sm-9 text-primary-re text-lineH-fix">@ViewBag.Data["m"].DESCRIPTION</div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="ibox-c-subtitle">評估紀錄</div>

                        <div class="table-responsive" style="margin-bottom:50px">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>評估起案時間</th>
                                        <th>評估方式</th>
                                        <th>房屋主建物帳面價值</th>
                                        <th>分行查估房屋市場價值</th>
                                        <th>單據編號</th>
                                        <th>案件狀況</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @for (int i = 0; i < ViewBag.HL.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                @if (ViewBag.HL[i].m.BeginDate.ToString() == "")
                                                {
                                                    @ViewBag.HL[i].m.BeginDate;
                                                }
                                                else
                                                {
                                                    @Html.Raw(((DateTime)@ViewBag.HL[i]["m"]["BeginDate"]).AddYears(-1911).ToString("yyy/MM/dd"));
                                                }
                                            </td>
                                            <td>@ViewBag.HL[i].ST</td>
                                            <td>@ViewBag.HL[i].CC</td>
                                            <td>@ViewBag.HL[i].d.Current_Cost</td>
                                            <td><a href="@Url.Action("Detail",new{ id = @ViewBag.HL[i].d["BID"].ToString()})" target="_blank">@ViewBag.HL[i].m.TRX_Header_ID</a></td>
                                            
                                            <td>
                                                @if (@ViewBag.HL[i].d["Type"].ToString() == "0")
                                                {
                                                    @:總行指定
                                           }
                                                @if (@ViewBag.HL[i].d["Type"].ToString() == "1")
                                                {
                                                    @:起案
                                           }
                                                @if (@ViewBag.HL[i].d["Type"].ToString() == "2")
                                                {
                                                    @:執行中
                                           }
                                                @if (@ViewBag.HL[i].d["Type"].ToString() == "3")
                                                {
                                                    @:結案
                                           }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" onclick="" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
   
   
    function Getpiclist() {
        $.ajax({
            url: "@Url.Action("GetPicList")",
            type: "POST",
            data: 'ID=' + '@ViewBag.ID',
            async: false,
            success: function (data) {
                var da = JSON.parse(data);
                console.dir(da);
                var st = "";
                for (var i = 0 ; i < da["Data"].length ; i++) {
                    st += '<div><a href="@Request.Url.GetLeftPart(UriPartial.Authority)/Content/upload/' + da["Data"][i].ID.toString()+'_' + da["Data"][i].PN.toString() + '">' + da["Data"][i].PN.toString() + '</a></div>'
                }
                $("#prevpic")[0].innerHTML = st;
            }
        });

    }
    Getpiclist();
</script>