﻿@model IEnumerable<Library.Servant.Servant.AssetCategory.Models.AssetCategoryMainKindsModel>
@foreach (var mainKinds in Model)
{
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-success">
            <h4 class="panel-heading title ">@Html.Encode($"{mainKinds.No}.{mainKinds.Name}")</h4>
            <div class="panel-body">
                <div id="SiteMapContainer">
                    <div class="SiteMap_Section clearfix">
                        <ul class="SiteMapList">
                            @foreach (var item in mainKinds.ListDetailData)
                            {
                                <li>@Html.Encode($"{mainKinds.No}.{item.No} 	{item.Name}")</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
