﻿@model IEnumerable<Library.Servant.Servant.AssetCategory.Models.AssetCategoryUseTypesModel>
<div class="col-sm-6 col-md-4">
    <div class="panel panel-info">
        <h4 class="panel-heading title ">投資自用類別</h4>
        <div class="panel-body">
            <div id="SiteMapContainer">
                <div class="SiteMap_Section clearfix">
                    <ul class="SiteMapList">
                        @foreach (var useType in Model)
                        {
                            <li>@Html.Encode($"{useType.No} 	{useType.Name}")</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
