﻿

<div id="app" class="container-fluid">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>資產類別維護</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index")">首頁</a>
                </li>
                <li>
                    <a href="#">資產類別維護</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 main" style="left: 0px; height: 1500px;">
            <div class="row">
                @{
                    Html.RenderAction("_CategoryMaps");
                }
                @{
                    Html.RenderAction("_UseTypes");
                }

            </div>
            <hr />
            <div class="row" v-show="state===0">
                <div class="form-group col-sm-1"></div>
                <div class="form-group col-sm-6">
                    <label for="" class="col-sm-4 control-label"><font color="#FF0000">＊</font>維護類別</label>
                    <div class="col-sm-8">
                        <form>
                            <label><input type="radio" name="querytype" v-bind:checked="state===1" data-target="firstForm" @@change="setState(1)" />大分類</label>
                            <label><input type="radio" name="querytype" v-bind:checked="state===2" data-target="secondForm" @@change="setState(2)" />明細分類</label>
                            <label><input type="radio" name="querytype" v-bind:checked="state===3" data-target="thirdForm" @@change="setState(3)" />投資自用類別</label>
                            <label><input type="radio" name="querytype" v-bind:checked="state===4" data-target="fourthForm" @@change="setState(4)" />類別明細項目</label>
                        </form>
                    </div>
                    <div>
                        @Html.ValidationMessage("Summary", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <form id="firstForm" method="post" action="" class="form-horizontal" v-show="state===1">
                @Html.AntiForgeryToken()
                <h2 class="Title">資產大類</h2>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="" class="col-sm-4 control-label">資產大類類別</label>
                        <div class="col-sm-8">
                            <select name="MainKinds" v-model="selectedMainKind" id="MainKinds" class="form-control" @@change="getDetailKinds();setCurrentMainKinds()">
                                <option v-for="mainKind in mainKinds" v-bind:value="mainKind">{{mainKind.name}} </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="" class="col-sm-4 control-label">資產大類代碼</label>
                        <div class="col-sm-8">
                            <input type="text" id="firstMainKind" name="No" class="form-control" v-model="currentMainKind.no" />
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="" class="col-sm-4 control-label">資產大類名稱</label>
                        <div class="col-sm-8">
                            <input type="text" name="Name" class="form-control" v-model="currentMainKind.name" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-sm btn-primary" v-on:click="ModifyMainKind('post')">儲存</button>
                        <button type="button" class="btn btn-sm btn-danger" v-on:click="ModifyMainKind('delete')">刪除</button>
                        <button type="button" class="btn btn-sm btn-default" v-on:click="setState(0)">取消</button>
                    </div>
                </div>
            </form>

            <form id="secondForm" method="post" action="" class="form-horizontal" v-show="state===2">
                @Html.AntiForgeryToken()
                <input type="hidden" name="Main_Kind_ID" v-bind:value="currentMainKind.id" />
                <input type="hidden" name="ID" v-model="currentDetailKind.id"/>
                <h2 class="Title">資產明細類別維護</h2>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="" class="col-sm-4 control-label">資產大類類別</label>
                        <div class="col-sm-8">
                            <select name="MainKinds" v-model="selectedMainKind" id="MainKinds" class="form-control" @@change="getDetailKinds();setCurrentMainKinds();setCurrentDetailKind()">
                                <option v-for="mainKind in mainKinds" v-bind:value="mainKind">{{mainKind.name}} </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label for="" class="col-sm-4 control-label">資產明細類別</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="DetailKinds" id="DetailKinds" v-model="selectedDetailKind" @@change="setCurrentDetailKind()">
                                <option v-for="detailKind in detailKinds" v-bind:value="detailKind">{{detailKind.name}} </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="" class="col-sm-4 control-label">資產明細類別代碼</label>
                        <div class="col-sm-8">
                            <input type="text" name="no" id="no" class="form-control" v-model="currentDetailKind.no" />

                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="" class="col-sm-4 control-label">資產明細類別名稱</label>
                        <div class="col-sm-8">
                            <input type="text" name="name" id="name" class="form-control" v-model="currentDetailKind.name" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="" class="col-sm-4 control-label">資產類別代碼與名稱</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="comboName" disabled name="comboName" value="1.010202 營業用房屋基地 " v-bind:value="currentMainKind.no + '.' + currentDetailKind.no + '  ' + currentDetailKind.name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-sm btn-success" v-on:click="ModifyDetailKind('post')">新增</button>
                        <button type="button" class="btn btn-sm btn-primary" v-on:click="ModifyDetailKind('update')">儲存</button>
                        <button type="button" class="btn btn-sm btn-danger" v-on:click="ModifyDetailKind('delete')">刪除</button>
                        <button type="button" class="btn btn-sm btn-default" v-on:click="setState(0)">取消</button>
                    </div>
                </div>
            </form>

            <form id="thirdForm" method="post" action="" class="form-horizontal" v-show="state===3">
                @Html.AntiForgeryToken()
                <h2 class="Title">投資自用類別維護</h2>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="" class="col-sm-4 control-label">投資自用類別</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="UseTypes" v-model="selectedUseType" @@change="setCurrentUseType()">
                                <option v-for="useType in useTypes" v-bind:value="useType">{{useType.name}} </option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="" class="col-sm-4 control-label">投資自用類別</label>
                        <div class="col-sm-8">
                            <input type="text" name="no" class="form-control" v-model="currentUseType.no" />
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="" class="col-sm-4 control-label">投資自用類別名稱</label>
                        <div class="col-sm-8">
                            <input type="text" name="name" class="form-control" v-model="currentUseType.name" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-sm btn-primary" v-on:click="ModifyUseType('post')">儲存</button>
                        <button type="button" class="btn btn-sm btn-danger" v-on:click="ModifyUseType('delete')">刪除</button>
                        <button type="button" class="btn btn-sm btn-default" v-on:click="setState(0)">取消</button>
                    </div>
                </div>
            </form>

            <form id="fourthForm" method="post" action="" class="form-horizontal" v-show="state===4">
                @Html.AntiForgeryToken()
                <input type="hidden" name="Main_Kind_ID" v-bind:value="selectedMainKind.id" />
                <input type="hidden" name="Detail_Kind_ID" v-bind:value="selectedDetailKind.id" />
                <input type="hidden" name="Use_Type_ID" v-bind:value="selectedUseType.id" />
                <h2 class="Title">資產類別明細項目彙總維護</h2>
                <div class="row">
                    <div class="form-group col-sm-10">
                        <label class="col-sm-2 control-label">資產大分類</label>
                        <div class="col-sm-2">
                            <select name="mainKind" v-model="selectedMainKind" id="MainKinds" class="form-control" @@change="getDetailKinds();setCategory()">
                                <option v-for="mainKind in mainKinds" v-bind:value="mainKind">{{mainKind.name}} </option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">資產小分類</label>
                        <div class="col-sm-2">
                            <select name="detailKind" class="form-control" v-model="selectedDetailKind" @@change="setCategory()">
                                <option v-for="detailKind in detailKinds" v-bind:value="detailKind">{{detailKind.name}} </option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">投資自用類別</label>
                        <div class="col-sm-2">
                            <select name="useType" class="form-control" v-model="selectedUseType " @@change="setCategory()">
                                <option v-for="useType in useTypes" v-bind:value="useType">{{useType.name}} </option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="" class="col-sm-4 control-label">資產類別代碼與名稱</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="comboName" name="comboName" v-bind:value="Category" readonly="">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-sm btn-primary" v-on:click="ModifyCategory('post')">新增</button>
                        <button type="button" class="btn btn-sm btn-danger" v-on:click="ModifyCategory('delete')">刪除</button>
                        <button type="button" class="btn btn-sm btn-default" v-on:click="setState(0)">取消</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>

@*<div id="app">
        <button type="button" v-on:click="test()"></button>
        {{message}}
    </div>*@
@section scripts{
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello World!',
                mainKinds: [],
                detailKinds: [],
                useTypes: [],
                selectedMainKind: { id: 0, name: '', no: '' },
                selectedDetailKind: { id: 0, name: '', no: '' },
                selectedUseType: { id: 0, name: '', no: '' },
                currentMainKind: { id: 0, name: '', no: '' },
                currentDetailKind: { id: 0, name: '', no: '' },
                currentUseType: { id: 0, name: '', no: '' },
                Category: '',
                state: 0,
                rdoValue: 0
            },
            mounted: function () {
                this.init();
            },
            methods: {
                init: function () {
                    this.getMainKinds();
                    this.getDetailKinds();
                    this.getUseTypes();
                    this.state = 0;
                },
                getMainKinds: function () {
                    var p = this;
                    this.mainKinds.splice(0, this.mainKinds.length);
                    AS_LandBank.AssetClassifies.GetMainKinds(function (data) {
                        $.each(data, function (i, val) {
                            p.mainKinds.push({ id: val.ID, no: val.Value, name: val.Key });
                        });
                    });
                },
                getDetailKinds: function () {
                    var p = this;
                    this.detailKinds.splice(0, this.detailKinds.length);
                    AS_LandBank.AssetClassifies.GetDetailKinds(this.selectedMainKind.no, function (data) {
                        $.each(data, function (i, val) {
                            p.detailKinds.push({ id: val.ID, no: val.Value, name: val.Key });
                        });
                    });
                },
                getUseTypes: function () {
                    var p = this;
                    this.useTypes.splice(0, this.useTypes.length);
                    AS_LandBank.AssetClassifies.GetUseTypes(function (data) {
                        $.each(data, function (i, val) {
                            p.useTypes.push({ id: val.ID, no: val.Value, name: val.Key });
                        });
                    });
                },
                setCurrentMainKinds: function () {
                    this.currentMainKind = this.selectedMainKind;
                },
                setCurrentDetailKind: function () {
                    this.currentDetailKind.id = this.selectedDetailKind.id
                    this.currentDetailKind.no = this.selectedDetailKind.no;
                    this.currentDetailKind.name = this.selectedDetailKind.name;
                },
                setCurrentUseType: function () {
                    this.currentUseType = this.selectedUseType;
                },
                setCategory: function () {
                    this.Category = this.selectedMainKind.no + '.' +
                        this.selectedDetailKind.no + '.' +
                        this.selectedUseType.no + ' ' +
                        this.selectedDetailKind.name + '-' +
                        this.selectedUseType.name
                },
                ModifyMainKind: function (action) {
                    let frm = $('#firstForm');
                    if (action == 'post') {
                        frm.attr("action", '@Url.Action("ModifyMainKind")');
                        frm.submit();
                    } else {
                        Utility.LightBox.confirm("訊息確認", "是否確定刪除？", "確定", "取消", function () {
                            frm.attr("action", '@Url.Action("DeleteMainKind")');
                            frm.submit();
                        });
                    }
                },
                ModifyDetailKind: function (action) {
                    let frm = $('#secondForm');
                    if (action == 'post') {
                        //if (frm.find('[id="MainKinds"]').val()==null || frm.find('[id="MainKinds"]').val()=="") {
                        //    alert("請選擇資產大類類別");
                        //    return false;
                        //}
                        if ($("#secondForm").valid()) {
                            frm.attr("action", '@Url.Action("AddDetailKind")');
                            frm.submit();
                        }
                    } else if (action == 'update') {
                        frm.attr("action", '@Url.Action("ModifyDetailKind")');
                        frm.submit();
                    }
                    else {
                        Utility.LightBox.confirm("訊息確認", "是否確定刪除？", "確定", "取消", function () {
                            frm.attr("action", '@Url.Action("DeleteDetailKind")');
                            frm.submit();
                        });
                    }
                },
                ModifyUseType: function (action) {
                    let frm = $('#thirdForm');
                    if (action == 'post') {
                        frm.attr("action", '@Url.Action("ModifyUseType")');
                        frm.submit();

                    } else {
                        Utility.LightBox.confirm("訊息確認", "是否確定刪除？", "確定", "取消", function () {
                            frm.attr("action", '@Url.Action("DeleteUseType")');
                            frm.submit();
                        });
                    }
                },
                ModifyCategory: function (action) {
                    let frm = $('#fourthForm');
                    if (action == 'post') {
                        frm.attr("action", '@Url.Action("AddNewCategory")');
                        frm.submit();

                    } else {
                        Utility.LightBox.confirm("訊息確認", "是否確定刪除？", "確定", "取消", function () {
                            frm.attr("action", '@Url.Action("DeleteCategory")');
                            frm.submit();
                        });
                    }
                },
                setState: function (state) {
                    if (state === 0) {
                        location.reload();
                    }
                    this.state = state;
                }
            }
        });
        (function ($) {
            $.validator.messages.required = '必填';
            $.validator.messages.maxlength = '不能多於 {0} 個文字';
            $.validator.messages.digits = '請輸入數字';

            $("#secondForm").validate({
                rules: {
                    MainKinds: { required: true },
                    no: { required: true },
                    name: { required: true }
                }//,
                //submitHandler: function (form) {
                //    app.ModifyDetailKind();
                //}
            }
            );
        })(jQuery);
    </script>
}
