﻿@model Library.Servant.Servant.AccountingBook.Models.DetailResult

@{
    ViewBag.Title = "管理帳本";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>管理帳本</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">管理帳本</a>
            </li>
        </ol>
    </div>
</div>

    <div id="app" class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>帳本資料</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal" id="updateForm">
                            <input type="hidden" id="ID" value="@Model.ID" />
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">帳本類別</label>
                                    <div class="col-sm-8">
                                        <input class="form-control text-box single-line" type="text" v-model="CodeTable.CombinClass" disabled/>
                                    </div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label"><span style="color:red">*</span>帳本代碼</label>
                                    <div class="col-sm-8">
                                        <input class="form-control text-box single-line" id="CodeID" name="CodeID" type="text" v-model="CodeTable.CodeId">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">啟用別</label>
                                    <div class="col-sm-8">
                                        <label class="control-label"><input id="isActive" type="radio" name="IsActive" value="1" @(Model.IsActive ? "checked" : "") />啟用</label>
                                        <label class="control-label"><input type="radio" name="IsActive" value="0" @(Model.IsActive ? "" : "checked") />停用</label>
                                    </div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">帳本名稱</label>
                                    <div class="col-sm-8">
                                        <input class="form-control text-box single-line" id="Text" name="Text" type="text" v-model="CodeTable.Text">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">註銷別</label>
                                    <div class="col-sm-8">
                                        <label class="control-label"><input type="radio" name="CancelCode" value="1" @(Model.CancelCode ? "" : "checked") />使用中</label>
                                        <label class="control-label"><input id="isCancel" type="radio" name="CancelCode" value="0" @(Model.CancelCode ? "checked" : "")/>註銷</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label for="" class="col-sm-2 control-label">備註</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="3" name="remark" id="remark" v-model="CodeTable.Remark"> </textarea>
                                    </div>

                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="" class="col-sm-4" align="right">
                                        <button type="button" class="btn btn-primary" onclick="checkFormData()">存檔</button>
                                        <a class="btn btn-danger" href="@Url.Action("Index")">取消</a>
                                    </label>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "儲存成功" } });
@section Scripts{
    <script type="text/javascript">

        function checkFormData()
        {
            var updatePath = "@Url.Action("Update")";
            var data = new FormData();
            data.append("ID", $("#ID").val());
            data.append("CodeID", $("#CodeID").val());
            data.append("Text", $("#Text").val());
            data.append("IsActive", $("#isActive").prop("checked"));
            data.append("CancelCode", $("#isCancel").prop("checked"));
            data.append("Remark", $("#remark").val());
            
            $.ajax({
                url: updatePath,
                type: 'POST',
                dataType: 'json',
                contentType: false,
                processData: false,
                async: true,
                data: data,
                success: function (message) { successHandler(message); } 
            });
        }

        var app = new Vue({
            el: '#app',
            data: {
                CodeTable: {
                    CodeId: '@Model.CodeID',
                    Text: '@Model.Text',
                    Class: '@Model.Class' ,
                    ClassName: '@Model.ClassName',
                    Remark: '@Model.Remark',
                    CombinClass:'@Model.Class' + '@Model.ClassName'
                },
            },
            mounted: function () {
                this.init();
            },
            methods: {
                init: function () {
                },
            }
        });
    </script>
}