﻿@using InspiniaWebAdminTemplate.Models.Accounting;
@model AccountingBookList

@{
    ViewBag.Title = "Accounting Book";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>帳本設定維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">帳本設定維護</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="@Url.Action("Query")" class="form-horizontal" method="post" id="QueryForm">
                        <input type="hidden" name="CurrentPage" id="CurrentPage" value="@Model.CurrentPage"/>
                        <input type="hidden" name="PageSize" id="PageSize" value="@Model.PageSize"/>
                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">帳本類別</label>
                                <div class="col-sm-8">
                                    <label class="control-label"><input type="radio" name="AccountBookType" value="V01" @(Model.AccountBookType=="V01" ? "checked" : "") />一般</label>
                                    <label class="control-label"><input type="radio" name="AccountBookType" value="V02" @(Model.AccountBookType=="V02" ? "checked" : "") />含稅務</label>
                                    <label class="control-label"><input type="radio" name="AccountBookType" value="" @(String.IsNullOrEmpty(Model.AccountBookType) ? "checked" : "") />全部</label>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">代碼</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AccountBookCode" id="AccountBookCode" value="@(String.IsNullOrEmpty(Model.AccountBookCode) ? String.Empty : Model.AccountBookCode)">
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">啟用別</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="IsActive" name="IsActive">
                                        <option value="2" @(Model.IsActive==2? "checked" : "")>全部</option>
                                        <option value="1" @(Model.IsActive==1? "checked" : "")>啟用</option>
                                        <option value="0" @(Model.IsActive==0? "checked" : "")>停用</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">註銷別</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="IsCancel" name="IsCancel">
                                        <option value="2" @(Model.IsCancel==2? "checked" : "")>全部</option>
                                        <option value="0" @(Model.IsCancel==0? "checked" : "")>使用中</option>
                                        <option value="1" @(Model.IsCancel==1? "checked" : "")>註銷</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button type="button" class="btn btn-primary" onclick="submitForm();"><i class="fa fa-search">查詢</i></button>
                                    <button type="button" class="btn btn-danger" onclick="resetForm();"><i class="fa fa-trash">清除</i></button>
                                    <a href="@Url.Action("Create")" type="button" class="btn btn-info"><i class="fa fa-trash">新增</i></a>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">


                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  @Model.Items.TotalAmount 筆 第 @Model.CurrentPage 頁</label>
                                    <a class="btn btn-sm btn-default" id="buttonDelete" href="@Url.Action("Index","Home")">回上頁</a>
                                    <button class="btn btn-sm btn-success" id="buttonSave" onclick="batchSave()">存檔</button>
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th>
                                        <input type="checkbox" onclick="chceckAll(this.checked)">
                                    </th>
                                    <th>帳本類別</th>
                                    <th>帳本代碼</th>
                                    <th>帳本名稱</th>
                                    <th>啟用</th>
                                    <th>註銷別</th>
                                    <th>備註</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int i = 0; i < Model.Items.Items.Count; i++)
                                {
                                    var item = Model.Items.Items[i];
                                    string activeChecked = item.IsActive ? "checked" : String.Empty;
                                    string cancelChecked = item.CancelCode ? "checked" : String.Empty;

                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td><input type="checkbox" value="@item.ID" name="batchUpdate" /></td>
                                        <td>@item.ClassName</td>
                                        <td><a href="@Url.Action("Detail", new { id= item.ID})">@item.CodeID</a></td>
                                        <td>@item.Text</td>
                                        <td><input type="checkbox" name="batchActive" id="a_@item.ID" value="@item.ID" @activeChecked /></td>
                                        <td><input type="checkbox" name="batchCancel" id="c_@item.ID" value="@item.ID" @cancelChecked /></td>
                                        <td>@item.Remark</td>
                                    </tr>
                                }
                           </tbody>

                        </table>

                        <a id="page">
                            <div id="page_region">


                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "儲存成功" } });
@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        //page functions
        function resetForm() {
            $("input[name=AccountBookType][value='V01']").attr('checked', true);
            $("#AccountBookCode").attr("value", "");
            $("#IsActive").attr("value", "2");
            $("#IsCancel").attr("value", "2");
        }

        function submitForm() {
            $("#QueryForm").submit();
        }

        function chceckAll(currentValue) {
            $("input[name=batchUpdate]").each(function () {
                this.checked = currentValue;
            });
        }

        function batchSave() {
            var list = [];
            $("input[name=batchUpdate]").each(function () {
                if (this.checked) {

                    var isActive = $("#a_" + this.value).prop("checked");
                    var isCancel = $("#c_" + this.value).prop("checked");
                    var item = {
                        ID: this.value,
                        IsActive: isActive,
                        IsCancel: isCancel
                    };
                    list.push(item);
                }
            });

            if (list.length > 0) {
                var data = JSON.stringify(list);

                var path = "@Url.Action("BatchUpdate")";

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json",
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) { successHandler(message); }
                });
            }

        }

        function successHandler(message) {
            //console.log(message);
            if (message.IsSuccess) {
                $("#message").text("儲存成功");
                $("#messageModal").modal();
            }
            else {
                $("#message").text(message.message);
                $("#messageModal").modal();
            }
        }

        function toPage(page) {
            $("#CurrentPage").val(page);
            $("#QueryForm").submit();
        }

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.Items.TotalAmount,//資料庫總筆數
                    page_size: 10,//單頁筆數
                    page_now: @Model.CurrentPage,//當前頁
                    center_page: @Model.CurrentPage,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "", // 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                    pageFunc: toPage
                }
            });


        })(jQuery);

    </script>

}


