﻿
@model InspiniaWebAdminTemplate.Models.Accounting.AccountingImpairmGroupDetailModel

@{
    ViewBag.Title = "資產現金單位維護";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>資產現金單位維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">資產現金單位維護</a>
            </li>
        </ol>
    </div>
</div>

<div id="app" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>保管資產現金單位資料</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" id="updateForm">
                        <input type="hidden" id="ID" value="@Model.Result.ID" />
                        @{ 
                            string mainKind = "";
                            string detailKind = "";
                            if (Model.Result.AssetCategoryCode != "")
                            {
                                string[] codes = Model.Result.AssetCategoryCode.Split('.');
                                mainKind = codes[0];
                                if(codes.Length > 1)
                                {
                                    detailKind = codes[1];
                                }
                            }
                        }
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">資產減損編號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="ImpairmGroupNo" name="ImpairmGroupNo" value="@Model.Result.ImpairmGroupNo"/>
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">申報資產大分類</label>
                                <div class="col-sm-8">
                                    <select id="MainKind" class="form-control" onchange="changeDetailKinds()">
                                        @foreach (var item in Model.MainKinds)
                                        {
                                            <option value="@item.Value" @(item.Value == mainKind ? "selected" : "")>@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">申報資產明細分類</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="DetailKind">
                                        <option value="" @(String.IsNullOrEmpty(detailKind) ? "selected" : "")></option>
                                        @foreach (var item in Model.DetailKinds)
                                        {
                                            if (item.Extend == mainKind)
                                            {
                                                <option value="@item.Value" @(item.Value==detailKind? "selected":"")>@item.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">投資/自用別</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="UseType">
                                        <option value=""></option>
                                        @foreach(var item in Model.UseTypes)
                                        {
                                            <option value="@item.Value" @(item.Value == Model.Result.UseType?"selected":"")>@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">申報會計科目</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Account" name="Account" value="@Model.Result.Account" onchange="fillAccountName()">
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">申報會計科目名稱</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="AccountName" value="@Model.Result.AccountName" >
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-6" align="right">

                                    <a class="btn btn-primary" onclick="checkForm()">儲存</a>
                                    <a class="btn btn-default" onclick="resetForm()">清除</a>
                                    @if (Model.Result.ID > 0)
                                    {
                                        <a class="btn btn-danger" onclick="deleteGroup()">刪除</a>
                                    }
                                    <a class="btn btn-default" onclick="window.history.go(-1)">回上一頁</a>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-delete" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">是否要刪除此資料?</h3>
                        <p>刪除資料後，資料無法回復，請確認刪除。</p>
                        <button class="btn btn-sm btn-danger" data-dismiss="modal" type="button" onclick="doDelete()"><strong>是</strong></button>
                        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><strong>否</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "儲存成功" } });
@section Scripts{
    <script type="text/javascript">

        var details = @Html.Raw(Json.Encode(Model.DetailKinds));

        function changeDetailKinds()
        {
            var mainKind = $("#MainKind").val();
            $("#DetailKind option").remove();
            $("#DetailKind").append($("<option></option>").attr("value", "").text(""));

            for (var i = 0; i < details.length; i++)
            {
                var item = details[i];
                if (item.Extend == mainKind)
                {
                    $("#DetailKind").append($("<option></option>").attr("value", item.Value).text(item.Name));
                }
            }
        }

        function fillAccountName()
        {
            var path = "@Url.Action("GetAccountSubject")";
            var data = new FormData();
            data.append("Account", $("#Account").val());

            $.ajax({
                url: path,
                type: 'POST',
                dataType: 'json',
                contentType: false,
                processData: false,
                async: true,
                data: data,
                success: function (message) {
                    $("#AccountName").val(message.Account_Name);
                }
            });
        }

        function checkForm() {

            if ($("#updateForm").valid()) {
                var assetCode = $("#MainKind").val();
                var code2 = $("#DetailKind").val();
                if (code2 != "") {
                    assetCode += "." + code2;
                }

                var path = "@Url.Action("Save")";

                var data = new FormData();
                data.append("ID", $("#ID").val());
                data.append("ImpairmGroupNo", $("#ImpairmGroupNo").val());
                data.append("UseType", $("#UseType").val());
                data.append("Account", $("#Account").val());
                data.append("AssetCategoryCode", assetCode);

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) { successHandler(message); }
                });
            }
        }

        function resetForm() {
            $("#MainKind option:eq(0)").prop("selected", true);
            $("#DetailKind option:eq(0)").prop("selected", true);
            $("#UseType option:eq(0)").prop("selected", true);

            $("#Account").val("");
            $("#AccountName").val("");
        }

        function deleteGroup()
        {
            $("#modal-form-delete").modal();
        }

        function doDelete() {

            var list = [];
            list.push($("#ID").val());

            if (list.length > 0)
            {
                var data = {
                    IDList : list
                };
                data = JSON.stringify(data);

                var path = "@Url.Action("BatchDelete")";

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json",
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) { deleteMessage(message); }
                });
            }
        }

        function deleteMessage(message)
        {
            if (message.IsSuccess)
            {
                this.location.href = "@Url.Action("Index")";
            }
        }

        (function ($) {


        })(jQuery);

    </script>
}
