﻿@using InspiniaWebAdminTemplate.Models.Accounting;
@model AccountingImpairmGroupIndexModel
@{
    ViewBag.Title = "資產現金單位維護";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>資產現金單位維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">資產現金單位維護</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="@Url.Action("Query")" class="form-horizontal" id="queryForm">
                        <input type="hidden" id="CurrentPage" name="CurrentPage" value="@Model.Results.Conditions.CurrentPage" />
                        <input type="hidden" name="PageSize" value="@Model.Results.Conditions.PageSize" />

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">減損編號</label>
                                <div class="input-group col-sm-8">
                                    <input type="text" class="input-sm form-control" id="FromNo" value="" />
                                    <span class="input-group-addon">~</span>
                                    <input type="text" class="input-sm form-control" id="ToNo" value="" />

                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">申報資產分類</label>
                                <div class="col-sm-8">
                                    <select id="MainKind" name="MainKind" class="form-control" onchange="changeDetailKinds()">
                                        @foreach (var item in Model.MainKinds)
                                        {
                                            <option value="@item.Value" @(item.Value == Model.Results.Conditions.MainKind ? "selected" : "")>@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">申報資產明細分類</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="DetailKind" name="DetailKind">
                                        <option value="" @(String.IsNullOrEmpty(Model.Results.Conditions.DetailKind) ? "selected" : "")></option>
                                        @foreach (var item in Model.DetailKinds)
                                        {
                                            if (item.Extend == Model.Results.Conditions.MainKind)
                                            {
                                                <option value="@item.Value" @(item.Value == Model.Results.Conditions.DetailKind ? "selected" : "")>@item.Name</option>
                                            }
                                        }
                                    </select>

                                </div>

                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">申報投資自用別</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="UseType" name="UseType">
                                        <option value=""></option>
                                        @foreach (var item in Model.UseTypes)
                                        {
                                            <option value="@item.Value" @(item.Value == Model.Results.Conditions.UseType ? "selected" : "")>@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">申報會計科目</label>
                                <div class="input-group col-sm-8">
                                    <input type="text" class="input-sm form-control" name="FromSubject" value=""  />
                                    <span class="input-group-addon">~</span>
                                    <input type="text" class="input-sm form-control" name="ToSubject" value="" />
                                </div>
                            </div>


                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <a href="@Url.Action("Create")" class="btn btn-primary">新增</a>
                                    <button type="button" class="btn btn-success"onclick="checkQueryForm()" >查詢</button>
                                    <button type="button" class="btn btn-danger" onclick="resetForm()">清除</button>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">


                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  @Model.Results.Results.TotalAmount 筆 第 @Model.Results.Conditions.CurrentPage 頁</label>
                                    <a class="btn btn-sm btn-default" href="@Url.Action("Index","ImpairmGroup")">回上頁</a>
                                    <button class="btn btn-sm btn-danger" onclick="batchDelete()">刪除</button>
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th><input type="checkbox" onclick="chceckAll(this.value)" style="width:13px;"></th>
                                    <th>資產減損編號</th>
                                    <th>資產分類</th>
                                    <th>投資/自用類</th>
                                    <th>申報會計科目</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int i = 0; i < Model.Results.Results.Items.Count; i++)
                                {
                                    var item = Model.Results.Results.Items[i];
                                    string useTypeName = "";
                                    if (item.UseType != null)
                                    {
                                        useTypeName = Model.UseTypes.First(x => x.Value == item.UseType).Name;
                                    }
                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td><input type="checkbox" value="@item.ID" name="batch" style="width:13px;" /></td>
                                        <td><a href="@Url.Action("Detail", new { id=item.ID})">@item.ImpairmGroupNo</a></td>
                                        <td>@item.AssetCategoryCode</td>
                                        <td>@useTypeName</td>
                                        <td>@item.Account</td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal-form-delete" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">是否要刪除此資料?</h3>
                        <p>刪除資料後，資料無法回復，請確認刪除。</p>
                        <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal" onclick="doBatchDelete()"><strong>是</strong></button>
                        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><strong>否</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "刪除成功" }, { "CallBack", "goToIndex()" } });

@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        var details = @Html.Raw(Json.Encode(Model.DetailKinds));

        function changeDetailKinds()
        {
            var mainKind = $("#MainKind").val();
            $("#DetailKind option").remove();
            $("#DetailKind").append($("<option></option>").attr("value", "").text(""));

            for (var i = 0; i < details.length; i++)
            {
                var item = details[i];
                if (item.Extend == mainKind)
                {
                    $("#DetailKind").append($("<option></option>").attr("value", item.Value).text(item.Name));
                }
            }
        }

        function chceckAll(currentValue) {
            $("input[name=batch]").each(function () {
                this.checked = currentValue;
            });
        }

        function batchDelete() {
            var checkList = [];
            $("input[name=batch]").each(function () {
                if (this.checked) {
                    checkList.push(this.value);
                }
            });
            console.log(checkList);
            if (checkList.length > 0) {
                $("#modal-form-delete").modal();
            }
        }

        function doBatchDelete()
        {
            var list = [];
            $("input[name=batch]").each(function () {
                if (this.checked) {
                    list.push(this.value);
                }
            });

            if (list.length > 0)
            {
                var data = {
                    IDList: list,
                    LastUpdateBy: 0
                };
                data = JSON.stringify(data);
                console.log(data);

                var path = "@Url.Action("BatchDelete")";

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json",
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) { successHandler(message); }
                });
            }
        }

        function goToIndex() {
            //location.reload();
            $("#queryForm").submit();
        }

        function checkQueryForm()
        {
            $("#queryForm").submit();
        }
        function resetForm()
        {

        }

        function toPage(page)
        {
            $("#CurrentPage").val(page);
            $("#queryForm").submit();
        }

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.Results.Results.TotalAmount,//資料庫總筆數
                    page_size: @Model.Results.Conditions.PageSize,//單頁筆數
                    page_now: @Model.Results.Conditions.CurrentPage,//當前頁
                    center_page: 1,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "",
                    pageFunc: toPage
                }
            });


        })(jQuery);

    </script>

}




