﻿@model InspiniaWebAdminTemplate.Models.Accounting.AccountingSubjectDetailModel

@{
    ViewBag.Title = "會計科目維護";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>會計科目維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">會計科目維護</a>
            </li>
        </ol>
    </div>
</div>

<div id="app" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>會計科目維護</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" id="updateForm">
                        <input type="hidden" id="ID" value="@Model.Result.ID" />

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">帳簿類別</label>
                                <div class="col-sm-8">
                                    <select name="AccountingBook" id="AccountingBook" class="form-control">
                                        @foreach (var item in Model.AccountingBooks)
                                        {
                                            <option value="@item.Value" @(item.Value == Model.Result.AccountingBook? "selected" : "")>@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-sm-6">

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">科子細目編號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Account" name="Account" value="@Model.Result.Account">
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">IFRS會計科目</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="IFRSAccount" name="IFRSAccount" value="@Model.Result.IFRSAccount">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">科子細目名稱</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="AccountName" name="AccountName" value="@Model.Result.AccountName">
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">資產負債別</label>
                                <div class="col-sm-8">
                                    <label>
                                        <input type="radio" name="AssetLiablty" value="A" @(Model.Result.AssetLiablty=="A" ? "checked" : "")/>資產
                                    </label>
                                    <label>
                                        <input type="radio" name="AssetLiablty" value="L" @(Model.Result.AssetLiablty=="L" ? "checked" : "")/>負債
                                    </label>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">啟用日期</label>
                                <div class="col-sm-8">
                                    <div class='input-group date' id='datetimepicker2' data-date-format="yyyy-MM-dd">
                                        <input type='text' id='OpenDate' class="form-control datepicker" name="OpenDate" value="@(Model.Result.OpenDate.ToString("yyyy-MM-dd"))" readonly />
                                        <span class="input-group-addon date-trigger"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">刪除日期</label>
                                <div class="col-sm-8">
                                    <div class='input-group date' id='datetimepicker2' data-date-format="yyyy-MM-dd">
                                        <input type='text' id='CancelDate' class="form-control datepicker" name="CancelDate" value="@(Model.Result.CancelDate==null? "":Model.Result.CancelDate.ToString("yyyy-MM-dd"))" readonly />
                                        <span class="input-group-addon date-trigger"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">借貸別</label>
                                <div class="col-sm-8">
                                    <label>
                                        <input type="radio" name="DBCR" value="D" @(Model.Result.DBCR=="D" ? "checked" : "")/>借方
                                    </label>
                                    <label> 
                                        <input type="radio" name="DBCR" value="C" @(Model.Result.DBCR=="C" ? "checked" : "")/>貸方
                                    </label>
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">分列帳式</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="LedgerType" name="LedgerType" value="@Model.Result.LedgerType"/>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">設定</label>
                                <div class="col-sm-8  ">
                                    <input type="checkbox" name="HeadOfficeOnly" id="HeadOfficeOnly" @(Model.Result.HeadOfficeOnly? "checked":"")/><span>限總行</span>
                                    <input type="checkbox" name="IsBankingDept" id="IsBankingDept" @(Model.Result.IsBankingDept? "checked":"") /><span>銀行部</span>
                                    <input type="checkbox" name="IsTrustDept" id="IsTrustDept" @(Model.Result.IsTrustDept? "checked":"") /><span>信託部</span>
                                    <input type="checkbox" name="IsBondDept" id="IsBondDept" @(Model.Result.IsBondDept? "checked":"")/><span>證券部</span>
                                    <input type="checkbox" name="IsCreditCardDept" id="IsCreditCardDept" @(Model.Result.IsCreditCardDept? "checked":"")/><span>信用卡部</span>
                                    <input type="checkbox" name="IsBudgetLimit" id="IsBudgetLimit" @(Model.Result.IsBudgetLimit? "checked":"")/><span>預算控制</span>


                                </div>
                            </div>



                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">連動記號</label>
                                <div class="col-sm-8">
                                    <label><input type="radio" name="IsAutoLink" value="1" @(Model.Result.IsAutoLink? "checked": "")/>連動</label>
                                    <label>	<input type="radio" name="IsAutoLink" value="0" style="width: 20px" @(Model.Result.IsAutoLink? "": "checked") />不連動</label>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">收支歸屬</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="IncomeType" name="IncomeType" value="@Model.Result.IncomeType"/>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">對方科目</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="OppositeAccount" name="OppositeAccount" value="@Model.Result.OppositeAccount">
                                </div>
                            </div>


                            <div class="form-group col-sm-6">

                                <label for="" class="col-sm-4 control-label">異動日期</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@(Model.Result.LastUpdateDate != null ? Model.Result.LastUpdateDate.ToString("yyyy-MM-dd"): "")" readonly>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">申報科目</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="SingleDeclareAcc" name="SingleDeclareAcc" value="@Model.Result.SingleDeclareAcc">
                                </div>
                            </div>


                            <div class="form-group col-sm-6">

                                <label for="" class="col-sm-4 control-label">類別</label>
                                <div class="col-sm-8">
                                    <label><input type="radio" name="AccountType" value="R" @(Model.Result.AccountType=="R"? "checked" : "") />Real</label>
                                    <label><input type="radio" name="AccountType" value="M" @(Model.Result.AccountType=="M"? "checked" : "") style="width: 20px" />Memo</label>
                                    <label><input type="radio" name="AccountType" value="D" @(Model.Result.AccountType=="D"? "checked" : "") />Dummy</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">備註</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Notes" name="Notes" value="@Model.Result.Notes">
                                </div>
                            </div>

                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <a class="btn btn-primary" onclick="checkForm()"><i class="fa">儲存</i></a>
                                    <a class="btn btn-danger" onclick="window.history.go(-1)"><i class="fa">取消</i></a>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "儲存成功" } });
@section Scripts{
    <script type="text/javascript">

        function checkForm()
        {
            if ($("#updateForm").valid())
            {
                doSave();
            }
        }

        function doSave()
        {
            var path = "@Url.Action("Save")";

            var data = new FormData();
            data.append("ID", $("#ID").val());
            data.append("AccountingBook", $("#AccountingBook").val());
            data.append("AccountType", $("input[name=AccountType]:checked").val());
            data.append("Account", $("#Account").val());
            data.append("AccountName", $("#AccountName").val());
            data.append("AssetLiablty", $("input[name=AssetLiablty]:checked").val());
            data.append("DBCR", $("input[name=DBCR]:checked").val());
            data.append("IFRSAccount", $("#IFRSAccount").val());
            data.append("OpenDate", $("#OpenDate").val());
            data.append("CancelDate", $("#CancelDate").val());
            data.append("LedgerType", $("#LedgerType").val());
            data.append("HeadOfficeOnly", $("#HeadOfficeOnly").prop("checked"));
            data.append("IsBankingDept", $("#IsBankingDept").prop("checked"));
            data.append("IsTrustDept", $("#IsTrustDept").prop("checked"));
            data.append("IsBondDept", $("#IsBondDept").prop("checked"));

            data.append("IsCreditCardDept", $("#IsCreditCardDept").prop("checked"));
            data.append("IsBudgetLimit", $("#IsBudgetLimit").prop("checked"));
            data.append("IsAutoLink", $("#IsAutoLink").prop("checked"));

            data.append("IncomeType", $("#IncomeType").val());
            data.append("OppositeAccount", $("#OppositeAccount").val());
            data.append("SingleDeclareAcc", $("#SingleDeclareAcc").val());
            data.append("Notes", $("#Notes").val());

            $.ajax({
                url: path,
                type: 'POST',
                dataType: 'json',
                contentType: false,
                processData: false,
                async: true,
                data: data,
                success: function (message) { successHandler(message); }
            });

        }

        (function ($) {
            $(".datepicker").datepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                clearBtn: true,
                calendarWeeks: false,
                todayHighlight: true,
                language: 'zh-TW'
            });

            $(".date-trigger").on("click", function () {
                $(this).prev(".datepicker").datepicker("show");
            });

            $.validator.messages.required = '必填';
            $.validator.messages.maxlength = '不能多於 {0} 個文字';
            $.validator.messages.digits = '請輸入數字';

            $("#updateForm").validate({
                rules: {
                    Account: { required: true, digits: true },
                    AccountName: { required: true },
                    IFRSAccount: { required: true, digits: true },
                    AssetLiablty: { required: true },
                    IncomeType: { maxlength: 1 },
                    OppositeAccount: { digits: true },
                    SingleDeclareAcc: { digits: true },
                    DBCR: { required: true }
                },
                submitHandler: function (form) {
                    doSave();
                }
            }
            );
        })(jQuery);
    </script>
}
