﻿@using Library.Servant.Servant.AccountingSubject.Models;
@model IndexResult
@{
    ViewBag.Title = "Accounting Subject";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>會計科目</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">會計科目</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="@Url.Action("Query")" class="form-horizontal" id="queryForm">
                        <input type="hidden" id="CurrentPage" name="CurrentPage" value="@Model.Conditions.CurrentPage" />
                        <input type="hidden" name="PageSize" value="@Model.Conditions.PageSize" />

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 "></label>
                                <div class="col-sm-8">
                                    <input type="checkbox" name="AssetLiablty" value="1" @(Model.Conditions.AssetLiablty==1 ? "checked":"")>資產類
                                    <input type="checkbox" name="AssetLiablty" value="2" @(Model.Conditions.AssetLiablty==2 ? "checked":"")>負債類
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">會計科子細目</label>
                                <div class="input-daterange input-group col-sm-8 input-group-range">
                                    <input type="text" class="input-sm form-control" name="FromAccountSubject" id="FromAccountSubject" value="@Model.Conditions.FromAccountSubject" />
                                    <span class="input-group-addon">to</span>
                                    <input type="text" class="input-sm form-control" name="ToAccountSubject" id="ToAccountSubject" value="@Model.Conditions.ToAccountSubject" />
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">啟用日期</label>
                                <div class="input-daterange input-group col-sm-8 input-group-range" id="datepicker">
                                    <input type="text" class="input-sm form-control" name="FromDate" id="FromDate" value="@(Model.Conditions.FromDate == null ? "" : Model.Conditions.FromDate.ToString("yyyy-MM-dd"))" />
                                    <span class="input-group-addon">to</span>
                                    <input type="text" class="input-sm form-control" name="ToDate" id="ToDate" value="@(Model.Conditions.ToDate == null ? "" : Model.Conditions.ToDate.ToString("yyyy-MM-dd"))" />
                                </div>
                            </div>

                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button type="button" class="btn btn-primary" onclick="checkQueryForm()">查詢</button>
                                    <button type="button" class="btn btn-danger" onclick="resetForm()">清除</button>
                                    <a class="btn btn-primary" id="buttonadd" href="@Url.Action("Create")">新增</a>
                                    <button type="button" class="btn btn-warning" onclick="showUpload()">匯入</button>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <form action="@Url.Action("Export")" method="post" target="exportData" id="export">
        <input type="hidden" name="ExportAL" id="ExportAL" />
        <input type="hidden" name="ExportBeginSubject" id="ExportBeginSubject" />
        <input type="hidden" name="ExportEndSubject" id="ExportEndSubject" />
        <input type="hidden" name="ExportFromDate" id="ExportFromDate" />
        <input type="hidden" name="ExportToDate" id="ExportToDate" />
    </form>
    <iframe name="ToDate" style="width:0;height:0;display:none;"></iframe>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">


                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  @Model.Page.TotalAmount 筆 第 @Model.Conditions.CurrentPage 頁</label>
                                    <a class="btn btn-sm btn-default" id="buttonDelete" href="@Url.Action("Index","Home")">回上頁</a>
                                    <button class="btn btn-sm btn-danger" onclick="deleteSubjects()">刪除</button>
                                    <button class="btn btn-sm btn-warning" onclick="exportData()">全部匯出</button>
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th><input type="checkbox" style="width:13px;" onclick="chceckAll(this.checked); "></th>
                                    <th>科子細目</th>
                                    <th>IFRS科子細目</th>
                                    <th>科子細目名稱</th>
                                    <th>資產負債別</th>
                                    <th>借貸別</th>
                                    <th>啟用日期</th>
                                    <th>刪除日期</th>
                                    
                                    <th>對方科目</th>
                                    <th>單一申報科目</th>
                                    
                                    <th>備註</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int i = 0; i < Model.Page.Items.Count; i++)
                                {
                                    var item = Model.Page.Items[i];
                                    
                                    <tr>
                                        <td>@(i+1)</td>
                                        <td><input type="checkbox" value="@item.ID" name="batch" style="width:13px;"/></td>
                                        <td style="word-break:keep-all;"><a href="@Url.Action("Detail", new { id = item.ID})">@item.Account</a></td>
                                        <td style="word-break:keep-all;">@item.IFRSAccount</td>
                                        <td>@item.AccountName</td>
                                        <td>@(item.AssetLiablty == "A" ? "資產" : "負債")</td>
                                        <td>@(item.DBCR == "D" ? "借" : "貸")</td>
                                        <td>@item.OpenDate.ToString("yyyy-MM-dd")</td>
                                        <td>@(item.CancelDate == null ? "" : item.CancelDate.ToString("yyyy-MM-dd"))</td>
                                        
                                        <td>@item.OppositeAccount</td>
                                        <td>@item.SingleDeclareAcc</td>
                                        
                                        <td>@item.Notes</td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="modal-form-delete" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">是否要刪除此資料?</h3>
                        <p>刪除資料後，資料無法回復，請確認刪除。</p>
                        <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal" onclick="doDelete()"><strong>是</strong></button>
                        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><strong>否</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="fileUpload" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">請選擇要上傳的檔案</h3>
                        <p><input type="file" accept=".csv" id="uploadFile" class="form-control"/></p>
                        <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal" onclick="doUpload()"><strong>是</strong></button>
                        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><strong>否</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loader" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 id="uploadingMessage" class="m-t-none m-b">上傳批次處理中, 請稍後...</h3>
                        <div id="returnMessage" style="display:none;">
                            <h3 class="m-t-none m-b" id="showMessage"></h3>
                            <button type="button" class="btn btn-sm btn-info"><strong>關閉</strong></button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Html.Partial("_VuePageList")

    <script>
        function showUpload()
        {
           $("#fileUpload").modal();
        }

        function showLoader()
        {
            $("#uploadingMessage").show();
            $("#showMessage").text("");
            $("#returnMessage").hide();

            $("#loader").modal();
        }

        function closeLoader()
        {
            $("#loader").modal("hide");
        }

        function doUpload()
        {
            var data = new FormData();
            var files = $("#uploadFile").get(0).files;
            if (files.length > 0) {
                data.append("file", files[0]);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Upload")",
                    contentType: false,         
                    processData: false,
                    dataType: "json",
                    data: data,
                    success: function (message) { processUploadMessage(message); }
                });
                showLoader();
            }
            else
            {
                $("#fileUpload").modal("hide");
            }
            
        }

        function processUploadMessage(message)
        {
            if (message.IsSuccess)
            {
                closeLoader();
            }
            else {
                $("#uploadingMessage").hide();
                $("#showMessage").text(message.Message);
                $("#returnMessage").show();
            }
        }

        function checkQueryForm()
        {
            $("#queryForm").submit();
        }

        function resetForm()
        {
            $("input[name=AssetLiablty][value=1]").prop("checked", true);
            $("#FromAccountSubject").val("");
            $("#ToAccountSubject").val("");
            $("#FromDate").val("0000-01-01");
            $("#ToDate").val("9999-12-31");
        }

        function chceckAll(currentValue) {
            $("input[name=batch]").each(function () {
                this.checked = currentValue;
            });
        }

        function toPage(page)
        {
            $("#CurrentPage").val(page);
            $("#queryForm").submit();
        }

        function exportData()
        {
            $("#ExportAL").val($("input[name=AssetLiablty][checked]").val());
            $("#ExportBeginSubject").val($("#FromAccountSubject").val());
            $("#ExportEndSubject").val($("#ToAccountSubject").val());
            $("#ExportFromDate").val($("#FromDate").val());
            $("#ExportToDate").val($("#ToDate").val());

            $("#export").submit();
        }

        function deleteSubjects()
        {
            var list = [];
            $("input[name=batch]").each(function () {
                if (this.checked) {
                    list.push(this.value);
                }
            });
            if (list.length > 0) {
                $("#modal-form-delete").modal();
            }

        }

        function doDelete()
        {
            var list = [];
            $("input[name=batch]").each(function () {
                if (this.checked) {
                    list.push(this.value);
                }
            });

            if (list.length > 0) {
                var data = {
                    IDList: list,
                    LastUpdateBy: 0
                };
                data = JSON.stringify(data);
                console.log(data);

                var path = "@Url.Action("BatchDelete")";

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json",
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) {
                        deleteMessage(message);
                    }
                });
            }
        }

        function deleteMessage(message)
        {
            if (message.IsSuccess)
            {
                toPage(1);
            }
        }

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.Page.TotalAmount,//資料庫總筆數
                    page_size: @Model.Conditions.PageSize,//單頁筆數
                    page_now: @Model.Conditions.CurrentPage,//當前頁
                    center_page: 1,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "",
                    pageFunc: toPage
                }
            });


        })(jQuery);

    </script>

}


