﻿

@{
    ViewBag.Title = "ReceiveXls";
}
<div id="app">
    @*<input type="file" name="xlsFile" />*@
    @*<input type="file" accept="image/*" v-on:change="loadFile($event)">*@
    <input type="file" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" v-on:change="loadFile($event)">
    @*<img id="output" v-bind:src="imgSrc" />*@
    <button type="button" v-on:click="upload()">匯入</button>
</div>
@section scripts{

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello',
                imgSrc: '',
                xx: () => [],
            },
            methods: {
                loadFile(event) {
                    this.xx = event.target.files;
                    console.log(this.xx);
                },
                upload() {
                    console.log(this.file);
                }
            }
        });
        //loadFile(event) {
        //    var reader = new FileReader();
        //    var a = this;
        //    reader.onload = function () {
        //        a.imgSrc = reader.result;
        //        a.file = reader.file;
        //        console.log(a.file);
        //    };
        //    reader.readAsDataURL(event.target.files[0]);
        //},
        //upload() {
        //    console.log(this.file);
        //}
    </script>

}