﻿@model InspiniaWebAdminTemplate.Models.Accounting.AccountingSubjectVerifyFormModel
@{
    Layout = null;
}
<div id="app" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>會計科目維護 - @(Model.Last != null? "修改" : "新增")</h5>
                </div>
                <div class="ibox-content">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">帳簿類別</label>
                                <div class="col-sm-8">
                                    @if (Model.Last != null && Model.Last.AccountingBook != Model.Current.AccountingBook)
                                    {
                                        @Html.Raw(String.Format("{0} ==> <strong style='color:red;'>{1}</strong>", Model.Last.AccountingBook, Model.Current.AccountingBook));
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.Current.AccountingBook);
                                    }
                                </div>
                            </div>

                            <div class="form-group col-sm-6">

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">科子細目編號</label>
                                <div class="col-sm-8">
                                    @if (Model.Last != null && Model.Last.Account != Model.Current.Account)
                                    {
                                        @Html.Raw(String.Format("{0} ==> <strong style='color:red;'>{1}</strong>", Model.Last.Account, Model.Current.Account));
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.Current.Account);
                                    }
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">IFRS會計科目</label>
                                <div class="col-sm-8">
                                    @if (Model.Last != null && Model.Last.IFRSAccount != Model.Current.IFRSAccount)
                                    {
                                        @Html.Raw(String.Format("{0} ==> <strong style='color:red;'>{1}</strong>", Model.Last.IFRSAccount, Model.Current.IFRSAccount));
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.Current.IFRSAccount);
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">科子細目名稱</label>
                                <div class="col-sm-8">
                                    @if (Model.Last != null && Model.Last.AccountName != Model.Current.AccountName)
                                    {
                                        @Html.Raw(String.Format("{0} ==> <strong style='color:red;'>{1}</strong>", Model.Last.AccountName, Model.Current.AccountName));
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.Current.AccountName);
                                    }
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label required">資產負債別</label>
                                <div class="col-sm-8">
                                    @if (Model.Last != null && Model.Last.AssetLiablty != Model.Current.AssetLiablty)
                                    {
                                        @Html.Raw(
             String.Format("{0} ==> <strong style='color:red;'>{1}</strong>",
                 Model.Last.AssetLiablty == "A" ? "資產" : "負債",
                 Model.Current.AssetLiablty == "A" ? "資產" : "負債"));
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.Current.AssetLiablty == "A" ? "資產" : "負債");
                                    }
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">啟用日期</label>
                                <div class="col-sm-8">
                                    @if (Model.Last != null && Model.Last.OpenDate != Model.Current.OpenDate)
                                    {
                                        @Html.Raw(String.Format("{0} ==> <strong style='color:red;'>{1}</strong>", Model.Last.OpenDate.ToString("yyyy-MM-dd"), Model.Current.OpenDate.ToString("yyyy-MM-dd")));
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.Current.OpenDate.ToString("yyyy-MM-dd"))
                                    }
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">刪除日期</label>
                                <div class="col-sm-8">
                                    @if (Model.Last != null && Model.Last.CancelDate != Model.Current.CancelDate)
                                    {
                                        @Html.Raw(String.Format("{0} ==> <strong style='color:red;'>{1}</strong>", Model.Last.CancelDate.ToString("yyyy-MM-dd"), Model.Current.CancelDate.ToString("yyyy-MM-dd")));
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.Current.CancelDate.ToString("yyyy-MM-dd"))
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">借貸別</label>
                                <div class="col-sm-8">
                                    @if(Model.Last != null && Model.Last.DBCR != Model.Current.DBCR)
                                    {
                                        @Html.Raw(String.Format("{0} ==> <strong style='color:red;'>{1}</strong>", 
                                               Model.Last.DBCR == "D" ? "借方" : "貸方", 
                                               Model.Current.DBCR == "D" ? "借方" : "貸方"));
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.Current.DBCR == "D" ? "借方" : "貸方");
                                    }
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">分列帳式</label>
                                @if(Model.Last != null && Model.Last.LedgerType != Model.Current.LedgerType)
                                {
                                    @Html.Raw(String.Format("{0} ==> <strong style='color:red;'>{1}</strong>", Model.Last.LedgerType, Model.Current.LedgerType));
                                }
                                else
                                {
                                    @Html.Raw(Model.Current.LedgerType);
                                }
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">設定</label>
                                <div class="col-sm-8  ">
                                    <input type="checkbox" @(Model.Current.HeadOfficeOnly ? "checked" : "") />
                                    @if (Model.Last != null && Model.Last.HeadOfficeOnly != Model.Current.HeadOfficeOnly)
                                    { <strong style="color:red;">限總行</strong>}
                                    else
                                    {<span>限總行</span>}
                                    <input type="checkbox" @(Model.Current.IsBankingDept ? "checked" : "") />
                                    @if (Model.Last != null && Model.Last.IsBankingDept != Model.Current.IsBankingDept)
                                    {<strong style="color:red;">銀行部</strong> }
                                    else
                                    {<span>銀行部</span>}
                                    <input type="checkbox" @(Model.Current.IsTrustDept ? "checked" : "") />
                                    @if (Model.Last != null && Model.Last.IsTrustDept != Model.Current.IsTrustDept)
                                    {<strong style="color:red;">信託部</strong> }
                                    else
                                    {<span>信託部</span>}
                                    <input type="checkbox" @(Model.Current.IsBondDept ? "checked" : "") />
                                    @if (Model.Last != null && Model.Last.IsBondDept != Model.Current.IsBondDept)
                                    {<strong style="color:red;">證券部</strong> }
                                    else
                                    {<span>證券部</span>}
                                    <input type="checkbox" @(Model.Current.IsCreditCardDept ? "checked" : "") />
                                    @if (Model.Last != null && Model.Last.IsCreditCardDept != Model.Current.IsCreditCardDept)
                                    {<strong style="color:red;">信用卡部</strong> }
                                    else
                                    {<span>信用卡部</span>}
                                    <input type="checkbox" @(Model.Current.IsBudgetLimit ? "checked" : "") />
                                    @if (Model.Last != null && Model.Last.IsBudgetLimit != Model.Current.IsBudgetLimit)
                                    {<strong style="color:red;">預算控制</strong> }
                                    else
                                    {<span>預算控制</span>}


                                </div>
                            </div>



                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">連動記號</label>
                                <div class="col-sm-8">
                                    @if (Model.Last != null && Model.Last.IsAutoLink != Model.Current.IsAutoLink)
                                    {
                                        @Html.Raw(String.Format("{0} ==> <strong style='color:red;'>{1}</strong>",
                                            Model.Last.IsAutoLink ? "連動" : "不連動",
                                            Model.Current.IsAutoLink ? "連動" : "不連動"));
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.Current.IsAutoLink ? "連動" : "不連動");
                                    }
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">收支歸屬</label>
                                <div class="col-sm-8">
                                    @if (Model.Last != null && Model.Last.IncomeType != Model.Current.IncomeType)
                                    {
                                        @Html.Raw(String.Format("{0} ==> <strong style='color:red;'>{1}</strong>", Model.Last.IncomeType, Model.Current.IncomeType));
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.Current.IncomeType);
                                    }
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">對方科目</label>
                                <div class="col-sm-8">
                                    @if (Model.Last != null && Model.Last.OppositeAccount != Model.Current.OppositeAccount)
                                    {
                                        @Html.Raw(String.Format("{0} ==> <strong style='color:red;'>{1}</strong>", Model.Last.OppositeAccount, Model.Current.OppositeAccount));
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.Current.OppositeAccount);
                                    }
                                </div>
                            </div>


                            <div class="form-group col-sm-6">

                                <label for="" class="col-sm-4 control-label">異動日期</label>
                                <div class="col-sm-8">
                                    @if (Model.Last != null && Model.Last.LastUpdateDate != Model.Current.LastUpdateDate)
                                    {
                                        @Html.Raw(String.Format("{0} ==> <strong style='color:red;'>{1}</strong>",
                                              Model.Last.LastUpdateDate != null ? Model.Last.LastUpdateDate.ToString("yyyy-MM-dd") : "",
                                              Model.Current.LastUpdateDate != null ? Model.Current.LastUpdateDate.ToString("yyyy-MM-dd") : ""));
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.Current.LastUpdateDate != null ? Model.Current.LastUpdateDate.ToString("yyyy-MM-dd") : "");
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">申報科目</label>
                                <div class="col-sm-8">
                                    @if (Model.Last != null && Model.Last.SingleDeclareAcc != Model.Current.SingleDeclareAcc)
                                    {
                                        @Html.Raw(String.Format("{0} ==> <strong style='color:red;'>{1}</strong>", Model.Last.LastUpdateDate.ToString("yyyy-MM-dd"), Model.Current.LastUpdateDate.ToString("yyyy-MM-dd")));
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.Current.SingleDeclareAcc);
                                    }
                                </div>
                            </div>


                            <div class="form-group col-sm-6">

                                <label for="" class="col-sm-4 control-label">類別</label>
                                <div class="col-sm-8">
                                    @if (Model.Last != null && Model.Last.AccountType != Model.Current.AccountType)
                                    {
                                        @Html.Raw(String.Format("{0} ==> <strong style='color:red;'>{1}</strong>",
                                            Model.Last.AccountType == "R" ? "Real" : (Model.Last.AccountType == "M" ? "Memo" : "Dummy"),
                                            Model.Current.AccountType == "R" ? "Real" : (Model.Current.AccountType == "M" ? "Memo" : "Dummy")));
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.Current.AccountType == "R" ? "Real" : (Model.Current.AccountType == "M" ? "Memo" : "Dummy"));
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">備註</label>
                                <div class="col-sm-8">
                                    @if (Model.Last != null && Model.Last.Notes != Model.Current.Notes)
                                    {
                                        @Html.Raw(String.Format("{0} ==> <strong style='color:red;'>{1}</strong>", Model.Last.Notes, Model.Current.Notes));
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.Current.Notes)
                                    }
                                </div>
                            </div>

                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


