﻿@using InspiniaWebAdminTemplate.Models.ApprovalRole
@model EditViewModel

@{
    ViewBag.Title = "Approval";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>修改簽核角色</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">簽核角色維護</a>
            </li>
            <li>
                <a href="#">修改簽核角色</a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" id="root">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <form id="approveRoleEditForm" action="@Url.Action("Update")" method="post" class="form-horizontal">

                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.ID)
                        @{ 
                            bool _disabled = false;
                            int _codeIdHeader = 0;
                            int _lastCodeNumber = 0;
                            }
                        @if (Model.CodeID.Substring(0, 1) == "R")
                        {
                            _disabled = false;
                            _codeIdHeader = 1 + Model.OperationType.Length;
                            _lastCodeNumber = Model.CodeID.Length - _codeIdHeader;
                            <div class="row">
                                <label for="" class="col-sm-2 control-label">簽核角色</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="OperationType" id="OperationType" onchange="SetCodeId('change')">
                                        @foreach (var item in ViewBag.DocTypeList)
                                        {
                                            var selected = Model.OperationType == item.Value ? "selected" : "";
                                            <option value="@item.Value" @selected> @item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ApproveRole04" id="ApproveRole04" onchange="SetCodeId('change')">
                                        @{
                                            int getNumber = 0;
                                            if (_lastCodeNumber == 5)
                                            {
                                                getNumber = 1;
                                            }
                                            else {
                                                getNumber = 2;
                                            }
                                          }
                                        @foreach (var item in ViewBag.GetApproveRoleR04List)
                                        {
                                            var selected = "";
                                            if (_lastCodeNumber == 5) { selected = Model.CodeID.Substring(_codeIdHeader, getNumber) == item.Value ? "selected" : ""; }
                                            <option value="@item.Value" @selected> @item.Name</option>
                                        }


                                        @foreach (var item in ViewBag.GetApproveRoleR06List)
                                        {
                                            var selected = "";
                                            if (_lastCodeNumber == 6) { selected = Model.CodeID.Substring(_codeIdHeader, getNumber) == item.Value ? "selected" : ""; }
                                            <option value="@item.Value" @selected> @item.Name</option>
                                        }



 
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ApproveRole05" id="ApproveRole05" onchange="SetCodeId('change')">
                                        @foreach (var item in ViewBag.GetApproveRoleR05List)
                                        {
                                            var selected = Model.CodeID.Substring(_codeIdHeader+(_lastCodeNumber==5?1:2), 2) == item.Value ? "selected" : "";
                                            <option value="@item.Value" @selected> @item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" name="ApproveRole07" id="ApproveRole07" onchange="SetCodeId('change')">
                                        @foreach (var item in ViewBag.GetApproveRoleR07List)
                                        {
                                            var selected = Model.CodeID.Substring(_codeIdHeader+ (_lastCodeNumber == 5 ? 3: 4), 2) == item.Value ? "selected" : "";
                                            <option value="@item.Value" @selected> @item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        }
                        else
                        {
                            _disabled = true;
                            <label for="" class="col-sm-2 control-label">簽核角色</label>
                            <div class="col-sm-2">
                                <select class="form-control" name="ApproveRole04" id="ApproveRole04" onchange="SetCodeId('change')">
                                    @foreach (var item in ViewBag.GetApproveRoleR04List)
                                    {
                                        var selected = Model.CodeID.Substring(1, 1) == item.Value ? "selected" : "";
                                        <option value="@item.Value" @selected> @item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control" name="ApproveRole08" id="ApproveRole08" onchange="SetCodeId('change')">
                                    @foreach (var item in ViewBag.GetApproveRoleR08List)
                                    {
                                        var selected = Model.CodeID.Substring(2, 1) == item.Value ? "selected" : "";
                                        <option value="@item.Value" @selected> @item.Name</option>
                                    }
                                </select>
                            </div>
                        }
                        <br />
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">簽核角色代碼</label>
                                <div class="col-sm-8">
                                    @*@Html.TextBoxFor(m => m.CodeID, new { @class = "form-control", disabled = "disabled" })*@
                                    <input id="ShowCodeId" class="form-control"  disabled="disabled" value="@Model.CodeID" />
                                    @Html.HiddenFor(m => m.CodeID)
                                    @*@Html.ValidationMessageFor(m => m.CodeID, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required" align="right">簽核角色名稱</label>
                                <div class="col-sm-8">
                                    @*@Html.TextBoxFor(m => m.Text, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })*@
                                    <input id="ShowText" class="form-control" disabled="disabled" value="@Model.Text" />
                                    @Html.HiddenFor(m => m.Text)
                                </div>
                            </div>
                        </div>

                        <div class="row hiddenClass">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">啟用別</label>
                                <div class="col-sm-8">
                                    @if (Model.IsActive)
                                    {
                                        <label class="control-label"><input type="radio" name="IsActive" value="true" checked >啟用</label>
                                        <label class="control-label"><input type="radio" name="IsActive" value="false" >停用</label>
                                    }
                                    else
                                    {
                                        <label class="control-label"><input type="radio" name="IsActive" value="true" >啟用</label>
                                        <label class="control-label"><input type="radio" name="IsActive" value="false" checked >停用</label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-6 form-group hiddenClass">
                                <label for="" class="col-sm-4 control-label required" align="right">註銷別</label>
                                <div class="col-sm-8">
                                    @if (Model.CancelCode)
                                    {
                                        <label class="control-label"><input type="radio" name="CancelCode" value="false">使用中</label>
                                        <label class="control-label"><input type="radio" name="CancelCode" value="true" checked>註銷</label>
                                    }
                                    else
                                    {
                                        <label class="control-label"><input type="radio" name="CancelCode" value="false" checked>使用中</label>
                                        <label class="control-label"><input type="radio" name="CancelCode" value="true">註銷</label>
                                    }
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required" align="right">主管權限</label>
                                <div class="col-sm-8">
                                    @if (Model.Supervisor)
                                    {
                                        @Html.CheckBoxFor(m => m.Supervisor, new { @checked = "checked" })
                                    }
                                    else
                                    {
                                        @Html.CheckBoxFor(m => m.Supervisor)
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="row hiddenClass">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required" align="right">發送email</label>
                                <div class="col-sm-8">
                                    @if (Model.Email)
                                    {
                                        @Html.CheckBoxFor(m => m.Email, new { @checked = "checked" })
                                    }
                                    else
                                    {
                                        @Html.CheckBoxFor(m => m.Email)
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">備註</label>
                                <div class="col-sm-8">
                                    @Html.TextAreaFor(m => m.Remark, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">部門</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="BranchId" id="BranchId" onchange="SetUserId()">
                                        @foreach (var item in ViewBag.GetBranchList)
                                        {
                                            <option value="@item.Value"> @item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="select_Users"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12 col-sm-offset-4">
                                <label for="" class="col-sm-4" align="right">
                                    @if (!_disabled)
                                    {
                                        <button class="btn btn-primary" type="button" onclick="SaveCheck()"><i class="fa fa-save">存檔</i></button>
                                    }
                                    <button type="button" class="btn btn-danger"><i class="fa fa-trash">清除</i></button>
                                    <a href="@Url.Action("Index")" class="btn btn-warning">回上頁</a>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@Html.Partial("_VueOptionTemplate2")

<script>
    $(document).ready(function () {
        var _disabled = "@_disabled";
        if (_disabled=="True") {
            $('#approveRoleEditForm').find('input,  select').attr('disabled', 'disabled');
        }
        SetCodeId("init");
        SetUserId();
        //將某些項目整個hidden
        $(".hiddenClass").hide();
    });
    function SaveCheck() {
        var path = "@Url.Action("CheckCodeId")";
        var data = new FormData();
        data.append("ID", $("#ID").val());
        data.append("CodeID", $("#CodeID").val());
        $.ajax({
            url: path,
            type: 'POST',
            dataType: 'json',
            contentType: false,
            processData: false,
            async: true,
            data: data,
            success: function (response) {
                debugger
                //var data = JSON.parse(response);
                if (response.status == "failed") {
                    alert("簽核角色代碼重複，請重新選擇。");
                    return;
                }
                else if (response.status == "success") {
                    $("#approveRoleEditForm").submit();
                }
            }
        });

    }
    function SetCodeId(type) {
        if(type!="init"){
            $("#CodeID").val("R" + $("#OperationType").val() + $("#ApproveRole04").val() + $("#ApproveRole05").val() + $("#ApproveRole07").val())
            $("#ShowCodeId").val($("#CodeID").val());
            $("#Text").val($("#OperationType :selected").text().trim()+$("#ApproveRole04 :selected").text().trim()+$("#ApproveRole05 :selected").text().trim()+$("#ApproveRole07 :selected").text().trim());
            $("#ShowText").val($("#Text").val());
        }
    }
    function SetUserId() {
        m_branchCode = $("#BranchId").val();
        $("select[name='UserId']").removeOption("").removeOption(/./).ajaxAddOption("/ApprovalRole/GetUserId/", { branchCode: m_branchCode }, false, DeleteHave);
    }
    function DeleteHave() {
        $("select[name='UserId'] option").each(function () {
            var _userId = this.value;
            var _isHave = false;
            $("select[name='SelectedUsers'] option").each(function () {
                if ($(this).val() == _userId) {
                    _isHave = true;
                }
            });
            if (_isHave) {
                $(this).remove();
            }
        });
        $("select[name='UserId']").height(200);
    }
    (function ($) {

        new $.OptionTemplate({

            el: "#select_Users",
            data: {

                left_title: "可選人員",
                right_title: "已選取人員",
                left_model_name: "UserId",
                left_model_id: "UserId",
                right_model_name: "SelectedUsers",
                right_model_id: "SelectedUsers",
                submit_form_id: "#approveRoleEditForm",
                left_array: [],
                right_array: @Html.Raw(Json.Encode(Model.SelectedUsersOptions)),
                left_size: false,
                right_size: false,
            }
        });


    })(jQuery);
</script>
}

