﻿@using InspiniaWebAdminTemplate.Models.ApprovalRole
@model IndexViewModel

@{
    ViewBag.Title = "ApprovalRole";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>角色維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">角色維護</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">

                        @Html.AntiForgeryToken()

                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">作業別</label>
                                @*<div class="col-sm-8">
                                    <input type="text" class="form-control"  value="簽核角色" disabled>
                                </div>*@
                                <div class="col-sm-8">
                                    <select class="form-control" name="OperationType" id="OperationType" onchange="GetApproveRole()">
                                        <option value=""> 全部</option>
                                        @foreach (var item in ViewBag.DocTypeList)
                                        {
                                            var selected = Model.SearchCondition.OperationType== item.Value ? "selected" : "";
                                            <option value="@item.Value" @selected> @item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">簽核角色</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="CodeID" id="CodeID">
                                        @*<option value=""> 全部</option>*@
                                        @foreach (var item in ViewBag.ApproveRoleList)
                                        {
                                            var selected = Model.SearchCondition.CodeID == item.Value ? "selected" : "";
                                            <option value="@item.Value" @selected> @item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        
                        </div>

                        @*<div class="row">
                            
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">啟用別</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="IsActive">
                                        <option value=""> 全部</option>
                                        @foreach (var item in Model.ActiveOptions){
                                            var selected = Model.SearchCondition.IsActive.ToString() == item.Value ? "selected" : "";
                                            <option value="@item.Value" @selected> @item.Text</option>
                                        }
                                   </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right" >註銷別</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="CancelCode">
                                        <option value=""> 全部</option>
                                        @foreach (var item in Model.CancelOptions){
                                            var selected = Model.SearchCondition.CancelCode.ToString() == item.Value ? "selected" : "";
                                            <option value="@item.Value" @selected> @item.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        
                        </div>*@

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button  class="btn btn-primary"><i class="fa fa-search">查詢</i></button>
                                    <a href="@Url.Action("Index")" class="btn btn-danger"><i class="fa fa-trash">清除</i></a>
                                    <a href="@Url.Action("Create")" class="btn btn-info"><i class="fa fa-trash">新增</i></a>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

               
                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  @Model.TotalAmount 筆 第 @Model.SearchCondition.Page 頁</label>
                                    <a class="btn btn-sm btn-default" id="buttonDelete" href="@HttpContext.Current.Request.UrlReferrer">回上頁</a>
                                    @*<a class="btn btn-sm btn-success" href="#modal-form-save" data-toggle="modal" id="buttonSave">存檔</a>*@
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th>作業別</th>
                                    <th>簽核角色代碼</th>
                                    <th>簽核角色名稱</th>
                                    <th>主管權限</th>
                                    @*<th>啟用</th>
                                    <th>註銷別</th>*@
                                    <th>備註</th>
                                </tr>
                            </thead>

                            <tbody>

                                @for (int index=0; index<Model.Items.Count; ++index)
                                {
                                    var item = Model.Items[index];

                                    <tr>
                                        <td>@(  (Model.SearchCondition.Page-1) * Model.SearchCondition.PageSize +  index + 1)</td>
                                        <td>@item.OperationTypeName</td>
                                        <td><a href="@Url.Action("Edit", "ApprovalRole", new { ID = item.ID })">@item.CodeID</a></td>
                                        <td>@item.Text</td>
                                        <td>
                                            @if (item.Supervisor)
                                            {
                                                <input type="checkbox" checked disabled="disabled">
                                            }
                                            else
                                            {
                                                <input type="checkbox" disabled="disabled">
                                            }
                                        </td>
                                        @*<td>
                                            @if (item.IsActive)
                                            {
                                                <input type="checkbox" checked disabled="disabled">
                                            }
                                            else
                                            {
                                                <input type="checkbox" disabled="disabled">
                                            }
                                        </td>
                                        <td>
                                            @if (item.CancelCode)
                                            {
                                                <input type="checkbox" checked disabled="disabled">
                                            }
                                            else
                                            {
                                                <input type="checkbox" disabled="disabled">
                                            }
                                        </td>*@
                                        <td>
                                             @item.Remark
                                        </td>
                                    </tr>
                                }

                          </tbody>

                        </table>

                        
                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-save" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">是否存檔?</h3>
                        <button class="btn btn-sm btn-danger" type="submit" data-dismiss="modal"><strong>Yes</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>No</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    @Html.Partial("_VuePageList")

    <script>
        var m_codeID="";
        function GetApproveRole(){
            m_codeID= $("#CodeID").val();
            $("#CodeID").removeOption("").removeOption(/./).ajaxAddOption("/ApprovalRole/GetApproveRole/", { operationType: $("#OperationType").val() }, false,SetCodeID);
        }      
        function SetCodeID(){
            if(m_codeID!=""){
                $("#CodeID").val(m_codeID);
                m_codeID="";
            }
        }
        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.TotalAmount,//資料庫總筆數
                    page_size: @Model.SearchCondition.PageSize,//單頁筆數
                    page_now: @Model.SearchCondition.Page,//當前頁
                    center_page: @Model.SearchCondition.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });

            GetApproveRole();
        })(jQuery);

    </script>
}
