﻿@model Library.Entity.Edmx.AS_GL_Acc_Months

@{
    ViewBag.Title = "新增本月帳務檔";

    //Dictionary<string, string> ddlCurrency = ViewBag.ddlCurrency; //弊別
    //Dictionary<string, string> ddlBranchs = ViewBag.ddlBranchs; //分行
    //Dictionary<string, string> ddlBookTypes = ViewBag.ddlBookTypes; //帳本
    //Dictionary<string, string> ddlDepartments = ViewBag.ddlDepartments; //部門
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>新增本月帳務檔</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "AccountingQuery")">帳務查詢</a>
            </li>
            <li>
                新增本月帳務檔
            </li>
        </ol>
    </div>
</div>
<div id="app" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>帳務檔新增</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm()) { 
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">列帳行</label>
                                <div class="input-group col-sm-8">
                                    <div class="input-group col-sm-3">
                                        <input type="text" class="form-control" name="Branch_Code" v-model="model.Branch_Code" />
                                    </div>
                                    <div class="input-group col-sm-5">
                                        <select name="" class="form-control" v-bind:value="model.Branch_Code" disabled>
                                            <option v-for="branch in branchs" v-bind:value="branch.Value">{{branch.Key}}</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6 form-group" v-if="model.Branch_Code=='001'">
                                <label for="" class="col-sm-4 control-label">部門</label>
                                <div class="input-group col-sm-8">
                                    <select name="Department" class="form-control">
                                        <option v-for="department in departments" v-bind:value="department.Value">{{department.Key}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">帳本類別</label>
                                <div class="input-group col-sm-8">
                                    <select name="Book_Type" class="form-control" v-model="model.Book_Type" @@change="ChangeDefaultCurrency()">
                                        <option v-for="booktype in bookTypes" v-bind:value="booktype.Value">{{booktype.Key}}</option>
                                        @*@foreach (KeyValuePair<string, string> item in ddlBookTypes)
                                            {
                                                <option value="@item.Value">@item.Value</option>
                                            }*@
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">幣別</label>
                                <div class="input-group col-sm-8">
                                    <select name="Currency" class="form-control" v-model="model.Currency">
                                        <option v-for="currency in currencies" v-bind:value="currency.Key">{{currency.Key}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">借/貸</label>
                                <div class="input-group col-sm-8">
                                    <input type="radio" name="DB_CR" value="D" checked />借方
                                    <input type="radio" name="DB_CR" value="C" />貸方
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">科子細目編號</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextBoxFor(p => Model.Account, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">IFRS會計科目</label>
                                <div class="input-group col-sm-8">
                                    <input type="text" class="form-control" name="IFRSAccount" v-bind:value="IFRSAccount" disabled />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">科子細目名稱</label>
                                <div class="input-group col-sm-8">
                                    <input type="text" class="form-control" name="Account_Name" v-bind:value="Account_Name" disabled />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">交易類別</label>
                                <div class="col-sm-8">
                                    <select name="Trans_Type" v-model="model.TransType" class="form-control">
                                        <option v-for="transType in transTypes" v-bind:value="transType.Value">{{transType.Key}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">交易區分</label>
                                <div class="col-sm-8">
                                    <select name="Trade_Type" v-model="model.TradeType" class="form-control">
                                        <option v-for="tradeType in tradeTypes" v-bind:value="tradeType.Value">{{tradeType.Key}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">金額</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextBoxFor(p => Model.Amount, new { @class = "form-control text-right" })
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">入帳日</label>
                                <div class="input-group col-sm-8">
                                    <input type="text" name="Open_Date" class="form-control" value="@Model.Open_Date.ToString("yyyy-MM-dd")" disabled />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">帳務備註</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextAreaFor(p => Model.Notes, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">補輸原因</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextAreaFor(p => Model.Updated_Notes, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        @*---------------------------------------------------------------------------*@

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-plus">新增</i></button>
                                    <a class="btn btn-danger" href="@Url.Action("Index")"><i class="fa fa-crosshairs">取消</i></a>
                                </label>
                                <label for="" class="col-sm-2" style="background-color: red" align="left" v-if="model.ErrorMessage != ''">
                                    {{model.ErrorMessage}}
                                </label>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="/Scripts/rx.lite.js"></script>
    <script src="/Scripts/rx.jquery.js"></script>
    <script src="/Scripts/rx.binding.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                model: {
                    ErrorMessage: '@ViewBag.errorMessage',
                    Branch_Code: '@Model.Branch_Code',
                    Book_Type: '@Model.Book_Type',
                    Currency: '@Model.Currency',
                    TransType: '@Model.Trans_Type',
                    TradeType: '@Model.Trade_Type'
                },
                Account_Name: '',
                IFRSAccount:'',
                branchs: [],
                departments: [],
                bookTypes: [],
                currencies: [],
                transTypes: [],
                tradeTypes: []
            },
            mounted: function() {
                this.init();
                $('#Account').trigger('keyup');
            },
            methods: {
                init: function() {
                    this.GetDDL("branchs");
                    this.GetDDL("departments");
                    this.GetDDL("bookTypes");
                    this.GetDDL("currencies");
                    this.GetDDL("transTypes");
                    this.GetDDL("tradeTypes");

                    var obj = this;
                    var inputAccount = $('#Account');

                    var keyupAccount = inputAccount.keyupAsObservable().map(function(ev) {
                            return ev;
                        })
                        .throttle(300).subscribe(function(x) {
                            var ajax = new Utility.Ajax();
                            ajax.GET("@Url.Action("GetAccountSubjectInfo","AccountingSubject")" + '/?account=' + x.target.value,
                                function (result) {
                                    obj.IFRSAccount = result["IFRS_Account"];
                                    obj.Account_Name = result["Account_Name"];
                                    console.log(obj.IFRSAccount);
                                });
                        });
                    var inputBranch = $('#Branch_Code');
                    var keyupBranckh = inputAccount.keyupAsObservable().map(function(ev) {
                            return ev;
                        })
                        .throttle(300).subscribe(function(x) {
                            var ajax = new Utility.Ajax();
                            ajax.GET("@Url.Action("GetAccountSubjectInfo","AccountingSubject")" + '/?account=' + x.target.value,
                                function (result) {
                                    obj.IFRSAccount = result["IFRS_Account"];
                                    obj.Account_Name = result["Account_Name"];
                                    console.log(obj.IFRSAccount);
                                });
                        });

                },
                GetDDL: function(ddlName, container) {
                    var obj = this;
                    var ajax = new Utility.Ajax();
                    ajax.GET("@Url.Action("GetCodeTable")" + '/?class=' + ddlName,
                        function(result) {
                            obj[ddlName] = result;
                        });
                },
                ChangeDefaultCurrency: function() {
                    var ajax = new Utility.Ajax();
                    var obj = this;
                    ajax.GET("@Url.Action("GetCurrency")" + '/?bookType='+this.model.Book_Type,
                        function(result) {
                            obj.model.Currency = result;
                            console.log(result);
                        });
                }
            }
        });
    </script>
}