﻿@using Library.Servant.Servant.Accounting
@using Library.Common.Extension
@using InspiniaWebAdminTemplate.Models.AccountingQuery
@model IndexViewModel

@{
    ViewBag.Title = "帳務查詢";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>帳務查詢</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "AccountingQuery")">首頁</a>
            </li>
            <li>
                <a href="#">帳務查詢</a>
            </li>
        </ol>
    </div>
</div>

<div id="app" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">查詢月份</label>
                                <div class="col-sm-8">
                                    <input type="radio" name="OptionType" v-model="model.OptionType" value="1" />本會計月份
                                    <input type="radio" name="OptionType" v-model="model.OptionType" value="2" />其它會計月份
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">資產編號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AssetNo" v-model="model.AssetNo" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">入帳日期</label>
                                <div class="input-group col-sm-8">
                                    <input type="date" class="input-sm form-control" name="BeginOpenDate" id="BeginOpenDate" v-model="model.BeginOpenDate" data-date-end-date="0d">
                                    <span class="input-group-addon">to</span>
                                    <input type="date" class="input-sm form-control" name="EndOpenDate" id="EndOpenDate" v-model="model.EndOpenDate" data-date-end-date="0d">
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">分錄編號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="MasterNo" v-model="model.MasterNo" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">交易類別</label>
                                <div class="col-sm-8">
                                    <select name="TransTypes" v-model="model.TransType" class="form-control">
                                        @foreach (var item in Model.TradeTypes)
                                        {
                                            <option value="@item.Value">@item.Key</option>
                                        }
                                        <option value="">全部</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">交易區分</label>
                                <div class="col-sm-8">
                                    <select name="TradeTypes" v-model="model.TradeType" class="form-control">
                                        @foreach (var item in Model.TradeTypes)
                                        {
                                            <option value="@item.Value">@item.Key</option>
                                        }
                                        <option value="">全部</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">批次編號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Seq" v-model="model.Seq" />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">交易序號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="TransSeq" v-model="model.TransSeq" />
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button type="button" class="btn btn-primary" v-on:click="query()"><i class="fa fa-search">查詢</i></button>
                                    <button type="button" class="btn btn-danger" v-on:click="clearQuery()"><i class="fa fa-trash">清除</i></button>
                                    <button type="button" class="btn btn-info" v-on:click="exportExcel()"><i class="fa fa-file-excel-o">匯出</i></button>
                                </label>
                                <label for="" class="col-sm-2" style="background-color:red" align="left" v-if="model.ErrorMessage != ''">
                                    {{model.ErrorMessage}}
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共 @Model.Page.TotalAmount 筆 第 @Model.Search.Page 頁</label>
                                    @if (Model.Search.OptionType == 1)
                                    {
                                        <button type="button" v-on:click="showBatchDeleteModal()" class="btn btn-danger">刪除勾選的項目</button>
                                    }
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>序號</th>
                                    @if (Model.Search.OptionType == 1)
                                    {
                                        <th>
                                            <input type="checkbox" v-bind:class="{ checked: IsCheckAll }" v-on:click="CheckAll()">
                                        </th>
                                    }
                                    <th>記帳日</th>
                                    <th>分錄編號</th>
                                    <th>分錄描述</th>
                                    <th>交易序號</th>
                                    <th>Account Key</th>
                                    <th>分行/科子細目/幣別</th>
                                    <th>會計科目名稱</th>
                                    <th>借方金額</th>
                                    <th>貸方金額</th>
                                    <th>備註</th>
                                    <th>出帳日</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>

                                @for (int index = 0; index < Model.Page.Items.Count; ++index)
                                {
                                    var item = Model.Page.Items[index];

                                    <tr>
                                        <td>@(index + 1)</td>
                                        @if (Model.Search.OptionType == 1)
                                        {
                                            <td>
                                                <div>
                                                    <input type="checkbox" name="id" id="id" style="width: 20px" class="" value="@item._ID">
                                                </div>
                                            </td>
                                        }
                                        <td>
                                            @item.OpenDate.ToString("yyyy/MM/dd")
                                        </td>
                                        <td>
                                            @if (item.MasterNo.ToString("0") != "0")
                                            {
                                                @:@item.MasterNo.ToString("0")
                                            }
                                        </td>
                                        <td>
                                            @item.Description
                                        </td>
                                        <td>
                                            @item.TransSeq
                                        </td>
                                        <td>
                                            @item.AccountKey
                                        </td>
                                        <td>
                                            @item.GLAccount
                                        </td>
                                        <td>
                                            @item.AccountName
                                        </td>
                                        <td>
                                            @if (item.DBCR.Trim() == "D")
                                            {
                                                @:@Html.Encode(item._Amount)
                                    }
                                        </td>
                                        <td>
                                            @if (item.DBCR.Trim() == "C")
                                            {
                                                @:@Html.Encode(item._Amount)
                                    }
                                        </td>
                                        <td>
                                            @item._Notes
                                        </td>
                                        <td>
                                            @item.PostDate.ShortDescription()
                                        </td>
                                        <td>

                                            @if (Model.Search.OptionType == 1)
                                            {
                                                <a class="btn btn-info btn-circle" href="@Url.Action("MonthDetail", new {id = item._ID})">
                                                    <i class="fa fa-file-text-o"></i>
                                                </a>
                                                <a class="btn btn-info btn-circle" href="@Url.Action("EditAccount", new {id = item._ID})">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <button class="btn btn-danger btn-circle" v-on:click="showDeleteModal('@item._ID')" title="刪除單筆資料">
                                                    <i class="fa fa-trash-o"></i>
                                                </button>
                                            }
                                            else
                                            {
                                                <a class="btn btn-info btn-circle" href="@Url.Action("OtherDetail", new {id = item._ID})">
                                                    <i class="fa fa-file-text-o"></i>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="batchDeleteModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">刪除本月明細檔</h4>
                </div>
                <div class="modal-body">
                    <label for="" class="col-sm-4 control-label">刪除原因</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="BatchDeleteReason" v-model="model.BatchDeleteReason" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" v-on:click="DeleteBatch()">刪除</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">刪除本月明細檔</h4>
                </div>
                <div class="modal-body">
                    <label for="" class="col-sm-4 control-label">刪除原因</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="DeleteReason" v-model="model.DeleteReason" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" v-on:click="deleteItem()">刪除</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>

        </div>
    </div>
</div>
@section scripts{

    @Html.Partial("_VuePageList")
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                model: {
                    Page: '@Model.Search.Page',
                    OptionType: @Model.Search.OptionType,
                    BeginOpenDate: '@Model.Search.BeginOpenDate.ToString("yyyy-MM-dd")',
                    EndOpenDate: '@Model.Search.EndOpenDate.ToString("yyyy-MM-dd")',
                    AssetNo: '@Model.Search.AssetNo',
                    MasterNo: '@Model.Search.MasterNo',
                    Seq: '@Model.Search.Seq',
                    TransSeq: '@Model.Search.TransSeq',
                    TradeType: '@Model.Search.TradeType',
                    TransType: '@Model.Search.TransType',
                    ErrorMessage: '@Model.Search.ErrorMessage',
                    DeleteId: '',
                    DeleteReason: '',
                    BatchDeleteReason: '',
                },
                IsCheckAll: false
            },
            mounted: function() {
            },
            methods: {
                query: function() {
                    if (this.model.OptionType === 0) {
                        Utility.LightBox.alert("錯誤", "請選擇查詢月份", "確定");
                        return;
                    }
                    if (this.model.BeginOpenDate > this.model.EndOpenDate) {
                        Utility.LightBox.alert("錯誤", "結束日期不可小於開始日期", "確定");
                        return;
                    }
                    const url = this.getQueryUrl();
                    const parameters = this.getQueryParameters();
                    console.log(url + '\\?' + parameters);
                    window.location.href = url + '\\?' + parameters;
                },
                getQueryUrl: function() {
                    const result = '@Url.Action("Index")';
                    return result;
                },
                getQueryParameters: function() {
                    let parameters = '';
                    for (i in this.model) {
                        if (i !== 'Page') {
                            parameters += i + '=' + this.model[i] + '&';
                        }
                    }
                    return parameters;
                },
                exportExcel: function() {
                    let parameters = '';
                    for (i in this.model) {
                        parameters += i + '=' + this.model[i] + '&';
                    }
                    if (this.model.OptionType == 0) {
                        Utility.LightBox.alert("錯誤", "請選擇查詢月份", "確定");
                        return;
                    }
                    if (this.model.BeginOpenDate > this.model.EndOpenDate) {
                        Utility.LightBox.alert("錯誤", "結束日期不可小於開始日期", "確定");
                        return;
                    }
                    let n = '@Url.Action("ExportExcel")/?parameters' + parameters;
                    window.location.href = n;
                },
                clearQuery: function() {
                    for (i in this.model) {
                        this.model[i] = '';
                    }
                    let d = new Date().toISOString().slice(0, 10);
                    this.model.BeginOpenDate = d;
                    this.model.EndOpenDate = d;
                    this.model.OptionType = 0;
                },
                showDeleteModal: function(id) {
                    this.model.DeleteReason = "";
                    this.model.DeleteId = id;
                    $('#deleteModal').modal('show');
                },
                showBatchDeleteModal: function() {
                    this.model.BatchDeleteReason = "";
                    $('#batchDeleteModal').modal('show');
                },
                DeleteBatch: function() {
                    var objs = $("input[name$='id']:checked");
                    var ajax = new Utility.Ajax();
                    var postData = new Object();
                    postData.id = [];
                    postData.deleteReason = this.model.BatchDeleteReason;
                    for (var i = 0; i < objs.length; i++) {
                        postData.id.push($(objs[i]).val());
                    }
                    console.log(postData);
                    ajax.POSTData('@Url.Action("DeleteBatch")',
                        postData,
                        function() {
                            Utility.LightBox.alert('訊息',
                                '刪除成功',
                                '確定',
                                function() {
                                    location.reload();
                                });
                        });
                },
                deleteItem: function() {
                    var ajax = new Utility.Ajax();
                    var obj = new Object();

                    obj.id = this.model.DeleteId;
                    obj.message = this.model.DeleteReason;
                    //console.log(obj);
                    ajax.POSTData(
                        '@Url.Action("DeleteAccMonth")',
                        obj,
                        function() {
                            Utility.LightBox.alert('訊息',
                                '刪除成功',
                                '確定',
                                function() {
                                    location.reload();
                                });
                        }
                    );
                    //ajax.POSTData()
                },
                CheckAll: function() {
                    var objs = $("input[name$='id']");
                    this.IsCheckAll = !this.IsCheckAll;
                    for (var i = 0; i < objs.length; i++) {
                        $(objs[i]).prop('checked', this.IsCheckAll);
                    }
                }
            }
        });

        (function($) {
            let page = new $.PageTemplate({
                el: "#page_region",
                data: {
                    limit_pages: 10, //畫面上最多有幾頁可供選擇
                    total_amount: @Model.Page.TotalAmount, //資料庫總筆數
                    page_size: 20, //單頁筆數
                    page_now: @Model.Search.Page, //當前頁
                    center_page: @Model.Search.Page, //置中頁,通常會將當前頁置中
                    pages: [], //通常為空,
                    action: app.getQueryUrl(), // 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                    extend_Parameters: '&' + app.getQueryParameters()
                }
            });
        })(jQuery);
    </script>
}
