﻿@using Library.Common.Extension
@using Library.Servant.Servant.AccountingQueryDeprn.Model
@using Library.Servant.Servant.Accounting;
@model MonthDetailModel

@{
    ViewBag.Title = "本月帳務單筆明細";

    List<Option> branchs = ViewBag.branchs ;
    List<Option> departments = ViewBag.departments;
    List<Option> bookTypes = ViewBag.bookTypes;
    List<Option> currencies = ViewBag.currencies;
    List<Option> transTypes = ViewBag.transTypes;
    List<Option> tradeTypes = ViewBag.tradeTypes;
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>本月帳務單筆明細</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "AccountingQuery")">帳務查詢</a>
            </li>
            <li>
                本月帳務單筆明細
            </li>
        </ol>
    </div>
</div>
<div id="app" class="wrapper wrapper-content animated fadeInRight">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(p => Model._ID )
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>單筆明細</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">列帳行</label>
                                <div class="input-group col-sm-8">
                                    <div class="input-group col-sm-3">
                                        <input type="text" class="form-control" name="Branch_Code" v-model="model.Branch_Code" disabled />
                                    </div>
                                    <div class="input-group col-sm-5">
                                        <select name="" class="form-control" v-bind:value="model.Branch_Code" disabled>
                                            <option v-for="branch in branchs" v-bind:value="branch.Value">{{branch.Key}}</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6 form-group" v-if="model.Branch_Code=='001'">
                                <label for="" class="col-sm-4 control-label">部門</label>
                                <div class="input-group col-sm-8">
                                    <select name="Department" class="form-control" v-model="model.Department" disabled>
                                        <option v-for="department in departments" v-bind:value="department.Value">{{department.Key}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">帳本類別</label>
                                <div class="input-group col-sm-8">
                                    <select name="Book_Type" class="form-control" v-model="model.Book_Type" @@change="ChangeDefaultCurrency()" disabled>
                                        <option v-for="booktype in bookTypes" v-bind:value="booktype.Value">{{booktype.Key}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">幣別</label>
                                <div class="input-group col-sm-8">
                                    <select name="Currency" class="form-control" v-model="model.Currency" disabled>
                                        <option v-for="currency in currencies" v-bind:value="currency.Key">{{currency.Key}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">借/貸</label>
                                <div class="input-group col-sm-8">
                                    <input type="radio" name="DB_CR" value="D" checked disabled/>借方
                                    <input type="radio" name="DB_CR" value="C" disabled/>貸方
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">科子細目編號</label>
                                <div class="input-group col-sm-8">
                                    <input type="text" id="Account" name="Account" class="form-control" v-model="model.Account" disabled/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">IFRS會計科目</label>
                                <div class="input-group col-sm-8">
                                    <input type="text" class="form-control" name="IFRSAccount" v-bind:value="IFRSAccount" disabled />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">科子細目名稱</label>
                                <div class="input-group col-sm-8">
                                    <input type="text" class="form-control" name="Account_Name" v-bind:value="Account_Name" disabled />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">交易類別</label>
                                <div class="col-sm-8">
                                    <select name="Trans_Type" v-model="model.TransType" class="form-control" disabled>
                                        <option v-for="transType in transTypes" v-bind:value="transType.Value">{{transType.Key}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">交易區分</label>
                                <div class="col-sm-8">
                                    <select name="Trade_Type" v-model="model.TradeType" class="form-control" disabled>
                                        <option v-for="tradeType in tradeTypes" v-bind:value="tradeType.Value">{{tradeType.Key}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">金額</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextBoxFor(p => Model._Amount, new { @class = "form-control text-right", disabled=true })
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">入帳日期</label>
                                <div class="input-group col-sm-8">
                                    <input type="text" name="Open_Date" class="form-control" value="@Model.OpenDate.ToString("yyyy-MM-dd").Replace("1900-01-01","")" disabled />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">分錄產生時點</label>
                                <div class="input-group col-sm-8">
                                    <input type="radio" name="Open_Type" value="ST" v-model="model.OptionType" disabled/>建立
                                    <input type="radio" name="Open_Type" value="MA" v-model="model.OptionType" disabled/>異動維護
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">分行/科仔細目/幣別</label>
                                <div class="input-group col-sm-8">
                                    <input type="text" name="Open_Date" class="form-control" v-bind:value="model.Branch_Code +  model.Department + '/' + model.Account + '/' + model.Currency" disabled />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">交易序號</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextBoxFor(p => Model.TransSeq, new { @class = "form-control", disabled=true })
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">Account Key</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextBoxFor(p => Model.AccountKey, new { @class = "form-control", disabled=true })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">資產編號</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextBoxFor(p => Model.AssetNumber, new { @class = "form-control", disabled=true })
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">租約編號</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextBoxFor(p => Model.LeaseNumber, new { @class = "form-control", disabled=true })
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">虛擬帳號</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextBoxFor(p => Model.VirtualAccount, new { @class = "form-control", disabled=true })
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">

                                <label for="" class="col-sm-4 control-label">繳款人ID</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextBoxFor(p => Model.PaymentUserID, new { @class = "form-control", disabled = true })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">繳款人姓名</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextBoxFor(p => Model.PaymentUser, new { @class = "form-control", disabled = true })
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">分錄編號</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextBoxFor(p => Model.MasterNo, new { @class = "form-control", disabled = true })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">匯入序號</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextBoxFor(p => Model.ImportNumber, new { @class = "form-control", disabled = true })
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">批次序號</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextBoxFor(p => Model.BatchSeq, new { @class = "form-control", disabled = true })
                                </div>
                            </div>


                        </div>



                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">帳務備註</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextAreaFor(p => Model._Notes, new { @class = "form-control", disabled = true })
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">分錄備註</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextBoxFor(p => Model._Notes1, new { @class = "form-control", disabled = true })
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">帳務序號</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextBoxFor(p => Model.PostSeq, new { @class = "form-control", disabled = true })
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">補輸原因</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextAreaFor(p => Model.UpdatedNotes, new { @class = "form-control", disabled = true })
                                </div>
                            </div>
                        </div>


                        <hr />

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">核帳確認日</label>
                                <div class="input-group col-sm-8">
                                    <input type="text" name="Value_Date" class="form-control" value="@Model.ValueDate.ShortDescription()" disabled />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">帳務狀態</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextBoxFor(p => Model._Status, new { @class = "form-control", disabled = true })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">拋轉日</label>
                                <div class="input-group col-sm-8">
                                    <input type="text" name="Settle_Date" class="form-control" value="@Model.SettleDate.ShortDescription()" disabled />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">結算日</label>
                                <div class="input-group col-sm-8">
                                    <input type="text" name="Stat_Balance_Date" class="form-control" value="@Model.StatBalanceDate.ShortDescription()" disabled />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">過帳日</label>
                                <div class="input-group col-sm-8">
                                    <input type="text" name="Post_Date" class="form-control" value="@Model.PostDate.ShortDescription()" disabled />
                                </div>

                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">關帳日</label>
                                <div class="input-group col-sm-8">
                                    <input type="text" name="Close_Date" class="form-control" value="@Model.CloseDate.ShortDescription()" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">異動人員</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextBoxFor(p => Model.LastUpdatedBy, new { @class = "form-control", disabled = true })
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">異動時間</label>
                                <div class="input-group col-sm-8">
                                    <input type="text" name="Last_Updated_Time" class="form-control" value="@Model.LastUpdatedTime.ToString("yyyy-MM-dd")" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <a class="btn btn-danger" href="@Url.Action("Index")"><i class="fa fa-crosshairs">回查詢頁</i></a>
                                </label>
                                <label for="" class="col-sm-2" style="background-color: red" align="left" v-if="model.ErrorMessage != ''">
                                    {{model.ErrorMessage}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section scripts{
    <script src="/Scripts/rx.lite.js"></script>
    <script src="/Scripts/rx.jquery.js"></script>
    <script src="/Scripts/rx.binding.js"></script>
    <script>

        var app = new Vue({
            el: '#app',
            data: {
                model: {
                    ErrorMessage: '@ViewBag.errorMessage',
                    Branch_Code: '@Model.BranchCode',
                    Book_Type: '@Model.BookType',
                    Currency: '@Model._Currency',
                    TransType: '@Model.TransType.Trim()',
                    TradeType: '@Model.TradeType.Trim()',
                    Department: '@Model._Department.Trim()',
                    OptionType: '@Model.OpenType',
                    Account:'@Model._Account'
                },
                Account_Name: '',
                IFRSAccount: '',
                branchs: @Html.Raw(Json.Encode(branchs)),
                departments: @Html.Raw(Json.Encode(departments)),
                bookTypes: @Html.Raw(Json.Encode(bookTypes)),
                currencies: @Html.Raw(Json.Encode(currencies)),
                transTypes: @Html.Raw(Json.Encode(transTypes)),
                tradeTypes: @Html.Raw(Json.Encode(tradeTypes)),
            },
            mounted: function() {
                this.init();
            },
            methods: {
                init: function() {
                    var obj = this;
                    var inputAccount = $('#Account');

                    var keyupAccount = inputAccount.keyupAsObservable().map(function(ev) {
                            return ev;
                        })
                        .throttle(300).subscribe(function(x) {
                            var ajax = new Utility.Ajax();
                            ajax.GET("@Url.Action("GetAccountSubjectInfo", "AccountingSubject")" +
                                '/?account=' + x.target.value,
                                function(result) {
                                    obj.IFRSAccount = result["IFRS_Account"];
                                    obj.Account_Name = result["Account_Name"];
                                });
                        });

                    $('#Account').trigger('keyup');
                },
                ChangeDefaultCurrency: function() {
                    var ajax = new Utility.Ajax();
                    var obj = this;
                    ajax.GET("@Url.Action("GetCurrency")" + '/?bookType='+this.model.Book_Type,
                        function(result) {
                            obj.model.Currency = result;
                            console.log(result);
                        });
                }
            }
        });
    </script>
}