﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 檢視資產</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">租賃管理</a>
            </li>
            <li>
                <a href="#">租賃權益查詢作業</a>
            </li>
            <li>
                <a href="#">檢視單據</a>
            </li>
            <li>
                <a href="#">檢視資產</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row" style="margin-bottom: 80px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>編輯資產</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-9 form-group">
                                <label class="col-sm-2 control-label" style="width:16.5%">母資產</label>
                                <div class="col-sm-4 text-lineH-fix">
                                    <span style="float:left;margin-right:10px">無母資產</span>
                                    <a class="btn btn-gray" style="margin-left:20px"><i class="fa fa-plus"> 設定母資產</i></a>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label class="col-sm-2 control-label" style="width:16.5%">國內/海外資產</label>
                                <div class="col-sm-9">
                                    <label style="padding-top:6px">
                                        <input type="radio" name="radioset1" value="" id="" checked>
                                        <span style="font-weight:normal;padding-right:10px">國內資產</span>
                                        <input type="radio" name="radioset1" value="" id="">
                                        <span style="font-weight:normal">海外資產</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group gutter-s">
                                <label class="col-sm-2 control-label" style="width:16.5%"><span style="color:red">*</span> 資產分類</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">請選擇資產科目</option>
                                        <option value="" selected>9 資產改良</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">請選擇資產子目</option>
                                        <option value="" selected>000001 租賃權益改良物</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">請選擇使用類別</option>
                                        <option value="">A 投資-非自用</option>
                                        <option value="" selected>B 固定-自用</option>
                                        <option value="">C 投資-開發</option>
                                        <option value="">D 固定-開發</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="col-sm-3 control-label">財產名稱</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="租賃權益改良物" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="col-sm-3 control-label">財產別名</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="租賃權益改良物" />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="col-sm-3 control-label">資產編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="9000001-0000001" disabled /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="col-sm-3 control-label">原資產編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="901-0000001" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="col-sm-3 control-label">耐用年限</label>
                                <div class="col-sm-3 text-lineH-fix">
                                    <input type="text" class="form-control" value="3" style="width:70%;float:left " disabled />
                                    </select> <span style="float:left; padding-left:10px;">年</span>
                                </div>
                                <div class="col-sm-3 text-lineH-fix">
                                    <input type="text" class="form-control" value="8" style="width:70%;float:left " disabled />
                                    </select> <span style="float:left; padding-left:10px;">月</span>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="col-sm-3 control-label">財物編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label class="col-sm-3 control-label">折舊方式</label>
                                <div class="col-sm-6" style="padding: 0 5px 0 15px">
                                    <select class="form-control" id="">
                                        <option value="" selected>STL</option>
                                        <option value="">不攤銷</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="col-sm-3 control-label">帳本</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="" selected>NTD_MP_IFRS</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="col-sm-3 control-label">啟用日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="">
                                        <input type='text' class="form-control" disabled />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="col-sm-3 control-label"><span style="color:red">*</span> 單位量</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="1" disabled /></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-12 form-group gutter-s">
                                <label class="col-sm-2 control-label" style="width:12.2%"><span style="color:red">*</span> 放置地點</label>
                                <div class="col-sm-10">
                                    <div class="col-sm-2" style="padding-left:0">
                                        <select class="form-control" id="">
                                            <option value="">001 總行</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control" id="">
                                            <option value="">08 產權部</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control" id="">
                                            <option value="">XX科</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control" id="">
                                            <option value="">XX樓</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" value="請輸入放置位置" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label class="col-sm-2 control-label" style="width:12.5%">資產會計科目</label>
                                <div class="col-sm-5 text-lineH-fix">
                                    分錄(借) 301600 <span style="color:#999">資產取得-自用/租貸權益改良</span>
                                </div>
                                <div class="col-sm-5 text-lineH-fix">
                                    會計科目(借) 156100003 <span style="color:#999">租貸權益改良</span>
                                </div>
                                <br>
                                <label class="col-sm-2 control-label" style="width:12.5%"></label>
                                <div class="col-sm-5 text-lineH-fix">
                                    分錄(貸) 301600 <span style="color:#999">資產取得-自用/租貸權益改良</span>
                                </div>
                                <div class="col-sm-5 text-lineH-fix">
                                    會計科目(貸) 900201006 <span style="color:#999">臨時往來-部間往來</span>
                                </div>

                            </div>

                            <div class="col-sm-12 form-group">
                                <label class="col-sm-2 control-label" style="width:12.5%">攤銷費用科目</label>
                                <div class="col-sm-5 text-lineH-fix">
                                    分錄(借) 303160 <span style="color:#999">資產折舊-自用/租貸權益改良折舊</span>
                                </div>
                                <div class="col-sm-5 text-lineH-fix">
                                    會計科目(借) 581552002 <span style="color:#999">業務費用-租貸權益改良折舊</span>
                                </div>
                                <br>
                                <label class="col-sm-2 control-label" style="width:12.5%" "></label>
                                <div class="col-sm-5 text-lineH-fix">
                                    分錄(貸) 303160 <span style="color:#999">資產折舊-自用/租貸權益改良折舊</span>
                                </div>
                                <div class="col-sm-5 text-lineH-fix">
                                    會計科目(貸) 156300009 <span style="color:#999">累計折舊-租貸權益改良折舊</span>
                                </div>
                            </div>

                        </div>


                        <div class="ibox-c-subtitle">採購資訊</div>

                        <div class="row">
                            <div class="col-sm-6 form-group gutter-s">
                                <label class="col-sm-3 control-label gutter-s"><span style="color:red">*</span> 保管單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">08 產權部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001XX科</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="col-sm-3 control-label"><span style="color:red">*</span> 保管人</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">023001 陳小明 </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="col-sm-3 control-label">採購案號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="col-sm-3 control-label">採購描述</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="col-sm-3 control-label">廠商規格</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="col-sm-3 control-label">驗收日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="col-sm-3 control-label">附屬設備</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" value="" style="float:left;width:50% !important" />
                                    <a href="#" class="btn btn-link" style="color:#ccc;font-size:16px;float:left"><i class="fa fa-trash"></i></a>
                                    <a href="#" class="btn btn-link" style="color:#ccc;font-size:16px;float:left"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label class="col-sm-3 control-label">財物單位</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group">
                                <label class="col-sm-2 control-label" style="width:16.5%">備註</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                            </div>


                        </div>

                        <div class="ibox-c-subtitle">帳務資料與其他事項</div>

                        <div class="row">
                            <div class="col-sm-9 form-group gutter-s">
                                <label class="col-sm-2 control-label"><span style="color:red">*</span> 管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">08 產權部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001XX科</option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-1 control-label" style="width:12.5%"><span style="color:red">*</span> 資產成本</label>
                                <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                                <label for="" class="col-sm-1 control-label">累計折舊</label>
                                <div class="col-sm-2"><input type="text" class="form-control" value="" disabled /></div>
                                <label for="" class="col-sm-1 control-label">殘值</label>
                                <div class="col-sm-2"><input type="text" class="form-control" value="" disabled /></div>
                            </div>

                        </div>
                    </form>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>租約</label>
                                </td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>租約編號</th>
                                    <th>租約類型</th>
                                    <th>租約事務</th>
                                    <th>管轄單位</th>
                                    <th>帳號</th>
                                    <th>租賃期間</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>106-00001</td>
                                    <td>租金</td>
                                    <td>新租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td><a class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>106-00001</td>
                                    <td>租金</td>
                                    <td>續租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td><a class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive" style="margin-bottom:50px">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>交易明細</label>
                                </td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>記帳時間</th>
                                    <th>單據類型</th>
                                    <th>單據編號</th>
                                    <th>摘要</th>
                                    <th>本次異動金額</th>
                                    <th>資產成本結餘</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>106-08-10 12:00</td>
                                    <td>租賃權益新增單</td>
                                    <td>1060502D200000001</td>
                                    <td>租賃權益改良物</td>
                                    <td>+ 70,000</td>
                                    <td>70,000</td>
                                </tr>
                                <tr>
                                    <td>106-08-31 00:00</td>
                                    <td>租賃權益攤銷單</td>
                                    <td>1060831D510000001</td>
                                    <td>106-08 攤銷</td>
                                    <td>- 972</td>
                                    <td>69,028</td>
                                </tr>
                                <tr>
                                    <td>106-09-30 00:00</td>
                                    <td>租賃權益攤銷單</td>
                                    <td>1060930D510000001</td>
                                    <td>106-09 攤銷</td>
                                    <td>- 972</td>
                                    <td>68,056</td>
                                </tr>
                                <tr>
                                    <td>106-10-31 00:00</td>
                                    <td>租賃權益攤銷單</td>
                                    <td>1061031D510000001</td>
                                    <td>106-10 攤銷</td>
                                    <td>- 972</td>
                                    <td>67,084</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-setAssets" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:70%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="ibox-c-subtitle" style="margin-top: 0px">
                        設定母資產
                        <a data-dismiss="modal" style="float: right"><i class="fa fa-close text-gray"></i></a>
                    </div>
                    <form method="post" action="" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label class="col-sm-2 control-label"><span style="color:red">*</span> 資產分類</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">請選擇資產科目</option>
                                        <option value="">9 資產改良</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">請選擇資產子目</option>
                                        <option value="">000001 租賃權益改良物</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">請選擇使用類別</option>
                                        <option value="">A 投資-非自用</option>
                                        <option value="">B 固定-自用</option>
                                        <option value="">C 投資-開發</option>
                                        <option value="">D 固定-開發</option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label">資產編號/名稱</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">9000001-0000001 租賃權益改良物</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </form>
                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
