﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>新增/編輯單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">租賃管理</a>
            </li>
            <li>
                <a href="#">租賃權益新增作業</a>
            </li>
            <li>
                <a href="#">新增/編輯單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><span class="text-success">【步驟一】</span> 新增單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">請選擇類型</option>
                                        <option value="" selected>租賃權益新增單</option>
                                        <option value="">租賃權益維護單</option>
                                        <option value="">租賃移轉單</option>
                                        <option value="">租賃權益處分單</option>
                                        <option value="">租賃權益攤銷單</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">請選擇來源</option>
                                        <option value="">全部</option>
                                        <option value="" selected>總行個別新增</option>
                                        <option value="">分行個別新增</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1060502D200000001</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 帳本</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">NTD_MP_IFRS</option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 單據處理日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" value="106-05-02" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control">
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">08 產權部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-primary-re">新增</span></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /> </div>
                            </div>



                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label><span class="text-success">【步驟二】</span></label>
                                    <a href="@Url.Action("ContentDetail","LeaseRightsAdded")" class="btn btn-primary"><i class="fa fa-plus"> 新增資產</i></a>
                                    <a class="btn btn-primary"><i class="fa fa-copy"> 匯入資產</i></a>
                                </td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>資產編號</th>
                                    <th>財產名稱</th>
                                    <th>財產別名</th>
                                    <th>保管單位</th>
                                    <th>保管人</th>
                                    <th>目前成本</th>
                                    <th>編輯</th>
                                    <th>複製</th>
                                    <th>移出</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>5,000</td>
                                    <td><a href="@Url.Action("ContentDetail","LeaseRightsAdded")" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-copydata" data-toggle="modal" class="btn btn-gray btn-circle" title="複製"><i class="fa fa-copy"></i></a></td>
                                    <td><a ref="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>15,000</td>
                                    <td><a href="@Url.Action("ContentDetail","LeaseRightsAdded")" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-copydata" data-toggle="modal" class="btn btn-gray btn-circle" title="複製"><i class="fa fa-copy"></i></a></td>
                                    <td><a ref="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>5,000</td>
                                    <td><a href="@Url.Action("ContentDetail","LeaseRightsAdded")" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-copydata" data-toggle="modal" class="btn btn-gray btn-circle" title="複製"><i class="fa fa-copy"></i></a></td>
                                    <td><a ref="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td>圍籬</td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a href="@Url.Action("ContentDetail","LeaseRightsAdded")" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-copydata" data-toggle="modal" class="btn btn-gray btn-circle" title="複製"><i class="fa fa-copy"></i></a></td>
                                    <td><a ref="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td>裝潢</td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a href="@Url.Action("ContentDetail","LeaseRightsAdded")" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-copydata" data-toggle="modal" class="btn btn-gray btn-circle" title="複製"><i class="fa fa-copy"></i></a></td>
                                    <td><a ref="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>5,000</td>
                                    <td><a href="@Url.Action("ContentDetail","LeaseRightsAdded")" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-copydata" data-toggle="modal" class="btn btn-gray btn-circle" title="複製"><i class="fa fa-copy"></i></a></td>
                                    <td><a ref="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>15,000</td>
                                    <td><a href="@Url.Action("ContentDetail","LeaseRightsAdded")" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-copydata" data-toggle="modal" class="btn btn-gray btn-circle" title="複製"><i class="fa fa-copy"></i></a></td>
                                    <td><a ref="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td></td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>5,000</td>
                                    <td><a href="@Url.Action("ContentDetail","LeaseRightsAdded")" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-copydata" data-toggle="modal" class="btn btn-gray btn-circle" title="複製"><i class="fa fa-copy"></i></a></td>
                                    <td><a ref="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td>沙發</td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a href="@Url.Action("ContentDetail","LeaseRightsAdded")" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-copydata" data-toggle="modal" class="btn btn-gray btn-circle" title="複製"><i class="fa fa-copy"></i></a></td>
                                    <td><a ref="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>9000001-0000001</td>
                                    <td>租賃權益改良物</td>
                                    <td>書架</td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>30,000</td>
                                    <td><a href="@Url.Action("ContentDetail","LeaseRightsAdded")" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-copydata" data-toggle="modal" class="btn btn-gray btn-circle" title="複製"><i class="fa fa-copy"></i></a></td>
                                    <td><a ref="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"><span class="text-success">【步驟三】</span></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-splitdata" class="btn btn-success" data-toggle="modal"><i class="fa fa-long-arrow-right"> 提 交 </i></a>
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger"><i class="fa fa-trash"> 刪 除 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-splitdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定提交嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-deletedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定刪除嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-copydata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="ibox-c-subtitle" style="margin-top: 0px">
                        複製數量
                        <a data-dismiss="modal" style="float: right"><i class="fa fa-close text-gray"></i></a>
                    </div>
                    <div>
                        <div class="checkbox-list text-lineH-fix"><span>一次複製</span><input type="text" class="form-control" style="width: 50%"><span>筆</span></div>
                        <div class="clearfix"></div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                    <button class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"> 開始複製 </i></button>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>