﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 檢視單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">資產評估作業</a>
            </li>
            <li>
                <a href="#">評估結果提報作業</a>
            </li>
            <li>
                <a href="#">檢視單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>檢視單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6 text-lineH-fix">評估結果提報單</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6 text-lineH-fix">評估結果提報</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1060502H200000001</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳本</label>
                                <div class="col-sm-6 text-lineH-fix">IFRS_TWD</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據處理日期</label>
                                <div class="col-sm-6 text-lineH-fix">106-05-02</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-6 text-lineH-fix">001 總行  08 產權部  001 XX科</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix text-primary-re">簽核中  </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註</label>
                                <div class="col-sm-5"><input type="text" class="form-control" value="" /> </div>
                                <div class="col-sm-4"><a href="#" class="btn btn-primary"><i class="fa fa-save"> 儲 存 </i></a></div>
                            </div>


                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>巡查案件明細</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>分辦單位</th>
                                    <th>資產分類</th>
                                    <th>房屋財產編號</th>
                                    <th>建物門牌</th>
                                    <th>房屋面積(m2)</th>
                                    <th>房屋主建物帳面價值</th>
                                    <th>查估房屋市場價值</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>基隆分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010202-0000043</td>
                                    <td>基隆市中正路義一路18號</td>
                                    <td>21,658.83</td>
                                    <td>386,269,650.60</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>大安分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010202-0000123</td>
                                    <td>臺北市大安區大安路二段37號</td>
                                    <td>1,503.41</td>
                                    <td>31,027,570.11</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>大安分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010601-0000028</td>
                                    <td>臺北市大安區大安路二段80號</td>
                                    <td>199.80</td>
                                    <td>0.00</td>
                                    <td>311,230.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>仁愛分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010202-0000095</td>
                                    <td>臺北市大安區仁愛路三段29,29-1號</td>
                                    <td>779.80</td>
                                    <td>17,397,659.27</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>仁愛分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010601-0000032</td>
                                    <td>臺北市大安區信義路2段148巷3號</td>
                                    <td>146.08</td>
                                    <td>0.00</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>基隆分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010202-0000043</td>
                                    <td>基隆市中正路義一路18號</td>
                                    <td>21,658.83</td>
                                    <td>386,269,650.60</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>大安分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010202-0000123</td>
                                    <td>臺北市大安區大安路二段37號</td>
                                    <td>1,503.41</td>
                                    <td>31,027,570.11</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>大安分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010601-0000028</td>
                                    <td>臺北市大安區大安路二段80號</td>
                                    <td>199.80</td>
                                    <td>0.00</td>
                                    <td>311,230.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>仁愛分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010202-0000095</td>
                                    <td>臺北市大安區仁愛路三段29,29-1號</td>
                                    <td>779.80</td>
                                    <td>17,397,659.27</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>仁愛分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010601-0000032</td>
                                    <td>臺北市大安區信義路2段148巷3號</td>
                                    <td>146.08</td>
                                    <td>0.00</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-splitdata" class="btn btn-success" data-toggle="modal"><i class="fa fa-long-arrow-right"> 提 交 </i></a>
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger"><i class="fa fa-trash"> 刪 除 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-splitdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定提交嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-deletedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定刪除嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>