﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>新增/編輯單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">資產評估作業</a>
            </li>
            <li>
                <a href="#">評估結果提報作業</a>
            </li>
            <li>
                <a href="#">新增/編輯單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><span class="text-success">【步驟一】</span> 新增單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">評估結果提報單</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">評估結果提報</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1060502H500000001</div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 帳本</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">IFRS_TWD</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 單據處理日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" value="106-05-02" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註(關鍵字)</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 評估期間</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix text-primary-re">新增</div>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label><span class="text-success">【步驟二】</span></label>
                                    <a href="#" class="btn btn-primary"><i class="fa fa-search"> 帶出評估期間內的資產 </i></a>
                                </td>
                                <td style="text-align: right">
                                    <div class="text-lineH-fix">
                                        <input type="radio" name="radiogroup1" checked><span style="margin-right:10px"> 房屋 (254)</span>
                                        <input type="radio" name="radiogroup1" onclick="location.href='H502.aspx'"><span> 土地 (3102)</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>分辦單位</th>
                                    <th>資產分類</th>
                                    <th>房屋財產編號</th>
                                    <th>建物門牌</th>
                                    <th>房屋面積(m2)</th>
                                    <th>房屋主建物帳面價值</th>
                                    <th>查估房屋市場價值</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>基隆分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010202-0000043</td>
                                    <td>基隆市中正路義一路18號</td>
                                    <td>21,658.83</td>
                                    <td>386,269,650.60</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>大安分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010202-0000123</td>
                                    <td>臺北市大安區大安路二段37號</td>
                                    <td>1,503.41</td>
                                    <td>31,027,570.11</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>大安分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010601-0000028</td>
                                    <td>臺北市大安區大安路二段80號</td>
                                    <td>199.80</td>
                                    <td>0.00</td>
                                    <td>311,230.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>仁愛分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010202-0000095</td>
                                    <td>臺北市大安區仁愛路三段29,29-1號</td>
                                    <td>779.80</td>
                                    <td>17,397,659.27</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>仁愛分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010601-0000032</td>
                                    <td>臺北市大安區信義路2段148巷3號</td>
                                    <td>146.08</td>
                                    <td>0.00</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>基隆分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010202-0000043</td>
                                    <td>基隆市中正路義一路18號</td>
                                    <td>21,658.83</td>
                                    <td>386,269,650.60</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>大安分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010202-0000123</td>
                                    <td>臺北市大安區大安路二段37號</td>
                                    <td>1,503.41</td>
                                    <td>31,027,570.11</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>大安分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010601-0000028</td>
                                    <td>臺北市大安區大安路二段80號</td>
                                    <td>199.80</td>
                                    <td>0.00</td>
                                    <td>311,230.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>仁愛分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010202-0000095</td>
                                    <td>臺北市大安區仁愛路三段29,29-1號</td>
                                    <td>779.80</td>
                                    <td>17,397,659.27</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>仁愛分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010601-0000032</td>
                                    <td>臺北市大安區信義路2段148巷3號</td>
                                    <td>146.08</td>
                                    <td>0.00</td>
                                    <td>62,027,570.00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"><span>【步驟三】</span></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-splitdata" class="btn btn-success" data-toggle="modal"><i class="fa fa-long-arrow-right"> 提 交 </i></a>
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger"><i class="fa fa-trash"> 刪 除 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-splitdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定提交嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-deletedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定刪除嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>