﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>報表通知設定</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">交集查詢</a>
            </li>
            <li>
                <a href="#">報表通知設定</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>報表通知設定</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary"><i class="fa fa-search"> 新增設定</i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>使用範本</th>
                                    <th>自動通知期間</th>
                                    <th>週期</th>
                                    <th>通知日期</th>
                                    <th>通知 Email</th>
                                    <th>編輯</th>
                                    <th>刪除</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>資產用途分類統計</td>
                                    <td>永遠</td>
                                    <td>每月</td>
                                    <td>當期次月的 5 日</td>
                                    <td>a0050@landbank.com.tw; <br>a1389@landbank.com.tw</td>
                                    <td><a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>各縣市資產統計表</td>
                                    <td>106/1/1~110/12/31</td>
                                    <td>每月</td>
                                    <td>當期次月的 5 日</td>
                                    <td>a0050@landbank.com.tw; <br>a1389@landbank.com.tw</td>
                                    <td><a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>各類都市計畫分區土地統計表</td>
                                    <td>永遠</td>
                                    <td>每季</td>
                                    <td>當期次月的 5 日</td>
                                    <td>a0050@landbank.com.tw; <br>a1389@landbank.com.tw</td>
                                    <td><a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>財產彙總表</td>
                                    <td>永遠</td>
                                    <td>每年</td>
                                    <td>當期次月的 5 日</td>
                                    <td>a0050@landbank.com.tw; <br>a1389@landbank.com.tw</td>
                                    <td><a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>資產成本(累計折舊)增減變動明細表</td>
                                    <td>永遠</td>
                                    <td>每年</td>
                                    <td>當期次月的 5 日</td>
                                    <td>a0050@landbank.com.tw; <br>a1389@landbank.com.tw</td>
                                    <td><a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>財產期間異動明細表</td>
                                    <td>永遠</td>
                                    <td>每年</td>
                                    <td>當期次月的 5 日</td>
                                    <td>a0050@landbank.com.tw; <br>a1389@landbank.com.tw</td>
                                    <td><a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>資產折舊彙總(統計)表</td>
                                    <td>永遠</td>
                                    <td>每年</td>
                                    <td>當期次月的 5 日</td>
                                    <td>a0050@landbank.com.tw; <br>a1389@landbank.com.tw</td>
                                    <td><a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>資產減損明細表</td>
                                    <td>永遠</td>
                                    <td>每年</td>
                                    <td>當期次月的 5 日</td>
                                    <td>a0050@landbank.com.tw; <br>a1389@landbank.com.tw</td>
                                    <td><a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>資產重估明細表</td>
                                    <td>永遠</td>
                                    <td>每年</td>
                                    <td>當期次月的 5 日</td>
                                    <td>a0050@landbank.com.tw; <br>a1389@landbank.com.tw</td>
                                    <td><a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>自訂範本XXXXX</td>
                                    <td>永遠</td>
                                    <td>每年</td>
                                    <td>當期次月的 5 日</td>
                                    <td>a0050@landbank.com.tw; <br>a1389@landbank.com.tw</td>
                                    <td><a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>自訂範本YYYYY</td>
                                    <td>永遠</td>
                                    <td>每年</td>
                                    <td>當期次月的 5 日</td>
                                    <td>a0050@landbank.com.tw; <br>a1389@landbank.com.tw</td>
                                    <td><a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>自訂範本ZZZZZ</td>
                                    <td>永遠</td>
                                    <td>每年</td>
                                    <td>當期次月的 5 日</td>
                                    <td>a0050@landbank.com.tw; <br>a1389@landbank.com.tw</td>
                                    <td><a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-deletedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定刪除嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:70%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="ibox-c-subtitle" style="margin-top: 0px">
                        編輯報表通知設定
                        <a data-dismiss="modal" style="float: right"><i class="fa fa-close text-gray"></i></a>
                    </div>
                    <form method="post" action="" class="form-horizontal">
                        <div class="row">

                            <div class="col-sm-12 form-group">
                                <label class="col-sm-2 control-label">使用範本</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option class="lightyellow_bg">資產用途分類統計</option>
                                        <option class="lightyellow_bg">各縣市資產統計表</option>
                                        <option class="lightyellow_bg">各類都市計畫分區土地統計表</option>
                                        <option class="lightyellow_bg">財產彙總表</option>
                                        <option class="lightyellow_bg">資產成本(累計折舊)增減變動明細表</option>
                                        <option class="lightyellow_bg">財產期間異動明細表</option>
                                        <option class="lightyellow_bg">資產折舊彙總(統計)表</option>
                                        <option class="lightyellow_bg">資產減損明細表</option>
                                        <option class="lightyellow_bg">資產重估明細表</option>
                                        <option>自訂範本0711</option>
                                        <option>自訂範本0827</option>
                                        <option>自訂範本0924</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label">自動通知期間</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label">寄送週期</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="radio" name="radiogroup2" checked><span>每月</span>
                                    <input type="radio" name="radiogroup2"><span>每季</span>
                                    <input type="radio" name="radiogroup2"><span>每年</span>
                                </div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label">通知日期</label>
                                <div class="col-sm-9 text-lineH-fix ">
                                    <span style="float:left">當期次月的</span>
                                    <input type="text" class="form-control" style="width:50px;margin:0 10px;float:left">
                                    <span style="float:left">日</span>
                                </div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label">產製報表格式</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="radio" name="radiogroup4" checked><span>EXCEL</span>
                                    <input type="radio" name="radiogroup4"><span>CSV</span>
                                    <input type="radio" name="radiogroup4"><span>PDF</span>
                                    <input type="radio" name="radiogroup4"><span>TXT</span>
                                </div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label">通知信主旨</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="報表通知信 – 資產用途分類統計 – [Month]" /></div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label">通知信內容</label>
                                <div class="col-sm-9 ">
                                    <div class="form-control" style="border:1px solid #e5e6e7;min-height:200px;overflow: auto;" id="mailcontentinput">
                                        [UserName]，您好：<br>
                                        請您查閱本月的「資產用途分類統計」，如附件，謝謝。<br>
                                        <br>
                                        <br>
                                        <br>
                                        <div align="right">總行/產權部 陳小明</div>
                                        <div align="right">[Date]</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label">副本 Email</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label"></label>
                                <div class="col-sm-9">
                                    <i class="fa fa-warning" style="padding:10px 0 0 0px;float:left"></i><span style="padding:5px 0 0 10px;float:left">寄給下列保管人，此處可設定需額外副本的 Email，如有多筆 Email，請以分號  ; 分隔。</span>
                                </div>
                            </div>

                        </div>
                    </form>
                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-save"> 儲 存 </i></button>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>