﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 檢視單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">動產管理</a>
            </li>
            <li>
                <a href="#">例行性報廢通知</a>
            </li>
            <li>
                <a href="#">檢視單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>檢視單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6 text-lineH-fix">報廢通知單</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6 text-lineH-fix">例行性報廢</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1060502A201000001</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳本</label>
                                <div class="col-sm-6 text-lineH-fix">IFRS_TWD</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據處理日期</label>
                                <div class="col-sm-6 text-lineH-fix">106-05-02</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-6 text-lineH-fix">001 總行  05 資訊部  001 XX科</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-primary-re">已核准</span> ( 核准日期：106-05-03 )</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註</label>
                                <div class="col-sm-6 text-lineH-fix">備註內容備註內容備註內容</div>
                            </div>


                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>檢視單據</label>
                                </td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>項次</td>
                                    <td>資產編號</td>
                                    <td>財產名稱</td>
                                    <td>處分數量</td>
                                    <td>帳面成本</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td>1</td>
                                    <td>24,000</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td>1</td>
                                    <td>24,000</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td>1</td>
                                    <td>24,000</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>3000031B-0000001</td>
                                    <td>
                                        電腦<br>
                                        <span class="text-gray">(母資產)</span>
                                    </td>
                                    <td>1</td>
                                    <td>24,000</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>3000031B-0000002</td>
                                    <td>
                                        RAM<br>
                                        <span class="text-gray">(子資產)</span>
                                    </td>
                                    <td>1</td>
                                    <td>4,000</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>3000031B-0000003</td>
                                    <td>
                                        硬碟<br>
                                        <span class="text-gray">(子資產)</span>
                                    </td>
                                    <td>1</td>
                                    <td>6,000</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td>1</td>
                                    <td>24,000</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td>1</td>
                                    <td>24,000</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td>1</td>
                                    <td>24,000</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>3000031B-0000001</td>
                                    <td>網路交換器</td>
                                    <td>1</td>
                                    <td>24,000</td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  