﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>出租繳款管理作業</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">租賃整合管理</a>
            </li>
            <li>
                <a href="#">出租繳款管理作業</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋租約</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約類型</label>
                                <div class="col-sm-6 checkbox-list">
                                    <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox"><span>承租</span>
                                    <input type="checkbox"><span>出租</span>

                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">08 產權部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">逾期天數</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="30" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約編號</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">原租約編號</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約事務</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox"><span>新租</span>
                                    <input type="checkbox"><span>繼承承租</span>
                                    <input type="checkbox"><span>續租</span>
                                    <input type="checkbox"><span>過戶承租</span>

                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">業務別</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox"><span>自用</span>
                                    <input type="checkbox"><span>非自用</span>

                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">租約類型</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox"><span>停車位</span>
                                    <input type="checkbox"><span>停車場</span>
                                    <input type="checkbox"><span>基地</span>
                                    <input type="checkbox"><span>基地使用補償</span>
                                    <input type="checkbox"><span>房屋</span>
                                    <input type="checkbox"><span>投資開發</span>
                                    <input type="checkbox"><span>空地</span>
                                    <input type="checkbox"><span>耕地</span>

                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">繳款週期</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox"><span>月</span>
                                    <input type="checkbox"><span>季</span>
                                    <input type="checkbox"><span>半年</span>
                                    <input type="checkbox"><span>年</span>
                                    <input type="checkbox"><span>其他</span>

                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租賃期間</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">承租人資訊</label>
                                <div class="col-sm-6"><input type="text" class="form-control text-gray" value="名稱、身分證號、統一編號等關鍵字" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">業務別</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox"><span>自用</span>
                                    <input type="checkbox"><span>非自用</span>

                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">標的物(關鍵字)</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳號(關鍵字)</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註(關鍵字)</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">年租率</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4 checkbox-list"><input type="text" class="form-control" value="" style="width:80%;margin-top:-6px;padding-left:3px" /><span>%</span></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約狀態</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox"><span>有效</span>
                                    <input type="checkbox"><span>終止</span>

                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">核准日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label for="" style="margin-left:10px">
                                            <button class="btn btn-primary"><i class="fa fa-search"> 本期繳款單快搜 </i></button>
                                        </label>
                                    </td>
                                    <td style="text-align: right">
                                        <label for="" class="pull-right" style="margin-right:10px">
                                            <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                            <button class="btn btn-primary"><i class="fa fa-search"> 搜 尋 </i></button>
                                        </label>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>租約明細</label>
                                </td>
                                <td style="text-align: right">
                                    <a href="/download/繳款單-0515-限時限金(單面).docx" class="btn btn-danger"><i class="fa fa-print"> 批次列印限時限金繳款單</i></a>
                                    <a href="/download/繳款單-0515-非限時限金(正反面).docx" class="btn btn-success"><i class="fa fa-print"> 批次列印非限時限金繳款單</i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>租約編號</th>
                                    <th>原編號</th>
                                    <th>帳號</th>
                                    <th>租賃期間</th>
                                    <th>標的物</th>
                                    <th>承租人名稱</th>
                                    <th>承租人電話</th>
                                    <th>限時限金<br />繳款單</th>
                                    <th>非限時限金<br />繳款單</th>
                                    <th>臨櫃繳款</th>
                                    <th>委託代繳</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>001_05_0001</td>
                                    <td>106-北-0122</td>
                                    <td>北-108000</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>屏東縣中段512地號</td>
                                    <td>陳展元</td>
                                    <td>0912111222</td>
                                    <td><a class="btn btn-danger btn-circle" href="/download/繳款單-0515-限時限金(單面).docx" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-success btn-circle" href="/download/繳款單-0515-非限時限金(正反面).docx" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail_1")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>001_05_0001</td>
                                    <td>106-北-0122</td>
                                    <td>北-108000</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>屏東縣中段512地號</td>
                                    <td>陳展元</td>
                                    <td>0912111222</td>
                                    <td><a class="btn btn-danger btn-circle" href="/download/繳款單-0515-限時限金(單面).docx" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-success btn-circle" href="/download/繳款單-0515-非限時限金(正反面).docx" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail_1")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>001_05_0001</td>
                                    <td>106-北-0122</td>
                                    <td>北-108000</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>屏東縣中段512地號</td>
                                    <td>陳展元</td>
                                    <td>0912111222</td>
                                    <td><a class="btn btn-danger btn-circle" href="/download/繳款單-0515-限時限金(單面).docx" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-success btn-circle" href="/download/繳款單-0515-非限時限金(正反面).docx" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail_1")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>001_05_0001</td>
                                    <td>106-北-0122</td>
                                    <td>北-108000</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>屏東縣中段512地號</td>
                                    <td>陳展元</td>
                                    <td>0912111222</td>
                                    <td><a class="btn btn-danger btn-circle" href="/download/繳款單-0515-限時限金(單面).docx" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-success btn-circle" href="/download/繳款單-0515-非限時限金(正反面).docx" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail_1")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>001_05_0001</td>
                                    <td>106-北-0122</td>
                                    <td>北-108000</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>屏東縣中段512地號</td>
                                    <td>陳展元</td>
                                    <td>0912111222</td>
                                    <td><a class="btn btn-danger btn-circle" href="/download/繳款單-0515-限時限金(單面).docx" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-success btn-circle" href="/download/繳款單-0515-非限時限金(正反面).docx" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail_1")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>001_05_0001</td>
                                    <td>106-北-0122</td>
                                    <td>北-108000</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>屏東縣中段512地號</td>
                                    <td>陳展元</td>
                                    <td>0912111222</td>
                                    <td><a class="btn btn-danger btn-circle" href="/download/繳款單-0515-限時限金(單面).docx" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-success btn-circle" href="/download/繳款單-0515-非限時限金(正反面).docx" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail_1")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>001_05_0001</td>
                                    <td>106-北-0122</td>
                                    <td>北-108000</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>屏東縣中段512地號</td>
                                    <td>陳展元</td>
                                    <td>0912111222</td>
                                    <td><a class="btn btn-danger btn-circle" href="/download/繳款單-0515-限時限金(單面).docx" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-success btn-circle" href="/download/繳款單-0515-非限時限金(正反面).docx" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail_1")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>001_05_0001</td>
                                    <td>106-北-0122</td>
                                    <td>北-108000</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>屏東縣中段512地號</td>
                                    <td>陳展元</td>
                                    <td>0912111222</td>
                                    <td><a class="btn btn-danger btn-circle" href="/download/繳款單-0515-限時限金(單面).docx" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-success btn-circle" href="/download/繳款單-0515-非限時限金(正反面).docx" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail_1")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>001_05_0001</td>
                                    <td>106-北-0122</td>
                                    <td>北-108000</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>屏東縣中段512地號</td>
                                    <td>陳展元</td>
                                    <td>0912111222</td>
                                    <td><a class="btn btn-danger btn-circle" href="/download/繳款單-0515-限時限金(單面).docx" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-success btn-circle" href="/download/繳款單-0515-非限時限金(正反面).docx" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail_1")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>001_05_0001</td>
                                    <td>106-北-0122</td>
                                    <td>北-108000</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>屏東縣中段512地號</td>
                                    <td>陳展元</td>
                                    <td>0912111222</td>
                                    <td><a class="btn btn-danger btn-circle" href="/download/繳款單-0515-限時限金(單面).docx" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-success btn-circle" href="/download/繳款單-0515-非限時限金(正反面).docx" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail_1")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>