﻿@using InspiniaWebAdminTemplate.Models.UserRole
@using Library.Servant.Enums
@model DetailViewModel

@{
    ViewBag.Title = "UserRole";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>新增人員</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="@Url.Action("Index")"> 人員列表</a>
            </li>
            <li>
                <a href="#">新增人員</a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" id="root">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form action="@Url.Action("Submit")" method="post" class="form-horizontal" id="update_roles">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">員工基本資料維護</a></li>
                        </ul>

                        @Html.Hidden("FlowCode", Model.FlowCode)
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <p>@PersonalInfo()</p>
                            </div>
                            @*<div id="menu1" class="tab-pane fade">
                                <p>@ProxyInfo()</p>
                            </div>*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@helper PersonalInfo() {
    @Html.AntiForgeryToken()

    <div class="row">
        @*<div class="wrapper wrapper-content col-sm-3">
                <div class="row">
                    <div class="input-group col-sm-12">
                        <label for="" class="control-label input-group-addon">分行別</label>
                        <input type="text" class="form-control" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-primary" style="margin: 10px">
                        <div class="panel-body" style="min-height: 500px; max-height: 500px; overflow-y: scroll;">
                            <div id='tree_function'></div>
                        </div>
                    </div>
                </div>
            </div>*@


        @if (!string.IsNullOrEmpty(Model.HeaderInfo.FlowCode)) {
            <div class="row">
                <div class="col-sm-6 form-group" align="left">
                    <label for="text" class="col-sm-4 control-label">事務處理編碼</label>
                    <div class="input-group col-sm-8">
                        @Html.TextBox("FlowCode", Model.HeaderInfo.FlowCode, new { @class = "text-input form-control", @type = "text", @readonly = "true" })
                    </div>
                </div>
                @*<div class="col-sm-6 form-group" align="left">
                    <label for="text" class="col-sm-4 control-label">狀態</label>
                    <div class="input-group col-sm-8">
                        @Html.TextBox("Status", Model.HeaderInfo.Status, new { @class = "text-input form-control", @type = "text", @readonly = "true" })
                    </div>
                </div>*@
            </div>
        }

        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="" class="col-sm-4 control-label required">人員編號</label>
                <div class="input-group col-sm-8">
                    @{ 
                        var attribute = new Dictionary<string, object> {
                            { "class", "form-control" }
                        };

                        if (!ViewBag.CanQuery) {
                            attribute.Add("readonly", true);
                        }
                    }
                    @Html.TextBoxFor(m => m.UserCode, attribute)
                    <span id="syncBtn" class="btn btn-primary input-group-addon" @Html.Raw(ViewBag.CanQuery == true ? "" : "disabled")>
                        查詢
                    </span>
                    @Html.Hidden("error_flag", (bool)ViewBag.HasNoData)
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <label for="" class="col-sm-4 control-label required" align="right">人員姓名</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @readonly = "true" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="" class="col-sm-4 control-label required" align="right">所屬部門</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Department, new { @class = "form-control", @readonly = "true" })
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <label for="" class="col-sm-4 control-label required" align="right">分行別</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.BranchName, new { @class = "form-control", @readonly = "true" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group" align="center">
                <label class="radio-inline">
                    @Html.RadioButton("Type", FormType.RoleCreate, Model.HeaderInfo.Type == FormType.RoleCreate || Model.HeaderInfo.Type == FormType.RoleCreateWithModified)
                    新增
                </label>
                <label class="radio-inline">
                    @Html.RadioButton("Type", FormType.RoleRotation, Model.HeaderInfo.Type == FormType.RoleRotation || Model.HeaderInfo.Type == FormType.RoleRotationWithModified)
                    職務輪調
                </label>
                <label class="radio-inline">
                    @Html.RadioButton("Type", FormType.RoleOther, Model.HeaderInfo.Type == FormType.RoleOther || Model.HeaderInfo.Type == FormType.RoleOtherWithModified)
                    其它
                </label>
                <label id="changeEle" class="radio-inline">
                    @Html.CheckBox("IsModified", Model.HeaderInfo.IsModified)異動
                </label>
            </div>
            <div class="col-sm-6 form-group" align="left">
                <label for="text" class="col-sm-4 control-label">異動原因</label>
                <div class="input-group col-sm-8">
                    @{
                        var textareaHtmlAttributes = new Dictionary<string, object> {
                                { "class", "form-control" }
                            };
                    }
                    @Html.TextArea("Reason", Model.HeaderInfo.Reason, textareaHtmlAttributes)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-primary" style="margin: 10px">
            <div class="panel-body">
                <div class="row table-responsive" style="margin: 10px">
                    <div>
                        <table class="table-striped" align="center">
                            <thead>
                                <tr>
                                    <th>原</th>
                                    <th>新</th>
                                    <th nowrap="nowrap">角色名稱</th>
                                    <th>功能</th>
                                </tr>
                            </thead>
                        
                            @{
                                var groupList = Model.TotalRoles.GroupBy(m => m.DocType, v => v);
                                int totalCount = 0, groupCount = 0;
                            }
                            @foreach (var group in groupList) {
                                if (string.IsNullOrEmpty(group.Key)) {
                                    continue;
                                }

                                <tbody @Html.Raw(totalCount == 0 ? "" : "style=\"border: 1px;border-top: dashed\"")>
                                    @for (int idx = 0; idx < group.Count(); idx++) {
                                        var list = group.ToList();
                                        <tr>
                                            @Html.Hidden(string.Format("TotalRoles[{0}].ID", totalCount), list[idx].ID)
                                            <td>@Html.CheckBox("Previous", list[idx].IsChecked, new { @disabled = true })</td>
                                            <td>@Html.CheckBox(string.Format("TotalRoles[{0}].IsChecked", totalCount), false)</td>
                                            <td align="left" nowrap="nowrap" style="text-align:right"><b>@list[idx].Name</b></td>
                                            <td align="left" style="text-align:left">@string.Join(",", list[idx].Programs)</td>
                                        </tr>
                                        totalCount++;
                                    }
                                </tbody>
                                groupCount++;
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <label for="" class="col-sm-12">
                @if (ViewBag.CanEdit == true) {
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save">提交</i></button>
                    <button type="reset" class="btn btn-danger"><i class="fa fa-trash">重設</i></button>
                }
                <a href="#" onclick="javascript: window.history.back()" class="btn btn-warning">回上頁</a>
            </label>
        </div>
    </div>
}

@helper ProxyInfo() {
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label required">分行別</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" readonly>
            </div>
        </div>
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label required" align="right">部門名稱</label>
            <div class="col-sm-8">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label required" align="right">人員編號</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" readonly>
            </div>
        </div>
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label required" align="right">代理人編號</label>
            <div class="col-sm-8">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>

    <div class="row"  style="height: 50px;">
        <div style="width: 100%; border-bottom: 1px solid black; text-align: center">
            <span style="padding: 0 10px;">
                設定代理人
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label">代理時間起</label>
            <div class="input-group col-sm-8">
                <div class="input-group">
                    <input class="form-control datepicker" id="Update_Date_Start"
                           name="Update_Date_Start" type="text" value="106-01-01" data-date-format="yyyy/mm/dd">
                    <span class="input-group-addon date-trigger">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 form-group">
            <label for="" class="col-sm-4 control-label">代理時間迄</label>
            <div class="input-group col-sm-8">
                <div class="input-group">
                    <input class="form-control datepicker" id="Update_Date_Start"
                           name="Update_Date_Start" type="text" value="106-01-01" data-date-format="yyyy/mm/dd">
                    <span class="input-group-addon date-trigger">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="row">
        <div class="col-sm-12 col-sm-offset-4">
            <label for="" class="col-sm-4" align="right">                
                <button id="saveBtn" class="btn btn-primary"><i class="fa fa-save">存檔</i></button>
                <button type="reset" class="btn btn-danger"><i class="fa fa-trash">清除</i></button>
                <a href="@Url.Action("Index")" class="btn btn-warning">回上頁</a>
            </label>
        </div>
    </div>
}

<div id="modal-form-noData" name="dialogModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">訊息</h3>
                        <p>查無資料</p>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>OK</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    @Html.Partial("_VueTreeView")

    <script>

        (function ($) {

            var data = {
                name: 'first',
                children: [
                    {
                        name: 'second',
                        children: [
                            {
                                name: 'third',
                                children: []
                            }
                        ]
                    },
                    {
                        name: 'second',
                        children: []
                    },
                    {
                        name: 'second',
                        children: []
                    },
                    {
                        name: 'second',
                        children: []
                    },
                    {
                        name: 'second',
                        children: []
                    },
                    {
                        name: 'second',
                        children: []
                    },
                    {
                        name: 'second',
                        children: []
                    },
                    {
                        name: 'second',
                        children: []
                    },
                    {
                        name: 'second',
                        children: []
                    },
                    {
                        name: 'second',
                        children: []
                    },
                    {
                        name: 'second',
                        children: []
                    },
                    {
                        name: 'second',
                        children: []
                    }
                ]
            };

            new Vue({

                template: "#tree-root-template",
                el: "#tree_function",
                data: {
                    openStatus: true,
                    treeData: data
                }
            });

            $("#syncBtn").on("click", function () {
                window.location = "@Url.Action("Create")?userCode=" + $("#UserCode").val() + "&flowCode=@Model.FlowCode";
            });

            if ($("#error_flag").val() == "True") {
                $('#modal-form-noData').modal('toggle');
            }
        })(jQuery);

    </script>
}




