﻿@using InspiniaWebAdminTemplate.Models.UserRole
@model IndexViewModel

@{
    ViewBag.Title = "UserRole";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>人員權限控制管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">登入角色管理</a>
            </li>
            <li>
                <a href="#">人員權限設定</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form id="header" action="@Url.Action("UpdateSearchCondition")" method="post" class="form-horizontal">

                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-sm-6" align="left">
                                <label for="text" class="col-sm-4 control-label">分行別</label>
                                <div class="input-group col-sm-8">
                                    @Html.DropDownList("Branch", (IEnumerable<SelectListItem>)ViewBag.Branchs, "全部", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-6" align="center">
                                <label for="text" class="col-sm-4 control-label">部門</label>
                                <div class="input-group col-sm-8">
                                    @Html.DropDownList("Department", (IEnumerable<SelectListItem>)ViewBag.Departments, "全部", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <label for="" class="col-sm-6" align="right">
                                <button id="saveBtn" type="submit" class="btn btn-primary"><i class="fa">查詢</i></button>
                                <button id="resetBtn" type="reset" class="btn btn-primary"><i class="fa">清除</i></button>
                            </label>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

               
                <div class="ibox-content">  
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  @Model.TotalAmount 筆 第 @Model.Condition.Page 頁</label>
                                    <a class="btn btn-sm btn-default"  href="@Url.Action("Index", "Home")">回上頁</a>
                                    <a class="btn btn-sm btn-primary"  href="@Url.Action("Create", new { flowCode = "" })">權限設定</a>
                                </td>
                            </tr>
                        </table>

                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>分行</th>
                                    <th>部門</th>
                                    <th>人員</th>
                                    <th>可使用的角色</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>

                            <tbody>

                                @for (var index = 0; index < Model.Items.Count; ++index) {
                                    var item = Model.Items[index];
                                    <tr>
                                        <td>@(index + 1)</td>
                                        <td>@item.Branch</td>
                                        <td>@item.Department</td>
                                        <td>@item.UserName</td>
                                        <td>
                                            @if (item.LoginRoleNames.Count > 0) {
                                                <a class="bslink" data-toggle="tooltip" data-placement="right" title="@Html.Raw(string.Join("、", item.LoginRoleNames.ToArray()))">適用角色</a>
                                            }
                                            else {
                                                <span>無</span>
                                            }
                                        </td>
                                        <td>
                                            <a class="btn btn-primary btn-circle" href="@Url.Action("Show", "UserRole", new { userCode = item.UserCode })" title="檢視">
                                                <i class="glyphicon glyphicon-list "></i>
                                            </a>
                                        </td>
                                    </tr>
                                }

                          </tbody>

                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.TotalAmount,//資料庫總筆數
                    page_size: @Model.Condition.PageSize,//單頁筆數
                    page_now: @Model.Condition.Page,//當前頁
                    center_page: @Model.Condition.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });
            
            // 為了只有在表頭為職務輪調的時候才顯示異用的按紐
            $("input[name=Type]").change( function () {
                var changeEle = $("#changeEle");

                if (this.value == 2){
                    changeEle.attr("style", "");
                }
                else {
                    changeEle.attr("style", "display:none");
                }
            });

            $('[data-toggle="tooltip"]').tooltip();             

        })(jQuery);

    </script>
}
