﻿@using Library.Servant.Servant.Accounting;
@using Library.Common.Extension;
@using Library.Servant.Servant.Common.Models;
@model Library.Servant.Servant.Accounting.Models._AccountingQueryModel

@{
    IEnumerable<SelectedModel> ddlTransTypes = ViewBag.TransTypes; //交易類別
    ViewBag.Title = "折舊帳務查詢";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>折舊帳務查詢</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "AccountingQueryDeprn")">首頁</a>
            </li>
            <li>
                <a href="#">帳務查詢</a>
            </li>
        </ol>
    </div>
</div>

<div id="app" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">折舊月份</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@DateTime.Now.ToString("yyyy-MM")" disabled />
                                </div>


                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">交易類別</label>
                                <div class="col-sm-8">
                                    <select name="TransTypes" v-model="model.TransType" class="form-control">
                                        @foreach (SelectedModel item in ddlTransTypes)
                                        {
                                            <option value="@item.Value">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">分行</label>
                                <div class="input-group col-sm-3">
                                    <input type="text" class="form-control" id="branchCode" name="BranchCode" v-model="model.BranchCode" />
                                </div>
                                <div class="input-group col-sm-5">
                                    <input name="BranchName" id="branchName" type="text" class="form-control" v-bind:value="model.BranchName" disabled />
                                </div>

                            </div>
                            <div class="col-sm-6 form-group" v-show="model.BranchCode=='001'">
                                <label for="" class="col-sm-4 control-label">部門</label>
                                <div class="input-group col-sm-3">
                                    <input type="text" class="form-control" name="DepartmentCode" id="departmentCode" v-model="model.DepartmentCode" v-bind:readonly="model.BranchCode=='001' ? false : true" />
                                </div>
                                <div class="input-group col-sm-5">
                                    <input name="DepartmentName" id="departmentName" type="text" class="form-control" v-bind:value="model.DepartmentName" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">資產編號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="AssetNo" v-model="model.AssetNo" />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">租約編號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="LeaseNo" v-model="model.LeaseNo" />
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">批次編號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Seq" v-model="model.Seq" />
                                </div>
                            </div>


                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">帳務序號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="PostSeq" v-model="model.PostSeq" />
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">分錄編號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="MasterNo" v-model="model.MasterNo" />
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">分錄描述</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="MasterDescription" v-bind:value="MasterDescription" disabled />
                                </div>
                            </div>
                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button type="button" class="btn btn-primary" v-on:click="query()">
                                        <i class="fa fa-search">查詢</i>
                                    </button>
                                    <button type="button" class="btn btn-danger" v-on:click="clearQuery()">
                                        <i class="fa fa-trash">清除</i>
                                    </button>
                                    <button type="button" class="btn btn-success" v-on:click="exportGroupExcel()">
                                        <i class="fa fa-file-excel-o">匯出</i>
                                    </button>
                                </label>
                                <label for="" class="col-sm-2" style="background-color: red" align="left" v-if="model.ErrorMessage != ''">
                                    {{model.ErrorMessage}}
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共 @Model.Total_Record 筆 第 @Model.Page 頁</label>
                                    <button type="button" v-on:click="ExportDetailExcel()" class="btn btn-success">明細匯出</button>

                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th>
                                        <input type="checkbox" v-bind:class="{ checked: IsCheckAll }" v-on:click="CheckAll()">
                                    </th>
                                    <th>記帳日</th>
                                    <th>分錄編號</th>
                                    <th>分錄描述</th>
                                    <th>分行別/部門</th>
                                    <th>會計科目</th>
                                    <th>會計科目名稱</th>
                                    <th>借方金額</th>
                                    <th>貸方金額</th>
                                    <th>幣別</th>
                                    <th>備註</th>
                                    <th>出帳日</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr v-for="item in model.Details">
                                    <td>{{item.Index}}</td>
                                    <td>
                                        <input type="checkbox" name="id" id="id" style="width: 20px" class="" v-model:checked="item.DetailChecked">
                                    </td>
                                    <td>{{item.Open_Date}}</td>
                                    <td>{{item.Master_No}}</td>
                                    <td>{{item.Description}}</td>
                                    <td>{{item.BranchDepartment}}</td>
                                    <td>
                                        <a v-bind:href="'/AccountingQueryDeprn/Detail?AssetNo=@Model.AssetNo&LeaseNo=@Model.LeaseNo&MasterNo=' + item.Master_No + '&BranchCode=@Model.BranchCode&DepartmentCode=@Model.DepartmentCode&PostSeq=@Model.PostSeq&Seq=@Model.PostSeq&TransType=@Model.TransType&Account='+ item.GL_Account">{{item.GL_Account}}</a>
                                    </td>
                                    <td>{{item.Account_Name}}</td>
                                    <td v-if="item.DB_CR=='D'">{{item.Amount}}</td>
                                    <td v-else></td>
                                    <td v-if="item.DB_CR=='C'">{{item.Amount}}</td>
                                    <td v-else></td>
                                    <td>{{item.Currency}}</td>
                                    <td>{{item.Notes}}</td>
                                    <td>{{item.Post_Date}}</td>

                                </tr>

                            </tbody>

                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
@section scripts{

    @Html.Partial("_VuePageList")
    <script src="/Scripts/rx.lite.js"></script>
    <script src="/Scripts/rx.jquery.js"></script>
    <script src="/Scripts/rx.binding.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                model: {
                    Page: '@Model.Page',
                    AssetNo: '@Model.AssetNo',
                    LeaseNo: '@Model.LeaseNo',
                    MasterNo: '@Model.MasterNo',
                    BranchCode: '@Model.BranchCode',
                    DepartmentCode: '@Model.DepartmentCode',
                    PostSeq: '@Model.PostSeq',
                    BranchName: '',
                    DepartmentName: '',
                    Seq: '@Model.Seq',
                    TransType: '@Model.TransType',
                    ErrorMessage: '@Model.ErrorMessage',
                    Details: [
                        @for (int i = 0; i < Model.Details.Count; i++)
                        {
                            @Html.Raw($"{{" +
                                      $"TransType:'{Html.Encode(Model.TransType)}'," +
                                      $"BranchCode:'{Html.Encode(Model.BranchCode)}'," +
                                      $"DepartmentCode:'{Html.Encode(Model.DepartmentCode)}'," +
                                      $"AssetNo:'{Html.Encode(Model.AssetNo)}'," +
                                      $"LeaseNo:'{Html.Encode(Model.LeaseNo)}'," +
                                      $"Seq:'{Html.Encode(Model.Seq)}'," +
                                      $"TransSeq:'{Html.Encode(Model.TransSeq)}'," +
                                      $"Index:'{i + 1}'," +
                                      $"DetailChecked:false," +
                                      $"Open_Date:'{Html.Encode(Model.Details[i].Open_Date.ToString("yyyy-MM-dd"))}'," +
                                      $"Master_No:'{Html.Encode(Model.Details[i].Master_No == 0 ? "" : Model.Details[i].Master_No.ToString("0"))}'," +
                                      $"Description:'{Html.Encode(Model.Details[i].Description)}'," +
                                      $"BranchDepartment:'{Html.Encode(Model.Details[i].BranchDepartment)}'," +
                                      $"GL_Account:'{Html.Encode(Model.Details[i].GL_Account)}'," +
                                      $"Account_Name:'{Html.Encode(Model.Details[i].Account_Name)}'," +
                                      $"DB_CR:'{Html.Encode(Model.Details[i].DB_CR)}'," +
                                      $"Amount:'{Html.Encode(Model.Details[i].Amount)}'," +
                                      $"Currency:'{Html.Encode(Model.Details[i].Currency)}'," +
                                      $"Notes:'{Html.Encode(Model.Details[i].Notes)}'," +
                                      $"Post_Date:'{Html.Encode(Model.Details[i].Post_Date.ShortDescription())}'," +
                                      $"}},")
                        }
                    ]
                },
                MasterDescription: '',
                IsCheckAll: false
            },
            mounted: function() {
                var inputBranchCode = $('#branchCode');
                var inputDepartmentCode = $('#departmentCode');
                var obj = this;
                var keyupBranch = inputBranchCode.keyupAsObservable().map(function(ev) {
                        return ev;
                    })
                    .throttle(300).subscribe(function(x) {
                        if (x.target.value) {
                            var ajax = new Utility.Ajax();
                            ajax.GET("@Url.Action("GetBranchName", "AccountingQueryDeprn")" +
                                '/?branchCode=' +
                                x.target.value,
                                function(result) {
                                    obj.model.BranchName = result;
                                });
                        } else {
                            obj.model.BranchName = '';
                        }

                    });

                var keyupDepartment = inputDepartmentCode.keyupAsObservable().map(function(ev) {
                        return ev;
                    })
                    .throttle(300).subscribe(function(x) {
                        if (x.target.value) {
                            var ajax = new Utility.Ajax();
                            ajax.GET("@Url.Action("GetDepartmentName", "AccountingQueryDeprn")" +
                                '/?DepartmentCode=' +
                                x.target.value,
                                function(result) {
                                    obj.model.DepartmentName = result;
                                });
                        } else {
                            obj.model.DepartmentName = '';
                        }

                    });

                $(inputBranchCode).trigger('keyup');
                $(inputDepartmentCode).trigger('keyup');
            },
            methods: {
                query: function() {
                    const url = this.getQueryUrl();
                    const parameters = this.getQueryParameters();
                    console.log(url + '\\?' + parameters);
                    window.location.href = url + '\\?' + parameters;
                },
                getQueryUrl: function() {
                    const result = '@Url.Action("Index")';
                    return result;
                },
                getQueryParameters: function() {
                    let parameters = '';
                    for (i in this.model) {
                        if (i !== 'Page') {
                            parameters += i + '=' + this.model[i] + '&';
                        }
                    }
                    return parameters;
                },
                exportGroupExcel: function() {
                    let parameters = '';
                    for (i in this.model) {
                        parameters += i + '=' + this.model[i] + '&';
                    }
                    let n = '@Url.Action("ExportGroupExcel")/?parameters' + parameters;
                    window.location.href = n;
                },
                ExportDetailExcel: function() {
                    Utility.LightBox.alert("訊息", "請等待檔案下載完成後再按關閉", "關閉");
                    var ax = new Utility.Ajax();
                    ax.POSTJsonDataDownloadfile('@Url.Action("ExportDetailExcel")',
                        JSON.stringify(this.model.Details),
                        function(data) {
                            var BOM = "\uFEFF";
                            var blob = new Blob([BOM + data]);
                            if (window.navigator.msSaveOrOpenBlob) {
                                window.navigator.msSaveOrOpenBlob(blob, "折舊明細檔_" + new Date() + ".csv");
                            } else {
                                var link = document.createElement('a');
                                link.href = window.URL.createObjectURL(blob);
                                link.download = "折舊明細檔" + new Date() + ".csv";
                                link.click();
                            }
                 
                        },
                        function(x, y, z) { alert('failed') });
                },
                clearQuery: function() {
                    for (i in this.model) {
                        this.model[i] = '';
                    }
                },
                CheckAll: function() {
                    this.IsCheckAll = !this.IsCheckAll;
                    for (var i = 0; i < this.model.Details.length; i++) {
                        this.model.Details[i].DetailChecked = this.IsCheckAll;
                    }
                },
                DetailChecked: function(transType,
                    branchCode,
                    departmentCode,
                    assetNo,
                    leaseNo,
                    seq,
                    postSeq,
                    masterNo,
                    account,
                    index,
                    $event) {
                    console.log($event.target.checked);
                }
            }
        });

        (function($) {
            let page = new $.PageTemplate({
                el: "#page_region",
                data: {
                    limit_pages: 10, //畫面上最多有幾頁可供選擇
                    total_amount: @Model.Total_Record, //資料庫總筆數
                    page_size: 20, //單頁筆數
                    page_now: @Model.Page, //當前頁
                    center_page: @Model.Page, //置中頁,通常會將當前頁置中
                    pages: [], //通常為空,
                    action: app.getQueryUrl(), // 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                    extend_Parameters: '&' + app.getQueryParameters()
                }
            });
        })(jQuery);
    </script>
}


@*@for (int index = 0; index < Model.Details.Count; ++index)
    {
        var item = Model.Details[index];

        <tr>
            <td>@(index + 1)</td>
            <td>
                <div>
                    <input type="checkbox" name="id" id="id" style="width: 20px" class="" v-on:change="DetailChecked('@Model.TransType', '@Model.BranchCode', '@Model.DepartmentCode', '@Model.AssetNo', '@Model.LeaseNo', '@Model.Seq', '@Model.PostSeq', '@item.Master_No', '@item.GL_Account', '@(index + 1)', $event)">
                </div>
            </td>
            <td>
                @item.Open_Date.ToString("yyyy/MM/dd")
            </td>
            <td>
                @if (item.Master_No.ToString("0") != "0")
                {
                    @:@item.Master_No.ToString("0")
                }
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.BranchDepartment
            </td>
            <td>
                <a href="/AccountingQueryDeprn/Detail?AssetNo=@Model.AssetNo&LeaseNo=@Model.LeaseNo&MasterNo=@item.Master_No&BranchCode=@Model.BranchCode&DepartmentCode=@Model.DepartmentCode&PostSeq=@Model.PostSeq&Seq=@Model.PostSeq&TransType=@Model.TransType&Account=@item.GL_Account">@item.GL_Account</a>
            </td>
            <td>
                @item.Account_Name
            </td>
            <td>
                @if (item.DB_CR.Trim() == "D")
                {
                    @:@Html.Encode(item.Amount)
                }
            </td>
            <td>
                @if (item.DB_CR.Trim() == "C")
                {
                    @:@Html.Encode(item.Amount)
                }
            </td>
            <td>
                @item.Currency
            </td>
            <td>
                @item.Notes
            </td>
            <td>
                @item.Post_Date.ToString("yyyy/MM/dd").Replace("1900/01/01", "")
            </td>
        </tr>
    }*@