﻿
@{
    ViewBag.Title = "資產減損處理";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>資產減損處理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">資產減損處理</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="@Url.Action("Query")" class="form-horizontal" id="queryForm">
                        <input type="hidden" id="CurrentPage" name="CurrentPage" value="" />
                        <input type="hidden" name="PageSize" value="" />

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">縣市</label>
                                <div class="col-sm-8">
                                    <select id="city" class="form-control">
                                        <option>全部</option>
                                        <option>新北市</option>
                                        <option>台北市</option>
                                        <option>桃園縣</option>
                                        <option>台中市</option>
                                        <option>台南市</option>
                                        <option>高雄市</option>
                                        <option>宜蘭縣</option>
                                        <option>新竹縣</option>
                                        <option>苗栗縣</option>
                                        <option>彰化縣</option>
                                        <option>南投縣</option>
                                        <option>雲林縣</option>
                                        <option>嘉義縣</option>
                                        <option>屏東縣</option>
                                        <option>台東縣</option>
                                        <option>花蓮縣</option>
                                        <option>澎湖縣</option>
                                        <option>基隆市</option>
                                        <option>新竹市</option>
                                        <option>嘉義市</option>
                                        <option>金門縣</option>
                                        <option>連江縣</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">地區</label>
                                <div class="col-sm-8">
                                    <select id="zone" class="form-control">
                                        <option>全部</option>
                                    </select>    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">起迄財產編號</label>
                                <div class="input-group col-sm-8">
                                    <input class="form-control" id="BeginCode"
                                           name="BeginCode" type="text" value="">
                                    <span class="input-group-addon">~</span>
                                    <input class="form-control" id="EndCode"
                                           name="EndCode" type="text" value="">
                                </div>
                            </div>
                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button type="button" class="btn btn-primary" onclick="">查詢</button>
                                    <button type="button" class="btn btn-danger" onclick="resetForm()">清除</button>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">


                <div class="ibox-content">
                    <div class="table-responsive" style="overflow-x:auto;">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  2 筆 第 1 頁</label>
                                    <a class="btn btn-warning" href="@Url.Action("Detail")">減損帳務執行</a>
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped" style="white-space:nowrap;">

                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th>財産編號</th>
                                    <th>縣市</th>
                                    <th>地號</th>
                                    <th>面積 (m2)</th>
                                    <th>帳面金額</th>
                                    <th>重估增值</th>
                                    <th>累計減損</th>
                                    <th>帳面價值</th>
                                    <th>公告現值</th>
                                    <th>百分比</th>
                                    <th>公允價值</th>
                                    <th>各分行查估價值</th>
                                    <th>可回收金額</th>
                                    <th>補提減損</th>
                                    <th>價值回升</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1010202-0002790</td>
                                    <td>南投縣</td>
                                    <td></td>
                                    <td>13.00</td>
                                    <td>47,346.00</td>
                                    <td>1,509,404.00</td>
                                    <td>0.00</td>
                                    <td>1,556,750.00</td>
                                    <td>1,543,945.00</td>
                                    <td><input type="text" value="90.15" class="form-control" style="width:75px"/></td>
                                    <td>1,712,640.00</td>
                                    <td><input type="text" value="1543945" class="form-control" style="width:120px"/></td>
                                    <td>1,543,945.00</td>
                                    <td><input type="text" value="12805" class="form-control" style="width:120px"/></td>
                                    <td><input type="text" value="0" class="form-control" style="width:120px"/></td>
                                    <td><button type="button" class="btn btn-sm btn-success" onclick="saveData()">確認</button></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>1010202-0002791</td>
                                    <td>南投縣</td>
                                    <td></td>
                                    <td>14.00</td>
                                    <td>50,980.00</td>
                                    <td>1,301,772.00</td>
                                    <td>0.00</td>
                                    <td>1,352,752.00</td>
                                    <td>1,339,660.00</td>
                                    <td><input type="text" value="90.15" class="form-control" style="width:75px"/></td>
                                    <td>1,486,034.00</td>
                                    <td><input type="text" value="1339660" class="form-control" style="width:120px"/></td>
                                    <td>1,339,660.00</td>
                                    <td><input type="text" value="13092" class="form-control" style="width:120px"/></td>
                                    <td><input type="text" value="0" class="form-control" style="width:120px"/></td>
                                    <td><button type="button" class="btn btn-sm btn-success" onclick="saveData()">確認</button></td>

                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "確認成功" } });
@section Scripts {

    <script>
         
        function resetForm()
        {

        }

        function saveData()
        {
            var message;
            message.IsSuccess = 1;

            successHandler(message);
        }

        (function ($) {

        })(jQuery);

    </script>

}




