﻿
    @{
        ViewBag.Title = "減損帳務明細";
    }



    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>減損帳務明細</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index")">首頁</a>
                </li>
                <li>
                    <a href="#">減損帳務明細</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">


                    <div class="ibox-content">
                        <div class="table-responsive" style="overflow-x:auto;">

                            <table class="table-condensed" width="100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>共 2 筆</label>
                                        <a class="btn btn-sm btn-default" id="buttonDelete" href="@Url.Action("Detail")">回上頁</a>
                                    </td>
                                </tr>
                            </table>


                            <table class="table table-striped" style="white-space:nowrap;">
                                <thead>
                                    <tr>
                                        <th>序號</th>
                                        <th>記帳日</th>
                                        <th>分錄編號</th>
                                        <th>分錄描述</th>
                                        <th>交易序號</th>
                                        <th>Account key</th>
                                        <th>分行別/部門</th>
                                        <th>會計科目</th>
                                        <th>會計科目名稱</th>
                                        <th>借方金額</th>
                                        <th>貸方金額</th>
                                        <th>幣別</th>
                                        <th>備註</th>
                                        <th>帳務序號</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>2017-06-21</td>
                                        <td>311110</td>
                                        <td>固定資產估計減損產-自用/土地</td>
                                        <td>21</td>
                                        <td>H700_008</td>
                                        <td>001總行-08產權</td>
                                        <td>554100008</td>
                                        <td>資產減損損失</td>
                                        <td>12,805</td>
                                        <td></td>
                                        <td>NTD</td>
                                        <td>資產編號:1010202-0002790</td>
                                        <td>555</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>2017-06-21</td>
                                        <td>311110</td>
                                        <td>固定資產估計減損產-自用/土地</td>
                                        <td>21</td>
                                        <td>H700_008</td>
                                        <td>001總行-08產權</td>
                                        <td>554100008</td>
                                        <td>資產減損損失</td>
                                        <td>13,092</td>
                                        <td></td>
                                        <td>NTD</td>
                                        <td>資產編號:1010202-0002790</td>
                                        <td>555</td>
                                    </tr>
                                </tbody>

                            </table>

                            <a id="page">
                                <div id="page_region"></div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {


        <script>

        (function ($) {

        })(jQuery);

        </script>

    }




