﻿@using InspiniaWebAdminTemplate.Models.MP
@model ImportIndexViewModel
@{
    MPImportViewModel Import = new MPImportViewModel();

    if (Model.Items.Count() > 0)
    {
        Import = Model.Items.First();
    }
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2><a class="btn btn-gray btn-circle" style="width:28px;height:28px" href="@Url.Action("Index")" title="回上一頁"><i class="fa fa-arrow-left" style="font-size:18px;line-height:14px;padding-right:2px"></i></a> 匯入紀錄</h2>
        <ol class="breadcrumb" style="padding-left:36px">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">動產管理</a>
            </li>
            <li>
                <a href="#">動產匯入作業</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">整批資料匯入</a>
            </li>
            <li>
                <a href="@Url.Action("Detail")">匯入記錄</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>匯入紀錄</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-4 control-label" align="right">採購案號</label>
                            <div class="col-sm-8" style="line-height:2.5em">@Import.PO_Number</div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-4 control-label" align="right">匯入批次編號</label>
                            <div class="col-sm-8" style="line-height:2.5em">@Import.Import_Num</div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-4 control-label" align="right">需求單位</label>
                            <div class="col-sm-8" style="line-height:2.5em">@Import.Office_BranchName</div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-4 control-label" align="right">匯入批次編號</label>
                            <div class="col-sm-8" style="line-height:2.5em">@(Import.Import_Year)年@(Import.Import_Month)月</div>
                        </div>

                    </div>

                    <div class="row" style="margin-left:-20px">
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label" align="right"><span style="color:red">*</span> 匯入單備註</label>
                            <div class="col-sm-10" style="margin-top:5px">
                                <input type="text" class="form-control " value="@Import.Remark" style="width:30%;float:left" />
                                <button type="button" class="btn btn-primary" style="margin-left:10px"><i class="fa fa-save"> 儲 存</i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-left:-20px">
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label" align="right">匯入歷程</label>
                            <div class="col-sm-10">
                                <div class="table-responsive">
                                    <table class="table table-striped table-white-header">
                                        <thead>
                                            <tr>
                                                <th>匯入時間</th>
                                                <th>匯入總數</th>
                                                <th>匯入人員</th>
                                                <th>狀態</th>
                                                <th>匯入資料檢視</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @if (Model.Items.Count() > 0)
                                            {
                                                for (int i = 0; i < Model.Items.Count(); i++)
                                                {
                                                    var item = Model.Items.ToList()[i];
                                                    <text>
                                                        <tr>
                                                            <td>@item.Create_Time.ToString("yyyy/MM/dd HH:mm:ss")</td>
                                                            <td>@item.ImportAssetsCount</td>
                                                            <td>@item.Created_ByName</td>
                                                            <td>@item.StatusName</td>
                                                            <td><a href="@Url.Action("DownLoadCSV",new { importID = item.ID })" class="btn btn-gray" style="margin-left:10px"><i class="fa fa-arrow-down"> 下 載</i></a></td>
                                                        </tr>
                                                    </text>
                                                                        }
                                                                    }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-left:-20px">
                        <div class="col-sm-12 form-group text-right">
                            <a class="btn btn-primary" href="@Url.Action("Edit",new { importNum = (Model.Items.Count() > 0)?Model.Items.First().Import_Num : "" })" title="重新匯入"><i class="fa fa-check">重新匯入</i></a>
                        </div>
                    </div>

                </div>
                <i class="fa fa-warning" style="padding:10px 0 0 20px;float:left"></i><span style="padding:5px 0 0 10px;float:left">
                    如果匯入失敗，本次匯入的全部資料都不會寫進資料庫，請修正後「重新匯入」，匯入資料會以最新的為準。<br>
                    如果匯入成功，「重新匯入」會把原先的資料全部取代。<br>

                    已納入單據的資料，無法重新匯入。
                </span>
            </div>
        </div>
    </div>
</div>
