﻿@using InspiniaWebAdminTemplate.Models.MP
@model ImportIndexViewModel
<script type="text/javascript">
    @if (TempData["message"] != null)
    {
        <text>
            window.onload = function () {
                alert('@TempData["message"].ToString()');
            }
        </text>
    }
</script>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>整批資產匯入</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">動產管理</a>
            </li>
            <li>
                <a href="#">動產匯入作業</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">整批資料匯入</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" action="@Url.Action("QueryIndex")" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">匯入批次編號</label>
                                <div class="col-sm-3"><input type="text" class="form-control" name="ImportNumBegin" /></div>
                                <div class="col-sm-1" style="width:10px; padding:0; line-height:2.5em">～</div>
                                <div class="col-sm-3"><input type="text" class="form-control" name="ImportNumEnd" /></div>
                                <div class="col-sm-1"></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">匯入時間</label>
                                <div class="col-sm-3">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="ImportBeginDate" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1" style="width:10px; padding:0; line-height:2.5em">～</div>
                                <div class="col-sm-3">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="ImportEndDate" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">採購案號</label>
                                <div class="col-sm-3"><input type="text" class="form-control" name="PONumberBegin" /></div>
                                <div class="col-sm-1" style="width:10px; padding:0; line-height:2.5em">～</div>
                                <div class="col-sm-3"><input type="text" class="form-control" name="PONumberEnd" /></div>
                                <div class="col-sm-1"></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">匯入月份</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" style="float:left;width:30%" name="ImportYear">
                                        <option value="">請選擇</option>
                                        <option value="106">106</option>
                                        <option value="107">107</option>
                                        <option value="108">108</option>
                                        <option value="109">109</option>
                                        <option value="110">110</option>
                                        <option value="111">111</option>
                                        <option value="112">112</option>
                                        <option value="113">113</option>
                                        <option value="114">114</option>
                                        <option value="115">115</option>
                                    </select> <span style="float:left; padding:0 10px 0 10px; line-height:2.5em">年</span>
                                    <select class="form-control" id="" style="float:left;width:30%" name="ImportMonth">
                                        <option value=""></option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select> <span style="float:left; padding:0 10px 0 10px; line-height:2.5em">月</span>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">狀態</label>
                                <div class="col-sm-10">
                                    @CheckBoxListControl.GenCheckBoxList("Status", "Status", "MPImportStatus")
                                </div>
                            </div>


                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除</i></button>
                                    <button class="btn btn-primary"><i class="fa fa-search"> 查 詢</i></button>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <a href="@Url.Action("New")" class="btn btn-primary"><i class="fa fa-plus"> 新增匯入 </i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>匯入批次編號</th>
                                    <th>匯入時間</th>
                                    <th>匯入總數</th>
                                    <th>需求單位</th>
                                    <th>匯入人員</th>
                                    <th>備註</th>
                                    <th>狀態</th>
                                    <th>檢視</th>
                                    <th>刪除 / 重匯</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if(Model != null)
                                {
                                    for (int i = 0; i < Model.Items.Count(); i++)
                                    {
                                        MPImportViewModel item = Model.Items.ToList()[i];
                                        <text>
                                            <tr>
                                                <td>@(i + 1)</td>
                                                <td>@item.Import_Num</td>
                                                <td>@item.Create_Time.ToString("yyyy/MM/dd")</td>
                                                <td>@item.ImportAssetsCount</td>
                                                <td>@item.Office_BranchName</td>
                                                <td>@item.Created_ByName</td>
                                                <td>@item.Remark</td>
                                                <td>@item.StatusName</td>
                                                <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail", new { importNum = item.Import_Num })" title="檢視"><i class="fa fa-list"></i></a></td>
                                                <td><a class="btn btn-primary btn-circle" href="@Url.Action("Edit",new { importNum = item.Import_Num })" title="刪除/重匯"><i class="fa fa-arrow-up"></i></a></td>
                                            </tr>
                                        </text>
                                    }
                                }
                            </tbody>
                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.TotalAmount,//資料庫總筆數
                    page_size: @Model.condition.PageSize,//單頁筆數
                    page_now: @Model.condition.Page,//當前頁
                    center_page: @Model.condition.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });

            $('[data-toggle="tooltip"]').tooltip();

        })(jQuery);

    </script>
}