﻿@using InspiniaWebAdminTemplate.Models.MP
@using Library.Servant.Repository.MP
@model MPImportViewModel
<script type="text/javascript">
    $(function () {
        $('#btnImport').click(function () {
            $('#fileImport').click();
        });
        $('#fileImport').change(function () {
            $('#filename').val($(this).val());
        });
    });
</script>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>整批資產匯入</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">動產管理</a>
            </li>
            <li>
                <a href="#">動產匯入作業</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">整批資料匯入</a>
            </li>
            <li>
                <a href="@Url.Action("New")">新增匯入</a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" style="min-height:inherit">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>新增匯入</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" enctype="multipart/form-data" action="@Url.Action("Import")" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label" align="right">採購案號</label>
                                <div class="col-sm-8"><input type="text" class="form-control" name="PO_Number" /></div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">匯入批次編號</label>
                                <div class="col-sm-8" style="line-height:2.5em">@Model.Import_Num</div>
                                <input type="hidden" name="Import_Num" value="@Model.Import_Num" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label" align="right">需求單位</label>
                                @AssetLocationDispControl.GenAssetLocationDispControl("Office_Branch", "Office_Branch", "","3")
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">匯入月份</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" style="float:left;width:30%" name="Import_Year">
                                        <option value="106">106</option>
                                        <option value="107">107</option>
                                        <option value="108">108</option>
                                        <option value="109">109</option>
                                        <option value="110">110</option>
                                        <option value="111">111</option>
                                        <option value="112">112</option>
                                        <option value="113">113</option>
                                        <option value="114">114</option>
                                        <option value="115">115</option>
                                    </select>
                                    <span style="float:left; padding:0 10px 0 10px; line-height:2.5em">年</span>
                                    <select class="form-control" id="" style="float:left;width:30%" name="Import_Month">
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select> 
                                    <span style="float:left; padding:0 10px 0 10px; line-height:2.5em">月</span>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label" align="right"><span style="color:red">*</span>匯入檔案</label>
                                <div class="col-sm-8" style="margin-top:5px">
                                    <input type="text" class="form-control" id="filename" readonly disabled style="width:80%;float:left" />
                                    <input type="button" id="btnImport" class="form-control" value="瀏 覽" style="width:20%;float:left;background-color:#999;color:#fff;border:1px #999 solid; border-left:none">
                                    <input type="file" style="display:none" id="fileImport" name="fileImport" />
                                    <a href="@(MPHelper.GetWebRoot() + "/download/動產匯入資料.csv")" download="資料範本下載.csv" class="btn btn-gray" style="margin-left:10px"><i class="fa fa-arrow-down"> 資料範本下載</i></a>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span style="color:red">*</span>來源</label>
                                <div class="col-sm-8" style="margin-top:5px">
                                    @DropDownControl.GenDropDownControl("Source", "Source", MPGeneral.GetFormCode("MPImportReview"))
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label" align="right">匯入單備註</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="Remark" />
                                </div>
                                <div class="col-sm-4 text-right">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-check">匯入</i></button>
                                    <a type="button" class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-left">返回</i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <i class="fa fa-warning" style="padding:10px 0 0 20px;float:left"></i>
                <span style="padding:5px 0 0 10px;float:left">
                    如果匯入失敗，本次匯入的全部資料都不會寫進資料庫，請修正後「重新匯入」，匯入資料會以最新的為準。<br>
                    如果匯入成功，「重新匯入」會把原先的資料全部取代。<br>
                    已納入單據的資料，無法重新匯入。
                </span>
            </div>
        </div>
    </div>
</div>

