﻿@using InspiniaWebAdminTemplate.Models.Land
@model AssetLandMPRetireViewModel
@{
    if (Convert.ToBoolean(ViewBag.SignMode))
    {
        Layout = "~/Views/Shared/_EmptyLayout.cshtml";
        TempData["SignMode"] = true;
        ViewBag.Title = "檢視處分資產";
    }

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    var Header = TempData["Header"] as LandHeaderViewModel;
    TempData["Header"] = Header;

    //是否可以編輯
    bool CanEdit = (Header != null && (Header.Transaction_Status == "0" || Header.Transaction_Status == "3" || Header.Transaction_Status == "4"));
}


<script>
    $(function () {
        @if(!CanEdit)
        {
            <text>
                //讓所有表單物件readonly
                $("#form input").prop("disabled", true).prop("readonly", true);
                $("#form select").prop("disabled", true).prop("readonly", true);
            </text>
        }
    });

    function DataCheck() {
        var msg = "";
        $('input[type="radio"][name="Split"]:checked').each(function () {
            if ($(this).val()) {
                $('#AssetsList').val($(this).val());
                AssetsList.push($(this).val());
            }
        });

        if ($("#Reason_Code").val() == "") {
            msg += "請選擇處分原因\n";
        }

        if ($("input[name=Retire_Cost]").val() == "") {
            msg += "請輸入處分成本\n";
        }
        else {
            var Retire_Cost = $("input[name=Retire_Cost]").val();
            if (!IsFloat(Retire_Cost)) {
                msg += "處分成本請輸入正確格式\n";
            }
            else {
                if (Retire_Cost <= 0)
                    msg += "請輸入處分成本\n";
            }
        }
        if ($("input[name=Sell_Amount]").val() == "") {
            msg += "請輸入變賣收入\n";
        }
        else {
            var Sell_Amount = $("input[name=Sell_Amount]").val();
            if (!IsFloat(Sell_Amount)) {
                msg += "變賣收入請輸入正確格式\n";
            }
            else {
                if (Sell_Amount <= 0)
                    msg += "請輸入變賣收入\n";
            }
        }
        if ($("input[name=Sell_Cost]").val() == "") {
            msg += "請輸入變賣成本\n";
        }
        else {
            var Sell_Cost = $("input[name=Sell_Cost]").val();
            if (!IsFloat(Sell_Cost)) {
                msg += "變賣成本請輸入正確格式\n";
            }
            else {
                if (Sell_Cost < 0)
                    msg += "請輸入變賣成本\n";
            }
        }
        if ($("input[name=Reval_Adjustment_Amount]").val() == "") {
            msg += "請輸入未實現重估增值\n";
        }
        else {
            var Reval_Adjustment_Amount = $("input[name=Reval_Adjustment_Amount]").val();
            if (!IsFloat(Reval_Adjustment_Amount)) {
                msg += "未實現重估增值請輸入正確格式\n";
            }
            else {
                if (Reval_Adjustment_Amount < 0)
                    msg += "請輸入未實現重估增值\n";
            }
        }
        if ($("input[name=Reval_Reserve]").val() == "") {
            msg += "請輸入重估增值成本\n";
        }
        else {
            var Reval_Reserve = $("input[name=Reval_Reserve]").val();
            if (!IsFloat(Reval_Reserve)) {
                msg += "重估增值成本請輸入正確格式\n";
            }
            else {
                if (Reval_Reserve < 0)
                    msg += "請輸入重估增值成本\n";
            }
        }
        if (msg != "") {
            alert(msg);
            return false;
        }
        return true;
    }
    function Save() {
        if (!DataCheck())
            return false;
        
        var url = "@Url.Action("Asset_Update")";
        $('#form').attr('action', url);
        $('#form').submit();
    }
    function IsInteger(inputvalue) {
        var valid = "0123456789";
        var ok = true;
        var temp;
        for (var i = 0; i < inputvalue.length; i++) {
            temp = inputvalue.substring(i, i + 1);
            if (valid.indexOf(temp) < 0) ok = false;
            if (!ok)
                break;
        }
        return ok;
    }
    function IsFloat(floatvalue) {
        var checkValue = "";
        checkValue = String(floatvalue);
        var pointIndex = checkValue.indexOf(".");
        if (pointIndex < 0) {
            if (!IsInteger(checkValue))
                return false;
        }
        else {
            if (!IsInteger(checkValue.toString().substring(0, pointIndex - 1)))
                return false;
            if (!IsInteger(checkValue.toString().substring(pointIndex + 1, checkValue.length)))
                return false;
        }
        return true;
    }
</script>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="el-col-10">
        <h2>土地處分</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">土地</a>
            </li>
            <li>
                <a href="#">@(LandHelper.GetFunctionTitle(controllerName) + "作業")</a>
            </li>
            <li>
                <a href="#">@ViewBag.FunctionFrom</a>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <form method="post" id="form" class="form-horizontal">
                    <div class="ibox-title">
                        <input type="hidden" name="ID" value="@Model.ID" />
                        <h5>@ViewBag.Title</h5>
                        <input name="Form_Number" value="@Header.Form_Number" type="hidden" />
                        <input name="Book_Type_Code" value="@Header.Book_Type_Code" type="hidden" />
                        <input name="Office_Branch" value="@Header.Office_Branch" type="hidden" />
                    </div>

                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span class="text-danger">*</span> 處分原因</label>
                                <div class="col-sm-6 checkbox-list">
                                    @DropDownControl.GenDropDownControl("Reason_Code", "Reason_Code", "B12", (!string.IsNullOrEmpty(Model.Reason_Code) ? Model.Reason_Code : ""))
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span class="text-danger">*</span> 處分成本</label>
                                <div class="col-sm-6"><input type="text" name="Retire_Cost" class="form-control " value="@Model.Retire_Cost" /></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span class="text-danger">*</span> 變賣收入</label>
                                <div class="col-sm-6"><input type="text" name="Sell_Amount" class="form-control " value="@Model.Sell_Amount" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span class="text-danger">*</span> 變賣成本</label>
                                <div class="col-sm-6"><input type="text" name="Sell_Cost" class="form-control " value="@Model.Sell_Cost" /></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span class="text-danger">*</span> 未實現重估增值</label>
                                <div class="col-sm-6"><input type="text" name="Reval_Adjustment_Amount" class="form-control " value="@Model.Reval_Adjustment_Amount" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span class="text-danger">*</span> 重估增值成本</label>
                                <div class="col-sm-6"><input type="text" name="Reval_Reserve" class="form-control " value="@Model.Reval_Reserve" /></div>
                            </div>
                            <div class="clearfix"></div>
                            </div>
                        </div>


                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td class="text-right">
                                    <a class="btn btn-default" href="@Url.Action("Edit", controllerName , new { id = Header.Form_Number })"><i class="fa fa-arrow-left">返回</i></a>
                                    @if (CanEdit)
                                    {
                                        <text>
                                            <button class="btn btn-primary" onclick="Save();"><i class="fa fa-save">儲存</i></button>
                                        </text>
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
