﻿@using InspiniaWebAdminTemplate.Models.Land
@model AssetLandMPViewModel
@{
    if (Convert.ToBoolean(ViewBag.SignMode))
    {
        Layout = "~/Views/Shared/_EmptyLayout.cshtml";
        TempData["SignMode"] = true;
        ViewBag.Title = "檢視資產改良";
    }

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    var Header = TempData["Header"] as LandHeaderViewModel;
    TempData["Header"] = Header;
    
    //是否可以編輯
    bool CanEdit = (Header != null && (Header.Transaction_Status == "0" || Header.Transaction_Status == "3" || Header.Transaction_Status == "4"));
}


<script>
    //Control抓代碼的Url
    G_GetItemUrl = '@(Url.Action("GetCodeItem", "LandImprovedAdded"))';
    //Control抓SearchAssets的Url
    G_SearchAssets = '@(Url.Action("SearchAssetsByCategoryCode", "LandImprovedAdded"))';
    //Control抓Main_Kind的Url
    G_GetMain_Kind = '@(Url.Action("GetAssetMain_Kind", "LandImprovedAdded"))';
    //Control抓Detail_Kind的Url
    G_GetAssetDetail_Kind = '@(Url.Action("GetAssetDetail_Kind", "LandImprovedAdded"))';
    //Control抓Use_Types的Url
    G_GetAssetUse_Types = '@(Url.Action("GetAssetUse_Types", "LandImprovedAdded"))';

    $(function () {
        $('#Asset_Category_Code_Main_Kind').change(function () {
            GetAssetNumber();
        });
        $('#Asset_Category_Code_Detail_Kind').change(function () {
            GetAssetNumber();
        });

        @if(!CanEdit)
        {
            <text>
        //讓所有表單物件readonly
        $("#form input").prop("disabled", true).prop("readonly", true);
        $("#form select").prop("disabled", true).prop("readonly", true);
        </text>
        }
    });
    function DataCheck() {
        var msg = "";
        if ($("input[name=Parent_Asset_Number]").val() == "") {
            msg += "請選擇主資產編號\n";
        }
        if ($("#Asset_Category_Code_Main_Kind").val() == "" ||
            $("#Asset_Category_Code_Detail_Kind").val() == "" ||
            $("#Asset_Category_Code_Use_Types").val() == "") {
            msg += "請選擇資產分類\n";
        }
        if ($("#Location_Disp_Branch").val() == "" ||
            $("#Location_Disp_Dept").val() == "" ) {
            msg += "請選擇放置地點\n";
        }
        if ($("input[name=Current_units]").val() == "") {
            msg += "請輸入單位量\n";
        }
        else {
            var unitValue = $("input[name=Current_units]").val();
            if (!IsFloat(unitValue)) {
                msg += "單位量請輸入數字\n";
            }
            else {
                if (unitValue <= 0)
                    msg += "請輸入單位量\n";
            }
        }
        if ($("input[name=Life_Years]").val() == "" || $("input[name=Life_Months]").val() == "") {
            msg += "請輸入年限\n";
        }
        else {
            var life_Years = $("input[name=Life_Years]").val();
            var life_Months = $("input[name=Life_Months]").val();
            if (!IsFloat(life_Years)) {
                msg += "年限年數請輸入數字\n";
            }
            else if (!IsFloat(life_Months)) {
                msg += "年限月數請輸入數字\n";
            }
            else {
                if (life_Years < 0)
                    msg += "年限年數請輸入數字\n";
                if (life_Months < 0)
                    msg += "年限月數請輸入數字\n";
                if (life_Years + life_Months <= 0)
                    msg += "請輸入年限\n";
            }
        }
        if ($("input[name=Description]").val() == "") {
            msg += "請輸入摘要\n";
        }
        if ($("input[name=Datetime_Placed_In_Service]").val() == "") {
            msg += "請輸入摘要\n";
        }
        if ($("input[name=Current_Cost]").val() == "") {
            msg += "請輸入資產成本\n";
        }
        else {
            var unitValue = $("input[name=Current_Cost]").val();
            if (!IsFloat(unitValue)) {
                msg += "資產成本請輸入數字\n";
            }
            else {
                if (unitValue <= 0)
                    msg += "請輸入資產成本\n";
            }
        }
        if ($("input[name=Salvage_Value]").val() == "") {
            msg += "請輸入殘值\n";
        }
        else {
            var unitValue = $("input[name=Salvage_Value]").val();
            if (!IsFloat(unitValue)) {
                msg += "殘值請輸入數字\n";
            }
            else {
                if (unitValue <= 0)
                    msg += "請輸入殘值\n";
            }
        }
        if (msg == "")
        { return true; }
        alert(msg);
        return false;
    }
    function doSave() {
        if (!DataCheck())
            return false;

        @if (actionName == "Asset_New")
        {
            <text>
            $('#form').attr('action', '@Url.Action("Asset_Create")');
            </text>
        }
        else
        {
            <text>
            $('#form').attr('action', '@Url.Action("Asset_Update")');
            </text>
        }
        $('#form').submit();
        return true;
    }
    function GetParentNumber() {
        $('#span_Parent_Asset_Number').text($('#Assets_Parent_Number_S').children(':selected').text());
        $('#hdParent_Asset_Number').val($('#Assets_Parent_Number_S').val());

        $.ajax({
            url: '@Url.Action("GetAssetFormLandByAssetNumber", "LandImprovedAdded")',
            data: 'AssetNumber=' + $('#hdParent_Asset_Number').val(),
            type: 'post',
            success: function (data) {
                //Asset_Category_Code
                if (data.Asset_Category_Code) {
                    MainKind = data.Asset_Category_Code.split(".")[0];
                    DetailKind = data.Asset_Category_Code.split(".")[1];
                    UseType = data.Asset_Category_Code.split(".")[2];

                    BindMain_Kind('Asset_Category_Code', MainKind, DetailKind, 'AccountItem');
                    BindUse_Types('Asset_Category_Code', UseType);
                }
                //Assets_Name
                $('#Parent_Asset_Number').val(data.Assets_Name);
                //Assets_Unit
                $('#Assets_Unit').val(data.Assets_Unit);
                @*//Location_Disp
                if (data.Location_Disp != '') {
                    Branch = data.Location_Disp.split(".")[0];
                    Dept = data.Location_Disp.split(".")[1];
                    SubDept = data.Location_Disp.split(".")[2];
                    Floor = data.Location_Disp.split(".")[3];
                    Memo = data.Location_Disp.split(".")[4];

                    BindControl('@(Url.Action("GetKeep_Position", "MPAdded"))', 'Branch', 'Location_Disp_Branch', Branch);
                    BindControl('@(Url.Action("GetKeep_Position", "MPAdded"))', 'Dept', 'Location_Disp_Dept', Dept);
                    BindControl('@(Url.Action("GetKeep_Position", "MPAdded"))', 'SubDept', 'Location_Disp_SubDept', SubDept);
                    BindControl('@(Url.Action("GetKeep_Position", "MPAdded"))', 'Floor', 'Location_Disp_Floor', Floor);
                    $('#Location_Disp_Memo').val(Memo).change();
                }
                //Assigned_Branch
                if (data.Assigned_Branch != '') {
                    Branch = data.Assigned_Branch.split(".")[0];
                    Dept = data.Assigned_Branch.split(".")[1];
                    SubDept = data.Assigned_Branch.split(".")[2];

                    BindControl_AssignedBranch('@(Url.Action("GetKeep_Position", "MPAdded"))', 'Branch', 'Assigned_Branch_Branch', Branch);
                    BindControl_AssignedBranch('@(Url.Action("GetKeep_Position", "MPAdded"))', 'Dept', 'Assigned_Branch_Dept', Dept);
                    BindControl_AssignedBranch('@(Url.Action("GetKeep_Position", "MPAdded"))', 'SubDept', 'Assigned_Branch_SubDept', SubDept);
                }*@
                //PO_Number
                $('#PO_Number').val(data.PO_Number);
                //PO_Description
                $('#PO_Description').val(data.PO_Description);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    function GetAssetNumber() {
        var MainKind = $('#Asset_Category_Code_Main_Kind').val();
        var DetailKind = $('#Asset_Category_Code_Detail_Kind').val();
        //alert(MainKind);
        if (MainKind && MainKind != '' && DetailKind && DetailKind != '') {
            $.ajax({
                url: '@Url.Action("GetMPAssetNumber", "LandImprovedAdded")',
                data: 'MainKind=' + MainKind + '&DetailKind=' + DetailKind,
                type: 'post',
                success: function (data) {
                    $('#Asset_Number').val(data);
                    @if(Model != null && !string.IsNullOrEmpty(Model.Asset_Number))
                    {
                        <text>
                    $('#Asset_Number').val('@Model.Asset_Number');
                    </text>
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }
    }
    function IsInteger(inputvalue) {
        var valid = "0123456789";
        var ok = true;
        var temp;
        for (var i = 0; i < inputvalue.length; i++) {
            temp = inputvalue.substring(i, i + 1);
            if (valid.indexOf(temp) < 0) ok = false;
            if (!ok)
                break;
        }
        return ok;
    }
    function IsFloat(floatvalue) {
        var checkValue = "";
        checkValue = String(floatvalue);
        var pointIndex = checkValue.indexOf(".");
        if (pointIndex < 0) {
            if (!IsInteger(checkValue))
                return false;
        }
        else {
            if (!IsInteger(checkValue.toString().substring(0, pointIndex - 1)))
                return false;
            if (!IsInteger(checkValue.toString().substring(pointIndex + 1, checkValue.length)))
                return false;
        }
        return true;
    }
</script>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="el-col-10">
        <h2>土地新增</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">土地</a>
            </li>
            <li>
                <a href="#">@(LandHelper.GetFunctionTitle(controllerName) + "作業")</a>
            </li>
            <li>
                <a href="#">@ViewBag.FunctionFrom</a>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <form method="post" class="form-horizontal" id="form">
                    <div class="ibox-title">
                        <h5>@ViewBag.Title > @Header.Form_Number</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                        <input type="hidden" name="ID" value="@Model.ID" />
                        <input name="Form_Number" value="@Header.Form_Number" type="hidden" />
                        <input name="TRX_Header_ID" value="@Header.Form_Number" type="hidden" />
                        <input name="Book_Type_Code" value="@Header.Book_Type_Code" type="hidden" />
                        <input name="Office_Branch" value="@Header.Office_Branch" type="hidden" />
                        <input name="Assets_Land_MP_ID" value="@Model.Assets_Land_MP_ID" type="hidden" />
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-sm-9 form-group col-sm-pull-1 form-inline">
                                <label for="" class="col-sm-3 control-label"><span style="color: red">*</span>主資產編號</label>
                                <div class="col-sm-7">
                                    <span id="span_Parent_Asset_Number">@((Model != null) ? Model.Parent_Asset_Number : "")</span>
                                    <input type="hidden" id="hdParent_Asset_Number" name="Parent_Asset_Number" value="@((Model != null)?Model.Parent_Asset_Number:"")" />
                                </div>
                                <div class="col-sm-2">
                                    @if (CanEdit)
                                    {
                                        <button href="#modal-form-importdata" data-toggle="modal" class="btn btn-gray"><i class="fa fa-plus"></i>設定主資產</button>
                                    }
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label"><span style="color: red">*</span>資產分類</label>
                                <div class="col-sm-7">
                                    @AssetCategoryControl.GenAssetCategoryControl("Asset_Category_Code", "Asset_Category_Code", (Model != null) ? Model.Asset_Category_Code : "", "", "", AssetMainKindType: "LandMP")
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">資產編號</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="Asset_Number" value="@Model.Asset_Number" name="Asset_Number" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label"><span style="color: red">*</span>單位量</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.Current_units" name="Current_units" style="text-align: right" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">啟用日期</label>
                                <div class='col-sm-6 input-group date' data-provide="datepicker-inline">
                                    <input type="text" class="form-control" value="@Model.Date_Placed_In_Service.ToString("yyyy/MM/dd")" name="Date_Placed_In_Service" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">原資產編號</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.Old_Asset_Number" name="Old_Asset_Number" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">折舊方式</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="FSTL" disabled name="Deprn_Method_Code" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label"><span style="color: red">*</span>年限年數</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control " value="@Model.Life_Years" name="Life_Years" />
                                </div>
                                <div class="col-sm-2 text-lineH-fix" style="padding: 0"><span>月數</span></div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control " value="@Model.Life_Months" name="Life_Months" />
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label"><span style="color: red">*</span>放置地點</label>
                                <div class="col-sm-7">
                                    @AssetLocationDispControl.GenAssetLocationDispControl("Location_Disp", "Location_Disp", (!string.IsNullOrEmpty(Model.Location_Disp)) ? Model.Location_Disp : "", "3")
                                </div>
                            </div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label"><span style="color: red">*</span>摘要</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" value="@Model.Description" name="Description" />
                                </div>
                            </div>
                            <div class="clearfix"></div>


                            <div class="ibox-c-subtitle">動產資訊</div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">案號</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="@Model.PO_Number" name="PO_Number" id="PO_Number" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">採購描述</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="@Model.PO_Destination" name="PO_Destination" name="PO_Destination" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">廠商規格</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="@Model.Model_Number" name="Model_Number" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">驗收日期</label>
                                <div class='col-sm-6 input-group date' data-provide="datepicker-inline">
                                    <input type="text" class="form-control" value="@(Model.Transaction_Date.HasValue? Model.Transaction_Date.Value.ToString("yyyy/MM/dd"):"") " name="Transaction_Date" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">財物單位</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="@Model.Assets_Unit" name="Assets_Unit" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">附屬設備</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="@Model.Accessory_Equipment" name="Accessory_Equipment" />
                                </div>
                            </div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">保管人</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="" disabled>
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control " value="@Model.Assigned_NUM" name="Assigned_NUM" />
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="ibox-c-subtitle">資產改良</div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">資產結構</label>
                                <div class="col-sm-6">
                                    @DropDownControl.GenDropDownControl("Asset_Structure", "Asset_Structure", "C03", (!string.IsNullOrEmpty(Model.Asset_Structure) ? Model.Asset_Structure : ""))
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="ibox-c-subtitle">帳務資料</div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label"><span style="color: red">*</span>@*取得成本*@資產成本</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="@Model.Current_Cost" name="Current_Cost" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">累計折舊</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="@Model.Deprn_Reserve" name="Deprn_Reserve" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label"><span style="color: red">*</span>殘值</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="@Model.Salvage_Value" name="Salvage_Value" />
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="ibox-c-subtitle">備註事項</div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">備註事項</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control " value="@Model.Remark" name="Remark" />
                                </div>
                            </div>


                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-content">
                                            <div class="table-responsive">
                                                <table class="table-condensed" style="width:100%">
                                                    <tr>
                                                        <td class="text-right">
                                                            <a class="btn btn-default" href="@Url.Action("Edit", controllerName , new { id = Header.Form_Number })"><i class="fa fa-arrow-left">返回</i></a>
                                                            @if (CanEdit)
                                                            {
                                                                <text>
                                                                    <button class="btn btn-primary" onclick="if (!doSave()) return false; return true;"><i class="fa fa-save">儲存</i></button>
                                                                </text>
                                                            }
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>@*LightBox*@
<div id="modal-form-importdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title" style="border:0">
                                <h5>設定主資產</h5>
                                <div class="ibox-tools"> <a data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label for="" class="col-sm-2 control-label" align="right">資產分類</label>
                                        @AssetCategoryControl.GenAssetCategoryControl("Parent_Asset_Category_Code", "Parent_Asset_Category_Code", "", "", "Assets_Parent_Number_S", "Land")
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label for="" class="col-sm-2 control-label" align="right">資產編號/名稱</label>
                                        <div class="col-sm-6">
                                            <select id="Assets_Parent_Number_S" class="form-control"></select>
                                        </div>
                                        <div class="col-sm-4">
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="" class="pull-right">
                                            <button type="reset" data-dismiss="modal" class="btn btn-gray"><i class="fa fa-close"> 取 消 </i></button>
                                            <button class="btn btn-primary" data-dismiss="modal" onclick="GetParentNumber();"><i class="fa fa-search"> 確 定 </i></button>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>