﻿@using InspiniaWebAdminTemplate.Models.Land
@model AssetLandViewModel
@{
    if (Convert.ToBoolean(ViewBag.SignMode))
    {
        Layout = "~/Views/Shared/_EmptyLayout.cshtml";
        TempData["SignMode"] = true;
        ViewBag.Title = "檢視資產";
    }

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    var Header = TempData["Header"] as LandHeaderViewModel;
    TempData["Header"] = Header;

    //是否可以編輯
    bool CanEdit = (Header != null && (Header.Transaction_Status == "0" || Header.Transaction_Status == "3" || Header.Transaction_Status == "4"));
}


<script>
    $(function () {
        $('#Asset_Category_code_Main_Kind').change(function () {
            GetAssetNumber();
        });
        $('#Asset_Category_code_Detail_Kind').change(function () {
            GetAssetNumber();
        });

        @if(!CanEdit)
        {
            <text>
        //讓所有表單物件readonly
        $("#form input").prop("disabled", true).prop("readonly", true);
        $("#form select").prop("disabled", true).prop("readonly", true);
        </text>
        }

        $('#City_Code').change(function () {
            GetDistrict($(this).val());
            var cityName = $('#City_Code option:selected').text();
            if (cityName != "")
                $("input[name=City_Name]").val(cityName.substring(1, cityName.length));
            else
                $("input[name=City_Name]").val("");
        });

        $('#District_Code').change(function () {
            GetSection($('#City_Code').val(), $(this).val());
            var districtName = $('#District_Code option:selected').text();
            if (districtName != "")
                $("input[name=District_Name]").val(districtName.substring(2, districtName.length));
            else
                $("input[name=District_Name]").val("");
        });

        $('#Section_Code').change(function () {
            GetSubSection($('#City_Code').val(), $('#District_Code').val(), $(this).val());
            var sectionName = $('#Section_Code option:selected').text();
            if (sectionName != "")
                $("input[name=Section_Name]").val(sectionName.substring(4, sectionName.length));
            else
                $("input[name=Section_Name]").val("");
        });

        //初始化
        GetDistrict('@Model.City_Code', '@Model.District_Code');
        GetSection('@Model.City_Code', '@Model.District_Code', '@Model.Section_Code');
        //將計算功能繋結
        BindCalculateRelation();
    });
    function DataCheck() {
        var msg = "";
        if ($("#Asset_Category_code_Main_Kind").val() == "" ||
            $("#Asset_Category_code_Detail_Kind").val() == "" ||
            $("#Asset_Category_code_Use_Types").val() == "") {
            msg += "請選擇資產分類\n";
        }
        if ($("input[name=Current_units]").val() == "") {
            msg += "請輸入單位量\n";
        }
        else {
            var unitValue = $("input[name=Current_units]").val();
            if (!IsFloat(unitValue)) {
                msg += "單位量請輸入數字\n";
            }
            else {
                if (unitValue <= 0)
                    msg += "請輸入單位量\n";
            }
        }
        if ($("input[name=Datetime_Placed_In_Service]").val() == "") {
            msg += "請輸入啟用日期\n";
        }
        if ($("#Location_Disp_Branch").val() == "" ||
            $("#Location_Disp_Dept").val() == "") {
            msg += "請選擇放置地點\n";
        }
        if ($("input[name=Description]").val() == "") {
            msg += "請輸入摘要\n";
        }
        if ($("#City_Code").val() == "") {
            msg += "請選擇縣市\n";
        }
        if ($("#District_Code").val() == "") {
            msg += "請選擇鄉鎮市區\n";
        }
        if ($("#Section_Code").val() == "") {
            msg += "請選擇段\n";
        }
        if ($("input[name=Parent_Land_Number]").val() == "") {
            msg += "請輸入母地號\n";
        }
        if ($("input[name=Authorization_Number]").val() == "") {
            msg += "請輸入權狀字號\n";
        }
        if ($("input[name=Authorized_name]").val() == "") {
            msg += "請輸入地政事務所\n";
        }
        if ($("input[name=Area_Size]").val() == "") {
            msg += "請輸入整筆面積\n";
        }
        else {
            var area_Size = $("input[name=Area_Size]").val();
            if (!IsFloat(area_Size)) {
                msg += "整筆面積請輸入正確格式\n";
            }
            else {
                if (area_Size <= 0)
                    msg += "請輸入整筆面積\n";
            }
        }
        if ($("input[name=Authorized_Scope_Molecule]").val() == "") {
            msg += "請輸入權利範圍-分子\n";
        }
        else {
            var authorized_Scope_Molecule = $("input[name=Authorized_Scope_Molecule]").val();
            if (!IsFloat(authorized_Scope_Molecule)) {
                msg += "權利範圍-分子請輸入正確格式\n";
            }
            else {
                if (authorized_Scope_Molecule <= 0)
                    msg += "請輸入權利範圍-分子\n";
            }
        }
        if ($("input[name=Authorized_Scope_Denomminx]").val() == "") {
            msg += "請輸入權利範圍-分母\n";
        }
        else {
            var authorized_Scope_Denomminx = $("input[name=Authorized_Scope_Denomminx]").val();
            if (!IsFloat(authorized_Scope_Denomminx)) {
                msg += "權利範圍-分母請輸入正確格式\n";
            }
            else {
                if (authorized_Scope_Denomminx <= 0)
                    msg += "請輸入權利範圍-分母\n";
            }
        }
        if ($("input[name=Own_Area]").val() == "") {
            msg += "請輸入自用面積\n";
        }
        else {
            var own_Area = $("input[name=Own_Area]").val();
            if (!IsFloat(own_Area)) {
                msg += "自用面積請輸入正確格式\n";
            }
            else {
                if (own_Area <= 0)
                    msg += "請輸入自用面積\n";
            }
        }
        if ($("#Used_Status").val() == "") {
            msg += "請選擇使用現況\n";
        }
        if ($("#Used_Type").val() == "") {
            msg += "請選擇業務別\n";
        }
        if ($("#Used_Partition").val() == "") {
            msg += "請選擇使用分區\n";
        }
        if ($("#Obtained_Method").val() == "") {
            msg += "請選擇取得方式\n";
        }
        if ($("input[name=Original_Cost]").val() == "") {
            msg += "請輸入取得成本\n";
        }
        else {
            var original_Cost = $("input[name=Original_Cost]").val();
            if (!IsFloat(original_Cost)) {
                msg += "取得成本請輸入正確格式\n";
            }
            else {
                if (original_Cost <= 0)
                    msg += "請輸入取得成本\n";
            }
        }
        if ($("input[name=Current_Cost]").val() == "") {
            msg += "請輸入帳面金額\n";
        }
        else {
            var current_Cost = $("input[name=Current_Cost]").val();
            if (!IsFloat(current_Cost)) {
                msg += "帳面金額請輸入正確格式\n";
            }
            else {
                if (current_Cost <= 0)
                    msg += "請輸入帳面金額\n";
            }
        }
        if ($("input[name=Year_Number]").val() != "") {
            var year_Number = $("input[name=Year_Number]").val();
            if (!IsFloat(year_Number)) {
                msg += "年度請輸入正確格式\n";
            }
        }
        if ($("input[name=Announce_Amount]").val() != "") {
            var announce_Amount = $("input[name=Announce_Amount]").val();
            if (!IsFloat(announce_Amount)) {
                msg += "公告現值請輸入正確格式\n";
            }
        }
        if ($("input[name=Announce_Price]").val() != "") {
            var announce_Price = $("input[name=Announce_Price]").val();
            if (!IsFloat(announce_Price)) {
                msg += "公告地價請輸入正確格式\n";
            }
        }
        if ($("input[name=Reduction_Area]").val() != "") {
            var reduction_Area = $("input[name=Reduction_Area]").val();
            if (!IsFloat(reduction_Area)) {
                msg += "減免面積請輸入正確格式\n";
            }
        }
        if ($("input[name=Declared_Price]").val() != "") {
            var declared_Price = $("input[name=Declared_Price]").val();
            if (!IsFloat(declared_Price)) {
                msg += "申報地價請輸入正確格式\n";
            }
        }
        if ($("input[name=Dutiable_Amount]").val() != "") {
            var dutiable_Amount = $("input[name=Dutiable_Amount]").val();
            if (!IsFloat(dutiable_Amount)) {
                msg += "應繳稅額請輸入正確格式\n";
            }
        }

        var Own_Area = parseFloat($("input[name=Own_Area]").val());
        var Authorized_Area = parseFloat($("input[name=Authorized_Area]").val());
        var Business_Area_Size = parseFloat($("input[name=Business_Area_Size]").val());
        if (Own_Area > Authorized_Area) {
            msg += "「自用面積」必須小於等於「權利面積」\n";
        }
        if (Business_Area_Size > Authorized_Area) {
            msg += "「營業用面積」必須小於等於「權利面積」\n";
        }
        if (msg == "")
        { return true; }
        alert(msg);
        return false;
    }
    function Save() {
        if (!DataCheck())
            return false;
        @if (actionName == "Asset_SplitEdit")
        {
            <text>
        var url = "@Url.Action("Asset_SplitUpdate")";
        </text>
        }
        else if(actionName == "Asset_MergeEdit")
        {
            <text>
        var url = "@Url.Action("Asset_MergeUpdate")";
        </text>
        }
        else
        {
            <text>
        var url = "@((ViewBag.Title == "新增資產") ? Url.Action("Asset_Create") : Url.Action("Asset_Update"))";
        </text>
        }
        $('#form').attr('action', url);
        $('#form').submit();
    }
    function GetAssetNumber() {
        var MainKind = $('#Asset_Category_code_Main_Kind').val();
        var DetailKind = $('#Asset_Category_code_Detail_Kind').val();

        if (MainKind && MainKind != '' && DetailKind && DetailKind != '') {
            $.ajax({
                url: '@Url.Action("GetAssetNumber", "LandAdded")',
                data: 'MainKind=' + MainKind + '&DetailKind=' + DetailKind,
                type: 'post',
                success: function (data) {
                    $('#Asset_Number').val(data);
                    @if(Model != null && !string.IsNullOrEmpty(Model.Asset_Number))
                    {
                        <text>
                    $('#Asset_Number').val('@Model.Asset_Number');
                    </text>
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }
    }
    function GetDistrict(City, DefaultValue) {
        if (City && City != "") {
            $.ajax({
                url: G_GetDistrict,
                data: 'City=' + City,
                type: 'post',
                success: function (data) {
                    //先清
                    $("#District_Code option").remove();

                    $.each(data, function (index, value) {
                        $("#District_Code").append($("<option></option>").attr("value", value.Value).html(value.Value + value.Text));
                    });

                    if (DefaultValue != '') {
                        $("#District_Code").val(DefaultValue);
                    }

                    $("#District_Code").change();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }
    }
    function GetSection(City, District, DefaultValue) {
        if (City && City != "" && District && District != "") {
            $.ajax({
                url: G_GetSection,
                data: { 'City': City, 'District': District },
                type: 'post',
                success: function (data) {
                    //先清
                    $("#Section_Code option").remove();

                    $.each(data, function (index, value) {
                        $("#Section_Code").append($("<option></option>").attr("value", value.Value).html(value.Value + value.Text));
                    });

                    if (DefaultValue != '') {
                        $("#Section_Code").val(DefaultValue);
                    }

                    $("#Section_Code").change();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }
    }
    function GetSubSection(City, District, Section) {
        if (City && City != "" && District && District != "" && Section && Section != "") {
            $.ajax({
                url: G_GetSubSection,
                data: { 'City': City, 'District': District, 'Section': Section },
                type: 'post',
                success: function (data) {
                    //先清
                    $("#Sub_Section_Name").val("");

                    $.each(data, function (index, value) {
                        $("#Sub_Section_Name").val(value.Text);
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }
    }
    function BindCalculateRelation() {
        $("input[name=Area_Size]").on("input", function (e) {
            CalculateArea();
        });
        $("input[name=Authorized_Scope_Molecule]").on("input", function (e) {
            CalculateArea();
        });
        $("input[name=Authorized_Scope_Denomminx]").on("input", function (e) {
            CalculateArea();
        });
        $("input[name=Own_Area]").on("input", function (e) {
            CalculateArea();
        });
        $("input[name=Business_Area_Size]").on("input", function (e) {
            CalculateArea();
        });
    }
    function CalculateArea() {
        var Area_Size = parseFloat($("input[name=Area_Size]").val());
        var Authorized_Scope_Molecule = parseFloat($("input[name=Authorized_Scope_Molecule]").val());
        var Authorized_Scope_Denomminx = parseFloat($("input[name=Authorized_Scope_Denomminx]").val());
        var Business_Area_Size = parseFloat($("input[name=Business_Area_Size]").val());
        var NONBusiness_Area_Size = parseFloat($("input[name=NONBusiness_Area_Size]").val());
        var Authorized_Area = 0;
        var Own_Area = parseFloat($("input[name=Own_Area]").val());
        var Original_Cost = parseFloat($("input[name=Original_Cost]").val());
        var Business_Book_Amount = parseFloat($("input[name=Business_Book_Amount]").val());
        var NONBusiness_Book_Amount = parseFloat($("input[name=NONBusiness_Book_Amount]").val());
        var NONOwn_Area = 0;
        if (Authorized_Scope_Denomminx > 0) {
            Authorized_Area = (Area_Size * Authorized_Scope_Molecule / Authorized_Scope_Denomminx).toFixed(2);
            if (Own_Area == 0) {
                Own_Area = Authorized_Area;
                $("input[name=Own_Area]").val(Own_Area);
            }
        }
        //if (Own_Area > Authorized_Area)
        //{
        //    alert(" 「自用面積」必須小於等於「權利面積」");
        //    $("input[name=Own_Area]").focus();
        //}
        //if (Business_Area_Size > Authorized_Area) {
        //    alert(" 「營業用面積」必須小於等於「權利面積」");
        //    $("input[name=Business_Area_Size]").focus();
        //}
        NONOwn_Area = (Authorized_Area - Own_Area).toFixed(2);
        NONBusiness_Area_Size = (Authorized_Area - Business_Area_Size).toFixed(2);
        if (Authorized_Area > 0) {
            Business_Book_Amount = (Original_Cost * Business_Area_Size / Authorized_Area).toFixed(0);
            NONBusiness_Book_Amount = (Original_Cost - Business_Book_Amount).toFixed(0);
        }
        $("input[name=Authorized_Area]").val(Authorized_Area);
        $("input[name=NONOwn_Area]").val(NONOwn_Area);
        $("input[name=NONBusiness_Area_Size]").val(NONBusiness_Area_Size);
        $("input[name=Business_Book_Amount]").val(Business_Book_Amount);
        $("input[name=NONBusiness_Book_Amount]").val(NONBusiness_Book_Amount);
    }
    function IsInteger(inputvalue) {
        var valid = "0123456789";
        var ok = true;
        var temp;
        for (var i = 0; i < inputvalue.length; i++) {
            temp = inputvalue.substring(i, i + 1);
            if (valid.indexOf(temp) < 0) ok = false;
            if (!ok)
                break;
        }
        return ok;
    }
    function IsFloat(floatvalue) {
        var checkValue = "";
        checkValue = String(floatvalue);
        var pointIndex = checkValue.indexOf(".");
        if (pointIndex < 0) {
            if (!IsInteger(checkValue))
                return false;
        }
        else {
            if (!IsInteger(checkValue.toString().substring(0, pointIndex - 1)))
                return false;
            if (!IsInteger(checkValue.toString().substring(pointIndex + 1, checkValue.length)))
                return false;
        }
        return true;
    }
</script>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="el-col-10">
        <h2>土地新增</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">土地</a>
            </li>
            <li>
                <a href="#">@(LandHelper.GetFunctionTitle(controllerName) + "作業")</a>
            </li>
            <li>
                <a href="#">@ViewBag.FunctionFrom</a>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <form method="post" id="form" class="form-horizontal">
                    <div class="ibox-title">
                        <input type="hidden" name="ID" value="@Model.ID" />
                        <h5>@ViewBag.Title</h5>
                        <input name="Form_Number" value="@Header.Form_Number" type="hidden" />
                        <input name="Book_Type_Code" value="@Header.Book_Type_Code" type="hidden" />
                        <input name="Office_Branch" value="@Header.Office_Branch" type="hidden" />
                        <input name="AS_Assets_Land_ID" value="@Model.Assets_Land_ID" type="hidden" />
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label" align="right"><span class="text-danger">*</span> 資產分類</label>
                                @AssetCategoryControl.GenAssetCategoryControl("Asset_Category_code", "Asset_Category_code", !string.IsNullOrEmpty(Model.Asset_Category_code) ? Model.Asset_Category_code : "", "", "", "Land")
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span class="text-danger">*</span> 資產編號</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="Asset_Number" value="@Model.Asset_Number" name="Asset_Number" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span class="text-danger">*</span> 單位量</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.Current_units" name="Current_units" style="text-align: right" />
                                </div>
                            </div>



                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span class="text-danger">*</span> 啟用日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type="text" class="form-control" value="@Model.Datetime_Placed_In_Service.ToString("yyyy/MM/dd")" name="Datetime_Placed_In_Service" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">原資產編號</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.Old_Asset_Number" name="Old_Asset_Number" />
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label"><span class="text-danger">*</span> 放置地點</label>
                                @AssetLocationDispControl.GenAssetLocationDispControl("Location_Disp", "Location_Disp", (!string.IsNullOrEmpty(Model.Location_Disp)) ? Model.Location_Disp : "", "3")
                            </div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label" align="right"><span class="text-danger">*</span> 摘要</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" value="@Model.Description" name="Description" />
                                </div>
                            </div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label" align="right">都更案號</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" value="@Model.Urban_Renewal" name="Urban_Renewal" />
                                </div>
                            </div>

                        </div>
                    </div>
                    @if (controllerName == "LandCost")
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>處分設定</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            <div class="col-sm-12 form-group">
                                                <label for="" class="col-sm-2 control-label" align="right">增加成本</label>
                                                <div class="col-sm-2">
                                                    <input type="text" name="AddCost" class="form-control" />
                                                </div>
                                                <label for="" class="col-sm-2 control-label" align="right">減少成本</label>
                                                <div class="col-sm-2">
                                                    <input type="text" name="LessCost" class="form-control" />
                                                </div>
                                                <div class="col-sm-4">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="ibox-title">
                        <h5>土地標示</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-5 control-label" align="right"><span class="text-danger">*</span> 縣市</label>
                                <div class="col-sm-7">
                                    @DropDownControl.GenDropDownControl("City_Code", "City_Code", "City", (!string.IsNullOrEmpty(Model.City_Code) ? Model.City_Code : ""))
                                    <input type="hidden" name="City_Name" />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-5 control-label" align="right"><span class="text-danger">*</span> 鄉鎮市區</label>
                                <div class="col-sm-7">
                                    <select name="District_Code" class="form-control" id="District_Code"></select>
                                    <input type="hidden" name="District_Name" />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-5 control-label" align="right"><span class="text-danger">*</span> 段</label>
                                <div class="col-sm-7">
                                    <select name="Section_Code" class="form-control" id="Section_Code"></select>
                                    <input type="hidden" name="Section_Name" />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label" align="right"><span class="text-danger">*</span> 小段</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" id="Sub_Section_Name" name="Sub_Section_Name" value="@Model.Sub_Section_Name" />
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-5 control-label" align="right"><span class="text-danger">*</span> 母地號</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" value="@Model.Parent_Land_Number" name="Parent_Land_Number" />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">子地號</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" value="@Model.Filial_Land_Number" name="Filial_Land_Number" />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-5 control-label" align="right"><span class="text-danger">*</span> 權狀字號</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" value="@Model.Authorization_Number" name="Authorization_Number" />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label" align="right"><span class="text-danger">*</span> 地政事務所</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.Authorized_name" name="Authorized_name" />
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-5 control-label" align="right"><span class="text-danger">*</span> 整筆面積</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" value="@Model.Area_Size" name="Area_Size" style="text-align: right" />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-5 control-label" align="right"><span class="text-danger">*</span> 權利範圍</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" value="@Model.Authorized_Scope_Molecule" name="Authorized_Scope_Molecule" style="text-align: right" />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">/</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" value="@Model.Authorized_Scope_Denomminx" style="text-align: right" name="Authorized_Scope_Denomminx" />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label" align="right"><span class="text-danger">*</span> 權利面積</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.Authorized_Area" name="Authorized_Area" style="text-align: right" readonly="readonly" />
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-sm-4 form-group">
                                    <label for="" class="col-sm-4 control-label" align="right"><span class="text-danger">*</span> 自用面積</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="@Model.Own_Area" name="Own_Area" style="text-align: right" />
                                    </div>
                                </div>

                                <div class="col-sm-4 form-group">
                                    <label for="" class="col-sm-4 control-label" align="right"><span class="text-danger">*</span> 非自用面積</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="@Model.NONOwn_Area" name="NONOwn_Area" style="text-align: right" readonly="readonly" />
                                    </div>
                                </div>

                                <div class="col-sm-4 form-group">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-title">
                        <h5>資產狀況</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span class="text-danger">*</span> 使用現況</label>
                                <div class="col-sm-8">
                                    @DropDownControl.GenDropDownControl("Used_Status", "Used_Status", "B05", (!string.IsNullOrEmpty(Model.Used_Status) ? Model.Used_Status : ""))
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span class="text-danger">*</span> 業務別</label>
                                <div class="col-sm-8">
                                    @DropDownControl.GenDropDownControl("Used_Type", "Used_Type", "B10", (!string.IsNullOrEmpty(Model.Used_Type) ? Model.Used_Type : ""))
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span class="text-danger">*</span> 使用分區</label>
                                <div class="col-sm-8">
                                    @DropDownControl.GenDropDownControl("Used_Partition", "Used_Partition", "B06", (!string.IsNullOrEmpty(Model.Used_Partition) ? Model.Used_Partition : ""))
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span class="text-danger">*</span> 取得方式</label>
                                <div class="col-sm-8">
                                    @DropDownControl.GenDropDownControl("Obtained_Method", "Obtained_Method", "B04", (!string.IsNullOrEmpty(Model.Obtained_Method) ? Model.Obtained_Method : ""))
                                </div>
                            </div>

                            <div class="col-sm-8 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">畸零地否</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="Is_Marginal_Land">
                                        <option value="N" selected>否</option>
                                        <option value="Y">是</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="ibox-title">
                        <h5>帳務資料</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right"><span class="text-danger">*</span> 取得成本</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@Model.Original_Cost" name="Original_Cost" style="text-align: right" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">累計減損</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@Model.Deprn_Amount" name="Deprn_Amount" style="text-align: right" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-6 control-label" align="right"><span class="text-danger">*</span> 帳面金額</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.Current_Cost" name="Current_Cost" style="text-align: right" />
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">未實現重估增值</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@Model.Reval_Adjustment_Amount" name="Reval_Adjustment_Amount" style="text-align: right" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">估計應付土地增值稅</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@Model.Reval_Land_VAT" name="Reval_Land_VAT" style="text-align: right" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-6 control-label" align="right">帳面金額-重估增值</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.Reval_Reserve" name="Reval_Reserve" style="text-align: right" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">營業用面積</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@Model.Business_Area_Size" name="Business_Area_Size" style="text-align: right" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">營業用帳面金額</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@Model.Business_Book_Amount" name="Business_Book_Amount" style="text-align: right" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-6 control-label" align="right">營業用帳面金額-重估增值</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.Business_Reval_Reserve" name="Business_Reval_Reserve" style="text-align: right" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">非營業用面積</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@Model.NONBusiness_Area_Size" name="NONBusiness_Area_Size" style="text-align: right" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">非營業用帳面金額</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@Model.NONBusiness_Book_Amount" name="NONBusiness_Book_Amount" style="text-align: right" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-6 control-label" align="right">非營業用帳面金額-重估增值</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.NONBusiness_Reval_Reserve" name="NONBusiness_Reval_Reserve" style="text-align: right" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-title">
                        <h5>稅務及公告資料</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">年度</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@((int)Model.Year_Number)" name="Year_Number" style="text-align: right" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">公告現值</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@Model.Announce_Amount" name="Announce_Amount" style="text-align: right" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">公告地價</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@Model.Announce_Price" name="Announce_Price" style="text-align: right" />
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">稅種</label>
                                <div class="col-sm-8">
                                    @DropDownControl.GenDropDownControl("Tax_Type", "Tax_Type", "TaxType", (!string.IsNullOrEmpty(Model.Tax_Type) ? Model.Tax_Type : ""))
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">減免原因</label>
                                <div class="col-sm-8">
                                    @DropDownControl.GenDropDownControl("Reduction_reason", "Reduction_reason", "ReductionReason", (!string.IsNullOrEmpty(Model.Reduction_reason) ? Model.Reduction_reason : ""))
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">移轉地價</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@Model.Transfer_Price" name="Transfer_Price" style="text-align: right" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">減免面積</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@Model.Reduction_Area" name="Reduction_Area" style="text-align: right" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">申報地價</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@Model.Declared_Price" name="Declared_Price" style="text-align: right" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">應繳稅額</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="@Model.Dutiable_Amount" name="Dutiable_Amount" style="text-align: right" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-title">
                        <h5>備註事項</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">備註事項1</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" value="@Model.Remark1" name="Remark1" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">備註事項2</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" value="@Model.Remark2" name="Remark2" />
                                    <input type="hidden" name="Expense_Account" />
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (controllerName == "LandAssets") // 維護
                    {
                        <div class="ibox-title">
                            <h5>異動記錄</h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>序號</th>
                                        <th>欄位</th>
                                        <th>異動狀態</th>
                                        <th>異動前資料</th>
                                        <th>異動後資料</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.ChangeAssets.Count(); i++)
                                    {
                                        var item = Model.ChangeAssets.ToList()[i];
                                        <tr>
                                            <td>@(i + 1)</td>
                                            <td>@item.Field_Title</td>
                                            <td>
                                                @item.Modify_Type
                                            </td>
                                            <td>
                                                @item.Before_Data
                                            </td>
                                            <td>@item.After_Data</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td class="text-right">
                                    <a class="btn btn-default" href="@Url.Action("Edit", controllerName , new { id = Header.Form_Number })"><i class="fa fa-arrow-left">返回</i></a>
                                    @if (CanEdit)
                                    {
                                        <text>
                                            <button class="btn btn-primary" onclick="Save();"><i class="fa fa-save">儲存</i></button>
                                        </text>
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>