﻿@using InspiniaWebAdminTemplate.Models.Land
@model AssetLandMPViewModel
    @{
        if (Convert.ToBoolean(ViewBag.SignMode))
        {
            Layout = "~/Views/Shared/_EmptyLayout.cshtml";
            TempData["SignMode"] = true;
            ViewBag.Title = "檢視土地資產改良物分類異動";
        }

        string controllerName = ViewContext.RouteData.Values["controller"].ToString();
        string actionName = ViewContext.RouteData.Values["action"].ToString();
        var Header = TempData["Header"] as LandHeaderViewModel;
        TempData["Header"] = Header;

        //是否可以編輯
        bool CanEdit = (Header != null && (Header.Transaction_Status == "0" || Header.Transaction_Status == "3" || Header.Transaction_Status == "4"));
    }


    <script>
        //Control抓代碼的Url
        G_GetItemUrl = '@(Url.Action("GetCodeItem", "LandImprovedAdded"))';
        //Control抓SearchAssets的Url
        G_SearchAssets = '@(Url.Action("SearchAssetsByCategoryCode", "LandImprovedAdded"))';
        //Control抓Main_Kind的Url
        G_GetMain_Kind = '@(Url.Action("GetAssetMain_Kind", "LandImprovedAdded"))';
        //Control抓Detail_Kind的Url
        G_GetAssetDetail_Kind = '@(Url.Action("GetAssetDetail_Kind", "LandImprovedAdded"))';
        //Control抓Use_Types的Url
        G_GetAssetUse_Types = '@(Url.Action("GetAssetUse_Types", "LandImprovedAdded"))';
        $(function () {
            $("#Asset_Category_code_Main_Kind").prop("disabled", true).prop("readonly", true);
            $("#Asset_Category_code_Detail_Kind").prop("disabled", true).prop("readonly", true);
            $("#Asset_Category_code_Use_Types").prop("disabled", true).prop("readonly", true);
            @if(!CanEdit)
            {
            <text>
            //讓所有表單物件readonly
            $("#form input").prop("disabled", true).prop("readonly", true);
            $("#form select").prop("disabled", true).prop("readonly", true);
            </text>
            }
        });

        function DataCheck() {
            var msg = "";
            if (msg != "") {
                alert(msg);
                return false;
            }
            return true;
        }
        function Save() {
            if (!DataCheck())
                return false;

            var url = "@Url.Action("Asset_Update")";
            $('#form').attr('action', url);
            $('#form').submit();
        }
        function IsInteger(inputvalue) {
            var valid = "0123456789";
            var ok = true;
            var temp;
            for (var i = 0; i < inputvalue.length; i++) {
                temp = inputvalue.substring(i, i + 1);
                if (valid.indexOf(temp) < 0) ok = false;
                if (!ok)
                    break;
            }
            return ok;
        }
        function IsFloat(floatvalue) {
            var checkValue = "";
            checkValue = String(floatvalue);
            var pointIndex = checkValue.indexOf(".");
            if (pointIndex < 0) {
                if (!IsInteger(checkValue))
                    return false;
            }
            else {
                if (!IsInteger(checkValue.toString().substring(0, pointIndex - 1)))
                    return false;
                if (!IsInteger(checkValue.toString().substring(pointIndex + 1, checkValue.length)))
                    return false;
            }
            return true;
        }
    </script>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="el-col-10">
            <h2>資產改良物重分類</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">首頁</a>
                </li>
                <li>
                    <a href="#">土地</a>
                </li>
                <li>
                    <a href="#">@(LandHelper.GetFunctionTitle(controllerName) + "作業")</a>
                </li>
                <li>
                    <a href="#">@ViewBag.FunctionFrom</a>
                </li>
                <li>
                    <a href="#">@ViewBag.Title</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <form method="post" id="form" class="form-horizontal">
                        <div class="ibox-title">
                            <input type="hidden" name="ID" value="@Model.ID" />
                            <h5>@ViewBag.Title</h5>
                            <input name="Form_Number" value="@Header.Form_Number" type="hidden" />
                            <input name="Book_Type_Code" value="@Header.Book_Type_Code" type="hidden" />
                            <input name="Office_Branch" value="@Header.Office_Branch" type="hidden" />
                        </div>

                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-9 form-group">
                                    <label for="" class="col-sm-3 control-label" align="right"><span class="text-danger">*</span> 異動前資產分類</label>
                                    @AssetCategoryControl.GenAssetCategoryControl("Asset_Category_Code", "Asset_Category_Code", !string.IsNullOrEmpty(Model.Asset_Category_Code) ? Model.Asset_Category_Code : "", "", "", "LandMP")
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-9 form-group">
                                    <label for="" class="col-sm-3 control-label" align="right"><span class="text-danger">*</span> 異動後資產分類</label>
                                    @AssetCategoryControl.GenAssetCategoryControl("New_Asset_Category_Code", "New_Asset_Category_Code", !string.IsNullOrEmpty(Model.New_Asset_Category_Code) ? Model.New_Asset_Category_Code : "", "", "", "LandMP")
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td class="text-right">
                                        <a class="btn btn-default" href="@Url.Action("Edit", controllerName , new { id = Header.Form_Number })"><i class="fa fa-arrow-left">返回</i></a>
                                        @if (CanEdit)
                                        {
                                            <text>
                                                <button class="btn btn-primary" onclick="Save();"><i class="fa fa-save">儲存</i></button>
                                            </text>
                                        }
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
