﻿@using InspiniaWebAdminTemplate.Models.Land
@using Library.Servant.Repository.Land
@model IndexViewModel
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ViewBag.Title = LandHelper.GetFunctionTitle(controllerName) + "作業";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">土地</a>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="@Url.Action("IndexQuery", controllerName)" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">事務處理類型</label>
                                <div class="col-sm-6">
                                    @{
                                        string selectedvalue = LandGeneral.GetFormCode(controllerName);
                                        if (Model.condition != null && !string.IsNullOrEmpty(Model.condition.Transaction_Type))
                                        {
                                            selectedvalue = Model.condition.Transaction_Type;
                                        }

                                        <text>
                                            @DropDownControl.GenDropDownControl("Transaction_Type", "Transaction_Type", "LandForm", selectedvalue, true)
                                        </text>
                                    }
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">事務處理編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" name="TRXHeaderID" value="@(Model.condition != null && !string.IsNullOrEmpty(Model.condition.Form_Number) ? Model.condition.Form_Number : "")" /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">狀態</label>
                                <div class="col-sm-6">
                                    @DropDownControl.GenDropDownControl("FlowStatus", "FlowStatus", "P02", ((Model.condition != null && !string.IsNullOrEmpty(Model.condition.FlowStatus)) ? Model.condition.FlowStatus : ""))
                                </div>
                            </div>
                            <div class="clearfix"></div>


                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">事務處理日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="BeginDate" value="@((Model.condition != null && Model.condition.BeginDate.HasValue) ? Model.condition.BeginDate.Value.ToString("yyyy/MM/dd"): "")" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">入帳日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type="text" class="form-control" name="PostDate" value="@((Model.condition != null && Model.condition.PostDate.HasValue) ? Model.condition.PostDate.Value.ToString("yyyy/MM/dd"): "")" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-8 form-group">
                                <label for="" class="col-sm-2 control-label">管轄單位</label>
                                <div class="col-sm-10 form-group">
                                    @AssetLocationDispControl.GenAssetLocationDispControl("OfficeBranch", "OfficeBranch", ((Model.condition != null && !string.IsNullOrEmpty(Model.condition.OfficeBranch)) ? Model.condition.OfficeBranch : ""), "3")
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-2 control-label">備註</label>
                                <div class="col-sm-9"><input type="text" class="form-control" name="Remark" value="@(((Model.condition != null && !string.IsNullOrEmpty(Model.condition.Remark)) ? Model.condition.Remark : ""))"  /></div>
                            </div>
                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button class="btn btn-primary"><i class="fa fa-search"> 查 詢 </i></button>
                                    <button type="button" onclick="ResetForm()" class="btn btn-gray"><i class="fa fa-close"> 清 除</i></button>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <a href="@Url.Action("New")" class="btn btn-primary"><i class="fa fa-plus"> 新增 </i></a>
                                </td>
                                <td style="text-align: right">
                                    <label>共@(Model.TotalAmount)筆</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>事務處理編號</th>
                                    <th>事務處理日期</th>
                                    <th>管轄單位</th>
                                    <th>入帳日期</th>
                                    <th>備註</th>
                                    <th>狀態</th>
@if (!controllerName.StartsWith( "LandMP"))
{
                                    <th>會計註記</th>
}
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Items.Count(); i++)
                                {
                                    var item = Model.Items.ToList()[i];
                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td>@item.Form_Number</td>
                                        <td>
                                            @item.Transaction_Datetime_Entered.ToString("yyyy/MM/dd")
                                        </td>
                                        <td>
                                            @item.OfficeBranchName
                                        </td>
                                        <td>@(item.Accounting_Datetime!=null? item.Accounting_Datetime.Value.ToString("yyyy/MM/dd"):"")</td>
                                        <td>@item.Description</td>
                                        <td>@item.TransactionStatusName</td>
@if (!controllerName.StartsWith("LandMP"))
{
                                        <td>@item.Amotized_Adjustment_Flag_Name</td>
}
                                        <td>
                                            @if (item.Transaction_Status == "0" || item.Transaction_Status == "3" || item.Transaction_Status == "4")
                                            {
                                                <text>
                                                    <a class="btn btn-primary btn-circle" href="@Url.Action("Edit",new {id = item.Form_Number })" title="編輯">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                </text>
                                            }
                                            else
                                            {
                                                <text>
                                                    <a class="btn btn-primary btn-circle" href="@Url.Action("Edit",new {id = item.Form_Number })" title="檢視">
                                                        <i class="fa fa-list"></i>
                                                    </a>
                                                </text>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a id="page">
                            <div id="page_region"></div>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        (function ($) {
            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.TotalAmount,//資料庫總筆數
                    page_size: @Model.condition.PageSize,//單頁筆數
                    page_now: @Model.condition.Page,//當前頁
                    center_page: @Model.condition.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });

            $('[data-toggle="tooltip"]').tooltip();

        })(jQuery);

    </script>
}

