﻿@using InspiniaWebAdminTemplate.Models.Land
@model LandViewModel
@{
    if (Convert.ToBoolean(ViewBag.SignMode))
    {
        Layout = "~/Views/Shared/_EmptyLayout.cshtml";
        TempData["SignMode"] = true;
    }

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string ReturnController = controllerName;

    string functionName = LandHelper.GetFunctionTitle(controllerName);
    var Action = ViewContext.RouteData.GetRequiredString("action");
    ViewBag.Title = (Action == "New") ? "新增單據" : "編輯單據";
    TempData["FunctionFrom"] = ViewBag.Title;

    //是否可以編輯
    bool CanEdit = (Model.Header.Transaction_Status == "0" || Model.Header.Transaction_Status == "3" || Model.Header.Transaction_Status == "4");
    bool IsAssignAssets = false;
}

<script>
    function DataCheck() {
        var msg = "";
        if ($("#Transaction_Datetime_Entered").val() == "") {
            msg += "請輸入事務處理日期\n";
        }
        if ($("#Office_Branch_Branch").val() == "") {
            msg += "請選擇管轄行別\n";
        }
        if ($("#Office_Branch_Dept").val() == "") {
            msg += "請選擇管轄分行別\n";
        }
        if (msg == "")
        { return true; }
        alert(msg);
        return false;
    }
    function New_Asset() {
        $('#form').attr('action', '@Url.Action("Asset_New")');
        $('#form').submit();
    }
    function Search_Asset() {
        $('#form').attr('action', '@Url.Action("Asset_Search")');
        $('#form').submit();
    }
    function doSave() {
        if (!DataCheck())
            return;
        @if (Action == "New")
        {
            <text>
            $('#form').attr('action', '@Url.Action("HandleHeader")');
            </text>
        }
        else
        {
            <text>
            $('#form').attr('action', '@Url.Action("UpdateHeader")');
            </text>
        }
        $('#form').submit();
    }

    function CreateFlow() {
        @if (controllerName == "LandSplit")
        {
             <text>
        var msg = "";
        if (!CheckSplitArea()) {
            msg += "「待分割土地」的「面積」與「分割後土地」的「面積」不相符\n";
        }
        if (!CheckSplitAmount()) {
            msg += "「待分割土地」的「金額」與「分割後土地」的「金額」不相符\n";
        }
        if (msg != "") {
            alert(msg);
            return;
        }
        </text>
        }
        $('#form').attr('action', '@Url.Action("CreateFlow", controllerName)');
        $('#form').submit();
    }

    @if (TempData["message"] != null)
    {
        <text>
    window.onload = function () {
        alert('@TempData["message"].ToString()');
    }
    </text>
    }

    $(function () {
        @if (!CanEdit)
        {
            <text>
        //讓所有表單物件readonly
        $("#form input").prop("disabled", true).prop("readonly", true);
        $("#form select").prop("disabled", true).prop("readonly", true);
        </text>
        }
    });
    function CheckSplitArea() {
        var new_area_size = 0, old_area_size = 0;
        $(".new_area").each(function () {
            var area_size = 0.00;
            area_size = parseFloat($(this).html());
            new_area_size += area_size;
        });
        $(".old_area").each(function () {
            var area_size = 0.00;
            area_size = parseFloat($(this).html());
            old_area_size += area_size;
        });
        console.log(old_area_size.toString() + "!=" + new_area_size.toString())
        if (old_area_size != new_area_size)
            return false;
        return true;
    }
    function CheckSplitAmount() {
        var new_land_amnout = 0.00, old_land_amnout = 0.00;
        $(".new_amount").each(function () {
            var amount = 0;
            amount = parseFloat($(this).html().replace(",", ""));
            new_land_amnout += amount;
        });
        $(".old_amount").each(function () {
            var amount = 0;
            amount = parseFloat($(this).html().replace(",", ""));
            old_land_amnout += amount;
        });
        console.log(old_land_amnout.toString() + "!=" + new_land_amnout.toString())
        if (old_land_amnout != new_land_amnout)
            return false;
        return true;
    }
</script>
@if (!Convert.ToBoolean(ViewBag.SignMode))
{
    <text>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-10">
                <h2>@functionName</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="@Url.Action("Index", "Home")">首頁</a>
                    </li>
                    <li>
                        <a href="#">土地</a>
                    </li>
                    <li>
                        <a href="#">@(functionName + "作業")</a>
                    </li>
                    <li>
                        <a href="#">@ViewBag.Title</a>
                    </li>
                </ol>
            </div>
        </div>
    </text>
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@ViewBag.Title</h5>
                </div>
                <div class="ibox-content">
                    <form method="post" id="form" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">事務處理類型</label>
                                <div class="col-sm-6">
                                    @(!string.IsNullOrEmpty(Model.Header.Transaction_TypeName) ? Model.Header.Transaction_TypeName : functionName)
                                    <input type="hidden" name="Transaction_Type" value="@(Model.Header.Transaction_Type)" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">事務處理編號</label>
                                @Model.Header.Form_Number
                                <input type="hidden" value="@Model.Header.Form_Number" name="Form_Number" />
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">狀態</label>
                                <div class="col-sm-6">
                                    @(!string.IsNullOrEmpty(Model.Header.TransactionStatusName) ? Model.Header.TransactionStatusName : "新增")
                                    <input type="hidden" name="Transaction_Status" value="@((!string.IsNullOrEmpty(Model.Header.Transaction_Status)) ? Model.Header.Transaction_Status : "0")" />
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">帳本</label>
                                <div class="col-sm-6">
                                    @(string.IsNullOrEmpty(Model.Header.Book_Type_Code) ? "NTD_RE_IFRS" : Model.Header.Book_Type_Code)
                                    <input type="hidden" name="Book_Type_Code" value="@((!string.IsNullOrEmpty(Model.Header.Book_Type_Code)) ? Model.Header.Book_Type_Code : "NTD_RE_IFRS")" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label"><span class="text-danger">*</span> 事務處理日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="Transaction_Datetime_Entered" value="@(Model.Header.Transaction_Datetime_Entered.ToString("yyyy/MM/dd"))" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">入帳日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group'>
                                        <input type='text' class="form-control" name="Accounting_Datetime" value="@((Model.Header.Accounting_Datetime != null ? Model.Header.Accounting_Datetime.Value.ToString("yyyy/MM/dd") : ""))" readonly />
                                        <div style="display:none">
                                            <select name="Amotized_Adjustment_Flag">
                                                <option value="0" selected>未記帳</option>
                                                <option value="1">記帳</option>
                                                <option value="2">核帳</option>
                                                <option value="3">拋轉</option>
                                            </select>
                                            <select name="Auto_Post">
                                                <option value="0" selected>非自動</option>
                                                <option value="1">記錄</option>
                                                <option value="2">自動核帳</option>
                                            </select>
                                        </div>
                                        @*<span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-8 form-group">
                                <label for="" class="col-sm-2 control-label"><span class="text-danger">*</span> 管轄單位</label>
                                <div class="col-sm-10 form-group">
                                    @AssetLocationDispControl.GenAssetLocationDispControl("Office_Branch", "Office_Branch", ((!string.IsNullOrEmpty(Model.Header.Office_Branch_Code)) ? Model.Header.Office_Branch_Code : ""), "3")
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-2 control-label">備註</label>
                                <div class="col-sm-9"><input type="text" class="form-control" name="Remark" value="@((!string.IsNullOrEmpty(Model.Header.Description)) ? Model.Header.Description : "")" /></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @if ((controllerName == "LandAdded" || controllerName == "LandAssets" || controllerName == "LandSplit" || controllerName == "LandConsolidation" 
        || controllerName == "LandDisposal" || controllerName == "LandReclassify" || controllerName == "LandImprovedAdded") && Action!="New")
    {
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    @if (!Convert.ToBoolean(ViewBag.SignMode) && CanEdit)
                                    {
                                        if (controllerName == "LandAdded" )
                                        {
                                            <button class="btn btn-primary" onclick="New_Asset();"><i class="fa fa-plus">新增資產</i></button>
                                        }
                                        else if (controllerName == "LandSplit" || controllerName == "LandConsolidation" ||
                                            controllerName == "LandDisposal")
                                        {
                                            if (Model.Assets == null || Model.Assets.Any(p => p == null))
                                            {
                                                <button class="btn btn-primary" onclick="Search_Asset();"><i class="fa fa-search">搜尋/導入資產</i></button>
                                            }
                                        }
                                       
                                        else
                                        {
                                            <button class="btn btn-primary" onclick="Search_Asset();"><i class="fa fa-search">搜尋/導入資產</i></button>
                                        }
                                    }
                                </td>
                            </tr>
                        </table>

                        @if (controllerName == "LandSplit" || controllerName == "LandConsolidation")
                        {
                            <div class="ibox-title">
                                <h5>@((controllerName == "LandSplit") ? "待分割土地" : "待合併土地")</h5>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>資產分類</th>
                                        <th>資產編號</th>
                                        <th>土地顯示</th>
                                        <th>母地號</th>
                                        <th>子地號</th>
                                        <th>整筆面積</th>
                                        <th>權利範圍</th>
                                        <th>取得成本</th>
                                        @if (CanEdit)
                                        {
                                            <text>
                                                <th>刪除</th>
                                            </text>
                                        }
                                    </tr>
                                </thead>
                                @if (Model.Assets.Any(p => p != null))
                                {
                                    <tbody>
                                        @for (int i = 0; i < Model.Assets.Count(); i++)
                                        {
                                            var item = Model.Assets.ToList()[i];
                                            if (item != null)
                                            {
                                                IsAssignAssets = true;
                                                <text>
                                                    <tr>
                                                        <td>
                                                            @(i + 1)
                                                        </td>
                                                        <td>
                                                            @item.Asset_Category_code
                                                        </td>
                                                        <td>
                                                            @item.Asset_Number
                                                        </td>
                                                        <td>
                                                            @(item.City_Name + item.District_Name + item.Section_Name + item.Sub_Section_Name)
                                                        </td>
                                                        <td>
                                                            @item.Parent_Land_Number
                                                        </td>
                                                        <td>
                                                            @item.Filial_Land_Number
                                                        </td>
                                                        <td class="old_area">
                                                            @item.Area_Size
                                                        </td>
                                                        <td>
                                                            @(item.Authorized_Scope_Molecule.ToString() + "/" + item.Authorized_Scope_Denomminx.ToString())
                                                        </td>
                                                        <td>
                                                            @item.Original_Cost.ToString("###,###,###,###.00")
                                                            <span class="old_amount" style="display:none">@item.Original_Cost</span>
                                                        </td>
                                                        @*<td>
                                                                @if (CanEdit)
                                                                {
                                                                    <text>
                                                                        <a href="@Url.Action("Asset_Edit", new { id = item.ID, Transaction_Type = Model.Header.Transaction_Type })" class="btn btn-primary btn-circle"><i class="fa fa-pencil"></i></a>
                                                                    </text>
                                                                }
                                                                else
                                                                {
                                                                    <text>
                                                                        <a href="@Url.Action("Asset_Edit",new { id = item.ID, Transaction_Type = Model.Header.Transaction_Type })" class="btn btn-primary btn-circle"><i class="fa fa-list"></i></a>
                                                                    </text>
                                                                }
                                                            </td>*@
                                                        @if (CanEdit)
                                                        {
                                                            <text>
                                                                <td>
                                                                    <a href="@Url.Action("Asset_Delete", new { id = item.ID, Transaction_Type = Model.Header.Transaction_Type })" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></a>
                                                                </td>
                                                            </text>
                                                        }
                                                    </tr>
                                                </text>
                                            }
                                        }
                                    </tbody>
                                }
                            </table>
                        }
                        else if (controllerName == "LandDisposal")
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>資產編號</th>
                                        <th>摘要</th>
                                        <th>帳面成本</th>
                                        <th>處分成本</th>
                                        <th>變賣收入</th>
                                        <th>變賣成本</th>
                                        <th>未實現重估價值</th>
                                        <th>重估增值成本</th>
                                        <th>應付土地增值稅</th>
                                        <th>
                                            @(CanEdit ? "編輯" : "檢視")
                                        </th>
                                        @if (CanEdit)
                                        {
                                            <text>
                                                <th>刪除</th>
                                            </text>
                                        }
                                    </tr>
                                </thead>
                                @if(Model.RetireAssets != null && Model.RetireAssets.Any(p => p != null))
                                {
                                    <tbody>
                                        @for (int i = 0; i < Model.RetireAssets.Count(); i++)
                                        {
                                            var item = Model.RetireAssets.ToList()[i];
                                            if (item != null)
                                            {
                                                IsAssignAssets = true;
                                                <text>
                                                    <tr>
                                                        <td>
                                                            @(i + 1)
                                                        </td>
                                                        <td>
                                                            @item.Asset_Number
                                                        </td>
                                                        <td>
                                                            @item.Description
                                                        </td>
                                                        <td>
                                                            @item.Old_Cost.ToString("N0")
                                                        </td>
                                                        <td>
                                                            @item.Retire_Cost.ToString("N0")
                                                        </td>
                                                        <td>
                                                            @item.Sell_Amount.ToString("N0")
                                                        </td>
                                                        <td>
                                                            @item.Sell_Cost.ToString("N0")
                                                        </td>
                                                        <td>
                                                            @item.Reval_Adjustment_Amount.ToString("N0")
                                                        </td>
                                                        <td>
                                                            @item.Reval_Reserve.ToString("N0")
                                                        </td>
                                                        <td>
                                                            @item.Reval_Land_VAT.ToString("N0")
                                                        </td>
                                                        <td>
                                                            @if (CanEdit)
                                                            {
                                                                <text>
                                                                    <a href="@Url.Action("Asset_Edit", new { id = item.ID, Transaction_Type = Model.Header.Transaction_Type })" class="btn btn-primary btn-circle"><i class="fa fa-pencil"></i></a>
                                                                </text>
                                                            }
                                                            else
                                                            {
                                                                <text>
                                                                    <a href="@Url.Action("Asset_Edit",new { id = item.ID, Transaction_Type = Model.Header.Transaction_Type })" class="btn btn-primary btn-circle"><i class="fa fa-list"></i></a>
                                                                </text>
                                                            }
                                                        </td>
                                                        @if (CanEdit)
                                                        {
                                                            <text>
                                                                <td>
                                                                    <a href="@Url.Action("Asset_Delete",new { id = item.ID, Transaction_Type = Model.Header.Transaction_Type })" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></a>
                                                                </td>
                                                            </text>
                                                        }
                                                    </tr>
                                                </text>
                                            }
                                        }
                                    </tbody>
                                }
                            </table>
                        }
                        else
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>資產編號</th>
                                        <th>摘要</th>
                                        <th>資產分類</th>
                                        <th>帳面成本</th>
                                        <th>啟用日期</th>
                                        <th>
                                            @(CanEdit ? "編輯" : "檢視")
                                        </th>
                                        @if (CanEdit)
                                        {
                                            <text>
                                                <th>刪除</th>
                                            </text>
                                        }
                                    </tr>
                                </thead>
                                @if (Model.Assets.Any(p => p != null))
                                {
                                    <tbody>
                                        @for (int i = 0; i < Model.Assets.Count(); i++)
                                        {
                                            var item = Model.Assets.ToList()[i];
                                            if (item != null)
                                            {
                                                IsAssignAssets = true;
                                                <text>
                                                    <tr>
                                                        <td>
                                                            @(i + 1)
                                                        </td>
                                                        <td>
                                                            @item.Asset_Number
                                                        </td>
                                                        <td>
                                                            @item.Description
                                                        </td>
                                                        <td>
                                                            @if (controllerName == "LandReclassify")
                                                            {
                                                                @item.New_Asset_Category_code;
                                                            }
                                                            else
                                                            {
                                                               @item.Asset_Category_code;
                                                            }
                                                        </td>
                                                        <td>
                                                            @item.Current_Cost.ToString("N0")
                                                        </td>
                                                        <td>
                                                            @item.Datetime_Placed_In_Service.ToString("yyyy/MM/dd")
                                                        </td>
                                                        <td>
                                                            @if (CanEdit)
                                                            {
                                                                <text>
                                                                    <a href="@Url.Action("Asset_Edit", new { id = item.ID, Transaction_Type = Model.Header.Transaction_Type })" class="btn btn-primary btn-circle"><i class="fa fa-pencil"></i></a>
                                                                </text>
                                                            }
                                                            else
                                                            {
                                                                <text>
                                                                    <a href="@Url.Action("Asset_Edit",new { id = item.ID, Transaction_Type = Model.Header.Transaction_Type })" class="btn btn-primary btn-circle"><i class="fa fa-list"></i></a>
                                                                </text>
                                                            }
                                                        </td>
                                                        @if (CanEdit)
                                                        {
                                                            <text>
                                                                <td>
                                                                    <a href="@Url.Action("Asset_Delete",new { id = item.ID, Transaction_Type = Model.Header.Transaction_Type })" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></a>
                                                                </td>
                                                            </text>
                                                        }
                                                    </tr>
                                                </text>
                                            }
                                        }
                                    </tbody>
                                }
                            </table>
                        }
                        @if ((controllerName == "LandSplit" || controllerName == "LandConsolidation"))
                        {
                            <div class="ibox-title">
                                <h5>@((controllerName == "LandSplit") ? "分割後土地" : "合併後土地")</h5>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>資產分類</th>
                                        <th>資產編號</th>
                                        <th>土地顯示</th>
                                        <th>母地號</th>
                                        <th>子地號</th>
                                        <th>整筆面積</th>
                                        <th>權利範圍</th>
                                        <th>取得成本</th>
                                        <th>檢視</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.ExtraAssets != null)
                                    {
                                        for (int i = 0; i < Model.ExtraAssets.Count(); i++)
                                        {
                                            var item = Model.ExtraAssets.ToList()[i];
                                            if (item != null)
                                            {
                                                IsAssignAssets = true;
                                                <text>
                                                    <tr>
                                                        <td>
                                                            @(i + 1)
                                                        </td>
                                                        <td>
                                                            @item.Asset_Category_code
                                                        </td>
                                                        <td>
                                                            @item.Asset_Number
                                                        </td>
                                                        <td>
                                                            @(item.City_Name + item.District_Name + item.Section_Name + item.Sub_Section_Name)
                                                        </td>
                                                        <td>
                                                            @item.Parent_Land_Number
                                                        </td>
                                                        <td>
                                                            @item.Filial_Land_Number
                                                        </td>
                                                        <td class="new_area">
                                                            @item.Area_Size
                                                        </td>
                                                        <td>
                                                            @(item.Authorized_Scope_Molecule.ToString() + "/" + item.Authorized_Scope_Denomminx.ToString())
                                                        </td>
                                                        <td>
                                                            @item.Original_Cost.ToString("###,###,###,###.00")
                                                            <span  class="new_amount" style="display:none">@item.Original_Cost</span>
                                                        </td>
                                                        <td>
                                                            @if (controllerName == "LandSplit")
                                                            {
                                                                <a href="@Url.Action("Asset_SplitEdit", new { id = item.ID })" class="btn btn-primary btn-circle"><i class="fa fa-pencil"></i></a>
                                                            }
                                                            else
                                                            {
                                                                <a href="@Url.Action("Asset_MergeEdit", new { id = item.ID })" class="btn btn-primary btn-circle"><i class="fa fa-pencil"></i></a>
                                                            }
                                                        </td>
                                                </text>
                                            }
                                        }
                                    }
                            </tbody>
                        </table>
                        }
                    </div>
            </div>
        </div>
    </div>
</div>
    }
@if (!Convert.ToBoolean(ViewBag.SignMode))
{
    <text>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td>
                                    <div class="text-right">
                                        <a href="@Url.Action("Index",ReturnController)" class="btn btn-default"><i class="fa fa-arrow-left">返回</i></a>
                                    @if (Model != null && Model.Header != null && (Model.Header.Transaction_Status == "0" || Model.Header.Transaction_Status == "3" || Model.Header.Transaction_Status == "4"))
                                    {
                                        <text>
@if ((controllerName == "LandAdded" || controllerName == "LandSplit" || controllerName == "LandAssets" || controllerName == "LandConsolidation" || controllerName == "LandDisposal" || controllerName == "LandReclassify") && Action != "New")
{
                                        <button class="btn btn-danger"><i class="fa fa-remove">刪除</i></button>
}
                                        <button class="btn btn-primary" onclick="doSave();"><i class="fa fa-save">儲存</i></button>
@if ((controllerName == "LandAdded" || controllerName == "LandSplit" || controllerName == "LandAssets" || controllerName == "LandConsolidation" || controllerName == "LandDisposal" || controllerName == "LandReclassify") && Action != "New" && IsAssignAssets)
{
                                        <button class="btn btn-info" onclick="CreateFlow();"><i class="fa fa-arrow-right">提交</i></button>
}
                                        </text>
                                    }
                                        
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </text>
}

</div>
