﻿@model Library.Servant.Servant.AssetLife.Models.DetailModel

@{
    ViewBag.Title = "折舊資料維護";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>折舊資料維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">折舊資料維護</a>
            </li>
        </ol>
    </div>
</div>

<div id="app" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>折舊資料維護</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" id="updateForm">
                        <input type="hidden" id="ID" value="@Model.ID" />
                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">資產類別編號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="LifeCodeNo" name="LifeCodeNo" value="@Model.LifeCodeNo" onchange="setupLifeCode()">
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">資產類別名稱</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="AssetText" name="AssetText"value="@Model.AssetText">
                                </div>
                            </div>


                        </div>

                        <div class="row" hidden="hidden">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">類(編碼1)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="LifeCode1" name="LifeCode1" value="@Model.LifeCode1" readonly>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required" align="right">項(編碼2)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="LifeCode2" name="LifeCode2" value="@Model.LifeCode2" readonly>
                                </div>
                            </div>

                        </div>

                        <div class="row" hidden="hidden">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">目(編碼3)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="LifeCode3" name="LifeCode3" value="@Model.LifeCode3" readonly>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required" align="right">節(編碼4)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="LifeCode4" name="LifeCode4" value="@Model.LifeCode4" readonly>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-6 form-group" hidden="hidden">
                                <label for="" class="col-sm-4 control-label required" align="right">號(編碼5)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="LifeCode5" name="LifeCode5" value="@Model.LifeCode5" readonly>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">不提列折舊</label>
                                <div class="col-sm-8">
                                    <input type="checkbox" id="NotDeprnFlag" @(Model.NotDeprnFlag? "checked":"")>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">年限(年)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="LifeYears" name="LifeYears" value="@((int)Model.LifeYears)" onchange="setupLifeMonth()">
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">年限(月)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="LifeMonths" name="LifeMonths" value="@((int)Model.LifeMonths)">
                                </div>
                            </div>

                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button type="button" class="btn btn-primary" onclick="checkForm()">儲存</button>
                                    <a class="btn btn-danger" onclick="window.history.go(-1)">取消</a>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "儲存成功" } });
@section Scripts{
    <script type="text/javascript">

        function setupLifeCode()
        {
            var totalCode = String($("#LifeCodeNo").val());
            var code1 = totalCode.substr(0, 1);
            var code2 = totalCode.substr(1, 2);
            var code3 = totalCode.substr(3, 2);
            var code4 = totalCode.substr(5, 2);
            var code5 = totalCode.substr(7, 4);

            $("#LifeCode1").val(code1);
            $("#LifeCode2").val(code2);
            $("#LifeCode3").val(code3);
            $("#LifeCode4").val(code4);
            $("#LifeCode5").val(code5);
        }

        function setupLifeMonth()
        {
            var year = parseInt($("#LifeYears").val());
            $("#LifeMonths").val(year * 12);
        }

        function checkForm() {
            if ($("#updateForm").valid()) {
                var updatePath = "@Url.Action("Save")";
                var data = new FormData();
                data.append("ID", $("#ID").val());
                data.append("LifeCodeNo", $("#LifeCodeNo").val());
                data.append("LifeCode1", $("#LifeCode1").val());
                data.append("LifeCode2", $("#LifeCode2").val());
                data.append("LifeCode3", $("#LifeCode3").val());
                data.append("LifeCode4", $("#LifeCode4").val());
                data.append("LifeCode5", $("#LifeCode5").val());
                data.append("AssetText", $("#AssetText").val());
                data.append("LifeYears", $("#LifeYears").val());
                data.append("LifeMonths", $("#LifeMonths").val());
                data.append("NotDeprnFlag", $("#NotDeprnFlag").prop("checked"));

                $.ajax({
                    url: updatePath,
                    type: 'POST',
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) { successHandler(message); }
                });
            }

        }

        (function ($) {
            $.validator.messages.required = '必填';
            $.validator.messages.number = '請輸入數字';
            $.validator.messages.maxlength = '11個字元';
            $.validator.messages.minlength = '9個字元';

            $("#updateForm").validate({
                rules: {
                    AssetText: { required: true },
                    LifeCodeNo: { required: true, maxlength: 11, minlength: 9 },
                    LifeCode1: { required: true },
                    LifeCode2: { required: true },
                    LifeCode3: { required: true },
                    LifeCode4: { required: true },
                    LifeCode5: { required: true },
                    LifeYears: { required: true, number: true },
                    LifeMonths: { required: true, number: true }
                }
            }
            );
        })(jQuery);
    </script>
}