﻿
@model Library.Servant.Servant.AssetLife.Models.IndexResult
@{
    ViewBag.Title = "折舊設定";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>折舊設定</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">折舊設定</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="@Url.Action("Query")" class="form-horizontal" id="queryForm">
                        <input type="hidden" id="CurrentPage" name="CurrentPage" value="@Model.Conditions.CurrentPage" />
                        <input type="hidden" name="PageSize" value="@Model.Conditions.PageSize" />

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">資產名稱</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="AssetName"
                                           name="AssetName" type="text" value="@Model.Conditions.AssetName">
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">起迄資產類別編號</label>
                                <div class="input-group col-sm-8">
                                    <input class="form-control" id="BeginCode"
                                           name="BeginCode" type="text" value="@Model.Conditions.BeginCode">
                                    <span class="input-group-addon">~</span>
                                    <input class="form-control" id="EndCode"
                                           name="EndCode" type="text" value="@Model.Conditions.EndCode">
                                </div>
                            </div>
                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button type="button" class="btn btn-primary" onclick="checkQueryForm()">查詢</button>
                                    <button type="button" class="btn btn-danger" onclick="resetForm()">清除</button>
                                    <a class="btn btn-info" href="@Url.Action("Create")">新增</a>
                                    <button type="button" class="btn btn-warning" onclick="showUpload()">匯入</button>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <form id="export" action="@Url.Action("Export")" method="post" target="exportFrame">
        <input type="hidden" id="ExportAssetName" name="ExportAssetName"/>
        <input type="hidden" id="ExportBeginCode" name="ExportBeginCode" />
        <input type="hidden" id="ExportEndCode" name="ExportEndCode" />
    </form>
    <iframe name="exportFrame" style="width:0px;height:0px;display:none;"></iframe>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">


                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  @Model.Results.TotalAmount 筆 第 @Model.Conditions.CurrentPage 頁</label>
                                    <a class="btn btn-sm btn-default" id="buttonDelete" href="@Url.Action("Index","Home")">回上頁</a>
                                    <button class="btn btn-sm btn-success" onclick="batchSave()">存檔</button>
                                    <button class="btn btn-sm btn-primary" onclick="exportData()">全部匯出</button>
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th>
                                        <input type="checkbox" name="selectAll" id="selectAll" style="width:13px;"
                                               onclick="checkAll(this.checked)">
                                    </th>
                                    <th>資產類別編號</th>
                                    <th>資產名稱</th>
                                    <th>年限(年)</th>
                                    <th>不提列折舊</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int i = 0; i < Model.Results.Items.Count; i++)
                                {
                                    var item = Model.Results.Items[i];
                                    var id = item.ID;

                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td><input type="checkbox" value="@id" name="batch" onclick="editMode(this.value, this.checked)" style="width:13px;"/></td>
                                        <td>
                                            <a href="@Url.Action("Update", new { Id= id})">@item.LifeCodeNo</a>
                                        </td>
                                        <td>
                                            @item.AssetText
                                        </td>
                                        
                                        <td>
                                            <input type="text" class="form-control" id="year_@id" value="@((int)item.LifeYears)" readonly/>
                                        </td>

                                        
                                        <td>
                                            <input type="checkbox" id="noDeprn_@id" @(item.NotDeprnFlag?"checked":"") readonly/>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="modal-form-delete" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">是否要刪除此資料?</h3>
                        <p>刪除資料後，資料無法回復，請確認刪除。</p>
                        <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal"><strong>是</strong></button>
                        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><strong>否</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fileUpload" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">請選擇要上傳的檔案</h3>
                        <p><input type="file" accept=".csv" id="uploadFile" class="form-control" /></p>
                        <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal" onclick="doUpload()"><strong>是</strong></button>
                        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><strong>否</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loader" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 id="uploadingMessage" class="m-t-none m-b">上傳批次處理中, 請稍後...</h3>
                        <div id="returnMessage" style="display:none;">
                            <h3 class="m-t-none m-b" id="showMessage"></h3>
                            <button type="button" class="btn btn-sm btn-info"><strong>關閉</strong></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "儲存成功" } });
@section Scripts {

    @Html.Partial("_VuePageList")

    <script>
                function showUpload()
        {
           $("#fileUpload").modal();
        }

        function showLoader()
        {
            $("#uploadingMessage").show();
            $("#showMessage").text("");
            $("#returnMessage").hide();

            $("#loader").modal();
        }

        function closeLoader()
        {
            $("#loader").modal("hide");
        }

        function doUpload()
        {
            var data = new FormData();
            var files = $("#uploadFile").get(0).files;
            if (files.length > 0) {
                data.append("file", files[0]);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Upload")",
                    contentType: false,
                    processData: false,
                    dataType: "json",
                    data: data,
                    success: function (message) { processUploadMessage(message); }
                });
                showLoader();
            }
            else
            {
                $("#fileUpload").modal("hide");
            }

        }

        function processUploadMessage(message)
        {
            if (message.IsSuccess)
            {
                closeLoader();
            }
            else {
                $("#uploadingMessage").hide();
                $("#showMessage").text(message.Message);
                $("#returnMessage").show();
            }
        }

        function checkQueryForm()
        {
            $("#queryForm").submit();
        }
        function resetForm()
        {
            $("#AssetName").val("");
            $("#BeginCode").val("");
            $("#EndCode").val("");
        }

        function checkAll(currentValue)
        {
            $("input[name=batch]").each(function () {
                this.checked = currentValue;
            });
        }

        function editData(id)
        {
            editMode(id, true);
            $("input[name=batch][value=" + id + "]").prop("checked", true);
        }

        function editMode(id, enable)
        {
            if (enable) {
                $("#year_" + id).prop("readonly", false);
                $("#noDeprn_" + id).prop("readonly", false);
            }
            else
            {
                $("#year_" + id).prop("readonly", true);
                $("#noDeprn_" + id).prop("readonly", true);
            }
        }

        function exportData()
        {
            $("#ExportAssetName").val($("#AssetName").val());
            $("#ExportBeginCode").val($("#BeginCode").val());
            $("#ExportEndCode").val($("#EndCode").val());

            $("#export").submit();
        }

        function saveData(id)
        {
            editMode(id, false);
            $("input[name=batch][value=" + id + "]").prop("checked", false);

            var year = $("#year_" + id).val();
            var noDeprn = $("#noDeprn_" + id).prop("checked");

            var list = [];
            var item = {
                ID: id,
                LifeYears: year,
                NoDeprn: noDeprn
            };
            list.push(item);

            var data = {
                    List: list,
                    LastUpdateBy: 0
                };
                data = JSON.stringify(data);

                var path = "@Url.Action("BatchUpdate")";

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json",
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) { successHandler(message); }
                });
        }

        function batchSave()
        {
            var list = [];
            $("input[name=batch]").each(function () {
                if (this.checked) {
                    var id = this.value;
                    var year = $("#year_" + id).val();
                    var noDeprn = $("#noDeprn_" + id).prop("checked");

                    var item = {
                        ID: id,
                        LifeYears: year,
                        NoDeprn: noDeprn
                    };

                    list.push(item);
                }
            });

            if (list.length > 0) {

                var data = {
                    List: list,
                    LastUpdateBy: 0
                };
                data = JSON.stringify(data);

                var path = "@Url.Action("BatchUpdate")";

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json",
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) { successHandler(message); }
                });
            }
        }

        function toPage(page)
        {
            $("#CurrentPage").val(page);
            $("#queryForm").submit();
        }

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.Results.TotalAmount,//資料庫總筆數
                    page_size: @Model.Conditions.PageSize,//單頁筆數
                    page_now: @Model.Conditions.CurrentPage,//當前頁
                    center_page: 1,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "",
                    pageFunc: toPage
                }
            });


        })(jQuery);

    </script>

}




