﻿@using System.Web.Mvc

@*Mode為模式:1.全秀 2.秀前三個 3.秀前兩個*@
@helper GenAssetLocationDispControl(string controlId, string controlname, string Location_Disp = "",string Mode = "")
{
bool displayAll = (Mode == "1");
var urlHelper = new UrlHelper(Request.RequestContext);
    <div class="col-sm-@(!displayAll?"3":"2")">
        <select class="form-control" id="@(controlId + "_Branch")"></select>
    </div>
    <div class="col-sm-@(!displayAll?"3":"2")">
        <select class="form-control" id="@(controlId + "_Dept")"></select>
    </div>
    if(Mode != "3")
    {
        <text>
            <div class="col-sm-@(!displayAll?"3":"2")">
                <select class="form-control" id="@(controlId + "_SubDept")"></select>
            </div>
        </text>
    }
if (displayAll)
{
        <text>
            <div class="col-sm-2">
                <select class="form-control" id="@(controlId + "_Floor")"></select>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="@(controlId + "_Memo")" />
            </div>
        </text>
}

    <input type="hidden" name="@controlname" id="@("hd" + controlId)" value="@Location_Disp" />

    <script>
        $(document).ready(function () {

            var Branch = '';
            var Dept = '';
            var SubDept = '';
            var Floor = '';
            var Memo = '';

            @if (!string.IsNullOrEmpty(Location_Disp))
            {
                <text>
                    Branch = '@((Location_Disp.Split('.').Length > 0) ? Location_Disp.Split('.')[0]:"")';
                    Dept = '@((Location_Disp.Split('.').Length > 1) ? Location_Disp.Split('.')[1]:"")';
                    @if (Mode != "3")
                    {
                            <text>
                                SubDept = '@((Location_Disp.Split('.').Length > 2) ? Location_Disp.Split('.')[2]:"")';
                            </text>
                    }
                    @if (displayAll)
                    {
                        <text>
                            Floor = '@((Location_Disp.Split('.').Length > 3) ? Location_Disp.Split('.')[3]:"")';
                            Memo = '@((Location_Disp.Split('.').Length > 4) ? Location_Disp.Split('.')[4]:"")';
                        </text>
                    }
                </text>
            }

            //初始化
            BindControl_@(controlId)('@(urlHelper.Action("GetKeep_Position", "MPAdded"))', 'Branch', '@(controlId + "_Branch")', Branch);
            BindControl_@(controlId)('@(urlHelper.Action("GetKeep_Position", "MPAdded"))', 'Dept', '@(controlId + "_Dept")', Dept, Branch);
            BindControl_@(controlId)('@(urlHelper.Action("GetKeep_Position", "MPAdded"))', 'SubDept', '@(controlId + "_SubDept")', SubDept, Branch, Dept);
            BindControl_@(controlId)('@(urlHelper.Action("GetKeep_Position", "MPAdded"))', 'Floor', '@(controlId + "_Floor")', Floor, Branch, Dept, SubDept);
            $('#@(controlId + "_Memo")').val(Memo);

            $('#@(controlId + "_Branch")').change(function () {
                BindControl_@(controlId)('@(urlHelper.Action("GetKeep_Position", "MPAdded"))', 'Dept', '@(controlId + "_Dept")', '', $(this).val());
                $("#@(controlId + "_Dept") option").remove();
                $("#@(controlId + "_SubDept") option").remove();
                $("#@(controlId + "_Floor") option").remove();
                UpdateHidden_@(controlId)();
            });
            $('#@(controlId + "_Dept")').change(function () {
                BindControl_@(controlId)('@(urlHelper.Action("GetKeep_Position", "MPAdded"))', 'SubDept', '@(controlId + "_SubDept")', '', $('#@(controlId + "_Branch")').val(), $(this).val());
                $("#@(controlId + "_Floor") option").remove();
                UpdateHidden_@(controlId)();
            });
            $('#@(controlId + "_SubDept")').change(function () {
                BindControl_@(controlId)('@(urlHelper.Action("GetKeep_Position", "MPAdded"))', 'Floor', '@(controlId + "_Floor")', '', $('#@(controlId + "_Branch")').val(), $('#@(controlId + "_Dept")').val(), $(this).val());
                UpdateHidden_@(controlId)();
            });
            $('#@(controlId + "_Floor")').change(function () {
                UpdateHidden_@(controlId)();
            });
            $('#@(controlId + "_Memo")').change(function () {
                UpdateHidden_@(controlId)();
            });
        });

        function BindControl_@(controlId)(url, target, objid, defaultvalue, QBranch, QDept, QSubDept) {
            var DataStr = 'Target=' + target;
            if (QBranch){
                DataStr += '&Branch=' + QBranch;
            }
            if (QDept) {
                DataStr += '&Dept=' + QDept;
            }
            if (QSubDept) {
                DataStr += '&SubDept=' + QSubDept;
            }

            $.ajax({
                url: url,
                data: DataStr,
                type: 'post',
                success: function (data) {
                    //先清
                    $("#" + objid + " option").remove();
                    $("#" + objid).append($("<option></option>").attr("value", "").text("請選擇"));

                    $.each(data, function (index, value) {
                        $("#" + objid).append($("<option></option>").attr("value", value.Value).html(value.Value + value.Text));
                    });

                    if (defaultvalue != '') {
                        $("#" + objid).val(defaultvalue);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }

        function UpdateHidden_@(controlId)()
        {
            var branch = $('#@(controlId + "_Branch")').val();
            var dept = $('#@(controlId + "_Dept")').val();
            var total = branch + '.' + dept;

            @if(Mode != "3")
            {
                <text>
                    var subdept = $('#@(controlId + "_SubDept")').val();
                    total += '.' + subdept;
                </text>
            }

            @if (displayAll)
            {
                <text>
                    var floor = $('#@(controlId + "_Floor")').val();
                    var memo = $('#@(controlId + "_Memo")').val();
                    total += '.' + floor + '.' + memo;
                </text>
            }

            $('#@("hd" + controlId)').val(total);
        }
    </script>

}
