﻿@using System.Web.Mvc

@helper GenAssetAssignedBranchControl(string controlId, string controlname, string AssignedBranch = "", string AssignedID = "")
{
var urlHelper = new UrlHelper(Request.RequestContext);

    <div class="col-sm-6 form-group">
        <label for="" class="col-sm-4 control-label" align="right"><span style="color:red">*</span>保管單位</label>
        <div class="col-sm-3">
            <select class="form-control" id="@(controlId + "_Branch")"></select>
        </div>
        <div class="col-sm-3">
            <select class="form-control" id="@(controlId + "_Dept")"></select>
        </div>
        <div class="col-sm-2">
            <select class="form-control" id="@(controlId + "_SubDept")"></select>
        </div>
    </div>
    <input type="hidden" name="@controlname" id="@("hd" + controlId)" value="@AssignedBranch" />

    <div class="col-sm-6 form-group">
        <label for="" class="col-sm-4 control-label" align="right"><span style="color:red">*</span>保管人</label>
        <div class="col-sm-8">
            <select class="form-control" name="Assigned_ID" id="@(controlId + "_Assigned_ID")"></select>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            var Branch = '';
            var Dept = '';
            var SubDept = '';

            @if (!string.IsNullOrEmpty(AssignedBranch))
            {
                <text>
                    Branch = '@(AssignedBranch.Split('.').Length > 0 ? AssignedBranch.Split('.')[0] : "")';
                    Dept = '@(AssignedBranch.Split('.').Length > 1 ? AssignedBranch.Split('.')[1] : "")';
                    SubDept = '@(AssignedBranch.Split('.').Length > 2 ? AssignedBranch.Split('.')[2] : "")';
                </text>
            }

            //初始化
            BindControl_AssignedBranch_@(controlId)('@(urlHelper.Action("GetKeep_Position", "MPAdded"))', 'Branch', '@(controlId + "_Branch")', Branch);
            BindControl_AssignedBranch_@(controlId)('@(urlHelper.Action("GetKeep_Position", "MPAdded"))', 'Dept', '@(controlId + "_Dept")', Dept, Branch);
            BindControl_AssignedBranch_@(controlId)('@(urlHelper.Action("GetKeep_Position", "MPAdded"))', 'SubDept', '@(controlId + "_SubDept")', SubDept, Branch, Dept);

            $('#@(controlId + "_Branch")').change(function () {
                BindControl_AssignedBranch_@(controlId)('@(urlHelper.Action("GetKeep_Position", "MPAdded"))', 'Dept', '@(controlId + "_Dept")', '', $(this).val());
                $("#@(controlId + "_SubDept") option").remove();
                BindUser_@(controlId)($(this).val(), '');
                UpdateHidden_AssignedBranch_@(controlId)();
            });

            $('#@(controlId + "_Dept")').change(function () {
                BindControl_AssignedBranch_@(controlId)('@(urlHelper.Action("GetKeep_Position", "MPAdded"))', 'SubDept', '@(controlId + "_SubDept")', '', $('#@(controlId + "_Branch")').val(), $(this).val());
                BindUser_@(controlId)($('#@(controlId + "_Branch")').val(), $(this).val());
                UpdateHidden_AssignedBranch_@(controlId)();
            });

            $('#@(controlId + "_SubDept")').change(function () {
                UpdateHidden_AssignedBranch_@(controlId)();
            });
        });

        function BindControl_AssignedBranch_@(controlId)(url, target, objid, defaultvalue, QBranch, QDept) {
            var DataStr = 'Target=' + target;
            if (QBranch) {
                DataStr += '&Branch=' + QBranch;
            }
            if (QDept) {
                DataStr += '&Dept=' + QDept;
            }
            $.ajax({
                url: url,
                data: DataStr,
                type: 'post',
                success: function (data) {
                    //先清
                    $("#" + objid + " option").remove();
                    $("#" + objid).append($("<option></option>").attr("value", "").text("請選擇"));

                    $.each(data, function (index, value) {
                        $("#" + objid).append($("<option></option>").attr("value", value.Value).html(value.Value + value.Text));
                    });


                    if (defaultvalue != '') {
                        //console.log(target);
                        $("#" + objid).val(defaultvalue);
                        if (target == 'Branch' || target == 'Dept') {
                            var b = '';
                            var d = '';

                            if (target == 'Branch')
                            {
                                b = defaultvalue;
                                d = $('#@(controlId + "_Dept")').val();
                            }
                            if (target == 'Dept')
                            {
                                b = $('#@(controlId + "_Branch")').val();
                                d = defaultvalue;
                            }
                            BindUser_@(controlId)(b,d,'@(!string.IsNullOrEmpty(AssignedID) ? AssignedID : "")');
                        }
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }

        function BindUser_@(controlId)(branch, dept, defaultvalue) {
            var DataStr = '';
            if (branch) {
                DataStr += '&Branch=' + branch;
            }
            if (dept) {
                DataStr += '&Dept=' + dept;
            }
            $.ajax({
                url: '@(urlHelper.Action("GetUser", "MPAdded"))',
                data: DataStr,
                type: 'post',
                success: function (data) {
                    //先清
                    $("#@(controlId + "_Assigned_ID") option").remove();

                    $.each(data, function (index, value) {
                        $("#@(controlId + "_Assigned_ID")").append($("<option></option>").attr("value", value.Value).html(value.Value + value.Text));
                    });

                    if (defaultvalue != '') {
                        $("#@(controlId + "_Assigned_ID")").val(defaultvalue);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }

        function UpdateHidden_AssignedBranch_@(controlId)() {
            var branch = $('#@(controlId + "_Branch")').val();
            var dept = $('#@(controlId + "_Dept")').val();
            var subdept = $('#@(controlId + "_SubDept")').val();
            $('#@("hd" + controlId)').val(branch + '.' + dept + '.' + subdept);
        }
    </script>

}
