﻿@using System.Web.Mvc



@helper GenDropDownControl(string controlId, string controlname, string codeclass,string selectedvalue = "",bool disabled = false,string Mode = "")
{
var urlHelper = new UrlHelper(Request.RequestContext);
    <select class="form-control" name="@controlname" id="@controlId"  @(disabled? "readonly disabled" : "") ></select>
    <script>
        $(document).ready(function () {
            //初始化
            BindItem('@controlId','@codeclass', '@selectedvalue','@Mode');

        });
    </script>

}
