﻿@using System.Web;
@{
    Layout = null;
}
<script>
    var ss = JSON.parse(("@ViewBag.OrgID.ToString()").replace(/&quot;/g, "\""));
    if ((top["tmpB"] == undefined) & ((ss).length != 0))
    {
        top["tmpB"] = ss;

    }
    if (top["tmpB"][0] == 0)top["tmpB"].splice(0,1);

</script>

<table class="table table-striped">
    <thead>
        <tr>
            <th>項次</th>
            <th>分行</th>
            <th>分行經辦</th>
            <th>經辦電話</th>
            <th>經辦Email</th>
            <th>移出</th>
        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < ViewBag.data["Data"].Count; i++)
        {

            <tr btag="@ViewBag.data["Data"][i].mh.Code_ID">
                <td>@(i + 1 + Int32.Parse(@ViewBag.data["pagestart"].ToString()))</td>
                <td>@ViewBag.data["Data"][i].mh.Branch_Code  @ViewBag.data["Data"][i].mh.Department_Name </td>
                <td>@ViewBag.data["Data"][i]["UN"]</td>
                <td></td>
                <td>@ViewBag.data["Data"][i]["EM"].ToString().Replace("landbank.com.tw","@landbank.com.tw")</td>
                @if (@ViewBag.V == 0)
                {
                    <td><a class="btn btn-danger btn-circle" onclick="deleteme(this)" title="刪除"><i class="fa fa-trash"></i></a></td>
                }

            </tr>
        }
    </tbody>
</table>
<nav class="text-center">
    @Html.Partial("pagination1")
</nav>