﻿
@{
    Layout = null;
}

<div style="display:none">
    @ViewBag.Data
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>項次</th>
            <th>分行</th>
            <th>分行經辦</th>
            <th>經辦電話</th>
            <th>經辦Email</th>
            <th><input type="checkbox" style="vertical-align:middle" onclick="check_all(this,'c')" > 全選</th>
        </tr>
    </thead>
    <tbody><!--
        <tr class="lightyellow_bg">
            <td>1</td>
            <td>0050  台北分行</td>
            <td>黃大春</td>
            <td>(02)23713241 #122</td>
            <td>a0050@landbank.com.tw</td>
            <td><input type="checkbox" checked></td>
        </tr>-->
        @for (int i = 0; i < ViewBag.data["Data"].Count; i++)
        {
            <tr class="lightyellow_bg">
                <td>@(i + 1)</td>
                <td>@ViewBag.data["Data"][i]["mh"].Branch_Code @ViewBag.data["Data"][i]["mh"].Department_Name</td>
                <td>@ViewBag.data["Data"][i]["UN"]</td>
                <td></td>
                <td>@ViewBag.data["Data"][i]["EM"].ToString().Replace("landbank.com.tw","@landbank.com.tw")</td>
                <td><input type="checkbox" btag="c" cval="@ViewBag.data["Data"][i]["mh"].Branch_Code" ></td>
            </tr>
        }
    </tbody>
</table>

<nav class="text-center">
    @{ 

        Html.RenderPartial("~/Views/AssetsActivation/pagination.cshtml");
    }
    
</nav>

