﻿
@{
    Layout = null;
}
<div style="display:none">
    @ViewBag.test;
@ViewBag.data;

    </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>項次</th>
            <th>單據來源</th>
            <th>單據編號</th>
            <th>單據處理時間</th>
            <th>經辦單位</th>
            <th>經辦人員</th>
            <th>已規劃分行/分配分行數</th>
            <th>狀態</th>
            <th>編輯/檢視</th>
        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < ViewBag.data["Data"].Count; i++)
        {
            var date = ViewBag.data["Data"][i]["DateY"].ToString() + "-" +
                                                      ViewBag.data["Data"][i]["DateM"].ToString().PadLeft(2, '0') + "-" +
                                                      ViewBag.data["Data"][i]["DateD"].ToString().PadLeft(2, '0');
            <tr @if (ViewBag.data["Data"][i].TYC.ToString() == "0") { @: class="lightorange_bg"
                                }>
                <td>@(i + 1 + Int32.Parse(@ViewBag.data["pagestart"].ToString()))</td>
                <td>@ViewBag.data["Data"][i].LY</td>
                <td>@ViewBag.data["Data"][i].NO</td>
                <td>@date</td>
                <td>@ViewBag.data["Data"][i].J1/@ViewBag.data["Data"][i].J2</td>
                <td>@ViewBag.data["Data"][i].CR</td>
                <td></td>
                <td>@ViewBag.data["Data"][i].TY</td>
                @if ((ViewBag.data["Data"][i].TYC.ToString() == "0") ||
                                                                  (ViewBag.data["Data"][i].TYC.ToString() == "3") ||
                                                                  (ViewBag.data["Data"][i].TYC.ToString() == "4"))
                {
                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Edit",new { id = @ViewBag.data["Data"][i].ID.ToString() })" title="新增"><i class="fa fa-pencil"></i></a></td>
                }
                else
                {
                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail",new { id = @ViewBag.data["Data"][i].ID.ToString() })" title="檢視"><i class="fa fa-list"></i></a></td>
                }


            </tr>
        }
    </tbody>

</table>

<nav class="text-center">
    @Html.Partial("pagination")
</nav>
