﻿@using InspiniaWebAdminTemplate.Models.Activation
@using Library.Servant.Repository.Activation
@using Newtonsoft.Json.Linq;
<script src="/Scripts/plugins/blockui/jquery.blockUI.js"></script>
<script>
    function check_all(obj, btag) {
        var checkboxs = $("[btag="+btag+"]");
        for (var i = 0; i < checkboxs.length; i++) { checkboxs[i].checked = obj.checked; }
    }
</script>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>總行指定活化作業</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">資產活化作業</a>
            </li>
            <li>
                <a href="#">總行指定活化作業</a>
            </li>
        </ol>
    </div>
</div>

<div id="IndexPage" class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" id="SearchList" action="" class="form-horizontal">
                        
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="Document_Type" id="" >
                                        <option value="1002">指定活化單</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="Source_Type" id="">
                                        <option value="2001">總行指定活化</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-4"><input type="text" class="form-control"  name="bno" value="" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control"  name="eno" value="" /></div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳本</label>
                                <div class="col-sm-6">
                                    <select name="BOOK_TYPE_CODE" class="form-control" id="">
                                        <option value="">全部</option>
                                        @{
                                            for (int i = 0; i < ViewBag.bc["Data"].Count; i++)
                                            {
                                                <option value="@ViewBag.bc["Data"][i].mh.Code_ID">@ViewBag.bc["Data"][i].mh.Text</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據處理日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' name="BeginDate" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' name="EndDate" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-3">
                                    <select name="Jurisdiction1" class="form-control" id="">
                                        <option value="">全部</option>
                                        <option value="001">001 總行</option>
                                        @{
                                            for (int i = 0; i < ViewBag.ju1["Data"].Count; i++)
                                            {
                                                <option value="@ViewBag.ju1["Data"][i].mh.Branch_Code">@ViewBag.ju1["Data"][i].mh.Branch_Code @ViewBag.ju1["Data"][i].mh.Department_Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select name="Jurisdiction2" class="form-control" id="">
                                        <option value="">全部</option>
                                        @{
                                            for (int i = 0; i < ViewBag.ju2["Data"].Count; i++)
                                            {
                                                <option value="@ViewBag.ju2["Data"][i].mh.Department">@ViewBag.ju2["Data"][i].mh.Department @ViewBag.ju2["Data"][i].mh.Department_Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select name="Jurisdiction3" class="form-control" id="">
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">狀態</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" checked onclick="check_all(this,'c')"><span>全選</span>
                                    @{
                                        for (int i = 0; i < ViewBag.ty["Data"].Count; i++)
                                        {
                                            <input type="checkbox" checked cval="@ViewBag.ty["Data"][i].mh.Code_ID" btag="c"><span>@ViewBag.ty["Data"][i].mh.Text</span>
                                        }
                                    }

                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">備註(關鍵字)</label>
                                <div class="col-sm-9"><input type="text" name="Remark" class="form-control" value="" /></div>
                            </div>


                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                    <a class="btn btn-primary" onclick="GetList('1');"><i class="fa fa-search"> 搜 尋 </i></a>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <a class="btn btn-primary" href="@Url.Action("Edit")" title="新增"><i class="fa fa-plus"> 新增單據 </i></a>
                                </td>
                            </tr>
                        </table>
                        <div id="IndexList">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>單據來源</th>
                                        <th>單據編號</th>
                                        <th>單據處理時間</th>
                                        <th>經辦單位</th>
                                        <th>經辦人員</th>
                                        <th>已規劃分行/分配分行數</th>
                                        <th>狀態</th>
                                        <th>編輯/檢視</th>
                                    </tr>
                                </thead>
                                </table>
</div>
                           
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function GetList(page) {
        $('#IndexPage').block({
            message: '<h1>正在查询，请稍候……</h1>',
            css: {
                border: '3px solid khaki'
            }
        });
        var formdata = $("#SearchList").serializeArray();
        var data = {};
        $(formdata).each(function (index, obj) {
            data[obj.name] = obj.value;
        });
        var ty = [];
        for (var i = 0 ; i < $("input[btag=c]:checked").length ; i++)
        {
            ty.push($("input[btag=c]:checked")[i].attributes.cval.value);
        }
        data["State"] = ty;
        con = "json=" + JSON.stringify(data) + "&page=" + page;
        $.ajax({
            url: "@Url.Action("IndexList")",
            type: "post",
            data: con,
            complete : function() {  $('#IndexPage').unblock();},
            async: true,
        success: function (data) {
            $("#IndexList").html(data);
        }
    })
    }
    GetList(1);
</script>