﻿@using InspiniaWebAdminTemplate.Models.TodoListReport
@using FastReport.Web
@WebReportGlobals.Scripts()
@WebReportGlobals.Styles()

@model SearchViewModel

<div id="root">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>報表條件</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="Home">首頁</a>
                </li>
                <li>
                    <a href="#">公告事項管理</a>
                </li>
                <li>
                    <a href="#">報表產製</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>搜尋條件</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">

                            @Html.AntiForgeryToken()

                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">交辦人</label>
                                    <div class="col-sm-8">
                                        @Html.TextBox("AssignUser", Model.AssignUser, new { @class="form-control" })
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">交辦事項狀態</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("Status", (IEnumerable<SelectListItem>)ViewBag.StatusList, "請選擇", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">交辦事項編碼</label>
                                    <div class="col-sm-8 input-group">
                                        @{
                                            var startAttribute = new Dictionary<string, object> {
                                                { "type", "text" },
                                                { "data-id", "Start" },
                                                { "class", "form-control" }
                                            };
                                            var endAttribute = new Dictionary<string, object> {
                                                { "type", "text" },
                                                { "data-id", "End" },
                                                { "class", "form-control" }
                                            };
                                        }
                                        @Html.TextBox("AssignNumberRange.Start", Model.AssignNumberRange.Start, startAttribute)
                                        <span class="input-group-addon">~</span>
                                        @Html.TextBox("AssignNumberRange.End", Model.AssignNumberRange.End, endAttribute)
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label"></label>
                                    <div class="col-sm-8">
                                        <label id="changeEle" class="checkbox-inline control-label">
                                            @Html.CheckBox("IsNotFinished", Model.IsNotFinished)已過交辦截止日未結案
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">交辦事項日期</label>
                                    <div class="input-group col-sm-8">
                                        <div class="input-group">
                                            @{
                                                var announceAttr = new Dictionary<string, object>
                                                {
                                                    { "type", "text" },
                                                    { "data-date-fromat", "yyyy/mm/dd" },
                                                    { "class", "form-control datepicker" }
                                                };
                                            }
                                            @Html.TextBox("AssignDateTime.Start", Model.AssignDateTime.Start, "{0:yyyy/MM/dd}", announceAttr)
                                            <span class="input-group-addon date-trigger">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span class="input-group-addon">~</span>
                                        <div class="input-group">
                                            @Html.TextBox("AssignDateTime.End", Model.AssignDateTime.End, "{0:yyyy/MM/dd}", announceAttr)
                                            <span class="input-group-addon date-trigger">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search">查詢</i></button>
                                    <button type="reset" class="btn btn-danger"><i class="fa fa-eraser">清除</i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div style="align-content:center">
                            @ViewBag.WebReport.GetHtml()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        (function ($) {
            
            $(".datepicker").datepicker({
                format: "yyyy/mm/dd",
                autoclose: true,
                clearBtn: true,
                calendarWeeks: false,
                todayHighlight: true,
                language: 'zh-TW'
            });

            $(".date-trigger").on("click", function () {
                $(this).prev(".datepicker").datepicker("show");
            });

        })(jQuery);

    </script>
}