﻿@using InspiniaWebAdminTemplate.Models.ApprovalReassignEdit
@model IndexViewModel
@{
    ViewBag.Title = "Reassignment";
}

<div id="root">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>簽核改派</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "ApprovalTracking")">首頁</a>
                </li>
                <li>
                    <a href="#">簽核改派</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">分行</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="@Model.Search.BranchName" disabled>
                                    </div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">部門</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="@Model.Search.DepartmentName" disabled>
                                    </div>
                                </div>
                            </div>

                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="hr-line-dashed"></div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="table-responsive">
                    <form method="post" action="@Url.Action("Update", "ApprovalReassign")">
                        <input type="hidden" value="@Model.FlowOpenID" name="ID">
                        @TableList()
                    </form>

                    <a id="page">
                        <div id="page_region"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@helper TableList()
{
    <table class="table-condensed">
        <tr>
            <td style="text-align: left">
                <label>共  @Model.Page.TotalAmount 筆</label>
                <a class="btn btn-sm btn-default" href="@Url.Action("Index","ApprovalReassign")">回上頁</a>
                <button type="submit" class="btn btn-success">確定</button>
                <button type="reset" class="btn btn-warning">清除</button>
            </td>
        </tr>
    </table>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>項次</th>
                <th>勾選</th>
                <th>分行</th>
                <th>部門</th>
                <th>員工編號</th>
                <th>員工姓名</th>
            </tr>
        </thead>
        <tbody>
            @for (int index = 0; index < Model.Page.Items.Count; ++index)
            {
                var item = Model.Page.Items[index];
                <tr>
                    <td>@( index + 1 + (Model.Search.Page - 1) * (Model.Search.PageSize)  )</td>
                    <td><input type="radio" name="ReassignID" value="@item.UserID"></td>
                    <td>@item.BranchName</td>
                    <td>@item.DepartmentName</td>
                    <td>@item.UserCode</td>
                    <td>@item.UserName</td>
                </tr>
            }

        </tbody>
    </table>
}

@section Scripts {

    @Html.Partial("_VuePageList")
    <script>

            (function ($) {

                var page = new $.PageTemplate({

                    el: "#page_region",
                    data: {

                        limit_pages: 10,//畫面上最多有幾頁可供選擇
                        total_amount: @Model.Page.TotalAmount,//資料庫總筆數
                        page_size: @Model.Search.PageSize,//單頁筆數
                        page_now: @Model.Search.Page,//當前頁
                        center_page: @Model.Search.Page,//置中頁,通常會將當前頁置中

                        pages: [],//通常為空,

                        action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
                });
            })(jQuery);

    </script>
}