﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="window.close()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 檢視單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">資產活化作業</a>
            </li>
            <li>
                <a href="#">分行活化進度回報</a>
            </li>
			<li>
                <a href="#">檢視單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>檢視單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                      <div class="row">                     
                      		<div class="col-sm-6 form-group">
                                         <label for="" class="col-sm-3 control-label">單據類型</label>
                                         <div class="col-sm-6 text-lineH-fix">資產活化進度單</div>
                               </div>
                             
                               <div class="col-sm-6 form-group">
                                         <label for="" class="col-sm-3 control-label">來源類型</label>
                                         <div class="col-sm-6 text-lineH-fix">總行指定活化</div>
                               </div>
                             
                               <div class="col-sm-6 form-group">
                                        <label for="" class="col-sm-3 control-label">單據編號</label>
                                        <div class="col-sm-6 text-lineH-fix">1060502J200000001</div>
                             </div>
                             
                               <div class="col-sm-6 form-group">
                                         <label for="" class="col-sm-3 control-label">帳本</label>
                                         <div class="col-sm-6 text-lineH-fix">IFRS_TWD</div>
                               </div>
                               
                              <div class="col-sm-6 form-group">                               
                                         <label for="" class="col-sm-3 control-label">單據處理日期</label>
                                         <div class="col-sm-6 text-lineH-fix">106-05-02</div>
                             </div>
                             
                               <div class="col-sm-6 form-group">
                                        <label for="" class="col-sm-3 control-label">管轄單位</label>
                                        <div class="col-sm-6 text-lineH-fix">002 台北分行  001 XX科</div>
                               </div>
                               
                               <div class="col-sm-6 form-group">
                                        <label for="" class="col-sm-3 control-label">活化目標</label>
                                        <div class="col-sm-6 text-lineH-fix">占用清理</div>
                               </div>
                               
                               <div class="col-sm-6 form-group">
                                        <label for="" class="col-sm-3 control-label">對應的活化規劃單</label>
                                        <div class="col-sm-6 text-lineH-fix">單號 1060502J300000001</div>
                               </div>
                               
                               <div class="col-sm-6 form-group">
                                        <label for="" class="col-sm-3 control-label">狀態</label>
                                        <div class="col-sm-6 text-lineH-fix text-primary-re">簽核中</div>
                               </div> 
                               
                               <div class="col-sm-6 form-group">
                                         <label for="" class="col-sm-3 control-label">備註</label>
                                         <div class="col-sm-5" ><input type="text" class="form-control" value=""/> </div>
                                         <div class="col-sm-4" ><a href="#" class="btn btn-primary"><i class="fa fa-save"> 儲 存 </i></a></div>
                               </div>
                               
                               <div class="col-sm-9 form-group">
                                         <label for="" class="col-sm-2 control-label">執行情形摘要</label>
                                         <div class="col-sm-8 text-lineH-fix">執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字 執行情形說明文字。
</div>
                               </div>
                               
                                <div class="col-sm-6 form-group">
                                         <label for="" class="col-sm-3 control-label">上傳執行情形報告表</label>
                                         <div class="col-sm-6 text-lineH-fix" ><a href="#"><i class="fa fa-file-text-o"> 台北分行 106年 5月活化進度執行情形報告表.pdf </i></a></div>
                               </div>
                          
                        </div>    
                        
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div>
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                <label>本期活化案件明細</label>   
                                </td>
                                <td style="text-align: right">
                                <div class="text-lineH-fix">
                                   <input type="radio" onclick="location.href='@Url.Action("ContentDetail")'" name="radiogroup1" ><span style="margin-right:10px"> 房屋 (25)</span>
                                   <input type="radio" name="radiogroup1" checked><span> 土地 (31)</span>
                                  </div>
                              </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>項次</th>
                                <th>土地財產編號</th>
                                <th>土地坐落</th>
                                <th>土地面積(m2)</th>
                                <th>帳面金額</th>
                                <th>帳面價值</th>
                                <th>業務別</th>
                                <th>使用分區</th>
                                <th>使用現狀</th>
                                <th>檢視</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                <td>1</td>
                                <td>1010202-0002706</td>
                                <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                <td>1,879.00</td>
                                <td>7,167,570.00</td>
                                <td>7,167,570.00</td>
                                <td>自用</td>
                                <td>商業區</td>
                                <td>占用</td>
                                <td><a class="btn btn-gray btn-circle" href="J405.aspx" target="_blank" title="搜尋"><i class="fa fa-search"></i></a></td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>1010202-0002706</td>
                                <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                <td>1,879.00</td>
                                <td>7,167,570.00</td>
                                <td>7,167,570.00</td>
                                <td>自用</td>
                                <td>商業區</td>
                                <td>占用</td>
                                <td><a class="btn btn-gray btn-circle" href="J405.aspx" target="_blank" title="搜尋"><i class="fa fa-search"></i></a></td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>1010202-0002706</td>
                                <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                <td>1,879.00</td>
                                <td>7,167,570.00</td>
                                <td>7,167,570.00</td>
                                <td>非自用</td>
                                <td>住宅區</td>
                                <td>空置</td>
                                <td><a class="btn btn-gray btn-circle" href="J405.aspx" target="_blank" title="搜尋"><i class="fa fa-search"></i></a></td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>1010202-0002706</td>
                                <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                <td>1,879.00</td>
                                <td>7,167,570.00</td>
                                <td>7,167,570.00</td>
                                <td>非自用</td>
                                <td>住宅區</td>
                                <td>空置</td>
                                <td><a class="btn btn-gray btn-circle" href="J405.aspx" target="_blank" title="搜尋"><i class="fa fa-search"></i></a></td>
                              </tr>
                              <tr>
                                <td>5</td>
                                <td>1010202-0002706</td>
                                <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                <td>1,879.00</td>
                                <td>7,167,570.00</td>
                                <td>7,167,570.00</td>
                                <td>非自用</td>
                                <td>住宅區</td>
                                <td>占用</td>
                                <td><a class="btn btn-gray btn-circle" href="J405.aspx" target="_blank" title="搜尋"><i class="fa fa-search"></i></a></td>
                              </tr>
                              <tr>
                                <td>6</td>
                                <td>1010202-0002706</td>
                                <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                <td>1,879.00</td>
                                <td>7,167,570.00</td>
                                <td>7,167,570.00</td>
                                <td>非自用</td>
                                <td>住宅區</td>
                                <td>占用</td>
                                <td><a class="btn btn-gray btn-circle" href="J405.aspx" target="_blank" title="搜尋"><i class="fa fa-search"></i></a></td>
                              </tr>
                              <tr>
                                <td>7</td>
                                <td>1010202-0002706</td>
                                <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                <td>1,879.00</td>
                                <td>7,167,570.00</td>
                                <td>7,167,570.00</td>
                                <td>非自用</td>
                                <td>住宅區</td>
                                <td>占用</td>
                                <td><a class="btn btn-gray btn-circle" href="J405.aspx" target="_blank" title="搜尋"><i class="fa fa-search"></i></a></td>
                              </tr>
                              <tr>
                                <td>8</td>
                                <td>1010202-0002706</td>
                                <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                <td>1,879.00</td>
                                <td>7,167,570.00</td>
                                <td>7,167,570.00</td>
                                <td>非自用</td>
                                <td>住宅區</td>
                                <td>占用</td>
                                <td><a class="btn btn-gray btn-circle" href="J405.aspx" target="_blank" title="搜尋"><i class="fa fa-search"></i></a></td>
                              </tr>
                              <tr>
                                <td>9</td>
                                <td>1010202-0002706</td>
                                <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                <td>1,879.00</td>
                                <td>7,167,570.00</td>
                                <td>7,167,570.00</td>
                                <td>非自用</td>
                                <td>住宅區</td>
                                <td>占用</td>
                                <td><a class="btn btn-gray btn-circle" href="J405.aspx" target="_blank" title="搜尋"><i class="fa fa-search"></i></a></td>
                              </tr>
                              <tr>
                                <td>10</td>
                                <td>1010202-0002706</td>
                                <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                <td>1,879.00</td>
                                <td>7,167,570.00</td>
                                <td>7,167,570.00</td>
                                <td>非自用</td>
                                <td>住宅區</td>
                                <td>占用</td>
                                <td><a class="btn btn-gray btn-circle" href="J405.aspx" target="_blank" title="搜尋"><i class="fa fa-search"></i></a></td>
                              </tr>
                          </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

	
    <div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
<div class="col-sm-3"></div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-8">
                                <a href="#modal-form-splitdata" class="btn btn-success" data-toggle="modal" style="display:none"><i class="fa fa-long-arrow-right"> 提 交 </i></a>
                                <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal" style="display:none"><i class="fa fa-save"> 儲 存 </i></a>
                                <a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger" style="display:none"><i class="fa fa-trash"> 刪 除 </i></a>
                                <a href="#modal-form-invaliddata" data-toggle="modal" class="btn btn-danger" style="display:none"><i class="fa fa-trash">  作 廢 </i></a>
                                <a href="#" onclick="window.close()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
                                </div>
</div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-splitdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定提交嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-deletedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定刪除嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-invaliddata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定作廢嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>