﻿@{
    Layout = null;
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>項次</th>
            <th>土地財產編號</th>
            <th>土地坐落</th>
            <th>土地面積(m2)</th>
            <th>帳面金額</th>
            <th>帳面價值</th>
            <th>業務別</th>
            <th>使用分區</th>
            <th>使用現狀</th>
            <th>檢視</th>
            <th>移出</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>1010202-0002706</td>
            <td>基隆市中正區日新段二小段    0001-0000    地號</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td>7,167,570.00</td>
            <td>自用</td>
            <td>商業區</td>
            <td>占用</td>
            <td><a class="btn btn-gray btn-circle" href="#" title="編輯"><i class="fa fa-search"></i></a></td>
            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>1010202-0002706</td>
            <td>基隆市中正區日新段二小段    0001-0000    地號</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td>7,167,570.00</td>
            <td>自用</td>
            <td>商業區</td>
            <td>占用</td>
            <td><a class="btn btn-gray btn-circle" href="#" title="編輯"><i class="fa fa-search"></i></a></td>
            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>1010202-0002706</td>
            <td>基隆市中正區日新段二小段    0001-0000    地號</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td>7,167,570.00</td>
            <td>非自用</td>
            <td>住宅區</td>
            <td>空置</td>
            <td><a class="btn btn-gray btn-circle" href="#" title="編輯"><i class="fa fa-search"></i></a></td>
            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>1010202-0002706</td>
            <td>基隆市中正區日新段二小段    0001-0000    地號</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td>7,167,570.00</td>
            <td>非自用</td>
            <td>住宅區</td>
            <td>空置</td>
            <td><a class="btn btn-gray btn-circle" href="#" title="編輯"><i class="fa fa-search"></i></a></td>
            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
        </tr>
        <tr>
            <td>5</td>
            <td>1010202-0002706</td>
            <td>基隆市中正區日新段二小段    0001-0000    地號</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td>7,167,570.00</td>
            <td>非自用</td>
            <td>住宅區</td>
            <td>占用</td>
            <td><a class="btn btn-gray btn-circle" href="#" title="編輯"><i class="fa fa-search"></i></a></td>
            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
        </tr>
        <tr>
            <td>6</td>
            <td>1010202-0002706</td>
            <td>基隆市中正區日新段二小段    0001-0000    地號</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td>7,167,570.00</td>
            <td>非自用</td>
            <td>住宅區</td>
            <td>占用</td>
            <td><a class="btn btn-gray btn-circle" href="#" title="編輯"><i class="fa fa-search"></i></a></td>
            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
        </tr>
        <tr>
            <td>7</td>
            <td>1010202-0002706</td>
            <td>基隆市中正區日新段二小段    0001-0000    地號</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td>7,167,570.00</td>
            <td>非自用</td>
            <td>住宅區</td>
            <td>占用</td>
            <td><a class="btn btn-gray btn-circle" href="#" title="編輯"><i class="fa fa-search"></i></a></td>
            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
        </tr>
        <tr>
            <td>8</td>
            <td>1010202-0002706</td>
            <td>基隆市中正區日新段二小段    0001-0000    地號</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td>7,167,570.00</td>
            <td>非自用</td>
            <td>住宅區</td>
            <td>占用</td>
            <td><a class="btn btn-gray btn-circle" href="#" title="編輯"><i class="fa fa-search"></i></a></td>
            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
        </tr>
        <tr>
            <td>9</td>
            <td>1010202-0002706</td>
            <td>基隆市中正區日新段二小段    0001-0000    地號</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td>7,167,570.00</td>
            <td>非自用</td>
            <td>住宅區</td>
            <td>占用</td>
            <td><a class="btn btn-gray btn-circle" href="#" title="編輯"><i class="fa fa-search"></i></a></td>
            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
        </tr>
        <tr>
            <td>10</td>
            <td>1010202-0002706</td>
            <td>基隆市中正區日新段二小段    0001-0000    地號</td>
            <td>1,879.00</td>
            <td>7,167,570.00</td>
            <td>7,167,570.00</td>
            <td>非自用</td>
            <td>住宅區</td>
            <td>占用</td>
            <td><a class="btn btn-gray btn-circle" href="#" title="編輯"><i class="fa fa-search"></i></a></td>
            <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
        </tr>
    </tbody>
</table>