﻿@{ 
    Layout = null;
}
<script>

    if ((top["tmpB"] == undefined) & ((@ViewBag.OrgID).length != 0))
        {
            top["tmpB"] = @ViewBag.OrgID;
        
    }
    if (top["tmpB"][0] == 0)top["tmpB"].splice(0,1);
    
</script>
<table class="table table-striped">
    <thead>
        <tr>
            <th>項次</th>
            <th>房屋財產編號</th>
            <th>建物門牌</th>
            <th>房屋面積(m2)</th>
            <th>帳面金額</th>
            <th>帳面價值</th>
            <th>業務別</th>
            <th>使用分區</th>
            <th>使用現狀</th>
            <th>檢視</th>
            
           
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>2010202-0000043</td>
            <td>基隆市中正路義一路18號</td>
            <td>21,68.83</td>
            <td>6,269,650.60</td>
            <td>6,027,570.00</td>
            <td>自用</td>
            <td>商業區</td>
            <td>占用</td>
            <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" target="_blank" title="搜尋"><i class="fa fa-search"></i></a></td>
        </tr>
        @for (int i = 0; i < ViewBag.data["Data"].Count; i++)
        {
            
            <tr btag="@ViewBag.data["Data"][i].ID">
                <td>@(i + 1 + Int32.Parse(@ViewBag.data["pagestart"].ToString()))</td>
                <td>@ViewBag.data["Data"][i].Asset_Number</td>
                <td>@ViewBag.data["Data"][i].Description</td>
                <td>21,68.83</td>
                <td>@ViewBag.data["Data"][i].Current_Cost</td>
                <td>@ViewBag.data["Data"][i].Business_Book_Amount</td>
                <td>@ViewBag.data["Data"][i].Used_Type</td>
                <td></td>
                <td>@ViewBag.data["Data"][i].Used_Status</td>
                <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" target="_blank" title="搜尋"><i class="fa fa-search"></i></a></td>
                
                
            </tr>
        }
    </tbody>
</table>
<nav class="text-center">
    @Html.Partial("pagination1")
</nav>