﻿@using System.Web;
@{
    Layout = null;
}
<script>
    var ss = JSON.parse(("@ViewBag.OrgID.ToString()").replace(/&quot;/g, "\""));
    if ((top["tmpB"] == undefined) & ((ss).length != 0))
    {
        top["tmpB"] = ss;

    }
    if (top["tmpB"][0] == 0)top["tmpB"].splice(0,1);

</script>
<div style="display:none">@ViewBag.data</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>項次</th>
            <th>分行</th>
            <th>分行經辦</th>
            <th>經辦電話</th>
            <th>活化規劃單號</th>
            <th>規劃單狀態</th>
            <th>檢視單據</th>
        </tr>
    </thead>
    <tbody>
  
        @for (int i = 0; i < ViewBag.data["Data"].Count; i++)
        {

            <tr btag="@ViewBag.data["Data"][i].mh.Code_ID">
                <td>@(i + 1 + Int32.Parse(@ViewBag.data["pagestart"].ToString()))</td>
                <td>@ViewBag.data["Data"][i].mh.Branch_Code  @ViewBag.data["Data"][i].mh.Department_Name </td>
                <td>@ViewBag.data["Data"][i]["UN"]</td>
                <td></td>
                <td></td>
                <td></td>
                <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail_2")" title="搜尋"><i class="fa fa-search"></i></a></td>

            </tr>
        }
    </tbody>
</table>
<nav class="text-center">
    @Html.Partial("pagination1")
</nav>