﻿
@{
    Layout = null;
}
<div style="display:none">
@ViewBag.data;
    </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>項次</th>
            <th>單據類型</th>
            <th>單據來源</th>
            <th>單據編號</th>
            <th>單據處理時間</th>
            <th>活化單位</th>
            <th>經辦人員</th>
            <th>狀態</th>
            <th>檢視</th>
        </tr>
    </thead>
    <tbody>
        <!--
        <tr>
            <td>1</td>
            <td>指定活化單</td>
            <td>總行指定活化</td>
            <td>1060502F200000001</td>
            <td>106-05-02    12:00</td>
            <td>台北分行/XX科</td>
            <td>陳小明</td>
            <td>已核准</td>
            <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-list"></i></a></td>
        </tr>
            -->
        @for (int i = 0; i < ViewBag.data["Data"].Count; i++)
        {
            var date = ViewBag.data["Data"][i]["DateY"].ToString() + "-" +
                                                      ViewBag.data["Data"][i]["DateM"].ToString().PadLeft(2, '0') + "-" +
                                                      ViewBag.data["Data"][i]["DateD"].ToString().PadLeft(2, '0');
            var dnum = ViewBag.data["Data"][i].Document_Type == "1002" ? "Detail" :"Detail_2";
            <tr @if (ViewBag.data["Data"][i].TYC.ToString() == "0") { @: class="lightorange_bg"
                                }>
                <td>@(i + 1 + Int32.Parse(@ViewBag.data["pagestart"].ToString()))</td>
                <td>@ViewBag.data["Data"][i].DT</td>
                <td>@ViewBag.data["Data"][i].LY</td>
                <td>@ViewBag.data["Data"][i].NO</td>
                <td>@date</td>
                <td>@ViewBag.data["Data"][i].J1/@ViewBag.data["Data"][i].J2</td>
                <td>@ViewBag.data["Data"][i].CR</td>
                <td>@ViewBag.data["Data"][i].TY</td>
                
                    <td><a class="btn btn-gray btn-circle" href="@Url.Action(dnum,new { id = @ViewBag.data["Data"][i].ID.ToString() })" title="檢視"><i class="fa fa-list"></i></a></td>
                


            </tr>
        }
    </tbody>

</table>

<nav class="text-center">
    @Html.Partial("pagination")
</nav>
