﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 寄送分行通知單</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">資產活化作業</a>
            </li>
            <li>
                <a href="#">總行指定活化作業</a>
            </li>
            <li>
                <a href="#">檢視單據</a>
            </li>
            <li>
                <a href="#">寄送分行通知單</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>檢視單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6 text-lineH-fix">指定活化單</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6 text-lineH-fix">總行指定活化</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1060502J200000001</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳本</label>
                                <div class="col-sm-6 text-lineH-fix">IFRS_TWD</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據處理日期</label>
                                <div class="col-sm-6 text-lineH-fix">106-05-02</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-6 text-lineH-fix">001 總行  08 產權部  001 XX科</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">活化目標</label>
                                <div class="col-sm-6 text-lineH-fix">占用清理</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註</label>
                                <div class="col-sm-6 text-lineH-fix">備註內容備註內容備註內容</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-primary-re">已核准</span> ( 核准日期：106-05-03 )</div>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><span class="text-success">【步驟一】</span>編輯信件內容</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">通知信主旨</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" value="總行指定活化規劃通知信
" />
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">通知信內容</label>
                                <div class="col-sm-9 ">
                                    <div class="form-control" style="border:1px solid #e5e6e7;min-height:200px;overflow: auto;" id="mailcontentinput">
                                        [UserName]，您好：<br>
                                        本次須請您規劃「 [Taret] 活化計畫」。<br>
                                        已經為您創建好「<a href="J302.aspx">活化規劃單</a>」，您可以點擊該連結前往規劃活化計畫。<br>
                                        如您確認無誤，請點擊 [<a href="#">簽收</a>] 。謝謝。<br>
                                        <br>
                                        <br>
                                        <br>
                                        <div align="right">總行/產權部 陳小明</div>
                                        <div align="right">[Date]</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label"><span style="color:red">*</span>額外附件</label>
                                <div class="col-sm-9">
                                    <input id="uploadFile" placeholder="" class="form-control " style="width:30%;float:left" />
                                    <div class="fileUpload btn btn-gray" style="border-radius: 0 3px 3px 0; float:left">
                                        <span><i class="fa fa-search"> 瀏 覽 </i></span>
                                        <input id="uploadBtn" type="file" class="upload" />
                                    </div>
                                    <a class="btn btn-link" style="vertical-align:middle;padding:6px 0 0 10px"><i class="fa fa-trash" style="font-size:1.1em;color:#999"></i></a>
                                    <a class="btn btn-link" style="vertical-align:middle;padding:6px 0 0 10px"><i class="fa fa-plus" style="font-size:1.1em;color:#999"></i></a>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">副本 Email</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label"></label>
                                <div class="col-sm-9">
                                    <i class="fa fa-warning" style="padding:10px 0 0 0px;float:left"></i><span style="padding:5px 0 0 10px;float:left">寄給下列保管人，此處可設定需額外副本的 Email，如有多筆 Email，請以分號  ; 分隔。</span>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label><span class="text-success">【步驟二】</span>寄送名單</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>分行</th>
                                    <th>分行經辦</th>
                                    <th>經辦電話</th>
                                    <th>經辦Email</th>
                                    <th><input type="checkbox" style="vertical-align:middle" checked>是否寄送</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>0050  台北分行</td>
                                    <td>黃大春</td>
                                    <td>(02)23713241 #122</td>
                                    <td>a0050@landbank.com.tw</td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>0050  台北分行</td>
                                    <td>陳小秋</td>
                                    <td>(02)23713241 #123</td>
                                    <td>a1389@landbank.com.tw</td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>0050  台北分行</td>
                                    <td>賴小瑛</td>
                                    <td>(02)23713241 #131</td>
                                    <td>a0061@landbank.com.tw</td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>0050  台北分行</td>
                                    <td>吳大林</td>
                                    <td>(02)23713241 #132</td>
                                    <td>a0083@landbank.com.tw</td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>0050  台北分行</td>
                                    <td>黃小明</td>
                                    <td>(02)23713241 #133</td>
                                    <td>a1024@landbank.com.tw</td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>0050  台北分行</td>
                                    <td>余小紫</td>
                                    <td>(02)23713241 #134</td>
                                    <td>a1404@landbank.com.tw</td>
                                    <td><input type="checkbox" checked></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-splitdata" class="btn btn-success" data-toggle="modal"><i class="fa fa-envelope-o"> 寄 送 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-splitdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定寄送嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
document.getElementById("mailcontentinput").contentEditable='true';

document.getElementById("uploadBtn").onchange = function () {
document.getElementById("uploadFile").value = this.files[0].name;
};
</script>