﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 檢視單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">權狀新增作業</a>
            </li>
            <li>
                <a href="#">檢視單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>檢視單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6 text-lineH-fix">權狀新增單</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6 text-lineH-fix">總行個別新增</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1060901L120000001</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-6 text-lineH-fix">001 總行</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據處理日期</label>
                                <div class="col-sm-6 text-lineH-fix">106-09-01</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-primary-re">已核准</span> ( 核准日期：106-09-01 )</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註</label>
                                <div class="col-sm-6 text-lineH-fix"></div>
                            </div>



                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>


    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>權狀明細</label>
                                </td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>權狀執照類別</th>
                                    <th>財產編號</th>
                                    <th>縣(市)</th>
                                    <th>鄉政市區</th>
                                    <th>段</th>
                                    <th>小段</th>
                                    <th>地號</th>
                                    <th>建號</th>
                                    <th>建物門牌</th>
                                    <th>正本</th>
                                    <th>副本</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>土地所有權狀</td>
                                    <td>1019901-0002923</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td>0255-0000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentDetail")" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>建物所有權狀</td>
                                    <td>2010201-0000213</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td></td>
                                    <td>05197-000</td>
                                    <td>和平東路3段1巷1號</td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentDetail")" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>建物所有權狀</td>
                                    <td>2010201-0000213</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td></td>
                                    <td>05197-000</td>
                                    <td>和平東路3段1巷1號2樓</td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentDetail")" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>建物所有權狀</td>
                                    <td>2010201-0000213</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td></td>
                                    <td>05197-000</td>
                                    <td>和平東路3段1巷1號3樓</td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentDetail")" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>建物所有權狀</td>
                                    <td>2010201-0000213</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td></td>
                                    <td>05197-000</td>
                                    <td>和平東路3段1巷1號4樓</td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentDetail")" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>建物所有權狀</td>
                                    <td>2010201-0000213</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td></td>
                                    <td>05197-000</td>
                                    <td>和平東路3段1巷1號5樓之1</td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentDetail")" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>建物所有權狀</td>
                                    <td>2010201-0000213</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td></td>
                                    <td>05197-000</td>
                                    <td>和平東路3段1巷1號地下一層</td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentDetail")" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>使用執照</td>
                                    <td></td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td></td>
                                    <td></td>
                                    <td>和平東路3段1巷1號地下一層<br>~5樓之1使用執照</td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentDetail")" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-splitdata" class="btn btn-success" data-toggle="modal" style="display:none"><i class="fa fa-long-arrow-right"> 提 交 </i></a>
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal" style="display:none"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger" style="display:none"><i class="fa fa-trash"> 刪 除 </i></a>
            <a href="#modal-form-invaliddata" data-toggle="modal" class="btn btn-danger" style="display:none"><i class="fa fa-trash"> 作 廢 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-splitdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定提交嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-deletedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定刪除嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-invaliddata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定作廢嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>