﻿@using Library.Servant.Repository.Integration
@using InspiniaWebAdminTemplate.Models.Integration;
@model ContractsIndexViewModel
@{
    HeaderViewModel Header = (TempData["IntegrationHeader"] != null) ? (HeaderViewModel)TempData["IntegrationHeader"] : null;
    TempData["IntegrationHeader"] = Header;
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string ReturnController = controllerName;
    string functionName = IntegrationHelper.GetFunctionTitle(controllerName);
    ViewBag.Title = "搜尋租約";
}
<script>
    function ChangeAllCheckBox() {
        $('input[type="checkbox"][id!="ckAll"]').prop('checked', $('#ckAll').is(':checked'));
    }

    function Save() {
        var ImportList = [];
        $('input[type="checkbox"][id*="import"]:checked').each(function () {
            if ($(this).val()) {
                ImportList.push($(this).val());
            }
        });
        if (ImportList.length == 0) {
            alert("尚未選擇需導入之租約!!");
            return;
        }   
        console.log(ImportList);
        $.ajax({
            url: '@Url.Action("ImportContracts", "IntegrationMaintain")',
            data: 'IDs=' + ImportList,
            type: 'post',
            success: function (data) {                  
                $('#form').attr('action', '@Url.Action("HeaderImportContract")');
                $('#form').submit();                
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }

        });           
    }

    function ImportQuery() {                
        document.getElementById("TRANSACTION_TYPE").value = getCheckedValue("cb_transation");
        document.getElementById("Category").value = getCheckedValue("cb_category");
        document.getElementById("Business_Type").value = getCheckedValue("cb_business");
        document.getElementById("Status").value = getCheckedValue("cb_status");        
        $('#form').attr('action', '@Url.Action("ContractSearchKeyword")');
        $('#form').submit();
    }

    function resetQuery(){
        $('#form').attr('action', '@Url.Action("ContractSearch")');
        $('#form').submit();
    }

    function getCheckedValue(name){
        var checked = [];
        $("[name='" + name + "']:checked").each(function () {
            checked.push($(this).val());
        });        
        return checked.toString();
    }
</script>
<!-- E132 lightbox -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">租賃整合管理</a>
            </li>
            <li>
                <a href="#">@(functionName + "作業")</a>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <form method="post" id="form" class="form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="border:0">
                        <h5><span class="text-success">【步驟一】</span> 搜尋欲維護的租約</h5>
                        <div class="ibox-tools"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" action="" class="form-horizontal">
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">租約類別</label>
                                    <div class="col-sm-9 checkbox-list">
                                        承租
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">租約事務</label>
                                    <input type="hidden" id="TRANSACTION_TYPE" name="TRANSACTION_TYPE" value=""/>
                                    <div class="col-sm-9 checkbox-list">
                                        <input type="checkbox" name="cb_transation" value="新租" @((Model.condition.TRANSACTION_TYPE != null && Model.condition.TRANSACTION_TYPE.Contains("新租")) ?  "checked" : "")><span>新租</span>
                                        <input type="checkbox" name="cb_transation" value="續租" @((Model.condition.TRANSACTION_TYPE != null && Model.condition.TRANSACTION_TYPE.Contains("續租")) ?  "checked" : "")><span>續租</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">租約類型</label>
                                    <input type="hidden" id="Category" name="Category" value="" />
                                    <div class="col-sm-9 checkbox-list">
                                        <input type="checkbox" value="租金" name="cb_category" @((Model.condition.Category != null && Model.condition.Category.Contains("租金")) ?  "checked" : "")><span>租金</span>
                                        <input type="checkbox" value="基地補償金" name="cb_category" @((Model.condition.Category != null && Model.condition.Category.Contains("基地補償金")) ?  "checked" : "")><span>基地補償金</span>

                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">業務別</label>
                                    <input type="hidden" id="Business_Type" name="Business_Type" value="" />
                                    <div class="col-sm-9 checkbox-list">
                                        <input type="checkbox" value="自用" name="cb_business"  @((Model.condition.Business_Type != null && Model.condition.Business_Type.Contains("自用")) ?  "checked" : "")><span>自用</span>
                                        <input type="checkbox" value="非自用" name="cb_business"  @((Model.condition.Business_Type != null && Model.condition.Business_Type.Contains("非自用")) ?  "checked" : "")><span>非自用</span>

                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">租約編號</label>
                                    <div class="col-sm-4"><input type="text" id="TRXHeaderIDBgn" name="TRXHeaderIDBgn" class="form-control" value="@Model.condition.TRXHeaderIDBgn" /></div>
                                    <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                    <div class="col-sm-4"><input type="text" id="TRXHeaderIDEnd" name="TRXHeaderIDEnd" class="form-control" value="@Model.condition.TRXHeaderIDEnd" /></div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">原租約編號</label>
                                    <div class="col-sm-4"><input type="text" id="OldTRXHeaderIDBgn" name="OldTRXHeaderIDBgn" class="form-control" value="@Model.condition.OldTRXHeaderIDBgn" /></div>
                                    <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                    <div class="col-sm-4" <input type="text" id="OldTRXHeaderIDEnd" name="OldTRXHeaderIDEnd" class="form-control" value="@Model.condition.OldTRXHeaderIDEnd" /></div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">租約狀態</label>
                                    <input type="hidden" id="Status" name="Status" value="" />
                                    <div class="col-sm-9 checkbox-list">
                                        <input type="checkbox" value="有效" name="cb_status" @((Model.condition.Status != null && Model.condition.Status.Contains("有效")) ?  "checked" : "")><span>有效</span>
                                        <input type="checkbox" value="終止" name="cb_status" @((Model.condition.Status != null && Model.condition.Status.Contains("終止")) ?  "checked" : "")><span>終止</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">租賃期間</label>
                                    <div class="col-sm-4">
                                        <div class='input-group date' data-provide="datepicker-inline">
                                            <input type='text' class="form-control" id="BeginDate" name="BeginDate" value="@((Model.condition.BeginDate != null) ? Model.condition.BeginDate.Value.ToString("yyyy/MM/dd") : "")" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                    <div class="col-sm-4">
                                        <div class='input-group date' data-provide="datepicker-inline">
                                            <input type='text' class="form-control" id="EndDate" name="EndDate" value="@((Model.condition.EndDate != null) ? Model.condition.EndDate.Value.ToString("yyyy/MM/dd") : "")" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">核准日期</label>
                                    <div class="col-sm-4">
                                        <div class='input-group date' data-provide="datepicker-inline">
                                            <input type='text' class="form-control" id="ApplyBeginDate" name="ApplyBeginDate" value="@((Model.condition.ApplyBeginDate != null) ? Model.condition.ApplyBeginDate.Value.ToString("yyyy/MM/dd") : "")" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                    <div class="col-sm-4">
                                        <div class='input-group date' data-provide="datepicker-inline">
                                            <input type='text' class="form-control" id="ApplyEndDate" name="ApplyEndDate" value="@((Model.condition.ApplyEndDate != null) ? Model.condition.ApplyEndDate.Value.ToString("yyyy/MM/dd") : "")"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">年租率</label>
                                    <div class="col-sm-4"><input type="text" class="form-control" value="@Model.condition.RateStart" id="RateStart" name="RateStart" /></div>
                                    <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                    <div class="col-sm-4"><input type="text" class="form-control" value="@Model.condition.RateEnd" id="RateEnd" name="RateEnd" /> %</div>
                                </div>

                                <div class="col-sm-6 form-group gutter-s">
                                    <label for="" class="col-sm-3 control-label">管轄單位</label>
                                    @OfficerBranchControl.GenOfficerBranchControl("OfficeBranch", "OfficeBranch", (Model != null && !string.IsNullOrEmpty(Model.condition.OfficeBranch)) ? Model.condition.OfficeBranch : "", false)
                                </div>

                                <div class="clearfix"></div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">帳號(關鍵字)</label>
                                    <div class="col-sm-6"><input type="text" class="form-control" id="Account" name="Account" value="@Model.condition.Account" /></div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">備註(關鍵字)</label>
                                    <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                                </div>

                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="" class="pull-right">
                                        <button type="reset" class="btn btn-danger" onclick="resetQuery();"><i class="fa fa-remove">清除</i></button>
                                        <button type="button" class="btn btn-primary"><i class="fa fa-search" onclick="ImportQuery();">搜尋</i></button>
                                    </label>
                                </div>
                            </div>
                            <div class="ibox-c-subtitle">
                                <div class=" checkbox-list">
                                    <label><span class="text-success">【步驟二】</span>請勾選搜尋結果&nbsp;&nbsp;</label>
                                    <input type="radio" name="RadioGroup1" value="" checked><span>分頁</span>
                                    <input type="radio" name="RadioGroup1" value=""><span>全部列出</span>
                                    <div style="clear:both"></div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>                                            
                                            <th>項次</th>
                                            <th>租約編號</th>
                                            <th>租約類型</th>
                                            <th>租約事務</th>
                                            <th>管轄單位</th>
                                            <th>帳號</th>
                                            <th>租賃期間</th>
                                            <th>備註</th>
                                            <th><input type="checkbox" id="ckAll" onclick="ChangeAllCheckBox();" />全選</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Items != null)
                                        {
                                            for (int i = 0; i < Model.Items.Count(); i++)
                                            {
                                                var item = Model.Items.ToList()[i];
                                            <tr>                                               
                                                <td>@(i + 1)</td>
                                                <td>@item.LEASE_NUMBER</td>
                                                <td>@item.LEASE_TYPE</td>
                                                <td>@item.LEASE_TRANSACTION_TYPE</td>
                                                <td>@item.OfficeBranchName</td>
                                                <td>@item.ACCOUNT_NUMBER</td>
                                                <td>
                                                    @if (item.LEASE_INCEPTION_DATE != null)
                                                    {
                                                        <text>
                                                            @item.LEASE_INCEPTION_DATE.Value.ToString("yyyy/MM/dd")
                                                        </text>

                                                    }
                                                    @if (item.LEASE_TERMINATION_DATE != null)
                                                    {
                                                        <text>
                                                            ~   @item.LEASE_TERMINATION_DATE.Value.ToString("yyyy/MM/dd")
                                                        </text>

                                                    }
                                                </td>
                                                <td>@item.DESCRIPTION</td>
                                                <td><input type="checkbox" value="@item.ID" id="@("import" + (i + 1))" /></td>
                                            </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <a id="page">
                                    <div id="page_region"></div>
                                </a>
                            </div>

                            <div class="ibox-c-subtitle"></div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <div class="col-sm-3"><label><span class="text-success">【步驟三】</span></label></div>
                                    <div class="col-sm-9" style="text-align:right">                                        
                                        <a href="@Url.Action("Edit", new { id = Header.TRX_Header_ID})" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>                                         
                                        <a onclick="Save()" class="btn btn-success" data-dismiss="modal"><i class="fa fa-check"> 導入勾選資料 </i></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        (function ($) {
            var page = new $.PageTemplate({
                el: "#page_region",
                data: {
                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.TotalAmount,//資料庫總筆數
                    page_size: @Model.condition.PageSize,//單頁筆數
                    page_now: @Model.condition.Page,//當前頁
                    center_page: @Model.condition.Page,//置中頁,通常會將當前頁置中
                    pages: [],//通常為空,
                    action: "@Url.Action("UpdateSearchPage")"
                }
            });
            $('[data-toggle="tooltip"]').tooltip();

        })(jQuery);

    </script>
}