﻿@using Library.Servant.Repository.Integration
@using InspiniaWebAdminTemplate.Models.Integration;
@model ContactDetailViewModel
@{
    if (Convert.ToBoolean(ViewBag.SignMode))
    {
        Layout = "~/Views/Shared/_EmptyLayout.cshtml";
        TempData["SignMode"] = true;
    }

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string ReturnController = controllerName;
    if (controllerName == "IntegrationSearch")
    {
        controllerName = IntegrationGerneral.GetController(Model.Transaction_Type);
    }
    string functionName = IntegrationGerneral.GetFunctionTitle(controllerName);
    var Action = ViewContext.RouteData.GetRequiredString("action");
    ViewBag.Title = (Action == "NewContract") ? "新增租約" : "編輯租約";

    TempData["FunctionFrom"] = ViewBag.Title;

    //是否可以編輯
    bool CanEdit = Model == null || Model.canEdit;
}
<script>
    var rent = [];
    var manage = [];
    var parking = [];
    var land = [];
    var payment = [];
    var build = [];
    var margin = [];
    var note = [];
    var fire_insurance = [];
    var public_insurance = [];
     $(function () {
        @if (!CanEdit)
        {
            <text>
            //讓所有表單物件readonly
            $("#form input").prop("disabled", true).prop("readonly", true);
            $("#form select").prop("disabled", true).prop("readonly", true);
            </text>
        }
        @if (Action == "NewContract" || Model.isNew) {
            <text>
            getLeaseNumber();
            </text>
        }
         document.getElementById("LEASE_CATEGORY").onchange = function () {
             getLeaseNumber();
         };

         document.getElementById("LAND_CITY_NAME").onchange = function () {             
             GetDistrict($(this).val(), "LAND_DISTRICT_NAME", "");
         };
         document.getElementById("PARKING_CITY_NAME").onchange = function () {
             GetDistrict($(this).val(), "PARKING_DISTRICT_NAME");
         };
         document.getElementById("BUILD_CITY_NAME").onchange = function () {
             GetDistrict($(this).val(), "BUILD_DISTRICT_NAME");
         };
     });

    function getLeaseNumber() {
        var type = document.getElementById("LEASE_CATEGORY").value;
        if (type == '') {
            type = 'A';
        }
        $.ajax({
            url: '@Url.Action("GetLeaseNumber", "IntegrationAdded")',
            data: 'type=' + type,
            type: 'post',
            success: function (data) {
                document.getElementById("LEASE_NUMBER").value = data;
                document.getElementById("LEASE_NUMBER_VALUE").value = data;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }

        });
    }

    function GetDistrict(City, Obj, DefaultValue) {       
        $.ajax({
            url: G_GetDistrictList,
            data: 'CITY_NAME=' + City,
            type: 'post',
            success: function (data) {                
                //先清
                $("#" + Obj + " option").remove();

                $.each(data, function (index, value) {
                    $("#" + Obj).append($("<option></option>").attr("value", value.Value).html(value.Value + value.Text));
                });

                if (DefaultValue != '') {
                    $("#" + Obj).val(DefaultValue);
                }

                $("#" + Obj).change();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    function onSave() {
        var datas = 'parking=' + JSON.stringify(parking) + '&land=' + JSON.stringify(land) + '&build=' + JSON.stringify(build)
        + '&rent=' + JSON.stringify(rent) + '&manage=' + JSON.stringify(manage) + '&payment=' + JSON.stringify(payment)
        + '&margin=' + JSON.stringify(margin) + '&note=' + JSON.stringify(note) + '&fire=' + JSON.stringify(fire_insurance) + '&public_insurance=' + JSON.stringify(public_insurance);
        $.ajax({
            url: '@Url.Action("editContractDetail", "IntegrationAdded")',
            data: datas,
            type: 'post',
            success: function (data) {
                if (data) {
                    $('#form').attr('action', '@Url.Action("HandleContractHeader")');
                    $('#form').submit();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }

        });
       
    }

    function onCopyData(type, idx) {        
        document.getElementById("copyIdx").value = idx;
        document.getElementById("copyType").value = type;
        $("#modal-form-copydata").modal('show');
    } 
    
    function goCopyData() {       
        if (document.getElementById("copyType").value == "1") {
            copyBuildData();
        } else if (document.getElementById("copyType").value == "2") {
            copyParkingData();
        }        
    }
</script>
@if (!Convert.ToBoolean(ViewBag.SignMode))
{
    <text>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-10">
                <h2 id="FunTitle">@ViewBag.Title</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="@Url.Action("Index", "Home")">首頁</a>
                    </li>
                    <li>
                        <a href="#">租賃整合管理</a>
                    </li>
                    <li>
                        <a href="#">@(functionName + "作業")</a>
                    </li>
                    <li>
                        <a href="#">新增/編輯單據</a>
                    </li>
                    <li>
                        <a href="#">@ViewBag.Title</a>
                    </li>
                </ol>
            </div>
        </div>
    </text>
}
<form id="form" enctype="multipart/form-data" method="post" class="form-horizontal">    
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row" style="margin-bottom:50px">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>@ViewBag.Title</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="row" style="margin-bottom:50px">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約編號</label>
                                <div class="col-sm-6">
                                <input type="hidden" id="LEASE_NUMBER" name="LEASE_NUMBER" value="@((Model != null && Model.Contract.LEASE_NUMBER != null) ? Model.Contract.LEASE_NUMBER : "")"/>
                                <input type="text" id="LEASE_NUMBER_VALUE" name="LEASE_NUMBER_VALUE" class="form-control" value="@((Model != null && Model.Contract.LEASE_NUMBER != null) ? Model.Contract.LEASE_NUMBER : "")" disabled /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">原租約編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" name="OLD_LEASE_NUMBER" value="@((Model != null && Model.Contract.OLD_LEASE_NUMBER != null) ? Model.Contract.OLD_LEASE_NUMBER : Model.OldNumber.ToString())" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約類別</label>
                                <div class="col-sm-6">                                    
                                    <select class="form-control" name="type" disabled>
                                        <option value="承租">承租</option>
                                    </select>         
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span>租約事務</label>
                                <div class="col-sm-6">
                                    @DropDownControl.GenDropDownControl("LEASE_TRANSACTION_TYPE", "LEASE_TRANSACTION_TYPE", "LEASE_TRAN_TYPE", (Model != null && !string.IsNullOrEmpty(Model.Contract.LEASE_TRANSACTION_TYPE)) ? Model.Contract.LEASE_TRANSACTION_TYPE : "", false, "T")
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 租約類型</label>
                                <div class="col-sm-6">
                                    @DropDownControl.GenDropDownControl("LEASE_TYPE", "LEASE_TYPE", "LEASE_TYPE", (Model != null && !string.IsNullOrEmpty(Model.Contract.LEASE_TYPE)) ? Model.Contract.LEASE_TYPE : "", false, "T")
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span>業務別</label>
                                <div class="col-sm-6">
                                    @DropDownControl.GenDropDownControl("BUSINESS_TYPE", "BUSINESS_TYPE", "BUSINESS_TYPE", (Model != null && !string.IsNullOrEmpty(Model.Contract.BUSINESS_TYPE)) ? Model.Contract.BUSINESS_TYPE : "", false, "T")
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span>租約狀態</label>
                                <div class="col-sm-6">
                                    @DropDownControl.GenDropDownControl("LEASE_STATUS", "LEASE_STATUS", "LEASE_STATUS", (Model != null && !string.IsNullOrEmpty(Model.Contract.LEASE_STATUS)) ? Model.Contract.LEASE_STATUS : "", false, "T")
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span>類別</label>
                                <div class="col-sm-6">
                                    @{
                                        string selectedvalue = (Model != null && !string.IsNullOrEmpty(Model.Contract.LEASE_CATEGORY)) ? Model.Contract.LEASE_CATEGORY : "A";
                                        <text>
                                            @DropDownControl.GenDropDownControl("LEASE_CATEGORY", "LEASE_CATEGORY", "LEASE_CATEGORY", selectedvalue, (Action != "NewContract" && !Model.isNew), "")
                                        </text>
                                    }
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">核准日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" disabled value="@((Model != null && Model.Contract.ACCEPT_DATE != null) ? Model.Contract.ACCEPT_DATE.Value.ToString("yyyy/MM/dd") : "")" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span>租賃期間</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="LEASE_INCEPTION_DATE" value="@((Model != null && Model.Contract.LEASE_INCEPTION_DATE != null) ? Model.Contract.LEASE_INCEPTION_DATE.Value.ToString("yyyy/MM/dd") : "")" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="LEASE_TERMINATION_DATE" value="@((Model != null && Model.Contract.LEASE_TERMINATION_DATE != null) ? Model.Contract.LEASE_TERMINATION_DATE.Value.ToString("yyyy/MM/dd") : "")" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳號</label>
                                <div class="col-sm-6"><input type="text" name="ACCOUNT_NUMBER" class="form-control" value="@((Model != null && Model.Contract.ACCOUNT_NUMBER != null) ? Model.Contract.ACCOUNT_NUMBER : "")" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">年租率</label>
                                <div class="col-sm-4"><input type="text" name="LEASE_RATE" class="form-control" value="@((Model != null && Model.Contract.LEASE_RATE != null) ? Model.Contract.LEASE_RATE.Value.ToString() : "")" /> </div>
                                <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>%</span></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span>管轄單位</label>
                                @OfficerBranchControl.GenOfficerBranchControl("OFFICER_BRANCH", "OFFICER_BRANCH", (Model != null && !string.IsNullOrEmpty(Model.Contract.OFFICER_BRANCH)) ? Model.Contract.OFFICER_BRANCH : "", false)
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">地區</label>
                                <div class="col-sm-6 checkbox-list">
                                    @{
                                        string areaSelected = (Model != null && !string.IsNullOrEmpty(Model.Contract.LEASE_AREA)) ? Model.Contract.LEASE_AREA : "國內";
                                        <text>
                                            <input type="radio" name="LEASE_AREA" value="國內" @((areaSelected == "國內") ? "checked" : "")><span>國內</span>
                                            <input type="radio" name="LEASE_AREA" value="國外" @((areaSelected == "國外") ? "checked" : "")><span>國外</span>
                                        </text>
                                    }
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">備註</label>
                                <div class="col-sm-9"><input type="text" name="DESCRIPTION" class="form-control" value="@((Model != null && Model.Contract.DESCRIPTION!=null)?Model.Contract.DESCRIPTION : "")" /></div>
                            </div>

                        </div>

                        <div class="table-responsive">
                            @Html.Partial("~/Views/Integration/Contract/Rent.cshtml")
                        </div>

                        <div class="table-responsive">
                            @Html.Partial("~/Views/Integration/Contract/ManageExpense.cshtml")
                        </div>

                        <div class="table-responsive">
                            @Html.Partial("~/Views/Integration/Contract/PaymentAccount.cshtml")                            
                        </div>

                        <div class="table-responsive">
                            @Html.Partial("~/Views/Integration/Contract/Margin.cshtml")
                        </div>
                        <div class="table-responsive">
                          @Html.Partial("~/Views/Integration/Contract/Build.cshtml")
                        </div>

                        <div class="table-responsive">                            
                            @Html.Partial("~/Views/Integration/Contract/Land.cshtml")
                        </div>

                        <div class="table-responsive">
                          @Html.Partial("~/Views/Integration/Contract/Parking.cshtml")
                        </div>

                        <div class="table-responsive">
                            @Html.Partial("~/Views/Integration/Contract/FireInsurance.cshtml")
                        </div>


                        <div class="table-responsive">
                            @Html.Partial("~/Views/Integration/Contract/PublicInsurance.cshtml")
                        </div>


                        <div class="table-responsive">
                            @Html.Partial("~/Views/Integration/Contract/Note.cshtml")
                        </div>

                        <div class="col-sm-12 form-group" style="margin-top:40px;padding-left:3px">
                            <label for="" class="col-sm-1 control-label" style="width:13%;text-align:left">上傳檔案</label>
                            <div class="col-sm-4">
                                <input id="uploadFile2" placeholder="" class="form-control " style="width:75%;float:left" />
                                <div class="fileUpload btn btn-gray" style="border-radius: 0 3px 3px 0; float:left">
                                    <span><i class="fa fa-search"> 瀏 覽 </i></span>
                                    <input id="uploadBtn2" type="file" class="upload" />
                                </div>
                                <div style="margin-top:36px;font-size:0.85em;color:#999">

                                    <span style="padding:5px 0 0 10px;float:left"> <i class="fa fa-warning" style="padding:3px 5px 0 0px;float:left"></i>建議上傳 PDF 檔案格式 </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 form-group" style="padding-left:3px">
                            <label for="" class="col-sm-1 control-label" style="width:13%;text-align:left">已上傳檔案列表</label>
                            <div class="col-sm-5">
                                <table width="100%">
                                    <tr>
                                        <td style="text-align:left">20170911_合約.pdf</td>
                                        <td width="40px" style="margin-left:10px"><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row bottom_ctlbar">
        <div class="col-sm-12 form-group">
            <div class="col-sm-3"><span>【步驟三】</span></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-8">
                <a href="#" class="btn btn-primary" data-toggle="modal" onclick="onSave()"><i class="fa fa-save"> 儲 存 </i></a>
                <a href="@Url.Action("Edit", new { id = Model.TRX_Header_ID})" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
            </div>
        </div>
    </div>
</form>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal" onclick="history.back()"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-splitdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定提交嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-copydata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="ibox-c-subtitle" style="margin-top: 0px">
                        複製數量
                        <a data-dismiss="modal" style="float: right"><i class="fa fa-close text-gray"></i></a>
                    </div>
                    <div>
                        <div class="checkbox-list text-lineH-fix"><span>一次複製</span>
                        <input type="hidden" id="copyIdx" />
                        <input type="hidden" id="copyType" />
                        <input type="text" class="form-control" id="copyCount" style="width: 50%"><span>筆</span></div>
                        <div class="clearfix"></div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                    <button class="btn btn-primary" onclick="goCopyData()" data-dismiss="modal"><i class="fa fa-check"> 開始複製 </i></button>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Lightbox-->
<div id="modal-form-importdata-1" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-body" style="z-index:9990 !important">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input type="hidden" id="RentEditType"/>
                            <label for="" class="col-sm-3 control-label"><span style="color:red">*</span>租賃期間</label>
                            <div class="col-sm-4">
                                <div class='input-group date' data-provide="datepicker-inline">
                                    <input type='text' class="form-control" id="RENT_START_DATE"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                            <div class="col-sm-4">
                                <div class='input-group date' data-provide="datepicker-inline">
                                    <input type='text' class="form-control" id="RENT_END_DATE"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">租金計算</label>
                            <div class="col-sm-6 checkbox-list">
                                <input type="radio" name="RENT_CALCULATE_METHOD" value="固定" checked><span>固定</span>
                                <input type="radio" name="RENT_CALCULATE_METHOD" value="每年依物價指數調整"><span>每年依物價指數調整</span>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">繳款週期</label>
                            <div class="col-sm-6 checkbox-list">
                                <input type="radio" name="RENT_PAYMENT_PERIOD" value="每月"><span>每月</span>
                                <input type="radio" name="RENT_PAYMENT_PERIOD" value="每季"><span>每季</span>
                                <input type="radio" name="RENT_PAYMENT_PERIOD" value="每半年"><span>每半年</span>
                                <input type="radio" name="RENT_PAYMENT_PERIOD" value="每年" checked><span>每年</span>
                            </div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">繳款期限</label>
                            <div class="col-sm-6 checkbox-list ">
                                <input type="radio" name="radiogroup5" checked><span>固定</span>
                                <input type="text" class="form-control" id="RENT_DUE_DAY" value="" style="width:15%;margin-top:-6px" /><span>日</span>
                            </div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">上期繳款日</label>
                            <div class="col-sm-6"><input type="text" id="RENT_LAST_PAYMENT" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">預計下期繳款日</label>
                            <div class="col-sm-6"><input type="text" id="RENT_NEXT_PAYMENT" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">租金修改生效日期</label>
                            <div class="col-sm-6">
                                <div class='input-group date' data-provide="datepicker-inline">
                                    <input type='text' class="form-control" id="RENT_EFFECTIVE_DATE"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">每期租金</label>
                            <div class="col-sm-5"><input type="text" id="RENT_PRICE" class="form-control" value="0" /> </div>
                            <div class="col-sm-1 text-lineH-fix" style="padding:0"><span>元</span></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">幣別</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="RENT_CURRENCY">
                                    <option value="USD"><span>USD</span></option>
                                    <option value="HKD"><span>HKD</span></option>
                                    <option value="SGD"><span>SGD</span></option>
                                    <option value="CNY"><span>CNY</span></option>
                                    <option value="VND"><span>VND</span></option>
                                    <option value="NTD" selected><span>NTD</span></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">匯率</label>
                            <div class="col-sm-6"><input type="text" class="form-control" id="RENT_CURRENCY_VALUE" value="1" /></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">備註</label>
                            <div class="col-sm-6"><input type="text" class="form-control" id="RENT_DESCRIPTION" value="" /></div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" data-dismiss="modal" onclick="addRent()"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata-2" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-body" style="z-index:9990 !important">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input type="hidden" id="ManageEditType" />
                            <label for="" class="col-sm-3 control-label"><span style="color:red">*</span>租賃期間</label>
                            <div class="col-sm-4">
                                <div class='input-group date' data-provide="datepicker-inline">
                                    <input type='text' class="form-control" id="MANAGE_START_DATE" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                            <div class="col-sm-4">
                                <div class='input-group date' data-provide="datepicker-inline">
                                    <input type='text' class="form-control" id="MANAGE_END_DATE" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">租金計算</label>
                            <div class="col-sm-6 checkbox-list">
                                <input type="radio" name="MANAGE_CALCULATE_METHOD" value="固定" checked><span>固定</span>
                                <input type="radio" name="MANAGE_CALCULATE_METHOD" value="每年依物價指數調整"><span>每年依物價指數調整</span>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">繳款週期</label>
                            <div class="col-sm-6 checkbox-list">
                                <input type="radio" name="MANAGE_PAYMENT_PERIOD" value="每月"><span>每月</span>
                                <input type="radio" name="MANAGE_PAYMENT_PERIOD" value="每季"><span>每季</span>
                                <input type="radio" name="MANAGE_PAYMENT_PERIOD" value="每半年"><span>每半年</span>
                                <input type="radio" name="MANAGE_PAYMENT_PERIOD" value="每年" checked><span>每年</span>
                            </div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">繳款期限</label>
                            <div class="col-sm-6 checkbox-list ">
                                <input type="radio" name="radiogroup5" checked><span>固定</span>
                                <input type="text" class="form-control" id="MANAGE_DUE_DAY" value="" style="width:15%;margin-top:-6px" /><span>日</span>
                            </div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">上期繳款日</label>
                            <div class="col-sm-6"><input type="text" id="MANAGE_LAST_PAYMENT" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">預計下期繳款日</label>
                            <div class="col-sm-6"><input type="text" id="MANAGE_NEXT_PAYMENT" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">租金修改生效日期</label>
                            <div class="col-sm-6">
                                <div class='input-group date' data-provide="datepicker-inline">
                                    <input type='text' class="form-control" id="MANAGE_EFFECTIVE_DATE" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">每期租金</label>
                            <div class="col-sm-5"><input type="text" id="MANAGE_PRICE" class="form-control" value="0" /> </div>
                            <div class="col-sm-1 text-lineH-fix" style="padding:0"><span>元</span></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">幣別</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="MANAGE_CURRENCY">
                                    <option value="USD"><span>USD</span></option>
                                    <option value="HKD"><span>HKD</span></option>
                                    <option value="SGD"><span>SGD</span></option>
                                    <option value="CNY"><span>CNY</span></option>
                                    <option value="VND"><span>VND</span></option>
                                    <option value="NTD" selected><span>NTD</span></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">匯率</label>
                            <div class="col-sm-6"><input type="text" class="form-control" id="MANAGE_CURRENCY_VALUE" value="1" /></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">備註</label>
                            <div class="col-sm-6"><input type="text" class="form-control" id="MANAGE_DESCRIPTION" value="" /></div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" data-dismiss="modal" onclick="addManage()"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata-3" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body" style="z-index:9990 !important">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input type="hidden" id="PaymentEditType" />
                            <label for="" class="col-sm-3 control-label">扣款銀行</label>
                            <div class="col-sm-6"><input type="text" class="form-control" id="PAYMENT_BANK" value="" /></div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">扣款帳號</label>
                            <div class="col-sm-6"><input type="text" class="form-control" id="PAYMENT_ACCOUNT" value="" /></div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">戶名</label>
                            <div class="col-sm-6"><input type="text" class="form-control" id="PAYMENT_ACCOUNT_NAME" value="" /></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">繳款方式</label>
                            <div class="col-sm-6 checkbox-list">
                                <input type="radio" name="PAYMENT_METHOD" value="委託代繳" checked><span>委託代繳</span>
                                <input type="radio" name="PAYMENT_METHOD" value="現金"><span>現金</span>
                                <input type="radio" name="PAYMENT_METHOD" value="支票"><span>支票</span>

                            </div>
                        </div>

                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label">備註</label>
                            <div class="col-sm-9"><input type="text" class="form-control" id="PAYMENT_DESCRIPTION" value="" /></div>
                        </div>

                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" onclick="addPaymentAccount()" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata-4" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-body" style="z-index:9990 !important">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <input type="hidden" id="MarginEditType" />
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">保證金收款日期</label>
                            <div class="col-sm-6"><input type="text" id="MARGIN_RECEIVED_DATE" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">保證金退還日期</label>
                            <div class="col-sm-6"><input type="text" id="MARGIN_RETURN_DATE" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">保證銀行及字號</label>
                            <div class="col-sm-6"><input type="text" id="MARGIN_BANK" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">幣別</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="MARGIN_CURRENCY">
                                    <option value="USD"><span>USD</span></option>
                                    <option value="HKD"><span>HKD</span></option>
                                    <option value="SGD"><span>SGD</span></option>
                                    <option value="CNY"><span>CNY</span></option>
                                    <option value="VND"><span>VND</span></option>
                                    <option value="NTD" selected><span>NTD</span></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">保證金</label>
                            <div class="col-sm-6"><input type="text" class="form-control" id="MARGIN_PRICE" value="0" /></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">匯率</label>
                            <div class="col-sm-6"><input type="text" class="form-control" id="MARGIN_CURRENCY_VALUE" value="1" /></div>
                        </div>

                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" onclick="addMargint()" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata-7" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-body" style="z-index:9990 !important">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="clearfix"></div>
                        <div class="col-sm-12 form-group">
                            <input type="hidden" id="BuildEditType" />
                            <label for="" class="col-sm-1 control-label">縣市</label>
                            <div class="col-sm-2">                                
                                @CityDropDownControl.GenDropDownControl("BUILD_CITY_NAME", "BUILD_CITY_NAME", "")
                            </div>
                            <label for="" class="col-sm-1 control-label">鄉鎮市區</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="BUILD_DISTRICT_NAME">
                                    <option value="">請選擇鄉鎮市區</option>
                                </select>
                            </div>
                            <label for="" class="col-sm-1 control-label">段</label>
                            <div class="col-sm-2"><input type="text" id="BUILD_SECTION_NAME" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">小段</label>
                            <div class="col-sm-2"><input type="text" id="BUILD_SUBSECTION_NAME" class="form-control" value="" /></div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">地址</label>
                            <div class="col-sm-8"><input type="text" id="BUILD_ADDRESS" class="form-control" value="" /></div>
                        </div>



                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label"><span style="color:red">*</span>營業用途</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="BUILD_BUSINESS_USE_TYPE">
                                    <option value="" class="gray-bg" disabled style="color:inherit">A類-公共集會類</option>
                                    <option value="A1" style="text-indent:2em">A1</option>
                                    <option value="A2" style="text-indent:2em">A2</option>
                                    <option value="" class="gray-bg" disabled style="color:inherit">B類-商業類</option>
                                    <option value="B1" style="text-indent:2em">B1</option>
                                    <option value="B2" style="text-indent:2em">B2</option>
                                    <option value="B3" style="text-indent:2em">B3</option>
                                    <option value="B4" style="text-indent:2em">B4</option>
                                    <option value="" class="gray-bg" disabled style="color:inherit">C類-工業倉儲類</option>
                                    <option value="C1" style="text-indent:2em">C1</option>
                                    <option value="C2" style="text-indent:2em">C2</option>
                                    <option value="" class="gray-bg" disabled style="color:inherit">D類-休閒,文教類</option>
                                    <option value="D1" style="text-indent:2em">D1</option>
                                    <option value="D2" style="text-indent:2em">D2</option>
                                    <option value="D3" style="text-indent:2em">D3</option>
                                    <option value="D4" style="text-indent:2em">D4</option>
                                    <option value="D5" style="text-indent:2em">D5</option>
                                    <option value="" class="gray-bg" disabled style="color:inherit">E類-宗教類</option>
                                    <option value="E" style="text-indent:2em">E</option>
                                    <option value="" class="gray-bg" disabled style="color:inherit">F類-衛生,福利,更生類</option>
                                    <option value="F1" style="text-indent:2em">F1</option>
                                    <option value="F2" style="text-indent:2em">F2</option>
                                    <option value="F3" style="text-indent:2em">F3</option>
                                    <option value="F4" style="text-indent:2em">F4</option>
                                    <option value="" class="gray-bg" disabled style="color:inherit">G類-辦公,服務類</option>
                                    <option value="G1" style="text-indent:2em">G1</option>
                                    <option value="G2" style="text-indent:2em">G2</option>
                                    <option value="G3" style="text-indent:2em">G3</option>
                                    <option value="" class="gray-bg" disabled style="color:inherit">H類-住宿類</option>
                                    <option value="H1" style="text-indent:2em">H1</option>
                                    <option value="H2" style="text-indent:2em">H2</option>
                                    <option value="" class="gray-bg" disabled style="color:inherit">I類-危險物品類</option>
                                    <option value="I" style="text-indent:2em">I</option>                                    
                                </select>
                            </div>
                            <div class="col-sm-3 text-lineH-fix "><a href="download\building_category.pdf">營業用途範例</a></div>
                        </div>


                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">權利面積</label>
                            <div class="col-sm-2"><input type="number" id="BUILD_RIGHT_AREA" class="form-control" value="0" /></div>
                            <label for="" class="col-sm-1 control-label"><span style="color:red">*</span>承租面積</label>
                            <div class="col-sm-2"><input type="number" id="BUILD_LEASES_AREA" class="form-control" value="0" /></div>
                            <label for="" class="col-sm-1 control-label"><span style="color:red">*</span>樓層</label>
                            <div class="col-sm-2"><input type="number" id="BUILD_FLOOR" class="form-control" value="1" /></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">分攤公設面積</label>
                            <div class="col-sm-2"><input type="number" id="BUILD_SHARE_PUBLIC_AREA" class="form-control" value="0" /></div>
                            <label for="" class="col-sm-1 control-label">附屬建物</label>
                            <div class="col-sm-2"><input type="text" id="BUILD_ATTACHED_BUILD" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">屋突</label>
                            <div class="col-sm-2"><input type="text" id="BUILD_HOUSE_ARCADE" class="form-control" value="" /></div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">夾層</label>
                            <div class="col-sm-2"><input type="text" id="BUILD_CONVEX" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">騎樓</label>
                            <div class="col-sm-2"><input type="text" id="BUILD_ARCADE" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">共同部分</label>
                            <div class="col-sm-2"><input type="text" id="BUILD_COMMON_PART" class="form-control" value="" /></div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">備註</label>
                            <div class="col-sm-8"><input type="text" id="BUILD_DESCRIPTION" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">上傳檔案</label>
                            <div class="col-sm-4">
                                <input id="uploadFile1" placeholder="" class="form-control " style="width:75%;float:left" />
                                <div class="fileUpload btn btn-gray" style="border-radius: 0 3px 3px 0; float:left">
                                    <span><i class="fa fa-search"> 瀏 覽 </i></span>
                                    <input id="uploadBtn1" type="file" class="upload" />
                                </div>
                                <div style="margin-top:36px;font-size:0.85em;color:#999">
                                    <i class="fa fa-warning" style="padding:10px 0 0 0px;float:left"></i>
                                    <span style="padding:5px 0 0 10px;float:left">建議上傳 PDF 檔案格式</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">已上傳檔案列表</label>
                            <div class="col-sm-5">
                                <table width="100%">
                                    <tr>
                                        <td style="text-align:left">20170909_使用執照_100府授都建使字第02468號.pdf</td>
                                        <td width="40px" style="margin-left:10px"><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" onclick="addBuild()" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata-8" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-body" style="z-index:9990 !important">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯土地
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <input type="hidden" id="LandEditType" />
                            <label for="" class="col-sm-1 control-label">縣市</label>
                            <div class="col-sm-2">
                                @CityDropDownControl.GenDropDownControl("LAND_CITY_NAME", "LAND_CITY_NAME", "")                             
                            </div>
                            <label for="" class="col-sm-1 control-label">鄉鎮市區</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="LAND_DISTRICT_NAME">
                                    <option value="">請選擇鄉鎮市區</option>
                                </select>
                            </div>
                            <label for="" class="col-sm-1 control-label">段</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" id="LAND_SECTION_NAME"/></div>
                            <label for="" class="col-sm-1 control-label">小段</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" id="LAND_SUBSECTION_NAME" /></div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">母地號</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" id="PARENT_LAND_NUMBER" /></div>
                            <label for="" class="col-sm-1 control-label">子地號</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" id="FILIAL_LAND_NUMBER"/></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label"><span style="color:red">*</span>使用分區</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="LAND_USE_TYPE">
                                    <option value=""></option>
                                    <option value="住宅區" class="gray-bg" disabled style="color:inherit">住宅區</option>
                                    <option value="第一種住宅區" style="text-indent:2em">第一種住宅區</option>
                                    <option value="第二種住宅區" style="text-indent:2em">第二種住宅區</option>
                                    <option value="第二之一種住宅區" style="text-indent:2em">第二之一種住宅區</option>
                                    <option value="第二之二種住宅區" style="text-indent:2em">第二之二種住宅區</option>
                                    <option value="第三種住宅區" style="text-indent:2em">第三種住宅區</option>
                                    <option value="第三之一種住宅區" style="text-indent:2em">第三之一種住宅區</option>
                                    <option value="第三之二種住宅區" style="text-indent:2em">第三之二種住宅區</option>
                                    <option value="第四種住宅區" style="text-indent:2em">第四種住宅區</option>
                                    <option value="第四之一種住宅區" style="text-indent:2em">第四之一種住宅區</option>
                                    <option value="商業區" class="gray-bg" disabled style="color:inherit">商業區</option>
                                    <option value="第一種商業區" style="text-indent:2em">第一種商業區</option>
                                    <option value="第二種商業區" style="text-indent:2em">第二種商業區</option>
                                    <option value="第三種商業區" style="text-indent:2em">第三種商業區</option>
                                    <option value="第四種商業區" style="text-indent:2em">第四種商業區</option>
                                    <option value="工業區" class="gray-bg" disabled style="color:inherit">工業區</option>
                                    <option value="第一種工業區" style="text-indent:2em">第一種工業區</option>
                                    <option value="第二種工業區" style="text-indent:2em">第二種工業區</option>
                                    <option value="行政區">行政區</option>
                                    <option value="文教區">文教區</option>
                                    <option value="倉庫區">倉庫區</option>
                                    <option value="風景區">風景區</option>
                                    <option value="農業區">農業區</option>
                                    <option value="保護區">保護區</option>
                                    <option value="行水區">行水區</option>
                                    <option value="保存區">保存區</option>
                                    <option value="特定專用區">特定專用區</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">登記面積</label>
                            <div class="col-sm-5"><input type="text" class="form-control" value="0" id="AUTHORIZED_AREA" /></div>
                            <label for="" class="col-sm-1 control-label">公告地價</label>
                            <div class="col-sm-5"><input type="text" class="form-control" value="0" id="ANNOUNCE_PRICE" /></div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label"><span style="color:red">*</span>承租面積</label>
                            <div class="col-sm-5"><input type="text" class="form-control" value="0" id="LESSEE_AREA" /></div>
                            <label for="" class="col-sm-1 control-label">年租率%</label>
                            <div class="col-sm-4">
                                <input type="text" class="col-sm-4 form-control" value="" id="LEASE_RATE" />

                            </div>
                            <div class="col-sm-1"><a href="../RentInquire/E222_2.aspx" target="_blank" class="btn btn-primary"><i class="fa fa-search"> 試 算 </i></a></div>

                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">備註</label>
                            <div class="col-sm-8"><input type="text" class="form-control" value="" id="DESCRIPTION" /></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">上傳檔案</label>
                            <div class="col-sm-4">
                                <input id="uploadFile2" placeholder="" class="form-control " style="width:75%;float:left" />
                                <div class="fileUpload btn btn-gray" style="border-radius: 0 3px 3px 0; float:left">
                                    <span><i class="fa fa-search"> 瀏 覽 </i></span>
                                    <input id="uploadBtn2" type="file" class="upload" />
                                </div>
                                <div style="margin-top:36px;font-size:0.85em;color:#999">
                                    <i class="fa fa-warning" style="padding:10px 0 0 0px;float:left"></i>
                                    <span style="padding:5px 0 0 10px;float:left">建議上傳 PDF 檔案格式</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">已上傳檔案列表</label>
                            <div class="col-sm-5">
                                <table width="100%">
                                    <tr>
                                        <td style="text-align:left">20170909_土地登記第二類謄本_0143-0001.pdf</td>
                                        <td width="40px" style="margin-left:10px"><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" onclick="addLand()" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal_parking" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-body" style="z-index:9990 !important">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="clearfix"></div>
                        <div class="col-sm-12 form-group">
                            <input type="hidden" id="ParkingEditType" />
                            <label for="" class="col-sm-1 control-label">縣市</label>
                            <div class="col-sm-2">
                                @CityDropDownControl.GenDropDownControl("PARKING_CITY_NAME", "PARKING_CITY_NAME", "")                                                          
                            </div>
                            <label for="" class="col-sm-1 control-label">鄉鎮市區</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="PARKING_DISTRICT_NAME">
                                    <option value="">請選擇鄉鎮市區</option>
                                </select>
                            </div>
                            <label for="" class="col-sm-1 control-label">段</label>
                            <div class="col-sm-2"><input type="text" id="PARKING_SECTION_NAME" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">小段</label>
                            <div class="col-sm-2"><input type="text" id="PARKING_SUBSECTION_NAME" class="form-control" value="" /></div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">地址</label>
                            <div class="col-sm-5"><input type="text" class="form-control" id="PARKING_ADDRESS" value="" /></div>
                            <label for="" class="col-sm-1 control-label">類別</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="PARKING_USE_TYPE">
                                    <option value="坡道平面">坡道平面</option>
                                    <option value="坡道機械">坡道機械</option>
                                    <option value="升降平面">升降平面</option>
                                    <option value="升降機械">升降機械</option>
                                    <option value="機械循環">機械循環</option>
                                </select>
                            </div>
                            <label for="" class="col-sm-1 control-label">樓層</label>
                            <div class="col-sm-2"><input type="text" id="PARKING_FLOOR" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label"><span style="color:red">*</span>車位編號</label>
                            <div class="col-sm-3"><input type="text" id="PARKING_NO" class="form-control" value="" /></div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">備註</label>
                            <div class="col-sm-8"><input type="text" id="PARKING_DESCRIPTION" class="form-control" value="" /></div>
                        </div>

                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" onclick="addParking()" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata-10" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body" style="z-index:9990 !important">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <input type="hidden" id="FireEditType" />
                            <label for="" class="col-sm-2 control-label">保險公司</label>
                            <div class="col-sm-4 checkbox-list">
                                <select class="form-control" id="FIRE_COMPANY">
                                    <option value="泰安產物保險股份有限公司">泰安產物保險股份有限公司</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">保單號碼</label>
                            <div class="col-sm-4"><input type="text" id="FIRE_INSURANCE_NO" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">保險公司聯絡人</label>
                            <div class="col-sm-4"><input type="text" id="FIRE_COMPANY_CONTACT" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">保險公司聯絡電話</label>
                            <div class="col-sm-4"><input type="text" id="FIRE_COMPANY_PHONE" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">投保人</label>
                            <div class="col-sm-4 checkbox-list">
                                <select class="form-control" id="FIRE_APPLICANT">
                                    <option value="臺灣土地銀行股份有限公司">臺灣土地銀行股份有限公司</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">被保險人</label>
                            <div class="col-sm-4 checkbox-list">
                                <select class="form-control" id="FIRE_INSURANT">
                                    <option value="臺灣土地銀行股份有限公司">臺灣土地銀行股份有限公司</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">保險期間</label>
                            <div class="col-sm-2">
                                <div class='input-group date' data-provide="datepicker-inline">
                                    <input type='text' class="form-control" id="FIRE_START_DATE"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                            <div class="col-sm-2">
                                <div class='input-group date' data-provide="datepicker-inline">
                                    <input type='text' class="form-control" id="FIRE_END_DATE" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">保險費</label>
                            <div class="col-sm-2"><input type="text" class="form-control" id="FIRE_PRICE" value="0" /> </div>
                            <div class="col-sm-1 text-lineH-fix" style="padding:0"><span>元</span></div>
                        </div>


                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">備註</label>
                            <div class="col-sm-4"><input type="text" id="FIRE_DESCRIPTION" class="form-control" value="" /></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">上傳保單合約</label>
                            <div class="col-sm-4">
                                <input id="uploadFile3" placeholder="" class="form-control " style="width:75%;float:left" />
                                <div class="fileUpload btn btn-gray" style="border-radius: 0 3px 3px 0; float:left">
                                    <span><i class="fa fa-search"> 瀏 覽 </i></span>
                                    <input id="uploadBtn3" type="file" class="upload" />
                                </div>
                                <div style="margin-top:36px;font-size:0.85em;color:#999">
                                    <i class="fa fa-warning" style="padding:10px 0 0 0px;float:left"></i>
                                    <span style="padding:5px 0 0 10px;float:left">建議上傳 PDF 檔案格式</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">已上傳檔案列表</label>
                            <div class="col-sm-5">
                                <table width="100%">
                                    <tr>
                                        <td style="text-align:left">20170909_商業火災綜合險.pdf</td>
                                        <td width="40px" style="margin-left:10px"><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" onclick="addFire()" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata-11" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body" style="z-index:9990 !important">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <input type="hidden" id="PublicEditType" />
                            <label for="" class="col-sm-2 control-label">保險公司</label>
                            <div class="col-sm-4 checkbox-list">
                                <select class="form-control" id="PUBLIC_COMPANY">
                                    <option value="泰安產物保險股份有限公司">泰安產物保險股份有限公司</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">保單號碼</label>
                            <div class="col-sm-4"><input type="text" id="PUBLIC_INSURANCE_NO" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">保險公司聯絡人</label>
                            <div class="col-sm-4"><input type="text" id="PUBLIC_COMPANY_CONTACT" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">保險公司聯絡電話</label>
                            <div class="col-sm-4"><input type="text" id="PUBLIC_COMPANY_PHONE" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">投保人</label>
                            <div class="col-sm-4 checkbox-list">
                                <select class="form-control" id="PUBLIC_APPLICANT">
                                    <option value="臺灣土地銀行股份有限公司">臺灣土地銀行股份有限公司</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">被保險人</label>
                            <div class="col-sm-4 checkbox-list">
                                <select class="form-control" id="PUBLIC_INSURANT">
                                    <option value="臺灣土地銀行股份有限公司">臺灣土地銀行股份有限公司</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">保險期間</label>
                            <div class="col-sm-2">
                                <div class='input-group date' data-provide="datepicker-inline">
                                    <input type='text' class="form-control" id="PUBLIC_START_DATE" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                            <div class="col-sm-2">
                                <div class='input-group date' data-provide="datepicker-inline">
                                    <input type='text' class="form-control" id="PUBLIC_END_DATE" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">保險費</label>
                            <div class="col-sm-2"><input type="text" class="form-control" id="PUBLIC_PRICE" value="0" /> </div>
                            <div class="col-sm-1 text-lineH-fix" style="padding:0"><span>元</span></div>
                        </div>


                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">備註</label>
                            <div class="col-sm-4"><input type="text" id="PUBLIC_DESCRIPTION" class="form-control" value="" /></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">上傳保單合約</label>
                            <div class="col-sm-4">
                                <input id="uploadFile3" placeholder="" class="form-control " style="width:75%;float:left" />
                                <div class="fileUpload btn btn-gray" style="border-radius: 0 3px 3px 0; float:left">
                                    <span><i class="fa fa-search"> 瀏 覽 </i></span>
                                    <input id="uploadBtn4" type="file" class="upload" />
                                </div>
                                <div style="margin-top:36px;font-size:0.85em;color:#999">
                                    <i class="fa fa-warning" style="padding:10px 0 0 0px;float:left"></i>
                                    <span style="padding:5px 0 0 10px;float:left">建議上傳 PDF 檔案格式</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">已上傳檔案列表</label>
                            <div class="col-sm-5">
                                <table width="100%">
                                    <tr>
                                        <td style="text-align:left">20170909_商業火災綜合險.pdf</td>
                                        <td width="40px" style="margin-left:10px"><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" onclick="addPublic()" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata-12" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body" style="z-index:9990 !important">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <input type="hidden" id="NoteEditType" />
                            <label for="" class="col-sm-2 control-label">項目</label>
                            <div class="col-sm-4 checkbox-list">
                                <select class="form-control" id="NOTE_TYPE">
                                    <option value="違約金">違約金</option>
                                    <option value="逾期金">逾期金</option>
                                    <option value="1F (每坪單價)">1F (每坪單價)</option>
                                    <option value="租金漲幅">租金漲幅</option>
                                    <option value="租金佔業務費用比率">租金佔業務費用比率</option>
                                    <option value="營業租賃">營業租賃</option>
                                    <option value="分辦融資租賃">分辦融資租賃</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">計算期間</label>
                            <div class="col-sm-2">
                                <div class='input-group date' data-provide="datepicker-inline">
                                    <input type='text' class="form-control" id="NOTE_CALC_START_DATE" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                            <div class="col-sm-2">
                                <div class='input-group date' data-provide="datepicker-inline">
                                    <input type='text' class="form-control" id="NOTE_CALC_END_DATE"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">金額 </label>
                            <div class="col-sm-2"><input type="text" id="NOTE_PRICE" class="form-control" value="0" /> </div>
                            <div class="col-sm-1 text-lineH-fix" style="padding:0"><span>元</span></div>
                        </div>


                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">計算方式</label>
                            <div class="col-sm-4"><input type="text" id="NOTE_CALCULATE_METHOD" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">繳納期間</label>
                            <div class="col-sm-4">
                                <div class='input-group date' data-provide="datepicker-inline">
                                    <input type='text' class="form-control" id="NOTE_PAYMENT_PERIOD"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-6 checkbox-list">
                                <input type="checkbox"><span>營業租賃</span>
                                <input type="checkbox" style="margin-left:20px"><span>分辦融資租賃</span>
                            </div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">備註</label>
                            <div class="col-sm-4"><input type="text" id="NOTE_DESCRIPTION" class="form-control" value="" /></div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" onclick="addNote()" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata-13" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body" style="z-index:9990 !important">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">財產編號</label>
                            <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label">土地坐落</label>
                            <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">出租面積</label>
                            <div class="col-sm-4"><input type="text" class="form-control" value="" /> </div>
                            <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>平方公尺</span></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">租金</label>
                            <div class="col-sm-4"><input type="text" class="form-control" value="" /> </div>
                            <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>元</span></div>
                        </div>

                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-deletedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定刪除嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
for (i=0; i<5; i++) {
document.getElementById("uploadBtn1").onchange = function () {
document.getElementById("uploadFile1").value = this.files[0].name;
};
}
document.getElementById("uploadBtn2").onchange = function () {
document.getElementById("uploadFile2").value = this.files[0].name;
};
document.getElementById("uploadBtn3").onchange = function () {
document.getElementById("uploadFile3").value = this.files[0].name;
};
document.getElementById("uploadBtn4").onchange = function () {
document.getElementById("uploadFile4").value = this.files[0].name;
};

</script>