﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>檢視單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.RouteUrl( new {controller = "Home" , Action="Index"})">首頁</a>
            </li>
            <li>
                <a href="@Url.RouteUrl( new {controller = "AssetsActivationSearch" , Action="Index"})">資產活化作業</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">分行活化規劃作業</a>
            </li>
            <li>
                <a >檢視單據</a>
            </li>
        </ol>
    </div>
</div>
<script src="/Scripts/plugins/blockui/jquery.blockUI.js"></script>
<script>
    var OrderID = '@ViewBag.ID';
    function UpdateOrder2(e)
    {
        $('#form').attr('action', '@Url.Action("UpdateOrder")');
        $('#form [name=SaveMode]')[0].value = e;
        if (top["tmpB"] != undefined)
        $('#form [name=DataB]')[0].value = top["tmpB"].toString();
        $('#form').submit();
    }
    function GetH(data,page) {
        var data = {};
        if (top["tmpB"] != undefined)
            data["ID"] = top["tmpB"];
        
        var con = JSON.stringify(data);
        $.ajax({
            url: "@Url.Action("EditH")",
            type: "post",
            async: true,
            data: "json=" + con + "&page="+page + "&AID=" + OrderID + "&V=1",
            success: function (data) {
                $("#SP").html(data);
            }
        })
    }
    function GetL() {
        $.ajax({
            url: "@Url.Action("EditL")",
            type: "post",
            async: true,
            success: function (data) {
                $("#SP").html(data);
            }
        })
    }
    </script>
<div class="wrapper wrapper-content animated fadeInRight">
    <form id="form" enctype="multipart/form-data" method="post" class="form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    
                    <div class="ibox-content">

                        <form method="post" action="" class="form-horizontal">

                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">單據類型</label>
                                    <div class="col-sm-6 text-lineH-fix text-black-re">活化規劃單</div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">來源類型</label>
                                    <div class="col-sm-6 text-lineH-fix text-black-re">@ViewBag.EdOrd.mh.Source_Type</div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">單據編號</label>
                                   
                                    <div class="col-sm-6 text-lineH-fix">@ViewBag.No</div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 帳本</label>
                                    <div class="col-sm-6 text-lineH-fix text-black-re">@ViewBag.EdOrd.mh.BOOK_TYPE_CODE</div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 單據處理日期</label>
                                    <div class="col-sm-6 text-lineH-fix text-black-re">@(Int32.Parse(ViewBag.EdOrd.DateY.ToString())-1911)-@ViewBag.EdOrd.DateM-@ViewBag.EdOrd.DateD</div>
                                </div>
                               @ViewBag.test
                                <div class="col-sm-6 form-group gutter-s">
                                    <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 管轄單位</label>
                                    <div class="col-sm-6 text-lineH-fix text-black-re">@ViewBag.EdOrd.mh.Jurisdiction1 / @ViewBag.EdOrd.mh.Jurisdiction2</div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 活化目標</label>
                                    <div class="col-sm-6 text-lineH-fix text-black-re">@ViewBag.EdOrd.mh.Activation_Target</div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">備註</label>
                                    <div class="col-sm-5"><input type="text" class="form-control" value="@ViewBag.EdOrd.mh.Remark" /> </div>
                                    <div class="col-sm-4"><a href="#" class="btn btn-primary"><i class="fa fa-save"> 儲 存 </i></a></div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">狀態</label>
                                    <div class="col-sm-6 text-lineH-fix text-primary-re">@ViewBag.State</div>
                                </div>
                                <input type="text" name="SaveMode" style="display:none" value="" />
                                <input type="text" name="DataL" style="display:none" value="" />
                                <input type="text" name="DataB" style="display:none" value="" />
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom:50px">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div>
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                  
                                    <td style="text-align: right">
                                        <div class="text-lineH-fix">
                                            <input type="radio" name="radiogroup1"  onclick="GetH()"checked><span id="BuildCount" style="margin-right:10px"> 房屋 (25)</span>
                                            <input type="radio" name="radiogroup1" onclick="GetL()"><span> 土地 (31)</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div id="SP">

                            </div>

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
       
        <div class="col-sm-11"></div>
        <div class="col-sm-1">
          
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
       
       
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" onclick="UpdateOrder(0);" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-splitdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定提交嗎？</h3>
                        <button class="btn btn-sm btn-primary" onclick="UpdateOrder(1);" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-deletedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定刪除嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("EditSelect")
<script>

    function check_all(obj, btag) {
        var checkboxs = $("[btag="+btag+"]");
        for (var i = 0; i < checkboxs.length; i++) { checkboxs[i].checked = obj.checked; }
    }
    
    function GetList1(page) {
        $('#SP').block({
            message: '<h1>正在查询，请稍候……</h1>',
            css: {
                border: '3px solid khaki'
            }
        });
        var data = {};
        data["ID"] = "";
        if (top["tmpB"] != undefined)
          data["ID"] = top["tmpB"] ;
       
        con = "json=" + JSON.stringify(data) + "&page=" + page + "&AID=" + OrderID;
        $.ajax({
            url: "@Url.Action("EditH")",
            type: "post",
        data: con,
        complete: function () { $('#SP').unblock(); },
        async: true,
        success: function (data) {
            $("#SP").html(data);
        }
    })
    }
    GetH();
</script>