﻿
@{
    Layout = null;
}
<!-- J202 lightbox -->
<div id="modal-form-importdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title" style="border:0">
                                <h5><span class="text-success">【步驟一】</span> 搜尋欲活化的資產</h5>
                                <div class="ibox-tools"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                            </div>
                            <div class="ibox-content">
                                <form method="post" action="" class="form-horizontal">
                                    <div class="row">
                                        <div class="col-sm-6 form-group gutter-s">
                                            <label for="" class="col-sm-3 control-label">管轄單位</label>
                                            <div class="col-sm-3">
                                                <select class="form-control" id="">
                                                    <option value="">001 總行</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <select class="form-control" id="">
                                                    <option value="">008 產權部</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <select class="form-control" id="">
                                                    <option value="">001 XX科</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                        <div class="col-sm-9 form-group gutter-s">
                                            <label for="" class="col-sm-2 control-label">資產分類</label>
                                            <div class="col-sm-3">
                                                <select class="form-control" id="LBS">
                                                    <option value="1">1 土地</option>
                                                    <option value="2">2 房屋建築</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <select class="form-control" id="">
                                                    <option value="">010202 營業用房屋基地</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <select class="form-control" id="">
                                                    <option value="">B 固定-自用</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label">資產編號</label>
                                            <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                            <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                            <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label">啟用日期</label>
                                            <div class="col-sm-4">
                                                <div class='input-group date' data-provide="datepicker-inline">
                                                    <input type='text' class="form-control" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                            <div class="col-sm-4">
                                                <div class='input-group date' data-provide="datepicker-inline">
                                                    <input type='text' class="form-control" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <div class="col-sm-6">
                                                <label for="" class="col-sm-6 control-label">縣市</label>
                                                <div class="col-sm-6">
                                                    <select class="form-control" id="">
                                                        <option value="">台北市</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-sm-5">
                                                <label for="" class="col-sm-6 control-label">鄉鎮市區</label>
                                                <div class="col-sm-6">
                                                    <select class="form-control" id="">
                                                        <option value="">大安區</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label">地段</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label">地號</label>
                                            <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                            <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                            <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label">地址</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label">摘要(關鍵字)</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                                        </div>


                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label for="" class="pull-right">
                                                <button type="reset" class="btn btn-gray"  ><i class="fa fa-close"> 清 除 </i></button>
                                                <button type="button" class="btn btn-primary" onclick="searc()"><i class="fa fa-search"> 搜 尋 </i></button>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="ibox-c-subtitle">
                                        <div class=" checkbox-list">
                                            <label><span class="text-success">【步驟二】</span>請勾選搜尋結果&nbsp;&nbsp;</label>
                                            <input type="radio" name="RadioGroup1" value="" onclick="subp()" checked><span>分頁</span>
                                            <input type="radio" name="RadioGroup1" value="" onclick="allp()" ><span>全部列出</span>
                                            <div style="clear:both"></div>
                                        </div>
                                    </div>
                                    <div class="table-responsive"  id="SelectList">
                                       
                                    </div>

                                    <div class="row" style="margin:0">
                                        <div class="col-sm-12 form-group">
                                            <div class="col-sm-3"><label><span class="text-success">【步驟三】</span></label></div>
                                            <div class="col-sm-9" style="text-align:right">
                                                <a href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-cloase"> 取 消 </i></a>
                                                <a href="#" class="btn btn-success" onclick="importLB()" data-dismiss="modal"><i class="fa fa-check"> 導入勾選資料 </i></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function subp()
    {
        if ($('#SelectList')[0].children.length == 0)
            return;
        GetList(1);
    }
    function allp() {
        if ($('#SelectList')[0].children.length == 0)
            return;
        GetList(1, 99999);
    }
    function searc()
    {
        if ($("[name=RadioGroup1]")[0].checked)
            GetList(1);
        else
            GetList(1, 99999);
    }
    function GetList(page, customsize) {
        var poststr = $("#LBS")[0].value == "2" ?
                        "@Url.Action("GetBuildList")":
        "@Url.Action("GetLandList")";

        $("#LBS")[0].value == "1" ? top["LBSelect"] = 1 : top["LBSelect"] = 2;
        $('.modal-body').block({
            message: '<h1>正在查询，请稍候……</h1>',
            css: {
                border: '3px solid khaki'
            }
        });
        var formdata = $("#modal-form-importdata").serializeArray();
        var data = {};
        data["test"] = 1;
        $(formdata).each(function (index, obj) {
            data[obj.name] = obj.value;
        });
        con = "json=" + JSON.stringify(data) + "&page=" + page + "&customsize=" + customsize;
        $.ajax({
            url: poststr,
            type: "post",
        data: con,
        complete: function () { $('.modal-body').unblock(); },
        async: true,
        success: function (data) {
            $("#SelectList").html(data);
        }
    })
    }
    function importLB()
    {
        if (top["LBSelect"]==2){
            var ty = [];
            if (top["tmpB"] != undefined)
                ty = top["tmpB"];
            for (var i = 0 ; i < $("input[btag=c]:checked").length ; i++) {
                ty.push($("input[btag=c]:checked")[i].attributes.cval.value);
            }
            if (ty.length == 0)
                ty.push("None");
            var ty = ty.filter((el, i, arr) => arr.indexOf(el) === i);
            var data = {};
            data["ID"] = ty;
            top["tmpB"] = ty;
            var con = JSON.stringify(data);
            GetH(con);
            $("#BuildR")[0].click();
        }
        else{
            var ty = [];
            if (top["tmpL"] != undefined)
                ty = top["tmpL"];
            for (var i = 0 ; i < $("input[btag=c]:checked").length ; i++) {
                ty.push($("input[btag=c]:checked")[i].attributes.cval.value);
            }
            if (ty.length == 0)
                ty.push("None");
            var ty = ty.filter((el, i, arr) => arr.indexOf(el) === i);
            var data = {};
            data["ID"] = ty;
            top["tmpL"] = ty;
            var con = JSON.stringify(data);
            GetL(con);
            $("#LandR")[0].click();
        }
    }
</script>