﻿@{
    Layout = null;
}
<script>

    if ((top["tmpL"] == undefined) & ((@ViewBag.OrgID).length != 0))
        {
            top["tmpL"] = @ViewBag.OrgID;

    }
    if (top["tmpL"][0] == 0)top["tmpL"].splice(0,1);
    $("#LandCount")[0].textContent= "土地 ("+top["tmpL"].length.toString()+")";
</script>
<table class="table table-striped">
    <thead>
        <tr>
            <th>項次</th>
            <th>土地財產編號</th>
            <th>土地坐落</th>
            <th>土地面積(m2)</th>
            <th>帳面金額</th>
            <th>帳面價值</th>
            <th>業務別</th>
            <th>使用分區</th>
            <th>使用現狀</th>
            <th>檢視</th>
            @if (@ViewBag.V == 0)
            {
                <th>移出</th>
            }
        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < ViewBag.data["Data"].Count; i++)
        {

            <tr btag="@ViewBag.data["Data"][i].ID">
                <td>@(i + 1 + Int32.Parse(@ViewBag.data["pagestart"].ToString()))</td>
                <td>@ViewBag.data["Data"][i].Asset_Number</td>
                <td>
                    @ViewBag.data["Data"][i].City_Name
                    @ViewBag.data["Data"][i].District_Name
                    @ViewBag.data["Data"][i].Section_Name
                    @ViewBag.data["Data"][i].Sub_Section_Name
                    @ViewBag.data["Data"][i].Authorization_Number
                </td>
                <td>@ViewBag.data["Data"][i].Area_Size</td>
                <td>@ViewBag.data["Data"][i].Current_Cost</td>
                <td>@ViewBag.data["Data"][i].Business_Book_Amount</td>
                <td>@ViewBag.data["Data"][i].Used_Type</td>
                <td></td>
                <td>@ViewBag.data["Data"][i].Used_Status</td>
                <td><a class="btn btn-gray btn-circle" href="#" title="編輯"><i class="fa fa-search"></i></a></td>
                @if (@ViewBag.V == 0)
                {
                    <td><a class="btn btn-danger btn-circle" onclick="deletemeL(this)" title="刪除"><i class="fa fa-trash"></i></a></td>
                }

            </tr>
        }
    </tbody>
</table>
<nav class="text-center">
    @Html.Partial("pagination1")
</nav>