﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>新增/編輯單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.RouteUrl( new {controller = "Home" , Action="Index"})">首頁</a>
            </li>
            <li>
                <a href="@Url.RouteUrl( new {controller = "AssetsActivationSearch" , Action="Index"})">資產活化作業</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">分行活化規劃作業</a>
            </li>
            <li>
                <a >新增/編輯單據</a>
            </li>
        </ol>
    </div>
</div>
<script src="/Scripts/plugins/blockui/jquery.blockUI.js"></script>
<script>
    var OrderID = '@ViewBag.ID';
    function UpdateOrder(e)
    {
        $('#form').attr('action', '@Url.Action("UpdateOrder")');
        $('#form [name=SaveMode]')[0].value = e;
        if (top["tmpB"] != undefined)
            $('#form [name=DataB]')[0].value = top["tmpB"].toString();
        if (top["tmpL"] != undefined)
            $('#form [name=DataL]')[0].value = top["tmpL"].toString();
        $('#form').submit();
    }
    function GetH(data,page) {
        var data = {};
        if (top["tmpB"] != undefined)
            data["ID"] = top["tmpB"];

        var con = JSON.stringify(data);
        $.ajax({
            url: "@Url.Action("EditH")",
            type: "post",
            async: true,
            data: "json=" + con + "&page="+page + "&AID=" + OrderID,
            success: function (data) {
                $("#SP").html(data);
            }
        })
    }
    function GetL(data, page) {
        var data = {};
        if (top["tmpL"] != undefined)
            data["ID"] = top["tmpL"];

        var con = JSON.stringify(data);
        $.ajax({
            url: "@Url.Action("EditL")",
            type: "post",
            async: true,
            data: "json=" + con + "&page="+page + "&AID=" + OrderID,
            success: function (data) {
                $("#SP").html(data);
            }
        })
    }
    </script>

<div class="wrapper wrapper-content animated fadeInRight">
    <form id="form" enctype="multipart/form-data" method="post" class="form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><span class="text-success">【步驟一】</span> 新增單據</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <form method="post" action="" class="form-horizontal">

                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">單據類型</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="Document_Type" value="1001" >
                                            <option value="1001">活化規劃單</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">來源類型</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="Source_Type" value="">
                                          
                                            @{
                                            for (int i = 0; i < ViewBag.DocumentType["Data"].Count; i++)
                                                {
                                                    <option value="@ViewBag.DocumentType["Data"][i].mh.ID">@ViewBag.DocumentType["Data"][i].mh.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">單據編號</label>
                                   
                                    <div class="col-sm-6 text-lineH-fix">@ViewBag.No</div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 帳本</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="BOOK_TYPE_CODE" value="">
                                            @*
    @{
        for (int i = 0; i < ViewBag.bc["Data"].Count; i++)
        {
            <option value="@ViewBag.bc["Data"][i].mh.Code_ID">@ViewBag.bc["Data"][i].mh.Text</option>
        }
    }
                                            *@
                                            <option value="NTD_RE_IFRS">NTD_RE_IFRS</option>
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 單據處理日期</label>
                                    <div class="col-sm-4">
                                        <div class='input-group date' data-provide="datepicker-inline">
                                            <input name="BeginDate" type='text' class="form-control" value="@ViewBag.DateNow" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 form-group gutter-s">
                                    <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 管轄單位</label>
                                    <div class="col-sm-3">
                                        <select class="form-control"  name="Jurisdiction1" value="">
                                            <option value="001">001 總行</option>
                                            @{
                                                for (int i = 0; i < ViewBag.ju1["Data"].Count; i++)
                                                {
                                                    <option value="@ViewBag.ju1["Data"][i].mh.Branch_Code">@ViewBag.ju1["Data"][i].mh.Branch_Code @ViewBag.ju1["Data"][i].mh.Department_Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="form-control" name="Jurisdiction2" value="">
                                            @{
                                                for (int i = 0; i < ViewBag.ju2["Data"].Count; i++)
                                                {
                                                    <option value="@ViewBag.ju2["Data"][i].mh.Department">@ViewBag.ju2["Data"][i].mh.Department @ViewBag.ju2["Data"][i].mh.Department_Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 活化目標</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="Activation_Target" id="">
                                            @{
                                                for (int i = 0; i < ViewBag.Target["Data"].Count; i++)
                                                {
                                                    <option value="@ViewBag.Target["Data"][i].mh.ID">@ViewBag.Target["Data"][i].mh.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">備註(關鍵字)</label>
                                    <div class="col-sm-9"><input type="text" name="Remark" class="form-control" value="" /></div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">狀態</label>
                                    <div class="col-sm-6 text-lineH-fix text-primary-re">@ViewBag.State</div>
                                </div>
                                <input type="text" name="SaveMode" style="display:none" value="" />
                                <input type="text" name="DataL" style="display:none" value="" />
                                <input type="text" name="DataB" style="display:none" value="" />
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom:50px">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div>
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label><span class="text-success">【步驟二】</span></label>
                                        <a data-target="#modal-form-importdata" data-toggle="modal" onclick="javascript: $('#SelectList').empty();"class="btn btn-primary"><i class="fa fa-search"> 搜尋/導入資產 </i></a>
                                    </td>
                                    <td style="text-align: right">
                                        <div class="text-lineH-fix">
                                            <input type="radio" name="radiogroup1" id="BuildR"  onclick="GetH()"checked><span id="BuildCount" style="margin-right:10px"> 房屋 (@ViewBag.BCo)</span>
                                            <input type="radio" name="radiogroup1" id="LandR" onclick="GetL()"><span id="LandCount" style="margin-right:10px"> 土地 (@ViewBag.LCo)</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div id="SP">

                            </div>

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"><span>【步驟三】</span></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-splitdata" class="btn btn-success" data-toggle="modal"><i class="fa fa-long-arrow-right"> 提 交 </i></a>
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger"><i class="fa fa-trash"> 刪 除 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" onclick="UpdateOrder(0);" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-splitdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定提交嗎？</h3>
                        <button class="btn btn-sm btn-primary" onclick="UpdateOrder(1);" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-deletedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定刪除嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("EditSelect")
<script>
    @if (!ViewBag.isnew) {

       @:$("[name=Document_Type]")[0].value = "@ViewBag.EdOrd.mh.Document_Type";
       @:$("[name=Source_Type]")[0].value = "@ViewBag.EdOrd.mh.Source_Type";
       @:$("[name=BOOK_TYPE_CODE]")[0].value = "@ViewBag.EdOrd.mh.BOOK_TYPE_CODE";
       @:$("[name=Activation_Target]")[0].value = "@ViewBag.EdOrd.mh.Activation_Target";
       @:$("[name=Jurisdiction1]")[0].value = "@ViewBag.EdOrd.mh.Jurisdiction1";
       @:$("[name=Jurisdiction2]")[0].value = "@ViewBag.EdOrd.mh.Jurisdiction2";
       @:$("[name=Remark]")[0].value = "@ViewBag.EdOrd.mh.Remark";
       @:$("[name=BeginDate]")[0].value = "@ViewBag.EdOrd.DateY/@ViewBag.EdOrd.DateM.ToString().PadLeft(2, '0')/@ViewBag.EdOrd.DateD.ToString().PadLeft(2, '0')";

            }
    function check_all(obj, btag) {
        var checkboxs = $("[btag="+btag+"]");
        for (var i = 0; i < checkboxs.length; i++) { checkboxs[i].checked = obj.checked; }
    }
    function deleteme(e) {
        if (confirm("確定要刪除這筆資料嗎?")) {

            for (var i = 0 ; i < top["tmpB"].length ; i++) {
                if (top["tmpB"][i] == e.parentElement.parentElement.attributes.btag.value) {
                    top["tmpB"].splice(i, 1);
                    break;
                }
            }
            e.parentElement.parentElement.remove();

            var data = {};
            data["ID"] = top["tmpB"];

            var con = JSON.stringify(data);
            GetH(con);
        }
    }
    function deletemeL(e)
    {
        if (confirm("確定要刪除這筆資料嗎?")) {

        for (var i = 0 ; i < top["tmpL"].length ; i++) {
            if (top["tmpL"][i]==e.parentElement.parentElement.attributes.btag.value)
            {
                top["tmpL"].splice(i, 1);
                break;
            }
        }
        e.parentElement.parentElement.remove();
       
        var data = {};
        data["ID"] = top["tmpL"];
        
        var con = JSON.stringify(data);
        GetL(con);
        }
    }
    function GetList1(page) {
        $('#SP').block({
            message: '<h1>正在查询，请稍候……</h1>',
            css: {
                border: '3px solid khaki'
            }
        });
        var data = {};
        data["ID"] = "";
        if (top["tmpB"] != undefined)
          data["ID"] = top["tmpB"] ;
       
        con = "json=" + JSON.stringify(data) + "&page=" + page + "&AID=" + OrderID;
        $.ajax({
            url: "@Url.Action("EditH")",
            type: "post",
        data: con,
        complete: function () { $('#SP').unblock(); },
        async: true,
        success: function (data) {
            $("#SP").html(data);
        }
    })
    }
    function GetList1L(page) {
        $('#SP').block({
            message: '<h1>正在查询，请稍候……</h1>',
            css: {
                border: '3px solid khaki'
            }
        });
        var data = {};
        data["ID"] = "";
        if (top["tmpL"] != undefined)
            data["ID"] = top["tmpL"] ;
       
        con = "json=" + JSON.stringify(data) + "&page=" + page + "&AID=" + OrderID;
        $.ajax({
            url: "@Url.Action("EditL")",
            type: "post",
        data: con,
        complete: function () { $('#SP').unblock(); },
        async: true,
        success: function (data) {
            $("#SP").html(data);
        }
    })
    }
    GetH();
</script>