﻿
@{
    Layout = null;
}

<div style="display:none">
    @ViewBag.Data
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>項次</th>
            <th>資產編號</th>
            <th>摘要</th>
            <th>資產分類</th>
            <th>帳面金額</th>
            <th>啟用日期</th>
            <th><input type="checkbox" style="vertical-align:middle" onclick="check_all(this,'c')" > 全選</th>
        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < ViewBag.data["Data"].Count; i++)
        {
            <tr class="lightyellow_bg">
                <td>@(i + 1)</td>
                <td>@ViewBag.data["Data"][i].Asset_Number</td>
                <td>
                    @ViewBag.data["Data"][i].City_Name
                    @ViewBag.data["Data"][i].District_Name
                    @ViewBag.data["Data"][i].Sectioni_Name
                    @ViewBag.data["Data"][i].Sub_Sectioni_Name
                    @ViewBag.data["Data"][i].Build_Address
                </td>
                <td>@ViewBag.data["Data"][i].Asset_Category_Code</td>
                <td>@ViewBag.data["Data"][i].Business_Book_Amount</td>
                <td>@ViewBag.data["Data"][i].Date_Placed_In_Service</td>
                <td><input type="checkbox" btag="c" cval="@ViewBag.data["Data"][i].ID" ></td>
            </tr>
        }
    </tbody>
</table>

<nav class="text-center">
    @{ 

        Html.RenderPartial("~/Views/AssetsActivation/pagination.cshtml");
    }
    
</nav>

