﻿@using Library.Servant.Servant.Accounting

@{
    IEnumerable<Option> ddlTransTypes = ViewBag.TransTypes; //交易類別
    IEnumerable<Option> ddlTradeTypes = ViewBag.TradeTypes; //交易區分IEnumerable<Option>
    ViewBag.Title = "會計分錄查詢";

}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>會計分錄查詢</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "AccountingEntries")">首頁</a>
            </li>
            <li>
                <a href="#">會計分錄查詢</a>
            </li>
        </ol>
    </div>
</div>

<div id="app" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <input type="hidden" id="ReportWidth" name="ReportWidth" value="1000">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">入帳日期</label>
                                    <div class="input-group col-sm-8">
                                        <input type="date" class="input-sm form-control" name="BeginOpenDate" id="BeginOpenDate" v-model="model.BeginOpenDate" data-date-end-date="0d">
                                        <span class="input-group-addon">to</span>
                                        <input type="date" class="input-sm form-control" name="EndOpenDate" id="EndOpenDate" v-model="model.EndOpenDate" data-date-end-date="0d">
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">交易序號</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="TransSeq" v-model="model.TransSeq" />
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">交易類別</label>
                                    <div class="col-sm-8">
                                        <select name="TransTypes" v-model="model.TransType" class="form-control">
                                            @foreach (var item in ddlTransTypes)
                                            {
                                                <option value="@item.Value">@item.Key</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">交易區分</label>
                                    <div class="col-sm-8">
                                        <select name="TradeTypes" v-model="model.TradeType" class="form-control">
                                            @foreach (var item in ddlTradeTypes)
                                            {
                                                <option value="@item.Value">@item.Key</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">分錄編號</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="MasterNo" v-model="model.MasterNo" />
                                    </div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">資產編號</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="AssetNo" v-model="model.AssetNo" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button type="button" class="btn btn-primary" v-on:click="query()"><i class="fa fa-search">查詢</i></button>
                                    <button type="button" class="btn btn-danger" v-on:click="clearQuery()"><i class="fa fa-trash">清除</i></button>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="list"></div>
    </div>
</div>
@section scripts{
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                model: {
                    BeginOpenDate: '@DateTime.Today.ToString("yyyy-MM-dd")',
                    EndOpenDate: '@DateTime.Today.ToString("yyyy-MM-dd")',
                    TransSeq: '',
                    TransType: '',
                    TradeType: '',
                    MasterNo: '',
                    AssetNo: '',
                },
            },
            mounted: function() {
            },
            methods: {
                query: function() {
                    if (this.model.BeginOpenDate > this.model.EndOpenDate) {
                        Utility.LightBox.alert("錯誤", "結束日期不可小於開始日期", "確定");
                        return;
                    }
                    const path = this.getQueryUrl();
                    const parameters = this.getQueryParameters();
                    console.log(path + '?' + parameters);
                    $.ajax({
                        url: path + '?' + parameters,
                        type: 'POST',
                        dataType: 'html',
                        contentType: "application/json",
                        processData: false,
                        async: true,
                        //data: data,
                        success: function (html) {
                            debugger
                            $('#list').html(html);
                        }
                    });
                    //window.open(url + '\\?' + parameters,
                    //    'open_window',
                    //    'menubar=no, toolbar=no, location=no, directories=no, status=no, scrollbars=yes, resizable=no, dependent, width=800, height=620, left=0, top=0');
                },
                getQueryUrl: function() {
                    const result = '@Url.Action("Report")';
                    return result;
                },
                getQueryParameters: function() {
                    let parameters = '';
                    for (i in this.model) {
                            parameters += i + '=' + this.model[i] + '&';
                    }
                    return parameters;
                },
                clearQuery: function() {
                    for (i in this.model) {
                        this.model[i] = '';
                    }
                    let d = new Date().toISOString().slice(0, 10);
                    this.model.BeginOpenDate = d;
                    this.model.EndOpenDate = d;
                    this.model.OptionType = 0;
                },
            }
        });
        (function ($) {
            $(window).load(function () {
                var width = $("#list").width();
                $("#ReportWidth").val(width);
            });
        }(jQuery));
    </script>
}

