﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 新增/編輯出險單</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">出險維護作業</a>
            </li>
            <li>
                <a href="#">新增/編輯單據</a>
            </li>
            <li>
                <a href="#">新增/編輯出險單</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>新增/編輯出險單</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" action="" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="1051130K230000001" disabled /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 保單類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">商業火災綜合保險單</option>
                                        <option value="" selected>公共意外責任保險單</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 保險公司</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>



                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 保單號碼</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">保險公司聯絡人</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">保險公司聯絡電話</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 被保險人</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label" style="width:12%"><span style="color:red">*</span> 保險期間</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline" style="width:50%;float:left">
                                        <input type='text' class="form-control" value="106-01-01" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <select class="form-control" id="" style="margin-left:10px;width:40%;float:left; padding:0">
                                        <option value="" selected>00:00</option>
                                        <option value="">00:30</option>
                                        <option value="">01:00</option>
                                        <option value="">01:30</option>
                                        <option value="">02:00</option>
                                        <option value="">02:30</option>
                                        <option value="">03:00</option>
                                        <option value="">03:30</option>
                                        <option value="">04:00</option>
                                        <option value="">04:30</option>
                                        <option value="">05:00</option>
                                        <option value="">05:30</option>
                                        <option value="">06:00</option>
                                        <option value="">06:30</option>
                                        <option value="">07:00</option>
                                        <option value="">07:30</option>
                                        <option value="">08:00</option>
                                        <option value="">08:30</option>
                                        <option value="">09:00</option>
                                        <option value="">09:30</option>
                                        <option value="">10:00</option>
                                        <option value="">10:30</option>
                                        <option value="">11:00</option>
                                        <option value="">11:30</option>
                                        <option value="">12:00</option>
                                        <option value="">12:30</option>
                                        <option value="">13:00</option>
                                        <option value="">13:30</option>
                                        <option value="">14:00</option>
                                        <option value="">14:30</option>
                                        <option value="">15:00</option>
                                        <option value="">15:30</option>
                                        <option value="">16:00</option>
                                        <option value="">16:30</option>
                                        <option value="">17:00</option>
                                        <option value="">17:30</option>
                                        <option value="">18:00</option>
                                        <option value="">18:30</option>
                                        <option value="">19:00</option>
                                        <option value="">19:30</option>
                                        <option value="">20:00</option>
                                        <option value="">20:30</option>
                                        <option value="">21:00</option>
                                        <option value="">21:30</option>
                                        <option value="">22:00</option>
                                        <option value="">22:30</option>
                                        <option value="">23:00</option>
                                        <option value="">23:30</option>
                                    </select>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline" style="width:50%;float:left">
                                        <input type='text' class="form-control" value="107-01-01" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <select class="form-control" id="" style="margin-left:10px;width:40%;float:left; padding:0">
                                        <option value="" selected>00:00</option>
                                        <option value="">00:30</option>
                                        <option value="">01:00</option>
                                        <option value="">01:30</option>
                                        <option value="">02:00</option>
                                        <option value="">02:30</option>
                                        <option value="">03:00</option>
                                        <option value="">03:30</option>
                                        <option value="">04:00</option>
                                        <option value="">04:30</option>
                                        <option value="">05:00</option>
                                        <option value="">05:30</option>
                                        <option value="">06:00</option>
                                        <option value="">06:30</option>
                                        <option value="">07:00</option>
                                        <option value="">07:30</option>
                                        <option value="">08:00</option>
                                        <option value="">08:30</option>
                                        <option value="">09:00</option>
                                        <option value="">09:30</option>
                                        <option value="">10:00</option>
                                        <option value="">10:30</option>
                                        <option value="">11:00</option>
                                        <option value="">11:30</option>
                                        <option value="">12:00</option>
                                        <option value="">12:30</option>
                                        <option value="">13:00</option>
                                        <option value="">13:30</option>
                                        <option value="">14:00</option>
                                        <option value="">14:30</option>
                                        <option value="">15:00</option>
                                        <option value="">15:30</option>
                                        <option value="">16:00</option>
                                        <option value="">16:30</option>
                                        <option value="">17:00</option>
                                        <option value="">17:30</option>
                                        <option value="">18:00</option>
                                        <option value="">18:30</option>
                                        <option value="">19:00</option>
                                        <option value="">19:30</option>
                                        <option value="">20:00</option>
                                        <option value="">20:30</option>
                                        <option value="">21:00</option>
                                        <option value="">21:30</option>
                                        <option value="">22:00</option>
                                        <option value="">22:30</option>
                                        <option value="">23:00</option>
                                        <option value="">23:30</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 總保險費 (NTD)</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value=" " /> </div>
                                <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>元</span></div>
                            </div>


                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 保險生效日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" value="" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-11 form-group" style="margin-top:20px">
                                <label for="" class="col-sm-2 control-label" style="width:13%"><span style="color:red">*</span> 保險標的</label>
                                <div class="col-sm-9">
                                    <div class="table-responsive">
                                        <table class="table-condensed" style="width:100%">
                                            <tr>
                                                <td style="text-align: left"></td>
                                                <td style="text-align: right">
                                                    <a href="#modal-form-importdata-01" data-toggle="modal" class="btn btn-primary"><i class="fa fa-plus"> 保險標的</i></a>
                                                </td>
                                            </tr>
                                        </table>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>保險標的</th>
                                                    <th>出險地址</th>
                                                    <th>投保金額 (NTD)</th>
                                                    <th>受傷人數</th>
                                                    <th>實際理賠(NTD)</th>
                                                    <th>備註</th>
                                                    <th>編輯</th>
                                                    <th>刪除</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>每一個人身體傷亡</td>
                                                    <td>台北市中山區</td>
                                                    <td>10,000,000</td>
                                                    <td>1</td>
                                                    <td>10,000</td>
                                                    <td></td>
                                                    <td><a href="#modal-form-importdata-01" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                                    <td><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td>每一意外事故傷亡</td>
                                                    <td>台北市中山區</td>
                                                    <td>70,000,000</td>
                                                    <td>1</td>
                                                    <td>20,000</td>
                                                    <td></td>
                                                    <td><a href="#modal-form-importdata-01" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                                    <td><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td>每一意外事故財損</td>
                                                    <td>台北市中山區</td>
                                                    <td>10,000,000</td>
                                                    <td>1</td>
                                                    <td>20,000</td>
                                                    <td></td>
                                                    <td><a href="#modal-form-importdata-01" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                                    <td><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td>保險期間內最高賠償金額</td>
                                                    <td>台北市中山區</td>
                                                    <td>100,000,000</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><a href="#modal-form-importdata-01" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                                    <td><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">出險原因及經過</label>
                                <div class="col-sm-9"><textarea rows="3" class="form-control" value="無"></textarea></div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">
                                    是否造成<br>
                                    第三人財損
                                </label>
                                <div class="col-sm-2 form-group ">
                                    <div class="col-sm-2"><input type="radio" name="radiogroup1" class="form-control" value="" /> </div>
                                    <div class="col-sm-2 text-lineH-fix" style="padding:0 0 0 5px"><span>是</span></div>
                                    <div class="col-sm-2"><input type="radio" name="radiogroup1" class="form-control" value="" /> </div>
                                    <div class="col-sm-2 text-lineH-fix" style="padding:0 0 0 5px"><span>否</span></div>

                                </div>
                                <div class="col-sm-8  text-lineH-fix"><span style="float:left;margin-right:10px">簡述說明</span><textarea rows="3" class="form-control" style="float:left;width:80%"></textarea></div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">
                                    是否造成<br>
                                    第三人傷/亡
                                </label>
                                <div class="col-sm-2 form-group ">
                                    <div class="col-sm-2"><input type="radio" name="radiogroup2" class="form-control" value="" /> </div>
                                    <div class="col-sm-2 text-lineH-fix" style="padding:0 0 0 5px"><span>是</span></div>
                                    <div class="col-sm-2"><input type="radio" name="radiogroup2" class="form-control" value="" /> </div>
                                    <div class="col-sm-2 text-lineH-fix" style="padding:0 0 0 5px"><span>否</span></div>

                                </div>
                                <div class="col-sm-8  text-lineH-fix"><span style="float:left;margin-right:10px">簡述說明</span><textarea rows="3" class="form-control" style="float:left;width:80%"></textarea></div>
                            </div>



                            <div class="clearfix"></div>
                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">檔案上傳</label>
                                <div class="col-sm-5">
                                    <input id="uploadFile1" placeholder="" class="form-control " style="width:75%;float:left" />
                                    <div class="fileUpload btn btn-gray" style="border-radius: 0 3px 3px 0; float:left">
                                        <span><i class="fa fa-search"> 瀏 覽 </i></span>
                                        <input id="uploadBtn1" type="file" class="upload" />
                                    </div><br>

                                    <div style="margin-top:24px;font-size:0.85em;color:#999">
                                        <i class="fa fa-warning" style="padding:10px 0 0 5px;float:left"></i>
                                        <span style="padding:5px 0 0 10px;float:left">建議上傳 PDF 檔案格式</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">已上傳檔案列表</label>
                                <div class="col-sm-5">
                                    <table width="100%">
                                        <tr>
                                            <td style="text-align:left">20170912_出險-照片.jpg</td>
                                            <td width="40px" style="margin-left:10px"><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-deletedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定刪除嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata-01" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:70%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">保險標的</label>
                            <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">出險地址</label>
                            <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">投保金額 (NTD)</label>
                            <div class="col-sm-7"><input type="text" class="form-control" value="" /> </div>
                            <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>元</span></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">受傷人數</label>
                            <div class="col-sm-7"><input type="text" class="form-control" value="" /> </div>
                            <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>人</span></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">實際理賠 (NTD)</label>
                            <div class="col-sm-7"><input type="text" class="form-control" value="" /> </div>
                            <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>元</span></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">備註</label>
                            <div class="col-sm-9"><textarea rows="5" class="form-control"></textarea></div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-deletedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定刪除嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/livescript">
    document.getElementById("uploadBtn1").onchange = function () {
    document.getElementById("uploadFile1").value = this.files[0].name;
    };

</script>