﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>新增/編輯單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">出險維護作業</a>
            </li>
            <li>
                <a href="#">新增/編輯單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><span class="text-success">【步驟一】</span> 新增單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">保單類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" disabled>
                                        <option value="">保單維護單</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">請選擇來源</option>
                                        <option value="">全部</option>
                                        <option value="">總行個別新增</option>
                                        <option value="">分行個別新增</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">保單類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">請選擇類型</option>
                                        <option value="">商業火災綜合保險單</option>
                                        <option value="">公共意外責任保險單</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control">
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1051130K230000001</div>
                            </div>



                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 單據處理日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" value="106-01-05" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-primary-re">新增</span></div>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label><span class="text-success">【步驟二】</span></label>
                                    <a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary"><i class="fa fa-search"> 搜尋/導入保單</i></a>
                                </td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>保險公司</th>
                                    <th>單據類型</th>
                                    <th>保單號碼</th>
                                    <th>保險期間</th>
                                    <th>總保險金額</th>
                                    <th>出險時間</th>
                                    <th>備註</th>
                                    <th>編輯</th>
                                    <th>移出</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>泰安產物保險股份有限公司</td>
                                    <td>商業火災綜合保險單</td>
                                    <td>060第57206A00001號</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td>9,165,505</td>
                                    <td>
                                        106/1/1
                                        12:00
                                    </td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentEdit")" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>泰安產物保險股份有限公司</td>
                                    <td>公共意外責任保險單</td>
                                    <td>06字第062106A00090號</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td>315,150</td>
                                    <td>
                                        106/1/1
                                        12:00
                                    </td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentEdit")" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>泰安產物保險股份有限公司</td>
                                    <td>商業火災綜合保險單</td>
                                    <td>050第57206A00001號</td>
                                    <td>
                                        105/1/1~
                                        105/12/31
                                    </td>
                                    <td>9,165,505</td>
                                    <td>
                                        105/1/1
                                        12:00
                                    </td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentEdit")" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>泰安產物保險股份有限公司</td>
                                    <td>公共意外責任保險單</td>
                                    <td>05字第062106A00090號</td>
                                    <td>
                                        105/1/1~
                                        105/12/31
                                    </td>
                                    <td>315,150</td>
                                    <td>
                                        105/1/1
                                        12:00
                                    </td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentEdit")" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>泰安產物保險股份有限公司</td>
                                    <td>商業火災綜合保險單</td>
                                    <td>040第57206A00001號</td>
                                    <td>
                                        104/1/1~
                                        104/12/31
                                    </td>
                                    <td>9,165,505</td>
                                    <td>
                                        104/1/1
                                        12:00
                                    </td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentEdit")" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>泰安產物保險股份有限公司</td>
                                    <td>公共意外責任保險單</td>
                                    <td>04字第062106A00090號</td>
                                    <td>
                                        104/1/1~
                                        104/12/31
                                    </td>
                                    <td>315,150</td>
                                    <td>
                                        104/1/1
                                        12:00
                                    </td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentEdit")" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-splitdata" class="btn btn-success" data-toggle="modal"><i class="fa fa-long-arrow-right"> 提 交 </i></a>
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger"><i class="fa fa-trash"> 刪 除 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-splitdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定提交嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-deletedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定刪除嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--lightbox -->
<div id="modal-form-importdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title" style="border:0">
                                <h5><span class="text-success">【步驟一】</span> 搜尋欲維護的出險單</h5>
                                <div class="ibox-tools"><a data-dismiss="modal"><i class="fa fa-close"></i></a></div>
                            </div>
                            <div class="ibox-content">
                                <form method="post" action="" class="form-horizontal">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label">保單類型</label>
                                            <div class="col-sm-6">
                                                <select class="form-control" disabled>
                                                    <option value="">出險維護單</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label">來源類型</label>
                                            <div class="col-sm-6">
                                                <select class="form-control" id="">
                                                    <option value="">請選擇來源</option>
                                                    <option value="">全部</option>
                                                    <option value="">總行個別新增</option>
                                                    <option value="">分行個別新增</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label">保單類型</label>
                                            <div class="col-sm-6">
                                                <select class="form-control" id="">
                                                    <option value="">請選擇類型</option>
                                                    <option value="">商業火災綜合保險單</option>
                                                    <option value="">公共意外責任保險單</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 form-group gutter-s">
                                            <label for="" class="col-sm-3 control-label">管轄單位</label>
                                            <div class="col-sm-3">
                                                <select class="form-control">
                                                    <option value="">001 總行</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <select class="form-control" id="">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <select class="form-control" id="">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label">單據編號</label>
                                            <div class="col-sm-6 text-lineH-fix">1051130K230000001</div>
                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label">備註</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 單據處理日期</label>
                                            <div class="col-sm-4">
                                                <div class='input-group date' data-provide="datepicker-inline">
                                                    <input type='text' class="form-control" value="105-11-30" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label for="" class="pull-right">
                                                <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                                <button type="button" class="btn btn-primary"><i class="fa fa-search"> 搜 尋 </i></button>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="ibox-c-subtitle">
                                        <div class=" checkbox-list">
                                            <label><span class="text-success">【步驟二】</span>請勾選搜尋結果&nbsp;&nbsp;</label>
                                            <input type="radio" name="RadioGroup1" value="" checked><span>分頁</span>
                                            <input type="radio" name="RadioGroup1" value=""><span>全部列出</span>
                                            <div style="clear:both"></div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped" id="importchart">
                                            <thead>
                                                <tr>
                                                    <th>項次</th>
                                                    <th>保險公司</th>
                                                    <th>單據類型</th>
                                                    <th>保單號碼</th>
                                                    <th>保險期間</th>
                                                    <th>總保險金額</th>
                                                    <th>出險時間</th>
                                                    <th>備註</th>
                                                    <th><input type="checkbox" style="vertical-align:middle" onChange="chkbgAll(this)"> 全選</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>泰安產物保險股份有限公司</td>
                                                    <td>商業火災綜合保險單</td>
                                                    <td>060第57206A00001號</td>
                                                    <td>
                                                        106/1/1~
                                                        106/12/31
                                                    </td>
                                                    <td>9,165,505</td>
                                                    <td>
                                                        106/1/1
                                                        12:00
                                                    </td>
                                                    <td></td>
                                                    <td><input name="cbox1" type="checkbox" value="1" onChange="chkbg(this)"></td>
                                                </tr>
                                                <tr class="lightyellow_bg">
                                                    <td>2</td>
                                                    <td>泰安產物保險股份有限公司</td>
                                                    <td>公共意外責任保險單</td>
                                                    <td>06字第062106A00090號</td>
                                                    <td>
                                                        106/1/1~
                                                        106/12/31
                                                    </td>
                                                    <td>315,150</td>
                                                    <td>
                                                        106/1/1
                                                        12:00
                                                    </td>
                                                    <td></td>
                                                    <td><input name="cbox1" type="checkbox" onChange="chkbg(this)" checked></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>泰安產物保險股份有限公司</td>
                                                    <td>商業火災綜合保險單</td>
                                                    <td>050第57206A00001號</td>
                                                    <td>
                                                        105/1/1~
                                                        105/12/31
                                                    </td>
                                                    <td>9,165,505</td>
                                                    <td>
                                                        105/1/1
                                                        12:00
                                                    </td>
                                                    <td></td>
                                                    <td><input name="cbox1" type="checkbox" value="3" onChange="chkbg(this)"></td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>泰安產物保險股份有限公司</td>
                                                    <td>公共意外責任保險單</td>
                                                    <td>05字第062106A00090號</td>
                                                    <td>
                                                        105/1/1~
                                                        105/12/31
                                                    </td>
                                                    <td>315,150</td>
                                                    <td>
                                                        105/1/1
                                                        12:00
                                                    </td>
                                                    <td></td>
                                                    <td><input name="cbox1" type="checkbox" value="4" onChange="chkbg(this)"></td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>泰安產物保險股份有限公司</td>
                                                    <td>商業火災綜合保險單</td>
                                                    <td>040第57206A00001號</td>
                                                    <td>
                                                        104/1/1~
                                                        104/12/31
                                                    </td>
                                                    <td>9,165,505</td>
                                                    <td>
                                                        104/1/1
                                                        12:00
                                                    </td>
                                                    <td></td>
                                                    <td><input name="cbox2" type="checkbox" value="5" onChange="chkbg(this)"></td>
                                                </tr>
                                                <tr id="test" value="xxx">
                                                    <td>6</td>
                                                    <td>泰安產物保險股份有限公司</td>
                                                    <td>公共意外責任保險單</td>
                                                    <td>04字第062106A00090號</td>
                                                    <td>
                                                        104/1/1~
                                                        104/12/31
                                                    </td>
                                                    <td>315,150</td>
                                                    <td>
                                                        104/1/1
                                                        12:00
                                                    </td>
                                                    <td></td>
                                                    <td><input type="checkbox" name="cbox1" value="6" onChange="chkbg(this)"></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <nav class="text-center">
                                            <ul class="pagination">
                                                <li class="disabled"><a>1</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                                <li> <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                                                <li> <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next"> <span aria-hidden="true">&raquo;&raquo;</span> </a> </li>
                                            </ul>
                                        </nav>
                                    </div>

                                    <div class="ibox-c-subtitle"></div>
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <div class="col-sm-3"><label><span class="text-success">【步驟三】</span></label></div>
                                            <div class="col-sm-9" style="text-align:right">
                                                <a href="G201.aspx" class="btn btn-gray"><i class="fa fa-cloase" data-dismiss="modal"> 取 消 </i></a>
                                                <a href="#" class="btn btn-success"><i class="fa fa-check" data-dismiss="modal"> 導入勾選資料 </i></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>