﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>報表產製</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">租賃整合管理</a>
            </li>
            <li>
                <a href="#">報表產製</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>條件設定</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">報表類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">縣市別、類型別資產承租(出租)統計及明細表</option>
                                        <option value="">租賃資產到期日通知明細表</option>
                                        <option value="">租金繳納明細表</option>
                                        <option value="">租金收入、使用補償金及分期償還帳卡</option>
                                        <option value="">租金收入、使用補償金及分期償還繳款聯單</option>
                                        <option value="">租金收入、使用補償金及分期償還郵寄封面黏貼單。</option>
                                        <option value="">租金收入、使用補償金及分期償還收入預估表</option>
                                        <option value="">租金支出預估表</option>
                                        <option value="">銷帳明細表</option>
                                        <option value="">帳齡分析表</option>
                                        <option value="">縣市別、類型別出租資產統計及明細表</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">是否彙總</label>
                                <div class="col-sm-6 checkbox-list">
                                    <input type="radio" nmae="radiogroup1"><span>是</span>
                                    <input type="radio" nmae="radiogroup1" checked><span>否</span>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">報表篩選期間</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">信用卡報表</label>
                                <div class="col-sm-6 checkbox-list">
                                    <input type="radio" nmae="radiogroup2"><span>是</span>
                                    <input type="radio" nmae="radiogroup2" checked><span>否</span>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">幣別</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">折算匯率日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="hr-line-dashed"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">全部</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">全部</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>


                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳本</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">IFRS_TWD</option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租賃期間</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">05 資訊部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">狀態</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox"><span>新增</span>
                                    <input type="checkbox"><span>簽核中</span>
                                    <input type="checkbox"><span>已核淮</span>
                                    <input type="checkbox"><span>退回修改</span>
                                    <input type="checkbox"><span>抽回修改</span>
                                    <input type="checkbox"><span>作廢</span>

                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="hr-line-dashed"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約類型</label>
                                <div class="col-sm-6 checkbox-list">
                                    <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox"><span>承租</span>
                                    <input type="checkbox"><span>出租</span>

                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">08 產權部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">逾期天數</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="30" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約編號</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">原租約編號</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約事務</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox"><span>新租</span>
                                    <input type="checkbox"><span>繼承承租</span>
                                    <input type="checkbox"><span>續租</span>
                                    <input type="checkbox"><span>過戶承租</span>

                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">業務別</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox"><span>自用</span>
                                    <input type="checkbox"><span>非自用</span>

                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">租約類型</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox"><span>停車位</span>
                                    <input type="checkbox"><span>停車場</span>
                                    <input type="checkbox"><span>基地</span>
                                    <input type="checkbox"><span>基地使用補償</span>
                                    <input type="checkbox"><span>房屋</span>
                                    <input type="checkbox"><span>投資開發</span>
                                    <input type="checkbox"><span>空地</span>
                                    <input type="checkbox"><span>耕地</span>

                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">繳款週期</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox"><span>月</span>
                                    <input type="checkbox"><span>季</span>
                                    <input type="checkbox"><span>半年</span>
                                    <input type="checkbox"><span>年</span>
                                    <input type="checkbox"><span>其他</span>

                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租賃期間</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">承租人資訊</label>
                                <div class="col-sm-6"><input type="text" class="form-control text-gray" value="名稱、身分證號、統一編號等關鍵字" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">業務別</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox"><span>自用</span>
                                    <input type="checkbox"><span>非自用</span>

                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">標的物(關鍵字)</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳號(關鍵字)</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註(關鍵字)</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">年租率</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4 checkbox-list"><input type="text" class="form-control" value="" style="width:80%;margin-top:-6px;padding-left:3px" /><span>%</span></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約狀態</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox"><span>有效</span>
                                    <input type="checkbox"><span>終止</span>

                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">核准日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                    <a href="#" class="btn btn-primary"><i class="fa fa-search"> 產 製 </i></a>
                                </label>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>


</div>