﻿@using InspiniaWebAdminTemplate.Models.UserHistory
@model IndexViewModel

@{
    ViewBag.Title = "UserHistory";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>人員角色維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">登入角色管理</a>
            </li>
            <li>
                <a href="#">使用記錄查詢</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="@Url.Action("UpdateSearchCondition")" method="post" class="form-horizontal">

                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="form-group col-sm-6" align="left">
                                <label for="text" class="col-sm-4 control-label">員工編碼</label>
                                <div class="input-group col-sm-8">
                                    @Html.TextBox("UserCode", Model.condition.UserCode, new { @class= "text-input form-control", @type= "text" })
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">分行</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="RoleID">
                                        <option value="">全部</option>
                                        @*@foreach (var function in Model.TotalRoles) {
                                            var selectedStatus = (function.Value == Model.condition.RoleID) ? "selected" : "";
                                            <option value="@function.Value" @selectedStatus>@function.Text</option>
                                        }*@
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">部門</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="RoleID">
                                        <option value="">全部</option>
                                        @*@foreach (var function in Model.TotalRoles) {
                                            var selectedStatus = (function.Value == Model.condition.RoleID) ? "selected" : "";
                                            <option value="@function.Value" @selectedStatus>@function.Text</option>
                                        }*@
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">登入時間起</label>
                                <div class="input-group col-sm-8">
                                    <div class="input-group">
                                        @Html.TextBox("Start", Model.condition.Start, "{0:yyyy/MM/dd}", new { @class = "form-control datepicker", @type = "text" })
                                        <span class="input-group-addon date-trigger">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">登入時間迄</label>
                                <div class="input-group col-sm-8">
                                    <div class="input-group">
                                        @Html.TextBox("End", Model.condition.End, "{0:yyyy/MM/dd}", new { @class = "form-control datepicker", @type = "text" })
                                        <span class="input-group-addon date-trigger">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="row">
                            <label for="" class="col-sm-10" align="right">
                                <button type="submit" class="btn btn-primary"><i class="fa">查詢</i></button>
                                <button type="reset" name="reset" class="btn btn-danger"><i class="fa">清除</i></button>
                            </label>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
               
                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共 @Model.Items.Count 筆</label>
                                </td>
                            </tr>
                        </table>

                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>員工姓名</th>
                                    <th>部門</th>
                                    <th>IP位置</th>
                                    <th>登入時間</th>
                                    <th>最後一次請求</th>
                                    <th>登出時間</th>
                                </tr>
                            </thead>

                            <tbody>

                                @for (var index = 0; index < Model.Items.Count; ++index)
                                {
                                    var item = Model.Items[index];
                                    <tr>
                                        <td>@(index + 1)</td>
                                        <td>@item.UserName</td>
                                        <td>@item.DepartmentName</td>
                                        <td>@item.IP</td>
                                        <td>@item.LoginDateTime</td>
                                        <td>@item.LastDateTime</td>
                                        <td>@item.LogoutDateTime</td>
                                    </tr>
                                }

                          </tbody>

                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.TotalAmount,//資料庫總筆數
                    page_size: @Model.condition.PageSize,//單頁筆數
                    page_now: @Model.condition.Page,//當前頁
                    center_page: @Model.condition.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });

            $(".datepicker").datepicker({
                format: "yyyy/mm/dd",
                autoclose: true,
                clearBtn: true,
                calendarWeeks: false,
                todayHighlight: true,
                language: 'zh-TW'
            });

            $(".date-trigger").on("click", function () {
                $(this).prev(".datepicker").datepicker("show");
            });

        })(jQuery);

    </script>
}
