﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 編輯出租進度</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">租賃整合管理</a>
            </li>
            <li>
                <a href="#">出租履約追蹤作業</a>
            </li>
            <li>
                <a href="#">編輯出租進度</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>編輯出租進度</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約類型</label>
                                <div class="col-sm-6 text-lineH-fix">107-0001</div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">原租約編號</label>
                                <div class="col-sm-4 text-lineH-fix">承-1060001</div>
                                <div class="col-sm-5 text-lineH-fix"><a href="@Url.Action("ContentDetail_1")" class="btn btn-gray"><i class="fa fa-search"> 查看租約詳情 </i></a></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約類別</label>
                                <div class="col-sm-6 text-lineH-fix">出租</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約事務</label>
                                <div class="col-sm-6 text-lineH-fix">續租</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約類型</label>
                                <div class="col-sm-6 text-lineH-fix">租金</div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">業務別</label>
                                <div class="col-sm-6 text-lineH-fix">自用</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約狀態</label>
                                <div class="col-sm-6 text-lineH-fix">有效</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-2 control-label">租賃期間</label>
                                <div class="col-sm-6 text-lineH-fix">106/1/1 ~ 106/12/31</div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">核准日期</label>
                                <div class="col-sm-6 text-lineH-fix">105/12/15</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">標的物</label>
                                <div class="col-sm-6 text-lineH-fix">屏東縣高樹鄉中段512地號等</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳號</label>
                                <div class="col-sm-6 text-lineH-fix">北-108000</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約附件</label>
                                <div class="col-sm-6 text-lineH-fix"><a href="#"><i class="fa fa-file-o"></i> 租約影本.pdf</a></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-6 text-lineH-fix">001 總行 08 產權部 001 XX科</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註</label>
                                <div class="col-sm-6 text-lineH-fix"></div>
                            </div>

                        </div>

                    </form>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>承租人</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>類型</th>
                                    <th>名稱</th>
                                    <th>統一編號</th>
                                    <th>負責人</th>
                                    <th>身分證字號</th>
                                    <th>出生日</th>
                                    <th>通訊地址</th>
                                    <th>戶籍地址</th>
                                    <th>電話</th>
                                    <th>備註</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>公司</td>
                                    <td>關貿網路</td>
                                    <td>12345678</td>
                                    <td>XXX</td>
                                    <td>A123456789</td>
                                    <td>40/1/1</td>
                                    <td>台北市南港區三重路</td>
                                    <td>台北市南港區三重路</td>
                                    <td>26551188</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>公司</td>
                                    <td>關貿網路</td>
                                    <td>12345678</td>
                                    <td>XXX</td>
                                    <td>A123456789</td>
                                    <td>40/1/1</td>
                                    <td>台北市南港區三重路</td>
                                    <td>台北市南港區三重路</td>
                                    <td>26551188</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>欠繳情形</label>
                                </td>
                                <td style="text-align: right">
                                    <label>繳款期限：106/04/31</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>應收帳款類別</th>
                                    <th>帳款期別</th>
                                    <th>未繳金額</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>租金</td>
                                    <td>106-1</td>
                                    <td>500,000</td>
                                </tr>
                                <tr>
                                    <td>違約金</td>
                                    <td>106-1</td>
                                    <td>10,000</td>
                                </tr>
                                <tr>
                                    <td>前期欠款</td>
                                    <td></td>
                                    <td>5,000</td>
                                </tr>
                                <tr style="background-color:#B5E9FF" class="text-success">
                                    <td colspan="2" style="text-align:right;background-color:#B5E9FF">目前欠繳金額合計</td>
                                    <td style="background-color:#B5E9FF">515,000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <form method="post" class="form-horizontal">
                        <div class="ibox-c-subtitle" style="margin-top:30px">占用情形</div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">占用始期</label>
                                <div class="col-sm-6">2016-08-20</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">實際勘查日期</label>
                                <div class="col-sm-6">2016-09-20</div>
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-4 control-label">勘查人員</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="Select1" disabled>
                                    <option value=""> 陳大明 </option>
                                </select>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">未繳租原因</label>
                            <div class="col-sm-8">XXXX</div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">轉占用原因</label>
                            <div class="col-sm-8">XXX</div>
                        </div>

                        <div class="ibox-c-subtitle" style="margin-top:30px">分期付款設定</div>
                        <div class="row">
                            <div class="col-sm-9 form-group" style="margin-top:-6px">
                                <label for="" class="col-sm-2 control-label">是否分期</label>
                                <div class="col-sm-9 checkbox-list" disabled>
                                    <input type="radio" name="radiogroup1" checked> <span style="margin-right:20px">是否分期</span>
                                    <input type="radio" name="radiogroup1"><span>不給予分期付款</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">分期付款總金額</label>
                                <div class="col-sm-6">515,000</div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">頭期款日期</label>
                                <div class="col-sm-6">2016-08-20</div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">頭期款</label>
                                <div class="col-sm-6">12,789</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">分款起始日</label>
                                <div class="col-sm-6">2016-08-20</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">期數</label>
                                <div class="col-sm-6">12</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">繳款期限</label>
                                <div class="col-sm-6">2017-08-20</div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">繳款週期</label>
                                <div class="col-sm-6">月繳</div>
                            </div>
                        </div>
                        <div class="col-sm-12 form-group" style="text-align:right;margin-top:30px">
                            <div class="col-sm-9">&nbsp;</div>
                            <div class="col-sm-3 text-success">每期分期付款金額：<span style="font-size:1.5em;font-weight:bold">12,789</span> 元</div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已儲存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>