﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 檢視單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">租賃整合管理</a>
            </li>
            <li>
                <a href="#">出租履約追蹤作業</a>
            </li>
            <li>
                <a href="#">檢視單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>檢視單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6 text-lineH-fix">出租履約追蹤單</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6 text-lineH-fix">自動提醒通知</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1060502E260000001</div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳本</label>
                                <div class="col-sm-6 text-lineH-fix">IFRS_TWD</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據處理時間</label>
                                <div class="col-sm-6 text-lineH-fix">106-05-02</div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-6 text-lineH-fix">002 台北分行  001 XX科</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約類型</label>
                                <div class="col-sm-6 text-lineH-fix text-primary-re">簽核中</div>
                            </div>


                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註</label>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>


    <div class="row" style="margin-bottom: 50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label><span class="text-success">【步驟二】</span></label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>租約編號</th>
                                    <th>租賃期間</th>
                                    <th>標的物</th>
                                    <th>承租人名稱</th>
                                    <th>承租人電話</th>
                                    <th>本期未繳</th>
                                    <th>逾兩個月</th>
                                    <th>逾三個月</th>
                                    <th>逾三個月以上</th>
                                    <th>逾期天數</th>
                                    <th>編輯</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>屏東縣中段512地號</td>
                                    <td>陳展元</td>
                                    <td>0912111222</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>V</td>
                                    <td>逾期98日</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-search"></i></a></td>

                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>屏東縣中段512地號</td>
                                    <td>陳展元</td>
                                    <td>0912111222</td>
                                    <td></td>
                                    <td></td>
                                    <td>V</td>
                                    <td></td>
                                    <td>逾期69日</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-search"></i></a></td>

                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>屏東縣中段512地號</td>
                                    <td>陳展元</td>
                                    <td>0912111222</td>
                                    <td></td>
                                    <td>V</td>
                                    <td></td>
                                    <td></td>
                                    <td>逾期49日</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-search"></i></a></td>

                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>屏東縣中段512地號</td>
                                    <td>陳展元</td>
                                    <td>0912111222</td>
                                    <td>V</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>逾期21日</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-search"></i></a></td>

                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>屏東縣中段512地號</td>
                                    <td>陳展元</td>
                                    <td>0912111222</td>
                                    <td>V</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>逾期21日</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-search"></i></a></td>

                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>屏東縣中段512地號</td>
                                    <td>陳展元</td>
                                    <td>0912111222</td>
                                    <td>V</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>逾期21日</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-search"></i></a></td>

                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>屏東縣中段512地號</td>
                                    <td>陳展元</td>
                                    <td>0912111222</td>
                                    <td>V</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>逾期21日</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-search"></i></a></td>

                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>屏東縣中段512地號</td>
                                    <td>陳展元</td>
                                    <td>0912111222</td>
                                    <td>V</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>逾期21日</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-search"></i></a></td>

                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>屏東縣中段512地號</td>
                                    <td>陳展元</td>
                                    <td>0912111222</td>
                                    <td>V</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>逾期21日</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-search"></i></a></td>

                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>屏東縣中段512地號</td>
                                    <td>陳展元</td>
                                    <td>0912111222</td>
                                    <td>V</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>逾期21日</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="檢視"><i class="fa fa-search"></i></a></td>

                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>