﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 檢視資產</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">動產管理</a>
            </li>
            <li>
                <a href="#">動產查詢作業</a>
            </li>
            <li>
                <a href="#">檢視單據</a>
            </li>
            <li>
                <a href="#">檢視資產</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row" style="margin-bottom: 80px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>檢視資產</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-10 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">母資產</label>
                                <div class="col-sm-9 text-lineH-fix">
                                    <span style="float:left;margin-right:10px">無母資產</span>
                                    <a href="#modal-form-importdata" data-toggle="modal" class="btn btn-gray" style="float:left"><i class="fa fa-plus"> 設定母資產 </i></a>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-10 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">國內/海外資產</label>
                                <div class="col-sm-9">
                                    <label style="padding-top:6px">
                                        <input type="radio" name="radioset1" value="" id="" checked>
                                        <span style="font-weight:normal;padding-right:10px">國內資產</span>
                                        <input type="radio" name="radioset1" value="" id="">
                                        <span style="font-weight:normal">海外資產</span>
                                    </label>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-10 form-group col-sm-pull-1 gutter-s">
                                <label for="" class="col-sm-3 control-label">資產分類</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">3. 機械與設備</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">000031 電腦端末設備</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">B 固定-自用</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>


                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">財產名稱</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="網路交換器" disabled />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">財產別名</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="總行網路交換機" />
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="3000031B-0000001" disabled /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">原資產編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="0100000643" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">耐用年限</label>
                                <div class="col-sm-6 text-lineH-fix">
                                    <input type="text" class="form-control" value="3" style="width:20%;float:left " disabled />
                                    </select> <span style="float:left; padding-left:10px;">年</span>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">財物編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">折舊方式</label>
                                <div class="col-sm-6" style="padding: 0 5px 0 15px">
                                    <select class="form-control" id="">
                                        <option value="">STL</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳本</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="IFRS_TWD" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">啟用日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="">
                                        <input type='text' class="form-control" disabled />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單位量</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="1" /></div>
                            </div>
                            <div class="clearfix"></div>


                            <div class="col-sm-10 form-group col-sm-pull-1 gutter-s">
                                <label for="" class="col-sm-3 control-label">放置地點</label>
                                <div class="col-sm-9">
                                    <div class="col-sm-2" style="padding-left:0">
                                        <select class="form-control" id="">
                                            <option value="">001 總行</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control" id="">
                                            <option value="">009 資訊部</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control" id="">
                                            <option value="">XX科</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control" id="">
                                            <option value="">XX樓</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" value="請輸入放置位置" />
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-10 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">資產會計科目</label>
                                <div class="col-sm-9 text-lineH-fix">
                                    140401000 機械及設備&nbsp;&nbsp;1531-01-00-3 電腦端末設備
                                </div>
                            </div>

                            <div class="col-sm-10 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">資產會計科目</label>
                                <div class="col-sm-9 text-lineH-fix">
                                    001.05.001.5202015301.0.0.0 總行 / 資訊部 / XX科  / 業務費用機械及設備折舊
                                </div>
                            </div>

                        </div>


                        <div class="ibox-c-subtitle"> 動產資訊</div>

                        <div class="row">
                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label gutter-s">管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">009電金部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001XX科</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">保管人</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">023001 陳小明 </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">採購案號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">採購描述</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">廠商規格</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">驗收日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">附屬設備</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" value="" style="float:left;width:50% !important" />
                                    <a href="#" class="btn btn-link" style="color:#ccc;font-size:16px;float:left"><i class="fa fa-trash"></i></a>
                                    <a href="#" class="btn btn-link" style="color:#ccc;font-size:16px;float:left"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">財物單位</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>


                        </div>

                        <div class="ibox-c-subtitle">帳務資料與其他事項</div>

                        <div class="row">
                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">009電金部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001XX科</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-12 form-group" style="margin-left:0px">
                                <div class="col-sm-4">
                                    <label for="" class="col-sm-4 control-label">資產成本</label>
                                    <div class="col-sm-6"><input type="text" class="form-control" value="" disabled /></div>
                                </div>

                                <div class="col-sm-4">
                                    <label for="" class="col-sm-4 control-label">累計折舊</label>
                                    <div class="col-sm-6"><input type="text" class="form-control" value="" disabled /></div>
                                </div>

                                <div class="col-sm-4">
                                    <label for="" class="col-sm-4 control-label">殘值</label>
                                    <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                                </div>

                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-10 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">備註</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                            </div>
                        </div>
                    </form>



                    <div class="ibox-c-subtitle">交易明細</div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>記帳時間</th>
                                    <th>單據類型</th>
                                    <th>單據編號</th>
                                    <th>摘要</th>
                                    <th>本次異動金額</th>
                                    <th>資產成本結餘</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>106-08-10 12:00</td>
                                    <td>動產新增單</td>
                                    <td>1060502A201000001</td>
                                    <td>總行網路交換機</td>
                                    <td>+ 70,000</td>
                                    <td>70,000</td>
                                </tr>
                                <tr>
                                    <td>106-08-31 12:00</td>
                                    <td>動產新增單</td>
                                    <td>1060502A201000001</td>
                                    <td>106-07 折舊</td>
                                    <td>- 972</td>
                                    <td>69,028</td>
                                </tr>
                                <tr>
                                    <td>106-09-13 12:00</td>
                                    <td>動產新增單</td>
                                    <td>1060502A201000001</td>
                                    <td>106-08 折舊</td>
                                    <td>- 972</td>
                                    <td>68,056</td>
                                </tr>
                                <tr>
                                    <td>106-09-13 12:00</td>
                                    <td>動產新增單</td>
                                    <td>1060502A201000001</td>
                                    <td>106-09 折舊</td>
                                    <td>- 972</td>
                                    <td>67,084</td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-6 col-sm-offset-6">
        <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal" style="display:none"><i class="fa fa-save"> 儲 存 </i></a>
        <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-arrow-left"> 返 回 </i></a>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title" style="border:0">
                                <h5>設定母資產</h5>
                                <div class="ibox-tools"> <a data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label for="" class="col-sm-2 control-label" align="right">資產分類</label>
                                        @AssetCategoryControl.GenAssetCategoryControl("Parent_Asset_Category_Code", "Parent_Asset_Category_Code", "", "", "Assets_Parent_Number_S")
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label for="" class="col-sm-2 control-label" align="right">資產編號/名稱</label>
                                        <div class="col-sm-6">
                                            <select id="Assets_Parent_Number_S" class="form-control"></select>
                                        </div>
                                        <div class="col-sm-4">
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="" class="pull-right">
                                            <button type="reset" data-dismiss="modal" class="btn btn-gray"><i class="fa fa-close"> 取 消 </i></button>
                                            <button class="btn btn-primary" data-dismiss="modal" onclick="GetParentNumber();"><i class="fa fa-search"> 確 定 </i></button>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>