﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 檢視卷宗</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">保單新增作業</a>
            </li>
            <li>
                <a href="#">檢視單據</a>
            </li>
            <li>
                <a href="#">檢視卷宗</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" action="" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1060901L120000001 </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6 text-lineH-fix">總行個別新增</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">業務類型</label>
                                <div class="col-sm-6 text-lineH-fix">土地</div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-6 text-lineH-fix">001 總行</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">卷宗類型</label>
                                <div class="col-sm-6 text-lineH-fix">公文</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-primary-re">已核准</span> ( 核准日期：106-09-01 )</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">主題內容</label>
                                <div class="col-sm-9 text-lineH-fix">公營事業機構向銀行貸款處理辦法</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據處理日期</label>
                                <div class="col-sm-6 text-lineH-fix">106-09-01</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註</label>
                                <div class="col-sm-6 text-lineH-fix"></div>
                            </div>

                            <div class="col-sm-9 form-group" style="margin-top:20px;width:82%">
                                <label for="" class="col-sm-2 control-label" style="width:15%">上傳檔案</label>
                                <div class="col-sm-9">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>項次</th>
                                                    <th>檔名</th>
                                                    <th>更新人員</th>
                                                    <th>更新日期</th>
                                                    <th>檢視</th>
                                                    <th>系統註記</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>1060901_卷宗_基本資料.PDF</td>
                                                    <td>陳小明</td>
                                                    <td>106-09-01 12:00</td>
                                                    <td><a href="/download/reportA.pdf" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                                    <td class="text-danger">106-09-01_刪除</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>1060901_卷宗_合約內容.PDF</td>
                                                    <td>陳小明</td>
                                                    <td>106-09-01 12:00</td>
                                                    <td><a href="/download/reportA.pdf" class="btn btn-gray btn-circle" title="檢視"><i class="fa fa-search"></i></a></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive" style="width:95%; margin:auto">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>項次</th>
                                            <th>資產編號</th>
                                            <th>財產名稱</th>
                                            <th>財產別名</th>
                                            <th>保管單位</th>
                                            <th>保管人</th>
                                            <th>目前成本</th>
                                            <th>檢視</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>3000031B-0000001</td>
                                            <td>網路交換器</td>
                                            <td></td>
                                            <td>總行/資訊部/XX科</td>
                                            <td>陳小明</td>
                                            <td>5,000</td>
                                            <td><a class="btn btn-gray btn-circle" href="@Url.Action("AssetDetail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>3000031B-0000001</td>
                                            <td>電腦</td>
                                            <td>NB-ACER</td>
                                            <td>總行/資訊部/XX科</td>
                                            <td>陳小明</td>
                                            <td>30,000</td>
                                            <td><a class="btn btn-gray btn-circle" href="@Url.Action("AssetDetail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>3000031B-0000001</td>
                                            <td>電腦</td>
                                            <td>NB-VAIO</td>
                                            <td>總行/資訊部/XX科</td>
                                            <td>陳小明</td>
                                            <td>30,000</td>
                                            <td><a class="btn btn-gray btn-circle" href="@Url.Action("AssetDetail")" title="檢視"><i class="fa fa-search"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>