﻿<h2 id="狀態圖"><a name="狀態圖" href="#狀態圖"></a>狀態圖</h2>
<blockquote>
    <p>狀態碼程式位置<br>Library.Servant -&gt; Servant -&gt; Common -&gt; Constants -&gt; AccountStateServant.cs</p>
</blockquote>
<pre><code class="mermaid">graph TD;
  New(記帳New)--核帳--&gt;Approvaling(簽核中)
  Approvaling--簽核流程過關--&gt;PrepareEAI(EAI待拋轉)
  PrepareEAI--EAI鎖定--&gt;EAIing(EAI拋轉中);
  EAIing--EAI拋轉成功--&gt;AfterEAI
  AfterEAI--EAI確定收到--&gt;End
  AfterEAI--EAI沒收到,手動重拋--&gt;PrepareEAI
</code></pre>
<h2 id="帳務查詢與調整"><a name="帳務查詢與調整" href="#帳務查詢與調整"></a>帳務查詢與調整</h2>
<blockquote>
    <p>相關聯資料表 AS_GL_Acc_Months<br>程式碼位置:</p>
    <blockquote>
        <p>Web.Frontend -&gt; Controller -&gt; AccountingTrade -&gt; AccountingQueryController.cs</p>
    </blockquote>
    <p>根據搜尋條件查詢記帳紀錄</p>
<pre><code>1. 記帳紀錄列表查詢
2. 單筆記帳微調
3. 單筆記帳刪除
</code></pre><p>尚未完成部分</p>
<pre><code>1. 業務邏輯需寫在Servant層,而非Controller層
2. 完成第一項後,需寫成三層式架構
</code></pre>
</blockquote>
<h2 id="會計科目補輸入"><a name="會計科目補輸入" href="#會計科目補輸入"></a>會計科目補輸入</h2>
<blockquote>
    <p>相關聯資料表 AS_GL_Acc_Months<br>程式碼位置:</p>
    <blockquote>
        <p>Web.Frontend -&gt; Controller -&gt; AccountingTrade -&gt; AccountingQueryController.cs</p>
    </blockquote>
    <p>原本是併入帳務查詢與調整中的新增部份<br>因為RFP關係被拉成一獨立項目</p>
<pre><code>1. 新增單筆記帳紀錄
</code></pre><p>尚未完成部分</p>
<pre><code>1. 業務邏輯需寫在Servant層,而非Controller層
2. 完成第一項後,需寫成三層式架構
</code></pre>
</blockquote>
<h2 id="出帳(產生會計分錄)"><a name="出帳(產生會計分錄)" href="#出帳(產生會計分錄)"></a>出帳(產生會計分錄)</h2>
<blockquote>
    <p>相關聯資料表 AS_GL_Acc_Months, AS_GL_Trade_Define<br>程式碼位置:</p>
    <blockquote>
        <p>Web.Frontend -&gt; Controller -&gt; AccountingTrade -&gt; AccountingTradeController.cs</p>
    </blockquote>
    <p>出帳翻成白話文就是記帳<br>主要有兩個功能</p>
<pre><code>1. 帳務錯誤,可以用之前的功能刪除記帳紀錄,並在此重新記帳(需要交易序號)
2. 手動記帳,所有不能自動記帳的交易歸到此處
</code></pre><p>完成部分</p>
<pre><code>1. 目前只有Index
</code></pre>
</blockquote>
<h2 id="會計分錄查詢"><a name="會計分錄查詢" href="#會計分錄查詢"></a>會計分錄查詢</h2>
<blockquote>
    <p>相關聯資料表 AS_GL_Acc_Deprn, AS_GL_Acc_Months, Acc_EntriesByHeader<br>程式碼位置:</p>
    <blockquote>
        <p>Web.Frontend -&gt; Controller -&gt; AccountingTrade -&gt; AccountingEntriesController.cs</p>
    </blockquote>
    <p>根據搜尋條件產製統計報表</p>
    <p>FastReport報表檔</p>
    <blockquote>
        <p>Web.Frontend -&gt; App_Data -&gt; Reports -&gt; AccountingEntries.frx</p>
    </blockquote>
    <p>完成部分</p>
<pre><code>1. 功能本質是Query
2. 日後可能需要依據客戶需求修改報表內容,資料來源是Acc_EntriesByHeader(View Table)
</code></pre><p>尚未完成部分</p>
<pre><code>1. 如客戶無需求就不動
</code></pre>
</blockquote>
<h2 id="核帳(簽核)"><a name="核帳(簽核)" href="#核帳(簽核)"></a>核帳(簽核)</h2>
<blockquote>
    <p>相關聯資料表 AS_GL_Acc_Months<br>程式碼位置:</p>
    <blockquote>
        <p>Web.Frontend -&gt; Controller -&gt; AccountingTrade -&gt; AccountingVerifyController.cs</p>
    </blockquote>
    <p> 將已記帳的帳務紀錄送往簽核</p>
<pre><code>1. 記帳紀錄列表查詢
2. 手動送簽
</code></pre><p>完成部分</p>
<pre><code>1. 將confirm的帳務紀錄狀態從新增改為簽核中
2. 使用簽核API送簽
3. 實作簽核通過callback
</code></pre><p>尚未完成部分</p>
<pre><code>1. 其餘簽核事件callback尚未實作
2. 送簽時的表單內容callback尚未實作
</code></pre>
</blockquote>
<h2 id="會計拋轉"><a name="會計拋轉" href="#會計拋轉"></a>會計拋轉</h2>
<blockquote>
    <p>相關聯資料表 AS_GL_Acc_Months<br>程式碼位置:</p>
    <blockquote>
        <p>Web.Frontend -&gt; Controller -&gt; AccountingTrade -&gt; AccountingEAIController.cs</p>
    </blockquote>
    <p>將已簽核過關的帳務,通知EAI進行拋轉<br>伺服器會通知背景拋轉程式進行拋轉</p>
<pre><code>1. 手動拋轉
2. 拋轉狀態管理介面
</code></pre><p>尚未完成部分</p>
<pre><code>1. EAI尚未接通
2. EAI狀態管理介面
</code></pre>
</blockquote>
<h2 id="報表"><a name="報表" href="#報表"></a>報表</h2>
<h3 id="會計科目金額統計表"><a name="會計科目金額統計表" href="#會計科目金額統計表"></a>會計科目金額統計表</h3>
<blockquote>
    <p>相關聯資料表 AS_GL_Acc_Months<br>程式碼位置:</p>
    <blockquote>
        <p>Web.Frontend -&gt; Controller -&gt; AccountingReport -&gt; AccountingEntryStatisticsController.cs</p>
    </blockquote>
    <p>FastReport報表檔</p>
    <blockquote>
        <p>Web.Frontend -&gt; App_Data -&gt; Reports -&gt; AccountingEntryStatistics.frx</p>
    </blockquote>
    <p>尚未完成部分</p>
<pre><code>1. 若目前報表符合客戶需求就不動,反之則需修改報表和後台程式
</code></pre>
</blockquote>
<h3 id="會計科目金額明細表"><a name="會計科目金額明細表" href="#會計科目金額明細表"></a>會計科目金額明細表</h3>
<blockquote>
    <p>相關聯資料表 AS_GL_Acc_Months<br>程式碼位置:</p>
    <blockquote>
        <p>Web.Frontend -&gt; Controller -&gt; AccountingReport -&gt; AccountingEntryListController.cs</p>
    </blockquote>
    <p>FastReport報表檔</p>
    <blockquote>
        <p>Web.Frontend -&gt; App_Data -&gt; Reports -&gt; AccountingEntryList.frx</p>
    </blockquote>
    <p>尚未完成部分</p>
<pre><code>1. 若目前報表符合客戶需求就不動,反之則需修改報表和後台程式
</code></pre>
</blockquote>
<h3 id="當日出帳統計表"><a name="當日出帳統計表" href="#當日出帳統計表"></a>當日出帳統計表</h3>
<blockquote>
    <p>相關聯資料表 AS_GL_Acc_Months<br>程式碼位置:</p>
    <blockquote>
        <p>Web.Frontend -&gt; Controller -&gt; AccountingReport -&gt; AccountingTradeTodayStatisticsController.cs</p>
    </blockquote>
    <p>FastReport報表檔</p>
    <blockquote>
        <p>Web.Frontend -&gt; App_Data -&gt; Reports -&gt; AccountingTradeTodayStatistics.frx</p>
    </blockquote>
    <p>尚未完成部分</p>
<pre><code>1. 若目前報表符合客戶需求就不動,反之則需修改報表和後台程式
</code></pre>
</blockquote>
<h3 id="當日出帳明細表"><a name="當日出帳明細表" href="#當日出帳明細表"></a>當日出帳明細表</h3>
<blockquote>
    <p>相關聯資料表 AS_GL_Acc_Months<br>程式碼位置:</p>
    <blockquote>
        <p>Web.Frontend -&gt; Controller -&gt; AccountingReport -&gt; AccountingTradeTodayListController.cs</p>
    </blockquote>
    <p>FastReport報表檔</p>
    <blockquote>
        <p>Web.Frontend -&gt; App_Data -&gt; Reports -&gt; AccountingTradeTodayList.frx</p>
    </blockquote>
    <p>尚未完成部分</p>
<pre><code>1. 若目前報表符合客戶需求就不動,反之則需修改報表和後台程式
</code></pre>
</blockquote>

