﻿<h3 id="簽核事件"><a name="簽核事件" href="#簽核事件"></a>簽核事件</h3>
<blockquote>
    <p>簽核中所發生的事件<br>會透過callback通知送簽模組</p>
</blockquote>
<pre><code>1. OnFinish()       簽核通過時發生
2. OnRevoke()       簽核廢棄時發生
3. OnApproval()     進行簽核時發生
4. OnReject()       被退簽時發生
5. OnWithdraw()     被經辦抽回時發生
</code></pre>
<h3 id="流程圖"><a name="流程圖" href="#流程圖"></a>流程圖</h3>
<pre><code class="mermaid">graph TD;
  register(註冊callback)--&gt;create(呼叫Create取得簽核ID)
  create--&gt;start(呼叫Start啟動簽核流程)
  start--&gt;監聽簽核事件
</code></pre>
<h3 id="註冊callback"><a name="註冊callback" href="#註冊callback"></a>註冊callback</h3>
<blockquote>
    <p>專案位置<br>Library.Servant -&gt; ApprovalEventListener -&gt; EventListener.cs</p>
</blockquote>
<pre><code>1. 所有想要使用簽核的模組,都需要來這個檔案註冊
2. 用來監聽註冊事件的類別需實作介面 ApprovalEventListener.IEventListener
3. 幫註冊類別取一個名稱,Create簽核流程時須帶入此名稱
4. 簽核流程可以經由此名稱取得註冊類別,並於適當時機進行callback
</code></pre>
<blockquote>
    <p>部分程式範例</p>
</blockquote>
<pre><code class="cs">public static class EventListener
{
    public static Dictionary&lt;string, IEventListener&gt; Map { get; set; }
    static EventListener()
    {
        Map = new Dictionary&lt;string, IEventListener&gt;();
        //註冊callback並取個名稱
        Map.Add(&quot;example&quot;, new ExampleListener());
    }
}
//用來監聽事件的類別
public class ExampleListener : IEventListener
{
    public virtual bool OnFinish(string formNo, string carry, AS_LandBankEntities context)
    {
        return true;
    }
    public virtual bool OnRevoke(string formNo, string carry, AS_LandBankEntities context)
    {
        return true;
    }
    public virtual bool OnApproval(string formNo, string carry, AS_LandBankEntities context)
    {
        return true;
    }
    public virtual bool OnReject(string formNo, string carry, AS_LandBankEntities context)
    {
        return true;
    }
    public virtual bool OnWithdraw(string formNo, string carry, AS_LandBankEntities context)
    {
        return true;
    }
}
</code></pre>
<h3 id="呼叫create取得簽核id"><a name="呼叫create取得簽核id" href="#呼叫create取得簽核id"></a>呼叫Create取得簽核ID</h3>
<blockquote>
    <p>將Create和Start分開原因在於,允許草稿態存在<br>意味著我們可以先取得簽核流程代碼,再依需要啟動簽核流程<br>目前公告模組使用到此特性</p>
    <blockquote>
        <p>函式原型(虛擬碼)</p>
<pre><code class="cs">string LocalApprovalTodoServant.Create(int UserID, string DocNo, string FormBaseName, string EventListener);
</code></pre>
    </blockquote>
    <p>參數解析</p>
<pre><code>1. UserID　是發起簽核的使用者ID,如無特殊情況，使用目前登入者ID即可
2. DocNo　想要跑的流程表單代碼
3. FormBaseName　模組基本名稱，用來編碼回傳的流程ID
4. EventListener 註冊的模組名稱，如果沿用上面程式碼範例，此處填&quot;example&quot;
   (回放內容)// Map.Add(&quot;example&quot;, new ExampleListener());
5. 回傳的流程FormNo,待回的Start會用上
</code></pre>
</blockquote>
<h3 id="呼叫start啟動簽核流程"><a name="呼叫start啟動簽核流程" href="#呼叫start啟動簽核流程"></a>呼叫Start啟動簽核流程</h3>
<blockquote>
    <p>函式原型(虛擬碼)</p>
<pre><code class="cs">bool LocalApprovalTodoServant.Start(int UserID, string FormNo, string Carry);
</code></pre>
    <p>參數解析</p>
<pre><code>1. UserID　是發起簽核的使用者ID,Create和Start必須
2. FormNo 是Create流程所取得的
3. Carry  相當於簽核流程的cookie,每次callback時,會自動帶回給送簽模組
</code></pre><blockquote>
        <p>   注意!!!!Carry 目前必須帶表單內容的 Json (建議)<br>    或任何可供還原送簽時表單內容的資訊<br>    簽核模組本身無法強迫送簽模組作這件事<br>    理由是避免送簽內容於簽核中被修改<br>    如果由資料庫重組表單內容<br>    就無法避免這件事</p>
    </blockquote>
</blockquote>
<h3 id="callback原型解析"><a name="callback原型解析" href="#callback原型解析"></a>Callback原型解析</h3>
<blockquote>
    <p>以OnFinish為例</p>
<pre><code class="cs">public virtual bool OnFinish(string FormNo, string Carry, AS_LandBankEntities Context);
</code></pre>
    <p>參數解析</p>
<pre><code>1. FormNo 是 Create時產生的表單代號,這樣送簽模組可以視別是那個表單發生事件
2. Carry  是 Start所帶入的Carry內容
3. Context 是更新簽核狀態所使用的entity context
</code></pre><blockquote>
        <p>Context存在原因是因為主檔更新和簽核狀態更新是單一交易行為<br>建議送簽模組使用此entity context來更新主檔<br>簽核模組在回呼後會執行context.SaveChange()<br>如發生例外,簽核狀態不會被更新,藉以保持一致性<br>以避免簽核過關但主檔卻沒更新這種矛盾現象</p>
    </blockquote>
</blockquote>
<h6 id="簽核模組會作類似下面的事情"><a name="簽核模組會作類似下面的事情" href="#簽核模組會作類似下面的事情"></a>簽核模組會作類似下面的事情</h6>
<pre><code class="cs">using (AS_LandBankEntities db = new AS_LandBankEntities())
{
    if ( Reject(db) )
        RegisterListener.Instance(FlowID).OnReject(db);
    db.SaveChanges();
}
</code></pre>
<h3 id="表單內容呈現"><a name="表單內容呈現" href="#表單內容呈現"></a>表單內容呈現</h3>
<blockquote>
    <p>簽核是通用模組,所以它無法render的送簽表單內容<br>所以模組需要提供另外的callback來達成這點<br>目前提供兩種方式</p>
<pre><code>1. 由模組提供 PartialView,透過.Net MVC Render Partial機制
2. 模組提供網址,透過傳統的iframe機制嵌入網頁
</code></pre><blockquote>
        <p>差別在於第一項樣式表由主頁面決定,第二項可以有自己的樣式表</p>
    </blockquote>
</blockquote>
<h5 id="實作-ipartialviewprovider"><a name="實作-ipartialviewprovider" href="#實作-ipartialviewprovider"></a>實作 IPartialViewProvider</h5>
<blockquote>
    <p>範例</p>
<pre><code class="cs">public class ExamplePartialViewListener : ExampleListener, IPartialViewProvider
{
    public PartialViewModel PartialView(string FormNo, string carryData)
    {
        return new PartialViewModel { ControllerName = &quot;Example&quot;, ActionName = &quot;FormPartialView&quot;, Data = carryData };
    }
}
</code></pre>
</blockquote>
<h5 id="實作-ihttpgetprovider"><a name="實作-ihttpgetprovider" href="#實作-ihttpgetprovider"></a>實作 IHttpGetProvider</h5>
<blockquote>
    <p>範例</p>
<pre><code class="cs">public class ExampleHtmlGetViewListener : ExampleListener, IHttpGetProvider
{
    public HttpGetViewModel GetUrl(string FormNo, string carryData)
    {
        return new HttpGetViewModel { ControllerName = &quot;Example&quot;, ActionName = &quot;Form&quot;, Parameter = &quot;a=1&amp;b=2&quot; };
    }
}
</code></pre>
    <p>這裡使用了所謂的稻草人設計範式<br>不強迫註冊類別一定得實作上述兩個介面<br>如果沒有實作,那程式不會出錯,只是簽核模組無法提供表單內容給審核人員參考</p>
</blockquote>

