﻿<h2 id="三.權限機制"><a name="三.權限機制" href="#三.權限機制"></a>三.權限機制</h2>
<h3 id="第一項"><a name="第一項" href="#第一項"></a>第一項</h3>
<blockquote>
    <p>權限判斷應避免使用Header,Cookies…..</p>
    <blockquote>
        <p>答:</p>
<pre><code>1. 系統使用Session存放使用者權限,且20分鐘就會失效,未使用到問題所提到的儲存方式
</code></pre>
    </blockquote>
</blockquote>
<h2 id="四.資料驗證"><a name="四.資料驗證" href="#四.資料驗證"></a>四.資料驗證</h2>
<h3 id="第一項"><a name="第一項" href="#第一項"></a>第一項</h3>
<blockquote>
    <p>客戶端可輸入之位置,應驗證資料之有效性,以避免如SQL Injection ….</p>
    <blockquote>
        <p>答:</p>
<pre><code>1. 系統存取資料庫使用Entity Framework,不直接在程式中組SQL字串,所以無SQL Injection問題
2. 系統對於資料的輸入,進行了前台資料格式驗證,後台Data Model驗證，和資料庫業務邏輯驗證,類似script的資料不會儲存在資料庫中(防止XSS)
3. 系統使用.net mvc的View Engine產生頁面,所有輸出的Html格式皆已過濾掉敏感字元,所以不會執行儲存在資料庫的程式碼(防止XSS)
4. 系統沒有使用C/C++的非托管程式碼,只使用.Net的記憶體托管,Programmer無法配置一段記憶體來蓋掉其他託管記憶體,.Net也無法使用類似C/C++的指標來強迫程式跳轉到可變資料段,在行為上已杜絕buffer overflow attack的可能
</code></pre>
    </blockquote>
</blockquote>
<h2 id="五.稽核軌跡"><a name="五.稽核軌跡" href="#五.稽核軌跡"></a>五.稽核軌跡</h2>
<h3 id="第一項"><a name="第一項" href="#第一項"></a>第一項</h3>
<blockquote>
    <p>涉及敏感資料理的系統應考量紀錄使用者存取…..</p>
    <blockquote>
        <p>答:</p>
<pre><code>1. 系統使用.Net Mvc Controller Attribute來攔截http request,若涉及敏感資料部份,會在資料庫紀錄稽核log
</code></pre>
    </blockquote>
</blockquote>
<h3 id="第二項"><a name="第二項" href="#第二項"></a>第二項</h3>
<blockquote>
    <p>稽核資料存放位置存取權限….</p>
    <blockquote>
        <p>答:</p>
<pre><code>1. 所有稽核資料皆放在資料庫,而非檔案系統,所以只有取得資料庫存取權限的使用者或工作站,才能從中提取資料
</code></pre>
    </blockquote>
</blockquote>
<h2 id="八.檔案安全"><a name="八.檔案安全" href="#八.檔案安全"></a>八.檔案安全</h2>
<h3 id="第二項"><a name="第二項" href="#第二項"></a>第二項</h3>
<blockquote>
    <p>應用系統上傳功能,應考量……..</p>
    <blockquote>
        <p>答:</p>
<pre><code>1. IIS 8 本身預設限制上傳body是30M
2. 瀏覽器會使用 Html5 的功能讓使用者只能選取某些副檔名的檔案
3. 後台伺服器也會以白名單的形式,檢查上傳檔案副檔名
</code></pre>
    </blockquote>
</blockquote>
<h2 id="其他"><a name="其他" href="#其他"></a>其他</h2>
<h3 id="資訊管理小組審查時,對採用ssl憑證加密傳輸方式,應要求使用tls1.2......"><a name="資訊管理小組審查時,對採用ssl憑證加密傳輸方式,應要求使用tls1.2......" href="#資訊管理小組審查時,對採用ssl憑證加密傳輸方式,應要求使用tls1.2......"></a>資訊管理小組審查時,對採用SSL憑證加密傳輸方式,應要求使用TLS1.2……</h3>
<blockquote>
    <p>答:</p>
<pre><code>1. Web伺服器和AP伺服器皆採用IIS 8,所有的通訊皆以HTTPS Protocol進行資料交換
2. 伺服器加密方式皆預設為TLS 1.2
3. 與土銀內部系統通訊皆按照土銀文件規定
</code></pre>
</blockquote>
