﻿<h1 id="文件目的"><a name="文件目的" href="#文件目的"></a>文件目的</h1>
<blockquote>
    <p>原版文件過時和缺漏部分,特補充說明</p>
</blockquote>
<h3 id="金鑰交換名詞"><a name="金鑰交換名詞" href="#金鑰交換名詞"></a>金鑰交換名詞</h3>
<blockquote>
    <p>土銀EAI系統金鑰每日都會更新,客戶端通訊前需要更新金鑰</p>
    <blockquote>
        <p>加解密方法: 經調查後結果如下</p>
<pre class="cs hljs"><code class="cs" data-origin="<pre><code class=&quot;cs&quot;>var provider = new DESCryptoServiceProvider();
provider.Mode = CipherMode.ECB;
provider.Padding = PaddingMode.None;
</code></pre>"><span class="hljs-keyword">var</span> provider = <span class="hljs-keyword">new</span> DESCryptoServiceProvider();
provider.Mode = CipherMode.ECB;
provider.Padding = PaddingMode.None;
</code></pre>
        <p>初始向量: 經調查後結果如下</p>
<pre class="cs hljs"><code class="cs" data-origin="<pre><code class=&quot;cs&quot;>private static readonly string IV = &quot;0000000000000000&quot;;
private static readonly byte[] DesIV = IV.ToBytes();
</code></pre>"><span class="hljs-keyword">private</span> <span class="hljs-keyword">static</span> <span class="hljs-keyword">readonly</span> <span class="hljs-keyword">string</span> IV = <span class="hljs-string">"0000000000000000"</span>;
<span class="hljs-keyword">private</span> <span class="hljs-keyword">static</span> <span class="hljs-keyword">readonly</span> <span class="hljs-keyword">byte</span>[] DesIV = IV.ToBytes();
</code></pre>
        <p>初始機碼(InitKey): EAI用來辨別是否為來源不明的機器,測試套用機碼如下</p>
<pre class="cs hljs"><code class="cs" data-origin="<pre><code class=&quot;cs&quot;>&quot;000A27D229DCFFF6&quot;
</code></pre>"><span class="hljs-string">"000A27D229DCFFF6"</span>
</code></pre>
        <p>本日金鑰(MacKey):</p>
<pre class="cs hljs"><code class="cs" data-origin="<pre><code class=&quot;cs&quot;>EAIUtility.GenerateMacKey( &quot;初始機碼&quot;, &quot;EAI返回的加密金鑰&quot; );
</code></pre>">EAIUtility.GenerateMacKey( <span class="hljs-string">"初始機碼"</span>, <span class="hljs-string">"EAI返回的加密金鑰"</span> );
</code></pre>
        <p>交換時間(ClientDt): 格式如下</p>
<pre class="cs hljs"><code class="cs" data-origin="<pre><code class=&quot;cs&quot;>public static string ClientDt(DateTime dt)
{
    return dt.ToString(&quot;yyyy/MM/dd HH:mm:ss&quot;);
}
</code></pre>"><span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">static</span> <span class="hljs-keyword">string</span> <span class="hljs-title">ClientDt</span><span class="hljs-params">(DateTime dt)</span>
</span>{
    <span class="hljs-keyword">return</span> dt.ToString(<span class="hljs-string">"yyyy/MM/dd HH:mm:ss"</span>);
}
</code></pre>
        <p>種子時間(SeedDt): 格式如下</p>
<pre class="cs hljs"><code class="cs" data-origin="<pre><code class=&quot;cs&quot;>public static string SeedDt(DateTime dt)
{
    return &quot;F&quot; + dt.ToString(&quot;yyyyMMddHHmmss&quot;) + &quot;F&quot;;
}
</code></pre>"><span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">static</span> <span class="hljs-keyword">string</span> <span class="hljs-title">SeedDt</span><span class="hljs-params">(DateTime dt)</span>
</span>{
    <span class="hljs-keyword">return</span> <span class="hljs-string">"F"</span> + dt.ToString(<span class="hljs-string">"yyyyMMddHHmmss"</span>) + <span class="hljs-string">"F"</span>;
}
</code></pre>
    </blockquote>
</blockquote>
<h3 id="金鑰交換流程圖"><a name="金鑰交換流程圖" href="#金鑰交換流程圖"></a>金鑰交換流程圖</h3><pre><code class="mermaid" data-origin="<pre><code class=&quot;mermaid&quot;>graph TD;
  start(使用&quot;InitKey&quot; 加密 &quot;SeedDt&quot;,和&quot;ClientDt&quot;一併送出) --Http post to EAI--&amp;gt;EAI(EAI使用&quot;InitKey&quot;解密,和&quot;ClientDt&quot;比對)

  EAI --比對成功 --&amp;gt; Success(使用&quot;InitKey&quot; 加密 &quot;MacKey&quot;)
  EAI --比對失敗 --&amp;gt; Fails(直接回應)

  Fails --　Http response StatusCode!=&quot;0&quot;--&amp;gt; Retry(重試)
  Retry --&amp;gt; start

  Success --Http response StatusCode==&quot;0&quot;--&amp;gt; Save(使用&quot;InitKey&quot;　解密並儲存　&quot;MacKey&quot;)

  Save --&amp;gt; Transaction(使用&quot;MacKey&quot;進行交易)
  Transaction --&amp;gt; Use(使用&quot;MacKey&quot; 加密 &quot;SeedDt&quot;,和&quot;ClientDt&quot;一併送出)
  Use --&amp;gt; C1100(C1100 帳務主機開機交易)
  Use --&amp;gt; A1012_2(A1012_2 傳票登錄交易)
  Use --&amp;gt; J1400(J1400 自動化設備聯行帳交易)
</code></pre>" data-processed="true"><svg id="mermaidChart0" width="737.25" xmlns="http://www.w3.org/2000/svg" height="720" viewBox="0 0 737.25 720"><style type="text/css" title="mermaid-svg-internal-css">/*  */
#mermaidChart0 .node { fill:#ffa; stroke:#666; stroke-width:3px; }
#mermaidChart0 .node text  { fill:#000; stroke:none; font-weight:300; font-family:"Helvetica Neue",Helvetica,Arial,sans-serf; font-size:14px; }
#mermaidChart0 .edgeLabel text  { fill:#000; stroke:none; font-weight:300; font-family:"Helvetica Neue",Helvetica,Arial,sans-serf; font-size:14px; }
.mermaid .label { color: rgb(51, 51, 51); }
.node circle, .node polygon, .node rect { fill: rgb(236, 236, 255); stroke: rgb(204, 204, 255); stroke-width: 1px; }
.edgePath .path { stroke: rgb(51, 51, 51); }
.mermaid .label { color: rgb(51, 51, 51); }
.node circle, .node polygon, .node rect { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
.edgePath .path { stroke: rgb(0, 128, 0); stroke-width: 1.5px; }
/*  */
</style><g><g class="output"><g class="clusters"></g><g class="edgePaths"><g class="edgePath" style="opacity: 1;"><path class="path" d="M500.97033898305085,64L445,101L445,138" marker-end="url(#arrowhead47)" style="fill:none"></path><defs><marker id="arrowhead47" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto"><path d="M 0 0 L 10 5 L 0 10 z" style="fill: #333"></path></marker></defs></g><g class="edgePath" style="opacity: 1;"><path class="path" d="M369.771186440678,182L243.25,219L243.25,256" marker-end="url(#arrowhead48)" style="fill:none"></path><defs><marker id="arrowhead48" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto"><path d="M 0 0 L 10 5 L 0 10 z" style="fill: #333"></path></marker></defs></g><g class="edgePath" style="opacity: 1;"><path class="path" d="M455.53389830508473,182L473.25,219L473.25,256" marker-end="url(#arrowhead49)" style="fill:none"></path><defs><marker id="arrowhead49" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto"><path d="M 0 0 L 10 5 L 0 10 z" style="fill: #333"></path></marker></defs></g><g class="edgePath" style="opacity: 1;"><path class="path" d="M473.25,300L473.25,337L624.75,387.7869318181818" marker-end="url(#arrowhead50)" style="fill:none"></path><defs><marker id="arrowhead50" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto"><path d="M 0 0 L 10 5 L 0 10 z" style="fill: #333"></path></marker></defs></g><g class="edgePath" style="opacity: 1;"><path class="path" d="M650.1822033898305,374L651.75,337L651.75,278L651.75,219L651.75,160L651.75,101L578.0635593220339,64" marker-end="url(#arrowhead51)" style="fill:none"></path><defs><marker id="arrowhead51" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto"><path d="M 0 0 L 10 5 L 0 10 z" style="fill: #333"></path></marker></defs></g><g class="edgePath" style="opacity: 1;"><path class="path" d="M243.25,300L243.25,337L243.25,374" marker-end="url(#arrowhead52)" style="fill:none"></path><defs><marker id="arrowhead52" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto"><path d="M 0 0 L 10 5 L 0 10 z" style="fill: #333"></path></marker></defs></g><g class="edgePath" style="opacity: 1;"><path class="path" d="M243.25,418L243.25,443L243.25,468" marker-end="url(#arrowhead53)" style="fill:none"></path><defs><marker id="arrowhead53" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto"><path d="M 0 0 L 10 5 L 0 10 z" style="fill: #333"></path></marker></defs></g><g class="edgePath" style="opacity: 1;"><path class="path" d="M243.25,512L243.25,537L243.25,562" marker-end="url(#arrowhead54)" style="fill:none"></path><defs><marker id="arrowhead54" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto"><path d="M 0 0 L 10 5 L 0 10 z" style="fill: #333"></path></marker></defs></g><g class="edgePath" style="opacity: 1;"><path class="path" d="M180.4095744680851,606L109,631L109,656" marker-end="url(#arrowhead55)" style="fill:none"></path><defs><marker id="arrowhead55" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto"><path d="M 0 0 L 10 5 L 0 10 z" style="fill: #333"></path></marker></defs></g><g class="edgePath" style="opacity: 1;"><path class="path" d="M283.8563829787234,606L330,631L330,656" marker-end="url(#arrowhead56)" style="fill:none"></path><defs><marker id="arrowhead56" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto"><path d="M 0 0 L 10 5 L 0 10 z" style="fill: #333"></path></marker></defs></g><g class="edgePath" style="opacity: 1;"><path class="path" d="M393.85638297872345,606L565,631L565,656" marker-end="url(#arrowhead57)" style="fill:none"></path><defs><marker id="arrowhead57" viewBox="0 0 10 10" refX="9" refY="5" markerUnits="strokeWidth" markerWidth="8" markerHeight="6" orient="auto"><path d="M 0 0 L 10 5 L 0 10 z" style="fill: #333"></path></marker></defs></g></g><g class="edgeLabels"><g class="edgeLabel" transform="translate(445,101)" style="opacity: 1;"><g transform="translate(-58,-12)" class="label"><foreignObject width="116" height="24"><div style="display: inline-block; white-space: nowrap;"><span style="background:#e8e8e8">Http post to EAI</span></div></foreignObject></g></g><g class="edgeLabel" transform="translate(243.25,219)" style="opacity: 1;"><g transform="translate(-28.5,-12)" class="label"><foreignObject width="57" height="24"><div style="display: inline-block; white-space: nowrap;"><span style="background:#e8e8e8">比對成功</span></div></foreignObject></g></g><g class="edgeLabel" transform="translate(473.25,219)" style="opacity: 1;"><g transform="translate(-28.5,-12)" class="label"><foreignObject width="57" height="24"><div style="display: inline-block; white-space: nowrap;"><span style="background:#e8e8e8">比對失敗</span></div></foreignObject></g></g><g class="edgeLabel" transform="translate(473.25,337)" style="opacity: 1;"><g transform="translate(-105,-12)" class="label"><foreignObject width="210" height="24"><div style="display: inline-block; white-space: nowrap;"><span style="background:#e8e8e8">Http response StatusCode!="0"</span></div></foreignObject></g></g><g class="edgeLabel" transform="" style="opacity: 1;"><g transform="translate(0,0)" class="label"><foreignObject width="0" height="0"><div style="display: inline-block; white-space: nowrap;"><span style="background:#e8e8e8"></span></div></foreignObject></g></g><g class="edgeLabel" transform="translate(243.25,337)" style="opacity: 1;"><g transform="translate(-105,-12)" class="label"><foreignObject width="210" height="24"><div style="display: inline-block; white-space: nowrap;"><span style="background:#e8e8e8">Http response StatusCode=="0"</span></div></foreignObject></g></g><g class="edgeLabel" transform="" style="opacity: 1;"><g transform="translate(0,0)" class="label"><foreignObject width="0" height="0"><div style="display: inline-block; white-space: nowrap;"><span style="background:#e8e8e8"></span></div></foreignObject></g></g><g class="edgeLabel" transform="" style="opacity: 1;"><g transform="translate(0,0)" class="label"><foreignObject width="0" height="0"><div style="display: inline-block; white-space: nowrap;"><span style="background:#e8e8e8"></span></div></foreignObject></g></g><g class="edgeLabel" transform="" style="opacity: 1;"><g transform="translate(0,0)" class="label"><foreignObject width="0" height="0"><div style="display: inline-block; white-space: nowrap;"><span style="background:#e8e8e8"></span></div></foreignObject></g></g><g class="edgeLabel" transform="" style="opacity: 1;"><g transform="translate(0,0)" class="label"><foreignObject width="0" height="0"><div style="display: inline-block; white-space: nowrap;"><span style="background:#e8e8e8"></span></div></foreignObject></g></g><g class="edgeLabel" transform="" style="opacity: 1;"><g transform="translate(0,0)" class="label"><foreignObject width="0" height="0"><div style="display: inline-block; white-space: nowrap;"><span style="background:#e8e8e8"></span></div></foreignObject></g></g></g><g class="nodes"><g class="node" id="start" transform="translate(534.25,42)" style="opacity: 1;"><rect rx="5" ry="5" x="-183" y="-22" width="366" height="44"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-173,-12)"><foreignObject width="346" height="24"><div style="display: inline-block; white-space: nowrap;">使用"InitKey" 加密 "SeedDt",和"ClientDt"一併送出</div></foreignObject></g></g></g><g class="node" id="EAI" transform="translate(445,160)" style="opacity: 1;"><rect rx="5" ry="5" x="-143.5" y="-22" width="287" height="44"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-133.5,-12)"><foreignObject width="267" height="24"><div style="display: inline-block; white-space: nowrap;">EAI使用"InitKey"解密,和"ClientDt"比對</div></foreignObject></g></g></g><g class="node" id="Success" transform="translate(243.25,278)" style="opacity: 1;"><rect rx="5" ry="5" x="-107.5" y="-22" width="215" height="44"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-97.5,-12)"><foreignObject width="195" height="24"><div style="display: inline-block; white-space: nowrap;">使用"InitKey" 加密 "MacKey"</div></foreignObject></g></g></g><g class="node" id="Fails" transform="translate(473.25,278)" style="opacity: 1;"><rect rx="5" ry="5" x="-38.5" y="-22" width="77" height="44"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-28.5,-12)"><foreignObject width="57" height="24"><div style="display: inline-block; white-space: nowrap;">直接回應</div></foreignObject></g></g></g><g class="node" id="Retry" transform="translate(649.25,396)" style="opacity: 1;"><rect rx="5" ry="5" x="-24.5" y="-22" width="49" height="44"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-14.5,-12)"><foreignObject width="29" height="24"><div style="display: inline-block; white-space: nowrap;">重試</div></foreignObject></g></g></g><g class="node" id="Save" transform="translate(243.25,396)" style="opacity: 1;"><rect rx="5" ry="5" x="-135.5" y="-22" width="271" height="44"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-125.5,-12)"><foreignObject width="251" height="24"><div style="display: inline-block; white-space: nowrap;">使用"InitKey"　解密並儲存　"MacKey"</div></foreignObject></g></g></g><g class="node" id="Transaction" transform="translate(243.25,490)" style="opacity: 1;"><rect rx="5" ry="5" x="-82" y="-22" width="164" height="44"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-72,-12)"><foreignObject width="144" height="24"><div style="display: inline-block; white-space: nowrap;">使用"MacKey"進行交易</div></foreignObject></g></g></g><g class="node" id="Use" transform="translate(243.25,584)" style="opacity: 1;"><rect rx="5" ry="5" x="-179.5" y="-22" width="359" height="44"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-169.5,-12)"><foreignObject width="339" height="24"><div style="display: inline-block; white-space: nowrap;">使用"MacKey" 加密 "SeedDt",和"ClientDt"一併送出</div></foreignObject></g></g></g><g class="node" id="C1100" transform="translate(109,678)" style="opacity: 1;"><rect rx="5" ry="5" x="-89" y="-22" width="178" height="44"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-79,-12)"><foreignObject width="158" height="24"><div style="display: inline-block; white-space: nowrap;">C1100 帳務主機開機交易</div></foreignObject></g></g></g><g class="node" id="A1012_2" transform="translate(330,678)" style="opacity: 1;"><rect rx="5" ry="5" x="-82" y="-22" width="164" height="44"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-72,-12)"><foreignObject width="144" height="24"><div style="display: inline-block; white-space: nowrap;">A1012_2 傳票登錄交易</div></foreignObject></g></g></g><g class="node" id="J1400" transform="translate(565,678)" style="opacity: 1;"><rect rx="5" ry="5" x="-103" y="-22" width="206" height="44"></rect><g class="label" transform="translate(0,0)"><g transform="translate(-93,-12)"><foreignObject width="186" height="24"><div style="display: inline-block; white-space: nowrap;">J1400 自動化設備聯行帳交易</div></foreignObject></g></g></g></g></g></g></svg></code></pre>
<h3 id="資訊室交易申請單"><a name="資訊室交易申請單" href="#資訊室交易申請單"></a>資訊室交易申請單</h3>
<blockquote>
    <p>申請單開通的參數</p>
<pre><code data-origin="<pre><code>1. 連線單位: 10.253.21.198
2. 初始基碼: 898-11
3. Login-ID: SAS00ETA01
4. TellerInfo : Yes
5. Task-ID: AS
6. 櫃台機序號TRMSEQ: 1543
7. 櫃台機種類: 9
8. 交易代號: A1012_2, C1100, J1400
</code></pre>">1. 連線單位: 10.253.21.198
2. 初始基碼: 898-11
3. Login-ID: SAS00ETA01
4. TellerInfo : Yes
5. Task-ID: AS
6. 櫃台機序號TRMSEQ: 1543
7. 櫃台機種類: 9
8. 交易代號: A1012_2, C1100, J1400
</code></pre>
</blockquote>
<h3 id="更換金鑰交易"><a name="更換金鑰交易" href="#更換金鑰交易"></a>更換金鑰交易</h3>
<blockquote>
    <p>所有交易進行前,需取得本日金鑰<br>根據交易申請單需填入的私有參數:</p>
<pre class="xml hljs"><code class="xml" data-origin="<pre><code class=&quot;xml&quot;>    1. &amp;lt;SPName&amp;gt;AS&amp;lt;/SPName&amp;gt;
    2. &amp;lt;CustLoginId&amp;gt;SAS00ETA01&amp;lt;/CustLoginId&amp;gt;
</code></pre>">    1. <span class="hljs-tag">&lt;<span class="hljs-title">SPName</span>&gt;</span>AS<span class="hljs-tag">&lt;/<span class="hljs-title">SPName</span>&gt;</span>
    2. <span class="hljs-tag">&lt;<span class="hljs-title">CustLoginId</span>&gt;</span>SAS00ETA01<span class="hljs-tag">&lt;/<span class="hljs-title">CustLoginId</span>&gt;</span>
</code></pre>
</blockquote>
<h3 id="c11oo-帳務主機開機交易"><a name="c11oo-帳務主機開機交易" href="#c11oo-帳務主機開機交易"></a>C11OO 帳務主機開機交易</h3>
<blockquote>
    <p>交易前需送出開機電文<br>根據交易申請單需填入的私有參數:</p>
<pre class="xml hljs"><code class="xml" data-origin="<pre><code class=&quot;xml&quot;>    1. &amp;lt;SPName&amp;gt;AS&amp;lt;/SPName&amp;gt;
       (服務提供者名稱,文件上沒有說明此參數用途)
       (只說需與SignonRq區段內SPName相同)
       (根據交易申請單,我們填AS)
    2. &amp;lt;CustLoginId&amp;gt;SAS00ETA01&amp;lt;/CustLoginId&amp;gt;
       (服務提供者名稱)
       (文件上有說明其用途,需以負責收送XML電文server之server name命名以利辨識)
       (根據交易申請單,我們填SAS00ETA01)
    3. &amp;lt;TRMTYP&amp;gt;9&amp;lt;/TRMTYP&amp;gt;
       (櫃台機種類,文件上沒有說明此參數用途)
       (根據交易申請單,我們填9)
    4. (X) &amp;lt;TRMSEQ&amp;gt;1543&amp;lt;/TRMSEQ&amp;gt; 回應 E604 禁止交易,
           &amp;lt;TRMSEQ&amp;gt;1524&amp;lt;/TRMSEQ&amp;gt; 回應 交易成功,這組應為其它廠商所有
           (櫃台機序號,文件上沒有說明此參數用途)
           (根據交易申請單,我們填1543,但不過關,但填1524可過)
    5. &amp;lt;CryptType&amp;gt;DES1&amp;lt;/CryptType&amp;gt;
       (加密方法,文件扯了一堆,經試驗這個才是對的)
    6. &amp;lt;MsgId&amp;gt;C1100&amp;lt;/MsgId&amp;gt;
       (交易代號)
       (根據交易申請單,我們填C1100)
</code></pre>">    1. <span class="hljs-tag">&lt;<span class="hljs-title">SPName</span>&gt;</span>AS<span class="hljs-tag">&lt;/<span class="hljs-title">SPName</span>&gt;</span>
       (服務提供者名稱,文件上沒有說明此參數用途)
       (只說需與SignonRq區段內SPName相同)
       (根據交易申請單,我們填AS)
    2. <span class="hljs-tag">&lt;<span class="hljs-title">CustLoginId</span>&gt;</span>SAS00ETA01<span class="hljs-tag">&lt;/<span class="hljs-title">CustLoginId</span>&gt;</span>
       (服務提供者名稱)
       (文件上有說明其用途,需以負責收送XML電文server之server name命名以利辨識)
       (根據交易申請單,我們填SAS00ETA01)
    3. <span class="hljs-tag">&lt;<span class="hljs-title">TRMTYP</span>&gt;</span>9<span class="hljs-tag">&lt;/<span class="hljs-title">TRMTYP</span>&gt;</span>
       (櫃台機種類,文件上沒有說明此參數用途)
       (根據交易申請單,我們填9)
    4. (X) <span class="hljs-tag">&lt;<span class="hljs-title">TRMSEQ</span>&gt;</span>1543<span class="hljs-tag">&lt;/<span class="hljs-title">TRMSEQ</span>&gt;</span> 回應 E604 禁止交易,
           <span class="hljs-tag">&lt;<span class="hljs-title">TRMSEQ</span>&gt;</span>1524<span class="hljs-tag">&lt;/<span class="hljs-title">TRMSEQ</span>&gt;</span> 回應 交易成功,這組應為其它廠商所有
           (櫃台機序號,文件上沒有說明此參數用途)
           (根據交易申請單,我們填1543,但不過關,但填1524可過)
    5. <span class="hljs-tag">&lt;<span class="hljs-title">CryptType</span>&gt;</span>DES1<span class="hljs-tag">&lt;/<span class="hljs-title">CryptType</span>&gt;</span>
       (加密方法,文件扯了一堆,經試驗這個才是對的)
    6. <span class="hljs-tag">&lt;<span class="hljs-title">MsgId</span>&gt;</span>C1100<span class="hljs-tag">&lt;/<span class="hljs-title">MsgId</span>&gt;</span>
       (交易代號)
       (根據交易申請單,我們填C1100)
</code></pre>
    <p>與業務邏輯相關參數</p>
<pre class="xml hljs"><code class="xml" data-origin="<pre><code class=&quot;xml&quot;>    1. &amp;lt;KINBR&amp;gt;001&amp;lt;/KINBR&amp;gt;
       目前只有總行會通
    2. &amp;lt;AllRecCtrlIn&amp;gt;N&amp;lt;/AllRecCtrlIn&amp;gt;
       (交易折返記號,文件上沒有說明此參數用途)
       (只說 Teller Mode 系統請帶N,所以猜想應該填N)
       (線索申請單TellerInfo: Yes)
    3. &amp;lt;RqUID&amp;gt;79a67675-d8e0-4d5f-9774-ef48a59c3df6&amp;lt;/RqUID&amp;gt;
       (交易訊息序號,文件上沒有說明此參數用途)
       (此處填UUID)
    4. &amp;lt;TXTNO&amp;gt;171107115643&amp;lt;/TXTNO&amp;gt;
       (交易傳輸編號,文件上沒有說明此參數用途)
       (只說前端為 Teller Mode,由前端決定,所以先亂填)
    5. &amp;lt;XFG&amp;gt;~&amp;lt;/XFG&amp;gt;[~]
       (轉換標記,文件上沒有說明此參數用途)
       (只說新格式舊資料放[%],新格式新資料放[~])在此選擇不放
       (所以用猜的[~])
    6. &amp;lt;TTSKID&amp;gt;AS&amp;lt;/TTSKID&amp;gt;
       (端末TASK ID,文件上沒有說明此參數用途)
       (只說由EAI強制覆蓋)
       (But資訊室說這裡要填AS,在此依資訊室指示)
    7. &amp;lt;TLRNO&amp;gt;082353&amp;lt;/TLRNO&amp;gt;
       (櫃員代號)
       (這裡帶入測試帳號082353)
</code></pre>">    1. <span class="hljs-tag">&lt;<span class="hljs-title">KINBR</span>&gt;</span>001<span class="hljs-tag">&lt;/<span class="hljs-title">KINBR</span>&gt;</span>
       目前只有總行會通
    2. <span class="hljs-tag">&lt;<span class="hljs-title">AllRecCtrlIn</span>&gt;</span>N<span class="hljs-tag">&lt;/<span class="hljs-title">AllRecCtrlIn</span>&gt;</span>
       (交易折返記號,文件上沒有說明此參數用途)
       (只說 Teller Mode 系統請帶N,所以猜想應該填N)
       (線索申請單TellerInfo: Yes)
    3. <span class="hljs-tag">&lt;<span class="hljs-title">RqUID</span>&gt;</span>79a67675-d8e0-4d5f-9774-ef48a59c3df6<span class="hljs-tag">&lt;/<span class="hljs-title">RqUID</span>&gt;</span>
       (交易訊息序號,文件上沒有說明此參數用途)
       (此處填UUID)
    4. <span class="hljs-tag">&lt;<span class="hljs-title">TXTNO</span>&gt;</span>171107115643<span class="hljs-tag">&lt;/<span class="hljs-title">TXTNO</span>&gt;</span>
       (交易傳輸編號,文件上沒有說明此參數用途)
       (只說前端為 Teller Mode,由前端決定,所以先亂填)
    5. <span class="hljs-tag">&lt;<span class="hljs-title">XFG</span>&gt;</span>~<span class="hljs-tag">&lt;/<span class="hljs-title">XFG</span>&gt;</span>[~]
       (轉換標記,文件上沒有說明此參數用途)
       (只說新格式舊資料放[%],新格式新資料放[~])在此選擇不放
       (所以用猜的[~])
    6. <span class="hljs-tag">&lt;<span class="hljs-title">TTSKID</span>&gt;</span>AS<span class="hljs-tag">&lt;/<span class="hljs-title">TTSKID</span>&gt;</span>
       (端末TASK ID,文件上沒有說明此參數用途)
       (只說由EAI強制覆蓋)
       (But資訊室說這裡要填AS,在此依資訊室指示)
    7. <span class="hljs-tag">&lt;<span class="hljs-title">TLRNO</span>&gt;</span>082353<span class="hljs-tag">&lt;/<span class="hljs-title">TLRNO</span>&gt;</span>
       (櫃員代號)
       (這裡帶入測試帳號082353)
</code></pre>
    <p>成功範例</p>
<pre class="xml hljs"><code class="xml" data-origin="<pre><code class=&quot;xml&quot;>&amp;lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot; ?&amp;gt;
&amp;lt;LandBankML xmlns =&quot;urn:schema-bluestar-com:multichannel&quot; version=&quot;1.0&quot;&amp;gt;
    &amp;lt;SignonRq&amp;gt;
        &amp;lt;SignonPswd&amp;gt;
        &amp;lt;CustId&amp;gt;
        &amp;lt;SPName&amp;gt;AS&amp;lt;/SPName&amp;gt;
        &amp;lt;CustLoginId&amp;gt;SAS00ETA01&amp;lt;/CustLoginId&amp;gt;
        &amp;lt;/CustId&amp;gt;
        &amp;lt;CustPswd&amp;gt;
        &amp;lt;CryptType&amp;gt;DES1&amp;lt;/CryptType&amp;gt;
        &amp;lt;Pswd&amp;gt;81B649D9048BF986&amp;lt;/Pswd&amp;gt;
        &amp;lt;/CustPswd&amp;gt;
        &amp;lt;/SignonPswd&amp;gt;
        &amp;lt;ClientDt&amp;gt;2017/11/07 11:56:43&amp;lt;/ClientDt&amp;gt;
    &amp;lt;/SignonRq&amp;gt;
    &amp;lt;CommMsg&amp;gt;
        &amp;lt;SPName&amp;gt;AS&amp;lt;/SPName&amp;gt;
        &amp;lt;MsgId&amp;gt;C1100&amp;lt;/MsgId&amp;gt;
        &amp;lt;KINBR&amp;gt;001&amp;lt;/KINBR&amp;gt;
        &amp;lt;TRMSEQ&amp;gt;1524&amp;lt;/TRMSEQ&amp;gt;
        &amp;lt;TRMTYP&amp;gt;9&amp;lt;/TRMTYP&amp;gt;
        &amp;lt;TTSKID&amp;gt;AS&amp;lt;/TTSKID&amp;gt;
        &amp;lt;AllRecCtrlIn&amp;gt;N&amp;lt;/AllRecCtrlIn&amp;gt;
        &amp;lt;RqUID&amp;gt;79a67675-d8e0-4d5f-9774-ef48a59c3df6&amp;lt;/RqUID&amp;gt;
        &amp;lt;TXTNO&amp;gt;171107115643&amp;lt;/TXTNO&amp;gt;
        &amp;lt;XFG&amp;gt;~&amp;lt;/XFG&amp;gt;
        &amp;lt;TLRNO&amp;gt;082353&amp;lt;/TLRNO&amp;gt;
        &amp;lt;APTYPE&amp;gt;&amp;lt;/APTYPE&amp;gt;
        &amp;lt;TXNO&amp;gt;&amp;lt;/TXNO&amp;gt;
        &amp;lt;STXNO&amp;gt;&amp;lt;/STXNO&amp;gt;
        &amp;lt;PTYPE&amp;gt;&amp;lt;/PTYPE&amp;gt;
        &amp;lt;TXTYPE&amp;gt;&amp;lt;/TXTYPE&amp;gt;
        &amp;lt;CRDB&amp;gt;&amp;lt;/CRDB&amp;gt;
        &amp;lt;HCODE&amp;gt;&amp;lt;/HCODE&amp;gt;
        &amp;lt;YCODE&amp;gt;&amp;lt;/YCODE&amp;gt;
        &amp;lt;CURCD&amp;gt;&amp;lt;/CURCD&amp;gt;
        &amp;lt;TXAMT&amp;gt;&amp;lt;/TXAMT&amp;gt;
        &amp;lt;DSCPT&amp;gt;AS&amp;lt;/DSCPT&amp;gt;
        &amp;lt;MRKEY&amp;gt;&amp;lt;/MRKEY&amp;gt;
        &amp;lt;TITA_UNINO/&amp;gt;
        &amp;lt;TITA_UIDERR/&amp;gt;
        &amp;lt;ECKIN&amp;gt;&amp;lt;/ECKIN&amp;gt;
        &amp;lt;ECTRMS/&amp;gt;
        &amp;lt;ECTNO/&amp;gt;
        &amp;lt;SPCD/&amp;gt;
        &amp;lt;SPID/&amp;gt;
        &amp;lt;NBCD/&amp;gt;
        &amp;lt;TITA_ENTDD/&amp;gt;
        &amp;lt;TITA_TXDAY&amp;gt;&amp;lt;/TITA_TXDAY&amp;gt;
        &amp;lt;TITA_TXTIME&amp;gt;&amp;lt;/TITA_TXTIME&amp;gt;
        &amp;lt;ISDAY&amp;gt;&amp;lt;/ISDAY&amp;gt;
        &amp;lt;CNT&amp;gt;&amp;lt;/CNT&amp;gt;
        &amp;lt;IBSRNUM1&amp;gt;&amp;lt;/IBSRNUM1&amp;gt;
        &amp;lt;IDSCPT1&amp;gt;&amp;lt;/IDSCPT1&amp;gt;
        &amp;lt;ITXAMT1&amp;gt;&amp;lt;/ITXAMT1&amp;gt;
        &amp;lt;DEPNO&amp;gt;&amp;lt;/DEPNO&amp;gt;
        &amp;lt;ACCNO&amp;gt;&amp;lt;/ACCNO&amp;gt;
        &amp;lt;MTTPSEQ/&amp;gt;
        &amp;lt;COKEY/&amp;gt;
        &amp;lt;TITA_SECNO/&amp;gt;
        &amp;lt;TITA_SEQFG/&amp;gt;
        &amp;lt;IBFFG/&amp;gt;
        &amp;lt;SBCASH/&amp;gt;
        &amp;lt;BATCHNO/&amp;gt;
        &amp;lt;TITA_OBUFG/&amp;gt;
        &amp;lt;INBKTXNO/&amp;gt;
        &amp;lt;TITA_SYNC/&amp;gt;
        &amp;lt;TITA_SECTYPE/&amp;gt;
        &amp;lt;SRFLG/&amp;gt;
        &amp;lt;WSCNT/&amp;gt;
    &amp;lt;/CommMsg&amp;gt;
&amp;lt;/LandBankML&amp;gt;
</code></pre>"><span class="hljs-pi">&lt;?xml version="1.0" encoding="utf-8" ?&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">LandBankML</span> <span class="hljs-attribute">xmlns</span> =<span class="hljs-value">"urn:schema-bluestar-com:multichannel"</span> <span class="hljs-attribute">version</span>=<span class="hljs-value">"1.0"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">SignonRq</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SignonPswd</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">CustId</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SPName</span>&gt;</span>AS<span class="hljs-tag">&lt;/<span class="hljs-title">SPName</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">CustLoginId</span>&gt;</span>SAS00ETA01<span class="hljs-tag">&lt;/<span class="hljs-title">CustLoginId</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">CustId</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">CustPswd</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">CryptType</span>&gt;</span>DES1<span class="hljs-tag">&lt;/<span class="hljs-title">CryptType</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Pswd</span>&gt;</span>81B649D9048BF986<span class="hljs-tag">&lt;/<span class="hljs-title">Pswd</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">CustPswd</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">SignonPswd</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ClientDt</span>&gt;</span>2017/11/07 11:56:43<span class="hljs-tag">&lt;/<span class="hljs-title">ClientDt</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">SignonRq</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">CommMsg</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SPName</span>&gt;</span>AS<span class="hljs-tag">&lt;/<span class="hljs-title">SPName</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">MsgId</span>&gt;</span>C1100<span class="hljs-tag">&lt;/<span class="hljs-title">MsgId</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">KINBR</span>&gt;</span>001<span class="hljs-tag">&lt;/<span class="hljs-title">KINBR</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TRMSEQ</span>&gt;</span>1524<span class="hljs-tag">&lt;/<span class="hljs-title">TRMSEQ</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TRMTYP</span>&gt;</span>9<span class="hljs-tag">&lt;/<span class="hljs-title">TRMTYP</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TTSKID</span>&gt;</span>AS<span class="hljs-tag">&lt;/<span class="hljs-title">TTSKID</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">AllRecCtrlIn</span>&gt;</span>N<span class="hljs-tag">&lt;/<span class="hljs-title">AllRecCtrlIn</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">RqUID</span>&gt;</span>79a67675-d8e0-4d5f-9774-ef48a59c3df6<span class="hljs-tag">&lt;/<span class="hljs-title">RqUID</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TXTNO</span>&gt;</span>171107115643<span class="hljs-tag">&lt;/<span class="hljs-title">TXTNO</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">XFG</span>&gt;</span>~<span class="hljs-tag">&lt;/<span class="hljs-title">XFG</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TLRNO</span>&gt;</span>082353<span class="hljs-tag">&lt;/<span class="hljs-title">TLRNO</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">APTYPE</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">APTYPE</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TXNO</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">TXNO</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">STXNO</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">STXNO</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">PTYPE</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">PTYPE</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TXTYPE</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">TXTYPE</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">CRDB</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">CRDB</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">HCODE</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">HCODE</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">YCODE</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">YCODE</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">CURCD</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">CURCD</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TXAMT</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">TXAMT</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">DSCPT</span>&gt;</span>AS<span class="hljs-tag">&lt;/<span class="hljs-title">DSCPT</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">MRKEY</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">MRKEY</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_UNINO</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_UIDERR</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ECKIN</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">ECKIN</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ECTRMS</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ECTNO</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SPCD</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SPID</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">NBCD</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_ENTDD</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_TXDAY</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">TITA_TXDAY</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_TXTIME</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">TITA_TXTIME</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ISDAY</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">ISDAY</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">CNT</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">CNT</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">IBSRNUM1</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">IBSRNUM1</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">IDSCPT1</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">IDSCPT1</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ITXAMT1</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">ITXAMT1</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">DEPNO</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">DEPNO</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ACCNO</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">ACCNO</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">MTTPSEQ</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">COKEY</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_SECNO</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_SEQFG</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">IBFFG</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SBCASH</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">BATCHNO</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_OBUFG</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">INBKTXNO</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_SYNC</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_SECTYPE</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SRFLG</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">WSCNT</span>/&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">CommMsg</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">LandBankML</span>&gt;</span>
</code></pre>
</blockquote>
<h3 id="j1400-自動化設備聯行帳交易"><a name="j1400-自動化設備聯行帳交易" href="#j1400-自動化設備聯行帳交易"></a>J1400 自動化設備聯行帳交易</h3>
<blockquote>
    <p>聯行記帳<br>根據交易申請單需填入的私有參數:</p>
<pre class="xml hljs"><code class="xml" data-origin="<pre><code class=&quot;xml&quot;>    1. &amp;lt;SPName&amp;gt;AS&amp;lt;/SPName&amp;gt;
       (同C1100)
    2. &amp;lt;CustLoginId&amp;gt;SAS00ETA01&amp;lt;/CustLoginId&amp;gt;
       (同C1100)
    3. &amp;lt;TRMTYP&amp;gt;9&amp;lt;/TRMTYP&amp;gt;
       (同C1100)
    4. (X) &amp;lt;TRMSEQ&amp;gt;1543&amp;lt;/TRMSEQ&amp;gt; 回應 E604 禁止交易,
           &amp;lt;TRMSEQ&amp;gt;1524&amp;lt;/TRMSEQ&amp;gt; 回應 交易成功,這組應為其它廠商所有
           (同C1100)
    5. &amp;lt;CryptType&amp;gt;DES1&amp;lt;/CryptType&amp;gt;
       (同C1100)
    6. &amp;lt;MsgId&amp;gt;J1400&amp;lt;/MsgId&amp;gt;
       (交易代號)
       (根據交易申請單,我們填J1400)
</code></pre>">    1. <span class="hljs-tag">&lt;<span class="hljs-title">SPName</span>&gt;</span>AS<span class="hljs-tag">&lt;/<span class="hljs-title">SPName</span>&gt;</span>
       (同C1100)
    2. <span class="hljs-tag">&lt;<span class="hljs-title">CustLoginId</span>&gt;</span>SAS00ETA01<span class="hljs-tag">&lt;/<span class="hljs-title">CustLoginId</span>&gt;</span>
       (同C1100)
    3. <span class="hljs-tag">&lt;<span class="hljs-title">TRMTYP</span>&gt;</span>9<span class="hljs-tag">&lt;/<span class="hljs-title">TRMTYP</span>&gt;</span>
       (同C1100)
    4. (X) <span class="hljs-tag">&lt;<span class="hljs-title">TRMSEQ</span>&gt;</span>1543<span class="hljs-tag">&lt;/<span class="hljs-title">TRMSEQ</span>&gt;</span> 回應 E604 禁止交易,
           <span class="hljs-tag">&lt;<span class="hljs-title">TRMSEQ</span>&gt;</span>1524<span class="hljs-tag">&lt;/<span class="hljs-title">TRMSEQ</span>&gt;</span> 回應 交易成功,這組應為其它廠商所有
           (同C1100)
    5. <span class="hljs-tag">&lt;<span class="hljs-title">CryptType</span>&gt;</span>DES1<span class="hljs-tag">&lt;/<span class="hljs-title">CryptType</span>&gt;</span>
       (同C1100)
    6. <span class="hljs-tag">&lt;<span class="hljs-title">MsgId</span>&gt;</span>J1400<span class="hljs-tag">&lt;/<span class="hljs-title">MsgId</span>&gt;</span>
       (交易代號)
       (根據交易申請單,我們填J1400)
</code></pre>
    <p>與業務邏輯相關參數</p>
</blockquote><pre class="xml hljs"><code class="xml" data-origin="<pre><code class=&quot;xml&quot;>    1. &amp;lt;KINBR&amp;gt;001&amp;lt;/KINBR&amp;gt;
       (同C1100)
    2. &amp;lt;AllRecCtrlIn&amp;gt;N&amp;lt;/AllRecCtrlIn&amp;gt;
       (同C1100)
    3. &amp;lt;RqUID&amp;gt;24b86d1b-d112-4768-b820-b0a7f52cd038&amp;lt;/RqUID&amp;gt;
       (同C1100,自產)
    4. &amp;lt;TXTNO&amp;gt;171107115643&amp;lt;/TXTNO&amp;gt;
       (同C1100,自產)
    5. &amp;lt;XFG&amp;gt;~&amp;lt;/XFG&amp;gt;[~]
       (同C1100)
    6. &amp;lt;TTSKID&amp;gt;AS&amp;lt;/TTSKID&amp;gt;
       (同C1100)
    7. &amp;lt;TLRNO&amp;gt;082353&amp;lt;/TLRNO&amp;gt;
       (同C1100)
    8. &amp;lt;ECKIN&amp;gt;&amp;lt;/ECKIN&amp;gt;
       (原輸入行別,文件上沒有說明此參數用途)
       (只說如需EC時才給值不EC時則不放)
       (資訊量不足,不知道放什麼,故選擇不放)
    9. &amp;lt;ECTRMS&amp;gt;&amp;lt;/ECTRMS&amp;gt;
       (原櫃台機序號,文件上沒有說明此參數用途)
       (只說如需EC時才給值不EC時則不放)
       (資訊量不足,不知道放什麼,故選擇不放)
    10. &amp;lt;ECTNO&amp;gt;&amp;lt;/ECTNO&amp;gt;
       (原交易傳輸編號,文件上沒有說明此參數用途)
       (資訊量不足,不知道放什麼,故選擇不放)
    11. &amp;lt;COKEY&amp;gt;&amp;lt;/COKEY&amp;gt;
       (對方帳號,文件上沒有說明此參數用途)
       (資訊量不足,不知道放什麼,故選擇不放)
    12. &amp;lt;TITA_OBUFG&amp;gt;&amp;lt;/TITA_OBUFG&amp;gt;
       (OBU 記號,文件上沒有說明此參數用途)
       (資訊量不足,不知道放什麼,故選擇不放)
    13. &amp;lt;MRKEY&amp;gt;07205801&amp;lt;/MRKEY&amp;gt;
       (帳號,文件上沒有說明此參數用途)
       (參考資訊室給的某廠商example給值)
    14. &amp;lt;TITA_SECTYPE&amp;gt;&amp;lt;/TITA_SECTYPE&amp;gt;
       (憑證代號,文件上沒有說明此參數用途)
       (只說新增憑證欄位,以因應銀行公會通路交易調查所須)
       (資訊量不足,不知道放什麼,故選擇不放)
    15. &amp;lt;PTYPE&amp;gt;&amp;lt;/PTYPE&amp;gt;
       (處理型態,文件上沒有說明此參數用途)
       (只說由EAI強制給值)
       (故選擇留空)
    16. &amp;lt;APTYPE&amp;gt;&amp;lt;/APTYPE&amp;gt;
       (業務大類,文件上沒有說明此參數用途)
       (只說由EAI強制給值)
       (故選擇留空)
    17. &amp;lt;TXNO&amp;gt;04&amp;lt;/TXNO&amp;gt;
        (交易代號,文件上沒有說明此參數用途)
        (參考資訊室給的某廠商example給值)
    18. &amp;lt;STXNO&amp;gt;00&amp;lt;/STXNO&amp;gt;
        (次交易代號,文件上沒有說明此參數用途)
        (參考資訊室給的某廠商example給值)
    19. &amp;lt;TXTYPE&amp;gt;H&amp;lt;/TXTYPE&amp;gt;
        (帳務別,文件上沒有說明此參數用途)
        (參考資訊室給的某廠商example給值)
    20. &amp;lt;CRDB&amp;gt;1&amp;lt;/CRDB&amp;gt;
         (借貸別,文件上沒有說明借貸分別需填什麼數值)
        (參考資訊室給的某廠商example給值)
    21. &amp;lt;HCODE&amp;gt;0&amp;lt;/HCODE&amp;gt;
        (更正記號)
    22. &amp;lt;CURCD&amp;gt;0&amp;lt;/CURCD&amp;gt;
        (幣別)
    23. &amp;lt;TXAMT&amp;gt;0&amp;lt;/TXAMT&amp;gt;
        (交易金額)
    24. &amp;lt;TITA_TXDAY&amp;gt;20170920&amp;lt;/TITA_TXDAY&amp;gt;
        (實際交易日)
    25. &amp;lt;TITA_TXTIME&amp;gt;11021011&amp;lt;/TITA_TXTIME&amp;gt;
        (實際交易時間)
    26. &amp;lt;ISDAY&amp;gt;1060920&amp;lt;/ISDAY&amp;gt;
        (文件上未提及)
    27. &amp;lt;CNT&amp;gt;1&amp;lt;/CNT&amp;gt;
        (文件上未提及)
    28. &amp;lt;IBSRNUM1&amp;gt;823202&amp;lt;/IBSRNUM1&amp;gt;
        (文件上未提及)
    29. &amp;lt;IDSCPT1&amp;gt;CHAS&amp;lt;/IDSCPT1&amp;gt;
        (文件上未提及)
    30. &amp;lt;ITXAMT1&amp;gt;125729&amp;lt;/ITXAMT1&amp;gt;
        (文件上未提及)
    31. &amp;lt;DEPNO&amp;gt;00&amp;lt;/DEPNO&amp;gt;
        (文件上未提及)
    32. &amp;lt;ACCNO&amp;gt;1405049900&amp;lt;/ACCNO&amp;gt;
        (文件上未提及)
</code></pre>">    1. <span class="hljs-tag">&lt;<span class="hljs-title">KINBR</span>&gt;</span>001<span class="hljs-tag">&lt;/<span class="hljs-title">KINBR</span>&gt;</span>
       (同C1100)
    2. <span class="hljs-tag">&lt;<span class="hljs-title">AllRecCtrlIn</span>&gt;</span>N<span class="hljs-tag">&lt;/<span class="hljs-title">AllRecCtrlIn</span>&gt;</span>
       (同C1100)
    3. <span class="hljs-tag">&lt;<span class="hljs-title">RqUID</span>&gt;</span>24b86d1b-d112-4768-b820-b0a7f52cd038<span class="hljs-tag">&lt;/<span class="hljs-title">RqUID</span>&gt;</span>
       (同C1100,自產)
    4. <span class="hljs-tag">&lt;<span class="hljs-title">TXTNO</span>&gt;</span>171107115643<span class="hljs-tag">&lt;/<span class="hljs-title">TXTNO</span>&gt;</span>
       (同C1100,自產)
    5. <span class="hljs-tag">&lt;<span class="hljs-title">XFG</span>&gt;</span>~<span class="hljs-tag">&lt;/<span class="hljs-title">XFG</span>&gt;</span>[~]
       (同C1100)
    6. <span class="hljs-tag">&lt;<span class="hljs-title">TTSKID</span>&gt;</span>AS<span class="hljs-tag">&lt;/<span class="hljs-title">TTSKID</span>&gt;</span>
       (同C1100)
    7. <span class="hljs-tag">&lt;<span class="hljs-title">TLRNO</span>&gt;</span>082353<span class="hljs-tag">&lt;/<span class="hljs-title">TLRNO</span>&gt;</span>
       (同C1100)
    8. <span class="hljs-tag">&lt;<span class="hljs-title">ECKIN</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">ECKIN</span>&gt;</span>
       (原輸入行別,文件上沒有說明此參數用途)
       (只說如需EC時才給值不EC時則不放)
       (資訊量不足,不知道放什麼,故選擇不放)
    9. <span class="hljs-tag">&lt;<span class="hljs-title">ECTRMS</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">ECTRMS</span>&gt;</span>
       (原櫃台機序號,文件上沒有說明此參數用途)
       (只說如需EC時才給值不EC時則不放)
       (資訊量不足,不知道放什麼,故選擇不放)
    10. <span class="hljs-tag">&lt;<span class="hljs-title">ECTNO</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">ECTNO</span>&gt;</span>
       (原交易傳輸編號,文件上沒有說明此參數用途)
       (資訊量不足,不知道放什麼,故選擇不放)
    11. <span class="hljs-tag">&lt;<span class="hljs-title">COKEY</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">COKEY</span>&gt;</span>
       (對方帳號,文件上沒有說明此參數用途)
       (資訊量不足,不知道放什麼,故選擇不放)
    12. <span class="hljs-tag">&lt;<span class="hljs-title">TITA_OBUFG</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">TITA_OBUFG</span>&gt;</span>
       (OBU 記號,文件上沒有說明此參數用途)
       (資訊量不足,不知道放什麼,故選擇不放)
    13. <span class="hljs-tag">&lt;<span class="hljs-title">MRKEY</span>&gt;</span>07205801<span class="hljs-tag">&lt;/<span class="hljs-title">MRKEY</span>&gt;</span>
       (帳號,文件上沒有說明此參數用途)
       (參考資訊室給的某廠商example給值)
    14. <span class="hljs-tag">&lt;<span class="hljs-title">TITA_SECTYPE</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">TITA_SECTYPE</span>&gt;</span>
       (憑證代號,文件上沒有說明此參數用途)
       (只說新增憑證欄位,以因應銀行公會通路交易調查所須)
       (資訊量不足,不知道放什麼,故選擇不放)
    15. <span class="hljs-tag">&lt;<span class="hljs-title">PTYPE</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">PTYPE</span>&gt;</span>
       (處理型態,文件上沒有說明此參數用途)
       (只說由EAI強制給值)
       (故選擇留空)
    16. <span class="hljs-tag">&lt;<span class="hljs-title">APTYPE</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">APTYPE</span>&gt;</span>
       (業務大類,文件上沒有說明此參數用途)
       (只說由EAI強制給值)
       (故選擇留空)
    17. <span class="hljs-tag">&lt;<span class="hljs-title">TXNO</span>&gt;</span>04<span class="hljs-tag">&lt;/<span class="hljs-title">TXNO</span>&gt;</span>
        (交易代號,文件上沒有說明此參數用途)
        (參考資訊室給的某廠商example給值)
    18. <span class="hljs-tag">&lt;<span class="hljs-title">STXNO</span>&gt;</span>00<span class="hljs-tag">&lt;/<span class="hljs-title">STXNO</span>&gt;</span>
        (次交易代號,文件上沒有說明此參數用途)
        (參考資訊室給的某廠商example給值)
    19. <span class="hljs-tag">&lt;<span class="hljs-title">TXTYPE</span>&gt;</span>H<span class="hljs-tag">&lt;/<span class="hljs-title">TXTYPE</span>&gt;</span>
        (帳務別,文件上沒有說明此參數用途)
        (參考資訊室給的某廠商example給值)
    20. <span class="hljs-tag">&lt;<span class="hljs-title">CRDB</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-title">CRDB</span>&gt;</span>
         (借貸別,文件上沒有說明借貸分別需填什麼數值)
        (參考資訊室給的某廠商example給值)
    21. <span class="hljs-tag">&lt;<span class="hljs-title">HCODE</span>&gt;</span>0<span class="hljs-tag">&lt;/<span class="hljs-title">HCODE</span>&gt;</span>
        (更正記號)
    22. <span class="hljs-tag">&lt;<span class="hljs-title">CURCD</span>&gt;</span>0<span class="hljs-tag">&lt;/<span class="hljs-title">CURCD</span>&gt;</span>
        (幣別)
    23. <span class="hljs-tag">&lt;<span class="hljs-title">TXAMT</span>&gt;</span>0<span class="hljs-tag">&lt;/<span class="hljs-title">TXAMT</span>&gt;</span>
        (交易金額)
    24. <span class="hljs-tag">&lt;<span class="hljs-title">TITA_TXDAY</span>&gt;</span>20170920<span class="hljs-tag">&lt;/<span class="hljs-title">TITA_TXDAY</span>&gt;</span>
        (實際交易日)
    25. <span class="hljs-tag">&lt;<span class="hljs-title">TITA_TXTIME</span>&gt;</span>11021011<span class="hljs-tag">&lt;/<span class="hljs-title">TITA_TXTIME</span>&gt;</span>
        (實際交易時間)
    26. <span class="hljs-tag">&lt;<span class="hljs-title">ISDAY</span>&gt;</span>1060920<span class="hljs-tag">&lt;/<span class="hljs-title">ISDAY</span>&gt;</span>
        (文件上未提及)
    27. <span class="hljs-tag">&lt;<span class="hljs-title">CNT</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-title">CNT</span>&gt;</span>
        (文件上未提及)
    28. <span class="hljs-tag">&lt;<span class="hljs-title">IBSRNUM1</span>&gt;</span>823202<span class="hljs-tag">&lt;/<span class="hljs-title">IBSRNUM1</span>&gt;</span>
        (文件上未提及)
    29. <span class="hljs-tag">&lt;<span class="hljs-title">IDSCPT1</span>&gt;</span>CHAS<span class="hljs-tag">&lt;/<span class="hljs-title">IDSCPT1</span>&gt;</span>
        (文件上未提及)
    30. <span class="hljs-tag">&lt;<span class="hljs-title">ITXAMT1</span>&gt;</span>125729<span class="hljs-tag">&lt;/<span class="hljs-title">ITXAMT1</span>&gt;</span>
        (文件上未提及)
    31. <span class="hljs-tag">&lt;<span class="hljs-title">DEPNO</span>&gt;</span>00<span class="hljs-tag">&lt;/<span class="hljs-title">DEPNO</span>&gt;</span>
        (文件上未提及)
    32. <span class="hljs-tag">&lt;<span class="hljs-title">ACCNO</span>&gt;</span>1405049900<span class="hljs-tag">&lt;/<span class="hljs-title">ACCNO</span>&gt;</span>
        (文件上未提及)
</code></pre>
<blockquote>
    <p>成功範例</p>
</blockquote><pre class="xml hljs"><code class="xml" data-origin="<pre><code class=&quot;xml&quot;>&amp;lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot; ?&amp;gt;
&amp;lt;LandBankML xmlns =&quot;urn:schema-bluestar-com:multichannel&quot; version=&quot;1.0&quot;&amp;gt;
    &amp;lt;SignonRq&amp;gt;
        &amp;lt;SignonPswd&amp;gt;
        &amp;lt;CustId&amp;gt;
        &amp;lt;SPName&amp;gt;AS&amp;lt;/SPName&amp;gt;
        &amp;lt;CustLoginId&amp;gt;SAS00ETA01&amp;lt;/CustLoginId&amp;gt;
        &amp;lt;/CustId&amp;gt;
        &amp;lt;CustPswd&amp;gt;
        &amp;lt;CryptType&amp;gt;DES1&amp;lt;/CryptType&amp;gt;
        &amp;lt;Pswd&amp;gt;3A0ADDAC1E049F15&amp;lt;/Pswd&amp;gt;
        &amp;lt;/CustPswd&amp;gt;
        &amp;lt;/SignonPswd&amp;gt;
        &amp;lt;ClientDt&amp;gt;2017/11/08 11:38:39&amp;lt;/ClientDt&amp;gt;
    &amp;lt;/SignonRq&amp;gt;

    &amp;lt;CommMsg&amp;gt;
        &amp;lt;SPName&amp;gt;AS&amp;lt;/SPName&amp;gt;
        &amp;lt;MsgId&amp;gt;J1400&amp;lt;/MsgId&amp;gt;
        &amp;lt;KINBR&amp;gt;001&amp;lt;/KINBR&amp;gt;
        &amp;lt;TRMSEQ&amp;gt;1524&amp;lt;/TRMSEQ&amp;gt;
        &amp;lt;TRMTYP&amp;gt;9&amp;lt;/TRMTYP&amp;gt;
        &amp;lt;TTSKID&amp;gt;AS&amp;lt;/TTSKID&amp;gt;
        &amp;lt;AllRecCtrlIn&amp;gt;N&amp;lt;/AllRecCtrlIn&amp;gt;
        &amp;lt;RqUID&amp;gt;24b86d1b-d112-4768-b820-b0a7f52cd038&amp;lt;/RqUID&amp;gt;
        &amp;lt;TXTNO&amp;gt;171108113840&amp;lt;/TXTNO&amp;gt;
        &amp;lt;XFG&amp;gt;~&amp;lt;/XFG&amp;gt;
        &amp;lt;TLRNO&amp;gt;082353&amp;lt;/TLRNO&amp;gt;
        &amp;lt;APTYPE&amp;gt;&amp;lt;/APTYPE&amp;gt;
        &amp;lt;TXNO&amp;gt;14&amp;lt;/TXNO&amp;gt;
        &amp;lt;STXNO&amp;gt;00&amp;lt;/STXNO&amp;gt;
        &amp;lt;PTYPE&amp;gt;&amp;lt;/PTYPE&amp;gt;
        &amp;lt;TXTYPE&amp;gt;H&amp;lt;/TXTYPE&amp;gt;
        &amp;lt;CRDB&amp;gt;1&amp;lt;/CRDB&amp;gt;
        &amp;lt;HCODE&amp;gt;0&amp;lt;/HCODE&amp;gt;
        &amp;lt;YCODE&amp;gt;&amp;lt;/YCODE&amp;gt;
        &amp;lt;CURCD&amp;gt;0&amp;lt;/CURCD&amp;gt;
        &amp;lt;TXAMT&amp;gt;0&amp;lt;/TXAMT&amp;gt;
        &amp;lt;DSCPT&amp;gt;AS&amp;lt;/DSCPT&amp;gt;
        &amp;lt;MRKEY&amp;gt;07205801&amp;lt;/MRKEY&amp;gt;
        &amp;lt;TITA_UNINO/&amp;gt;
        &amp;lt;TITA_UIDERR/&amp;gt;
        &amp;lt;ECKIN/&amp;gt;
        &amp;lt;ECTRMS/&amp;gt;
        &amp;lt;ECTNO/&amp;gt;
        &amp;lt;SPCD/&amp;gt;
        &amp;lt;SPID/&amp;gt;
        &amp;lt;NBCD/&amp;gt;
        &amp;lt;TITA_ENTDD/&amp;gt;
        &amp;lt;TITA_TXDAY&amp;gt;20170920&amp;lt;/TITA_TXDAY&amp;gt;
        &amp;lt;TITA_TXTIME&amp;gt;11021011&amp;lt;/TITA_TXTIME&amp;gt;
        &amp;lt;ISDAY&amp;gt;1060920&amp;lt;/ISDAY&amp;gt;
        &amp;lt;CNT&amp;gt;1&amp;lt;/CNT&amp;gt;
        &amp;lt;IBSRNUM1&amp;gt;823202&amp;lt;/IBSRNUM1&amp;gt;
        &amp;lt;IDSCPT1&amp;gt;CHAS&amp;lt;/IDSCPT1&amp;gt;
        &amp;lt;ITXAMT1&amp;gt;125729&amp;lt;/ITXAMT1&amp;gt;
        &amp;lt;DEPNO&amp;gt;00&amp;lt;/DEPNO&amp;gt;
        &amp;lt;ACCNO&amp;gt;1405049900&amp;lt;/ACCNO&amp;gt;
        &amp;lt;MTTPSEQ/&amp;gt;
        &amp;lt;COKEY/&amp;gt;
        &amp;lt;TITA_SECNO/&amp;gt;
        &amp;lt;TITA_SEQFG/&amp;gt;
        &amp;lt;IBFFG/&amp;gt;
        &amp;lt;SBCASH/&amp;gt;
        &amp;lt;BATCHNO/&amp;gt;
        &amp;lt;TITA_OBUFG/&amp;gt;
        &amp;lt;INBKTXNO/&amp;gt;
        &amp;lt;TITA_SYNC/&amp;gt;
        &amp;lt;TITA_SECTYPE/&amp;gt;
        &amp;lt;SRFLG/&amp;gt;
        &amp;lt;WSCNT/&amp;gt;
    &amp;lt;/CommMsg&amp;gt;
&amp;lt;/LandBankML&amp;gt;
</code></pre>"><span class="hljs-pi">&lt;?xml version="1.0" encoding="utf-8" ?&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">LandBankML</span> <span class="hljs-attribute">xmlns</span> =<span class="hljs-value">"urn:schema-bluestar-com:multichannel"</span> <span class="hljs-attribute">version</span>=<span class="hljs-value">"1.0"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">SignonRq</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SignonPswd</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">CustId</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SPName</span>&gt;</span>AS<span class="hljs-tag">&lt;/<span class="hljs-title">SPName</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">CustLoginId</span>&gt;</span>SAS00ETA01<span class="hljs-tag">&lt;/<span class="hljs-title">CustLoginId</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">CustId</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">CustPswd</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">CryptType</span>&gt;</span>DES1<span class="hljs-tag">&lt;/<span class="hljs-title">CryptType</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Pswd</span>&gt;</span>3A0ADDAC1E049F15<span class="hljs-tag">&lt;/<span class="hljs-title">Pswd</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">CustPswd</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">SignonPswd</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ClientDt</span>&gt;</span>2017/11/08 11:38:39<span class="hljs-tag">&lt;/<span class="hljs-title">ClientDt</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">SignonRq</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-title">CommMsg</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SPName</span>&gt;</span>AS<span class="hljs-tag">&lt;/<span class="hljs-title">SPName</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">MsgId</span>&gt;</span>J1400<span class="hljs-tag">&lt;/<span class="hljs-title">MsgId</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">KINBR</span>&gt;</span>001<span class="hljs-tag">&lt;/<span class="hljs-title">KINBR</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TRMSEQ</span>&gt;</span>1524<span class="hljs-tag">&lt;/<span class="hljs-title">TRMSEQ</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TRMTYP</span>&gt;</span>9<span class="hljs-tag">&lt;/<span class="hljs-title">TRMTYP</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TTSKID</span>&gt;</span>AS<span class="hljs-tag">&lt;/<span class="hljs-title">TTSKID</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">AllRecCtrlIn</span>&gt;</span>N<span class="hljs-tag">&lt;/<span class="hljs-title">AllRecCtrlIn</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">RqUID</span>&gt;</span>24b86d1b-d112-4768-b820-b0a7f52cd038<span class="hljs-tag">&lt;/<span class="hljs-title">RqUID</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TXTNO</span>&gt;</span>171108113840<span class="hljs-tag">&lt;/<span class="hljs-title">TXTNO</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">XFG</span>&gt;</span>~<span class="hljs-tag">&lt;/<span class="hljs-title">XFG</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TLRNO</span>&gt;</span>082353<span class="hljs-tag">&lt;/<span class="hljs-title">TLRNO</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">APTYPE</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">APTYPE</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TXNO</span>&gt;</span>14<span class="hljs-tag">&lt;/<span class="hljs-title">TXNO</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">STXNO</span>&gt;</span>00<span class="hljs-tag">&lt;/<span class="hljs-title">STXNO</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">PTYPE</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">PTYPE</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TXTYPE</span>&gt;</span>H<span class="hljs-tag">&lt;/<span class="hljs-title">TXTYPE</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">CRDB</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-title">CRDB</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">HCODE</span>&gt;</span>0<span class="hljs-tag">&lt;/<span class="hljs-title">HCODE</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">YCODE</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">YCODE</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">CURCD</span>&gt;</span>0<span class="hljs-tag">&lt;/<span class="hljs-title">CURCD</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TXAMT</span>&gt;</span>0<span class="hljs-tag">&lt;/<span class="hljs-title">TXAMT</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">DSCPT</span>&gt;</span>AS<span class="hljs-tag">&lt;/<span class="hljs-title">DSCPT</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">MRKEY</span>&gt;</span>07205801<span class="hljs-tag">&lt;/<span class="hljs-title">MRKEY</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_UNINO</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_UIDERR</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ECKIN</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ECTRMS</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ECTNO</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SPCD</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SPID</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">NBCD</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_ENTDD</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_TXDAY</span>&gt;</span>20170920<span class="hljs-tag">&lt;/<span class="hljs-title">TITA_TXDAY</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_TXTIME</span>&gt;</span>11021011<span class="hljs-tag">&lt;/<span class="hljs-title">TITA_TXTIME</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ISDAY</span>&gt;</span>1060920<span class="hljs-tag">&lt;/<span class="hljs-title">ISDAY</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">CNT</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-title">CNT</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">IBSRNUM1</span>&gt;</span>823202<span class="hljs-tag">&lt;/<span class="hljs-title">IBSRNUM1</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">IDSCPT1</span>&gt;</span>CHAS<span class="hljs-tag">&lt;/<span class="hljs-title">IDSCPT1</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ITXAMT1</span>&gt;</span>125729<span class="hljs-tag">&lt;/<span class="hljs-title">ITXAMT1</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">DEPNO</span>&gt;</span>00<span class="hljs-tag">&lt;/<span class="hljs-title">DEPNO</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ACCNO</span>&gt;</span>1405049900<span class="hljs-tag">&lt;/<span class="hljs-title">ACCNO</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">MTTPSEQ</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">COKEY</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_SECNO</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_SEQFG</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">IBFFG</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SBCASH</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">BATCHNO</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_OBUFG</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">INBKTXNO</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_SYNC</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_SECTYPE</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SRFLG</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">WSCNT</span>/&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">CommMsg</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">LandBankML</span>&gt;</span>
</code></pre>
<h3 id="a1012_2-傳票登錄交易"><a name="a1012_2-傳票登錄交易" href="#a1012_2-傳票登錄交易"></a>A1012_2 傳票登錄交易</h3>
<blockquote>
    <p>根據交易申請單需填入的私有參數</p>
<pre class="xml hljs"><code class="xml" data-origin="<pre><code class=&quot;xml&quot;>    1. &amp;lt;SPName&amp;gt;AS&amp;lt;/SPName&amp;gt;
       (同C1100)
    2. &amp;lt;CustLoginId&amp;gt;SAS00ETA01&amp;lt;/CustLoginId&amp;gt;
       (同C1100)
    3. &amp;lt;TRMTYP&amp;gt;9&amp;lt;/TRMTYP&amp;gt;
       (同C1100)
    4. (X) &amp;lt;TRMSEQ&amp;gt;1543&amp;lt;/TRMSEQ&amp;gt; 回應 E604 禁止交易,
           &amp;lt;TRMSEQ&amp;gt;1524&amp;lt;/TRMSEQ&amp;gt; 回應 交易成功,這組應為其它廠商所有
           (同C1100)
    5. &amp;lt;CryptType&amp;gt;DES1&amp;lt;/CryptType&amp;gt;
       (同C1100)
    6. &amp;lt;MsgId&amp;gt;C1100&amp;lt;/MsgId&amp;gt;
       (交易代號)
       (根據交易申請單,我們填A1012_2)
</code></pre>">    1. <span class="hljs-tag">&lt;<span class="hljs-title">SPName</span>&gt;</span>AS<span class="hljs-tag">&lt;/<span class="hljs-title">SPName</span>&gt;</span>
       (同C1100)
    2. <span class="hljs-tag">&lt;<span class="hljs-title">CustLoginId</span>&gt;</span>SAS00ETA01<span class="hljs-tag">&lt;/<span class="hljs-title">CustLoginId</span>&gt;</span>
       (同C1100)
    3. <span class="hljs-tag">&lt;<span class="hljs-title">TRMTYP</span>&gt;</span>9<span class="hljs-tag">&lt;/<span class="hljs-title">TRMTYP</span>&gt;</span>
       (同C1100)
    4. (X) <span class="hljs-tag">&lt;<span class="hljs-title">TRMSEQ</span>&gt;</span>1543<span class="hljs-tag">&lt;/<span class="hljs-title">TRMSEQ</span>&gt;</span> 回應 E604 禁止交易,
           <span class="hljs-tag">&lt;<span class="hljs-title">TRMSEQ</span>&gt;</span>1524<span class="hljs-tag">&lt;/<span class="hljs-title">TRMSEQ</span>&gt;</span> 回應 交易成功,這組應為其它廠商所有
           (同C1100)
    5. <span class="hljs-tag">&lt;<span class="hljs-title">CryptType</span>&gt;</span>DES1<span class="hljs-tag">&lt;/<span class="hljs-title">CryptType</span>&gt;</span>
       (同C1100)
    6. <span class="hljs-tag">&lt;<span class="hljs-title">MsgId</span>&gt;</span>C1100<span class="hljs-tag">&lt;/<span class="hljs-title">MsgId</span>&gt;</span>
       (交易代號)
       (根據交易申請單,我們填A1012_2)
</code></pre>
    <p>尚未成功<br>下面是最接近的樣例<br>錯誤訊息 E055 - 輸入行別錯誤</p>
<pre class="xml hljs"><code class="xml" data-origin="<pre><code class=&quot;xml&quot;>&amp;lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot; ?&amp;gt;&amp;lt;LandBankML xmlns =&quot;urn:schema-bluestar-com:multichannel&quot; version=&quot;1.0&quot;&amp;gt;
    &amp;lt;SignonRq&amp;gt;
        &amp;lt;SignonPswd&amp;gt;
        &amp;lt;CustId&amp;gt;
        &amp;lt;SPName&amp;gt;AS&amp;lt;/SPName&amp;gt;
        &amp;lt;CustLoginId&amp;gt;SAS00ETA01&amp;lt;/CustLoginId&amp;gt;
        &amp;lt;/CustId&amp;gt;
        &amp;lt;CustPswd&amp;gt;
        &amp;lt;CryptType&amp;gt;DES1&amp;lt;/CryptType&amp;gt;
        &amp;lt;Pswd&amp;gt;3A0ADDAC1E049F15&amp;lt;/Pswd&amp;gt;
        &amp;lt;/CustPswd&amp;gt;
        &amp;lt;/SignonPswd&amp;gt;
        &amp;lt;ClientDt&amp;gt;2017/11/08 11:38:39&amp;lt;/ClientDt&amp;gt;
        &amp;lt;/SignonRq&amp;gt;
    &amp;lt;CommMsg&amp;gt;
        &amp;lt;SPName&amp;gt;AS&amp;lt;/SPName&amp;gt;
        &amp;lt;MsgId&amp;gt;A1012_2&amp;lt;/MsgId&amp;gt;
        &amp;lt;KINBR&amp;gt;001&amp;lt;/KINBR&amp;gt;
        &amp;lt;TRMSEQ&amp;gt;1524&amp;lt;/TRMSEQ&amp;gt;
        &amp;lt;TRMTYP&amp;gt;9&amp;lt;/TRMTYP&amp;gt;
        &amp;lt;TTSKID&amp;gt;AS&amp;lt;/TTSKID&amp;gt;
        &amp;lt;AllRecCtrlIn&amp;gt;N&amp;lt;/AllRecCtrlIn&amp;gt;
        &amp;lt;RqUID&amp;gt;3ff09a7a-b7f0-4876-b8df-152fdb0e9ce9&amp;lt;/RqUID&amp;gt;
        &amp;lt;TXTNO&amp;gt;171108113841&amp;lt;/TXTNO&amp;gt;
        &amp;lt;XFG&amp;gt;~&amp;lt;/XFG&amp;gt;
        &amp;lt;TLRNO&amp;gt;082353&amp;lt;/TLRNO&amp;gt;
        &amp;lt;APTYPE&amp;gt;&amp;lt;/APTYPE&amp;gt;
        &amp;lt;TXNO&amp;gt;10&amp;lt;/TXNO&amp;gt;
        &amp;lt;STXNO&amp;gt;12&amp;lt;/STXNO&amp;gt;
        &amp;lt;PTYPE&amp;gt;&amp;lt;/PTYPE&amp;gt;
        &amp;lt;TXTYPE&amp;gt;H&amp;lt;/TXTYPE&amp;gt;
        &amp;lt;CRDB&amp;gt;1&amp;lt;/CRDB&amp;gt;
        &amp;lt;HCODE&amp;gt;0&amp;lt;/HCODE&amp;gt;
        &amp;lt;YCODE&amp;gt;&amp;lt;/YCODE&amp;gt;
        &amp;lt;CURCD&amp;gt;&amp;lt;/CURCD&amp;gt;
        &amp;lt;TXAMT&amp;gt;&amp;lt;/TXAMT&amp;gt;
        &amp;lt;DSCPT&amp;gt;AS&amp;lt;/DSCPT&amp;gt;
        &amp;lt;MRKEY&amp;gt;116&amp;lt;/MRKEY&amp;gt;
        &amp;lt;TITA_UNINO/&amp;gt;
        &amp;lt;TITA_UIDERR/&amp;gt;
        &amp;lt;ECKIN/&amp;gt;
        &amp;lt;ECTRMS/&amp;gt;
        &amp;lt;ECTNO/&amp;gt;
        &amp;lt;SPCD/&amp;gt;
        &amp;lt;SPID/&amp;gt;
        &amp;lt;NBCD/&amp;gt;
        &amp;lt;TITA_ENTDD/&amp;gt;
        &amp;lt;TITA_TXDAY&amp;gt;20171015&amp;lt;/TITA_TXDAY&amp;gt;
        &amp;lt;TITA_TXTIME&amp;gt;14055464&amp;lt;/TITA_TXTIME&amp;gt;
        &amp;lt;ISDAY&amp;gt;&amp;lt;/ISDAY&amp;gt;
        &amp;lt;CNT&amp;gt;1&amp;lt;/CNT&amp;gt;
        &amp;lt;IBSRNUM1&amp;gt;&amp;lt;/IBSRNUM1&amp;gt;
        &amp;lt;IDSCPT1&amp;gt;&amp;lt;/IDSCPT1&amp;gt;
        &amp;lt;ITXAMT1&amp;gt;&amp;lt;/ITXAMT1&amp;gt;
        &amp;lt;DEPNO&amp;gt;&amp;lt;/DEPNO&amp;gt;
        &amp;lt;ACCNO&amp;gt;&amp;lt;/ACCNO&amp;gt;
        &amp;lt;MTTPSEQ/&amp;gt;
        &amp;lt;COKEY/&amp;gt;
        &amp;lt;TITA_SECNO/&amp;gt;
        &amp;lt;TITA_SEQFG/&amp;gt;
        &amp;lt;IBFFG/&amp;gt;
        &amp;lt;SBCASH/&amp;gt;
        &amp;lt;BATCHNO/&amp;gt;
        &amp;lt;TITA_OBUFG/&amp;gt;
        &amp;lt;INBKTXNO/&amp;gt;
        &amp;lt;TITA_SYNC/&amp;gt;
        &amp;lt;TITA_SECTYPE/&amp;gt;
        &amp;lt;SRFLG/&amp;gt;
        &amp;lt;WSCNT/&amp;gt;
    &amp;lt;/CommMsg&amp;gt;
&amp;lt;/LandBankML&amp;gt;
</code></pre>"><span class="hljs-pi">&lt;?xml version="1.0" encoding="utf-8" ?&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">LandBankML</span> <span class="hljs-attribute">xmlns</span> =<span class="hljs-value">"urn:schema-bluestar-com:multichannel"</span> <span class="hljs-attribute">version</span>=<span class="hljs-value">"1.0"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">SignonRq</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SignonPswd</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">CustId</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SPName</span>&gt;</span>AS<span class="hljs-tag">&lt;/<span class="hljs-title">SPName</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">CustLoginId</span>&gt;</span>SAS00ETA01<span class="hljs-tag">&lt;/<span class="hljs-title">CustLoginId</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">CustId</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">CustPswd</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">CryptType</span>&gt;</span>DES1<span class="hljs-tag">&lt;/<span class="hljs-title">CryptType</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Pswd</span>&gt;</span>3A0ADDAC1E049F15<span class="hljs-tag">&lt;/<span class="hljs-title">Pswd</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">CustPswd</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">SignonPswd</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ClientDt</span>&gt;</span>2017/11/08 11:38:39<span class="hljs-tag">&lt;/<span class="hljs-title">ClientDt</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">SignonRq</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">CommMsg</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SPName</span>&gt;</span>AS<span class="hljs-tag">&lt;/<span class="hljs-title">SPName</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">MsgId</span>&gt;</span>A1012_2<span class="hljs-tag">&lt;/<span class="hljs-title">MsgId</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">KINBR</span>&gt;</span>001<span class="hljs-tag">&lt;/<span class="hljs-title">KINBR</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TRMSEQ</span>&gt;</span>1524<span class="hljs-tag">&lt;/<span class="hljs-title">TRMSEQ</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TRMTYP</span>&gt;</span>9<span class="hljs-tag">&lt;/<span class="hljs-title">TRMTYP</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TTSKID</span>&gt;</span>AS<span class="hljs-tag">&lt;/<span class="hljs-title">TTSKID</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">AllRecCtrlIn</span>&gt;</span>N<span class="hljs-tag">&lt;/<span class="hljs-title">AllRecCtrlIn</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">RqUID</span>&gt;</span>3ff09a7a-b7f0-4876-b8df-152fdb0e9ce9<span class="hljs-tag">&lt;/<span class="hljs-title">RqUID</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TXTNO</span>&gt;</span>171108113841<span class="hljs-tag">&lt;/<span class="hljs-title">TXTNO</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">XFG</span>&gt;</span>~<span class="hljs-tag">&lt;/<span class="hljs-title">XFG</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TLRNO</span>&gt;</span>082353<span class="hljs-tag">&lt;/<span class="hljs-title">TLRNO</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">APTYPE</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">APTYPE</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TXNO</span>&gt;</span>10<span class="hljs-tag">&lt;/<span class="hljs-title">TXNO</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">STXNO</span>&gt;</span>12<span class="hljs-tag">&lt;/<span class="hljs-title">STXNO</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">PTYPE</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">PTYPE</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TXTYPE</span>&gt;</span>H<span class="hljs-tag">&lt;/<span class="hljs-title">TXTYPE</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">CRDB</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-title">CRDB</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">HCODE</span>&gt;</span>0<span class="hljs-tag">&lt;/<span class="hljs-title">HCODE</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">YCODE</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">YCODE</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">CURCD</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">CURCD</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TXAMT</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">TXAMT</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">DSCPT</span>&gt;</span>AS<span class="hljs-tag">&lt;/<span class="hljs-title">DSCPT</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">MRKEY</span>&gt;</span>116<span class="hljs-tag">&lt;/<span class="hljs-title">MRKEY</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_UNINO</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_UIDERR</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ECKIN</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ECTRMS</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ECTNO</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SPCD</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SPID</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">NBCD</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_ENTDD</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_TXDAY</span>&gt;</span>20171015<span class="hljs-tag">&lt;/<span class="hljs-title">TITA_TXDAY</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_TXTIME</span>&gt;</span>14055464<span class="hljs-tag">&lt;/<span class="hljs-title">TITA_TXTIME</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ISDAY</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">ISDAY</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">CNT</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-title">CNT</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">IBSRNUM1</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">IBSRNUM1</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">IDSCPT1</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">IDSCPT1</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ITXAMT1</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">ITXAMT1</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">DEPNO</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">DEPNO</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ACCNO</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">ACCNO</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">MTTPSEQ</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">COKEY</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_SECNO</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_SEQFG</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">IBFFG</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SBCASH</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">BATCHNO</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_OBUFG</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">INBKTXNO</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_SYNC</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TITA_SECTYPE</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SRFLG</span>/&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">WSCNT</span>/&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">CommMsg</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">LandBankML</span>&gt;</span>
</code></pre>
</blockquote>
