﻿<h3 id="系統基本需求"><a name="系統基本需求" href="#系統基本需求"></a>系統基本需求</h3>
<blockquote>
    <p>採三層式架構<br>網站前台必須透過一台AP伺服器才能存取土銀內部系統</p>
</blockquote>
<pre><code class="mermaid">graph LR;
  user(使用者)-- 瀏覽器 --&gt;front
  front(網站前台: Web.Frontend)-- Http Post --&gt;servant(AP伺服器: Web.Servant)
  servant-- 各種協定 --&gt;landbank(土銀內部系統)
</code></pre>
<h3 id="專案架構"><a name="專案架構" href="#專案架構"></a>專案架構</h3>
<pre><code class="mermaid">graph TB;
  Database
  ADWS
  Email
  EAI
  ETC(其餘內部系統)
  Library(Library.Common通用函式庫)
  Console(Console 支援用程式)
  Library.Entity(Library.Entity 資料庫存取層)--&gt;Database
  LocalServant--&gt;Library.Entity
  LocalServant--&gt;ADWS
  LocalServant--&gt;Email
  LocalServant--&gt;EAI
  LocalServant--&gt;ETC
  Web.Servant--&gt;LocalServant
  RemoteServant--Http Post--&gt;Web.Servant
  Web.Frontend--&gt;RemoteServant
</code></pre>
