﻿<h1 id="文件目的"><a name="文件目的" href="#文件目的"></a>文件目的</h1>
<blockquote>
    <p>由於團隊分散各地<br>開發程式所使用的資料庫schema不一致<br>造成程式併版時異常又臨時找不到當事人解決<br>故寫成下列SOP,以期減少問題</p>
</blockquote>
<h2 id="資料庫schema與entity-framework"><a name="資料庫schema與entity-framework" href="#資料庫schema與entity-framework"></a>資料庫schema與entity framework</h2>
<blockquote>
    <p>程式是針對資料庫schema和entity寫的<br>修改schema和測試資料是家常便飯<br>以往開發人數少時我們各模組開發者都會根據需求直接修改script<br>現因團隊大了,茲訂下一些規則來收斂問題</p>
</blockquote>
<h3 id="程式碼交換流程"><a name="程式碼交換流程" href="#程式碼交換流程"></a>程式碼交換流程</h3>
<pre><code class="mermaid">graph TD;
   inner(關貿內部開發團)--pull,merge,push--&gt;inner_git((關貿內部git伺服器,我老大))
   secret(駐點人員 或 vpn owner)--pull,merge,push--&gt;inner_git
   secret--pull--&gt;outer_git
   outer(外部開發團)--pull,merge,push--&gt;outer_git((協力商內部git伺服器,我老二))
</code></pre>
<h3 id="資料庫schema修改流程"><a name="資料庫schema修改流程" href="#資料庫schema修改流程"></a>資料庫schema修改流程</h3>
<pre><code class="mermaid">graph TD;
  modify_req(RD有資料庫變更需求)--提供sql script--&gt;DBA(DBA審核)
  DBA--過關--&gt;modify_db(關貿內部DB變更)
  DBA--駁回--&gt;reject((當這件事沒發生))
  modify_db--駐點人員或關貿內部人員--&gt;script(更新資料庫專案)
  modify_db--備份--&gt;mos((關貿內部MOS))
  script--&gt;edmx(更新edmx)
  edmx--成功--&gt;git_push(上版控,更新關貿內部git)
  edmx--失敗--&gt;fix(修改程式直到正常)
  fix--&gt;git_push
  git_push--駐點人員--&gt;direct_2(直接pull,merge)
  git_push--關貿內部人員--&gt;direct(直接pull,merge)
  direct--&gt;coding((針對新schema和資料撰寫程式))
  direct_2--&gt;outer_git_push(上版控,更新廠家自家git)
  outer_git_push--外部團隊--&gt;direct_3(直接pull,merge)
  direct_3--&gt;coding2((針對新schema和資料撰寫程式))
</code></pre>

