﻿@{
    ViewBag.Title = "ApprovalDetails";

    List<string> ApprovalMember = new List<string> { "李先生", "王科長", "陳小姐", "	李科長" };
}

<div id="root">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>簽核明細紀錄</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">首頁</a>
                </li>
                <li>
                    <a href="@Url.Action("Index")">簽核追蹤</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-title">
                        <h5>搜尋條件</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>


                    <div class="ibox-content">
                        <table>
                            <tr>
                                <td>
                                    <img src="/Content/images/Approval/01.png")" alt="..." class="img-thumbnail" style="width: 50px;"><br />
                                    李先生<br />2017-04-15<br />16:30
                                </td>
                                <td><img alt="" src="/Content/images/Approval/ban_toolbar_right01.gif" width="20" height="20"></td>

                                <td>
                                    <img src="/Content/images/Approval/02.png" alt="..." class="img-thumbnail" style="width: 50px;"><br />
                                    王科長<br />2017-04-15<br />18:00
                                </td>
                                <td><img alt="" src="/Content/images/Approval/ban_toolbar_right01.gif" width="20" height="20"></td>

                                <td>
                                    <img src="/Content/images/Approval/03.png" alt="..." class="img-thumbnail" style="width: 50px;"><br />
                                    陳小姐<br />2017-04-20<br />13:30
                                </td>
                                <td><img alt="" src="/Content/images/Approval/ban_toolbar_right01.gif" width="20" height="20"></td>

                                <td>
                                    <img src="/Content/images/Approval/04.png" alt="..." class="img-thumbnail" style="width: 50px;"><br />
                                    李科長<br />2017-04-22<br />15:21
                                </td>
                                <td><img alt="" src="/Content/images/Approval/ban_toolbar_right01.gif" width="20" height="20"></td>

                                <td>
                                    <img src="/Content/images/Approval/05.png" alt="..." class="img-thumbnail" style="width: 50px;"><br />
                                    趙科長<br /> <br />
                                </td>
                                <td><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table-condensed" width="100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>共  999 筆</label>
                                        <a class="btn btn-sm btn-default" href="@Url.Action("Index")">回上頁</a>
                                        <button class="btn btn-sm btn-warning">列印</button>
                                    </td>
                                </tr>
                            </table>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>表單</th>
                                        <th>表單日期</th>
                                        <th>單據編號</th>
                                        <th>表單類別單</th>
                                        <th>表單名稱</th>
                                        <th>分行</th>
                                        <th>人員</th>
                                        <th>代理人員</th>
                                        <th>開始時間</th>
                                        <th>結束時間</th>
                                        <th>表單狀態</th>
                                        <th>簽核狀態</th>
                                        <th>備註</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int index = 0; index < 4; ++index)
                                    {
                                        <tr>
                                            <td>@(index + 1)</td>
                                            <td><a href="@Url.Action("FormDetails")"><i class="fa fa-folder"></i></a></td>
                                            <td>2017-04-15</td>
                                            <td>060415A201000000@(index)</td>
                                            <td>動產</td>
                                            <td>A201動產新增單</td>
                                            <td>002 基隆分行</td>
                                            <td>@ApprovalMember[index]</td>
                                            <td>@ApprovalMember[index] 的代理</td>
                                            <td>2017-04-15 8:30</td>
                                            <td>2017-04-15 16:30</td>
                                            <td>通過</td>
                                            <td>簽審中</td>
                                            <td>請上傳附件,並交辦</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                            <nav class="text-center">
                                <ul class="pagination">
                                    <li class="disabled"><a>1</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                    <li>
                                        <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                            <span aria-hidden="true">&raquo;&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


