﻿<div id="root">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>表單內容</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">首頁</a>
                </li>
                <li>
                    <a href="#">表單內容</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        <ul class="nav nav-tabs">
                            <li>
                                <a data-toggle="tab" href="#tab1">表單內容</a>
                            </li>
                            <li class="active">
                                <a data-toggle="tab" href="#tab2">審核意見</a>
                            </li>
                        </ul>

                        <div class="tab-content">

                            <div id="tab1" class="tab-pane">
                                tab1
                            </div>

                            <div id="tab2" class="tab-pane active">

                                <br />

                                <button class="btn btn-warning">列印</button>
                                <a href="@Url.Action("Details")" class="btn btn-primary">回上頁</a>

                                <form class="form-horizontal tab-pane fade in active">

                                    <div class="row">

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-4 control-label">單據編號</label>
                                            <div class="input-group col-sm-8">
                                                <input type="text" class="form-control" value="060415A2010000001" disabled />
                                            </div>
                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-4 control-label">表單處理時間</label>
                                            <div class="input-group col-sm-8">
                                                <input type="text" class="form-control" value="2017-05-01 08:50" disabled />
                                                <span class="input-group-addon">to</span>
                                                <input type="text" class="form-control" value="2017-05-01 10:45" disabled />
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-sm-6 form-group">
                                                <label for="" class="col-sm-4 control-label">表單編號</label>
                                                <div class="input-group col-sm-8">
                                                    <input type="text" class="form-control" value="表單編號" disabled />
                                                </div>
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="" class="col-sm-4 control-label">分行</label>
                                                <div class="input-group col-sm-8">
                                                    <input type="text" class="form-control" value="002 基隆分行" disabled />
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-sm-6 form-group">
                                                <label for="" class="col-sm-4 control-label">申請人員</label>
                                                <div class="input-group col-sm-8">
                                                    <input type="text" class="form-control" value="李先生" disabled />
                                                </div>
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="" class="col-sm-4 control-label">申請送出時間</label>
                                                <div class="input-group col-sm-8">
                                                    <input type="text" class="form-control" value="2017-04-15 09:00" disabled />
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-sm-6 form-group">
                                                <label for="" class="col-sm-4 control-label">處理人員</label>
                                                <div class="input-group col-sm-8">
                                                    <input type="text" class="form-control" value="李科長" disabled />
                                                </div>
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="" class="col-sm-4 control-label">簽核狀態</label>
                                                <div class="input-group col-sm-8">
                                                    <input type="text" class="form-control" value="簽核中" disabled />
                                                </div>
                                            </div>

                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">檢視附件</label>
                                            <div class="col-sm-9">
                                                <span class="badge">4</span>
                                                <a href="#"><i class="glyphicon glyphicon-file">file1</i></a>
                                                <a href="#"><i class="glyphicon glyphicon-file">file2</i></a>
                                                <a href="#"><i class="glyphicon glyphicon-file">file3</i></a>
                                                <a href="#"><i class="glyphicon glyphicon-file">file4</i></a>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-6">
                                            <label class="col-sm-4 control-label">審核結果</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" value="通過" disabled />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">審核意見</label>
                                        <div class="col-sm-9"><textarea class="form-control" rows="5" disabled>......</textarea></div>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts { 
    @Scripts.Render("~/Scripts/ApprovalTracking/FormDetails.js")
}

