﻿@{
    ViewBag.Title = "FormApproval";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>簽核明細紀錄</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "ApprovalTracking")">首頁</a>
            </li>
            <li>
                <a href="#">簽核明細紀錄</a>
            </li>
        </ol>
    </div>
</div>

<div id="root" class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="nav nav-pills">
                                    <li v-for="item in items"
                                        :class="listClass(item.FormStatus.id)"
                                        style="width: 120px"
                                        :style="listStyle(item.FormStatus.id)">
                                        <a href="#">
                                            <i :class="iconClass(item.FormStatus.id)"></i>
                                            <h4 class="list-group-item-heading">{{ item.Applicant }}</h4>
                                            <p class="list-group-item-text">{{ item.EndTime }}</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  101 筆</label>
                                    <a class="btn btn-sm btn-default" href="#">回上頁</a>
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>表單</th>
                                    <th>表單日期</th>
                                    <th>單據編號</th>
                                    <th>表單類別</th>
                                    <th>表單名稱</th>
                                    <th>分行</th>
                                    <th>人員</th>
                                    <th>開始時間</th>
                                    <th>結束時間</th>
                                    <th>表單狀態</th>
                                    <th>簽核狀態</th>
                                    <th>備註</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr v-for="item in items">
                                    <td>{{ item.No }}</td>
                                    <td></td>
                                    <td>{{ item.Date }}</td>
                                    <td>{{ item.DocNo }}</td>
                                    <td>{{ item.FormType }}</td>
                                    <td>{{ item.FormName }}</td>
                                    <td>{{ item.Branch }}</td>
                                    <td>{{ item.Applicant }}</td>
                                    <td>{{ item.StartTime }}</td>
                                    <td>{{ item.EndTime }}</td>
                                    <td>{{ item.FormStatus.text }}</td>
                                    <td>{{ item.ApprovalStatus }}</td>
                                    <td>{{ item.Remarks }}</td>
                                </tr>
                          </tbody>
                        </table>


                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { 
    @Scripts.Render("~/Scripts/ApprovalTracking/Record.js")
}
