﻿<template id="rent-base-template">

    <div>
        <div class="row">
            <div class="col-sm-4">
                <label class="col-sm-5">管轄單位</label>
                <input type="text" v-model="unit" name="search" class="col-sm-5" align="left">
            </div>
            <div class="col-sm-4">
                <label class="col-sm-5 ">租約編號</label>
                <input type="text" v-model="number" name="search" class="col-sm-5" align="left">
            </div>
            <div class="col-sm-4">
                <label class="col-sm-5">繳款類別</label>
                <select name="paySecType" id="" class="col-sm-5" aligen="left">
                    <option value=""></option>
                    <option value="">月繳</option>
                    <option value="">季繳</option>
                    <option value="">半年繳</option>
                    <option value="">年繳</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label class="col-sm-5 ">業務別</label>
                <select name="RentStatus" class="col-sm-5">
                    <option value=""></option>
                    <option value="self">自用</option>
                    <option value="non-self">非自用</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label class="col-sm-5 ">租約類型</label>
                <select name="RentStatus" class="col-sm-5">
                    <option value=""></option>
                    <option value="">停車位</option>
                    <option value="">停車場</option>
                    <option value="">基地</option>
                    <option value="">基地使用補償</option>
                    <option value="">房屋</option>
                    <option value="">投資開發</option>
                    <option value="">空地</option>
                    <option value="">耕地</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label class="col-sm-5 ">租約事務</label>
                <select name="RentStatus" class="col-sm-5">
                    <option value=""></option>
                    <option value="">新租</option>
                    <option value="">繼承承租</option>
                    <option value="">續租</option>
                    <option value="">過戶承租</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label class="col-sm-5 ">帳號</label>
                <input type="text" name="search" class="col-sm-5" align="left">
            </div>
            <div class="col-sm-4">
                <label class="col-sm-5 ">租約狀態</label>
                <select name="RentStatus" class="col-sm-5">
                    <option value=""></option>
                    <option value="Y">有效</option>
                    <option value="E">終止</option>
                    <option value="N">未生效</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label class="col-sm-5 ">租賃期起</label>
                <input type="text" name="search" class="col-sm-5 hasDatepicker" align="left">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label class="col-sm-5 ">租賃期迄</label>
                <input type="text" name="search" class="col-sm-5 hasDatepicker" align="left">
            </div>
            <div class="col-sm-4">
                <label class="col-sm-5 ">原租約編號</label>
                <input type="text" name="search" class="col-sm-5" align="left">
            </div>
            <div class="col-sm-4">
                <label class="col-sm-5 ">流程狀態</label>
                <select name="RentStatus" class="col-sm-5">
                    <option value=""></option>
                    <option value="add">新增</option>
                    <option value="submited">已提交</option>
                    <option value="permited">已核准</option>
                    <option value="paid">已入賬</option>
                    <option value="rejected">已拒絕</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label class="col-sm-5 ">繳款方式</label>
                <select name="paymentType" id="" class="col-sm-5">
                    <option value=""></option>
                    <option value="">委託代繳</option>
                    <option value="">虛擬帳號</option>
                    <option value="">支票</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label class="col-sm-5 ">扣款銀行</label>
                <input type="text" name="search" class="col-sm-5" align="left">
            </div>
            <div class="col-sm-4">
                <label class="col-sm-5 ">扣款帳號</label>
                <input type="text" name="search" class="col-sm-5" align="left">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label class="col-sm-5 ">核准日期</label>
                <vue-datepicker class="col-sm-5" v-model="date"></vue-datepicker>
            </div>
            <div class="col-sm-4">
                <label class="col-sm-5 ">租金計算</label>
                <select name="paymentType" id="" class="col-sm-5">
                    <option value=""></option>
                    <option value="">浮動</option>
                    <option value="">固定</option>
                </select>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="col-sm-1">備註</label>
                <textarea name="" id="" cols="120" rows="5"></textarea>
            </div>
        </div>
    </div>

</template>

<script>

    (function ($) {

        var TemplateMethod = Vue.extend({

            template: '#rent-base-template'

        });

        $.extend({

            RentBaseTemplate: TemplateMethod

        });

    })(jQuery);

</script>

