﻿<div id="modal-form-contract-upload" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">租約檔案上傳</h3>
                        <form action="" method="POST" style="display:inline-block;" id="form-contract-upload">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="GUID" value="1">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>欄位名稱</th>
                                        <th>內容</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>檔案名稱</td>
                                        <td><input type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>選擇檔案</td>
                                        <td><input type="text"><button type="button">瀏覽...</button></td>
                                    </tr>
                                    <tr>
                                        <td>說明</td>
                                        <td><input type="text"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <tr>
                                <td>
                                    <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal" onclick="app.addNewItem2Table10()"><strong>Upload</strong></button>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-primay" type="button" data-dismiss="modal"><strong>Cancel</strong></button>
                                </td>
                            </tr>
                        </form>
                        <table style="margin-top: 15px;">
                            <tr>
                                <td rowspan="2">
                                    <a class="btn btn-danger btn-circle">
                                        <i class="fa fa-info-circle"></i>
                                    </a>
                                </td>
                                <td>
                                <td><label for="">&nbsp;&nbsp;1.檔案類型限制為：JPG、PNG、GIF、PDF</label></td>
                            </tr>
                            <tr>
                                <td>
                                <td><label for="">&nbsp;&nbsp;2.檔案大小限制為：「2MB」</label></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal-form-rental-paid-record" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="model-body">
                <div class="row" align="center">
                    <div style="width:90%;">
                        <h3 class="m-t-none m-b" align="left">租金繳款紀錄</h3>
                        <div style="overflow:auto;">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>期別</th>
                                        <th>帳務類別</th>
                                        <th>應收金額</th>
                                        <th>減免金額</th>
                                        <th>繳款方式</th>
                                        <th>支票類別</th>
                                        <th>實際應收金額</th>
                                        <th>繳款期限</th>
                                        <th>可延遲繳款日</th>
                                        <th>實收金額</th>
                                        <th>繳款日期</th>
                                        <th>狀態</th>
                                        <th>備註</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>rowData</td>
                                        <td>rowData</td>
                                        <td>rowData</td>
                                        <td>rowData</td>
                                        <td>rowData</td>
                                        <td>rowData</td>
                                        <td>rowData</td>
                                        <td>rowData</td>
                                        <td>rowData</td>
                                        <td>rowData</td>
                                        <td>rowData</td>
                                        <td>rowData</td>
                                        <td>rowData</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<template id="rent-file-template">

    <div>
        <div class="table-responsive">
            <button class="btn-primary" type="button" href="#modal-form-contract-upload" data-toggle="modal">新增</button>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>圖檔</th>
                        <th>說明</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in model.table10">
                        <td width="15%">
                            <a class="btn btn-danger btn-circle" href="#modal-form-delete-1" data-toggle="modal" title="刪除單筆資料">
                                <i class="fa fa-trash-o"></i>
                            </a>
                            <a class="btn btn-primary btn-circle" href="@Url.Action("Detail")" data-toggle="tooltip" data-placement="bottom" title="編輯">
                                <i class="fa fa-list"></i>
                            </a>
                            <a class="btn btn-primary btn-circle" href="@Url.Action("Detail")" data-toggle="tooltip" data-placement="bottom" title="檢視檔案">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                        <td>{{row.col2}}</td>
                        <td>{{row.col3}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="ibox-footer agile-detail">
            <div class="row">
                <button style="margin-left: 50px;" class="btn btn-primary" type="button"><i class="fa fa-floppy-o"></i>&nbsp;儲存</button>
                <button class="btn btn-primary" type="button">換續約</button>
                <button class="btn btn-primary" type="button" onclick="$('#js-target-subject').show();">標的物</button>
                <button class="btn btn-primary" type="button" href="#modal-form-rental-paid-record" data-toggle="modal">租金繳納紀錄</button>
                <a class="btn btn-warning" href="@Url.Action(" Index ")">
                    <i class="fa fa-undo"></i>&nbsp;回列表頁
                </a>
            </div>
        </div>
    </div>

</template>

<script>

    (function ($) {

        var TemplateMethod = Vue.extend({

            template: '#rent-file-template',
            

        });

        $.extend({

            RentFileTemplate: TemplateMethod

        });

    })(jQuery);

</script>

