﻿<template id="rent-datetime-template">

    <div>
        <button v-on:click="add" class="btn-primary" type="button">新增</button>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>租賃期間起</th>
                        <th>租賃期間迄</th>
                        <th>租金</th>
                        <th>減租金額</th>
                        <th>月租金(含稅)</th>
                        <th>保證金</th>
                        <th>繳納日期</th>
                        <th>退還日期</th>
                        <th>保證書銀行</th>
                        <th>備註</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in table">
                        <td><vue-datepicker v-model="row.start"></vue-datepicker></td>
                        <td><vue-datepicker v-model="row.end"></vue-datepicker></td>
                        <td><input type="number"></td>
                        <td><input type="number"></td>
                        <td><input type="number"></td>
                        <td><input type="number"></td>
                        <td><vue-datepicker></vue-datepicker></td>
                        <td><vue-datepicker></vue-datepicker></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</template>


<script>

    (function ($) {

        var TemplateMethod = Vue.extend({

           template: '#rent-datetime-template',
           methods: {

                    add: function () {
                        this.table.push({
                            col1: "",
                            col2: "",
                        })
                    }
             }

        });

        $.extend({

            RentDateTimeTemplate: TemplateMethod

        });

    })(jQuery);

</script>


