﻿<template id="renter-template">

    <div>
        <div class="table-responsive">
            <button v-on:click="add" class="btn-primary" type="button">新增</button>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>殘障</th>
                        <th>低收</th>
                        <th>名稱</th>
                        <th>統一編號</th>
                        <th>負責人</th>
                        <th>身分證字號</th>
                        <th>出生日期</th>
                        <th>通訊地址</th>
                        <th>戶籍地址</th>
                        <th>電話</th>
                        <th>備註</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in table">
                        <td><input name="ident" type="radio"></td>
                        <td><input name="ident" type="radio"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><vue-datepicker></vue-datepicker></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</template>

<script>

    (function ($) {

        var TemplateMethod = Vue.extend({

            template: '#renter-template',
            methods: {

                add: function () {
                    this.table.push({
                        col1: "",
                        col2: "",
                    })
                }
            }

        });

        $.extend({

            RenterTemplate: TemplateMethod

        });

    })(jQuery);

</script>