﻿@using InspiniaWebAdminTemplate.Models.TodoListManagement
@model IndexViewModel

@{
    ViewBag.Title = "Index";
}

<style>
    .control-label.required:before {
        content: "*";
        color: red;
    }

    thead {
        background: #0a4812;
        color: #ffffff;
    }

    th {
        text-align: center;
    }

    td {
        text-align: center;
    }

    template {
        display: none;
    }

    body {
        font-size: 140%;
    }
</style>

<div id="root">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>交辦事項查詢</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="Home">首頁</a>
                </li>
                <li>
                    <a href="#">交辦事項管理</a>
                </li>
                <li>
                    <a href="#">交辦事項查詢</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>搜尋條件</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">

                            @Html.AntiForgeryToken()

                            @*<div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">單位</label>
                                    <div class="col-sm-8 input-group">
                                        @{
                                            var startAttribute = new Dictionary<string, object> {
                                                { "type", "text" },
                                                { "data-id", "Start" },
                                                { "class", "form-control branchSelect" }
                                            };
                                            var endAttribute = new Dictionary<string, object> {
                                                { "type", "text" },
                                                { "data-id", "End" },
                                                { "class", "form-control branchSelect" }
                                            };
                                        }
                                        @Html.TextBox("BranchRange.Start", Model.Conditions.BranchRange.Start, startAttribute)
                                        <span class="input-group-addon">~</span>
                                        @Html.TextBox("BranchRange.End", Model.Conditions.BranchRange.End, endAttribute)
                                        <input type="hidden" name="Branch_Code_Start" id="Branch_Code_Start">
                                        <input type="hidden" name="Branch_Code_End" id="Branch_Code_End">
                                    </div>
                                </div>
                            </div>*@
                            <div class="row">
                                @*<div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">交辦事項編號</label>
                                    <div class="input-group col-sm-8">
                                        @Html.TextBox("FlowRange.Start", Model.Conditions.TodoListCodeRange.Start, new { @class = "form-control", @type = "text" })
                                        <span class="input-group-addon">~</span>
                                        @Html.TextBox("FlowRange.End", Model.Conditions.TodoListCodeRange.End, new { @class = "form-control", @type = "text" })
                                    </div>
                                </div>*@
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">交辦事項狀態</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("Status", (IEnumerable<SelectListItem>)ViewBag.StatusList, "全部", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search">查詢</i></button>
                                    <button type="reset" class="btn btn-danger"><i class="fa fa-eraser">清除</i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table-condensed" width="100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>共 &nbsp;@Model.Items.Count&nbsp; 筆</label>
                                    </td>
                                </tr>
                            </table>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>交辦事項編號</th>
                                        <th>交辦事項主旨</th>
                                        <th>送出日期</th>
                                        <th>事項狀態</th>
                                        <th>交辦人員</th>
                                        <th>檢視</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 1; i <= Model.Items.Count; i++) {
                                        var item = Model.Items[i - 1];
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.TodoListCode</td>
                                            <td>@item.TodoTitile</td>
                                            <td>@item.CreateDateTime</td>
                                            <td>@item.Status</td>
                                            <td>@item.TodoUser</td>
                                            <td>
                                                <a class="btn btn-primary btn-circle" href="@Url.Action("Show", "TodoListManagement", new { @code=item.TodoListCode })" title="編輯">
                                                    <i class="glyphicon glyphicon-list "></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <nav class="text-center">
                                <ul class="pagination">
                                    <li class="disabled"><a>1</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="branchCodeModal" name="branchCodeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <slot name="header">
                    選擇分行代號
                </slot>
            </div>
            <div class="modal-body">
                <slot name="body">
                    <select class="form-control" name="dropdownBranch" id="dropdownBranch" size="15">
                        <option>請選擇</option>
                    </select>
                    <input type="hidden" id="dataId">
                </slot>
            </div>
            <div class="modal-footer">
                <slot name="footer">
                    <button class="btn btn-primary" id="selectBranchBtn" type="button">選取</button>
                    <button class="btn btn-danger" id="closeBranchModalBtn" type="button">取消</button>
                </slot>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.TotalAmount,//資料庫總筆數
                    page_size: @Model.Conditions.PageSize,//單頁筆數
                    page_now: @Model.Conditions.Page,//當前頁
                    center_page: @Model.Conditions.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });

            $(".datepicker").datepicker({
                format: "yyyy/mm/dd",
                autoclose: true,
                clearBtn: true,
                calendarWeeks: false,
                todayHighlight: true,
                language: 'zh-TW'
            });

            $(".date-trigger").on("click", function () {
                $(this).prev(".datepicker").datepicker("show");
            });

        })(jQuery);

    </script>
}

