﻿@using InspiniaWebAdminTemplate.Models.QueryPosts
@model IndexViewModel

@{
    ViewBag.Title = "Index";
}

<style>
    .control-label.required:before {
        content: "*";
        color: red;
    }

    thead {
        background: #0a4812;
        color: #ffffff;
    }

    th {
        text-align: center;
    }

    td {
        text-align: center;
    }

    template {
        display: none;
    }

    body {
        font-size: 140%;
    }
</style>

<div id="root">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>公告事項管理</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="Home">首頁</a>
                </li>
                <li>
                    <a href="#">公告事項管理</a>
                </li>
                <li>
                    <a href="#">公告事項查詢</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>搜尋條件</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">
                            
                            @Html.AntiForgeryToken()

                            <div class="row">
                                @*<div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">單位</label>
                                    <div class="col-sm-8 input-group">
                                        @{ 
                                            var startAttribute = new Dictionary<string, object> {
                                                { "type", "text" },
                                                { "data-id", "Start" },
                                                { "class", "form-control branchSelect" }
                                            };
                                            var endAttribute = new Dictionary<string, object> {
                                                { "type", "text" },
                                                { "data-id", "End" },
                                                { "class", "form-control branchSelect" }
                                            };
                                        }
                                        @Html.TextBox("BranchRange.Start", Model.Condtiton.BranchRange.Start, startAttribute)
                                        <span class="input-group-addon">~</span>
                                        @Html.TextBox("BranchRange.End", Model.Condtiton.BranchRange.End, endAttribute)
                                        <input type="hidden" name="Branch_Code_Start" id="Branch_Code_Start">
                                        <input type="hidden" name="Branch_Code_End" id="Branch_Code_End">
                                    </div>
                                </div>*@
                                <!--
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">分行代碼</label>
                                    <div class="col-sm-8 row">
                                        <div class="col-sm-6">
                                            <input class="form-control" id="Branch_Code" name="Branch_Code" type="text" value="100">
                                        </div>
                                        <div class="col-sm-6">
                                            台北分行
                                        </div>
                                    </div>
                                </div>
                                 -->
                            </div>
                            <div class="row">
                                @*<div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">事務處理編號</label>
                                    <div class="input-group col-sm-8">
                                        @Html.TextBox("FlowRange.Start", Model.Condtiton.FlowRange.Start, new { @class="form-control", @type="text" })
                                        <span class="input-group-addon">~</span>
                                        @Html.TextBox("FlowRange.End", Model.Condtiton.FlowRange.End, new { @class = "form-control", @type = "text" })
                                    </div>
                                </div>*@
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">單據類別</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("DocumentType", (IEnumerable<SelectListItem>)ViewBag.DocumentList, "全部", new { @class="form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">公告日期</label>
                                    <div class="input-group col-sm-8">
                                        <div class="input-group">
                                            @{
                                                var announceAttr = new Dictionary<string, object>
                                                {
                                                    { "type", "text" },
                                                    { "data-date-fromat", "yyyy/mm/dd" },
                                                    { "class", "form-control datepicker" }
                                                };
                                            }
                                            @Html.TextBox("AnnounceRange.Start", Model.Condtiton.AnnounceRange.Start, "{0:yyyy/MM/dd}", announceAttr)
                                            <span class="input-group-addon date-trigger">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span class="input-group-addon">~</span>
                                        <div class="input-group">
                                            @Html.TextBox("AnnounceRange.End", Model.Condtiton.AnnounceRange.End, "{0:yyyy/MM/dd}", announceAttr)
                                            <span class="input-group-addon date-trigger">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-4 control-label">簽核狀態</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownList("ApprovalStatus", (IEnumerable<SelectListItem>)ViewBag.StatusList, "全部", new { @class= "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search">查詢</i></button>
                                    <button type="reset" class="btn btn-danger"><i class="fa fa-eraser">清除</i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table-condensed" width="100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>共 &nbsp;@Model.Items.Count&nbsp; 筆</label>
                                    </td>
                                </tr>
                            </table>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>公告日期</th>
                                        <th>主題類別</th>
                                        <th>公告主旨</th>
                                        <th>公布單位</th>
                                        <th>負責人</th>
                                        <th>檢視</th>
                                        @*<th>刪除</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 1; i <= Model.Items.Count; i++) {
                                        var item = Model.Items[i - 1];
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.AnnounceDate</td>
                                            <td>@item.Type</td>
                                            <td>@item.AnnounceTitle</td>
                                            <td>@item.AnnounceDepartment</td>
                                            <td>@item.Principal</td>
                                            <td>
                                                <a class="btn btn-primary btn-circle" href="@Url.Action("Show", "PostsManagement", new { flowCode = item.FlowCode, postCode = item.PostCode })" title="編輯">
                                                    <i class="glyphicon glyphicon-list "></i>
                                                </a>
                                            </td>
                                            @*<td>
                                                @if (item.Status == Library.Servant.Enums.ApprovalStatus.Create ||
                                                     item.Status == Library.Servant.Enums.ApprovalStatus.CallbackForEdit ||
                                                     item.Status == Library.Servant.Enums.ApprovalStatus.RejectForEdit) {
                                                    <a class="btn btn-danger btn-circle" href="#modal-form-delete-@item.PostCode" data-toggle="modal" title="刪除單筆資料">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                }
                                            </td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <a id="page">
                                <div id="page_region"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="branchCodeModal" name="branchCodeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <slot name="header">
                    選擇分行代號
                </slot>
            </div>
            <div class="modal-body">
                <slot name="body">
                    <select class="form-control" name="dropdownBranch" id="dropdownBranch" size="15">
                        <option>請選擇</option>
                    </select>
                    <input type="hidden" id="dataId">
                </slot>
            </div>
            <div class="modal-footer">
                <slot name="footer">
                    <button class="btn btn-primary" id="selectBranchBtn" type="button">選取</button>
                    <button class="btn btn-danger" id="closeBranchModalBtn" type="button">取消</button>
                </slot>
            </div>
        </div>
    </div>
</div>

@foreach (var item in Model.Items) {
    @DeleteDialog(item.PostCode, item.FlowCode)
}

@helper DeleteDialog(string postCode, string flowCode)
{
    <div id="modal-form-delete-@postCode" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div>
                            <h3 class="m-t-none m-b">是否要刪除此資料?</h3>
                            <p>刪除資料後，資料無法回復，請確認刪除。</p>
                            <form method="POST" action="@Url.Action("Delete", "PostsManagement")" style="display:inline-block;" id="form-delete">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="postCode" value="@postCode">
                                <input type="hidden" name="flowCode" value="@flowCode">
                                <button class="btn btn-sm btn-danger" type="submit"><strong>是</strong></button>
                            </form>
                            <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>否</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.TotalAmount,//資料庫總筆數
                    page_size: @Model.Condtiton.PageSize,//單頁筆數
                    page_now: @Model.Condtiton.Page,//當前頁
                    center_page: @Model.Condtiton.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });

            $(".datepicker").datepicker({
                format: "yyyy/mm/dd",
                autoclose: true,
                clearBtn: true,
                calendarWeeks: false,
                todayHighlight: true,
                language: 'zh-TW'
            });

            $(".date-trigger").on("click", function () {
                $(this).prev(".datepicker").datepicker("show");
            });

        })(jQuery);

    </script>
}

