﻿@model Library.Servant.Servant.AccountingAssetParentRelation.Models.IndexResult
@{
    ViewBag.Title = "母子資產查詢";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>母子資產查詢</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">母子資產查詢</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="@Url.Action("Query")" class="form-horizontal" id="queryForm">
                        <input type="hidden" id="CurrentPage" name="CurrentPage" value="1" />
                        <input type="hidden" name="PageSize" value="10" />

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">關係類別</label>
                                <div class="col-sm-8">
                                    <input type="hidden" name="RelationType" id="RelationType" value="@Model.Conditions.RelationType"/>
                                    <input type="checkbox"  id="RelationTypeAll" value="0" onclick="setupAllRelationType()" @(Model.Conditions.RelationType == 0 ? "checked" : "")>全部
                                    <input type="checkbox" name="RelationTypeC" value="1" onclick="setupRelationType()" @(Model.Conditions.RelationType==1? "checked" : "")>母資產
                                    <input type="checkbox" name="RelationTypeC" value="2" onclick="setupRelationType()" @(Model.Conditions.RelationType==2? "checked" : "")>子資產
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">資產類別</label>
                                <div class="col-sm-8">
                                    <input type="hidden" name="TransType" id="TransType" value="@Model.Conditions.TransType" />
                                    <input type="checkbox" id="TransTypeAll" value="0" onclick="setupAllTransType()" @(Model.Conditions.TransType == 0 ? "checked" : "")>全部
                                    <input type="checkbox" name="TransTypeC" value="1" onclick="setupTransType()" @(Model.Conditions.TransType == 1 ? "checked" : "")>動產
                                    <input type="checkbox" name="TransTypeC" value="2" onclick="setupTransType()" @(Model.Conditions.TransType == 2 ? "checked" : "")>土地
                                    <input type="checkbox" name="TransTypeC" value="3" onclick="setupTransType()" @(Model.Conditions.TransType == 3 ? "checked" : "")>房屋
                                </div>
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="" class="col-sm-4 control-label">資產編號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="AssetNumber" name="AssetNumber" value="@Model.Conditions.AssetNumber">
                                </div>
                            </div>


                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button type="button" class="btn btn-success" onclick="checkQueryForm()">查詢</button>
                                    <button type="button" class="btn btn-danger" onclick="resetForm()">清除</button>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">


                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共 @Model.Results.TotalAmount 筆 第 @Model.Conditions.CurrentPage 頁</label>
                                    <a class="btn btn-sm btn-default" href="@Url.Action("Index", "Home")">回上頁</a>
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th>關係類別</th>
                                    <th>母資產類別</th>
                                    <th>母資產編號</th>
                                    <th>母資產名稱</th>
                                    <th>子資產類別</th>
                                    <th>子資產編號</th>
                                    <th>子資產名稱</th>
                                    <th>折舊方式</th>
                                    <th>年限年數</th>
                                    <th>殘值</th>
                                    <th>提列折舊</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int i = 0; i < Model.Results.Items.Count; i++)
                                {
                                    var item = Model.Results.Items[i];

                                    <tr>
                                        <td>@(i+1)</td>
                                        <td>@(item.FamilyType == 1 ? "母子資產" : "重大組成")</td>
                                        <td>@(item.Layer == 1 ? item.AssetCode:"")</td>
                                        <td>@(item.Layer == 1 ? item.AssetNumber : "")</td>
                                        <td>@(item.Layer == 1 ? item.AssetName : "")</td>
                                        <td>@(item.Layer == 2 ? item.AssetCode : "")</td>
                                        <td>@(item.Layer == 2 ? item.AssetNumber : "")</td>
                                        <td>@(item.Layer == 2 ? item.AssetName : "")</td>
                                        <td>@(item.DerpnMethod == 1 ? "STL" : "")</td>
                                        <td>@item.LifeYears</td>
                                        <td>@item.SalvageValue</td>
                                        <td>@(item.NotDeprnFlag==1 ? "否" : "是")</td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        function checkQueryForm()
        {
            $("#queryForm").submit();
        }

        function setupRelationType()
        {
            var count = 0;
            $("input[name=RelationTypeC]:checked").each(function () {
                count += parseInt(this.value,10);
            });
            //只要是1或2代表就沒有全部
            if (count == 1 || count == 2) {
                $("input[id=RelationTypeAll]:checked").each(function () {
                    $(this).prop("checked", false);
                });
            }
            if (count > 2) {
                count = 0;
            }
            $("#RelationType").val(count);
        }
        function setupAllRelationType() {
            debugger
            if ($("#RelationTypeAll").is(":checked")) {
                $("input[name=RelationTypeC]").each(function () {
                    $(this).prop("checked", true);
                });
            }
        }
        function resetForm()
        {
            $("input[name=RelationTypeC]").each(function () {
                this.checked = false;
            });

            $("#RelationType").val(0);
            $("#AssetNumber").val("");
        }

        function toPage(page)
        {
            $("#CurrentPage").val(page);
            $("#queryForm").submit();
        }

        function chceckAll(currentValue) {
            $("input[name=batch]").each(function () {
                this.checked = currentValue;
            });
        }

        function goToIndex() {
            location.reload();
        }

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.Results.TotalAmount,//資料庫總筆數
                    page_size: @Model.Conditions.PageSize,//單頁筆數
                    page_now: @Model.Conditions.CurrentPage,//當前頁
                    center_page: @Model.Conditions.CurrentPage,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "",
                    pageFunc: toPage
                }
            });

            setupAllRelationType();
        })(jQuery);

    </script>

}






