﻿@{
    ViewBag.Title = "LandAssets";
    var whereaction = ViewContext.RouteData.GetRequiredString("action");

}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>土地資產維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">土地</a>
            </li>
            <li>
                <a href="#">土地資產維護</a>
            </li>
            <li>
                <a href="#">事務處理單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>事務處理單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">

                        <div class="row">

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">事務處理類型</label>
                                <div class="col-sm-7">
                                    <select class="form-control" name="CancelCode" @((whereaction == "Void" || whereaction == "New" || whereaction == "Returned" || whereaction == "Withdraw" || whereaction == "Signed" || whereaction == "Approved") ? "disabled" : "")>
                                        <option value="">土地新增</option>
                                        <option value="" selected="selected">土地資產維護</option>
                                        <option value="">土地成本維護</option>
                                        <option value="">土地分割</option>
                                        <option value="">土地合併</option>
                                        <option value="">土地重測</option>
                                        <option value="">土地重劃</option>
                                        <option value="">土地處分</option>
                                        <option value="">房屋新增</option>
                                        <option value="">重大組成新增</option>
                                        <option value="">房屋資產維護</option>
                                        <option value="">房屋成本維護</option>
                                        <option value="">房屋處分</option>
                                        <option value="">房屋折舊</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">事務處理編號</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" value="" name="CodeID" @((whereaction == "Void" || whereaction == "New" || whereaction == "Returned" || whereaction == "Withdraw" || whereaction == "Signed" || whereaction == "Approved") ? "disabled" : "") />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">狀態</label>
                                <div class="col-sm-7">
                                    <select class="form-control" name="" disabled>
                                        <option @(whereaction == "New" ? "selected" : "") value="">新增</option>
                                        <option @(whereaction == "Signed" ? "selected" : "") value="">簽核中</option>
                                        <option @(whereaction == "Approved" ? "selected" : "") value="">已核准</option>
                                        <option @(whereaction == "Returned" ? "selected" : "") value="">退回修改</option>
                                        <option @(whereaction == "Withdraw" ? "selected" : "") value="">抽回修改</option>
                                        <option @(whereaction == "Void" ? "selected" : "") value="">作廢</option>
                                        <option value="">&nbsp;</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">帳本</label>
                                <div class="col-sm-7">
                                    <select class="form-control" name="" @((whereaction == "Void" || whereaction == "Signed" || whereaction == "Approved") ? "readonly" : "")>
                                        <option value="">RE_IFRS</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">事務處理日期</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" value="" @((whereaction == "Void" || whereaction == "Signed" || whereaction == "Approved") ? "readonly" : "") />
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary"><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">入帳日期</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary"><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>

                            <div class="col-sm-5 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">管轄單位</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" value="" @((whereaction == "Void" || whereaction == "Signed" || whereaction == "Approved") ? "readonly" : "") />
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary"><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>


                            <div class="col-sm-5 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">備註</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Remark" />
                                </div>
                            </div>



                        </div>



                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">


                                    <a href="@Url.Action("Index","LandAssets")" class="btn btn-warning"><i class="fa fa-reply"> 返回</i></a>
                                    @{

                                        if (whereaction == "New" || whereaction == "Returned" || whereaction == "Withdraw")
                                        {
                                            <button class="btn btn-primary"><i class="fa fa-save"> 儲存</i></button>
                                            <button class="btn btn-primary"><i class="fa fa-upload"> 提交</i></button>
                                            if (whereaction == "New")
                                            {
                                                <button type="reset" class="btn btn-danger"><i class="fa fa-trash"> 刪除</i></button>
                                            }
                                            else if (whereaction == "Returned" || whereaction == "Withdraw")
                                            {
                                                <button type="reset" class="btn btn-danger"><i class="fa fa-trash"> 作廢</i></button>
                                            }
                                        }



                                    }


                                    @*<a href="@Url.Action("Create")" class="btn btn-info"><i class="fa fa-trash">新增</i></a>*@

                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">


                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  n 筆 第 1 頁</label>
                                </td>
                                <td style="text-align: right">

                                    @{

                                        if (whereaction == "New" || whereaction == "Returned" || whereaction == "Withdraw")
                                        {
                                            <a href="@Url.Action("NewCreate","LandAssets")" class="btn btn-primary"><i class="fa fa-plus"> 新增</i></a>
                                        }
                                    }

                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>資產編號</th>
                                    <th>摘要</th>
                                    <th>資產分類</th>
                                    <th>帳面成本</th>
                                    <th>啟用日期</th>
                                    <th>檢視</th>
                                    <th>刪除</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <tr>

                                        <td>@(i + 1)</td>
                                        <td>@Html.Raw("1010202-00000" + (i + 1).ToString("00"))</td>
                                        <td>
                                            台北土銀總公司土地
                                        </td>
                                        <td>
                                            3.31.B
                                        </td>
                                        <td>
                                            5,000
                                        </td>
                                        <td>
                                            106-01-02
                                        </td>
                                        <td>


                                            <a href="@((whereaction=="New"|| whereaction == "Returned" || whereaction == "Withdraw") ? Url.Action("CreateEdit") : Url.Action("CreateLock"))" class="btn btn-primary btn-circle" title="檢視">



                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn btn-primary btn-circle btn-danger" title="刪除">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </td>

                                    </tr>


                                }
                            </tbody>

                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
