﻿
@{
    ViewBag.Title = "LandAssets";
    var whereaction = ViewContext.RouteData.GetRequiredString("action");
}

<div class="row wrapper border-bottom white-bg page-heading ">
    <div class="el-col-10">
        <h2>土地資產維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Hoem")">首頁</a>
            </li>
            <li>
                <a href="#">土地</a>
            </li>
            <li>
                <a href="#">土地資產維護</a>
            </li>
            <li>
                <a href="#">事務處裡單據</a>
            </li>
            <li>
                <a href="#">查詢條件</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins ">
                <div class="ibox-title">
                    <h5>查詢條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">
                        <div class="row">

                            <div class="col-sm-10 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">縣市</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="" value="臺北市" />
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-primary" @((whereaction == "CreateLock") ? "disabled" : "")><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>

                            <div class="col-sm-10 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">鄉鎮市區</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="" value="大安區" />
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-primary" @((whereaction == "CreateLock") ? "disabled" : "")><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>

                            <div class="col-sm-10 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">地段</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="" value="大安段" />
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="" value="小三段" />
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-primary" @((whereaction == "CreateLock") ? "disabled" : "")><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>

                            <div class="col-sm-10 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">地號</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="" value="000" />
                                </div>
                                <div class="col-sm-1">
                                    <h3>～</h3>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="" value="012" />
                                </div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="pull-right">
                                    <a href="@Url.Action("New","LandAssets")" class="btn btn-warning"><i class="fa fa-reply"> 返回</i></a>
                                    <a href="#" class="btn btn-primary"><i class="fa fa-search"> 搜尋</i></a>
                                    <button type="reset" class="btn btn-danger"><i class="fa fa-trash"> 清除</i></button>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <div class="table-responsive">
                        <div class="col-sm-11 form-group">
                            <h5 class="col-sm-2">查詢結果</h5>
                            <hr class="col-sm-12">
                        </div>
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  n 筆 第 1 頁</label>
                                </td>
                                <td style="text-align: right">
                                    <a href="@Url.Action("New","LandAssets")" style="text-align: right" class="btn btn-primary"><i class="fa fa-plus"> 新增</i></a>
                                </td>
                            </tr>
                        </table>

                        <table class="table-condensed" style="width:100%">
                            <thead>
                                <tr>
                                    <th>　</th>
                                    <th>項次</th>
                                    <th>資產編號</th>
                                    <th>土地標示</th>
                                    <th>地號</th>
                                    <th>整筆面積</th>
                                    <th>權利範圍</th>
                                    <th>帳面成本</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i <= 5; i++)
                                {
                                    <tr>
                                        <td><input type="radio" class="form-control" name="sel" /></td>
                                        <td>@(i + 1)</td>
                                        <td>1010202-000003@(i + 1)</td>
                                        <td>臺北市信義區信義段三小段</td>
                                        <td>025@(i + 1)-0000</td>
                                        <td>@((@i + 1) * 18 + (i + 1) * 50)</td>
                                        <td>1/@(i + 1)</td>
                                        <td>@((123000 * (i + 1) * 10).ToString("N0"))</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>