﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>自訂報表</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">交集查詢</a>
            </li>
            <li>
                <a href="#">自訂報表</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row" style="margin-bottom: 80px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>條件設定</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-9 form-group">
                                <label class="col-sm-2 control-label" style="width:16.5%">使用範本</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option>資產用途分類統計</option>
                                        <option>各縣市資產統計表</option>
                                        <option>各類都市計畫分區土地統計表</option>
                                        <option>財產彙總表</option>
                                        <option>資產成本(累計折舊)增減變動明細表</option>
                                        <option>財產期間異動明細表</option>
                                        <option>資產折舊彙總(統計)表</option>
                                        <option>資產減損明細表</option>
                                        <option>資產重估明細表</option>
                                        <option>自訂範本XXXXX</option>
                                        <option>自訂範本YYYYY</option>
                                        <option>自訂範本ZZZZZ</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#modal-form-deletetemp" data-toggle="modal" class="btn btn-gray"><i class="fa fa-trash"> 刪除此範本 </i></a>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label class="col-sm-2 control-label" style="width:16.5%">報表標題</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control " value="" />
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">資產類型</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="radio" name="radiogroup1" checked><span>土地</span>
                                    <input type="radio" name="radiogroup1"><span>房屋</span>
                                    <input type="radio" name="radiogroup1"><span>動產</span>
                                    <input type="radio" name="radiogroup1"><span>出租租約</span>
                                    <input type="radio" name="radiogroup1"><span>承租租約</span>
                                    <input type="radio" name="radiogroup1"><span>租賃權益</span>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-12 form-group gutter-s">
                                <label class="col-sm-1 control-label" style="width:12.2%"><span style="color:red">*</span> 資產分類</label>

                                <div class="col-sm-3">
                                    <div style="background:url(Content/images/tablexy.png) no-repeat left;width:160px;height:100px;margin:auto;margin-bottom:20px;margin-top:10px"></div>
                                    <span class="text-lineH-fix" style="float:left">X軸顯示</span>
                                    <select class="form-control" id="" style="width:60%;float:left;margin-left:10px">
                                        <option>年度</option>
                                        <option>年度月份</option>
                                        <option>都市計畫分區</option>
                                        <option>資產分類</option>
                                        <option>巡查狀況 </option>
                                        <option>逾期狀況 </option>
                                        <option>處分原因</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <div style="background:url(Content/images/tablexy.png) no-repeat center;width:160px;height:100px;margin:auto;margin-bottom:20px;margin-top:10px"></div>
                                    <span class="text-lineH-fix" style="float:left">Y軸顯示</span>
                                    <select class="form-control" id="" style="width:60%;float:left;margin-left:10px">
                                        <option>分行</option>
                                        <option>縣市</option>
                                        <option>都市計畫分區</option>
                                        <option>資產分類</option>
                                        <option>巡查狀況 </option>
                                        <option>逾期狀況</option>
                                        <option>處分原因</option>
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <div style="background:url(Content/images/tablexy.png) no-repeat right;width:160px;height:100px;margin:auto;margin-bottom:20px;margin-top:10px"></div>
                                    <span class="text-lineH-fix" style="float:left">Z軸顯示</span>
                                    <select class="form-control" id="" style="width:60%;float:left;margin-left:10px">
                                        <option>統計數量</option>
                                        <option>公告現值總計</option>
                                        <option>公告地價總計</option>
                                        <option>取得成本總計</option>
                                        <option>帳面金額總計</option>
                                        <option>市場價值總計</option>
                                        <option>累計減損總計</option>
                                        <option>累計折舊總計</option>
                                        <option>權利面積</option>
                                        <option>自用面積</option>
                                        <option>非自用面積</option>
                                        <option>營業用面積</option>
                                        <option>營業用帳面金額總計</option>
                                        <option>非營業用面積</option>
                                        <option>非營業用帳面金額總計</option>
                                    </select>
                                </div>

                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">統計分析期間</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">國內外</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="radio" name="radiogroup2" checked><span>全部</span>
                                    <input type="radio" name="radiogroup2"><span>國內</span>
                                    <input type="radio" name="radiogroup2"><span>國外</span>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">是否特定縣市</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="radio" name="radiogroup3" checked><span>全部縣市</span>
                                    <input type="radio" name="radiogroup3"><span>特定縣市：</span>
                                    <select class="form-control" id="" style="width:40%;margin-top:-6px">
                                        <option>請選擇縣市</option>
                                        <option>台北市</option>
                                        <option>新北市</option>
                                        <option>桃園縣</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">是否特定分行</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="radio" name="radiogroup4" checked><span>全部分行</span>
                                    <input type="radio" name="radiogroup4"><span>特定分行：</span>
                                    <select class="form-control" id="" style="width:40%;margin-top:-6px">
                                        <option>請選擇分行</option>
                                        <option>台北分行</option>
                                        <option>新北分行</option>
                                        <option>桃園分行</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">產製報表格式</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="radio" name="radiogroup5" checked><span>EXCEL</span>
                                    <input type="radio" name="radiogroup5"><span>CSV</span>
                                    <input type="radio" name="radiogroup5"><span>PDF</span>
                                    <input type="radio" name="radiogroup5"><span>TXT</span>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3" style="padding:0;margin:0"><a href="#modal-form-savedata" data-toggle="modal" class="btn btn-success" style="float:left"><i class="fa fa-save"> 存成範本 </i></a></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a class="btn btn-primary"><i class="fa fa-long-arrow-right"> 產 製 </i></a>
            <a onclick="history.back()" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定儲存此範本？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-gray" type="reset" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-deletetemp" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定刪除此範本？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-gray" type="reset" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>