﻿@using InspiniaWebAdminTemplate.Models.Build
@model AssetViewModel
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    string functionName = BuildHelper.GetFunctionTitle(controllerName);
    var Header = TempData["Header"] as BuildTRXHeaderViewModel;
    TempData["Header"] = Header;
    TempData["AssetVM"] = Model as AssetViewModel;

    if (Convert.ToBoolean(ViewBag.SignMode))
    {
        Layout = "~/Views/Shared/_EmptyLayout.cshtml";
        TempData["SignMode"] = true;
        ViewBag.Title = "檢視資產";
    }

    //是否可以編輯
    bool CanEdit = (Header != null && (Header.Transaction_Status == "0" || Header.Transaction_Status == "3" || Header.Transaction_Status == "4"));
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">房屋管理</a>
            </li>
            <li>
                <a href="#">@(functionName + "作業")</a>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ol>
    </div>
</div>
<script type="text/javascript">
    function Save() {
        $('#form').prop('action', '@Url.Action("EditCategoryByAsset")');
    }
</script>
<div class="wrapper wrapper-content animated fadeInRight">
    <form method="post" id="form" class="form-horizontal">

        <div class="row">
            <div class="col-lg-12">

                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">異動前資產分類</label>
                            @AssetCategoryControl.GenAssetCategoryControl("Before", "BuildCategory.Old_Asset_Category_Code", Model.BuildCategory.Old_Asset_Category_Code)
          
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">異動後資產分類</label>
                            @AssetCategoryControl.GenAssetCategoryControl("After", "BuildCategory.NEW_Asset_Category_Code", Model.BuildCategory.NEW_Asset_Category_Code)

                        </div>
                        <div class="clearfix"></div>

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <a class="btn btn-default" href="@Url.Action("Edit",new { id= Header.Form_Number})"><i class="fa fa-arrow-left">返回</i></a>
                                    <button class="btn btn-primary" onclick="Save();"><i class="fa fa-check"> 確 定 </i></button>
                                </label>
                            </div>
                        </div>
                        <input id="CategoryID" name="BuildCategory.ID" type="hidden"  value="@Model.BuildCategory.ID"/>
                    </div>

                    </div>
            </div>
        </div>

    </form>
    <table border="1">
        <tbody>
            <tr>
                <td>序號</td>
                <td>欄位名</td>
                <td>異動前</td>
                <td>異動後</td>
            </tr>
            @for (int i = 0; i < Model.BuildChangeRecord.Count(); i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@(BuildDisplayName.GetBuildDisplayName(Model.BuildChangeRecord[i].Field_Name))</td>
                    <td>@Model.BuildChangeRecord[i].Before_Data</td>
                    <td>@Model.BuildChangeRecord[i].After_Data</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {

        $("select[id^='Before_']").attr("disabled", true);

    });
</script>
