﻿@using InspiniaWebAdminTemplate.Models.Build
@model AssetViewModel
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    string functionName = BuildHelper.GetFunctionTitle(controllerName);
    var Header = TempData["Header"] as BuildTRXHeaderViewModel;
    TempData["Header"] = Header;
    TempData["AssetVM"] = Model as AssetViewModel;

    if (Convert.ToBoolean(ViewBag.SignMode))
    {
        Layout = "~/Views/Shared/_EmptyLayout.cshtml";
        TempData["SignMode"] = true;
        ViewBag.Title = "檢視資產";
    }

    //是否可以編輯
    bool CanEdit = (Header != null && (Header.Transaction_Status == "0" || Header.Transaction_Status == "3" || Header.Transaction_Status == "4"));
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">房屋管理</a>
            </li>
            <li>
                <a href="#">@(functionName + "作業")</a>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ol>
    </div>
</div>
<script type="text/javascript">
    function Save() {
        $('#form').prop('action', '@Url.Action("EditRetireByAsset")');
    }
</script>
<div class="wrapper wrapper-content animated fadeInRight">
    <form method="post" id="form" class="form-horizontal">

        <div class="row">
            <div class="col-lg-12">

                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">處分原因</label>
                            <div class="col-sm-6">
                                @DropDownControl.GenDropDownControl("Reason_Code", "BuildRetire.Reason_Code", "B12", (!string.IsNullOrEmpty(Model.BuildRetire.Reason_Code) ? Model.BuildRetire.Reason_Code : ""))
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">處分成本</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m=>m.BuildRetire.Retire_Cost)
                                @*<input type="text" class="form-control " value="7,277,114" style="text-align:right" />*@
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">變賣收入</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.BuildRetire.Sell_Amount)
                                @*<input type="text" class="form-control " value="7,277,114" style="text-align:right" />*@
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">變賣成本</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.BuildRetire.Sell_Cost)
                                @*<input type="text" class="form-control " value="7,277,114" style="text-align:right" />*@
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">未實現重估增值</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.BuildRetire.Reval_Adjustment_Amount)
                                @*<input type="text" class="form-control " value="7,277,114" style="text-align:right" />*@
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">重估增值成本</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.BuildRetire.Reval_Reserve)
                                @*<input type="text" class="form-control " value="7,277,114" style="text-align:right" />*@
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <a class="btn btn-default" href="@Url.Action("Edit",new { id= Header.Form_Number})"><i class="fa fa-arrow-left">返回</i></a>
                                    <button class="btn btn-primary" onclick="Save();"><i class="fa fa-check"> 確 定 </i></button>
                                </label>
                            </div>
                        </div>
                        <input id="BuildRetireID" name="BuildRetire.ID" type="hidden" value="@Model.BuildRetire.ID" />
                        @*@Html.HiddenFor(m => m.Asset_Number)*@
                    </div>

                </div>
            </div>
        </div>

    </form>
</div>