﻿@using InspiniaWebAdminTemplate.Models.Build
@model AssetsIndexViewModel
@{
    BuildTRXHeaderViewModel Header = (TempData["Header"] != null) ? TempData["Header"] as BuildTRXHeaderViewModel : null;
    TempData["Header"] = Header;
    List<string> UseAsset = (TempData["UseAsset"] != null) ? TempData["UseAsset"] as List<string> : null;
    TempData["UseAsset"] = UseAsset;
    AssetsSearchViewModel QueryCondition = (TempData["QueryCondition"] != null) ? TempData["QueryCondition"] as AssetsSearchViewModel : null;
    TempData["QueryCondition"] = QueryCondition;

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string functionName = BuildHelper.GetFunctionTitle(controllerName);
    ViewBag.Title = "搜尋資產";


}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">房屋管理</a>
            </li>
            <li>
                <a href="#">@(functionName + "作業")</a>
            </li>
            <li>
                <a href="#">@ViewBag.FunctionFrom</a>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ol>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $('#City_Code').change(function () {
            GetDistrict($(this).val());
        });

        $('#District_Code').change(function () {
            GetSection($('#City_Code').val(), $(this).val());
        });
        //初始化
        GetDistrict('@Model.condition.City_Code', '@Model.condition.District_Code');
        GetSection('@Model.condition.City_Code', '@Model.condition.District_Code', '@Model.condition.Section_Code');
    });
    function GetDistrict(City,DefaultValue)
    {
        $.ajax({
            url: G_GetDistrict,
            data: 'City=' + City,
            type: 'post',
            success: function (data) {
                //先清
                $("#District_Code option").remove();

                $.each(data, function (index, value) {
                    $("#District_Code").append($("<option></option>").attr("value", value.Value).html(value.Value + value.Text));
                });

                if (DefaultValue != '')
                {
                    $("#District_Code").val(DefaultValue);
                }

                $("#District_Code").change();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    function GetSection(City, District, DefaultValue)
    {
        $.ajax({
            url: G_GetSection,
            data: { 'City': City, 'District': District },
            type: 'post',
            success: function (data) {
                //先清
                $("#Section_Code option").remove();

                $.each(data, function (index, value) {
                    $("#Section_Code").append($("<option></option>").attr("value", value.Value).html(value.Value + value.Text));
                });

                if (DefaultValue != '') {
                    $("#Section_Code").val(DefaultValue);
                }

                $("#Section_Code").change();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    function ChangeAllCheckBox()
    {
        $('input[type="checkbox"][id!="ckAll"]').prop('checked', $('#ckAll').is(':checked'));
    }
    function AssetQuery()
    {
        $('#form').prop('action', '@Url.Action("Asset_Query")');
    }
    function Save()
    {
        $('#form').prop('action', '@Url.Action("AssetsToBuild")');
        var AssetsList = [];
        $('input[type="checkbox"][id*="asset"]:checked').each(function () {
            if($(this).val())
            {
                AssetsList.push($(this).val());
            }
        });
        $('#AssetsList').val(AssetsList);

        if (AssetsList.length == 0)
        {
            alert("尚未選擇需導入之資產!!");
        }

        return (AssetsList.length != 0);
    }
</script>


<div class="wrapper wrapper-content animated fadeInRight">
    <form method="post" id="form" class="form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>查詢條件</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">縣市</label>
                                <div class="col-sm-8">
                                    @DropDownControl.GenDropDownControl("City_Code", "City_Code", "City", (!string.IsNullOrEmpty(Model.condition.City_Code) ? Model.condition.City_Code : ""))
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">鄉鎮市區</label>
                                <div class="col-sm-8">
                                    <select name="District_Code" class="form-control" id="District_Code"></select>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">地段</label>
                                <div class="col-sm-8">
                                    <select name="Section_Code" class="form-control" id="Section_Code"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">建號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Build_Number" value="@(!string.IsNullOrEmpty(Model.condition.Build_Number)? Model.condition.Build_Number : "")" />
                                </div>
                            </div>
                            <div class="col-sm-8 form-group">
                                <label for="" class="col-sm-3 control-label">資產編號</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="AssetNumber" value="@(!string.IsNullOrEmpty(Model.condition.AssetNumber)? Model.condition.AssetNumber : "")" />
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <a class="btn btn-gray" href="@Url.Action("Edit",new { id= Header.Form_Number})"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
                                    @*<a class="btn btn-gray" onclick="history.go(-1);"><i class="fa fa-long-arrow-left"> 返 回 </i></a>*@
                                    <button type="submit" onclick="AssetQuery();" class="btn btn-primary"><i class="fa fa-search"> 搜 尋 </i></button>
                                    <button type="button" onclick="ResetForm()" class="btn btn-gray"><i class="fa fa-close"> 清 除</i></button>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>查詢結果</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>勾選<input type="checkbox" id="ckAll" onclick="ChangeAllCheckBox();" /></th>
                                        <th>項次</th>
                                        <th>資產編號</th>
                                        <th>房屋標示</th>
                                        <th>建號</th>
                                        <th>資產分類</th>
                                        <th>使用年限</th>
                                        <th>權利面積</th>
                                        <th>帳面成本</th>
                                    </tr>
                                <thead>
                                <tbody>
                                <tbody>
                                    @for (int i = 0; i < Model.Items.Count(); i++)
                                    {
                                        var item = Model.Items.ToList()[i];

                                        <text>
                                            <tr>
                                                <td><input type="checkbox" value="@item.Asset_Number" id="@("asset" + (i + 1))" /></td>
                                                <td>@(i + 1)</td>
                                                <td>@item.Asset_Number <input id="@("assetID"+(i+1))" type="hidden" value="@item.ID"></td>
                                                <td>@item.Description</td>
                                                <td>@item.Build_Number</td>
                                                <td>@item.Asset_Category_Code <input id="@("assetCategory"+(i+1))" type="hidden" value="@item.Asset_Category_Code"></td>
                                                <td>@(item.Life_Years + "年" + item.Life_Months + "月") <input id="@("assetYear"+(i+1))" type="hidden" value="@item.Life_Years"><input id="@("assetMonth"+(i+1))" type="hidden" value="@item.Life_Months"></td>
                                                <td>@item.Authorization_Number</td>
                                                <td>@item.Current_Cost</td>
                                            </tr>
                                        </text>
                                    }
                                <tbody>
                            </table>

                            <a id="page">
                                <div id="page_region"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div id="InsertDiv">

                    </div>
                   @*<div class="ibox-title">
                            <h5>處份</h5>
                        </div>

                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">處分原因</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="">
                                            <option value="">災害損失</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">處分成本</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control " value="7,277,114" style="text-align:right" />
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">變賣收入</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control " value="7,277,114" style="text-align:right" />
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">變賣成本</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control " value="7,277,114" style="text-align:right" />
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">未實現重估增值</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control " value="7,277,114" style="text-align:right" />
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">重估增值成本</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control " value="7,277,114" style="text-align:right" />
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                            </div>

                        </div>*@
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                @*<a class="btn btn-default" href="@Url.Action("Edit", controllerName , new { id = (Header as BuildHeaderViewModel).TRX_Header_ID })"><i class="fa fa-arrow-left">返回</i></a>*@
                                <button class="btn btn-primary" onclick="Save();"><i class="fa fa-check"> 確 定 </i></button>
                            </label>
                        </div>
                    </div>
                    <input id="AssetsList" name="AssetsList" type="hidden" />
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        function splitCategoryCode(data,index){
            var result = '';
            if(data != null && data != 'undefined'){
                var array = data.split('.');
                if(array.length>index){
                    result = array[index];
                }
            }
            return result;
        }

        $("input[type='checkbox']").on('click',function(){
            $("#InsertDiv").empty();
            var current = 0;
            $('input[type="checkbox"][id*="asset"]:checked').each(function () {
                if($(this).val()){
                    @if(controllerName == "BuildLifeChange")
                    {
                        <text>
                        var id = $(this).get(0).id;
                        var assetID = $('#' + id.replace('asset', 'assetID')).val();
                        var assetYear = $('#' + id.replace('asset', 'assetYear')).val();
                        var assetMonth = $('#' + id.replace('asset', 'assetMonth')).val();
                        $("#InsertDiv").append(GenYearStr(assetID,$(this).val(), current));
                        $("#BeforeYear_"+current).val(assetYear);
                        $("#BeforeMonth_"+current).val(assetMonth);
                        $("#AfterYear_"+current).val(assetYear);
                        $("#AfterMonth_"+current).val(assetMonth);
                    //BindItem('BuildRetireViewModel[' + current + '].Reason_Code', 'B12', '', '');
                        current++;
                        </text>
                    }
                    @if(controllerName == "BuildDisposal")
                    {
                        <text>
                        var id = $(this).get(0).id;
                        var assetID = $('#' + id.replace('asset', 'assetID')).val();
                        $("#InsertDiv").append(GenRetireStr(assetID,$(this).val(), current));
                        BindItem('BuildRetireViewModel[' + current + '].Reason_Code', 'B12', '', '');
                        current++;
                        </text>
                    }
                    @if(controllerName == "BuildReclassify")
                    {
                        <text>
                        var id = $(this).get(0).id;
                        var assetCategory = $('#' + id.replace('asset', 'assetCategory')).val();
                        var assetID = $('#' + id.replace('asset', 'assetID')).val();
                        MainKind = splitCategoryCode(assetCategory,0);
                        DetailKind  = splitCategoryCode(assetCategory,1);
                        UseType  = splitCategoryCode(assetCategory,2);
                        //alert(assetCategory);
                        $("#InsertDiv").append(GenReclassifyStr(assetID,assetCategory,$(this).val(), current));

                        BindMain_Kind('Before_' + current, MainKind, DetailKind,'','');
                        BindUse_Types('Before_' + current, UseType);
                        BindMain_Kind('After_' + current, MainKind, DetailKind,'','');
                        BindUse_Types('After_' + current, UseType);

                        current++;
                        </text>
                    }
                }
            });
            @if (controllerName == "BuildReclassify")
            {
                <text>
                        $("select[id$='_Main_Kind']").change(function () {
                            var mainkind = $(this).val();
                            var target = ($(this).get(0).id).replace('_Main_Kind','');
                            if (mainkind != "") {
                                BindDetail_Kind(target,mainkind);
                                UpdateCategoryHidden(target);
                            }
                        });

                        $("select[id$='_Detail_Kind']").change(function () {
                            var target = ($(this).get(0).id).replace('_Detail_Kind','');
                            if ($(this).val() != "") {
                                GetAccountItem('',$(this).val());
                                UpdateCategoryHidden(target);
                            }
                        });

                        $("select[id$='_Use_Types']").change(function () {
                            var target = ($(this).get(0).id).replace('_Use_Types','');
                            if ($(this).val() != "") {
                                UpdateCategoryHidden(target);
                            }
                        });
                </text>
            }
        });

        //年限異動
        function GenYearStr(assetID,AssetNumber,current){
            var str = '<div class="ibox-title"><h5>資產編號' + AssetNumber + '年限異動</h5></div>'+

                      '<div class="ibox-content">'+

                      '<div class="row">'+

                      '<div class="col-sm-6 form-group">'+
                      '<label for="" class="col-sm-4 control-label">異動前年限年數</label>'+
                      '<div class="col-sm-2">'+
                      '<input id="BeforeYear_'+current+'" name="BuildYearViewModel['+current+'].Old_Life_Years" type="text" class="form-control " value="0" style="text-align:right" readonly="readonly"/>'+
                      '</div>'+
                      '<label for="" class="col-sm-4 control-label">月數</label>'+
                      '<div class="col-sm-2">'+
                      '<input id="BeforeMonth_'+current+'" name="BuildYearViewModel['+current+'].Old_Life_Months" type="text" class="form-control " value="0" style="text-align:right" readonly="readonly"/>'+
                      '</div></div>'+
                      '<div class="clearfix"></div>'+

                      '<div class="col-sm-6 form-group">'+
                      '<label for="" class="col-sm-4 control-label">異動後年限年數</label>'+
                      '<div class="col-sm-2">'+
                      '<input id="AfterYear_'+current+'" name="BuildYearViewModel['+current+'].New_Life_Years" type="text" class="form-control " value="0" style="text-align:right" />'+
                      '</div>'+
                      '<label for="" class="col-sm-4 control-label">月數</label>'+
                      '<div class="col-sm-2">'+
                      '<input id="AfterMonth_'+current+'" name="BuildYearViewModel['+current+'].New_Life_Months" type="text" class="form-control " value="0" style="text-align:right" />'+
                      '</div></div>'+
                      '<div class="clearfix"></div>'+

                      '</div></div>' +

                      '<input name="BuildYearViewModel['+current+'].Serial_Number" type="hidden" value="'+ (current + 1) +'" />'+
                      '<input name="BuildYearViewModel['+current+'].Asset_Number" type="hidden" value="'+AssetNumber+'" />' +
                      '<input name="BuildYearViewModel['+current+'].Asset_Build_ID" type="hidden" value="'+assetID+'" />' ;
            return str;
        }

        //產生資產分類
        function GenReclassifyStr(assetID,assetCategory,AssetNumber,current){

            var str = '<div class="ibox-title"><h5>資產編號' + AssetNumber + '重新分類</h5></div>' +

                      '<div class="ibox-content"><div class="row">' +

                      '<div class="col-sm-6 form-group">'+
                      '<label for="" class="col-sm-3 control-label">異動前資產分類</label>'+
                      '<div class="col-sm-3"><select class="form-control" id="Before_'+current+'_Main_Kind" disabled="true"></select></div>'+
                      '<div class="col-sm-3"><select class="form-control" id="Before_'+current+'_Detail_Kind" disabled="true"></select></div>'+
                      '<div class="col-sm-3"><select class="form-control" id="Before_'+current+'_Use_Types" disabled="true"></select></div>'+
                      '<input type="hidden" name="BuildCategoryViewModel['+current+'].Old_Asset_Category_Code" id="hdBefore_'+current+'" value="'+assetCategory+'" />'+
                      '</div>'+
                      '<div class="clearfix"></div>'+

                      '<div class="col-sm-6 form-group">'+
                      '<label for="" class="col-sm-3 control-label">異動後資產分類</label>'+
                      '<div class="col-sm-3"><select class="form-control" id="After_'+current+'_Main_Kind"></select></div>'+
                      '<div class="col-sm-3"><select class="form-control" id="After_'+current+'_Detail_Kind"></select></div>'+
                      '<div class="col-sm-3"><select class="form-control" id="After_'+current+'_Use_Types"></select></div>'+
                      '<input type="hidden" name="BuildCategoryViewModel['+current+'].NEW_Asset_Category_Code" id="hdAfter_'+current+'" value="" />'+
                      '</div>'+
                      '<div class="clearfix"></div>'+

                      '</div></div>'+

                      '<input name="BuildCategoryViewModel['+current+'].Serial_Number" type="hidden" value="'+ (current + 1) +'" />'+
                      '<input name="BuildCategoryViewModel['+current+'].Asset_Number" type="hidden" value="'+AssetNumber+'" />' +
                      '<input name="BuildCategoryViewModel['+current+'].Asset_Build_ID" type="hidden" value="'+assetID+'" />' ;
            return str;

        }

        //產生房屋處分資料輸入框
        function GenRetireStr(assetID,AssetNumber,current){
            var DropDownCode = '<select name="BuildRetireViewModel['+current+'].Reason_Code" class=\"form-control\" id=\"BuildDetails_Asset_Type\" ></select>';
            var str = '<div class="ibox-title"><h5>資產編號' + AssetNumber + '處份</h5></div>'+

                      '<div class="ibox-content">'+

                      '<div class="row">'+

                      '<div class="col-sm-6 form-group">'+
                      '<label for="" class="col-sm-3 control-label">處分原因</label>'+
                      '<div class="col-sm-6">'+
                      DropDownCode +
                      //'<select class="form-control" id="">'+
                      //'<option value="">災害損失</option>'+
                      //'</select>'+
                      '</div></div>'+

                      '<input name="BuildRetireViewModel['+current+'].Reason_Code" type="hidden" class="form-control " value=" " style="text-align:right" />'+
                      '<div class="clearfix"></div>'+

                      '<div class="col-sm-6 form-group">'+
                      '<label for="" class="col-sm-3 control-label">處分成本</label>'+
                      '<div class="col-sm-6">'+
                      '<input name="BuildRetireViewModel['+current+'].Retire_Cost" type="text" class="form-control " value="0" style="text-align:right" />'+
                      '</div></div>'+
                      '<div class="clearfix"></div>'+

                      '<div class="col-sm-6 form-group">'+
                      '<label for="" class="col-sm-3 control-label">變賣收入</label>'+
                      '<div class="col-sm-6">'+
                      '<input name="BuildRetireViewModel['+current+'].Sell_Amount" type="text" class="form-control " value="0" style="text-align:right" />'+
                      '</div></div>'+
                      '<div class="clearfix"></div>'+

                      '<div class="col-sm-6 form-group">'+
                      '<label for="" class="col-sm-3 control-label">變賣成本</label>'+
                      '<div class="col-sm-6">'+
                      '<input name="BuildRetireViewModel['+current+'].Sell_Cost" type="text" class="form-control " value="0" style="text-align:right" />'+
                      '</div></div>'+
                      '<div class="clearfix"></div>'+

                      '<div class="col-sm-6 form-group">'+
                      '<label for="" class="col-sm-3 control-label">未實現重估增值</label>'+
                      '<div class="col-sm-6">'+
                      '<input name="BuildRetireViewModel['+current+'].Reval_Adjustment_Amount" type="text" class="form-control " value="0" style="text-align:right" />'+
                      '</div></div>'+
                      '<div class="clearfix"></div>'+

                      '<div class="col-sm-6 form-group">'+
                      '<label for="" class="col-sm-3 control-label">重估增值成本</label>'+
                      '<div class="col-sm-6">'+
                      '<input name="BuildRetireViewModel['+current+'].Reval_Reserve" type="text" class="form-control " value="0" style="text-align:right" />'+
                      '</div></div>'+
                      '<div class="clearfix"></div>'+

                      '</div></div>' +

                      '<input name="BuildRetireViewModel['+current+'].Serial_Number" type="hidden" value="'+ (current + 1) +'" />'+
                      '<input name="BuildRetireViewModel['+current+'].Asset_Number" type="hidden" value="'+AssetNumber+'" />' +
                      '<input name="BuildRetireViewModel['+current+'].Asset_Build_ID" type="hidden" value="'+assetID+'" />' ;

            return str;
        }

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.TotalAmount,//資料庫總筆數
                    page_size: @Model.condition.PageSize,//單頁筆數
                    page_now: @Model.condition.Page,//當前頁
                    center_page: @Model.condition.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("AssetsUpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });

            $('[data-toggle="tooltip"]').tooltip();

            @if (controllerName == "BuildReclassify")
            {
                <text>
                MainKind = '';
                DetailKind = '';
                UseType = '';
                </text>
            }

        })(jQuery);

    </script>
}