﻿@using InspiniaWebAdminTemplate.Models.Build
@model AssetsMPIndexViewModel
@{
    var Header = (TempData["Header"] != null) ? TempData["Header"] : null;
    TempData["Header"] = Header;

    List<string> UseAsset = (TempData["UseAsset"] != null) ? TempData["UseAsset"] as List<string> : null;
    TempData["UseAsset"] = UseAsset;

    AssetsMPSearchViewModel QueryCondition = (TempData["QueryCondition"] != null) ? TempData["QueryCondition"] as AssetsMPSearchViewModel : null;
    TempData["QueryCondition"] = QueryCondition;

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string functionName = BuildHelper.GetFunctionTitle(controllerName);
    ViewBag.Title = "搜尋";
}

<script type="text/javascript">
    function AssetQuery()
    {
        $('#form').prop('action', '@Url.Action("Asset_Query")');
    }
    function Save()
    {
        $('#form').prop('action', '@Url.Action("AssetsToBuildMP")');
        var AssetsList = [];
        $('input[type="checkbox"][id*="asset"]:checked').each(function () {
            if($(this).val())
            {
                AssetsList.push($(this).val());
            }
        });
        $('#AssetsList').val(AssetsList);

        if (AssetsList.length == 0)
        {
            alert("尚未選擇需導入之資產!!");
        }

        return (AssetsList.length != 0);
    }

    function Return()
    {

    }
</script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">房屋管理</a>
            </li>
            <li>
                <a href="#">@(functionName + "作業")</a>
            </li>
            <li>
                <a href="#">@ViewBag.FunctionFrom</a>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <form method="post" id="form" class="form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>查詢條件</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">



                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-3 control-label">資產編號</label>
                                <div class="col-sm-9">
                                    @AssetCategoryControl.GenAssetCategoryControl("Asset_Category_Code", "Search_Asset_Category_Code", "", "", "", "Build")
                                    @*<select class="form-control" id="">
                                            <option value=""></option>
                                        </select>*@
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-3 control-label">主資產編號</label>
                                <div class="col-sm-9">
                                    @AssetCategoryControl.GenAssetCategoryControl("Parent_Asset_Category_Code", "Search_Parent_Asset_Category_Code", "", "", "", "Build")


                                    @*<select class="form-control" id="">
                                            <option value=""></option>
                                        </select>*@
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <a class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
                                    <button type="submit" onclick="AssetQuery();" class="btn btn-primary"><i class="fa fa-search"> 搜 尋 </i></button>
                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                </label>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>查詢結果</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>項次</th>
                                        <th>資產編號</th>
                                        <th>摘要</th>
                                        <th>資產分類</th>
                                        <th>使用年限</th>
                                        <th>帳面成本</th>
                                    </tr>
                                <thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        for (int i = 0; i < Model.Items.Count(); i++)
                                        {
                                            var item = Model.Items.ToList()[i];

                                            <text>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" value="@item.Asset_Number" id="@("asset" + (i + 1))" />
                                                    </td>
                                                    <td>@(i + 1)</td>
                                                    <td>@item.Asset_Number <input id="@("assetID"+(i+1))" type="hidden" value="@item.ID"></td>
                                                    <td>@item.Description</td>
                                                    <td>@item.Asset_Category_Code <input id="@("assetCategory"+(i+1))" type="hidden" value="@item.Asset_Category_Code"></td>
                                                    <td>@(item.Life_Years + "年" + item.Life_Months + "月") <input id="@("assetYear"+(i+1))" type="hidden" value="@item.Life_Years"><input id="@("assetMonth"+(i+1))" type="hidden" value="@item.Life_Months"></td>
                                                    <td>@item.Current_Cost</td>
                                                </tr>
                                            </text>
                                        }
                                    }
                                <tbody>
                            </table>
                            <a id="page">
                                <div id="page_region"></div>
                            </a>
                            @*<nav class="text-center">
                                <ul class="pagination">
                                    <li class="disabled"><a>1</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                    <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                    <li>
                                        <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                            <span aria-hidden="true">&raquo;&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div id="InsertDiv">
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button class="btn btn-primary" onclick="Save();"><i class="fa fa-check"> 確 定 </i></button>
                                <input id="AssetsList" name="AssetsList" type="hidden" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {

    @Html.Partial("_VuePageList")

    <script>
        function splitCategoryCode(data,index){
            var result = '';
            if(data != null && data != 'undefined'){
                var array = data.split('.');
                if(array.length>index){
                    result = array[index];
                }
            }
            return result;
        }

        $("input[type='checkbox']").on('click',function(){
            $("#InsertDiv").empty();
            var current = 0;
            $('input[type="checkbox"][id*="asset"]:checked').each(function () {
                if($(this).val()){
                    @if(controllerName == "BuildMPLifeChange")
                    {
                        <text>
                        var id = $(this).get(0).id;
                        var assetID = $('#' + id.replace('asset', 'assetID')).val();
                        var assetYear = $('#' + id.replace('asset', 'assetYear')).val();
                        var assetMonth = $('#' + id.replace('asset', 'assetMonth')).val();
                        $("#InsertDiv").append(GenYearStr(assetID,$(this).val(), current));
                        $("#BeforeYear_"+current).val(assetYear);
                        $("#BeforeMonth_"+current).val(assetMonth);
                        $("#AfterYear_"+current).val(assetYear);
                        $("#AfterMonth_"+current).val(assetMonth);
                       //BindItem('BuildRetireViewModel[' + current + '].Reason_Code', 'B12', '', '');
                        current++;
                        </text>
                    }
                    @if(controllerName == "BuildMPDisposal")
                    {
                        <text>
                        var id = $(this).get(0).id;
                        var assetID = $('#' + id.replace('asset', 'assetID')).val();
                        $("#InsertDiv").append(GenRetireStr(assetID,$(this).val(), current));
                        BindItem('BuildRetireViewModel[' + current + '].Reason_Code', 'B12', '', '');
                        current++;
                        </text>
                    }
                    @if(controllerName == "BuildMPReclassify")
                    {
                        <text>
                        var id = $(this).get(0).id;
                        var assetCategory = $('#' + id.replace('asset', 'assetCategory')).val();
                        var assetID = $('#' + id.replace('asset', 'assetID')).val();
                        MainKind = splitCategoryCode(assetCategory,0);
                        DetailKind  = splitCategoryCode(assetCategory,1);
                        UseType  = splitCategoryCode(assetCategory,2);
                        $("#InsertDiv").append(GenReclassifyStr(assetID,assetCategory,$(this).val(), current));

                        BindMain_Kind('Before_' + current, MainKind, DetailKind,'','');
                        BindUse_Types('Before_' + current, UseType);
                        BindMain_Kind('After_' + current, MainKind, DetailKind,'','');
                        BindUse_Types('After_' + current, UseType);

                        current++;
                        </text>
                    }
                }
            });
            @if (controllerName == "BuildMPReclassify")
            {
                <text>
                        $("select[id$='_Main_Kind']").change(function () {
                            var mainkind = $(this).val();
                            var target = ($(this).get(0).id).replace('_Main_Kind','');
                            if (mainkind != "") {
                                BindDetail_Kind(target,mainkind);
                                UpdateCategoryHidden(target);
                            }
                        });

                        $("select[id$='_Detail_Kind']").change(function () {
                            var target = ($(this).get(0).id).replace('_Detail_Kind','');
                            if ($(this).val() != "") {
                                GetAccountItem('',$(this).val());
                                UpdateCategoryHidden(target);
                            }
                        });

                        $("select[id$='_Use_Types']").change(function () {
                            var target = ($(this).get(0).id).replace('_Use_Types','');
                            if ($(this).val() != "") {
                                UpdateCategoryHidden(target);
                            }
                        });
                </text>
            }
        });

    //年限異動
    function GenYearStr(assetID,AssetNumber,current){
        var str = '<div class="ibox-title"><h5>資產編號' + AssetNumber + '年限異動</h5></div>'+

                  '<div class="ibox-content">'+

                  '<div class="row">'+

                  '<div class="col-sm-6 form-group">'+
                  '<label for="" class="col-sm-4 control-label">異動前年限年數</label>'+
                  '<div class="col-sm-2">'+
                  '<input id="BeforeYear_'+current+'" name="BuildMPYearViewModel['+current+'].Old_Life_Years" type="text" class="form-control " value="0" style="text-align:right" readonly="readonly"/>'+
                  '</div>'+
                  '<label for="" class="col-sm-4 control-label">月數</label>'+
                  '<div class="col-sm-2">'+
                  '<input id="BeforeMonth_'+current+'" name="BuildMPYearViewModel['+current+'].Old_Life_Months" type="text" class="form-control " value="0" style="text-align:right" readonly="readonly"/>'+
                  '</div></div>'+
                  '<div class="clearfix"></div>'+

                  '<div class="col-sm-6 form-group">'+
                  '<label for="" class="col-sm-4 control-label">異動後年限年數</label>'+
                  '<div class="col-sm-2">'+
                  '<input id="AfterYear_'+current+'" name="BuildMPYearViewModel['+current+'].New_Life_Years" type="text" class="form-control " value="0" style="text-align:right" />'+
                  '</div>'+
                  '<label for="" class="col-sm-4 control-label">月數</label>'+
                  '<div class="col-sm-2">'+
                  '<input id="AfterMonth_'+current+'" name="BuildMPYearViewModel['+current+'].New_Life_Months" type="text" class="form-control " value="0" style="text-align:right" />'+
                  '</div></div>'+
                  '<div class="clearfix"></div>'+

                  '</div></div>' +

                  '<input name="BuildMPYearViewModel['+current+'].Serial_Number" type="hidden" value="'+ (current + 1) +'" />'+
                  '<input name="BuildMPYearViewModel['+current+'].Asset_Number" type="hidden" value="'+AssetNumber+'" />' +
                  '<input name="BuildMPYearViewModel['+current+'].Asset_Build_MP_ID" type="hidden" value="'+assetID+'" />' ;
        return str;
    }
    //產生資產分類
    function GenReclassifyStr(assetID,assetCategory,AssetNumber,current){

        var str = '<div class="ibox-title"><h5>資產編號' + AssetNumber + '重新分類</h5></div>' +

                  '<div class="ibox-content"><div class="row">' +

                  '<div class="col-sm-6 form-group">'+
                  '<label for="" class="col-sm-3 control-label">異動前資產分類</label>'+
                  '<div class="col-sm-3"><select class="form-control" id="Before_'+current+'_Main_Kind" disabled="true"></select></div>'+
                  '<div class="col-sm-3"><select class="form-control" id="Before_'+current+'_Detail_Kind" disabled="true"></select></div>'+
                  '<div class="col-sm-3"><select class="form-control" id="Before_'+current+'_Use_Types" disabled="true"></select></div>'+
                  '<input type="hidden" name="BuildMPCategoryViewModel['+current+'].Old_Asset_Category_Code" id="hdBefore_'+current+'" value="'+assetCategory+'" />'+
                  '</div>'+
                  '<div class="clearfix"></div>'+

                  '<div class="col-sm-6 form-group">'+
                  '<label for="" class="col-sm-3 control-label">異動後資產分類</label>'+
                  '<div class="col-sm-3"><select class="form-control" id="After_'+current+'_Main_Kind"></select></div>'+
                  '<div class="col-sm-3"><select class="form-control" id="After_'+current+'_Detail_Kind"></select></div>'+
                  '<div class="col-sm-3"><select class="form-control" id="After_'+current+'_Use_Types"></select></div>'+
                  '<input type="hidden" name="BuildMPCategoryViewModel['+current+'].NEW_Asset_Category_Code" id="hdAfter_'+current+'" value="" />'+
                  '</div>'+
                  '<div class="clearfix"></div>'+

                  '</div></div>'+

                  '<input name="BuildMPCategoryViewModel['+current+'].Serial_Number" type="hidden" value="'+ (current + 1) +'" />'+
                  '<input name="BuildMPCategoryViewModel['+current+'].Asset_Number" type="hidden" value="'+AssetNumber+'" />' +
                  '<input name="BuildMPCategoryViewModel['+current+'].Asset_Build_MP_ID" type="hidden" value="'+assetID+'" />' ;
        return str;

    }
    //產生房屋處分資料輸入框
    function GenRetireStr(assetID, AssetNumber, current) {
        var DropDownCode = '<select name="BuildMPRetireViewModel[' + current + '].Reason_Code" class=\"form-control\" id=\"BuildDetails_Asset_Type\" ></select>';
        var str = '<div class="ibox-title"><h5>資產編號' + AssetNumber + '處份</h5></div>' +

                  '<div class="ibox-content">' +

                  '<div class="row">' +

                  '<div class="col-sm-6 form-group">' +
                  '<label for="" class="col-sm-3 control-label">處分原因</label>' +
                  '<div class="col-sm-6">' +
                  DropDownCode +
                  //'<select class="form-control" id="">'+
                  //'<option value="">災害損失</option>'+
                  //'</select>'+
                  '</div></div>' +

                  '<input name="BuildMPRetireViewModel[' + current + '].Reason_Code" type="hidden" class="form-control " value=" " style="text-align:right" />' +
                  '<div class="clearfix"></div>' +

                  '<div class="col-sm-6 form-group">' +
                  '<label for="" class="col-sm-3 control-label">處分成本</label>' +
                  '<div class="col-sm-6">' +
                  '<input name="BuildMPRetireViewModel[' + current + '].Retire_Cost" type="text" class="form-control " value="0" style="text-align:right" />' +
                  '</div></div>' +
                  '<div class="clearfix"></div>' +

                  '<div class="col-sm-6 form-group">' +
                  '<label for="" class="col-sm-3 control-label">變賣收入</label>' +
                  '<div class="col-sm-6">' +
                  '<input name="BuildMPRetireViewModel[' + current + '].Sell_Amount" type="text" class="form-control " value="0" style="text-align:right" />' +
                  '</div></div>' +
                  '<div class="clearfix"></div>' +

                  '<div class="col-sm-6 form-group">' +
                  '<label for="" class="col-sm-3 control-label">變賣成本</label>' +
                  '<div class="col-sm-6">' +
                  '<input name="BuildMPRetireViewModel[' + current + '].Sell_Cost" type="text" class="form-control " value="0" style="text-align:right" />' +
                  '</div></div>' +
                  '<div class="clearfix"></div>' +

                  '<div class="col-sm-6 form-group">' +
                  '<label for="" class="col-sm-3 control-label">未實現重估增值</label>' +
                  '<div class="col-sm-6">' +
                  '<input name="BuildMPRetireViewModel[' + current + '].Reval_Adjustment_Amount" type="text" class="form-control " value="0" style="text-align:right" />' +
                  '</div></div>' +
                  '<div class="clearfix"></div>' +

                  '<div class="col-sm-6 form-group">' +
                  '<label for="" class="col-sm-3 control-label">重估增值成本</label>' +
                  '<div class="col-sm-6">' +
                  '<input name="BuildMPRetireViewModel[' + current + '].Reval_Reserve" type="text" class="form-control " value="0" style="text-align:right" />' +
                  '</div></div>' +
                  '<div class="clearfix"></div>' +

                  '</div></div>' +

                  '<input name="BuildMPRetireViewModel[' + current + '].Serial_Number" type="hidden" value="' + (current + 1) + '" />' +
                  '<input name="BuildMPRetireViewModel[' + current + '].Asset_Number" type="hidden" value="' + AssetNumber + '" />' +
                  '<input name="BuildMPRetireViewModel[' + current + '].Assets_Build_MP_ID" type="hidden" value="' + assetID + '" />';

        return str;
    }

    (function ($) {

        var page = new $.PageTemplate({

            el: "#page_region",
            data: {

                limit_pages: 10,//畫面上最多有幾頁可供選擇
                total_amount: @Model.TotalAmount,//資料庫總筆數
                page_size: @Model.condition.PageSize,//單頁筆數
                page_now: @Model.condition.Page,//當前頁
                center_page: @Model.condition.Page,//置中頁,通常會將當前頁置中

                pages: [],//通常為空,

                action: "@Url.Action("AssetsUpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
        }
        });
        $('[data-toggle="tooltip"]').tooltip();

        @if (controllerName == "BuildMPReclassify")
        {
            <text>
            MainKind = '';
            DetailKind = '';
            UseType = '';
            </text>
        }

    })(jQuery);
</script>
    
}

