﻿@using InspiniaWebAdminTemplate.Models.Build
@model AssetMPViewModel
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    var Header = TempData["Header"] as BuildTRXHeaderViewModel;
    TempData["Header"] = Header;

    //var test = Model.BuildChangeRecord;
    if (Convert.ToBoolean(ViewBag.SignMode))
    {
        Layout = "~/Views/Shared/_EmptyLayout.cshtml";
        TempData["SignMode"] = true;
        ViewBag.Title = "檢視資產";
    }

    AssetsIndexViewModel builds = null;
    //房屋資料
    if (ViewBag.Build != null && ViewBag.Build is AssetsIndexViewModel && (ViewBag.Build as AssetsIndexViewModel).Items.Count() > 0)
    {
        builds = ViewBag.Build as AssetsIndexViewModel;
    }

    bool CanEdit = (Header != null && (Header.Transaction_Status == "0" || Header.Transaction_Status == "3" || Header.Transaction_Status == "4"));

}
<script>
    $(function () {

        //$('#Asset_Number').change(function () {
        //    if ($("#Asset_Number option:selected").index() != 0) //if ($(this).val() != '---')
        //    {
        //        GetAssetInfo($(this).val());
        //    }
        //});
    });

    function Save() {
        @if (actionName == "Asset_SplitEdit")
        {
            <text>
                var url = "@Url.Action("Asset_SplitUpdate")";
            </text>
        }
        else if(actionName == "Asset_MergeEdit")
        {
            <text>
                 var url = "@Url.Action("Asset_MergeUpdate")";
            </text>
        }
        else
        {
            <text>
                var url = "@((ViewBag.Title == "重大組成明細-新增") ? Url.Action("Asset_Create") : Url.Action("Asset_Update"))";
        </text>
        }
        $('#form').attr('action', url);
        $('#form').submit();
    }

    //抓取主資產資訊
    function GetAssetInfo(assetnumber)
    {
        $.ajax({
            url: '@Url.Action("AssetDetailQuery")',
            data: 'AssetNumber=' + assetnumber,
            type: 'post',
            success: function (data) {
                //$('#Asset_Number_Show').val(data.Asset_Number);
                //$('#Old_Asset_Number_Show').val(data.Old_Asset_Number);
                $('#Asset_Category_Code_Show').val(data.Asset_Category_Code);
                $('#Location_Disp_Show').val(data.Location_Disp);
                $("#AssetInfoShow").val(data.Description);
                $("#AssetInfoPartialShow").val(data.Description);
                $("#Asset_Category_Code_Name_Show").val(data.Asset_Category_Code_Name);

                ChangeLocationDisp(data.Location_Disp);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    function ChangeLocationDisp(NewCode)
    {
        var Branch = '';
        var Dept = '';
        var SubDept = '';
        var Array = NewCode.split('.');
        if (Array.length > 0) {
            Branch = Array[0];
        }
        if (Array.length > 1) {
            Dept = Array[1];
        }
        if (Array.length > 2) {
            SubDept = Array[2];
        }
        if (Branch != '') {
            $("#Location_Disp_Branch option").each(function (index, value) {
                if ($(value).val() == Branch) {
                    $('#Location_Disp_Branch').val(Branch).change();
                }
            });
        }
        setTimeout(function () {
            if (Dept != '') {
                $("#Location_Disp_Dept option").each(function (index, value) {
                    if ($(value).val() == Dept) {
                        $('#Location_Disp_Dept').val(Dept).change();
                    }
                });
            }

            if (SubDept != '') {
                $("#Location_Disp_SubDept option").each(function (index, value) {
                    if ($(value).val() == SubDept) {
                        $('#Location_Disp_SubDept').val(SubDept).change();
                    }
                });
            }
        }, 500);
   
    }

    function Return() {
        window.history.go(-1);
    }

    @if (TempData["message"] != null)
    {
        <text>
            window.onload = function () {
                alert('@TempData["message"].ToString()');
            }
        </text>
    }
    function SearchUserData() {
        var code = $("#hdSearchAssignByBranch").val();
        $.ajax({
            url: '@Url.Action("SearchUserData")',
            type: 'POST',
            data: 'BranchCode=' + code,
            async: true,
            success: function (data) {
                if (data != undefined || data != null) {
                    $("#AssignUserList").empty();
                    $("#AssignUserList").append('<option value="">請選擇</option>');
                    for (var i = 0; i < data.length; i++) {
                        var content = '<option value="' + data[i].User_Code + '">' + data[i].User_Name + '</option>';
                        $("#AssignUserList").append(content);
                    }
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //callback(xhr.responseText);
            }
        });
        $("#AssignUserList").change(function () {
            $("#Assigned_NUM").val("");
            $("#Assigned_Name").val("");
            if ($("#AssignUserList option:selected").index() != 0) {
                $("#Assigned_NUM").val($("#AssignUserList option:selected").val());
                $("#Assigned_Name").val($("#AssignUserList option:selected").text());
            }
        });
    }
    function SearchAseetList(){

        var data = {
            "condition.City_Code": document.getElementById("City_Code").value,
            "condition.District_Code": document.getElementById("District_Code").value,
            "condition.Section_Code": document.getElementById("Section_Code").value,
            "condition.Build_Number": document.getElementById("SearchBuildNumber").value,
            "condition.AssetNumber": document.getElementById("SearchAssetNumber").value,
        };
        $.ajax({
            url: '@Url.Action("SearchAseetList")',
            type: 'POST',
            data: data,
            async: true,
            success: function (data) {
                if (data != undefined || data != null) {
                    $("#SearchAssetNumberList").empty();
                    $("#SearchAssetNumberList").append('<option value="">請選擇</option>');
                    for (var i = 0; i < data.length; i++) {
                        var content = '<option value="' + data[i].Asset_Number + '">' + data[i].Asset_Number + '</option>';
                        $("#SearchAssetNumberList").append(content);
                    }
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //callback(xhr.responseText);
            }
        });

        $('#SearchAssetNumberList').change(function () {
            if ($("#SearchAssetNumberList option:selected").index() != 0)
            {
                GetAssetInfo($(this).val());
                $("#Parent_Asset_Number").val($(this).val());
            }
        });
    }
</script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">房屋管理</a>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>資產明細</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" id="form" class="form-horizontal">
                        <input type="hidden" name="ID" value="@Model.ID" />
                        <input type="hidden" name="Asset_Build_ID" value="@Model.Asset_Build_ID" />
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">帳本</label>
                                <div class="col-sm-6">
                                    @((Header != null) ? Header.Book_Type_Code : "" )
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">資產編號</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="Asset_Number_Show" name="Asset_Number" value="@(Model.Asset_Number==null?"":Model.Asset_Number)" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label"><span style="color: red">*</span>單位量</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.Current_Units" name="Current_Units" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">啟用日期</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@((Model.Date_Placed_In_Service != null)?Convert.ToDateTime(Model.Date_Placed_In_Service).ToString("yyyy/MM/dd"):"")" name="Date_Placed_In_Service" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">原資產編號</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="Old_Asset_Number_Show" dirname="Old_Asset_Number" value="@(Model.Old_Asset_Number==null?"":Model.Old_Asset_Number)" name="Old_Asset_Number" readonly="readonly"/>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">折舊方式</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="Deprn_Method_Code" id="Deprn_Method_Code">
                                        <option value="STL" @((Model != null) && Model.Deprn_Method_Code == "STL" ? "selected" : "")>STL</option>
                                        <option value="不折舊" @((Model != null) && Model.Deprn_Method_Code == "不折舊" ? "selected" : "")>不折舊</option>
                                    </select>
                                    @*<input type="text" class="form-control" value="@Model.Deprn_Method_Code" name="Deprn_Method_Code" />*@
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label"><span style="color: red">*</span>主資產編號</label>
                                <div class="col-sm-2">
                                    <button href="#modal-form-ImportAsset" data-toggle="modal" class="btn btn-gray"><i class="fa fa-plus"></i>設定主資產</button>

                                    @*<select class="form-control" name="Asset_Number" id="Asset_Number">
                                        <option value="---">請選擇</option>
                                        @if(builds != null)
                                        {
                                            foreach(var Asset in builds.Items)
                                            {
                                                <text>
                                                    <option value="@Asset.Asset_Number"  @((Model.Asset_Number == Asset.Asset_Number)?"selected":"")>@Asset.Asset_Number</option>
                                                </text>
                                            }
                                        }
                                    </select>*@

                                </div>
                                <div class="col-sm-7">
                                    <input id="AssetInfoShow" type="text" class="form-control" value="@(string.IsNullOrEmpty(Model.AssetInfoShow)?"":Model.AssetInfoShow)" readonly="readonly" />
                                    @Html.Hidden("Parent_Asset_Number",string.IsNullOrEmpty(Model.Parent_Asset_Number)?"": Model.Parent_Asset_Number)
                                </div>
                            </div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label"><span style="color: red">*</span>主資產分類</label>
                                <div class="col-sm-2">
                                    @*<select class="form-control" name="Asset_Category_Code">
                                    </select>*@
                                    <input type="text" id="Asset_Category_Code_Show" name="Old_Asset_Category_code" value="@(string.IsNullOrEmpty(Model.Asset_Category_Code_Show)?"":Model.Asset_Category_Code_Show)" class="form-control" readonly="readonly" />
                                    @*<input type="text" id="Asset_Category_Code_Show" name="Old_Asset_Category_code" value="@Model.Asset_Category_Code" class="form-control" readonly="readonly" />*@
                                </div>
                                <div class="col-sm-7">
                                    <input id="Asset_Category_Code_Name_Show" type="text" class="form-control " value="@(string.IsNullOrEmpty(Model.Asset_Category_Code_Name_Show)?"":Model.Asset_Category_Code_Name_Show)" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label"><span style="color: red">*</span>資產分類</label>
                                <div class="col-sm-9">
                                    @AssetCategoryControl.GenAssetCategoryControl("Asset_Category_Code", "Asset_Category_Code", Model.Asset_Category_Code,"","", "Build")
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color: red">*</span>年限年數</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="Life_Years" value="@Model.Life_Years"/>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="padding: 0"><span>月數</span></div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="Life_Months" value="@Model.Life_Months" />
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label"><span style="color: red">*</span>放置地點</label>
                                <div class="col-sm-9">
                                    @AssetLocationDispControl.GenAssetLocationDispControl("Location_Disp", "Location_Disp", ((!string.IsNullOrEmpty(Model.Location_Disp)) ? Model.Location_Disp : ""), "2")
                                </div>
                                @*<select class="form-control" name="Location_Disp">
                                   </select>*@
                                @*<div class="col-sm-2">
                                    <input type="text" id="Location_Disp_Show" class="form-control" name="Location_Disp"  readonly="readonly" />
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control " value="總行-東門分行-不分科別" disabled />
                                </div>*@
                            </div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label"><span style="color: red">*</span>摘要</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" value="@Model.Description" name="Description" />
                                </div>
                            </div>
                            <div class="clearfix"></div>


                            <div class="ibox-c-subtitle">動產資訊</div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">案號</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.PO_Number" name="PO_Number" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">採購描述</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.PO_Destination" name="PO_Destination" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">廠商規格</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.Model_Number" name="Model_Number" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">驗收日期</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.Transaction_Date" name="Transaction_Date" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">財物單位</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.Assets_Unit" name="Assets_Unit" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">附屬設備</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.Accessory_Equipment" name="Accessory_Equipment" />
                                </div>
                            </div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">保管人</label>
                                <div class="col-sm-3">
                                    @*<select class="form-control" name="Assigned_ID">
                                        <option value=""></option>
                                    </select>*@
                                    <input type="text" class="form-control" value="@Model.Assigned_NUM" name="Assigned_NUM" id="Assigned_NUM" />

                                    <button href="#modal-form-ImportAssigned" data-toggle="modal" class="btn btn-gray"><i class="fa fa-plus"></i>設定保管人</button>

                                </div>
                                <div class="col-sm-3">
                                    <input id="Assigned_Name" type="text" class="form-control" value="@(string.IsNullOrEmpty(Model.Assigned_Name)?"":Model.Assigned_Name)" readonly="readonly" />
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="ibox-c-subtitle">資產改良</div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">資產結構</label>
                                <div class="col-sm-6">
                                    @DropDownControl.GenDropDownControl("Asset_Structure", "Asset_Structure", "C03", (!string.IsNullOrEmpty(Model.Asset_Structure) ? Model.Asset_Structure : ""))
                                    @*<input type="text" class="form-control" value="@Model.Asset_Structure" name="Asset_Structure" />*@
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="ibox-c-subtitle">帳務資料</div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label"><span style="color: red">*</span>取得成本</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.Current_Cost" name="Current_Cost" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">累計折舊</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="@Model.Deprn_Reserve" name="Deprn_Reserve" disabled />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label"><span style="color: red">*</span>殘值</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="@Model.Salvage_Value" name="Salvage_Value" disabled />
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="ibox-c-subtitle">備註事項</div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">備註事項</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" value="@Model.Remark" name="Remark" />
                                </div>
                            </div>



                            <div class="hr-line-dashed"></div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="" class="pull-right">

                                        @if (Model != null)
                                        {
                                            if (Model.ID == 0)
                                            {
                                                <a class="btn btn-gray" onclick="history.go(-1);"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-default" href="@Url.Action("Edit", controllerName , new { id = Header.Form_Number })"><i class="fa fa-arrow-left">返回</i></a>
                                            }
                                        }
                                        @if (CanEdit)
                                        {
                                            <text>
                                                <button class="btn btn-primary" onclick="Save();"><i class="fa fa-save"> 儲 存 </i></button>
                                            </text>
                                        }

                                        @*<a class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
                                        <button class="btn btn-primary" onclick="Save();"><i class="fa fa-save"> 儲 存 </i></button>*@

                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div>
        @if (Model.BuildMPChangeRecord.Count() > 0)
        {
            <table border="1">
                <tbody>
                    <tr>
                        <td>序號</td>
                        <td>欄位名</td>
                        <td>異動前</td>
                        <td>異動後</td>
                    </tr>
                    @for (int i = 0; i < Model.BuildMPChangeRecord.Count(); i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@(BuildDisplayName.GetBuildDisplayName(Model.BuildMPChangeRecord[i].Field_Name))</td>
                            <td>@Model.BuildMPChangeRecord[i].Before_Data</td>
                            <td>@Model.BuildMPChangeRecord[i].After_Data</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@* 設定保管人 LightBox *@
<div id="modal-form-ImportAssigned" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title" style="border:0">
                                <h5>設定保管人</h5>
                                <div class="ibox-tools"> <a data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label for="" class="col-sm-2 control-label" align="right">搜尋條件</label>
                                        @AssetLocationDispControl.GenAssetLocationDispControl("SearchAssignByBranch", "SearchAssignByBranch", "", "3")
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label for="" class="col-sm-2 control-label" align="right">搜尋</label>
                                        <button id="SearchAssignBtn" class="btn btn-default" onclick="SearchUserData()"><i class="fa fa-search"> 搜 尋 </i></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label for="" class="col-sm-2 control-label" align="right">選擇保管人</label>
                                        <div class="col-sm-6">
                                            <select id="AssignUserList" class="form-control">
                                            </select></div>
                                        <div class="col-sm-4">
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="" class="pull-right">
                                            <button class="btn btn-gray" data-dismiss="modal"><i class="fa fa-search"> 關 閉 </i></button>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* 設定主資產 LightBox *@
<div id="modal-form-ImportAsset" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title" style="border:0">
                                <h5>設定主資產</h5>
                                <div class="ibox-tools"> <a data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-4 form-group">
                                        <label for="" class="col-sm-4 control-label" align="right">縣市</label>
                                        <div class="col-sm-8">
                                            @DropDownControl.GenDropDownControl("City_Code", "City_Code", "City", "")
                                        </div>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label for="" class="col-sm-4 control-label" align="right">鄉鎮市區</label>
                                        <div class="col-sm-8">
                                            <select name="District_Code" class="form-control" id="District_Code"></select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label for="" class="col-sm-4 control-label" align="right">地段</label>
                                        <div class="col-sm-8">
                                            <select name="Section_Code" class="form-control" id="Section_Code"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 form-group">
                                        <label for="" class="col-sm-4 control-label" align="right">建號</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="SearchBuildNumber" id="SearchBuildNumber" value="" />
                                        </div>
                                    </div>
                                    <div class="col-sm-8 form-group">
                                        <label for="" class="col-sm-3 control-label">資產編號</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="SearchAssetNumber" id="SearchAssetNumber" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 form-group">
                                        <label for="" class="col-sm-4 control-label" align="right"></label>
                                        <div class="col-sm-6">
                                            <button id="SearchAssignBtn" class="btn btn-default" onclick="SearchAseetList()"><i class="fa fa-search"> 搜 尋 </i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 form-group">
                                        <label for="" class="col-sm-4 control-label" align="right">選擇主資產編號</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" name="Asset_Number" id="SearchAssetNumberList">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 form-group">
                                        <div class="col-sm-12">
                                            <input id="AssetInfoPartialShow" type="text" class="form-control" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="" class="pull-right">
                                            <button class="btn btn-gray" data-dismiss="modal"><i class="fa fa-search"> 關 閉 </i></button>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        $(document).ready(function () {

            $('#City_Code').change(function () {
                GetDistrict($(this).val());
            });

            $('#District_Code').change(function () {
                GetSection($('#City_Code').val(), $(this).val());
            });
            //初始化
            GetDistrict('', '');
            GetSection('', '', '');

        });
        function GetDistrict(City, DefaultValue) {
            $.ajax({
                url: G_GetDistrict,
                data: 'City=' + City,
                type: 'post',
                success: function (data) {
                    //先清
                    $("#District_Code option").remove();

                    $.each(data, function (index, value) {
                        $("#District_Code").append($("<option></option>").attr("value", value.Value).html(value.Value + value.Text));
                    });

                    if (DefaultValue != '') {
                        $("#District_Code").val(DefaultValue);
                    }

                    $("#District_Code").change();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }
        function GetSection(City, District, DefaultValue) {
            $.ajax({
                url: G_GetSection,
                data: { 'City': City, 'District': District },
                type: 'post',
                success: function (data) {
                    //先清
                    $("#Section_Code option").remove();

                    $.each(data, function (index, value) {
                        $("#Section_Code").append($("<option></option>").attr("value", value.Value).html(value.Value + value.Text));
                    });

                    if (DefaultValue != '') {
                        $("#Section_Code").val(DefaultValue);
                    }

                    $("#Section_Code").change();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }
</script>
