﻿@using InspiniaWebAdminTemplate.Models.Build
@model AssetViewModel
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    var Header = TempData["Header"] as BuildTRXHeaderViewModel;
    TempData["Header"] = Header;

    if (Convert.ToBoolean(ViewBag.SignMode))
    {
        Layout = "~/Views/Shared/_EmptyLayout.cshtml";
        TempData["SignMode"] = true;
        ViewBag.Title = "檢視資產";
    }

    //是否可以編輯
    bool CanEdit = (Header != null && (Header.Transaction_Status == "0" || Header.Transaction_Status == "3" || Header.Transaction_Status == "4"));
}


<script>
    String.prototype.Blength = function () {
        var arr = this.match(/[^\x00-\xff]/ig);
        return arr == null ? this.length : this.length + arr.length;
    }
    function CheckValueLength(data, FieldName, length) {
        var value = data.value;
        if (value.Blength() > length) {
            alert(FieldName + "超過字數大小");
            document.getElementById(data.id).value = value.substring(0, length);
        }
    }
    $(function () {
        
        @if(Model.BuildDetails.Count()>0)
        {
            <text>
          BuildDetailJson();
        </text>
        }

        $('#Asset_Category_Code_Main_Kind').change(function () {
            GetAssetNumber();
        });
        $('#Asset_Category_Code_Detail_Kind').change(function () {
            GetAssetNumber();
        });

        @if(!CanEdit)
        {
            <text>
            //讓所有表單物件readonly
            $("#form input").prop("disabled", true).prop("readonly", true);
            $("#form select").prop("disabled", true).prop("readonly", true);
            </text>
        }

        $('#City_Code').change(function () {
            GetDistrict($(this).val());
        });

        $('#District_Code').change(function () {
            GetSection($('#City_Code').val(), $(this).val());
        });

        $('#Section_Code').change(function () {
            GetSubSection($('#City_Code').val(), $('#District_Code').val(), $(this).val());
        });

        //初始化
        GetDistrict('@Model.City_Code', '@Model.District_Code');
        GetSection('@Model.City_Code', '@Model.District_Code', '@Model.Section_Code');
    });

    function GetAssetNumber() {
        var MainKind = $('#Asset_Category_Code_Main_Kind').val();
        var DetailKind = $('#Asset_Category_Code_Detail_Kind').val();

        if (MainKind && MainKind != '' && DetailKind && DetailKind != '') {
            $.ajax({
                url: '@Url.Action("GetAssetNumber", "BuildAdded")',
                data: 'MainKind=' + MainKind + '&DetailKind=' + DetailKind,
                type: 'post',
                success: function (data) {
                    $('#Asset_Number').val(data);
                    @if(Model != null && !string.IsNullOrEmpty(Model.Asset_Number))
                    {
                        <text>
                    $('#Asset_Number').val('@Model.Asset_Number');
                    </text>
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        }
    }

    function GetDistrict(City, DefaultValue) {
        $.ajax({
            url: G_GetDistrict,
            data: 'City=' + City,
            type: 'post',
            success: function (data) {
                //先清
                $("#District_Code option").remove();

                $.each(data, function (index, value) {
                    $("#District_Code").append($("<option></option>").attr("value", value.Value).html(value.Value + value.Text));
                });

                if (DefaultValue != '') {
                    $("#District_Code").val(DefaultValue);
                }

                $("#District_Code").change();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    function GetSection(City, District, DefaultValue) {
        $.ajax({
            url: G_GetSection,
            data: { 'City': City, 'District': District },
            type: 'post',
            success: function (data) {
                //先清
                $("#Section_Code option").remove();

                $.each(data, function (index, value) {
                    $("#Section_Code").append($("<option></option>").attr("value", value.Value).html(value.Value + value.Text));
                });

                if (DefaultValue != '') {
                    $("#Section_Code").val(DefaultValue);
                }

                $("#Section_Code").change();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    function GetSubSection(City, District, Section) {
        $.ajax({
            url: G_GetSubSection,
            data: { 'City': City, 'District': District, 'Section': Section },
            type: 'post',
            success: function (data) {
                //先清
                $("#Sub_Section_Name").val("");

                $.each(data, function (index, value) {
                    $("#Sub_Section_Name").val(value.Text);
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    function Save() {
        @if (actionName == "Asset_SplitEdit")
        {
            <text>
        var url = "@Url.Action("Asset_SplitUpdate")";
        </text>
        }
        else if(actionName == "Asset_MergeEdit")
        {
            <text>
        var url = "@Url.Action("Asset_MergeUpdate")";
        </text>
        }
        else
        {
            <text>
        var url = "@((ViewBag.Title == "房屋明細-新增") ? Url.Action("AssetBuildCreate") : Url.Action("Asset_Update"))";
        </text>
        }
        BuildDetailJson();
        BuildLandJson();
        $('#form').attr('action', url);
        $('#form').submit();
    }

    function AddLand() {
        BuildDetailJson();
        BuildLandJson();
        $('#form').attr('action', '@Url.Action("Asset_LandSearch")');
        $('#form').submit();
    }

    @if (TempData["message"] != null)
    {
        <text>
    window.onload = function () {
        alert('@TempData["message"].ToString()');
    }
    </text>
    }
</script>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">房屋管理</a>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>資產明細</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" id="form" class="form-horizontal">
                        <input type="hidden" name="ID" value="@Model.ID" />
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">帳本</label>
                                <div class="col-sm-6">
                                    @((Header != null) ? Header.Book_Type_Code : "" )
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">資產編號</label>
                                <div class="col-sm-6">
                                   @Model.Asset_Number
                                   <input type="hidden" id="Asset_Number" class="form-control" value="@Model.Asset_Number" name="Asset_Number"/>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label"><span style="color:red">*</span>單位量</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="@Model.Current_Units" name="Current_Units" /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">啟用日期</label>
                                <div class="col-sm-6">
                                    @Model.Date_Placed_In_Service.ToString("yyyy/MM/dd")
                                    <input type="hidden" class="form-control" value="@Model.Date_Placed_In_Service.ToString("yyyy/MM/dd")" name="Date_Placed_In_Service"/>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">原資產編號</label>
                                <div class="col-sm-6">
                                    @Model.Old_Asset_Number
                                    <input type="hidden" class="form-control" value="@Model.Old_Asset_Number" name="Old_Asset_Number" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">折舊方式</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="Deprn_Method_Code" id="Deprn_Method_Code">
                                        <option value="STL" @((Model != null) && Model.Deprn_Method_Code == "STL" ? "selected" : "")>STL</option>
                                        <option value="不折舊" @((Model != null) && Model.Deprn_Method_Code == "不折舊" ? "selected" : "")>不折舊</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label" align="right"><span style="color:red">*</span>資產分類</label>
                                @AssetCategoryControl.GenAssetCategoryControl("Asset_Category_Code", "Asset_Category_Code", !string.IsNullOrEmpty(Model.Asset_Category_Code) ? Model.Asset_Category_Code : "", "", "", "Build")
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span>年限年數</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" value="@Model.Life_Years" name="Life_Years" />
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="padding:0"><span>月數</span></div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" value="@Model.Life_Months" name="Life_Months" />
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span>放置地點</label>
                                @AssetLocationDispControl.GenAssetLocationDispControl("Location_Disp", "Location_Disp", (!string.IsNullOrEmpty(Model.Location_Disp)) ? Model.Location_Disp : "", "3")
                            </div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span>摘要</label>
                                <div class="col-sm-9"><input type="text" class="form-control " value="@Model.Description" name="Description" /></div>
                            </div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">都更案號</label>
                                <div class="col-sm-9"><input type="text" class="form-control " value="@Model.Urban_Renewal" name="Urban_Renewal" /></div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-4 control-label">權利面積總數</label>
                                <div class="col-sm-5"><input type="text" class="form-control" value="" disabled /></div>
                            </div>
                        </div>
                        <div class="ibox-c-subtitle">建物標示</div>
                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">縣市</label>
                                <div class="col-sm-7">
                                    @DropDownControl.GenDropDownControl("City_Code", "City_Code", "City", (!string.IsNullOrEmpty(Model.City_Code) ? Model.City_Code : ""))
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">鄉鎮市區</label>
                                <div class="col-sm-7">
                                    <select name="District_Code" class="form-control" id="District_Code"></select>
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">段</label>
                                <div class="col-sm-7">
                                    <select name="Section_Code" class="form-control" id="Section_Code"></select>
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label" align="right">小段</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" id="Sub_Section_Name" name="Sub_Sectioni_Name" value="@Model.Sub_Sectioni_Name" />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label"><span style="color: red">*</span>建號</label>
                                <div class="col-sm-6">
                                    <input id="Build_Number" type="text" class="form-control " onchange="CheckValueLength(this,'建號',8)" value="@Model.Build_Number" name="Build_Number" />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">&nbsp;</label>
                                <div class="col-sm-6">&nbsp;</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label"><span style="color: red">*</span>權狀字號</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.Authorization_Number" name="Authorization_Number" />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label"><span style="color: red">*</span>地政事務所</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.Authorization_Name" name="Authorization_Name" />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label"><span style="color: red">*</span>本建議總樓層</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.Building_Total_Floor" name="Building_Total_Floor" />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label"><span style="color: red">*</span>構造</label>
                                <div class="col-sm-6">
                                    @DropDownControl.GenDropDownControl("Building_STRU", "Building_STRU", "C07", (!string.IsNullOrEmpty(Model.Building_STRU) ? Model.Building_STRU : ""))
                                    @*<input type="text" class="form-control" value="@Model.Building_STRU" name="Building_STRU" />*@
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label"><span style="color: red">*</span>門牌</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="@Model.Build_Address" name="Build_Address" />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">權利面積</label>
                                <div class="col-sm-6">
                                    <input id="RightArea" type="text" class="form-control" value="0" readonly="readonly"/>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">自用面積</label>
                                <div class="col-sm-6">
                                    <input id="Own_Area" type="text" name="Own_Area" class="form-control" onchange="CheckUseArea()" value="0" />
                                    <input id="Own_AreaTemp" type="hidden" class="form-control" value="0" />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">非自用面積</label>
                                <div class="col-sm-6">
                                    <input id="NONOwn_Area" name="NONOwn_Area" type="text" class="form-control" value="" readonly="readonly"/>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>

                        <div class="table-responsive">
                            <script type="text/javascript">

                                function CheckUseArea() {
                                    function ResetValue() { //重設值
                                        document.getElementById("Own_Area").value = document.getElementById("Own_AreaTemp").value;
                                    }
                                    var Own_Area = document.getElementById("Own_Area").value; //自用面積
                                    var RightArea = document.getElementById("RightArea").value; //權利面積
                                    var regex = /^[0-9]+[.]?([0-9]{1,2})?$/;  
                                    if (!regex.test(Own_Area)) {
                                        ResetValue();
                                        return;
                                    }
                                    if (Own_Area > RightArea) { //自用面積必須小於等於權利面積
                                        alert("自用面積必須小於等於權利面積");
                                        ResetValue();
                                        return;
                                    }
                                    document.getElementById("Own_AreaTemp").value = Own_Area;
                                    $("#NONOwn_Area").val(RightArea - Own_Area);
                                }

                                function BuildLandJson()
                                {
                                    var array = [];

                                    $('#BuildLand tbody tr').each(function () {
                                        var obj = {};
                                        obj.ID = $(this).find('input[type="hidden"][name="LandID"]').val();
                                        array.push(obj);
                                    });
                                    $('#hdBuildLand').val(JSON.stringify(array));
                                    //alert($('#hdBuildDetails').val());
                                }
                            </script>
                            <button onclick="AddLand();" class="btn btn-primary"><i class="fa fa-plus">新 增 </i></button>
                            <table class="table table-striped" id="BuildLand">
                                <thead>
                                    <tr>
                                        <th>編輯</th>
                                        <th>刪除</th>
                                        <th>土地財產編號</th>
                                        <th>地段</th>
                                        <th>母地號</th>
                                        <th>子地號</th>
                                        <th>面積</th>
                                        <th>權利範圍(分子)</th>
                                        <th>權利範圍(分母)</th>
                                        <th>權利面積</th>
                                        <th>土地對應建物分配-分子</th>
                                        <th>土地對應建物分配-分母</th>
                                        <th>土地對應建物分配-面積</th>
                                        <th>備註</th>
                                        <th>面積</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(int i = 0; i < Model.BuildLands.Count();i++)
                                    {
                                        BuildLandViewModel item = Model.BuildLands.ToList()[i];
                                        <text>
                                            <tr>
                                                <td><a class="btn btn-primary btn-circle" title="檢視"><i class="fa fa-pencil"></i></a></td>
                                                <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                                <td>@item.Asset_Number</td>
                                                <td>@item.Section</td>
                                                <td>@item.Parent_Land_Number</td>
                                                <td>@item.Filial_Land_Number</td>
                                                <td>@item.Area_Size</td>
                                                <td>@item.Authorized_Scope_Molecule</td>
                                                <td>@item.Authorized_Scope_Denomminx</td>
                                                <td>@item.Authorized_Area</td>
                                                <td><input type="hidden" name="LandID" value="@item.ID" /></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </text>
                                    }
                                </tbody>
                            </table>
                            <input type="hidden" name="BuildLandJsonStr" id="hdBuildLand" />
                            <script type="text/javascript">
                                var BuildDetailTempCount = 0;
                                function AddBuildDetail()
                                {
                                    BuildDetailTempCount++;
                                    var AssetTypeDropDownCode = '<select class=\"form-control\" name=\"BuildDetails.Asset_Type\" id=\"BuildDetails_Asset_Type\" ></select>';
                                    var col1 = '<td><a class="btn btn-danger btn-circle" href="#.aspx" title="刪除"><i class="fa fa-trash"></i></a></td>';
                                    var col2 = '<td>' + AssetTypeDropDownCode + '</td>';
                                    var col3 = '<td><input type="text" name="BuildDetails.Floor_Uses" class="form-control" /></td>';
                                    var col4 = '<td><input type="text" name="BuildDetails.Own_Area" class="form-control" /></td>';
                                    var col5 = '<td><input type="text" name="BuildDetails.NONOwn_Area" class="form-control" /></td>';
                                    var col6 = '<td><input id="BuildDetails_Area_Size_' + BuildDetailTempCount + '" onchange="GenAuthorizedArea(this,' + BuildDetailTempCount + ')" type="text" name="BuildDetails.Area_Size" class="form-control" /></td>';
                                    var col7 = '<td><input id="BuildDetails_Authorized_Scope_Moldcule_' + BuildDetailTempCount + '" onchange="GenAuthorizedArea(this,' + BuildDetailTempCount + ')" type="text" name="BuildDetails.Authorized_Scope_Moldcule" class="form-control" /></td>';
                                    var col8 = '<td><input id="BuildDetails_Authorized_Scope_Denominx_' + BuildDetailTempCount + '" onchange="GenAuthorizedArea(this,' + BuildDetailTempCount + ')" type="text" name="BuildDetails.Authorized_Scope_Denominx" class="form-control" /></td>';
                                    var col9 = '<td><input id="BuildDetails_Authorized_Area_' + BuildDetailTempCount + '" type="text" name="BuildDetails.Authorized_Area" class="form-control" readonly="readonly" /></td>';
                                    $('#BuildDetailsTable').append('<tr>' + col1 + col2 + col3 + col4 + col5 + col6 + col7 + col8 + col9 + '</tr>');
                                    BindItem('BuildDetails_Asset_Type', 'C04', '', '');
                                }
                                function GenAuthorizedArea(data,count)
                                {
                                    var Area_SizeID = 'BuildDetails_Area_Size_' + count;
                                    var Area_Size = $("#" + Area_SizeID).val();

                                    var Authorized_Scope_MoldculeID = 'BuildDetails_Authorized_Scope_Moldcule_' + count;
                                    var Authorized_Scope_Moldcule = $("#" + Authorized_Scope_MoldculeID).val();

                                    var Authorized_Scope_DenominxID = 'BuildDetails_Authorized_Scope_Denominx_' + count;
                                    var Authorized_Scope_Denominx = $("#" + Authorized_Scope_DenominxID).val();

                                    var Authorized_AreaID = 'BuildDetails_Authorized_Area_' + count;
                                    var result = Area_Size * Authorized_Scope_Moldcule / Authorized_Scope_Denominx; //面積 * 權利範圍(分子) / 權利範圍(分母)
                                    if (!isNaN(result) && result != 'Infinity') {
                                        $("#" + Authorized_AreaID).val(result);
                                        //將本次結果加入總權利面積
                                        var OriginalTotalAuthorizedArea = parseInt($("#RightArea").val());
                                        $("#RightArea").val(OriginalTotalAuthorizedArea + result);
                                    }
                                }
                                function BuildDetailJson()
                                {
                                    var array = [];

                                    $('#BuildDetailsTable tbody tr').each(function () {
                                        var obj = {};
                                        //obj.Asset_Type = $(this).find('select[name="BuildDetails.Asset_Type"]').val();
                                        obj.Asset_Type = $(this).find('select[name="BuildDetails.Asset_Type"]').val();
                                        if (obj.Asset_Type == undefined) {
                                            obj.Asset_Type = $(this).find('input[name="BuildDetails.Asset_Type"]').val();
                                        }
                                        obj.Floor_Uses = $(this).find('input[name="BuildDetails.Floor_Uses"]').val();
                                        obj.Area_Size = $(this).find('input[name="BuildDetails.Area_Size"]').val();
                                        obj.Own_Area = $(this).find('input[name="BuildDetails.Own_Area"]').val();
                                        obj.NONOwn_Area = $(this).find('input[name="BuildDetails.NONOwn_Area"]').val();
                                        obj.Authorized_Scope_Moldcule = $(this).find('input[name="BuildDetails.Authorized_Scope_Moldcule"]').val();
                                        obj.Authorized_Scope_Denominx = $(this).find('input[name="BuildDetails.Authorized_Scope_Denominx"]').val();
                                        obj.Authorized_Area = $(this).find('input[name="BuildDetails.Authorized_Area"]').val();
                                        array.push(obj);
                                    });
                                    $('#hdBuildDetails').val(JSON.stringify(array));
                                    //alert($('#hdBuildDetails').val());
                                }
                            </script>
                            <button type="button" onclick="AddBuildDetail();" class="btn btn-primary"><i class="fa fa-plus">新 增</i></button>
                            @*<button type="button" onclick="ShowJson();">測試</button>*@
                            <table class="table table-striped" id="BuildDetailsTable" style="background: #FFFFFF">
                                <thead>
                                    <tr>
                                        <th>刪除</th>
                                        <th>財產類型</th>
                                        <th>樓層用途</th>
                                        <th>自用面積</th>
                                        <th>非自用面積</th>
                                        <th>面積</th>
                                        <th>權利範圍(分子)</th>
                                        <th>權利範圍(分母)</th>
                                        <th>權利面積</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (AssetDetailViewModel item in Model.BuildDetails)
                                    {
                                        <text>
                                            <tr>
                                                <td><a class="btn btn-danger btn-circle" href="#.aspx" title="刪除"><i class="fa fa-trash"></i></a></td>
                                                <td>
                                                    <input type="text" name="BuildDetails.Asset_Type" class="form-control" value="@item.Asset_Type" />
                                                </td>
                                                <td><input type="text" name="BuildDetails.Floor_Uses" class="form-control" value="@item.Floor_Uses" /></td>
                                                <td></td>
                                                <td></td>
                                                <td><input type="text" name="BuildDetails.Area_Size" class="form-control" value="@item.Area_Size" /></td>
                                                <td><input type="text" name="BuildDetails.Authorized_Scope_Moldcule" class="form-control" value="@item.Authorized_Scope_Moldcule" /></td>
                                                <td><input type="text" name="BuildDetails.Authorized_Scope_Denominx" class="form-control" value="@item.Authorized_Scope_Denominx" /></td>
                                                <td><input type="text" name="BuildDetails.Authorized_Area" class="form-control" value="@item.Authorized_Area" /></td>
                                            </tr>
                                        </text>
                                    }
                                </tbody>
                            </table>
                            <input type="hidden" name="BuildDetailsJsonStr" id="hdBuildDetails" />
                        </div>

                        <div class="ibox-c-subtitle">權屬</div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label"><span style="color:red">*</span>使用現況</label>
                                <div class="col-sm-8">
                                    @DropDownControl.GenDropDownControl("Used_Status", "Used_Status", "B05", (!string.IsNullOrEmpty(Model.Used_Status) ? Model.Used_Status : ""))
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label"><span style="color:red">*</span>取得方式</label>
                                <div class="col-sm-8">
                                    @DropDownControl.GenDropDownControl("Obtained_Method", "Obtained_Method", "B04", (!string.IsNullOrEmpty(Model.Obtained_Method) ? Model.Obtained_Method : ""))
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label"><span style="color:red">*</span>業務別</label>
                                <div class="col-sm-8">
                                    @DropDownControl.GenDropDownControl("Used_Type", "Used_Type", "B10", (!string.IsNullOrEmpty(Model.Used_Type) ? Model.Used_Type : ""))
                                </div>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                        <div class="ibox-c-subtitle">帳務資料</div>

                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label"><span style="color:red">*</span>取得成本</label>
                                <div class="col-sm-6">
                                    <input id="Original_Cost" type="text" class="form-control " value="@Model.Original_Cost" onchange="CheckOriginalCost()" name="Original_Cost" />
                                    <input id="Original_CostTemp" type="hidden" value="@Model.Original_Cost" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">累計減損</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="@Model.Deprn_Amount" disabled name="Deprn_Amount" readonly="readonly"/>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label"><span style="color:red">*</span>帳面金額</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="@Model.Current_Cost" name="Current_Cost" /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">未實現重估增值</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="@Model.Reval_Adjustment_Amount" name="Reval_Adjustment_Amount" readonly="readonly"/>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">累計折舊</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="@Model.Deprn_Reserve" name="Deprn_Reserve" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">帳面金額-重估增值</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="@Model.Reval_Reserve" name="Reval_Reserve" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label"><span style="color:red">*</span>殘值</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="@Model.Salvage_Value" name="Salvage_Value" /></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">營業用面積</label>
                                <div class="col-sm-6">
                                    <input id="Business_Area_Size" type="text" class="form-control " value="@Model.Business_Area_Size" onchange="CheckBusinessAreaSize()" name="Business_Area_Size" />
                                    <input id="Business_Area_SizeTemp" type="hidden" value="@Model.Business_Area_Size" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">營業用帳面金額</label>
                                <div class="col-sm-6">
                                    <input id="Business_Book_Amount" type="text" class="form-control " value="@Model.Business_Book_Amount" name="Business_Book_Amount" readonly="readonly"/>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">營業用房屋累計折舊</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="@Model.Business_Deprn_Reserve" name="Business_Deprn_Reserve" readonly="readonly" /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">非營業用面積</label>
                                <div class="col-sm-6">
                                    <input id="NONBusiness_Area_Size" type="text" class="form-control " value="@Model.NONBusiness_Area_Size" name="NONBusiness_Area_Size" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">非營業用帳面金額</label>
                                <div class="col-sm-6">
                                    <input id="NONBusiness_Book_Amount" type="text" class="form-control " value="@Model.NONBusiness_Book_Amount" name="NONBusiness_Book_Amount" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">非營業用房屋累計折舊</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="@Model.NONBusiness_Deprn_Reserve" name="NONBusiness_Deprn_Reserve" readonly="readonly" /></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <script type="text/javascript">

                            function CheckOriginalCost() {
                                function ResetValue() { //重設值
                                    document.getElementById("Original_Cost").value = document.getElementById("Original_CostTemp").value;
                                }
                                var Original_Cost = document.getElementById("Original_Cost").value; //取得成本
                                var regex = /^[0-9]+[.]?([0-9]{1,2})?$/;
                                if (!regex.test(Original_Cost)) {
                                    ResetValue();
                                    return;
                                }
                            }

                            function CheckBusinessAreaSize() {
                                function ResetValue() { //重設值
                                    document.getElementById("Business_Area_Size").value = document.getElementById("Business_Area_SizeTemp").value;
                                }
                                var Business_Area_Size = document.getElementById("Business_Area_Size").value; //營業用面積
                                var RightArea = document.getElementById("RightArea").value; //權利面積
                                var regex = /^[0-9]+[.]?([0-9]{1,2})?$/;
                                if (!regex.test(Business_Area_Size)) {
                                    ResetValue();
                                    return;
                                }
                                if (Business_Area_Size > RightArea) { //營業用面積必須小於等於權利面積
                                    alert("營業用面積必須小於等於權利面積");
                                    ResetValue();
                                    return;
                                }
                                document.getElementById("Business_Area_SizeTemp").value = document.getElementById("Business_Area_Size").value;
                                CalculateArea();
                            }
                            function CalculateArea() {
                                var RightArea = document.getElementById("RightArea").value; //權利面積
                                var Business_Area_Size = document.getElementById("Business_Area_Size").value; //營業用面積
                                var Original_Cost = document.getElementById("Original_Cost").value; //取得成本

                                //計算 非營業用面積
                                $("#NONBusiness_Area_Size").val(RightArea - Business_Area_Size); //公式: 權利面積 - 營業用面積
                                //計算 營業用帳面金額
                                var Business_Book_Amount = Original_Cost * Business_Area_Size / RightArea; //公式: 取得成本 * 營業用面積 / 權利面積
                                $("#Business_Book_Amount").val(Business_Book_Amount);
                                //計算 非營業用帳面金額
                                $("#NONBusiness_Area_Size").val(Original_Cost - Business_Book_Amount); //公式: 取得成本 - 營業用帳面金額
                            }

                        </script>
                        <div class="ibox-c-subtitle">備註事項</div>
                        <div class="row">
                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">備註事項1</label>
                                <div class="col-sm-8"><input type="text" class="form-control " value="@Model.Remark1" name="Remark1" /></div>
                            </div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">備註事項2</label>
                                <div class="col-sm-9"><input type="text" class="form-control " value="@Model.Remark2" name="Remark2" /></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    @if (Model != null)
                                    {
                                        if (Model.ID == 0)
                                        {
                                            <a class="btn btn-default" onclick="history.go(-1);"><i class="fa fa-arrow-left">返回</i></a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-default" href="@Url.Action("Edit", controllerName , new { id = Header.Form_Number })"><i class="fa fa-arrow-left">返回</i></a>
                                        }
                                    }
                                    @if (CanEdit)
                                    {
                                        <text>
                                            <button class="btn btn-primary" onclick="Save();"><i class="fa fa-save"> 儲 存 </i></button>
                                        </text>
                                    }
                                </label>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div>
        @if (Model.BuildChangeRecord.Count() > 0)
        {
            <table border="1">
                <tbody>
                    <tr>
                        <td>序號</td>
                        <td>欄位名</td>
                        <td>異動前</td>
                        <td>異動後</td>
                    </tr>
                    @for (int i = 0; i < Model.BuildChangeRecord.Count(); i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@(BuildDisplayName.GetBuildDisplayName(Model.BuildChangeRecord[i].Field_Name))</td>
                            <td>@Model.BuildChangeRecord[i].Before_Data</td>
                            <td>@Model.BuildChangeRecord[i].After_Data</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

</div>
