﻿@using InspiniaWebAdminTemplate.Models.Land
@model AssetsIndexViewModel
@{
    //表頭及房屋物件
    var Header = (TempData["Header"] != null) ? TempData["Header"] : null;
    TempData["Header"] = Header;
    var Asset = (TempData["Asset"] != null) ? TempData["Asset"] : null;
    TempData["Asset"] = Asset;

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string functionName = LandHelper.GetFunctionTitle(controllerName);
    ViewBag.Title = "搜尋土地";
}

<script type="text/javascript">
    $(function(){
        $('#City_Code').change(function () {
            GetDistrict($(this).val());
        });

        $('#District_Code').change(function () {
            GetSection($('#City_Code').val(), $(this).val());
        });
        //初始化
        GetDistrict('@Model.condition.City_Code', '@Model.condition.District_Code');
        GetSection('@Model.condition.City_Code', '@Model.condition.District_Code', '@Model.condition.Section_Code');
    });
    function GetDistrict(City,DefaultValue)
    {
        $.ajax({
            url: G_GetDistrict,
            data: 'City=' + City,
            type: 'post',
            success: function (data) {
                //先清
                $("#District_Code option").remove();

                $.each(data, function (index, value) {
                    $("#District_Code").append($("<option></option>").attr("value", value.Value).html(value.Value + value.Text));
                });

                if (DefaultValue != '')
                {
                    $("#District_Code").val(DefaultValue);
                }

                $("#District_Code").change();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    function GetSection(City, District, DefaultValue)
    {
        $.ajax({
            url: G_GetSection,
            data: { 'City': City, 'District': District },
            type: 'post',
            success: function (data) {
                //先清
                $("#Section_Code option").remove();

                $.each(data, function (index, value) {
                    $("#Section_Code").append($("<option></option>").attr("value", value.Value).html(value.Value + value.Text));
                });

                if (DefaultValue != '') {
                    $("#Section_Code").val(DefaultValue);
                }

                $("#Section_Code").change();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    function ChangeAllCheckBox()
    {
        $('input[type="checkbox"][id!="ckAll"]').prop('checked', $('#ckAll').is(':checked'));
    }
    function AssetQuery()
    {
        $('#form').prop('action', '@Url.Action("Asset_LandQuery")');
    }
    function Save()
    {
        $('#form').prop('action', '@Url.Action("Asset_AddLandToBuild")');
        var AssetsList = [];
        $('input[type="checkbox"][id*="asset"]:checked').each(function () {
            if($(this).val())
            {
                AssetsList.push($(this).val());
            }
        });
        $('#LandList').val(AssetsList);

        if (AssetsList.length == 0)
        {
            alert("尚未選擇需導入之土地!!");
        }

        return (AssetsList.length != 0);
    }

    function Return()
    {

    }
</script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">土地</a>
            </li>
            <li>
                <a href="#">@(functionName + "作業")</a>
            </li>
            <li>
                <a href="#">@ViewBag.FunctionFrom</a>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <form method="post" id="form" class="form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>搜尋條件</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">縣市</label>
                                <div class="col-sm-8">
                                    @DropDownControl.GenDropDownControl("City_Code", "City_Code", "City", (!string.IsNullOrEmpty(Model.condition.City_Code) ? Model.condition.City_Code : ""))
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">鄉鎮市區</label>
                                <div class="col-sm-8">
                                    <select name="District_Code" class="form-control" id="District_Code"></select>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">地段</label>
                                <div class="col-sm-4">
                                    <select name="Section_Code" class="form-control" id="Section_Code"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">地號</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="Filial_Land_Number_Begin" value="@(!string.IsNullOrEmpty(Model.condition.Filial_Land_Number_Begin)? Model.condition.Filial_Land_Number_Begin : "")" />
                                </div>
                                <div class="col-sm-2">
                                    —
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="Filial_Land_Number_End" value="@(!string.IsNullOrEmpty(Model.condition.Filial_Land_Number_End)? Model.condition.Filial_Land_Number_End : "")" />
                                </div>
                            </div>
                            <div class="col-sm-8 form-group">
                                <label for="" class="col-sm-3 control-label">資產編號</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="AssetNumber" value="@(!string.IsNullOrEmpty(Model.condition.AssetNumber)? Model.condition.AssetNumber : "")" />
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="button" onclick="ResetForm()" class="btn btn-gray"><i class="fa fa-close"> 清 除</i></button>
                                    <button type="submit" class="btn btn-primary" onclick="AssetQuery();"><i class="fa fa-search">搜尋</i></button>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="ibox float-e-margins">

                    <div class="ibox-content">
                        <div class="table-responsive">

                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>共@((Model != null) ? Model.TotalAmount : 0)筆</label>
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="ckAll" onclick="ChangeAllCheckBox();" />勾選</th>
                                        <th>項次</th>
                                        <th>資產編號</th>
                                        <th>土地標示</th>
                                        <th>地號</th>
                                        <th>整筆面積</th>
                                        <th>權利範圍</th>
                                        <th>帳面成本</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        @for (int i = 0; i < Model.Items.Count(); i++)
                                        {
                                            var item = Model.Items.ToList()[i];
                                            <tr>
                                                <td>
                                                    <input type="checkbox" value="@item.ID" id="@("asset" + (i + 1))" />
                                                </td>
                                                <td>@(i + 1)</td>
                                                <td>@item.Asset_Number</td>
                                                <td>
                                                    @(item.LandMark)
                                                </td>
                                                <td>@item.Filial_Land_Number</td>
                                                <td>
                                                    @item.Area_Size
                                                </td>
                                                <td>
                                                    @item.Authorized_Area
                                                </td>
                                                <td>
                                                    @item.Current_Cost
                                                </td>
                                            </tr>
                                        }
                                </tbody>
                            </table>
                            <a id="page">
                                <div id="page_region"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td class="text-right">
                                        <a class="btn btn-default" onclick="window.history.back();"><i class="fa fa-arrow-left">返回</i></a>
                                        <button class="btn btn-primary" type="submit" onclick="return Save();"><i class="fa fa-check">導入勾選資料</i></button>
                                        <input id="LandList" name="LandList" type="hidden" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.TotalAmount,//資料庫總筆數
                    page_size: @Model.condition.PageSize,//單頁筆數
                    page_now: @Model.condition.Page,//當前頁
                    center_page: @Model.condition.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("LandQueryUpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });

            $('[data-toggle="tooltip"]').tooltip();

        })(jQuery);

    </script>
}
