﻿@using InspiniaWebAdminTemplate.Models.Build
@using Library.Servant.Repository.Build
@model BuildViewModel
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string ReturnController = controllerName;
    string functionName = BuildHelper.GetFunctionTitle(controllerName);
    var Action = ViewContext.RouteData.GetRequiredString("action");
    ViewBag.Title = (Action == "New") ? "新增單據" : "編輯單據";
    var Form_Number = ViewBag.FormNum != null ? ViewBag.FormNum : Model.TRXHeader.Form_Number;
    //var TRX_Header_ID = ViewBag.TRXID != null ? ViewBag.TRXID : Model.TRXHeader.TRX_Header_ID;
    TempData["FunctionFrom"] = ViewBag.Title;

    if (Convert.ToBoolean(ViewBag.SignMode))
    {
        Layout = "~/Views/Shared/_EmptyLayout.cshtml";
        TempData["SignMode"] = true;
    }

    //是否可以編輯
    bool CanEdit = (Model.TRXHeader.Transaction_Status == "0" || Model.TRXHeader.Transaction_Status == "3" || Model.TRXHeader.Transaction_Status == "4");
}

<script>

    function New_Asset()
    {
        $('#form').attr('action', '@Url.Action("Asset_New")');
        $('#form').submit();
    }
    function Search_Asset()
    {
        $('#form').attr('action', '@Url.Action("Asset_Search")');
        $('#form').submit();
    }
    function doSave()
    {
        $('#form').attr('action', '@Url.Action("HandleHeader")');
        $('#form').submit();
    }
    function CreateFlow()
    {
        $('#form').attr('action', '@Url.Action("CreateFlow", controllerName)');
        $('#form').submit();
    }
    function HeaderAndAsset_Del() {
        if (confirm('Confirm Delete ?')) {
            window.location.href = '@Url.Action("HeaderAndAsset_Del", new { id= Form_Number })';
        }
    }
    @if (TempData["message"] != null)
    {
        <text>
            window.onload = function () {
                alert('@TempData["message"].ToString()');
        }
        </text>
    }

    $(function () {
        @if(!CanEdit)
        {
            <text>
            //讓所有表單物件readonly
            $("#form input").prop("disabled", true).prop("readonly", true);
            $("#form select").prop("disabled", true).prop("readonly", true);
            </text>
        }
    });
</script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>登打單頭</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">房屋管理</a>
            </li>
            <li>
                <a href="#">@functionName</a>
            </li>
            <li>
                <a href="#">@ViewBag.Title</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@functionName</h5>
                </div>
                <div class="ibox-content">

                    <form method="post" id="form" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">事務處理類型</label>
                                <div class="col-sm-6">
                                   @(functionName)
                                   <input type="hidden" name="Transaction_Type" value="@((Model != null) ? Model.TRXHeader.Transaction_Type : "")" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">事務處理編號</label>
                                <div class="col-sm-6">
                                    @Model.TRXHeader.Form_Number
                                    <input type="hidden" value="@Model.TRXHeader.Form_Number" name="Form_Number" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">狀態</label>
                                <div class="col-sm-6">
                                    @(!string.IsNullOrEmpty(Model.TRXHeader.Transaction_Status_Name) ? Model.TRXHeader.Transaction_Status_Name : "新增")
                                    <input type="hidden" name="Transaction_Status" value="@((!string.IsNullOrEmpty(Model.TRXHeader.Transaction_Status))?Model.TRXHeader.Transaction_Status : "0")" />
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">帳本</label>
                                <div class="col-sm-6 checkbox-list">
                                    @*固定 NTD_RE_IFRS / 20171103*@
                                    NTD_RE_IFRS
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">事務處理日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="Transaction_Datetime_Entered" value="@(Model.TRXHeader.Transaction_Datetime_Entered.ToString("yyyy/MM/dd"))" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">入帳日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" name="Accounting_Datetime" value="@((Model.TRXHeader.Accounting_Datetime != null ? Model.TRXHeader.Accounting_Datetime.Value.ToString("yyyy/MM/dd"):""))" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-8 form-group">
                                <label for="" class="col-sm-2 control-label">管轄單位</label>
                                <div class="col-sm-10 form-group">
                                    @AssetLocationDispControl.GenAssetLocationDispControl("Office_Branch", "Office_Branch", ((!string.IsNullOrEmpty(Model.TRXHeader.Office_Branch)) ? Model.TRXHeader.Office_Branch : ""), "2")
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-2 control-label">備註</label>
                                <div class="col-sm-9"><input type="text" class="form-control" name="Remark" value="@((!string.IsNullOrEmpty(Model.TRXHeader.Description)) ? Model.TRXHeader.Description : "")" /></div>
                            </div>

                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <a href="@Url.Action("Index",ReturnController)" class="btn btn-default"><i class="fa fa-arrow-left">返回</i></a>
                                    @if (Model != null && Model.TRXHeader != null && (Model.TRXHeader.Transaction_Status == "0" || Model.TRXHeader.Transaction_Status == "3" || Model.TRXHeader.Transaction_Status == "4"))
                                    {
                                        <text>
                                            <button id="DelBtn" class="btn btn-danger"><i class="fa fa-remove">刪除</i></button>
                                            @*<button class="btn btn-primary" onclick="New_Asset();"><i class="fa fa-save">儲存</i></button>*@
                                            @*<button class="btn btn-primary" onclick="doSave();"><i class="fa fa-save">儲存</i></button>*@
                                            <button id="SubmitBtn" class="btn btn-info" onclick="CreateFlow();"><i class="fa fa-arrow-right">提交</i></button>
                                        </text>
                                    }
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table-condensed" style="width:100%">
                                <tr>
                                    <td style="text-align: left">
                                        @if (controllerName == "BuildAdded")
                                        {
                                            <button class="btn btn-primary" onclick="New_Asset();"><i class="fa fa-plus"> 新 增 </i></button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-primary" onclick="Search_Asset();"><i class="fa fa-search">搜尋/導入資產</i></button>
                                        }
                                    </td>
                                    <td style="text-align: right"></td>
                                </tr>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>資產編號</th>
                                        <th>摘要</th>
                                        @if (controllerName == "BuildLifeChange") //房屋使用年限
                                        {
                                            <th>異動前使用年限</th>
                                            <th>異動後使用年限</th>
                                        }
                                        @if (controllerName == "BuildReclassify") //房屋重分類
                                        {
                                            <th>異動前資產分類</th>
                                            <th>異動後資產分類</th>
                                        }
                                        @if (controllerName == "BuildDisposal") //房屋處分
                                        {
                                            <th>帳面成本</th>
                                            <th>處分成本</th>
                                            <th>變賣收入</th>
                                            <th>變賣成本</th>
                                            <th>未實現重估增值</th>
                                            <th>重估增值成本</th>
                                        }
                                        @if (controllerName == "BuildMaintain" || controllerName == "BuildAdded") //房屋新增與維護
                                        {
                                            <th>資產分類</th>
                                            <th>帳面成本</th>
                                            <th>啟用日期</th>
                                        }
                                        <th>@(CanEdit ? "編輯" : "檢視")</th>
                                        @if (CanEdit)
                                        {
                                            <text>
                                                <th>刪除</th>
                                            </text>
                                        }
                                    </tr>
                                <thead>
                                <tbody>

                                    @if (Model.Assets.Count() > 0)
                                    {
                                        for (int i = 0; i < Model.Assets.Count(); i++)
                                        {
                                            var item = Model.Assets.ToList()[i];
                                            <text>
                                                <tr>
                                                    <td>@(i + 1)</td>
                                                    <td>@item.Asset_Number</td>
                                                    <td>@item.Description</td>
                                                    @if (controllerName == "BuildLifeChange") //房屋使用年限
                                                    {
                                                        var YearDataByAsset = Model.Year.Where(m => m.Asset_Number == item.Asset_Number).SingleOrDefault();
                                                        <th>@YearDataByAsset.Old_Life_Years 年 @YearDataByAsset.Old_Life_Months 月</th>
                                                        <th>@YearDataByAsset.New_Life_Years 年 @YearDataByAsset.New_Life_Months 月</th>
                                                    }
                                                    @if (controllerName == "BuildReclassify") //房屋重分類
                                                    {
                                                        var CategoryDataByAsset = Model.Category.Where(m => m.Asset_Number == item.Asset_Number).SingleOrDefault();
                                                        <th>@CategoryDataByAsset.Old_Asset_Category_Code</th>
                                                        <th>@CategoryDataByAsset.NEW_Asset_Category_Code</th>
                                                    }
                                                    @if (controllerName == "BuildDisposal") //房屋處分
                                                    {
                                                        var RetireDataByAsset = Model.Retire.Where(m => m.Asset_Number == item.Asset_Number).SingleOrDefault();
                                                        <td>@RetireDataByAsset.Old_Cost</td>
                                                        <td>@RetireDataByAsset.Retire_Cost</td>
                                                        <td>@RetireDataByAsset.Sell_Amount</td>
                                                        <td>@RetireDataByAsset.Sell_Cost</td>
                                                        <td>@RetireDataByAsset.Reval_Adjustment_Amount</td>
                                                        <td>@RetireDataByAsset.Reval_Reserve</td>
                                                    }
                                                    @if (controllerName == "BuildMaintain" || controllerName == "BuildAdded") //房屋新增與維護
                                                    {
                                                        <td>@item.Asset_Category_Code</td>
                                                        <td>@item.Current_Cost.ToString("N0")</td>
                                                        <td>@item.Date_Placed_In_Service.ToString("yyyy/MM/dd")</td>
                                                    }
                                                    <td>
                                                        @if (CanEdit)
                                                        {
                                                            <text>
                                                                <a href="@Url.Action("Asset_Edit", new { id = item.ID, Transaction_Type = Model.TRXHeader.Transaction_Type })" class="btn btn-primary btn-circle"><i class="fa fa-pencil"></i></a>
                                                            </text>
                                                        }
                                                        else
                                                        {
                                                            <text>
                                                                <a href="@Url.Action("Asset_Edit",new { id = item.ID, Transaction_Type = Model.TRXHeader.Transaction_Type })" class="btn btn-primary btn-circle"><i class="fa fa-list"></i></a>
                                                            </text>
                                                        }
                                                    </td>
                                                    @if (CanEdit)
                                                    {
                                                        <text>
                                                            <td>
                                                                @*<a href="@Url.Action("Asset_Del",new { id = item.ID })" class="btn btn-primary btn-circle"><i class="fa fa-list"></i></a>*@
                                                                <button id="DelDetailBtn" onclick="Asset_Del('@item.ID')" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button>
                                                            </td>
                                                        </text>
                                                    }
                                                </tr>
                                            </text>
                                        }
                                    }

                                <tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
</div>
<script>
    function Asset_Del(data) {
        if(confirm('Confirm Delete ?')){
            window.location.href = '@Url.Action("Asset_Del")' + '/' + data;
        }
    }

    $("#DelBtn").on('click', function (e) {
        e.preventDefault();
        HeaderAndAsset_Del();
    });

    $(document).ready(function () {
        var Action = '@(Action??string.Empty)';
        if (Action == "New") {
            $("#DelBtn").attr("disabled", "true");
            $("#SubmitBtn").attr("disabled", "true");
        } else {
            var Count = '@(Model==null?0:Model.Assets.Count())';
            if (Count == 0) {
                $("#SubmitBtn").attr("disabled", "true");
            }
        }
    });
</script>