﻿@using InspiniaWebAdminTemplate.Models.Common
@using InspiniaWebAdminTemplate.Models.ApprovalReassign
@model IndexViewModel

@{
    ViewBag.Title = "Reassignment";
}

<div id="root">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-10">
            <h2>簽核改派</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "ApprovalTracking")">首頁</a>
                </li>
                <li>
                    <a href="#">簽核改派</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>搜尋條件</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        @Html.Partial("_FlowSearchOptions")
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">
                        <div class="table-responsive">

                            <table class="table-condensed" width="100%">
                                <tr>
                                    <td style="text-align: left">
                                        <label>共  @Model.Page.TotalAmount 筆</label>
                                        <a class="btn btn-sm btn-default" href="@HttpContext.Current.Request.UrlReferrer">回上頁</a>
                                    </td>
                                </tr>
                            </table>


                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>表單送出日期</th>
                                        <th>單據編號</th>
                                        <th>簽核紀錄</th>
                                        <th>改派</th>
                                        <th>表單類別</th>
                                        <th>表單名稱</th>
                                        <th>分行</th>
                                        <th>申請人員</th>
                                        <th>最後簽核人員</th>
                                        <th>下個簽核人員</th>
                                        <th>簽核狀態</th>
                                        <th>簽核流程</th>
                                        <th>備註</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @for (int index = 0; index < Model.Page.Items.Count; ++index)
                                    {
                                        var item = Model.Page.Items[index];
                                        <tr>
                                            <td>@( index + 1 + (Model.SearchCondition.Page - 1) * (Model.SearchCondition.PageSize)  )</td>
                                            <td>@item.IssueTimeDescription</td>
                                            <td>@item.FormNo</td>
                                            <td><a href="@Url.Action("Logs", "ApprovalFlow", new { ID = item.ID })"><i class="fa fa-folder"></i></a></td>
                                            <td><a href="@Url.Action("Start", "ApprovalReassignEdit", new { ID = item.ID })"><i class="fa fa-child"></i></a></td>
                                            <td>@item.DocTypeName</td>
                                            <td>@item.DocName</td>
                                            <td>@item.BranchName</td>
                                            <td>@item.ApplyUserName</td>
                                            <td>@item.CurrentApprovalUserName</td>
                                            <td>@item.NextApproval</td>
                                            <td>@item.ApprovalStatus</td>
                                            <td><a href="#modal-form-role-@item.ID" data-toggle="modal">@item.FlowTemplateName</a></td>
                                            <td>@item.Remark</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                            <a id="page">
                                <div id="page_region"></div>
                            </a>
                        

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@foreach (var item in Model.Page.Items)
{
    @FlowRolesDialog(item)
}

@helper FlowRolesDialog(FlowOpenViewModel item)
{
    <div id="modal-form-role-@item.ID" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div>
                            <h3 class="m-t-none m-b">流程預覽</h3>
                            <ol>
                                @foreach (var role in item.FlowRoles)
                                {
                                    <li>@role</li>
                                }
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts { 

    @Html.Partial("_VuePageList")
    <script>

                (function ($) {

                    var page = new $.PageTemplate({

                        el: "#page_region",
                        data: {

                            limit_pages: 10,//畫面上最多有幾頁可供選擇
                            total_amount: @Model.Page.TotalAmount,//資料庫總筆數
                            page_size: @Model.SearchCondition.PageSize,//單頁筆數
                            page_now: @Model.SearchCondition.Page,//當前頁
                            center_page: @Model.SearchCondition.Page,//置中頁,通常會將當前頁置中

                            pages: [],//通常為空,

                            action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                        }
                    });

                    $(".datepicker").datepicker({
                        format: "yyyy/mm/dd",
                        autoclose: true,
                        clearBtn: true,
                        calendarWeeks: false,
                        todayHighlight: true,
                        language: 'zh-TW'
                    });

                    $(".date-trigger").on("click", function () {
                        $(this).prev(".datepicker").datepicker("show");
                    });


                })(jQuery);

    </script>
}
