﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 編輯承租進度</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">租賃整合管理</a>
            </li>
            <li>
                <a href="#">承租進度追蹤作業</a>
            </li>
            <li>
                <a href="#">新增/編輯單據</a>
            </li>
            <li>
                <a href="#">編輯承租進度</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>新增/編輯巡查案件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約編號</label>
                                <div class="col-sm-6 text-lineH-fix">107-A0001</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">原租約編號</label>
                                <div class="col-sm-9 text-lineH-fix">
                                    <div style="float:left">承-106-A0001</div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約類別</label>
                                <div class="col-sm-6 text-lineH-fix">承租</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約事務</label>
                                <div class="col-sm-6 text-lineH-fix">續租</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約類型</label>
                                <div class="col-sm-6 text-lineH-fix">租金</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">業務別</label>
                                <div class="col-sm-6 text-lineH-fix">自用</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約狀態</label>
                                <div class="col-sm-9 text-lineH-fix">有效</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租賃期間</label>
                                <div class="col-sm-6 text-lineH-fix">106/1/1 ~ 106/12/31</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">核准日期</label>
                                <div class="col-sm-6 text-lineH-fix">105/12/15</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">年租率</label>
                                <div class="col-sm-6 text-lineH-fix">2.02 %</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳號</label>
                                <div class="col-sm-6 text-lineH-fix">投管0015</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-6 text-lineH-fix">001 總行 08 產權部 001 XX科</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註</label>
                                <div class="col-sm-6 text-lineH-fix">&nbsp;</div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>承租進度</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label">預計到期處理</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="radio" name="radiogroup1" checked><span>續租</span>
                                    <input type="radio" name="radiogroup1"><span>不續租</span>
                                    <input type="radio" name="radiogroup1"><span>其他</span><input type="text" class="form-control" style="width:20%;margin-top:-5px">

                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label">處理方式說明</label>
                                <div class="col-sm-9"><textarea rows="10" class="form-control"></textarea></div>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label">備註</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <label for="" class="col-sm-2 control-label">處理進度</label>
                                <div class="col-sm-10">
                                    <div class="checkbox-list" style="padding-bottom:40px">
                                        <div class="col-sm-4"><input type="checkbox" onChange="chkmiss(this)" id="ck11" value="11"><span>收文</span></div>
                                        <span>執行日期</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" disabled />
                                        <span style="margin-left:20px">備註</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" />
                                    </div>

                                    <div class="checkbox-list" style="padding-bottom:40px">
                                        <div class="col-sm-4"><input type="checkbox" onChange="chkmiss(this)" id="ck12" value="12"><span>續租必要會業務部</span></div>
                                        <span>執行日期</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" disabled />
                                        <span style="margin-left:20px">備註</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" />
                                    </div>

                                    <div class="checkbox-list" style="padding-bottom:40px">
                                        <div class="col-sm-4"><input type="checkbox" onChange="chkmiss(this)" id="ck13" value="13"><span>草約會法遵處</span></div>
                                        <span>執行日期</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" disabled />
                                        <span style="margin-left:20px">備註</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" />
                                    </div>

                                    <div class="checkbox-list" style="padding-bottom:40px">
                                        <div class="col-sm-4"><input type="checkbox" onChange="chkmiss(this)" id="ck14" value="14"><span>行舍勘查</span></div>
                                        <span>執行日期</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" disabled />
                                        <span style="margin-left:20px">備註</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" />
                                    </div>

                                    <div class="checkbox-list" style="padding-bottom:40px">
                                        <div class="col-sm-4"><input type="checkbox" onChange="chkmiss(this)" id="ck15" value="15"><span>簽總經理</span></div>
                                        <span>執行日期</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" disabled />
                                        <span style="margin-left:20px">備註</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" />
                                    </div>

                                    <div class="checkbox-list" style="padding-bottom:40px">
                                        <div class="col-sm-4"><input type="checkbox" onChange="chkmiss(this)" id="ck16" value="16"><span>第一次, 預估金額會議</span></div>
                                        <span>執行日期</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" disabled />
                                        <span style="margin-left:20px">備註</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" />
                                    </div>

                                    <div class="checkbox-list" style="padding-bottom:40px">
                                        <div class="col-sm-4"><input type="checkbox" onChange="chkmiss(this)" id="ck17" value="17"><span>第二次, 審意預估金額會議</span></div>
                                        <span>執行日期</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" disabled />
                                        <span style="margin-left:20px">備註</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" />
                                    </div>

                                    <div class="checkbox-list" style="padding-bottom:40px">
                                        <div class="col-sm-4"><input type="checkbox" onChange="chkmiss(this)" id="ck18" value="18"><span>審議小組會議紀錄呈核</span></div>
                                        <span>執行日期</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" disabled />
                                        <span style="margin-left:20px">備註</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" />
                                    </div>

                                    <div class="checkbox-list" style="padding-bottom:40px">
                                        <div class="col-sm-4"><input type="checkbox" onChange="chkmiss(this)" id="ck19" value="19"><span>回文並檢送核准草約</span></div>
                                        <span>執行日期</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" disabled />
                                        <span style="margin-left:20px">備註</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" />
                                    </div>

                                    <div class="checkbox-list" style="padding-bottom:40px">
                                        <div class="col-sm-4"><input type="checkbox" onChange="chkmiss(this)" id="ck20" value="20"><span>租約、議價紀錄等件備查</span></div>
                                        <span>執行日期</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" disabled />
                                        <span style="margin-left:20px">備註</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" />
                                    </div>

                                    <div class="checkbox-list" style="padding-bottom:40px">
                                        <div class="col-sm-4"><input type="checkbox" onChange="chkmiss(this)" id="ck21" value="21"><span>決標、公告</span></div>
                                        <span>執行日期</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" disabled />
                                        <span style="margin-left:20px">備註</span><input type="text" class="form-control" value="" style="width:20%;margin-top:-5px" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
function chkmiss(th) {
     var cksts = th.value;
		 for (i=11 ; i < cksts ; i++) {
			var ckid = document.getElementById('ck'+i).checked;
			if (th.checked == true & ckid == false) {
				alert("請確認處理階段是否有遺漏");
				cked == true;
			}
		 }
	 }
</script>