﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>新增/編輯單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">租賃整合管理</a>
            </li>
            <li>
                <a href="#">承租租金繳納作業作業</a>
            </li>
            <li>
                <a href="#">新增/編輯單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><span class="text-success">【步驟一】</span> 新增單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">承租進度追蹤單</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">自動提醒通知</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1060502E160000001</div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 帳本</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">IFRS_TWD</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 單據處理日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" value="106-05-02" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">002 台北分行</option>
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix text-primary-re">新增</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註(關鍵字)</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label><span class="text-success">【步驟二】</span></label>
                                    <a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary"><i class="fa fa-search"> 搜尋/導入租約 </i></a>
                                </td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>租約編號</th>
                                    <th>租約類型</th>
                                    <th>租約事務</th>
                                    <th>管轄單位</th>
                                    <th>帳號</th>
                                    <th>租賃期間</th>
                                    <th>預計到期處理</th>
                                    <th>備註</th>
                                    <th>編輯進度</th>
                                    <th>移出</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>106-00001</td>
                                    <td>租金</td>
                                    <td>新租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td>續租</td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentDetail")" class="btn btn-primary btn-circle" title="搜尋"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>106-00001</td>
                                    <td>租金</td>
                                    <td>續租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td>不續租</td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentDetail")" class="btn btn-primary btn-circle" title="搜尋"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>106-00001</td>
                                    <td>基地補償金</td>
                                    <td>新租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td>續租</td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentDetail")" class="btn btn-primary btn-circle" title="搜尋"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>106-00001</td>
                                    <td>基地補償金</td>
                                    <td>續租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td>續租</td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentDetail")" class="btn btn-primary btn-circle" title="搜尋"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>106-00001</td>
                                    <td>租金</td>
                                    <td>新租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td>續租</td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentDetail")" class="btn btn-primary btn-circle" title="搜尋"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>106-00001</td>
                                    <td>租金</td>
                                    <td>續租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td>續租</td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentDetail")" class="btn btn-primary btn-circle" title="搜尋"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>106-00001</td>
                                    <td>基地補償金</td>
                                    <td>新租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td>續租</td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentDetail")" class="btn btn-primary btn-circle" title="搜尋"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>106-00001</td>
                                    <td>基地補償金</td>
                                    <td>續租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td>續租</td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentDetail")" class="btn btn-primary btn-circle" title="搜尋"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>106-00001</td>
                                    <td>租金</td>
                                    <td>新租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td>續租</td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentDetail")" class="btn btn-primary btn-circle" title="搜尋"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>106-00001</td>
                                    <td>租金</td>
                                    <td>續租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td>續租</td>
                                    <td></td>
                                    <td><a href="@Url.Action("ContentDetail")" class="btn btn-primary btn-circle" title="搜尋"><i class="fa fa-pencil"></i></a></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"><span>【步驟三】</span></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-splitdata" class="btn btn-success" data-toggle="modal"><i class="fa fa-long-arrow-right"> 提 交 </i></a>
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#" class="btn btn-danger"><i class="fa fa-trash"> 刪 除 </i></a>
            <a href="E160.aspx" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-splitdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定提交嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- E132 lightbox -->
<div id="modal-form-importdata" class="modal fade" aria-hidden="true" style="width:70%; background:#FFF;margin:0 auto; margin-top:20px;margin-bottom:20px">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="border:0">
                        <h5><span class="text-success">【步驟一】</span> 搜尋欲維護的租約</h5>
                        <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">租約類別</label>
                                    <div class="col-sm-9 checkbox-list">
                                        <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                        <input type="checkbox" checked><span>承租</span>
                                        <input type="checkbox"><span>出租</span>

                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">租約事務</label>
                                    <div class="col-sm-9 checkbox-list">
                                        <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                        <input type="checkbox"><span>新租</span>
                                        <input type="checkbox"><span>續租</span>

                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">租約類型</label>
                                    <div class="col-sm-9 checkbox-list">
                                        <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                        <input type="checkbox"><span>租金</span>
                                        <input type="checkbox"><span>基地補償金</span>

                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">業務別</label>
                                    <div class="col-sm-9 checkbox-list">
                                        <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                        <input type="checkbox"><span>自用</span>
                                        <input type="checkbox"><span>非自用</span>

                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">租約編號</label>
                                    <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                    <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                    <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">原租約編號</label>
                                    <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                    <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                    <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">租約狀態</label>
                                    <div class="col-sm-9 checkbox-list">
                                        <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                        <input type="checkbox"><span>有效</span>
                                        <input type="checkbox"><span>終止</span>

                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">租賃期間</label>
                                    <div class="col-sm-4">
                                        <div class='input-group date' data-provide="datepicker-inline">
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                    <div class="col-sm-4">
                                        <div class='input-group date' data-provide="datepicker-inline">
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">核准日期</label>
                                    <div class="col-sm-4">
                                        <div class='input-group date' data-provide="datepicker-inline">
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                    <div class="col-sm-4">
                                        <div class='input-group date' data-provide="datepicker-inline">
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">年租率</label>
                                    <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                    <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                    <div class="col-sm-4"><input type="text" class="form-control" value="" /> %</div>
                                </div>

                                <div class="col-sm-6 form-group gutter-s">
                                    <label for="" class="col-sm-3 control-label">管轄單位</label>
                                    <div class="col-sm-3">
                                        <select class="form-control" id="">
                                            <option value="">001總行</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="form-control" id="">
                                            <option value="">009電金部</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="form-control" id="">
                                            <option value="">001XX科</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="clearfix"></div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">帳號(關鍵字)</label>
                                    <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                                </div>

                                <div class="col-sm-6 form-group">
                                    <label for="" class="col-sm-3 control-label">備註(關鍵字)</label>
                                    <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                                </div>

                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="" class="pull-right">
                                        <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                        <button class="btn btn-primary"><i class="fa fa-search"> 搜 尋 </i></button>
                                    </label>
                                </div>
                            </div>
                            <div class="ibox-c-subtitle">
                                <div class=" checkbox-list">
                                    <label><span class="text-success">【步驟二】</span>請勾選搜尋結果&nbsp;&nbsp;</label>
                                    <input type="radio" name="RadioGroup1" value="" checked><span>分頁</span>
                                    <input type="radio" name="RadioGroup1" value=""><span>全部列出</span>
                                    <div style="clear:both"></div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>項次</th>
                                            <th>租約編號</th>
                                            <th>租約類型</th>
                                            <th>租約事務</th>
                                            <th>管轄單位</th>
                                            <th>帳號</th>
                                            <th>租賃期間</th>
                                            <th>備註</th>
                                            <th><input type="checkbox"> 勾選</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>106-00001</td>
                                            <td>租金</td>
                                            <td>新租</td>
                                            <td>台北分行/XX科</td>
                                            <td>大安使009</td>
                                            <td>
                                                106/1/1~
                                                106/12/31
                                            </td>
                                            <td></td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr class="lightyellow_bg">
                                            <td>2</td>
                                            <td>106-00001</td>
                                            <td>租金</td>
                                            <td>續租</td>
                                            <td>台北分行/XX科</td>
                                            <td>大安使009</td>
                                            <td>
                                                106/1/1~
                                                106/12/31
                                            </td>
                                            <td></td>
                                            <td><input type="checkbox" checked></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>106-00001</td>
                                            <td>基地補償金</td>
                                            <td>新租</td>
                                            <td>台北分行/XX科</td>
                                            <td>大安使009</td>
                                            <td>
                                                106/1/1~
                                                106/12/31
                                            </td>
                                            <td></td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>106-00001</td>
                                            <td>基地補償金</td>
                                            <td>續租</td>
                                            <td>台北分行/XX科</td>
                                            <td>大安使009</td>
                                            <td>
                                                106/1/1~
                                                106/12/31
                                            </td>
                                            <td></td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>106-00001</td>
                                            <td>租金</td>
                                            <td>新租</td>
                                            <td>台北分行/XX科</td>
                                            <td>大安使009</td>
                                            <td>
                                                106/1/1~
                                                106/12/31
                                            </td>
                                            <td></td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>106-00001</td>
                                            <td>租金</td>
                                            <td>續租</td>
                                            <td>台北分行/XX科</td>
                                            <td>大安使009</td>
                                            <td>
                                                106/1/1~
                                                106/12/31
                                            </td>
                                            <td></td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>106-00001</td>
                                            <td>基地補償金</td>
                                            <td>新租</td>
                                            <td>台北分行/XX科</td>
                                            <td>大安使009</td>
                                            <td>
                                                106/1/1~
                                                106/12/31
                                            </td>
                                            <td></td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>106-00001</td>
                                            <td>基地補償金</td>
                                            <td>續租</td>
                                            <td>台北分行/XX科</td>
                                            <td>大安使009</td>
                                            <td>
                                                106/1/1~
                                                106/12/31
                                            </td>
                                            <td></td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>106-00001</td>
                                            <td>租金</td>
                                            <td>新租</td>
                                            <td>台北分行/XX科</td>
                                            <td>大安使009</td>
                                            <td>
                                                106/1/1~
                                                106/12/31
                                            </td>
                                            <td></td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>106-00001</td>
                                            <td>租金</td>
                                            <td>續租</td>
                                            <td>台北分行/XX科</td>
                                            <td>大安使009</td>
                                            <td>
                                                106/1/1~
                                                106/12/31
                                            </td>
                                            <td></td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <nav class="text-center">
                                    <ul class="pagination">
                                        <li class="disabled"><a>1</a></li>
                                        <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                        <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                        <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                        <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                        <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                        <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                        <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                        <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                        <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                        <li> <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                                        <li> <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next"> <span aria-hidden="true">&raquo;&raquo;</span> </a> </li>
                                    </ul>
                                </nav>
                            </div>

                            <div class="ibox-c-subtitle"></div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <div class="col-sm-3"><label><span class="text-success">【步驟三】</span></label></div>
                                    <div class="col-sm-9" style="text-align:right">
                                        <a href="#" class="btn btn-success" data-dismiss="modal"><i class="fa fa-check"> 導入勾選資料 </i></a>
                                        <a href="E161.aspx" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-cloase"> 取 消 </i></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>