﻿@using FastReport.Web
@WebReportGlobals.Scripts()
@WebReportGlobals.Styles()

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewBag.WebReport.GetHtml()
    </div>
</body>
</html>
