﻿@using Library.Servant.Servant.AccountingEAI.Models
@model IndexResult

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">

                    <form action="" class="form-horizontal">

                        <h1>會計分錄資料拋轉中，請稍候...</h1>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                        @Model.AfterEAI (已拋轉件數) / @Model.TotalEAI (總件數)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p>未拋轉件數 @Model.PrepareEAI 件</p>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <a class="btn btn-primary" href="#modal-form-eai" data-toggle="modal"><i class="fa fa-search">加入拋轉</i></a>
                                <a class="btn btn-danger" href="#modal-form-cancel" data-toggle="modal"><i class="fa fa-times">取消</i></a>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

<div id="modal-form-eai" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>

                        <h3 class="m-t-none m-b">未拋轉共 @Model.PrepareEAI 件</h3>

                        <p>加入拋傳佇列?</p>
                        <form style="display:inline-block;" method="POST" action="@Url.Action("Add")">
                            @Html.AntiForgeryToken()
                            <button class="btn btn-sm btn-danger" type="submit"><strong>是</strong></button>
                        </form>

                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>否</strong></button>
                     </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal-form-cancel" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>

                        <h3 class="m-t-none m-b">清空拋轉佇列</h3>

                        <p>已拋轉的帳目無法回復</p>
                        <form style="display:inline-block;" method="POST" action="@Url.Action("Remove")">
                            @Html.AntiForgeryToken()
                            <button class="btn btn-sm btn-danger" type="submit"><strong>是</strong></button>
                        </form>

                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>否</strong></button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

