﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 檢視出險單</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">出險新增作業</a>
            </li>
            <li>
                <a href="#">檢視單據</a>
            </li>
            <li>
                <a href="#">檢視出險單</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" action="" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1051130K220000001</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-5 text-lineH-fix">總行個別新增</div>
                                <div class="col-sm-4"><a href="/download/20170912_policy01.pdf" class="btn btn-gray"><i class="fa fa-search"> 查看保單 詳情 </i></a></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">保險公司</label>
                                <div class="col-sm-6 text-lineH-fix">泰安產物保險股份有限公司</div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-6 text-lineH-fix">001 總行</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">保單類型</label>
                                <div class="col-sm-6 text-lineH-fix">公共意外責任保險單</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-primary-re">已核准</span> ( 核准日期：105-11-31 )</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">保單號碼</label>
                                <div class="col-sm-6 text-lineH-fix">060第57206A00001號</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 被保險人</label>
                                <div class="col-sm-6 text-lineH-fix">臺灣土地銀行股份有限公司</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">保險公司聯絡人</label>
                                <div class="col-sm-6 text-lineH-fix">王泰安</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">保險公司聯絡電話</label>
                                <div class="col-sm-6 text-lineH-fix">02-1234-5678</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">保險期間</label>
                                <div class="col-sm-9 text-lineH-fix">106/1/1 00:00 ~ 107/1/1 00:00</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 保險生效日期</label>
                                <div class="col-sm-6 text-lineH-fix">106/1/1</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">總保險費 (NTD)</label>
                                <div class="col-sm-6 text-lineH-fix">315,150  元</div>
                            </div>

                            <div class="col-sm-9 form-group" style="margin-top:20px">
                                <label for="" class="col-sm-2 control-label">承保範圍</label>
                                <div class="col-sm-9">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>保險標的</th>
                                                    <th>出險地址</th>
                                                    <th>投保金額 (Nth)</th>
                                                    <th>受傷人數</th>
                                                    <th>備註</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>每一個人身體傷亡</td>
                                                    <td>台北市中山區</td>
                                                    <td>10,000,000</td>
                                                    <td>1</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>每一意外事故傷亡</td>
                                                    <td>台北市中山區</td>
                                                    <td>70,000,000</td>
                                                    <td>1</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>每一意外事故財損</td>
                                                    <td>台北市中山區</td>
                                                    <td>10,000,000</td>
                                                    <td>1</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>保險期間內最高賠償金額</td>
                                                    <td>台北市中山區</td>
                                                    <td>100,000,000</td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">出險原因及經過</label>
                                <div class="col-sm-9 text-lineH-fix">無</div>

                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">
                                    是否造成<br>
                                    第三人財損
                                </label>
                                <div class="col-sm-1 text-lineH-fix">無</div>
                                <div class="col-sm-6 text-lineH-fix"><span style="float:left;margin-right:20px">簡述說明</span>從2F 樓梯跌落1F地面, 筆電, 手機毀損</div>

                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">
                                    是否造成<br>
                                    第三人傷/亡
                                </label>
                                <div class="col-sm-1 text-lineH-fix">無</div>
                                <div class="col-sm-6 text-lineH-fix"><span style="float:left;margin-right:20px">簡述說明</span>從2F 樓梯跌落1F地面, 造成手腕骨折</div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">備註</label>
                                <div class="col-sm-6 text-lineH-fix">本保險單另適用公共意外責任保險基本條款</div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>