﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 新增/編輯評估案件</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">資產評估作業</a>
            </li>
            <li>
                <a href="#">指定評估房屋作業</a>
            </li>
            <li>
                <a href="#">新增/編輯評估案件</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>新增/編輯評估案件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1060502H200000001</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">分辦單位</label>
                                <div class="col-sm-6 text-lineH-fix">基隆分行</div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">預計結案日期</label>
                                <div class="col-sm-6 text-lineH-fix">106-12-31</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">評估方式</label>
                                <div class="col-sm-6 text-lineH-fix">總行指定評估</div>
                            </div>

                        </div>

                        <div class="ibox-c-subtitle">房屋明細</div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">房屋財產編號</label>
                                <div class="col-sm-6 text-lineH-fix">2010202-0000043</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"></label>
                                <div class="col-sm-6" style="text-align:right"><a href="@Url.Action("ContentDetail_1")" target="_blank" class="btn btn-gray"><i class="fa fa-search"> 查看房屋詳情 </i></a></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產分類</label>
                                <div class="col-sm-6 text-lineH-fix">2.010202.B 房屋-營業用房屋-固定-自用</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">建物門牌</label>
                                <div class="col-sm-6 text-lineH-fix">基隆市中正路義一路18號</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">房屋面積</label>
                                <div class="col-sm-6 text-lineH-fix">21,658.83  m2</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">
                                    房屋主建物帳面價值<br>( 截至106.03.31 )
                                </label>
                                <div class="col-sm-6 text-lineH-fix">6,269,650.60 元</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">分行查估房屋市場價值</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-success">62,027,570.00</span> 元 </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">估價方法</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-success">一般估價</span></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">評估紀錄摘要</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-success">摘要文字 摘要文字 摘要文字</span></div>
                            </div>

                        </div>

                        <div class="ibox-c-subtitle">土地明細</div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">土地財產編號</label>
                                <div class="col-sm-6 text-lineH-fix">1010202-0002706</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"></label>
                                <div class="col-sm-6" style="text-align:right"><a href="@Url.Action("ContentDetail_2")" target="_blank" class="btn btn-gray"><i class="fa fa-search"> 查看土地詳情 </i></a></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產分類</label>
                                <div class="col-sm-6 text-lineH-fix">1.010202.B  土地-營業用房屋基地-固定-自用</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">土地坐落</label>
                                <div class="col-sm-6 text-lineH-fix">基隆市中正區日新段二小段 0001-0000 地號</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">土地面積</label>
                                <div class="col-sm-6 text-lineH-fix">1,879.00  m2</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">建物基地權利範圍</label>
                                <div class="col-sm-6 text-lineH-fix">1 / 1  ( 分子 / 分母 )000</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">土地帳面價值<br>( 截至106.03.31 )</label>
                                <div class="col-sm-6 text-lineH-fix">7,167,570.00 元</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">分行查估土地市場價值</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-success">62,027,570.00</span> 元 </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">估價方法</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-success">一般估價</span></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">評估紀錄摘要</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-success">摘要文字 摘要文字 摘要文字</span></div>
                            </div>

                        </div>

                        <div class="ibox-c-subtitle">評估紀錄</div>
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">上傳執行情形報告表</label>
                            <div class="col-sm-6 text-lineH-fix"><a href="#"><i class="fa fa-file-text-o">XXXXXXXXXXXXXXX.pdf</i></a></div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">備註</label>
                            <div class="col-sm-6 text-lineH-fix"><span class="text-success">備註文字 備註文字 備註文字</span></div>
                        </div>


                        <div class="ibox-c-subtitle">評估紀錄</div>
                        <div class="table-responsive" style="margin-bottom:50px">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>評估起案時間</th>
                                        <th>評估方式</th>
                                        <th>房屋主建物帳面價值</th>
                                        <th>分行查估房屋市場價值</th>
                                        <th>單據編號</th>
                                        <th>案件狀況</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>106-04-15    12:00</td>
                                        <td>總行指定評估</td>
                                        <td>386,269,650.60</td>
                                        <td>690,450,000.00</td>
                                        <td><a href="@Url.Action("Detail")" target="_blank">1060415H400000001</a></td>
                                        <td>結案</td>
                                    </tr>
                                    <tr>
                                        <td>105-04-15    10:00</td>
                                        <td>總行指定評估</td>
                                        <td>200,269,650.60</td>
                                        <td>340,450,000.00</td>
                                        <td><a href="@Url.Action("Detail")" target="_blank">1050415H400000001</a></td>
                                        <td>結案</td>
                                    </tr>
                                    <tr>
                                        <td>104-04-01    10:00</td>
                                        <td>總行指定評估</td>
                                        <td>99,269,650.60</td>
                                        <td>120,450,000.00</td>
                                        <td><a href="@Url.Action("Detail")" target="_blank">1040401H400000001</a></td>
                                        <td>結案</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>