﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 檢視單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">資產評估作業</a>
            </li>
            <li>
                <a href="#">指定評估房屋作業</a>
            </li>
            <li>
                <a href="#">檢視單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>檢視單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6 text-lineH-fix">指定評估單</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6 text-lineH-fix">總行指定評估</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1060502H200000001</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳本</label>
                                <div class="col-sm-6 text-lineH-fix">IFRS_TWD</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據處理日期</label>
                                <div class="col-sm-6 text-lineH-fix">106-05-02</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-6 text-lineH-fix">001 總行  08 產權部  001 XX科</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">評估截止日期</label>
                                <div class="col-sm-6 text-lineH-fix">106-03-31</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">預計結案日期</label>
                                <div class="col-sm-6 text-lineH-fix">106-12-31</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix text-primary-re">已核准</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註</label>
                                <div class="col-sm-5"><input type="text" class="form-control" value="" /> </div>
                                <div class="col-sm-4"><a href="#" class="btn btn-primary"><i class="fa fa-save"> 儲 存 </i></a></div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>評估案件明細</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>分辦單位</th>
                                    <th>資產分類</th>
                                    <th>房屋財產編號</th>
                                    <th>建物門牌</th>
                                    <th>房屋面積(m2)</th>
                                    <th>
                                        截至106.03.31<br>
                                        房屋主建物帳面價值
                                    </th>
                                    <th>分行查估房屋市場價值</th>
                                    <th>案件狀態</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>基隆分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010202-0000043</td>
                                    <td>基隆市中正路義一路18號</td>
                                    <td>21,658.83</td>
                                    <td>386,269,650.60</td>
                                    <td></td>
                                    <td>起案</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="搜尋"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>大安分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010202-0000123</td>
                                    <td>臺北市大安區大安路二段37號</td>
                                    <td>1,503.41</td>
                                    <td>31,027,570.11</td>
                                    <td>62,027,570.00</td>
                                    <td>結案</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="搜尋"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>大安分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010601-0000028</td>
                                    <td>臺北市大安區大安路二段80號</td>
                                    <td>199.80</td>
                                    <td>0.00</td>
                                    <td>311,230.00</td>
                                    <td>結案</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="搜尋"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>仁愛分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010202-0000095</td>
                                    <td>臺北市大安區仁愛路三段29,29-1號</td>
                                    <td>779.80</td>
                                    <td>17,397,659.27</td>
                                    <td></td>
                                    <td>執行中</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="搜尋"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>仁愛分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010601-0000032</td>
                                    <td>臺北市大安區信義路2段148巷3號</td>
                                    <td>146.08</td>
                                    <td>0.00</td>
                                    <td></td>
                                    <td>執行中</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="搜尋"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>基隆分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010202-0000043</td>
                                    <td>基隆市中正路義一路18號</td>
                                    <td>21,658.83</td>
                                    <td>386,269,650.60</td>
                                    <td></td>
                                    <td>起案</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="搜尋"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>大安分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010202-0000123</td>
                                    <td>臺北市大安區大安路二段37號</td>
                                    <td>1,503.41</td>
                                    <td>31,027,570.11</td>
                                    <td>62,027,570.00</td>
                                    <td>結案</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="搜尋"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>大安分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010601-0000028</td>
                                    <td>臺北市大安區大安路二段80號</td>
                                    <td>199.80</td>
                                    <td>0.00</td>
                                    <td>311,230.00</td>
                                    <td>結案</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="搜尋"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>仁愛分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010202-0000095</td>
                                    <td>臺北市大安區仁愛路三段29,29-1號</td>
                                    <td>779.80</td>
                                    <td>17,397,659.27</td>
                                    <td></td>
                                    <td>執行中</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="搜尋"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>仁愛分行</td>
                                    <td>2.010202.B</td>
                                    <td>2010601-0000032</td>
                                    <td>臺北市大安區信義路2段148巷3號</td>
                                    <td>146.08</td>
                                    <td>0.00</td>
                                    <td></td>
                                    <td>執行中</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")" title="搜尋"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-splitdata" class="btn btn-success" data-toggle="modal" style="display:none"><i class="fa fa-long-arrow-right"> 提 交 </i></a>
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal" style="display:none"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#" class="btn btn-danger" style="display:none"><i class="fa fa-trash"> 刪 除 </i></a>
            <a href="#" class="btn btn-danger" style="display:none"><i class="fa fa-trash"> 作 廢 </i></a>
            <a href="H205.aspx" class="btn btn-success"><i class="fa fa-envelope-o"> 通知分行進行評估 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
            <div class="bottom_desc" align="right">
                <span style="color: #1c84c6;">已簽收數量：123 / 150 </span><a href="#">(查閱明細)</a><br>
                <i class="fa fa-warning"></i><span>核准後已自動發信給保管人，此處點擊可以再次發信通知，已簽收數量也會重新計算。 </span>
            </div>
        </div>
    </div>
</div>