﻿@model Library.Servant.Servant.Currency.Model.UpdateModel

@{
    ViewBag.Title = "幣別維護";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>幣別維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">幣別維護</a>
            </li>
        </ol>
    </div>
</div>

<div id="app" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>幣別資料</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" id="updateForm">
                        <input type="hidden" id="ID" value="@Model.ID" />
                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">幣別</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="currency" name="currency" value="@Model.Currency">
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">幣別名稱</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="currencyName" name="currencyName" value="@Model.CurrencyName">
                                </div>
                            </div>


                        </div>

                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">國別</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="country" value="@Model.Country">
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required" align="right">概率乘除方法</label>
                                <div class="col-sm-8">
                                    <label class="control-label"><input name="exType" id="defaultExType" type="radio" value="M" @(Model.ExRateType.ToLower()=="m" ? "checked" : "") />乘</label>
                                    <label class="control-label"><input name="exType" type="radio" value="D" @(Model.ExRateType.ToLower()=="d" ? "checked" : "")/>除</label>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">計息基數</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="basis" value="@Model.Basis.ToString("##0")">
                                    <span>(360/360)</span>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required" align="right">小數位數</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="decimal" name="decimal" value="@Model.Decimal.ToString("#0")">
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">概數取位</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="trucation" name="trucation" value="@Model.Truncation.ToString("#0")">
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">SWIFT 幣別</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="swiftCurrency" value="@Model.SwiftCurrency">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div id="select_branch"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button type="button" class="btn btn-primary" onclick="checkForm()"><i class="fa">儲存</i></button>
                                    <a class="btn btn-danger" href="@Url.Action("Index")">取消</a>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "儲存成功" } })
@section Scripts{
    <script type="text/javascript">

        function checkForm() {
            if ($("#updateForm").valid()) {
                var updatePath = "@Url.Action("Update")";
                var data = new FormData();
                data.append("ID", $("#ID").val());
                data.append("Currency", $("#currency").val());
                data.append("CurrencyName", $("#currencyName").val());
                data.append("Country", $("#country").val());
                data.append("Basis", $("#basis").val());
                data.append("Decimal", $("#decimal").val());
                data.append("Truncation", $("#trucation").val());
                data.append("SwiftCurrency", $("#swiftCurrency").val());
                data.append("ExRateType", $("#defaultExType").prop("checked") ? "M" : "D");
                var iCount=0;
                $("[name='SelectedBranchs'] option").each(function(){
                    data.append("SelectedBranchCode["+iCount+"]", $(this).val());
                    iCount++;
                });

                $.ajax({
                    url: updatePath,
                    type: 'POST',
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) { successHandler(message); }
                });
            }

        }

        (function ($) {

            $.validator.messages.required = '必填';
            $.validator.messages.digits = '請輸入數字';

            $("#updateForm").validate({
                rules: {
                    currency: { required: true },
                    currencyName: { required: true },
                    decimal: { required: true, digits: true },
                    trucation: { required: true, digits: true }
                }
            });

        })(jQuery);

    </script>

@Scripts.Render("~/bundles/jqueryval")

@Html.Partial("_VueOptionTemplate2")
<script>

        (function ($) {

            new $.OptionTemplate({

                el: "#select_branch",
                data: {

                    left_title: "可選分行",
                    right_title: "已選分行",
                    left_model_name: "Branchs",
                    left_model_id: "Branchs",
                    right_model_name: "SelectedBranchs",
                    right_model_id: "SelectedBranchs",
                    submit_form_id: "#updateForm",
                    left_array: @Html.Raw( Json.Encode(Model.Branchs) ),
                    right_array:@Html.Raw(Json.Encode(Model.SelectedBranchs)),
                    left_size: false,
                    right_size: false,
                }
            });


        })(jQuery);

</script>
}