﻿@using Library.Servant.Servant.Currency.Model
@model IndexResult
@{
    ViewBag.Title = "Currency";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>幣別維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">幣別維護</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">


                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  @Model.Page.TotalAmount 筆 第 @Model.CurrentPage 頁</label>
                                    <a class="btn btn-sm btn-default" href="@Url.Action("Index")">回查詢</a>
                                    <button class="btn btn-sm btn-danger" onclick="deleteCurrency()">刪除</button>
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th>
                                        <input type="checkbox" onclick="checkAll(this.value)">
                                    </th>
                                    <th>幣別</th>
                                    <th>幣別名稱</th>
                                    <th>國別</th>
                                    <th>匯率乘除方式</th>
                                    <th>計息基準</th>
                                    <th>小數位數</th>
                                    <th>概數取位</th>
                                    <th>SWIFT 幣別</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for(int i=0; i<Model.Page.Items.Count; i++)
                                {
                                    var item = Model.Page.Items[i];
                                    <tr>
                                        <td>@(i+1)</td>
                                        <td><input type="checkbox" name="batchUpdate" value="@item.ID" style="width:13px;"/></td>
                                        <td><a href="@Url.Action("Detail", new {id=item.ID })">@item.Currency</a></td>
                                        <td>@item.CurrencyName</td>
                                        <td>@item.Country</td>
                                        <td>@(item.ExRateType.ToLower() == "d"? "除" : "乘")</td>
                                        <td>@String.Format("{0:##0}", item.Basis)</td>
                                        <td>@String.Format("{0:#0}", item.Decimal)</td>
                                        <td>@String.Format("{0:#0}", item.Truncation)</td>
                                        <td>@item.SwiftCurrency</td>
                                    </tr>
                                }
                           </tbody>

                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>新增</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="" class="form-horizontal" id="updateForm">

                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">幣別</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="currency" name="currency">
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">幣別名稱</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="currencyName" name="currencyName">
                                </div>
                            </div>


                        </div>

                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">國別</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="country">
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required" align="right">概率乘除方法</label>
                                <div class="col-sm-8">
                                    <label class="control-label"><input name="exType" id="defaultExType" type="radio" value="M" checked />乘</label>
                                    <label class="control-label"><input name="exType" type="radio" value="D" />除</label>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">計息基數</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="basis">
                                    <span>(360/360)</span>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required" align="right">小數位數</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="decimal" name="decimal">
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">概數取位</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="trucation" name="trucation">
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">SWIFT 幣別</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="swiftCurrency">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div id="select_branch"></div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button type="button" class="btn btn-primary" onclick="checkForm()"><i class="fa fa-search">新增</i></button>
                                    <button type="button" class="btn btn-danger" onclick="resetForm()"><i class="fa fa-trash">清除</i></button>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

<div id="modal-form-delete" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">是否要刪除此資料?</h3>
                        <p>刪除資料後，資料無法回復，請確認刪除。</p>
                        <button class="btn btn-sm btn-danger" type="submit" data-dismiss="modal" onclick="doDeleteCurrency()"><strong>是</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>否</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "儲存成功" }, { "CallBack", "goToIndex()" } });
@section Scripts {
    
    @Html.Partial("_VuePageList")

    <script>
        function resetForm() {
            $("#currency").val("");
            $("#currencyName").val("");
            $("#country").val("");
            $("#basis").val("");
            $("#decimal").val("");
            $("#trucation").val("");
            $("#swiftCurrency").val("");

            $("#defaultExType").prop("checked", true);
        }

        function checkForm() {

            if ($("#updateForm").valid()) {
                var path = "@Url.Action("Create")";
                //var branchs = [];
                //$("[name='SelectedBranchs'] option").each(function(){
                //    branchs.push(parseInt($(this).val()));
                //    iCount++;
                //});
                var data = new FormData();
                data.append("Currency", $("#currency").val());
                data.append("CurrencyName", $("#currencyName").val());
                data.append("Country", $("#country").val());
                data.append("Basis", $("#basis").val());
                data.append("Decimal", $("#decimal").val());
                data.append("Truncation", $("#trucation").val());
                data.append("SwiftCurrency", $("#swiftCurrency").val());
                data.append("ExRateType", $("#defaultExType").prop("checked") ? "M" : "D");
                var iCount=0;
                $("[name='SelectedBranchs'] option").each(function(){
                    data.append("SelectedBranchCode["+iCount+"]", $(this).val());
                    iCount++;
                });
               

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) { successHandler(message); }
                });

            }

        }

        function checkAll(checkValue) {
            $("input[name=batchUpdate]").each(function () {
                this.checked = currentValue;
            });
        }

        function deleteCurrency(){
            var checkList = [];
            $("input[name=batchUpdate]").each(function () {
                if (this.checked) {
                    checkList.push(this.value);
                }
            });
            console.log(checkList);
            if (checkList.length > 0) {
                $("#modal-form-delete").modal();
            }
        }

        function doDeleteCurrency() {
            var checkList = [];
            $("input[name=batchUpdate]").each(function () {
                if (this.checked) {
                    checkList.push(this.value);
                }
            });

            if (checkList.length > 0) {

                //do delete
                var path = "@Url.Action("BatchDelete")";
                var data = JSON.stringify(checkList);

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json",
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) { deleteMessage(message); }
                });


            }
        }
        function deleteMessage(message) {
            console.log(message);

            if (message.IsSuccess) {
                location.reload();
            }
        }

        function goToIndex() {
            location.reload();
        }

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.Page.TotalAmount,//資料庫總筆數
                    page_size: @Model.PageSize,//單頁筆數
                    page_now: @Model.CurrentPage,//當前頁
                    center_page: 1,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("Page")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });


            $.validator.messages.required = '必填';
            $.validator.messages.digits = '請輸入數字';

            $("#updateForm").validate({
                rules: {
                    currency: { required: true },
                    currencyName: { required: true },
                    decimal: { required: true, digits: true },
                    trucation: { required: true, digits: true }
                }
            }
            );

        })(jQuery);

    </script>



@Scripts.Render("~/bundles/jqueryval")

@Html.Partial("_VueOptionTemplate2")
<script>

        (function ($) {

            new $.OptionTemplate({

                el: "#select_branch",
                data: {

                    left_title: "可選分行",
                    right_title: "已選分行",
                    left_model_name: "Branchs",
                    left_model_id: "Branchs",
                    right_model_name: "SelectedBranchs",
                    right_model_id: "SelectedBranchs",
                    submit_form_id: "#updateForm",
                    left_array: @Html.Raw( Json.Encode(Model.Branchs) ),
                    right_array: [],
                    left_size: false,
                    right_size: false,
                }
            });


        })(jQuery);

</script>
}


