﻿@using InspiniaWebAdminTemplate.Models.LoginRole
@using InspiniaWebAdminTemplate.Models.Common
@model IndexViewModel

@{
    ViewBag.Title = "LoginRole";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>人員權限控制管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">登入角色管理</a>
            </li>
            <li>
                <a href="#">角色維護</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="@Url.Action("UpdateSearchCondition")" method="post" class="form-horizontal">

                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">作業別</label>
                                <div class="col-sm-8">
                                    @Html.DropDownList("DocType", (SelectList)ViewBag.DocTypes, "全部", new { @class="form-control" })
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">權限角色</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="RoleID">
                                        <option value="">全部</option>
                                        @foreach (var function in Model.TotalRoles)
                                        {
                                            var selectedStatus = ( function.Value == Model.condition.RoleID) ? "selected" : "";
                                            <option value="@function.Value" @selectedStatus>@function.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>                            
                       
                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button class="btn btn-primary"><i class="fa fa-search">查詢</i></button>
                                    <button type="reset" name="reset" class="btn btn-danger"><i class="fa fa-trash">清除</i></button>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

               
                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共 @Model.Items.Count 筆</label>
                                    <a class="btn btn-sm btn-default" href="@Url.Action("Index","Home")">回上頁</a>
                                    <a class="btn btn-sm btn-info" href="@Url.Action("Create")">新增</a>
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>角色名稱</th>
                                    <th>角色描述</th>
                                    <th>可使用的功能</th>
                                    <th>檢視</th>
                                    <th>刪除</th>
                                </tr>
                            </thead>

                            <tbody>
                                
                                @for(var index=0; index < Model.Items.Count; ++ index)
                                {
                                    var item = Model.Items[index];
                                    <tr>
                                        <td>@(index+1)</td>
                                        <td>@item.Name</td>
                                        <td>@item.Description</td>
                                        <td width="20%">
                                            @*@Html.Partial("_TableItemCollapse", new TableItemViewModel { Index = index, Items = item.FunctionNames })*@
                                            @if (item.FunctionNames.Count > 0) {
                                                <a class="bslink" data-toggle="tooltip" data-placement="right" title="@Html.Raw(string.Join("、", item.FunctionNames.ToArray()))">可用功能</a>
                                            }
                                            else {
                                                <span>無</span>
                                            }
                                        </td>
                                        <td>
                                            <a class="btn btn-primary btn-circle" href="@Url.Action("Edit", new { ID = item.ID })" title="編輯">
                                                <i class="glyphicon glyphicon-list "></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger btn-circle" href="#modal-form-delete-@item.ID" data-toggle="modal" title="刪除單筆資料">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }

                          </tbody>

                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@foreach (var item in Model.Items)
{
    @DeleteDialog(item.ID)
}

@helper DeleteDialog(int ID)
{
    <div id="modal-form-delete-@ID" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div>
                            <h3 class="m-t-none m-b">是否要刪除此資料?</h3>
                            <p>刪除資料後，資料無法回復，請確認刪除。</p>
                            <form method="POST" action="@Url.Action("Delete")" style="display:inline-block;" id="form-delete">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="ID" value="@ID">
                                <button class="btn btn-sm btn-danger" type="submit"><strong>是</strong></button>
                            </form>
                            <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>否</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.TotalAmount,//資料庫總筆數
                    page_size: @Model.condition.PageSize,//單頁筆數
                    page_now: @Model.condition.Page,//當前頁
                    center_page: @Model.condition.Page,//置中頁,通常會將當前頁置中

                    pages: [],//通常為空,

                    action: "@Url.Action("UpdatePage")"// 所有page連結會以 http://{domain}/UpdatePage?page=123 這個格式
                }
            });

            $('[data-toggle="tooltip"]').tooltip(); 

        })(jQuery);

    </script>
}