﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 檢視權狀</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">權狀維護作業</a>
            </li>
            <li>
                <a href="#">檢視單據</a>
            </li>
            <li>
                <a href="#">檢視權狀</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>檢視單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" action="" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1060901L220000001</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6 text-lineH-fix">總行個別新增</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6 text-lineH-fix">權狀維護單</div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">001 總行</label>
                                <div class="col-sm-6 text-lineH-fix">001 總行</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"></label>
                                <div class="col-sm-9 text-lineH-fix"></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-primary-re">已核准</span> ( 核准日期：106-09-01 )</div>
                            </div>



                        </div>
                    </form>
                </div>

                <div class="ibox-content">
                    <form method="post" action="" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">權狀/執照類別</label>
                                <div class="col-sm-6 text-lineH-fix">土地所有權狀</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">財產編號</label>
                                <div class="col-sm-5 text-lineH-fix">1019901-0002923</div>
                                <div class="col-sm-4"><a href="/download/Land_ownership_certificate.pdf" data-toggle="modal" class="btn btn-gray"><i class="fa fa-plus"> 查看 土地權狀</i></a></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">登記日期</label>
                                <div class="col-sm-6 text-lineH-fix">94/03/30</div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">發狀日期</label>
                                <div class="col-sm-6 text-lineH-fix">105-06-20</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">權狀字號</label>
                                <div class="col-sm-9 text-lineH-fix">105新狀字第003741號</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">縣(市)</label>
                                <div class="col-sm-6 text-lineH-fix">台北市</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">鄉政市區</label>
                                <div class="col-sm-6 text-lineH-fix">大安區</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">段</label>
                                <div class="col-sm-6 text-lineH-fix">大安區段</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">小段</label>
                                <div class="col-sm-6 text-lineH-fix">3</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">地號</label>
                                <div class="col-sm-6 text-lineH-fix">0255-0000</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">建號</label>
                                <div class="col-sm-6 text-lineH-fix"></div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="ibox-content">
                    <form method="post" action="" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">權狀/執照類別</label>
                                <div class="col-sm-6 text-lineH-fix">建物所有權狀</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">財產編號</label>
                                <div class="col-sm-5 text-lineH-fix">1019901-0002923</div>
                                <div class="col-sm-4"><a href="/download/Building_ownership_certificate.pdf" data-toggle="modal" class="btn btn-gray"><i class="fa fa-plus"> 查看 建物權狀</i></a></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">登記日期</label>
                                <div class="col-sm-6 text-lineH-fix">94/03/30</div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">發狀日期</label>
                                <div class="col-sm-6 text-lineH-fix">105-06-20</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">權狀字號</label>
                                <div class="col-sm-9 text-lineH-fix">105新狀字第003741號</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">縣(市)</label>
                                <div class="col-sm-6 text-lineH-fix">台北市</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">鄉政市區</label>
                                <div class="col-sm-6 text-lineH-fix">大安區</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">段</label>
                                <div class="col-sm-6 text-lineH-fix">大安區段</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">小段</label>
                                <div class="col-sm-6 text-lineH-fix">3</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">建號</label>
                                <div class="col-sm-6 text-lineH-fix">05197-000</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">建物門牌</label>
                                <div class="col-sm-6 text-lineH-fix">和平東路3段1巷1號2樓</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">主要建材</label>
                                <div class="col-sm-6 text-lineH-fix">鋼筋混凝土造</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">主要用途</label>
                                <div class="col-sm-6 text-lineH-fix">商業用</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">建物層數</label>
                                <div class="col-sm-6 text-lineH-fix">7</div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>