﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>新增/編輯單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">權狀維護作業</a>
            </li>
            <li>
                <a href="#">新增/編輯單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><span class="text-success">【步驟一】</span> 新增單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">請選擇類型</option>
                                        <option value="">權狀新增單</option>
                                        <option value="" selected>權狀維護單</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">請選擇來源</option>
                                        <option value="">全部</option>
                                        <option value="">總行個別新增</option>
                                        <option value="">分行個別新增</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1060901L230000001  </div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control">
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">05 資訊部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 單據處理日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" value="106-09-01" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-primary-re">新增</span></div>
                            </div>



                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label><span class="text-success">【步驟二】</span></label>
                                    <a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary"><i class="fa fa-plus"> 搜尋/導入權狀</i></a>
                                </td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>權狀執照類別</th>
                                    <th>財產編號</th>
                                    <th>縣(市)</th>
                                    <th>鄉政市區</th>
                                    <th>段</th>
                                    <th>小段</th>
                                    <th>地號</th>
                                    <th>建號</th>
                                    <th>單據處理時間</th>
                                    <th>更新人員</th>
                                    <th>編輯</th>
                                    <th>移出</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>土地所有權狀</td>
                                    <td>1019901-0002923</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td>0255-0000</td>
                                    <td></td>
                                    <td>106-09-01 12:00</td>
                                    <td>陳小明</td>
                                    <td><a href="#modal-form-importdata-02" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>建物所有權狀</td>
                                    <td>2010201-0000213</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td>&nbsp;</td>
                                    <td>05197-000</td>
                                    <td>106-09-01 12:00</td>
                                    <td>陳小明</td>
                                    <td><a href="#modal-form-importdata-02" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>建物所有權狀</td>
                                    <td>2010201-0000213</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td>&nbsp;</td>
                                    <td>05197-000</td>
                                    <td>106-09-01 12:00</td>
                                    <td>陳小明</td>
                                    <td><a href="#modal-form-importdata-02" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>建物所有權狀</td>
                                    <td>2010201-0000213</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td>&nbsp;</td>
                                    <td>05197-000</td>
                                    <td>106-09-01 12:00</td>
                                    <td>陳小明</td>
                                    <td><a href="#modal-form-importdata-02" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>建物所有權狀</td>
                                    <td>2010201-0000213</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td>&nbsp;</td>
                                    <td>05197-000</td>
                                    <td>106-09-01 12:00</td>
                                    <td>陳小明</td>
                                    <td><a href="#modal-form-importdata-02" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>建物所有權狀</td>
                                    <td>2010201-0000213</td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td>&nbsp;</td>
                                    <td>05197-000</td>
                                    <td>106-09-01 12:00</td>
                                    <td>陳小明</td>
                                    <td><a href="#modal-form-importdata-02" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>使用執照</td>
                                    <td></td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td></td>
                                    <td></td>
                                    <td>106-09-01 12:00</td>
                                    <td>陳小明</td>
                                    <td><a href="#modal-form-importdata-02" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>使用執照</td>
                                    <td></td>
                                    <td>台北市</td>
                                    <td>大安區</td>
                                    <td>大安段</td>
                                    <td>3</td>
                                    <td></td>
                                    <td></td>
                                    <td>106-09-01 12:00</td>
                                    <td>陳小明</td>
                                    <td><a href="#modal-form-importdata-02" data-toggle="modal" class="btn btn-primary btn-circle" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-splitdata" class="btn btn-success" data-toggle="modal"><i class="fa fa-long-arrow-right"> 提 交 </i></a>
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger"><i class="fa fa-trash"> 刪 除 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-splitdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定提交嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- -->
<div id="modal-form-importdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title" style="border:0">
                                <h5><span class="text-success">【步驟一】</span> 搜尋欲維護的權狀</h5>
                                <div class="ibox-tools"><a data-dismiss="modal"><i class="fa fa-close"></i></a></div>
                            </div>
                            <div class="ibox-content">
                                <form method="post" action="" class="form-horizontal">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label">單據類型</label>
                                            <div class="col-sm-6">
                                                <select class="form-control" id="" disabled>
                                                    <option value="">請選擇類型</option>
                                                    <option value="">權狀新增單</option>
                                                    <option value="" selected>權狀維護單</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label">來源類型</label>
                                            <div class="col-sm-6">
                                                <select class="form-control" id="">
                                                    <option value="">請選擇來源</option>
                                                    <option value="">全部</option>
                                                    <option value="">總行個別新增</option>
                                                    <option value="">分行個別新增</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label">單據編號</label>
                                            <div class="col-sm-6 text-lineH-fix">1060901L230000001  </div>
                                        </div>

                                        <div class="col-sm-6 form-group gutter-s">
                                            <label for="" class="col-sm-3 control-label">管轄單位</label>
                                            <div class="col-sm-3">
                                                <select class="form-control">
                                                    <option value="">001 總行</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <select class="form-control" id="">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <select class="form-control" id="">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 單據處理日期</label>
                                            <div class="col-sm-4">
                                                <div class='input-group date' data-provide="datepicker-inline">
                                                    <input type='text' class="form-control" value="106-09-01" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label">備註</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                                        </div>



                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label for="" class="pull-right">
                                                <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                                <button type="button" class="btn btn-primary"><i class="fa fa-search"> 搜 尋 </i></button>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="ibox-c-subtitle">

                                        <div class=" checkbox-list">
                                            <label><span class="text-success">【步驟二】</span>請勾選搜尋結果&nbsp;&nbsp;</label>
                                            <input type="radio" name="RadioGroup1" value="" checked><span>分頁</span>
                                            <input type="radio" name="RadioGroup1" value=""><span>全部列出</span>
                                            <div style="clear:both"></div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>項次</th>
                                                    <th>權狀執照類別</th>
                                                    <th>財產編號</th>
                                                    <th>縣(市)</th>
                                                    <th>鄉政市區</th>
                                                    <th>段</th>
                                                    <th>小段</th>
                                                    <th>地號</th>
                                                    <th>建號</th>
                                                    <th>單據處理時間</th>
                                                    <th>更新人員</th>
                                                    <th><input type="checkbox" style="vertical-align:middle"> 全選</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="lightyellow_bg">
                                                    <td>1</td>
                                                    <td>土地所有權狀</td>
                                                    <td>1019901-0002923</td>
                                                    <td>台北市</td>
                                                    <td>大安區</td>
                                                    <td>大安段</td>
                                                    <td>3</td>
                                                    <td>0255-0000</td>
                                                    <td>&nbsp;</td>
                                                    <td>106-09-01 12:00</td>
                                                    <td>陳小明</td>
                                                    <td><input type="checkbox" checked></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>建物所有權狀</td>
                                                    <td>2010201-0000213</td>
                                                    <td>台北市</td>
                                                    <td>大安區</td>
                                                    <td>大安段</td>
                                                    <td>3</td>
                                                    <td>&nbsp;</td>
                                                    <td>05197-000</td>
                                                    <td>106-09-01 12:00</td>
                                                    <td>陳小明</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>建物所有權狀</td>
                                                    <td>2010201-0000213</td>
                                                    <td>台北市</td>
                                                    <td>大安區</td>
                                                    <td>大安段</td>
                                                    <td>3</td>
                                                    <td>&nbsp;</td>
                                                    <td>05197-000</td>
                                                    <td>106-09-01 12:00</td>
                                                    <td>陳小明</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>建物所有權狀</td>
                                                    <td>2010201-0000213</td>
                                                    <td>台北市</td>
                                                    <td>大安區</td>
                                                    <td>大安段</td>
                                                    <td>3</td>
                                                    <td>&nbsp;</td>
                                                    <td>05197-000</td>
                                                    <td>106-09-01 12:00</td>
                                                    <td>陳小明</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>建物所有權狀</td>
                                                    <td>2010201-0000213</td>
                                                    <td>台北市</td>
                                                    <td>大安區</td>
                                                    <td>大安段</td>
                                                    <td>3</td>
                                                    <td>&nbsp;</td>
                                                    <td>05197-000</td>
                                                    <td>106-09-01 12:00</td>
                                                    <td>陳小明</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td>建物所有權狀</td>
                                                    <td>2010201-0000213</td>
                                                    <td>台北市</td>
                                                    <td>大安區</td>
                                                    <td>大安段</td>
                                                    <td>3</td>
                                                    <td>&nbsp;</td>
                                                    <td>05197-000</td>
                                                    <td>106-09-01 12:00</td>
                                                    <td>陳小明</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>7</td>
                                                    <td>使用執照</td>
                                                    <td></td>
                                                    <td>台北市</td>
                                                    <td>大安區</td>
                                                    <td>大安段</td>
                                                    <td>3</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>106-09-01 12:00</td>
                                                    <td>陳小明</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>8</td>
                                                    <td>使用執照</td>
                                                    <td></td>
                                                    <td>台北市</td>
                                                    <td>大安區</td>
                                                    <td>大安段</td>
                                                    <td>3</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>106-09-01 12:00</td>
                                                    <td>陳小明</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <nav class="text-center">
                                            <ul class="pagination">
                                                <li class="disabled"><a>1</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                                <li> <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                                                <li> <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next"> <span aria-hidden="true">&raquo;&raquo;</span> </a> </li>
                                            </ul>
                                        </nav>
                                    </div>

                                    <div class="ibox-c-subtitle"></div>
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <div class="col-sm-3"><label><span class="text-success">【步驟三】</span></label></div>
                                            <div class="col-sm-9" style="text-align:right">
                                                <a href="G201.aspx" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-cloase"> 取 消 </i></a>
                                                <a href="#" class="btn btn-success" data-dismiss="modal"><i class="fa fa-check"> 導入勾選資料 </i></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div id="modal-form-importdata-02" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title" style="border:0">
                                <h5><label>新增/編輯</label></h5>
                                <div class="ibox-tools"><a data-dismiss="modal"><i class="fa fa-close"></i></a></div>
                            </div>
                            <div class="ibox-content">
                                <form method="post" action="" class="form-horizontal">
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <label for="" class="col-sm-1 control-label">財產編號</label>
                                            <div class="col-sm-5"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="col-sm-12 form-group">
                                            <label for="" class="col-sm-1 control-label">縣(市)</label>
                                            <div class="col-sm-2">
                                                <select class="form-control" id="">
                                                    <option value="">台北市</option>
                                                    <option value="">新北市</option>
                                                    <option value="">桃園縣</option>
                                                </select>
                                            </div>
                                            <label for="" class="col-sm-1 control-label">鄉政市區</label>
                                            <div class="col-sm-2">
                                                <select class="form-control" id="">
                                                    <option value="">大安區</option>
                                                    <option value="">大同區</option>
                                                    <option value="">中山區</option>
                                                </select>
                                            </div>
                                            <label for="" class="col-sm-1 control-label">段</label>
                                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                                            <label for="" class="col-sm-1 control-label">小段</label>
                                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="col-sm-12 form-group">
                                            <label for="" class="col-sm-1 control-label">地號</label>
                                            <div class="col-sm-5"><input type="text" class="form-control" value="" /></div>
                                            <label for="" class="col-sm-1 control-label">建號</label>
                                            <div class="col-sm-5"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="col-sm-12 form-group">
                                            <label for="" class="col-sm-1 control-label">建物門牌</label>
                                            <div class="col-sm-5"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="col-sm-12 form-group">
                                            <label for="" class="col-sm-1 control-label">主要建材</label>
                                            <div class="col-sm-5"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="col-sm-12 form-group">
                                            <label for="" class="col-sm-1 control-label">主要用途</label>
                                            <div class="col-sm-5"><input type="text" class="form-control" value="" /></div>
                                            <label for="" class="col-sm-1 control-label">建物層數</label>
                                            <div class="col-sm-5"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="col-sm-12 form-group">
                                            <label for="" class="col-sm-1 control-label">啟用日期</label>
                                            <div class="col-sm-5">
                                                <div class='input-group date' data-provide="datepicker-inline">
                                                    <input type='text' class="form-control" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>

                                            <label for="" class="col-sm-1 control-label">發狀日期</label>
                                            <div class="col-sm-5">
                                                <div class='input-group date' data-provide="datepicker-inline">
                                                    <input type='text' class="form-control" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 form-group">
                                            <label for="" class="col-sm-1 control-label">權狀字號</label>
                                            <div class="col-sm-5"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="col-sm-12 form-group">
                                            <label for="" class="col-sm-1 control-label">備註</label>
                                            <div class="col-sm-10"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="col-sm-12 form-group">
                                            <label for="" class="col-sm-1 control-label">檔案上傳</label>
                                            <div class="col-sm-6">
                                                <input id="uploadFile1" placeholder="" class="form-control " style="width:70%;float:left" />
                                                <div class="fileUpload btn btn-gray" style="border-radius: 0 3px 3px 0; float:left">
                                                    <span><i class="fa fa-search"> 瀏 覽 </i></span>
                                                    <input id="uploadBtn1" type="file" class="upload" />
                                                </div><br>

                                                <div style="margin-top:24px;font-size:0.85em;color:#999">
                                                    <i class="fa fa-warning" style="padding:10px 0 0 5px;float:left"></i>
                                                    <span style="padding:5px 0 0 10px;float:left">建議上傳 PDF 檔案格式 </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 form-group">
                                            <label for="" class="col-sm-1 control-label">已上傳<br>檔案列表</label>
                                            <div class="col-sm-6">
                                                <table width="100%">
                                                    <tr>
                                                        <td style="text-align:left">105新狀字第003741號_1050620.PDF</td>
                                                        <td width="40px" style="margin-left:10px"><a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger btn-circle" title="刪除"><i class="fa fa-trash"></i></a></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label for="" class="pull-right">
                                                <button type="reset" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 清 除 </i></button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                                            </label>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-deletedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定刪除嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>