﻿@model InspiniaWebAdminTemplate.Models.ExchangeRate.EditModel

@{
    ViewBag.Title = "匯率維護";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>匯率維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">匯率維護</a>
            </li>
        </ol>
    </div>
</div>

<div id="app" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>匯率資料</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" id="updateForm">
                        <input type="hidden" id="id" value="@Model.Data.ID"/>
                        @*<div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required"> 分行</label>
                                <div class="col-sm-8">
                                    <select id="branch" class="form-control" onchange="fillDept()">
                                        @foreach (var item in Model.Branches)
                                        {
                                            int branchCode = Convert.ToInt32(item.Value);
                                            if (branchCode >= 500 && branchCode <= 600)
                                            {
                                                <option value="@item.Value" @(item.Value == Model.Data.BranchCode.ToString("000") ? "selected" : "")>@item.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">部門</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="department" name="department" value="@Model.Data.DepartmentName">
                                </div>
                            </div>


                        </div>*@

                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required"> 幣別</label>
                                <div class="col-sm-8">
                                    <select id="currency" class="form-control">
                                        @for (int i = 0; i < Model.Currencys.Count; i++)
                                        {
                                            var item = Model.Currencys[i];
                                            var checkedMark = "";
                                            if (i == 0 && Model.Data.Currency == "")
                                            {
                                                checkedMark = "selected";
                                            }
                                            else if (item.Value == Model.Data.Currency)
                                            {
                                                checkedMark = "selected";
                                            }

                                            <option value="@item.Value" @checkedMark>@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required"> 帳本</label>
                                <div class="col-sm-8">
                                    <select id="accountingBook" class="form-control">
                                        @for (int i = 0; i < Model.AccountingBooks.Count; i++)
                                        {
                                            var item = Model.AccountingBooks[i];
                                            var checkedMark = "";
                                            if (i == 0 && Model.Data.AccountingBook == "")
                                            {
                                                checkedMark = "selected";
                                            }
                                            else if (item.Value == Model.Data.AccountingBook)
                                            {
                                                checkedMark = "selected";
                                            }

                                            <option value="@item.Value" @checkedMark>@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required"> 匯率ID</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="rateId" name="rateId" value="@Model.Data.RateID">
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required"> 匯率</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="rate" name="rate" value="@Model.Data.Rate">
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required"> 匯率日期</label>
                                <div class="col-sm-8">
                                    <div class='input-group date' id='datetimepicker2'  data-date-format="yyyy-MM-dd">
                                        <input type="text" class="form-control datepicker" id="rateDate" value="@Model.Data.RateDate" readonly onchange="updateDayOfYear(this.value)">
                                        <span class="input-group-addon date-trigger">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">一年之第幾天</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="dayOfYear" value="@Model.Data.DayOfYear" readonly>
                                </div>
                            </div>

                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <button type="button" class="btn btn-sm btn-primary" onclick="checkForm()">儲存</button>
                                    @if (Model.Data.ID != 0)
                                    {
                                        <button type="button" class="btn btn-sm btn-danger" onclick="deleteRate()">刪除</button>
                                    }
                                    <button  type="button" class="btn btn-sm btn-default" onclick="resetForm()">清除</button>
                                    <a class="btn btn-sm btn-default" href="@Url.Action("Index")">回上頁 </a>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-delete" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">是否要刪除此資料?</h3>
                        <p>刪除資料後，資料無法回復，請確認刪除。</p>
                        <button class="btn btn-sm btn-danger" data-dismiss="modal" type="button" onclick="doDeleteRate()"><strong>是</strong></button>
                        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><strong>否</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "儲存成功" } });
@section Scripts{
    <script type="text/javascript">

        //function fillDept()
        //{
        //    var selected = $("#branch option:selected").text();
        //    $("#department").val(selected);
        //}

        function checkForm() {

            if ($("#updateForm").valid()) {
                var path = "@Url.Action("Save")";
                var data = new FormData();
                //data.append("BranchCode", $("#branch").val());
                //data.append("Department", $("#department").val());
                data.append("AccountingBook", $("#accountingBook").val());
                data.append("Currency", $("#currency").val());
                data.append("RateID", $("#rateId").val());
                data.append("Rate", $("#rate").val());
                data.append("InputDate", $("#rateDate").val());

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) {
                        successHandler(message);
                        goToIndex('@Url.Action("Index")');
                    }
                });
            }
        }
        function deleteRate() {
            debugger
            if ($("#id").val() != "0") {
                $("#modal-form-delete").modal();
            }
        }

        function doDeleteRate() {
            var checkList = [];
            checkList.push($("#id").val());

            if (checkList.length > 0) {

                //do delete
                var path = "@Url.Action("BatchDelete")";
                var data = JSON.stringify(checkList);

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json",
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) { deleteMessage(message); }
                });
            }
        }

        function deleteMessage(message) {
            if (message.IsSuccess) {
                goToIndex('@Url.Action("Index")');
            }
        }

        function resetForm() {

            //$("#branch option:eq(0)").prop("selected", true);
            $("#currency option:eq(0)").prop("selected", true);
            $("#accountingBook option:eq(0)").prop("selected", true);

            //$("#department").val("");
            $("#rateId").val("");
            $("#rate").val("1");
        }

        function goToIndex(path) {
            this.location.href = path;
        }

        function updateDayOfYear(dateText) {

            if (dateText != "") {
                var date = new Date(dateText);
                var now = new Date();
                var startDate = new Date(now.getFullYear(), 0, 0);
                var diff = date - startDate;
                var oneDay = 1000 * 60 * 60 * 24;
                var dayOfYear = Math.floor(diff / oneDay);

                $("#dayOfYear").val(dayOfYear);
            }

        }

        (function ($) {
            $(".datepicker").datepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                clearBtn: true,
                calendarWeeks: false,
                todayHighlight: true,
                language: 'zh-TW'
            });

            $(".date-trigger").on("click", function () {
                $(this).prev(".datepicker").datepicker("show");
            });

            $.validator.messages.required = '必填';
            $("#updateForm").validate({
                rules: {
                    department: { required: true },
                    rateId: { required: true },
                    rate: { required: true }
                }
            }
            );

        })(jQuery);
    </script>
}
