﻿@using InspiniaWebAdminTemplate.Models.ExchangeRate
@model IndexModel

@{
    ViewBag.Title = "Exchange Rate";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>匯率維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">首頁</a>
            </li>
            <li>
                <a href="#">匯率維護</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="@Url.Action("Query")" class="form-horizontal" id="QueryForm">
                        <input type="hidden" name="CurrentPage" id="CurrentPage" value="@Model.QueryResult.Conditions.CurrentPage"/>
                        <input type="hidden" name="PageSize" value="@Model.QueryResult.Conditions.PageSize"/>
                        <div class="row">

                            @*<div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label required">分行</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="BranchCodeId">
                                        <option  value="-1" @(Model.QueryResult.Conditions.BranchCodeId == -1 ? "selected" : "")>全部</option>
                                        @foreach (var item in Model.Branches)
                                        {
                                            int branchCode = Convert.ToInt32(item.Value);
                                            if (branchCode >= 500 && branchCode <= 600)
                                            {
                                                <option value="@item.Value" @(Model.QueryResult.Conditions.BranchCodeId == branchCode ? "selected" : "")>@item.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>*@

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">帳本</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="AccountingBookCodeId">
                                        <option value="-1">全部</option>
                                        @for(int i=0; i<Model.AccountingBooks.Count; i++)
                                        {
                                            string checkMark = "";
                                            var item = Model.AccountingBooks[i];
                                            if(Model.QueryResult.Conditions.AccountingBookCodeId == item.Value)
                                            {
                                                checkMark = "selected";
                                            }
                                            <option value="@item.Value" @checkMark>@item.Name</option>
                                        }

                                    </select>
                                </div>
                            </div>


                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-4" align="right">
                                    <a class="btn btn-info" href="@Url.Action("Create")">新增</a>
                                    <button type="submit" class="btn btn-primary">查詢</button>
                                    <!--button type="button" class="btn btn-danger"><i class="fa fa-trash">清除</i></button-->
                                    <!--button type="button" class="btn btn-default"><i class="fa fa-trash">取消</i></button-->
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">


                <div class="ibox-content">
                    <div class="table-responsive">

                        <table class="table-condensed" width="100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  @Model.QueryResult.Page.TotalAmount 筆 第 @Model.QueryResult.Conditions.CurrentPage 頁</label>
                                    <a class="btn btn-sm btn-default" id="buttonDelete" href="@Url.Action("Index","Home")">回上頁</a>
                                    <button class="btn btn-sm btn-danger" onclick="deleteRate()">刪除</button>
                                </td>
                            </tr>
                        </table>


                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th>
                                        <input type="checkbox" onclick="chceckAll(this.value)" style="width:13px;">
                                    </th>
                                    @*<th>分行</th>
                                    <th>部門</th>*@
                                    <th>帳本</th>
                                    <th>幣別</th>
                                    <th>匯率ID</th>
                                    <th>匯率</th>
                                    <th>匯率日期</th>
                                    <th>計息基準</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for(int i=0; i<Model.QueryResult.Page.Items.Count; i++)
                                {
                                    var item = Model.QueryResult.Page.Items[i];
                                    <tr>
                                        <td>@(i+1)</td>
                                        <td><input type="checkbox" value="@item.ID" name="batchDelete" style="width:13px;"/></td>
                                        @*<td>@item.BranchName</td>
                                        <td>@item.DepartmentName</td>*@
                                        <td>@item.AccountingBook</td>
                                        <td>@item.Currency</td>
                                        <td><a href="@Url.Action("Detail", new { id=item.ID})">@item.RateID</a></td>
                                        <td>@item.Rate.ToString("####.##########")</td>
                                        <td>@item.RateDate</td>
                                        <td>@item.Basis.ToString("###")</td>
                                    </tr>
                                }
                           </tbody>

                        </table>

                        <a id="page">
                            <div id="page_region"></div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="modal-form-delete" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <h3 class="m-t-none m-b">是否要刪除此資料?</h3>
                        <p>刪除資料後，資料無法回復，請確認刪除。</p>
                        <button class="btn btn-sm btn-danger" data-dismiss="modal" type="button" onclick="doDeleteRate()"><strong>是</strong></button>
                        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><strong>否</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ajaxMessageBox", new Dictionary<string, string> { { "SuccessMsg", "刪除成功" }, { "CallBack", "goToIndex()" } });
@section Scripts {

    @Html.Partial("_VuePageList")

    <script>

        function chceckAll(currentValue) {
            $("input[name=batchDelete]").each(function () {
                this.checked = currentValue;
            });
        }

        function deleteRate(){
            var checkList = [];
            $("input[name=batchDelete]").each(function () {
                if (this.checked) {
                    checkList.push(this.value);
                }
            });
            console.log(checkList);
            if (checkList.length > 0) {
                $("#modal-form-delete").modal();
            }
        }

        function doDeleteRate() {
            var checkList = [];
            $("input[name=batchDelete]").each(function () {
                if (this.checked) {
                    checkList.push(this.value);
                }
            });

            if (checkList.length > 0) {

                //do delete
                var path = "@Url.Action("BatchDelete")";
                var data = JSON.stringify(checkList);

                $.ajax({
                    url: path,
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json",
                    processData: false,
                    async: true,
                    data: data,
                    success: function (message) { deleteMessage(message); }
                });


            }
        }
        function deleteMessage(message) {
            console.log(message);

            if (message.IsSuccess) {
                location.reload();
            }
        }

        function goToIndex() {
            location.reload();
        }

        function toPage(page) {
            $("#CurrentPage").val(page);
            $("#QueryForm").submit();
        }

        (function ($) {

            var page = new $.PageTemplate({

                el: "#page_region",
                data: {

                    limit_pages: 10,//畫面上最多有幾頁可供選擇
                    total_amount: @Model.QueryResult.Page.TotalAmount,//資料庫總筆數
                    page_size: @Model.QueryResult.Conditions.PageSize,//單頁筆數
                    page_now: @Model.QueryResult.Conditions.CurrentPage,//當前頁
                    center_page: @Model.QueryResult.Conditions.CurrentPage,//置中頁,通常會將當前頁置中

                    pages: [],

                    action: "",
                    pageFunc: toPage
                }
            });


        })(jQuery);

    </script>

}


