﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>檢視未生效合約</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">租賃整合管理</a>
            </li>
            <li>
                <a href="#">租賃契約維護</a>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>租賃契約維護- 新增</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" class=" form-horizontal"">

                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">事務類型</label>
                                <div class="col-sm-8 text-lineH-fix">新增</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">事務編號</label>
                                <div class="col-sm-8 text-lineH-fix">000001</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">事務處理編號</label>
                                <div class="col-sm-8 text-lineH-fix">E210-201606201536</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">管轄單位</label>
                                <div class="col-sm-8 text-lineH-fix">基隆分行</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">電子發票系統會員編</label>
                                <div class="col-sm-8 text-lineH-fix">10601基隆房字第104-002-008</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">業務別</label>
                                <div class="col-sm-8 text-lineH-fix">自用</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">租約編號</label>
                                <div class="col-sm-8 text-lineH-fix">002-05-0001</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">原租約編號</label>
                                <div class="col-sm-8 text-lineH-fix">106-北-0122</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">分期前租約編號</label>
                                <div class="col-sm-8 text-lineH-fix">&nbsp;</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">租約狀態</label>
                                <div class="col-sm-8 text-lineH-fix">生效</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">流程狀態</label>
                                <div class="col-sm-8 text-lineH-fix">已核准</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">核淮日期</label>
                                <div class="col-sm-8 text-lineH-fix">2016-03-05</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">租約類型</label>
                                <div class="col-sm-8 text-lineH-fix">房屋</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">租約事務</label>
                                <div class="col-sm-8 text-lineH-fix">新租</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">帳號</label>
                                <div class="col-sm-8 text-lineH-fix">01020020500023</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">租賃期起</label>
                                <div class="col-sm-8 text-lineH-fix">2016-05-01</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">租賃期起</label>
                                <div class="col-sm-8 text-lineH-fix">2021-04-30</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">租金計算</label>
                                <div class="col-sm-8 text-lineH-fix">固定</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">繳款方式</label>
                                <div class="col-sm-8 text-lineH-fix">委託代繳</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">扣款銀行</label>
                                <div class="col-sm-8 text-lineH-fix">005</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">戶名</label>
                                <div class="col-sm-8 text-lineH-fix">林小慧</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">繳款方式</label>
                                <div class="col-sm-8 text-lineH-fix">委託代繳</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">&nbsp;</label>
                                <div class="col-sm-8 text-lineH-fix">&nbsp;</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">&nbsp;</label>
                                <div class="col-sm-8 text-lineH-fix">&nbsp;</div>
                            </div>

                        </div>


                        <div class="ibox-c-subtitle">租金金額 / 停車位清潔管理費及保</div>

                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">月租金</label>
                                <div class="col-sm-8 text-lineH-fix">51,000元</div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">使用虛擬帳號收費</label>
                                <div class="col-sm-8 text-lineH-fix">否</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">清潔管理費</label>
                                <div class="col-sm-8 text-lineH-fix">&nbsp;</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">保養費</label>
                                <div class="col-sm-8 text-lineH-fix">&nbsp;</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">季租金</label>
                                <div class="col-sm-8 text-lineH-fix">153,000元</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">年租金</label>
                                <div class="col-sm-8 text-lineH-fix">612,000元</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">契約總價</label>
                                <div class="col-sm-8 text-lineH-fix">612,000元</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">繳款週期</label>
                                <div class="col-sm-8 text-lineH-fix">季</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">清潔管理費及保養費匯款帳戶戶名</label>
                                <div class="col-sm-8 text-lineH-fix">&nbsp;</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">清潔管理費及保養費匯款帳號</label>
                                <div class="col-sm-8 text-lineH-fix">&nbsp;</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">租金計算週期</label>
                                <div class="col-sm-8 text-lineH-fix">月</div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">繳款期限</label>
                                <div class="col-sm-8 text-lineH-fix">每期&nbsp;月底，&nbsp;工作天</div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">寬限日</label>
                                <div class="col-sm-8 text-lineH-fix">7&nbsp;日，&nbsp;日曆天</div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">上期繳款日</label>
                                <div class="col-sm-8 text-lineH-fix">2017-3-1</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">預計下期繳款日</label>
                                <div class="col-sm-8 text-lineH-fix">2017-3-1</div>
                            </div>
                            <div class="clearfix"></div>

                        </div>

                        <div class="ibox-c-subtitle">保證金</h5></div>

                        <div class="row">

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">保證金</label>
                                <div class="col-sm-8 text-lineH-fix">102,000元</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">保證金繳納日期</label>
                                <div class="col-sm-8 text-lineH-fix">2016-4-10</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">保證金退還日期</label>
                                <div class="col-sm-8 text-lineH-fix">2021-04-30</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">保證銀行及字號</label>
                                <div class="col-sm-8 text-lineH-fix">&nbsp;</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="ibox-c-subtitle">違約金</div>

                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">違約金</label>
                                <div class="col-sm-8 text-lineH-fix">計</div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">違約起算日</label>
                                <div class="col-sm-8 text-lineH-fix">逾&nbsp;繳費日&nbsp;22&nbsp;日算起2016-4-10</div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">收違約金標準</label>
                                <div class="col-sm-8 text-lineH-fix">欠額金額</div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-8 form-group">
                                <label for="" class="col-sm-2 control-label"><span style="color:red">*</span>管轄單位</label>
                                <div class="col-sm-8">
                                    <textarea style="border:1px solid #ccc;width:100%; min-height:100px">
                                        (1)逾期繳納未一個月，照租約之收違約金標準加收百分之二
                                        (2)逾期繳納在一個月以上，未滿二個月者，照租約設定之收違約 金標準加收百分之四
                                        (3)逾期繳納在二個月以上，未滿三個月者，照租約設定之收違約金標準加收百分之八
                                        (4)逾期繳納在三個月以上者，一律照租約設定之收違約金標準加收百分之十
                                    </textarea>
                                </div>
                                <div class="col-sm-2">&nbsp;</div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-5 control-label">&nbsp;</label>
                                <div class="col-sm-7">&nbsp;</div>
                            </div>
                        </div>


                        <div class="ibox-c-subtitle">逾期息</div>

                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">逾期息</label>
                                <div class="col-sm-8 text-lineH-fix">計</div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">逾</label>
                                <div class="col-sm-8 text-lineH-fix">繳款期限&nbsp;15&nbsp;日算起</div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">收逾期息標準</label>
                                <div class="col-sm-8 text-lineH-fix">月租金</div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">計收方式按</label>
                                <div class="col-sm-8 text-lineH-fix">週年利率&nbsp;之&nbsp;7&nbsp;%計算</div>
                            </div>
                            <div class="clearfix"></div>

                            <!-- temp end -->
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>承租人</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>名稱</th>
                                    <th>統一編號</th>
                                    <th>負責人</th>
                                    <th>身份證字號</th>
                                    <th>出生日期</th>
                                    <th>通訊地址</th>
                                    <th>戶籍地址</th>
                                    <th>電話</th>
                                    <th>低收</th>
                                    <th>殘障</th>
                                    <th>殘障重新鑑定日期</th>
                                    <th>備註</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>38243823</td>
                                    <td>陳展元</td>
                                    <td>A121238434</td>
                                    <td>52/3/21</td>
                                    <td>新北勢樹林區XX路1段20號5樓</td>
                                    <td>新北勢樹林區XX路1段20號5樓</td>
                                    <td>02-8953323</td>
                                    <td>否</td>
                                    <td>否</td>
                                    <td>NA</td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div style="border-bottom:#e7eaec solid 1px;margin:50px 0 8px 0">
                        <h5 style="font-size:14px">土地</h5>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>財產編號</th>
                                    <th>縣市</th>
                                    <th>鄉鎮市區</th>
                                    <th>段</th>
                                    <th>小段</th>
                                    <th>母地號</th>
                                    <th>子地號</th>
                                    <th>地目</th>
                                    <th>等則</th>
                                    <th>公告地價</th>
                                    <th>登記面積</th>
                                    <th>出租面積</th>
                                    <th>年租率%</th>
                                    <th>租金</th>
                                    <th>殘障/低收減免</th>
                                    <th>殘障/低收減免金額</th>
                                    <th>騎樓減免</th>
                                    <th>騎樓減免金額</th>
                                    <th>備註</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>021221</td>
                                    <td>新北市</td>
                                    <td>樹林區</td>
                                    <td>1</td>
                                    <td>5</td>
                                    <td>101</td>
                                    <td>205</td>
                                    <td>50,500,000元</td>
                                    <td>70坪</td>
                                    <td>70坪</td>
                                    <td>100</td>
                                    <td>612,000</td>
                                    <td>否/無</td>
                                    <td>否/無</td>
                                    <td>否</td>
                                    <td>否</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td align="right">小計:</td>
                                    <td>612,000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div style="border-bottom:#e7eaec solid 1px;margin:50px 0 8px 0">
                        <h5 style="font-size:14px">租物建地</h5>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>建物門牌號碼</th>
                                    <th>構造</th>
                                    <th>第幾層</th>
                                    <th>總樓層</th>
                                    <th>總面積(平方公尺)</th>
                                    <th>騎樓面積</th>
                                    <th>備註</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td width="114">121號1樓</td>
                                    <td width="85">水泥建物</td>
                                    <td width="85">1</td>
                                    <td width="127">2</td>
                                    <td width="170">105</td>
                                    <td width="204">5坪</td>
                                    <td width="110"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div style="border-bottom:#e7eaec solid 1px;margin:50px 0 8px 0">
                        <h5 style="font-size:14px">耕地每公頃正產物</h5>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>種類</th>
                                    <th>收獲總量</th>
                                    <th>租率</th>
                                    <th>本地租類</th>
                                    <th>備註</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>店面</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>


                    <div style="border-bottom:#e7eaec solid 1px;margin:50px 0 8px 0">
                        <h5 style="font-size:14px">房屋建物</h5>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>財產編號</th>
                                    <th>縣市</th>
                                    <th>鄉鎮市區</th>
                                    <th>段</th>
                                    <th>小段</th>
                                    <th>權狀字號</th>
                                    <th>建號</th>
                                    <th>門牌-路街</th>
                                    <th>門牌-段巷弄號</th>
                                    <th>面積</th>
                                    <th>出租面積</th>
                                    <th>分攤出租面積</th>
                                    <th>附屬建物</th>
                                    <th>屋突</th>
                                    <th>夾層</th>
                                    <th>備註</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>328343654</td>
                                    <td>新北市</td>
                                    <td>樹林區</td>
                                    <td>1</td>
                                    <td>5</td>
                                    <td>84520483544</td>
                                    <td>205</td>
                                    <td>中正路</td>
                                    <td>12</td>
                                    <td>70坪</td>
                                    <td>70坪</td>
                                    <td>70坪</td>
                                    <td>無</td>
                                    <td>無</td>
                                    <td>無</td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>


                    <div style="border-bottom:#e7eaec solid 1px;margin:50px 0 8px 0">
                        <h5 style="font-size:14px">停車位</h5>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>車位編號</th>
                                    <th>租金</th>
                                    <th>生效日期</th>
                                    <th>失效日期</th>
                                    <th>備註</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>A138323</td>
                                    <td>3000元</td>
                                    <td>2017-2-1</td>
                                    <td>2017-12-31</td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div style="border-bottom:#e7eaec solid 1px;margin:50px 0 8px 0">
                        <h5 style="font-size:14px">其他</h5>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>門牌</th>
                                    <th>面積</th>
                                    <th>出租面積</th>
                                    <th>備註</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td width="149">205</td>
                                    <td width="127">70坪</td>
                                    <td width="178">70坪</td>
                                    <td width="111"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div style="border-bottom:#e7eaec solid 1px;margin:50px 0 8px 0">
                        <h5 style="font-size:14px">租金明細</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>租賃期間起</th>
                                    <th>租賃期間迄</th>
                                    <th>月租金</th>
                                    <th>月減租金額</th>
                                    <th>繳款週期</th>
                                    <th>每期繳款金額</th>
                                    <th>每期減免金額</th>
                                    <th>每期清潔管理費</th>
                                    <th>每期保養費</th>
                                    <th>備註</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>106/2/1~106/12/31</td>
                                    <td>106/2/1~106/12/31</td>
                                    <td>612,000</td>
                                    <td>0</td>
                                    <td>季</td>
                                    <td>153,000</td>
                                    <td>0</td>
                                    <td>4,000</td>
                                    <td>0</td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div style="border-bottom:#e7eaec solid 1px;margin:50px 0 8px 0">
                        <h5 style="font-size:14px">備註</h5>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th>說明</th>
                                    <th>備註</th>
                                    <th>異動人員</th>
                                    <th>異動日期</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>01</td>
                                    <td>一樓屋頂需維修</td>
                                    <td></td>
                                    <td>翁嘉宏</td>
                                    <td>106/2/5</td>
                                </tr>
                                <tr>
                                    <td>02</td>
                                    <td>廚房地板破裂</td>
                                    <td></td>
                                    <td>江琪茹</td>
                                    <td>106/2/9</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div style="border-bottom:#e7eaec solid 1px;margin:50px 0 8px 0">
                        <h5 style="font-size:14px">租約圖檔</h5>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>圖檔</th>
                                    <th>說明</th>
                                </tr>
                            </thead>

                            <tbody>
                            <td>001.jpg</td>
                            <td>一樓屋頂維修後</td>
                            </tr>
                            <tr>
                                <td>002.jpg</td>
                                <td>一樓屋頂維修後</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>