﻿@{
    ViewBag.Title = "LandConsolidation";
    var whereaction = ViewContext.RouteData.GetRequiredString("action");
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="el-col-10">
        <h2>土地合併</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">土地</a>
            </li>
            <li>
                <a href="#">土地合併</a>
            </li>
            <li>
                <a href="#">事務處裡單據</a>
            </li>
            <li>
                <a href="#">資產明細</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>資產明細</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-circle-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">

                    <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">

                        <div class="row">

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">帳本</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="" disabled>
                                        <option value="">RE_IFRS</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">資產編號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="1010202-0000036" name="" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">單位量</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">啟用日期</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="106-06-01" name="" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">原資產編號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="0100000643" name="" readonly="readonly" />
                                </div>
                            </div>



                            <div class="col-sm-8 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">資產分類</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" value="" name="" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-primary" @((whereaction == "CreateLock") ? "disabled" : "")><i class="fa fa-calendar"></i></button>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="" name="" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>


                            <div class="col-sm-8 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">放置地點</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" value="" name="" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-primary" @((whereaction == "CreateLock") ? "disabled" : "")><i class="fa fa-calendar"></i></button>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="" name="" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>


                            <div class="col-sm-8 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">摘要</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" value="" name="" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>


                            <div class="col-sm-8 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">都更案號</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" value="" name="" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-11 form-group">
                                <h5 class="col-sm-2">土地標示</h5>
                                <hr class="col-sm-12">
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">縣市</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" value="" name="" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary" @((whereaction == "CreateLock") ? "disabled" : "")><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">鄉鎮市區</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" value="" name="" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">段</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" value="" name="" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label" align="right">小段</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="" name="" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">母地號</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" value="" name="" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">子弟號</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" value="" name="" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">權狀字號</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" value="" name="" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label" align="right">地政事務所</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="" name="" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">整筆面積</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">權利範圍</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">/</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" value="" style="text-align: right" name="" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label" align="right">權利面積</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-11 form-group">
                                <h5 class="col-sm-2">資產狀況</h5>
                                <hr class="col-sm-12">
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">使用現況</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="" name="" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary" @((whereaction == "CreateLock") ? "disabled" : "")><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">業務別</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="" @((whereaction == "CreateLock") ? "disabled" : "")>
                                        <option value="">自用</option>
                                        <option value="">投資開發</option>
                                        <option value="">非自用</option>
                                        <option value="" selected></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">使用分區</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="" name="" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary" @((whereaction == "CreateLock") ? "disabled" : "")><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">取得方式</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="" @((whereaction == "CreateLock") ? "disabled" : "")>
                                        <option value="">承受抵償日產債務</option>
                                        <option value="">價購</option>
                                        <option value="" selected></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-8 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">畸零地否</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="" @((whereaction == "CreateLock") ? "disabled" : "")>
                                        <option value="" selected>否</option>
                                        <option value="">是</option>
                                    </select>
                                </div>
                            </div>




                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">自用面積</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">非自用面積</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-11 form-group">
                                <h5 class="col-sm-2">帳號資料</h5>
                                <hr class="col-sm-12">
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">取得成本</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">累計減損</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-6 control-label" align="right">帳面金額</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">未實現重估增值</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">估計應付土地增值稅</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-6 control-label" align="right">帳面金額-重估增值</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">營業用面積</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">營業用帳面金額</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-6 control-label" align="right">營業用帳面金額-重估增值</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">非營業用面積</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">非營業用帳面金額</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-6 control-label" align="right">非營業用帳面金額-重估增值</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-sm-11 form-group">
                                <h5 class="col-sm-2">稅務及公告資料</h5>
                                <hr class="col-sm-12">
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">年度</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">公告現值</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">公告地價</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">稅種</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="" @((whereaction == "CreateLock") ? "disabled" : "")>
                                        <option value=""></option>
                                        <option value="">一般土地</option>
                                        <option value="">免徵地價稅土地</option>
                                        <option value="">公共設施保留地</option>
                                        <option value="">工業工廠用地</option>
                                        <option value="">未核課土地</option>
                                        <option value="">自用住宅用地</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">減免原因</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="" @((whereaction == "CreateLock") ? "disabled" : "")>
                                        <option value=""></option>
                                        <option value="">一般用地全免</option>
                                        <option value="">其它用地減免</option>
                                        <option value="">巷道用地全面</option>
                                        <option value="">巷道用地減免</option>
                                        <option value="">騎樓地全面</option>
                                        <option value="">騎樓地減徵</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">移轉地價</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">減免面積</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">申報地價</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">應繳稅額</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="" name="" style="text-align: right" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-11 form-group">
                                <h5 class="col-sm-2">備註事項</h5>
                                <hr class="col-sm-12">
                            </div>

                            <div class="col-sm-8 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">備註事項1</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" value="" name="" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-8 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">備註事項2</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" value="" name="" @((whereaction == "CreateLock") ? "readonly" : "") />
                                </div>
                            </div>

                            <div class="col-sm-11 form-group">
                                <h5 class="col-sm-2">連結房屋</h5>
                                <hr class="col-sm-12">
                            </div>
                            <div class="col-sm-10 form-group">
                                @{
                                    if (whereaction == "CreateLock")
                                    {

                                    }
                                    else
                                    {<button class="btn btn-primary" disabled>連結房屋</button>}
                                }

                            </div>


                            <table class="table-condensed" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>項次</th>
                                        <th>資產編號</th>
                                        <th>房屋標示</th>
                                        <th>門牌</th>
                                        <th>Google地圖</th>
                                        <th>刪除</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                            <div class="col-sm-11 form-group"></div>

                            <div class="col-sm-2 form-group">
                                <a href="@Url.Action("New")" class="btn btn-warning"><i class="fa fa-reply"> 返回</i></a>
                            </div>
                            <div class="col-sm-2 form-group">
                                @{
                                    if (whereaction == "CreateLock")
                                    { }
                                    else
                                    { <a href="@Url.Action("New")" class="btn btn-primary"><i class="fa fa-save"> 儲存</i></a>}
                                }

                            </div>

                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>
</div>