﻿@using Library.Servant.Servant.MPModels.ReportModel
@model IEnumerable<MPReportModel>
@{
    ViewBag.Title = "財產明細表";
}

<script>
    function doQuery()
    {
        $('#frmPrint').prop('action','@(Url.Action("SearchMPList"))');
    }
</script>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>財產明細表</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">動產管理</a>
            </li>
            <li>
                <a href="#">財產明細表</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form id="frmPrint" method="post" action="@Url.Action("PrintMPDetails","MPReports")">
                        <input type="hidden" name="ReportName" value="MPDetails"/>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">管轄單位</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="AssignedBranch" name="JurisdictionAssignedBranch">
                                        <option value="001總行"> 001總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control" id="OfficeBranch" name="JurisdictionOfficeBranch">
                                        <option value="05資訊部"> 05資訊部</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label">帳本</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="BookTypeCode" name="BookTypeCode">
                                        <option value="RE_IFRS">RE_IFRS</option>
                                        <option value="IFRS_TWD">IFRS_TWD</option>
                                    </select>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label ">期間</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <div class="col-sm-1">
                                    <span class="fa fa-calendar-o icon-in-box"></span>
                                </div>
                                <div class="col-sm-1">
                                    ～
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <div class="col-sm-2">
                                    <span class="fa fa-calendar-o icon-in-box"></span>
                                </div>
                            </div>
                        </div>

                        

                        <div class="row">
                            <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary" name="MPDetails" onclick="doQuery();"><i class="fa fa-search"> 查詢 </i></button>
                                    <button class="btn btn-primary" data-toggle="modal" data-remote="@Url.Action("PrintMPDetails")"  data-target="#modal-form-fastreport"><i class="fa fa-save"> 匯出 </i></button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <table class="col-sm-12">
                                    <thead>
                                        <tr>
                                            <th>財產編號</th>
                                            <th>財產名稱</th>
                                            <th>廠牌規格</th>
                                            <th>分類-大類</th>
                                            <th>分類-小類</th>
                                            <th>啟用日期</th>
                                            <th>耐用年限</th>
                                            <th>已折舊月數</th>
                                            <th>數量</th>
                                            <th>資產金額</th>
                                            <th>本月折舊</th>
                                            <th>累計折舊</th>
                                            <th>殘值</th>
                                            <th>淨值</th>
                                            <th>採購案號</th>
                                            <th>使用單位</th>
                                            <th>備註</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if(Model!=null)
                                        { 
                                           foreach (var item in Model)
                                           {
                                           <tr>
                                               <td>@item.Asset_Number</td>
                                               <td>@item.Assets_Name</td>
                                               <td>@item.Model_Number</td>
                                               <td>@item.Asset_Category_Code</td>
                                               <td>@item.Assets_Category_ID</td>
                                               <td>@item.Date_Placed_In_Service.Value.ToString("yyyy/MM/dd")</td>
                                               <td>@item.Life_Years</td>
                                               <td>@item.Life_Month</td>
                                               <td>@item.Assets_Unit</td>
                                               <td>@item.Assets_Fixed_Cost.Value.ToString("N0")</td>
                                               <td>@item.Deprn_Cost.ToString("N0")</td>
                                               <td>@item.Deprn_Reserve.Value.ToString("N0")</td>
                                               <td>@item.Salvage_Value.Value.ToString("N0")</td>
                                               <td>@item.Net_Value.Value.ToString("N0")</td>
                                               <td>@item.PO_Number</td>
                                               <td>@item.Assigned_Branch</td>
                                               <td>@item.Remark</td>
                                           </tr>
                                           }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal-form-fastreport" class="modal fade" style="padding:5px;width:60%;height:80%;background:#FFF;margin:0 auto; margin-top:20px; overflow:hidden">
</div>

