﻿@using Library.Servant.Servant.MPModels.ReportModel
@model IEnumerable<MPReportModel>
@{
    ViewBag.Title = "財產災害損失、變賣明細表";
}
<script>
    function doQuery()
    {
        $('#frmPrint').prop('action', '@Url.Action("SearchMPList")');
    }
</script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>財產災害損失、變賣明細表</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">動產管理</a>
            </li>
            <li>
                <a href="#">財產災害損失、變賣明細表</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form id="frmPrint" method="post" action="@Url.Action("PrintMPDisposeList","MPReports")">
                        <input type="hidden" name="ReportName" value="MPDisposeList" />
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label" align="right">管轄單位</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="AssignedBranch" name="JurisdictionAssignedBranch">
                                        <option value="001總行"> 001總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control" id="OfficeBranch" name="JurisdictionOfficeBranch">
                                        <option value="05資訊部"> 05資訊部</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-4 control-label ">事務處理編號</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" value="" name="AssetNumberTop"/>
                                </div>
                                <div class="col-sm-1">
                                    ～
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" value="" name="AssetNumberEnd"/>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right"></label>
                                <input type="submit" value="查詢" class="btn btn-primary" name="MPDisposeList" onclick="doQuery();" />
                                <input type="submit" value="匯出" class="btn btn-primary" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="col-sm-12">
                                    <thead>
                                        <tr>
                                            <th>財產編號</th>
                                            <th>財產名稱</th>
                                            <th>廠牌規格</th>
                                            <th>啟用日期</th>
                                            <th>耐用年限</th>
                                            <th>已折舊月數</th>
                                            <th>耐用止日</th>
                                            <th>數量</th>
                                            <th>資產金額</th>                                           
                                            <th>累計折舊</th>
                                            <th>淨值</th>                                        
                                            <th>使用單位</th>                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            foreach (var List in Model)
                                            {
                                                <tr>
                                                    <td>@List.Asset_Number</td>
                                                    <td>@List.Assets_Name</td>
                                                    <td>@List.Model_Number</td> 
                                                    <td>@List.Date_Placed_In_Service.Value.ToString("yyyy/MM/dd")</td>
                                                    <td>@List.Life_Years.ToString()</td>
                                                    <td>@List.Life_Month</td>
                                                    <td>@List.Date_Placed_In_Service.Value.AddYears(@List.Life_Years).ToString("yyyy/MM/dd")</td>
                                                    <td>@List.Assets_Unit.ToString()</td>
                                                    <td>@List.Assets_Fixed_Cost.ToString()</td>
                                                    <td>@List.Deprn_Cost.ToString()</td>                                                    
                                                    <td>@List.Net_Value.ToString()</td>                                                    
                                                    <td>@List.Assigned_Branch</td>
                                                    
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

