﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onClick="window.close()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 土地檢視</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">資產評估作業</a>
            </li>
            <li>
                <a href="#">指定評估房屋作業</a>
            </li>
            <li>
                <a href="#">土地檢視</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form method="post" action="" class="form-horizontal">
                        <div class="ibox-c-subtitle" style="margin-top:0px">土地明細</div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">土地財產編號</label>
                                <div class="col-sm-6 text-lineH-fix">1010202-0002706</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產分類</label>
                                <div class="col-sm-6 text-lineH-fix">1.010202.B  土地-營業用房屋基地-固定-自用</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">土地坐落</label>
                                <div class="col-sm-6 text-lineH-fix">基隆市中正區日新段二小段 0001-0000 地號</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">土地面積</label>
                                <div class="col-sm-6 text-lineH-fix">1,879.00  m2</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">建物基地權利範圍</label>
                                <div class="col-sm-6 text-lineH-fix">1 / 1  ( 分子 / 分母 )000</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">土地帳面價值<br>( 截至106.03.31 )</label>
                                <div class="col-sm-6 text-lineH-fix">7,167,570.00 元</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">分行查估土地市場價值</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-success">62,027,570.00</span> 元 </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">估價方法</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-success">一般估價</span></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">評估紀錄摘要</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-success">摘要文字 摘要文字 摘要文字</span></div>
                            </div>

                        </div>

                        <div class="ibox-c-subtitle">土地明細</div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">土地財產編號</label>
                                <div class="col-sm-6 text-lineH-fix">1010202-0002706</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產分類</label>
                                <div class="col-sm-6 text-lineH-fix">1.010202.B  土地-營業用房屋基地-固定-自用</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">土地坐落</label>
                                <div class="col-sm-6 text-lineH-fix">基隆市中正區日新段二小段 0001-0000 地號</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">土地面積</label>
                                <div class="col-sm-6 text-lineH-fix">1,879.00  m2</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">建物基地權利範圍</label>
                                <div class="col-sm-6 text-lineH-fix">1 / 1  ( 分子 / 分母 )000</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">土地帳面價值<br>( 截至106.03.31 )</label>
                                <div class="col-sm-6 text-lineH-fix">7,167,570.00 元</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">分行查估土地市場價值</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-success">62,027,570.00</span> 元 </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">估價方法</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-success">一般估價</span></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">評估紀錄摘要</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-success">摘要文字 摘要文字 摘要文字</span></div>
                            </div>

                        </div>

                        <div class="ibox-c-subtitle">土地明細</div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">土地財產編號</label>
                                <div class="col-sm-6 text-lineH-fix">1010202-0002706</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產分類</label>
                                <div class="col-sm-6 text-lineH-fix">1.010202.B  土地-營業用房屋基地-固定-自用</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">土地坐落</label>
                                <div class="col-sm-6 text-lineH-fix">基隆市中正區日新段二小段 0001-0000 地號</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">土地面積</label>
                                <div class="col-sm-6 text-lineH-fix">1,879.00  m2</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">建物基地權利範圍</label>
                                <div class="col-sm-6 text-lineH-fix">1 / 1  ( 分子 / 分母 )000</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">土地帳面價值<br>( 截至106.03.31 )</label>
                                <div class="col-sm-6 text-lineH-fix">7,167,570.00 元</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">分行查估土地市場價值</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-success">62,027,570.00</span> 元 </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">估價方法</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-success">一般估價</span></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">評估紀錄摘要</label>
                                <div class="col-sm-6 text-lineH-fix"><span class="text-success">摘要文字 摘要文字 摘要文字</span></div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#" onClick="window.close()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>