﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 新增/編輯巡查案件</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">資產巡查作業</a>
            </li>
            <li>
                <a href="#">總行指定巡查作業</a>
            </li>
            <li>
                <a href="#">新增/編輯單據</a>
            </li>
            <li>
                <a href="#">新增/編輯巡查案件</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>新增/編輯巡查案件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">案件編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control" value="106-00001" disabled /></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 案件狀態</label>
                                <div class="col-sm-6 checkbox-list">
                                    <input type="radio" name="radiogroup1" checked><span>總行指定</span>
                                    <input type="radio" name="radiogroup1"><span>起案</span>
                                    <input type="radio" name="radiogroup1"><span>執行中</span>
                                    <input type="radio" name="radiogroup1"><span>結案</span>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">巡查方式</label>
                                <div class="col-sm-6 text-lineH-fix">總行指定巡查</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 起案日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" value="106-1-5" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 結案日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ibox-c-subtitle">租約</div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-6 text-lineH-fix">001 總行 08 產權部 001 XX科</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"></label>
                                <div class="col-sm-6" style="text-align:right"><a href="@Url.Action("CheckDetail")" target="_blank" class="btn btn-gray"><i class="fa fa-search"> 查看資產詳情 </i></a></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產分類</label>
                                <div class="col-sm-6 text-lineH-fix">1.010202.B  土地-營業用房屋基地-固定-自用</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">啟用日期</label>
                                <div class="col-sm-6 text-lineH-fix">45-10-17</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產編號</label>
                                <div class="col-sm-6 text-lineH-fix">1010202B-0000036</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">原資產編號</label>
                                <div class="col-sm-6 text-lineH-fix">0100000643</div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">摘要</label>
                                <div class="col-sm-9 text-lineH-fix">臺北市大安區大安段三小段0258-0000</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">自用面積</label>
                                <div class="col-sm-6 text-lineH-fix">905.00</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">非自用用面積</label>
                                <div class="col-sm-6 text-lineH-fix">0</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">營業用面積</label>
                                <div class="col-sm-6 text-lineH-fix">905.00</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">非營業用面積</label>
                                <div class="col-sm-6 text-lineH-fix">0</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">取得成本</label>
                                <div class="col-sm-6 text-lineH-fix">85,860</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">累計減損</label>
                                <div class="col-sm-6 text-lineH-fix">0</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">公告現值</label>
                                <div class="col-sm-6 text-lineH-fix">236,503</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">公告地價</label>
                                <div class="col-sm-6 text-lineH-fix">60,862</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">帳面金額</label>
                                <div class="col-sm-6 text-lineH-fix">1,266,066</div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">帳面價值</label>
                                <div class="col-sm-6 text-lineH-fix">1,266,066</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">營業用帳面金額</label>
                                <div class="col-sm-6 text-lineH-fix">1,266,066</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">非營業用帳面金額</label>
                                <div class="col-sm-6 text-lineH-fix">0</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">估計應付土地增值稅</label>
                                <div class="col-sm-6 text-lineH-fix">0</div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">未實現重估增值</label>
                                <div class="col-sm-6 text-lineH-fix">0</div>
                            </div>

                        </div>

                        <div class="ibox-c-subtitle">巡查表</div>

                        <div class="row">
                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">008 產權部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">巡查人員</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">陳小明</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">摘要</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">巡查日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">租約類型</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="radio" name="radiogroup2" checked><span>正常</span>
                                    <input type="radio" name="radiogroup2"><span>雜草</span>
                                    <input type="radio" name="radiogroup2"><span>疑似占用</span>
                                    <input type="radio" name="radiogroup2"><span>需整理</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">上傳巡查照片</label>
                                <div class="col-sm-9">
                                    <input id="uploadFile" placeholder="" class="form-control " style="width:30%;float:left" />
                                    <div class="fileUpload btn btn-gray" style="border-radius: 0 3px 3px 0; float:left">
                                        <span><i class="fa fa-search"> 瀏 覽 </i></span>
                                        <input id="uploadBtn" type="file" class="upload" />
                                    </div>
                                    <div style="margin-left:5px;float:left"><img src="images/preview.jpg">&nbsp;&nbsp;<img src="images/preview.jpg">&nbsp;&nbsp;<img src="images/preview.jpg"></div>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">案件說明</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">巡查紀錄/結果</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">備註</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                            </div>

                        </div>

                        <div class="ibox-c-subtitle">巡查紀錄</div>

                        <div class="table-responsive" style="margin-bottom:50px">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>巡查起案時間</th>
                                        <th>巡查方式</th>
                                        <th>巡查狀況</th>
                                        <th>單據編號</th>
                                        <th>摘要</th>
                                        <th>案件狀況</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>106-04-15 12:00</td>
                                        <td>總行指定巡查</td>
                                        <td>疑似占用</td>
                                        <td><a href="@Url.Action("Detail")" target="_blank">1060415I200000001</a></td>
                                        <td>106-04 巡查</td>
                                        <td>結案</td>
                                    </tr>
                                    <tr>
                                        <td>105-04-15 10:00</td>
                                        <td>總行指定巡查</td>
                                        <td>正常</td>
                                        <td><a href="@Url.Action("Detail")" target="_blank">1050415I200000001</a></td>
                                        <td>105-04 巡查</td>
                                        <td>結案</td>
                                    </tr>
                                    <tr>
                                        <td>104-04-01 10:00</td>
                                        <td>總行指定巡查</td>
                                        <td>正常</td>
                                        <td><a href="@Url.Action("Detail")" target="_blank">1040401I200000001</a></td>
                                        <td>104-04 巡查</td>
                                        <td>結案</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
document.getElementById("uploadBtn").onchange = function () {
    document.getElementById("uploadFile").value = this.files[0].name;
};
</script>