﻿
@{
    Layout = null;
}
<div style="display:none">
@ViewBag.data;
    </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>項次</th>
            <th>單據類型</th>
            <th>單據來源</th>
            <th>單據編號</th>
            <th>單據處理時間</th>
            <th>巡查單位</th>
            <th>經辦人員</th>
            <th>結案數/巡查數</th>
            <th>狀態</th>
            <th>檢視</th>
        </tr>
    </thead>
    <tbody>
        <!--
        <tr>
            <td>1</td>
            <td>指定巡查單</td>
            <td>總行指定巡查</td>
            <td>1060502H200000001</td>
            <td>106-05-02 12:00</td>
            <td>台北分行/XX科</td>
            <td>陳小明</td>
            <td>21 / 23</td>
            <td>已核准</td>
            <td><a class="btn btn-gray btn-circle" href="@Url.Action(" Detail")" title="檢視"><i class="fa fa-list"></i></a></td>
        </tr>-->
        @for (int i = 0; i < ViewBag.data["Data"].Count; i++)
        {
        var date = ViewBag.data["Data"][i]["DateY"].ToString() + "-" +
        ViewBag.data["Data"][i]["DateM"].ToString().PadLeft(2, '0') + "-" +
        ViewBag.data["Data"][i]["DateD"].ToString().PadLeft(2, '0');
        <tr @if (ViewBag.data["Data"][i].TYC.ToString()=="0" ) { @: class="lightorange_bg"
            }>
            <td>@(i + 1 + Int32.Parse(@ViewBag.data["pagestart"].ToString()))</td>
            <td>@ViewBag.data["Data"][i].DT</td>
            <td>@ViewBag.data["Data"][i].LY</td>
            <td>@ViewBag.data["Data"][i].NO</td>
            <td>@date</td>
            <td>@ViewBag.data["Data"][i].J2</td>
            <td>@ViewBag.data["Data"][i].CR</td>
            <td>@ViewBag.data["Data"][i].DDC / @ViewBag.data["Data"][i].DC</td>
            <td>@ViewBag.data["Data"][i].TY</td>
            @if (ViewBag.Action == "200")
            {
                <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail",new { id=@ViewBag.data["Data"][i].ID.ToString() ,Controller = "AssetInspectAssign" })" title="檢視"><i class="fa fa-list"></i></a></td>
            }
            else
            {
                <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail",new { id=@ViewBag.data["Data"][i].ID.ToString(),Controller = "AssetInspect"  })" title="檢視"><i class="fa fa-list"></i></a></td>
            }


        </tr>
        }
        
    </tbody>

</table>

<nav class="text-center">
    @Html.Partial("pagination")
</nav>
