﻿<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>財產編號-查詢</h5>
                    <div class="ibox-tools">
                        <a href="#" onClick="window.close();">
                            <i class="fa fa-close"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">關鍵字搜尋(地址)</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="台北市南港區三重路
" />
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                    <button class="btn btn-primary"><i class="fa fa-search"> 搜 尋 </i></button>
                                </label>
                            </div>
                        </div>
                    </form>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>選擇</th>
                                    <th>財產編號</th>
                                    <th>標的物類別</th>
                                    <th>土地坐落</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="radio" name="radiogroup1"></td>
                                    <td>1010202-0002701</td>
                                    <td>房屋</td>
                                    <td>台北市南港區三重路</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" name="radiogroup1"></td>
                                    <td>1010202-0002702</td>
                                    <td>土地</td>
                                    <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" name="radiogroup1"></td>
                                    <td>1010202-0002703</td>
                                    <td>土地</td>
                                    <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" name="radiogroup1"></td>
                                    <td>1010202-0002704</td>
                                    <td>停車位</td>
                                    <td>台北市南港區三重路</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" name="radiogroup1"></td>
                                    <td>1010202-0002705</td>
                                    <td>耕地</td>
                                    <td>台東市卑南鄉</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button onClick="window.close();" type="reset" class="btn btn-gray"><i class="fa fa-close"> 取 消 </i></button>
                                    <button onClick="window.close();" class="btn btn-primary"><i class="fa fa-check"> 帶 入 </i></button>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>