﻿<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>土地租金試算</h5>
                    <div class="ibox-tools">
                        <a href="#" onClick="window.close();">
                            <i class="fa fa-close"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span>公告地價</label>
                                <div class="col-sm-4"><input type="text" id="val_1" class="form-control" value="1000000" /> </div>
                                <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>元</span></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-5 control-label">試算結果 - 年租金 NTD</label>
                                <div class="col-sm-4"><input type="text" id="res_1" class="form-control" value="4000000" /> </div>
                                <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>元</span></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span>承租面積</label>
                                <div class="col-sm-4"><input type="text" id="val_2" class="form-control" value="80" /> </div>
                                <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>平方公尺</span></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-5 control-label">試算結果 - 月租金 NTD</label>
                                <div class="col-sm-4"><input type="text" id="res_2" class="form-control" value="333333" /> </div>
                                <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>元</span></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span>年租率</label>
                                <div class="col-sm-4"><input type="text" id="val_3" class="form-control" value="5" /> </div>
                                <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>%</span></div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                    <a onclick="resault()" class="btn btn-primary"><i class="fa fa-search"> 試 算 </i></a>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
function resault() {
var val_1 = document.getElementById('val_1').value;
var val_2 = document.getElementById('val_2').value;
var val_3 = document.getElementById('val_3').value;
var res_1 = document.getElementById('res_1');
var res_2 = document.getElementById('res_2');
res_1.value = parseInt(val_1*val_2*val_3*0.01);
res_2.value = parseInt(val_1*val_2*val_3*0.01/12);
}


</script>