﻿@{
    ViewBag.Title = "Land";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>土地成本維護</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">土地</a>
            </li>
            <li>
                <a href="#">土地成本維護</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">事務處理類型</label>
                                <div class="col-sm-7">
                                    <select class="form-control" name="CancelCode" disabled>
                                        <option value="">土地新增</option>
                                        <option value="">土地資產維護</option>
                                        <option value="" selected="selected">土地成本維護</option>
                                        <option value="">土地分割</option>
                                        <option value="">土地合併</option>
                                        <option value="">土地重測</option>
                                        <option value="">土地重劃</option>
                                        <option value="">土地處分</option>
                                        <option value="">房屋新增</option>
                                        <option value="">重大組成新增</option>
                                        <option value="">房屋資產維護</option>
                                        <option value="">房屋成本維護</option>
                                        <option value="">房屋處分</option>
                                        <option value="">房屋折舊</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">事務處理編號</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" value="" name="CodeID" />
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">狀態</label>
                                <div class="col-sm-7">
                                    <select class="form-control" name="">
                                        <option value="">新增</option>
                                        <option value="">簽核中</option>
                                        <option value="">已核准</option>
                                        <option value="">退回修改</option>
                                        <option value="">抽回修改</option>
                                        <option value="">作廢</option>
                                        <option selected value="">&nbsp;</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">帳本</label>
                                <div class="col-sm-7">
                                    <select class="form-control" name="">
                                        <option value="">RE_IFRS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">事務處理日期</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary"><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">入帳日期</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary"><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-5 control-label" align="right">管轄單位</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" value="" />
                                </div>
                            </div>
                            <div class="col-sm-8 form-group">
                                <label for="" class="col-sm-2 control-label" align="right">備註</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Remark" />
                                </div>
                            </div>
                            
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-danger"><i class="fa fa-trash"> 清除</i></button>
                                    <button class="btn btn-primary"><i class="fa fa-search"> 查詢</i></button>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>共  筆 第 1 頁</label>
                                </td>
                                <td style="text-align: right">
                                    <a href="@Url.Action("New","LandCost")" class="btn btn-primary"><i class="fa fa-plus"> 新增</i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>事務處理編號</th>
                                    <th>事務處理日期</th>
                                    <th>管轄單位</th>
                                    <th>入帳日期</th>
                                    <th>備註</th>
                                    <th>狀態</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    for (int i = 0; i < 6; i++)
                                    {
                                        <tr>
                                            <td>@(i + 1)</td>
                                            <td>@Html.Raw("1060102B0100000" + (i + 1).ToString("00"))</td>
                                            <td>
                                                106-01-02
                                            </td>
                                            <td>
                                                總行
                                            </td>
                                            <td>
                                                106-01-02
                                            </td>
                                            <td>
                                                備註
                                            </td>
                                            <td>
                                                @if (i == 0)
                                                {
                                                    <text>新增</text>
                                                }
                                                else if (i == 1)
                                                {
                                                    <text>簽核中</text>
                                                }
                                                else if (i == 2)
                                                {
                                                    <text>已核准</text>
                                                }
                                                else if (i == 3)
                                                {
                                                    <text>退回修改</text>
                                                }
                                                else if (i == 4)
                                                {
                                                    <text>抽回修改</text>
                                                }
                                                else if (i == 5)
                                                {
                                                    <text>作廢</text>
                                                }


                                            </td>
                                            <td>
                                                @if (i == 0)
                                                {
                                                    <a href="@Url.Action("New","LandCost")" class="btn btn-primary btn-circle" title="檢視">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                }
                                                else if (i == 1)
                                                {
                                                    <a href="@Url.Action("Signed","LandCost")" class="btn btn-primary btn-circle" title="檢視">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                }
                                                else if (i == 2)
                                                {
                                                    <a href="@Url.Action("Approved","LandCost")" class="btn btn-primary btn-circle" title="檢視">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                }
                                                else if (i == 3)
                                                {
                                                    <a href="@Url.Action("Returned","LandCost")" class="btn btn-primary btn-circle" title="檢視">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                }
                                                else if (i == 4)
                                                {
                                                    <a href="@Url.Action("Withdraw","LandCost")" class="btn btn-primary btn-circle" title="檢視">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                }
                                                else if (i == 5)
                                                {
                                                    <a href="@Url.Action("Void","LandCost")" class="btn btn-primary btn-circle" title="檢視">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                }

                                            </td>

                                        </tr>
                                    }
                                }                                
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

