﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>租賃折舊作業</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li>
                <a href="#">租賃管理</a>
            </li>
            <li>
                <a href="#">租賃折舊作業</a>
            </li>
            <li>
                <a href="#">檢視單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>檢視單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6 text-lineH-fix">租賃折舊單</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6 text-lineH-fix">分行個別新增</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1060502A201000001</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳本</label>
                                <div class="col-sm-6 text-lineH-fix">IFRS_TWD</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據處理日期</label>
                                <div class="col-sm-6 text-lineH-fix">106-05-02</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-6 text-lineH-fix">001 總行  05 資訊部  001 XX科</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix text-primary-re ">簽核中</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註</label>
                                <div class="col-sm-6 text-lineH-fix"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-3 text-lineH-fix"> <a href="@Url.Action("ContentDetail")" class="btn btn-primary"><i class="fa fa-save"> 儲 存 </i></a></div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>資產明細</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>資產編號</th>
                                    <th>財產名稱</th>
                                    <th>財產別名</th>
                                    <th>保管單位</th>
                                    <th>保管人</th>
                                    <th>折舊前資產成本</th>
                                    <th>折舊後試算成本</th>
                                    <th>折舊時間</th>
                                    <th>檢視</th>
                                    <th>移出</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>3000031B-0000001</td>
                                    <td>台北土銀總公司土地</td>
                                    <td></td>
                                    <td>總行/資訊部/一科</td>
                                    <td>陳小明</td>
                                    <td>70,000</td>
                                    <td>69,028</td>
                                    <td>2017-07-21 17:00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")"><i class="fa fa-search"></i></a></td>
                                    <td><button class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>3000031B-0000001</td>
                                    <td>台北土銀總公司土地</td>
                                    <td></td>
                                    <td>總行/資訊部/一科</td>
                                    <td>陳小明</td>
                                    <td>70,000</td>
                                    <td>69,028</td>
                                    <td>2017-07-21 17:00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")"><i class="fa fa-search"></i></a></td>
                                    <td><button class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>3000031B-0000001</td>
                                    <td>台北土銀總公司土地</td>
                                    <td></td>
                                    <td>總行/資訊部/一科</td>
                                    <td>陳小明</td>
                                    <td>70,000</td>
                                    <td>69,028</td>
                                    <td>2017-07-21 17:00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")"><i class="fa fa-search"></i></a></td>
                                    <td><button class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>3000031B-0000001</td>
                                    <td>台北土銀總公司土地</td>
                                    <td></td>
                                    <td>總行/資訊部/一科</td>
                                    <td>陳小明</td>
                                    <td>70,000</td>
                                    <td>69,028</td>
                                    <td>2017-07-21 17:00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")"><i class="fa fa-search"></i></a></td>
                                    <td><button class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>3000031B-0000001</td>
                                    <td>台北土銀總公司土地</td>
                                    <td>NB-ACER</td>
                                    <td>總行/資訊部/一科</td>
                                    <td>陳小明</td>
                                    <td>70,000</td>
                                    <td>69,028</td>
                                    <td>2017-07-21 17:00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")"><i class="fa fa-search"></i></a></td>
                                    <td><button class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>3000031B-0000001</td>
                                    <td>台北土銀總公司土地</td>
                                    <td>NB-VAIO</td>
                                    <td>總行/資訊部/一科</td>
                                    <td>陳小明</td>
                                    <td>70,000</td>
                                    <td>69,028</td>
                                    <td>2017-07-21 17:00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")"><i class="fa fa-search"></i></a></td>
                                    <td><button class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>3000031B-0000001</td>
                                    <td>台北土銀總公司土地</td>
                                    <td></td>
                                    <td>總行/資訊部/一科</td>
                                    <td>陳小明</td>
                                    <td>70,000</td>
                                    <td>69,028</td>
                                    <td>2017-07-21 17:00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")"><i class="fa fa-search"></i></a></td>
                                    <td><button class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>3000031B-0000001</td>
                                    <td>台北土銀總公司土地</td>
                                    <td></td>
                                    <td>總行/資訊部/一科</td>
                                    <td>陳小明</td>
                                    <td>70,000</td>
                                    <td>69,028</td>
                                    <td>2017-07-21 17:00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")"><i class="fa fa-search"></i></a></td>
                                    <td><button class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>3000031B-0000001</td>
                                    <td>台北土銀總公司土地</td>
                                    <td></td>
                                    <td>總行/資訊部/一科</td>
                                    <td>陳小明</td>
                                    <td>70,000</td>
                                    <td>69,028</td>
                                    <td>2017-07-21 17:00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")"><i class="fa fa-search"></i></a></td>
                                    <td><button class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>3000031B-0000001</td>
                                    <td>台北土銀總公司土地</td>
                                    <td>MAC 001</td>
                                    <td>總行/資訊部/一科</td>
                                    <td>陳小明</td>
                                    <td>70,000</td>
                                    <td>69,028</td>
                                    <td>2017-07-21 17:00</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("ContentDetail")"><i class="fa fa-search"></i></a></td>
                                    <td><button class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>3000031B-0000001</td>
                                    <td>台北土銀總公司土地</td>
                                    <td></td>
                                    <td>總行/資訊部/一科</td>
                                    <td>陳小明</td>
                                    <td>8,000</td>
                                    <td>8,000</td>
                                    <td>2017-07-21 17:00</td>
                                    <td><a href="@Url.Action("ContentDetail")" class="btn btn-gray btn-circle"><i class="fa fa-search"></i></a></td>
                                    <td><button class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></button></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-6 col-sm-offset-6">
        <a href="A110.aspx" class="btn btn-gray"><i class="fa fa-arrow-left"> 返 回 </i></a>
    </div>
</div>