﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 編輯新租約</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">租賃整合管理</a>
            </li>
            <li>
                <a href="#">出租續租換約作業</a>
            </li>
            <li>
                <a href="#">新增/編輯單據</a>
            </li>
            <li>
                <a href="#">編輯新租約</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>新增/編輯租約</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約編號</label>
                                <div class="col-sm-6"> <input type='text' class="form-control" value="107-0001" disabled /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">原租約編號</label>
                                <div class="col-sm-6"> <input type='text' class="form-control" value="" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">租約類別</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">出租</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 租約事務</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">續租</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 租約類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">租金</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 業務別</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">自用</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 租約狀態</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">有效</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 租賃期間</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">核准日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" disabled />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 標的物</label>
                                <div class="col-sm-6"> <input type='text' class="form-control" value="屏東縣高樹鄉中段512地號等" /></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳號</label>
                                <div class="col-sm-6"> <input type='text' class="form-control" value="北-108000" /></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span>租約附件</label>
                                <div class="col-sm-6">
                                    <input id="uploadFile" placeholder="" class="form-control " style="width:60%;float:left" />
                                    <div class="fileUpload btn btn-gray" style="border-radius: 0 3px 3px 0; float:left">
                                        <span><i class="fa fa-search"> 瀏 覽 </i></span>
                                        <input id="uploadBtn" type="file" class="upload" />
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">05 資訊部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">備註</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                            </div>

                        </div>

                    </form>


                    <div class="table-responsive" style="margin-top:50px">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>承租人</label>
                                </td>
                                <td style="text-align: right">
                                    <a href="#modal-form-importdata-1" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus">新增承租人</i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>類型</th>
                                    <th>名稱</th>
                                    <th>統一編號</th>
                                    <th>負責人</th>
                                    <th>身分證字號</th>
                                    <th>出生日</th>
                                    <th>通訊地址</th>
                                    <th>戶籍地址</th>
                                    <th>電話</th>
                                    <th>備註</th>
                                    <th>編輯</th>
                                    <th>刪除</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>公司</td>
                                    <td>關貿網路</td>
                                    <td>12345678</td>
                                    <td>XXX</td>
                                    <td>A123456789</td>
                                    <td>40/1/1</td>
                                    <td>台北市南港區三重路</td>
                                    <td>台北市南港區三重路</td>
                                    <td>26551188</td>
                                    <td></td>
                                    <td><a href="#modal-form-importdata-1" class="btn btn-primary btn-circle" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>公司</td>
                                    <td>關貿網路</td>
                                    <td>12345678</td>
                                    <td>XXX</td>
                                    <td>A123456789</td>
                                    <td>40/1/1</td>
                                    <td>台北市南港區三重路</td>
                                    <td>台北市南港區三重路</td>
                                    <td>26551188</td>
                                    <td></td>
                                    <td><a href="#modal-form-importdata-1" class="btn btn-primary btn-circle" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>扣款資料</label>
                                </td>
                                <td style="text-align: right">
                                    <a href="#modal-form-importdata-2" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus">新增扣款資料</i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>扣款銀行</th>
                                    <th>扣款帳號</th>
                                    <th>扣款帳號</th>
                                    <th>戶名</th>
                                    <th>繳款方式</th>
                                    <th>租賃期間</th>
                                    <th>備註</th>
                                    <th>編輯</th>
                                    <th>刪除</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>005 土地銀行</td>
                                    <td>01020020500023</td>
                                    <td>0102338423902393</td>
                                    <td>黃大海</td>
                                    <td>委託代繳</td>
                                    <td>106/2/1~106/12/30</td>
                                    <td></td>
                                    <td><a href="#modal-form-importdata-2" class="btn btn-primary btn-circle" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>租金/費用資料</label>
                                </td>
                                <td style="text-align: right">
                                    <a href="#modal-form-importdata-3" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus">新增租金</i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>租金計算</th>
                                    <th>租金類別</th>
                                    <th>租金總價</th>
                                    <th>繳款週期</th>
                                    <th>繳款期限</th>
                                    <th>寬限期</th>
                                    <th>上期繳款日</th>
                                    <th>預計下期繳款日</th>
                                    <th>清潔管理費</th>
                                    <th>保養費</th>
                                    <th>編輯</th>
                                    <th>刪除</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>固定</td>
                                    <td>契約總價</td>
                                    <td>320,000</td>
                                    <td>年</td>
                                    <td>固定</td>
                                    <td>3</td>
                                    <td>106-01-31</td>
                                    <td>107-01-31</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td><a href="#modal-form-importdata-3" class="btn btn-primary btn-circle" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>保證金資料</label>
                                </td>
                                <td style="text-align: right">
                                    <a href="#modal-form-importdata-4" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus">新增保證金</i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>保證金</th>
                                    <th>保證金收款日期</th>
                                    <th>保證金退還日期</th>
                                    <th>保證銀行及字號</th>
                                    <th>編輯</th>
                                    <th>刪除</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="#modal-form-importdata-4" class="btn btn-primary btn-circle" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>違約金資料</label>
                                </td>
                                <td style="text-align: right">
                                    <a href="#modal-form-importdata-5" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus">新增違約金</i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>違約金</th>
                                    <th>違約起算日</th>
                                    <th>收違約金標準</th>
                                    <th>計算方式</th>
                                    <th>編輯</th>
                                    <th>刪除</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>另計</td>
                                    <td>繳款日</td>
                                    <td>欠額金額</td>
                                    <td></td>
                                    <td><a href="#modal-form-importdata-5" class="btn btn-primary btn-circle" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>逾期息資料</label>
                                </td>
                                <td style="text-align: right">
                                    <a href="#modal-form-importdata-6" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus">新增逾期息</i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>逾期息</th>
                                    <th>逾期息起算日</th>
                                    <th>收逾期息標準</th>
                                    <th>計算方式</th>
                                    <th>編輯</th>
                                    <th>刪除</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>另計</td>
                                    <td>繳款日</td>
                                    <td>欠額金額</td>
                                    <td></td>
                                    <td><a href="#modal-form-importdata-6" class="btn btn-primary btn-circle" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>房屋資料</label>
                                </td>
                                <td style="text-align: right">
                                    <a href="#modal-form-importdata-7" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus">新增房屋</i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>財產編號</td>
                                    <td>地址</td>
                                    <td>權利面積</td>
                                    <td>出租面積</td>
                                    <td>編輯</td>
                                    <td>刪除</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1010202-0002701</td>
                                    <td>台北市南港區三重路</td>
                                    <td>100.00  m2</td>
                                    <td>100.00  m2</td>
                                    <td><a href="#modal-form-importdata-7" class="btn btn-primary btn-circle" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>土地資料</label>
                                </td>
                                <td style="text-align: right">
                                    <a href="#modal-form-importdata-8" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus">新增土地</i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>財產編號</td>
                                    <td>地址</td>
                                    <td>出租面積</td>
                                    <td>編輯</td>
                                    <td>刪除</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1010202-0002702</td>
                                    <td>基隆市中正區日新段二小段    0001-0000    地號</td>
                                    <td>1,879.00  m2</td>
                                    <td><a href="#modal-form-importdata-8" class="btn btn-primary btn-circle" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>1010202-0002703</td>
                                    <td>基隆市中正區日新段二小段    0002-0000    地號</td>
                                    <td>1,879.00  m2</td>
                                    <td><a href="#modal-form-importdata-8" class="btn btn-primary btn-circle" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>停車位資料</label>
                                </td>
                                <td style="text-align: right">
                                    <a href="#modal-form-importdata-9" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus">新增停車位</i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>財產編號</td>
                                    <td>地址</td>
                                    <td>車位編號</td>
                                    <td>編輯</td>
                                    <td>刪除</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1010202-0002704</td>
                                    <td>台北市南港區三重路</td>
                                    <td>123456</td>
                                    <td><a href="#modal-form-importdata-9" class="btn btn-primary btn-circle" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>耕地資料</label>
                                </td>
                                <td style="text-align: right">
                                    <a href="#modal-form-importdata-10" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus">新增耕地</i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>財產編號</td>
                                    <td>地址</td>
                                    <td>權利面積</td>
                                    <td>出租面積</td>
                                    <td>編輯</td>
                                    <td>刪除</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1010202-0002705</td>
                                    <td>台東市卑南鄉</td>
                                    <td>2,000.00  m2</td>
                                    <td>1,879.00  m2</td>
                                    <td><a href="#modal-form-importdata-10" class="btn btn-primary btn-circle" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>分期資料</label>
                                </td>
                                <td style="text-align: right">
                                    <a href="#modal-form-importdata-11" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus">新增分期</i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>財產編號</td>
                                    <td>分期付款總金額</td>
                                    <td>分期數</td>
                                    <td>頭期款繳款日期</td>
                                    <td>頭期款金額</td>
                                    <td>分期款繳款日期</td>
                                    <td>分期款金額</td>
                                    <td>編輯</td>
                                    <td>刪除</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1010202-0002706</td>
                                    <td>100,000</td>
                                    <td>10</td>
                                    <td>106/2/1</td>
                                    <td>500,000</td>
                                    <td>每月1日</td>
                                    <td>300,000</td>
                                    <td><a href="#modal-form-importdata-11" class="btn btn-primary btn-circle" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>備註</label>
                                </td>
                                <td style="text-align: right">
                                    <a href="#modal-form-importdata-12" class="btn btn-primary" data-toggle="modal"><i class="fa fa-plus">新增備註</i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>備註內容</td>
                                    <td>備註日期</td>
                                    <td>編輯</td>
                                    <td>刪除</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>備註內容備註內容備註內容備註內容備註內容備註內容備註內容備註內容備註內容</td>
                                    <td>2017-08-12</td>
                                    <td><a href="#modal-form-importdata-12" class="btn btn-primary btn-circle" data-toggle="modal" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Lightbox -->
<div id="modal-form-importdata-1" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">身分類型</label>
                            <div class="col-sm-6"><input type="text" class="form-control" value="公司" /></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">戶籍地址</label>
                            <div class="col-sm-6"><input type="text" class="form-control" value="台北市南港區三重路" /></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">公司名稱</label>
                            <div class="col-sm-6"><input type="text" class="form-control" value="關貿網路" /></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">通訊地址</label>
                            <div class="col-sm-6"><input type="text" class="form-control" value="台北市南港區三重路" /></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">統一編號</label>
                            <div class="col-sm-6"><input type="text" class="form-control" value="12345678" /></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">電話</label>
                            <div class="col-sm-6"><input type="text" class="form-control" value="02-12345678" /></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">負責人</label>
                            <div class="col-sm-6"><input type="text" class="form-control" value="黃大海" /></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-4 control-label">身分證字號</label>
                            <div class="col-sm-6"><input type="text" class="form-control" value="A123456789" /></div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">出生日期</label>
                            <div class="col-sm-6">
                                <div class='input-group date' data-provide="datepicker-inline">
                                    <input type='text' class="form-control" value="40/01/01" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">&nbsp;</label>
                            <div class="col-sm-3 checkbox-list">
                                <input type="checkbox"><span>低收</span>
                                <input type="checkbox"><span>殘障</span>
                            </div>
                            <div class="col-sm-6" style="padding:0">
                                <span style="float:left;padding:6px 10px 0 0">殘障鑑定日期</span>
                                <div class='input-group date' data-provide="datepicker-inline" style="float:left;width:70%">
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata-2" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">扣款銀行</label>
                            <div class="col-sm-6"><input type="text" class="form-control" value="005 土地銀行" /></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 租賃期間</label>
                            <div class="col-sm-4">
                                <div class='input-group date' data-provide="datepicker-inline">
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                            <div class="col-sm-4">
                                <div class='input-group date' data-provide="datepicker-inline">
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">扣款帳號</label>
                            <div class="col-sm-6"><input type="text" class="form-control" value="01020020500023" /></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">年租率</label>
                            <div class="col-sm-4"><input type="text" class="form-control" value="" /> </div>
                            <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>%</span></div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">戶名</label>
                            <div class="col-sm-6"><input type="text" class="form-control" value="黃大海" /></div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label">繳款方式</label>
                            <div class="col-sm-9 checkbox-list">

                                <input type="radio" name="radiogroup2" checked><span>委託代繳</span>
                                <input type="radio" name="radiogroup2"><span>現金</span>
                                <input type="radio" name="radiogroup2"><span>支票</span>

                            </div>
                        </div>

                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata-3" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">租金計算</label>
                            <div class="col-sm-9 checkbox-list">
                                <input type="radio" name="radiogroup3" checked><span>固定</span>
                                <input type="radio" name="radiogroup3"><span>每年依物價指數調整</span>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">清潔管理費</label>
                            <div class="col-sm-4"><input type="text" class="form-control" value="" /> </div>
                            <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>元</span></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">繳款週期</label>
                            <div class="col-sm-6 checkbox-list">
                                <input type="radio" name="radiogroup4"><span>月</span>
                                <input type="radio" name="radiogroup4"><span>季</span>
                                <input type="radio" name="radiogroup4"><span>半年</span>
                                <input type="radio" name="radiogroup4" checked><span>年</span>
                                <input type="radio" name="radiogroup4"><span>不定期</span>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">保養費</label>
                            <div class="col-sm-4"><input type="text" class="form-control" value="" /> </div>
                            <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>元</span></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">租金類別</label>
                            <div class="col-sm-4 checkbox-list"><span>月租金</span> <input type="text" class="form-control" value="" style="width:50%;margin-top:-6px" /> <span>元</span></div>
                            <div class="col-sm-4 checkbox-list"><span>季租金</span> <input type="text" class="form-control" value="" style="width:50%;margin-top:-6px" " />  <span>元</span></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">年租金</label>
                            <div class="col-sm-4"><input type="text" class="form-control" value="" /> </div>
                            <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>元</span></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">繳款期限</label>
                            <div class="col-sm-9 checkbox-list ">
                                <input type="radio" name="radiogroup5" checked><span>固定</span><input type="text" class="form-control" value="" style="width:10%;margin-top:-6px" /><span>天</span>
                                <input type="radio" name="radiogroup5"><span>月底	</span>
                                <input type="radio" name="radiogroup5"><span>工作天</span>
                                <input type="radio" name="radiogroup5"><span>月曆天</span>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">契約總價</label>
                            <div class="col-sm-4"><input type="text" class="form-control" value="" /> </div>
                            <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>元</span></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label">寬限期</label>
                            <div class="col-sm-9 checkbox-list">
                                <input type="text" class="form-control" value="" style="width:10%;margin-top:-6px" /><span>天</span>
                                <input type="radio" name="radiogroup6"><span>工作天</span>
                                <input type="radio" name="radiogroup6"><span>月曆天</span>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-5 control-label">上期繳款日</label>
                            <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-5 control-label">預計下期繳款日</label>
                            <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-5 control-label">租金修改生效日</label>
                            <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                        </div>

                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata-4" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label for="" class="col-sm-6 control-label">保證金</label>
                            <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-4 form-group">
                            <label for="" class="col-sm-6 control-label">保證金收款日期</label>
                            <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-4 form-group">
                            <label for="" class="col-sm-6 control-label">保證金退還日期</label>
                            <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-11 form-group">
                            <label for="" class="col-sm-2 control-label">保證銀行及字號</label>
                            <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                        </div>

                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata-5" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label">違約金</label>
                            <div class="col-sm-9 checkbox-list ">
                                <input type="radio" name="radiogroup7" checked><span>另計</span>
                                <input type="radio" name="radiogroup7"><span>無計</span>
                                <input type="radio" name="radiogroup7"><span>原因</span> <input type="text" class="form-control" value="" style="width:50%;margin-top:-6px" />
                            </div>
                        </div>

                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label">違約起算日  逾</label>
                            <div class="col-sm-9 checkbox-list ">
                                <input type="radio" name="radiogroup8" checked><span>繳款日</span>
                                <input type="radio" name="radiogroup8"><span>寬限期</span><input type="text" class="form-control" value="" style="width:15%;margin-top:-6px" /><span>日 起算</span> </span>
                            </div>
                        </div>

                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label">收違約金標準</label>
                            <div class="col-sm-9 checkbox-list ">
                                <input type="radio" name="radiogroup9" checked><span>欠額金額</span>
                                <input type="radio" name="radiogroup9"><span>月租金</span>
                            </div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">計算方式</label>
                            <div class="col-sm-8"><input type="text" class="form-control" value="" /></div>
                        </div>

                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata-6" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label">逾期息</label>
                            <div class="col-sm-9 checkbox-list ">
                                <input type="radio" name="radiogroup10" checked><span>另計</span>
                                <input type="radio" name="radiogroup10"><span>無計</span>
                                <input type="radio" name="radiogroup10"><span>原因</span> <input type="text" class="form-control" value="" style="width:50%;margin-top:-6px" />
                            </div>
                        </div>

                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label">逾期息起算日  逾</label>
                            <div class="col-sm-9 checkbox-list ">
                                <input type="radio" name="radiogroup11" checked><span>繳款日</span>
                                <input type="radio" name="radiogroup11"><span>寬限期</span><input type="text" class="form-control" value="" style="width:10%;margin-top:-6px" /><span>日 起算</span> </span>
                            </div>
                        </div>

                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label">收逾期息標準</label>
                            <div class="col-sm-9 checkbox-list ">
                                <input type="radio" name="radiogroup12" checked><span>欠額金額</span>
                                <input type="radio" name="radiogroup12"><span>月租金</span>
                            </div>
                        </div>

                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label">逾期息計算方式</label>
                            <div class="col-sm-9 checkbox-list ">
                                <input type="radio" name="radiogroup13" checked><span>月利率</span>
                                <input type="radio" name="radiogroup13"><span>週年利率   之</span><input type="text" class="form-control" value="" style="width:10%;margin-top:-6px" /><span>%   計算</span> </span>
                            </div>
                        </div>

                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata-7" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label"><span style="color:red">*</span> 財產編號</label>
                            <div class="col-sm-4"><input type="text" class="form-control" value="1010202-0002706" /></div>
                            <div class="col-sm-1"><a href="E222_1.aspx" target="_blank" class="btn btn-primary"><i class="fa fa-search"> 搜 尋 </i></a></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">縣市</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="Select6">
                                    <option value="">請選擇縣市</option>
                                </select>
                            </div>
                            <label for="" class="col-sm-1 control-label">鄉鎮市區</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="Select7">
                                    <option value="">請選擇鄉鎮市區</option>
                                </select>
                            </div>
                            <label for="" class="col-sm-1 control-label">段</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">小段</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">地址</label>
                            <div class="col-sm-8"><input type="text" class="form-control" value="台北市南港區三重路" /></div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">權利面積</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label"><span style="color:red">*</span> 出租面積</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">分攤公設面積</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">附屬建物</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">屋突</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">夾層</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">騎樓</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">共同部分</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">備註</label>
                            <div class="col-sm-8"><input type="text" class="form-control" value="" /></div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata-8" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label"><span style="color:red">*</span> 財產編號</label>
                            <div class="col-sm-4 checkbox-list"><input type="text" class="form-control" value="1010202-0002706" /></div>
                            <div class="col-sm-1"><a href="E222_1.aspx" target="_blank" class="btn btn-primary"><i class="fa fa-search"> 搜 尋 </i></a></div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">縣市</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="Select1">
                                    <option value="">請選擇縣市</option>
                                </select>
                            </div>
                            <label for="" class="col-sm-1 control-label">鄉鎮市區</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="Select5">
                                    <option value="">請選擇鄉鎮市區</option>
                                </select>
                            </div>
                            <label for="" class="col-sm-1 control-label">段</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">小段</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">母地號</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">子地號</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">地目</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">等則</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">登記面積</label>
                            <div class="col-sm-5"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">公告地價</label>
                            <div class="col-sm-5"><input type="text" class="form-control" value="" /></div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label"><span style="color:red">*</span> 出租面積</label>
                            <div class="col-sm-5"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">年租率%</label>
                            <div class="col-sm-4">
                                <input type="text" class="col-sm-4 form-control" value="" />

                            </div>
                            <div class="col-sm-1"><a href="E222_2.aspx" target="_blank" class="btn btn-primary"><i class="fa fa-search"> 試 算 </i></a></div>

                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">租金</label>
                            <div class="col-sm-5"><input type="text" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">備註</label>
                            <div class="col-sm-8"><input type="text" class="form-control" value="" /></div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata-9" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label"><span style="color:red">*</span> 財產編號</label>
                            <div class="col-sm-4"><input type="text" class="form-control" value="1010202-0002706" /></div>
                            <div class="col-sm-1"><a href="E222_1.aspx" target="_blank" class="btn btn-primary"><i class="fa fa-search"> 搜 尋 </i></a></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">縣市</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="Select3">
                                    <option value="">請選擇縣市</option>
                                </select>
                            </div>
                            <label for="" class="col-sm-1 control-label">鄉鎮市區</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="Select4">
                                    <option value="">請選擇鄉鎮市區</option>
                                </select>
                            </div>
                            <label for="" class="col-sm-1 control-label">段</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">小段</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">地址</label>
                            <div class="col-sm-5"><input type="text" class="form-control" value="台北市南港區三重路" /></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label"><span style="color:red">*</span> 車位編號</label>
                            <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">備註</label>
                            <div class="col-sm-8"><input type="text" class="form-control" value="" /></div>
                        </div>

                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata-10" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label"><span style="color:red">*</span> 財產編號</label>
                            <div class="col-sm-4"><input type="text" class="form-control" value="1010202-0002706" /></div>
                            <div class="col-sm-1"><a href="E222_1.aspx" target="_blank" class="btn btn-primary"><i class="fa fa-search"> 搜 尋 </i></a></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">縣市</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="">
                                    <option value="">請選擇縣市</option>
                                </select>
                            </div>
                            <label for="" class="col-sm-1 control-label">鄉鎮市區</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="Select2">
                                    <option value="">請選擇鄉鎮市區</option>
                                </select>
                            </div>
                            <label for="" class="col-sm-1 control-label">段</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">小段</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">母地號</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">子地號</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">地目</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">等則</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">登記面積</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">公告地價</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label"><span style="color:red">*</span> 出租面積</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">年租率%</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                        </div>


                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">租金</label>
                            <div class="col-sm-2"><input type="text" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label"><span style="color:red">*</span> 種類</label>
                            <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">收獲總量</label>
                            <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                            <label for="" class="col-sm-1 control-label">本地租額</label>
                            <div class="col-sm-3"><input type="text" class="form-control" value="" /></div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-1 control-label">備註</label>
                            <div class="col-sm-8"><input type="text" class="form-control" value="" /></div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata-11" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">分期付款總金額</label>
                            <div class="col-sm-4"><input type="text" class="form-control" value="" /> </div>
                            <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>元</span></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">分期數</label>
                            <div class="col-sm-4"><input type="text" class="form-control" value="" /> </div>
                            <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>期</span></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">頭期款繳款日期</label>
                            <div class="col-sm-6">
                                <div class='input-group date' data-provide="datepicker-inline">
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">頭期款金額</label>
                            <div class="col-sm-4"><input type="text" class="form-control" value="" /> </div>
                            <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>元</span></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">分期款繳款日期</label>
                            <div class="col-sm-6">
                                <div class='input-group date' data-provide="datepicker-inline">
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="" class="col-sm-3 control-label">分期款金額</label>
                            <div class="col-sm-4"><input type="text" class="form-control" value="" /> </div>
                            <div class="col-sm-2 text-lineH-fix" style="padding:0"><span>元</span></div>
                        </div>

                        <div class="col-sm-9 form-group">
                            <label for="" class="col-sm-2 control-label">分期付款描述</label>
                            <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-importdata-12" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:50%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="ibox-c-subtitle" style="margin-top:0px">
                    新增/編輯
                    <div class="ibox-tools" style="float:right"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                </div>
                <form method="post" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="" class="col-sm-2 control-label"><span style="color:red">*</span> 備註內容</label>
                            <div class="col-sm-10"><textarea type="text" class="form-control" rows="6" value=""></textarea> </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="" class="pull-right">
                                <button href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-close"> 取 消 </i></button>
                                <button href="#" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"> 確 認 </i></button>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
document.getElementById("uploadBtn").onchange = function () {
    document.getElementById("uploadFile").value = this.files[0].name;
};
</script>