﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>出租續租換約作業</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">租賃整合管理</a>
            </li>
            <li>
                <a href="#">出租續租換約作業</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>搜尋條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">出租續租換約單</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">總行續租換約</option>
                                        <option value="">分行續租換約</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                            </div>


                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳本</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">IFRS_TWD</option>
                                    </select>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據處理時間</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">05 資訊部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">狀態</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox" disabled><span style="color:#ccc">全選</span>
                                    <input type="checkbox"><span>新增</span>
                                    <input type="checkbox"><span>簽核中</span>
                                    <input type="checkbox"><span>已核淮</span>
                                    <input type="checkbox"><span>退回修改</span>
                                    <input type="checkbox"><span>抽回修改</span>
                                    <input type="checkbox"><span>作廢</span>

                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">備註</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                            </div>


                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                    <button class="btn btn-primary"><i class="fa fa-search"> 搜 尋 </i></button>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <a href="@Url.Action("Edit")" class="btn btn-primary"><i class="fa fa-plus"> 新增單據</i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>單據來源</th>
                                    <th>單據編號</th>
                                    <th>單據處理時間</th>
                                    <th>管轄單位</th>
                                    <th>經辦人員</th>
                                    <th>換約數量</th>
                                    <th>備註</th>
                                    <th>狀態</th>
                                    <th>編輯/檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>總行個別維護</td>
                                    <td>1060502E240000001</td>
                                    <td>106-05-02    12:00</td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>10</td>
                                    <td></td>
                                    <td>已核准</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>分行個別維護</td>
                                    <td>1060502E240000001</td>
                                    <td>106-04-26    12:00</td>
                                    <td>高雄分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>2</td>
                                    <td></td>
                                    <td>作廢</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>分行個別維護</td>
                                    <td>1060502E240000001</td>
                                    <td>106-04-25    12:00</td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>15</td>
                                    <td></td>
                                    <td>退回修改</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Edit")" title="新增"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>分行個別維護</td>
                                    <td>1060502E240000001</td>
                                    <td>106-04-20    12:00</td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>3</td>
                                    <td></td>
                                    <td>抽回修改</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Edit")" title="新增"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>分行個別維護</td>
                                    <td>1060502E240000001</td>
                                    <td>106-04-02    12:00</td>
                                    <td>高雄分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>5</td>
                                    <td></td>
                                    <td>簽核中</td>
                                    <td><a class="btn btn-gray btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>分行個別維護</td>
                                    <td>1060502E240000001</td>
                                    <td>106-01-02    12:00</td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>11</td>
                                    <td></td>
                                    <td>新增</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Edit")" title="新增"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>分行個別維護</td>
                                    <td>1060502E240000001</td>
                                    <td>106-01-02    12:00</td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>3</td>
                                    <td></td>
                                    <td>新增</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Edit")" title="新增"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>分行個別維護</td>
                                    <td>1060502E240000001</td>
                                    <td>106-01-02    12:00</td>
                                    <td>高雄分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>4</td>
                                    <td></td>
                                    <td>新增</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Edit")" title="新增"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>分行個別維護</td>
                                    <td>1060502E240000001</td>
                                    <td>106-01-02    12:00</td>
                                    <td>台北分行/XX科</td>
                                    <td>陳小明</td>
                                    <td>11</td>
                                    <td></td>
                                    <td>新增</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Edit")" title="新增"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>分行個別維護</td>
                                    <td>1060502E240000001</td>
                                    <td>106-01-02    12:00</td>
                                    <td>總行/產權部/XX科</td>
                                    <td>陳小明</td>
                                    <td>2</td>
                                    <td></td>
                                    <td>新增</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Edit")" title="新增"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>