﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="E140.aspx" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 檢視單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">租賃整合管理</a>
            </li>
            <li>
                <a href="#">承租續租換約作業</a>
            </li>
            <li>
                <a href="#">檢視單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>檢視單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6 text-lineH-fix">承租續租換約單</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6 text-lineH-fix">總行續租換約</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1060502E130000001</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳本</label>
                                <div class="col-sm-6 text-lineH-fix">IFRS_TWD</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據處理日期</label>
                                <div class="col-sm-6 text-lineH-fix">106-05-02</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-6 text-lineH-fix">001 總行  05 資訊部  001 XX科</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix text-primary-re">簽核中</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註</label>
                                <div class="col-sm-5"><input type="text" class="form-control" value="" /> </div>
                                <div class="col-sm-4"><a href="#" class="btn btn-primary"><i class="fa fa-save"> 儲 存 </i></a></div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>指定規劃分行</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>租約編號</th>
                                    <th>租約類型</th>
                                    <th>租約事務</th>
                                    <th>管轄單位</th>
                                    <th>帳號</th>
                                    <th>租賃期間</th>
                                    <th>備註</th>
                                    <th>檢視</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>106-00001</td>
                                    <td>租金</td>
                                    <td>新租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td></td>
                                    <td><a class="btn btn-gray btn-circle" href="#" title="搜尋"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>106-00001</td>
                                    <td>租金</td>
                                    <td>續租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td></td>
                                    <td><a class="btn btn-gray btn-circle" href="#" title="搜尋"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>106-00001</td>
                                    <td>基地補償金</td>
                                    <td>新租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td></td>
                                    <td><a class="btn btn-gray btn-circle" href="#" title="搜尋"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>106-00001</td>
                                    <td>基地補償金</td>
                                    <td>續租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td></td>
                                    <td><a class="btn btn-gray btn-circle" href="#" title="搜尋"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>106-00001</td>
                                    <td>租金</td>
                                    <td>新租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td></td>
                                    <td><a class="btn btn-gray btn-circle" href="#" title="搜尋"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>106-00001</td>
                                    <td>租金</td>
                                    <td>續租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td></td>
                                    <td><a class="btn btn-gray btn-circle" href="#" title="搜尋"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>106-00001</td>
                                    <td>基地補償金</td>
                                    <td>新租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td></td>
                                    <td><a class="btn btn-gray btn-circle" href="#" title="搜尋"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>106-00001</td>
                                    <td>基地補償金</td>
                                    <td>續租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td></td>
                                    <td><a class="btn btn-gray btn-circle" href="#" title="搜尋"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>106-00001</td>
                                    <td>租金</td>
                                    <td>新租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td></td>
                                    <td><a class="btn btn-gray btn-circle" href="#" title="搜尋"><i class="fa fa-search"></i></a></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>106-00001</td>
                                    <td>租金</td>
                                    <td>續租</td>
                                    <td>台北分行/XX科</td>
                                    <td>大安使009</td>
                                    <td>
                                        106/1/1~
                                        106/12/31
                                    </td>
                                    <td></td>
                                    <td><a class="btn btn-gray btn-circle" href="#" title="搜尋"><i class="fa fa-search"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-splitdata" class="btn btn-success" data-toggle="modal"><i class="fa fa-long-arrow-right"> 提 交 </i></a>
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#" class="btn btn-danger"><i class="fa fa-trash"> 刪 除 </i></a>
            <a href="E140.aspx" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>