﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onClick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 檢視單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">資產遭占用及催討繳管理</a>
            </li>
            <li>
                <a href="#">催繳與訴訟作業</a>
            </li>
            <li>
                <a href="#">檢視單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>檢視單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6 text-lineH-fix">資產催繳單</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6 text-lineH-fix">函催</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1060502G200000001</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">帳本</label>
                                <div class="col-sm-6 text-lineH-fix">IFRS_TWD</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據處理日期</label>
                                <div class="col-sm-6 text-lineH-fix">106-05-02</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-6 text-lineH-fix">001 總行  08 產權部  001 XX科</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix text-primary-re">新增</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註(關鍵字)</label>
                                <div class="col-sm-5"><input type="text" class="form-control" value="" /> </div>
                                <div class="col-sm-4"><a href="#" class="btn btn-primary"><i class="fa fa-save"> 儲 存 </i></a></div>
                            </div>


                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <div class="checkbox-list">
                                        <label>催繳案件明細</label>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>案件編號</th>
                                    <th>摘要</th>
                                    <th>起案日期</th>
                                    <th>租約編號</th>
                                    <th>租賃期間</th>
                                    <th>業務別</th>
                                    <th>租約類型</th>
                                    <th>承租人名稱</th>
                                    <th>欠繳狀況</th>
                                    <th>案件狀態</th>
                                    <th>編輯</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>106-00001</td>
                                    <td>大安段催討</td>
                                    <td>106-1-5</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>非自用</td>
                                    <td>基地</td>
                                    <td>陳展元</td>
                                    <td><span class="text-danger">逾期60日</span></td>
                                    <td>起案</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>106-00002</td>
                                    <td>大安段催討</td>
                                    <td>106-1-5</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>自用</td>
                                    <td>房屋</td>
                                    <td>陳展元</td>
                                    <td><span class="text-danger">逾期69日</span></td>
                                    <td>執行中</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>106-00003</td>
                                    <td>大安段催討</td>
                                    <td>106-1-5</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>自用</td>
                                    <td>空地</td>
                                    <td>陳展元</td>
                                    <td>
                                        <span class="text-primary-re">
                                            已繳<br>
                                            106-06-30
                                        </span>
                                    </td>
                                    <td>結案</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>106-00004</td>
                                    <td>大安段催討</td>
                                    <td>106-1-5</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>自用</td>
                                    <td>基地</td>
                                    <td>陳展元</td>
                                    <td><span class="text-danger">逾期67日</span></td>
                                    <td>執行中</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>106-00005</td>
                                    <td>大安段催討</td>
                                    <td>106-1-5</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>自用</td>
                                    <td>房屋</td>
                                    <td>陳展元</td>
                                    <td><span class="text-danger">逾期67日</span></td>
                                    <td>執行中</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>106-00006</td>
                                    <td>大安段催討</td>
                                    <td>106-1-5</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>非自用</td>
                                    <td>基地</td>
                                    <td>陳展元</td>
                                    <td><span class="text-danger">逾期67日</span></td>
                                    <td>執行中</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>106-00007</td>
                                    <td>大安段催討</td>
                                    <td>106-1-5</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>自用</td>
                                    <td>房屋</td>
                                    <td>陳展元</td>
                                    <td><span class="text-danger">逾期67日</span></td>
                                    <td>執行中</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>106-00008</td>
                                    <td>大安段催討</td>
                                    <td>106-1-5</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>自用</td>
                                    <td>空地</td>
                                    <td>陳展元</td>
                                    <td><span class="text-danger">逾期67日</span></td>
                                    <td>執行中</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>106-00009</td>
                                    <td>大安段催討</td>
                                    <td>106-1-5</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>自用</td>
                                    <td>基地</td>
                                    <td>陳展元</td>
                                    <td><span class="text-danger">逾期67日</span></td>
                                    <td>執行中</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>106-00010</td>
                                    <td>大安段催討</td>
                                    <td>106-1-5</td>
                                    <td>001_05_0001</td>
                                    <td>106-1-5    ~ 108-1-4</td>
                                    <td>自用</td>
                                    <td>房屋</td>
                                    <td>陳展元</td>
                                    <td><span class="text-danger">逾期67日</span></td>
                                    <td>執行中</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"><span>【步驟三】</span></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-splitdata" class="btn btn-success" data-toggle="modal" style="display:none"><i class="fa fa-long-arrow-right"> 提 交 </i></a>
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal" style="display:none"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger" style="display:none"><i class="fa fa-trash"> 刪 除 </i></a>
            <a href="#modal-form-invaliddata" data-toggle="modal" class="btn btn-danger" style="display:none"><i class="fa fa-trash">  作 廢 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-splitdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定提交嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-deletedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定刪除嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-invaliddata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定作廢嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>