﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>檢視-明細</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">土地管理</a>
            </li>
            <li>
                <a href="#">土地處分</a>
            </li>
            <li>
                <a href="#">檢視-明細</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>處分</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">處分原因</label>
                                <div class="col-sm-6 checkbox-list">
                                    <select class="form-control" id="" disabled>
                                        <option value="">災害損失	</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">處分成本</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="7,277,114" disabled /></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">變賣收入</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="7,277,114" disabled /></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">變賣成本</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="7,277,114" disabled /></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">未實現重估增值</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="7,277,114" disabled /></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">重估增值成本</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="7,277,114" disabled /></div>
                            </div>
                            <div class="clearfix"></div>


                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <a class="btn btn-gray" href="8_6.aspx" onclick="window.close()" title=""><i class="fa fa-long-arrow-left"> 返 回 </i></a>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>