﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>新增</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">土地管理</a>
            </li>
            <li>
                <a href="#">土地處分</a>
            </li>
            <li>
                <a href="#">新增態</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>查詢條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">縣市</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value=""> 台北市 </option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">鄉鎮市區</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value=""> 大安區 </option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">地段</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control " value="大安段" />
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value=""> 三小段 </option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">地號</label>
                                <div class="col-sm-4"><input type="text" class="form-control" value="0258" /></div>
                                <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">－</div>
                                <div class="col-sm-4"><input type="text" class="form-control" value="0000" /></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產編號</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value=""> </option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>



                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <a href="8_2.aspx" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
                                    <button class="btn btn-primary"><i class="fa fa-search"> 搜 尋 </i></button>
                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>查詢結果</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>項次</th>
                                    <th>資產編號</th>
                                    <th>土地標示</th>
                                    <th>地號</th>
                                    <th>資產分類</th>
                                    <th>權利面積</th>
                                    <th>帳面成本</th>
                                </tr>
                            <thead>
                            <tbody>
                            <tbody>
                                <tr>
                                    <td><input type="radio" name="RadioGroup" value="" checked></td>
                                    <td>01</td>
                                    <td>2010202-0000036</td>
                                    <td>臺北市大安區大安段三小段</td>
                                    <td>0258-0000</td>
                                    <td>2.010202.B</td>
                                    <td>905.00</td>
                                    <td>123,456,789</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" name="RadioGroup" value=""></td>
                                    <td>02</td>
                                    <td>2010202-0000037</td>
                                    <td>臺北市大安區大安段三小段</td>
                                    <td>0259-0000</td>
                                    <td>2.010202.B</td>
                                    <td>905.00</td>
                                    <td>123,456,789</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" name="RadioGroup" value=""></td>
                                    <td>03</td>
                                    <td>2010202-0000039</td>
                                    <td>臺北市大安區大安段三小段</td>
                                    <td>0260-0000</td>
                                    <td>2.010202.B</td>
                                    <td>905.00</td>
                                    <td>123,456,789</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" name="RadioGroup" value=""></td>
                                    <td>04</td>
                                    <td>2010202-0000039</td>
                                    <td>臺北市大安區大安段三小段</td>
                                    <td>0261-0000</td>
                                    <td>2.010202.B</td>
                                    <td>905.00</td>
                                    <td>123,456,789</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" name="RadioGroup" value=""></td>
                                    <td>05</td>
                                    <td>2010202-0000040</td>
                                    <td>臺北市大安區大安段三小段</td>
                                    <td>0262-0000</td>
                                    <td>2.010202.B</td>
                                    <td>905.00</td>
                                    <td>123,456,789</td>
                            <tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>處份</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">處分原因</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">災害損失</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">處分成本</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="7,277,114" style="text-align:right" /></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">變賣收入</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="7,277,114" style="text-align:right" /></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">變賣成本</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="7,277,114" style="text-align:right" /></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">未實現重估增值</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="7,277,114" style="text-align:right" /></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">重估增值成本</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="7,277,114" style="text-align:right" /></div>
                            </div>
                            <div class="clearfix"></div>

                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button class="btn btn-primary" onclick="window.close();"><i class="fa fa-check"> 確 定 </i></button>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>