﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>新增/編輯單據</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">資產巡查作業</a>
            </li>
            <li>
                <a href="#">總行指定巡查作業</a>
            </li>
            <li>
                <a href="#">新增/編輯單據</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><span class="text-success">【步驟一】</span> 新增單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">指定查詢單</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">來源類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">總行指定查詢</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">單據編號</label>
                                <div class="col-sm-6 text-lineH-fix">1060502G200000001</div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 帳本</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value="">IFRS_TWD</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 單據處理日期</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" value="106-05-02" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 form-group gutter-s">
                                <label for="" class="col-sm-3 control-label"><span style="color:red">*</span> 管轄單位</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 總行</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">009 產權部</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="">
                                        <option value="">001 XX科</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">狀態</label>
                                <div class="col-sm-6 text-lineH-fix text-primary-re">新增</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">備註(關鍵字)</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:50px">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label><span class="text-success">【步驟二】</span></label>
                                    <a href="#modal-form-importdata" data-toggle="modal" class="btn btn-primary"><i class="fa fa-search"> 搜尋/導入資產 </i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>案件編號</th>
                                    <th>起案日期</th>
                                    <th>資產編號</th>
                                    <th>摘要</th>
                                    <th>資產分類</th>
                                    <th>巡查日期</th>
                                    <th>案件狀態</th>
                                    <th>編輯</th>
                                    <th>移出</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>106-00001</td>
                                    <td>106-1-5</td>
                                    <td>1010202B-0000036</td>
                                    <td>臺北市大安區大安段三小段0258-0000</td>
                                    <td>1.010202.B</td>
                                    <td></td>
                                    <td>總行指定</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail","AssetInspectSearch")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>106-00002</td>
                                    <td>106-1-5</td>
                                    <td>1010202B-0000036</td>
                                    <td>臺北市大安區大安段三小段0258-0000</td>
                                    <td>1.010202.B</td>
                                    <td></td>
                                    <td>總行指定</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail","AssetInspectSearch")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>106-00003</td>
                                    <td>106-1-5</td>
                                    <td>1010202B-0000036</td>
                                    <td>臺北市大安區大安段三小段0258-0000</td>
                                    <td>1.010202.B</td>
                                    <td></td>
                                    <td>總行指定</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail","AssetInspectSearch")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>106-00004</td>
                                    <td>106-1-5</td>
                                    <td>1010202B-0000036</td>
                                    <td>臺北市大安區大安段三小段0258-0000</td>
                                    <td>1.010202.B</td>
                                    <td></td>
                                    <td>總行指定</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail","AssetInspectSearch")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>106-00005</td>
                                    <td>106-1-5</td>
                                    <td>1010202B-0000036</td>
                                    <td>臺北市大安區大安段三小段0258-0000</td>
                                    <td>1.010202.B</td>
                                    <td></td>
                                    <td>總行指定</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail","AssetInspectSearch")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>106-00006</td>
                                    <td>106-1-5</td>
                                    <td>1010202B-0000036</td>
                                    <td>臺北市大安區大安段三小段0258-0000</td>
                                    <td>1.010202.B</td>
                                    <td></td>
                                    <td>總行指定</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail","AssetInspectSearch")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>106-00007</td>
                                    <td>106-1-5</td>
                                    <td>1010202B-0000036</td>
                                    <td>臺北市大安區大安段三小段0258-0000</td>
                                    <td>1.010202.B</td>
                                    <td></td>
                                    <td>總行指定</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail","AssetInspectSearch")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>106-00008</td>
                                    <td>106-1-5</td>
                                    <td>1010202B-0000036</td>
                                    <td>臺北市大安區大安段三小段0258-0000</td>
                                    <td>1.010202.B</td>
                                    <td></td>
                                    <td>總行指定</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail","AssetInspectSearch")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>106-00009</td>
                                    <td>106-1-5</td>
                                    <td>1010202B-0000036</td>
                                    <td>臺北市大安區大安段三小段0258-0000</td>
                                    <td>1.010202.B</td>
                                    <td></td>
                                    <td>總行指定</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail","AssetInspectSearch")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>106-00010</td>
                                    <td>106-1-5</td>
                                    <td>1010202B-0000036</td>
                                    <td>臺北市大安區大安段三小段0258-0000</td>
                                    <td>1.010202.B</td>
                                    <td></td>
                                    <td>總行指定</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail","AssetInspectSearch")" title="編輯"><i class="fa fa-pencil"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"><span>【步驟三】</span></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-splitdata" class="btn btn-success" data-toggle="modal"><i class="fa fa-long-arrow-right"> 提 交 </i></a>
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#modal-form-deletedata" data-toggle="modal" class="btn btn-danger"><i class="fa fa-trash"> 刪 除 </i></a>
            <a href="#" onclick="history.back()" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-splitdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定提交嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form-deletedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">確定刪除嗎？</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>取 消</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- H202 lightbox -->
<div id="modal-form-importdata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title" style="border:0">
                                <h5><span class="text-success">【步驟一】</span> 搜尋欲巡查的資產</h5>
                                <div class="ibox-tools"> <a class="" data-dismiss="modal"> <i class="fa fa-close"></i> </a> </div>
                            </div>
                            <div class="ibox-content">
                                <form method="post" action="" class="form-horizontal">
                                    <div class="row">
                                        <div class="col-sm-6 form-group gutter-s">
                                            <label for="" class="col-sm-3 control-label">管轄單位</label>
                                            <div class="col-sm-3">
                                                <select class="form-control" id="">
                                                    <option value="">001 總行</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <select class="form-control" id="">
                                                    <option value="">008 產權部</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <select class="form-control" id="">
                                                    <option value="">001 XX科</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                        <div class="col-sm-9 form-group gutter-s">
                                            <label for="" class="col-sm-2 control-label">資產分類</label>
                                            <div class="col-sm-3">
                                                <select class="form-control" id="">
                                                    <option value="">1 土地</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <select class="form-control" id="">
                                                    <option value="">010202 營業用房屋基地</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <select class="form-control" id="">
                                                    <option value="">B 固定-自用</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label">資產編號</label>
                                            <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                            <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                            <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label">啟用日期</label>
                                            <div class="col-sm-4">
                                                <div class='input-group date' data-provide="datepicker-inline">
                                                    <input type='text' class="form-control" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                            <div class="col-sm-4">
                                                <div class='input-group date' data-provide="datepicker-inline">
                                                    <input type='text' class="form-control" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <div class="col-sm-6">
                                                <label for="" class="col-sm-6 control-label">縣市</label>
                                                <div class="col-sm-6">
                                                    <select class="form-control" id="">
                                                        <option value="">台北市</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <label for="" class="col-sm-6 control-label">鄉鎮市區</label>
                                                <div class="col-sm-6">
                                                    <select class="form-control" id="">
                                                        <option value="">大安區</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label">地段</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label">地號</label>
                                            <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                            <div class="col-sm-1 text-lineH-fix" style="width:10px; padding:0">～</div>
                                            <div class="col-sm-4"><input type="text" class="form-control" value="" /></div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label">地址</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="col-sm-6 form-group">
                                            <label for="" class="col-sm-3 control-label">摘要(關鍵字)</label>
                                            <div class="col-sm-6"><input type="text" class="form-control" value="" /></div>
                                        </div>


                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label for="" class="pull-right">
                                                <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                                <button type="button" class="btn btn-primary"><i class="fa fa-search"> 搜 尋 </i></button>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="ibox-c-subtitle">
                                        <div class=" checkbox-list">
                                            <label><span class="text-success">【步驟二】</span>請勾選搜尋結果&nbsp;&nbsp;</label>
                                            <input type="radio" name="RadioGroup1" value="" checked><span>分頁</span>
                                            <input type="radio" name="RadioGroup1" value=""><span>全部列出</span>
                                            <div style="clear:both"></div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>項次</th>
                                                    <th>資產編號</th>
                                                    <th>摘要</th>
                                                    <th>資產分類</th>
                                                    <th>帳面金額</th>
                                                    <th>啟用日期</th>
                                                    <th><input type="checkbox" style="vertical-align:middle"> 全選</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="lightyellow_bg">
                                                    <td>1</td>
                                                    <td>1010202B-0000036</td>
                                                    <td>臺北市大安區大安段三小段0258-0000</td>
                                                    <td>1.010202.B</td>
                                                    <td>50,000,000</td>
                                                    <td>106-01-01</td>
                                                    <td><input type="checkbox" checked></td>
                                                </tr>
                                                <tr class="lightyellow_bg">
                                                    <td>2</td>
                                                    <td>1010202B-0000036</td>
                                                    <td>臺北市大安區大安段三小段0258-0000</td>
                                                    <td>1.010202.B</td>
                                                    <td>15,000,000</td>
                                                    <td>106-01-01</td>
                                                    <td><input type="checkbox" checked></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>1010202B-0000036</td>
                                                    <td>臺北市大安區大安段三小段0258-0000</td>
                                                    <td>1.010202.B</td>
                                                    <td>50,000,000</td>
                                                    <td>106-01-01</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>1010202B-0000036</td>
                                                    <td>臺北市大安區大安段三小段0258-0000</td>
                                                    <td>1.010202.B</td>
                                                    <td>30,000,000</td>
                                                    <td>106-01-01</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>1010202B-0000036</td>
                                                    <td>臺北市大安區大安段三小段0258-0000</td>
                                                    <td>1.010202.B</td>
                                                    <td>50,000,000</td>
                                                    <td>106-01-01</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td>1010202B-0000036</td>
                                                    <td>臺北市大安區大安段三小段0258-0000</td>
                                                    <td>1.010202.B</td>
                                                    <td>15,000,000</td>

                                                    <td>106-01-01</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>7</td>
                                                    <td>1010202B-0000036</td>
                                                    <td>臺北市大安區大安段三小段0258-0000</td>
                                                    <td>1.010202.B</td>
                                                    <td>50,000,000</td>
                                                    <td>106-01-01</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>8</td>
                                                    <td>1010202B-0000036</td>
                                                    <td>臺北市大安區大安段三小段0258-0000</td>
                                                    <td>1.010202.B</td>
                                                    <td>30,000,000</td>
                                                    <td>106-01-01</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>9</td>
                                                    <td>1010202B-0000036</td>
                                                    <td>臺北市大安區大安段三小段0258-0000</td>
                                                    <td>1.010202.B</td>
                                                    <td>50,000,000</td>
                                                    <td>106-01-01</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                                <tr>
                                                    <td>10</td>
                                                    <td>1010202B-0000036</td>
                                                    <td>臺北市大安區大安段三小段0258-0000</td>
                                                    <td>1.010202.B</td>
                                                    <td>15,000,000</td>
                                                    <td>106-01-01</td>
                                                    <td><input type="checkbox"></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <nav class="text-center">
                                            <ul class="pagination">
                                                <li class="disabled"><a>1</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                                <li> <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                                                <li> <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next"> <span aria-hidden="true">&raquo;&raquo;</span> </a> </li>
                                            </ul>
                                        </nav>
                                    </div>

                                    <div class="ibox-c-subtitle"></div>
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <div class="col-sm-3"><label><span class="text-success">【步驟三】</span></label></div>
                                            <div class="col-sm-9" style="text-align:right">
                                                <a href="#" class="btn btn-gray" data-dismiss="modal"><i class="fa fa-cloase"> 取 消 </i></a>
                                                <a href="#" data-dismiss="modal" class="btn btn-success"><i class="fa fa-check"> 導入勾選資料 </i></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>