﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>檢視-明細</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">土地管理</a>
            </li>
            <li>
                <a href="#">土地重分類</a>
            </li>
            <li>
                <a href="#">檢視-明細</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>資產分類</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">異動前資產分類</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control " value="2.010202.B" disabled />
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control " value="土地-營業用房屋基地-固定-自用" disabled />
                                </div>

                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-9 form-group col-sm-pull-1">
                                <label for="" class="col-sm-3 control-label">異動後資產分類</label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="" disabled>
                                        <option value="">2.010202.A</option>
                                    </select>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control " value="土地-營業用房屋基地-投資-非自用" disabled />
                                </div>

                            </div>
                            <div class="clearfix"></div>


                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <a class="btn btn-gray" href="#" onClick="window.close()" title=""><i class="fa fa-long-arrow-left"> 返 回 </i></a>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>