﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>檢視-單據狀態</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">土地管理</a>
            </li>
            <li>
                <a href="#">土地重分類</a>
            </li>
            <li>
                <a href="#">檢視-單據狀態</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>事務處理單據</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="@Url.Action("UpdateSearchCondition")" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">事務處理類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">土地重分類</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">事務處理編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="1060502B090000001" disabled /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">狀態</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">已核准</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">帳本</label>
                                <div class="col-sm-6 checkbox-list">
                                    <select class="form-control" id="" disabled>
                                        <option value=""> RE_IFRS </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">事務處理日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="">
                                        <input type='text' class="form-control" value="106/05/02" disabled />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">入帳日期</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="" disabled /></div>
                            </div>
                            <div class="clearfix"></div>


                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">管轄單位</label>
                                <div class="col-sm-6 checkbox-list">
                                    <select class="form-control" id="" disabled>
                                        <option value=""> 總行 </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-8 form-group">
                                <label for="" class="col-sm-2 control-label">備註</label>
                                <div class="col-sm-9"><input type="text" class="form-control " value="" /></div>
                            </div>



                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <a class="btn btn-gray" href="9_1.aspx" title=""><i class="fa fa-long-arrow-left"> 返 回 </i></a>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left"></td>
                                <td style="text-align: right"></td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>資產編號</th>
                                    <th>摘要</th>
                                    <th>異動前資產分類</th>
                                    <th>異動後資產分類</th>
                                    <th>檢視</th>
                                    <th>刪除</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>01</td>
                                    <td>2010202-0000299</td>
                                    <td>台北土銀總公司土地</td>
                                    <td>2.010202.B</td>
                                    <td>2.010202.A</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail")" target="_blank" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>02</td>
                                    <td>2010202-0000300</td>
                                    <td>台北土銀總公司土地</td>
                                    <td>2.010202.B</td>
                                    <td>2.010202.A</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail")" target="_blank" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>03</td>
                                    <td>2010202-0000301</td>
                                    <td>台北土銀總公司土地</td>
                                    <td>2.010202.B</td>
                                    <td>2.010202.A</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail")" target="_blank" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>04</td>
                                    <td>2010202-0000302</td>
                                    <td>台北土銀總公司土地</td>
                                    <td>2.010202.B</td>
                                    <td>2.010202.A</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail")" target="_blank" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>05</td>
                                    <td>2010202-0000303</td>
                                    <td>台北土銀總公司土地</td>
                                    <td>2.010202.B</td>
                                    <td>2.010202.A</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("ContentDetail")" target="_blank" title="檢視"><i class="fa fa-list"></i></a></td>
                                    <td><a class="btn btn-danger btn-circle" href="#" title="刪除"><i class="fa fa-trash"></i></a></td>
                                </tr>

                            </tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>