﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2>單據查詢及列表</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">土地管理</a>
            </li>
            <li>
                <a href="#">土地重分類</a>
            </li>
            <li>
                <a href="#">單據查詢及列表</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>查詢條件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">事務處理類型</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="" disabled>
                                        <option value="">土地重分類</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">事務處理編號</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="" /></div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">狀態</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">帳本</label>
                                <div class="col-sm-6 checkbox-list">
                                    <select class="form-control" id="">
                                        <option value="">  </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">事務處理日期</label>
                                <div class="col-sm-6">
                                    <div class='input-group date' data-provide="datepicker-inline">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">入帳日期</label>
                                <div class="col-sm-6"><input type="text" class="form-control " value="" /></div>
                            </div>
                            <div class="clearfix"></div>


                            <div class="col-sm-4 form-group">
                                <label for="" class="col-sm-4 control-label">管轄單位</label>
                                <div class="col-sm-6 checkbox-list">
                                    <select class="form-control" id="">
                                        <option value="">  </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-8 form-group">
                                <label for="" class="col-sm-2 control-label">備註</label>
                                <div class="col-sm-9"><input type="text" class="form-control " value="" /></div>
                            </div>



                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="pull-right">
                                    <button class="btn btn-primary"><i class="fa fa-search"> 查 詢 </i></button>
                                    <button type="reset" class="btn btn-gray"><i class="fa fa-close"> 清 除 </i></button>
                                </label>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table-condensed" style="width:100%">
                            <tr>
                                <td style="text-align: left">
                                    <label>查詢結果</label>
                                </td>
                                <td style="text-align: right">
                                    <a href="@Url.Action("Edit")" class="btn btn-primary"><i class="fa fa-plus"> 新 增 </i></a>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>項次</th>
                                    <th>事務處理編號</th>
                                    <th>事務處理日期</th>
                                    <th>管轄單位</th>
                                    <th>入帳日期</th>
                                    <th>備註</th>
                                    <th>狀態</th>
                                    <th>檢視</th>
                                </tr>
                            <thead>
                            <tbody>
                                <tr>
                                    <td>01</td>
                                    <td>1060102B090000001</td>
                                    <td>106/01/02</td>
                                    <td>總行</td>
                                    <td>106/01/02</td>
                                    <td></td>
                                    <td>已核准</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>06</td>
                                    <td>1060402B090000001</td>
                                    <td>106/04/02</td>
                                    <td>總行</td>
                                    <td>106/04/02</td>
                                    <td></td>
                                    <td>作廢</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>07</td>
                                    <td>1060420B090000001</td>
                                    <td>106/04/20</td>
                                    <td>總行</td>
                                    <td>106/04/20</td>
                                    <td></td>
                                    <td>退回修改</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>08</td>
                                    <td>1060425B090000001</td>
                                    <td>106/04/25</td>
                                    <td>總行</td>
                                    <td>106/04/25</td>
                                    <td></td>
                                    <td>抽回修改</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>09</td>
                                    <td>1060426B090000001</td>
                                    <td>106/04/26</td>
                                    <td>總行</td>
                                    <td>106/04/26</td>
                                    <td></td>
                                    <td>簽核中</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>1060502B090000001</td>
                                    <td>106/05/02</td>
                                    <td>總行</td>
                                    <td>106/05/02</td>
                                    <td></td>
                                    <td>新增</td>
                                    <td><a class="btn btn-primary btn-circle" href="@Url.Action("Detail")" title="檢視"><i class="fa fa-list"></i></a></td>
                                </tr>
                            <tbody>
                        </table>

                        <nav class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a>1</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('2');">2</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('3');">3</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('4');">4</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('5');">5</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('6');">6</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('7');">7</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('8');">8</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('9');">9</a></li>
                                <li><a href="javascript:void(0);" onclick="goPage('10');">10</a></li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('2');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="goPage('56');" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>