﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-10">
        <h2 class="title-return-btn"><a href="#" onclick="history.back()" class="btn btn-gray btn-circle" title="回上一頁"><i class="fa fa-arrow-left"></i></a> 編輯活化進度</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首頁</a>
            </li>
            <li>
                <a href="#">資產活化作業</a>
            </li>
            <li>
                <a href="#">分行活化進度回報</a>
            </li>
            <li>
                <a href="#">新增/編輯活化案件</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>資產明細</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">管轄單位</label>
                                <div class="col-sm-6 text-lineH-fix">001 總行 08 產權部 001 XX科</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label"></label>
                                <div class="col-sm-6" style="text-align:right"><a href="@Url.Action("ContentDetail_2")" target="_blank" class="btn btn-gray"><i class="fa fa-search"> 查看資產詳情 </i></a></div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產分類</label>
                                <div class="col-sm-6 text-lineH-fix">1.010202.B  土地-營業用房屋基地-固定-自用</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">啟用日期</label>
                                <div class="col-sm-6 text-lineH-fix">45-10-17</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">資產編號</label>
                                <div class="col-sm-6 text-lineH-fix">1010202B-0000036</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">原資產編號</label>
                                <div class="col-sm-6 text-lineH-fix">0100000643</div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">摘要</label>
                                <div class="col-sm-6 text-lineH-fix">臺北市大安區大安段三小段0258-0000</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">業務別</label>
                                <div class="col-sm-6 text-lineH-fix">自用</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">使用分區</label>
                                <div class="col-sm-6 text-lineH-fix">商業區</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">使用現況</label>
                                <div class="col-sm-6 text-lineH-fix">
                                    占用
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">取得方式</label>
                                <div class="col-sm-6 text-lineH-fix">承受抵償日產債務</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">&nbsp;</label>
                                <div class="col-sm-6 text-lineH-fix">&nbsp;</div>
                            </div>


                            <div class="col-sm-6 form-group">
                                <label for="" class="col-sm-3 control-label">畸零地否</label>
                                <div class="col-sm-6 text-lineH-fix">否</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">自用面積</label>
                                <div class="col-sm-6 text-lineH-fix">905.00</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">非自用用面積</label>
                                <div class="col-sm-6 text-lineH-fix">0</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">營業用面積</label>
                                <div class="col-sm-6 text-lineH-fix">905.00</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">非營業用面積</label>
                                <div class="col-sm-6 text-lineH-fix">0</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">取得成本</label>
                                <div class="col-sm-6 text-lineH-fix">85,860</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">累計減損</label>
                                <div class="col-sm-6 text-lineH-fix">0</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">公告現值</label>
                                <div class="col-sm-6 text-lineH-fix">236,503</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">公告地價</label>
                                <div class="col-sm-6 text-lineH-fix">60,862</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">帳面金額</label>
                                <div class="col-sm-6 text-lineH-fix">1,266,066</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">帳面金額-重估增值</label>
                                <div class="col-sm-6 text-lineH-fix">12,769,149</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">帳面價值</label>
                                <div class="col-sm-6 text-lineH-fix">1,266,066</div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">營業用帳面金額</label>
                                <div class="col-sm-6 text-lineH-fix">1,266,066</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">非營業用帳面金額</label>
                                <div class="col-sm-6 text-lineH-fix">0</div>
                            </div>

                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">估計應付土地增值稅</label>
                                <div class="col-sm-6 text-lineH-fix">0</div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label for="" class="col-sm-6 control-label">未實現重估增值</label>
                                <div class="col-sm-6 text-lineH-fix">0</div>
                            </div>

                            <div class="clearfix"></div>


                        </div>

                        <div class="ibox-c-subtitle">租約</div>

                        <div class="row">
                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">租約類型</label>
                                <div class="col-sm-9 checkbox-list">
                                    <input type="checkbox"><span>標租</span>
                                    <input type="checkbox"><span>設定地上權</span>
                                    <input type="checkbox"><span>都市更新</span>
                                    <input type="checkbox"><span>合作興建</span>
                                    <input type="checkbox"><span>自地興建</span>
                                    <input type="checkbox"><span>綠美化</span>
                                    <input type="checkbox"><span>其他</span>
                                    <input type="text" class="form-control" style="width:20%; margin-top:-5px" value="" />

                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">執行情形摘要</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="6"></textarea>
                                </div>
                            </div>

                            <div class="col-sm-9 form-group">
                                <label for="" class="col-sm-2 control-label">備註</label>
                                <div class="col-sm-9"><input type="text" class="form-control" value="" /></div>
                            </div>

                        </div>



                        <div class="row">
                            <div class="ibox-content" style="border:none">
                                <div class="ibox-c-subtitle">租約</div>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>活化進度回報時間</th>
                                                <th>活化類型</th>
                                                <th>資產活化進度單編號</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>106-04-15    12:00</td>
                                                <td>標租</td>
                                                <td><a href="@Url.Action("ContentDetail","AssetsActivationSearch")" target="_blank">1060415J300000001</a></td>
                                            </tr>
                                            <tr>
                                                <td>106-03-15    10:00</td>
                                                <td>標租</td>
                                                <td><a href="@Url.Action("ContentDetail","AssetsActivationSearch")" target="_blank">1060315J300000001</a></td>
                                            </tr>
                                            <tr>
                                                <td>106-02-15    10:00</td>
                                                <td>標租</td>
                                                <td><a href="@Url.Action("ContentDetail","AssetsActivationSearch")" target="_blank">1060215J300000001</a></td>
                                            </tr>
                                        </tbody>
                                    </table>


                                </div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>


<div class="row bottom_ctlbar">
    <div class="col-sm-12 form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <a href="#modal-form-savedata" class="btn btn-primary" data-toggle="modal"><i class="fa fa-save"> 儲 存 </i></a>
            <a href="#" onclick="history.back();" class="btn btn-gray"><i class="fa fa-long-arrow-left"> 返 回 </i></a>
        </div>
    </div>
</div>

<div id="modal-form-savedata" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div align="center">
                        <h3 class="m-t-none m-b">已暫存本資料。</h3>
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal"><strong>確 定</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>